:host .kt-portlet__body__inner {
  flex-wrap: wrap;
}

:host .kt-portlet__body__inner .kt-portlet__body-label {
  width: 100%;
}

:host .kt-portlet__body__inner.all-document-table {
  margin-top: 25px;
}

:host .kt-portlet__body__inner.all-document-table .btn-wrapper {
  margin: 0 auto 0;
}

:host .kt-portlet__body__inner.all-document-table .btn-wrapper .btn {
  margin: 0 5px;
}

:host .trademark-row {
  width: 100%;
  margin-bottom: 19px;
}

:host .trademark-row .trademark-image-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  width: 398px;
  height: 278px;
}

:host .trademark-row .trademark-image-wrapper .sound-btn {
  position: absolute;
  left: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view {
  position: absolute;
  right: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view .form-group {
  min-height: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox {
  margin-right: 7px;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox:last-child {
  margin-right: 0;
}

:host .trademark-row .trademark-image-wrapper .trademark-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host .trademark-row .trademark-info-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 14px 18px;
  position: relative;
  flex: 1 1 auto;
  min-height: 278px;
  margin-left: 20px;
  justify-content: flex;
}

:host .trademark-row .trademark-info-wrapper .form-row {
  margin-left: -18px;
  width: auto;
}

:host .trademark-row .trademark-info-wrapper .form-row:after {
  content: '';
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group {
  flex: 0 0 calc(33.33% - 18px);
  margin-left: 18px;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row {
  display: flex;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row .input-wrapper {
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 37px;
  width: 37px;
  min-width: 37px;
  border-color: #EBEDF2;
  border-left: 0;
  font-size: 14px;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control {
  width: 100%;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control.input {
  height: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .col-form-label {
  justify-content: flex-start;
  padding: 3px 0;
  min-height: 0;
  font-size: 14px;
}

:host .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
  margin-top: 27px;
  height: 37px;
  padding-top: 6px;
}

:host .time-control-checklist {
  width: 100%;
}

:host .time-control-checklist .form-group {
  max-width: 1210px;
  padding: 0 30px;
}

:host .time-control-checklist .form-group .kt-checkbox.sm {
  width: 145px;
}

:host .time-control-checklist .form-group .kt-checkbox.med {
  width: 185px;
}

:host .time-control-checklist .form-group .kt-checkbox.lg {
  width: 230px;
}

:host .table.all-document .table-inner {
  border: 1px solid #EFF1F5;
}

:host .table.all-document .table-inner .tr .td {
  min-height: 35px;
  padding: 0 5px;
  border-right: 1px solid #EFF1F5;
}

:host .table.all-document .table-inner .tr .td .btn {
  height: 31px;
  font-size: 12px;
  padding: 0 5px;
}

:host .table.all-document .table-inner .tr .td .btn.btn-icon {
  width: 31px;
}

:host .table.all-document .table-inner .tr .td .form-control {
  height: 31px;
  padding: 0 5px;
}

:host .table.all-document .table-inner .tr .td.select {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
}

:host .table.all-document .table-inner .tr .td.order {
  flex: 0 0 50px;
  max-width: 50px;
}

:host .table.all-document .table-inner .tr .td.document {
  flex: 1 0 85px;
}

:host .table.all-document .table-inner .tr .td.instruction-date {
  flex: 1 0 100px;
}

:host .table.all-document .table-inner .tr .td.first-publish {
  flex: 1 0 125px;
}

:host .table.all-document .table-inner .tr .td.interaction {
  flex: 1 0 200px;
}

:host .table.all-document .table-inner .tr .td.interaction .btn {
  margin-left: 5px;
}

:host .table.all-document .table-inner .tr .td.interaction-date {
  flex: 1 0 100px;
}

:host .table.all-document .table-inner .tr .td.due-date {
  flex: 1 0 100px;
}

:host .table.all-document .table-inner .tr .td.topic {
  flex: 1 0 260px;
}

:host .table.all-document .table-inner .tr .td.status {
  flex: 1 0 145px;
  justify-content: center;
}

:host .table.all-document .table-inner .tr .td.status .btn {
  width: 113px;
  font-size: 14px;
}

:host .table.all-document .table-inner .tr .td.operation {
  flex: 1 0 70px;
  justify-content: space-around;
}

:host .table.all-document .table-inner .tr .td:last-child {
  border-right: 0;
}

:host .table.all-document .table-inner .tr.header {
  border-bottom: 1px solid #EFF1F5;
}

:host .table.all-document .table-inner .tr.header .td {
  justify-content: center;
}

:host .table.all-document .table-inner .table-data > .tr:nth-child(2n-1) .td {
  background-color: white;
}

:host .table.all-document .table-inner .table-data > .tr:nth-child(2n) .td {
  background-color: #FBFCFD;
}
