<div class="div_row">
  <div class="div_column-2">

    <div class="kt-portlet checking-similar-compare-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            คำขอหลัก
          </h3>
        </div>
        <div class="kt-portlet__head-action">
          <!--<button type="button" class="btn btn-brand" (click)="onClickCheckingSimilarCompareBack()">
            กลับ
          </button>-->

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].request_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>

            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>

            <label class="col-form-label" for="request_date">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_date"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].request_date"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="trademark_status_text">สถานะ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="trademark_status_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].trademark_status_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="people_name">ชื่อเจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="people_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_code_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].request_item_sub_type_1_code_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_item_sub_type_1_description">สินค้า/บริการ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].request_item_sub_type_1_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="allow_role_28_request_item_sub_type_1_code">ม.28 จำพวกที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="allow_role_28_request_item_sub_type_1_code"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].allow_role_28_request_item_sub_type_1_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="sound_description">คำบรรยายเสียง</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="sound_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].sound_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>
        <!--<div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="smell_description">คำบรรยายกลิ่น</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="smell_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].smell_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>-->
        <div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="word_mark_text">อ่าน/แปล</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="word_mark_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[0].word_mark_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>
      </div>


      <div class="kt-portlet__footer hide">

      </div>
    </div>
    <app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'">
      <app-tab [title]="'เครื่องหมายคำ'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายคำTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="word_language">ภาษา</td>
                  <td class="word_mark">เครื่องหมายคำ</td>
                  <td class="word_first_code">อักษรแรก</td>
                  <td class="word_sound_last_code">เสียงท้าย</td>
                  <td class="word_sound_last_other_code">เสียงท้ายอีน</td>
                  <td class="word_sound">คำอ่าน</td>
                  <td class="word_syllable_sound_count">จำนวนพยางค์</td>
                  <td class="word_syllable_sound">เสียงแต่ละพยางค์</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification1Word | myfilter | paginate: paginateDocumentClassification1Word; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="word_language">{{row_item.word_language}}</td>
                  <td class="word_mark">{{row_item.word_mark}}</td>
                  <td class="word_first_code">{{row_item.word_first_code}}</td>
                  <td class="word_sound_last_code">{{row_item.word_sound_last_code}}</td>
                  <td class="word_sound_last_other_code">{{row_item.word_sound_last_other_code}}</td>
                  <td class="word_sound">{{row_item.word_sound}}</td>
                  <td class="word_syllable_sound_count">{{row_item.word_syllable_sound_count}}</td>
                  <td class="word_syllable_sound">{{row_item.word_syllable_sound}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification1Word')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification1Word')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification1Word')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification1Word')">
                  <option *ngFor="let perPage of perPageDocumentClassification1Word" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification1Word.itemsPerPage}} of {{paginateDocumentClassification1Word.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <app-tab [title]="'เครื่องหมายรูป'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายรูปTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_image_code">รหัส</td>
                  <td class="document_classification_image_name">คำบรรยายรูป</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification1Image | myfilter | paginate: paginateDocumentClassification1Image; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_image_code">{{row_item.document_classification_image_code}}</td>
                  <td class="document_classification_image_name">{{row_item.document_classification_image_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification1Image')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification1Image')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification1Image')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification1Image')">
                  <option *ngFor="let perPage of perPageDocumentClassification1Image" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification1Image.itemsPerPage}} of {{paginateDocumentClassification1Image.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <app-tab [title]="'เครื่องหมายเสียง'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายเสียงTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_sound_code">รหัส</td>
                  <td class="document_classification_sound_name">คำบรรยายเสียง</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification1Sound | myfilter | paginate: paginateDocumentClassification1Sound; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_sound_code">{{row_item.document_classification_sound_code}}</td>
                  <td class="document_classification_sound_name">{{row_item.document_classification_sound_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification1Sound')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification1Sound')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification1Sound')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification1Sound')">
                  <option *ngFor="let perPage of perPageDocumentClassification1Sound" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification1Sound.itemsPerPage}} of {{paginateDocumentClassification1Sound.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <!--<app-tab [title]="'เครื่องหมายกลิ่น'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายกลิ่นTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_smell_code">รหัส</td>
                  <td class="document_classification_smell_name">คำบรรยายกลิ่น</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification1Smell | myfilter | paginate: paginateDocumentClassification1Smell; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_smell_code">{{row_item.document_classification_smell_code}}</td>
                  <td class="document_classification_smell_name">{{row_item.document_classification_smell_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification1Smell')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification1Smell')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification1Smell')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification1Smell')">
                  <option *ngFor="let perPage of perPageDocumentClassification1Smell" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification1Smell.itemsPerPage}} of {{paginateDocumentClassification1Smell.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>-->

      <app-tab [title]="'รูป / เสียง'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางรูป / เสียงTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <div class="bx-box-picture">
              <img *ngIf="input[0].file_trademark_2d && input[0].file_trademark_2d != ''" src="{{input[0].file_trademark_2d}}" />
              <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                <div *ngIf="input[0].sound_file_physical_path && input[0].sound_file_physical_path != ''" class="">
                  <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                    <i [className]="
                        input[0].player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                       (click)="togglePlayer(0)"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer hide">

          </div>
        </div>

      </app-tab>
    </app-tabs>

  </div>
  <div class="div_column-2">

    <div class="kt-portlet checking-similar-compare-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            คำขอเหมือนคล้าย
          </h3>
        </div>
        <div class="kt-portlet__head-action">
          <button type="button" class="btn btn-brand" (click)="onClickCheckingSimilarCompareBack()">
            กลับ
          </button>

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].request_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>

            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>

            <label class="col-form-label" for="request_date">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_date"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].request_date"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="trademark_status_text">สถานะ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="trademark_status_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].trademark_status_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="people_name">ชื่อเจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="people_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_code_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].request_item_sub_type_1_code_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_item_sub_type_1_description">สินค้า/บริการ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].request_item_sub_type_1_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="allow_role_28_request_item_sub_type_1_code">ม.28 จำพวกที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="allow_role_28_request_item_sub_type_1_code"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].allow_role_28_request_item_sub_type_1_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="sound_description">คำบรรยายเสียง</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="sound_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].sound_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>
        <!--<div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="smell_description">คำบรรยายกลิ่น</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="smell_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].smell_description"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>-->
        <div class="kt-portlet__body__inner checking-similar-compareer">
          <div class="form-group flex">
            <label class="col-form-label" for="word_mark_text">อ่าน/แปล</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="word_mark_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[1].word_mark_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


          </div>
        </div>
      </div>


      <div class="kt-portlet__footer hide">

      </div>
    </div>
    <app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'">
      <app-tab [title]="'เครื่องหมายคำ'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายคำTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="word_language">ภาษา</td>
                  <td class="word_mark">เครื่องหมายคำ</td>
                  <td class="word_first_code">อักษรแรก</td>
                  <td class="word_sound_last_code">เสียงท้าย</td>
                  <td class="word_sound_last_other_code">เสียงท้ายอีน</td>
                  <td class="word_sound">คำอ่าน</td>
                  <td class="word_syllable_sound_count">จำนวนพยางค์</td>
                  <td class="word_syllable_sound">เสียงแต่ละพยางค์</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification2Word | myfilter | paginate: paginateDocumentClassification2Word; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="word_language">{{row_item.word_language}}</td>
                  <td class="word_mark">{{row_item.word_mark}}</td>
                  <td class="word_first_code">{{row_item.word_first_code}}</td>
                  <td class="word_sound_last_code">{{row_item.word_sound_last_code}}</td>
                  <td class="word_sound_last_other_code">{{row_item.word_sound_last_other_code}}</td>
                  <td class="word_sound">{{row_item.word_sound}}</td>
                  <td class="word_syllable_sound_count">{{row_item.word_syllable_sound_count}}</td>
                  <td class="word_syllable_sound">{{row_item.word_syllable_sound}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification2Word')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification2Word')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification2Word')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification2Word')">
                  <option *ngFor="let perPage of perPageDocumentClassification2Word" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification2Word.itemsPerPage}} of {{paginateDocumentClassification2Word.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <app-tab [title]="'เครื่องหมายรูป'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายรูปTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_image_code">รหัส</td>
                  <td class="document_classification_image_name">คำบรรยายรูป</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification2Image | myfilter | paginate: paginateDocumentClassification2Image; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_image_code">{{row_item.document_classification_image_code}}</td>
                  <td class="document_classification_image_name">{{row_item.document_classification_image_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification2Image')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification2Image')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification2Image')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification2Image')">
                  <option *ngFor="let perPage of perPageDocumentClassification2Image" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification2Image.itemsPerPage}} of {{paginateDocumentClassification2Image.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <app-tab [title]="'เครื่องหมายเสียง'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายเสียงTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_sound_code">รหัส</td>
                  <td class="document_classification_sound_name">คำบรรยายเสียง</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification2Sound | myfilter | paginate: paginateDocumentClassification2Sound; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_sound_code">{{row_item.document_classification_sound_code}}</td>
                  <td class="document_classification_sound_name">{{row_item.document_classification_sound_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <!-- pagination -->
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification2Sound')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification2Sound')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification2Sound')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification2Sound')">
                  <option *ngFor="let perPage of perPageDocumentClassification2Sound" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification2Sound.itemsPerPage}} of {{paginateDocumentClassification2Sound.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>
      <!--<app-tab [title]="'เครื่องหมายกลิ่น'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางเครื่องหมายกลิ่นTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">
            <table>
              <thead>
                <tr>
                  <td class="index">#</td>
                  <td class="document_classification_smell_code">รหัส</td>
                  <td class="document_classification_smell_name">คำบรรยายกลิ่น</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row_item of listDocumentClassification2Smell | myfilter | paginate: paginateDocumentClassification2Smell; index as i">
                  <td class="index">{{row_item.index}}</td>
                  <td class="document_classification_smell_code">{{row_item.document_classification_smell_code}}</td>
                  <td class="document_classification_smell_name">{{row_item.document_classification_smell_name}}</td>


                </tr>
              </tbody>
            </table>

          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer ">
            <div class="kt-pagination  kt-pagination--brand">
              <div class="page-nav">
                <div class="has-text-centered">
                  <pagination-controls (pageChange)="onChangePage($event, 'paginateDocumentClassification2Smell')"></pagination-controls>
                </div>

                <div class="goto-page">
                  <div class="form-group flex">
                    <label class="col-form-label">
                      ไปที่หน้า
                    </label>

                    <input #key_page_input class="form-control input" type="number" min="1"
                           max="{{getMaxPage('paginateDocumentClassification2Smell')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                           (ngModelChange)="onChangePage($event, 'paginateDocumentClassification2Smell')" />
                  </div>
                </div>
              </div>

              <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateDocumentClassification2Smell')">
                  <option *ngFor="let perPage of perPageDocumentClassification2Smell" [value]="perPage"> {{perPage}} </option>
                </select>
                <span class="pagination__desc">
                  Displaying {{paginateDocumentClassification2Smell.itemsPerPage}} of {{paginateDocumentClassification2Smell.totalItems}} records
                </span>
              </div>
            </div>
          </div>
        </div>

      </app-tab>-->

      <app-tab [title]="'รูป / เสียง'" style="position: relative; display: block;">
        <div class="kt-portlet checking-similar-compare-job">
          <div class="kt-portlet__head hide">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                ตารางรูป / เสียงTab
              </h3>
            </div>
            <div class="kt-portlet__head-action">

            </div>
          </div>

          <div class="kt-portlet__body">

            <div class="bx-box-picture">
              <img *ngIf="input[1].file_trademark_2d && input[1].file_trademark_2d != ''" src="{{input[1].file_trademark_2d}}" />
              <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                <div *ngIf="input[1].sound_file_physical_path && input[1].sound_file_physical_path != ''" class="">
                  <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                    <i [className]="
                        input[1].player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                       (click)="togglePlayer(1)"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>

          <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
          <div class="kt-portlet__footer hide">

          </div>
        </div>

      </app-tab>
    </app-tabs>

  </div>
</div>
