<div class="kt-portlet public-role02-document-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                     [(ngModel)]="input[key_registration_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_registration_number.id]" class="invalid-feedback">
                  {{validate[key_registration_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_role05_start_date">วันที่ตรวจสอบ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role05_start_date id="public_role05_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role05_start_date" (click)="picker_public_role05_start_date.open()"
                         [(ngModel)]="input[key_public_role05_start_date.id]" (dateChange)="clearValidate(key_public_role05_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role05_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role05_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role05_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role05_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_role05_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role05_end_date id="public_role05_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role05_end_date" (click)="picker_public_role05_end_date.open()"
                         [(ngModel)]="input[key_public_role05_end_date.id]" (dateChange)="clearValidate(key_public_role05_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role05_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role05_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role05_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role05_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_role05_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_public_role02_document_status_code
                      class="form-control"
                      id="public_role02_document_status_code"
                      [(ngModel)]="input[key_public_role02_document_status_code.id]"
                      (change)="binding('input', 'public_role02_document_status_code', $event.target.value)"
                      [value]="input.public_role02_document_status_code">
                <option *ngFor="let item of master.publicRole02DocumentStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role02_document_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_public_role02_document_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="book_index">เล่มที่</label>
            <div class="input-wrapper">
              <input #key_book_index class="form-control input" type="text" id="book_index" placeholder=""
                     [(ngModel)]="input[key_book_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_index.id]" class="invalid-feedback">
                  {{validate[key_book_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role02-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_page_index">หน้าที่</label>
            <div class="input-wrapper">
              <input #key_public_page_index class="form-control input" type="text" id="public_page_index" placeholder=""
                     [(ngModel)]="input[key_public_page_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_page_index.id]" class="invalid-feedback">
                  {{validate[key_public_page_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02DocumentList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role02-document-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole02DocumentSend()">
        <i class="dip-icon-save"></i>
        ออกหนังสือที่เลือก
      </button>
      <label class="col-form-label" for="public_role02_document_date">วันที่ออกหนังสือ</label>
      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_public_role02_document_date id="public_role02_document_date" class="form-control input" matInput
                   [matDatepicker]="picker_public_role02_document_date" (click)="picker_public_role02_document_date.open()"
                   [(ngModel)]="input[key_public_role02_document_date.id]" (dateChange)="clearValidate(key_public_role02_document_date.id)"
                   autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role02_document_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix [for]="picker_public_role02_document_date">
          </mat-datepicker-toggle>
          <mat-datepicker #picker_public_role02_document_date></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_public_role02_document_date.id]" class="invalid-feedback">
            {{validate[key_public_role02_document_date.id]}}
          </div>
        </div>
      </div>
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole02DocumentAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickPublicRole02DocumentDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02Document')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="register_post_round_instruction_rule_name">ตค. ที่</td>
          <td class="public_role05_date">วันที่ได้รับเลขทะเบียน</td>
          <td class="registration_number">เลขทะเบียน</td>
          <td class="name">ชื่อผู้รับ</td>
          <td class="house_number">ที่อยู่</td>
          <td class="register_book_number">เลข พณ.</td>
          <td class="register_book_start_date">วันที่ออกหนังสือ</td>
          <td class="public_role02_document_remark">รายละเอียดเพิ่มเติม</td>
          <td class="register_post_round_document_post_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole02Document">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02Document', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>

          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="register_post_round_instruction_rule_name">{{row_item.register_post_round_instruction_rule_name}}</td>
          <td class="public_role05_date">{{row_item.public_role05_date_text}}</td>
          <td class="registration_number">{{row_item.registration_number}}</td>
          <td class="name">{{row_item.name}}</td>
          <td class="house_number">{{row_item.house_number}}</td>
          <td class="register_book_number">{{row_item.register_book_number}}</td>
          <td class="register_book_start_date">{{row_item.register_book_start_date_text}}</td>
          <td class="public_role02_document_remark">{{row_item.public_role02_document_remark}}</td>
          <td class="register_post_round_document_post_status_name">{{row_item.public_role02_document_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-play"
               *ngIf="row_item.register_book_start_date"
               (click)="onClickPublicRole02DocumentEdit(row_item)"></i>
            <!--<i class="dip-icon-edit" (click)="onClickPublicRole02DocumentEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickPublicRole02DocumentDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole02Document"
                (onClickList)="onClickPublicRole02DocumentList()"></app-paging>
  </div>
</div>


<div class="div_popup is_product_show" *ngIf="popup.is_product_show">
  <div class="div_popup_background" (click)="popup.is_product_show = false">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">

      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="title">
            เลขที่คำขอ ({{popup.row_item.request_number}})
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>


      <div class="div-pdf">



        <div class="column-2">
          <div class="column">


            <iframe id="pdf"
                    style="width:700px;height:100%"
                    [src]="url"></iframe>

          </div>
          <div class="column">












            <div class="kt-portlet public-role02-document-payment-list-job">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    การส่งออกหนังสือรอบที่ 1
                  </h3>
                </div>
                <div class="kt-portlet__head-action">

                </div>
              </div>

              <div class="kt-portlet__body">
                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เจ้าหน้าที่ออกหนังสือ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="auth.getAuth().name"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ออกหนังสือ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_start_1_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เลขที่ พณ.</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_number_1"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เจ้าหน้าที่บันทึก</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="auth.getAuth().name"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ตอบโต้</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_acknowledge_1_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">การตอบโต้</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_post_round_document_post_status_1_name"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ครบ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_end_1_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

              </div>
            </div>




            <div class="kt-portlet public-role02-document-payment-list-job">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    การส่งออกหนังสือรอบที่ 2
                  </h3>
                </div>
                <div class="kt-portlet__head-action">

                </div>
              </div>

              <div class="kt-portlet__body">
                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เจ้าหน้าที่ออกหนังสือ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="auth.getAuth().named"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ออกหนังสือ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_start_2_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เลขที่ พณ.</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.register_book_number_2"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">เจ้าหน้าที่บันทึก</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="auth.getAuth().named"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ตอบโต้</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.book_acknowledge_2_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">การตอบโต้</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.post_round_document_post_status_2_name"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

                <div class="kt-portlet__body__inner">
                  <div class="form-group flex flex-column">
                    <label class="col-form-label"
                           for="request_number">วันที่ครบ</label>
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="popup.row_item.book_end_2_date_text"
                             disabled="disabled"
                             autocomplete="off" />
                    </div>

                  </div>
                </div>

              </div>


              <div class="kt-portlet__footer hide">
                <div class="button-list">
                  <button type="button"
                          class="btn btn-brand"
                          (click)="onClickPublicRole02DocumentPaymentList()">
                    <i class="dip-icon-search"></i>
                    ค้นหา
                  </button>
                  <button type="button"
                          class="btn btn-danger"
                          (click)="onClickReset()">
                    <i class="dip-icon-close"></i>
                    ยกเลิก
                  </button>
                </div>
              </div>
            </div>














          </div>
        </div>



        <!--<iframe id="pdf"
                frameborder="0"
                scrolling="no"
                seamless=""
                allowfullscreen="allowfullscreen"
                style="width:100%;height:700px"
                [src]="sanitizer.bypassSecurityTrustResourceUrl('/pdf/TorKor/' + popup.pr_d_id)"></iframe>-->
      </div>
    </div>


    <div class="kt-portlet__footer">
      <div class="button-list">
        <!--<button type="button"
                class="btn btn-danger"
                (click)="onClickPublicRole05DocumentSendBack()">
          <i class="dip-icon-reset"></i>
          ส่งแก้ไข
        </button>-->
        <!--<button type="button"
                class="btn btn-brand"
                (click)="onClickPublicRole04DocumentSend(rowEdit)">
          <i class="dip-icon-printer"></i>
          พิมพ์หนังสือ
        </button>-->
      </div>
    </div>
  </div>
</div>
