<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-play"></i> พิจรณาเอกสาร
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!-- <div class=""> -->
        <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="ข้อมูลคำขอ" [navigationSymbol]="{ symbol: '1' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-md-4">
                                <label class=" nc-label-header p-t-10  "> คำขอรับความคุ้มครอง</label>
                            </div>
                            <div class="col-md-8 ">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-outline-brand m-t-5 m-r-5 m-b-5">
                                        <i class="dip-icon-layer"></i> พิจรณาเอกสาร
                                    </button>
                                    <button type="button" class="btn btn-white m-t-5 m-b-5">
                                        <i class="dip-icon-layer"></i>
                                        เอกสารแสกน
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group m-b-10">
                            <div class="offset-md-2 col-sm-12 col-md-8">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="">
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Registration : 1233</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Subsequent designations under the Madrid Protocol : 1233 W
                                Henderson Ave</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Date of Notification : 01/05/2020</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Registration Date : October 24,2020</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Name and address of holder : 1544 W Henderson Ave,CA
                                93257</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> State of which the holder is national : USA</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Contracting State or Contracting Organization in the
                                territory of which the holder has a real and effective industrial or commercial
                                establishment : United State of America</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Data relating to priority under the Pasris Convention :
                                China,30.11.2017,27803426;Class 11.</label>
                            <label class=""> Data relating to priority under the Pasris Convention :
                                USA,30.11,2017,27803425;Class 9.</label>
                            <label class=""> Data relating to priority under the Pasris Convention :
                                Japan,30.11.2017,27815244;Class 7.</label>
                        </div>
                        <div class="col-sm-12 border-bottom">
                            <label class=""> Designations under the Madrid Protocol : Thailand</label>
                        </div>
                        <div class=" col-md-12 m-b-5  ">
                            <button type="button" class="btn btn-outline-brand pull-right m-b-5 m-t-5"> <i
                                    class="fa fa-file"></i>
                                นำเข้าข้อมูล
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 border-all ">
                        <div class="border-bottom p-b-5">
                            <div class="input-group m-b-10 ">
                                <div class="col-sm-6">
                                    <label class="nc-label-header p-t-10"> ข้อมูลทั่วไป</label>
                                </div>
                                <div class="col-md-6">
                                    <label class=""> วันที่ยืนตาม ม./ค</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="input-group m-b-10 ">
                                <div class="col-sm-6">
                                    <div class=" p-l-10 p-r-10">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 m-b-5">
                                    <div class="input-group">
                                        <div class="col-sm-6 m-b-5">
                                            <label class=""> เลขที่คำขอ</label>
                                            <input type="text" class="form-control" readonly />
                                        </div>
                                        <div class="col-sm-6 m-b-5">
                                            <label class=""> วันที่ยืนคำขอ</label>
                                            <input type="text" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-b-5">
                                        <label class=""> ชื่่อเจ้าของ</label>
                                        <input type="text" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-12 m-b-5">
                                        <label class=""> สินค้า/บริการ</label>
                                        <textarea rows="2" class="form-control" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom p-b-5">
                            <div class="col-sm-12 m-b-5">
                                <label class="nc-label-header p-t-10"> ข้อมูลคำขอ</label>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> ชื่อเจ้าของ</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> วันที่ยืนคำขอ</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> ชื่อตัวแทน</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> ตำอ่านชื่อตัวแทนภาษาไทย</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> เลขทะเบียนระหว่างประเทศ</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> เลขที่คำขอ</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> จำพวก</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> สิ้นค้าบริการ</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> นายทะเบียน</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> ผู้ตรวจสอบ</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-sm-6 m-b-5">
                                    <label class=""> เจ้าหน้าที่แปล</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 m-b-5 m-t-5">
                            <button type="button" class="btn btn-brand">
                                พิจรณามาตรา 28
                            </button>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-6 m-b-5">
                                <label class=""> Data relateing to priority under the Paris Convention</label>
                                <input type="text" class="form-control" value="China,30.11.2017,27803426;Class 11."
                                    readonly />
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <label class=""> Registration Date</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-6 m-b-5">
                                <label class=""> Data relateing to priority under the Paris Convention</label>
                                <input type="text" class="form-control" value="China,30.11.2017,27803426;Class 11."
                                    readonly />
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-6 m-b-5">
                                <label class=""> Data relateing to priority under the Paris Convention</label>
                                <input type="text" class="form-control" value="China,30.11.2017,27803426;Class 11."
                                    readonly />
                            </div>
                        </div>
                        <div class="col-sm-12 m-b-5 m-t-5">
                            <label class="nc-label-header p-t-10"> ข้อมูลเพิ่มเติม</label>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-3 m-b-5">
                                <label class=""> การบ่งเฉพาะ</label>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <select class="form-control input">
                                    <option>
                                        ไม่บ่งเฉพาะ
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <label class=""> หลักฐานประกอบการพิจรณา ม.27</label>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <select class="form-control input">
                                    <option>
                                        ไม่มี
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class=""> ข้อความ</label>
                            <input type="text" class="form-control" value="" />
                        </div>
                        <div class="col-sm-12 m-b-5 m-t-5">
                            <label class="nc-label-header p-t-10"> ออกคำสั่ง</label>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-2 m-b-5">
                                <label class=""> เลือกมาตรา</label>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <select class="form-control input">
                                    <option>
                                        ไม่มี
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <input type="text" class="form-control" value="abcd" />
                            </div>
                            <div class="col-sm-1 m-b-5">
                                <button type="button" class="btn btn-danger" style="width: 100%;"> <i
                                        class="dip-icon-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 m-b-5 ">
                            <button type="button" class="btn btn-white pull-right m-b-5 m-t-5"> <i
                                    class="fa fa-plus"></i>
                                เพิ่มคำสั่ง
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-t-5 ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-orange btn-align-center">
                            ส่งกลับแก้ไข</button>
                        <button type="button" class="btn btn-white btn-align-center">
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand btn-align-center" awNextStep>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="ตรวจสอบเครื่องหายการค้า" [navigationSymbol]="{ symbol: '2' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-md-4">
                                <label class=" nc-label-header p-t-10  "> คำขอรับความคุ้มครอง</label>
                            </div>
                            <div class="col-md-8 ">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-outline-brand m-t-5 m-r-5 m-b-5">
                                        <i class="dip-icon-layer"></i> พิจรณาเอกสาร
                                    </button>
                                    <button type="button" class="btn btn-white m-t-5 m-b-5">
                                        <i class="dip-icon-layer"></i>
                                        เอกสารแสกน
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group m-b-10">
                            <div class="offset-md-2 col-sm-12 col-md-8">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="">
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Registration : 1233</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Subsequent designations under the Madrid Protocol : 1233 W
                                Henderson Ave</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Date of Notification : 01/05/2020</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Registration Date : October 24,2020</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class=""> Date next payment due : October 24.2022</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class="">Name and address of holder : 1355 W henderson Ave</label>
                        </div>
                        <div class="col-sm-12  border-bottom">
                            <label class="">State of which the holder is national : USA</label>
                        </div>

                        <div class="col-sm-12 border-bottom">
                            <label class=""> Contracting State or Contracting Organization in the territory of which the
                                holder has a real and effective industrail or commercial establishment : USA</label>
                        </div>
                        <div class=" col-md-12 m-b-5  ">
                            <button type="button" class="btn btn-outline-brand pull-right m-b-5 m-t-5"> <i
                                    class="fa fa-file"></i>
                                นำเข้าข้อมูล
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 border-all ">
                        <div class="border-bottom p-b-5">
                            <div class="input-group m-b-10 ">
                                <div class="col-sm-6">
                                    <label class="nc-label-header p-t-10"> ข้อมูลทั่วไป</label>
                                </div>
                                <div class="col-md-6">
                                    <label class=""> วันที่ยืนตาม ม./ค</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="input-group m-b-10 ">
                                <div class="col-sm-6">
                                    <div class=" p-l-10 p-r-10">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 m-b-5">
                                    <div class="input-group">
                                        <div class="col-sm-6 m-b-5">
                                            <label class=""> เลขที่คำขอ</label>
                                            <input type="text" class="form-control" readonly />
                                        </div>
                                        <div class="col-sm-6 m-b-5">
                                            <label class=""> วันที่ยืนคำขอ</label>
                                            <input type="text" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-b-5">
                                        <label class=""> ชื่่อเจ้าของ</label>
                                        <input type="text" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-12 m-b-5">
                                        <label class=""> สินค้า/บริการ</label>
                                        <textarea rows="2" class="form-control" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom p-b-5">
                            <div class="col-sm-12">
                                <label class="nc-label-header p-t-10"> คำสั่งนายทะเบียน</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col"> ลำดับ</th>
                                                <th scope="col">วันที่รับ</th>
                                                <th scope="col">เอกสาร</th>
                                                <th scope="col"> พิจารณา</th>
                                                <th scope="col"> วันที่พิจารณา</th>
                                                <th scope="col"> หมายเหตุ</th>
                                                <th scope="col"> สถานะ</th>
                                                <th scope="col"> คำสั่ง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> 1</td>
                                                <td>10/10/2560</td>
                                                <td>10/10/2560</td>
                                                <td> เอกสาร</td>
                                                <td> วันที่พิจารณา</td>
                                                <td></td>
                                                <td>
                                                    <div class="tag brand">
                                                        รอดำเนินการ
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-icon btn-white">
                                                        <i class="fa fa-file"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                                <select class="form-control kt-font-brand">
                                    <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-2 m-b-5">
                                <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
                                    รายการ</label>
                            </div>
                        </div>
                        <div class="col-sm-12 m-b-5 m-t-5">
                            <label class="nc-label-header p-t-10"> ออกคำสั่ง</label>
                        </div>
                        <div class="input-group">
                            <div class="col-sm-2 m-b-5">
                                <label class=""> เลือกมาตรา</label>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <select class="form-control input">
                                    <option>
                                        ไม่มี
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6 m-b-5">
                                <input type="text" class="form-control" value="abcd" />
                            </div>
                            <div class="col-sm-1 m-b-5">
                                <button type="button" class="btn btn-danger" style="width: 100%;"> <i
                                        class="dip-icon-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 m-b-5 ">
                            <button type="button" class="btn btn-white pull-right m-b-5 m-t-5"> <i
                                    class="fa fa-plus"></i>
                                เพิ่มคำสั่ง
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-t-5 ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-orange btn-align-center">
                            ส่งกลับแก้ไข</button>
                        <button type="button" class="btn btn-white btn-align-center">
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand btn-align-center" awNextStep>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="พิจรณาคำบรรยายเครื่องหมาย" [navigationSymbol]="{ symbol: '3' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-sm-12">
                                <label class="nc-label-header p-t-10"> ข้อมูลทั่วไป</label>
                            </div>
                        </div>
                        <div class="input-group m-b-10  border-bottom" style="padding:5px">
                            <div class="offset-md-2 col-sm-12 col-md-8">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  m-b-10 ">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                เครื่องหมายการค้า
                                <span></span>
                            </label>
                        </div>
                        <div class="input-group m-b-10">
                            <div class="col-md-4">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox">
                                    ประเภทเครื่องหมาย
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control kt-font-brand">
                                    <option> 1234
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="input-group m-b-10  ">
                            <div class="col-md-4">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox">
                                    รูปทรง
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control kt-font-brand">
                                    <option> 1234
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="input-group m-b-10">
                            <div class="col-md-4">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox">
                                    เครื่องหมายเสียง
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <div class="input-wrapper">
                                    <div class="input-wrapper-row with-label">
                                        <input class="form-control input" type="text" />
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i class="dip-icon-file-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>

                        <div class="input-group m-b-10">
                            <div class="col-md-4  m-b-10 ">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox">
                                    เครื่องหมายการค้า
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-sm-12">
                                <label class="nc-label-header p-t-10"> คำบรรยายเครื่องหมาย</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
                            <i class="fa fa-arrow-left"></i>
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                            <i class="dip-icon-arrow-right"></i>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="พิจรณาความเหมือนคล้าย" [navigationSymbol]="{ symbol: '4' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
                            <i class="fa fa-arrow-left"></i>
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                            <i class="dip-icon-arrow-right"></i>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="รายการสินค้าและบริการ" [navigationSymbol]="{ symbol: '5' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-sm-12">
                                <label class="nc-label-header p-t-10"> ข้อมูลทั่วไป</label>
                            </div>
                        </div>
                        <div class="input-group m-b-10  border-bottom">
                            <div class="offset-md-2 col-sm-12 col-md-8">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                            <div class="col-sm-12">
                                <label class="nc-label-header p-t-10"> คำบรรยายเครื่องหมาย</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
                            <i class="fa fa-arrow-left"></i>
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                            <i class="dip-icon-arrow-right"></i>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="ออกคำสั่ง" [navigationSymbol]="{ symbol: '6' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
                            <i class="fa fa-arrow-left"></i>
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                            <i class="dip-icon-arrow-right"></i>
                            ต่อไป</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="ออก Model Form" [navigationSymbol]="{ symbol: '7' }">
                <div class="row form-group m-b-5">
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                    <div class="col-md-6 border-all">
                        <div class="input-group m-b-10 border-bottom">
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" button-list">
                        <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
                            <i class="fa fa-arrow-left"></i>
                            ย้อนกลับ</button>
                        <button type="button" class="btn btn-brand"> <i class="dip-icon-paper-plane"></i>
                            เสร็จสิ้น</button>
                    </div>
                </div>
            </aw-wizard-step>
        </aw-wizard>
    </div>
</div>

<!-- <button type="button" *ngIf="currentStep==1" class="btn btn-white" (click)="onCancle()">
        <i class="dip-icon-close"></i>
        ยกเลิก
    </button>
    <button type="button" *ngIf="currentStep!=1" class="btn btn-white" (click)="onBackStep()">
        <i class="fa fa-arrow-left"></i>
        ย้อนกลับ
    </button>
    <button type="button" *ngIf="currentStep!=3" class="btn btn-brand" (click)="onNextStep()">
        <i class="dip-icon-arrow-right"></i>
        ต่อไป
    </button>
    <button type="button" *ngIf="currentStep==3" class="btn btn-brand" (click)="onNextStep()">
        <i class="dip-icon-paper-plane"></i>
        เสร็จสิ้น
    </button> -->