<div class="kt-portlet public-role01-check-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะงาน
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.publicRole01Case41StatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="public_role01_case41_status_code"
                         type="radio"
                         [checked]="item.code === input.public_role01_case41_status_code"
                         (click)="binding('input', 'public_role01_case41_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <!-- <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="form-column">

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="public_receive_start_date">วันที่รับงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_receive_start_date id="public_receive_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_receive_start_date" (click)="picker_public_receive_start_date.open()"
                         [(ngModel)]="input[key_public_receive_start_date.id]" (dateChange)="clearValidate(key_public_receive_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_receive_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_receive_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_receive_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_receive_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_receive_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_receive_end_date id="public_receive_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_receive_end_date" (click)="picker_public_receive_end_date.open()"
                         [(ngModel)]="input[key_public_receive_end_date.id]" (dateChange)="clearValidate(key_public_receive_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_receive_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_receive_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_receive_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_receive_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_receive_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="public_role01_case41_start_date">วันที่ตรวจสอบ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role01_case41_start_date id="public_role01_case41_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role01_case41_start_date" (click)="picker_public_role01_case41_start_date.open()"
                         [(ngModel)]="input[key_public_role01_case41_start_date.id]" (dateChange)="clearValidate(key_public_role01_case41_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role01_case41_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role01_case41_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role01_case41_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role01_case41_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_role01_case41_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role01_case41_end_date id="public_role01_case41_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role01_case41_end_date" (click)="picker_public_role01_case41_end_date.open()"
                         [(ngModel)]="input[key_public_role01_case41_end_date.id]" (dateChange)="clearValidate(key_public_role01_case41_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role01_case41_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role01_case41_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role01_case41_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role01_case41_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_role01_case41_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole01Case41CheckList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role01-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-brand" (click)="onClickPublicRole01Case41CheckDoAuto()">
        ตรวจสอบที่เลือกอัตโนมัติ
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Case41Check')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="request_date_text">วันที่ยื่นคำขอ</td>
          <td>วันที่ได้รับงาน</td>
          <td>วันที่ตรวจสอบ</td>
          <td>เครื่องหมายร่วม</td>
          <td>เครื่องหมายรับรอง</td>
          <td>เครื่องหมายเสียง</td>
          <td>ประเภท</td>
          <td>รายละเอียดเพิ่มเติม</td>
          <td>สถานะ</td>
          <td>คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole01Case41Check">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Case41Check', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="request_date_text">{{row_item.request_date_text}}</td>
          <td class="public_receive_date_text">{{row_item.public_receive_date_text}}</td>
          <td class="public_role05_case41_date_text">{{row_item.public_role05_case41_date_text}}</td>
          <td class="COLLECTIVE_MARK">
            <i class="dip-icon-check" *ngIf="row_item.request_item_type_code == 'COLLECTIVE_MARK'"></i>
          </td>
          <td class="CERTIFICATION_MARK">
            <i class="dip-icon-check" *ngIf="row_item.request_item_type_code == 'CERTIFICATION_MARK'"></i>
          </td>
          <td class="sound_mark_list">
            <i class="dip-icon-check" *ngIf="row_item.sound_mark_list && row_item.sound_mark_list != ''"></i>
          </td>
          <td class=""></td>
          <td class="public_case41_additional_remark">{{row_item.public_case41_additional_remark}}</td>
          <td class="public_role01_case41_status_name">{{row_item.public_role01_case41_status_name}}</td>
          <td class="id">
            <a href="javascript://">
              <i class="dip-icon-play"
                 (click)="onClickPublicRole01Case41CheckEdit(row_item)"></i>
            </a>
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole01Case41Check"
                (onClickList)="onClickPublicRole01Case41CheckList()"></app-paging>
  </div>

</div>



<div class="div_popup is_item_show" *ngIf="popup.is_item_show">
  <div class="div_popup_background" (click)="popup.is_item_show = false">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet">

      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            รายละเอียดการตรวจสอบพิจารณา
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="cancel_request_number">เลขคำขอที่ยกเลิกประกาศ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="cancel_request_number"
                     [(ngModel)]="popup.rowEdit.cancel_request_number"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

          <div class="form-group flex flex-column">
            <label class="col-form-label" for="cancel_book_index">เล่มที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="cancel_book_index"
                     [(ngModel)]="popup.rowEdit.cancel_book_index"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

          <div class="form-group flex flex-column">
            <label class="col-form-label" for="cancel_page_line_index">หน้าที่ / ลำดับที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="cancel_page_line_index"
                     [(ngModel)]="popup.rowEdit.cancel_page_line_index"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="request_number">คำขอที่ประกาศตามมาตรา 41</label>
            <div class="input-wrapper">
              <input class="form-control input input-full"
                     type="text"
                     id="request_number"
                     [(ngModel)]="popup.rowEdit.request_number"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="pronounce_number">คำวินิจฉัยเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="pronounce_number"
                     [(ngModel)]="popup.rowEdit.pronounce_number"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

          <div class="form-group flex flex-column">
            <label class="col-form-label" for="public_role01_case41_date_text">วันที่เสนอพิจารณา</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="public_role01_case41_date_text"
                     [(ngModel)]="popup.rowEdit.public_role01_case41_date_text"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

        </div>

        <div class="kt-portlet__body__inner">

          <div class="form-group flex flex-column">
            <label class="col-form-label" for="public_case41_remark">คำขอที่ประกาศตามมาตรา 41</label>
            <div class="input-wrapper">
              <textarea class="form-control input input-full"
                        type="text"
                        id="public_case41_remark"
                        [(ngModel)]="popup.rowEdit.public_case41_remark"
                        autocomplete="off"
                        disabled="disabled"></textarea>
            </div>
          </div>

        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="public_case41_additional_remark">รายละเอียดเพิ่มเติม</label>
            <div class="input-wrapper">
              <textarea class="form-control input input-full"
                        type="text"
                        id="public_case41_additional_remark"
                        [(ngModel)]="popup.rowEdit.public_case41_additional_remark"
                        autocomplete="off"></textarea>
            </div>
          </div>
        </div>

      </div>

      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-dark-gray"
                  (click)="onClickPublicRole01Case41CheckSendBack(popup.rowEdit)">
            <i class="dip-icon-file-pdf"></i>
            เอกสาร
          </button>

          <button type="button"
                  class="btn btn-orange"
                  (click)="onClickPublicRole01Case41CheckSendBack(popup.rowEdit)">
            <i class="dip-icon-edit-pen"></i>
            ส่งแก้ไข
          </button>

          <button type="button"
                  class="btn btn-brand"
                  (click)="onClickPublicRole01Case41CheckSend(popup.rowEdit)">
            <i class="dip-icon-forward"></i>
            เสนอพิจารณา
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
