<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title">
        <i class="dip-icon-play"></i>  เอกสาร MM2
      </h5>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>
  <div class="kt-portlet__body">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
      <aw-wizard-step stepTitle="ข้อมูลคำขอ" [navigationSymbol]="{ symbol: '1' }">
        <div class="row" style="width: 100%;">
          <div class="col-md-6">
            <br />
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <h5 class="Subtitle">คำขอรับความคุ้มครอง</h5>
              </div>
              <div class="col-md-6">
                <div style="float:right">
                  <button type="button"
                          class="btn btn-brand">
                    <i class="fa fa-floppy-o"></i>
                    เอกสารแสกน
                  </button>
                </div>

              </div>
            </div>
            <br />
            <div class="input-group m-b-10">
              <div class="offset-md-2 col-sm-12 col-md-8">
                <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db"
                     alt="">
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration : 1233</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">
                Subsequent designations under the Madrid Protocol : 1233 W
                Henderson Ave
              </label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date of Notification : 01/05/2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration Date : October 24,2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date next payment due : October 24.2022</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">Name and address of holder : 1355 W henderson Ave</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">State of which the holder is national : USA</label>
            </div>

            <div class="col-sm-12 border-bottom">
              <label class="">
                Contracting State or Contracting Organization in the territory of which the
                holder has a real and effective industrail or commercial establishment : USA
              </label>
            </div>
          </div>
          <div class="col-md-6 border">
            <div style="padding-left:10px">
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">ข้อมูลทั่วไป</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6 border" style="padding-left: 5;">
                  <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db" alt="Girl in a jacket" width="500"
                       height="200">
                </div>
                <div class="col-md-6 border">
                  <div class="row">
                    <div class="col-md-7">
                      <label class="col-form-label">เลขที่IRN</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                    <div class="col-md-5">
                      <label class="col-form-label">วันที่ยื่นคำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ประเทศต้นทาง</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ที่อยู่เจ้าของ</label>
                      <div>
                        <textarea class="form-control input" style="width: 100%;" type="text" row="2" readonly></textarea>

                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h6 class="Subtitle">ข้อมูลคำขอ</h6>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="col-form-label">ชื่อเจ้าของ</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">คำอ่านชื่อเจ้าของภาษาไทย</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="col-form-label">ชื่อตัวแทน</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">คำอ่านชื่อตัวแทนภาษาไทย</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">Date of subsequent designation </label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-5">
                  <label class="col-form-label">Date of Notification</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">Date next payment due </label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <br>
                  <button class="btn btn-brand">พิจารณามาตรา 28</button>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="col-form-label">Data relating to priority under the Paris Convention</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Registration Date</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="col-form-label">Data relating to priority under the Paris Convention</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="col-form-label">Data relating to priority under the Paris Convention</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12 text-right" style="text-align:right;">
                  <br />
                  <div style="float:right">
                    <button type="button"
                            class="btn btn-brand">
                      <i class="fa fa-floppy-o"></i>
                      บันทึก
                    </button>
                  </div>

                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="kt-portlet__footer ">
            <div class="button-list">

              <button type="button"
                      class="btn btn-white"
                      (click)="onBackStep()">
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ
              </button>
              <button type="button"
                      class="btn btn-brand"
                      awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ถัดไป
              </button>

            </div>
            <div style="float:right" *ngIf="currentStep == 3">
              <button type="button"
                      class="btn btn-brand">
                <i class="fa fa-floppy-o"></i>
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="คำบรรยายเครื่องหมาย" [navigationSymbol]="{ symbol: '2' }">
        <div class="row" style="width: 100%;">
          <div class="col-md-6" style="padding-left:10px">
            <br />
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <h5 class="Subtitle">คำขอรับความคุ้มครอง</h5>
              </div>
              <div class="col-md-6">
                <div style="float:right">
                  <button type="button"
                          class="btn btn-brand">
                    <i class="fa fa-floppy-o"></i>
                    เอกสารแสกน
                  </button>
                </div>

              </div>
            </div>
            <br />
            <div class="input-group m-b-10">
              <div class="offset-md-2 col-sm-12 col-md-8">
                <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db"
                     alt="">
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration : 1233</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">
                Subsequent designations under the Madrid Protocol : 1233 W
                Henderson Ave
              </label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date of Notification : 01/05/2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration Date : October 24,2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date next payment due : October 24.2022</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">Name and address of holder : 1355 W henderson Ave</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">State of which the holder is national : USA</label>
            </div>

            <div class="col-sm-12 border-bottom">
              <label class="">
                Contracting State or Contracting Organization in the territory of which the
                holder has a real and effective industrail or commercial establishment : USA
              </label>
            </div>
          </div>
          <div class="col-md-6 border">
            <div style="padding-left:10px">
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">ข้อมูลทั่วไป</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6 border" style="padding-left: 5;">
                  <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db" alt="Girl in a jacket" width="500"
                       height="200">
                </div>
                <div class="col-md-6 border">
                  <div class="row">
                    <div class="col-md-7">
                      <label class="col-form-label">เลขที่คำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                    <div class="col-md-5">
                      <label class="col-form-label">วันที่ยื่นคำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ประเทศต้นทาง</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ที่อยู่เจ้าของ</label>
                      <div>
                        <textarea class="form-control input" style="width: 100%;" type="text" row="2" readonly></textarea>

                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">คำบรรยายเครื่องหมาย</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" />
                    เครื่องหมายการค้า
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div style="padding-left:30px">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 13px;">
                          <input type="checkbox" />
                          ประเภทเครื่องหมาย
                          <span></span>
                        </label>
                      </div>

                    </div>
                    <div class="col-md-6" style="padding-top: 5px">
                      <select class="form-control" style="width:100%;font-size:15px">
                        <option>
                          เครื่องหมายการค้าและบริการ
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div style="padding-left:30px">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 13px;">
                          <input type="checkbox" />
                          รูปทรง
                          <span></span>
                        </label>
                      </div>

                    </div>
                    <div class="col-md-6" style="padding-top: 5px">
                      <select class="form-control" style="width:100%;font-size:15px">
                        <option>
                          เครื่องหมายการค้าและบริการ
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div style="padding-left:30px">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 13px;">
                          <input type="checkbox" />
                          เครื่องหมายเสียง
                          <span></span>
                        </label>
                      </div>

                    </div>
                    <div class="col-md-6" style="padding-top: 5px">
                      <select class="form-control" style="width:100%;font-size:15px">
                        <option>
                          เครื่องหมายการค้าและบริการ
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-3" style="padding-top: 5px">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" />
                    Colors claimed
                    <span></span>
                  </label>
                </div>
                <div class="col-md-9" style="padding-top: 5px">
                  <input class="form-control input" style="width: 100%;" type="text" />
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" />
                    Disclaimer การสละสิทธิ์
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <textarea class="form-control input" style="width: 100%;" type="text" row="3" readonly></textarea>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <br />
                  <textarea class="form-control input" style="width: 100%;" type="text" row="3"></textarea>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="col-form-label">Description of the mark</label>
                  <div>
                    <textarea class="form-control input" style="width: 100%;" type="text" row="3" readonly></textarea>

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="col-form-label">คำอธิบายเครื่องหมาย</label>
                  <div>
                    <textarea class="form-control" style="width: 100%;" type="text" row="3" readonly></textarea>

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="col-form-label">Transiteration of the mark</label>
                  <div>
                    <input class="form-control" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="col-form-label">คำอ่านแปลเครื่องหมาย</label>
                  <div>
                    <textarea class="form-control" style="width: 100%;height: 133px" type="text" row="5"></textarea>

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12 text-right" style="float:right;">
                  <br />
                  <div style="float:right">
                    <button type="button"
                            class="btn btn-brand">
                      <i class="fa fa-floppy-o"></i>
                      บันทึก
                    </button>
                  </div>


                </div>

              </div>
              <br />
            </div>
          </div>
          <div class="kt-portlet__footer ">
            <div class="button-list">

              <button type="button"
                      class="btn btn-white"
                      awPreviousStep>
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ
              </button>
              <button type="button"
                      class="btn btn-brand"
                      awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ถัดไป
              </button>

            </div>
            <div style="float:right" *ngIf="currentStep == 3">
              <button type="button"
                      class="btn btn-brand">
                <i class="fa fa-floppy-o"></i>
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="รายการสินค้าและบริการ" [navigationSymbol]="{ symbol: '3' }">
        <div class="row" style="width: 100%;">
          <div class="col-md-6" style="padding-left:10px;">
            <br />
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <h5 class="Subtitle">รายละเอียดคำขอรับความคุ้มครอง</h5>
              </div>
              <div class="col-md-6">
                <div style="float:right">
                  <button type="button"
                          class="btn btn-brand">
                    <i class="fa fa-floppy-o"></i>
                    เอกสารแสกน
                  </button>
                </div>

              </div>
            </div>
            <div class="row" style="padding-top: 20px;">
              <div class="col-md-12">
                <label>
                  29 Lorem ipsum dolor sit amet, cu sed dolorem deleniti, epicuri apeirian petentium ad has. At debitis omittam pro,
                  admodumscriptorem eu nam, cu mediocrem inciderint persequeris per. Ius et probo facilis, pri decore intellegebat
                  at, ei sed purto clita. Ut ceteros feugait quo, amet natum disputando per ut.
                </label>
              </div>
            </div>
            <div class="row" style="padding-top: 20px;">
              <div class="col-md-12">
                <h5 class="Subtitle">ข้อมูลจำพวก</h5>
              </div>
            </div>
            <div class="row" style="padding-top: 20px;">
              <div class="col-12">
                <ngb-tabset type="pills" [destroyOnHide]="false">
                  <ngb-tab title="29">
                    <ng-template ngbTabContent>
                      <div class="row">
                        <div class="col-md-6">
                          <label>List of goods and service</label>
                        </div>
                        <div class="col-md-6">
                          <label>List of Limit to</label>
                        </div>
                      </div>
                      <div class="row" style="padding-top:20px">
                        <div class="col-md-6">
                          <table class="table table-bordered" style="width:100%;min-width:1px;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    จำพวกสินค้า : 29 จำนวนสินค้า/บริการ
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-6">
                          <table class="table table-bordered" style="width:100%;min-width:1px;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    จำพวกสินค้า : 29 จำนวนสินค้า/บริการ
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">

                                    <input type="checkbox" />
                                    Lorem ipsum dolor sit amet
                                    <span></span>
                                  </label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="kt-portlet__footer">
                        <div class="row" style="width: 100%;">
                          <div class="col-sm-12 col-md-2 m-b-5 m-t-5">

                          </div>
                          <div class="col-sm-12 col-md-2 m-b-5">

                          </div>
                          <div class="col-md-4">
                          </div>
                          <div class="col-sm-12 col-md-4">
                            <div style="float:right">
                              <button class="btn btn-brand nc-button-float-right">
                                <i class="dip-icon-arrow-right"></i>
                                นำเข้ารายการที่เลือก
                              </button>
                            </div>
                          </div>
                        </div>


                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="30">
                    <ng-template ngbTabContent>
                      <h1>2</h1>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="35">
                    <ng-template ngbTabContent>
                      <h1>2</h1>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="37">
                    <ng-template ngbTabContent>
                      <h1>2</h1>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="42">
                    <ng-template ngbTabContent>
                      <h1>2</h1>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
          <div class="col-md-6 border">
            <div style="padding-left:10px;">
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">ข้อมูลทั่วไป</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6 border" style="padding-left: 5;">
                  <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db" alt="Girl in a jacket" width="500"
                       height="200">
                </div>
                <div class="col-md-6 border">
                  <div class="row">
                    <div class="col-md-7">
                      <label class="col-form-label">เลขที่คำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                    <div class="col-md-5">
                      <label class="col-form-label">วันที่ยื่นคำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ประเทศต้นทาง</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ที่อยู่เจ้าของ</label>
                      <div>
                        <textarea class="form-control input" style="width: 100%;" type="text" row="2" readonly></textarea>

                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">รายการสินค้าและบริการ</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-3">
                  <label>
                    จำนวนจำพวกทั้งหมด 3
                  </label>
                </div>
                <div class="col-md-3">
                  <label>
                    จำนวนจำพวกทั้งหมด 40
                  </label>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-12">
                  <ngb-tabset type="pills" [destroyOnHide]="false">
                    <ngb-tab title="29">
                      <ng-template ngbTabContent>
                        <div class="row">
                          <div class="col-6">
                            <label>จำพวกสินค้า : 29 จำนวนสินค้า/บริการ</label>
                          </div>
                          <div class="col-6">
                            <div class="button-list">

                              <button type="button"
                                      class="btn btn-white">
                                <i class="fa fa-arrow-left"></i>
                                นำเข้าเอกสาร
                              </button>
                              <button type="button"
                                      class="btn btn-white">
                                <i class="dip-icon-arrow-right"></i>
                                นำออกเอกสาร
                              </button>

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="table-responsive">
                              <br />
                              <table class="table table-bordered" style="font-size:10px">
                                <thead>
                                  <tr>
                                    <th scope="col"> ลำดับ</th>
                                    <th scope="col">List of goods and services</th>
                                    <th scope="col">รายการสินค้าและบริการ</th>
                                    <th scope="col"> คำสั่ง</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td> 1</td>
                                    <td>14000000</td>
                                    <td><input class="form-control input" type="text" /></td>
                                    <td>
                                      <button class="btn btn-icon btn-danger">
                                        <i class="dip-icon-close"></i>
                                      </button>
                                      <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-search"></i>
                                      </button>
                                      <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-save"></i>
                                      </button>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td> 1</td>
                                    <td>14000000</td>
                                    <td><input class="form-control input" type="text" style="color:darkcyan" /></td>
                                    <td>
                                      <button class="btn btn-icon btn-danger">
                                        <i class="dip-icon-close"></i>
                                      </button>
                                      <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-search"></i>
                                      </button>
                                      <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-save"></i>
                                      </button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="kt-portlet__footer">
                          <div class="row" style="width: 100%;">
                            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                              <select class="form-control kt-font-brand"
                                      (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                                <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
                              </select>
                            </div>
                            <div class="col-sm-12 col-md-2 m-b-5">
                              <label class="nc-col-form-label  p-t-10" for="present_start_date">
                                แสดง 1 จาก 10
                                รายการ
                              </label>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-sm-12 col-md-4">
                              <div style="float:right">
                                <button class="btn btn-white nc-button-float-right">
                                  <i class="dip-icon-add-new"></i>
                                  เพิ่มรายการใหม่
                                </button>
                              </div>
                            </div>
                          </div>


                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="30">
                      <ng-template ngbTabContent>
                        <h1>2</h1>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="35">
                      <ng-template ngbTabContent>
                        <h1>2</h1>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="37">
                      <ng-template ngbTabContent>
                        <h1>2</h1>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="42">
                      <ng-template ngbTabContent>
                        <h1>2</h1>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>

              <br />
            </div>
          </div>
          <br />
          <div class="kt-portlet__footer ">
            <div class="button-list">

              <button type="button"
                      class="btn btn-white"
                      awPreviousStep>
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ
              </button>
              <button type="button"
                      class="btn btn-brand"
                      awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ถัดไป
              </button>

            </div>
            <div style="float:right" *ngIf="currentStep == 3">
              <button type="button"
                      class="btn btn-brand">
                <i class="fa fa-floppy-o"></i>
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="ส่งงาน" [navigationSymbol]="{ symbol: '4' }">
        <div class="row" style="width: 100%;">
          <div class="col-md-6">
            <br />
            <div class="row" style="width: 100%;">
              <div class="col-md-6">
                <h5 class="Subtitle">คำขอรับความคุ้มครอง</h5>
              </div>
              <div class="col-md-6">
                <div style="float:right">
                  <button type="button"
                          class="btn btn-brand">
                    <i class="fa fa-floppy-o"></i>
                    เอกสารแสกน
                  </button>
                </div>

              </div>
            </div>
            <br />
            <div class="input-group m-b-10">
              <div class="offset-md-2 col-sm-12 col-md-8">
                <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db"
                     alt="">
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration : 1233</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">
                Subsequent designations under the Madrid Protocol : 1233 W
                Henderson Ave
              </label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date of Notification : 01/05/2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Registration Date : October 24,2020</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class=""> Date next payment due : October 24.2022</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">Name and address of holder : 1355 W henderson Ave</label>
            </div>
            <div class="col-sm-12  border-bottom">
              <label class="">State of which the holder is national : USA</label>
            </div>

            <div class="col-sm-12 border-bottom">
              <label class="">
                Contracting State or Contracting Organization in the territory of which the
                holder has a real and effective industrail or commercial establishment : USA
              </label>
            </div>
          </div>
          <div class="col-md-6 border">
            <div style="padding-left:10px">
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">ข้อมูลทั่วไป</h5>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-6 border" style="padding-left: 5;">
                  <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db" alt="Girl in a jacket" width="500"
                       height="200">
                </div>
                <div class="col-md-6 border">
                  <div class="row">
                    <div class="col-md-7">
                      <label class="col-form-label">เลขที่IRN</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                    <div class="col-md-5">
                      <label class="col-form-label">วันที่ยื่นคำขอ</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ประเทศต้นทาง</label>
                      <div>
                        <input class="form-control input" style="width: 100%;" type="text" readonly />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="col-form-label">ที่อยู่เจ้าของ</label>
                      <div>
                        <textarea class="form-control input" style="width: 100%;" type="text" row="2" readonly></textarea>

                      </div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 class="Subtitle">ส่งงาน</h5>
                </div>
              </div>

              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">1 ข้อมูลคำขอ </label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">2 รายการสินค้าและบริการ </label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-5" style="padding-top:40px">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" />
                    รับทราบและอณุญาติให้ส่งงานได้
                    <span></span>
                  </label>
                </div>
                <div class="col-md-2" style="padding-top:40px">
                  <button type="button"
                          class="btn btn-warning"
                          (click)="OnClickEdit()">
                    แก้ไข
                  </button>
                </div>
              </div>

              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">3 คำบรรยายเครื่องหมาย</label>
                  <div>
                    ตรวจสอบเรียบร้อยแล้ว

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <label class="col-form-label">หมายเหตุ</label>
                  <div>
                    <textarea class="form-control" style="width: 100%;height: 133px" type="text" row="5"></textarea>

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;padding-top:20px">
                <div class="col-md-12">
                    <h6 class="Subtitle">ข้อมูลภายในประเทศ</h6>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5">
                  <label class="col-form-label">เลขที่คำขอในไทย </label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
                <div class="col-md-5">
                  <label class="col-form-label">วันที่ยื่นขอ</label>
                  <div>
                    <input class="form-control input" style="width: 100%;" type="text" readonly />

                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div class="col-md-12 text-right" style="text-align:right;">
                  <br />
                  <div style="float:right">
                    <button type="button"
                            class="btn btn-brand">
                      <i class="fa fa-floppy-o"></i>
                      บันทึก
                    </button>
                  </div>

                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="kt-portlet__footer ">
            <div class="button-list">

              <button type="button"
                      class="btn btn-white"
                      awPreviousStep>
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ
              </button>
              <button type="button"
                      class="btn btn-brand"
                      >
                <i class="dip-icon-play"></i>
                ส่งงาน
              </button>

            </div>
            <div style="float:right" *ngIf="currentStep == 3">
              <button type="button"
                      class="btn btn-brand">
                <i class="fa fa-floppy-o"></i>
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </div>

  <!-- Custom Footer Children -->
  <!--<div class="kt-portlet__footer ">
    <div class="button-list">

      <button type="button"
              class="btn btn-white"
              (click)="onBackStep()">
        <i class="fa fa-arrow-left"></i>
        ย้อนกลับ
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onNextStep()">
        <i class="dip-icon-arrow-right"></i>
        ถัดไป
      </button>

    </div>
    <div style="float:right" *ngIf="currentStep == 3">
      <button type="button"
              class="btn btn-brand">
        <i class="fa fa-floppy-o"></i>
        บันทึก
      </button>
    </div>
  </div>-->
  <br />


</div>
