<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head" style="background-color: #0C84C8;">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: medium;color: white;">
        <i class="dip-icon-file-alt"></i> ข้อมูลการชำระเงิน
      </h5>
    </div>
    <div class="kt-portlet__head-action">

    </div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;color:white;">close</mat-icon>
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-4">
        <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;font-family: 'Noto Sans Thai', 'Noto Sans';">
          ไฟล์แนบ
        </h4>
      </div>
      <div class="col">
        <div style="float:right">
          <button class="btn btn-brand">
            <i class="dip-icon-add-new"></i>
            แนบไฟล์
          </button>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 20px;">
      <div class="col-12">
        <ngb-tabset type="pills" [destroyOnHide]="false">
          <ngb-tab title="20/08/2550">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col">
                  <img src="https://i.ytimg.com/vi/QeXXRmPKyHU/hqdefault.jpg" style="width:auto;height:300px" />
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="20/10/2550">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col">
                  <div class="imgcenter" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/QeXXRmPKyHU/hqdefault.jpg" style="width:auto;height:300px" />
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">

        <button type="button"
                class="btn btn-white"
                (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ปิด
        </button>
        <button type="button"
                class="btn btn-brand"
                (click)="closeModal()">
          <i class="dip-icon-check"></i>
          บันทึก
        </button>
      </div>
    </div>
  </div>
</div>
