<div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          <i class="fa fa-search"></i>
          การค้นหา
        </h3>
      </div>
    </div>
    
    <div class="kt-portlet__body">  
        <div class="row">
        <div class="col-4">
            <div class="form-group flex">
                <label class="col-form-label">
                  เลขที่คำขอ
                </label>          
                <div class="input-group">
                    <textarea 
                    type="text" 
                    class="form-control"
                    placeholder="เพิ่มข้อความ"
                    rows="5"
                    style="resize: none;"
                  ></textarea>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group flex mb-3">
                <label class="col-form-label">
                  วันที่ส่งมา
                </label>          
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="เลือก"
                    #key_f_send_date 
                    id="f_send_date" 
                    [matDatepicker]="f_send_picker"
                    (click)="f_send_picker.open()" 
                    (dateChange)="clearValidate(key_f_send_date.id)"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="f_send_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #f_send_picker></mat-datepicker>
                </div>
                <label class="col-form-label" style="min-width: 35px !important;">
                  ถึง
                </label> 
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="เลือก"
                    #key_t_send_date 
                    id="t_send_date" 
                    [matDatepicker]="t_send_picker"
                    (click)="t_send_picker.open()" 
                    (dateChange)="clearValidate(key_t_send_date.id)"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="t_send_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #t_send_picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group flex mb-3">
                <label class="col-form-label">
                  วันที่พิจารณา
                </label>          
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="เลือก"
                    #key_f_decision_date 
                    id="f_decision_date" 
                    [matDatepicker]="f_decision_picker"
                    (click)="f_decision_picker.open()" 
                    (dateChange)="clearValidate(key_f_decision_date.id)"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="f_decision_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #f_decision_picker></mat-datepicker>
                </div>
                <label class="col-form-label" style="min-width: 35px !important;">
                  ถึง
                </label> 
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="เลือก"
                    #key_t_decision_date 
                    id="t_decision_date" 
                    [matDatepicker]="t_decision_picker"
                    (click)="t_decision_picker.open()" 
                    (dateChange)="clearValidate(key_t_decision_date.id)"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="t_decision_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #t_decision_picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group flex">
                <label class="col-form-label" for="payment_date">
                  จำนวนหนังสือ
                </label>          
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="เพิ่มข้อความ"/>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group flex">
                <label class="col-form-label" for="payment_date">
                  สถานะ
                </label>          
        
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand mr-3">
                    <input type="checkbox"/>
                    รอพิมพ์ปกจดหมาย
                    <span></span>
                </label>

                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox"/>
                    เสร็จสิ้น
                    <span></span>
                </label>
        
            </div>
        </div>

        </div>

        <div class="flex justify-content-center mt-5">
            <button type="button" class="btn btn-brand" style="min-width: 100px;">
                <i class="fa fa-search" aria-hidden="true"></i>
                ค้นหา
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              <i class="fa fa-repeat" aria-hidden="true"></i>
              เริ่มใหม่
            </button>
        </div>

    </div>
</div>



<div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <span class="fa fa-table cs-header-icon cs-color-text-blue" aria-hidden="true"></span>
        <h3 class="kt-portlet__head-title">
          ตารางแสดง
        </h3>
      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="table table-striped table-responsive table-bordered" style="border: 1px;">
        <table>
          <thead>
            <tr>
                <th class="cs-theader-c1">
                    <div class="flex justify-content-center">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                        <input type="checkbox" disabled />
                        <span></span>
                      </label>
                    </div>
                </th>
                <th class="cs-theader-c2">ลำดับ</th>
                <th class="cs-theader-c3">เลขที่คำขอ</th>
                <th class="cs-theader-c4">วันที่ส่งมา</th>
                <th class="cs-theader-c5">เจ้าหน้าที่ตรวจสอบ</th>
                <th class="cs-theader-c6">ชื่อผู้รับ - ที่อยู่</th>
                <th class="cs-theader-c7">วันที่พิมพ์</th>
                <th class="cs-theader-c8">เลข 13 หลัก</th>
                <th class="cs-theader-c9">รายละเอียด</th>
                <th class="cs-theader-c10">สถานะ</th>
                <th class="cs-theader-c11">คำสั่ง</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let item of dummyList | paginate: paginateItem; index as i;">
                <td class="cs-tbody-v-align-mid">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                      <input type="checkbox" />
                      <span></span>
                    </label>
                </td>
              <td class="cs-tbody-v-align-mid">
                {{i+1}}
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="cs-label-status-process">
                  {{item.request_number}}
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.send_date}}
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.inspector}}
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="flex justify-content-between">
                  <label class="cs-receive-name">
                    {{item.receiver}}
                  </label>            
                <button type="button" class="btn cs-btn-icon-outline-blue ml-3" style="height: 30px !important; width: 30px !important;">
                  <span class="fa fa-map-marker" aria-hidden="true"></span>
                </button>
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.print_date}}
              </td>
              <td class="cs-tbody-v-align-mid">
               <div class="cs-label-status-done">
               </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.detail}}
              </td>
              <td class="cs-tbody-v-align-mid">
                 <div [ngClass]="[item.status == 'รอพิมพ์ปกจดหมาย' ? 'cs-label-status-process' : 'cs-label-status-done']">
                    {{item.status}}
                  </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="flex justify-content-center">
                  <button type="button" class="btn cs-btn-icon-white" >
                    <span class="fa fa-file-pdf-o" aria-hidden="true"></span> 
                  </button>
                </div >
              </td>
            </tr>
          </tbody>   
        </table>
      </div> 
    </div> 

    <div class="kt-portlet__footer ">
      <div class="kt-pagination  kt-pagination--brand">
        <div class="kt-pagination__toolbar">
          <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
            <option *ngFor="let perPage of perPage" [value]="perPage">
              {{ perPage }}
            </option>
          </select>
          <span class="pagination__desc">
            Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
          </span>
        </div>
      </div>
      <div class="flex">
        <button type="button" class="btn btn-brand">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          พิมพ์หนังสือที่เลือก
        </button>
      </div>
    </div>
</div>