//out: false

:host {
  .kt-portlet__body__inner {
    flex-wrap: wrap;

    .kt-portlet__body-label {
      width: 100%;
    }

    &.all-document-table {
      margin-top: 25px;

      .btn-wrapper {
        margin: 0 auto;

        .btn {
          margin: 0 5px;
        }
      }
    }
  }

  .trademark-row {
    width: 100%;
    margin-bottom: 19px;

    .trademark-image-wrapper {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 35px;
      position: relative;
      width: 398px;
      height: 278px;

      .sound-btn {
        position: absolute;
        left: 9px;
        top: 9px;
      }

      .select-view {
        position: absolute;
        right: 9px;
        top: 9px;

        .form-group {
          min-height: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .kt-checkbox {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .trademark-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .trademark-info-wrapper {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 14px 18px;
      position: relative;
      flex: 1 1 auto;
      min-height: 278px;
      margin-left: 20px;
      justify-content: flex;

      .form-row {
        margin-left: -18px;
        width: auto;

        &:after {
          content: '';
          display: flex;
          flex: 1 1 auto;
        }
      }

      .form-group {
        flex: 0 0 calc(33.33% - 18px);
        margin-left: 18px;

        .input-wrapper-row {
          display: flex;

          .input-wrapper {
            display: flex;
            flex: 1 1 auto;
          }
        }

        .input-wrapper {
          margin-bottom: 0;

          &.with-button {
            .form-control {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }

            .btn {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              height: 37px;
              width: 37px;
              min-width: 37px;
              border-color: #EBEDF2;
              border-left: 0;
              font-size: 14px;
            }
          }
        }

        .form-control {
          width: 100%;

          &.input {
            height: 37px;
          }
        }

        .col-form-label {
          justify-content: flex-start;
          padding: 3px 0;
          min-height: 0;
          font-size: 14px;
        }

        .btn {
          &.q-and-a-page {
            margin-top: 27px;
            height: 37px;
            padding-top: 6px;
          }
        }
      }
    }
  }

  .memorandum-for-registrar {
    display: block;

    .form {
      margin-left: -37px;
      width: auto;
      // max-width: 1316px;
      // margin: 0 auto;

      .form-group {
        margin-left: 37px;
        flex: none;

        .label-row {
          align-items: center;
        }

        .col-form-label {
          justify-content: flex-start;
          min-width: 0;
          min-height: 0;
          padding: 3px 10px 2px 0;
        }

        .form-control {
          width: 100%;

          &.textarea {
            height: 100px;
            min-height: 100px;
            max-height: 100px;
          }
        }

        .mat-form-field {
          width: 100%;
        }

        .input-wrapper {
          width: 100%;
        }

        &.request-number {
          width: 30%;
        }

        &.job {
          width: 65%;
        }

        &.topic {
          width: 30%;
        }

        &.proposed-date {
          width: 30%;
        }

        &.registrar {
          width: 30%;
        }

        &.proposed-detail {
          width: 47%;
        }

        &.tor-kor-first {
          width: 47%;
          margin-left: 16px;
        }

        &.note {
          width: calc(95% + 39px);
        }
      }
    }

    .btn-wrapper {
      justify-content: center;
      position: relative;

      .left-group {
        position: absolute;
        top: 0;
        left: 0;
      }

      .mid-group {
        .btn {
          margin: 0 5px;
        }
      }
    }
  }
}
