<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i>  การค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">
              ทะเบียนระหว่างประเทศ <br> IRN
            </label>
            <div class="input-wrapper">
              <input #key_irn_number class="form-control input" type="text" id="irn_number" placeholder="ทะเบียนเลขที่"
                     [(ngModel)]="input[key_irn_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="week">
              สัปดาห์ที่ 
            </label>
            <div class="input-wrapper">
              <input #key_week class="form-control input" type="number" id="week" placeholder="สัปดาห์ที่"
                     [(ngModel)]="input[key_week.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_week.id]" class="invalid-feedback">
                  {{validate[key_week.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="recive_date">ช่วงเวลาที่ได้รับ ตั้งแต่</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_recive_date id="recive_date" class="form-control input" matInput
                         [matDatepicker]="picker_recive_date" (click)="picker_recive_date.open()"
                         [(ngModel)]="input[key_recive_date.id]" (dateChange)="clearValidate(key_recive_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_recive_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_recive_date.id]" class="invalid-feedback">
                  {{validate[key_recive_date.id]}}
                </div>
              </div>
            </div>

            <span class="mt-2">ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_instruction_send_end_date id="instruction_send_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_instruction_send_end_date" (click)="picker_instruction_send_end_date.open()"
                         [(ngModel)]="input[key_instruction_send_end_date.id]" (dateChange)="clearValidate(key_instruction_send_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_instruction_send_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_instruction_send_end_date.id]" class="invalid-feedback">
                  {{validate[key_instruction_send_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="job_reciver">
              ปี 
            </label>
            <div class="input-wrapper">
              <input #key_year class="form-control input" type="number" id="year" placeholder="ปีที่"
                     [(ngModel)]="input[key_year.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_year.id]" class="invalid-feedback">
                  {{validate[key_year.id]}}
                </div>
              </div>
            </div>
            <span class="mt-2">ผู้รับงาน </span>
            <div class="input-wrapper">
              <select #key_job_reciver
                      class="form-control"
                      id="job_reciver"
                      [(ngModel)]="input[key_job_reciver.id]"
                      (change)="binding('input', 'job_reciver', $event.target.value)"
                      [value]="input.job_reciver">
                <option *ngFor="let item of master.job_reciver"
                        [value]="item.id">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_job_reciver.id]"
                     class="invalid-feedback">
                  {{validate[key_job_reciver.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
           
            </label>
            <div class="input-wrapper">
              <div class="input-wrapper-row ">
                <input class="form-control input" placeholder="ปีที่" style="visibility: hidden;" /> <!--ใช้เพื่อจัด layout ไม่ถูกนำไปใช้งาน -->
              </div>
            </div>

            <span class="mt-2">สถานะ</span>

            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  รอดำเนินการ
                  <span></span>
                </label>
  
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  แปลไม่เสร็จ
                  <span></span>
                </label>
  
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  เสร็จสิ้น
                  <span></span>
                </label>
              </div>
  
              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer ">
  <div class="button-list">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickPublicRole01ItemList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
    <button type="button"
            class="btn btn-white"
            (click)="onClickReset()">
      <i class="dip-icon-reset"></i>
      เริ่มใหม่
    </button>
  </div>
</div>


</div>
<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i> ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="public_week">สัปดาห์ที่</td>
          <td class="public_request_number">เลขที่คำขอ</td>
          <td class="public_irn_number">ทะเบียนระหว่างประเทศ</td>
          <td class="public_register_date">รูปเครื่องหมาย</td>
          <td class="public_wipi_noti">วันที่ออก MF3A</td>
          <td class="public_expite_date">วันที่ยื่นคำร้อง</td>
          <td class="public_request_type">ประเภทคำร้อง</td>
          <td class="public_translator">วันสิ้นสุดการยืนยัน</td>
          <td class="public_remark">หมายเหตุ</td>
          <td class="public_status_name">สถานะ</td>
          <td class="public_order">คำสั่ง</td>
          <!--<td class="id">คำสั่ง</td>-->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicItem">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="public_type_name">{{row_item.public_type_name}}</td>
          <td class="public_source_name">{{row_item.public_source_name}}</td>
          <td class="instruction_send_date_text">{{row_item.instruction_send_date_text}}</td>
          <td class="public_receive_date_text">{{row_item.public_receive_date_text}}</td>
          <td class="public_type">{{row_item.public_type}}</td>
          <td class="public_remark">{{row_item.public_remark}}</td>
          <td class="public_status_name">{{row_item.public_status_name}}</td>
          <td class="public_receiver_name">{{row_item.public_receiver_name}}</td>
          <td class="public_remark">{{row_item.public_remark}}</td>
          <td class="public_status_name">{{row_item.public_status_name}}</td>
          <!--<td class="id">
            <a href="javascript://">
              <i class="dip-icon-play"
                 (click)="onClickPublicItemId(row_item.id)"></i>
            </a>
          </td>-->


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicItem"
                (onClickList)="onClickPublicRole01ItemList()"></app-paging>
  </div>

</div>
