:host {
  .full-view {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
  }

  .div_draggable {
    background: #fff;

    .div-img {
      height: calc(100% - 50px);
    }


    .div-title {
      width: 100%;
    }

    .div-expand {
      position: absolute;
      bottom: 8px;
      right: 8px;
      transform: rotate(90deg);
      cursor: pointer;
    }
  }

  .kt-portlet {
    font-size: 16px;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
      justify-content: flex-start;
    }

    .checkbox-title-wrapper {
      font-size: 20px;
      font-weight: 500;
      color: #0C84C8;
    }

    .input-wrapper {
      margin: 0 10px;
      display: flex;

      .kt-checkbox {
        margin-right: 50px;
      }
    }
  }

  app-tabs.ng-star-inserted[modal_tab] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;

    .kt-portlet--background {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }

    .kt-portlet {
      width: 1330px;
      display: block;
      margin: 0 auto;
    }
  }

  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    z-index: 1;

    tr {
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }

      td {
        padding: 0 12px;
      }
    }
  }

  .table-inner {
    input.form-control, select.form-control {
      width: 100%;
    }

    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }

  .btn-create-new {
    & + .btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control, select.form-control {
    width: 375px;
  }

  .tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #F4F5F8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__head-action {
    & > * + button {
      margin-left: 15px;
    }

    & > * + input {
      margin-left: 15px;
    }

    & > * + label {
      margin-left: 15px;
    }
  }

  .kt-portlet__head-subtitle {
    color: #0C84C8;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 26px;

    .kt-portlet__head-subtitle-gray {
      color: #6D6E71;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .mat-input-element {
    border: 1px solid rgb(226, 229, 236);
  }

  .kt-portlet__body__inner {
    .form-group {
      & > * + button {
        margin-left: 15px;
      }

      & > * + span {
        margin-left: 15px;
      }

      & > * + label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + button {
          margin-left: 0;
        }
      }

      & > button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .td {
      input {
        width: 100%;
      }

      &.edit_delete {
        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .edit_delete {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;
    }

    &.table_1 {
      .save010_image {
        flex: 0 0 550px;
        max-width: 550px;
        justify-content: center;
        text-align: center;
      }

      .checking_image_row_01,
      .checking_image_row_02,
      .checking_image_row_03,
      .checking_image_row_05,
      .checking_image_row_06,
      .checking_image_row_07,
      .checking_image_row_09,
      .checking_image_row_10,
      .checking_image_row_11 {
        margin-right: 15px;
      }

      .checking_image_row_04,
      .checking_image_row_08,
      .checking_image_row_12 {
        margin-right: 0;
      }
    }
  }

  .kt-portlet__footer-button-wrapper {
    display: flex;

    .kt-portlet__footer-button {
      margin-right: 10px;
    }
  }

  .main-request-wrapper {
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 550px;
    border: 1px dashed #0C84C8;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 35px;

    .main-request-header {
      color: #0C84C8;
      font-weight: 500;
      font-size: 20px;
      margin-top: 20px;
      width: 100%;
      max-width: 500px;
      text-align: center;
    }

    .main-request-image-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 500px;

      .main-request-image {
        width: 90%;
      }
    }

    .main-request-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      max-width: 500px;
      width: 100%;

      .main-request-blue-text {
        margin-left: 30px;
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
        color: #0C84C8;
      }

      .main-request-number {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 65px;
        height: 30px;
        background-color: #F4F5F8;
        color: #6D6E71;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
      }
    }
  }

  .checking_image_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    max-height: 800px;
    overflow: auto;
    /*justify-content: space-between;*/
    .checking_image_row {
      display: flex;
      margin-bottom: 20px;

      .checking_image {
        border-radius: 10px;
        border: 1px solid #BCBDC0;
        height: 170px;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 250px;
        // flex: 0 0 180px;
        // max-width: 180px;
        // justify-content: flex-start;
        // text-align: center;
        .checking_image_left {
          width: 30px;
          height: 100%;
          background-color: #E5F2F9;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #6D6E71;
          font-size: 16px;
        }

        .checking_image_right {
          width: 100%;
          height: 100%;
          /*height: 170px;*/
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;

          .checking_image_right_top {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            z-index: 10;
          }

          .checking_image_3d_button {
            border-radius: 24px;
            background-color: #E5F5F6;
            color: #069BA9;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-left: 8px;
            width: 40px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .checking_image_checkbox_wrapper {
            display: flex;
            justify-content: flex-end;
            margin-right: 8px;

            .checking_image_checkbox {
              width: 14px;
              height: 14px;
            }
          }

          .checking_image_img_wrapper {
            display: flex;
            justify-content: center;

            .checking_image_img {
              height: 100%;
              max-height: 100px;
            }
          }

          .checking_image_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            z-index: 10;

            .checking_image_text {
              color: #0C84C8;
              font-size: 14px;
              font-weight: bold;
              text-decoration: underline;
              margin-left: 8px;
            }

            .checking_image_expand_wrapper {
              display: flex;
              align-items: center;

              .checking_image_number {
                margin-right: 6px;
                width: 75px;
                height: 21px;
                background-color: #F4F5F8;
                color: #6D6E71;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                span {
                  margin-right: 10px;
                }
              }

              i.dip-icon-info-circle {
                margin-right: 10px;
              }

              .checking_image_expand {
                width: 21px;
                height: 21px;
                background-color: #0C84C8;
                border-radius: 3px;
                margin-right: 8px;

                .btn-expand {
                  padding: 0;
                  width: 21px;
                  height: 21px;

                  i {
                    padding: 0;

                    &:before {
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .checking-similar-imageer {
    align-items: center;
  }
}
