<div class="container-inner flex">
  <div class="step-panel">
    <!-- STEP ITEM -->
    <ng-container *ngFor="let menu of menuList">
      <div
        *ngIf="menu.isShow"
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: menu.canEdit,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number || menu.canEdit
        }"
      >
        <div
          class="item-name"
          [ngClass]="{ editable: menu.canEdit }"
          (click)="onClickMenu(menu)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            <div
              *ngIf="sub.isShow"
              class="step-sub-item"
              [ngClass]="{
                editable: menu.canEdit,
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
              (click)="onClickSubMenu(menu, sub)"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic get-file" *ngIf="this.currentID == 1">
      <div class="step-basic-inner">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title inline">
                {{ currentStep }}. บันทึกเพื่อรับไฟล์
              </h3>
            </div>
          </div>

          <div class="kt-portlet__body">
            <div class="kt-portlet__body__inner justify-content-center">
              <div class="form-group">
                <label class="col-form-label">
                  Email สำหรับรับไฟล์
                </label>

                <div class="input-wrapper">
                  <input
                    class="form-control input"
                    placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                    [(ngModel)]="input.email"
                    [ngClass]="validate.email ? 'is-invalid' : null"
                    (input)="clearValidate('email')"
                  />

                  <div class="feedback-wrapper">
                    <div *ngIf="validate.email" class="invalid-feedback">
                      {{ validate.email }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">
                  เบอร์โทรศัพท์
                </label>

                <div class="input-wrapper">
                  <input
                    class="form-control input"
                    placeholder="กรุณากรอกเบอร์โทรศัพท์"
                    [(ngModel)]="input.telephone"
                    [ngClass]="validate.telephone ? 'is-invalid' : null"
                    (input)="clearValidate('telephone')"
                    maxlength="10"
                  />

                  <div class="feedback-wrapper">
                    <div *ngIf="validate.telephone" class="invalid-feedback">
                      {{ validate.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="kt-portlet__footer">
            <div class="kt-portlet__footer__inner justify-content-center">
              <button
                class="btn btn-eform-secondary btn-icon-right"
                (click)="onClickNext()"
              >
                ถัดไป
                <i class="dip-icon-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="eform-note">
          ระบบจะส่งใบคำขอ ก.02 และ Link สำหรับแก้ไขใบคำขอไปที่ Email
          สำหรับรับไฟล์ หลังทำการบันทึกข้อมูล
        </div>
      </div>
    </div>
    <!-- End Step 1 Form -->

    <!-- Start Step 2 Form -->
    <div class="flex step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. คำคัดค้านการขอจดทะเบียนเครื่องหมายการค้า
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner">
            <div class="form-group protestation-id">
              <label class="col-form-label">
                คำคัดค้านการขอจดทะเบียนคำขอเลขที่ *
              </label>

              <div class="input-wrapper">
                <div class="input-wrapper-row">
                  <input
                    [disabled]="!input.isAllowEditRequestNumber"
                    class="form-control input"
                    type="text"
                    placeholder="กรุณากรอก คำคัดค้านการขอจดทะเบียนคำขอเลขที่"
                    [(ngModel)]="input.request_number"
                    [ngClass]="validate.request_number ? 'is-invalid' : null"
                    (input)="clearValidate('request_number')"
                    (keyup)="onKey($event, 'request_number')"
                  />

                  <button
                    [disabled]="!input.isAllowEditRequestNumber"
                    type="button"
                    class="btn btn-brand"
                    (click)="searchRequestNumber()"
                  >
                    ค้นหา
                  </button>
                </div>

                <div class="feedback-wrapper">
                  <div *ngIf="validate.request_number" class="invalid-feedback">
                    {{ validate.request_number }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group protestation-id">
              <label class="col-form-label">
                วันที่ครบกำหนดประกาศ/สิทธิคัดค้าน
              </label>

              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input
                      disabled
                      class="form-control input"
                      placeholder=""
                      matInput
                      [matDatepicker]="end_date"
                      (click)="end_date.open()"
                      [(ngModel)]="input.end_date"
                    />
                    <label
                      class="kt-input-icon__icon kt-input-icon__icon--right"
                      for="end_date"
                    >
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 2 Form -->

    <!-- Start Step 3 Form -->
    <div class="owner-and-agent" *ngIf="currentID == 3">
      <div class="inner-wrapper">
        <div class="header-note">
          * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOwnerMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              ผู้คัดค้าน
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOwnerMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOwnerMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOwnerMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalAgentFormOpen', undefined, 'listAgentMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption">
              เพิ่มตัวแทน <br />
              ผู้คัดค้าน <span class="note">(ถ้ามี)</span>
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listAgentMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalAgentFormOpen', i, 'listAgentMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listAgentMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group flex" *ngIf="input.listAgentMark.length > 0">
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน*
          </label>

          <div class="input-wrapper">
            <select
              required
              class="form-control"
              [(ngModel)]="input.save020_representative_condition_type_code"
              (input)="
                clearValidate('save020_representative_condition_type_code')
              "
            >
              <option
                *ngFor="
                  let item of master.addressRepresentativeConditionTypeCodeList
                "
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>

        <div class="form-group step-three-next">
          <div class="input-wrapper">
            <div class="feedback-wrapper">
              <div *ngIf="validate.step3" class="invalid-feedback">
                {{ validate.step3 }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="onClickNext()"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 3 Form -->

    <!-- Start Step 4 Form -->
    <div class="flex domestic-contact-address" *ngIf="this.currentID == 4">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. สถานที่ติดต่อภายในประเทศไทย
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-domestic-contact-address">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <ng-container *ngFor="let item of master.addressTypeCodeList">
                    <div
                      class="flex"
                      *ngIf="
                        item.code == 'OWNER' ||
                        item.code == 'OTHERS' ||
                        (item.code == 'REPRESENTATIVE' &&
                          input.listAgentMarkRepresentative1.length > 0) ||
                        (item.code == 'REPRESENTATIVE_PERIOD' &&
                          input.listAgentMarkRepresentative2.length > 0)
                      "
                    >
                      <!-- radio -->
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        <input
                          name="save020_contact_type_code"
                          type="radio"
                          (click)="
                            binding(
                              'input',
                              'save020_contact_type_code',
                              item.code
                            )
                          "
                          [checked]="
                            item.code === input.save020_contact_type_code
                          "
                          (input)="clearValidate('save020_contact_type_code')"
                        />
                        {{ item.name }}
                        <span></span>
                      </label>

                      <!-- select listOwnerMark -->
                      <ng-container
                        *ngIf="
                          item.code == 'OWNER' &&
                          input.save020_contact_type_code === item.code &&
                          input.listOwnerMark.length > 1
                        "
                      >
                        <!--// [disabled]="!(input.save020_contact_type_code === item.code)" -->
                        <select
                          *ngIf="item.code != 'OTHERS'"
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="let item of input.listOwnerMark; index as i"
                            [value]="i"
                            >ใช้ที่อยู่ของเจ้าของลำดับที่ {{ i + 1 }}</option
                          >
                        </select>
                      </ng-container>

                      <!-- select listAgentMark (ตัวแทน) -->
                      <ng-container
                        *ngIf="
                          item.code == 'REPRESENTATIVE' &&
                          input.save020_contact_type_code === item.code &&
                          input.listAgentMarkRepresentative1.length > 1
                        "
                      >
                        <select
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="
                              let item of input.listAgentMarkRepresentative1;
                              index as i
                            "
                            [value]="i"
                          >
                            ใช้ที่อยู่ของตัวแทนลำดับที่ {{ item + 1 }}
                          </option>
                        </select>
                      </ng-container>

                      <!-- select listAgentMark (ตัวแทนช่วง) -->
                      <ng-container
                        *ngIf="
                          item.code == 'REPRESENTATIVE_PERIOD' &&
                          input.save020_contact_type_code === item.code &&
                          input.listAgentMarkRepresentative2.length > 1
                        "
                      >
                        <select
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="
                              let item of input.listAgentMarkRepresentative2;
                              index as i
                            "
                            [value]="i"
                          >
                            ใช้ที่อยู่ของตัวแทนลำดับที่ {{ item + 1 }}
                          </option>
                        </select>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate.save020_contact_type_code"
                    class="invalid-feedback"
                  >
                    {{ validate.save020_contact_type_code }}
                  </div>
                </div>
              </div>
            </div>

            <div
              class="other-contact-address-form flex flex-wrap"
              *ngIf="input.save020_contact_type_code === 'OTHERS'"
            >
              <div class="form-row">
                <div class="form-group">
                  <label class="col-form-label" for="step4PersonalType">
                    ประเภทบุคคล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <select
                      class="form-control"
                      [(ngModel)]="input.address.receiver_type_code"
                      (input)="clearValidate('receiver_type_code')"
                    >
                      <option
                        *ngFor="let item of master.addressReceiverTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.receiver_type_code"
                        class="invalid-feedback"
                      >
                        {{ validate.receiver_type_code }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="step4PersonalType">
                    ตัวแทนเฉพาะการ<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <div class="form-row">
                      <div class="form-group">
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="specialized01_agent"
                            type="radio"
                            (click)="
                              bindingInTable(input.address, 'is_specific', true)
                            "
                            [checked]="input.address.is_specific === true"
                            (input)="clearValidate('is_specific')"
                          />
                          ใช่
                          <span></span>
                        </label>
                      </div>
                      <div class="form-group">
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="specialized02_agent"
                            type="radio"
                            (click)="
                              bindingInTable(
                                input.address,
                                'is_specific',
                                false
                              )
                            "
                            [checked]="input.address.is_specific === false"
                            (input)="clearValidate('is_specific')"
                          />
                          ไม่ใช่
                          <span></span>
                        </label>
                      </div>
                    </div>
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.is_specific"
                        class="invalid-feedback"
                      >
                        {{ validate.is_specific }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fullname"
                  >
                    {{
                      input.address.receiver_type_code == "PEOPLE" ||
                      input.address.receiver_type_code == "PEOPLE_FOREIGNER"
                        ? "คำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย"
                        : "ชื่อหน่วยงาน"
                    }}
                    <span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      [placeholder]="
                        input.address.receiver_type_code == 'PEOPLE' ||
                        input.address.receiver_type_code == 'PEOPLE_FOREIGNER'
                          ? 'ระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย'
                          : 'กรุณาระบุชื่อนิติบุคคล ตัวอย่าง บริษัท.......จำกัด(มหาชน)'
                      "
                      [(ngModel)]="input.address.name"
                      [ngClass]="validate.name ? 'is-invalid' : null"
                      (input)="clearValidate('name')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.name" class="invalid-feedback">
                        {{ validate.name }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div
                  class="form-group"
                  *ngIf="
                    input.address.receiver_type_code == 'PEOPLE' ||
                    input.address.receiver_type_code == 'PEOPLE_FOREIGNER'
                  "
                >
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_lastname"
                  >
                    นามสกุล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุนามสกุล"
                      [(ngModel)]="input.address.lname"
                      [ngClass]="validate.lname ? 'is-invalid' : null"
                      (input)="clearValidate('lname')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.lname" class="invalid-feedback">
                        {{ validate.lname }}
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address"
                  >
                    ที่อยู่<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุที่อยู่"
                      [(ngModel)]="input.address.house_number"
                      [ngClass]="validate.house_number ? 'is-invalid' : null"
                      (input)="clearValidate('house_number')"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.house_number"
                        class="invalid-feedback"
                      >
                        {{ validate.house_number }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_village_number"
                  >
                    หมู่ที่
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุหมู่ที่"
                      [(ngModel)]="input.address.village_number"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_alley_name"
                  >
                    ตรอก/ซอย
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุตรอก/ซอย"
                      [(ngModel)]="input.address.alley"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_road_name"
                  >
                    ถนน
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุถนน"
                      [(ngModel)]="input.address.street"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group fluid">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_subDistrict_district_province"
                  >
                    ตำบล/อำเภอ/จังหวัด<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุตำบล อำเภอ และจังหวัด"
                      [(ngModel)]="input.address.address_sub_district_name"
                      [ngClass]="
                        validate.address_sub_district_name ? 'is-invalid' : null
                      "
                      (input)="clearValidate('address_sub_district_name')"
                    />
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.address_sub_district_name"
                        class="invalid-feedback"
                      >
                        {{ validate.address_sub_district_name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_zipcode"
                  >
                    รหัสไปรษณีย์<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุรหัสไปรษณีย์"
                      [(ngModel)]="input.address.postal_code"
                      [ngClass]="validate.postal_code ? 'is-invalid' : null"
                      (input)="clearValidate('postal_code')"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.postal_code"
                        class="invalid-feedback"
                      >
                        {{ validate.postal_code }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_country"
                  >
                    อีเมล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.email"
                      [ngClass]="validate.email ? 'is-invalid' : null"
                      (input)="clearValidate('email')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.email" class="invalid-feedback">
                        {{ validate.email }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_mobile_number"
                  >
                    โทรศัพท์<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.telephone"
                      [ngClass]="validate.telephone ? 'is-invalid' : null"
                      (input)="clearValidate('telephone')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.telephone" class="invalid-feedback">
                        {{ validate.telephone }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fax_number"
                  >
                    โทรสาร
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.fax"
                      [ngClass]="validate.fax ? 'is-invalid' : null"
                      (input)="clearValidate('fax')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.fax" class="invalid-feedback">
                        {{ validate.fax }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 4 Form -->

    <!-- Start Step 5 Form -->
    <div class="flex specify-objection" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ระบุเหตุแห่งการคัดค้าน
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner specify-objection-form">
            <div class="form-group brand-logo-image-type">
              <label class="col-form-label">
                คำคัดค้านได้ประกาศโฆษณา
              </label>

              <div class="form-row">
                <div class="form-group flex request-date input-with-icon">
                  <label class="col-form-label" for="requestDate">
                    วันที่
                  </label>

                  <!-- <input
                    class="form-control input"
                    type="text"
                    id="requestDate"
                  /> -->
                  <div class="input-wrapper input-with-icon datepicker">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input
                          disabled
                          class="form-control input"
                          matInput
                          [matDatepicker]="request_date"
                          placeholder=""
                          (click)="request_date.open()"
                          [(ngModel)]="input.request_date"
                          (dateChange)="clearValidate('request_date', item)"
                          [ngClass]="
                            validate.request_date ? 'is-invalid' : null
                          "
                        />
                        <label
                          class="kt-input-icon__icon kt-input-icon__icon--right"
                          for="request_date"
                        >
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="request_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #request_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group flex order">
                  <label class="col-form-label" for="requestNumber">
                    จำพวกที่
                  </label>

                  <input
                    disabled
                    class="form-control input"
                    type="text"
                    [(ngModel)]="input.request_type"
                  />
                </div>
                <div class="form-group flex order">
                  <label class="col-form-label" for="requestNumber">
                    ลำดับ
                  </label>

                  <input
                    disabled
                    class="form-control input"
                    type="text"
                    [(ngModel)]="input.request_index"
                  />

                  <button
                    type="button"
                    class="btn btn-icon popup"
                    (click)="toggleModal('isModalAdsFormOpen')"
                  >
                    <i class="dip-icon-toolbar-menu"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Documentation of objections -->
            <div class="flex specify-documentation-form">
              <div class="form-group upload">
                <div class="flex align-items-center label-wrapper-row">
                  <label class="col-form-label" for="uploadSound">
                    เอกสารหลักฐานประกอบการคัดค้าน
                  </label>

                  <div class="upload-btn-wrapper">
                    <div class="upload-input-wrapper">
                      <button type="button" class="btn btn-brand">
                        <i class="dip-icon-upload-circle"></i>แนบไฟล์
                      </button>
                      <!-- ng-model="file" -->
                      <input
                        type="file"
                        name="myfile"
                        class="upload-input"
                        accept=".doc, .docx"
                        (change)="
                          onClickUploadFile($event, 'input', 'file_11', 5242880)
                        "
                      />
                    </div>
                  </div>

                  <!-- TODO change link ฟอร์ม ก.11 -->
                  <button
                    type="button"
                    class="btn btn-brand-3"
                    (click)="download('/File/Content/264', 'ฟอร์ม ก.11.docx')"
                  >
                    ดาวน์โหลดฟอร์ม ก.11
                  </button>
                </div>

                <!-- Show this when some file upload -->
                <div class="upload-btn-wrapper" *ngIf="input.file_11.file.name">
                  <div class="upload-file-list">
                    <div class="file-list">
                      <!-- get input file name -->
                      <div class="file-name">
                        {{ input.file_11.file.name }}
                      </div>

                      <!-- get input file size -->
                      <div class="file-size">
                        (
                        {{ displayFormatBytes(input.file_11.file.size) }} )
                      </div>

                      <!-- if the input has change (value === true) using class 'uploaded' for animate progress bar -->
                      <!-- if the sound is already attached using class 'attached' instead, for Edit page -->
                      <div
                        [className]="
                          true
                            ? 'toogle-action-area uploaded'
                            : 'toogle-action-area'
                        "
                      >
                        <!-- 1.85s animate progress bar -->
                        <div class="inprogress">
                          <div class="upload-progress-bar"></div>

                          <div class="delete-file">
                            <i
                              class="dip-icon-delete-cross"
                              (click)="onClickRemoveFile('input', 'file_11')"
                            ></i>
                          </div>
                        </div>

                        <div class="noneprogress">
                          <button
                            type="button"
                            class="dip-icon-download"
                            (click)="
                              download(
                                input.file_11.url,
                                input.file_11.file.name
                              )
                            "
                          ></button>

                          <i
                            class="dip-icon-trash"
                            (click)="onClickRemoveFile('input', 'file_11')"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="input-wrapper">
                  <div class="feedback-wrapper">
                    <div *ngIf="validate.file_11" class="invalid-feedback">
                      {{ validate.file_11 }}
                    </div>
                  </div>
                  <div class="note">
                    <i class="dip-icon-info-circle"></i>
                    หากแนบไฟล์เกินจำนวนการจัดเก็บ
                    ให้นำส่งเอกสารได้ที่กรมทรัพย์สินทางปัญญา พร้อมแนบ ก.19
                    เพื่อผ่อนผันการส่งเอกสารหลักฐาน
                  </div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 5 Form -->

    <!-- Start Step 6 Form -->
    <div class="flex supporting-documents" *ngIf="currentID == 6">
      <div class="step-page">
        <div class="step-header justify-content-space-between">
          <div class="step-page-title">
            {{ currentStep }}. เอกสารหลักฐานประกอบคำขอจดทะเบียน
          </div>
        </div>

        <div class="step-body">
          <div
            *ngIf="input.listDocumentRequestChecked[0].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[0].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[0],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[0].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                สำเนาคำคัดค้าน 1 ชุด
              </div>
            </div>
          </div>

          <div
            *ngIf="input.listDocumentRequestChecked[1].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[1].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[1],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[1].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                เอกสารหลักฐานประกอบการคัดค้าน
              </div>
            </div>
          </div>

          <div
            *ngIf="input.listDocumentRequestChecked[2].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[2].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[2],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[2].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                สำเนาบัตรประจำตัวหรือสำเนาหนังสือรับรองนิติบุคคลที่ออกให้ไม่เกิน
                6 เดือน
              </div>
            </div>
          </div>

          <div
            *ngIf="input.listDocumentRequestChecked[3].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[3].checked
            }"
          >
            <div
              class="check-list-input-wrapper flex justify-content-space-between"
            >
              <div class="flex align-items-center">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input
                    type="checkbox"
                    (click)="
                      toggleBooleanInTable(
                        input.listDocumentRequestChecked[3],
                        'checked',
                        'cloneStep3'
                      )
                    "
                    [checked]="input.listDocumentRequestChecked[3].checked"
                  />
                  <i class="dip-icon-file-alt"></i>
                  <span></span>
                </label>

                <div>
                  <div class="check-list-title">
                    สำเนาหนังสือมอบอำนาจ (ก.18)
                    และสำเนาบัตรประจำตัวของผู้รับมอบอำนาจ (ถ้ามี)
                    <u class="font-info"
                      >แสดงแบบฟอร์ม ก.18 (สำเนาหนังสือมอบอำนาจ)</u
                    >
                  </div>
                  <div class="note">
                    หมายเหตุ สามารถใช้แบบสัญญาที่ทำขึ้นมาเองได้ หรือ
                    จะใช้แบบก.18 ที่ระบบได้สร้างให้
                    โดยการกดปุ่มพิมพ์หนังสือมอบอำนาจ
                  </div>
                </div>
              </div>

              <div class="flex align-items-center">
                <button class="btn btn-brand" (click)="onClickViewPdfA18()">
                  <i class="material-icons">
                    print
                  </i>
                  พิมพ์หนังสือมอบอำนาจ
                </button>
              </div>
            </div>

            <!-- <div
              class="form"
              [ngClass]="{
                show: input.listDocumentRequestChecked[3].checked
              }"
            >
              <div class="form-title">
                กรอกข้อมูลหนังสือมอบอำนาจ
              </div>

              <div class="form-row two-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ข้าพเจ้า
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ชื่อเจ้าของ"
                      [(ngModel)]="input.authorize.owner_name"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="supportingDocuments_nationality"
                  >
                    สัญชาติ
                  </label>

                  <div class="input-wrapper">
                    <select
                      disabled
                      class="form-control"
                      [(ngModel)]="input.authorize.owner_nationality_code"
                    >
                      <option
                        *ngFor="let item of master.addressNationalityCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row three-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ที่อยู่เลขที่
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ที่อยู่"
                      [(ngModel)]="input.authorize.owner_house_number"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ซอย
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ซอย"
                      [(ngModel)]="input.authorize.owner_alley"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ถนน
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ถนน"
                      [(ngModel)]="input.authorize.owner_street"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row two-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ตำบล/อำเภอ/จังหวัด
                  </label>

                  <div class="input-wrapper input-with-icon autocomplete">
                    <div class="kt-input-icon kt-input-icon--right">
                      <input
                        disabled
                        class="form-control input"
                        type="text"
                        placeholder="ระบุตำบล อำเภอ และจังหวัด"
                        [(ngModel)]="
                          input.authorize.owner_address_sub_district_name
                        "
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    รหัสไปรษณีย์
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="รหัสไปรษณีย์"
                      [(ngModel)]="input.authorize.owner_postal_code"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row slider-control">
                <div class="prev" (click)="onClickSlideAuthorize('back')">
                  <i class="dip-icon-play"></i>
                </div>

                <div class="slide-page">
                  ({{
                    input.listAgentMark.length > 0
                      ? input.indexAuthorize + 1
                      : 0
                  }}/{{ input.listAgentMark.length }})
                </div>

                <div class="next" (click)="onClickSlideAuthorize('next')">
                  <i class="dip-icon-play"></i>
                </div>
              </div>

              <div class="form-row two-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ขอแต่งตั้งและมอบอำนาจให้
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ชื่อผู้ต้องการแต่งตั้ง"
                      [(ngModel)]="input.authorize.inheritor_name"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="supportingDocuments_nationality"
                  >
                    สัญชาติ
                  </label>

                  <div class="input-wrapper">
                    <select
                      disabled
                      class="form-control"
                      [(ngModel)]="input.authorize.inheritor_nationality_code"
                    >
                      <option
                        *ngFor="let item of master.addressNationalityCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-row three-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ที่อยู่เลขที่
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ที่อยู่"
                      [(ngModel)]="input.authorize.inheritor_house_number"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ซอย
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ซอย"
                      [(ngModel)]="input.authorize.inheritor_alley"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ถนน
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="ถนน"
                      [(ngModel)]="input.authorize.inheritor_street"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row two-column">
                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    ตำบล/อำเภอ/จังหวัด
                  </label>

                  <div class="input-wrapper input-with-icon autocomplete">
                    <div class="kt-input-icon kt-input-icon--right">
                      <input
                        disabled
                        class="form-control input"
                        type="text"
                        placeholder="ระบุตำบล อำเภอ และจังหวัด"
                        [(ngModel)]="
                          input.authorize.inheritor_address_sub_district_name
                        "
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="supportingDocuments_name">
                    รหัสไปรษณีย์
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder="รหัสไปรษณีย์"
                      [(ngModel)]="input.authorize.inheritor_postal_code"
                    />
                  </div>
                </div>
              </div>

              <button class="btn btn-brand" (click)="onClickViewPdfA18()">
                ดูเอกสาร
              </button>
            </div> -->
          </div>

          <div
            *ngIf="input.listDocumentRequestChecked[4].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[4].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[4],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[4].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                หนังสือขอผ่อนผันการส่งเอกสารหลักฐาน (ก.19)
              </div>
            </div>
          </div>

          <div
            *ngIf="input.listDocumentRequestChecked[5].isShow"
            class="check-list-card align-items-center"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[5].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[5],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[5].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                หนังสือนำส่งเอกสารหลักฐานและคำชี้แจง (ก.20)
              </div>
            </div>
          </div>
        </div>
        <div class="step-footer flex justify-content-center">
          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="onClickNext()"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 6 Form -->

    <!-- Start Step 7 Form -->
    <div class="flex step-basic fee" *ngIf="currentID == 7">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. ค่าธรรมเนียม
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label">
                ชื่อที่จะออกในใบเสร็จรับเงิน
              </label>

              <div class="input-wrapper">
                <div class="input-wrapper-row">
                  <input
                    class="form-control input"
                    type="text"
                    placeholder="กรุณากรอก ชื่อที่จะออกในใบเสร็จรับเงิน"
                    [(ngModel)]="input.receipt_name"
                    [ngClass]="validate.receipt_name ? 'is-invalid' : null"
                    (input)="clearValidate('receipt_name')"
                  />
                  <div class="form-text text-unit"></div>
                </div>

                <div class="feedback-wrapper">
                  <div *ngIf="validate.receipt_name" class="invalid-feedback">
                    {{ validate.receipt_name }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group flex">
              <label class="col-form-label">
                ค่าธรรมเนียมที่ต้องชำระ
              </label>

              <div class="input-wrapper">
                <div class="input-wrapper-row">
                  <input
                    disabled
                    class="form-control input"
                    type="text"
                    placeholder=""
                    [(ngModel)]="input.fee"
                  />
                  <div class="form-text text-unit">บาท</div>
                </div>

                <div class="feedback-wrapper">
                  <div
                    [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                    *ngIf="fasle"
                  >
                    error
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 7 Form -->

    <!-- Start Step 8 Form -->
    <div class="flex step-basic finish" *ngIf="this.currentID == 8">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. เสร็จสิ้น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="signature-select">
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step8')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <div class="signature-select" *ngIf="input.listAgentMark.length > 0">
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save020_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step8')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save020_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.listAgentMark"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step8')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step8" class="invalid-feedback">
                  {{ validate.step8 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfA02()">
              ดูใบคำขอ ก.02
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 8 Form -->

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Step 3 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลคัดค้าน'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้รับมอบอำนาจ (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
  </div>
</app-popup>

<!-- Step 5 modal -->
<app-modal
  [className]="[
    'fade agent-form step-five-modal',
    modal.isModalAdsFormOpen ? 'show' : undefined
  ]"
  [title]="'คำคัดค้านได้ประกาศโฆษณา'"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  [hideCloseCross]="true"
  (onClickClose)="toggleModal('isModalAdsFormOpen')"
  *ngIf="currentStep == 5"
>
  <div body-children>
    <div class="result-table">
      <div class="result-wrapper">
        <div class="table">
          <div class="table-inner">
            <div class="tr header">
              <div class="td category-number">
                จำพวกที่
              </div>
              <div class="td order-number">
                ลำดับที่
              </div>
              <div class="td date">
                วันที่ประกาศโฆษณา
              </div>
              <div class="td date">
                วันที่ครบกำหนดประกาศโฆษณา/คัดค้าน
              </div>
            </div>

            <!-- result here -->
            <div class="tr" *ngFor="let item of input.listAdsMark">
              <div class="td category-number">
                {{ item.request_item_sub_type_1_code }}
              </div>
              <div class="td order-number">
                {{ item.line_index }}
              </div>
              <div class="td date">
                {{ displayDateEform(input.request_date) }}
              </div>
              <div class="td date">
                {{ displayDateEform(input.end_date) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="toggleModal('isModalAdsFormOpen')"
    >
      ปิดหน้าต่าง
    </button>
  </div>
</app-modal>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
