<aw-wizard [navBarLayout]="'large-empty-symbols'">
  <aw-wizard-step stepTitle="REGISTER" [navigationSymbol]="{ symbol: '1' }">
    <div class="kt-portlet document-role02-check-list-job">
      <br />
      <div style="margin-left: 20px;">
        <div class="form-group flex">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            1
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
            <h3 style="padding-top:5px">
              <label style="color: red;">*</label> INTERNATIONAL REGISTRATION NUMBER
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
          (this form may be used for several international registrations in the name of the same holder, provided that
          the
          same limitation applies to all designated Contracting Parties or to the same designated Contracting Parties
          for
          each of the
          international registrations concerned)<i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-md-12">
          <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
        </div>
        <br />
      </div>
      <hr>
      <div style="margin-left: 20px;">
        <div class="form-group flex">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            2
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
            <h3 style="padding-top:5px">
              <label style="color: red;">*</label>NAME OF THE HOLDER
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
          (as recorded in the International Register)<i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-md-12">
          <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
        </div>

        <br />
      </div>
      <hr>
      <div style="margin-left: 20px;">
        <div class="form-group flex">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            3
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;">
            <h3 style="padding-top:5px">
              <label style="color: red;">*</label>APPOINTMENT OF A (NEW) REPRESENTATIVE
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
          (only complete this item if you are appointing a (new) representative)<i
            class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Name <i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-md-12">
          <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Address <i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-md-12">
          <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
        </div>

        <div class="col-12">
          <div class="form-row">
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              Telephone <i class="dip-icon-icon-info-circle"></i>
            </div>
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              Fax <i class="dip-icon-icon-info-circle"></i>
            </div>
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              E-mail address <i class="dip-icon-icon-info-circle"></i>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4" style="padding-left: 0px;">
              <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
            </div>
            <div class="col-md-4" style="padding-left: 0px;">
              <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
            </div>
            <div class="col-md-4" style="padding-left: 0px;">
              <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
            </div>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
          By providing an e-mail address, any further correspondence from the International Bureau related to this/these
          international registration(s) will be sent only electronically and, therefore, you will no longer receive any
          paper correspondence. Likewise, any further correspondence from the International Bureau related to other
          international applications or international registrations for which the same e-mail address has been, or will
          be,
          provided will also be sent only electronically. Please note that, for the purpose of electronic communication,
          there can be only one e-mail address recorded per each international registration.
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
          WIPO will not share the provided e-mail address with any third parties, except with designated Contracting
          Parties
          for the
          express purpose of transmitting official communications regarding the concerned international registration.
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
          SIGNATURE OF THE HOLDER APPOINTING THE ABOVE (NEW) REPRESENTATIVE
        </div>

        <br />
      </div>
      <hr>
      <div style="margin-left: 20px;">
        <div class="form-group flex">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            4
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
            <h3 style="padding-top:5px">
              <label style="color: red;">*</label>CONTRACTING PARTIES
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
          (check only one box)<i class="dip-icon-icon-info-circle"></i>
        </div>

        <div class="form-group flex" style="margin-left: 10px;">
          <div class="radio">
            <label><input type="radio" name="optradio" checked style="margin-right: 15px;">(a) the limitation of the
              list of
              goods and services indicated in item
              5(a) and/or 5(b) is to be recorded for all
              the Contracting Parties designated in the international registration(s) indicated in item 1; or
            </label>

            <label><input type="radio" name="optradio" checked style="margin-right: 15px;">(b) the limitation of the
              list of
              goods and services indicated in item 5(a) and/or 5(b) is to be recorded for the designated Contracting
              Parties
              indicated below:
            </label>
          </div>
        </div>
        <div class="input-wrapper">
          <textarea class="form-control input" type="text" placeholder="" autocomplete="off"
            style="width: 375px; height: 130px;"></textarea>
          <div class="feedback-wrapper">
          </div>
        </div>
        <br />
      </div>
      <hr>
      <div>
        <div class="form-group flex" style="margin-left: 10px;">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            5
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
            <h3 style="padding-top:5px">
              <label style="color: red;">*</label>GOODS AND SERVICES
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71;">
          <label style="color: #0C84C8;"><u>NOTE</u></label>
          : Any class, covered by said registration(s), which is not mentioned below remains as recorded in
          theInternational
          Register.
        </div>
        <div class="col-12" style="color: #6D6E71; margin-left: 20px;">
          - if you want to request the recording of a limitation for one particular class in respect of the designated
          Contracting Parties mentioned in item 4, please provide the relevant class number and the complete new limited
          list of goods and
          services of this class under item (a);
        </div>
        <div class="col-12" style="color: #6D6E71; margin-left: 20px;">
          - however, if you want to delete one or more entire classes in respect of those Contracting Parties, please
          indicate the class number(s) under item (b).
        </div>
        <br />
        <div class="col-12" style="color: #6D6E71;">
          You can find indications that are pre-accepted, it by the international Bureau in the Madrid Goods & Services
          Manager (MGS) at www.wipo.int/mgs/.
        </div>
        <div class="col-12" style="color: #6D6E71; margin-top: 10px;">
          Please make consistent use of a semicolon (;) to clearly specify the goods and services indications in your
          list,
          e.g.:
          09 Scientific, optical and electronic apparatus and instruments; screens for photoengraving; computers.
          35 Advertising; compilation of statistics; commercial information agencies.
        </div>
        <div class="col-12" style="color: #6D6E71; margin-top: 10px;">
          Please use font “<label style="color: black;font-size: 20px;">Courier New</label>” or “<label
            style="color: black;font-size: 20px;">Times New Roman</label>” , size 12 pt, or above
        </div>
        <div class="col-12" style="color: #6D6E71;">
          <div class="form-group flex">
            <label style="color: #6D6E71;">(a)</label>
            <div class="input-wrapper" style="color: #6D6E71;">
              If the limitation concerns changes in a given class, please provide below the relevant class number and
              the
              complete new limited list of goods and services of this class (instead of the goods or services that you
              wish
              to
              delete from the currently recorded list). It is important to provide clear information on the remaining
              scope,
              to
              ensure correct recording of the limitation in the International Register. The new limited list will be
              recorded
              for the Contracting Parties indicated in item 4.
            </div>

          </div>
          <div class="input-wrapper" style="color: #6D6E71; margin-left: 30px;">
            <label style="color: black;"><u>Example 1</u></label> : If the international registration contains, in class
            25,
            “clothing; footwear; headgear” and you
            want to limit certain designations to clothing and headgear, you should indicate that the new list in
            respect
            of those designations is “clothing; headgear”
          </div>
          <div class="input-wrapper" style="color: #6D6E71; margin-left: 30px;">
            <label style="color: black;"><u>Example 2</u></label> : If you want to keep certain footwear, you should
            clearly
            indicate the remaining scope, including the kind of footwear you want to keep in the designation; for
            instance
            “clothing; leather shoes, leather boots, leather sandals; headgear”.
          </div>
          <div class="input-wrapper" style="color: #6D6E71; margin-left: 30px;">
            <label style="color: black;"><u>Example 3</u></label> : If you want to limit footwear to sandals only,
            you could indicate that the new list is “clothing; sandals; headgear”.
          </div>
          <div class="input-wrapper" style="color: #6D6E71; margin-left: 30px;">
            <label style="color: black;"><u>Example 4</u></label> : If you want to exclude sandals from
            footwear, you could indicate that the new list is “clothing; footwear, except sandals; headgear”.
          </div>

          <div class="kt-portlet__body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table style="width: auto;" class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="index" style="width: auto; background-color: #0C84C8;;color: white">Class</td>
                        <td class="public_week" style="width: auto;background-color: #0C84C8;color: white">รายการสินค้า
                          /
                          บริการ</td>
                        <td class="public_notification_date" style="width: auto;background-color: #0C84C8;color: white">
                          Goods and services</td>
                        <td class="public_notification_date" style="width: auto;background-color: #0C84C8;color: white">
                          คำสั่ง</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="index" style="width: auto;"> </td>
                        <td class="index" style="width: auto;"> </td>
                        <td class="index" style="width: auto;"> </td>
                        <td> <button class="btn btn-icon btn-brand">
                            <i class="dip-icon-play"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group flex">
            <label style="color: #6D6E71;">(b)</label>
            <div class="input-wrapper" style="color: #6D6E71;">
              If an entire class is to be deleted, please indicate <label style="color: black;">only the class
                number:</label>
            </div>




          </div>
          <div class="col-12" style="color: #6D6E71;margin-top: 0px;">
            <label style="color: #0C84C8;"><u>NOTE</u></label>
            If a class number is indicated here, it will be understood that the designation of the Contracting
            Parties indicated in item 4 no longer contains this class. Any class mentioned under item 5(a), above, must
            not be indicated here.)
          </div>
          <div class="kt-portlet__body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table style="width: auto;" class="table table-bordered">
                    <thead>
                      <tr>
                        <td class="index" style="width: auto;background-color: #0C84C8;color: white">Class</td>
                        <td class="public_week" style="width: auto;background-color: #0C84C8;color: white">รายการสินค้า
                          /
                          บริการ</td>
                        <td class="public_notification_date" style="width: auto;background-color: #0C84C8;color: white">
                          Goods and services</td>
                        <td class="public_notification_date" style="width: auto;background-color: #0C84C8;color: white">
                          คำสั่ง</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="index" style="width: auto;"> </td>
                        <td class="index" style="width: auto;"> </td>
                        <td class="index" style="width: auto;"> </td>
                        <td> <button class="btn btn-icon btn-brand">
                            <i class="dip-icon-play"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <hr>

          <div class="form-group flex">
            <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
              6
            </button>
            <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
              <h3 style="padding-top:5px">
                SIGNATURE BY THE HOLDER AND/OR HIS REPRESENTATIVE
              </h3>
            </div>
          </div>
          <div class="col-12" style="color: #6D6E71;">
            <label style="font-size: 18px;">Holder</label>
            <br />
            <label style="font-size: 13px;">(as recorded in the International Register)</label>
            <br />
            <label style="font-size: 17px;">By signing this form, I declare that I am entitled to sign it under the
              applicable law:</label>
          </div>
          <div class="col-12">
            <div class="form-row">
              <div class="col-6" style="color: #6D6E71;padding-top:10px;">
                <label style="color: red;">*</label>Name
              </div>
              <div class="col-6" style="color: #6D6E71;padding-top:10px;">
                E-mail
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6" style="padding-left: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>
              <div class="col-md-6" style="padding-left: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>
            </div>




            <div class="col-12" style="color: #6D6E71;">
              <label style="font-size: 18px; margin-top: 25px;">Representative of the holder</label>
              <br />
              <label style="font-size: 13px;">(as recorded in the International Register)</label>
              <br />
              <label style="font-size: 17px;">By signing this form, I declare that I am entitled to sign it under the
                applicable law:</label>
            </div>
            <div class="col-12">
              <div class="form-row">
                <div class="col-6" style="color: #6D6E71;padding-top:10px;">
                  <label style="color: red;">*</label>Name
                </div>
                <div class="col-6" style="color: #6D6E71;padding-top:10px;">
                  E-mail
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6" style="padding-left: 0px;">
                  <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
                  <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
                </div>
              </div>
            </div>
            <br />
          </div>

        </div>
        <hr>
        <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; text-align: center;">
          <h3 style="padding-top:5px">
            ส่วนของเจ้าหน้าที่
          </h3>
        </div>
        <div class="form-group flex" style="margin-left: 10px;">
          <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
            7
          </button>
          <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
            <h3 style="padding-top:5px">
              OFFICE OF THE CONTRACTING PARTY (OF THE RECORDED HOLDER (TRANSFEROR) OR THAT OF THE NEW OWNER
              (TRANSFEREE))
              PRESENTING THE REQUEST
            </h3>
          </div>
        </div>
        <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
          (where the request is presented through an Office)
        </div>
        <div class="col-12">
          <div class="form-row">
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              Name of the Office
            </div>
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              Name and signature of the official signing on behalf of the Office
            </div>
            <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
              Name and e-mail address of the contact person in the Office
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4" style="padding-left: 0px;">
              <input class="form-control input" type="text" placeholder="DEPARTMENT OF INTELLECTUAL PROPERTY, THAILAND."
                autocomplete="off" readonly />
            </div>
            <div class="col-md-4" style="padding-left: 0px;">
              <div class="input-wrapper">
                <select #key_job_reciver class="form-control" [(ngModel)]='selectedDoc'>
                  <option *ngFor="let item of doc">
                    {{item.text}}
                  </option>
                </select>
                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_job_reciver.id]" class="invalid-feedback">
              {{validate[key_job_reciver.id]}}
            </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-left: 0px;">
              <input class="form-control input" type="text" placeholder="madrid.dip@ipthailand.go.t" autocomplete="off"
                readonly />
            </div>
            <br />
            <br />
          </div>
        </div>
        <div class="kt-portlet__footer ">
          <div class="button-list">
            <button type="button" class="btn btn-white" (click)="onClickReset()">
              <i class="dip-icon-reset"></i>
              เริ่มใหม่
            </button>
            <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()"
              style="background:#575757;border: #575757;">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
            <button type="button" class="btn btn-brand btn-align-center" awNextStep>
              <i class="dip-icon-arrow-right"></i>
              ต่อไป</button>
          </div>
        </div>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="CALCULATION" [navigationSymbol]="{ symbol: '2' }">
    <div class="kt-portlet document-role02-check-list-job">

      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; text-align: center;">
        <h3 style="padding-top:5px">
          FEE CALCULATION SHEET
        </h3>
      </div>
      <hr>
      <div class="form-group flex" style="margin-left: 10px; margin-left: 30px;">
        <label style="color: black;font-size: 18px;">(a)</label>
        <div class="input-wrapper" style="color: black; font-size: 18px; margin-left: 10px;">
          INSTRUCTIONS TO DEBIT FROM A CURRENT ACCOUNT
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            The International Bureau is hereby instructed to debit the required amount of fees from a current account
            opened with the International Bureau (if this box is checked, it is not necessary to complete (b)).
            <span></span>
          </label>
        </div>
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 16px;">
        Holder of the account
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 16px">
        Account number
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 16px">
        Identity of the party giving the instructions
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
      <br />
      <hr>
      <div class="form-group flex" style="margin-left: 10px;">
        <label style="color: black;font-size: 18px;">(b)</label>
        <div class="input-wrapper" style="color: black; font-size: 18px; margin-left: 10px;">
          AMOUNT OF FEES
        </div>
      </div>
      <div class="col-12">
        <div class="form-row">
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;">

          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;">
            (per international registration mentioned in item 1)
          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;">
            GRAND TOTAL (Swiss francs)
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11" style="padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>
              <div class="col-1" style="font-size: 18px;">
                <div style="padding-left: 5px;"> X </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11 " style="padding-left: 15px;padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" />
              </div>
              <div class="col-1" style="font-size: 18px;">
                <div style="padding-left: 5px;"> = </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11 " style="padding-left: 15px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group flex" style="margin-left: 10px;">
        <label style="color: black;font-size: 18px;">(c)</label>
        <div class="input-wrapper" style="color: black; font-size: 18px; margin-left: 10px;">
          METHOD OF PAYMENT
        </div>
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px; font-size: 15px">
        Identity of the party effecting the payment
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" />
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            Payment received and acknowledged by WIPO
            <span></span>
          </label>
        </div>
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px; font-size: 15px">
        WIPO receipt number
      </div>
      <div class="col-md-4">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" />
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            Payment made to WIPO bank account IBAN No. CH51 0483 5048 7080 8100 0 Crédit Suisse, CH-1211 Geneva 70
            Swift/BIC: CRESCHZZ80A
            <span></span>
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-row">
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 15px">
            Payment identification
          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 15px">
            dd/mm/yyyy
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11" style="padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>

            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="row">
              <div class="input-with-icon datepicker" style="width: 60%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_out_end_date id="out_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_out_end_date" (click)="picker_out_end_date.open()" autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="out_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_out_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_out_end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox">
              Payment made to WIPO postal account (within Europe only) IBAN No. CH03 0900 0000 1200 5000 8 Swift/BIC:
              POFICHBE 0
              <span></span>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 15px">
            Payment identification
          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px; font-size: 15px">
            dd/mm/yyyy
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11" style="padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
              </div>

            </div>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <div class="row">
              <div class="input-with-icon datepicker" style="width: 60%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_out_end_date id="out_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_out_end_date2" (click)="picker_out_end_date2.open()" autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="out_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_out_end_date2">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_out_end_date2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="form-row">
        <div style="color: #6D6E71; padding-bottom:10px;padding-top:10px;width: 190px;margin-left: 10px;font-size: 16px;">
          หลักฐานการชำระค่าธรรมเนียม
        </div>
        <div class="col-2" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          <button type="button" class="btn btn-white" (click)="onClickReset()">
            Choose Files...
          </button>
        </div>
      </div>
      <hr>
      <div class="col-md-12" style="margin-top: 10px; font-size: 18px; color: #0C84C8;">
        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
          <label style="color: red;">*</label>กรุณากรอกชื่อที่ต้องการออกในใบเสร็จรับเงินของกรมทรัพย์สินทางปัญญา(ภาษาไทย)
        </div>
      </div>
      <div class="col-12">
        <div class="form-row">
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px; font-size: 15px">
            ชื่อ
          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px; font-size: 15px">
            เบอร์โทร
          </div>
          <div class="col-4" style="color: #6D6E71; padding-bottom:10px; font-size: 15px">
            ที่อยู่<label style="color: red;">*</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11" style="padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11 " style="padding-left: 15px;padding-right: 0px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <div class="row">
              <div class="col-11 " style="padding-left: 15px;">
                <input class="form-control input" type="text" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            ต้องการรับใบเสร็จทางไปรษณีย์
            <span></span>
          </label>
        </div>
      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;font-size: 17px;">
        (ใบเสร็จของกรมทรัพย์สินทางปัญญาจะถูกจัดส่งทางไปรษณีย์)
      </div>

      <hr>

      <div class="kt-portlet__footer ">
        <div class="button-list">
          <button type="button" class="btn btn-brand btn-align-center" awNextStep>
            <i class="dip-icon-angle-left"></i>
            ย้อนกลับ</button>
          <button type="button" class="btn btn-white" (click)="onClickReset()">
            <i class="dip-icon-reset"></i>
            เริ่มใหม่
          </button>
          <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()"
            style="background:#575757;border: #575757;">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()"
            style="background:#575757;border: #575757;">
            <i class="dip-icon-printer"></i>
            พิมพ์
          </button>
          <button type="button" class="btn btn-brand btn-align-center" awNextStep>
            <i class="dip-icon-paper-plane"></i>
            เสร็จสิ้น</button>
        </div>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>
