:host {
  // padding-top: 15px !important;
  display: flex;
  // min-width: 1650px !important;
  width: 100%;

  .kt-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    border-bottom: 1px solid #eff0f6;
    border-bottom: 0;
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);

    &.kt-header--fixed {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 97;
      left: 100px;

      &.eform {
        left: 0 !important;

        .brand-title {
          display: flex;
          align-items: center;

          .eform-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            font-size: 20px;
            color: #707070;
          }
        }

        .kt-aside__brand {}
      }
    }
  }

  .kt-content {
    &.eform {
      padding-top: 80px !important;
      padding-bottom: 0;
      flex-direction: row !important;
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .kt-container {
    &.eform {
      padding-bottom: 70px;
      flex: 1 1 auto !important;
      background-color: #0C84C8;
      position: relative;
      padding: 0;
    }
  }

  @media only screen and (min-width: 1921px) {
    min-width: 1650px;
  }  
}
