<div class="kt-header kt-grid kt-grid--ver kt-header--fixed eform">
  <div class="brand-title">
    <!-- begin:: Brand -->
    <div
      class="kt-aside__brand kt-grid__item "
      id="kt_aside_brand"
    >
      <div class="kt-aside__brand-logo">
        <!-- <a [href]="pathHome"> -->
        <a [routerLink]="pathHome">
          <img
            alt="Logo"
            src="../../../assets/images/logos/logo.svg"
          >
        </a>
      </div>
    </div>
    <!-- end:: Brand -->

    <div class="eform-title">
      ระบบยื่นคำขอจดทะเบียนทรัพย์สินทางปัญญาอิเล็กทรอนิกส์
    </div>
  </div>
</div>

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor eform">
  <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid eform">
    <ng-content></ng-content>
  </div>
</div>
