<div class="kt-portlet document-role02-check-list-job">
  <div class="col-12" style="margin-left: 13px;padding-left: 0px;">
    <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;">
      <h3 style="padding-top:5px;font-size: 20px;">
        รายละเอียดคำขอ
      </h3>
    </div>
    <div class="col-12" style="color: #6D6E71;font-size: 17px;">
      เลขคำขอระหว่างประเทศ (IRN)
    </div>
    <div class="col-12">
      <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" readonly />
    </div>
    <div style="float: left;margin: 10px; margin-bottom: 10px;">
      <button type="button" class="btn btn-brand">
        ⠀ <i class="dip-icon-search"></i>ค้นหา ⠀
      </button>
    </div>
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        1
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
        <h3 style="padding-top:5px">
          <label style="color: red;">*</label>INTERNATIONAL REGISTRATION NUMBER(s)
        </h3>
      </div>
    </div>
    <div class="col-12">
      <p>(this form may be used for several international registrations in the name of the same holder, provided that
        the
        same limitation applies to all designated Contracting Parties or to the same designated Contracting Parties for
        each of the
        international registrations concerned)</p>

    </div>
    <div class="col-12">
      <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" readonly />
    </div>
    <br />
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        2
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; padding-left: 10px;">
        <h3 style="padding-top:5px">
          <label style="color: red;">*</label>NAME OF THE HOLDER
        </h3>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
      (as recorded in the International Register)<i class="dip-icon-icon-info-circle"></i>
    </div>
    <div class="col-12">
      <input class="form-control input" type="text" style="width: 100%;margin-top: 10px;" placeholder=""
        autocomplete="off" readonly />
    </div>
    <br />
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        3
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;">
        <h3 style="padding-top:5px">
          <label style="color: red;">*</label>APPOINTMENT OF A (NEW) REPRESENTATIVE
        </h3>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
      (only complete this item if you are appointing a (new) representative)<i class="dip-icon-icon-info-circle"></i>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
      Name <i class="dip-icon-icon-info-circle"></i>
    </div>
    <div class="col-md-12">
      <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" readonly />
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
      Address <i class="dip-icon-icon-info-circle"></i>
    </div>
    <div class="col-md-12">
      <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" readonly />
    </div>

    <div class="col-12">
      <div class="form-row">
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Telephone <i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Fax <i class="dip-icon-icon-info-circle"></i>
        </div>
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          E-mail address <i class="dip-icon-icon-info-circle"></i>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off"
            readonly />
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off"
            readonly />
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off"
            readonly />
        </div>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
      By providing an e-mail address, any further correspondence from the International Bureau related to this/these
      international registration(s) will be sent only electronically and, therefore, you will no longer receive any
      paper correspondence. Likewise, any further correspondence from the International Bureau related to other
      international applications or international registrations for which the same e-mail address has been, or will be,
      provided will also be sent only electronically. Please note that, for the purpose of electronic communication,
      there can be only one e-mail address recorded per each international registration.
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
      WIPO will not share the provided e-mail address with any third parties, except with designated Contracting Parties
      for the
      express purpose of transmitting official communications regarding the concerned international registration.
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-top: 10px; font-size: 14px;">
      SIGNATURE OF THE HOLDER APPOINTING THE ABOVE (NEW) REPRESENTATIVE
    </div>
    <div class="col-md-12">
      <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" readonly />
    </div>
    <br />
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        4
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;">
        <h3 style="padding-top:5px">
          <label style="color: red;">*</label>CONTRACTING PARTIES
        </h3>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
      The renunciation concerns the following designated Contracting Parties<i class="dip-icon-icon-info-circle"></i>
    </div>

    <div class="col-12">
      <div class="form-row">
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
        </div>
        <div class="col-md-1"
          style="float: left;margin: 10px; margin-bottom: 10px; padding-top: 0px;padding: 0px;margin: 5px;margin-top: 12px;">
          <button type="button" class="btn btn-brand">
            <i class="dip-icon-add-new"></i>
          </button>
        </div>
        <div class="form-row">
          <div class="col-md-4" style="padding-left: 0px;">
            <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
          </div>
          <div class="col-md-4" style="padding-left: 0px;">
            <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        5
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;">
        <h3 style="padding-top:5px">
          <label style="color: red;">*</label>SIGNATURE BY THE HOLDER AND/OR HIS REPRESENTATIVE
        </h3>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71;">
      <label style="font-size: 18px;">Holder</label>
      <br />
      <label style="font-size: 13px;">(as recorded in the International Register)</label>
      <br />
      <label style="font-size: 17px;">By signing this form, I declare that I am entitled to sign it under the
        applicable law:</label>
    </div>





    <div class="col-12" style="padding: 0;">
      <div class="form-row">
        <div class="col-6" style="color: #6D6E71;padding-top:10px;">
          <label style="color: red;">*</label>Name
        </div>
        <div class="col-6" style="color: #6D6E71;padding-top:10px;">
          E-mail
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6" style="padding-left: 0px;">
          <input class="form-control input" type="text" placeholder="" style="width: 100%;" autocomplete="off" />
        </div>
        <div class="col-md-6" style="padding-left: 0px;">
          <input class="form-control input" type="text" placeholder="" style="width: 100%;" autocomplete="off" />
        </div>
      </div>




      <div class="col-12" style="color: #6D6E71;">
        <label style="font-size: 18px; margin-top: 25px;">Representative of the holder</label>
        <br />
        <label style="font-size: 13px;">(as recorded in the International Register)</label>
        <br />
        <label style="font-size: 17px;">By signing this form, I declare that I am entitled to sign it under the
          applicable law:</label>
      </div>
      <div class="col-12">
        <div class="form-row">
          <div class="col-6" style="color: #6D6E71;padding-top:10px;">
            <label style="color: red;">*</label>Name
          </div>
          <div class="col-6" style="color: #6D6E71;padding-top:10px;">
            E-mail
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6" style="padding-left: 0px;">
            <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div style="margin-left: 20px;">
    <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8; text-align: center;">
      <h3 style="padding-top:5px">
        ส่วนของเจ้าหน้าที่
      </h3>
      <br />
    </div>
    <div class="form-group flex">
      <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
        6
      </button>
      <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;">
        <h3 style="padding-top:5px">
          OFFICE OF THE CONTRACTING PARTY (OF THE RECORDED HOLDER (TRANSFEROR) OR THAT OF THE NEW OWNER (TRANSFEREE))
          PRESENTING THE REQUEST
        </h3>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;margin-left: 50px;">
      (where the request is presented through an Office)
    </div>
    <div class="col-12">
      <div class="form-row">
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Name of the Office
        </div>
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Name and signature of the official signing on behalf of the Office
        </div>
        <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
          Name and e-mail address of the contact person in the Office
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;"
            placeholder="DEPARTMENT OF INTELLECTUAL PROPERTY, THAILAND." autocomplete="off" readonly />
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
          <div class="input-wrapper">
            <select #key_job_reciver class="form-control" style="width: 100%;" [(ngModel)]='selectedDoc'>
              <option *ngFor="let item of doc">
                {{item.text}}
              </option>
            </select>
            <div class="feedback-wrapper">
            </div>
          </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
          <input class="form-control input" type="text" style="width: 100%;" placeholder="madrid.dip@ipthailand.go.t"
            autocomplete="off" readonly />
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  <hr>
  <div class="col-12" style="margin-left: 20px;">
    <div class="input-wrapper"
      style=" margin-top: 5px;font-size: 25px;color: #0C84C8;padding-left: 10px;margin-left: 0px;padding-left: 0px;">
      <h3 style="padding-top:5px">
        <label style="color: red;">*</label>กรุณากรอกชื่อที่ต้องการออกในใบเสร็จรับเงินของกรมทรัพย์สินทางปัญญา(ภาษาไทย)
      </h3>
    </div>
    <div class="form-row">
      <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        ชื่อ
      </div>
      <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        เบอร์โทร
      </div>
      <div class="col-4" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        ที่อยู่
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4" style="padding-left: 0px;">
        <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
      </div>
      <div class="col-md-4" style="padding-left: 0px;">
        <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
      </div>
      <div class="col-md-4" style="padding-left: 0px;">
        <input class="form-control input" type="text" style="width: 100%;" placeholder="" autocomplete="off" />
      </div>
      <br />
      <br />
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
      <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox">
          ต้องการรับใบเสร็จทางไปรษณีย์
          <span></span>
        </label>
      </div>
    </div>
    <div class="col-12" style="color: #6D6E71; padding-bottom:10px;font-size: 17px;">
      (ใบเสร็จของกรมทรัพย์สินทางปัญญาจะถูกจัดส่งทางไปรษณีย์)
    </div>
    <br />
  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button" class="btn btn-white" (click)="onClickReset()">
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()"
        style="background:#575757;border: #575757;">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()"
        style="background:#575757;border: #575757;">
        <i class="dip-icon-printer"></i>
        พิมพ์
      </button>
      <button type="button" class="btn btn-brand btn-align-center">
        <i class="dip-icon-paper-plane"></i>
        เสร็จสิ้น</button>
    </div>
  </div>
</div>
