<div class="kt-portlet considering-similar-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        เครื่องหมาย
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-danger"
              (click)="onClickCheckingSimilarWordSoundTranslateBack()">
        <i class="dip-icon-forward"></i>
        ส่งคืน
      </button>

      <button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarSearchAsk()">
        Link สอบถาม
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarSave010PDFView()">
        ดูเอกสาร ก.01
      </button>
      <!--<button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarResultLink()">
        ผลการตรวจสอบ
      </button>-->
      <button type="button" class="btn btn-brand" (click)="help.Open('request-document-collect/edit/' + input.request_number)">
        เอกสารสแกน
      </button>

      <button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarCheckingSimilar()">
        ตรวจสอบเหมือน/คล้าย
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarConsideringDocument()">
        พิจารณาเอกสาร
        <div *ngIf="input.checking_save_document_count > 0"
             class="red">(New)</div>
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickConsideringSimilarInstruction()">
        คำสั่งนายทะเบียน
      </button>

      <button type="button"
              class="btn btn-brand"
              (click)="onClickConsideringSimilarCase28()"
              *ngIf="input.full_view.case28_list.length > 0">
        พิจารณามาตรา 28
      </button>
    </div>
  </div>

  <div class="kt-portlet__body information">
    <div class="main-request-wrapper">


      <div class="main-request-image-wrapper">

        <div class="bx-box-picture">
          <img *ngIf="input.file_trademark_2d && input.file_trademark_2d != ''" src="{{input.file_trademark_2d}}" />

          <!--<div style="position: absolute; right: 70px; top: 5px;  text-align: center;">
            <a href="#" class="btn btn-squared-default-plain btn-info">2D</a>
          </div>-->
          <!--<div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
            <a href="#" class="btn btn-squared-default-plain btn-light ">3D</a>
          </div>-->

          <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
            <!--{{input.sound_file_physical_path}}-->
            <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
              <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer()"></i>
              </a>
            </div>
          </div>

        </div>


      </div>
    </div>

    <div class="body-inner-list">
      <div class="kt-portlet__body__inner considering-similarer">
        <div class="form-group flex">
          <label class="col-form-label" for="request_number">คำขอเลขที่</label>
          <div class="input-wrapper">
            <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                   autocomplete="off" disabled="disabled" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                {{validate[key_request_number.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="kt-portlet__body__inner considering-similarer">
        <div class="form-group flex">
          <label class="col-form-label" for="name">ชื่อเจ้าของ</label>
          <div class="input-wrapper">
            <input #key_name class="form-control input" type="text" id="name" placeholder="ชื่อเจ้าของ"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_name.id]"
                   autocomplete="off" disabled="disabled" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_name.id]" class="invalid-feedback">
                {{validate[key_name.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="kt-portlet__body__inner considering-similarer">
        <div class="form-group flex">
          <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวก</label>
          <div class="input-wrapper">
            <input class="form-control input" type="text"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                   [(ngModel)]="input.request_item_sub_type_1_code_text"
                   autocomplete="off" disabled="disabled" />

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner considering-similarer">
        <div class="form-group flex">
          <label class="col-form-label" for="request_item_sub_type_1_description">สินค้า/บริการ</label>
          <div class="input-wrapper">
            <input class="form-control input" type="text"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                   [(ngModel)]="input.request_item_sub_type_1_description"
                   autocomplete="off" disabled="disabled" />

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner considering-similarer">
        <div class="form-group flex">
          <label class="col-form-label" for="sound_description">คำบรรยายเสียง</label>
          <div class="input-wrapper">
            <input #key_sound_description class="form-control input" type="text" id="sound_description" placeholder="คำบรรยายเสียง"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_sound_description.id]"
                   autocomplete="off" disabled="disabled" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_sound_description.id]" class="invalid-feedback">
                {{validate[key_sound_description.id]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>


<!-- Start อ่านแปล from checking-similar/edit/167 -->
<div class="kt-portlet checking-similar-read-translate">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        อ่านแปล
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickCheckingSimilarWordSoundTranslateSave()">
        <i class="dip-icon-save"></i>
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="read-translate-wrapper">
      <div class="read-translate-add-new-button">
        <button class="btn btn-icon" (click)="onClickCheckingSimilarWordSoundTranslateAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button class="btn btn-icon" (click)="onClickCheckingSimilarWordSoundTranslateDelete()">
          <i class="dip-icon-minus"></i>
        </button>
      </div>
    </div>
    <div class="table-read-translate">
      <table>
        <thead>
          <tr class="">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onSelectColumnInTable(listWordSoundTranslate, $event.target.checked)" />
                <span></span>
              </label>
            </td>
            <td class="dictionary">พจนานุกรม</td>
            <td class="text-search">คำที่ค้นหา</td>
            <td class="pronunciation">คำอ่าน</td>
            <td class="translation">คำแปล</td>
            <td class="status">สถานะ</td>
          </tr>
        </thead>
        <tbody>
          <tr class="tr body" *ngFor="let row_item of listWordSoundTranslate | myfilter">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       [(ngModel)]="row_item.is_check" />
                <span></span>
              </label>
            </td>

            <td class="dictionary">
              <div class="form-group flex input word_translate_dictionary_code">
                <select class="form-control word_translate_dictionary_code"
                        [(ngModel)]="row_item.word_translate_dictionary_code"
                        [value]="row_item.word_translate_dictionary_code">
                  <option *ngFor="let item of master.checkingWordTranslateDictionaryCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div *ngIf="row_item.word_translate_dictionary_code && row_item.word_translate_dictionary_code != '' && row_item.word_translate_dictionary_code != 'OTHERS'">
                <button class="btn btn-brand btn-icon"
                        (click)="onClickCheckingSimilarWordTranslateCapture(row_item)">
                  <i class="dip-icon-duplicate"></i>
                </button>
              </div>

              <div class="form-group flex input"
                   *ngIf="row_item.word_translate_dictionary_code == 'OTHERS'">
                <input class="form-control input word_translate_dictionary_other"
                       id="row_item.word_translate_dictionary_other"
                       [(ngModel)]="row_item.word_translate_dictionary_other"
                       type="text"
                       [value]="row_item.word_translate_dictionary_other">
              </div>
            </td>

            <td class="text-search">
              <div class="form-group flex input">
                <input class="form-control input word_translate_search"
                       id="row_item.word_translate_search"
                       [(ngModel)]="row_item.word_translate_search"
                       type="text"
                       [value]="row_item.word_translate_search">
              </div>
            </td>

            <td class="pronunciation">
              <div class="form-group flex input">
                <input class="form-control input word_translate_sound"
                       id="{{row_item.word_translate_sound}}"
                       type="text"
                       placeholder=""
                       [(ngModel)]="row_item.word_translate_sound"
                       (mouseover)="row_item.word_translate_sound_hover = true"
                       *ngIf="!row_item.word_translate_sound_hover"
                       (change)="binding('input', 'word_translate_sound', $event.target.value, row_item)"
                       [value]="row_item.word_translate_sound">

                <textarea class="form-control textarea word_translate_sound"
                          type="text"
                          [(ngModel)]="row_item.word_translate_sound"
                          (mouseout)="row_item.word_translate_sound_hover = false"
                          *ngIf="row_item.word_translate_sound_hover"
                          rows="3"
                          placeholder="เพิ่มข้อความ"></textarea>
              </div>
            </td>
            <td class="translation">
              <div class="form-group flex input">
                <input class="form-control input word_translate_translate"
                       id="{{row_item.word_translate_translate}}"
                       type="text"
                       placeholder=""
                       [(ngModel)]="row_item.word_translate_translate"
                       (mouseover)="row_item.word_translate_translate_hover = true"
                       *ngIf="!row_item.word_translate_translate_hover"
                       (change)="binding('input', 'word_translate_translate', $event.target.value, row_item)"
                       [value]="row_item.word_translate_translate">


                <textarea class="form-control textarea word_translate_translate"
                          type="text"
                          [(ngModel)]="row_item.word_translate_translate"
                          (mouseout)="row_item.word_translate_translate_hover = false"
                          *ngIf="row_item.word_translate_translate_hover"
                          rows="3"
                          placeholder="เพิ่มข้อความ"></textarea>
              </div>
            </td>
            <td class="status">
              <div class="input-wrapper">
                <select class="form-control checking_word_translate_status_code"
                        [(ngModel)]="row_item.checking_word_translate_status_code">
                  <option *ngFor="let item of master.checkingWordTranslateStatusCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </td>
            <td class="edit_delete">
              <i class="dip-icon-trash"
                 (click)="onClickCheckingSimilarWordSoundTranslateDelete(row_item)"></i>
            </td>



          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End อ่านแปล from checking-similar/edit/167 -->
<!--<div class="kt-portlet considering-similar-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางอ่านแปล
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_5">
      <table class="">
        <thead>
          <tr class="">
            <td class="td word_translate_search">คำที่ค้นหา</td>
            <td class="td word_translate_dictionary">พจนานุกรม</td>
            <td class="td word_translate_sound">คำอ่าน</td>
            <td class="td word_translate_translate">คำแปล</td>
            <td class="td checking_word_translate_status_code">สถานะ</td>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let row_item of input.full_view.checking_similar_wordsoundtranslate_list | myfilter | paginate: paginateWordSoundTranslate; index as i">
            <td class="td word_translate_search">{{row_item.word_translate_search}}</td>
            <td class="td word_translate_dictionary">{{row_item.word_translate_dictionary}}</td>
            <td class="td word_translate_sound">{{row_item.word_translate_sound}}</td>
            <td class="td word_translate_translate">{{row_item.word_translate_translate}}</td>
            <td class="td checking_word_translate_status_code">{{row_item.checking_word_translate_status_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->

<div class="kt-portlet considering-similar-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตรวจสอบเครื่องหมาย
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickConsideringSimilarSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickCheckingSimilarResultOwnerSame()">
        บันทึกเจ้าของเดียวกัน
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div>
      <table>
        <thead>
          <tr class="tr header">
            <td class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listTrademark, $event.target.checked)" /><span></span>
              </label>
            </td>
            <td class="td index">#</td>
            <td class="td word_mark">เครื่องหมายคำ</td>
            <td class="td request_item_sub_type_description">จำพวก</td>
            <td class="td request_number">คำขอเลขที่</td>
            <td class="td name">ชื่อเจ้าของ</td>
            <td class="td trademark_status_code">สถานะ</td>
            <td class="td image_link">รูป</td>
            <td class="td sound_link">เสียง</td>
            <td class="td considering_remark">หมายเหตุ</td>
            <td class="td case10_count">มาตรา 28</td>
            <td class="td is_similar">เหมือน/คล้าย</td>
            <!--<td colspan="2">มาตรา</td>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listTrademark | myfilter"
              [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
            <td class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" />
                <span></span>
              </label>
            </td>
            <td class="td index">{{row_item.index}}</td>
            <td class="td word_mark">{{row_item.full_view.word_mark_text}}</td>
            <td class="td request_item_sub_type_description">{{row_item.full_view.request_item_sub_type_1_code_text}}</td>
            <td class="td request_number">{{row_item.request_number}}</td>
            <td class="td name">{{row_item.name}}</td>
            <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
            <td class="td image_link">
              <div class="td_file_trademark_2d"
                   *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                   [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

              </div>
            </td>
            <td class="td sound_link">{{row_item.sound_link}}</td>
            <td class="td considering_remark">{{row_item.considering_remark}}</td>
            <td class="td case10_count">
              <!--<a *ngIf="row_item.case10_count > 0"
                 href="/considering-similar-kor10/edit/{{row_item.id}}"
                 target="_blank">-->
              <i class="dip-icon-info-circle" (click)="onClickCheckingSimilarCase28(row_item)"></i>
              <!--</a>-->
            </td>
            <td class="td is_similar">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="onClickCheckingSimilarLikeSame(row_item, 'is_like_approve', $event.target.checked)"
                       [(ngModel)]="row_item.is_like_approve"><span></span>
              </label>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="onClickCheckingSimilarLikeSame(row_item, 'is_same_approve', $event.target.checked)"
                       [(ngModel)]="row_item.is_same_approve"><span></span>
              </label>
            </td>
            <!--<td>
              <div class="form-group flex input"
                   *ngIf="row_item.is_same_approve">
                <select class="form-control"
                        [(ngModel)]="row_item.instruction_rule_code"
                        [value]="row_item.instruction_rule_code">
                  <option *ngFor="let item of row_item.consideringSimilarInstructionRuleCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div class="form-group flex input"
                   (clickOutside)="row_item.instruction_rule_value_1_hover = false"
                   *ngIf="row_item.is_same_approve">
                <input class="form-control input instruction_rule_value_1"
                       *ngIf="!row_item.instruction_rule_value_1_hover"
                       (mouseover)="row_item.instruction_rule_value_1_hover = true"
                       id="row_item.instruction_rule_value_1"
                       [(ngModel)]="row_item.instruction_rule_value_1"
                       type="text"
                       [value]="row_item.instruction_rule_value_1">

                <textarea class="form-control textarea instruction_rule_value_1"
                          type="text"
                          [(ngModel)]="row_item.instruction_rule_value_1"
                          *ngIf="row_item.instruction_rule_value_1_hover"
                          rows="3"
                          placeholder="เพิ่มข้อความ"></textarea>
              </div>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="kt-portlet__footer ">
  </div>
</div>

<div class="kt-portlet__footer">
  <div class="form-group flex checkbox-wrapper">
    <label class="col-form-label checkbox-title-wrapper">
      วิธีการตรวจสอบ
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_1" disabled="disabled" /> อักษรแรก/เสียงท้าย
      <span></span>
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_2" disabled="disabled" /> คำเหมือนคล้าย
      <span></span>
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_3" disabled="disabled" /> เสียงท้ายอีน
      <span></span>
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_4" disabled="disabled" /> เสียงพ้องพยางค์
      <span></span>
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_5" disabled="disabled" /> ตรวจสอบรูป
      <span></span>
    </label>
    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_6" disabled="disabled" /> ตรวจสอบเสียง
      <span></span>
    </label>
    <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [(ngModel)]="checkingTagSimilarMethod.method_7" disabled="disabled" /> ตรวจสอบกลิ่น
      <span></span>
    </label>-->
  </div>
</div>

<!--<div class="kt-portlet considering-similar-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner considering-similarer">
      <div class="form-group flex">
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>-->


<div class="div_popup" *ngIf="popup.is_image_show" (click)="popup.is_image_show = false">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <img src="{{popup.image_src}}" />
  </div>
</div>


<div class="div_popup" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>
    <div class="kt-portlet__body__inner public-role01-item-lister body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="input.checking_remark"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner public-role01-item-lister body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickCheckingSimilarWordSoundTranslateBackSend()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="this.popup.isPopupSendOpen = false">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>

<div class="div_popup product_show" *ngIf="popup.product_show">
  <div class="div_popup_background" (click)="popup.product_show = null">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">
      <table>
        <thead>
          <tr class="">
            <!--<td>#</td>-->
            <td>ประเทศ</td>
            <td>วันที่</td>
            <td>จำพวก</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of case28_list_show">
            <!--<td>
              {{item.index}}
            </td>-->
            <td>
              <select class="form-control"
                      [(ngModel)]="item.address_country_code"
                      disabled="disabled"
                      *ngIf="item.index_show == 1 || case28_list_show[item.index_show - 2].address_country_code != case28_list_show[item.index_show - 1].address_country_code">
                <option *ngFor="let item of master.addressCountryCodeList"
                        [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
            </td>
            <td>
              <div *ngIf="item.index_show == 1 || case28_list_show[item.index_show - 2].address_country_code != case28_list_show[item.index_show - 1].address_country_code || case28_list_show[item.index_show - 2].case_28_date_text != case28_list_show[item.index_show - 1].case_28_date_text">
                {{item.case_28_date_text}}
              </div>
            </td>
            <td>
              {{item.request_item_sub_type_1_code}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="kt-portlet__footer">
      <app-paging [item_all_list]="case28_list"
                  [item_list]="case28_list_show"
                  [is_updated]="is_updated_case28_list"></app-paging>
    </div>
  </div>
</div>
