:host {
  .kt-portlet {
    font-size: 16px;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
    }

    .input-wrapper {
      margin: 0 10px;
    }
  }

  .read-translate-add-new-button {
    button {
      width: 37px;
      height: 37px;
      border: 0;
      margin-left: 10px;

      i {
        color: #0C84C8;
      }
    }
  }

  .product_show {
    .div_popup_body {
      padding: 15px 20px;

      table {
        width: 100%;
      }

      .kt-portlet__footer {
        padding-top: 15px;
      }
    }
  }

  button {
    .red {
      color: #E34132;
      margin-left: 10px;
    }
  }

  app-tabs.ng-star-inserted[modal_tab] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;

    .kt-portlet--background {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }

    .kt-portlet {
      width: 1330px;
      display: block;
      margin: 0 auto;
    }
  }

  .kt-portlet__body.information {
    flex-direction: unset;

    .main-request-wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      max-width: 326px;
      height: 326px;
      border: 1px dashed #0C84C8;
    }
  }


  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    z-index: 1;

    tr {
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }

      td {
        padding: 0 12px;
      }
    }
  }

  .table-inner {
    input.form-control, select.form-control {
      width: 100%;
    }

    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }

  .btn-create-new {
    & + .btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control, select.form-control.word_translate_dictionary_code {
    width: 375px;
  }

  .tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #F4F5F8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__head-action {
    & > * + button {
      margin-left: 15px;
    }

    & > * + input {
      margin-left: 15px;
    }

    & > * + label {
      margin-left: 15px;
    }
  }

  .mat-input-element {
    border: 1px solid rgb(226, 229, 236);
  }

  .kt-portlet__body__inner {
    .form-group {
      & > * + button {
        margin-left: 15px;
      }

      & > * + span {
        margin-left: 15px;
      }

      & > * + label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + button {
          margin-left: 0;
        }
      }

      & > button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .td {
      input {
        width: 100%;
      }

      &.edit_delete {
        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .edit_delete {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;
    }

    &.table_2 {
      .word_translate_search {
        flex: 0 0 150px;
        max-width: 150px;
        justify-content: center;
        text-align: center;
      }

      .word_translate_dictionary {
        flex: 0 0 250px;
        max-width: 250px;
        justify-content: center;
        text-align: center;
      }

      .word_translate_sound {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }

      .word_translate_translate {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }

      .checking_word_translate_status_name {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }
    }

    &.table_4 {
      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .word_mark {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }

      .request_item_sub_type_description {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .request_number {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .name {
        flex: 0 0 250px;
        max-width: 250px;
        justify-content: center;
        text-align: center;
      }

      .trademark_status_code {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .image_link {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .sound_link {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .considering_remark {
        flex: 0 0 150px;
        max-width: 150px;
        justify-content: center;
        text-align: center;
      }

      .is_similar {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }
    }
  }



  table {
    border-collapse: collapse;
    color: #626366;
    width: fit-content;

    thead {
      font-weight: bold;
    }

    td {
      padding: 15px 18px 10px;
      text-align: center;
    }

    tbody {
      tr {
        &:nth-child(2n-1) {
          background-color: #F4F5F8 !important;
        }

        &.is_owner_same_auto {
          background-color: #E5F2F9 !important;
        }

        &.is_owner_same {
          background-color: #9BD7DC !important;
        }
      }


      td {
        & > * {
          display: inline-flex;
        }

        input {
          width: 50px;

          &.instruction_rule_value_1 {
            width: 375px;
          }
        }

        textarea {
          &.instruction_rule_value_1 {
            width: 375px;
          }
        }

        select.word_translate_search {
          width: 150px;
        }


        div.word_translate_dictionary_code {
          text-align: center;
          display: block;
          flex: unset;
        }

        &.dictionary {
          display: flex;

          .word_translate_dictionary_other {
            width: 250px;
          }
        }

        select.word_translate_dictionary_code {
          width: 200px;
        }

        input {
          width: 50px;
        }

        input.word_translate_search {
          width: 250px;
        }

        input.word_translate_dictionary_other {
          width: 350px;
        }

        input.word_translate_translate, textarea.word_translate_translate, input.word_translate_sound, textarea.word_translate_sound {
          width: 400px;
        }

        select.checking_word_translate_status_code {
          width: 200px;
        }


        &.is_similar {
          label:nth-child(n+2) {
            margin-left: 10px;
          }
        }
      }
    }
  }


  .tr {
    &.is_owner_same {
      div {
        background-color: #9BD7DC !important;
      }
    }
  }
}
