<div class="kt-portlet document-item-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ค้นหาข้อมูล
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner document-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="saved_process_date">วันที่ส่งงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_saved_process_date id="saved_process_date" class="form-control input" matInput
                         [matDatepicker]="picker_saved_process_date" (click)="picker_saved_process_date.open()"
                         [(ngModel)]="input[key_saved_process_date.id]" (dateChange)="clearValidate(key_saved_process_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="saved_process_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_saved_process_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_saved_process_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_saved_process_date.id]" class="invalid-feedback">
                  {{validate[key_saved_process_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner document-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              งาน
            </label>
            <div class="input-wrapper">
              <select #key_document_type_code
                      class="form-control"
                      id="document_type_code"
                      [(ngModel)]="input[key_document_type_code.id]"
                      (change)="binding('input', 'document_type_code', $event.target.value)"
                      [value]="input.document_type_code">
                <option *ngFor="let item of master.documentTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_type_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_type_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ผู้รับงาน
            </label>
            <div class="input-wrapper">
              <div class="form-group flex <!--input-with-icon-->">
                <input #key_document_classification_by_name class="form-control input" type="text" id="document_classification_by_name" placeholder="ผู้รับงาน"
                       [(ngModel)]="input[key_document_classification_by_name.id]" [ngClass]="validate[key_document_classification_by_name.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_document_classification_by_name.id)" (blur)="autocompleteBlurCheckerList()"
                       (ngModelChange)="autocompleteChangeCheckerList(input, 'document_classification_by_name')" autocomplete="off" />
                <!--<button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>-->
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_CheckerList_show">
                <table>
                  <tr *ngFor="let autocomplete of autocompleteListCheckerList"
                      (click)="autocompleteChooseCheckerList(autocomplete)">
                    <td>{{autocomplete.checker_name}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_classification_by_name.id]" class="invalid-feedback">
                  {{validate[key_document_classification_by_name.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner document-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะการรับงาน
            </label>
            <div class="input-wrapper">
              <select #key_document_status_code
                      class="form-control"
                      id="document_status_code"
                      [(ngModel)]="input[key_document_status_code.id]"
                      (change)="binding('input', 'document_status_code', $event.target.value)"
                      [value]="input.document_status_code">
                <option *ngFor="let item of master.documentStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentItemList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet document-item-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางการรับงาน
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_2">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocument')"
                     [checked]="input.is_check_all" /><span></span>
            </label>
          </div><div class="td index">#</div><div class="td saved_process_date_text">วันที่ส่งงาน</div><div class="td request_number">คำขอเลขที่</div><div class="td request_type_value_3">แบบฟอร์ม</div><div class="td request_date_text">วันที่ยื่นคำขอ</div><div class="td request_item_sub_type_1_code">จำพวก</div><div class="td document_type_name">งาน</div><div class="td document_status_name">สถานะรับงาน</div>
          <div class="td document_receiver_name">ผู้รับงาน</div>
        </div>
        <div class="tr" *ngFor="let row_item of listDocument">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocument', row_item)"
                     [checked]="row_item.is_check" /><span></span>
            </label>

          </div>
          <div class="td index">
            {{ row_item.index }}
          </div>
          <div class="td saved_process_date_text">{{row_item.saved_process_date_text}}</div>
          <div class="td request_number">{{row_item.request_number}}</div>
          <div class="td request_type_value_3">{{row_item.request_type_value_3}}</div>
          <div class="td request_date_text">{{row_item.request_date_text}}</div>
          <div class="td request_item_sub_type_1_code">{{row_item.request_item_sub_type_1_code}}</div>
          <div class="td document_type_name">{{row_item.document_type_name}}</div>
          <div class="td document_status_name">{{row_item.document_status_name}}</div>
          <div class="td document_receiver_name">{{row_item.document_classification_by_name}}</div>


        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateDocument"
                (onClickList)="onClickDocumentItemList()"></app-paging>
  </div>

</div>

<div class="kt-portlet document-item-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner document-item-lister">
      <div class="form-group flex">
        <label class="col-form-label">
          ผู้รับงาน
        </label>
        <div class="input-wrapper">
          <div class="form-group flex input-with-icon">
            <input #key_document_people_name_receive
                   class="form-control input"
                   type="text" id="document_people_name_receive"
                   placeholder="ผู้รับงาน"
                   [(ngModel)]="input[key_document_people_name_receive.id]"
                   [ngClass]="validate[key_document_people_name_receive.id] ? 'is-invalid' : null"
                   (input)="clearValidate(key_document_people_name_receive.id)"
                   (blur)="autocompleteBlurDocumentPeopleList()"
                   (ngModelChange)="autocompleteChangeDocumentPeopleList(input, 'document_people_name_receive')" autocomplete="off" />
            <button class="btn btn-input-search btn-icon" type="button">
              <i class="dip-icon-search"></i>
            </button>
          </div>

          <div class="div_autocomplete" *ngIf="is_autocomplete_DocumentPeopleList_show">
            <table>
              <tr *ngFor="let autocomplete of autocompleteListDocumentPeopleList"
                  (click)="autocompleteChooseDocumentPeopleList(autocomplete)">
                <td>{{autocomplete.name}}</td>
              </tr>
            </table>

          </div>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_document_people_name_receive.id]" class="invalid-feedback">
              {{validate[key_document_people_name_receive.id]}}
            </div>
          </div>
        </div><button type="button"
                      class="btn btn-secondary"
                      (click)="onClickDocumentItemReceive()">
          <i class="dip-icon-save"></i>
          บันทึกรับงาน
        </button>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>
