:host {
    .kt-portlet {
        font-size: 16px;
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: 400;

        .col-form-label {
            margin: 0 10px;
        }

        .input-wrapper {
            margin: 0 10px;
        }
    }

    app-tabs.ng-star-inserted[modal_tab] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10000;

        .kt-portlet--background {
            width: 100%;
            height: 100%;
            background-color: #aaa;
        }

        .kt-portlet{
            width: 1330px;
            display: block;
            margin: 0 auto;
        }
    }

    .div_autocomplete {
        color: #6D6E71;
        position: absolute;
        background: #fff;
        border: 1px solid #e2e5ec;
        margin-top: 4px;
        border-radius: 4px;
        box-shadow: 10px 10px 18px 0px #e2e5ec;
        z-index: 1;

        tr {
            line-height: 60px;

            &:hover {
                background-color: #F4F5F8;
            }

            td  {
                padding: 0 12px;
            }
        }
    }

    .table-inner {
        input.form-control, select.form-control {
            width: 100%;
        }

        .dip-icon-edit {
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #C31D1D;
                cursor: pointer;
            }
        }

        .dip-icon-trash {
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #C31D1D;
                cursor: pointer;
            }
        }
    }

    .hide {
        display: none;
    }

    .btn-create-new {
        & + .btn-danger {
            margin-left: 10px;
        }
    }

    input.form-control, select.form-control {
        width: 375px;
    }

    .tab-pane {
        position: relative;

        .top-right-operator {
            position: absolute;
            right: 0;
            top: -75px;

            .btn {
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .empty-list {
            display: flex;
            justify-content: center;
            background-color: #F4F5F8;
            width: 100%;
            min-height: 65px;
            align-items: center;

            .btn {
                margin: 0 10px;
            }
        }
    }

    .kt-portlet__head-action {
        & > * + button {
            margin-left: 15px;
        }

        & > * + input {
            margin-left: 15px;
        }

        & > * + label {
            margin-left: 15px;
        }
    }

    .mat-input-element {
        border: 1px solid rgb(226, 229, 236);
    }

    .kt-portlet__body__inner {
        .form-group {
            & > * + button {
                margin-left: 15px;
            }

            & > * + span {
                margin-left: 15px;
            }

            & > * + label {
                margin-left: 15px;
            }

            & .input-date {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                & + button {
                    margin-left: 0;
                }
            }

            & > button.btn-input-search {
                flex: 0 0 3rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: 0;

                .input {
                    flex: 1 1 auto;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .kt-portlet span {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-weight: normal;
        color: #6d6e71;
    }

    .table {
        .td {
            input {
                width: 100%;
            }

            &.edit_delete {
                & > a {
                    padding: 4px 8px;

                    & + a {
                        margin-left: 8px;
                    }
                }
            }
        }

        a {
            color: #0c84c8;
            text-decoration: underline;
        }

        .icon {
            height: 16px;
            width: auto;
        }

        .select {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
        }

        .delete {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
        }

        .edit_delete {
            flex: 0 0 95px;
            max-width: 95px;
            justify-content: center;
            text-align: center;
        }

              &.table_2 {
            .index { flex: 0 0 50px; max-width: 50px; justify-content: center; text-align: center; }
            .make_date_text { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
            .request_number { flex: 0 0 150px; max-width: 150px; justify-content: center; text-align: center; }
            .request_date_text { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
            .name { flex: 0 0 350px; max-width: 350px; justify-content: center; text-align: center; }
            .save_status_name { flex: 0 0 200px; max-width: 200px; justify-content: center; text-align: center; }
            .cancel_reason { flex: 0 0 300px; max-width: 300px; justify-content: center; text-align: center; }
            .list { flex: 0 0 idpx; max-width: idpx; justify-content: center; text-align: center; }
      }

    }
}
