<div class="kt-portlet registration-appeal-com">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          <i class="fa fa-search"></i>
          การค้นหา
        </h3>
      </div>
    </div>
    
    <div class="kt-portlet__body">  
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 ml-5">
                <div class="form-group flex">
                    <label class="col-form-label" for="request_number">
                      ประชุมครั้งที่
                    </label>          
                    <div class="input-group">
                      <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                      />
                    </div>
                    <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                    <div class="input-group mb-5">
                      <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                      />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group flex">
                    <label class="col-form-label" for="payment_date">
                      วันที่
                    </label>          
                    <div class="input-group">
                      <input 
                        type="text" 
                        class="form-control"
                        placeholder="เลือก"
                        #key_payment_date 
                        id="payment_date" 
                        [matDatepicker]="payment_picker"
                        (click)="payment_picker.open()" 
                        (dateChange)="clearValidate(key_payment_date.id)"
                      />
                      <div class="input-group-append">
                        <label class="cs-input-group-text" for="payment_date">
                          <i class="dip-icon-calendar cs-input-group-icon"></i>
                        </label>
                      </div>
                      <mat-datepicker #payment_picker></mat-datepicker>
    
                    
                    </div>
                  </div>
            </div>
  
            <div class="col-12">
                <div class="form-group flex" style="justify-content: center;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-brand" style="min-width: 100px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            ค้นหา
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          <i class="fa fa-repeat" aria-hidden="true"></i>
                          เริ่มใหม่
                        </button>
                        <button type="button" class="btn cs-btn-grey-solid ml-3">
                          อ่านข้อมูลวาระการประชุม
                        </button>
                    </div>                        
                  </div>
            </div>
        </div>
      </div>
    
  </div>
  
  <div class="kt-portlet meeting-report">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <span class="fa fa-table cs-header-icon cs-color-text-blue" aria-hidden="true"></span>
        <h3 class="kt-portlet__head-title">
          ตารางงาน
        </h3>
      </div>
      <div class="kt-portlet__head-action"></div>
    </div>

    <div class="kt-portlet__body">
      <div class="table table-striped table-responsive table-bordered">
        <table>
          <thead>
            <tr>
              <th class="cs-theader-c2">ลำดับ</th>
              <th class="cs-theader-c3">ประชุมครั้งที่</th>
              <th class="cs-theader-c4">วันที่</th>
              <th class="cs-theader-c5">เวลา</th>
              <th class="cs-theader-c6">ห้องประชุม</th>
              <th class="cs-theader-c7">คำสั่ง</th>
            </tr>
          </thead>
          <tbody>
              <!-- dummy data -->
            <tr >
              <td class="cs-tbody-v-align-mid">
                1
              </td>
              <td class="cs-tbody-v-align-mid">
                01/2562
              </td>
              <td class="cs-tbody-v-align-mid">
                10/09/2562
              </td>
              <td class="cs-tbody-v-align-mid">
                10.30 น.
              </td>
              <td class="cs-tbody-v-align-mid">
                พิจารณาเอกสาร
              </td>
              <td class="cs-tbody-v-align-mid">
                <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                    <span class="fa fa-play" style="font-size: 15px"></span>
                </button>
              </td>
            </tr>
          </tbody>   
        </table>
      </div> 
    </div> 

    <div class="kt-portlet__footer ">
      <!-- pagination -->
      <div class="kt-pagination  kt-pagination--brand">
        <div class="kt-pagination__toolbar">
          <select class="form-control kt-font-brand"
                  (change)="onChangePerPage($event.target.value, 'paginatePeople')">
            <option *ngFor="let perPage of perPagePeople" [value]="perPage">
              {{ perPage }}
            </option>
          </select>
          <span class="pagination__desc">
            Displaying 1 of
            1 records
          </span>
        </div>
      </div>
    </div>
  </div>