<div class="kt-portlet public-role01-item-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button class="btn btn-input-search" type="button"
              (click)="onClickPublicRole01ItemAutoSplit()">
        <i class="dip-icon-forward"></i>
        แจกงาน
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="instruction_send_start_date">วันที่รับงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_instruction_send_start_date id="instruction_send_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_instruction_send_start_date" (click)="picker_instruction_send_start_date.open()"
                         [(ngModel)]="input[key_instruction_send_start_date.id]" (dateChange)="clearValidate(key_instruction_send_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_instruction_send_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_instruction_send_start_date.id]" class="invalid-feedback">
                  {{validate[key_instruction_send_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_instruction_send_end_date id="instruction_send_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_instruction_send_end_date" (click)="picker_instruction_send_end_date.open()"
                         [(ngModel)]="input[key_instruction_send_end_date.id]" (dateChange)="clearValidate(key_instruction_send_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_instruction_send_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_instruction_send_end_date.id]" class="invalid-feedback">
                  {{validate[key_instruction_send_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภทงาน
            </label>
            <div class="input-wrapper">
              <select #key_public_type_code
                      class="form-control"
                      id="public_type_code"
                      [(ngModel)]="input[key_public_type_code.id]"
                      (change)="binding('input', 'public_type_code', $event.target.value)"
                      [value]="input.public_type_code">
                <option *ngFor="let item of master.publicTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_type_code.id]"
                     class="invalid-feedback">
                  {{validate[key_public_type_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              กลุ่มงานที่ส่งมา
            </label>
            <div class="input-wrapper">
              <select #key_public_source_code
                      class="form-control"
                      id="public_source_code"
                      [(ngModel)]="input[key_public_source_code.id]"
                      (change)="binding('input', 'public_source_code', $event.target.value)"
                      [value]="input.public_source_code">
                <option *ngFor="let item of master.publicSourceCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_source_code.id]"
                     class="invalid-feedback">
                  {{validate[key_public_source_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ผู้รับงาน
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_public_receiver_by class="form-control input" type="text" id="public_receiver_by" placeholder="ผู้รับงาน"
                       [(ngModel)]="input[key_public_receiver_by.id]" [ngClass]="validate[key_public_receiver_by.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_public_receiver_by.id)" (blur)="autocompleteBlurPublicReceiverList()"
                       (ngModelChange)="autocompleteChangePublicReceiverList(input, 'public_receiver_by')" autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_PublicReceiverList_show">
                <table>
                  <tr *ngFor="let autocomplete of autocompleteListPublicReceiverList"
                      (click)="autocompleteChoosePublicReceiverList(autocomplete)">
                    <td>{{autocomplete.public_receiver_by}}</td>
                    <td>{{autocomplete.public_receiver_name}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_receiver_by.id]" class="invalid-feedback">
                  {{validate[key_public_receiver_by.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะงาน
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.publicStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="public_status_code"
                         type="radio"
                         [checked]="item.code === input.public_status_code"
                         (click)="binding('input', 'public_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <!-- <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                    Success! You've done it.
                </div> -->
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole01ItemList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role01-item-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="public_type_name">ประเภทงาน</td>
          <td class="public_source_name">กลุ่มงานที่ส่งมา</td>
          <td class="instruction_send_date_text">วันที่ส่งมา</td>
          <td class="public_receive_date_text">วันที่โอนงาน</td>
          <td class="public_type">ประเภท</td>
          <td class="public_receiver_name">ผู้รับงาน</td>
          <td class="public_remark">รายละเอียดเพิ่มเติม</td>
          <td class="public_status_name">สถานะ</td>
          <!--<td class="id">คำสั่ง</td>-->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicItem">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="public_type_name">{{row_item.public_type_name}}</td>
          <td class="public_source_name">{{row_item.public_source_name}}</td>
          <td class="instruction_send_date_text">{{row_item.instruction_send_date_text}}</td>
          <td class="public_receive_date_text">{{row_item.public_receive_date_text}}</td>
          <td class="public_type">{{row_item.public_type}}</td>
          <td class="public_receiver_name">{{row_item.public_receiver_name}}</td>
          <td class="public_remark">{{row_item.public_remark}}</td>
          <td class="public_status_name">{{row_item.public_status_name}}</td>
          <!--<td class="id">
            <a href="javascript://">
              <i class="dip-icon-play"
                 (click)="onClickPublicItemId(row_item.id)"></i>
            </a>
          </td>-->


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicItem"
                (onClickList)="onClickPublicRole01ItemList()"></app-paging>
  </div>

</div>
