<div class="kt-portlet kt-portlet--tabs {{className}}">
    <div class="kt-portlet__head cs-bg-color-primary cs-color-w" style="padding-top: 1%;">
      <div class="kt-portlet__head-toolbar">
        <ul class="nav nav-tabs {{navClassName}}">
          <li
            class="nav-item"
            *ngFor="let tab of tabs"
            (click)="selectTab(tab)"
          >
            <span
              class="tab-index"
              [ngClass]="tab.recent ? 'recent' : null"
              [class.active]="tab.active"
              *ngIf="showTabIndex"
            >
              {{tab.index}}
            </span>
  
            <a
              class="nav-link cs-tab-header"
              [class.active]="tab.active"        
            >
              {{tab.title}}
            </a>
          </li>
  
          
        </ul>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="tab-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  