<div class="kt-portlet ">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align">เลขที่อ้างอิงคำขอ</label>
          </div>
          <div class="col-md-9">
            <input class="form-control input" type="text" placeholder="เลขทะเบียน" autocomplete="off" />
          </div>
        </div>
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align"> เอกสาร</label>
          </div>
          <div class="col-md-9">
            <div class="input-wrapper">
              <select #key_job_reciver class="form-control" id="job_reciver" [(ngModel)]="input[key_job_reciver.id]"
                (change)="binding('input', 'job_reciver', $event.target.value)" [value]="input.job_reciver">
                <option *ngFor="let item of master.job_reciver" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <div class="feedback-wrapper">
                <div *ngIf="validate[key_job_reciver.id]" class="invalid-feedback">
                  {{validate[key_job_reciver.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align" for="present_start_date">วันที่ยืนคำขอ</label>
          </div>
          <div class="col-md-9">
            <div class="input-group ">

              <div class=" input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_present_start_date id="present_start_date" class="form-control input" matInput
                      [matDatepicker]="picker_present_start_date" (click)="picker_present_start_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="present_start_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="present_start_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_present_start_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                ถึง
              </div>
              <div class="input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right;">
                    <input #key_inspect_end_date id="inspect_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_inspect_end_date" (click)="picker_inspect_end_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="inspect_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_inspect_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_inspect_end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align">วันที่ส่งเปลี่ยนแปลง</label>
          </div>
          <div class="col-md-9">
            <div class="input-group">
              <div class=" input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_start_date id="give_number_start_date" class="form-control input" matInput
                      [matDatepicker]="picker_give_number_start_date" (click)="picker_give_number_start_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="give_number_start_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="give_number_start_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_give_number_start_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                ถึง
              </div>
              <div class="input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_end_date id="give_number_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_give_number_end_date" (click)="picker_give_number_end_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="give_number_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_give_number_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_give_number_end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align">วันที่ส่งกลับมา</label>
          </div>
          <div class="col-md-9">
            <div class="input-group">
              <div class=" input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_return_date id="give_number_return_date" class="form-control input" matInput
                      [matDatepicker]="picker_give_number_return_date" (click)="picker_give_number_return_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="give_number_return_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="give_number_return_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_give_number_return_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                ถึง
              </div>
              <div class="input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_end_date id="give_number_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_return_number_end_date" (click)="picker_return_number_end_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="return_number_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_return_number_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_return_number_end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group m-b-5">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align">วันที่พิจารณา</label>
          </div>
          <div class="col-md-9">
            <div class="input-group">
              <div class=" input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_number_consider_date id="number_consider_date" class="form-control input" matInput
                      [matDatepicker]="picker_number_consider_date" (click)="picker_number_consider_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="number_consider_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="number_consider_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_number_consider_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                ถึง
              </div>
              <div class="input-with-icon datepicker" style="width: 45%;">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_consider_date_end id="give_number_consider_date_end"
                      class="form-control input" matInput [matDatepicker]="picker_number_consider_date_end"
                      (click)="picker_number_consider_date_end.open()" autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="number_consider_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_number_consider_date_end">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_number_consider_date_end></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-group">
          <div class="col-md-3">
            <label class="nc-col-form-label nc-text-align"> สถานะ</label>
          </div>
          <div class="col-md-9">
            <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
              <div class="">
                <div class="">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    รอดำเนินการ
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group flex retro-manaul-checkbox">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                ส่งแก้ไข
                <span></span>
              </label>
            </div>
            <div class="form-group flex retro-manaul-checkbox">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                เสร็จสิ้น
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button" class="btn btn-white" (click)="onClickReset()">
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i> ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>
  <div class="kt-portlet__body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="select" style="width: auto;">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')" [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index" style="width: auto;">ลำดับ</td>
          <td class="public_week" style="width: auto;">รูปภาพ</td>
          <td class="public_notification_date" style="width: auto;">เลขที่ IRN</td>
          <td class="public_notification_date" style="width: auto;">เลขที่อ้างอิงคำขอ</td>
          <td class="public_due_date" style="width: auto;" colspan="2">เลขที่คำขอ</td>
          <td class="public_irn_number" style="width: auto;">เอกสาร</td>
          <td class="public_request_type" style="width: auto;"> วันที่ได้เลขทะเบียน</td>
          <td class="public_mask" style="width: auto;">วันที่เสนอ</td>
          <td class="public_receive_date" style="width: auto;">วันที่ส่ง WIPO</td>
          <td class="public_receive_date" style="width: auto;">เจ้าหน้าที่เสนอ</td>
          <td class="public_remark" style="width: auto;">รายละเอียดเพิ่มเติม</td>
          <td class="public_status_name" style="width: auto;">สถานะการดำเนินงาน</td>
          <td class="public_order" style="width: auto;">คำสั่ง</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicItem">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index" style="width: auto;">{{row_item.index}}</td>
          <td class="request_number" style="width: auto;"><img src="{{row_item.img}}"
              style="width: 30px; height: 30px;" /></td>

          <td>14000000</td>
          <td>14000000</td>
          <td class="public_type_name" style="width: auto">
            <div class="button-click-table">
              {{row_item.refNo}}
            </div>
          </td>
          <td class="public_source_name" style="width: auto;"><i class="fa fa-bars" aria-hidden="true"
              style="color: #0C84C8;"></i></td>
          <td>MM2</td>
          <td>10/09/2562</td>
          <td class="public_type" style="width: auto;">{{row_item.pic}}</td>
          <td class="public_type" style="width: auto;">{{row_item.pic}}</td>
          <td class="public_receiver_name" style="width: auto;">{{row_item.approvedate | date: 'dd/MM/yyyy'}}</td>
          <td class="public_remark" style="width: auto;">{{row_item.desc}}</td>
          <td>
            <div class="tag brand">
              รอให้งาน
            </div>
          </td>
          <td> <button class="btn btn-icon btn-brand">
              <i class="dip-icon-layer"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="kt-portlet__footer">
    <div class="row col-md-12">
      <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateRequest')">
          <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
        </select>
      </div>
      <div class="col-sm-12 col-md-2 m-b-5">
        <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
          รายการ</label>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
