<h1>CKEditor 5</h1>

<a
  href="https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/angular.html"
  target="_blank"
  >Documentation
</a>

<ckeditor [editor]="Editor" id="editor"></ckeditor>

<button (click)="save()">Save</button>
