:host {
  .kt-portlet__body__inner {
    flex-wrap: wrap;

    .kt-portlet__body-label {
      width: 100%;
    }

    &.nowrap {
      flex-wrap: nowrap;
    }

    &.body-inner-2 {
      margin-top: 20px;

      .kt-portlet__body-title {
        margin-bottom: 20px;
      }
    }
  }

  .kt-portlet {
    font-size: 16px;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
    }

    .input-wrapper {
      margin: 0 10px;
    }
  }

  .div_popup.is_view_show {
    .div_popup_body {
      width: 1500px;
    }
  }

  .div_popup.is_edit_show {
    .div_popup_body {
      width: 1085px;

      .dip-icon-search {
        margin-left: 20px;
        cursor: pointer;

        &:hover {
          color: #C31D1D;
        }
      }

      input.form-control, select.form-control {
        width: 325px;
      }

      textarea {
        width: 1020px;
        /*&#document_role05_check_remark {
          width: 1020px;
        }*/
      }
    }
  }

  .flex-column {
    flex-direction: column;
    /*width: 100%;*/
    & > label {
      justify-content: unset;
    }
  }


  .main-request-wrapper {
    /*display: -webkit-box;
      display: flex;*/
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 326px;
    height: 365px;
    border: 1px dashed #0C84C8;

    .bx-box-picture {
      margin: 0 auto;
      display: block;
      width: 100%;
      position: relative;
    }

    .button {
      /*padding: 16px 0;*/
      display: block;
      /*height: 124px;*/
      margin: 0 auto;
      width: 108px;
    }
  }

  .kt-checkbox {
    &.kt-checkbox--brand {
      &.kt-checkbox--tick {
        > span {
          background-color: #fff;
          border: 1px solid #EFF1F5 !important;
        }

        > input:checked {
          ~ span {
            background-color: #0C84C8;
          }
        }
      }
    }
  }

  .trademark-row {
    width: 100%;

    .trademark-image-wrapper {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 35px;
      position: relative;
      width: 398px;
      height: 278px;

      .sound-btn {
        position: absolute;
        left: 9px;
        top: 9px;
      }

      .select-view {
        position: absolute;
        right: 9px;
        top: 9px;

        .form-group {
          min-height: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .kt-checkbox {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .trademark-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .trademark-info-wrapper {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 14px 18px;
      position: relative;
      flex: 1 1 auto;
      min-height: 278px;
      margin-left: 20px;
      justify-content: flex;

      .form-row {
        margin-left: -18px;
        width: auto;

        &:after {
          content: '';
          display: flex;
          flex: 1 1 auto;
        }
      }

      .form-group {
        flex: 0 0 calc(25% - 18px);
        margin-left: 18px;

        &.btn-wrapper {
          justify-content: flex-end;
        }

        .input-wrapper-row {
          display: flex;

          .input-wrapper {
            display: flex;
            flex: 1 1 auto;
          }
        }

        .input-wrapper {
          margin-bottom: 0;

          &.with-button {
            .form-control {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }

            .btn {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              height: 37px;
              min-width: 37px;
              border-color: #EBEDF2;
              border-left: 0;
              font-size: 14px;

              &.btn-input-search {
                .dip-icon-search-plus {
                  &:before {
                    color: #6D6E71;
                  }
                }
              }
            }
          }
        }

        .form-control {
          width: 100%;
          background-color: #EBEDF2;

          &.input {
            height: 37px;
          }
        }

        .col-form-label {
          justify-content: flex-start;
          padding: 3px 0;
          min-height: 0;
          font-size: 14px;
        }

        .btn {
          &.q-and-a-page {
            margin-top: 27px;
            height: 37px;
            padding: 6px 12px;
            width: 131px;
          }

          &.btn-margin-right {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .checking-request-wrapper {
    /*width: 25%;*/
    min-width: 25%;
    margin-right: 20px;

    .checking-request-info {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 40px 20px 50px;
      min-height: 700px;
    }
  }

  .similar-number-wrapper {
    width: auto;
    flex: 1 1 auto;

    .btn-wrapper {
      margin: 0 auto;
      justify-content: flex-end;

      .btn {
        margin: 0 5px;
        width: 188px;
      }

      .btn-gray {
        background-color: #E2E2E2;
        color: #FFFFFF;
      }
    }
  }

  .table {
    &.similar-number-info {
      .table-inner {
        border: 1px solid #EFF1F5;

        .tr {
          .td {
            min-height: 40px;
            padding: 0 5px;
            border-right: 1px solid #EFF1F5;

            .btn {
              height: 31px;
              font-size: 12px;
              padding: 0 5px;

              &.btn-icon {
                width: 31px;
              }
            }

            .form-control {
              height: 31px;
              padding: 0 5px;
            }

            &.select {
              flex: 0 0 3%;
              max-width: 3%;
              justify-content: center;

              .kt-checkbox {
                &.kt-checkbox--brand {
                  &.kt-checkbox--tick {
                    > span {
                      &.disabled {
                        background-color: #BCBDC0;
                      }
                    }
                  }
                }
              }
            }

            &.order {
              flex: 0 0 4%;
              max-width: 4%;
              justify-content: center;
            }

            &.request-number {
              flex: 1 0 10%;
              justify-content: center;

              .request-number-box {
                border-radius: 4px;
                border: 1px solid #0C84C8;
                color: #0C84C8;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                height: 25px;

                &.checked {
                  background-color: #0C84C8;
                  color: #FFFFFF;
                }
              }
            }

            &.document {
              flex: 0 0 7%;
              max-width: 7%;
              justify-content: center;
            }

            &.owner {
              flex: 0 0 14%;
              max-width: 14%;
            }

            &.submit-date {
              flex: 0 0 9%;
              max-width: 9%;
              justify-content: center;
            }

            &.request-status {
              flex: 0 0 9%;
              max-width: 9%;
              justify-content: center;
            }

            &.document-status {
              flex: 0 0 7%;
              max-width: 7%;
              justify-content: center;
            }

            &.m-28 {
              flex: 0 0 4%;
              max-width: 4%;
              justify-content: center;
            }

            &.detail {
              flex: 0 0 14%;
              max-width: 14%;
            }

            &.status {
              flex: 1 0 10%;
              justify-content: center;

              .btn {
                width: 113px;
                font-size: 14px;

                &.btn-waiting {
                  background-color: #5E2088;
                  border: 1px solid #5E2088;

                  &:hover {
                    background-color: #7916BC;
                    border: 1px solid #7916BC;
                  }
                }

                &.btn-finish {
                  background-color: #BAC3D0;
                  border: 1px solid #BAC3D0;
                  pointer-events: none;
                }
              }
            }

            &.operation {
              flex: 1 0 7%;
              justify-content: space-around;

              .btn-gray {
                border: 1px solid #BAC3D0;
                background-color: #BAC3D0;

                .dip-icon-id-card {
                  &:before {
                    color: #FFFFFF;
                  }
                }

                .dip-icon-search-plus {
                  &:before {
                    color: #FFFFFF;
                  }
                }

                &:hover {
                  background-color: #B3B5B8;
                  border: 1px solid #B3B5B8;
                }
              }
            }

            &:last-child {
              border-right: 0;
            }
          }

          &.header {
            border-bottom: 1px solid #EFF1F5;

            .td {
              justify-content: center;
            }
          }
        }

        .table-data {
          & > .tr {
            &:nth-child(2n-1) {
              .td {
                background-color: white;
              }
            }

            &:nth-child(2n) {
              .td {
                background-color: #FBFCFD;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    .trademark-row {
      .trademark-info-wrapper {
        .form-group {
          .btn {
            &.q-and-a-page {
              width: 125px;
            }

            &.btn-margin-right {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
