<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title">
                <i class="dip dip-icon-play"></i>ประเภทคำขอสละสิทธิ
            </h4>
        </div>
        <!-- <div class="kt-portlet__head-action">

        </div> -->
    </div>
    <div class="kt-portlet__body" >
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรโรมัน คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรไทย คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรโรมันและอักษรไทย คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรจีน คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรญี่ปุ่น คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรไทย คำว่า ตรา
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรโรมันทั้งหมด ยกเว้น คำว่า
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรโรมัน คำว่า
            จะไม่ใช้สีแถบให้เหมือนหรือคล้ายสีธงชาติหรือสีอื่นที่คล้ายคลึงกับสีดังกล่าว
            <span></span>
            </label>
        </div>
   
        <div class="col-12 ml-2 m-b-10">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าขอรับรองว่าจะไม่ใช้สีแถบให้เหมือนหรือคล้ายสีธงชาติ หรือสีอื่นที่คล้ายคลึงกับสีดังกล่าว
            <span></span>
            </label>
        </div>
        <div class="col-12 ml-2 m-b-10" style="margin-left: 10px;">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox" class="m-l">
            ข้าพเจ้าไม่ขอถือเป็นสิทธิของตนแต่เพียงผู้เดียวที่จะใช้ ข้าพเจ้าขอรับรองว่าจะไม่ใช้รูปกากบาทให้เป็นสีแดงหรือสีเขียวบนพื้นสีขาวหรือสีเงิน<br> 
            หรือรูปกากบาทสีขาวหรือสีเงินบนพื้นสีแดง หรือสีอื่นที่คล้ายคลึงกับสีดังกล่าว
            <span></span>
            </label>
        </div>
   
</div>
<div class="kt-portlet__footer ">
    <div class="button-list">
        <button type="button" class="btn btn-primary" (click)="onBackStep()">
            <i class="fa fa-arrow-left"></i> 
            เสร๊จสิ้น
        </button>

    </div>
</div>
</div>