<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head" style="background-color: #0C84C8;">
    <div class="kt-portlet__head-label" >
      <h5 class="kt-portlet__head-title" style="font-size: medium;color: white;">
        <i class="dip-icon-play"></i> หัวหน้ากลุ่มพิจารณา (แจ้งการชำระเงิน)
      </h5>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-4">
        <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;">
          ข้อมูลทั่วไป
        </h4>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">เลขที่อ้างอิงคำขอ</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">วันที่ยื่นคำขอ</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">วันที่ครบกำหนด</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">เลขที่คำขอ</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">เจ้าของ</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">ตัวแทน</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">ที่อยู่</label>
          <div class="input-wrapper">
            <!-- <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" /> -->
              <textarea class="form-control" style="width: 100%; font-size: small; min-height: 7rem;" type="text" autocomplete="off" disabled="disabled"></textarea>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-4">
        <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;">
          รายละเอียดการเสนอพิจารณา
        </h4>
      </div>
    </div>
    <div class="form-row">
      <div class="col-8">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">เรื่อง</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">วันที่เสนอ</label>
          <div class="input-wrapper">
            <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">รายละเอียดที่เสนอ</label>
          <div class="input-wrapper">
            <!-- <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" /> -->
              <textarea class="form-control" style="width: 100%; font-size: small;" type="text" autocomplete="off" disabled="disabled"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group ">
          <label class="form-label input-wrapper " style="width: 100%; font-size: small;">รายละเอียดเพิ่มเติม</label>
          <div class="input-wrapper">
            <!-- <input class="form-control input " style="width: 100%; font-size: small;" type="text" autocomplete="off"
              disabled="disabled" /> -->
              <textarea class="form-control" style="width: 100%; font-size: small;" type="text" autocomplete="off" disabled="disabled"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer " style="border: 0px;">
    <div class="button-list">
      <button type="button" class="btn btn-white" (click)="closeModal()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>