<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-4">
        <div class="row">
          <div class="kt-portlet__body__inner public-role01-item-lister">
            <div class="form-group flex">
              <label class="col-form-label">เลขที่อ้างอิงคำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input" type="text" placeholder="เพิ่มข้อความ" autocomplete="off" />
                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="kt-portlet__body__inner public-role01-item-lister">
            <div class="form-group flex">
              <label class="col-form-label">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <textarea class="form-control input" type="text" placeholder="เพิ่มข้อความ" autocomplete="off"
                  style="width: 375px;"></textarea>
                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
              {{validate[key_irn_number.id]}}
            </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-4">
        <div class="row">
          <div class="kt-portlet__body__inner public-role01-item-lister">
            <div class="form-group flex">
              <label class="col-form-label">เอกสาร</label>
              <div class="input-wrapper">
                <select #key_job_reciver class="form-control" [(ngModel)]='selectedDoc'>
                  <option *ngFor="let item of doc">
                    {{item.text}}
                  </option>
                </select>

                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_job_reciver.id]" class="invalid-feedback">
                    {{validate[key_job_reciver.id]}}
                  </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="kt-portlet__body__inner public-role01-item-lister">
            <div class="form-group flex">
              <label class="col-form-label">วันที่ยืนยัน</label>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_InquireDate_send id="inquireDate_send" class="form-control input" matInput
                      [matDatepicker]="picker_InquireDate" (click)="picker_InquireDate.open()"
                      [(ngModel)]="input[key_InquireDate_send.id]" (dateChange)="clearValidate(key_InquireDate_send.id)"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="picker_InquireDate">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_InquireDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_InquireDate></mat-datepicker>
                </mat-form-field>

                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_recive_date.id]" class="invalid-feedback">
                    {{validate[key_recive_date.id]}}
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="kt-portlet__body__inner public-role01-item-lister">
            <div class="form-group flex">
              <label class="col-form-label">วันที่ยืนยัน</label>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_endDate_send id="endDate_send" class="form-control input" matInput
                      [matDatepicker]="picker_endDate" (click)="picker_endDate.open()"
                      [(ngModel)]="input[key_endDate_send.id]" (dateChange)="clearValidate(key_endDate_send.id)"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="picker_endDate">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_endDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_endDate></mat-datepicker>
                </mat-form-field>

                <div class="feedback-wrapper">
                  <!-- <div *ngIf="validate[key_recive_date.id]" class="invalid-feedback">
                    {{validate[key_recive_date.id]}}
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-4">
        <div class="row">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex retro-manaul-checkbox">
              <label class="col-form-label">
                สถานะ
              </label>
              <div class="input-wrapper">
                <div class="input-wrapper-row">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    รอดำเนินการ
                    <span></span>
                  </label>
                </div>
                <div class="input-wrapper-row">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    บันทึก
                    <span></span>
                  </label>
                </div>
                <div class="input-wrapper-row">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    รอตรวจสอบ
                    <span></span>
                  </label>
                </div>
                <div class="input-wrapper-row">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    เสร็จสิ้น
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="button-list" style="margin-bottom: 30px;">
        <button type="button" class="btn btn-brand" (click)="open()">
          <i class="dip-icon-search"></i>
          ค้นหา
        </button>
        <button type="button" class="btn btn-white" (click)="onClickReset()">
          <i class="dip-icon-reset"></i>
          เริ่มใหม่
        </button>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i> ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table style="width: auto;" class="table table-bordered">
            <thead>
              <tr>
                <td class="select" style="width: auto;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                      [checked]="input.is_check_all" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto;">ลำดับ</td>
                <td class="public_week" style="width: auto;">รูปภาพ</td>
                <td class="public_notification_date" style="width: auto;">เลขที่อ้างอิงคำขอ</td>
                <td class="public_due_date" style="width: auto;" colspan="2">เลขที่คำขอ</td>
                <td class="public_irn_number" style="width: auto;">เอกสาร</td>
                <td class="public_request_type" style="width: auto;">วันที่ยื่น WIPO</td>
                <td class="public_mask" style="width: auto;">วันที่ครบกำหนด WIPO</td>
                <td class="public_receive_date" style="width: auto;">เจ้าหน้าที่ตรวจสอบ</td>
                <td class="public_remark" style="width: auto;">หมายเหตุ</td>
                <td class="public_status_name" style="width: auto;">สถานะ</td>
                <td class="public_order" style="width: auto;">คำสั่ง</td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listPublicItem">
                <td class="select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                      [checked]="row_item.is_check" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto;">{{row_item.index}}</td>
                <td class="request_number" style="width: auto;"><img src="{{row_item.img}}"
                    style="width: 30px; height: 30px;" /></td>
                <td class="public_type_name" style="width: auto">
                  <div class="button-click-table">
                    {{row_item.refNo}}
                  </div>
                </td>
                <td class="public_source_name" style="width: auto;">{{row_item.requestNo}}</td>
                <td class="public_source_name" style="width: auto;"><i class="fa fa-bars" aria-hidden="true"
                    style="color: #0C84C8;"></i></td>
                <td class="instruction_send_date_text" style="width: auto;">{{row_item.doc}}</td>
                <td class="public_receive_date_text" style="width: auto;">{{row_item.createdate | date: 'dd/MM/yyyy'}}
                </td>
                <td class="public_type" style="width: auto;">{{row_item.pic}}</td>
                <td class="public_receiver_name" style="width: auto;">{{row_item.approvedate | date: 'dd/MM/yyyy'}}</td>
                <td class="public_remark" style="width: auto;">{{row_item.desc}}</td>
                <td class="public_status_name" style="width: auto;">
                  <div
                    [ngClass]="{'status-save': row_item.statusprogress === 'บันทึก' , 'status-wait': row_item.statusprogress === 'รอตรวจสอบ' || row_item.statusprogress === 'เสร็จสิ้น', 'status-wait-progress': row_item.statusprogress === 'รอดำเนินการ'}">
                    {{row_item.statusprogress}}
                  </div>
                </td>
                <td>
                  <button class="btn btn-icon button-bule">
                    <i class="dip-icon-play"></i>
                  </button>

                  <button class="btn btn-icon button-white">
                    <i class="dip-icon-document-tray"></i>
                  </button>

                  <button class="btn btn-icon button-grey">
                    <i class="dip-icon-search"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


  <div class="kt-portlet__footer ">
    <!-- <app-paging [pag]="paginatePublicItem" (onClickList)="onClickPublicRole01ItemList()"></app-paging> -->
  </div>

</div>