<div class="kt-portlet ">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-forward"></i> โอนงาน
      </h3>
    </div>
    <button class="btn btn-icon btn-brand" (click)="closeModal()">
      <i class="dip-icon-close"></i>
    </button>
  </div>

  <div class="form-row">

    <div class="col-5">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="input-group m-b-5">

            <div class="kt-portlet__body">
              <h3 class="kt-portlet__head-title" style="color: #0C84C8;text-align: center;">
                บุคคลที่ 1
              </h3>
              <img class="rounded-circle"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                alt="" style="width: 99%;padding-top: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2" style="align-self:center">
      <i class="dip-icon-forward" style="font-size: 50px;justify-content: center;"></i>
    </div>

    <div class="col-5">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="input-group m-b-5">

            <div class="kt-portlet__body">
              <h3 class="kt-portlet__head-title" style="color: #0C84C8;text-align: center;">
                บุคคลที่ 2
              </h3>
              <img class="rounded-circle"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                alt="" style="width: 99%;padding-top: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="input-group m-b-5">
        <div class="col-2" style="text-align: right; margin-top: 4px;">
          <label class="nc-col-form-label nc-text-align"> ตำเหน่ง</label>
        </div>
        <div class="col-9">
          <input #key_year class="form-control input" type="number" id="year" placeholder="เจ้าหน้าที่"
            [(ngModel)]="input[key_year.id]" autocomplete="off" style="width: 300px;" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_year.id]" class="invalid-feedback">
              {{validate[key_year.id]}}
            </div>
          </div>
        </div>
      </div>


      <div class="input-group m-b-5">
        <div class="col-2" style="text-align: right; margin-top: 4px;">
          <label class="nc-col-form-label nc-text-align"> ชื่อ</label>
        </div>
        <div class="col-md-9">
          <input class="form-control input" type="text" placeholder="เพิ่มข้อความ" autocomplete="off" />
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group m-b-5">
        <div class="col-2" style="text-align: right; margin-top: 4px;">
          <label class="nc-col-form-label nc-text-align"> ตำเหน่ง</label>
        </div>
        <div class="col-9">
          <input #key_year class="form-control input" type="number" id="year" placeholder="นายทะเบียน"
            [(ngModel)]="input[key_year.id]" autocomplete="off" style="width: 300px;" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_year.id]" class="invalid-feedback">
              {{validate[key_year.id]}}
            </div>
          </div>
        </div>
      </div>


      <div class="input-group m-b-5">
        <div class="col-2" style="text-align: right; margin-top: 4px;">
          <label class="nc-col-form-label nc-text-align"> ชื่อ</label>
        </div>
        <div class="col-md-9">
          <input class="form-control input" type="text" placeholder="เพิ่มข้อความ" autocomplete="off" />
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          รายการโอนงาน
        </h3>
      </div>
      <div class="kt-portlet__head-action">

      </div>
    </div>

    <div class="kt-portlet__body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class="index" style="width: auto;">#</td>
            <td class="public_week" style="width: auto;">เลขที่อ้างอิงคำขอ</td>
            <td class="public_notification_date" style="width: auto;">เลขที่คำขอ</td>
            <td class="public_due_date" style="width: auto;">เอกสาร</td>
            <td class="public_irn_number" style="width: auto;">วันที่ส่งมา</td>
            <td class="public_request_type" style="width: auto;">สถานะ</td>
            <td class="public_request_type" style="width: auto;">คำสั่ง</td>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listPublicItem">
            <td class="index" style="width: auto;">{{row_item.index}}</td>
            <td style="color:#0C84C8;">TH17991551</td>
            <td class="public_type_name" style="width: auto">
              <div class="button-click-table">
                {{row_item.refNo}}
              </div>
            </td>
            <td>MM2</td>
            <td class="public_receiver_name" style="width: auto;">{{row_item.approvedate | date: 'dd/MM/yyyy'}}</td>

            <!-- <td class="instruction_send_date_text" style="width: auto;">{{row_item.doc}}</td>
            <td>10/09/2562</td>
            <td class="public_receive_date_text" style="width: auto;">{{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
            <td class="public_type" style="width: auto;">{{row_item.pic}}</td>
            <td class="public_receiver_name" style="width: auto;">{{row_item.approvedate | date: 'dd/MM/yyyy'}}</td>
            <td class="public_remark" style="width: auto;">{{row_item.desc}}</td> -->
            <!-- <td class="public_status_name" style="width: auto;">
              <div
                [ngClass]="{'status-save': row_item.statusprogress === 'บันทึก' , 'status-wait': row_item.statusprogress === 'รอตรวจสอบ'}">
                {{row_item.statusprogress}}
              </div>
            </td> -->
            <td>
              <div class="tag brand">
                รอให้งาน
              </div>
            </td>

            <td> <button class="btn btn-icon btn-brand" style="background-color: #E34132;border-color: #E34132;">
                <i class="dip-icon-close"></i>
              </button>
            </td>


          </tr>
        </tbody>
      </table>

    </div>


    <div class="kt-portlet__footer">
      <div class="row col-md-12">

        <div class="col-6">
          <div class="row">
            <div class="col-sm-12 col-md-4 m-b-5" style="padding:0px;">
              <label class="nc-col-form-label  p-t-10" for="present_start_date"> จำนวนแถวที่แสดง</label>
            </div>
            <div>
              <select class="form-control kt-font-brand"
                (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
              </select>
            </div>
            <div class="col-sm-12 col-md-2 m-b-5">
              <label class="nc-col-form-label  p-t-10" for="present_start_date"> จากทั้งหมด 5</label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row" style="justify-content:flex-end">
            <div class="col-sm-12 col-md-4 m-b-5">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                งานด่วน
                <span></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-4 m-b-5">
              <button class="btn btn-brand nc-button-float-right" (click)="onClickModal()"
                style="border-color: #BAC3D0;background-color: #BAC3D0;">
                <i class="dip-icon-forward"></i>
                โอนงาน
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
