<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title">
                <i class="dip dip-icon-play"></i>MODEL FORM 8: Completion of Ex Officio Examination - Interim Status of
                a Mark (Rule 18bis of the Common Regulations)
            </h4>
        </div>
        <!-- <div class="kt-portlet__head-action">

        </div> -->
    </div>

    <div class="kt-portlet__body" style="padding-bottom: 0px; padding-top: 0px;">

        <div class="row">

            <div class="col-lg-5 col-sm-12 border border-secondary border-top-0 border-bottom-0 "
                style="min-height: 88rem;min-height: 88rem; overflow-y: auto; overflow-x: hidden;">
                <div>
                    <div class="row btm-border">
                        <div class="col-6" style="margin-top: 10px;">
                            <h4 class="sub-head-title m-l ">คำสั่งนายทะเบียนของกรมทรัพย์สินทางปัญญา </h4>
                        </div>

                        <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; color: rgb(79, 166, 248); border: 1px solid rgb(79, 166, 248);">
                                พิจารณาเอกสาร <i class="fa fa-arrows-v"></i></button>
                        </div>
                        <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; margin-bottom: 10px; color: white;background-color: rgb(136, 136, 136);">
                                <i class="fa fa-stack-overflow"></i> เอกสารแสกน</button>
                        </div>
                    </div>

                    <div class="row mt-2 justify-content-center">

                        <div class="border rounded" style="">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-icon button-bule">
                                        <i class="fa fa-volume-off" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-icon button-bule">
                                        2D
                                    </button>

                                    <button class="btn btn-icon button-bule">
                                        3D
                                    </button>
                                </div>
                            </div>

                            <img src="https://www.ipthailand.go.th/images/001/DIP-Logo.png" style="width: 322px;" />
                        </div>
                        <div class="col-12 mt-2 ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">เลขที่คำขอ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">เลขทะเบียนระหว่างประเทศ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่ยื่น</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่จดทะเบียน</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">ชื่อเจ้าของ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">ชื่อตัวแทน</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">จำพวก</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">สินค้าบริการ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">นายทะเบียน</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">เจ้าหน้าที่แปล</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่มีการแจ้งให้ WIPO ให้มีการแก้ไขข้อมูล</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่สิ้นสุดการแจ้งให้ผู้ยื่นมีการแก้ไขข้อมูล</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่เริ่มต้นการประกาศ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-12">
                                            <label for="">วันที่สิ้นสุดการประกาศ</label>
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" disabled type="text" name="" id="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-sm-12 ">
                <div class="row">
                    <div class="col-12" style="margin-top: 10px; margin-bottom: 10px;">
                        <h4 class="sub-head-title">ข้อมูลทั่วไป</h4>
                    </div>
                </div>

                <div class="row btm-border">

                    <div class="col-lg-4 ">

                        <div class="border rounded" style="">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-icon button-bule">
                                        <i class="fa fa-volume-off" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-icon button-bule">
                                        2D
                                    </button>

                                    <button class="btn btn-icon button-bule">
                                        3D
                                    </button>
                                </div>
                            </div>

                            <img src="https://www.ipthailand.go.th/images/001/DIP-Logo.png" style="width: 322px;" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 border  rounded " style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">เลขที่คำขอ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">วันที่ยื่นคำขอ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">ชื่อเจ้าของ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">สินค้า/บริการ</label>
                                    </div>
                                    <div class="col-12" style="margin-bottom: 10px;">
                                        <textarea class="form-control" name="" id="" cols="30" rows="2"
                                            disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h6 class="sub-head-title">คำสั่งนายทะเบียน Madrid</h6>
                    </div>
                    <hr>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <h4 class="" style="padding-left: 5px;"> STATEMENT OF TOTAL GRANT OF PROTECTION</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="">Lorem ipsum dolor sit amet, cu sed dolorem deleniti, epicuri apeirian petentiumad has. At debitis omittam pro, 
                                    admodumscriptorem eu nam, cu mediocrem inciderint persequeris per. Ius et probo facilis, pri decore intellegebat at, ei 
                                    sed purto clita. Ut ceteros feugait quo, amet natum disputando per ut.</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">l. Office making the declaration</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">ll. Number of the international registration: </label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">National Application No.</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">lll. Name of the holder</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">lV. Information concerning a possible previous notification of provisional refusal:</label>
                            </div>
                            <div class="col-12">
                                <div class="row">
                               
                                    <div class="col-11 ml-2 m-l">
                                        <p class="m-l">A Notification of provisional refusal: </p>
                                    </div>
                                    <div class="col-12 ml-2">
                                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox" class="m-l">
                                        has NOT been communicated by the Office (Rule 18bis(1)(a))
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox" class="m-l">
                                        has been communicated by the Office (Rule 18bis(1)(b))
                                        <span></span>
                                    </label>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2  form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">V. Information concerning the opposition period or the period to file observations:</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 ml-2">
                        
                                <div class="col-12">
                                    <label class="m-l-40"> Please, provide the following information :</label>
                                </div>
                                <div class="col-12">
                                    <label class="m-l-40"> (i) Date on which the opposition period or the period to file observations begins:  </label>
                                </div>
                                <div class="col-12">
                                    <input type="text" disabled class="form-control">
                                </div>
                                <div class="col-12">
                                    <label class="m-l-40"> (ii) Date on which the opposition period or the period to file observations ends: </label>
                                </div>
                                <div class="col-12">
                                    <input type="text" disabled class="form-control">
                                </div>
                                
                            </div>

                            <div class="col-12 " style="margin-top: 20px;">
                                <label for=""> Vl. Signature or official seal of the Office sending the statement
                                </label>
                            </div>
                            <div class="col-12" style="text-align: center;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="" style="min-width: 200px;max-height: 200px;">
                            </div>
                            <div class="col-12" style="text-align: center;">
                                <p>Miss Somsri Srisom </p>
                                <p>Authorized Officer's Signature</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-8 col-md-12">
                        <label for=""> Vll. Date of notification to the international Bureau </label>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="input-wrapper input-with-icon datepicker">
                            <mat-form-field>
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input #key_recive_date id="recive_date" class="form-control input" matInput
                                        [matDatepicker]="picker_recive_date" (click)="picker_recive_date.open()"
                                        (dateChange)="clearValidate(key_recive_date.id)" autocomplete="off" disabled>
                                    <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                        for="instruction_send_start_date">
                                        <i class="dip-icon-calendar"></i>
                                    </label>
                                </div>
                                <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker_recive_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                   
                </div>
                <div class="row mt-3 mb-3">
                    <div class="button-list">
                        <button type="button" class="btn btn-white" (click)="onBackStep()">
                            <i class="fa fa-file-text-o"></i>
                            ดูเอกสารร่าง
                        </button>

                        <button type="button" class="btn btn-brand">
                            <!-- <i class="dip-icon-paper-plane"></i> -->
                            บันทึก
                        </button>
                    </div>
                </div>
                <div class="row justify-content-end mt-2 mb-2">
                    <div class="col-2">
                        <button type="button" class="btn btn-brand">
                            <i class="dip-icon-save"></i>
                            บันทึก
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="kt-portlet__footer ">
        <div class="button-list">
            <button type="button" class="btn btn-primary" (click)="onBackStep()">
                <i class="dip-icon-paper-plane"></i>
                ส่งออก WIPO
            </button>

            
        </div>
    </div>

</div>