<div class="container-inner eform-home flex">
  <div class="eform-content">
    <div class="header">
      <div class="title">
        แบบฟอร์มทั้งหมด
      </div>

      <div class="form-group flex input-with-icon">
        <input
          class="form-control input"
          type="text"
          placeholder="พิมพ์เพื่อค้นหาฟอร์ม"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearch()"
        />
        <button
          class="btn btn-input-search btn-icon"
          type="button"
          (click)="onSearch()"
        >
          <i class="dip-icon-search"></i>
        </button>
      </div>
    </div>

    <div class="body">
      <div class="form-section">
        <div class="section-title">
          บันทึกคำขอ (มีค่าธรรมเนียม)
          <span class="amount"
            >{{ getSizeForm("fee") }}<span class="unit">แบบฟอร์ม</span></span
          >
        </div>

        <div class="form-list">
          <ng-container *ngFor="let item of formList">
            <div class="form-card type-a" *ngIf="item.type == 'fee'">
              <div class="form-icon">
                <i class="dip-icon-file-alt"></i>
              </div>

              <div class="form-detail">
                <div class="form-title">
                  {{ item.title }}
                </div>

                <div class="form-description">
                  {{ item.description }}
                </div>
              </div>

              <button class="btn btn-eform-secondary" (click)="go(item.code)">
                ยื่น
              </button>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-section">
        <div class="section-title">
          บันทึกคำขอ (ไม่มีค่าธรรมเนียม)
          <span class="amount"
            >{{ getSizeForm("noFee") }}<span class="unit">แบบฟอร์ม</span></span
          >
        </div>

        <div class="form-list">
          <ng-container *ngFor="let item of formList">
            <div class="form-card type-b" *ngIf="item.type == 'noFee'">
              <div class="form-icon">
                <i class="dip-icon-blank-paper"></i>
              </div>

              <div class="form-detail">
                <div class="form-title">
                  {{ item.title }}
                </div>

                <div class="form-description">
                  {{ item.description }}
                </div>
              </div>

              <button class="btn btn-eform-secondary" (click)="go(item.code)">
                ยื่น
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
