<div class="container-inner flex">
  <div class="step-panel">
    <!--
      STEP ITEM
        state passed/current/is-open,
        and modifier class [required/ has-sub-item]
    -->
    <ng-container *ngFor="let menu of menuList">
      <div
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: stepPass > menu.number,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number
        }"
      >
        <div
          class="item-name"
          [ngStyle]="{ cursor: menu.canedit ? 'pointer' : 'auto' }"
          (click)="backtomenu(menu.canedit, menu.number)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            {{ currentStep == menu.number && currentSubstep == sub.number }}
            <div
              class="step-sub-item"
              [ngClass]="{
                current:
                  currentStep == menu.number && currentSubstep == sub.number
              }"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 1">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  #key_email
                  id="email"
                  class="form-control input"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [(ngModel)]="input.email"
                  [ngClass]="validate[key_email.id] ? 'is-invalid' : null"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate[key_email.id]" class="invalid-feedback">
                    {{ validate[key_email.id] }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  #key_telephone
                  id="telephone"
                  class="form-control input"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [(ngModel)]="input.telephone"
                  [ngClass]="validate[key_telephone.id] ? 'is-invalid' : null"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_telephone.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_telephone.id] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 1 Form -->

    <!-- Start Step 2 Form -->
    <div class="flex step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. คำขอต่ออายุการจดทะเบียนเครื่องหมายการค้า (ก.07)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label" style="color: #6d6e71;">
                วันที่ยื่นคำขอต่ออายุ
              </label>

              <div class="input-wrapper">
                <div class="row">
                  <div class="col-10">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [(ngModel)]="input.request_date_text"
                      readonly
                    />
                  </div>
                  <div class="col-2"></div>
                </div>

                <div class="feedback-wrapper">
                  <div
                    [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                    *ngIf="fasle"
                  >
                    error
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" style="color: #6d6e71;">
                คำขอเลขที่*
              </label>

              <div class="input-wrapper">
                <div class="row">
                  <div class="col-10">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [(ngModel)]="input.request_number"
                    />
                  </div>
                  <div class="col-2">
                    <button
                      class="btn btn-primary"
                      style="
                        background-color: #0c84c8;
                        border-color: #0c84c8;
                        color: white;
                      "
                      (click)="SearchRequesNumber()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                </div>

                <div class="feedback-wrapper">
                  <div
                    [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                    *ngIf="fasle"
                  >
                    error
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" style="color: #6d6e71;">
                ทะเบียนเลขที่
              </label>

              <div class="input-wrapper">
                <div class="row">
                  <div class="col-10">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [(ngModel)]="input.registration_number"
                      readonly
                    />
                  </div>
                  <div class="col-2"></div>
                </div>

                <div class="feedback-wrapper">
                  <div
                    [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                    *ngIf="fasle"
                  >
                    error
                  </div>
                </div>
              </div>
            </div>

            <!--<button class="btn btn-eform-secondary btn-icon-right"
                  (click)="changeStep('next')">
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>-->
          </div>
        </div>
        <div class="kt-portlet__footer" *ngIf="input.request_date_text != null">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 2 Form -->

    <!-- Start Step 3 Form -->
    <div class="flex step-basic" *ngIf="currentID == 3">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              ประเภทการยื่น *
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <label class="kt-radio kt-radio--bold kt-radio--brand">
            <input
              name="radioType"
              type="radio"
              [value]="0"
              [(ngModel)]="typeS2"
              (click)="binding('input', 'save070_submit_type_code', 'NEW')"
            />
            ยื่นใหม่
            <span></span>
          </label>
          <div class="flex" style="height: 50px;">
            <div style="padding-top: 20px; padding-right: 30px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radioType"
                  type="radio"
                  [value]="1"
                  [(ngModel)]="typeS2"
                  (click)="binding('input', 'save070_submit_type_code', 'INSTRUCTION')"
                />
                ยื่นโดยคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
            <span></span>
            <div *ngIf="typeS2 == 1">
              เลขอ้างอิงตค.
              <input type="text" class="form-control input" [(ngModel)]="rule_number"/>
            </div>
          </div>
        </div>
        <div class="kt-portlet__footer" *ngIf="typeS2 != null">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 3 Form -->

    <!-- Start Step 4 Form -->
    <div class="owner-and-agent" *ngIf="currentID == 4">
      <div class="inner-wrapper">
        <div class="header-note">
          * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'people_list')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              เจ้าของ
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.people_list; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="toggleModal('isModalOwnerFormOpen', i, 'people_list')"
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'people_list', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal(
                'isModalAgentFormOpen',
                undefined,
                'representative_list'
              )
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption">
              เพิ่มตัวแทน <br />
              <span class="note">(ถ้ามี)</span>
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.representative_list; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalAgentFormOpen', i, 'representative_list')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="
                  onClickRemoveInTable('input', 'representative_list', i)
                "
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div
          class="form-group flex"
          *ngIf="input.representative_list.length > 0"
        >
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน*
          </label>

          <div class="input-wrapper">
            <select
              required
              class="form-control"
              [(ngModel)]="input.save070_representative_condition_type_code"
              (input)="
                clearValidate('save070_representative_condition_type_code')
              "
            >
              <option
                *ngFor="
                  let item of master.addressRepresentativeConditionTypeCodeList
                "
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>

        <div class="form-group step-three-next">
          <div class="input-wrapper">
            <div class="feedback-wrapper">
              <div *ngIf="validate.step4" class="invalid-feedback">
                {{ validate.step4 }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="changeStep('next')"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 4 Form -->

    <!-- Start Step 5 Form -->
    <div class="flex domestic-contact-address" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. สถานที่ติดต่อภายในประเทศไทย
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div *ngFor="let item of master.addressTypeCodeList">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <div class="flex">
                    <label class="kt-radio kt-radio--bold kt-radio--brand">
                      <input
                        name="radioType2"
                        type="radio"
                        [value]="item.code"
                        [(ngModel)]="input.save070_contact_type_code"
                        (change)="contactTypeChange()"
                      />
                      {{ item.name }}

                      <span></span>
                    </label>

                    <select
                      *ngIf="
                        item.code != 'OTHERS' &&
                        item.code == input.save070_contact_type_code &&
                        listdropdownContact != null &&
                        listdropdownContact.length > 1
                      "
                      class="form-control"
                      (change)="
                        contactChange(contactChangeType, $event.target.value)
                      "
                      [value]="input.save070_contact_index"
                      [(ngModel)]="input.save070_contact_index"
                    >
                      <option
                        *ngFor="let item of listdropdownContact; index as i"
                        [value]="i"
                      >
                        {{ ContactWord }} {{ i + 1 }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="other-contact-address-form flex flex-wrap"
            *ngIf="input.save070_contact_type_code == 'OTHERS'"
          >
            <div
              class="kt-portlet__body__inner select-domestic-contact-address"
            >
              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fullname"
                  >
                    คำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย<span
                      class="required"
                      >*</span
                    >
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      #key_nameS6
                      id="nameS6"
                      [(ngModel)]="contactAddress.name"
                      placeholder="ระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย"
                      [ngClass]="validate[key_nameS6.id] ? 'is-invalid' : null"
                      (input)="clearValidate(key_nameS6.id)"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_nameS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_nameS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group"></div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address"
                  >
                    ที่อยู่<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      #key_house_numberS6
                      id="house_numberS6"
                      [(ngModel)]="contactAddress.house_number"
                      placeholder="ระบุที่อยู่"
                      [ngClass]="
                        validate[key_house_numberS6.id] ? 'is-invalid' : null
                      "
                      (input)="clearValidate(key_house_numberS6.id)"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_house_numberS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_house_numberS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_village_number"
                  >
                    หมู่ที่
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      id="other_domestic_contact_address_village_number"
                      [(ngModel)]="contactAddress.village_number"
                      placeholder=""
                      [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="fasle" class="invalid-feedback">
                        Message Feedback
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_alley_name"
                  >
                    ตรอก/ซอย
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      id="other_domestic_contact_address_alley_name"
                      [(ngModel)]="contactAddress.alley"
                      placeholder="ระบุตรอก หรือ ซอย"
                      [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="fasle" class="invalid-feedback">
                        Message Feedback
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_road_name"
                  >
                    ถนน
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      id="other_domestic_contact_address_road_name"
                      [(ngModel)]="contactAddress.street"
                      placeholder="ระบุถนน"
                      [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="fasle" class="invalid-feedback">
                        Message Feedback
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group fluid">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_subDistrict_district_province"
                  >
                    ตำบล/อำเภอ/จังหวัด<span class="required">*</span>
                  </label>

                  <div class="input-wrapper input-with-icon autocomplete">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input
                          class="form-control input"
                          #key_address_sub_district_nameS6
                          id="address_sub_district_nameS6"
                          [(ngModel)]="contactAddress.address_sub_district_name"
                          [ngClass]="
                            validate[key_address_sub_district_nameS6.id]
                              ? 'is-invalid'
                              : null
                          "
                          (input)="
                            clearValidate(key_address_sub_district_nameS6.id)
                          "
                          type="text"
                          placeholder="ระบุตำบล อำเภอ และจังหวัด"
                          matInput
                          [matAutocomplete]="autoTwo"
                        />

                        <label
                          class="kt-input-icon__icon kt-input-icon__icon--right"
                          for="subDistrict_district_province"
                        >
                          A
                        </label>
                      </div>

                      <mat-autocomplete #autoTwo="matAutocomplete">
                        <mat-option [value]="'test'">
                          test
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_address_sub_district_nameS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_address_sub_district_nameS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_zipcode"
                  >
                    รหัสไปรษณีย์<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      #key_postal_codeS6
                      id="postal_codeS6"
                      [(ngModel)]="contactAddress.postal_code"
                      placeholder="ระบุรหัสไปรษณีย์"
                      [ngClass]="
                        validate[key_postal_codeS6.id] ? 'is-invalid' : null
                      "
                      (input)="clearValidate(key_postal_codeS6.id)"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_postal_codeS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_postal_codeS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_country"
                  >
                    อีเมล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      #key_emailS6
                      id="emailS6"
                      [(ngModel)]="contactAddress.email"
                      placeholder="ระบุรหัสไปรษณีย์"
                      [ngClass]="validate[key_emailS6.id] ? 'is-invalid' : null"
                      (input)="clearValidate(key_emailS6.id)"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_emailS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_emailS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_mobile_number"
                  >
                    โทรศัพท์<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      #key_telephoneS6
                      id="telephoneS6"
                      [(ngModel)]="contactAddress.telephone"
                      placeholder="ระบุโทรศัพท์"
                      [ngClass]="
                        validate[key_telephoneS6.id] ? 'is-invalid' : null
                      "
                      (input)="clearValidate(key_telephoneS6.id)"
                      maxlength="10"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate[key_telephoneS6.id]"
                        class="invalid-feedback"
                      >
                        {{ validate[key_telephoneS6.id] }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fax_number"
                  >
                    โทรสาร
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      id="other_domestic_contact_address_fax_number"
                      [(ngModel)]="contactAddress.fax"
                      placeholder="ระบุเบอร์โทรสาร"
                      [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="fasle" class="invalid-feedback">
                        Message Feedback
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="kt-portlet__footer"
            *ngIf="input.save070_contact_type_code != null"
          >
            <div class="kt-portlet__footer__inner">
              <button
                class="btn btn-eform-secondary btn-icon-right"
                (click)="changeStep('next')"
              >
                ถัดไป
                <i class="dip-icon-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 5 Form -->

    <!-- Start Step 6 Form -->
    <div class="flex brand-logo-image" *ngIf="currentID == 6">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. พวกและรายการสินค้า/บริการ(ก่อนต่ออายุ)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body" style="height: 550px; overflow-y: auto;">
          <div class="kt-portlet__body__inner brand-logo-image-form">
            <div class="form-group brand-logo-image-type">
              <div class="table" style="margin-bottom: 0;">
                <div class="table-inner" style="margin-bottom: 0;">
                  <div class="tr header">
                    <!-- <div class="td order" style="width:50px;">
                    <div class="checkbox">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input type="checkbox" value="">
                        <span></span>
                      </label>
                    </div>
                  </div> -->
                    <div class="td group" style="width: 100px;">
                      #
                    </div>
                    <div class="td product-service-name" style="width: 375px;">
                      จำพวก
                    </div>
                    <div class="td amount" style="width: 100%;">
                      รายการสินค้าและบริการ
                    </div>
                  </div>

                  <div
                    class="form-group brand-logo-image-type"
                    *ngIf="input.product_list.length <= 0"
                  >
                    <div
                      class="row"
                      style="
                        width: 100%;
                        border-radius: 10px;
                        margin: 0;
                        background-color: whitesmoke;
                        justify-content: center;
                      "
                    >
                      <label class="col-form-label" style="color: black;"
                        >ไม่พบข้อมูล</label
                      >
                    </div>
                  </div>

                  <div class="table-data" *ngIf="input.product_list.length > 0">
                    <div
                      class="tr"
                      *ngFor="
                        let item of input.product_list
                          | paginate
                            : {
                                id: 'pagination1',
                                itemsPerPage: perpageP1,
                                currentPage: currentP1
                              };
                        index as i
                      "
                    >
                      <!-- <div class="td order" style="width:50px;">
                      <div class="checkbox">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                          <input type="checkbox" value="">
                          <span></span>
                        </label>
                      </div>
                    </div> -->
                      <div class="td group" style="width: 100px;">
                        {{ i + 1 }}
                      </div>
                      <div
                        class="td product-service-name"
                        style="width: 375px;"
                      >
                        <!--<input class="form-control input"
                      type="text"
                      [(ngModel)]="item.item_sub_type_1_code" />-->
                        {{ item.request_item_sub_type_1_code }}
                      </div>
                      <div class="td amount" style="width: 100%;">
                        <!--<input class="form-control input"
                      type="text"
                      [(ngModel)]="item.name" />-->
                        {{ item.description }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- pagination -->
              <div class="kt-pagination kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered" style="margin-top: 8px;">
                    <pagination-controls
                      id="pagination1"
                      (pageChange)="currentP1 = $event"
                    ></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label
                        class="col-form-label"
                        style="font-size: 16px; color: black; min-width: 0;"
                      >
                        ไปหน้าที่
                      </label>

                      <input
                        #key_page_input
                        class="form-control input"
                        type="number"
                        min="1"
                        max="{{ totalP1 }}"
                        id="page_input"
                        [(ngModel)]="input[key_page_input.id]"
                        (ngModelChange)="onChangePage($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="kt-pagination__toolbar">
                  <select
                    class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value)"
                  >
                    <option [value]="1"> 1 </option>
                    <option [value]="3"> 3 </option>
                    <option [value]="5"> 5 </option>
                  </select>
                  <span class="pagination__desc">
                    หน้าที่ 1/1 รายการที่ 1-{{ perpageP1 }} / {{ totalP1 }}
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group brand-logo-image-type">
              <label class="col-form-label">
                4.1 ประเภทการต่ออายุ
              </label>
              <div class="form-group">
                <div class="input-wrapper">
                  <div class="input-wrapper-row flex-column">
                    <label class="kt-radio kt-radio--bold kt-radio--brand">
                      <input
                        name="domesticContactAddress"
                        type="radio"
                        (click)="
                          binding('input', 'save070_extend_type_code', 'TYPE1')
                        "
                      />
                      <!--not validate-->
                      จำพวกและรายการสินค้า/บริการคงเดิม
                      <span></span>
                    </label>
                    <label class="kt-radio kt-radio--bold kt-radio--brand">
                      <input
                        name="domesticContactAddress"
                        type="radio"
                        (click)="
                          binding('input', 'save070_extend_type_code', 'TYPE2')
                        "
                      />
                      <!--not validate-->
                      เปลี่ยนแปลงรายการสินค้า/บริการ
                      <span></span>
                    </label>
                    <label class="kt-radio kt-radio--bold kt-radio--brand">
                      <input
                        name="domesticContactAddress"
                        type="radio"
                        (click)="
                          binding('input', 'save070_extend_type_code', 'TYPE3')
                        "
                      />
                      <!--not validate-->
                      เปลี่ยนแปลงจำพวกสินค้า/บริการ
                      <span></span>
                    </label>
                    <div class="row" style="margin: 0;">
                      <label
                        class="kt-radio kt-radio--bold kt-radio--brand"
                        style="min-width: 0; width: auto; margin-top: 7px;"
                      >
                        <input
                          name="domesticContactAddress"
                          type="radio"
                          (click)="
                            binding('input', 'save070_extend_type_code', 'TYPE4')
                          "
                        />
                        เปลี่ยนแปลงจำพวกสินค้า/บริการบางส่วน หรือกรณีอื่นๆ
                        <span></span>
                      </label>
                      <!--<input class="form-control input" style="width:50%; margin-left: 20px;" />-->
                    </div>
                  </div>
                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.request_item_type_code"
                      class="invalid-feedback"
                    >
                      {{ validate.request_item_type_code }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group brand-logo-image-type">
              <div class="row" style="margin-top: 15px;">
                <i class="material-icons" style="color: #0c84c8; padding: 8px;">
                  info
                </i>
                <label
                  class="col-form-label"
                  style="color: #6d6e71; font-size: 14px;"
                >
                  กรุณาระบุจำนวนรายการสินค้าบริการให้ถูกต้อง
                </label>
              </div>
              <div class="table" style="margin-bottom: 0;">
                <div class="table-inner" style="margin-bottom: 0;">
                  <div class="tr header">
                    <div class="td order" style="width: 50px;">
                      <div class="checkbox">
                        <label
                          class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                        >
                          <input type="checkbox" value="" />
                          <span></span>
                        </label>
                      </div>
                    </div>
                    <div class="td group" style="width: 100px;">
                      #
                    </div>
                    <div class="td product-service-name" style="width: 300px;">
                      จำพวก
                    </div>
                    <div class="td amount" style="width: 300px;">
                      รายการสินค้าและบริการ
                    </div>
                    <!-- <div class="td amount" style="width:150px;">
                    จำนวน
                  </div> -->
                  </div>

                  <div
                    class="form-group brand-logo-image-type"
                    *ngIf="input.product_list.length <= 0"
                  >
                    <div
                      class="row"
                      style="
                        width: 100%;
                        border-radius: 10px;
                        margin: 0;
                        background-color: whitesmoke;
                        justify-content: center;
                      "
                    >
                      <label class="col-form-label" style="color: black;"
                        >ไม่พบข้อมูล</label
                      >
                    </div>
                  </div>

                  <div class="table-data" *ngIf="input.product_list.length > 0">
                    <div
                      class="tr"
                      *ngFor="
                        let item of input.product_list
                          | paginate
                            : {
                                id: 'pagination2',
                                itemsPerPage: perpageP2,
                                currentPage: currentP2
                              };
                        index as i
                      "
                    >
                      <div class="td order" style="width: 50px;">
                        <div class="checkbox">
                          <label
                            class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                          >
                            <input type="checkbox" value="" />
                            <span></span>
                          </label>
                        </div>
                      </div>
                      <div class="td group" style="width: 100px;">
                        {{ item.item_sub_type_1_code }}
                        <!--<input class="form-control input"
                      type="text"
                      [(ngModel)]="item.item_sub_type_1_code" readonly/>-->
                      </div>
                      <div
                        class="td product-service-name"
                        style="width: 300px;"
                      >
                        <input
                          class="form-control input"
                          type="text"
                          [(ngModel)]="item.name"
                          [readonly]="type1"
                        />
                      </div>
                      <div class="td amount" style="width: 300px;">
                        <input
                          class="form-control input"
                          type="number"
                          min="1"
                          [(ngModel)]="item.amount_product"
                          (input)="onChangeAmountProduct(item)"
                          [readonly]="type2"
                        />
                      </div>
                      <!-- <div class="td amount" style="width:150px;">
                      <input class="form-control input" type="number" min="1" [(ngModel)]="item.amount_product"
                        (input)="onChangeAmountProduct(item)" [readonly]="type3" />
                    </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- pagination -->
              <div class="kt-pagination kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered" style="margin-top: 8px;">
                    <pagination-controls
                      id="pagination2"
                      (pageChange)="currentP1 = $event"
                    ></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label
                        class="col-form-label"
                        style="font-size: 16px; color: black; min-width: 0;"
                      >
                        ไปหน้าที่
                      </label>

                      <input
                        #key_page_input
                        class="form-control input"
                        type="number"
                        min="1"
                        max="{{ totalP1 }}"
                        id="page_input"
                        [(ngModel)]="input[key_page_input.id]"
                        (ngModelChange)="onChangePage($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="kt-pagination__toolbar">
                  <select
                    class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value)"
                  >
                    <option [value]="1"> 1 </option>
                    <option [value]="3"> 3 </option>
                    <option [value]="5" selected> 5 </option>
                    <option [value]="10"> 10 </option>
                  </select>
                  <!--<span class="pagination__desc">
                  หน้าที่ 1/1 รายการที่ 1-{{perpageP1}} / {{totalP1}}
                </span>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 6 Form -->

    <!-- Start Step 7 Form -->
    <div class="flex step-basic" *ngIf="currentID == 7">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >ชื่อที่จะออกในใบเสร็จรับเงิน</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [(ngModel)]="input.payer_name"
                    />
                  </div>
                  <div class="col-4">
                    <!--<label class="col-form-label" style="color:#6D6E71">บาท</label>-->
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >ค่าธรรมเนียมที่ต้องชำระ</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [(ngModel)]="input.fee"
                      readonly
                    />
                  </div>
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >บาท</label
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >ค่าปรับ</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      readonly
                      [(ngModel)]="input.fine"
                    />
                  </div>
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >บาท</label
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >รวมจำนวนเงิน</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      readonly
                      [(ngModel)]="input.total_price"
                    />
                  </div>
                  <div class="col-4">
                    <label class="col-form-label" style="color: #6d6e71;"
                      >บาท</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 7 Form -->

    <!-- Start Step 8 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 8">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. เสร็จสิ้น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="signature-select">
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step8')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <div
            class="signature-select"
            *ngIf="input.representative_list.length > 0"
          >
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save070_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step8')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save070_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.representative_list"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step8')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step8" class="invalid-feedback">
                  {{ validate.step8 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfKor07()">
              ดูใบคำขอ ก.07
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 8 Form -->

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div_popup" *ngIf="popup.warning_message_show_list.length > 0">
  <div class="div_popup_background"></div>
  <div class="div_popup_body" style="color: aliceblue;">
    <div class="div_popup_topic">
      <div class="title">
        ข้อความจาก Server
      </div>
      <div class="close" (click)="popup.warning_message_show_list = []">
        <i class="dip-icon-close"></i>
      </div>
    </div>

    <div
      *ngFor="let message of popup.warning_message_show_list"
      class="message"
      [ngClass]="{ message_warning: message.is_warning }"
      [innerHTML]="message.message"
    ></div>
  </div>
</div>

<!-- Step 4 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลผู้โอน'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้โอน (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
  </div>
</app-popup>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
