<div class="kt-portlet request-document-collect-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        จัดเก็บเอกสารคำร้อง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-document-collecter">
      <div class="form-group flex">
        <label class="col-form-label">
          เลขที่คำขอ
        </label>
        <div class="input-wrapper">
          <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                 autocomplete="off" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
              {{validate[key_request_number.id]}}
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner request-document-collecter">
      <div class="form-group flex">
        <label class="col-form-label">
          ประเภทเอกสารสแกน
        </label>
        <div class="input-wrapper">
          <select #key_request_document_collect_type_code
                  class="form-control"
                  id="request_document_collect_type_code"
                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                  [(ngModel)]="input[key_request_document_collect_type_code.id]"
                  (change)="binding('input', key_request_document_collect_type_code.id, $event.target.value)"
                  [value]="input.request_document_collect_type_code">
            <option *ngFor="let item of master.requestDocumentCollectTypeCodeList"
                    [value]="item.code">
              {{item.name}}
            </option>
          </select>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_document_collect_type_code.id]"
                 class="invalid-feedback">
              {{validate[key_request_document_collect_type_code.id]}}
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner request-document-collecter">
      <div class="form-group flex">
        <label class="col-form-label" for="request_date">
          วันที่ยื่น
        </label>
        <div class="input-wrapper input-with-icon datepicker">
          <mat-form-field>
            <div class="kt-input-icon kt-input-icon--right">
              <input #key_request_date id="request_date" class="form-control input" matInput
                     [matDatepicker]="picker_request_date" (click)="picker_request_date.open()"
                     [(ngModel)]="input[key_request_date.id]" (dateChange)="clearValidate(key_request_date.id)"
                     autocomplete="off">
              <label class="kt-input-icon__icon kt-input-icon__icon--right" for="request_date">
                <i class="dip-icon-calendar"></i>
              </label>
            </div>
            <mat-datepicker-toggle matSuffix [for]="picker_request_date">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_request_date></mat-datepicker>
          </mat-form-field>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_date.id]" class="invalid-feedback">
              {{validate[key_request_date.id]}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet request-document-collect-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดงผลการค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="">
      <table class="">
        <thead>
          <tr class="tr header">
            <td class="index">#</td>
            <td class="requst_number">เลขที่คำขอ</td>
            <td class="request_document_collect_type_code">ประเภทเอกสาร</td>
            <td class="reference_number">เลขที่อ้างอิงชำระเงิน</td>
            <td class="total_price">ค่าธรรมเนียม</td>
            <td class="description">รายละเอียดเอกสาร</td>
            <td class="maker_name">ชื่อผู้ยื่น</td>
            <td class="request_date">วันที่แก้ไข</td>
            <td class="cancel_reason">เหตุผลการยกเลิก</td>
            <td class="tool">
              เอกสารอิเล็กทรอนิกส์
            </td>
          </tr>
        </thead>
        <tbody>
          <tr class="tr" *ngFor="let row_item of listRequestDocumentCollect">
            <td class="index">{{row_item.index}}</td>
            <td class="requst_number">{{row_item.request_number}}</td>
            <td class="request_document_collect_type_code">
              <!--<span *ngIf="row_item.file_id != null && row_item.file_id != ''">
                {{row_item.request_document_collect_type_name}}
              </span>-->
              <span>
                {{row_item.request_document_collect_type_name}}
              </span>
              <!--<span *ngIf="row_item.file_id == null || row_item.file_id == ''">
                <select class="form-control"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="row_item.request_document_collect_type_code"
                        (change)="onChangeRequestDocumentCollectTypeCode(row_item)">
                  <option *ngFor="let item of requestDocumentCollectTypeCodeListNoAll"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </span>-->
            </td>
            <td class="reference_number">{{row_item.reference_number}}</td>
            <td class="total_price">{{displayMoney(row_item.total_price)}}</td>
            <td class="description">{{row_item.description}}</td>
            <td class="maker_name">{{row_item.requester_name}}</td>
            <td class="updated_date_text">{{row_item.updated_date_text}}</td>
            <td class="cancel_reason">{{row_item.cancel_reason}}</td>
            <td class="tool">
              <span *ngIf="row_item.request_document_collect_type_code != null && row_item.request_document_collect_type_code != ''">
                <span *ngIf="row_item.file_id == null || row_item.file_id == ''">
                  <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileScan(row_item)">
                    Scan
                  </button>
                  <!-- <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileUpload(row_item)">
                    Upload
                  </button> -->

                  <div class="upload-btn-wrapper">
                    <div class="upload-input-wrapper">
                      <button type="button" class="btn btn-brand">
                        <i class="dip-icon-upload-circle"></i> Upload
                      </button>
                      <input type="file"
                             name="myfile"
                             class="upload-input"
                             accept="{{row_item.request_document_collect_type_file_extension != 'PDF' ? 'image/*' : 'application/pdf'}}"
                             (change)="
                          onClickUploadImage(
                            $event,
                            'input',
                            'imageUpload',
                            51200000,
                            row_item
                          )
                        " />
                    </div>
                  </div>

                </span>

                <span *ngIf="row_item.url_path != null && row_item.url_path != ''">
                  <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileEdit(row_item)"
                          *ngIf="row_item.request_document_collect_type_file_extension != 'PDF'">
                    แก้ไฟล์
                  </button>
                  <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileOpen(row_item)">
                    เปิดไฟล์
                  </button>
                  <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileRemove(row_item)">
                    ลบ
                  </button>
                  <button type="button" class="btn btn-brand" (click)="onClickRequestDocumentCollectFileAdd(row_item, i)">
                    เพิ่ม
                  </button>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateRequestDocumentCollect"
                (onClickList)="onClickList()"></app-paging>
  </div>

</div>

<app-modal [className]="[
    'fade',
    this.modal.isModalImageEditOpen ? 'show' : undefined
  ]"
           [title]="'แก้ไขภาพ'"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalImageEditOpen')">

  <div body-children
       class="flex align-item-start">
    <div class="main-form-wrapp er">

      <div class="kt-portlet modal-image-edit-job">
        <div class="kt-portlet__body">
          <div class="form-row">
            <div class="form-column">
              <div class="kt-portlet__body__inner modal-image-editer">
                <div class="form-group flex">
                  <!--
                  <div style="height: 800px;width: 800px;background-image: url(assets/images/logos/garuda-emblem.png);background-position: center;background-repeat: no-repeat; border: 1px solid;">
                  </div>
                  -->
                  <!-- <img src="./assets/images/logos/garuda-emblem.png" id="canvas-img" /> -->
                  <div id="canvas-container" style="border:1px solid;">
                    <canvas id="canvas" width="800" height="800" style="border:1px solid;"></canvas>
                  </div>
                  <div class="input-wrapper">
                    <div>
                      <input type="checkbox"
                             [disabled]="canvas_is_crop"
                             [checked]="canvas_is_erase"
                             (click)="onClickCheckBoxErase($event.target.checked)" /> ยางลบ
                    </div>
                    <div>
                      <input type="checkbox"
                             [disabled]="canvas_is_erase"
                             [checked]="canvas_is_crop"
                             (click)="onClickImageCrop($event.target.checked)" /> Crop
                    </div>
                    <div *ngIf="canvas_is_crop">
                      <button type="button"
                              class="btn btn-secondary"
                              (click)="onClickImageCropConfirm(true)">
                        <i class="dip-icon-save"></i>
                        ตกลง
                      </button>
                      <button type="button"
                              class="btn btn-danger"
                              (click)="onClickImageCropConfirm(false)">
                        <i class="dip-icon-close"></i>
                        ยกเลิก
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div footer-children
       class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickSave01ModalAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>
