<div class="section normal-published">
  <div class="section-title">
    กลุ่มงานก่อนส่งไปยัง WIPO
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'green'"
    [title]="'ตรวจสอบ'"
    [description]="'ดูรายละเอียดของเลขที่อ้างอิงคำขอ ที่ผู้ยื่นคำขอกรอกรายละเอียด MM Form ส่งเข้ามา      '"
    [quantity]="'20'"
  >
    <app-dashboard-card-summary-block summary="12">
     รอการโอนงาน 
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="8">
      โอนงานเสร็จสิ้น 
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="320">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'order-list'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'คำขอรอการตรวจสอบข้อมูลผู้ยื่น'"
    [description]="'รายการเลขที่อ้างอิงคำขอของผู้ยื่น ที่รอการพิจารณาตรวจสอบ MM Form จากเจ้าหน้าที่ '"
    [quantity]="'30'"
  >
    <app-dashboard-card-summary-block summary="20">
     ตรวจสอบ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="10">
      ตรวจสอบแก้ไข
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="450">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'search'"
    [theme]="'darkorange'"
    [title]="'ทั้งหมด'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'50'"
  >
    <app-dashboard-card-summary-block summary="100">
      รอการ<br />โอนเงิน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      โอนงาน<br />เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'pluple'"
    [iconSub]="'edit'"
    [theme]="'lightblack'"
    [title]="'คำรอพิจารณาจำหน่าย'"
    [description]="'รายการเลขที่อ้างอิงคำขอ ที่จากผู้ยื่นไม่มาดำเนินการยื่นแก้ไขข้อมูลตามคำสั่งในระยะเวลาที่กำหนด'"
    [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      ส่งแก้ไข
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="745">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'announce'"
    [iconSub]="'play'"
    [theme]="'violet'"
    [title]="'คำขอเสนอหัวหน้ากลุ่มแจ้ง WIPO'"
    [description]="'เสนอพิจารณาการชำระเงินของผู้ยื่นคำขอ หลังจากหัวหน้ากลุ่มส่งแจ้งการชำระเงิน'"
    [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      รอพิจารณา
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="745">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'announce'"
  [iconSub]="'play'"
  [theme]="'violet'"
  [title]="'คำขอเสนอหัวหน้ากลุ่มเพื่อฟื้นเลขที่อ้างอิง'"
  [description]="'รายการเลขที่อ้างอิงคำขอ ที่รอดำเนินการพิจารณาเสนอฟื้นคำขอ'"
  [quantity]="'15'"
>
  <app-dashboard-card-summary-block summary="11">
    รอดำเนินการ
  </app-dashboard-card-summary-block>

  <app-dashboard-card-summary-block summary="4">
    รอพิจารณา
  </app-dashboard-card-summary-block>
  <app-dashboard-card-summary-block summary="745">
    ทั้งหมด
  </app-dashboard-card-summary-block>
</app-dashboard-card>
  <!-- </div> -->
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section other-published">
  <div class="section-title">
    กลุ่มงานหลังส่งไปยัง WIPO
  </div>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'คำขอได้รับแจ้งแก้ไขข้อบกพร่อง (Irr-WIPO)'"
    [description]="'รายการเลขที่อ้างอิงคำขอ ที่ WIPO ดำเนินการส่งเข้ามาให้เจ้าหน้าที่ดำเนินการแก้ไข'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="10">
    ตรวจสอบ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="10">
      ตรวจสอบแก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="10">
     ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'darkorange'"
    [title]="'คำขอเปลี่ยนแปลงข้อมูลของผู้ยื่น'"
    [description]="'รายการเลขที่อ้างอิงคำขอ ที่จะดำเนินแจ้งเรื่องเปลี่ยนแปลงข้อมูลส่งทาง WIPO'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="4">
      รอแก้ไข
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="745">
      ทั้งหมด
    </app-dashboard-card-summary-block>

  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'edit'"
    [theme]="'lightblack'"
    [title]="'คำขอรอพิจารณาจำหน่าย (Irr-WIPO)'"
    [description]="'รอพิจารณาจำหน่ายหลังจากผู้ยื่นไม่มาดำเนินการยื่นแก้ไขข้อมูลตามคำสั่งจาก WIPO'"
    [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      ส่งแก้ไข
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="745">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'violet'"
  [title]="'คำขอเสนอจำหน่าย (Ceasing of effect)'"
  [description]="'รายการเลขที่อ้างอิงคำขอ ที่หมดอายุภายในประเทศรอเจ้าหน้าที่ดำเนินการพิจารณาเสนอจำหน่าย '"
  [quantity]="'15'"
>
  <app-dashboard-card-summary-block summary="11">
    รอดำเนินการ
  </app-dashboard-card-summary-block>

  <app-dashboard-card-summary-block summary="4">
    รอพิจารณา
  </app-dashboard-card-summary-block>
  <app-dashboard-card-summary-block summary="745">
    ทั้งหมด
  </app-dashboard-card-summary-block>
</app-dashboard-card>

<app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'sky'"
  [title]="'คำขอเสนอจำหน่าย (Ceasing of effect)'"
  [description]="'รายการเลขที่อ้างอิงคำขอ ที่หมดอายุภายในประเทศรอเจ้าหน้าที่ดำเนินการพิจารณาเสนอจำหน่าย '"
  [quantity]="'15'"
>
  <app-dashboard-card-summary-block summary="11">
    รอดำเนินการ
  </app-dashboard-card-summary-block>

  <app-dashboard-card-summary-block summary="4">
    รอพิจารณา
  </app-dashboard-card-summary-block>
  <app-dashboard-card-summary-block summary="745">
    ทั้งหมด
  </app-dashboard-card-summary-block>
</app-dashboard-card>
</div>
