:host {
  .dragdrop-file-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #CDEBFD;
    position: relative;
    background-color: #E6F2FA;
    overflow: hidden;

    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .caption-wrapper {
      color: #0C84C8;
      display: flex;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: normal;
      font-size: 16px;
      align-items: center;

      i {
        color: #0C84C8;
        margin-right: 10px;
      }
    }

    .upload-thumbnail {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;

      .thumbnail {
        object-fit: cover;
      }

      i {
        display: none;
        color: white;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        opacity: 0.5;
        z-index: 3;
        cursor: pointer;

        &:hover {
          color: #C31D1D;
          opacity: 1;
        }
      }
    }

    &:hover {
      .upload-thumbnail {
        .thumbnail {
          opacity: 0.5;
        }

        i {
          display: flex;
        }
      }
    }

    &.fileover {
      background-color: #0C84C8;

      .caption-wrapper {
        color: white;

        i {
          color: white;
        }
      }
    }
  }

  // .fileover {
  //   animation: shake 1s;
  //   animation-iteration-count: infinite;
  // }

  // .files-list {
  //   margin-top: 1.5rem;

  //   .single-file {
  //     display: flex;
  //     padding: 0.5rem;
  //     justify-content: space-between;
  //     align-items: center;
  //     border: dashed 1px #979797;
  //     margin-bottom: 1rem;

  //     img.delete {
  //       margin-left: 0.5rem;
  //       cursor: pointer;
  //       align-self: flex-end;
  //     }


  //     display: flex;
  //     flex-grow: 1;

  //     .name {
  //       font-size: 14px;
  //       font-weight: 500;
  //       color: #353f4a;
  //       margin: 0;
  //     }

  //     .size {
  //       font-size: 12px;
  //       font-weight: 500;
  //       color: #a4a4a4;
  //       margin: 0;
  //       margin-bottom: 0.25rem;
  //     }

  //     .info {
  //       width: 100%
  //     }
  //   }
  // }

  /* Shake animation */
  // @keyframes shake {
  //   0% {
  //     transform: translate(1px, 1px) rotate(0deg);
  //   }

  //   10% {
  //     transform: translate(-1px, -2px) rotate(-1deg);
  //   }

  //   20% {
  //     transform: translate(-3px, 0px) rotate(1deg);
  //   }

  //   30% {
  //     transform: translate(3px, 2px) rotate(0deg);
  //   }

  //   40% {
  //     transform: translate(1px, -1px) rotate(1deg);
  //   }

  //   50% {
  //     transform: translate(-1px, 2px) rotate(-1deg);
  //   }

  //   60% {
  //     transform: translate(-3px, 1px) rotate(0deg);
  //   }

  //   70% {
  //     transform: translate(3px, 1px) rotate(-1deg);
  //   }

  //   80% {
  //     transform: translate(-1px, -1px) rotate(1deg);
  //   }

  //   90% {
  //     transform: translate(1px, 2px) rotate(0deg);
  //   }

  //   100% {
  //     transform: translate(1px, -2px) rotate(-1deg);
  //   }
  // }
}
