:host {
  /* Shake animation */
}

:host .dragdrop-file-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px #CDEBFD;
  position: relative;
  background-color: #E6F2FA;
  overflow: hidden;
}

:host .dragdrop-file-container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

:host .dragdrop-file-container .caption-wrapper {
  color: #0C84C8;
  display: flex;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  align-items: center;
}

:host .dragdrop-file-container .caption-wrapper i {
  color: #0C84C8;
  margin-right: 10px;
}

:host .dragdrop-file-container .upload-thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

:host .dragdrop-file-container .upload-thumbnail .thumbnail {
  object-fit: cover;
}

:host .dragdrop-file-container .upload-thumbnail i {
  display: none;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: 0.5;
  z-index: 3;
  cursor: pointer;
}

:host .dragdrop-file-container .upload-thumbnail i:hover {
  color: #C31D1D;
  opacity: 1;
}

:host .dragdrop-file-container:hover .upload-thumbnail .thumbnail {
  opacity: 0.5;
}

:host .dragdrop-file-container:hover .upload-thumbnail i {
  display: flex;
}

:host .dragdrop-file-container.fileover {
  background-color: #0C84C8;
}

:host .dragdrop-file-container.fileover .caption-wrapper {
  color: white;
}

:host .dragdrop-file-container.fileover .caption-wrapper i {
  color: white;
}
