<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-search"></i> การค้นหา
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">คำขอเลขที่</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="คำขอเลขที่" autocomplete="off" />
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">เลขทะเบียน</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="เลขทะเบียน" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="present_start_date">วันที่เสนอ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">

                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_present_start_date id="present_start_date"
                                            class="form-control input" matInput
                                            [matDatepicker]="picker_present_start_date"
                                            (click)="picker_present_start_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="present_start_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="present_start_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_present_start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_inspect_end_date id="inspect_end_date" class="form-control input"
                                            matInput [matDatepicker]="picker_inspect_end_date"
                                            (click)="picker_inspect_end_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="inspect_end_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker_inspect_end_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_inspect_end_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">วันที่ให้เลข</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_give_number_start_date id="give_number_start_date"
                                            class="form-control input" matInput
                                            [matDatepicker]="picker_give_number_start_date"
                                            (click)="picker_give_number_start_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="give_number_start_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="give_number_start_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_give_number_start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_give_number_end_date id="give_number_end_date"
                                            class="form-control input" matInput
                                            [matDatepicker]="picker_give_number_end_date"
                                            (click)="picker_give_number_end_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="give_number_end_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker_give_number_end_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_give_number_end_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align"> เจ้าหน้าที่เสนอ</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control">
                            <option value="1">เลือก</option>
                            <option value="0">ไม่เลือก</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align"> สถานะ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                            <div class="">
                                <div class="">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox">
                                        รอดำเนินการ
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                เสร็จสิ้น
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__footer">
        <div class="button-list">
            <button type="button" class="btn btn-brand">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-white">
                <i class="dip-icon-reset"></i>
                เริ่มใหม่
            </button>
        </div>
    </div>
</div>
<div class="kt-portlet all-task-list">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางแสดง
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" [checked]="fasle">
                                        <span></span>
                                    </label>
                                </th>
                                <th scope="col"> ลำดับ</th>
                                <th scope="col">เลขที่คำขอ</th>
                                <th scope="col">IRN</th>
                                <th scope="col"> วันที่ประกาศ</th>
                                <th scope="col"> วันที่ครบประกาศ</th>
                                <th scope="col"> เล่มที่</th>
                                <th scope="col"> หน้าที่ลำดับที่</th>
                                <th scope="col"> จำพวก</th>
                                <th scope="col"> นายทะเบียนอนุมัติ</th>
                                <th scope="col"> วันที่ให้เลขทะเบียน</th>
                                <th scope="col"> วันที่เสนอ</th>
                                <th scope="col"> รายละเอียดเพิ่มเติม</th>
                                <th scope="col"> สถานะ</th>
                                <th scope="col"> คำสั่ง</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)"
                                            [checked]="fasle">
                                        <span></span>
                                    </label></td>
                                <td>76544</td>
                                <td> 1</td>
                                <td>14000000</td>
                                <td>10/10/2560</td>
                                <td>11/09/2562</td>
                                <td>3010</td>
                                <td> 03/53</td>
                                <td>1</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td>11/09/2562</td>
                                <td>11/09/2562</td>
                                <td>

                                </td>
                                <td>
                                    <div class="tag brand">
                                        รอดำเนินการ
                                    </div>
                                </td>

                                <td> <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-play"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)"
                                            [checked]="fasle">
                                        <span></span>
                                    </label></td>
                                <td>76544</td>
                                <td> 1</td>
                                <td>14000000</td>
                                <td>10/10/2560</td>
                                <td>11/09/2562</td>
                                <td>3010</td>
                                <td> 03/53</td>
                                <td>1</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td>11/09/2562</td>
                                <td>11/09/2562</td>
                                <td>

                                </td>
                                <td>
                                    <div class="tag">
                                        รอดำเนินการ
                                    </div>
                                </td>

                                <td> <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-play"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="kt-portlet__footer">
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                    <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2 m-b-5">
                <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
                    รายการ</label>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-sm-12 col-md-4 m-b-5">
                <button class="btn btn-brand nc-button-float-right">
                    <i class="dip-icon-check"></i>
                    เสนอพิจรณาทั้งหมด
                </button>
            </div>
        </div>


    </div>
</div>