:host .kt-portlet__body__inner {
  flex-wrap: wrap;
}

:host .kt-portlet__body__inner .kt-portlet__body-label {
  width: 100%;
}

:host .kt-portlet__body__inner.nowrap {
  flex-wrap: nowrap;
}

:host .kt-portlet__body__inner.body-inner-2 {
  margin-top: 20px;
}

:host .kt-portlet__body__inner.body-inner-2 .kt-portlet__body-title {
  margin-bottom: 20px;
}

:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host .div_popup.is_view_show .div_popup_body {
  width: 1500px;
}

:host .div_popup.is_edit_show .div_popup_body {
  width: 1085px;
}

:host .div_popup.is_edit_show .div_popup_body .dip-icon-search {
  margin-left: 20px;
  cursor: pointer;
}

:host .div_popup.is_edit_show .div_popup_body .dip-icon-search:hover {
  color: #C31D1D;
}

:host .div_popup.is_edit_show .div_popup_body input.form-control, :host .div_popup.is_edit_show .div_popup_body select.form-control {
  width: 325px;
}

:host .div_popup.is_edit_show .div_popup_body textarea {
  width: 1020px;
  /*&#document_role04_check_remark {
          width: 1020px;
        }*/
}

:host .flex-column {
  flex-direction: column;
  /*width: 100%;*/
}

:host .flex-column > label {
  justify-content: unset;
}

:host .main-request-wrapper {
  /*display: -webkit-box;
      display: flex;*/
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 326px;
  height: 365px;
  border: 1px dashed #0C84C8;
}

:host .main-request-wrapper .bx-box-picture {
  margin: 0 auto;
  display: block;
  width: 100%;
  position: relative;
}

:host .main-request-wrapper .button {
  /*padding: 16px 0;*/
  display: block;
  /*height: 124px;*/
  margin: 0 auto;
  width: 108px;
}

:host .kt-checkbox.kt-checkbox--brand.kt-checkbox--tick > span {
  background-color: #fff;
  border: 1px solid #EFF1F5 !important;
}

:host .kt-checkbox.kt-checkbox--brand.kt-checkbox--tick > input:checked ~ span {
  background-color: #0C84C8;
}

:host .trademark-row {
  width: 100%;
}

:host .trademark-row .trademark-image-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  width: 398px;
  height: 278px;
}

:host .trademark-row .trademark-image-wrapper .sound-btn {
  position: absolute;
  left: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view {
  position: absolute;
  right: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view .form-group {
  min-height: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox {
  margin-right: 7px;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox:last-child {
  margin-right: 0;
}

:host .trademark-row .trademark-image-wrapper .trademark-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host .trademark-row .trademark-info-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 14px 18px;
  position: relative;
  flex: 1 1 auto;
  min-height: 278px;
  margin-left: 20px;
  justify-content: flex;
}

:host .trademark-row .trademark-info-wrapper .form-row {
  margin-left: -18px;
  width: auto;
}

:host .trademark-row .trademark-info-wrapper .form-row:after {
  content: '';
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group {
  flex: 0 0 calc(25% - 18px);
  margin-left: 18px;
}

:host .trademark-row .trademark-info-wrapper .form-group.btn-wrapper {
  justify-content: flex-end;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row {
  display: flex;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row .input-wrapper {
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 37px;
  min-width: 37px;
  border-color: #EBEDF2;
  border-left: 0;
  font-size: 14px;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn.btn-input-search .dip-icon-search-plus:before {
  color: #6D6E71;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control {
  width: 100%;
  background-color: #EBEDF2;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control.input {
  height: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .col-form-label {
  justify-content: flex-start;
  padding: 3px 0;
  min-height: 0;
  font-size: 14px;
}

:host .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
  margin-top: 27px;
  height: 37px;
  padding: 6px 12px;
  width: 131px;
}

:host .trademark-row .trademark-info-wrapper .form-group .btn.btn-margin-right {
  margin-right: 20px;
}

:host .checking-request-wrapper {
  /*width: 25%;*/
  min-width: 25%;
  margin-right: 20px;
}

:host .checking-request-wrapper .checking-request-info {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 40px 20px 50px;
  min-height: 700px;
}

:host .similar-number-wrapper {
  width: auto;
  flex: 1 1 auto;
}

:host .similar-number-wrapper .btn-wrapper {
  margin: 0 auto;
  justify-content: flex-end;
}

:host .similar-number-wrapper .btn-wrapper .btn {
  margin: 0 5px;
  width: 188px;
}

:host .similar-number-wrapper .btn-wrapper .btn-gray {
  background-color: #E2E2E2;
  color: #FFFFFF;
}

:host .table.similar-number-info .table-inner {
  border: 1px solid #EFF1F5;
}

:host .table.similar-number-info .table-inner .tr .td {
  min-height: 40px;
  padding: 0 5px;
  border-right: 1px solid #EFF1F5;
}

:host .table.similar-number-info .table-inner .tr .td .btn {
  height: 31px;
  font-size: 12px;
  padding: 0 5px;
}

:host .table.similar-number-info .table-inner .tr .td .btn.btn-icon {
  width: 31px;
}

:host .table.similar-number-info .table-inner .tr .td .form-control {
  height: 31px;
  padding: 0 5px;
}

:host .table.similar-number-info .table-inner .tr .td.select {
  flex: 0 0 3%;
  max-width: 3%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.select .kt-checkbox.kt-checkbox--brand.kt-checkbox--tick > span.disabled {
  background-color: #BCBDC0;
}

:host .table.similar-number-info .table-inner .tr .td.order {
  flex: 0 0 4%;
  max-width: 4%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.request-number {
  flex: 1 0 10%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.request-number .request-number-box {
  border-radius: 4px;
  border: 1px solid #0C84C8;
  color: #0C84C8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 25px;
}

:host .table.similar-number-info .table-inner .tr .td.request-number .request-number-box.checked {
  background-color: #0C84C8;
  color: #FFFFFF;
}

:host .table.similar-number-info .table-inner .tr .td.document {
  flex: 0 0 7%;
  max-width: 7%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.owner {
  flex: 0 0 14%;
  max-width: 14%;
}

:host .table.similar-number-info .table-inner .tr .td.submit-date {
  flex: 0 0 9%;
  max-width: 9%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.request-status {
  flex: 0 0 9%;
  max-width: 9%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.document-status {
  flex: 0 0 7%;
  max-width: 7%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.m-28 {
  flex: 0 0 4%;
  max-width: 4%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.detail {
  flex: 0 0 14%;
  max-width: 14%;
}

:host .table.similar-number-info .table-inner .tr .td.status {
  flex: 1 0 10%;
  justify-content: center;
}

:host .table.similar-number-info .table-inner .tr .td.status .btn {
  width: 113px;
  font-size: 14px;
}

:host .table.similar-number-info .table-inner .tr .td.status .btn.btn-waiting {
  background-color: #5E2088;
  border: 1px solid #5E2088;
}

:host .table.similar-number-info .table-inner .tr .td.status .btn.btn-waiting:hover {
  background-color: #7916BC;
  border: 1px solid #7916BC;
}

:host .table.similar-number-info .table-inner .tr .td.status .btn.btn-finish {
  background-color: #BAC3D0;
  border: 1px solid #BAC3D0;
  pointer-events: none;
}

:host .table.similar-number-info .table-inner .tr .td.operation {
  flex: 1 0 7%;
  justify-content: space-around;
}

:host .table.similar-number-info .table-inner .tr .td.operation .btn-gray {
  border: 1px solid #BAC3D0;
  background-color: #BAC3D0;
}

:host .table.similar-number-info .table-inner .tr .td.operation .btn-gray .dip-icon-id-card:before {
  color: #FFFFFF;
}

:host .table.similar-number-info .table-inner .tr .td.operation .btn-gray .dip-icon-search-plus:before {
  color: #FFFFFF;
}

:host .table.similar-number-info .table-inner .tr .td.operation .btn-gray:hover {
  background-color: #B3B5B8;
  border: 1px solid #B3B5B8;
}

:host .table.similar-number-info .table-inner .tr .td:last-child {
  border-right: 0;
}

:host .table.similar-number-info .table-inner .tr.header {
  border-bottom: 1px solid #EFF1F5;
}

:host .table.similar-number-info .table-inner .tr.header .td {
  justify-content: center;
}

:host .table.similar-number-info .table-inner .table-data > .tr:nth-child(2n-1) .td {
  background-color: white;
}

:host .table.similar-number-info .table-inner .table-data > .tr:nth-child(2n) .td {
  background-color: #FBFCFD;
}

@media (max-width: 1280px) {
  :host .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
    width: 125px;
  }
  :host .trademark-row .trademark-info-wrapper .form-group .btn.btn-margin-right {
    margin-right: 10px;
  }
}
