<div class="kt-portlet document-role04-release-request-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-play"></i> ปลดปล่อยคำขอ ({{input.view.request_number}})
      </h3>
    </div>
  </div>


  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner">
      <div class="kt-portlet__body-label">
        <h3 class="kt-portlet__body-title">
          ข้อมูลทั่วไป
        </h3>
      </div>

      <div class="trademark-row flex">


        <div class="main-request-wrapper">
          <div class="main-request-image-wrapper">
            <div class="bx-box-picture">
              <img *ngIf="input.view.trademark_2d_physical_path && input.view.trademark_2d_physical_path != ''" src="{{input.view.trademark_2d_physical_path}}" />

              <!--<div style="position: absolute; right: 70px; top: 5px;  text-align: center;">
                <a href="#" class="btn btn-squared-default-plain btn-info">2D</a>
              </div>-->
              <!--<div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                <a href="#" class="btn btn-squared-default-plain btn-light ">3D</a>
              </div>-->

              <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">

                <!--{{input.sound_file_physical_path}}-->
                <div *ngIf="input.view.sound_file_physical_path && input.view.sound_file_physical_path != ''" class="">
                  <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                    <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                       (click)="togglePlayer()"></i>
                  </a>
                </div>
              </div>

              <!--<div class="button">
                <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
                  หน้าสอบถาม
                </button>
              </div>-->

            </div>
          </div>
        </div>



        <div class="trademark-info-wrapper">
          <div class="form-row">
            <div class="form-group">
              <label class="col-form-label" for="request_number">
                เลขที่คำขอ
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       [(ngModel)]="input.view.request_number" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="registration_number">
                ทะเบียนเลขที่
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="registration_number"
                       [(ngModel)]="input.view.registration_number" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="people_name">
                เจ้าของ
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="people_name"
                       [(ngModel)]="input.view.people_name" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="request_date_text">
                วันที่ยื่นคำขอ
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_date_text"
                       [(ngModel)]="input.view.request_date_text" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="trademark_expired_date_text">
                วันที่ครบกำหนด
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="trademark_expired_date_text"
                       [(ngModel)]="input.view.trademark_expired_date_text" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="request_item_sub_type_1_code_text">
                จำพวกสินค้า
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_item_sub_type_1_code_text"
                       [(ngModel)]="input.view.request_item_sub_type_1_code_text" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" for="trademark_status_code">
                สถานะคำขอ
              </label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="trademark_status_code"
                       [(ngModel)]="input.view.trademark_status_code" />

                <div class="feedback-wrapper"></div>
              </div>
            </div>

            <!--<div class="form-group">

            </div>

            <div class="form-group">

            </div>

            <div class="form-group">

            </div>-->

            <div class="form-group flex btn-wrapper">
              <button class="q-and-a-page btn btn-dark-gray btn-margin-right"
                      (click)="onClickOpen('/request-search/edit/', editID.split('_')[0])">
                <i class="dip-icon-hyperlink"></i>หน้าสอบถาม
              </button>
              <button class="q-and-a-page btn btn-brand"
                      (click)="onClickOpen('/request-document-collect/edit/', input.view.request_number)">
                <i class="dip-icon-layer"></i>เอกสารสแกน
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner nowrap body-inner-2">
      <div class="checking-request-wrapper">
        <div class="kt-portlet__body-label">
          <h3 class="kt-portlet__body-title">
            ตรวจเลขคำขอที่ติดทั้งหมด
          </h3>
        </div>

        <div class="checking-request-info">
          <div class="top">
            <div [class.hide]="request_similar_graph.is_hide">
              <span class="level-top" (click)="displaytTopLevel($event)">
                {{ this.request_similar_graph.request_number }}
              </span>
            </div>
            <div id='outline-level-top' class="outline-div"
                 [class.hide]="request_similar_graph.is_hide"></div>

            <div class="div-level-0">
              <span id='level-0' class="level-0" (click)="displaytNextLevel($event, 'node', this.request_similar_graph.child_list[0].child_list)">
                {{ this.request_similar_graph.child_list[0].request_number }}
              </span>
            </div>
            <div id='outline-level-0' class="outline-div"></div>

          </div>
          <div id="tree" class="tree"
               [class.more-than-3]="request_similar_graph.child_list[0].child_list.length > 3"
               [class.more-than-1]="request_similar_graph.child_list[0].child_list.length > 1">
            <li class="t-li">
              <ul class="ul" id="node"></ul>
            </li>
          </div>
        </div>
      </div>

      <div class="similar-number-wrapper">

        <app-table [initial_table]="tableList" [title]="'เลขที่ติดเหมือนคล้าย'" (onClickCommand)="onClickCommand($event)"></app-table>
        <!--<div class="kt-portlet__body-label">
          <h3 class="kt-portlet__body-title">
            เลขที่ติดเหมือนคล้าย
          </h3>
        </div>
        <div class="table similar-number-info">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox">
                  <span></span>
                </label>
              </div>
              <div class="td order">
                ลำดับ
              </div>
              <div class="td request-number">
                เลขที่คำขอ
              </div>
              <div class="td document">
                ตค.
              </div>
              <div class="td owner">
                เจ้าของ
              </div>
              <div class="td submit-date">
                วันที่ยื่น
              </div>
              <div class="td request-status">
                สถานะคำขอ
              </div>
              <div class="td document-status">
                สถานะตค.
              </div>
              <div class="td m-28">
                ม.28
              </div>
              <div class="td detail">
                รายละเอียด
              </div>
              <div class="td status">
                สถานะ
              </div>
              <div class="td operation">
                คำสั่ง
              </div>
            </div>

            <div class="table-data">
              <div class="tr">
                <div class="td select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input checked type="checkbox">
                    <span></span>
                  </label>
                </div>
                <div class="td order">
                  1
                </div>
                <div class="td request-number">
                  <button class="request-number-box checked">
                    17000000
                  </button>
                </div>
                <div class="td document">
                  -
                </div>
                <div class="td owner">
                  นางสาวกมลทิพย์ มรกต
                </div>
                <div class="td submit-date">
                  10/10/2550
                </div>
                <div class="td request-status">
                  ประกาศโฆษณา
                </div>
                <div class="td document-status">
                  หลุดพ้น
                </div>
                <div class="td m-28">

                </div>
                <div class="td detail">

                </div>
                <div class="td status">
                  <button class="btn btn-brand" type="button">
                    หนังสือคำสั่ง
                  </button>
                </div>
                <div class="td operation">
                  <button class="btn btn-brand btn-icon" type="button">
                    <i class="dip-icon-play"></i>
                  </button>

                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-id-card"></i>
                  </button>
                </div>
              </div>

              <div class="tr">
                <div class="td select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox">
                    <span></span>
                  </label>
                </div>
                <div class="td order">
                  2
                </div>
                <div class="td request-number">
                  <button class="request-number-box">
                    17000100
                  </button>
                </div>
                <div class="td document">
                  -
                </div>
                <div class="td owner">
                  นางสาวกมลทิพย์ มรกต
                </div>
                <div class="td submit-date">
                  10/10/2550
                </div>
                <div class="td request-status">
                  ประกาศโฆษณา
                </div>
                <div class="td document-status">
                  หลุดพ้น
                </div>
                <div class="td m-28">

                </div>
                <div class="td detail">

                </div>
                <div class="td status">
                  <button class="btn btn-brand" type="button">
                    รอส่งพิจารณา
                  </button>
                </div>
                <div class="td operation">
                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-search-plus"></i>
                  </button>

                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-id-card"></i>
                  </button>
                </div>
              </div>

              <div class="tr">
                <div class="td select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox">
                    <span></span>
                  </label>
                </div>
                <div class="td order">
                  3
                </div>
                <div class="td request-number">
                  <button class="request-number-box">
                    17000200
                  </button>
                </div>
                <div class="td document">
                  ตค. 3
                </div>
                <div class="td owner">
                  นางสาวกมลทิพย์ มรกต
                </div>
                <div class="td submit-date">
                  10/10/2550
                </div>
                <div class="td request-status">

                </div>
                <div class="td document-status">
                  ไม่หลุดพ้น
                </div>
                <div class="td m-28">

                </div>
                <div class="td detail">

                </div>
                <div class="td status">
                  <button class="btn btn-brand btn-waiting" type="button">
                    รอพิจารณา
                  </button>
                </div>
                <div class="td operation">
                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-search-plus"></i>
                  </button>

                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-id-card"></i>
                  </button>
                </div>
              </div>

              <div class="tr">
                <div class="td select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input disabled type="checkbox">
                    <span class="disabled"></span>
                  </label>
                </div>
                <div class="td order">
                  4
                </div>
                <div class="td request-number">
                  <button class="request-number-box">
                    17000300
                  </button>
                </div>
                <div class="td document">
                  -
                </div>
                <div class="td owner">
                  นางสาวกมลทิพย์ มรกต
                </div>
                <div class="td submit-date">
                  10/10/2550
                </div>
                <div class="td request-status">
                  ประกาศโฆษณา
                </div>
                <div class="td document-status">
                  หลุดพ้น
                </div>
                <div class="td m-28">

                </div>
                <div class="td detail">

                </div>
                <div class="td status">
                  <button class="btn btn-brand btn-finish" type="button">
                    เสร็จสิ้น
                  </button>
                </div>
                <div class="td operation">
                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-search-plus"></i>
                  </button>

                  <button class="btn btn-icon btn-gray" type="button">
                    <i class="dip-icon-id-card"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <div class="btn-wrapper flex">
          <!--<button class="btn btn-brand">
            <i class="dip-icon-paper-plane"></i> ออกหนังสือคำสั่งที่เลือก
          </button>-->

          <button class="btn btn-brand"
                  (click)="onClickDocumentRole04ReleaseRequestSend()">
            <i class="dip-icon-paper-plane"></i> เสนอพิจารณา
          </button>
        </div>
      </div>


    </div>
  </div>

  <div class="kt-portlet__footer hide">

  </div>
</div>



<div class="div_popup is_edit_show" *ngIf="popup.is_edit_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">


    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            บันทึกเสนอนายทะเบียน
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>

      <div class="kt-portlet__body flex">

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="popup.row_item_edit.save_request_number"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>

            <div class="flex-column">
              <label class="col-form-label" for="request_number">งาน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       value="ปลดปล่อยคำขอ"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="document_role04_send_type_code">เรื่อง</label>
              <div class="input-wrapper">
                <!--<input class="form-control input"
                type="text"
                autocomplete="off"
                value="ออกหนังสือ"
                disabled="disabled" />-->

                <select #key_document_role04_release_request_send_type_code
                        class="form-control"
                        id="document_role04_release_request_send_type_code"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="popup.row_item_edit.document_role04_release_request_send_type_code"
                        [value]="popup.row_item_edit.document_role04_release_request_send_type_code">
                  <option *ngFor="let item of master.documentRole04ReleaseRequestSendTypeCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
                <!--    (change)="oneWayDataBinding('document_role04_release_request_send_type_code', $event.target.value)"-->
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>

            <div class="flex-column">
              <label class="col-form-label"
                     for="document_role04_check_date">วันที่เสนอ</label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="document_role04_check_date"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="popup.row_item_edit.document_role04_receive_send_date_text"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>

              <!--<div class="input-wrapper input-with-icon datepicker">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input id="document_role04_check_date"
                           class="form-control input"
                           matInput
                           [matDatepicker]="document_role04_check_date"
                           (click)="document_role04_check_date.open()"
                           [(ngModel)]="popup.rowEdit.document_role04_check_date"
                           autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right"
                           for="document_role04_check_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix
                                         [for]="document_role04_check_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #document_role04_check_date></mat-datepicker>
                </mat-form-field>
              </div>-->
            </div>

            <div class="flex-column">
              <label class="col-form-label" for="document_role05_receiver_by_name">นายทะเบียน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="document_role05_receiver_by_name"
                       [(ngModel)]="popup.row_item_edit.document_role05_receiver_by_name"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="new_instruction_rule_description">
                รายละเอียดเสนอ
                <!--<i class="dip-icon-search"
                   (click)="popup.is_instruction_rule_select = true; "></i>-->
              </label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="new_instruction_rule_description"
                          rows="5"
                          [value]="(popup.row_item_edit.post_round_instruction_rule_name || '') + ' - ' + (popup.row_item_edit.post_round_instruction_rule_description || '')"
                          autocomplete="off"
                          disabled="disabled"></textarea>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="document_role04_check_remark">รายละเอียดเพิมเติม</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="document_role04_check_remark"
                          [(ngModel)]="popup.row_item_edit.document_role04_receive_remark"
                          rows="5"
                          autocomplete="off"></textarea>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>


      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole04ReleaseRequestSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-brand"
                  (click)="onClickOpen('/request-document-collect/edit/', popup.row_item_edit.save_request_number)">
            <i class="dip-icon-file-alt"></i>
            เอกสาร
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="popup.is_edit_show = false">
            <i class="dip-icon-delete-cross"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>


<div class="div_popup is_view_show" *ngIf="popup.is_view_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet document-role04-release-request-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-play"></i> ปลดปล่อยคำขอ ({{input.view.request_number}})
          </h3>
        </div>
      </div>


      <div class="kt-portlet__body">
        <div class="kt-portlet__body__inner">
          <div class="kt-portlet__body-label">
            <h3 class="kt-portlet__body-title">
              ข้อมูลทั่วไป
            </h3>
          </div>

          <div class="trademark-row flex">


            <div class="main-request-wrapper">
              <div class="main-request-image-wrapper">
                <div class="bx-box-picture">
                  <img *ngIf="popup.item_view.trademark_2d_physical_path && popup.item_view.trademark_2d_physical_path != ''" src="{{popup.item_view.trademark_2d_physical_path}}" />

                  <!--<div style="position: absolute; right: 70px; top: 5px;  text-align: center;">
                    <a href="#" class="btn btn-squared-default-plain btn-info">2D</a>
                  </div>-->
                  <!--<div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                    <a href="#" class="btn btn-squared-default-plain btn-light ">3D</a>
                  </div>-->

                  <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">



                    <!--{{popup.item_view.sound_file_physical_path}}-->
                    <div *ngIf="popup.item_view.sound_file_physical_path && popup.item_view.sound_file_physical_path != ''" class="">
                      <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                        <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                           (click)="togglePlayer()"></i>
                      </a>
                    </div>
                  </div>

                  <!--<div class="button">
                    <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
                      หน้าสอบถาม
                    </button>
                  </div>-->

                </div>
              </div>
            </div>



            <div class="trademark-info-wrapper">
              <div class="form-row">
                <div class="form-group">
                  <label class="col-form-label" for="request_number">
                    เลขที่คำขอ
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_number"
                           [(ngModel)]="popup.item_view.request_number" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="registration_number">
                    ทะเบียนเลขที่
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="registration_number"
                           [(ngModel)]="popup.item_view.registration_number" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="people_name">
                    เจ้าของ
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="people_name"
                           [(ngModel)]="popup.item_view.people_name" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="request_date_text">
                    วันที่ยื่นคำขอ
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_date_text"
                           [(ngModel)]="popup.item_view.request_date_text" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="trademark_expired_date_text">
                    วันที่ครบกำหนด
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="trademark_expired_date_text"
                           [(ngModel)]="popup.item_view.trademark_expired_date_text" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="request_item_sub_type_1_code_text">
                    จำพวกสินค้า
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_item_sub_type_1_code_text"
                           [(ngModel)]="popup.item_view.request_item_sub_type_1_code_text" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="trademark_status_code">
                    สถานะคำขอ
                  </label>

                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="trademark_status_code"
                           [(ngModel)]="popup.item_view.trademark_status_code" />

                    <div class="feedback-wrapper"></div>
                  </div>
                </div>

                <!--<div class="form-group">

                </div>

                <div class="form-group">

                </div>

                <div class="form-group">

                </div>-->

                <div class="form-group flex btn-wrapper">
                  <button class="q-and-a-page btn btn-dark-gray btn-margin-right"
                          (click)="onClickOpen('/request-search/edit/', popup.item_view.id)">
                    <i class="dip-icon-hyperlink"></i>หน้าสอบถาม
                  </button>
                  <button class="q-and-a-page btn btn-brand"
                          (click)="onClickOpen('/request-document-collect/edit/', popup.item_view.request_number)">
                    <i class="dip-icon-layer"></i>เอกสารสแกน
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="div-tab-list">
          <div class="div-tab-menus">
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 1"
                 (click)="tab_menu_show_index = 1">คำสั่งนายทะเบียน</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 2"
                 (click)="tab_menu_show_index = 2">พิจารณาเอกสาร</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 3"
                 (click)="tab_menu_show_index = 3">เจ้าของ</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 4"
                 (click)="tab_menu_show_index = 4">ตัวแทน</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 5"
                 (click)="tab_menu_show_index = 5">บัตรหมาย</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 6"
                 (click)="tab_menu_show_index = 6">รายการสินค้า</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 7"
                 (click)="tab_menu_show_index = 7">ค่าธรรมเนียม</div>
            <!--<div class="div-tab-menu"
            [class.active]="tab_menu_show_index == 8"
            (click)="tab_menu_show_index = 8">มาตรา</div>-->
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 9"
                 (click)="tab_menu_show_index = 9">ประวัติสถานะ</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 10"
                 (click)="tab_menu_show_index = 10">เอกสารสแกน</div>

            <div class="div-tab-action">
              <!--<button type="button"
                      class="btn btn-brand"
                      (click)="onClickDocumentRole04CheckSave()">
                <i class="dip-icon-save"></i>
                บันทึก
              </button>-->
            </div>

          </div>
          <div class="div-tabs">
            <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
              <app-table [initial_table]="tableInstructionRule" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
              <app-table [initial_table]="tableSaveDocument" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
              <app-table [initial_table]="tablePeople" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 4">
              <app-table [initial_table]="tableRepresentative" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
              <app-address [params]="[contactAddress, master]"></app-address>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
              <app-table [initial_table]="tableProduct" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
              <app-table [initial_table]="tableReceiptItem" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
            </div>

            <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
              <app-table [initial_table]="tableHistory" (onClickCommand)="onClickCommand($event)"></app-table>
            </div>

            <div class="div-tab" [class.hide]="tab_menu_show_index != 10">
              <app-table [initial_table]="tableDocumentScan" [title]="'ตารางเอกสารสแกน'"></app-table>
            </div>
          </div>
        </div>


      </div>

      <div class="kt-portlet__footer">
        <div class="button-list">
          <!--<button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole04ReleaseRequestSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-brand"
                  (click)="onClickOpen('/request-document-collect/edit/', popup.row_item_edit.save_request_number)">
            <i class="dip-icon-save"></i>
            เอกสาร
          </button>-->
          <button type="button"
                  class="btn btn-brand"
                  (click)="popup.is_view_show = false">
            ตรวจสอบเสร็จ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
