:host {
  font-family: "Noto Sans Thai", "Noto Sans";

  .save-01-process-agent-form {
    .kt-portlet__head {
      justify-content: flex-end;

      .btn {
        margin-left: 15px;
      }
    }

    .kt-portlet__body {
      .kt-portlet__body__inner {
        align-items: flex-start;
      }

      .owner-create-form {
        flex: 1 1 auto;
        padding-right: 100px;

        .form-row {
          &>.form-group {
            max-width: 50%;

            .kt-radio-inline {
              width: 100%;
              justify-content: space-around;
            }

            .input-wrapper {
              flex: 1 1 auto;

              .input {
                width: 100%;
              }

              select {
                width: 100%;
              }
            }

            &.fluid {
              max-width: 100%;
            }

            &.with-checkbox {
              .input-wrapper {
                .input-wrapper-row {
                  .input {
                    max-width: calc((100% - 185px)/2);
                  }

                  .kt-checkbox {
                    margin-left: 25px;
                  }
                }
              }
            }
          }
        }
      }

      .copy-address-wrapper {
        flex: 0 0 570px;
        max-width: 570px;
        background-color: #F4F5F8;
        border-radius: 10px;
        padding: 25px 37px;

        .header {
          color: #0C84C8;
          font-size: 20px;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-weight: 500;
          margin-bottom: 24px;
        }

        .col-form-label {
          text-align: left;
          justify-content: flex-start;
          min-width: auto;
          flex: 0 0 140px;
        }

        .input-wrapper-row {
          .input {
            flex: 1 1 auto;
          }

          .btn {
            margin-left: 15px;
          }
        }
      }
    }

    .kt-portlet__footer {
      justify-content: flex-start;
      padding-left: 210px;

      .btn {
        margin-right: 15px;
      }
    }
  }
}
