<div class="kt-portlet save-01-process-agent-form">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-action">
      <button
        type="button"
        class="btn btn-brand"
      >
        <img
          src="../../../assets/images/icons/icon-arrow-left-white.svg"
          class="icon"
          alt="add new"
        />
        กลับ
      </button>

      <button
        type="button"
        class="btn btn-primary"
      >
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner">
      <div class="owner-create-form">
        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="order"
            >
              ลำดับ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="order"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                readonly
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenCardType"
            >
              ประเภทบัตร*
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">บัตรประจำตัวประชาชน</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenID"
            >
              เลขที่*
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="citizenID"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="personalType"
            >
              ประเภทบุคคล
            </label>

            <div class="input-wrapper">
              <select
                id="personalType"
                class="form-control"
              >
                <option value="1">บุคคลธรรมดา</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label class="col-form-label">
              เพศ
            </label>
            <div class="kt-radio-inline select-status">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radio2"
                  type="radio"
                > ชาย
                <span></span>
              </label><label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radio2"
                  type="radio"
                > หญิง
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex fluid">
            <label
              class="col-form-label"
              for="receiveName"
            >
              ชื่อเจ้าของ*
            </label>
            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="receiveName"
                placeholder="ชื่อผู้รับ"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex fluid">
            <label
              class="col-form-label"
              for="receiveName"
            >
              รายละเอียด
            </label>
            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="receiveName"
                placeholder="ชื่อผู้รับ"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenCardType"
            >
              สัญชาติ
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">เลือก</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenID"
            >
              อาชีพ
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">เลือก</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex fluid">
            <label
              class="col-form-label"
              for="receiveName"
            >
              ที่อยู่*
            </label>
            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="receiveName"
                placeholder="ชื่อผู้รับ"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenCardType"
            >
              จังหวัด*
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">เลือก</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenID"
            >
              เขต/อำเภอ*
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">เลือก</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenCardType"
            >
              รหัสไปรษณีย์*
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">เลือก</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenID"
            >
              ประเทศ*
            </label>

            <div class="input-wrapper">
              <select
                id="citizenCardType"
                class="form-control"
              >
                <option value="1">ไทย</option>
              </select>
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="order"
            >
              โทรศัพท์*
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="order"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="order"
            >
              โทรสาร
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="order"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group flex fluid with-checkbox">
            <label
              class="col-form-label"
              for="order"
            >
              E-mail
            </label>

            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <input
                  class="form-control input"
                  type="text"
                  id="order"
                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                />
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  ต้องการให้ส่ง Email
                  <span></span>
                </label>
              </div>

              <div class="feedback-wrapper">
                <div
                  [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="isSubmited"
                >
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copy-address-wrapper">
        <div class="header">
          คัดลอกที่อยู่
        </div>

        <div class="form-group flex">
          <label
            class="col-form-label"
            for="copyOrderID"
          >
            คัดลอกจากลำดับที่
          </label>

          <div class="input-wrapper">
            <div class="input-wrapper-row">
              <input
                class="form-control input"
                type="text"
                id="copyOrderID"
                placeholder="000000000000"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              />
              <button
                type="button"
                class="btn btn-brand"
              >
                <i class="dip-icon-duplicate"></i>
                คัดลอก
              </button>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="isSubmited"
              >
                Success! You've done it.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <button
      type="button"
      class="btn btn-secondary"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>

    <button
      type="button"
      class="btn btn-white"
    >
      ยกเลิก
    </button>
  </div>
</div>
