<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__body" style="align-self: center;width: 100%;">
    <div class="form-row">
      <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="REGISTER PAGE 1" [navigationSymbol]="{ symbol: '1' }">
          <hr>
          <div class="row">
            <div class="col-12">
              <h3 class="sub-head-title">
                ค้นหา
              </h3>
            </div>
            <div class="col-12">
              <p>ค้นหาเลขทะเบียนระหว่างประเทศ</p>
            </div>
            <div class="col-lg-12 col-md-8">
              <div class="row">
                <div class="col-lg-12 ">
                  <div class="row">
                    <div class="col-lg-12">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-lg-12 mt-3">
                        <button class="btn btn-brand-2" > <i class="dip dip-icon-search"></i> ค้นหา</button>
                    </div>
                  </div>
                  <div class="row" *ngIf="ItemArray">
                    <div class="kt-portlet__body__inner public-role01-item-lister">
                      <mat-nav-list class="list-horizontal">
                        <mat-list-item *ngFor="let item of ItemArray; let i = index" [attr.data-index]="i"
                          style="margin: 1px; background-color: #F2F3F8; max-width: 250; text-align: center; height: 30px;">
                          <div class="row">
                            <div class="col-9">
                              <i class="fa fa-steam"></i>
                              {{ item }}
                            </div>
                            <div class="col-1">
                              <mat-icon (click)="deleteItem(i)" style="cursor: pointer; vertical-align: top;">close
                              </mat-icon>
                            </div>
                          </div>
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                    <!-- <div *ngFor="let item of ItemArray">
                      <div style="border: darkblue; color: white; background-color: black;">
                        {{ item }}
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-12">
              <h4 class="sub-head-title"> <label class="number-label">1</label>
                 INTERNATIONAL REGISTRATION NUMBER<i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" disabled>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-lg-10 col-md-10 ">
              <div class="row">
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">2</label> HOLDER OF THE INTERNATIONAL REGISTRATION
                    <i
                      class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-12 ml-4" style="margin-top: -10px;">
                    (as recorded in the International Register)
                </div>
              </div>
         
            </div>
            <div class="col-lg-2 col-md-2 " style="text-align: end;">
              <button class="btn btn-brand" (click)="onClickModal01_2()"> <i class="fa fa-user"></i> เจ้าของอื่น</button>
            </div>
           
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-12">
              <label for=""> Name </label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for="">  Address</label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for=""> E-main address</label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>

            <div class="col-12 mt-3">
              <p>By providing an e-mail address, any further correspondence from the International Bureau related to
                 this/there international registration(s) will be sent only electronically and, therefore, 
                 you will no longer receive any paper correspondence. Likewise, any further correspondence from the
                  International Bureau related to other international applications or international registrations for
                   which the same e-mail address has been, or will be, provided will also be sent only electronically.
                Please note that, for the purpose of electronic communication, there can be only one e-mail address
                 recorded per each international registration.
                </p>
            </div>
            <div class="col-12 mt-3">
              <hr>
              <div class="row">
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">3</label> APPOINTMENT OF A (NEW) REPRESENTATIVE <i
                    class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-10 ml-4" style="margin-top: -15px;">
                  (only complete this item if you appointing a (new) representative)
                </div>
              </div>
           
            </div>
            <div class="col-12 ">
              <label for=""> Name  </label>
            </div>
            <div class="col-12 mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for=""> Address  </label>
            </div>
            <div class="col-12 mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Telephone  </label>
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Fax </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">E-mail address</label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-12">
              <p>
                By providing an e-mail address, any further correspondence from the International Bureau related to this/there international registration(s) 
                will be sent only electronically and, therefore, you will no longer receive any paper correspondence. Likewise, any further correspondence
                 from the International Bureau related to other international applications or international registrations for which the same e-mail address
                  has been, or will be, provided will also be sent only electronically. <br>
                Please note that, for the purpose of electronic communication, there can be only one e-mail address recorded per each international registration.
              </p>
              <p>
                WIPO will not share the provided email address with any third parties, except with designated Contracting Parties for the express purpose of transmitting official communications regarding the concerned international registration.
              </p>
              
            </div>
            <div class="col-12">
              <p>
                signature of the holder appointing the above (new) representative 
                <br>
                โปรดพิมพ์ชื่อผู้ขอ / ผู้มีอำนาจลงนาม (นิติบุคคล)
              </p>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">4</label> <span style="color: red;">*</span> DESIGNATIONS <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              (Information on the procedures in the national or regional Offices of the members of the Madrid
               System may be found at the following website: <a href="https://www.wipo.int/madrid/en/members/ipoffices_info.html"> www.wipo.int/madrid/en/members/ipoffices_info.html.</a>
                Additional information may be found in the information notices available at: <a href="https://www.wipo.int/madrid/en/notices/">www.wipo.int/madrid/en/notices/.</a> )
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist1">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist2">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist3">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist4">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-12">
              <input type="checkbox"> Other
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <p>
                1. The designation of the European Union covers its Member States (Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, 
                Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, 
                The Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden) and, during a transition period,
                 the United Kingdom (for further information, see Information Notice No. 2/2020.
              </p>
              <p>
                If the European Union is designated, it is compulsory to indicate a second language before the Office of the European 
                Union. The second language must be chosen from among the following five languages, but may not be the language of
                 the international application from which the international registration indicated in item 1 resulted, regardless of 
                 the language of the present subsequent designation. Thus, for example, if the international application was filed in 
                 French and this subsequent designation is in English, French may not be selected as the second language (check one box only):
              </p>
            </div>
            <div class="col-12">
              <span><input type="radio" name="conuntry2"> French </span> 
              <span><input type="radio" name="conuntry2"> German </span> 
              <span><input type="radio" name="conuntry2"> Italian </span> 
              <span><input type="radio" name="conuntry2"> Spanish </span> 
            </div>
            <div class="col-12">
              Moreover, if the holder wishes to claim the seniority of an earlier mark registered in, or for, a Member State of the European Union,
               the official form MM17 must be annexed to the present subsequent designation.
            </div> 
            <div class="col-12">
              <input type="checkbox"> MM17 (กรุณาอัปโหลดไฟล์ MM17 ที่ได้ลงลายมือชื่อแล้ว เป็นไฟล์นามสกุล.pdf)
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
             &nbsp; <span><button class="btn-dowload-file"> MM17 Download </button> </span>
            </div> 
            <div class="col-12">
              <p>2. By designating Brunei Darussalam, India, Ireland, Lesotho, Malawi, Malaysia, Mozambique, New Zealand, Singapore or the United Kingdom, the holder declares that he has the intention that the mark will be used by him or with his consent in
                that country in connection with the goods and services identified in the present subsequent designation.
              </p>
              <p>3. The designation of the African Intellectual Property Organization (OAPI) covers the following Member States: Benin, Burkina Faso, Cameroon, Central African Republic, Chad, Comoros, Congo, Côte d’Ivoire, Equatorial Guinea, Gabon, Guinea,
                Guinea-Bissau, Mali, Mauritania, Niger, Senegal, Togo.
              </p>
              <p> 4. If the United States of America is designated, it is compulsory to annex to the present subsequent designation the official form (MM18) containing the declaration of intention to use the mark required by this Contracting Party. Item 6(a) of the
                present form should also be completed.
              </p>
            </div>
            <div class="col-12">
              <input type="checkbox"> MM18 (กรุณาอัปโหลดไฟล์ MM18 ที่ได้ลงลายมือชื่อแล้ว เป็นไฟล์นามสกุล.pdf)
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
             &nbsp; <span><button class="btn-dowload-file"> MM18 Download </button> </span>
            </div> 
            <div class="col-12">
              <p>
                5. Brazil, Cuba and Japan have made a notification under Rule 34(3)(a) of the Regulations under the Protocol.
                 Their respective individual fees are payable in two parts. Therefore, if Brazil, Cuba or Japan is designated,
                  only the first part of the applicable individual fee is payable at the time of filing the present subsequent
                   designation. The second part will have to be paid only if the Office of the Contracting Party concerned is
                    satisfied that the mark which is the subject of the international registration qualifies for protection.
                     The date by which the second part must be paid, and the amount due, will be notified to the holder of the 
                     international registration at a later stage.
              </p>
              <p>
                6. Territorial entity previously part of the former Netherlands Antilles.
              </p>
              <p>
                7. Protection in BQ (Bonaire, Saint Eustatius and Saba) is granted automatically with the designation (see Information Notice No. 27/2011).
              </p>
              <p>  8. Brazil, Estonia, India, Namibia and the Philippines have made the declaration referred to in Article 14(5) of the Protocol. Accordingly, it is not possible to subsequently designate Brazil in respect of international registrations effected prior to
                  October 2, 2019, Estonia in respect of international registrations effected prior to November 18, 1998, India in respect of international registrations effected prior to July 8, 2013, Namibia in respect of international registrations effected prior to
                  June 30, 2004, and the Philippines in respect of international registrations effected prior to July 25, 2012.
              </p>
              <p>
                9. By designating Brazil, the holder declares that the holder, or a company controlled by the holder, effectively and lawfully conducts business in connection with the goods and services for which Brazil is being designated
              </p>
              <p>
                10. The designation of Benelux covers the following States: Belgium, Luxembourg and the Netherlands. 
              </p>
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">5</label> goods and services concerned by the subsequent designation <span style="font-weight: normal;color: rgb(180, 180, 180);font-size: 14px;">  (check only one box)</span> &nbsp; <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <input type="radio" name="goods"> (a) the subsequent designation is made, in respect of all the Contracting Parties designated in item 4, for all the goods and services listed in the international registration indicated in item 1; or
              <br>
              <input type="radio" name="goods"> (b) the subsequent designation is made, in respect of all the Contracting Parties designated in item 4, only for those goods and services listed in the continuation sheet (which must be grouped in the appropriate class(es)); or
            
            </div>
            <div class="col-12">
              <table class="table table-bordered" style="width: 100%;">
                <thead>
                  <tr>
                    <td class="table-header">Class</td>
                    <td class="table-header">รายการสินค้า/บริการ</td>
                    <td class="table-header">Goods and service</td>
                    <td class="table-header" style="width: 50px;">คำสั่ง</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>            
                    <td>
                     
                    </td>
                    <td>
                   
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td style="text-align: center;">
                        <span><button class="btn-minus"> <i class="fa fa-minus" style="font-size: 20px;"></i> </button> </span>
                    </td>

                  </tr>
                  <tr>                   
                
                    <td>
                     
                    </td>
                    <td>
                   
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td style="text-align: center;">
                        <span><button class="btn-plus"> <i class="fa fa-plus" style="font-size: 20px;"></i> </button> </span>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12">
              <input type="checkbox"> (c) the subsequent designation is only for those goods and services listed in the continuation sheet in
                       respect of the Contracting Parties identified in the said continuation sheet; in respect of the other Contracting Parties
                        designated in item 4, the subsequent designation is for all the goods and services listed in the international registration
                         identified in item 1.
            </div>
            <div class="col-12">
              <p>You can find indications that are pre-accepted, it by the international Bureau in the Madrid Goods & Services Manager (MGS) at 
                <a href="https://www.wipo.int/mgs/"> www.wipo.int/mgs/.</a>
              </p>
              <p>
              Please make consistent use of a semicolon (;) to clearly specify the goods and services indications in your list, e.g.: <br>
              09 Scientific, optical and electronic apparatus and instruments; screens for photoengraving; computers. <br>
              35 Advertising; compilation of statistics; commercial information  agencies.
            </p>
            <p>
              Please use font <b style="font-family: 'Courier New', Courier, monospace;"> “Courier New”  </b>or <b style="font-family: 'Times New Roman', Times, serif;">  “Times New Roman”</b>, size 12 pt, or above
            </p>
            </div>
            <div class="col-12">
              <table class="table table-bordered" style="width: 100%;">
                <thead>
                  <tr>
                  
                    <td class="table-header">Class</td>
                    <td class="table-header">รายการสินค้า/บริการ</td>
                    <td class="table-header">Goods and service</td>
                    <td class="table-header" style="width: 50px;">คำสั่ง</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>                   

                    <td>
                     
                    </td>
                    <td>
                     
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td style="text-align: center;">
                        <span><button class="btn-minus"> <i class="fa fa-minus" ></i></button> </span>
                    </td>
                  </tr>
                  <tr>                   
                    
                    <td>
                     
                    </td>
                    <td>
                     
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td style="text-align: center;">
                        <span><button class="btn-minus"> <i class="fa fa-minus" ></i></button> </span>
                    </td>
                  </tr>
                  <tr>                   
                   
                    <td>
                     
                    </td>
                    <td>
                     
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td style="text-align: center;">
                        <span><button class="btn-plus"> <i class="fa fa-plus" ></i></button> </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
                <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                  <i class="dip dip-icon-save"></i>
                  บันทึก</button>
              <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="REGISTER PAGE 2" [navigationSymbol]="{ symbol: '2' }">
          <div class="row">
            <div class="col-12">
              <hr>
              <div class="row">
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">6</label> <span></span> MISCELLANEOUS INDICATIONS <i class="fa fa-question-circle"></i> </h4>

                </div>
                <div class="col-11 ml-4">
                  (only provide these indications or translations if they are not already recorded in the International Register; if this is the case, 
                  the International Bureau will disregard any new indication or translation provided in item 6 of this form)
                </div>
              </div>
            
            </div>
               <div class="col-12">
                 (a) Indications concerning the holder (as may be required by certain designated Contracting Parties, such as, for example, the United States of America; only provide indications in either item (i) or in item (ii) but not in both items): 
               </div>
               <div class="col-12">
                  <div class="row">
                    <div class="col-12 pl-4  mt-2">
                      (i) if the holder is a natural person, nationality of the holder.
                    </div>
                    <div class="col-lg-6 col-sm-12 pl-4">
                      <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <input type="text" class="form-control" name="" id="" disabled>
                    </div>
                  </div>
               </div>
               <div class="col-12">
                 <div class="row">
                   <div class="col-12 pl-5  mt-2">
                    - legal nature of the legal entity 
                   </div>
                   <div class="col-lg-6 col-sm-12 pl-5">
                    <input type="text" class="form-control">
                   </div>
                   <div class="col-lg-6 col-sm-12">
                    <input type="text" class="form-control" disabled>
                   </div>
                 </div>
                 <div class="row">
                  <div class="col-12 pl-5  mt-2">
                    - State (country) and, where applicable, territorial unit within that State (canton, province, state, etc.), under the law of which the said legal entity has been organized
                  </div>
                  <div class="col-lg-6 col-sm-12 pl-5">
                   <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-6 col-sm-12">
                   <input type="text" class="form-control" disabled>
                  </div>
                </div>
               </div>
          <div class="col-12  mt-2">
            (b) Indication, for each color, of the principal parts of the mark that are in that color (as may be required by certain designated Contracting Parties):
          </div>
          <div class="col-lg-6 col-sm-12">
            <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
          </div>
          <div class="col-lg-6 col-sm-12">
            <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
          </div>
          <div class="col-12  mt-2">
            (c) Translation of the mark (as may be required by certain designated Contracting Parties; do not check box in item (d) if you provide a translation in this item):
          </div>
          <div class="col-12 pl-4  mt-2">
            (i) into English
          </div>
          <div class="col-lg-6 col-sm-12 pl-4">
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-lg-6 col-sm-12">
            <input type="text" name="" id="" class="form-control" disabled>
          </div>
          <div class="col-12 pl-4  mt-2">
            (ii) into English
          </div>
          <div class="col-lg-6 col-sm-12 pl-4">
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-lg-6 col-sm-12">
            <input type="text" name="" id="" class="form-control" disabled>
          </div>
          <div class="col-12 pl-4 mt-2">
            (iii) into English
          </div>
          <div class="col-lg-6 col-sm-12 pl-4">
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-lg-6 col-sm-12">
            <input type="text" name="" id="" class="form-control" disabled>
          </div>
          <div class="col-12">
            <input type="checkbox" name="" id=""> Check this box if the words contained in the mark have no meaning (and therefore cannot be translated; do not check this box if you have provided a translation in item (c)). 
          </div>
          <div class="col-12">
          (e)  Voluntary description of the mark (any description of the mark by words, including the description contained in the basic application or registration, if you were not required to provide this description in item 9(e)(i) of the international
            application form MM2)
          </div>
          <div class="col-lg-6 col-sm-12 pl-4">
            <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
          </div>
          <div class="col-lg-6 col-sm-12 pl-4">
            <textarea name="" id="" cols="30" rows="2" class="form-control" disabled></textarea>
          </div>
     
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">7</label> <span></span> DATE OF THE SUBSEQUENT DESIGNATION <i class="fa fa-question-circle"  style="font-size: 20px;"></i> </h4>
            </div>
            <div class="col-12">
              (if neither of these boxes is checked, the date of this subsequent designation will, subject to Rule 24(6)(c)(i) of the Regulations under the Protocol, be the date of its receipt by the International Bureau if 
              it has been presented direct to the International Bureau, or, if it has been presented through the intermediary of an Office, the date of receipt by that Office, provided 
              that the said designation has been received by the International Bureau within a period of two months from that date and subject to Rule 24(6)(c)(i) and (d) of the Regulations under the Protocol)
            </div>
            <div class="col-12">
                  <input type="checkbox" name="" id=""> (a) this subsequent designation shall take effect after the renewal of the international registration indicated in item 1;
            </div>
            <div class="col-12">
              <input type="checkbox" name="" id=""> (b) this subsequent designation shall take effect after the recording in the International Register of the following change or cancellation in respect of the international registration indicated in item 1 (specify the change or cancellation):
            </div>
            <div class="col-12">
              <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">8</label> <span></span> SIGNATURE BY THE HOLDER AND/OR HIS REPRESENTATIVE <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <p>
               <span style="font-size: 12px;">Holder </span>   <br>
                <span style="font-size: 11px;">(as recorded in the International Register)
                </span>
                <br>
                By signing this form, I declare that I am entitled to sign it under the applicable law: 
              </p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      <span style="color: red;">*</span> Name
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                     E-mail
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mt-3">
              <p>
                <span style="font-size: 12px;">Representative of the holder
                </span>   <br>
                 <span style="font-size: 11px;"> (as recorded in the International Register or herein appointed)

                 </span>
                 <br>
                 By signing this form, I declare that I am entitled to sign it under the applicable law:
               </p>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12"> Name
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                     E-mail
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <hr>
              <div class="row">
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">9</label> <span></span>DATE OF RECEIPT AND DECLARATION BY THE OFFICE OF THE CONTRACTING PARTY OF THE HOLDER PRESENTING THE SUBSEQUENT DESIGNATION<i class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-11 pl-4" style="margin-top: -10px;">
                  (where the subsequent designation is presented through an Office)
                </div>
              </div>
            </div>
            <div class="col-12">
              Date of receipt of the subsequent designation by the Office
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="input-container">
                <input class="input-field" type="text" disabled>
                <i class="fa fa-calendar icon"></i>
              </div>
            </div>
      
            <div class="col-12" style="text-align: center;">
              <h4 class="sub-head-title"> ส่วนของเจ้าหน้าที่ </h4>
            </div>
            <div class="col-12">
              <hr>
              <div class="row">
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">10</label> <span></span>OFFICE OF THE CONTRACTING PARTY OF THE HOLDER PRESENTING THE REQUEST  <i class="fa fa-question-circle"></i> </h4>

                </div>
                <div class="col-11 ml-4" style="margin-top: -10px;">
                  (where the request is presented through an Office)
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-4 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Name of the Office
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Name of the Office
                    </div>
                    <div class="col-12">
                      <select name="" id="" class="form-control">
                        <option value="">Name </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Name and e-mail address of the contact person in the Office 
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <hr>
          </div>
          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-brand   btn-align-center" awPreviousStep>
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ</button>
              <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
                <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                  <i class="dip dip-icon-save"></i>
                  บันทึก</button>
              <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                <i class="fa fa-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>

        </aw-wizard-step>
  
        <aw-wizard-step stepTitle="CALCULATION" [navigationSymbol]="{ symbol: '3' }">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <hr>
              <h4 class="sub-head-title"> FEE CALCULATION SHEET <i class="fa fa-question-circle sub-head-title" style="font-size: 20px;"></i> </h4> 
              <hr>
            </div>
            <div class="col-12">
                <h6>(a) INSTRUCTIONS TO DEBIT FROM A CURRENT ACCOUNT <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i></h6>  
            </div>
            <div class="col-12 pl-5">
                <input type="checkbox"> The International Bureau is hereby instructed to debit the required amount of 
                fees from a current account opened with the International Bureau (if this box is checked, it is not necessary to complete (b)).
                <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
             Holder of the account
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
              Account number
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
             Identity of the party giving the instructions
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
              <hr>
           
                  <h6> <span> (b) AMOUNT OF FEES  </span> 
                    <span style="font-weight: normal">  
                      (see Fee Calculator: <a href="https://www.wipo.int/madrid/en/fees/calculator.jsp"> www.wipo.int/madrid/en/fees/calculator.jsp) </a> 
                     
                    </span>
                    </h6>
                    <span style="font-size: 11px;">Basic fee: 300</span>
            </div>
 
            <div class="col-12">
              <h6> Complementary and supplementary fees  </h6>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Number of designations for which complementary fee is applicable
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        X
                      </div>
                    </div>
                    <div class="col-4" style="text-align: center;">
                  
                        Complementary fee <br>
                        100 Swiss francs
                    
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-1" style="visibility: hidden;">
                      col
                    </div>
                    <div class="col-11">
                      Total amount of the complementary fees
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =>
                      </div>
                    </div>
                    <div class="col-5">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <h6> Fees of Contracting Parties </h6>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Designated Contracting Parties
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Fees per Contracting Party
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12" style="visibility: hidden;">
                      ROW
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row" style="visibility: hidden;">
                    ROW
                  </div>
                  <div class="row">
                
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Total Fees of Contracting Party
                </div>
                <div class="col-lg-3 col-sm-6 ">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Basic Fee
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Supplementary Fee
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" >
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                 <span> GRAND TOTAL </span> <span style="font-size: 11px;"> ( Swiss francs )</span>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
            </div>
            <div class="col-12">
              <hr>
              <h6> 
                (c)  METHOD OF PAYMENT 
              </h6>
            </div>
            <div class="col-12">
              Identity of the party effecting the payment 
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <input type="checkbox"> Payment received and acknowledged by WIPO 
            </div>
            <div class="col-12">
              WIPO receipt number
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <input type="radio"> Payment made to WIPO bank account IBAN No. CH51 0483 5048 7080 8100 0 Crédit Suisse, CH-1211 Geneva 70 Swift/BIC: CRESCHZZ80A
              
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Payment identification
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      dd/mm/yyyy
                    </div>
                    <div class="col-11">
                      <div class="input-container">
                        <input class="input-field" type="text">
                        <i class="fa fa-calendar icon"></i>
                      </div>
                    </div>
                    <div class="col-1">
                      <span>
                        <button class="btn-add"> 
                        <i class="fa fa-plus" style="font-size: 20px;"></i>
                       </button> 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="radio">Payment made to WIPO postal account (within Europe only) IBAN No. CH03 0900 0000 1200 5000 8 Swift/BIC: POFICHBE 0
             
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Payment identification
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      dd/mm/yyyy
                    </div>
                    <div class="col-11">
                      <div class="input-container">
                        <input class="input-field" type="text">
                        <i class="fa fa-calendar icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for=""> หลักฐานการชำระค่าธรรมเนียม  </label> 
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
             </div>
             <div class="col-12">
               <hr>
               <span style="color: red;">*</span>
               <span class="sub-head-title"> กรุณากรอกชื่อที่ต้องการออกในใบเสร็จรับเงินของกรมทรัพย์สินทางปัญญา(ภาษาไทย)
               
              </span> 
             </div>
             <div class="col-lg-3 col-md-6 col-sm-12">
               <div class="row"> 
                 <div class="col-12">
                   ชื่อ 
                 </div>
                 <div class="col-12">
                   <input type="text" class="form-control">
                 </div>
               </div>
             </div>

            <div class="col-lg-9 col-md-12">
              <div class="row">
                <div class="col-12">
                  ที่อยู่ 
                </div>
                <div class="col-12">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="checkbox"> ต้องการรับใบเสร็จทางไปรษณีย์
            </div>
            <div class="col-12">
              (ใบเสร็จของกรมทรัพย์สินทางปัญญาจะถูกจัดส่งทางไปรษณีย์)
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-12">
              <hr>
            </div>
          
              <div class=" button-list">
                <button type="button" class="btn btn-brand   btn-align-center" awPreviousStep>
                  <i class="fa fa-arrow-left"></i>
                  ย้อนกลับ</button>
                <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                  <i class="dip dip-icon-recycle-rectangle"></i>
                  เริ่มใหม่</button>
                  <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                    <i class="dip dip-icon-save"></i>
                    บันทึก</button>
                    <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                      <i class="dip dip-icon-printer"></i>
                      พิมพ์</button>
                <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                  <i class="fa fa-paper-plane"></i>
                  เสร็จสิ้น</button>
              </div>

            
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </div>

  </div>
</div>
