<!-- Start ข้อมูลทั่วไป -->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลทั่วไป
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="trademark-row flex">
      <div class="trademark-image-wrapper">
        <button class="sound-btn btn btn-icon btn-brand small-btn">
          <i class="dip-icon-loudspeaker"></i>
        </button>

        <div class="select-view">
          <div class="form-group flex view-dimension">
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand">
                  <input type="radio" name="view_dimension" checked />
                  <div class="inside-label">2D</div>
                  <span></span>
                </label>

                <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand">
                  <input type="radio" name="view_dimension" />
                  <div class="inside-label">3D</div>
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <img
          src="../../../assets/images/examples/example-logo-1.png"
          class="trademark-image"
          alt="Trademark Image"
        />
      </div>

      <div class="trademark-info-wrapper">
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label" for="trademark_request_id">
              เลขที่คำขอ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_request_id"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_request_date">
              วันที่ยื่นคำขอ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_request_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_submission_date">
              วันที่ยื่นตาม ม.28
            </label>

            <div class="input-wrapper">
              <div class="input-wrapper-row with-label">
                <input
                  class="form-control input"
                  type="text"
                  id="trademark_category"
                  readonly
                />
                <div class="input-group-append">
                  <button class="btn btn-icon btn-white">
                    <i class="dip-icon-search-plus"></i>
                  </button>
                </div>
              </div>

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_registration_id">
              ทะเบียนเลขที่
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_registration_id"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_due_date">
              วันที่ครบกำหนด
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_due_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_documents">
              จำพวกสินค้า
            </label>

            <div class="input-wrapper">
              <div class="input-wrapper-row with-label">
                <input
                  class="form-control input"
                  type="text"
                  id="trademark_category"
                  readonly
                />
                <div class="input-group-append">
                  <button class="btn btn-icon btn-white">
                    <i class="dip-icon-search-plus"></i>
                  </button>
                </div>
              </div>

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_category">
              เจ้าของ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_category"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_documents">
              สถานะคำขอ
            </label>

            <div class="input-wrapper">
              <div class="input-wrapper-row with-label">
                <input
                  class="form-control input"
                  type="text"
                  id="trademark_category"
                  readonly
                  placeholder="รอดำเนินการเรื่อง..."
                />
                <div class="input-group-append">
                  <button class="btn btn-icon btn-white">
                    <i class="dip-icon-search-plus"></i>
                  </button>
                </div>
              </div>
              
              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-wrapper flex justify-content-end">
              <button class="q-and-a-page btn btn-dark-gray mr-3">
                <i class="dip-icon-hyperlink"></i>หน้าสอบถาม
              </button>
              <button class="q-and-a-page btn btn-dark-gray">
                <i class="dip-icon-layer"></i>เอกสารสแกน
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End ข้อมูลทั่วไป -->

<!-- Start รายละเอียดคำขอ -->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        รายละเอียดคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole04CreateSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 1"
             (click)="tab_menu_show_index = 1">คำสั่งนายทะเบียน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 2"
             (click)="tab_menu_show_index = 2">พิจารณาคำสั่ง</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 3"
             (click)="tab_menu_show_index = 3">เจ้าของ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 4"
             (click)="tab_menu_show_index = 4">ตัวแทน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 5"
             (click)="tab_menu_show_index = 5">บัตรหมาย</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 6"
             (click)="tab_menu_show_index = 6">รายการสินค้า</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 7"
             (click)="tab_menu_show_index = 7">ค่าธรรมเนียม</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 8"
             (click)="tab_menu_show_index = 8">มาตรา</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 9"
             (click)="tab_menu_show_index = 9">ประวัติ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 10"
             (click)="tab_menu_show_index = 10">เอกสารแสกน</div>

        <div class="div-tab-action">
          <!--<button type="button"
                  class="btn btn-brand"
                  (click)="onClickDocumentRole04CreateSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>-->
        </div>

      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
          <div class="table-responsive">
            <div class="table">
              <div class="table-inner">
                <div class="tr header"
                  *ngFor="let item of tableRequestDetail.head_column_list; index as i"
                >
                  <div class="td order center">
                    {{ item.order }}
                  </div>
                  <div class="td command center">
                    {{ item.command }}
                  </div>
                  <div class="td date center">
                    {{ item.date }}
                  </div>
                  <div class="td registrar center">
                    {{ item.registrar }}
                  </div>
                  <div class="td book-status center">
                    {{ item.book_status }}
                  </div>
                  <div class="td date-order center">
                    {{ item.date_order }}
                  </div>
                  <div class="td no center">
                    {{ item.no }}
                  </div>
                  <div class="td worker center">
                    {{ item.worker }}
                  </div>
                  <div class="td note center">
                    {{ item.note }}
                  </div>
                  <div class="td status center">
                    {{ item.status }}
                  </div>
                  <div class="td scrollbar"></div>
                </div>
      
                <div class="table-data">
                  <div class="tr"
                    *ngFor="let item of tableRequestDetail.column_list; index as i"
                    [ngSwitch]="item.status"
                  >
                    <div class="td order center">
                      {{ (i + 1) }}
                    </div>
                    <div class="td command center">
                      {{ item.command }}
                    </div>
                    <div class="td date center">
                      {{ item.date }}
                    </div>
                    <div class="td registrar center">
                      {{ item.registrar }}
                    </div>
                    <div class="td book-status center">
                      {{ item.book_status }}
                    </div>
                    <div class="td date-order center">
                      {{ item.date_order }}
                    </div>
                    <div class="td no center">
                      {{ item.no }}
                    </div>
                    <div class="td worker center">
                      {{ item.worker }}
                    </div>
                    <div class="td note center">
                      {{ item.note }}
                    </div>
                    <div class="td status">
                      <div *ngSwitchCase="'ordered'"
                          class="tag gray">
                          สั่งแล้ว
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 4">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 10">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End รายละเอียดคำขอ -->

<!-- Start หนังสือทั้งหมด -->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        หนังสือทั้งหมด
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="book-table mt-4 mb-4">
      <div class="table-responsive">
        <div class="table">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select center">
                <label
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                >
                  <input
                    type="checkbox"
                    (click)="onClickCheckBoxTable('requestList', 0, true)"
                    [checked]="fasle"
                  />
                  <span></span>
                </label>
              </div>
              <div class="td center record-order">
                ลำดับ
              </div>
              <div class="td center">
                คำร้อง
              </div>
              <div class="td center">
                หนังสือ
              </div>
              <div class="td center date">
                วันที่สั่ง
              </div>
              <div class="td center date">
                ออกหนังสือรอบ 1
              </div>
              <div class="td center date">
                ออกหนังสือรอบ 2
              </div>
              <div class="td center">
                การโต้ตอบ
              </div>
              <div class="td center date">
                วันที่ตอบโต้
              </div>
              <div class="td center date">
                ครบกำหนด
              </div>
              <div class="td center">
                เรื่อง
              </div>
              <div class="td center po">
                เลข พณ.
              </div>
              <div class="td center status">
                สถานะ
              </div>
              <div class="td center operation">
                คำสั่ง
              </div>
              <div class="td scrollbar"></div>
            </div>
  
            <div class="table-data">
              <div class="tr">
                <div class="td select center">
                  <label
                    class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                  >
                    <input
                      type="checkbox"
                      (click)="onClickCheckBoxTable('requestList', 0, true)"
                      [checked]="fasle"
                    />
                    <span></span>
                  </label>
                </div>
                <div class="td center record-order">
                  1
                </div>
                <div class="td center">
                  ก.06
                </div>
                <div class="td center">
                  ตค. 5(8)
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center">
                  <div class="input-wrapper">
                    <div class="input-wrapper-row">
                      <select
                        class="form-control custom-select"
                        [(ngModel)]="input.type_code"
                        (input)="clearValidate('type_code')"                        
                      >
                        <option disabled selected hidden [value]="undefined">ยังไม่หลุด</option>
                        <option *ngFor="let item of master.typeCodeList4" [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>

                      <button class="btn btn-sm btn-white btn-icon disabled ml-2" type="button">
                        <i class="dip-icon-file-pdf"></i>
                      </button>        
                    </div>
                    <div class="feedback-wrapper"
                      *ngIf="fasle" 
                    >
                      <div
                        [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                      >
                        error
                      </div>
                    </div>
                  </div>
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center">
                  ชำระค่าธรรมเนียมเพิ่มเติม
                </div>
                <div class="td center po">
                  <div class="tooltip-wrapper">
                    <button class="btn btn-sm btn-outline-brand justify-content-center" type="button">
                      <i class="dip-icon-document-tray pr-0"></i>  
                    </button>  
                    <div class="tooltiptext has-arraw tooltip-left">
                      234/244
                    </div>
                  </div>

                  <!-- Start for ng tooltip but it isn't support arrow -->
                  <!-- <button mat-raised-button
                          matTooltip="234/244"
                          matTooltipPosition="left"
                          matTooltipClass="example-tooltip-red"
                          class="btn btn-sm btn-brand btn-icon">
                    <i class="dip-icon-file-pdf"></i>
                  </button> -->
                </div>
                <div class="td center status">
                  <div class="tag red">
                    เกินเวลา
                  </div>
                </div>
                <div class="td center operation">
                  <button class="btn btn-sm btn-brand btn-icon" type="button">
                    <i class="dip-icon-edit-pen"></i>
                  </button>
                  <button class="btn btn-sm btn-white btn-icon disabled ml-2" type="button">
                    <i class="dip-icon-file-pdf"></i>
                  </button>
                </div>
              </div>
              <div class="tr">
                <div class="td select center">
                  <label
                    class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                  >
                    <input
                      type="checkbox"
                      (click)="onClickCheckBoxTable('requestList', 0, true)"
                      [checked]="fasle"
                    />
                    <span></span>
                  </label>
                </div>
                <div class="td center record-order">
                  2
                </div>
                <div class="td center">
                  ก.04
                </div>
                <div class="td center">
                  ตค. 5(8)
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center">
                  <div class="input-wrapper">
                    <div class="input-wrapper-row">
                      <select
                        class="form-control custom-select"
                        [(ngModel)]="input.type_code"
                        (input)="clearValidate('type_code')"                        
                      >
                        <option disabled selected hidden [value]="undefined">ยังไม่หลุด</option>
                        <option *ngFor="let item of master.typeCodeList4" [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>

                      <button class="btn btn-sm btn-white btn-icon disabled ml-2" type="button">
                        <i class="dip-icon-file-pdf"></i>
                      </button>        
                    </div>
                    <div class="feedback-wrapper"
                      *ngIf="fasle" 
                    >
                      <div
                        [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                      >
                        error
                      </div>
                    </div>
                  </div>
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center date">
                  10/10/2550
                </div>
                <div class="td center">
                  เสนอนายทะเบียนตรวจสอบพิจารณา
                </div>
                <div class="td center po">
                  <div class="tooltip-wrapper">
                    <button class="btn btn-sm btn-outline-brand justify-content-center" type="button">
                      <i class="dip-icon-document-tray pr-0"></i>  
                    </button>  
                    <div class="tooltiptext has-arraw tooltip-left">
                      234/244
                    </div>
                  </div>

                  <!-- Start for ng tooltip but it isn't support arrow -->
                  <!-- <button mat-raised-button
                          matTooltip="234/244"
                          matTooltipPosition="left"
                          matTooltipClass="example-tooltip-red"
                          class="btn btn-sm btn-brand btn-icon">
                    <i class="dip-icon-file-pdf"></i>
                  </button> -->
                </div>
                <div class="td center status">
                  <div class="tag red">
                    เอกสารไม่ตรง
                  </div>
                </div>
                <div class="td center operation">
                  <button class="btn btn-sm btn-brand btn-icon" type="button">
                    <i class="dip-icon-edit-pen"></i>
                  </button>
                  <button class="btn btn-sm btn-white btn-icon disabled ml-2" type="button">
                    <i class="dip-icon-file-pdf"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End หนังสือทั้งหมด -->


<!-- Start การตรวจสอบเพื่อคุมเวลา -->
<div class="kt-portlet time">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        การตรวจสอบเพื่อคุมเวลา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="element-list flex-wrap">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
        *ngFor="let item of master.checkList"
      >
        <input
          type="checkbox"
          (click)="toggleBoolean('input', item.code)"
          (input)="clearValidate('type_code')"
        />
        {{item.name}}
        <span></span>
      </label>
    </div>
  </div>
</div>
<!-- End การตรวจสอบเพื่อคุมเวลา -->

<!-- Start บันทึกเสนอนายทะเบียน -->
<div class="kt-portlet record">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        บันทึกเสนอนายทะเบียน
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label
        class="kt-radio kt-radio--bold kt-radio--brand"
        *ngFor="let item of master.typeCodeList2"
      >
        <input
          name="type_code"
          type="radio"
          (click)="binding('input', 'type_code', item.code)"
          [checked]="item.code === input.type_code"
          (input)="clearValidate('type_code')"
        />
        {{ item.name }}
        <span></span>
      </label>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index2 == 1"
             (click)="tab_menu_show_index2 = 1">บันทึกเสนอนายทะเบียน <span class="status done"></span> </div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index2 == 2"
             (click)="tab_menu_show_index2 = 2">พิจารณาเอกสาร  <span class="status edit"></span></div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index2 == 3"
             (click)="tab_menu_show_index2 = 3">ออกหนังสือ  <span class="status edit"></span></div>
        <div class="div-tab-action">

        </div>
      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="tab_menu_show_index2 != 1">
          <div class="record-form">
            <div class="form-row flex-column">
              <div class="form-group">
                <label class="col-form-label">
                  ความคิดเห็นเสนอนายทะเบียน
                </label>
      
                <div class="input-wrapper">
                  <select
                    class="form-control custom-select"
                    [(ngModel)]="input.type_code"
                    (input)="clearValidate('type_code')"
                    disabled
                  >
                    <option disabled selected hidden [value]="undefined">เห็นควรสั่งให้แก้ไขข้อบกพร่อง</option>
                    <option *ngFor="let item of master.typeCodeList" [value]="item.code">
                      {{ item.name }}
                    </option>
                  </select>
      
                  <div class="feedback-wrapper">
                    <div
                      [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                      *ngIf="fasle"
                    >
                      error
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <div class="label-row flex">
                  <label
                    class="col-form-label"
                    for="registrar_proposed_detail"
                  >
                    รายละเอียด
                  </label>
      
                  <button class="btn btn-icon btn-brand tiny-btn btn-search ml-3"
                          (click)="toggleModal('isModalExampleOpen')">
                    <i class="dip-icon-search"></i>
                  </button>
                </div>
      
                <div class="input-wrapper">
                  <textarea
                    class="form-control textarea"
                    id="registrar_proposed_detail"
                    type="text"
                    rows="5"
                    placeholder="ตค. 5 ข้อ 8 - เนื้อหาจำลองแบบเรียบๆ ที่ใช้กันในธุรกิจงานพิมพ์หรืองานเรียงพิมพ์ มันได้กลายมาเป็นเนื้อหาจำลองมาตรฐานของธุรกิจดังกล่าวมา ตั้งแต่ศตวรรษที่ 16 เมื่อเครื่องพิมพ์โนเนมเครื่องหนึ่งนำรางตัวพิมพ์มาสลับสับตำแหน่งตัวอักษรเพื่อทำหนังสือ ตัวอย่าง Lorem Ipsum อยู่ยงคงกระพันมาไม่ใช่แค่เพียงห้าศตวรรษ"
                  ></textarea>
      
                  <div class="feedback-wrapper">
                    <div
                      [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                      *ngIf="fasle"
                    >
                      error
                    </div>
                  </div>
                </div>
              </div>   
            </div>

            <div class="form-group">
              <div class="button-wrapper">
                <div class="left-group flex">
                  <button class="btn btn-secondary mr-3">
                    <i class="dip-icon-save"></i> บันทึก
                  </button>
    
                  <button class="btn btn-white">
                    ยกเลิก
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index2 != 2">
          <div class="record-table mt-4 mb-4">
            <div class="table-responsive">
              <div class="table">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td center record-order">
                      ลำดับ
                    </div>
                    <div class="td center document">
                      เอกสาร
                    </div>
                    <div class="td center receive-date">
                      วันที่รับ
                    </div>
                    <div class="td center consider">
                      พิจารณา
                    </div>
                    <div class="td center consider-date">
                      วันที่พิจารณา
                    </div>
                    <div class="td center document-scan">
                      เอกสารสแกน
                    </div>
                    <div class="td center">
                      รายละเอียด
                    </div>
                    <div class="td center">
                      เหตุผล
                    </div>
                    <div class="td scrollbar"></div>
                  </div>
        
                  <div class="table-data">
                    <div class="tr"
                      *ngFor="let item of tableViewDocument.column_list; index as i"
                    >
                      <div class="td center record-order">
                        {{ (i + 1) }}
                      </div>
                      <div class="td center document">
                        <div class="input-wrapper">
                          <div class="input-wrapper-row with-label">
                            <input
                              class="form-control input"
                              type="text"
                              id="trademark_category"
                            />
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <i class="dip-icon-file-alt"></i>
                              </div>                              
                            </div>
                          </div>
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                                
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center receive-date">
                        {{ item.date }}
                      </div>
                      <div class="td center consider">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">อนุญาต</option>
                            <option *ngFor="let item of master.typeCodeList3" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center consider-date">
                        <div class="input-wrapper input-with-icon datepicker">
                          <mat-form-field>
                            <div class="kt-input-icon kt-input-icon--right">
                              <input
                                class="form-control input"
                                placeholder=""
                                matInput
                                [matDatepicker]="request_date_1"
                                (click)="request_date_1.open()"
                                [(ngModel)]="input.request_date_1"
                                (dateChange)="clearValidate('request_date_1')"
                                [ngClass]="validate.request_date_1 ? 'is-invalid' : null"
                              />
                              <label
                                class="kt-input-icon__icon kt-input-icon__icon--right"
                                for="request_date_1"
                              >
                                <i class="dip-icon-calendar"></i>
                              </label>
                            </div>
                            <mat-datepicker-toggle matSuffix [for]="request_date_1"></mat-datepicker-toggle>
                            <mat-datepicker #request_date_1></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="td center document-scan">
                        <button class="btn btn-sm btn-white btn-icon disabled" type="button">
                          <i class="dip-icon-file-pdf"></i>
                        </button>
                      </div>
                      <div class="td center">
                        
                      </div>
                      <div class="td center">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="record-title m-1">
            ข้อมูลสำหรับประกอบการคุมเวลาของหนังสือ ตค.
          </div>

          <div class="record-table mb-2">
            <div class="table-responsive">
              <div class="table">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td center record-order">
                      ลำดับ
                    </div>
                    <div class="td center">
                      คำขอเลขที่
                    </div>
                    <div class="td center">
                      สถานะคำขอ
                    </div>
                    <div class="td center">
                      ประเภทหนังสือ
                    </div>
                    <div class="td center">
                      เลข พณ
                    </div>
                    <div class="td center">
                      วันที่ออกหนังสือ
                    </div>
                    <div class="td center">
                      วันที่ตอบรับ
                    </div>
                    <div class="td center">
                      วันที่ครบกำหนด
                    </div>
                    <div class="td center">
                      รายละเอียดมาตรา
                    </div>
                    <div class="td center">
                      สถานะ ต.ค
                    </div>
                    <div class="td center">
                      วันที่เปลี่ยนสถานะ
                    </div>
                    <div class="td center status-reason">
                      เหตุผลการเปลี่ยนสถานะ
                    </div>
                    <div class="td center">
                      เอกสารตค.
                    </div>
                    <div class="td scrollbar"></div>
                  </div>
        
                  <div class="table-data">
                    <div class="tr"
                      *ngFor="let item of tableInfo.column_list; index as i"
                    >
                      <div class="td center record-order">
                        {{ (i + 1) }}
                      </div>
                      <div class="td center">
                        160116489
                      </div>
                      <div class="td center">
                        D
                      </div>
                      <div class="td center">
                        ตค.1
                      </div>
                      <div class="td center">
                        0704/2374
                      </div>
                      <div class="td center">
                        10/11/2561
                      </div>
                      <div class="td center">
                        10/10/2561
                      </div>
                      <div class="td center">
                        10/11/2561
                      </div>
                      <div class="td center">
                        {{ item.detail }}
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">ยังไม่หลุด</option>
                            <option *ngFor="let item of master.typeCodeList4" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper input-with-icon datepicker">
                          <mat-form-field>
                            <div class="kt-input-icon kt-input-icon--right">
                              <input
                                class="form-control input"
                                placeholder=""
                                matInput
                                [matDatepicker]="request_date_2"
                                (click)="request_date_2.open()"
                                [(ngModel)]="input.request_date_2"
                                (dateChange)="clearValidate('request_date_2')"
                                [ngClass]="validate.request_date_2 ? 'is-invalid' : null"
                              />
                              <label
                                class="kt-input-icon__icon kt-input-icon__icon--right"
                                for="request_date_2"
                              >
                                <i class="dip-icon-calendar"></i>
                              </label>
                            </div>
                            <mat-datepicker-toggle matSuffix [for]="request_date_2"></mat-datepicker-toggle>
                            <mat-datepicker #request_date_2></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="td center status-reason">
                        <div class="input-wrapper">
                          <div class="input-wrapper-row with-label">
                            <input
                              class="form-control input"
                              type="text"
                              id="trademark_category"
                            />
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <i class="dip-icon-file-alt"></i>
                              </div>                              
                            </div> 
                          </div>
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                                
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <button class="btn btn-sm btn-white btn-icon disabled" type="button">
                          <i class="dip-icon-file-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="button-wrapper">
              <div class="left-group flex">
                <button class="btn btn-secondary mr-3">
                  <i class="dip-icon-save"></i> บันทึก
                </button>
  
                <button class="btn btn-white">
                  ยกเลิก
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index2 != 3">
          <div class="record-table mt-4 mb-4">
            <div class="table-responsive">
              <div class="table">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td center record-order">
                      ลำดับ
                    </div>
                    <div class="td center">
                      ผู้รับหนังสือ
                    </div>
                    <div class="td center">
                      ประเภทหนังสือ
                    </div>
                    <div class="td center">
                      ข้อความ
                    </div>
                    <div class="td center">
                      ชื่อ
                    </div>
                    <div class="td center">
                      ที่อยู่
                    </div>
                    <div class="td center">
                      สั่งให้รอ
                    </div>
                    <div class="td center">
                      คุมเวลา
                    </div>
                    <div class="td center">
                      ค่าธรรมเนียม
                    </div>
                    <div class="td center operation">
                      คำสั่ง
                    </div>
                    <div class="td scrollbar"></div>
                  </div>
        
                  <div class="table-data">
                    <div class="tr"
                      *ngFor="let item of tableIssueBook.column_list; index as i"
                    >
                      <div class="td center record-order">
                        {{ (i + 1) }}
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">เจ้าของ</option>
                            <option *ngFor="let item of master.typeCodeList5" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">ต.ค.5 ข้อ 8</option>
                            <option *ngFor="let item of master.typeCodeList6" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <div class="input-wrapper-row with-button">
                            <input
                              class="form-control input"
                              type="text"
                              id="trademark_category"
                            />
                            <div class="input-group-append">
                              <button class="btn btn-icon btn-brand btn-search">
                                <i class="dip-icon-search"></i>
                              </button>
                            </div>
                          </div>
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                                
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <input
                            class="form-control input"
                            type="text"
                            id="trademark_request_id"
                            readonly
                          />
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <input
                            class="form-control input"
                            type="text"
                            id="trademark_request_id"
                            readonly
                          />
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">ต.ค.5 ข้อ 8</option>
                            <option *ngFor="let item of master.typeCodeList6" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <select
                            class="form-control custom-select"
                            [(ngModel)]="input.type_code"
                            (input)="clearValidate('type_code')"
                            disabled
                          >
                            <option disabled selected hidden [value]="undefined">ต.ค.5 ข้อ 8</option>
                            <option *ngFor="let item of master.typeCodeList6" [value]="item.code">
                              {{ item.name }}
                            </option>
                          </select>
              
                          <div class="feedback-wrapper"
                            *ngIf="fasle" 
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center">
                        <div class="input-wrapper">
                          <div class="input-wrapper-row with-label">
                            <input
                              class="form-control input"
                              type="text"
                              id="trademark_category"
                              readonly
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">บาท</span>
                            </div>
                          </div>
            
                          <div class="feedback-wrapper"
                            *ngIf="fasle"
                          >
                            <div
                              [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"                              
                            >
                              error
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="td center operation">
                        <button class="btn btn-sm btn-brand btn-icon" type="button">
                          <i class="dip-icon-file-alt"></i>
                        </button>
                        <button class="btn btn-sm btn-danger btn-icon" type="button">
                          <i class="dip-icon-delete-cross"></i>
                        </button>
                        <button class="btn btn-sm btn-create-new btn-icon" type="button">
                          <i class="dip-icon-add-new"></i>
                        </button>
                      </div>
                    </div>
                    <div class="tr">
                      <div class="td center record-order">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center">
                      </div>
                      <div class="td center operation">
                        <button class="btn btn-sm btn-create-new btn-icon" type="button">
                          <i class="dip-icon-add-new"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End บันทึกเสนอนายทะเบียน -->

<!-- Start footer button -->
<div class="footer mt-lg-5 flex justify-content-center">
  <div class="button-wrapper flex">
    <button type="button"
            class="btn btn-orange mr-3 pl-4 pr-4"
            (click)="toggleModal('isModalEditOpen')">
      <i class="dip-icon-edit-pen"></i>
      ส่งแก้ไข
    </button>


    <button class="btn btn-brand pl-4 pr-4">
      <i class="dip-icon-check-2"></i> อนุญาต
    </button>
  </div>
</div>
<!-- End footer button -->

<!-- Start Popup / ส่งแก้ไข -->
<app-modal-dialog
  [className]="['fade edit-popup', modal.isModalEditOpen ? 'show' : undefined]"
  [modalSize]="'small'"
  [modalVerticalCenter]="true"
  (onClickClose)="toggleModal('isModalEditOpen')"
>
  <div body-children>
    <div class="edit-popup-container">
      <div class="header">
        ส่งแก้ไข
      </div>    
      <div class="body">
        <div class="form-group">
          <div class="input-wrapper">
            <textarea  
              class="form-control input" 
              placeholder="รายละเอียดเพิ่มเติม"
              type="text"
              rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="footer">
        <button type="button"
                class="btn btn btn-white mr-2"
                (click)="toggleModal('isModalEditOpen')">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button"
                class="btn btn-orange"
                (click)="toggleModal('isModalEditOpen')">
          <i class="dip-icon-edit-pen"></i>
          ส่งแก้ไข
        </button>
      </div>
    </div>
  </div>
</app-modal-dialog>
<!-- End Popup / ส่งแก้ไข -->

<!-- Start Popup / ข้อความตัวอย่าง -->
<app-modal-example
  [className]="['fade', modal.isModalExampleOpen ? 'show' : undefined]"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  [hideCloseCross]="false"
  (onClickClose)="toggleModal('isModalExampleOpen')"
>
</app-modal-example>
<!-- End Popup / ข้อความตัวอย่าง -->