:host .kt-portlet {
  font-size: 16px;
  font-weight: 400;
}

:host .kt-portlet .title-block {
  background-color: #EFF0F4;
  width: 133px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C84C8;
  margin-bottom: 8px;
}

:host .table-responsive {
  overflow: hidden;
  overflow-x: auto;
}

:host .table {
  border: 1px solid #eff1f5;
  min-width: 1600px;
}

:host .table .table-inner {
  margin-bottom: 0;
}

:host .table .table-inner .table-data {
  max-height: 400px;
  overflow-y: scroll;
}

:host .table .table-inner .table-data .tr:nth-child(2n-1) .td {
  background-color: #fff;
}

:host .table .table-inner .table-data .tr:nth-child(2n) .td {
  background-color: #fbfcfd;
}

:host .table .table-inner .tr .td {
  min-height: 38px;
  border-right: 1px solid #eff1f5;
  flex: 1;
}

:host .table .table-inner .tr .td .tag {
  background-color: #bac3d0;
  border-radius: 4px;
  padding: 1px 8px;
  text-align: center;
  color: white;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table .table-inner .tr .td .tag.blue {
  background-color: #0c84c8;
}

:host .table .table-inner .tr .td .tag.orange {
  background-color: #fd8402;
}

:host .table .table-inner .tr .td .tag.red {
  background-color: #F32F2F;
}

:host .table .table-inner .tr .td.center {
  justify-content: center;
  text-align: center;
}

:host .table .table-inner .tr .td.order {
  max-width: 40px;
  min-width: 40px;
}

:host .table .table-inner .tr .td.select {
  max-width: 40px;
  min-width: 40px;
}

:host .table .table-inner .tr .td.fax {
  max-width: 110px;
  min-width: 110px;
}

:host .table .table-inner .tr .td.tel {
  max-width: 110px;
  min-width: 110px;
}

:host .table .table-inner .tr .td.status {
  max-width: 130px;
  min-width: 130px;
}

:host .table .table-inner .tr .td.status .tag {
  min-width: 115px;
  padding: 0 15px;
}

:host .table .table-inner .tr .td.record-order {
  max-width: 46px;
  min-width: 46px;
}

:host .table .table-inner .tr .td.document-scan {
  max-width: 120px;
  min-width: 120px;
}

:host .table .table-inner .tr .td.receive-date {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.consider {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.consider-date {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.document {
  max-width: 220px;
  min-width: 220px;
}

:host .table .table-inner .tr .td.status-reason {
  max-width: 270px;
  min-width: 270px;
}

:host .table .table-inner .tr .td.date {
  max-width: 128px;
  min-width: 128px;
}

:host .table .table-inner .tr .td.po {
  max-width: 85px;
  min-width: 85px;
}

:host .table .table-inner .tr .td.operation {
  max-width: 85px;
  min-width: 85px;
  justify-content: space-around;
}

:host .table .table-inner .tr .td.operation .btn {
  width: 30px;
  height: 30px;
}

:host .table .table-inner .tr .td.scrollbar {
  max-width: 19px;
  min-width: 19px;
}

:host .table .table-inner .tr.header {
  border-bottom: 1px solid #eff1f5;
}

:host .table .table-inner .tr.header .td {
  padding: 10px 4px 4px;
}

:host .div-tab-menus {
  padding: 0;
  margin-bottom: 4px;
  display: flex;
}

:host .div-tab-menus .div-tab-menu {
  line-height: 36px;
  margin-right: 2px;
  border-bottom: 4px solid #eff0f4;
  display: flex;
  align-items: center;
  font-weight: 400;
}

:host .div-tab-menus .div-tab-menu:hover {
  border-color: #EFF0F4;
  color: #6D6E71;
  border-width: 4px;
}

:host .div-tab-menus .div-tab-menu:hover:active {
  color: #0C84C8;
}

:host .div-tab-menus .div-tab-menu.active {
  background-color: #EFF0F4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #EFF0F4;
  color: #0C84C8;
  border-width: 4px;
}

:host .div-tab-menus .div-tab-menu .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
}

:host .div-tab-menus .div-tab-menu .status.done {
  background-color: #00B58A;
}

:host .div-tab-menus .div-tab-menu .status.edit {
  background-color: #E14132;
}

:host .slider-control {
  align-items: flex-start;
  margin-top: 22px;
  position: relative;
}

:host .slider-control .prev, :host .slider-control .next {
  position: absolute;
  cursor: pointer;
}

:host .slider-control .prev {
  left: 0;
}

:host .slider-control .next {
  right: 0;
}

:host .slider-control .slide-page {
  flex-grow: 1;
}

:host .slider-control .title {
  justify-content: center;
  display: flex;
  color: #0C84C8;
  margin-bottom: 5px;
}

:host .slider-control .body {
  border-top: 1px solid #F0F0F4;
}

:host .slider-control .col {
  border-right: 1px solid #F0F0F4;
}

:host .slider-control .col:last-child {
  border-right: none;
}

:host .form-control:disabled {
  color: #6D6E71;
  background-color: #EFF0F4;
  border-color: #EBEDF2;
}

:host .move-tag-wrapper .btn-move-tag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF9900;
  font-size: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip .dip-icon-duplicate {
  padding-right: 0;
  font-size: 10px;
  color: #FFFFFF;
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip:hover .tooltiptext {
  display: flex;
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip .tooltiptext {
  display: none;
  min-width: 150px;
  min-height: 40px;
  background-color: #ffffff;
  color: #0C84C8;
  text-align: left;
  border-radius: 3px;
  align-items: center;
  padding: 5px 12px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 8px);
  left: -10px;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip .tooltiptext:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}

:host .move-tag-wrapper .btn-move-tag .move-tag-tooltip .tooltiptext .btn-move-tag-tooltip {
  justify-content: flex-start;
  color: #0C84C8;
  font-size: 16px;
  padding: 0;
}

:host .tooltip-wrapper {
  position: relative;
}

:host .tooltip-wrapper .tooltiptext {
  visibility: hidden;
  background-color: #FFF;
  border: 1px solid #0C84C8;
  color: #0C84C8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  font-weight: normal;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

:host .tooltip-wrapper .tooltiptext.tooltip-left:after {
  content: "";
  position: absolute;
}

:host .tooltip-wrapper .tooltiptext.tooltip-left {
  top: -5px;
  right: 105%;
  margin-right: 8px;
}

:host .tooltip-wrapper .tooltiptext.tooltip-left.has-arraw:after {
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #FFF;
}

:host .tooltip-wrapper:hover .tooltiptext {
  visibility: visible;
}

:host .timeline {
  margin: 36px 0;
}

:host .timeline .events-title {
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  flex-shrink: 0;
  margin-right: 80px;
}

:host .timeline .events-wrapper {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

:host .timeline .events {
  margin: 5px 50px 0;
  overflow: hidden;
  position: relative;
  color: #777;
}

:host .timeline .events:before, :host .timeline .events:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

:host .timeline .events:before {
  left: 0;
  background: linear-gradient(to right, #f1f1f7, rgba(242, 243, 248, 0));
}

:host .timeline .events:after {
  right: 0;
  background: linear-gradient(to left, #f1f1f7, rgba(242, 243, 248, 0));
}

:host .timeline .events ul {
  position: relative;
  counter-reset: section;
  display: flex;
  margin-bottom: 0;
}

:host .timeline .events li {
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-weight: normal;
  min-width: 140px;
}

:host .timeline .events li:before {
  counter-increment: section;
  content: counter(section);
  width: 22px;
  height: 22px;
  border: 3px solid #0C84C8;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #0C84C8;
  color: #FFFFFF;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

:host .timeline .events li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #777777;
  top: 9px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

:host .timeline .events li.passed {
  color: #777777;
}

:host .timeline .events li.passed:first-child:after {
  content: none;
}

:host .timeline .events li.passed:after {
  background-color: #06679F;
}

:host .timeline .events li.passed + :host .timeline .events li:after {
  background-color: #0C84C8;
}

:host .timeline .events li.selected:before {
  background-color: #E14132;
  border: 3px solid #E14132;
}

:host .timeline .events li.current:before {
  content: "+";
  background-color: #47A70B;
  border: 3px solid #47A70B;
}

:host .timeline .navigation {
  overflow: hidden;
}

:host .timeline .navigation li {
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  height: 34px;
  width: 34px;
  border: 2px solid #dfdfdf;
  transition: border-color .3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C84C8;
}

:host .timeline .navigation li:hover {
  border-color: #0C84C8;
}

:host .timeline .navigation .inactive {
  cursor: not-allowed;
  color: #dfdfdf;
}

:host .timeline .navigation .inactive:hover {
  border-color: #dfdfdf;
}

:host .timeline .navigation .prev {
  left: 0;
  transform: rotate(180deg);
}

:host .timeline .navigation .next {
  right: 0;
}

:host .trademark-row {
  width: 100%;
  margin-bottom: 19px;
}

:host .trademark-row .trademark-image-wrapper {
  border: 2px solid #f5f6f8;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  width: 398px;
  height: 278px;
}

:host .trademark-row .trademark-image-wrapper .sound-btn {
  position: absolute;
  left: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view {
  position: absolute;
  right: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view .form-group {
  min-height: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox {
  margin-right: 7px;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox:last-child {
  margin-right: 0;
}

:host .trademark-row .trademark-image-wrapper .trademark-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host .trademark-row .trademark-info-wrapper {
  border-radius: 5px;
  padding: 14px 18px;
  position: relative;
  flex: 1 1 auto;
  min-height: 278px;
  margin-left: 20px;
  justify-content: flex;
}

:host .trademark-row .trademark-info-wrapper .form-row {
  margin-left: -18px;
  width: auto;
}

:host .trademark-row .trademark-info-wrapper .form-row:after {
  content: "";
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group {
  flex: 0 0 calc(33.33% - 18px);
  margin-left: 18px;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row .input-wrapper {
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 37px;
  width: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .with-label .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .with-label .input-group-text {
  height: 37px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .with-label .btn {
  height: 37px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-color: #EBEDF2;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control {
  width: 100%;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control.input {
  height: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .col-form-label {
  justify-content: flex-start;
  padding: 3px 0;
  min-height: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
  margin-top: 27px;
  height: 37px;
  padding-top: 6px;
}

:host .trademark-row .btn-data {
  height: 37px;
}

:host .time .kt-checkbox {
  margin-right: 10px;
}

:host .old-data-wrapper {
  margin-top: 30px;
}

:host .old-data-wrapper .old-data-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 30%;
}

:host .old-data-wrapper .old-data-title-wrapper .dip-icon-play {
  font-size: 11px;
  color: #E14132;
  margin-right: 12px;
  transform: rotate(90deg);
}

:host .old-data-wrapper .old-data-title {
  font-size: 16px;
  font-weight: 500;
  color: #E14132;
}

:host .old-data-wrapper .has-change {
  background-color: #E47F7F;
}

:host .change-data-wrapper {
  margin-top: 30px;
}

:host .change-data-wrapper .change-data-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 30%;
}

:host .change-data-wrapper .change-data-title-wrapper .dip-icon-play {
  font-size: 11px;
  color: #0C84C8;
  margin-right: 12px;
  transform: rotate(90deg);
}

:host .change-data-wrapper .change-data-title {
  font-size: 16px;
  font-weight: 500;
  color: #0C84C8;
}

:host .change-data-wrapper .has-change {
  background-color: #A2D784;
}

:host .request-form .input {
  height: 37px;
}

:host .request-form .input-wrapper {
  margin-bottom: 0;
}

:host .request-form .btn-search {
  width: 25px;
}

:host .request-form .btn-search i {
  font-size: 12px;
}

:host .request-form .btn-edit {
  width: 25px;
  color: #6D6E71;
  border-color: #EBEDF2;
  border-width: 1px;
}

:host .request-form .btn-edit i {
  font-size: 12px;
}

:host .request-form .btn-edit:disabled {
  opacity: 1;
}

:host .request-form .btn-copy {
  height: 37px;
  margin-left: 10px;
}

:host .request-form .btn-check {
  height: 37px;
}

:host .request-form .textarea {
  border-radius: 4px;
}

:host .request-form .textarea + .btn-edit {
  height: 26px;
}

:host .request-form .textarea + .input-group-append {
  position: absolute;
  right: 0;
  height: 26px;
}

:host .request-form .col {
  border-right: 1px solid #F0F0F4;
}

:host .request-form .col:last-child {
  border-right: none;
}

:host .request-form .checkbox-wrapper .kt-checkbox.kt-checkbox--tick > span {
  width: 37px;
  height: 37px;
}

:host .request-form .checkbox-wrapper .kt-checkbox.kt-checkbox--tick > input:checked ~ span:after {
  border: solid white;
  width: 8px;
  height: 20px;
  border-width: 0 3px 3px 0 !important;
  margin-left: -4px;
  margin-top: -12px;
}

:host .choose-agent .kt-radio {
  min-width: 250px;
}

:host .record .kt-radio {
  margin-bottom: 0;
  min-width: 150px;
}

:host .record .kt-portlet__head {
  justify-content: flex-start;
}

:host .record .kt-portlet__head-label {
  flex: none;
  margin-right: 50px;
}

:host .record-form .col-form-label {
  justify-content: flex-start;
  min-width: auto;
}

:host .record-form .label-row {
  align-items: center;
}

:host .record-form select {
  max-width: 380px;
}

:host .record-title {
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  flex-shrink: 0;
}

:host .record-table .form-control {
  height: 31px;
  padding: 0 12px;
  width: 100%;
}

:host .record-table .input-wrapper {
  width: 100%;
}

:host .record-table .mat-form-field {
  width: 100%;
}

:host .record-table .kt-input-icon__icon {
  width: 30px;
}

:host .record-table .form-group {
  min-height: auto;
}

:host .record-table .table .table-inner .tr .td {
  min-height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: flex-start;
}

:host .record-table .table .table-inner .tr .td.operation {
  max-width: 102px;
  min-width: 102px;
  justify-content: space-around;
}

:host .record-table .table .table-inner .tr .td.operation .btn {
  width: 25px;
  height: auto;
  padding: 5.5px 5px;
}

:host .record-table .btn-sm {
  width: 25px;
  height: auto;
  border-radius: 4px;
  padding: 5.5px 5px;
}

:host .record-table .btn-sm i {
  font-size: 12px;
}

:host .record-table .btn-search {
  width: 31px;
  height: auto;
  font-size: 12px;
}

:host .record-table .input-wrapper-row {
  display: flex;
}

:host .record-table .with-label .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .record-table .with-label .input-group-text {
  background-color: #F5F5F5;
  border: 1px solid #EBEDF2;
  padding: 5px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .record-table .with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .product-list-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

:host .product-list-wrapper .old-data-wrapper {
  width: calc((100% - 87px) / 2);
  padding-right: 30px;
  border-right: 1px solid #EFF1F5;
  margin-top: 0;
}

:host .product-list-wrapper .old-data-wrapper.sign {
  width: 50%;
}

:host .product-list-wrapper .old-data-wrapper.sign .old-data-title-wrapper {
  margin-bottom: 10px;
}

:host .product-list-wrapper .old-data-wrapper .old-data-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0;
}

:host .product-list-wrapper .old-data-wrapper .old-data-title-wrapper .dip-icon-play {
  font-size: 11px;
  color: #E14132;
  margin-right: 12px;
  transform: rotate(90deg);
}

:host .product-list-wrapper .old-data-wrapper .old-data-title-wrapper .old-data-title {
  font-size: 16px;
  font-weight: 500;
  color: #E14132;
}

:host .product-list-wrapper .old-data-wrapper .old-data-text {
  font-size: 12px;
  color: #6D6E71;
}

:host .product-list-wrapper .change-data-wrapper {
  width: calc((100% - 87px) / 2);
  padding-left: 25px;
  margin-top: 0;
}

:host .product-list-wrapper .change-data-wrapper.sign {
  width: 50%;
}

:host .product-list-wrapper .change-data-wrapper.sign .change-data-title-wrapper {
  margin-bottom: 10px;
}

:host .product-list-wrapper .change-data-wrapper .change-data-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0;
}

:host .product-list-wrapper .change-data-wrapper .change-data-title-wrapper .dip-icon-play {
  font-size: 11px;
  color: #0C84C8;
  margin-right: 12px;
  transform: rotate(90deg);
}

:host .product-list-wrapper .change-data-wrapper .change-data-title-wrapper .change-data-title {
  font-size: 16px;
  font-weight: 500;
  color: #0C84C8;
}

:host .product-list-wrapper .change-data-wrapper .change-data-text {
  font-size: 12px;
  color: #6D6E71;
}

:host .product-list-wrapper .checkbox-wrapper {
  margin-left: 50px;
  margin-top: 84px;
}

:host .product-list-wrapper .checkbox-wrapper .kt-checkbox {
  width: 37px;
  height: 37px;
  min-height: 37px;
  padding-left: 0;
}

:host .product-list-wrapper .checkbox-wrapper .kt-checkbox.kt-checkbox--tick > span {
  width: 37px;
  height: 37px;
}

:host .product-list-wrapper .checkbox-wrapper .kt-checkbox.kt-checkbox--tick > input:checked ~ span:after {
  border: solid white;
  width: 8px;
  height: 20px;
  border-width: 0 3px 3px 0 !important;
  margin-left: -4px;
  margin-top: -12px;
}

:host .product-list-wrapper .table-responsive {
  margin-left: 5px;
  overflow: hidden;
  overflow-x: hidden;
}

:host .product-list-wrapper .table {
  min-width: auto;
  overflow-x: auto;
}

:host .product-list-wrapper .table .table-inner {
  display: table;
}

:host .product-list-wrapper .table .table-inner .table-data {
  overflow-y: unset;
}

:host .product-list-wrapper .table .table-inner .table-data .tr {
  min-height: 54px;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag {
  background-color: #ffffff;
  border: 1px solid #0C84C8;
  border-radius: 30px;
  padding: 1px 10px 1px 15px;
  text-align: center;
  color: #0C84C8;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag.additional-tag {
  border-color: #E14132;
  color: #E14132;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag.additional-tag .btn-close-tag .dip-icon-close {
  color: #E14132;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag .tag-text {
  white-space: nowrap;
  font-size: 16px;
  min-width: 95px;
  text-align: left;
  margin-right: 10px;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag .btn-close-tag {
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .product-list-wrapper .table .table-inner .tr .td .tag .btn-close-tag .dip-icon-close {
  padding-right: 0;
  font-size: 12px;
  color: #0C84C8;
}

:host .product-list-wrapper .table .table-inner .tr .td.order {
  max-width: 40px;
  min-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .product-list-wrapper .table .table-inner .tr .td.type {
  max-width: 135px;
  min-width: 135px;
  justify-content: center;
  text-align: center;
}

:host .product-list-wrapper .table .table-inner .tr .td.description {
  flex: 1 1 auto;
  padding: 10px;
}

:host .product-list-wrapper .table .table-inner .tr .td.scrollbar {
  max-width: 19px;
  min-width: 19px;
}

:host .product-list-wrapper .input-wrapper {
  margin: 2px 0;
  position: relative;
}

:host .product-list-wrapper .input-wrapper .btn {
  position: absolute;
  right: 1px;
  top: 1px;
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  border-radius: 0 4px 4px 0;
  padding: 0;
}

:host .product-list-wrapper .input-wrapper .btn .dip-icon-edit-pen {
  padding: 0;
  font-size: 10px;
  color: #6D6E71;
}

:host textarea {
  resize: none;
}

:host .book-table .form-control {
  height: 31px;
  padding: 0 12px;
  width: 100%;
}

:host .book-table .input-wrapper {
  width: 100%;
}

:host .book-table .mat-form-field {
  width: 100%;
}

:host .book-table .kt-input-icon__icon {
  width: 30px;
}

:host .book-table .form-group {
  min-height: auto;
}

:host .book-table .table .table-inner .tr .td {
  min-height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

:host .book-table .table .table-inner .tr .td.operation {
  max-width: 100px;
  min-width: 100px;
  justify-content: center;
}

:host .book-table .table .table-inner .tr .td.operation .btn {
  width: 25px;
  height: auto;
  padding: 5.5px 5px;
}

:host .book-table .btn-sm {
  width: 25px;
  height: auto;
  border-radius: 4px;
  padding: 5.5px 5px;
  min-width: auto;
}

:host .book-table .btn-sm i {
  font-size: 12px;
}

:host .book-table .input-wrapper-row {
  display: flex;
}

:host .book-table .with-label .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .book-table .with-label .input-group-text {
  background-color: #F5F5F5;
  border: 1px solid #EBEDF2;
  padding: 5px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .book-table .with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal {
  z-index: 999;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog {
  max-width: 1200px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body {
  padding: 45px 25px 60px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row {
  align-items: center;
  padding-bottom: 25px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row.space-between {
  justify-content: space-between;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row.contract-detail-row-sm {
  padding-bottom: 15px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .kt-radio {
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .col-form-label.label-sm {
  width: 200px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .col-form-label.label-lg {
  width: 470px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .col-form-label.label-first-row {
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 0;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .col-form-label.label-text-only {
  margin-left: 0;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .datepicker {
  width: 160px;
  height: 40px;
  margin-bottom: 0;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .datepicker .mat-form-field-infix {
  width: 160px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .datepicker .mat-form-field-infix .dip-icon-calendar {
  color: #6D6E71;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-detail-row .contract-detail-checkbox {
  margin-left: 75px;
  margin-right: 50px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .form-control.contract-detail-select {
  width: 380px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .form-control.contract-detail-input {
  width: 375px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-textarea {
  width: 100%;
  margin-left: 5px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .contract-detail-wrapper .contract-textarea .col-form-label {
  justify-content: flex-start;
  margin-left: 15px;
}

:host .contract-detail-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-footer {
  display: none;
}
