<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <div class="col-12">
        <p class="sub-head-title">
          <i class="fa fa-user-plus">&nbsp;เพิ่มเจ้าของ</i>
        </p>
      </div>
    </div>
    <div class="kt-portlet__head-action"></div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <h4 class="sub-head-title">
          <label class="number-label">2</label> HOLDER OF THE INTERNATIONAL
          REGISTRATION
        </h4>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-12">
          <label for=""> <span style="color: red;">* </span>(a) Name </label>
        </div>
        <div class="col-12 mb-2">
          <input type="text" class="form-control" style="width: 100%;" />
        </div>
        <div class="col-12">
          <label for=""> <span style="color: red;">* </span>(b) Address </label>
        </div>
        <div class="col-12 mb-2">
          <input type="text" class="form-control" style="width: 100%;" />
        </div>
        <div class="col-12">
          <label for="">
            (c) Address for correspondence
          </label>
        </div>
        <div class="col-12 mb-2">
          <input type="text" class="form-control" style="width: 100%;" />
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row">
            <div class="col-12">
              <label for="">
                <span style="color: red;">* </span>(d) Telephone
              </label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" style="width: 100%;" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row">
            <div class="col-12">
              <label for="">
                Fax
              </label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" style="width: 100%;" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row">
            <div class="col-12">
              <label for="">
                <span style="color: red;">* </span> E-mail address
              </label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" style="width: 100%;" />
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <p>
            By providing an e-mail address, any further correspondence from the
            International Bureau related to this/there international
            registration(s) will be sent only electronically and, therefore, you
            will no longer receive any paper correspondence. Likewise, any
            further correspondence from the International Bureau related to
            other international applications or international registrations for
            which the same e-mail address has been, or will be, provided will
            also be sent only electronically. Please note that, for the purpose
            of electronic communication, there can be only one e-mail address
            recorded per each international registration.
          </p>
          <p>
            WIPO will not share the provided email address with any third
            parties, except with designated Contracting Parties for the express
            purpose of transmitting official communications regarding the
            concerned international registration.
          </p>
        </div>
        <div class="col-12">
          (e) Preferred language for correspondence &nbsp;
          <span> <input type="radio" name="language" id="" /> English</span>
          &nbsp;
          <span> <input type="radio" name="language" id="" /> French</span>
          &nbsp;
          <span> <input type="radio" name="language" id="" /> Spanish</span>
        </div>
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-12">
              (f) Other indications (as may be required by certain designated
              Contracting Parties, such as, for example, the United States of
              America; only provide indications in either item (i) or in item
              (ii) but not in both items)
            </div>
            <div class="col-11">
              (i) if the applicant is a
              <span style="color: black;">natural person</span> , nationality of
              the applicant
              <i
                class="fa fa-info-circle sub-head-title"
                style="font-size: 20px;"
              ></i>
            </div>
            <div class="col-11">
              <input type="text" class="form-control" style="width: 100%;" />
            </div>
            <div class="col-11">
              (ii) if the applicant is a
              <span style="color: black;">legal entity</span> (please, provide
              <span style="color: black;">both</span> the following indications)
              <div class="row justify-content-center">
                <div class="col-11">
                  - legal nature of the legal entity
                </div>
                <div class="col-11">
                  <input
                    type="text"
                    class="form-control"
                    style="width: 100%;"
                  />
                </div>
                <div class="col-11">
                  - State (country) and, where applicable, territorial unit
                  within that State (canton, province, state, etc.), under the
                  law of which the said legal entity has been organized
                </div>
                <div class="col-11">
                  <input
                    type="text"
                    class="form-control"
                    style="width: 100%;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          กรณีเป็นนิติบุคคล กรุณาแนบหนังสือรับรองนิติบุคคล
          หนังสือรับรองนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน
          <span style="color: red;">(ไฟล์ไม่เกิน 5MB)</span> &nbsp;
          <span style="color: #0c84c8;">Username.pdf </span> &nbsp;
          <span><button class="btn-choose-file">Choose Files..</button> </span>
          &nbsp;
          <span><button class="btn-dowload-file">Download</button> </span>
        </div>
        <!-- <div class="col-12 m-2">
          <span style="color: red;"
            >(เอกสารสแกนต้นฉบับไม่ต้องเซ็นรับรองแต่ถ้าเป็นเอกสารสำเนา
            ต้องเซ็นรับรองทุกหน้า)</span
          >
        </div> -->
        <div class="col-12">
          กรณีที่มีเจ้าของมากกว่าหนึ่งคนกรุณาดาวน์โหลดใบต่อท้าย
          เพื่อกรอกข้อมูลให้ครบตามหัวข้อที่ 1
          จากนั้นแนบไฟล์ใบต่อท้ายกลับมาด้วยไฟล์นามสกุล .pdf &nbsp; &nbsp;
          <span><button class="btn-choose-file">Choose Files..</button> </span>
          &nbsp;
          <span><button class="btn-dowload-file">Download</button> </span>
        </div>
      </div>
      <div class="col-12 mt-3">
        <hr />
        <h4 class="sub-head-title">
          <label class="number-label">3</label> ENTITLEMENT TO FILE
        </h4>
      </div>
      <div class="col-12">
        <label for="">
          <span style="color: red;">* </span>(a) Check the approproate box
        </label>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-11" style="margin-left: -35px;">
            <input type="radio" name="3a" /> (i) where the Contracting Party
            mentioned in item 1 is a State, the applicant is a national of that
            State; or
          </div>
          <div class="col-11">
            <label for=""
              >(ii) where the Contracting Party mentioned in item 1 is an
              organization, the name of the State of which the applicant is a
              national
            </label>
          </div>
          <div class="col-11">
            <input type="text" class="form-control" />
          </div>
          <div class="col-11" style="margin-left: -35px;">
            <input type="radio" name="3a" /> (iii) the applicant is domiciled in
            the territory of the Contracting Party mentioned in item 1; or
          </div>
          <div class="col-11" style="margin-left: -35px;">
            <input type="radio" name="3a" /> (iv) the applicant has a real and
            effective industrial or commercial establishment in the territory of
            the Contracting Party mentioned in item 1.
          </div>
        </div>
      </div>
      <div class="col-12">
        <label for=""
          >(b) Where the address of the applicant, given in item 2(b), is not in
          the territory of the Contracting Party mentioned in item 1, indicate
          in the space provided below:
        </label>
        <div class="row justify-content-center">
          <div class="col-11">
            &nbsp;<span
              ><button class="btn-choose-file">Choose Files..</button></span
            >
          </div>
          <div class="col-11" style="margin-left: -35px;">
            <input type="radio" name="3a" /> (i) if the box in paragraph
            (a)(iii) of the present item has been checked, the domicile of the
            applicant in the territory of that Contracting Party, or,
          </div>
          <div class="col-11" style="margin-left: -35px;">
            <input type="radio" name="3a" /> (ii) if the box in paragraph
            (a)(iv) of the present item has been checked, the address of the
            applicant’s industrial or commercial establishment in the territory
            of that Contracting Party.
          </div>
          <div class="col-11">
            <textarea
              class="form-control"
              name=""
              id=""
              cols="30"
              rows="2"
              style="width: 100%;"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button" class="btn btn-light-gray btn-align-center m-r-5">
        <i class="dip dip-icon-close"></i>
        ยกเลิก
      </button>
      <button type="button" class="btn btn-brand btn-align-center m-r-5">
        <i class="dip dip-icon-save"></i>
        บันทึก
      </button>
    </div>
  </div>
</div>
