:host {
  //Start >>> Default <<<
  .kt-portlet {
    font-size: 16px;
    font-weight: 400;

    .title-block {
      background-color: #EFF0F4;
      width: 133px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0C84C8;
      margin-bottom: 8px;
    }
  }

  .table-responsive {
    overflow: hidden;
    overflow-x: auto;
  }

  .table {
    border: 1px solid #eff1f5;
    min-width: 1600px;

    .table-inner {
      margin-bottom: 0;

      .table-data {
        max-height: 400px;
        overflow-y: scroll;

        .tr {
          &:nth-child(2n-1) .td {
            background-color: #fff;
          }

          &:nth-child(2n) .td {
            background-color: #fbfcfd;
          }
        }
      }

      .tr {
        .td {
          min-height: 38px;
          border-right: 1px solid #eff1f5;
          flex: 1;

          .tag {
            background-color: #bac3d0;
            border-radius: 4px;
            padding: 1px 8px;
            text-align: center;
            color: white;
            min-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.blue {
              background-color: #0c84c8;
            }

            &.orange {
              background-color: #fd8402;
            }
          }

          &.center {
            justify-content: center;
            text-align: center;
          }

          &.order {
            max-width: 40px;
            min-width: 40px;
          }

          &.select {
            max-width: 40px;
            min-width: 40px;
          }

          &.fax {
            max-width: 110px;
            min-width: 110px;
          }

          &.tel {
            max-width: 110px;
            min-width: 110px;
          }

          &.status {
            max-width: 130px;
            min-width: 130px;

            .tag {
              min-width: 115px;
              padding: 0 15px;
            }
          }

          &.record-order {
            max-width: 46px;
            min-width: 46px;
          }

          &.document-scan {
            max-width: 120px;
            min-width: 120px;
          }

          &.receive-date {
            max-width: 180px;
            min-width: 180px;
          }

          &.consider {
            max-width: 180px;
            min-width: 180px;
          }

          &.consider-date {
            max-width: 180px;
            min-width: 180px;
          }

          &.document {
            max-width: 220px;
            min-width: 220px;
          }

          &.status-reason {
            max-width: 270px;
            min-width: 270px;
          }

          &.editer {
            max-width: 180px;
            min-width: 180px;
          }

          &.name-old {
            max-width: 220px;
            min-width: 220px;
          }

          &.operation-m {
            max-width: 165px;
            min-width: 165px;

            .btn {
              width: 25px;
              height: 25px;
            }
          }

          &.operation {
            max-width: 85px;
            min-width: 85px;
            justify-content: space-around;

            .btn {
              width: 30px;
              height: 30px;
            }
          }

          &.scrollbar {
            max-width: 19px;
            min-width: 19px;
          }
        }

        &.header {
          border-bottom: 1px solid #eff1f5;

          .td {
            padding: 10px 4px 4px;
          }
        }
      }
    }
  }

  .div-tab-menus {
    padding: 0;
    margin-bottom: 4px;
    display: flex;

    .div-tab-menu {
      line-height: 36px;
      margin-right: 2px;
      border-bottom: 4px solid #eff0f4;
      display: flex;
      align-items: center;
      font-weight: 400;

      &:hover {
        border-color: #EFF0F4;
        color: #6D6E71;
        border-width: 4px;

        &:active {
          color: #0C84C8;
        }
      }

      &.active {
        background-color: #EFF0F4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: #EFF0F4;
        color: #0C84C8;
        border-width: 4px;
      }

      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 15px;

        &.done {
          background-color: #00B58A;
        }

        &.edit {
          background-color: #E14132;
        }
      }
    }
  }

  .form-control {
    &:disabled {
      color: #6D6E71;
      background-color: #EFF0F4;
      border-color: #EBEDF2;
    }
  }

  //Start >>> ข้อมูลทั่วไป <<<
  .trademark-row {
    width: 100%;
    margin-bottom: 19px;

    .trademark-image-wrapper {
      border: 2px solid #f5f6f8;
      border-radius: 5px;
      padding: 35px;
      position: relative;
      width: 398px;
      height: 278px;

      .sound-btn {
        position: absolute;
        left: 9px;
        top: 9px;
      }

      .select-view {
        position: absolute;
        right: 9px;
        top: 9px;

        .form-group {
          min-height: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .kt-checkbox {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .trademark-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .trademark-info-wrapper {
      border-radius: 5px;
      padding: 14px 18px;
      position: relative;
      flex: 1 1 auto;
      min-height: 278px;
      margin-left: 20px;
      justify-content: flex;

      .form-row {
        margin-left: -18px;
        width: auto;

        &:after {
          content: "";
          display: flex;
          flex: 1 1 auto;
        }
      }

      .form-group {
        flex: 0 0 calc(33.33% - 18px);
        margin-left: 18px;

        .input-wrapper-row {
          .input-wrapper {
            display: flex;
            flex: 1 1 auto;
          }
        }

        .input-wrapper {
          margin-bottom: 0;

          &.with-button {
            .form-control {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }

            .btn {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              height: 37px;
              width: 37px;
              min-width: 37px;
              border-color: #EBEDF2;
              border-left: 0;
            }
          }
        }

        .with-label {
          .form-control {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }

          .input-group-text {
            height: 37px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }

        .form-control {
          width: 100%;

          &.input {
            height: 37px;
          }
        }

        .col-form-label {
          justify-content: flex-start;
          padding: 3px 0;
          min-height: 0;
        }

        .btn {
          &.q-and-a-page {
            margin-top: 27px;
            height: 37px;
            padding-top: 6px;
          }
        }
      }
    }

    .btn-data {
      height: 37px;
      width: 100%;
    }
  }

  //Start >>> การตรวจสอบเพื่อคุมเวลา <<<
  .time {
    .kt-checkbox {
      margin-right: 10px;
    }
  }

  //Start >>> บันทึกแก้ไขเปลี่ยนแปลงรายละเอียดคำขอ / ข้อมูลเดิม <<<
  .old-data-wrapper {
    margin-top: 30px;

    .old-data-title-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-left: 30%;

      .dip-icon-play {
        font-size: 11px;
        color: #E14132;
        margin-right: 12px;
        transform: rotate(90deg);
      }
    }

    .old-data-title {
      font-size: 16px;
      font-weight: 500;
      color: #E14132;
    }

    .has-change {
      background-color: #E47F7F;
    }
  }

  //Start >>> บันทึกแก้ไขเปลี่ยนแปลงรายละเอียดคำขอ / ข้อมูลที่ต้องการจะเปลี่ยน <<<
  .change-data-wrapper {
    margin-top: 30px;

    .change-data-title-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-left: 30%;

      .dip-icon-play {
        font-size: 11px;
        color: #0C84C8;
        margin-right: 12px;
        transform: rotate(90deg);
      }
    }

    .change-data-title {
      font-size: 16px;
      font-weight: 500;
      color: #0C84C8;
    }

    .has-change {
      background-color: #A2D784;
    }
  }

  //Start >>> บันทึกแก้ไขเปลี่ยนแปลงรายละเอียดคำขอ / form <<<
  .request-form {
    .input {
      height: 37px;
    }

    .input-wrapper {
      margin-bottom: 0;
    }

    .btn-search {
      width: 25px;

      i {
        font-size: 12px;
      }
    }

    .btn-edit {
      width: 25px;
      color: #6D6E71;
      border-color: #EBEDF2;
      border-width: 1px;

      i {
        font-size: 12px;
      }

      &:disabled {
        opacity: 1;
      }
    }

    .btn-copy {
      height: 37px;
      margin-left: 10px;
    }

    .btn-check {
      height: 37px;
    }

    .textarea {
      border-radius: 4px;
    }


    .textarea + .btn-edit {
      height: 26px;
    }

    .textarea + .input-group-append {
      position: absolute;
      right: 0;
      height: 26px;
    }

    .col {
      border-right: 1px solid #F0F0F4;

      &:last-child {
        border-right: none;
      }
    }

    .checkbox-wrapper {
      .kt-checkbox {
        &.kt-checkbox--tick {
          > span {
            width: 37px;
            height: 37px;
          }

          > input {
            &:checked {
              ~ span {
                &:after {
                  border: solid white;
                  width: 8px;
                  height: 20px;
                  border-width: 0 3px 3px 0 !important;
                  margin-left: -4px;
                  margin-top: -12px;
                }
              }
            }
          }
        }
      }
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน <<<
  .record {
    .kt-radio {
      margin-bottom: 0;
      min-width: 150px;
    }

    .kt-portlet__head {      
      justify-content: flex-start;
    }

    .kt-portlet__head-label {
      flex: none;
      margin-right: 50px;
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน form <<<
  .record-form {
    .col-form-label {
      justify-content: flex-start;
      min-width: auto;
    }

    .label-row {
      align-items: center;
    }

    select {
      max-width: 380px;
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน title / พิจารณาเอกสาร <<<
  .record-title {
    color: #0C84C8;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;
    font-size: 20px;
    flex-shrink: 0;
  }

  //Start >>> บันทึกเสนอนายทะเบียน / ออกหนังสือ <<<
  .record-table {
    .form-control {
      height: 31px;
      padding: 0 12px;     
      width: 100%;
    }

    .input-wrapper {
      width: 100%;
    }

    .mat-form-field {
      width: 100%;
    }

    .kt-input-icon__icon {
      width: 30px;
    }

    .form-group {
      min-height: auto;
    }

    .table {
      .table-inner {
        .tr {
          .td {
            min-height: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            align-items: flex-start;

            &.operation {
              max-width: 102px;
              min-width: 102px;
              justify-content: space-around;
  
              .btn {
                width: 25px;
                height: auto;
                padding: 5.5px 5px;
              }
            }
          }
        }
      }
    }

    .btn-sm {
      width: 25px;
      height: auto;
      border-radius: 4px;
      padding: 5.5px 5px;

      i {
        font-size: 12px;
      }
    }

    .btn-search {
      width: 31px;
      height: auto;
      font-size: 12px;
    }

    .input-wrapper-row {
      display: flex;
    }

    .with-label {
      .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      .input-group-text {
        background-color: #F5F5F5;
        border: 1px solid #EBEDF2;
        padding: 5px;        
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .with-button {
      .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

    }
  }

  //Start >>> รายการสินค้า และเครื่องหมายรับรอง 
  .btn-upload-csv-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .product-list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    .old-data-wrapper {
      width: calc((100% - 87px) / 2);
      padding-right: 30px;
      border-right: 1px solid #EFF1F5;
      margin-top: 0;

      &.sign {
        width: 50%;

        .old-data-title-wrapper {
          margin-bottom: 10px;
        }
      }

      .old-data-title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-left: 0;

        .dip-icon-play {
          font-size: 11px;
          color: #E14132;
          margin-right: 12px;
          transform: rotate(90deg);
        }

        .old-data-title {
          font-size: 16px;
          font-weight: 500;
          color: #E14132;
        }
      }

      .old-data-text {
        font-size: 12px;
        color: #6D6E71;
      }
    }

    .change-data-wrapper {
      width: calc((100% - 87px) / 2);
      padding-left: 25px;
      margin-top: 0;

      &.sign {
        width: 50%;

        .change-data-title-wrapper {
          margin-bottom: 10px;
        }
      }

      .change-data-title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-left: 0;

        .dip-icon-play {
          font-size: 11px;
          color: #0C84C8;
          margin-right: 12px;
          transform: rotate(90deg);
        }

        .change-data-title {
          font-size: 16px;
          font-weight: 500;
          color: #0C84C8;
        }
      }

      .change-data-text {
        font-size: 12px;
        color: #6D6E71;
      }
    }

    .checkbox-wrapper {
      margin-left: 50px;
      margin-top: 84px;

      .kt-checkbox {
        width: 37px;
        height: 37px;
        min-height: 37px;
        padding-left: 0;

        &.kt-checkbox--tick {
          > span {
            width: 37px;
            height: 37px;
          }

          > input {
            &:checked {
              ~ span {
                &:after {
                  border: solid white;
                  width: 8px;
                  height: 20px;
                  border-width: 0 3px 3px 0 !important;
                  margin-left: -4px;
                  margin-top: -12px;
                }
              }
            }
          }
        }
      }
    }

    .table-responsive {
      margin-left: 5px;
      overflow: hidden;
      overflow-x: hidden;
    }

    .table {
      min-width: auto;
      overflow-x: auto;

      .table-inner {
        display: table;

        .table-data {
          overflow-y: unset;

          .tr {
            min-height: 54px;
          }
        }

        .tr {
          .td {
            .tag {
              background-color: #ffffff;
              border: 1px solid #0C84C8;
              border-radius: 30px;
              padding: 1px 10px 1px 15px;
              text-align: center;
              color: #0C84C8;
              min-height: 30px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-left: 10px;
      
              &.additional-tag {
                border-color: #E14132;
                color: #E14132;
              }

              .tag-text {
                white-space: nowrap;
                font-size: 16px;
                min-width: 95px;
                text-align: left;
                margin-right: 10px;
              }

              .dip-icon-close {
                font-size: 12px;
                cursor: pointer;
              }

              &.move-tag {
                border: 1px solid #FF9900;
                color: #FF9900;
              }

              .move-tag-wrapper {
                .btn-move-tag {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  background-color: #FF9900;
                  font-size: 10px;
                  padding: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .move-tag-tooltip {
                    position: relative;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;

                    .dip-icon-duplicate {
                      padding-right: 0;
                      font-size: 10px;
                      color: #FFFFFF;
                    }
  
                    &:hover {
                      .tooltiptext {
                        display: flex;
                      }
                    }
  
                    .tooltiptext {
                      display: none;
                      min-width: 150px;
                      min-height: 40px;
                      background-color: #ffffff;
                      color: #0C84C8;
                      text-align: left;
                      border-radius: 3px;
                      align-items: center;
                      padding: 5px 12px;
                      position: absolute;
                      z-index: 1;
                      top: calc(100% + 8px);
                      left: -10px;
                      -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0 ,0 , 0.5));
                      filter : drop-shadow(0 2px 5px rgba(0, 0 ,0 , 0.5));

                      &:after {
                        content: " ";
                        position: absolute;
                        bottom: 100%;
                        left: 12px;
                        border-width: 8px;
                        border-style: solid;
                        border-color: transparent transparent #FFFFFF transparent;
                      }

                      .btn-move-tag-tooltip {
                        justify-content: flex-start;
                        color: #0C84C8;
                        font-size: 16px;
                        padding: 0;
                      }
                    }
                  }
                }
              }

              .btn-minus-tag {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #E14132;
                font-size: 10px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .dip-icon-minus {
                  padding-right: 0;
                  font-size: 10px;
                  color: #FFFFFF;
                }
              }
            }

            &.order {
              // flex: 0 0 40px;
              max-width: 40px;
              min-width: 40px;
              justify-content: center;
              text-align: center;
            }
  
            &.type {
              // flex: 0 0 40px;
              max-width: 135px;
              min-width: 135px;
              justify-content: center;
              text-align: center;
            }
  
            &.description {
              flex: 1 1 auto;
              padding: 10px;
            }
  
            &.scrollbar {
              max-width: 19px;
              min-width: 19px;
            }

            .btn-add-new-wrapper {
              width: 100%;
              display: flex;
              justify-content: center;

              .btn-add-new {
                background-color: #EFF0F4;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                
                .dip-icon-add-new {
                  font-size: 15px;
                  color: #0C84C8;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }

    .input-wrapper {
      margin: 2px 0;
      position: relative;

      .btn {
        position: absolute;
        right: 1px;
        top: 1px;
        background: #FFFFFF;
        width: 24px;
        height: 24px;
        border-radius: 0 4px 4px 0;
        padding: 0;

        .dip-icon-edit-pen {
          padding: 0;
          font-size: 10px;
          color: #6D6E71;
        }
      }
    }
  }
}
