:host {
    input.form-control {
        width: 375px;
    }

    .kt-portlet div > * + button,
    .kt-portlet div > * + span,
    .kt-portlet__body__inner div + div {
        margin-left: 15px;
    }

    .kt-portlet__body__inner:not(:last-child) {
        margin-bottom: 25px;
    }

    .kt-portlet span {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-weight: normal;
        color: #6d6e71;
    }

    .table {
        .td {
            width: 90px;

            input {
                width: 20px;
            }

            &.select {
                flex: 0 0 40px;
                max-width: 40px;
                justify-content: center;
                text-align: center;
            }

            a {
                color: #0C84C8;
                text-decoration: underline;
            }

            .icon {
                height: 16px;
                width: auto;
            }


        }
    }
}
:host {
    input.form-control {
        width: 375px;
    }

    .kt-portlet div > * + button,
    .kt-portlet div > * + span,
    .kt-portlet__body__inner div + div {
        margin-left: 15px;
    }

    .kt-portlet__body__inner:not(:last-child) {
        margin-bottom: 25px;
    }

    .kt-portlet span {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-weight: normal;
        color: #6d6e71;
    }

    .table {
        .td {
            width: 90px;

            input {
                width: 20px;
            }

            &.select {
                flex: 0 0 40px;
                max-width: 40px;
                justify-content: center;
                text-align: center;
            }

            a {
                color: #0C84C8;
                text-decoration: underline;
            }

            .icon {
                height: 16px;
                width: auto;
            }


        }
    }
}
:host {
    input.form-control {
        width: 375px;
    }

    .kt-portlet div > * + button,
    .kt-portlet div > * + span,
    .kt-portlet__body__inner div + div {
        margin-left: 15px;
    }

    .kt-portlet__body__inner:not(:last-child) {
        margin-bottom: 25px;
    }

    .kt-portlet span {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-weight: normal;
        color: #6d6e71;
    }

    .table {
        .td {
            width: 90px;

            input {
                width: 20px;
            }

            &.select {
                flex: 0 0 40px;
                max-width: 40px;
                justify-content: center;
                text-align: center;
            }

            a {
                color: #0C84C8;
                text-decoration: underline;
            }

            .icon {
                height: 16px;
                width: auto;
            }


        }
    }
}
