<div class="kt-portlet representative-management-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">

      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner representative-managementer">
      <div class="form-group flex">
        <label class="col-form-label">
          ชื่อตัวแทน
        </label>
        <input
          class="form-control input"
          type="text"
          id="name"
          placeholder=""
        />

      </div>
    </div>
    <div class="kt-portlet__body__inner representative-managementer">
      <div class="form-group flex">
        <label class="col-form-label">
          สถานะการใช้งาน
        </label>
        <input
          class="form-control input"
          type="text"
          id="is_enable"
          placeholder="ใช้งาน|ยกเลิก"
        />

      </div>
    </div>
    <div class="kt-portlet__body__inner representative-managementer">
      <div class="form-group flex">
        <label class="col-form-label">
          เลขที่บัตร
        </label>
        <input
          class="form-control input"
          type="text"
          id="card_number"
          placeholder=""
        />

      </div>
    </div>
    <div class="kt-portlet__body__inner representative-managementer">
      <div class="form-group flex">
        <label class="col-form-label">
          รหัสกลุ่ม
        </label>
        <input
          class="form-control input"
          type="text"
          id="role_name"
          placeholder=""
        />

      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <button
      type="button"
      class="btn btn-brand"
    >
      <i class="dip-icon-search"></i>
      ค้นหา
    </button><button
      type="button"
      class="btn btn-brand"
    >
      ยกเลิก
    </button>
  </div>
</div>
<div class="kt-portlet representative-management-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางกลุ่มตัวแทน
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input
                type="checkbox"
              ><span _ngcontent-tad-c3=""></span></label></div>
          <div class="td ">#</div>
          <div class="td ">รหัสกลุ่มตัวแทน</div>
          <div class="td ">ชื่อกลุ่มตัวแทน</div>
          <div class="td ">สถานะการใช้งาน</div>
          <div class="td ">รายละเอียด</div>
          <div class="td edit_delete">แก้ไข / ลบ</div>
          <!--
<div class="td select">
<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
<input type="checkbox"><span _ngcontent-tad-c3=""></span>
</label>
</div>



<div class="td id"> # </div>
<div class="td category"> ประเภท </div><div class="td income-id"> รหัสรายได้ </div><div class="td money-transaction"> รายการรับเงิน </div><div class="td request-id"> เลขที่คำขอ </div><div class="td cm-excess"> ส่วนเกิน ซม. </div><div class="td genera-amount"> จำนวนจำพวก </div><div class="td products-amount"> จำนวนสินค้า </div><div class="td amount"> จำนวนเงิน </div><div class="td archetype"> แม่พิมพ์ </div><div class="td main"> หลัก </div><div class="td otop"> OTOP </div><div class="td reference-id"> เลขอ้างอิง </div><div class="td cancel"> การยกเลิก </div><div class="td act-allow"> พรบ. อำนวย </div>-->
        </div>
        <div class="tr">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input
                type="checkbox"
              ><span></span></label></div>
          <div class="td ">1 </div>
          <div class="td ">A1</div>
          <div class="td ">A1</div>
          <div class="td "></div>
          <div class="td "></div>
          <div class="td edit_delete">Edit | Delete</div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="kt-pagination kt-pagination--brand">
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first kt-pagination__link disbled"><a href="#"><i
              class="dip-icon-angle-double-left"
            ></i></a></li>
        <li class="kt-pagination__link--prev kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-left"></i></a>
        </li>
        <li><a href="#">...</a></li>
        <li><a href="#">29</a></li>
        <li><a href="#">30</a></li>
        <li class="kt-pagination__link--active"><a href="#">31</a></li>
        <li><a href="#">32</a></li>
        <li><a href="#">33</a></li>
        <li><a href="#">...</a></li>
        <li class="kt-pagination__link--next kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-double-right"></i>
          </a></li>
        <li class="kt-pagination__link--last kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-right"></i>
          </a></li>
      </ul>
      <div class="kt-pagination__toolbar"><select class="form-control kt-font-brand">
          <option
            value="10"
            ng-reflect-value="10"
          >10</option>
          <option
            value="20"
            ng-reflect-value="20"
          >20</option>
          <option
            value="30"
            ng-reflect-value="30"
          >30</option>
          <option
            value="50"
            ng-reflect-value="50"
          >50</option>
          <option
            value="100"
            ng-reflect-value="100"
          >100</option>
        </select><span class="pagination__desc"> Displaying 10 of 230 records </span></div>
    </div>
  </div>
</div>
<div class="kt-portlet representative-management-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางตัวแทน
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input
                type="checkbox"
              ><span _ngcontent-tad-c3=""></span></label></div>
          <div class="td ">#</div>
          <div class="td ">ประเภทบุคคล</div>
          <div class="td ">เลขที่บัตร</div>
          <div class="td ">ชื่อตัวแทน</div>
          <div class="td ">ที่อยู่</div>
          <div class="td ">โทรศัพท์</div>
          <div class="td ">สถานะการใช้งาน</div>
          <div class="td edit_delete">แก้ไข / ลบ</div>
          <!--
<div class="td select">
<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
<input type="checkbox"><span _ngcontent-tad-c3=""></span>
</label>
</div>



<div class="td id"> # </div>
<div class="td category"> ประเภท </div><div class="td income-id"> รหัสรายได้ </div><div class="td money-transaction"> รายการรับเงิน </div><div class="td request-id"> เลขที่คำขอ </div><div class="td cm-excess"> ส่วนเกิน ซม. </div><div class="td genera-amount"> จำนวนจำพวก </div><div class="td products-amount"> จำนวนสินค้า </div><div class="td amount"> จำนวนเงิน </div><div class="td archetype"> แม่พิมพ์ </div><div class="td main"> หลัก </div><div class="td otop"> OTOP </div><div class="td reference-id"> เลขอ้างอิง </div><div class="td cancel"> การยกเลิก </div><div class="td act-allow"> พรบ. อำนวย </div>-->
        </div>
        <div class="tr">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input
                type="checkbox"
              ><span></span></label></div>
          <div class="td ">1 </div>
          <div class="td ">บุคคลธรรมดา</div>
          <div class="td ">1909800072181</div>
          <div class="td ">นายศราวุธ สังข์สุวรรณ</div>
          <div class="td ">89 อาคารเอไอเอ แคปปิตอล เซ็นเตอร์ ชั้น 14 ห้อง 1401, 1404-1408 ถนนรัชดาภิเษก แขวงดินแดง
            ดินแดง, กรุงเทพฯ 10400</div>
          <div class="td ">02-7443020</div>
          <div class="td ">ใช้งาน</div>
          <div class="td edit_delete">Edit | Delete</div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="kt-pagination kt-pagination--brand">
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first kt-pagination__link disbled"><a href="#"><i
              class="dip-icon-angle-double-left"
            ></i></a></li>
        <li class="kt-pagination__link--prev kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-left"></i>
          </a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">29</a></li>
        <li><a href="#">30</a></li>
        <li class="kt-pagination__link--active"><a href="#">31</a></li>
        <li><a href="#">32</a></li>
        <li><a href="#">33</a></li>
        <li><a href="#">...</a></li>
        <li class="kt-pagination__link--next kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-double-right"></i>
          </a></li>
        <li class="kt-pagination__link--last kt-pagination__link"><a href="#">
            <i class="dip-icon-angle-right"></i>
          </a></li>
      </ul>
      <div class="kt-pagination__toolbar"><select class="form-control kt-font-brand">
          <option
            value="10"
            ng-reflect-value="10"
          >10</option>
          <option
            value="20"
            ng-reflect-value="20"
          >20</option>
          <option
            value="30"
            ng-reflect-value="30"
          >30</option>
          <option
            value="50"
            ng-reflect-value="50"
          >50</option>
          <option
            value="100"
            ng-reflect-value="100"
          >100</option>
        </select><span class="pagination__desc"> Displaying 10 of 230 records </span></div>
    </div>
  </div>
</div>
