<div class="filter-addnew-wrapper">
  <div class="filters">
    <div class="form-group flex">
      <label class="col-form-label" for="filterPerson">
        ผู้บันทึกรายการ
      </label>

      <input class="form-control input" type="text" id="user_name"
             [(ngModel)]="input.created_by_name"
             disabled />
    </div>

    <div class="form-group flex">
      <label class="col-form-label"
             for="filterDate">
        วันที่ยื่นคำขอ
      </label>

      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_request_date
                   id="request_date"
                   class="form-control input"
                   matInput
                   [matDatepicker]="picker"
                   placeholder=""
                   (click)="picker.open()"
                   [(ngModel)]="input[key_request_date.id]"
                   (dateChange)="clearValidate(key_request_date.id)">
            <label class="kt-input-icon__icon kt-input-icon__icon--right"
                   for="request_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix
                                 [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_request_date.id]"
               class="invalid-feedback">
            {{validate[key_request_date.id]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet registration-other-request-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ระบุเพื่อบันทึกรายการคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-outline-brand" (click)="reset()">
        <i class="dip-icon-add-new"></i>
        สร้างรายการใหม่
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickRequestOtherSave()">
        <i class="dip-icon-save"></i>
        บันทึก / ตรวจสอบเอกสารอ้างอิง
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner registration-other-requester">

      <div class="form-group flex">
        <label class="col-form-label" for="registrationRequester">
          ผู้ยื่นคำขอ
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <input #key_requester_name
                   id="requester_name"
                   class="form-control input"
                   type="text"
                   [(ngModel)]="input[key_requester_name.id]"
                   [ngClass]="validate[key_requester_name.id] ? 'is-invalid' : null"
                   (input)="onChangeAutocomplete('input', key_requester_name.id)"
                   autocomplete="off" />

            <button type="button"
                    class="btn btn-brand"
                    (click)="toggleModal('isModalAutoFillOpen')">
              Auto fill
            </button>
          </div>

          <div class="div_autocomplete"
               *ngIf="isShowAutocomplete[key_requester_name.id]"
               (clickOutside)="onClickOutsideAutocomplete(key_requester_name.id)">
            <div *ngFor="let autocomplete of autocompleteList[key_requester_name.id]"
                 (click)="
                onSelectAutocomplete(key_requester_name.id, autocomplete)
              ">
              <div class="title">
                {{ autocomplete.name }}
              </div>
            </div>
          </div>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_requester_name.id]"
                 class="invalid-feedback">
              {{ validate[key_requester_name.id] }}
            </div>
          </div>
        </div>





        <label class="col-form-label" for="commercial_affairs_province_code">
          พาณิชย์จังหวัด
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <select class="form-control"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                    [(ngModel)]="input.commercial_affairs_province_code">
              <option *ngFor="let item of master.commercialAffairsProvinceList"
                      [value]="item.code">
                {{item.name}}
              </option>
            </select>

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>



      </div>

      <div class="form-group flex">
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [checked]="input.is_via_post"
                 (click)="oneWayDataBinding('is_via_post', $event.target.checked)" /><span>
          </span>
          ยื่นคำขอทางไปรษณีย์
        </label>
      </div>
    </div>
    <div class="kt-portlet__body__inner registration-other-requester">
      <div class="form-group flex">
        <label class="col-form-label">
          เบอร์โทรศัพท์
        </label>
        <div class="input-wrapper">
          <input #key_telephone
                 class="form-control input"
                 type="text"
                 id="telephone"
                 placeholder="เบอร์โทรศัพท์"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                 [(ngModel)]="input[key_telephone.id]" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_telephone.id]"
                 class="invalid-feedback">
              {{validate[key_telephone.id]}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <label class="col-form-label">
      รวมทั้งสิ้น
    </label>

    <div class="input-wrapper">
      <input #key_total_price class="form-control input"
             type="text" id="total_price"
             placeholder="รวมทั้งสิ้น" disabled="disabled"
             [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
             [(ngModel)]="input[key_total_price.id]" />
      <div class="feedback-wrapper">
        <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
          Success! You've done it.
        </div>
      </div>
    </div>
    <span>บาท</span><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
      <input type="checkbox"
             [checked]="input.is_wave_fee"
             (click)="oneWayDataBinding('is_wave_fee', $event.target.checked)"><span>
      </span>
      ยกเว้นค่าธรรมเนียม
    </label>
  </div>
</div>
<div class="kt-portlet registration-other-request-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางการรับคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button class="btn btn-create-new btn-icon"
              type="button"
              (click)="onClickRequestOtherRequest01ItemAdd()">
        <i class="dip-icon-add-new"></i>
      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickRequestOtherRequest01ItemDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <table>
        <thead>
          <tr>
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onClickCheckBoxTable2('listRequest01Item', 0, true)" [checked]="input.is_table_2_check_all" /><span></span>
              </label>
            </td>
            <td class="index">#</td>
            <td class="request_number">เลขที่คำขอ</td>
            <td class="total_price">ค่าธรรมเนียม (ก.01)</td>
            <td class="reference_number">เลขที่อ้างอิง</td>
            <td class="owner_name">เจ้าของ</td>
            <td class="request_search">ค้นหา</td>
            <td class="facilitation_act_status_code">พรบ. อำนวย</td>
            <td>เลขทะเบียน</td>
            <td>ลำดับ</td>
            <td class="remark">หมายเหตุ</td>

            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              เล่มที่
            </td>
            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              เลขที่
            </td>

            <td class="delete">ลบ</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listRequest01Item | myfilter | paginate: paginateRequest01Item; index as i">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="onClickCheckBoxTable2('listRequest01Item', paginateRequest01Item.currentPage === 1 ? i : ((paginateRequest01Item.currentPage-1)*paginateRequest01Item.itemsPerPage)+i)"
                       [checked]="row_item.is_check" />
                <span></span>
              </label>
            </td>
            <td class="index">{{row_item.index}}</td>
            <td class="request_number">
              <div class="form-group flex input">
                <input class="form-control input" id="{{row_item.request_number}}"
                       type="text"
                       placeholder="เลขที่คำขอ"
                       [(ngModel)]="row_item.request_number"
                       (change)="onChangeSelectRequest01Item(row_item)"
                       [attr.disabled]="row_item.is_disabled ? '' : null">
              </div>
            </td>
            <td class="total_price">{{row_item.total_price}}</td>
            <td class="reference_number">{{row_item.reference_number}}</td>
            <td class="owner_name">{{row_item.name}}</td>
            <td class="request_search">
              <a href="javascript://" *ngIf="row_item.request_number && row_item.request_number != ''">
                <i class="dip-icon-search" (click)="onClickRequest01ItemRequestSearch(row_item)"></i>
              </a>
            </td>
            <td class="facilitation_act_status_code">
              <div class="input-wrapper">
                <select ng-init="row_item.facilitation_act_status_code = master.facilitationActStatusCodeList[1].code"
                        class="form-control"
                        [(ngModel)]="row_item.facilitation_act_status_code">
                  <option *ngFor="let item of master.facilitationActStatusCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </td>
            <td>{{row_item.registration_number}}</td>
            <td>
              <div *ngFor="let request_index of row_item.request_index_list" style="display:block">
                {{request_index}}
              </div>
            </td>
            <td class="trademark_remark">
              <div style="display:block;" *ngIf="row_item.trademark_expired_start_date">
                วันเริ่มต้นต่อายุ: {{displayDate(row_item.trademark_expired_start_date)}}
              </div>
              <div style="display:block;" *ngIf="row_item.trademark_expired_date">
                วันสิ้นอายุ: {{displayDate(row_item.trademark_expired_date)}}
              </div>
              <div style="display:block;" *ngIf="row_item.trademark_expired_end_date">
                วันสุดท้ายต่ออายุ: {{displayDate(row_item.trademark_expired_end_date)}}
              </div>
            </td>




            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              <input class="form-control input book_index"
                     [(ngModel)]="row_item.book_index" />
            </td>
            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              <input class="form-control input page_index"
                     [(ngModel)]="row_item.page_index" />
            </td>


            <td class="delete">
              <i class="dip-icon-trash" (click)="onClickRequestOtherRequest01ItemDelete(row_item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginateRequest01Item')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateRequest01Item')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateRequest01Item')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateRequest01Item')">
          <option *ngFor="let perPage of perPageRequest01Item" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginateRequest01Item.itemsPerPage}} of {{paginateRequest01Item.totalItems}} records
        </span>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet registration-other-request-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางข้อมูลการรับคำขอ ก.อื่นๆ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button class="btn btn-create-new btn-icon"
              type="button"
              (click)="onClickRequestOtherItemAdd()">
        <i class="dip-icon-add-new"></i>
      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickRequestOtherItemDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <table>
        <thead>
          <tr>
            <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="onClickCheckBoxTable3('listItem', 0, true)" [checked]="input.is_table_3_check_all" /><span></span></label></td>
            <td class="index">#</td>
            <td class="request_type_code">รหัสรายการ</td>
            <td class="request_type_description">รายการรับเงิน</td>
            <td class="item_count">จำนวนคำขอ</td>
            <td class="item_sub_type_1_count">จำนวนจำพวก</td>
            <td class="product_count">จำนวนสินค้า</td>
            <td class="total_price">จำนวนเงิน</td>
            <td class="fine">ค่าปรับ</td>
            <td class="is_evidence_floor7">หลักฐาน (ชั้น 7)</td>
            <td class="product_list_text">รายการสินค้า</td>
            <td class="is_sue_text">มีฟ้องคดี</td>


            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              เล่มที่
            </td>
            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              เลขที่
            </td>

            <td class="delete">ลบ</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listItem | myfilter | paginate: paginateItem; index as i">
            <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="onClickCheckBoxTable3('listItem', paginateItem.currentPage === 1 ? i : ((paginateItem.currentPage-1)*paginateItem.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span></label></td>
            <td class="index">{{row_item.index}}</td>
            <td class="request_type_code">
              <div class="form-group flex">
                <div class="input-wrapper">
                  <div class="form-group flex input-with-icon">
                    <input class="form-control input"
                           type="text"
                           placeholder="{{autoComplete.item_list[0].label_text}}"
                           [(ngModel)]="row_item.request_type_code"
                           (blur)="autoComplete.Blur(0, row_item)"
                           (click)="autoComplete.Click(0, row_item)"
                           (ngModelChange)="autoComplete.Click(0, row_item)"
                           autocomplete="off"
                           [attr.disabled]="row_item.is_disabled ? '' : null" />
                    <button class="btn btn-input-search btn-icon"
                            type="button">
                      <i class="dip-icon-search"></i>
                    </button>
                  </div>

                  <div class="div_autocomplete"
                       *ngIf="row_item.is_table_show">
                    <table>
                      <tr *ngFor="let result of autoComplete.item_list[0].result_list"
                          (click)="autoComplete.Select(result, row_item)">
                        <td style="white-space: nowrap;" *ngFor="let column of autoComplete.item_list[0].column_list">{{result[column]}}</td>
                      </tr>
                      <tr class="div_loading">
                        <td colspan="10">Loading</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </td>
            <td class="request_type_description">
              {{row_item.request_type_description}}
              <div class="warnning_message"
                   *ngIf="row_item.warnning_message"
                   [innerHTML]="row_item.warnning_message">
              </div>
            </td>
            <td class="item_count">{{row_item.item_count}}</td>
            <td class="item_sub_type_1_count">{{row_item.item_sub_type_1_count}}</td>
            <td class="product_count">{{row_item.product_count}}</td>
            <td class="total_price">{{row_item.total_price}}</td>
            <td class="fine">{{row_item.fine}}</td>
            <td class="is_evidence_floor7">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (change)="onChangeCheckboxItem(row_item, 'is_evidence_floor7', $event.target.value)"
                       [checked]="row_item.is_evidence_floor7"><span></span>
              </label>
            </td>
            <td class="product_list_text">
              <button class="btn btn-icon"
                      type="button"
                      (click)="onClickRequestOtherItemEdit(row_item)"
                      *ngIf="row_item.request_type_code == '70' && !row_item.is_deactivated">
                <i class="dip-icon-edit"></i>
              </button>
            </td>
            <td class="is_sue_text">
              <div class="kt-radio-inline select-item"
                   *ngIf="row_item.request_type_code == '70' && !row_item.is_deactivated">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input type="radio"
                         (click)="oneWayDataBinding('is_sue', $event.target.checked, row_item)"
                         [checked]="row_item.is_sue"> ฟ้องคดี
                  <span></span>
                </label>
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input type="radio"
                         (click)="oneWayDataBinding('is_sue', !$event.target.checked, row_item)"
                         [checked]="!row_item.is_sue"> อื่น
                  <span></span>
                </label>


                <div class="form-group flex input" *ngIf="!row_item.is_sue">
                  <input class="form-control input"
                         type="text"
                         placeholder=""
                         [(ngModel)]="row_item.is_sue_text">
                </div>
              </div>
            </td>


            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              <input class="form-control input book_index"
                     [(ngModel)]="row_item.book_index" />
            </td>
            <td *ngIf="input.commercial_affairs_province_code != 'FLOOR3'">
              <input class="form-control input page_index"
                     [(ngModel)]="row_item.page_index" />
            </td>


            <td class="delete">
              <i class="dip-icon-trash" (click)="onClickRequestOtherItemDelete(row_item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginateItem')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateItem')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateItem')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
          <option *ngFor="let perPage of perPageItem" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
        </span>
      </div>
    </div>
  </div>
</div>

<app-modal [className]="[
    'fade',
    this.modal.isModalEditCategoryOpen ? 'show' : undefined
  ]"
           [title]="'ตารางข้อมูลการรับคำขอ ก.อื่นๆ'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalEditCategoryOpen')">
  <!-- Custom Header Children -->
  <!-- <div header-children></div> -->
  <!-- Custom Body Children [default empty (need content)] -->
  <div body-children class="flex flex-wrap listRequestOtherItemSub">

    <div class="kt-portlet registration-other-request-job">
      <div class="kt-portlet__head_action">
        <button class="btn btn-create-new btn-icon"
                type="button"
                (click)="onClickRequestOtherItemSubAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
      </div>

      <div class="kt-portlet__body">
        <div class="table">
          <table>
            <thead>
              <tr>
                <!--<td class="select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox"
                           (click)="onClickCheckBoxTable3('listItem', 0, true)"
                           [checked]="input.is_table_3_check_all" />
                    <span></span>
                  </label>
                </td>-->
                <td class="index">#</td>
                <td>เลขที่คำขอ</td>
                <td>รหัสจำพวก</td>
                <td>จำนวนสินค้า</td>
                <td>จำนวนเงิน</td>
                <td>ค่าปรับ</td>
                <td>ลบ</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listRequestOtherItemSubEdit | myfilter | paginate: paginateItem; index as i">
                <!--<td class="select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onClickCheckBoxTable3('listItem', paginateItem.currentPage === 1 ? i : ((paginateItem.currentPage-1)*paginateItem.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span>
                  </label>
                </td>-->
                <td class="index">{{row_item.index}}</td>
                <td>
                  <div class="form-group flex">
                    <div class="input-wrapper">
                      <div class="form-group flex">
                        <select class="form-control"
                                [(ngModel)]="row_item.request_number">
                          <option *ngFor="let item of listRequest01Item | myfilter:'request_number'"
                                  [value]="item.request_number">
                            {{item.request_number}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group flex input">
                    <input class="form-control input"
                           type="text"
                           placeholder="รหัสจำพวก"
                           [(ngModel)]="row_item.item_sub_type_1_code">
                  </div>
                </td>
                <td>
                  <div class="form-group flex input">
                    <input class="form-control input"
                           type="number"
                           placeholder="จำนวนสินค้า"
                           (ngModelChange)="updateRequestOtherItemSub(listRequestOtherItemSubEdit)"
                           [(ngModel)]="row_item.product_count">
                  </div>
                </td>
                <td>{{displayMoney(row_item.total_price)}}</td>
                <td>{{row_item.fine}}</td>
                <td class="delete">
                  <i class="dip-icon-trash" (click)="onClickRequestOtherItemSubDelete(row_item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateItem')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateItem')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateItem')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
              <option *ngFor="let perPage of perPageItem" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div footer-children class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-default"
            (click)="toggleModal('isModalEditCategoryOpen')">
      ยกเลิก
    </button>

    <button type="button"
            class="btn btn-secondary"
            (click)="onClickRequestOtherItemSubSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>


<app-modal [className]="['fade', this.modal.isModalPreviewPdfOpen ? 'show' : undefined]"
           [title]="'เอกสาร'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalPreviewPdfOpen')">
  <div body-children class="flex flex-wrap">
    <ng-container *ngIf="this.modal.isModalPreviewPdfOpen && url">
      <iframe id="pdf"
              frameborder="0"
              scrolling="no"
              seamless=""
              allowfullscreen="allowfullscreen"
              style="width:100%;height:700px"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"></iframe>
    </ng-container>
  </div>

  <!-- Custom Footer Children -->
  <!-- <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalPreviewPdfOpen')"
    >
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="print('pdf')">
      <i class="dip-icon-print"></i>
      พิมพ์
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="download(url, 'receipt.pdf')"
    >
      <i class="dip-icon-download"></i>
      ดาวน์โหลด
    </button>
  </div> -->
</app-modal>


<div class="div_popup" *ngIf="popup.warning_message_show_list.length > 0">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <div class="div_popup_topic">
      <div class="title">
        ข้อความจาก Server
      </div>
      <div class="close" (click)="popup.warning_message_show_list = []">
        <i class="dip-icon-close"></i>
      </div>
    </div>

    <div *ngFor="let message of popup.warning_message_show_list"
         class="message"
         [ngClass]="{ 'message_warning': message.is_warning }"
         [innerHTML]="message.message">
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.modal.isPopupSaveOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="toggleModal('isPopupSaveOpen')">
  <div body-children>
    ระบบทำการบันทึกข้อมูลแล้ว
  </div>
</app-popup>
