:host {
  font-family: "Noto Sans Thai", "Noto Sans";
}

:host input.form-control,
:host select.form-control {
  width: 375px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .registration-other-request-job .registration-other-requester .input-wrapper-row .btn {
  margin-left: 15px;
}

:host .registration-other-request-job .registration-other-requester .input-wrapper-row .kt-checkbox {
  margin-left: 25px;
}

:host .registration-other-request-job .kt-portlet__body .form-note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
  color: #0C84C8;
  margin-left: 185px;
  font-weight: 400;
}

:host .registration-other-request-job .kt-portlet__body .new-request-list-wrapper {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #EFF1F5;
  position: relative;
}

:host .registration-other-request-job .kt-portlet__body .new-request-list-wrapper .add-new {
  position: absolute;
  top: -55px;
  right: 0;
}

:host .registration-other-request-job .kt-portlet__footer {
  justify-content: flex-end;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group {
  margin-bottom: 0;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group.flex {
  align-items: center;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group.flex .input-wrapper {
  margin-bottom: 0;
  display: flex;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group.flex .input-wrapper .input {
  width: 155px;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group.flex .input-wrapper .unit {
  margin-left: 20px;
}

:host .registration-other-request-job .kt-portlet__footer .total .form-group.flex .input-wrapper .kt-checkbox {
  margin-left: 70px;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.edit_delete > a {
  padding: 4px 8px;
}

:host .table .td.edit_delete > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .edit_delete {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host .table.table-new-request-list .tr .td.request-id {
  flex: 0 0 240px;
  max-width: 240px;
  padding-left: 25px;
}

:host .table.table-new-request-list .tr .td.request-fee {
  flex: 0 0 220px;
  max-width: 220px;
  padding-right: 25px;
  text-align: right;
  justify-content: flex-end;
}

:host .table.table-new-request-list .tr .td.reference_number {
  flex: 0 0 270px;
  max-width: 270px;
  text-align: center;
  justify-content: center;
}

:host .table.table-new-request-list .tr .td.owner_name {
  flex: 1 1 auto;
}

:host .table.table-new-request-list .tr .td.rule {
  flex: 0 0 130px;
  max-width: 130px;
  text-align: center;
  justify-content: center;
}

:host .table.table-new-request-list .tr .td.rule i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C84C8;
}

:host .table.table-new-request-list .tr .td.facillitation-act-status-code {
  flex: 0 0 330px;
  max-width: 330px;
  padding-right: 25px;
}

:host .table.table-new-request-list .tr .td.delete {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table-new-request-list .tr .td.delete i {
  color: #C31D1D;
  cursor: pointer;
}

:host .table.table-new-request-list .tr.header .td {
  color: #626366;
}

:host .table.table_3 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .request_type_code {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: flex-start;
}

:host .table.table_3 .request_type_description {
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .item_count {
  flex: 0 0 110px;
  max-width: 110px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .count {
  flex: 0 0 110px;
  max-width: 110px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .product_count {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .total_price {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .fine {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .evidence_floor7 {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .evidence_floor7 i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C84C8;
}

:host .table.table_3 .product_list_text {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .is_sue_text {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .delete {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .delete .icon {
  cursor: pointer;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .input-wrapper-row .kt-input-icon {
  width: auto;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .input-wrapper-row .btn {
  margin-left: 15px;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td {
  min-height: 40px;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.category-id {
  flex: 0 0 160px;
  max-width: 160px;
  padding-left: 20px;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.money-transaction {
  flex: 1 1 auto;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.amount-of-money-old {
  flex: 0 0 160px;
  max-width: 160px;
  justify-content: flex-end;
  text-align: right;
}

:host ::ng-deep .select-category-id .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.amount-of-money-new {
  flex: 0 0 180px;
  max-width: 180px;
  justify-content: flex-end;
  text-align: right;
  padding-right: 20px;
}
