:host {
  font-family: "Noto Sans Thai", "Noto Sans";

  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-size: 16px;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: 400;
    z-index: 1;

    .title {
      /*padding: 0 24px;*/
      /*line-height: 60px;*/
      &:hover {
        background-color: #F4F5F8;
      }
    }

    * + tr.div_loading {
      display: none;
    }

    & > div {
      padding: 0 24px;
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }
    }
  }

  .div_popup_body {
    margin: 80px auto;
    width: 1000px;
    background-color: #fff;
    border-radius: 5px;

    .div_popup_topic {
      background: #0C84C8;
      text-align: left;
      padding: 12px 18px;
      color: #fff;

      .title {
        font-size: 19px;
        display: inline-block;
      }

      .close {
        text-align: right;
        display: inline-block;
        padding: 8px;
        opacity: 1;
        border-radius: 50%;
        background: #fff;

        i {
          color: #0C84C8;
          font-size: 16px;
        }
      }
    }

    & > .message {
      background: #d7f0ff;
      color: #3eb6ff;
      /*display: inline-block;*/
      font-size: 20px;
      padding: 35px 30px;
      /*font-weight: bold;*/
      text-align: left;
      /*border-left: 12px solid #babababa;*/
      &.message_warning {
        background-color: #ffe0e3;
        color: #ff4757;
        /*border-color: #ff4757;*/
      }

      &:nth-child(n+3) {
        margin-top: 2px;
        /*border-top: 1px solid #CCC;*/
      }
    }
  }

  .listRequestOtherItemSub {
    .kt-portlet__head_action {
      position: absolute;
      right: 55px;
    }
  }

  .table-inner {
    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }


  .registration-other-requester {
    .input {
      /*width: 375px;*/
    }

    .btn {
      margin-left: 15px;
    }
  }


  .btn-create-new {
    & + .btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control, select.form-control {
    /*width: 375px;*/
  }

  .tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #F4F5F8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__head-action {
    & > * + button {
      margin-left: 15px;
    }

    & > * + input {
      margin-left: 15px;
    }

    & > * + label {
      margin-left: 15px;
    }
  }

  .mat-input-element {
    border: 1px solid rgb(226, 229, 236);
  }

  .kt-portlet__body__inner {
    .form-group {
      & > * + button {
        margin-left: 15px;
      }

      & > * + span {
        margin-left: 15px;
      }

      & > * + label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + button {
          margin-left: 0;
        }
      }

      & > button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .td {
      input {
        width: 100%;
      }

      &.edit_delete {
        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .edit_delete {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;
    }

    &.table_2 {
      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .request_number {
        flex: 0 0 195px;
        max-width: 195px;
        justify-content: center;
        text-align: center;
      }

      .total_price {
        flex: 0 0 175px;
        max-width: 175px;
        justify-content: center;
        text-align: center;
      }

      .reference_number {
        flex: 0 0 175px;
        max-width: 175px;
        justify-content: center;
        text-align: center;
      }

      .owner_name {
        flex: 0 0 300px;
        max-width: 300px;
        justify-content: center;
        text-align: center;
      }

      .request_search {
        flex: 0 0 130px;
        max-width: 130px;
        justify-content: center;
        text-align: center;
      }

      .facilitation_act_status_code {
        flex: 0 0 300px;
        max-width: 300px;
        justify-content: center;
        text-align: center;
      }

      .remark {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }
    }

    &.table_3 {
      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .request_type_code {
        flex: 0 0 180px;
        max-width: 180px;
        justify-content: center;
        text-align: center;
      }

      .request_type_description {
        flex: 0 0 410px;
        max-width: 410px;
        justify-content: center;
        text-align: center;
      }

      .item_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .item_sub_type_1_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .product_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .total_price {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .fine {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .is_evidence_floor7 {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .product_list_text {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .is_sue_text {
        text-align: left;
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
      }
    }
  }

  table {
    border-collapse: collapse;
    color: #626366;
    width: fit-content;

    thead {
      font-weight: bold;
    }

    td {
      padding: 15px 8px 10px;
      text-align: center;
      vertical-align: middle;

      &.request_number {
        input {
          width: 150px;
        }
      }

      &.request_type_code {
        .form-group {
          position: relative;

          input {
            width: 150px;
          }
        }
      }

      input {
        &.book_index {
          min-width: 80px;
          width: 80px;
        }

        &.page_index {
          min-width: 80px;
          width: 80px;
        }
      }

      &.is_sue_text {
        text-align: left;
      }

      &.request_type_description {
        text-align: left;

        .warnning_message {
          color: #ff4757;
          display: block;
        }
      }

      &.trademark_remark {
        text-align: left;
      }
    }

    tbody {
      tr {
        &:nth-child(2n-1) {
          background-color: #F4F5F8;
        }
      }

      td {
        & > * {
          display: inline-flex;
        }

        input {
          /*width: 50px;*/
        }
        /*.input-with-icon {
          input {
            width: 300px;
          }
        }*/
        &.edit_delete, &.delete {
          .dip-icon-edit, .dip-icon-trash {
            margin: 0 5px;

            &:hover {
              color: #C31D1D;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
