<div class="kt-portlet document-role02-print-list-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner document-role02-print-list-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner document-role02-print-list-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="document_role02_print_cover_date">วันที่ส่งมา</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_document_role02_print_cover_date
                         id="document_role02_print_cover_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_document_role02_print_cover_date"
                         (click)="picker_document_role02_print_cover_date.open()"
                         [(ngModel)]="input[key_document_role02_print_cover_date.id]"
                         (dateChange)="clearValidate(key_document_role02_print_cover_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="document_role02_print_cover_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_document_role02_print_cover_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_document_role02_print_cover_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_print_cover_date.id]" class="invalid-feedback">
                  {{validate[key_document_role02_print_cover_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner document-role02-print-list-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              กลุ่มงานที่ส่งมา
            </label>
            <div class="input-wrapper">
              <select #key_department_code
                      class="form-control"
                      id="department_code"
                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                      [(ngModel)]="input[key_department_code.id]"
                      (change)="oneWayDataBinding('department_code', $event.target.value)"
                      [value]="input.department_code">
                <option *ngFor="let item of master.departmentCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_department_code.id]"
                     class="invalid-feedback">
                  {{validate[key_department_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner document-role02-print-list-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role02_print_list_status_code
                      class="form-control"
                      id="document_role02_print_list_status_code"
                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                      [(ngModel)]="input[key_document_role02_print_list_status_code.id]"
                      (change)="oneWayDataBinding('document_role02_print_list_status_code', $event.target.value)"
                      [value]="input.document_role02_print_list_status_code">
                <option *ngFor="let item of master.documentRole02PrintListStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_print_list_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role02_print_list_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner document-role02-print-list-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="rule_count">จำนวนหนังสือ</label>
            <div class="input-wrapper">
              <input #key_rule_count class="form-control input" type="text" id="rule_count" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_rule_count.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_rule_count.id]" class="invalid-feedback">
                  {{validate[key_rule_count.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02PrintListList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet document-role02-print-list-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-brand" (click)="onClickDocumentRole02PrintListSend()">
        สร้างเเอกสาร
      </button>
      <!--<button type="button"
                       class="btn btn-create-new btn-icon"
                       (click)="onClickDocumentRole02PrintListAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickDocumentRole02PrintListDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDocumentRole02PrintList, $event.target.checked)" /><span></span></label></td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="document_role02_print_cover_date_text">วันที่ส่งมา</td>
          <td class="document_role02_receiver_by_name">เจ้าหน้าที่ตรวจสอบ</td>
          <td class="rule_count">จำนวนหนังสือ</td>
          <td class="name">ชื่อผู้รับ</td>
          <td class="house_number">ที่อยู่</td>
          <td class="document_role02_print_cover_date_text">วันที่สร้างใบปะหน้า</td>
          <td class="post_number">เลข 13 หลัก</td>
          <td class="document_role02_print_list_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listDocumentRole02PrintList">
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="document_role02_print_cover_date_text">{{row_item.document_role02_print_cover_date_text}}</td>
          <td class="document_role02_receiver_by_name">{{row_item.document_role02_receiver_by_name}}</td>
          <td class="rule_count">{{row_item.rule_count}}</td>
          <td class="name">{{row_item.name}}</td>
          <td class="house_number">{{row_item.house_number}}</td>
          <td class="document_role02_print_cover_date_text">{{row_item.document_role02_print_cover_date_text}}</td>
          <td class="post_number">
            <!--<div *ngIf="row_item.document_role02_print_list_status_code != 'WAIT_POST_NUMBER'">
              {{row_item.post_number}}
            </div>
              *ngIf="row_item.document_role02_print_list_status_code == 'WAIT_POST_NUMBER'"
              -->
            <div>
              <div class="form-group flex">
                <input type="text"
                       placeholder=""
                       class="form-control input"
                       (change)="onKeyPressDocumentRole02PrintPostNumberSend(row_item)"
                       [(ngModel)]="row_item.post_number"
                       autocomplete="off" />
              </div>
            </div>
          </td>
          <td class="document_role02_print_list_status_name">{{row_item.document_role02_print_list_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-file-alt" (click)="onClickDocumentRole02PrintListSend(row_item)"></i>
            <!--<i class="dip-icon-edit" (click)="onClickDocumentRole02PrintListEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickDocumentRole02PrintListDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateDocumentRole02PrintList"
                (onClickList)="onClickDocumentRole02PrintListList()"></app-paging>
  </div>
</div>
