<div class="kt-portlet save-03-process-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-03-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner save-03-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_index">ลำดับที่คำร้อง</label>
            <div class="input-wrapper">
              <input #key_request_index class="form-control input" type="text" id="request_index" placeholder="ลำดับที่คำร้อง"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_index.id]" class="invalid-feedback">
                  {{validate[key_request_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-03-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-03-process-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.saveStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="save_status_code"
                         type="radio"
                         [checked]="item.code === input.save_status_code"
                         (click)="oneWayDataBinding('save_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickSave03List()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button><button type="button"
                     class="btn btn-danger"
                     (click)="onClickReset()">
      <i class="dip-icon-close"></i>
      ยกเลิก
    </button>
  </div>
</div>
<div class="kt-portlet save-03-process-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางข้อมูลคำอุทธรณ์ (ก.03)
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave03Save()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button><button type="button"
                       class="btn btn-secondary"
                       (click)="onClickSave03Send()">
        <i class="dip-icon-save"></i>
        ส่งงาน
      </button>
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickSave03SaveProcessAdd()">
        <i class="dip-icon-add-new"></i>

      </button>-->
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickSave03SaveProcessDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div>
      <table>
        <thead>
          <tr>
            <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listSaveProcess, $event.target.checked)" /><span></span></label></td>
            <td class="index">#</td>
            <td class="make_date_text">วันที่ยื่นคำร้อง</td>
            <td class="request_number">เลขที่คำขอ</td>
            <td class="request_date_text">วันที่ยื่นคำขอ</td>
            <td class="people_name">ชื่อเจ้าของ</td>
            <td class="item_sub_type_code_1">จำพวกสินค้า</td>
            <td class="save030_appeal_type_name">ประเภทอุทธรณ์</td>
            <td class="save_status_name">สถานะ</td>
            <td class="index_1" colspan="2">ลำดับที่คำร้อง </td>
            <td class="cancel_reason">เหตุผลการยกเลิก</td>
            <td class="edit_delete">แก้ไข / ลบ</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listSaveProcess">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="onClickCheckBoxTable2('listSaveProcess', paginateSaveProcess.currentPage === 1 ? i : ((paginateSaveProcess.currentPage-1)*paginateSaveProcess.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span></label>
            </td>
            <td class="index">{{row_item.index}}</td>
            <td class="make_date_text">{{row_item.make_date_text}}</td>
            <td class="request_number">{{row_item.request_number}}</td>
            <td class="request_date_text">{{row_item.request_date_text}}</td>
            <td class="people_name">{{row_item.people_01_name}}</td>
            <td class="item_sub_type_code_1">{{row_item.item_sub_type_code_1}}</td>
            <td class="save030_appeal_type_name">{{row_item.save030_appeal_type_name}}</td>
            <td class="save_status_name">{{row_item.save_status_name}}</td>
            <td class="index_1">
              <div class="form-group flex input">
                <input class="form-control input"
                       id="{{row_item.index_1}}" type="text"
                       (change)="onChangeSelectSaveProcess(row_item, 'index_1', $event.target.value)"
                       [value]="row_item.index_1">
              </div>
            </td>
            <td class="index_2">
              <div class="form-group flex input">
                <input class="form-control input"
                       id="{{row_item.index_2}}" type="text"
                       (change)="onChangeSelectSaveProcess(row_item, 'index_2', $event.target.value)"
                       [value]="row_item.index_2">
              </div>
            </td>
            <td class="cancel_reason">{{row_item.cancel_reason}}</td>
            <td class="edit_delete">
              <i class="dip-icon-edit" (click)="onClickSave03SaveProcessEdit(row_item)"></i>
              <i class="dip-icon-trash" (click)="onClickSave03SaveProcessDelete(row_item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateSaveProcess"
                (onClickList)="onClickSave03List()"></app-paging>
  </div>
</div>
