<div class="kt-portlet">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลทั่วไป
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body flex div-information">
    <div class="main-request-wrapper">
      <div class="main-request-image-wrapper">
        <div class="bx-box-picture">
          <img *ngIf="input.trademark_2d_physical_path && input.trademark_2d_physical_path != ''" src="{{input.trademark_2d_physical_path}}" />

          <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
            <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
              <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer()"></i>
              </a>
            </div>
          </div>

          <div class="button">
            <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
              หน้าสอบถาม
            </button>
          </div>

        </div>
      </div>
    </div>
    <div>
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="registration_number">ทะเบียนเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="rule_28_date_text">วันที่ยื่นคำขอ ม.28</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="rule_28_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.rule_28_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <!--<div class="flex-column">
            <label class="col-form-label" for="registration_number">วันที่ยื่นตามม. 28</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
        </div>
      </div>
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">

          <div class="flex-column">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>


          <div class="flex-column">
            <label class="col-form-label" for="expired_date_text">วันที่ครบกำหนด</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="expired_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.expired_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวกสินค้า</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_code_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_item_sub_type_1_code_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>


          <!--<div class="flex-column">
            <label class="col-form-label" for="irr_madrid_number">เลขทะเบียนระหว่างประเทศ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="irr_madrid_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.irr_madrid_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
          <!--<div class="flex-column">
            <label class="col-form-label" for="reference_number">เลขที่อ้างอิงคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.reference_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->


        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="people_name">เจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_source_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.people_name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="trademark_status_code">สถานะคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="trademark_status_code"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.trademark_status_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <!--<div class="flex-column">
            <label class="col-form-label considering_receiver_by_name" for="considering_receiver_by_name">นายทะเบียน / ผู้ตรวจสอบ</label>
            <div class="input-wrapper">
              <input class="form-control input considering_receiver_by_name"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [value]="(input.checking_receiver_by_name || '') + ' / ' + (input.considering_receiver_by_name || '')"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="request_source_name">ยื่นคำร้องจาก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_source_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_source_name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label considering_receiver_by_name" for="considering_receiver_by_name">นายทะเบียน / ผู้ตรวจสอบ</label>
            <div class="input-wrapper">
              <input class="form-control input considering_receiver_by_name"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [value]="(input.checking_receiver_by_name || '') + ' / ' + (input.considering_receiver_by_name || '')"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="kt-portlet__footer hide">

  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        รายละเอียดคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole05CheckSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 1"
             (click)="tab_menu_show_index = 1">คำสั่งนายทะเบียน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 2"
             (click)="tab_menu_show_index = 2">พิจารณาเอกสาร</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 3"
             (click)="tab_menu_show_index = 3">เจ้าของ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 4"
             (click)="tab_menu_show_index = 4">ตัวแทน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 5"
             (click)="tab_menu_show_index = 5">บัตรหมาย</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 6"
             (click)="tab_menu_show_index = 6">รายการสินค้า</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 7"
             (click)="tab_menu_show_index = 7">ค่าธรรมเนียม</div>
        <!--<div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 8"
             (click)="tab_menu_show_index = 8">มาตรา</div>-->
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 9"
             (click)="tab_menu_show_index = 9">ประวัติสถานะ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 10"
             (click)="tab_menu_show_index = 10">เอกสารสแกน</div>

        <div class="div-tab-action">
          <!--<button type="button"
                  class="btn btn-brand"
                  (click)="onClickDocumentRole05CheckSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>-->
        </div>

      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
          <app-table [initial_table]="tableInstructionRule" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
          <app-table [initial_table]="tableSaveDocument" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
          <app-table [initial_table]="tablePeople" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 4">
          <app-table [initial_table]="tableRepresentative" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
          <app-address [params]="[contactAddress, master]"></app-address>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
          <app-table [initial_table]="tableProduct" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
          <app-table [initial_table]="tableReceiptItem" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
        </div>

        <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
          <app-table [initial_table]="tableHistory" (onClickCommand)="onClickCommand($event)"></app-table>
        </div>

        <div class="div-tab" [class.hide]="tab_menu_show_index != 10">
          <app-table [initial_table]="tableDocumentScan" [title]="'ตารางเอกสารสแกน'"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        การตรวจสอบเพื่อคุมเวลา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="element-list">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" *ngFor="let item of master.documentRole04CheckListCodeList">
        <input type="checkbox"
               [checked]="documentRole04Check[item.code]"
               (click)="oneWayDataBinding(item.code, $event.target.checked, documentRole04Check)" /> {{item.name}}
        <span></span>
      </label>
    </div>
  </div>
</div>


<div class="kt-portlet">
  <app-table [initial_table]="tableDocumentRole04Check" [title]="'หนังสือทั้งหมด'" (onClickCommand)="onClickCommand($event)"></app-table>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <!--การตรวจสอบเพื่อคุมเวลา-->
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body hide">
  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole05CheckSend()">
        <i class="dip-icon-forward"></i>
        อนุมัติ
      </button>
      <button type="button"
              class="btn btn-orange"
              (click)="popup.is_send_back_show = true">
        <i class="dip-icon-delete-cross"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_edit_show = false">
        <i class="help.Close()"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>



<div class="div_popup is_edit_show" *ngIf="popup.is_edit_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">


    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            บันทึกเสนอนายทะเบียน
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>

      <div class="kt-portlet__body flex">

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_number"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="document_role04_send_type_code">งาน</label>
              <div class="input-wrapper">
                <select class="form-control"
                        [(ngModel)]="popup.rowEdit.document_role04_send_type_code"
                        [value]="popup.rowEdit.document_role04_send_type_code">
                  <option *ngFor="let item of master.documentRole04SendTypeCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>

            <div class="flex-column">
              <label class="col-form-label"
                     for="document_role05_check_date">วันที่เสนอ</label>

              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="document_role05_check_date"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="popup.rowEdit.document_role05_check_date_text"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>

              <!--<div class="input-wrapper input-with-icon datepicker">
                <mat-form-field>
                  <div class="kt-input-icon kt-input-icon--right">
                    <input id="document_role05_check_date"
                           class="form-control input"
                           matInput
                           [matDatepicker]="document_role05_check_date"
                           (click)="document_role05_check_date.open()"
                           [(ngModel)]="popup.rowEdit.document_role05_check_date"
                           autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right"
                           for="document_role05_check_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix
                                         [for]="document_role05_check_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #document_role05_check_date></mat-datepicker>
                </mat-form-field>
              </div>-->
            </div>

            <div class="flex-column">
              <label class="col-form-label" for="document_role05_receiver_by_name">นายทะเบียน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="document_role05_receiver_by_name"
                       [(ngModel)]="popup.rowEdit.document_role05_receiver_by_name"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="new_instruction_rule_description">
                รายละเอียดเสนอ
                <i class="dip-icon-search"
                   (click)="popup.is_instruction_rule_select = true; "></i>
              </label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="new_instruction_rule_description"
                          rows="5"
                          [value]="(popup.rowEdit.new_instruction_rule_name || '') + ' - ' + (popup.rowEdit.new_instruction_rule_description || '')"
                          autocomplete="off"
                          disabled="disabled"></textarea>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>

            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_description">ตค. รอบที่ 1</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="instruction_rule_description"
                          [(ngModel)]="popup.rowEdit.instruction_rule_name + ' - ' + popup.rowEdit.instruction_rule_description"
                          rows="5"
                          autocomplete="off"
                          disabled="disabled"></textarea>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="document_role04_check_remark">รายละเอียดเพิมเติม</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="document_role04_check_remark"
                          [(ngModel)]="popup.rowEdit.document_role04_check_remark"
                          rows="5"
                          autocomplete="off"></textarea>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>


      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole05CheckSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-brand"
                  (click)="onClickDocumentRole05CheckItemDocumentScan()">
            <i class="dip-icon-save"></i>
            เอกสาร
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="popup.is_edit_show = false">
            <i class="dip-icon-delete-cross"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="div_popup is_instruction_rule_select" *ngIf="popup.is_instruction_rule_select">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            บันทึกเสนอนายทะเบียน
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>

      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="new_instruction_rule_code">คำสั่ง</label>
              <div class="combobox-list">
                <div class="combobox"
                     (click)="popup.instruction_rule_select = item"
                     [class.active]="popup.instruction_rule_select == item"
                     *ngFor="let item of master.postRoundInstructionRuleCodeList">
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_select_name">งาน</label>
              <textarea class="form-control input"
                        type="text"
                        id="instruction_rule_select_name"
                        rows="5"
                        [value]="(popup.instruction_rule_select.name || '') + ' - ' + (popup.instruction_rule_select.description || '')"
                        autocomplete="off"
                        disabled="disabled"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole05CheckInstructionRuleSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="popup.is_instruction_rule_select = false">
            <i class="dip-icon-delete-cross"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="div_popup is_instruction_rule_file" *ngIf="popup.is_instruction_rule_file">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            เพิ่มเอกสาร
          </h3>
        </div>
        <div class="kt-portlet__head-action">
          <i class="dip-icon-delete-cross" (click)="popup.is_instruction_rule_file = false"></i>
        </div>
      </div>

      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_number">คำขอเลขที่</label>

              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_number"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_file.post_round_instruction_rule_file_type_code">กลุ่มที่แนบ</label>
              <div class="input-wrapper">
                <select class="form-control"
                        [(ngModel)]="popup.instruction_rule_file.post_round_instruction_rule_file_type_code"
                        [value]="popup.instruction_rule_file.post_round_instruction_rule_file_type_code">
                  <option *ngFor="let item of master.postRoundInstructionRuleFileTypeCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_file.file_name">ไฟล์ที่แนบ</label>
              <input type="file"
                     name="myfile"
                     class="upload-input"
                     (change)="
                          onClickUpload(
                            $event,
                            'input'
                          )
                        " />
            </div>
          </div>
        </div>


        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="popup.instruction_rule_file.remark">รายละเอียด</label>

              <textarea class="form-control input"
                        type="text"
                        id="popup.instruction_rule_file.remark"
                        [(ngModel)]="popup.instruction_rule_file.remark"
                        rows="5"
                        autocomplete="off"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole05CheckInstructionRuleFileAdd()">
            <i class="dip-icon-add-new"></i>
            เพิ่มเอกสาร
          </button>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="div-tab-list">
        <div class="div-tab-menus">
          <div class="div-tab-menu"
               [class.active]="tab_menu_file_show_index == 1"
               (click)="tab_menu_file_show_index = 1; updateTableInstructionRuleFile()">เอกสารประกอบพิจารณา</div>
          <div class="div-tab-menu"
               [class.active]="tab_menu_file_show_index == 2"
               (click)="tab_menu_file_show_index = 2; updateTableInstructionRuleFile()">เอกสารสแกน</div>
        </div>

        <div class="div-tabs">
          <div class="div-tab">
            <app-table [initial_table]="tableInstructionRuleFile" [master]="master" (onClickCommand)="onClickCommand($event)"></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="popup.isPopupSendOpen = false; help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>


<div class="div_popup" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>
    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="popup.send_back_reason"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickDocumentRole05CheckSendChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
