:host {
  color: #6D6E71;
}

:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host input[type='file'] {
  font-size: unset;
}

:host .div-information {
  flex-direction: unset;
}

:host .div-information .form-group.flex {
  flex: unset;
}

:host .div-information .main-request-wrapper {
  /*display: -webkit-box;
      display: flex;*/
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 326px;
  /*max-width: 326px;*/
  height: 365px;
  border: 1px dashed #0C84C8;
}

:host .div-information .main-request-wrapper .bx-box-picture {
  margin: 0 auto;
  display: block;
  width: 100%;
  position: relative;
}

:host .div-information .button {
  /*padding: 16px 0;*/
  display: block;
  /*height: 124px;*/
  margin: 0 auto;
  width: 108px;
}

:host .div-information label {
  min-width: 250px;
  justify-content: unset;
}

:host .div-information label.address_text {
  width: 1092px;
}

:host .div-information label.considering_receiver_by_name {
  width: 520px;
}

:host .div-information input {
  width: 250px;
}

:host .div-information input.address_text {
  width: 1092px;
}

:host .div-information input.considering_receiver_by_name {
  width: 520px;
}

:host .div_popup.is_edit_show .div_popup_body {
  width: 1085px;
}

:host .div_popup.is_edit_show .div_popup_body .dip-icon-search {
  margin-left: 20px;
  cursor: pointer;
}

:host .div_popup.is_edit_show .div_popup_body .dip-icon-search:hover {
  color: #C31D1D;
}

:host .div_popup.is_edit_show .div_popup_body input.form-control, :host .div_popup.is_edit_show .div_popup_body select.form-control {
  width: 325px;
}

:host .div_popup.is_edit_show .div_popup_body textarea {
  width: 500px;
}

:host .div_popup.is_edit_show .div_popup_body textarea#document_role04_check_remark {
  width: 1020px;
}

:host .div_popup.is_instruction_rule_file .div_popup_body {
  width: 1200px;
}

:host .div_popup.is_instruction_rule_file .div_popup_body textarea {
  width: 1150px;
}

:host .div_popup.is_instruction_rule_select .div_popup_body {
  width: 950px;
}

:host .div_popup.is_instruction_rule_select .div_popup_body .combobox-list {
  width: 350px;
}

:host .div_popup.is_instruction_rule_select .div_popup_body textarea {
  width: 500px;
}

:host .flex-column {
  flex-direction: column;
  /*width: 100%;*/
}

:host .flex-column > label {
  justify-content: unset;
}

:host div .form-group .input-wrapper {
  flex: initial;
}

:host .kt-portlet__body_cover {
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 45px 0 8px 25px;
  position: relative;
}

:host .kt-portlet__body_cover:nth-child(n+2) {
  margin-top: 50px;
}

:host .kt-portlet__body_cover .cover {
  position: absolute;
  top: -15px;
  left: 34px;
  padding: 3px 45px;
  background-color: #E5F2F9;
  border-radius: 20px;
  color: #0C84C8;
  font-size: 20px;
}

:host app-tabs.ng-star-inserted[modal_tab] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet--background {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet {
  width: 1330px;
  display: block;
  margin: 0 auto;
}

:host .text-left {
  text-align: left;
}

:host .text-right {
  text-align: right;
}

:host .button-list {
  display: inline-flex;
  margin: 0 auto;
}

:host .button-list button:nth-child(n+1) {
  margin-left: 10px;
}

:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
}

:host .div_autocomplete tr {
  line-height: 60px;
}

:host .div_autocomplete tr:hover {
  background-color: #F4F5F8;
}

:host .div_autocomplete tr td {
  padding: 0 12px;
}

:host .div_autocomplete tr + tr.div_loading {
  display: none;
}

  :host .td_file_trademark_2d {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

:host .table-inner input.form-control, :host .table-inner select.form-control {
  width: 100%;
}

:host .table-inner .dip-icon-duplicate, :host .table-inner .dip-icon-edit, :host .table-inner .dip-icon-trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-duplicate:hover, :host .table-inner .dip-icon-edit:hover, :host .table-inner .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .hide {
  display: none;
}

:host .flex_none {
  flex: none;
}

:host .btn-create-new + .btn-danger {
  margin-left: 10px;
}

:host input.form-control, :host select.form-control {
  width: 375px;
}

:host .tab-pane {
  position: relative;
}

:host .tab-pane .top-right-operator {
  position: absolute;
  right: 0;
  top: -75px;
}

:host .tab-pane .top-right-operator .btn {
  margin-left: 10px;
}

:host .tab-pane .top-right-operator .btn:first-child {
  margin-left: 0;
}

:host .tab-pane .empty-list {
  display: flex;
  justify-content: center;
  background-color: #F4F5F8;
  width: 100%;
  min-height: 65px;
  align-items: center;
}

:host .tab-pane .empty-list .btn {
  margin: 0 10px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .mat-input-element {
  border: 1px solid #e2e5ec;
}

:host .kt-portlet__body_cover {
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 45px 0 8px 25px;
  position: relative;
}

:host .kt-portlet__body_cover:nth-child(n+2) {
  margin-top: 50px;
}

:host .kt-portlet__body_cover .cover {
  position: absolute;
  top: -23px;
  left: 34px;
  padding: 10px 45px;
  background-color: #E5F2F9;
  border-radius: 20px;
  color: #0C84C8;
  font-size: 20px;
}

:host .kt-portlet__body__inner {
  min-height: 57px;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.edit_delete > a {
  padding: 4px 8px;
}

:host .table .td.edit_delete > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .edit_delete {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host table {
  border-collapse: collapse;
  color: #626366;
  width: fit-content;
}

:host table thead {
  font-weight: bold;
}

:host table td {
  padding: 15px 8px 10px;
  text-align: center;
  vertical-align: top;
}

:host table tbody tr:nth-child(2n-1) {
  background-color: #F4F5F8;
}

:host table tbody td {
  line-height: 39px;
  vertical-align: middle;
}

:host table tbody td > * {
  display: inline-flex;
}

:host table tbody td input {
  width: 50px;
}

:host table tbody td > i:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host table tbody td.edit_delete .dip-icon-edit, :host table tbody td.edit_delete .dip-icon-trash, :host table tbody td.delete .dip-icon-edit, :host table tbody td.delete .dip-icon-trash {
  margin: 0 5px;
}

:host table tbody td.edit_delete .dip-icon-edit:hover, :host table tbody td.edit_delete .dip-icon-trash:hover, :host table tbody td.delete .dip-icon-edit:hover, :host table tbody td.delete .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .kt-portlet__head-action input {
  width: auto;
}
