<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: medium;">
        <i class="fa fa-usd"></i> ส่งจดหมายแจ้งชำระค่าธรรมเนียมเพิ่มเติม
      </h5>
    </div>
    <div class="kt-portlet__head-action"></div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;"
          >close</mat-icon
        >
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQDQvB5tBespIM8fYONM_ciXmpqcfibTDCojw&usqp=CAU"
          style="width: 100%;"
        />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <h4 class="sub-head-title">
              ข้อมูลการส่งเมลล์
            </h4>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">เลขที่อ้างอิงคำขอ</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">เลขที่คำขอ</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">ชื่อ-นามสกุล</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">อีเมลล์</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">ค่าธรรมเนียม</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <label class="nc-col-form-label">ค่าธรรมเนียมเพิ่มเติม</label>
            <div>
              <input
                class="form-control input"
                style="width: 100%;"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm-1 col-sm-12">
            <label class="nc-col-form-label">คำสั่งการ</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-12">
                ตามที่ท่านได้ยืนคำขอจดทะเบียนเครื่องหมายการค้าระหว่างประเทศ
                เลขที่อ้างอิง TH และแก้ไขข้อบกพร่องครบถ้วนแล้ว
                กรมทรัพย์สินทางปัญญาจึงขอแจ้งให้ทราบว่าท่านสามารถชำระค่าธรรมเนียนแก่สำนักระหว่างประเทศ
                องศ์การทรัพย์สินทางปัญญาโลก (WIPO)ได้ตั้งแต่วันที่ได้รับแจ้ง
              </div>
              <br /><br />
              <div class="col-12">
                คำแนะนำในการโอนค่าธรรมเนียนเงินให้สำนักระหว่างประเทศ
                องศ์การทรัพย์สินทางปัญญาโลก (WIPO)
              </div>
              <br /><br />
              <div class="col-12">
                1.แจ้งธนาคารว่า
                ต้องการโอนเงินค่าธรรมเนียนยืนคำขอจดทะเบียนเครื่องหมายการค้าระหว่างประเทศให้แก่
                องศ์การทรัพย์สินทางปัญญาโลก (WIPO) ซึ่งเป็นสกุลเงินฟรังก์สวิส
                (CHF) จำนวน ...... CHF
                (ไม่รวมค่าธรรมเนียนธนาคารและค่าธรรมเนียนอื่นๆ)
              </div>
              <br /><br />
              <div class="col-12">
                <label for=""
                  >2.รายละเอียดเกี่ยวกับผู้รับใช้โอนเงินค่าธรรมเนียน</label
                ><br />
                <label for="">ชื่อผู้รับโอน :</label><br />
                <label for="">ที่อยู่ผู้รับโอน :</label><br />
                <label for="">ชื่อธนาคาร :</label><br />
                <label for="">ชื่อบัญชี :</label><br />
              </div>
              <br /><br />
              <div class="col-12">
                3. ให้ระบุรายละเอียดสำหรับกรอกแบบฟอร์มการโอนเงินต่างประเทศ
                ให้ดังนี้
              </div>
              <div class="col-11">3.1</div>
              <div class="col-11">3.2</div>
              <div class="col-11">3.3</div>
              <br /><br />

              <div class="col-12">
                4.โปรดส่งหลักฐานการโอนเงินที่มีการระบุเลขอ้างอิงจากธนาคาร ให้แก่
                swift Message หรือ Debit Advice หรือ Advice for Customer Outward
                Payment (ชื่อที่อยู่แต่ล่ะธนาคาร)
                โดยแนบไฟล์หลักฐานการโอนเงินในหน้า 8 ของแบบฟอร์ม MM2
                เพื่อให้กรมฯตรวจสอบและดำเนินการส่งคำขอของท่านไปยัง
                องศ์การทรัพย์สินทางปัญญาโลก (WIPO) ต่อไป
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">
        <button type="button" class="btn btn-white" (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button" class="btn btn-brand" (click)="closeModal()">
          <i class="fa fa-paper-plane"></i>
          ส่งเมลล์
        </button>
      </div>
    </div>
  </div>
</div>
