<app-modal [className]="[
    'fade agent-form step-agent-modal',
    isOpen ? 'show' : undefined
  ]" [title]="title" [modalSize]="'xl'" [modalVerticalCenter]="true" [hideCloseCross]="true"
  (onClickClose)="_toggleModal()">
  <div body-children>
    <div class="row" style="width: 100%;">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row" style="width: 100%;">
          <div class="col-md-12">
            <h6 class="Subtitle">ข้อมูลคำขอ</h6>
          </div>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col-md-6">
            <img src="https://cf.shopee.co.th/file/c49faf5c7220668b54700dc5135d26db" alt="Girl in a jacket" width="500"
              height="200">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <label class="col-form-label">เลขที่IRN</label>
                <div>
                  <input class="form-control input" type="text" readonly />

                </div>
              </div>
              <div class="col-md-5">
                <label class="col-form-label">วันที่ยื่นคำขอ</label>
                <div>
                  <input class="form-control input" style="width: 20px;" type="text" readonly />

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>

  <!-- Custom Footer Children -->
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-default" (click)="_toggleModal()">
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="_onClickSaveModalEform(item)">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>