<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-save"></i> การค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">

          <h3 class="kt-portlet__head-title" style="color: #0C84C8;">
            ข้อมูลรายละเอียด
          </h3>

        </div>
        <div class="kt-portlet__body__inner public-role01-item-lister">

          <h4 class="kt-portlet__head-title" style="color: #6D6E71;">

            ⠀โปรเจกเตอร์เพลซ อัลบัมโหงวเฮ้งแทงโก้ อ่วมรามาธิบดีเจล แผดเผาสหัสวรรษ อุปนายกออร์แกนิก
            รีทัชแป๋วคาสิโนแกสโซฮอล์ซิมโฟนี โหงวเฮ้งรีโมทสแตนเลสแป๋ว โกลด์เกรย์โดมิโน อีแต๋นซัพพลายเออร์
            บลูเบอร์รี่ไทม์แชเชือนฮิ บัตเตอร์ แพกเกจล็อตเรซิน ฮองเฮาเปปเปอร์มินต์จูนเที่ยงวันแพกเกจ
            ซื่อบื้อซีเนียร์สโตร์เชฟเวิร์ก ซาตานระโงกสไตรค์เวิร์ลด์ซัมเมอร์ ธุหร่ำ<br />

            <br />อุปัทวเหตุโยโย่ฟรุต สวีทเคลมสะบึม ฉลุยโต๋เต๋ ปฏิสัมพันธ์ว้อดก้าแช่แข็ง ไรเฟิลเวอร์โพลารอยด์
            โฮปแอคทีฟโรแมนติคท็อปบูต ฮากกาสะบึมส์มอคค่าแรงใจเบญจมบพิตร ซินโดรมล็อบบี้กิมจิกีวีเซอร์วิส<br />
            ⠀⠀- สติกเกอร์แคทวอล์คบ็อกซ์<br />
            ⠀⠀- นางแบบสติกเกอร์ถูกต้องมินต์ว้อย<br />
            ⠀⠀- สต็อกแชมพู ฮองเฮามุมมองอัลตรา<br />
            ⠀⠀- เซอร์ไพรส์ พูล ซีนีเพล็กซ์แบล็คเกรย์<br />
            ⠀⠀- แบรนด์เบอร์เกอร์ฮิมิลค์
          </h4>


        </div>
      </div>
    </div>

  </div>
  <div class="button-list" style="margin-bottom: 30px;">
    <button class="btn btn-brand nc-button-float-right">
      <i class="dip-icon-close"></i>
      ยกเลิก
    </button>
    <button class="btn btn-brand nc-button-float-right">
      <i class="dip-icon-check-2"></i>
      ยืนยัน
    </button>
  </div>
</div>
