/*.kt-content {
  background-color: #ddd !important;
}

input.form-control, input[type=text], select, textarea {
  border: 1px solid #ddd !important;
}

label > input[type=radio] + span {
  border-color: #ddd !important;
}

.kt-portlet__head {
  border-bottom-color: #ddd !important;
}

.kt-portlet__footer {
  border-top-color: #ddd !important;
}

table tbody tr:nth-child(2n-1) {
  background-color: #ddd !important;
}

.table .table-inner > .tr:nth-child(2n) .td {
  background-color: #ddd !important;
}*/
/* You can add global styles to this file, and also import other style files */
app-table .modal-dialog.modal-lg.modal-dialog-centered,
app-save-01-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-020-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-03-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-04-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-05-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-06-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-07-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-08-process .modal-dialog.modal-lg.modal-dialog-centered,
app-save-14-process .modal-dialog.modal-lg.modal-dialog-centered {
  width: 1350px;
  max-width: 1350px;
}

.button-top-table {
  position: relative;
}

.button-top-table .button-list {
  position: absolute;
  right: 135px;
  top: 11px;
}

app-dashboard-card-summary-block {
  cursor: pointer;
}

.hidden {
  display: none;
}

.div-grid > div {
  float: left;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-next:after {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
  visibility: hidden;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-previous:before {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
  visibility: hidden;
}

.column-2,
.column-3 {
  display: flex;
}

.column-2 > *:nth-child(n + 2),
.column-3 > *:nth-child(n + 2) {
  margin-left: 20px;
}

input.uppercase {
  text-transform: uppercase;
}

.input-wrapper {
  position: relative;
}

.div-tab-menus {
  text-align: left;
  padding: 0 25px;
}

.div-tab-menus .div-tab-menu {
  display: inline-block;
  padding: 0 15px;
  color: #595d6e;
  font-size: 16px;
  font-weight: 500;
  line-height: 59px;
  background: #fff;
}

.div-tab-menus .div-tab-menu.active, .div-tab-menus .div-tab-menu:hover {
  cursor: pointer;
  color: #22b9ff;
  border-bottom: 1px solid #22b9ff;
}

.div-tab-menus .div-tab-action {
  float: right;
}

table div.kt-radio-inline {
  align-items: baseline;
}

.div_autocomplete {
  color: #6d6e71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
  padding: 5px 10px;
  top: 57px;
  min-width: 200px;
  cursor: default;
}

.div_autocomplete table {
  width: 100%;
}

.div_autocomplete tr {
  line-height: 60px;
}

.div_autocomplete tr:hover {
  background-color: #f4f5f8;
}

.div_autocomplete tr + tr.div_loading {
  display: none;
}

.div_autocomplete tr td {
  padding: 0 12px;
}

app-paging {
  width: 100%;
}

.div_draggable {
  width: 800px;
  height: 800px;
  /*overflow: auto;*/
}

.div_draggable .image_show_zoom {
  position: absolute;
  top: 7px;
  right: 5px;
}

.div_draggable .div-title {
  width: 600px;
}

.div_draggable .div-img {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.div_draggable .div-img img {
  max-width: unset;
  -webkit-user-drag: none;
}

input.error {
  border: 1px solid red;
}

.div_popup {
  overflow: auto;
  font-family: "Noto Sans Thai", "Noto Sans";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.div_popup .div_popup_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  opacity: 0.3;
}

.div_popup .div_popup_body {
  text-align: center;
  background: #fff;
  width: 800px;
  margin: 30px auto;
}

.div_popup .div_popup_body .title {
  font-size: 38px;
}

.div_popup .div_popup_body .body {
  margin-top: 20px;
}

.div_popup .div_popup_body.div {
  width: fit-content;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 100px auto;
}

.div_draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  z-index: 120;
}

.div_draggable .div-title {
  text-align: left;
  padding: 17px;
  color: #fff;
  background: #2196f3;
  position: relative;
  cursor: move;
}

.button-list {
  display: inline-flex;
  margin: 0 auto;
}

.button-list > *:nth-child(n + 1) {
  margin-left: 10px;
}

.combobox-list {
  border: 1px solid #ddd;
  padding: 3px;
}

.combobox-list .combobox {
  text-align: left;
  padding: 9px 15px;
  cursor: pointer;
}

.combobox-list .combobox:hover, .combobox-list .combobox.active {
  background: #eff0f4;
}

.element-list {
  display: inline-flex;
}

.element-list > *:nth-child(n + 1) {
  margin-left: 10px;
}

.div_row .div_column-2 {
  margin-right: 15px;
  width: calc(50% - 15px);
}

.width-30 {
  float: left;
  width: 30%;
  padding-right: 20px;
}

.width-70 {
  float: left;
  width: 70%;
  padding-right: 20px;
}

/*reset*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hide {
  display: none !important;
}

input[type="file"] {
  font-size: 0;
}

input[type="file"]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 1px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #f5f5f5;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #0c77b3;
  border-radius: 1px;
}

/*Noto Sans Thai*/
@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Thin.eot");
  src: url("NotoSansThai-Thin.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Thin.woff2") format("woff2"), url("NotoSansThai-Thin.woff") format("woff"), url("NotoSansThai-Thin.ttf") format("truetype"), url("NotoSansThai-Thin.svg#NotoSansThai-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-ExtraLight.eot");
  src: url("NotoSansThai-ExtraLight.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-ExtraLight.woff2") format("woff2"), url("NotoSansThai-ExtraLight.woff") format("woff"), url("NotoSansThai-ExtraLight.ttf") format("truetype"), url("NotoSansThai-ExtraLight.svg#NotoSansThai-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Light.eot");
  src: url("NotoSansThai-Light.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Light.woff2") format("woff2"), url("NotoSansThai-Light.woff") format("woff"), url("NotoSansThai-Light.ttf") format("truetype"), url("NotoSansThai-Light.svg#NotoSansThai-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Regular.eot");
  src: url("NotoSansThai-Regular.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Regular.woff2") format("woff2"), url("NotoSansThai-Regular.woff") format("woff"), url("NotoSansThai-Regular.ttf") format("truetype"), url("NotoSansThai-Regular.svg#NotoSansThai-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Medium.eot");
  src: url("NotoSansThai-Medium.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Medium.woff2") format("woff2"), url("NotoSansThai-Medium.woff") format("woff"), url("NotoSansThai-Medium.ttf") format("truetype"), url("NotoSansThai-Medium.svg#NotoSansThai-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-SemiBold.eot");
  src: url("NotoSansThai-SemiBold.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-SemiBold.woff2") format("woff2"), url("NotoSansThai-SemiBold.woff") format("woff"), url("NotoSansThai-SemiBold.ttf") format("truetype"), url("NotoSansThai-SemiBold.svg#NotoSansThai-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Bold.eot");
  src: url("NotoSansThai-Bold.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Bold.woff2") format("woff2"), url("NotoSansThai-Bold.woff") format("woff"), url("NotoSansThai-Bold.ttf") format("truetype"), url("NotoSansThai-Bold.svg#NotoSansThai-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-ExtraBold.eot");
  src: url("NotoSansThai-ExtraBold.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-ExtraBold.woff2") format("woff2"), url("NotoSansThai-ExtraBold.woff") format("woff"), url("NotoSansThai-ExtraBold.ttf") format("truetype"), url("NotoSansThai-ExtraBold.svg#NotoSansThai-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url("NotoSansThai-Black.eot");
  src: url("NotoSansThai-Black.eot?#iefix") format("embedded-opentype"), url("NotoSansThai-Black.woff2") format("woff2"), url("NotoSansThai-Black.woff") format("woff"), url("NotoSansThai-Black.ttf") format("truetype"), url("NotoSansThai-Black.svg#NotoSansThai-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

/*Noto Sans*/
@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-Thin.eot");
  src: url("NotoSans-Thin.eot?#iefix") format("embedded-opentype"), url("NotoSans-Thin.woff2") format("woff2"), url("NotoSans-Thin.woff") format("woff"), url("NotoSans-Thin.ttf") format("truetype"), url("NotoSans-Thin.svg#NotoSans-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-ThinItalic.eot");
  src: url("NotoSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-ThinItalic.woff2") format("woff2"), url("NotoSans-ThinItalic.woff") format("woff"), url("NotoSans-ThinItalic.ttf") format("truetype"), url("NotoSans-ThinItalic.svg#NotoSans-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-ExtraLight.eot");
  src: url("NotoSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("NotoSans-ExtraLight.woff2") format("woff2"), url("NotoSans-ExtraLight.woff") format("woff"), url("NotoSans-ExtraLight.ttf") format("truetype"), url("NotoSans-ExtraLight.svg#NotoSans-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-ExtraLightItalic.eot");
  src: url("NotoSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-ExtraLightItalic.woff2") format("woff2"), url("NotoSans-ExtraLightItalic.woff") format("woff"), url("NotoSans-ExtraLightItalic.ttf") format("truetype"), url("NotoSans-ExtraLightItalic.svg#NotoSans-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-Light.eot");
  src: url("NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("NotoSans-Light.woff2") format("woff2"), url("NotoSans-Light.woff") format("woff"), url("NotoSans-Light.ttf") format("truetype"), url("NotoSans-Light.svg#NotoSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-LightItalic.eot");
  src: url("NotoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-LightItalic.woff2") format("woff2"), url("NotoSans-LightItalic.woff") format("woff"), url("NotoSans-LightItalic.ttf") format("truetype"), url("NotoSans-LightItalic.svg#NotoSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-Regular.eot");
  src: url("NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("NotoSans-Regular.woff2") format("woff2"), url("NotoSans-Regular.woff") format("woff"), url("NotoSans-Regular.ttf") format("truetype"), url("NotoSans-Regular.svg#NotoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-Medium.eot");
  src: url("NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("NotoSans-Medium.woff2") format("woff2"), url("NotoSans-Medium.woff") format("woff"), url("NotoSans-Medium.ttf") format("truetype"), url("NotoSans-Medium.svg#NotoSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-MediumItalic.eot");
  src: url("NotoSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-MediumItalic.woff2") format("woff2"), url("NotoSans-MediumItalic.woff") format("woff"), url("NotoSans-MediumItalic.ttf") format("truetype"), url("NotoSans-MediumItalic.svg#NotoSans-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-SemiBold.eot");
  src: url("NotoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("NotoSans-SemiBold.woff2") format("woff2"), url("NotoSans-SemiBold.woff") format("woff"), url("NotoSans-SemiBold.ttf") format("truetype"), url("NotoSans-SemiBold.svg#NotoSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-SemiBoldItalic.eot");
  src: url("NotoSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-SemiBoldItalic.woff2") format("woff2"), url("NotoSans-SemiBoldItalic.woff") format("woff"), url("NotoSans-SemiBoldItalic.ttf") format("truetype"), url("NotoSans-SemiBoldItalic.svg#NotoSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-Bold.eot");
  src: url("NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("NotoSans-Bold.woff2") format("woff2"), url("NotoSans-Bold.woff") format("woff"), url("NotoSans-Bold.ttf") format("truetype"), url("NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-BoldItalic.eot");
  src: url("NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-BoldItalic.woff2") format("woff2"), url("NotoSans-BoldItalic.woff") format("woff"), url("NotoSans-BoldItalic.ttf") format("truetype"), url("NotoSans-BoldItalic.svg#NotoSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-ExtraBold.eot");
  src: url("NotoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("NotoSans-ExtraBold.woff2") format("woff2"), url("NotoSans-ExtraBold.woff") format("woff"), url("NotoSans-ExtraBold.ttf") format("truetype"), url("NotoSans-ExtraBold.svg#NotoSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-ExtraBoldItalic.eot");
  src: url("NotoSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-ExtraBoldItalic.woff2") format("woff2"), url("NotoSans-ExtraBoldItalic.woff") format("woff"), url("NotoSans-ExtraBoldItalic.ttf") format("truetype"), url("NotoSans-ExtraBoldItalic.svg#NotoSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans Blk';
  src: url("NotoSans-Black.eot");
  src: url("NotoSans-Black.eot?#iefix") format("embedded-opentype"), url("NotoSans-Black.woff2") format("woff2"), url("NotoSans-Black.woff") format("woff"), url("NotoSans-Black.ttf") format("truetype"), url("NotoSans-Black.svg#NotoSans-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("NotoSans-BlackItalic.eot");
  src: url("NotoSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("NotoSans-BlackItalic.woff2") format("woff2"), url("NotoSans-BlackItalic.woff") format("woff"), url("NotoSans-BlackItalic.ttf") format("truetype"), url("NotoSans-BlackItalic.svg#NotoSans-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/* TH Sarabun New */
@font-face {
  font-family: 'TH Sarabun New';
  src: url("THSarabunNew-BoldItalic.eot");
  src: url("THSarabunNew-BoldItalic.eot?#iefix") format("embedded-opentype"), url("THSarabunNew-BoldItalic.woff2") format("woff2"), url("THSarabunNew-BoldItalic.woff") format("woff"), url("THSarabunNew-BoldItalic.ttf") format("truetype"), url("THSarabunNew-BoldItalic.svg#THSarabunNew-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url("THSarabunNew.eot");
  src: url("THSarabunNew.eot?#iefix") format("embedded-opentype"), url("THSarabunNew.woff2") format("woff2"), url("THSarabunNew.woff") format("woff"), url("THSarabunNew.ttf") format("truetype"), url("THSarabunNew.svg#THSarabunNew") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url("THSarabunNew-Bold.eot");
  src: url("THSarabunNew-Bold.eot?#iefix") format("embedded-opentype"), url("THSarabunNew-Bold.woff2") format("woff2"), url("THSarabunNew-Bold.woff") format("woff"), url("THSarabunNew-Bold.ttf") format("truetype"), url("THSarabunNew-Bold.svg#THSarabunNew-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url("THSarabunNew-Italic.eot");
  src: url("THSarabunNew-Italic.eot?#iefix") format("embedded-opentype"), url("THSarabunNew-Italic.woff2") format("woff2"), url("THSarabunNew-Italic.woff") format("woff"), url("THSarabunNew-Italic.ttf") format("truetype"), url("THSarabunNew-Italic.svg#THSarabunNew-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Icon Font */
@font-face {
  font-family: 'dip font icon';
  src: url("dip-font-icon.eot");
  src: url("dip-font-icon.eot?#iefix") format("embedded-opentype"), url("dip-font-icon.woff") format("woff"), url("dip-font-icon.woff2") format("woff2"), url("dip-font-icon.ttf") format("truetype"), url("dip-font-icon.svg#dip-font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='dip-icon-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*='dip-icon-']:before {
  display: inline-block;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dip-icon-add-new:before {
  content: '\0041';
}

.dip-icon-angle-double-left:before {
  content: '\0042';
}

.dip-icon-angle-double-right:before {
  content: '\0043';
}

.dip-icon-angle-left:before {
  content: '\0044';
}

.dip-icon-angle-right:before {
  content: '\0045';
}

.dip-icon-announce:before {
  content: '\0046';
}

.dip-icon-image:before {
  content: '\0047';
}

/* .dip-icon-angle-down:before {
  content: '\0047';
} */
.dip-icon-chevron-down:before {
  content: '\0048';
}

.dip-icon-file-alt:before {
  content: '\0049';
}

.dip-icon-arrow-top:before {
  content: '\0049';
}

.dip-icon-barcode:before {
  content: '\004a';
}

.dip-icon-blank-paper:before {
  content: '\004b';
}

.dip-icon-calendar:before {
  content: '\004c';
}

.dip-icon-clear-input:before {
  content: '\004d';
}

.dip-icon-close:before {
  content: '\004e';
  font-size: 80%;
}

.dip-icon-trash:before {
  content: '\004f';
}

.dip-icon-delete-cross:before {
  content: '\0050';
}

.dip-icon-duplicate:before {
  content: '\0051';
}

.dip-icon-drawer:before {
  content: '\0052';
}

.dip-icon-edit:before {
  content: '\0053';
}

.dip-icon-home:before {
  content: '\0054';
}

.dip-icon-list-board:before {
  content: '\0055';
}

.dip-icon-recycle-rectangle:before {
  content: '\0056';
}

.dip-icon-signature:before {
  content: '\0057';
}

/* .dip-icon-person:before {
  content: '\0058';
} */
.dip-icon-order-list:before {
  content: '\0059';
}

.dip-icon-printer:before {
  content: '\005a';
}

.dip-icon-registration:before {
  content: '\0061';
}

.dip-icon-save:before {
  content: '\0062';
}

.dip-icon-search:before {
  content: '\0063';
}

.dip-icon-success:before {
  content: '\0064';
}

.dip-icon-toolbar-menu:before {
  content: '\0065';
  color: #069BA9;
}

.dip-icon-toolbar-menu {
  color: #069BA9;
}

.dip-icon-download:before {
  content: '\0066';
}

.dip-icon-play-circle:before {
  content: '\0067';
}

.dip-icon-pause-circle:before {
  content: '\0068';
}

.dip-icon-edit-pen:before {
  content: '\0069';
}

.dip-icon-play:before {
  content: '\006a';
}

.dip-icon-document-tray:before {
  content: '\006b';
}

.dip-icon-reset:before {
  content: '\006c';
}

.dip-icon-table:before {
  content: '\006d';
}

.dip-icon-layer:before {
  content: '\006e';
}

.dip-icon-automatic:before {
  content: '\006f';
}

.dip-icon-forward:before {
  content: '\0070';
}

.dip-icon-minus:before {
  content: '\0071';
}

.dip-icon-check:before {
  content: '\0072';
}

.dip-icon-loudspeaker:before {
  content: '\0073';
}

.dip-icon-check-2:before {
  content: '\0074';
}

.dip-icon-star-note:before {
  content: '\0075';
}

.dip-icon-circle-outline:before {
  content: '\0076';
}

.dip-icon-paper-plane:before {
  content: '\0077';
}

.dip-icon-arrow-right:before {
  content: '\0078';
}

.dip-icon-info-circle:before {
  content: '\0079';
}

.dip-icon-upload-circle:before {
  content: '\007a';
}

.dip-icon-expand:before {
  content: '\0030';
}

.dip-icon-hyperlink:before {
  content: '\0031';
}

.dip-icon-file-pdf:before {
  content: '\0032';
}

.dip-icon-id-card:before {
  content: '\0033';
}

.dip-icon-search-plus:before {
  content: '\0034';
}

.dip-icon-folder:before {
  content: '\0035';
}

.dip-icon-stop-sign:before {
  content: '\0036';
}

.dip-icon-arrow-right-circle:before {
  content: '\0037';
}

.dip-icon-fetch:before {
  content: '\0058';
}

.dip-icon-music-note:before {
  content: '\0038';
}

.dip-icon-language-switch:before {
  content: '\0039';
}

.dip-icon-speaker:before {
  content: '\0022';
}

.dip-icon-speaker:before {
  content: '\0022';
}

.dip-icon-how_to_reg:before {
  content: '\0043';
}

body {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
}

body .kt-font-brand {
  color: #0c84c8 !important;
}

body .color-primary {
  color: #0c84c8 !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-column label {
  justify-content: unset;
}

.font-med {
  font-weight: 500 !important;
}

.td_file_trademark_2d {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

input.form-control {
  font-size: 16px;
  color: #000000;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  padding: 0.5rem 1rem;
  height: calc(1.5em + 1rem + 2px);
  width: auto;
  min-width: 100px;
}

input.form-control[readonly] {
  background-color: #ebedf2;
}

input.form-control:focus {
  color: #000000;
}

input.form-control.is-invalid {
  background-image: none;
  background-color: #ffe2e2;
  border-color: #ff8d8d;
  padding: 0.5rem 1rem;
}

select.form-control {
  font-size: 16px;
  color: #000000;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  padding: 0.5rem 1.5rem 0.5rem 0.55rem;
  height: calc(1.5em + 1rem + 2px);
}

.filter-addnew-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 0 10px;
}

.filter-addnew-wrapper .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.filter-addnew-wrapper .filters .form-group {
  margin-left: 20px;
  margin-bottom: 0;
}

.filter-addnew-wrapper .filters .form-group .input {
  width: 270px;
}

.filter-addnew-wrapper .add-new {
  margin-left: 30px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
}

.table .table-inner {
  width: 100%;
  margin-bottom: 25px;
}

.table .table-inner .table-data {
  width: 100%;
  /* Track */
  /* Handle */
}

.table .table-inner .table-data::-webkit-scrollbar {
  width: 19px;
}

.table .table-inner .table-data::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #eff1f5;
  border-radius: 0;
  box-shadow: none;
}

.table .table-inner .table-data::-webkit-scrollbar-thumb {
  background-color: #0c84c8;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}

.table .table-inner .table-data::-webkit-scrollbar-thumb:hover {
  background-color: #0071b1;
}

.table .table-inner .table-data > .tr:nth-child(2n-1) .td {
  background-color: #f4f5f8;
}

.table .table-inner > .tr:nth-child(2n) .td {
  background-color: #f4f5f8;
}

.table .table-inner.freeze-header .table-data {
  overflow-y: scroll;
  overflow-x: hidden;
}

.table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.table .tr .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 5px;
  min-height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: normal;
  min-width: 0;
  color: #626366;
}

.table .tr .td .content {
  display: block;
}

.table .tr .td .content.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table .tr.header .td {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

label.kt-checkbox {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6d6e71;
  margin-bottom: 0;
  white-space: nowrap;
  min-height: 39px;
}

label.kt-checkbox > input {
  display: none;
}

label.kt-checkbox > span {
  top: 50% !important;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--tick > input:checked ~ span {
  background-color: #0c84c8;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--tick > input:checked ~ span:after {
  border: solid white;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill {
  border: 1px solid #bcbdc0;
  border-radius: 0.25rem;
  position: relative;
  padding-left: 0;
  width: 26px;
  height: 25px;
  justify-content: center;
  min-height: 0;
  background: transparent;
  z-index: 2;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill > span {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 1px;
  border: 0;
  z-index: -1;
  top: 0 !important;
  transform: none;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill > span:after {
  display: none;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill .inside-label {
  color: #bcbdc0;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  font-family: "Noto Sans Thai", "Noto Sans";
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill > input:checked ~ span {
  background-color: #0c84c8;
  border: 0;
}

label.kt-checkbox.kt-checkbox--brand.kt-checkbox--fill > input:checked ~ .inside-label {
  color: white;
}

label.kt-checkbox > span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

label.kt-checkbox.no-label {
  padding-left: 0;
  min-width: 18px;
  min-height: 18px;
}

label.kt-radio {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  white-space: nowrap;
  color: #6d6e71;
}

label.kt-radio.kt-radio--brand.kt-radio--bold > span {
  border-color: #edecf8;
  background-color: #edecf8;
}

label.kt-radio.kt-radio--brand.kt-radio--bold > span:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #0c84c8;
}

label.kt-radio.kt-radio--brand.kt-radio--bold > input:checked ~ span {
  border-color: #0c84c8;
  background-color: white;
}

label.kt-radio.kt-radio--brand.kt-radio--bold > input:checked ~ span:after {
  border-color: #0c84c8;
}

label.kt-radio.kt-radio--brand > span {
  border-color: #edecf8;
  background-color: #edecf8;
}

label.kt-radio.kt-radio--brand > span:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.kt-radio.kt-radio--brand > input:checked ~ span {
  border-color: #0c84c8;
  background-color: white;
}

label.kt-radio.kt-radio--brand > input:checked ~ span:after {
  border-color: #0c84c8;
}

label.kt-radio > span {
  top: 3px;
}

label.kt-radio > span:after {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kt-portlet .kt-portlet__body .kt-portlet__body__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.kt-portlet .kt-portlet__body .kt-portlet__body-label .kt-portlet__body-title {
  color: #0c84c8;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: 500;
  font-size: 20px;
  display: -webkit-box;
  display: flex;
}

.kt-portlet .kt-portlet__body .col-form-label {
  min-width: 165px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  white-space: normal;
}

.kt-portlet .kt-portlet__footer {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  border-top: 1px solid #ebedf2;
  min-height: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
}

.kt-portlet .kt-portlet__footer .kt-portlet__footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.kt-aside .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__wrapper {
  overflow: auto;
}

button.btn {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  padding: 7px 1rem 6px;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button.btn .icon {
  padding-right: 0.5rem;
}

button.btn.round {
  border-radius: 50%;
}

button.btn.btn-icon-right i {
  padding-right: 0;
  padding-left: 0.5rem;
}

button.btn.btn-icon-right .icon {
  padding-right: 0;
  padding-left: 0.5rem;
}

button.btn.btn-outline-brand {
  color: #0c84c8;
  border-color: #0c84c8;
}

button.btn.btn-outline-brand:hover {
  background-color: #0c84c8;
  color: white;
  border-color: #f2f3f8;
}

button.btn.btn-outline-brand:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-outline-brand:active {
  background-color: #0c84c8 !important;
  color: white !important;
  border-color: #f2f3f8 !important;
}

button.btn.btn-outline-brand:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-icon {
  background-color: #e6f2fa;
  border-color: #e4e7ee;
}

button.btn.btn-icon .icon {
  padding-right: 0;
}

button.btn.btn-icon:hover {
  background-color: #c7e4f6;
}

button.btn.btn-icon:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-icon:active {
  background-color: #c7e4f6 !important;
}

button.btn.btn-icon:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-create-new {
  background-color: rgba(12, 132, 200, 0.1);
  border-color: rgba(12, 132, 200, 0.1);
  color: #0c84c8;
}

button.btn.btn-create-new:hover {
  background-color: #0c77b3;
  border-color: #0c77b3;
  color: white;
}

button.btn.btn-create-new:active {
  background-color: #0c77b3 !important;
  border-color: #0c77b3 !important;
  color: white !important;
}

button.btn.btn-brand {
  background-color: #0c84c8;
  border-color: #0c84c8;
  color: white;
}

button.btn.btn-brand:hover {
  background-color: #1475ab;
  border-color: #1475ab;
}

button.btn.btn-brand:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-brand:active {
  background-color: #1475ab !important;
  border-color: #1475ab !important;
}

button.btn.btn-brand:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-brand.align-items-right {
  margin-left: auto;
}

button.btn.btn-brand-2 {
  background-color: #06a2da;
  border-color: #06a2da;
  color: white;
}

button.btn.btn-brand-2:hover {
  background-color: #009fd8;
  border-color: #009fd8;
}

button.btn.btn-brand-2:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-brand-2:active {
  background-color: #009fd8 !important;
  border-color: #009fd8 !important;
}

button.btn.btn-brand-2:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-brand-3 {
  background-color: #028dd2;
  border-color: #028dd2;
  color: white;
}

button.btn.btn-brand-3:hover {
  background-color: #009fd8;
  border-color: #009fd8;
}

button.btn.btn-brand-3:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-brand-3:active {
  background-color: #009fd8 !important;
  border-color: #009fd8 !important;
}

button.btn.btn-brand-3:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-danger {
  background-color: #e34132;
  border-color: #e34132;
}

button.btn.btn-danger:hover {
  background-color: #b21212;
  border-color: #b21212;
}

button.btn.btn-danger:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-danger:active {
  background-color: #b21212 !important;
  border-color: #b21212 !important;
}

button.btn.btn-danger:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-danger-secondary {
  background-color: #fae6e6;
  border-color: #fdcccc;
  color: #c31d1d;
}

button.btn.btn-danger-secondary:hover {
  background-color: #fdcccc;
  border-color: #fdcccc;
}

button.btn.btn-danger-secondary:active {
  background-color: #fdcccc !important;
  border-color: #fdcccc !important;
}

button.btn.btn-primary {
  background-color: #d9e9ef;
  border-color: #d9e9ef;
  color: #0c84c8;
}

button.btn.btn-primary:hover {
  background-color: #0c84c8;
  border-color: #0c84c8;
  color: white;
}

button.btn.btn-primary:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-primary:active {
  background-color: #0c84c8 !important;
  border-color: #0c84c8 !important;
  color: white !important;
}

button.btn.btn-primary:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-secondary {
  background-color: #069ba9;
  border-color: #069ba9;
  color: white;
}

button.btn.btn-secondary:hover {
  background-color: #048b98;
  border-color: #048b98;
}

button.btn.btn-secondary:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-secondary:active {
  background-color: #048b98 !important;
  border-color: #048b98 !important;
}

button.btn.btn-secondary:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-orange {
  background-color: #fd8402;
  border-color: #fd8402;
  color: white;
}

button.btn.btn-orange:hover {
  background-color: #fd8402;
  border-color: #fd8402;
}

button.btn.btn-orange:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-orange:active {
  background-color: #fd8402 !important;
  border-color: #fd8402 !important;
}

button.btn.btn-orange:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-tertiary {
  background-color: #e6f2fa;
  border-color: #cdebfd;
  color: #0c84c8;
}

button.btn.btn-tertiary .icon {
  padding-right: 0;
}

button.btn.btn-tertiary:hover {
  background-color: #0c84c8;
  color: white;
}

button.btn.btn-tertiary:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-tertiary:active {
  background-color: #0c84c8 !important;
  color: white;
}

button.btn.btn-tertiary:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-white {
  background-color: white;
  border-color: #b3b5b8;
  color: #939598;
}

button.btn.btn-white.disabled {
  opacity: 0.5;
  pointer-events: none;
}

button.btn.btn-white:hover {
  background-color: #b3b5b8;
  color: white;
}

button.btn.btn-white:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-white:active {
  background-color: #b3b5b8 !important;
  color: white !important;
}

button.btn.btn-white:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-dark-gray {
  background-color: #6a6a6a;
  border-color: #6a6a6a;
  color: white;
}

button.btn.btn-dark-gray:hover {
  background-color: #4b4b4b;
  color: white;
}

button.btn.btn-dark-gray:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-dark-gray:active {
  background-color: #4b4b4b !important;
  color: white !important;
}

button.btn.btn-dark-gray:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-light-gray {
  background-color: #bac3d0;
  border-color: #bac3d0;
  color: white;
}

button.btn.btn-light-gray:hover {
  background-color: #9ca7b5;
  color: white;
}

button.btn.btn-light-gray:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-light-gray:active {
  background-color: #9ca7b5 !important;
  color: white !important;
}

button.btn.btn-light-gray:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-light-black {
  background-color: #474747;
  border-color: #474747;
  color: white;
}

button.btn.btn-light-black:hover {
  background-color: #242424;
}

button.btn.btn-light-black:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-light-black:active {
  background-color: #242424;
}

button.btn.btn-light-black:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

button.btn.btn-default:hover {
  background-color: #0c84c8;
  border-color: #0c84c8;
  color: white;
}

button.btn.btn-default:active {
  background-color: #0c84c8 !important;
  border-color: #0c84c8 !important;
  color: white !important;
}

button.btn.btn-eform-secondary {
  background-color: #149ba9;
  border-color: #149ba9;
  color: white;
  margin: 0 auto;
}

button.btn.btn-eform-secondary .dip-icon-arrow-right.flip {
  transform: rotate(180deg);
  padding-left: 5px;
  padding-right: 0;
}

button.btn.btn-eform-secondary:hover {
  background-color: #0f7883;
}

button.btn.btn-eform-secondary:active {
  background-color: #0f7883;
}

button.btn.btn-blue {
  background-color: #24489C;
  border-color: #24489C;
  color: white;
  margin: 0 auto;
}

button.btn.btn-blue .dip-icon-arrow-right.flip {
  transform: rotate(180deg);
  padding-left: 5px;
  padding-right: 0;
}

button.btn.btn-blue:hover {
  background-color: #24509c;
}

button.btn.btn-blue:active {
  background-color: #24509c;
}

button.btn.small-btn {
  width: 26px;
  height: 25px;
  font-size: 12px;
}

button.btn.tiny-btn {
  width: 20px;
  height: 20px;
  font-size: 9px;
}

button.btn[disabled], button.btn.disabled {
  pointer-events: none;
}

div {
  /*hide the floating mat input part */
}

div.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

div.form-group {
  margin-bottom: 0;
  min-height: 39px;
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

div.form-group .col-form-label {
  white-space: nowrap;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6d6e71;
  min-height: 40px;
}

div.form-group .col-form-label .required {
  color: #9f0d1d;
}

div.form-group .input-wrapper {
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

div.form-group .input-wrapper .input-wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.form-group .input-wrapper .input-wrapper-row .kt-input-icon__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div.form-group .input-wrapper .input-wrapper-row .kt-input-icon__icon.clear-btn {
  cursor: pointer;
}

div.form-group .input-wrapper .input-wrapper-row .kt-input-icon__icon.clear-btn.hover {
  color: #c31d1d;
}

div.form-group .input-wrapper .input-wrapper-row .kt-input-icon__icon.clear-btn.active {
  color: #c31d1d;
}

div.form-group .input-wrapper .input-wrapper-row .kt-checkbox {
  margin-right: 25px;
}

div.form-group .input-wrapper .feedback-wrapper {
  height: 15px;
  margin-top: 3px;
  width: 100%;
  font-size: 10px;
}

div.form-group .input-wrapper .feedback-wrapper .invalid-feedback,
div.form-group .input-wrapper .feedback-wrapper .valid-feedback {
  display: block;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 11px;
  font-weight: normal;
}

div.form-group .input-wrapper .feedback-wrapper .invalid-feedback {
  color: #c31d1d;
}

div.form-group .input-wrapper.input-with-icon {
  width: auto;
}

div.form-group .form-control {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
}

div.form-group .form-control::-webkit-input-placeholder {
  /* Edge */
  line-height: 1.5;
}

div.form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  line-height: 1.5;
}

div.form-group .form-control::-ms-input-placeholder {
  line-height: 1.5;
}

div.form-group .form-control::placeholder {
  line-height: 1.5;
}

div.form-group .form-control[readonly] {
  background-color: #f4f5f8;
}

div.form-group .form-control:disabled {
  color: #9e9e9e;
}

div.form-group .form-control.is-invalid {
  background-image: none;
}

div.form-group .unit {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
  margin-left: 15px;
  min-height: 40px;
}

div.form-group .form-control {
  font-size: 16px;
}

div.form-group .form-control.is-invalid {
  border-color: red;
  background-image: url(./assets/images/icons/icon-delete-cross-red.svg);
  background-size: 12px;
}

div.form-group .form-control + .unit {
  margin-left: 15px;
}

div.form-group label {
  font-size: 16px;
}

div.form-group.flex {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

div.form-group.flex .col-form-label {
  padding: 0 calc(0.65rem + 1px);
  margin: 0 10px;
}

div.form-group.input-with-icon .input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.form-group.input-with-icon .btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 3rem;
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 !important;
}

div.kt-portlet .kt-portlet__head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div.kt-portlet .kt-portlet__head .kt-portlet__head-label {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

div.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  color: #0c84c8;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title i {
  margin-right: 15px;
}

div.kt-pagination {
  width: 100%;
}

div.kt-pagination .has-text-centered {
  display: flex;
  align-items: center;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination {
  display: flex;
  margin-bottom: 0;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-previous:before {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .disabled {
  padding: 0;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-next:after {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li {
  font-family: "Noto Sans Thai", "Noto Sans";
  color: #6d6e71;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li span {
  font-weight: 500;
  color: #74788d;
  font-size: 1rem;
  padding: 0 0.2rem;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link {
  background-color: #f4f5f8;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link.disbled {
  background-color: #f4f5f8;
  pointer-events: none;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link:hover {
  background-color: #0c84c8;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link:hover img {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link:active {
  background-color: #0c84c8;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.kt-pagination__link--active {
  background-color: #0c84c8;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li:hover {
  background-color: #0c84c8;
  color: white;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.disabled:hover {
  background-color: transparent;
  color: #6d6e71;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.current {
  padding: 0;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.current span {
  color: white;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__links li.small-screen {
  display: none;
}

div.kt-pagination.kt-pagination--brand .kt-pagination__toolbar {
  font-family: "Noto Sans Thai", "Noto Sans";
}

div.kt-pagination.kt-pagination--brand .kt-pagination__toolbar .form-control {
  width: 60px;
  background-color: #f4f5f8;
}

div.kt-pagination.kt-pagination--brand .page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.kt-pagination.kt-pagination--brand .page-nav .goto-page {
  margin-left: 10px;
}

div.kt-pagination.kt-pagination--brand .page-nav .goto-page .input {
  width: 55px;
}

div.kt-radio-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div.kt-radio-inline .kt-radio {
  margin-bottom: 0;
}

div.kt-radio-inline.hidden {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
  pointer-events: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

div.kt-checkbox-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

div.kt-checkbox-inline .kt-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.tab-content .tab-pane {
  display: none;
}

div.tab-content .tab-pane.active {
  display: block;
}

div .kt-input-icon.kt-input-icon--right .form-control {
  padding-right: 3.3rem;
}

div.datepicker {
  padding: 0;
}

div.datepicker .kt-input-icon__icon {
  border-top: 1px solid #e2e5ec;
  border-right: 1px solid #e2e5ec;
  border-bottom: 1px solid #e2e5ec;
}

div.datepicker .form-control {
  background-color: #fff;
  border: 1px solid #e2e5ec;
}

div.datepicker .form-control.is-invalid {
  background-color: #ffe2e2;
}

div.datepicker .form-control.is-invalid + .kt-input-icon__icon {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}

div.datepicker .mat-form-field-suffix {
  display: none;
  padding: 0;
  margin: 0;
}

div.datepicker .mat-form-field-wrapper {
  padding-bottom: 0;
}

div.datepicker .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}

div.datepicker .mat-form-field-infix {
  border-top: 0;
  padding: 0 !important;
  width: auto;
}

div.datepicker .mat-form-field-infix .mat-input-element {
  background-color: white;
  border: 1px solid #ebedf2;
  border: 1px solid #e2e5ec;
  margin-top: 0;
}

div.datepicker .mat-form-field-infix .kt-input-icon .kt-input-icon__icon {
  background-color: #e1e5ec;
}

div.datepicker .mat-form-field-infix .kt-input-icon.kt-input-icon--right .kt-input-icon__icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.datepicker .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
  font-family: "Noto Sans Thai", "Noto Sans";
  line-height: 1.5;
}

div.datepicker .mat-form-field-infix label {
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div.autocomplete {
  padding: 0;
}

div.autocomplete .mat-form-field {
  width: 100%;
}

div.autocomplete .mat-form-field-suffix {
  display: none;
  padding: 0;
  margin: 0;
}

div.autocomplete .mat-form-field-wrapper {
  padding-bottom: 0;
}

div.autocomplete .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}

div.autocomplete .mat-form-field-infix {
  border-top: 0;
  padding: 0 !important;
  width: auto;
}

div.autocomplete .mat-form-field-infix .mat-input-element {
  background-color: white;
  border: 1px solid #ebedf2;
  width: 100%;
}

div.autocomplete .mat-form-field-infix .kt-input-icon .kt-input-icon__icon {
  background-color: transparent;
  border-left: 1px solid #ebedf2;
}

div.autocomplete .mat-form-field-infix .kt-input-icon.kt-input-icon--right .kt-input-icon__icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 2.1rem;
}

div.autocomplete .mat-form-field-infix label {
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

div .mat-form-field-should-float .mat-form-field-label-wrapper {
  display: none;
}

div .mat-form-field-empty span {
  padding-left: 1rem;
}

div .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

div .upload-btn-wrapper .upload-input-wrapper {
  width: 100%;
  cursor: pointer;
}

div .upload-btn-wrapper .upload-input-wrapper .btn {
  background-color: #0c84c8;
  border-color: #0c84c8;
  color: white;
}

div .upload-btn-wrapper .upload-input-wrapper .upload-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

div .upload-btn-wrapper .upload-file-list {
  margin-top: 5px;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f5f8;
  padding: 0 23px;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
}

div .upload-btn-wrapper .upload-file-list .file-list {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div .upload-btn-wrapper .upload-file-list .file-list .file-size {
  font-weight: bold;
  margin-left: 5px;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  position: relative;
  height: 100%;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .inprogress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .inprogress .upload-progress-bar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 25px;
  height: 10px;
  position: relative;
  overflow: hidden;
  background-color: #e8e8e8;
  -webkit-box-shadow: inset 0px -1px 8px #e2e2e2;
  box-shadow: inset 0px -1px 8px #e2e2e2;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .inprogress .upload-progress-bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #0c84c8;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .inprogress .delete-file {
  color: #6d6e71;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .inprogress .delete-file:hover {
  color: #c31d1d;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: -999;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress i {
  width: 35px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 20px;
  color: #6d6e71;
  cursor: pointer;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress i:hover {
  color: #0c84c8;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress i:hover.dip-icon-trash {
  color: #b21212;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress i.dip-icon-play-circle.play {
  color: #0c84c8;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area .noneprogress i.dip-icon-play-circle.play:hover {
  color: #6d6e71;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area.uploaded .inprogress {
  opacity: 0;
  z-index: 1;
  -webkit-transition-delay: 1.85s;
  transition-delay: 1.85s;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area.uploaded .inprogress .upload-progress-bar:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1.85s all ease-in-out;
  transition: 1.85s all ease-in-out;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area.uploaded .noneprogress {
  -webkit-transition: 3s all;
  transition: 3s all;
  opacity: 1;
  z-index: 2;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area.attached .inprogress {
  opacity: 0;
  z-index: 1;
}

div .upload-btn-wrapper .upload-file-list .file-list .toogle-action-area.attached .noneprogress {
  opacity: 1;
  z-index: 2;
}

div .upload-btn-wrapper:hover .btn:hover {
  background-color: #1475ab;
  border-color: #1475ab;
}

div .upload-btn-wrapper:hover .btn:hover .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

div .upload-btn-wrapper:hover .btn:active {
  background-color: #1475ab !important;
  border-color: #1475ab !important;
}

div .upload-btn-wrapper:hover .btn:active .icon {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-control .prev {
  background-color: #0c84c8;
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  border-radius: 4px;
  padding-right: 2px;
}

.slider-control .prev i {
  transform: rotate(180deg);
}

.slider-control .next {
  background-color: #0c84c8;
  color: white;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  border-radius: 4px;
  padding-left: 2px;
}

.slider-control .slide-page {
  color: #0c84c8;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: 500;
  font-size: 20px;
}

.mat-dialog-container {
  padding: 0 !important;
}

.nav-item {
  color: #595d6e;
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: #eff0f4;
}

.nav-pills .nav-item .nav-link:active,
.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:hover {
  background-color: #eff0f4 !important;
  color: #0c84c8 !important;
}
