//For Now
/*.kt-content {
  background-color: #ddd !important;
}

input.form-control, input[type=text], select, textarea {
  border: 1px solid #ddd !important;
}

label > input[type=radio] + span {
  border-color: #ddd !important;
}

.kt-portlet__head {
  border-bottom-color: #ddd !important;
}

.kt-portlet__footer {
  border-top-color: #ddd !important;
}

table tbody tr:nth-child(2n-1) {
  background-color: #ddd !important;
}

.table .table-inner > .tr:nth-child(2n) .td {
  background-color: #ddd !important;
}*/

// out:false
/* You can add global styles to this file, and also import other style files */
app-table,
app-save-01-process,
app-save-020-process,
app-save-03-process,
app-save-04-process,
app-save-05-process,
app-save-06-process,
app-save-07-process,
app-save-08-process,
app-save-14-process {
  .modal-dialog.modal-lg.modal-dialog-centered {
    width: 1350px;
    max-width: 1350px;
  }
}

.button-top-table {
  position: relative;

  .button-list {
    position: absolute;
    right: 135px;
    top: 11px;
  }
}

app-dashboard-card-summary-block {
  cursor: pointer;
}

.hidden {
  display: none;
}

.div-grid {
  & > div {
    float: left;
  }
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-next:after {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
  visibility: hidden;
}

div.kt-pagination.kt-pagination--brand .ngx-pagination .pagination-previous:before {
  position: absolute;
  margin: 0;
  font-size: 25px;
  padding-bottom: 3px;
  visibility: hidden;
}

.column-2,
.column-3 {
  display: flex;

  & > * {
    &:nth-child(n + 2) {
      margin-left: 20px;
    }
  }
}

input {
  &.uppercase {
    text-transform: uppercase;
  }
}

.input-wrapper {
  position: relative;
}

.div-tab-menus {
  text-align: left;
  padding: 0 25px;

  .div-tab-menu {
    display: inline-block;
    padding: 0 15px;
    color: #595d6e;
    font-size: 16px;
    font-weight: 500;
    line-height: 59px;
    background: #fff;

    &.active,
    &:hover {
      cursor: pointer;
      color: #22b9ff;
      border-bottom: 1px solid #22b9ff;
    }
  }

  .div-tab-action {
    float: right;
  }
}

table {
  div.kt-radio-inline {
    align-items: baseline;
  }
}

.div_autocomplete {
  color: #6d6e71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
  padding: 5px 10px;
  top: 57px;
  min-width: 200px;
  cursor: default;

  table {
    width: 100%;
  }

  tr {
    line-height: 60px;

    &:hover {
      background-color: #f4f5f8;
    }

    & + tr.div_loading {
      display: none;
    }

    td {
      padding: 0 12px;
    }
  }
}

app-paging {
  width: 100%;
}

.div_draggable {
  width: 800px;
  height: 800px;
  /*overflow: auto;*/
  .image_show_zoom {
    position: absolute;
    top: 7px;
    right: 5px;
  }

  .div-title {
    width: 600px;
  }

  .div-img {
    overflow: auto;
    width: 100%;
    height: 100%;

    img {
      max-width: unset;
      -webkit-user-drag: none;
    }
  }
}

input.error {
  border: 1px solid red;
}

.div_popup {
  overflow: auto;
  font-family: "Noto Sans Thai", "Noto Sans";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .div_popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: 0.3;
  }

  .div_popup_body {
    text-align: center;
    background: #fff;
    width: 800px;
    margin: 30px auto;

    .title {
      font-size: 38px;
    }

    .body {
      margin-top: 20px;
    }

    &.div {
      width: fit-content;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 12px;
      margin: 100px auto;
    }
  }
}

.div_draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  z-index: 120;

  .div-title {
    text-align: left;
    padding: 17px;
    color: #fff;
    background: #2196f3;
    position: relative;
    cursor: move;
  }
}

.button-list {
  display: inline-flex;
  margin: 0 auto;

  & > *:nth-child(n + 1) {
    margin-left: 10px;
  }
}

.combobox-list {
  border: 1px solid #ddd;
  padding: 3px;

  .combobox {
    text-align: left;
    padding: 9px 15px;
    cursor: pointer;

    &:hover,
    &.active {
      background: #eff0f4;
    }
  }
}

.element-list {
  display: inline-flex;

  & > *:nth-child(n + 1) {
    margin-left: 10px;
  }
}

.div_row {
  .div_column-2 {
    margin-right: 15px;
    width: calc(50% - 15px);
  }
}

.width-30 {
  float: left;
  width: 30%;
  padding-right: 20px;
}

.width-70 {
  float: left;
  width: 70%;
  padding-right: 20px;
}

/*reset*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hide {
  display: none !important;
}

input[type="file"] {
  font-size: 0;
}

input[type="file"]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 1px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #f5f5f5;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #0c77b3;
  border-radius: 1px;
}

@import "assets/fonts/stylesheet.css";

body {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;

  .kt-font-brand {
    color: #0c84c8 !important;
  }

  .color-primary {
    color: #0c84c8 !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;

  label {
    justify-content: unset;
  }
}

.font-med {
  font-weight: 500 !important;
}

.td_file_trademark_2d {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

input {
  &.form-control {
    font-size: 16px;
    color: #000000;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    padding: 0.5rem 1rem;
    height: calc(1.5em + 1rem + 2px);
    width: auto;
    min-width: 100px;

    &[readonly] {
      background-color: #ebedf2;
    }

    &:focus {
      color: #000000;
    }

    &.is-invalid {
      background-image: none;
      background-color: #ffe2e2;
      border-color: #ff8d8d;
      padding: 0.5rem 1rem;
    }
  }
}

select {
  &.form-control {
    font-size: 16px;
    color: #000000;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    padding: 0.5rem 1.5rem 0.5rem 0.55rem;
    height: calc(1.5em + 1rem + 2px);
  }
}

.filter-addnew-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 0 10px;

  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .form-group {
      margin-left: 20px;
      margin-bottom: 0;

      .input {
        width: 270px;
      }
    }
  }

  .add-new {
    margin-left: 30px;
  }
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  font-size: 16px;

  .table-inner {
    width: 100%;
    margin-bottom: 25px;

    .table-data {
      width: 100%;

      &::-webkit-scrollbar {
        width: 19px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: white;
        border: 1px solid #eff1f5;
        border-radius: 0;
        box-shadow: none;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: #0c84c8;
        border-radius: 6px;
        border: 4px solid rgba(255, 255, 255, 0);
        background-clip: padding-box;

        &:hover {
          background-color: #0071b1;
        }
      }

      & > .tr {
        &:nth-child(2n-1) {
          .td {
            background-color: #f4f5f8;
          }
        }
      }
    }

    & > .tr {
      &:nth-child(2n) {
        .td {
          background-color: #f4f5f8;
        }
      }
    }

    &.freeze-header {
      .table-data {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  .tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    .td {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 5px;
      min-height: 65px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: normal;
      min-width: 0;
      color: #626366;

      .content {
        display: block;

        &.ellipsis {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &.header {
      .td {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
      }
    }
  }
}

label {
  &.kt-checkbox {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #6d6e71;
    margin-bottom: 0;
    white-space: nowrap;
    min-height: 39px;

    & > input {
      display: none;
    }

    & > span {
      top: 50% !important;
    }

    &.kt-checkbox--brand {
      &.kt-checkbox--tick {
        & > input {
          &:checked {
            & ~ span {
              background-color: #0c84c8;

              &:after {
                border: solid white;
              }
            }
          }
        }
      }

      &.kt-checkbox--fill {
        border: 1px solid #bcbdc0;
        border-radius: 0.25rem;
        position: relative;
        padding-left: 0;
        width: 26px;
        height: 25px;
        justify-content: center;
        min-height: 0;
        background: transparent;
        z-index: 2;

        & > span {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: white;
          border-radius: 1px;
          border: 0;
          z-index: -1;
          top: 0 !important;
          transform: none;

          &:after {
            display: none;
          }
        }

        .inside-label {
          color: #bcbdc0;
          font-size: 10px;
          font-weight: 500;
          line-height: 1.4;
          font-family: "Noto Sans Thai", "Noto Sans";
        }

        & > input {
          &:checked {
            & ~ span {
              background-color: #0c84c8;
              border: 0;
            }

            & ~ .inside-label {
              color: white;
            }
          }
        }
      }
    }

    & > span {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &.no-label {
      padding-left: 0;
      min-width: 18px;
      min-height: 18px;
    }
  }

  &.kt-radio {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    white-space: nowrap;
    color: #6d6e71;

    &.kt-radio--brand {
      &.kt-radio--bold {
        & > span {
          border-color: #edecf8;
          background-color: #edecf8;

          &:after {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #0c84c8;
          }
        }

        & > input {
          &:checked {
            & ~ span {
              border-color: #0c84c8;
              background-color: white;

              &:after {
                border-color: #0c84c8;
              }
            }
          }
        }
      }

      & > span {
        border-color: #edecf8;
        background-color: #edecf8;

        &:after {
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
      }

      & > input {
        &:checked {
          & ~ span {
            border-color: #0c84c8;
            background-color: white;

            &:after {
              border-color: #0c84c8;
            }
          }
        }
      }
    }

    & > span {
      top: 3px;

      &:after {
        width: 10px;
        height: 10px;
        margin: -5px 0 0 -5px;
      }
    }
  }
}

.kt-portlet {
  .kt-portlet__head {
    .kt-portlet__head-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .kt-portlet__body {
    .kt-portlet__body__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    .kt-portlet__body-label {
      .kt-portlet__body-title {
        color: #0c84c8;
        font-family: "Noto Sans Thai", "Noto Sans";
        font-weight: 500;
        font-size: 20px;
        display: -webkit-box;
        display: flex;
      }
    }

    .col-form-label {
      min-width: 165px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      white-space: normal;
    }
  }

  .kt-portlet__footer {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-top: 1px solid #ebedf2;
    min-height: 60px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;

    .kt-portlet__footer__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
}

.kt-aside {
  .kt-aside-menu {
    .kt-menu__nav {
      & > .kt-menu__item {
        .kt-menu__submenu {
          .kt-menu__wrapper {
            overflow: auto;
          }
        }
      }
    }
  }
}

button {
  &.btn {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    padding: 7px 1rem 6px;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .icon {
      padding-right: 0.5rem;
    }

    &.round {
      border-radius: 50%;
    }

    &.btn-icon-right {
      i {
        padding-right: 0;
        padding-left: 0.5rem;
      }

      .icon {
        padding-right: 0;
        padding-left: 0.5rem;
      }
    }

    &.btn-outline-brand {
      color: #0c84c8;
      border-color: #0c84c8;

      &:hover {
        background-color: #0c84c8;
        color: white;
        border-color: #f2f3f8;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #0c84c8 !important;
        color: white !important;
        border-color: #f2f3f8 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-icon {
      background-color: #e6f2fa;
      border-color: #e4e7ee;

      .icon {
        padding-right: 0;
      }

      &:hover {
        background-color: #c7e4f6;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #c7e4f6 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-create-new {
      background-color: rgba($color: #0c84c8, $alpha: 0.1);
      border-color: rgba($color: #0c84c8, $alpha: 0.1);
      color: #0c84c8;

      &:hover {
        background-color: #0c77b3;
        border-color: #0c77b3;
        color: white;
      }

      &:active {
        background-color: #0c77b3 !important;
        border-color: #0c77b3 !important;
        color: white !important;
      }
    }

    &.btn-brand {
      background-color: #0c84c8;
      border-color: #0c84c8;
      color: white;

      &:hover {
        background-color: #1475ab;
        border-color: #1475ab;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #1475ab !important;
        border-color: #1475ab !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &.align-items-right {
        margin-left: auto;
      }
    }

    &.btn-brand-2 {
      background-color: #06a2da;
      border-color: #06a2da;
      color: white;

      &:hover {
        background-color: #009fd8;
        border-color: #009fd8;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #009fd8 !important;
        border-color: #009fd8 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-brand-3 {
      background-color: #028dd2;
      border-color: #028dd2;
      color: white;

      &:hover {
        background-color: #009fd8;
        border-color: #009fd8;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #009fd8 !important;
        border-color: #009fd8 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-danger {
      background-color: #e34132;
      border-color: #e34132;

      &:hover {
        background-color: #b21212;
        border-color: #b21212;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #b21212 !important;
        border-color: #b21212 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-danger-secondary {
      background-color: #fae6e6;
      border-color: #fdcccc;
      color: #c31d1d;

      &:hover {
        background-color: #fdcccc;
        border-color: #fdcccc;
      }

      &:active {
        background-color: #fdcccc !important;
        border-color: #fdcccc !important;
      }
    }

    &.btn-primary {
      background-color: #d9e9ef;
      border-color: #d9e9ef;
      color: #0c84c8;

      &:hover {
        background-color: #0c84c8;
        border-color: #0c84c8;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #0c84c8 !important;
        border-color: #0c84c8 !important;
        color: white !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-secondary {
      background-color: #069ba9;
      border-color: #069ba9;
      color: white;

      &:hover {
        background-color: #048b98;
        border-color: #048b98;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #048b98 !important;
        border-color: #048b98 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-orange {
      background-color: #fd8402;
      border-color: #fd8402;
      color: white;

      &:hover {
        background-color: #fd8402;
        border-color: #fd8402;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #fd8402 !important;
        border-color: #fd8402 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-tertiary {
      background-color: #e6f2fa;
      border-color: #cdebfd;
      color: #0c84c8;

      .icon {
        padding-right: 0;
      }

      &:hover {
        background-color: #0c84c8;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #0c84c8 !important;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-white {
      background-color: white;
      border-color: #b3b5b8;
      color: #939598;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &:hover {
        background-color: #b3b5b8;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #b3b5b8 !important;
        color: white !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-dark-gray {
      background-color: #6a6a6a;
      border-color: #6a6a6a;
      color: white;

      &:hover {
        background-color: #4b4b4b;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #4b4b4b !important;
        color: white !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-light-gray {
      background-color: #bac3d0;
      border-color: #bac3d0;
      color: white;

      &:hover {
        background-color: #9ca7b5;
        color: white;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #9ca7b5 !important;
        color: white !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-light-black {
      background-color: #474747;
      border-color: #474747;
      color: white;

      &:hover {
        background-color: #242424;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #242424;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    &.btn-default {
      &:hover {
        background-color: #0c84c8;
        border-color: #0c84c8;
        color: white;
      }

      &:active {
        background-color: #0c84c8 !important;
        border-color: #0c84c8 !important;
        color: white !important;
      }
    }

    &.btn-eform-secondary {
      background-color: #149ba9;
      border-color: #149ba9;
      color: white;
      margin: 0 auto;

      .dip-icon-arrow-right {
        &.flip {
          transform: rotate(180deg);
          padding-left: 5px;
          padding-right: 0;
        }
      }

      &:hover {
        background-color: #0f7883;
      }

      &:active {
        background-color: #0f7883;
      }
    }

    &.btn-blue {
      background-color: #24489C;
      border-color: #24489C;
      color: white;
      margin: 0 auto;

      .dip-icon-arrow-right {
        &.flip {
          transform: rotate(180deg);
          padding-left: 5px;
          padding-right: 0;
        }
      }

      &:hover {
        background-color: #24509c;
      }

      &:active {
        background-color: #24509c;
      }
    }

    &.small-btn {
      width: 26px;
      height: 25px;
      font-size: 12px;
    }

    &.tiny-btn {
      width: 20px;
      height: 20px;
      font-size: 9px;
    }

    &[disabled],
    &.disabled {
      pointer-events: none;
    }
  }
}

div {
  &.form-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  &.form-group {
    margin-bottom: 0;
    min-height: 39px;
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    .col-form-label {
      white-space: nowrap;
      font-family: "Noto Sans Thai", "Noto Sans";
      font-weight: normal;
      font-size: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #6d6e71;
      min-height: 40px;

      .required {
        color: #9f0d1d;
      }
    }

    .input-wrapper {
      margin-bottom: 10px;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;

      .input-wrapper-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .kt-input-icon__icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          &.clear-btn {
            cursor: pointer;

            &.hover {
              color: #c31d1d;
            }

            &.active {
              color: #c31d1d;
            }
          }
        }

        .kt-checkbox {
          margin-right: 25px;
        }
      }

      .feedback-wrapper {
        height: 15px;
        margin-top: 3px;
        width: 100%;
        font-size: 10px;

        .invalid-feedback,
        .valid-feedback {
          display: block;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-size: 11px;
          font-weight: normal;
        }

        .invalid-feedback {
          color: #c31d1d;
        }
      }

      &.input-with-icon {
        width: auto;
      }
    }

    .form-control {
      font-family: "Noto Sans Thai", "Noto Sans";
      font-weight: normal;

      &::-webkit-input-placeholder {
        /* Edge */
        line-height: 1.5;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        line-height: 1.5;
      }

      &::-ms-input-placeholder {
        line-height: 1.5;
      }

      &::placeholder {
        line-height: 1.5;
      }

      &[readonly] {
        background-color: #f4f5f8;
      }

      &:disabled {
        color: #9e9e9e;
      }

      &.is-invalid {
        background-image: none;
      }
    }

    .unit {
      font-family: "Noto Sans Thai", "Noto Sans";
      font-weight: normal;
      font-size: 16px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: normal;
      color: #6d6e71;
      margin-left: 15px;
      min-height: 40px;
    }

    .form-control {
      font-size: 16px;

      &.is-invalid {
        border-color: red;
        background-image: url(./assets/images/icons/icon-delete-cross-red.svg);
        background-size: 12px;
      }

      & + .unit {
        margin-left: 15px;
      }
    }

    label {
      font-size: 16px;
    }

    &.flex {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;

      .col-form-label {
        padding: 0 calc(0.65rem + 1px);
        margin: 0 10px;
      }
    }

    &.input-with-icon {
      .input {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .btn {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 3rem;
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0 !important;
      }
    }
  }

  &.kt-portlet {
    .kt-portlet__head {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .kt-portlet__head-label {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;

        .kt-portlet__head-title {
          color: #0c84c8;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-weight: normal;
          font-size: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          i {
            margin-right: 15px;
          }
        }
      }
    }
  }

  &.kt-pagination {
    width: 100%;

    .has-text-centered {
      display: flex;
      align-items: center;
    }

    &.kt-pagination--brand {
      .ngx-pagination {
        display: flex;
        margin-bottom: 0;

        .pagination-previous {
          &:before {
            position: absolute;
            margin: 0;
            font-size: 25px;
            padding-bottom: 3px;
          }
        }

        .disabled {
          padding: 0;
        }

        .pagination-next {
          &:after {
            position: absolute;
            margin: 0;
            font-size: 25px;
            padding-bottom: 3px;
          }
        }
      }

      .kt-pagination__links {
        li {
          font-family: "Noto Sans Thai", "Noto Sans";
          color: #6d6e71;

          span {
            font-weight: 500;
            color: #74788d;
            font-size: 1rem;
            padding: 0 0.2rem;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            min-width: 30px;
            min-height: 30px;
            margin: 0;
          }

          &.kt-pagination__link {
            background-color: #f4f5f8;

            &.disbled {
              background-color: #f4f5f8;
              pointer-events: none;
            }

            &:hover {
              background-color: #0c84c8;

              img {
                -webkit-filter: brightness(100);
                filter: brightness(100);
              }
            }

            &:active {
              background-color: #0c84c8;
            }
          }

          &.kt-pagination__link--active {
            background-color: #0c84c8;
          }

          &:hover {
            background-color: #0c84c8;
            color: white;
          }

          &.disabled {
            // pointer-events: none;
            &:hover {
              background-color: transparent;
              color: #6d6e71;
            }
          }

          &.current {
            padding: 0;

            span {
              color: white;
            }
          }

          &.small-screen {
            display: none;
          }
        }
      }

      .kt-pagination__toolbar {
        font-family: "Noto Sans Thai", "Noto Sans";

        .form-control {
          width: 60px;
          background-color: #f4f5f8;
        }
      }

      .page-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .goto-page {
          margin-left: 10px;

          .input {
            width: 55px;
          }
        }
      }
    }
  }

  &.kt-radio-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .kt-radio {
      margin-bottom: 0;
      // span {
      //   margin-top: 1px;
      // }
    }

    &.hidden {
      display: none !important;
      padding: 0 !important;
      margin: 0 !important;
      pointer-events: none !important;
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }

  &.kt-checkbox-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    .kt-checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  &.tab-content {
    .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .kt-input-icon {
    &.kt-input-icon--right {
      .form-control {
        padding-right: 3.3rem;
      }
    }
  }

  &.datepicker {
    padding: 0;

    .kt-input-icon__icon {
      border-top: 1px solid #e2e5ec;
      border-right: 1px solid #e2e5ec;
      border-bottom: 1px solid #e2e5ec;
    }

    .form-control {
      background-color: #fff;
      border: 1px solid #e2e5ec;

      &.is-invalid {
        background-color: #ffe2e2;
        // border-color: #ff8d8d;
      }

      &.is-invalid + .kt-input-icon__icon {
        // border-top: 1px solid #ff8d8d;
        // border-right: 1px solid #ff8d8d;
        // border-bottom: 1px solid #ff8d8d;
        border-top: 1px solid red;
        border-right: 1px solid red;
        border-bottom: 1px solid red;
      }
    }

    .mat-form-field-suffix {
      display: none;
      padding: 0;
      margin: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-form-field-infix {
      border-top: 0;
      padding: 0 !important;
      width: auto;

      .mat-input-element {
        background-color: white;
        border: 1px solid #ebedf2;
        border: 1px solid #e2e5ec;
        margin-top: 0;
      }

      .kt-input-icon {
        .kt-input-icon__icon {
          background-color: #e1e5ec;
        }

        &.kt-input-icon--right {
          .kt-input-icon__icon {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }

      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          font-family: "Noto Sans Thai", "Noto Sans";
          line-height: 1.5;
        }
      }

      label {
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }

  &.autocomplete {
    padding: 0;

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-suffix {
      display: none;
      padding: 0;
      margin: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-form-field-infix {
      border-top: 0;
      padding: 0 !important;
      width: auto;

      .mat-input-element {
        background-color: white;
        border: 1px solid #ebedf2;
        width: 100%;
      }

      .kt-input-icon {
        .kt-input-icon__icon {
          background-color: transparent;
          border-left: 1px solid #ebedf2;
        }

        &.kt-input-icon--right {
          .kt-input-icon__icon {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 2.1rem;
          }
        }
      }

      label {
        margin-bottom: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }
  /*hide the floating mat input part */
  .mat-form-field-should-float {
    .mat-form-field-label-wrapper {
      display: none;
    }
  }

  .mat-form-field-empty {
    span {
      padding-left: 1rem;
    }
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;

    .upload-input-wrapper {
      width: 100%;
      cursor: pointer;

      .btn {
        background-color: #0c84c8;
        border-color: #0c84c8;
        color: white;
      }

      .upload-input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 0;
        width: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
      }
    }

    .upload-file-list {
      margin-top: 5px;
      width: 100%;
      height: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #f4f5f8;
      padding: 0 23px;
      font-family: "Noto Sans Thai", "Noto Sans";
      font-weight: normal;

      .file-list {
        font-size: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .file-name {
        }

        .file-size {
          font-weight: bold;
          margin-left: 5px;
        }

        .toogle-action-area {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          min-width: 0;
          position: relative;
          height: 100%;

          .inprogress {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-transition: 1s all;
            transition: 1s all;
            height: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;

            .upload-progress-bar {
              -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
              flex: 1 1 auto;
              margin: 0 25px;
              height: 10px;
              position: relative;
              overflow: hidden;
              background-color: #e8e8e8;
              -webkit-box-shadow: inset 0px -1px 8px #e2e2e2;
              box-shadow: inset 0px -1px 8px #e2e2e2;

              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
                background-color: #0c84c8;
              }
            }

            .delete-file {
              color: #6d6e71;
              width: 30px;
              height: 30px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              font-size: 12px;
              line-height: 30px;
              cursor: pointer;

              &:hover {
                color: #c31d1d;
              }
            }
          }

          .noneprogress {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            z-index: -999;

            i {
              width: 35px;
              height: 50px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin: 0 5px;
              font-size: 20px;
              color: #6d6e71;
              cursor: pointer;

              &:hover {
                color: #0c84c8;

                &.dip-icon-trash {
                  color: #b21212;
                }
              }

              &.dip-icon-play-circle {
                &.play {
                  color: #0c84c8;

                  &:hover {
                    color: #6d6e71;
                  }
                }
              }
            }
          }

          &.uploaded {
            .inprogress {
              opacity: 0;
              z-index: 1;
              -webkit-transition-delay: 1.85s;
              transition-delay: 1.85s;

              .upload-progress-bar {
                &:after {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                  -webkit-transition: 1.85s all ease-in-out;
                  transition: 1.85s all ease-in-out;
                }
              }
            }

            .noneprogress {
              -webkit-transition: 3s all;
              transition: 3s all;
              opacity: 1;
              z-index: 2;
            }
          }

          &.attached {
            .inprogress {
              opacity: 0;
              z-index: 1;
            }

            .noneprogress {
              opacity: 1;
              z-index: 2;
            }
          }
        }
      }
    }

    &:hover {
      .btn {
        &:hover {
          background-color: #1475ab;
          border-color: #1475ab;

          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }

        &:active {
          background-color: #1475ab !important;
          border-color: #1475ab !important;

          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }
      }
    }
  }
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .prev {
    background-color: #0c84c8;
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    border-radius: 4px;
    padding-right: 2px;

    i {
      transform: rotate(180deg);
    }
  }

  .next {
    background-color: #0c84c8;
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    border-radius: 4px;
    padding-left: 2px;
  }

  .slide-page {
    color: #0c84c8;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: 500;
    font-size: 20px;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}

.nav-item {
  color: #595d6e;
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: #eff0f4;
}

.nav-pills .nav-item .nav-link:active,
.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:hover {
  background-color: #eff0f4 !important;
  color: #0c84c8 !important;
}


