<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      madrid-role02-other-list
    </div>
  </div>



</div>
<div class="kt-portlet document-role02-check-list-job">

</div>
