﻿<script src="jquery-3.4.1.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $.post({
            type: "POST",
            url: "http://127.0.0.1",
            data: {},
            //success: success,
            //dataType: dataType
        })
    })
</script>
