//out: false

:host {
   .well-light{
    background-color:white ;
    /* background-color:#f2f2f2; */
    border-color: black;
}
  ::ng-deep {
    .modal {
      &.step-agent-modal {
        .modal-body {
          padding: 1.25rem 55px;
        }

        .section-title {
          font-size: 20px;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-weight: normal;
          color: black;
          width: 100%;
          text-align: center;
          margin-top: 15px;
        }

        .form-row {
          justify-content: space-between;

          .form-group {
            flex: 0 0 49%;
            max-width: 49%;

            .input {
              width: 100%;
            }

            .kt-radio {
              margin-top: 5px;
            }

            &.agent-type {
              .kt-radio {
                width: 150px;
              }
            }

            &.fluid {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }

        .form-group {
          position: relative;

          .div_autocomplete {
            margin-top: 30px;
          }
        }

        .modal-footer {
          justify-content: center;

          .btn-group-wrapper {
            .btn {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
