<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      
    </div>
    <div class="kt-portlet__head-action">

    </div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>


  <div class="kt-portlet__body">
    <div class="row">

      <div class="col-5">
        <div class="form-group ">
          <!-- for="zipcode" -->
          <label class="nc-middle-label">
            ตรวจสอบคำเหมือนคล้าย
          </label>


          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <!-- #key_recive_date1 id="recive_date" -->
                <input class="form-control input" matInput [matDatepicker]="picker_recive_date"
                  (click)="picker_recive_date.open()" (dateChange)="clearValidate(key_recive_date.id)"
                  autocomplete="off">
                <!-- [(ngModel)]="input[key_recive_date.id]" -->
                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date" style="background-color: #1475ab;">
                  <i class="dip-icon-search" style="color :white; background-color: #1475ab;"></i>
                </label>
              </div>
              <!-- <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
                </mat-datepicker-toggle> -->
              <mat-datepicker #picker_recive_date></mat-datepicker>


            </mat-form-field>

            <!-- <div class="feedback-wrapper">
                <div *ngIf="validate[key_recive_date.id1]" class="invalid-feedback">
                  {{validate[key_recive_date.id1]}}
                </div>
              </div> -->

          </div>



        </div>
      </div>
      <div class="col-1" style="padding-top: 30px; padding-left: inherit;">
        <button type="button" class="btn btn-brand">
          +
        </button>


      </div>

      <div class="col-5">
        <div class="form-group ">
          <!-- for="zipcode" -->
          <label class="nc-middle-label">
            คำแปลภาษาไทย
          </label>


          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <!-- #key_recive_date1 id="recive_date" -->
                <input class="form-control input" matInput [matDatepicker]="picker_recive_date"
                  (click)="picker_recive_date.open()" (dateChange)="clearValidate(key_recive_date.id)"
                  autocomplete="off">
                <!-- [(ngModel)]="input[key_recive_date.id]" -->
                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date" style="background-color: #1475ab;">
                  <i class="dip-icon-search" style="color :white; background-color: #1475ab;"></i>
                </label>
              </div>
              <!-- <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
                </mat-datepicker-toggle> -->
              <mat-datepicker #picker_recive_date></mat-datepicker>


            </mat-form-field>

            <!-- <div class="feedback-wrapper">
                <div *ngIf="validate[key_recive_date.id1]" class="invalid-feedback">
                  {{validate[key_recive_date.id1]}}
                </div>
              </div> -->

          </div>



        </div>
      </div>
      <div class="col-1" style="padding-top: 30px; padding-left: inherit;">
        <button type="button" class="btn btn-brand">
          +
        </button>


      </div>

    </div>

  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button" class="btn btn-silver" style="background-color: silver; color:white;">
        <i class="dip-icon-close"></i>
        ย้อนกลับ
      </button>
      <button type="button" class="btn btn-brand ">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>

    </div>
  </div>
</div>