<div class="kt-portlet record-registration-number-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button" class="btn btn-brand" (click)="onClickRecordRegistrationNumberCheckRegisterPayment()">
        ตรวจสอบการชำระค่ารับจดทะเบียน
      </button>-->
      <!--<button type="button" class="btn btn-brand" (click)="onClickRecordRegistrationNumberPaymentList()">
        ค้นหา รายการชำระเงิน
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="form-group flex">
          <label class="col-form-label" for="payment_start_date">วันที่ชำระเงิน</label>
          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <input #key_payment_start_date id="payment_start_date"
                       class="form-control input" matInput
                       [matDatepicker]="picker_payment_start_date"
                       (click)="picker_payment_start_date.open()"
                       [(ngModel)]="input[key_payment_start_date.id]"
                       (dateChange)="clearValidate(key_payment_start_date.id)"
                       autocomplete="off">
                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="payment_start_date">
                  <i class="dip-icon-calendar"></i>
                </label>
              </div>
              <mat-datepicker-toggle matSuffix [for]="picker_payment_start_date">
              </mat-datepicker-toggle>
              <mat-datepicker #picker_payment_start_date></mat-datepicker>
            </mat-form-field>

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_payment_start_date.id]" class="invalid-feedback">
                {{validate[key_payment_start_date.id]}}
              </div>
            </div>
          </div>
          <label style="margin-top: 10px;" for="payment_start_date">ถึง</label>
          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <input #key_payment_end_date id="payment_end_date" class="form-control input" matInput
                       [matDatepicker]="picker_payment_end_date" (click)="picker_payment_end_date.open()"
                       [(ngModel)]="input[key_payment_end_date.id]" (dateChange)="clearValidate(key_payment_end_date.id)"
                       autocomplete="off">
                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="payment_end_date">
                  <i class="dip-icon-calendar"></i>
                </label>
              </div>
              <mat-datepicker-toggle matSuffix [for]="picker_payment_end_date">
              </mat-datepicker-toggle>
              <mat-datepicker #picker_payment_end_date></mat-datepicker>
            </mat-form-field>

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_payment_end_date.id]" class="invalid-feedback">
                {{validate[key_payment_end_date.id]}}
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner record-registration-numberer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickRecordRegistrationNumberPaymentList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
  </div>
</div>
<div class="kt-portlet record-registration-number-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <div class="form-group flex">
        <label class="col-form-label" for="registrar_by_name">นายทะเบียน*</label>
        <div class="input-wrapper">
          <select class="form-control"
                  [(ngModel)]="input.floor3_registrar_by">
            <option *ngFor="let item of floor3_registrar_list"
                    [value]="item.id">
              {{item.name}}
            </option>
          </select>
        </div>


      </div>

      <div class="form-group flex" style="padding-top: 20px;">
        <label class="col-form-label" for="floor3_proposer_date">วันที่ให้เลข</label>
        <div class="input-wrapper input-with-icon datepicker">
          <mat-form-field>
            <div class="kt-input-icon kt-input-icon--right">
              <input class="form-control input" matInput
                     [matDatepicker]="picker_floor3_proposer_date" (click)="picker_floor3_proposer_date.open()"
                     [(ngModel)]="input.floor3_proposer_date"
                     autocomplete="off">
              <label class="kt-input-icon__icon kt-input-icon__icon--right" for="floor3_proposer_date">
                <i class="dip-icon-calendar"></i>
              </label>
            </div>
            <mat-datepicker-toggle matSuffix [for]="picker_floor3_proposer_date">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_floor3_proposer_date></mat-datepicker>
          </mat-form-field>

          <div class="feedback-wrapper"></div>
        </div>


      </div>


      <button type="button"
              class="btn btn-secondary"
              (click)="onClickRecordRegistrationNumberSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRecordRegistrationNumberPrintDocument()">
        <i class="dip-icon-printer"></i>
        ส่งพิมพ์หนังสือสำคัญ
      </button>
      <!--<button type="button"
              class="btn btn-secondary"
              (click)="onClickRecordRegistrationNumberSendRegistrarConsider()">
        <i class="dip-icon-forward"></i>
        เสนอนายทะเบียนพิจารณา
      </button>-->
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickRecordRegistrationNumberAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickRecordRegistrationNumberDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listRecordRegistrationNumber, $event.target.checked)" /><span></span></label></td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="book_index">ประกาศเล่มที่</td>
          <td class="public_page_index">หน้าที่</td>
          <td class="public_role04_date_text">วันที่ประกาศโฆษณา</td>
          <td class="public_role04_receive_date_text">เลขทะเบียน</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listRecordRegistrationNumber | myfilter | paginate: paginateRecordRegistrationNumber; index as i">
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="book_index">{{row_item.book_index}}</td>
          <td class="public_page_index">{{row_item.public_page_index}}</td>
          <td class="public_role04_date_text">{{row_item.public_start_date_text}}</td>
          <td class="public_role04_receive_date_text">{{row_item.registration_number}}</td>
          <td class="edit_delete">
            <i class="dip-icon-search" (click)="onClickRecordRegistrationNumberSearch(row_item)"></i>
            <!--<i class="dip-icon-edit" (click)="onClickRecordRegistrationNumberEdit(row_item)"></i>-->
            <i class="dip-icon-document-tray" (click)="onClickRecordRegistrationNumberScan(row_item)"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateRecordRegistrationNumber"
                (onClickList)="onClickRecordRegistrationNumberPaymentList()"></app-paging>
  </div>
</div>
