<div class="filter-addnew-wrapper">
  <div class="filters">
    <div class="form-group flex">
      <label
        class="col-form-label"
        for="filterPerson"
      >
        ผู้บันทึกรายการ
      </label>

      <input
        class="form-control input"
        type="text"
        id="user_name"
        [(ngModel)]="input.created_by_name"
        disabled
      />
    </div>

    <div class="form-group flex">
      <label
        class="col-form-label"
        for="filterDate"
      >
        วันที่ยื่นคำขอ
      </label>

      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input
              #key_request_date
              id="request_date"
              class="form-control input"
              matInput
              [matDatepicker]="picker"
              placeholder=""
              (click)="picker.open()"
              [(ngModel)]="input[key_request_date.id]"
              (dateChange)="clearValidate(key_request_date.id)"
            />
            <label
              class="kt-input-icon__icon kt-input-icon__icon--right"
              for="request_date"
            >
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          >
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div
            *ngIf="validate[key_request_date.id]"
            class="invalid-feedback"
          >
            {{ validate[key_request_date.id] }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-new">
    <button
      type="button"
      class="btn btn-outline-brand"
      (click)="reset()"
    >
      <i class="dip-icon-add-new"></i>
      สร้างรายการใหม่
    </button>
  </div>
</div>

<div class="kt-portlet registration-request-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ระบุเพื่อบันทึกรายการคำขอ
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner registration-requester">
      <div class="form-group flex">
        <label
          class="col-form-label"
          for="registrationRequester"
        >
          ผู้ยื่นคำขอ
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <input
              #key_requester_name
              id="requester_name"
              class="form-control input"
              type="text"
              [(ngModel)]="input[key_requester_name.id]"
              [ngClass]="validate[key_requester_name.id] ? 'is-invalid' : null"
              (input)="onChangeAutocomplete('input', key_requester_name.id)"
              autocomplete="off"
            />

            <button
              type="button"
              class="btn btn-brand"
              (click)="toggleModal('isModalAutoFillOpen')"
            >
              Auto fill
            </button>
          </div>

          <div
            class="div_autocomplete"
            *ngIf="isShowAutocomplete[key_requester_name.id]"
            (clickOutside)="onClickOutsideAutocomplete(key_requester_name.id)"
          >
            <div
              *ngFor="let autocomplete of autocompleteList[key_requester_name.id]"
              (click)="
                onSelectAutocomplete(key_requester_name.id, autocomplete)
              "
            >
              <div>
                {{ autocomplete.name }}
              </div>
            </div>
          </div>

          <div class="feedback-wrapper">
            <div
              *ngIf="validate[key_requester_name.id]"
              class="invalid-feedback"
            >
              {{ validate[key_requester_name.id] }}
            </div>
          </div>
        </div>





        <label
          class="col-form-label"
          for="commercial_affairs_province_code"
        >
          พาณิชย์จังหวัด
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <select
              class="form-control"
              [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
              [(ngModel)]="input.commercial_affairs_province_code"
            >
              <option
                *ngFor="let item of master.commercialAffairsProvinceList"
                [value]="item.code"
              >
                {{item.name}}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="kt-portlet__body__inner registration-request-amount">
      <div class="form-group flex">
        <label
          class="col-form-label"
          for="registrationRequestAmount"
        >
          จำนวนคำขอ
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <input
              #key_item_count
              disabled="{{ isHasRequestList }}"
              class="form-control input"
              type="number"
              min="1"
              max="20"
              id="item_count"
              [(ngModel)]="input[key_item_count.id]"
              [ngClass]="validate[key_item_count.id] ? 'is-invalid' : null"
              (input)="clearValidate(key_item_count.id)"
            />

            <span class="unit">
              คำขอ
            </span>

            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input
                #key_is_via_post
                type="checkbox"
                id="is_via_post"
                (click)="toggleBoolean('input', key_is_via_post.id)"
                [checked]="input[key_is_via_post.id]"
              />
              <!-- [disabled]="isHasRequestList" -->
              ยื่นคำขอทางไปรษณีย์
              <span></span>
            </label>
          </div>

          <div class="feedback-wrapper">
            <div
              *ngIf="validate[key_item_count.id]"
              class="invalid-feedback"
            >
              {{ validate[key_item_count.id] }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner registration-requester">
      <div class="form-group flex">
        <label
          class="col-form-label"
          for="registrationRequester"
        >
          เบอร์โทร
        </label>

        <div class="input-wrapper">
          <input
            #key_telephone
            class="form-control input"
            type="text"
            id="telephone"
            [(ngModel)]="input[key_telephone.id]"
            [ngClass]="validate[key_telephone.id] ? 'is-invalid' : null"
            (input)="clearValidate(key_telephone.id)"
          />

          <div class="feedback-wrapper">
            <div
              *ngIf="validate[key_telephone.id]"
              class="invalid-feedback"
            >
              {{ validate[key_telephone.id] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="onClickAddRequest()"
    >
      <!-- [disabled]="isHasRequestList" -->
      <i class="dip-icon-save"></i>
      บันทึกรายการคำขอ
    </button>

    <div class="total">
      <div class="form-group flex">
        <label
          class="col-form-label color-primary font-med"
          for="registrationRequestTotalAmount"
        >
          รวมทั้งสิ้น
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <input
              class="form-control input"
              disabled
              type="text"
              [value]="displayMoney(input.total_price)"
            />

            <span class="unit color-primary font-med">
              บาท
            </span>

            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input
                #key_is_wave_fee
                type="checkbox"
                id="is_wave_fee"
                (click)="onClickWaveFree($event.target.checked)"
                [checked]="input[key_is_wave_fee.id]"
              />
              ยกเว้นค่าธรรมเนียม
              <span></span>
            </label>
          </div>

          <div class="feedback-wrapper">
            <div
              [ngClass]="!false ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="false"
            >
              Error Message
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="kt-portlet registration-request-list"
  *ngIf="isHasRequestList"
>
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางข้อมูลการรับคำขอ ก.01
      </h3>
    </div>

    <div class="kt-portlet__head-action">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onClickSplitRequest()"
      >
        <i class="dip-icon-list"></i>
        แยกเลขอ้างอิง
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onClickDeleteRequest()"
      >
        <i class="dip-icon-close"></i>
        ยกเลิกเลขที่คำขอ / ยกเลิกรายการ
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onClickSaveRequest()"
      >
        <i class="dip-icon-save"></i>
        บันทึก / ตรวจสอบเอกสารอ้างอิง
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input
                type="checkbox"
                (click)="onSelectColumnInTable('requestList')"
                [checked]="input.is_check_all"
              />
              <span></span>
            </label>
          </div>
          <div class="td id">
            #
          </div>
          <div class="td category">
            ประเภท
          </div>
          <div class="td income-id">
            รหัสรายได้
          </div>
          <div class="td money-transaction">
            รายการรับเงิน
          </div>
          <div class="td request-id">
            เลขที่คำขอ
          </div>


          <div
            class="td book_index"
            *ngIf="input.commercial_affairs_province_code != 'FLOOR3'"
          >
            เล่มที่
          </div>
          <div
            class="td page_index"
            *ngIf="input.commercial_affairs_province_code != 'FLOOR3'"
          >
            เลขที่
          </div>

          <div class="td cm-excess">
            ส่วนเกิน ซม.
          </div>
          <div class="td genera-amount">
            จำนวนจำพวก
          </div>
          <div class="td products-amount">
            จำนวนสินค้า
          </div>
          <div class="td amount">
            จำนวนเงิน
          </div>
          <div class="td archetype">
            แม่พิมพ์
          </div>
          <div class="td main">
            หลักฐาน
          </div>
          <div class="td otop">
            OTOP
          </div>
          <div class="td reference-id">
            เลขอ้างอิง
          </div>
          <div class="td cancel">
            การยกเลิก
          </div>
          <div class="td act-allow">
            พรบ. อำนวย
          </div>
        </div>

        <div *ngFor="
            let request of requestList | paginate: paginateRequest;
            index as i
          ">
          <div class="tr">
            <div class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input
                  type="checkbox"
                  (click)="onSelectColumnInTable('requestList', request)"
                  [checked]="request.is_check"
                />
                <span></span>
              </label>
            </div>
            <div
              class="td id"
              (click)="onClickItemType(request)"
            >
              {{
                paginateRequest.itemsPerPage * paginateRequest.currentPage -
                  paginateRequest.itemsPerPage +
                  (i + 1)
              }}
            </div>
            <div
              class="td category"
              (click)="onClickItemType(request)"
            >
              <div class="form-group flex input-with-icon">
                <input
                  class="form-control input"
                  type="text"
                  id="item_type_code"
                  [value]="request.item_type_name"
                />
                <button
                  type="button"
                  class="btn btn-input-search btn-icon"
                >
                  <i class="dip-icon-search"></i>
                </button>
              </div>
            </div>
            <div
              class="td income-id"
              (click)="onClickItemType(request)"
            >
              {{ request.income_type }}
            </div>
            <div
              class="td money-transaction"
              (click)="onClickItemType(request)"
            >
              {{ request.income_description }}
            </div>
            <div
              class="td request-id"
              (click)="onClickItemType(request)"
            >
              {{ request.request_number }}
            </div>


            <div
              class="td book_index"
              *ngIf="input.commercial_affairs_province_code != 'FLOOR3'"
            >
              <input
                class="form-control input"
                [(ngModel)]="request.book_index"
              />
            </div>
            <div
              class="td page_index"
              *ngIf="input.commercial_affairs_province_code != 'FLOOR3'"
            >
              <input
                class="form-control input"
                [(ngModel)]="request.page_index"
              />
            </div>


            <div class="td cm-excess"></div>
            <div
              class="td genera-amount"
              (click)="onClickItemType(request)"
            >
              {{ request.amount_type }}
            </div>
            <div
              class="td products-amount"
              (click)="onClickItemType(request)"
            >
              {{ request.amount_product }}
            </div>
            <div class="td amount">
              {{ displayMoney(request.total_price) }}
            </div>
            <div class="td archetype">
              <a
                (click)="onClickAddPay(request)"
                [hidden]="request.size_over_income_type"
              >
                จ่ายเพิ่ม
              </a>
            </div>
            <div class="td main">
              <a (click)="displayEvidence(request)">
                <i class="dip-icon-blank-paper"></i>
              </a>
              <div>
                <div
                  class="div_autocomplete"
                  *ngIf="evidenceId == request"
                  (clickOutside)="evidenceId = undefined"
                >
                  <table>
                    <tr *ngFor="let autocomplete of request.requestEvidenceList">
                      <td>
                        <input
                          type="checkbox"
                          [(ngModel)]="autocomplete.isSelect"
                        />
                      </td>
                      <td>{{ autocomplete.name }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="td otop">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input
                  type="checkbox"
                  (click)="toggleInputInTable(request, 'is_otop')"
                  [checked]="request.is_otop"
                />
                <span></span>
              </label>
            </div>
            <div class="td reference-id">
              {{ request.reference_number }}
            </div>
            <div class="td cancel">
              {{ request.cancel_reason }}
            </div>
            <div class="td act-allow">
              <select
                ng-init="request.facilitation_act_status_code = master.facilitationActStatusList[1].value"
                class="form-control"
                (change)="
                  onChangeInputInTable(
                    request,
                    'facilitation_act_status_code',
                    $event.target.value
                  )
                "
                [value]="request.facilitation_act_status_code"
              >
                <option
                  *ngFor="
                    let facilitationActStatus of master.facilitationActStatusList
                  "
                  [value]="facilitationActStatus.code"
                >
                  {{ facilitationActStatus.name }}
                </option>
              </select>
            </div>
          </div>
          <div
            class="tr"
            [hidden]="!request.size_over_income_type"
          >
            <div class="td select"></div>
            <div class="td id"></div>
            <div class="td category"></div>
            <div class="td income-id">
              {{ request.size_over_income_type }}
            </div>
            <div class="td money-transaction">
              {{ request.size_over_income_description }}
            </div>
            <div class="td request-id"></div>
            <div class="td cm-excess">
              <input
                class="form-control input"
                type="number"
                min="1"
                [(ngModel)]="request.size_over_cm"
                value="{{ request.size_over_cm }}"
                (input)="amountPay(request)"
              />
            </div>
            <div class="td genera-amount"></div>
            <div class="td products-amount"></div>
            <div class="td amount">
              {{ displayMoney(request.size_over_price) }}
            </div>
            <div class="td cancel-pay">
              <a (click)="onClickCancelPay(request)">
                ยกเลิก
              </a>
            </div>
            <div class="td main"></div>
            <div class="td otop"></div>
            <div class="td reference-id"></div>
            <div class="td cancel"></div>
            <div class="td act-allow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls
            id="paginateRequest"
            (pageChange)="onChangePage($event, 'paginateRequest')"
          ></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input
              class="form-control input"
              type="number"
              min="1"
              max="{{ getMaxPage('paginateRequest') }}"
              (input)="onChangePage($event.target.value, 'paginateRequest')"
            />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select
          class="form-control kt-font-brand"
          (change)="onChangePerPage($event.target.value, 'paginateRequest')"
        >
          <option
            *ngFor="let perPage of perPageRequestList"
            [value]="perPage"
          >
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          หน้าที่ {{ paginateRequest.currentPage }} /
          {{ getMaxPage("paginateRequest") }} รายการที่
          {{
            paginateRequest.itemsPerPage * paginateRequest.currentPage -
              paginateRequest.itemsPerPage +
              1
          }}
          -
          {{
            paginateRequest.itemsPerPage * paginateRequest.currentPage >=
            paginateRequest.totalItems
              ? paginateRequest.totalItems
              : paginateRequest.itemsPerPage * paginateRequest.currentPage
          }}
          / {{ paginateRequest.totalItems }}
        </span>
      </div>
    </div>
  </div>
</div>

<app-modal
  [className]="['fade', this.modal.isModalSearchAgentOpen ? 'show' : undefined]"
  [title]="'แก้ไขจำพวก'"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  (onClickClose)="toggleModal('isModalSearchAgentOpen')"
>
  <!-- Custom Header Children -->
  <!-- <div header-children></div> -->
  <!-- Custom Body Children [default empty (need content)] -->
  <div body-children>
    <div class="search-filter-wrapper result-table">
      <div class="form-group flex">
        <label
          class="col-form-label"
          for="searchAgent"
        >
          ค้นหา:
        </label>

        <div class="input-wrapper input-with-icon">
          <div class="kt-input-icon kt-input-icon--right">
            <input
              type="text"
              class="form-control input"
              placeholder="Search..."
              id="searchAgent"
              (input)="onChangeSearchAgent($event.target.value)"
            />
            <span class="kt-input-icon__icon kt-input-icon__icon--right clear-btn">
              <span>
                <ng-template [ngIf]="this.input.search.agentValue != ''">
                  <i class="dip-icon-clear-input"></i>
                </ng-template>
              </span>
            </span>
          </div>

          <div class="feedback-wrapper">
            <div
              [ngClass]="!false ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="false"
            >
              Error Message
            </div>
          </div>
        </div>
      </div>

      <div class="search-result-wrapper">
        <div class="table">
          <div class="table-inner">
            <div class="tr header">
              <div class="td agent-name">
                ตัวแทน
              </div>
              <div class="td agent-group">
                กลุ่มตัวแทน
              </div>
            </div>

            <!-- result here -->
            <div class="tr">
              <div class="td agent-name">
                นายบุญมา เตชะวณิช
              </div>
              <div class="td agent-group">
                ต5
              </div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>

            <div class="tr">
              <div class="td agent-name"></div>
              <div class="td agent-group"></div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <ul class="kt-pagination__links">
              <li class="kt-pagination__link--first kt-pagination__link disbled">
                <a href="#">
                  <i class="dip-icon-angle-double-left"></i>
                </a>
              </li>
              <li class="kt-pagination__link--prev kt-pagination__link">
                <a href="#">
                  <i class="dip-icon-angle-left"></i>
                </a>
              </li>

              <li>
                <a href="#">...</a>
              </li>
              <li>
                <a href="#">29</a>
              </li>
              <li>
                <a href="#">30</a>
              </li>
              <li class="kt-pagination__link--active">
                <a href="#">31</a>
              </li>
              <li>
                <a href="#">32</a>
              </li>
              <li>
                <a href="#">33</a>
              </li>
              <li>
                <a href="#">...</a>
              </li>

              <li class="kt-pagination__link--next kt-pagination__link">
                <a href="#">
                  <i class="dip-icon-angle-double-right"></i>
                </a>
              </li>
              <li class="kt-pagination__link--last kt-pagination__link">
                <a href="#">
                  <i class="dip-icon-angle-right"></i>
                </a>
              </li>
            </ul>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input
                  class="form-control input"
                  type="text"
                />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <span class="pagination__desc">
              Displaying 10 of 230 records
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalSearchAgentOpen')"
    >
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="toggleModal('isModalSearchAgentOpen')"
    >
      เลือก
    </button>
  </div>
</app-modal>

<app-modal
  [className]="['fade', this.modal.isModalAutoFillOpen ? 'show' : undefined]"
  [title]="'ระบบเติมข้อมูลพื้นฐานอัตโนมัติ (Auto fill)'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalAutoFillOpen')"
>
  <!-- Custom Header Children -->
  <!-- <div header-children></div> -->
  <!-- Custom Body Children [default empty (need content)] -->

  <div
    body-children
    class="flex align-items-start"
  >
    <div class="main-form-wrapper">
      <div class="form-group select-personal-type">
        <div class="input-wrapper">
          <div class="kt-radio-inline">
            <label class="kt-radio kt-radio--bold kt-radio--brand">
              <input
                name="radioPeople"
                type="radio"
                (click)="binding('requestItem', 'people_code', 'NAT_ID')"
                [checked]="1 === smartCardData.type"
              />
              บุคคลธรรมดา
              <span></span>
            </label>

            <label class="kt-radio kt-radio--bold kt-radio--brand">
              <input
                name="radioPeople"
                type="radio"
                (click)="binding('requestItem', 'people_code', 'TAX_ID')"
                [checked]="2 === smartCardData.type"
              />
              นิติบุคคล
              <span></span>
            </label>
          </div>
        </div>
      </div>

      <div class="personal-form">
        <div class="personal-form-inner">
          <div class="form-group flex">
            <label
              class="col-form-label"
              for="citizenID"
              *ngIf="requestItem.people_code == 'NAT_ID'"
            >
              เลขประจำตัวประชาชน
            </label>
            <label
              class="col-form-label"
              for="citizenID"
              *ngIf="requestItem.people_code == 'TAX_ID'"
            >
              เลขนิติบุคคล
            </label>

            <div class="input-wrapper">
              <input
                #key_id_card
                class="form-control input"
                type="text"
                id="id_card"
                [(ngModel)]="input[key_id_card.id]"
                [ngClass]="validate[key_id_card.id] ? 'is-invalid' : null"
                [value]="smartCardData.people.info.id_card"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_id_card.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_id_card.id] }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="nameTH"
            >
              ชื่อภาษาไทย
            </label>

            <div class="input-wrapper">
              <input
                #key_name_th
                class="form-control input"
                type="text"
                id="name_th"
                [(ngModel)]="input[key_name_th.id]"
                [ngClass]="validate[key_name_th.id] ? 'is-invalid' : null"
                [value]="smartCardData.people.info.name_th"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_name_th.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_name_th.id] }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <label
              class="col-form-label"
              for="nameEN"
            >
              ชื่อภาษาอังกฤษ
            </label>

            <div class="input-wrapper">
              <input
                #key_name_en
                class="form-control input"
                type="text"
                id="name_en"
                [(ngModel)]="input[key_name_en.id]"
                [ngClass]="validate[key_name_en.id] ? 'is-invalid' : null"
                [value]="smartCardData.people.info.name_en"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_name_en.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_name_en.id] }}
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group flex"
            *ngIf="requestItem.people_code == 'NAT_ID'"
          >
            <label
              class="col-form-label"
              for="birthDate"
            >
              วันเดือนปีเกิด
            </label>

            <div class="input-wrapper">
              <input
                #key_birthday
                class="form-control input"
                type="text"
                id="birthday"
                [(ngModel)]="input[key_birthday.id]"
                [ngClass]="validate[key_birthday.id] ? 'is-invalid' : null"
                [value]="smartCardData.people.info.birthday"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_birthday.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_birthday.id] }}
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group flex"
            *ngIf="requestItem.people_code == 'NAT_ID'"
          >
            <label
              class="col-form-label"
              for="dateIssued"
            >
              วันออกบัตร
            </label>

            <div class="input-wrapper">
              <input
                #key_issue_date
                class="form-control input"
                type="text"
                id="issue_date"
                [(ngModel)]="input[key_issue_date.id]"
                [ngClass]="validate[key_issue_date.id] ? 'is-invalid' : null"
                [value]="smartCardData.people.info.issue_date"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_issue_date.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_issue_date.id] }}
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group flex"
            *ngIf="requestItem.people_code == 'NAT_ID'"
          >
            <label
              class="col-form-label"
              for="expireDate"
            >
              วันหมดอายุ
            </label>

            <div class="input-wrapper">
              <input
                #key_expiration_date
                class="form-control input"
                type="text"
                id="expiration_date"
                [(ngModel)]="input[key_expiration_date.id]"
                [ngClass]="
                  validate[key_expiration_date.id] ? 'is-invalid' : null
                "
                [value]="smartCardData.people.info.expiration_date"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="validate[key_expiration_date.id]"
                  class="invalid-feedback"
                >
                  {{ validate[key_expiration_date.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="profile-img">
          <img [src]="
              smartCardData.people.info.image
                ? smartCardData.people.info.image
                : '../../../assets/images/contents/profile-image-default.png'
            "
               alt="profile image"
               class="img" />

          <div class="caption">
            รูปถ่าย
          </div>
        </div>-->
      </div>

      <div class="form-group flex">
        <label
          class="col-form-label"
          for="expireDate"
        >
          ที่อยู่
        </label>

        <div class="input-wrapper">
          <textarea
            #key_address
            id="address"
            class="form-control"
            rows="3"
            [(ngModel)]="input[key_address.id]"
            [ngClass]="validate[key_address.id] ? 'is-invalid' : null"
            [value]="smartCardData.people.info.address"
          ></textarea>

          <div class="feedback-wrapper">
            <div
              *ngIf="validate[key_address.id]"
              class="invalid-feedback"
            >
              {{ validate[key_address.id] }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="system-info-display">
      <div class="display">
        <div class="officer-info">
          <div class="position">
            เจ้าหน้าที่
          </div>
          <div class="name">
            {{auth.getAuth().name}}
          </div>
        </div>

        <div class="check-lists">
          <div class="check-list">
            <ng-container *ngIf="autoFillToken && autoFillToken != ''">
              <!-- <i class="dip-icon-delete-cross"></i> -->
              <div class="check">
                เรียบร้อย
              </div>
            </ng-container>
            <ng-container *ngIf="!autoFillToken || autoFillToken == ''">
              <i class="dip-icon-delete-cross"></i>
              <div class="check">
                เสียบบัตรประชาชน
              </div>
            </ng-container>
          </div>
          <!--<div class="check-list">
            <ng-container *ngIf="smartCardData.people.connect">
              <div class="check">
                เรียบร้อย
              </div>
            </ng-container>
            <ng-container *ngIf="!smartCardData.people.connect">
              <i class="dip-icon-delete-cross"></i>
              <div class="check">
                เสียบบัตรประชาชน
              </div>
            </ng-container>
          </div>-->
        </div>
      </div>

      <div
        class="message"
        *ngIf="is_gdx_error"
      >
        ไม่ได้เชื่อมต่อโปรแกรมอ่านบัตร Smart Card
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    {{ timeMsg }}
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalAutoFillOpen')"
    >
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="onClickGDXSave()"
    >
      ตกลง
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="onClickGDXSearch()"
    >
      ค้นหา
    </button>
  </div>
</app-modal>

<app-modal
  [className]="[
    'fade',
    this.modal.isModalEditCategoryOpen ? 'show' : undefined
  ]"
  [title]="'แก้ไขจำพวก'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalEditCategoryOpen')"
>
  <!-- Custom Header Children -->
  <!-- <div header-children></div> -->
  <!-- Custom Body Children [default empty (need content)] -->
  <div
    body-children
    class="flex flex-wrap"
  >
    <div class="edit-category-action">
      <div class="form-group flex">
        <label class="col-form-label">
          ประเภท
        </label>

        <div class="input-wrapper">
          <select
            class="form-control"
            (change)="onChangeSelectItem($event.target.value)"
            [value]="requestItem.item_type_code"
          >
            <option
              *ngFor="let item of master.itemTypeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-outline-brand"
        (click)="onClickAddItemType()"
      >
        <i class="dip-icon-add-new"></i>
        เพิ่มรายการใหม่
      </button>
    </div>

    <div class="table edit-category">
      <div class="table-inner">
        <div class="tr header">
          <div class="td order">
            #
          </div>

          <div class="td category-id">
            รหัสจำพวก
          </div>

          <div class="td products-amount">
            จำนวนสินค้า
          </div>

          <div class="td amount">
            จำนวนเงิน
          </div>

          <div class="td delete-category">
            ลบรายการ
          </div>
        </div>

        <div
          class="tr"
          *ngFor="
            let item of subItemList | paginate: paginateSubItem;
            index as i
          "
        >
          <div class="td order">
            {{
              paginateSubItem.itemsPerPage * paginateSubItem.currentPage -
                paginateSubItem.itemsPerPage +
                (i + 1)
            }}
          </div>

          <div class="td category-id">
            <div class="form-group">
              <div class="input-wrapper">
                <input
                  #key_item_sub_type_1_code
                  class="form-control input"
                  type="text"
                  id="item_sub_type_1_code"
                  [(ngModel)]="item[key_item_sub_type_1_code.id]"
                  [ngClass]="
                    item.validate[key_item_sub_type_1_code.id]
                      ? 'is-invalid'
                      : null
                  "
                  (input)="
                    clearValidate(
                      key_item_sub_type_1_code.id,
                      'subItemList',
                      item.id
                    )
                  "
                />

                <div class="feedback-wrapper">
                  <div
                    *ngIf="item.validate[key_item_sub_type_1_code.id]"
                    class="invalid-feedback"
                  >
                    {{ item.validate[key_item_sub_type_1_code.id] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="td products-amount">
            <div class="form-group">
              <div class="input-wrapper">
                <input
                  #key_product_count
                  class="form-control input"
                  type="number"
                  id="product_count"
                  min="1"
                  [(ngModel)]="item[key_product_count.id]"
                  (ngModelChange)="onChangeCountItem(i, $event)"
                  [ngClass]="
                    item.validate[key_product_count.id] ? 'is-invalid' : null
                  "
                  (input)="
                    clearValidate(key_product_count.id, 'subItemList', item.id)
                  "
                />

                <div class="feedback-wrapper">
                  <div
                    *ngIf="item.validate[key_product_count.id]"
                    class="invalid-feedback"
                  >
                    {{ item.validate[key_product_count.id] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="td amount">
            {{ displayMoney(item.total_price) }}
          </div>

          <div
            class="td delete-category"
            (click)="onClickRemoveItemType(item.key)"
          >
            <i class="dip-icon-trash"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Category pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls
            id="paginateSubItem"
            (pageChange)="onChangePage($event, 'paginateSubItem')"
          ></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input
              class="form-control input"
              type="number"
              min="1"
              max="{{ getMaxPage('paginateSubItem') }}"
              (input)="onChangePage($event.target.value, 'paginateSubItem')"
            />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select
          class="form-control kt-font-brand"
          (change)="onChangePerPage($event.target.value, 'paginateSubItem')"
        >
          <option
            *ngFor="let perPage of perPageSubItemList"
            [value]="perPage"
          >
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          หน้าที่ {{ paginateSubItem.currentPage }} /
          {{ getMaxPage("paginateSubItem") }} รายการที่
          {{
            paginateSubItem.itemsPerPage * paginateSubItem.currentPage -
              paginateSubItem.itemsPerPage +
              1
          }}
          -
          {{
            paginateSubItem.itemsPerPage * paginateSubItem.currentPage >=
            paginateSubItem.totalItems
              ? paginateSubItem.totalItems
              : paginateSubItem.itemsPerPage * paginateSubItem.currentPage
          }}
          / {{ paginateSubItem.totalItems }}
        </span>
      </div>
    </div>

    <div class="summary-wrapper">
      <div class="category-product-summary">
        <div class="summary-list category">
          <div class="caption">
            จำนวนจำพวกทั้งหมด =
          </div>

          <div class="data">
            {{ requestItem.amount_type }}
          </div>
        </div>

        <div class="summary-list product">
          <div class="caption">
            จำนวนสินค้าทั้งหมด =
          </div>

          <div class="data">
            {{ requestItem.amount_product }}
          </div>
        </div>
      </div>

      <div class="total-amount">
        <div class="form-group flex">
          <label
            class="col-form-label"
            for="registrationRequestAmount"
          >
            จำนวนเงินทั้งหมด
          </label>

          <input
            class="form-control input"
            type="text"
            readonly
            [value]="displayMoney(requestItem.total_price)"
          />

          <span class="unit">
            บาท
          </span>
        </div>
      </div>
    </div>

    <!-- Upload sound -->
    <div class="sound-wrapper">
      <div class="form-group flex upload">
        <label
          class="col-form-label"
          for="uploadSound"
        >
          อัพโหลดไฟล์เสียง
        </label>

        <div class="input-wrapper">
          <div class="upload-btn-wrapper">
            <div class="upload-input-wrapper">
              <button
                type="button"
                class="btn"
              >
                เลือกไฟล์
              </button>
              <!-- ng-model="file" -->
              <input
                type="file"
                name="myfile"
                class="upload-input"
                accept="audio/mp3"
                (change)="onClickUploadAudio($event)"
                [(ngModel)]="requestItem.audio.input"
              />

              <div class="feedback-wrapper">
                <div
                  *ngIf="requestItem.audio.validate"
                  class="invalid-feedback"
                >
                  {{ requestItem.audio.validate }}
                </div>
              </div>
            </div>
            <div class="upload-file-list">
              <div class="file-list">
                <!-- get input file name -->
                <div class="file-name">
                  {{ requestItem.audio.file.name }}
                </div>

                <!-- get input file size -->
                <div class="file-size">
                  ( {{ displayFormatBytes(requestItem.audio.file.size) }} )
                </div>

                <!-- if the input has change (value === true) using class 'uploaded' for animate progress bar -->
                <!-- if the sound is already attached using class 'attached' instead, for Edit page -->
                <div [className]="
                    requestItem.audio.file.name
                      ? 'toogle-action-area uploaded'
                      : 'toogle-action-area'
                  ">
                  <!-- 1.85s animate progress bar -->
                  <div class="inprogress">
                    <div class="upload-progress-bar"></div>

                    <div class="delete-file">
                      <i
                        class="dip-icon-delete-cross"
                        (click)="onClickRemoveAudio()"
                      ></i>
                    </div>
                  </div>

                  <div class="noneprogress">
                    <!-- add class 'play' when audio play -->
                    <i
                      [className]="
                        this.requestItem.audio.action
                          ? 'dip-icon-play-circle play'
                          : 'dip-icon-play-circle'
                      "
                      (click)="togglePlayer()"
                    ></i>

                    <!-- <i class="dip-icon-download"></i> -->
                    <a
                      class="dip-icon-download"
                      href="{{ requestItem.audio.sound }}"
                      download="เสียง"
                    ></a>

                    <i
                      class="dip-icon-trash"
                      (click)="onClickRemoveAudio()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div> -->
        </div>
      </div>

      <div class="form-group flex">
        <label class="col-form-label">
          สถานะ
        </label>
        <div class="input-wrapper">
          <div class="kt-radio-inline select-status">
            <label
              class="kt-radio kt-radio--bold kt-radio--brand"
              *ngFor="let sound of master.soundTypeList"
            >
              <input
                name="radioSoundType"
                type="radio"
                (click)="binding('requestItem', 'sound_type_code', sound.code)"
                [checked]="sound.code === requestItem.sound_type_code"
              />
              {{ sound.name }}
              <span></span>
            </label>
          </div>

          <!-- <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div> -->
        </div>
      </div>

      <div class="form-group flex">
        <label class="col-form-label">
          คำบรรยายเสียง
        </label>

        <div class="input-wrapper">
          <textarea
            #key_sound_description
            class="form-control"
            rows="3"
            id="sound_description"
            (input)="
              binding('requestItem', key_sound_description.id, $event.target.value)
            "
            [value]="requestItem.sound_description"
          ></textarea>
          <!-- [(ngModel)]="requestItem[key_sound_description.id]" -->
          <!-- <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalEditCategoryOpen')"
    >
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="onClickSaveItemType()"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>

<app-modal
  [className]="['fade', this.modal.isModalPreviewPdfOpen ? 'show' : undefined]"
  [title]="'เอกสาร'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalPreviewPdfOpen')"
>
  <div
    body-children
    class="flex flex-wrap"
  >
    <ng-container *ngIf="this.modal.isModalPreviewPdfOpen && url">
      <iframe
        id="pdf"
        frameborder="0"
        scrolling="no"
        seamless=""
        allowfullscreen="allowfullscreen"
        style="width:100%;height:700px"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"
      ></iframe>
    </ng-container>
  </div>

  <!-- Custom Footer Children -->
  <!-- <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalPreviewPdfOpen')"
    >
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="print('pdf')">
      <i class="dip-icon-print"></i>
      พิมพ์
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="download(url, 'receipt.pdf')"
    >
      <i class="dip-icon-download"></i>
      ดาวน์โหลด
    </button>
  </div> -->
</app-modal>

<app-popup
  [className]="[
    'fade success',
    this.popup.isPopupSaveOpen ? 'show' : undefined
  ]"
  [Icon]="'dip-icon-success'"
  [title]="'บันทึก!'"
  (onClickClose)="togglePopup('isPopupSaveOpen')"
>
  <div body-children>
    ระบบทำการบันทึกข้อมูลแล้ว
  </div>
</app-popup>

<app-popup
  [className]="[
    'fade confirm-delete',
    this.popup.isPopupConfirmDeleteOpen ? 'show' : undefined
  ]"
  [Icon]="'dip-icon-trash'"
  [title]="'คุณแน่ใจใช่ไหม?'"
  (onClickClose)="togglePopup('isPopupConfirmDeleteOpen')"
>
  <div body-children>
    ว่าต้องการลบ/ยกเลิกรายการนี้
  </div>

  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupConfirmDeleteOpen')"
    >
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-danger"
      (click)="popup.confirmRemove()"
    >
      ลบ
    </button>
  </div>
</app-popup>
