:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: 400;
  z-index: 1;
}

:host .div_autocomplete > div {
  padding: 0 24px;
  line-height: 60px;
}

:host .div_autocomplete > div:hover {
  background-color: #F4F5F8;
}

:host .registration-request-job .kt-portlet__body .col-form-label {
  min-width: 165px;
}

:host .registration-request-job .registration-requester .input {
  width: 375px;
}

:host .registration-request-job .registration-requester .btn {
  margin-left: 15px;
}

:host .registration-request-job .registration-request-amount .input {
  width: 125px;
}

:host .registration-request-job .registration-request-amount .unit {
  margin-left: 20px;
}

:host .registration-request-job .registration-request-amount .kt-checkbox {
  margin-left: 70px;
}

:host .registration-request-job .kt-portlet__footer .btn {
  margin-left: 185px;
}

:host .registration-request-job .kt-portlet__footer .total .form-group.flex {
  align-items: center;
}

:host .registration-request-job .kt-portlet__footer .total .form-group.flex .input-wrapper {
  margin-bottom: 0;
  display: flex;
}

:host .registration-request-job .kt-portlet__footer .form-group {
  margin-bottom: 0;
}

:host .registration-request-job .kt-portlet__footer .form-group .input {
  width: 155px;
}

:host .registration-request-job .kt-portlet__footer .form-group .unit {
  margin-left: 20px;
}

:host .registration-request-job .kt-portlet__footer .form-group .kt-checkbox {
  margin-left: 70px;
}

:host .registration-request-list .kt-portlet__head-action .btn {
  margin-left: 15px;
}

:host .registration-request-list .table .table-inner {
  min-width: 1600px;
}

:host .registration-request-list .table .tr .td {
  color: #626366;
}

:host .registration-request-list .table .tr .td.select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.id {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.category {
  flex: 0 0 280px;
  max-width: 280px;
}

:host .registration-request-list .table .tr .td.category .input-with-search {
  width: 100%;
}

:host .registration-request-list .table .tr .td.income-id {
  flex: 0 0 50px;
  max-width: 50px;
}

:host .registration-request-list .table .tr .td.money-transaction {
  flex: 1 1 auto;
  max-width: 190px;
}

:host .registration-request-list .table .tr .td.request-id {
  flex: 0 0 110px;
  max-width: 110px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.cm-excess {
  flex: 0 0 70px;
  max-width: 70px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.genera-amount {
  flex: 0 0 70px;
  max-width: 70px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.products-amount {
  flex: 0 0 70px;
  max-width: 70px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.amount {
  flex: 0 0 130px;
  max-width: 130px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.archetype, :host .registration-request-list .table .tr .td .cancel-pay {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.archetype a, :host .registration-request-list .table .tr .td .cancel-pay a {
  color: #0C84C8;
  text-decoration: underline;
}

:host .registration-request-list .table .tr .td.cancel-pay {
  color: red;
}

:host .registration-request-list .table .tr .td.main {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.main .icon {
  height: 16px;
  width: auto;
}

:host .registration-request-list .table .tr .td.otop {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.reference-id {
  flex: 0 0 110px;
  max-width: 110px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.cancel {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .registration-request-list .table .tr .td.act-allow {
  flex: 0 0 150px;
  max-width: 150px;
}

:host .search-filter-wrapper .form-group {
  max-width: 500px;
}

:host .search-filter-wrapper .search-result-wrapper .table {
  margin-bottom: 30px;
  margin-top: 20px;
}

:host .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td {
  min-height: 40px;
  padding: 5px 15px;
}

:host .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.agent-name {
  flex: 1 1 auto;
}

:host .search-filter-wrapper .search-result-wrapper .table .table-inner .tr .td.agent-group {
  flex: 0 0 120px;
  max-width: 120px;
}

:host .search-filter-wrapper .search-result-wrapper .table .table-inner .tr:nth-child(2n) {
  background-color: #F4F5F8;
}

:host .search-filter-wrapper .search-result-wrapper .table .table-inner .tr.header .td {
  color: #626366;
}

:host .main-form-wrapper {
  flex: 1 1 auto;
  padding-right: 60px;
}

:host .main-form-wrapper .select-personal-type {
  padding: 5px 0;
  margin-right: 203px;
}

:host .main-form-wrapper .select-personal-type .kt-radio-inline {
  justify-content: flex-end;
}

:host .main-form-wrapper .select-personal-type .kt-radio {
  margin-left: 30px;
}

:host .main-form-wrapper .personal-form {
  display: flex;
  margin-top: 27px;
}

:host .main-form-wrapper .personal-form .personal-form-inner {
  flex: 1 1 auto;
}

:host .main-form-wrapper .personal-form .profile-img {
  flex: 0 0 150px;
  margin-left: 53px;
}

:host .main-form-wrapper .personal-form .profile-img .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

:host .main-form-wrapper .personal-form .profile-img .caption {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

:host .main-form-wrapper .col-form-label {
  flex: 0 0 170px;
  max-width: 170px;
}

:host .main-form-wrapper .form-group .input-wrapper .form-control {
  width: 100%;
}

:host .main-form-wrapper .form-group.flex {
  align-items: flex-start;
}

:host .main-form-wrapper .form-group.flex .col-form-label {
  margin-top: 7px;
  justify-content: flex-end;
}

:host .system-info-display {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  flex: 0 0 310px;
  padding: 0 20px;
  border-radius: 10px;
  font-weight: normal;
}

:host .system-info-display .display {
  display: flex;
  flex-direction: column;
  background-color: #F4F5F8;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

:host .system-info-display .officer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 25px;
}

:host .system-info-display .officer-info .position {
  font-size: 20px;
  font-weight: 500;
  color: #0C84C8;
  text-align: center;
}

:host .system-info-display .officer-info .name {
  font-size: 16px;
  font-weight: 500;
  color: #626366;
  text-align: center;
}

:host .system-info-display .check-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host .system-info-display .check-lists .check-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:host .system-info-display .check-lists .check-list .icon {
  height: 16px;
  width: auto;
  margin-right: 13px;
}

:host .system-info-display .check-lists .check-list i {
  font-size: 16px;
}

:host .system-info-display .check-lists .check-list i.dip-icon-delete-cross {
  color: #C31D1D;
}

:host .system-info-display .check-lists .check-list .check {
  color: #6D6E71;
  font-size: 16px;
}

:host .system-info-display .message {
  text-align: center;
  font-size: 16px;
  color: #C31D1D;
  margin-top: 22px;
}

:host .edit-category-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

:host .edit-category-action .form-group {
  flex: 0 0 435px;
  max-width: 435px;
}

:host .edit-category-action .form-group .col-form-label {
  flex: 0 0 100px;
}

:host .edit-category-action .form-group .form-control {
  flex: 1 1 auto;
}

:host .summary-wrapper {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
  color: #0C84C8;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-top: 1px solid #EBEDF2;
  margin-top: 20px;
  width: 100%;
  padding: 15px;
}

:host .summary-wrapper .category-product-summary {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

:host .summary-wrapper .category-product-summary .summary-list {
  margin-left: 50px;
  display: flex;
}

:host .summary-wrapper .category-product-summary .summary-list .caption {
  margin-right: 5px;
}

:host .summary-wrapper .total-amount {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

:host .summary-wrapper .total-amount .form-group {
  justify-content: flex-end;
}

:host .summary-wrapper .total-amount .input {
  width: 250px;
}

:host .summary-wrapper .total-amount .col-form-label {
  color: #0C84C8;
  font-size: 20px;
  font-weight: bold;
}

:host .summary-wrapper .total-amount .unit {
  margin-left: 15px;
  color: #0C84C8;
  font-size: 20px;
  font-weight: bold;
}

:host .sound-wrapper {
  width: 100%;
}

:host .sound-wrapper .form-group .col-form-label {
  flex: 0 0 180px;
  justify-content: flex-end;
  padding-right: 15px;
}

:host .sound-wrapper .form-group.upload .col-form-label {
  font-size: 20px;
  font-weight: 500;
  color: #0C84C8;
}

:host .table.edit-category {
  margin-bottom: 30px;
}

:host .table.edit-category .tr .td {
  min-height: 50px;
  padding: 5px 15px;
  color: #626366;
}

:host .table.edit-category .tr .td .form-group {
  max-width: 130px;
}

:host .table.edit-category .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
}

:host .table.edit-category .tr .td.category-id {
  flex: 0 0 275px;
  max-width: 275px;
}

:host .table.edit-category .tr .td.products-amount {
  flex: 0 0 275px;
  max-width: 275px;
}

:host .table.edit-category .tr .td.amount {
  flex: 0 0 275px;
  max-width: 275px;
}

:host .table.edit-category .tr .td.delete-category {
  flex: 1 1 auto;
}

:host .table.edit-category .tr .td.delete-category i {
  color: #C31D1D;
  cursor: pointer;
}

:host .table.edit-category .tr:nth-child(2n-1) .td {
  background-color: white;
}

:host .table.edit-category .tr:nth-child(2n) .td {
  background-color: #F4F5F8;
}

:host .table .modal-zoom-image.show .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

:host ::ng-deep .confirm-delete {
  padding: 0;
}

:host ::ng-deep .confirm-delete .btn-group-wrapper {
  width: 100%;
  justify-content: space-between;
}

:host ::ng-deep .confirm-delete .btn-group-wrapper .btn {
  margin: 0 5px;
  flex: 1 1 auto;
}

:host ::ng-deep .modal-zoom-image.show .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
