:host {
  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-size: 16px;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: 400;
    z-index: 1;

    & > div {
      padding: 0 24px;
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }
    }
  }

  .registration-request-job {
    .kt-portlet__body {
      .col-form-label {
        min-width: 165px;
      }
    }

    .registration-requester {
      .input {
        width: 375px;
      }

      .btn {
        margin-left: 15px;
      }
    }

    .registration-request-amount {
      .input {
        width: 125px;
      }

      .unit {
        margin-left: 20px;
      }

      .kt-checkbox {
        margin-left: 70px;
      }
    }

    .kt-portlet__footer {
      .btn {
        margin-left: 185px;
      }

      .total {
        .form-group {
          &.flex {
            align-items: center;

            .input-wrapper {
              margin-bottom: 0;
              display: flex;
            }
          }
        }
      }

      .form-group {
        margin-bottom: 0;

        .input {
          width: 155px;
        }

        .unit {
          margin-left: 20px;
        }

        .kt-checkbox {
          margin-left: 70px;
        }
      }
    }
  }

  .registration-request-list {
    .kt-portlet__head-action {
      .btn {
        margin-left: 15px;
      }
    }

    .table {
      .table-inner {
        min-width: 1600px;

        & > * {
          &:nth-child(2n) {
            background-color: #F4F5F8;
          }
        }
      }

      .tr {
        .td {
          color: #626366;

          &.select {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
          }

          &.id {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
          }

          &.category {
            flex: 0 0 200px;
            max-width: 200px;

            .input-with-icon {
              width: 100%;
            }
          }

          &.income-id {
            flex: 0 0 50px;
            max-width: 50px;
          }

          &.money-transaction {
            flex: 1 1 160px;
            max-width: 160px;
          }

          &.book_index {
            flex: 0 0 110px;
            max-width: 110px;
            justify-content: center;
            text-align: center;
          }

          &.page_index {
            flex: 0 0 110px;
            max-width: 110px;
            justify-content: center;
            text-align: center;
          }

          &.request-id {
            flex: 0 0 110px;
            max-width: 110px;
            justify-content: center;
            text-align: center;
          }

          &.cm-excess {
            flex: 0 0 70px;
            max-width: 70px;
            justify-content: center;
            text-align: center;
          }

          &.genera-amount {
            flex: 0 0 70px;
            max-width: 70px;
            justify-content: center;
            text-align: center;
          }

          &.products-amount {
            flex: 0 0 70px;
            max-width: 70px;
            justify-content: center;
            text-align: center;
          }

          &.amount {
            flex: 0 0 130px;
            max-width: 130px;
            justify-content: center;
            text-align: center;
          }

          &.archetype, .cancel-pay {
            flex: 0 0 80px;
            max-width: 80px;
            justify-content: center;
            text-align: center;

            a {
              color: #0C84C8;
              text-decoration: underline;
            }
          }

          &.cancel-pay {
            color: rgb(255, 0, 0)
          }

          &.main {
            flex: 0 0 80px;
            max-width: 80px;
            justify-content: center;
            text-align: center;

            .icon {
              height: 16px;
              width: auto;
            }
          }

          &.otop {
            flex: 0 0 80px;
            max-width: 80px;
            justify-content: center;
            text-align: center;
          }

          &.reference-id {
            flex: 0 0 110px;
            max-width: 110px;
            justify-content: center;
            text-align: center;
          }

          &.cancel {
            flex: 0 0 80px;
            max-width: 80px;
            justify-content: center;
            text-align: center;
          }

          &.act-allow {
            flex: 0 0 150px;
            max-width: 150px;
          }
        }
      }
    }
  }

  .search-filter-wrapper {
    .form-group {
      max-width: 500px;
    }

    .search-result-wrapper {
      .table {
        margin-bottom: 30px;
        margin-top: 20px;

        .table-inner {
          .tr {
            .td {
              min-height: 40px;
              padding: 5px 15px;

              &.agent-name {
                flex: 1 1 auto;
              }

              &.agent-group {
                flex: 0 0 120px;
                max-width: 120px;
              }
            }

            &:nth-child(2n) {
              background-color: #F4F5F8;
            }

            &.header {
              .td {
                color: #626366;
              }
            }
          }
        }
      }
    }
  }

  .main-form-wrapper {
    flex: 1 1 auto;
    padding-right: 60px;

    .select-personal-type {
      padding: 5px 0;
      margin-right: 203px;

      .kt-radio-inline {
        justify-content: flex-end;
      }

      .kt-radio {
        margin-left: 30px;
      }
    }

    .personal-form {
      display: flex;
      margin-top: 27px;

      .personal-form-inner {
        flex: 1 1 auto;
      }

      .profile-img {
        flex: 0 0 150px;
        margin-left: 53px;

        .img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }

        .caption {
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-size: 16px;
          text-align: center;
          margin-top: 10px;
          font-weight: normal;
        }
      }
    }

    .col-form-label {
      flex: 0 0 170px;
      max-width: 170px;
    }

    .form-group {
      .input-wrapper {
        .form-control {
          width: 100%;
        }
      }

      &.flex {
        align-items: flex-start;

        .col-form-label {
          margin-top: 7px;
          justify-content: flex-end;
        }
      }
    }
  }

  .system-info-display {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    flex: 0 0 310px;
    padding: 0 20px;
    border-radius: 10px;
    font-weight: normal;

    .display {
      display: flex;
      flex-direction: column;
      background-color: #F4F5F8;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
    }

    .officer-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0 25px;

      .position {
        font-size: 20px;
        font-weight: 500;
        color: #0C84C8;
        text-align: center;
      }

      .name {
        font-size: 16px;
        font-weight: 500;
        color: #626366;
        text-align: center;
      }
    }

    .check-lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .check-list {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .icon {
          height: 16px;
          width: auto;
          margin-right: 13px;
        }

        i {
          font-size: 16px;

          &.dip-icon-delete-cross {
            color: #C31D1D;
          }
        }

        .check {
          color: #6D6E71;
          font-size: 16px;
        }
      }
    }

    .message {
      text-align: center;
      font-size: 16px;
      color: #C31D1D;
      margin-top: 22px;
    }
  }

  .edit-category-action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    .form-group {
      flex: 0 0 435px;
      max-width: 435px;

      .col-form-label {
        flex: 0 0 100px;
      }

      .form-control {
        flex: 1 1 auto;
      }
    }
  }

  .summary-wrapper {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-size: 16px;
    color: #0C84C8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-top: 1px solid #EBEDF2;
    margin-top: 20px;
    width: 100%;
    padding: 15px;

    .category-product-summary {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .summary-list {
        margin-left: 50px;
        display: flex;

        .caption {
          margin-right: 5px;
        }
      }
    }

    .total-amount {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      .form-group {
        justify-content: flex-end;
      }

      .input {
        width: 250px;
      }

      .col-form-label {
        color: #0C84C8;
        font-size: 20px;
        font-weight: bold;
      }

      .unit {
        margin-left: 15px;
        color: #0C84C8;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .sound-wrapper {
    width: 100%;

    .form-group {
      .col-form-label {
        flex: 0 0 180px;
        justify-content: flex-end;
        padding-right: 15px;
      }

      &.upload {
        .col-form-label {
          font-size: 20px;
          font-weight: 500;
          color: #0C84C8;
        }
      }
    }
  }

  .table {
    &.edit-category {
      margin-bottom: 30px;

      .tr {
        .td {
          min-height: 50px;
          padding: 5px 15px;
          color: #626366;

          .form-group {
            max-width: 130px;
          }

          &.order {
            flex: 0 0 65px;
            max-width: 65px;
          }

          &.category-id {
            flex: 0 0 275px;
            max-width: 275px;
          }

          &.products-amount {
            flex: 0 0 275px;
            max-width: 275px;
          }

          &.amount {
            flex: 0 0 275px;
            max-width: 275px;
          }

          &.delete-category {
            flex: 1 1 auto;

            i {
              color: #C31D1D;
              cursor: pointer;
            }
          }
        }

        &:nth-child(2n-1) {
          .td {
            background-color: white;
          }
        }

        &:nth-child(2n) {
          .td {
            background-color: #F4F5F8;
          }
        }
      }
    }
  }

  ::ng-deep {
    .confirm-delete {
      padding: 0;

      .btn-group-wrapper {
        width: 100%;
        justify-content: space-between;

        .btn {
          margin: 0 5px;
          flex: 1 1 auto;
        }
      }
    }
  }
}
