<div class="modal {{className}}">
  <div class="modal-dialog {{modalSize}} {{modalVerticalCenter}}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ข้อความ</h5>
        <ng-template [ngIf]="!hideCloseCross">
          <button type="button"
                  class="close"
                  (click)="_onClickClose()">
            <i class="dip-icon-close"></i>
          </button>
        </ng-template>
      </div>

      <div class="modal-body">
        <div class="form-group flex mb-3">
          <label class="col-form-label ml-0 pl-0">ค้นหา: </label>
          <input
            class="form-control input w-25"
            type="text"
          />
        </div>
        <div class="table-responsive mb-3">
          <div class="table">
            <div class="table-inner">
              <div class="tr header">
                <div class="td example-order">
                  <label
                    class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                  >
                    <input
                      type="checkbox"
                      (click)="onClickCheckBoxTable('requestList', 0, true)"
                      [checked]="fasle"
                    />
                    <span></span>
                  </label>
                </div>
                <div class="td">
                  ข้อความ
                </div>
                <div class="td scrollbar"></div>
              </div>
    
              <div class="table-data">
                <div class="tr"
                  *ngFor="let item of tableDetail.column_list; index as i"
                >
                  <div class="td example-order">
                    <label
                    class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                  >
                    <input
                      type="checkbox"
                      (click)="onClickCheckBoxTable('requestList', 0, true)"
                      [checked]="fasle"
                    />
                    <span></span>
                  </label>
                  </div>
                  <div class="td">
                    {{ item.data }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-pagination
          [pagin]="paginateTranslation"
          (onChangePage)="onChangePage($event, 'paginateTranslation')"
          (onChangePerPage)="onChangePerPage($event, 'paginateTranslation')"></app-pagination>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pl-4 pr-4"
          (click)="_onClickClose()"
        >
          ยกเลิก
        </button>

        <button
          type="button"
          class="btn btn-brand pl-4 pr-4"
          (click)="_onClickClose()"
        >
          เลือก
        </button>
      </div>
    </div>
  </div>