:host {
  .modal {
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;

    .modal-dialog {
      margin: 0px auto;

      .modal-content {
        margin: 35px 0;

        .modal-header {
          position: relative;
          padding-left: 30px;
          padding-right: 50px;

          .modal-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 20px;
            font-weight: 500;
            color: #0C84C8;
          }

          .close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translateY(-50%);

            i {
              font-size: 15px;
            }

            &:hover {
              i {
                color: #B50F00;
              }
            }

            &:before {
              display: none;
            }
          }
        }

        .modal-body {
          padding: 30px;
        }

        .modal-footer {
          padding-left: 30px;
          padding-right: 30px;

          ::ng-deep {
            .btn {
              margin-left: 15px;
            }
          }
        }
      }

      &.vertical-centered {
        .modal-content {
          margin: auto 0;
        }
      }

      &.modal-dialog-centered {
        min-height: calc(100vh - 70px);
        justify-content: center;
      }
    }

    &.show {
      display: block;
    }
  }

  .table-responsive {
    overflow: hidden;
    overflow-x: auto;
  }

  .table {
    .td {
      flex-grow: 1;
      padding: 5px 15px;
      min-height: 40px;
      
      &.example-order {
        flex: 0 0 8%;
        max-width: 8%;
      }
    }
  }
}
