:host {
  .container-inner {
    height: 100%;
    width: 100%;
    overflow: auto;

    .step-panel {
      width: 320px;
      flex: 0 0 320px;
      height: 100%;
      overflow-y: scroll;
      background-color: #E7E7E7;
      box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);

      .step-item {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        min-height: 53px;
        display: flex;
        align-items: center;
        color: #707070;
        font-size: 16px;

        .item-name {
          display: flex;
          align-items: center;
          width: 100%;
          min-height: 53px;
          padding: 10px 15px 10px 25px;

          &.editable {
            cursor: pointer;
          }

          &:before {
            content: '\0076';
            display: flex;
            font-family: 'dip font icon';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            color: #B7B7B7;
            margin-right: 13px;
            padding-bottom: 2px;
          }
        }

        &.current {
          background-color: #E0E0E0;
        }

        &.required {
          .item-name {
            &:before {
              content: '\0075';
              color: #707070;
            }
          }
        }

        &.passed {
          .item-name {
            color: #149BA9;

            &:before {
              content: '\0074';
              color: #149BA9;
            }

            &:after {
              color: #149BA9;
            }
          }
        }

        &.has-sub-item {
          flex-wrap: wrap;

          .item-name {
            position: relative;
            padding-right: 30px;

            &:after {
              content: '\0048';
              position: absolute;
              display: flex;
              font-family: 'dip font icon';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 15px;
              color: #B7B7B7;
              padding-bottom: 2px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .step-sub-items {
            height: 0;
            overflow: hidden;
            width: 100%;
          }

          .step-sub-item {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            height: 53px;
            display: flex;
            align-items: center;
            padding-left: 75px;
            color: #707070;
            font-size: 16px;
            width: 100%;
            padding-right: 15px;

            &.current {
              background-color: #E0E0E0;
            }

            &.editable {
              cursor: pointer;
            }
          }

          &.is-open {
            .item-name {
              &:after {
                transform: translateY(-65%) rotate(180deg);
              }
            }

            .step-sub-items {
              height: auto;
            }
          }
        }
      }
    }

    .eform-content {
      flex: 1 1 auto;
      position: relative;      
      padding: 50px 30px 100px;
      font-family: 'Noto Sans Thai', 'Noto Sans';

      .form-group {
        // flex: 1 1 100%;
      }

      .input-wrapper-row {
        .flex {
          select {
            &.form-control {
              margin-left: 15px;
              width: 270px;
            }
          }
        }
      }

      .owner-and-agent {
        height: 100%;
        padding-left: 75px;
        padding-right: 30px;

        .inner-wrapper {
          max-height: 100%;
          overflow-y: auto;
          padding-right: 30px;

          .form-group {
            .col-form-label {
              color: #FFF;  
              margin-left: 0;
              font-weight: 300;
              padding-left: 0;   
            }

            select {
              &.form-control {
                max-width: 195px;
              }
            }
          }

          .owner-row {
            padding-bottom: 25px;
          }

          .card {
            width: 300px;
            height: 343px;
            // height: auto;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            padding: 30px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            margin-right: 20px;
            border-radius: 0;

            &.view {
              width: 730px;
              height: 100%;
              min-height: 343px;
              max-height: 343px;
              justify-content: flex-start;
            }

            .operators {
              position: absolute;
              bottom: 30px;

              .btn {
                width: 50px;
                height: 50px;
                margin: 0 6px;

                &.edit {
                  border: 1px solid #CCEBFD;
                  background-color: #E6F2FA;

                  i {
                    color: #0C84C8;
                  }

                  &:hover {
                    background-color: #C1E6FF;
                  }

                  &:active {
                    background-color: #C1E6FF;
                  }

                  &:focus {
                    background-color: #C1E6FF;
                  }
                }

                &.delete {
                  border: 1px solid #FDCCCC;
                  background-color: #FAE6E6;

                  i {
                    color: #C31D1D;
                  }

                  &:hover {
                    background-color: #FFBEBE;
                  }

                  &:focus {
                    background-color: #FFBEBE;
                  }

                  &:active {
                    background-color: #FFBEBE;
                  }
                }
              }
            }

            &.add-more {
              cursor: pointer;

              .icon-wrapper {
                width: 107px;
                height: 107px;
                border-radius: 50%;
                border: 1px solid #CCEBFD;
                background-color: #E6F2FA;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 28px;
                  color: #0C84C8;
                }
              }

              .caption {
                font-size: 30px;
                color: #0C84C8;
                margin-top: 35px;
                text-align: center;
                font-weight: 500;

                .note {
                  font-size: 20px;
                }

                &.required {
                  position: relative;

                  &:after {
                    content: '*';
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63)
              }
            }
          }
        }

        .table {
          .table-inner {
            .tr {
              .td {
                padding: 15px 15px;
                color: #9A9A9A;
                background-color: #FFFFFF;
                align-items: flex-start;

                &.order {
                  flex: 0 0 45px;
                  max-width: 45px;
                }

                &.name {
                  flex: 1 1 160px;
                }

                &.address {
                  flex: 1 1 250px;
                }

                &.mobile {
                  flex: 1 1 90px;
                }
              }

              &.header {
                .td {
                  font-weight: normal;
                  font-size: 20px;
                  color: #707070;

                  &.order {
                    justify-content: flex-start;
                  }
                }
              }
            }
          }
        }

        .btn-next {
          margin-left: 0;
        }

        .choose-owner-and-agent-id {
          label {
            color: #FFF;
            font-weight: 300;
          }

          label + label {
            margin-left: 30px;
          }
        }

        .feedback-wrapper {
          background-color: #ffe2e2;
          border: 1px solid #ff8d8d;
          padding: 10px 15px;
          border-radius: 3px;
          margin-bottom: 30px;
          background-color: #ffe2e2;
          border: 1px solid #ff8d8d;
    
          .invalid-feedback {
            margin-top: 0;
            display: block;
            color: #C31D1D;     
          }
        }

        .footer {
          padding: 30px 0;
        }
      }

      .domestic-contact-address {
        height: 100%;
        overflow: auto;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;
            }
          }

          .kt-portlet__body__inner {
            .form-group {
              width: 100%;
            }

            &.select-domestic-contact-address {
              padding: 0 25px;
              flex-wrap: wrap;

              .form-group {
                .input-wrapper-row {
                  .flex {
                    margin-bottom: 20px;

                    .kt-radio {
                      margin-bottom: 0;
                      margin-top: 8px;
                    }
                  }
                }
              }

              .form-row {
                justify-content: space-between;

                .form-group {
                  flex: 0 0 49%;
                  max-width: 49%;
                  position: relative;

                  .div_autocomplete {
                    margin-top: 30px;
                  }

                  .input {
                    width: 100%;
                  }

                  .col-form-label {
                    justify-content: flex-start;
                  }

                  .kt-radio {
                    margin-top: 5px;
                  }

                  &.fluid {
                    flex: 0 0 100%;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .step-basic {
        height: 100%;
        overflow: auto;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }
          }

          .kt-portlet__body__inner {
            padding: 0 25px;
            flex-wrap: wrap;

            .form-group {
              .col-form-label {
                justify-content: flex-start;
              }
            }
          }

          .kt-portlet__footer__inner {
            padding: 25px 0;
            justify-content: center;
            flex-grow: 1;
          }
        }

        .step-basic-inner {
          max-width: 1010px;
          margin: auto;
          flex-grow: 1;
        }
      }

      .step-page {
        width: 100%;
        padding: 0 75px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .step-header {
          width: 100%;
          margin-bottom: 25px;
          display: flex;

          .step-page-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 30px;
            font-weight: normal;
            color: white;
          }
        }

        .step-body {
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          padding: 30px 37px;
          flex-grow: 1;
          align-content: flex-start;
        }

        .step-footer {
          background-color: white;
          padding: 30px 37px;
        }
      }

      .begin {
        align-items: center;
        justify-content: center;

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;
          flex-direction: column;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .col-form-label {
          font-size: 20px;
          color: #0C84C8;
        }
      }

      .objection {
        .input {
          min-width: 628px;
        }

        .btn-search { 
          margin-left: 9px;
          min-width: 101px;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .notifier-type-id {
          margin-bottom: 20px;

          .col-form-label {
            margin-left: 0;
            padding-left: 0;
            min-width: auto;
          }

          .form-control {
            max-width: 195px;
          }
        }        
      }

      .court-case {
        .input-wrapper-row {
          margin-bottom: 5px;
        }
      }

      .product-service-group {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .product-service-name {
          position: relative;
        }

        .step-page {
          .step-body {
            .table {
              .table-inner {
                .tr {
                  .td {
                    &.order {
                      flex: 0 0 65px;
                      max-width: 65px;
                      justify-content: center;
                      padding-right: 23px;
                    }

                    &.group {
                      flex: 0 0 250px;
                      max-width: 250px;
                    }

                    &.product-service-name {
                      flex: 1 1 auto;

                      .input-wrapper-row {
                        width: 100%;
                      }
                    }

                    &.amount {
                      flex: 0 0 190px;
                      max-width: 190px;
                    }

                    &.fee {
                      flex: 0 0 210px;
                      max-width: 210px;
                      justify-content: center;
                    }

                    &.operation {
                      flex: 0 0 120px;
                      max-width: 120px;
                      justify-content: flex-end;
                    }

                    &.feedback-inside {
                      padding-bottom: 0;

                      .form-group {
                        .input-wrapper {
                          margin-bottom: 0px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .step-footer {
            padding-top: 0;

            .step-seventh-next {
              .input-wrapper {
                margin-bottom: 0;

                .feedback-wrapper {
                  margin: 0;
                  height: auto;

                  .invalid-feedback {
                    margin-bottom: 10px;
                    padding: 4px 10px;
                    background-color: white;
                    font-size: 15px;
                    border-radius: 3px;
                    text-align: center;
                  }
                }
              }

              .btn {
                margin: 0 auto;
              }
            }
          }
        }
      }

      .supporting-documents {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .step-page {
          display: unset;

          .step-body {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            .check-list-card {
              background-color: white;
              min-height: 70px;
              width: 100%;
              padding: 18px;
              margin-bottom: 16px;
              align-items: center;
              flex-wrap: wrap;

              .kt-checkbox {
                i {
                  color: #0C84C8;
                  font-size: 34px;
                }

                margin-right: 15px;
              }

              .check-list-title {
                font-family: 'Noto Sans Thai',
                  'Noto Sans';
                font-size: 20px;
                font-weight: 500;
                color: #707070;
              }

              .form {
                width: 100%;
                display: none;
                padding: 0;
                margin: 0;
                flex-wrap: wrap;
                background-color: white;
                justify-content: center;

                .form-title {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  color: #0C84C8;
                  font-family: 'Noto Sans Thai',
                    'Noto Sans';
                  font-size: 20px;
                  font-weight: 500;
                }

                .form-row {
                  display: flex;
                  justify-content: space-between;

                  .form-group {
                    flex: none;
                  }

                  &.two-column {
                    .form-group {
                      width: 49%;
                    }
                  }

                  &.three-column {
                    .form-group {
                      width: 32%;
                    }
                  }

                  &.slider-control {
                    margin: 15px 0;
                  }
                }

                .form-control {
                  width: 100%;
                }

                &.show {
                  display: flex;
                  padding: 15px 20px;
                  margin-top: 15px;
                }
              }

              &.checked {
                background-color: #CEFFEA;
              }
            }

            .check-list-input-wrapper {
              flex-grow: 1;
              // flex: 1 0 auto;
            }

            .note {
              font-family: 'Noto Sans Thai',
                  'Noto Sans';
            }
          }

          .step-footer {
            background-color: transparent;
          }
        }
      }

      .fee {
        align-items: center;
        justify-content: center;

        .kt-portlet {

          //HACK Parent color
          .kt-portlet__body__inner {
            .form-group {
              .col-form-label {
                color: #6D6E71;
              }
            }
          }
        }

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;

          .form-group {
            .form-control {
              width: 100%;
            }

            .col-form-label {
              margin-left: 0;
              min-width: 230px;
            }

            .text-unit {
              font-size: 20px;
              margin-left: 10px;
              min-width: 35px;
            }
          }
        }

        .kt-portlet__footer__inner {
          .btn {
            margin: 0 10px;
          }
        }
      }

      .finish {
        .signature-select {
          margin-bottom: 15px;

          .caption {
            color: #0c84c8;
            font-size: 20px;
            font-weight: normal;
          }
        }
      }

      .footer-eform {
        display: flex;
        position: absolute;
        left: -9px;
        right: 0;
        bottom: 0;
        height: 70px;
        flex-direction: column;

        .progress-bar {
          height: 12px;
          width: 100%;
          background-color: #E7E7E7;

          .bar {
            min-width: 50px;
            height: 100%;
            background-color: #52D69D;
          }
        }

        .summary-and-control {
          flex: 1 1 auto;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;

          .summary-progress {
            display: flex;
            align-items: center;
            padding: 5px 15px 0 35px;

            .progress-number {
              display: flex;
              width: 75px;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: 500;
              font-size: 40px;
              color: #149BA9;
              line-height: 40px;
              margin-right: 8px;
              height: 53px;
              overflow: hidden;
              justify-content: flex-end;
              align-items: center;
            }

            .units {
              font-family: 'Noto Sans Thai', 'Noto Sans';

              .percentage {
                line-height: 20px;
                font-size: 19px;
                font-weight: 500;
                font-family: 'Noto Sans Thai', 'Noto Sans';
                color: #149BA9;
              }

              .unit {
                font-size: 16px;
                font-weight: normal;
                color: #707070;
                margin-top: -5px;
              }
            }
          }

          .control {
            display: flex;
            align-items: center;
            padding: 0 30px 0 15px;

            .note {
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              font-size: 16px;
              margin-right: 20px;
            }

            .btn-wrapper {
              display: flex;

              .btn {
                margin-left: 15px;
              }
            }
          }
        }
      }

      .header-note {
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
      }
  
      .footer-note {
        font-size: 20px;
        display: flex;
        margin-top: 30px;
        color: #FFF;
        justify-content: center;
      }

      .form-control:disabled {
        background-color: #F4F5F8;
      }

      .select-wrapper {
        display: flex;        
      }
      
      .select-container {
        display: flex;
        border: 1px solid #EBEDF2;
        border-radius: 5px;
        padding: 0 8px;
        overflow-y: auto; 
        max-height: 100px;
        width: 628px;
      
        .select-value {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      
        .select-multi-value {
          border: 1px solid #0C84C8;
          border-radius: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: #0C84C8;
          padding: 2px 10px;
          margin-right: 5px;
          margin: 2px 3px;
          font-size: 16px;
          font-weight: normal;
        }
      
        .select-multi-value-remove {
          margin-left: 5px;
          cursor: pointer;
      
          i {
            font-size: 12px;
          }
        }
      
        .select-input {
          .input {
            font-size: 16px;
            border: none;
            opacity: 1;
            outline: 0px;
            padding: 0px;
            // color: inherit;
          }
        }
      }
    }

    .btx-inner-form-three {
      input[type="file"] {
        display: none;
      }

      input {
        background-color: #F6F7FA;
      }

      input.search {
        background-color: white;
      }

      .btx-upload {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        font-size: 16px !important;
        padding: 7px 1rem 6px;
        white-space: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 37px;
        background-color: #0C84C8;
        border-color: #0C84C8;
        color: white !important;
        margin: 0px 6px;
      }

      .input-wrapper {
        margin: 0px;

        .input-wrapper-row>label,
        .btx-upload-group>label {
          color: #0C84C8;
        }

        .btx-upload-group {
          margin: 10px 0px;
        }

        .btx-upload-label {
          margin-right: 50px;
        }

        button {
          margin-left: 10px;
          width: 101px;
          height: 37px;
        }

        .btx-box-label label {
          margin-top: 7px;
          margin-right: 24px;
        }

        input.btx-input-date {
          width: 89px;
          height: 37px;
          margin: 0px 16px;
          padding: 0.65rem 1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          border: 1px solid #e2e5ec;
          border-radius: 4px;
        }

        .datepicker-form {
          width: 270px;
          height: 37px;
        }
      }

      .flex.input-wrapper {
        // margin-bottom: 20px;

        .btx-num-date,
        .btx-num-kadee {
          font-size: 16px;
          margin-top: 6px;
        }

        .input-with-icon.datepicker {
          margin-left: 23px;
          margin-right: 16px;
        }
      }

      .btx-main-box-select-second-form {
        margin: 21px 0px;

        .btx-box-select {
          select {
            width: 196px;
            margin-left: 44px;
          }
        }
      }

      input.form-control {
        // width: 696px;
        width: 100%;
        height: 37px;
        margin-right: 16px;
      }
    }

    ::ng-deep {
      .dragdrop-file-container {
        width: 180px;
        height: 180px;
      }
    }
  }

  ::ng-deep {
    .modal {
      &.deactivation-modal {
        .btn + .btn {
          margin-left: 15px;
        }
      }
    }
  }
}
