<div class="kt-portlet search-task">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label
            class="col-form-label"
            for="request_id"
          >
            เลขที่คำขอ
          </label>

          <div class="input-wrapper">
            <textarea
              id="request_id"
              class="form-control textarea request-id"
              type="text"
              rows="3"
              placeholder="เพิ่มข้อความ"
            ></textarea>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่ได้รับงาน
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_received_start_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_received_start_date"
                    placeholder="Test"
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_received_start_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_received_start_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_received_end_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_received_end_date"
                    placeholder=""
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_received_end_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_received_end_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่ตรวจสอบ
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_inspection_start_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_inspection_start_date"
                    placeholder="Test"
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_inspection_start_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_inspection_start_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_inspection_end_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_inspection_end_date"
                    placeholder=""
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_inspection_end_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_inspection_end_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่ส่งคืน
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_return_start_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_return_start_date"
                    placeholder="Test"
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_return_start_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_return_start_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    #key_make_date
                    id="job_return_end_date"
                    class="form-control input"
                    matInput
                    [matDatepicker]="job_return_end_date"
                    placeholder=""
                    (click)="picker.open()"
                  >
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="job_return_end_date"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="job_return_end_date"
                >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex status-select-checkbox">
          <label
            class="col-form-label"
            for="registrationRequester"
          >
            สถานะ
          </label>
          <div class="input-wrapper">
            <div class="input-wrapper-row">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                แก้ไข
                <span></span>
              </label>

              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                เปลี่ยนแปลง
                <span></span>
              </label>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="btn-group-wrapper">
      <button
        type="button"
        class="btn btn-brand"
      >
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>

      <button
        type="button"
        class="btn btn-white"
      >
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet all-task-list">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i>ตารางแสดง
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <div class="table-inner freeze-header">
        <div class="tr header">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input
                type="checkbox"
                (click)="onClickCheckBoxTable('requestList', 0, true)"
                [checked]="fasle"
              >
              <span></span>
            </label>
          </div>
          <div class="td order">
            ลำดับ
          </div>
          <div class="td request-id">
            เลขที่คำขอ
          </div>
          <div class="td send-date">
            วันที่ส่งมา
          </div>
          <div class="td job-type">
            ประเภท
          </div>
          <div class="td topic">
            เรื่อง
          </div>
          <div class="td officer">
            เจ้าหน้าที่เสนอ
          </div>
          <div class="td detail">
            รายละเอียดเพิ่มเติม
          </div>
          <div class="td status">
            สถานะ
          </div>
          <div class="td operation">
            คำสั่ง
          </div>
          <div class="td scrollbar">
          </div>
        </div>

        <div class="table-data">
          <div class="tr">
            <div class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input
                  type="checkbox"
                  (click)="onClickCheckBoxTable('requestList', 0, true)"
                  [checked]="fasle"
                >
                <span></span>
              </label>
            </div>
            <div class="td order">
              1
            </div>
            <div class="td request-id">
              <div class="tag brand">
                741150971
              </div>
            </div>
            <div class="td send-date">
              11/09/2562
            </div>
            <div class="td job-type">
              สั่งประกาศโฆษณา
            </div>
            <div class="td topic">
              เสนอออกหนังสือรอบ 2
            </div>
            <div class="td officer">
              เจ้าหน้าที่เสนอ
            </div>
            <div class="td detail">

            </div>
            <div class="td status">
              <div class="tag edited">
                แก้ไข
              </div>
            </div>
            <div class="td operation">
              <button class="btn btn-icon btn-light-gray">
                <i class="dip-icon-search-plus"></i>
              </button>

              <button class="btn btn-icon btn-white">
                <i class="dip-icon-file-pdf"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="kt-pagination__toolbar">
        <select
          class="form-control kt-font-brand"
          (change)="onChangePerPage($event.target.value, 'paginateRequest')"
        >
          <option
            *ngFor="let perPage of perPageRequestList"
            [value]="perPage"
          > {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          แสดง 1 จาก 10 รายการ
        </span>
      </div>
    </div>
  </div>
</div>
