<!-- Start การค้นหา -->
<div class="kt-portlet search-task">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่ยื่นคำร้อง
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="request_date_1"
                    (click)="request_date_1.open()"
                    [(ngModel)]="input.request_date_1"
                    (dateChange)="clearValidate('request_date_1')"
                    [ngClass]="validate.request_date_1 ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="request_date_1"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="request_date_1"></mat-datepicker-toggle>
                <mat-datepicker #request_date_1></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="request_date_2"
                    (click)="request_date_2.open()"
                    [(ngModel)]="input.request_date_2"
                    (dateChange)="clearValidate('request_date_2')"
                    [ngClass]="validate.request_date_2 ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="request_date_2"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="request_date_2"></mat-datepicker-toggle>
                <mat-datepicker #request_date_2></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            เลขที่คำขอ
          </label>

          <div class="input-wrapper">
            <input
              class="form-control input"
              type="text"
              id="request_number"
              placeholder="เพิ่มข้อความ"
              autocomplete="off"
            />

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            การชำระเงิน
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.type_code"
              (input)="clearValidate('type_code')"
            >
              <option disabled selected hidden [value]="undefined">เลือก</option>
              <option *ngFor="let item of master.typeCodeList" [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่อนุญาต
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="request_date_3"
                    (click)="request_date_3.open()"
                    [(ngModel)]="input.request_date_3"
                    (dateChange)="clearValidate('request_date_3')"
                    [ngClass]="validate.request_date_3 ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="request_date_3"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="request_date_3"></mat-datepicker-toggle>
                <mat-datepicker #request_date_3></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="request_date_4"
                    (click)="request_date_4.open()"
                    [(ngModel)]="input.request_date_4"
                    (dateChange)="clearValidate('request_date_4')"
                    [ngClass]="validate.request_date_4 ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="request_date_4"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="request_date_4"></mat-datepicker-toggle>
                <mat-datepicker #request_date_4></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            สถานะคำร้อง
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.type_code2"
              (input)="clearValidate('type_code2')"
            >
              <option disabled selected hidden [value]="undefined">เลือก</option>
              <option *ngFor="let item of master.typeCodeList2" [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            คำขอ
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.type_code3"
              (input)="clearValidate('type_code3')"
            >
              <option disabled selected hidden [value]="undefined">เลือก</option>
              <option *ngFor="let item of master.typeCodeList3" [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div
                [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                *ngIf="fasle"
              >
                error
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="btn-group-wrapper">
      <button type="button" class="btn btn-brand">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>

      <button type="button" class="btn btn-white">
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
    </div>
  </div>
</div>
<!-- End การค้นหา -->

<!-- Start ตารางแสดง -->
<div class="kt-portlet all-task-list">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i>ตารางแสดง
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table-responsive">
      <div class="table">
        <div class="table-inner freeze-header">
          <div class="tr header">
            <div class="td select center">
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
              >
                <input
                  type="checkbox"
                  (click)="onClickCheckBoxTable('requestList', 0, true)"
                  [checked]="fasle"
                />
                <span></span>
              </label>
            </div>
            <div class="td order center">
              ลำดับ
            </div>
            <div class="td request-id center">
              เลขที่คำขอ
            </div>
            <div class="td submission-date center">
              วันที่ครบกำหนด
            </div>
            <div class="td petition center">
              ตค. ที่มีการแจ้ง
            </div>
            <div class="td proposed-date center">
              วันที่เสนอพิจารณา
            </div>
            <div class="td officer center">
              เจ้าหน้าที่เสนอ
            </div>
            <div class="td consider-date center">
              วันที่พิจารณา
            </div>
            <div class="td detail center">
              รายละเอียดเพิ่มเติม
            </div>
            <div class="td status center">
              สถานะ
            </div>
            <div class="td operation center">
              คำสั่ง
            </div>
            <div class="td scrollbar"></div>
          </div>

          <div class="table-data">
            <div class="tr"
              *ngFor="let item of tableList.column_list; index as i"
              [ngSwitch]="item.status"
            >
              <div class="td select center">
                <label
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                >
                  <input
                    type="checkbox"
                    (click)="onClickCheckBoxTable('requestList', 0, true)"
                    [checked]="fasle"
                  />
                  <span></span>
                </label>
              </div>
              <div class="td order center">
                {{ (i + 1)}}
              </div>
              <div class="td request-id center">
                <div class="tag blue">
                  {{ item.request_id }}
                </div>
              </div>
              <div class="td submission-date center">
                {{ item.submission_date }}
              </div>
              <div class="td petition center">
                ตค. 5(8)
              </div>
              <div class="td proposed-date center">
                {{ item.proposed_date }}
              </div>
              <div class="td officer center">
                {{ item.officer }}
              </div>
              <div class="td consider-date center">
                {{ item.consider_date }}
              </div>
              <div class="td detail center">
                {{ item.detail }}
              </div>
              <div class="td status center">
                <div *ngSwitchCase="'waiting'"
                    class="tag blue">
                  การดำเนินการ
                </div>
                <div *ngSwitchCase="'done'"
                    class="tag">
                  เสร็จสิ้น
                </div>
              </div>
              <div class="td operation">
                <div *ngSwitchCase="'waiting'">
                  <button class="btn btn-icon btn-brand">
                    <i class="dip-icon-play"></i>
                  </button>
                </div>
                <div *ngSwitchCase="'done'">
                  <button class="btn btn-icon btn-light-gray">
                    <i class="dip-icon-search-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!-- pagination -->
    <div class="kt-pagination kt-pagination--brand">
      <div class="kt-pagination__toolbar">
        <span class="pagination__desc">
          จำนวนแถวที่แสดง
        </span>
        <select
          class="form-control kt-font-brand"
          (change)="onChangePerPage($event.target.value, 'paginateRequest')"
        >
          <option *ngFor="let perPage of perPageRequestList" [value]="perPage">
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          จากทั้งหมด 100
        </span>
      </div>
    </div>
  </div>
</div>
<!-- End ตารางแสดง -->