:host .brand-type {
  height: 100%;
  padding: 5px 5px 45px;
}

:host .brand-type .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: 0 auto;
}

:host .brand-type .kt-portlet .kt-portlet__head {
  border-radius: 0;
}

:host .brand-type .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .brand-type .kt-portlet .kt-portlet__body__inner.select-brand-type {
  padding: 0 25px;
  flex-wrap: wrap;
}
