<div class="flex align-items-center brand-type">
  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          เลือกประเภทเครื่องหมาย
        </h3>
      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="kt-portlet__body__inner select-brand-type">
        <div class="form-group">
          <div class="input-wrapper">
            <div class="input-wrapper-row flex-column">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radioBrand"
                  type="radio"
                />
                เครื่องหมายการค้า / บริการ
                <span></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radioBrand"
                  type="radio"
                />
                เครื่องหมายรับรอง
                <span></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input
                  name="radioBrand"
                  type="radio"
                />
                เครื่องหมายร่วม
                <span></span>
              </label>
            </div>

            <div class="feedback-wrapper">
              <div
                *ngIf="false"
                class="invalid-feedback"
              >
                feedback message
              </div>
            </div>
          </div>
        </div>

        <button
          class="btn btn-eform-secondary btn-icon-right"
          (click)="_onClickNext()"
        >
          ถัดไป
          <i class="dip-icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
