<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        <i class="dip dip-icon-play"></i>พิจารณาเอกสาร
      </h4>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
   <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-6">
          <h4 class="sub-head-title">คำขอรับความคุ้มครอง </h4>
        </div>
        <div class="col-3">
          <button class="form-control" style="color: rgb(79, 166, 248); border: 1px solid rgb(79, 166, 248);"> พิจารณาเอกสาร <i class="fa fa-arrows-v"></i></button>
        </div>
        <div class="col-2">
          <button  class="form-control" style="color: white;background-color: rgb(136, 136, 136);" >  <i class="fa fa-stack-overflow"></i> เอกสารแสกน</button>
        </div>
      </div>
      <hr>
      <div class="row mt-2 justify-content-center">
        <div class="col-12" style="text-align: center;">
          <h5> Reproduction of the mark </h5>
        </div>
        <div class="col-12" style="text-align: center;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="" style="min-width: 200px;max-height: 200px;">
        </div>
        <div class="col-12 mt-2 btm-border">
        <p> Registration Number : 11144598</p>
        </div>
        <div class="col-12 mt-2 btm-border">
        <p>subsequent designations under the Madrid Protocol :</p>
        <p>1355 W Henderson Ave, Porterville, CA 93257 United State of America</p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Date of subsequent designation : March 27.2019</p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Date of Notification : 09.05.2019</p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Registration number  :  1144598</p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Regristation date : October 24.1012 </p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Date next payment due : October 24.2022 </p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p>Name and address of  holder : </p>
          <p>1355 W Henderson Ave, Porterville, CA 93257</p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> State of which the holder is national : United State of America </p>
        </div>
        <div class="col-12 mt-2 btm-border">
          <p> Contracting State or Contracting Organization in the territory of which  the holder has a real and
            effective industrial or commercial establishment : United State of America
            </p>
        </div>
       </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-12">
          <h4 class="sub-head-title">ข้อมูลทั่วไป</h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-5 col-sm-12" style="text-align: center;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="" style="min-width: 200px;max-height: 200px;">
        </div>
        <div class="col-lg-7 col-sm-12">
          <div class="row">
            <div class="col-lg-7 col-sm-12">
              <div class="form-group">
                <div class="col-12">
                  <label for="">เลขที่คำขอ</label>
                </div>
                <div class="col-12">
                  <input class="form-control" disabled type="text" name="" id="">
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-sm-12">
              <div class="form-group">
                <div class="col-12">
                  <label for="">วันที่ยื่นคำขอ</label>
                </div>
                <div class="col-12">
                  <input class="form-control" disabled type="text" name="" id="">
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <div class="form-group">
                <div class="col-12">
                  <label for="">ชื่อเจ้าของ</label>
                </div>
                <div class="col-12">
                  <input class="form-control" disabled type="text" name="" id="">
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <div class="form-group">
                <div class="col-12">
                  <label for="">สินค้า/บริการ</label>
                </div>
                <div class="col-12">
                  <textarea class="form-control" name="" id="" cols="30" rows="2" disabled></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <h6 class="sub-head-title">คำสั่งนายทะเบียน Madrid</h6>
        </div>
        <hr>
        <div class="col-12 mt-2">
          <div class="row">
            <h4 class="sub-head-title"> MODEL FORM 12</h4>
          </div>
          <div class="row">
            <p>Model Form 12 : Final Decision That a Change in Ownership Has No Effect (Rule27(4)(e) of the Common Regulations)</p>
          </div>
        </div>
        <div class="col-12 form-group">
          <div class="row">
            <div class="col-12">
             <label for="">l. Office making the declaration</label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-6 form-group">
          <div class="row">
            <div class="col-12">
             <label for="">ll. Number of the international registration: </label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-6 form-group">
          <div class="row">
            <div class="col-12">
             <label for="">National Application No.</label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-12 form-group">
          <div class="row">
            <div class="col-12">
             <label for="">lll. Name of the holder</label>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-12 form-group">
          <div class="row">
            <div class="col-12">
             <label for="">lV. Information concerning the goods and/or services :</label>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-11 ml-2">
                  Please, indicate the scope of the declaration by choosing only of the following options and, where applicable, listing the goods 
and/or services :
                </div>
                <div class="col-12 ml-2">
                    <input type="checkbox">
                      The final decision confirms the previous declaration
                      <span></span>   

                    <input type="checkbox">
                    The final decision reverses the previous declaration, meaning that the change in ownership
                    has effect in the contracting Party
                    <span></span>
                
                    <input class="kt-checkbox " type="checkbox">
                    The final decision partially reverses the previous declaration, meaning that the declaration still affects the goods and/or 
                    services listed below :
                    <span></span>
              
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-2  form-group">
          <div class="row">
            <div class="col-12">
              <label for="">List of goods and/or services :</label>
            </div>
            <div class="col-12">
              <textarea class="form-control" name="" id="" cols="30" rows="4" ></textarea>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
             <label for=""> V. Signature or official seal of the Office making the notification.</label>
            </div>
            <div class="col-12" style="text-align: center;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="" style="min-width: 200px;max-height: 200px;">
            </div>
            <div class="col-12"  style="text-align: center;">
               <p>Miss Somsri Srisom </p> 
               <p>Authorized Officer's Signature</p>
            </div>

          </div>
         
        </div>
        <div class="col-lg-6 col-md-12">
          <label for="" > VI.  Date of notification to the international Bureau</label>
        </div>
        <div class="col-lg-6 col-md-12"> 
          <div class="input-wrapper input-with-icon datepicker">
          <mat-form-field>
            <div class="kt-input-icon kt-input-icon--right">
              <input #key_recive_date id="recive_date" class="form-control input" matInput
                     [matDatepicker]="picker_recive_date" (click)="picker_recive_date.open()"
                      (dateChange)="clearValidate(key_recive_date.id)"
                     autocomplete="off" disabled>
              <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                <i class="dip-icon-calendar"></i>
              </label>
            </div>
            <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_recive_date></mat-datepicker>
          </mat-form-field>
        </div>
        </div>
        <div class="col-6">
          <input class="form-control" type="file">
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="button-list">
          <button type="button" 
          class="btn btn-white"
          (click)="onBackStep()">
      <i class="fa fa-file-text-o"></i>
      ดูเอกสารร่าง
      </button>
    
      <button type="button" 
      class="btn btn-brand">
      <!-- <i class="dip-icon-paper-plane"></i> -->
      บันทึก
      </button>
        </div>
      </div>
      <div class="row justify-content-end mt-2 mb-2">
        <div class="col-2">
          <button type="button" 
          class="btn btn-brand">
          <i class="dip-icon-save"></i>
          บันทึก
          </button>
        </div>
      </div>
    </div>
   </div>



  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button" 
      class="btn btn-white"
      (click)="onBackStep()">
  <!-- <i class="fa fa-arrow-left"></i> -->
  ย้อนกลับ
  </button>

  <button type="button" 
  class="btn btn-brand">
  <!-- <i class="dip-icon-paper-plane"></i> -->
  ถัดไป
  </button>
    </div>
  </div>

</div>
