﻿@using DIP.TM.Utils.Extensions;
@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM01PdfModel
@{
    var view = Model.view;
}




<div class="section detail signature clearfix">
    <div class="section-row clearfix">
        @{
            var people_list = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list : new List<SaveAddressView>();
            var representative_list = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list : new List<SaveAddressView>();

            if (view.sign_inform_person_list == null)
            {
                view.sign_inform_person_list = "";
            }
            if (view.sign_inform_representative_list == null)
            {
                view.sign_inform_representative_list = "";
            }
            bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
            bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
            string[] resultPerson = view.sign_inform_person_list.Split('|');
            string[] resultRepresentative = view.sign_inform_representative_list.Split('|');
            int nSignerPerson = resultPerson.Length;
            int nSignerRepresentative = resultRepresentative.Length;
            int nSignShow = 1;

            if (signPersonAll)
            {
                for (int i = 0; i < people_list.Count(); i++)
                {
                    var p = people_list.ElementAt(i);

                    <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label">เจ้าของ/ตัวแทน</div>
                    </div>
                    <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                            @p.name
                        </div>
                        <div class="label">)</div>
                    </div>

                    nSignShow++;
                }
            }
            @*else
                {
                    @for (int i = 0; i < resultPerson.Length; i++)
                    {
                        if (resultPerson[i] != "" && (resultPerson[i] != "0" || signPersonAll))
                        {
                            if (Int32.TryParse(resultPerson[i], out int num))
                            {
                                var p = people_list.ElementAt(num);

                                if (nSignShow % 2 == 1 && nSignShow != 1)
                                {
                                    <br />
                                }

                                <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">เจ้าของ/ตัวแทน</div>
                                </div>
                                <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                        @p.name
                                    </div>
                                    <div class="label">)</div>
                                </div>

                                nSignShow++;
                            }
                        }
                    }
                }*@

            if (signRepresentativeAll)
            {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                    var r = representative_list.ElementAt(i);

                    <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label">เจ้าของ/ตัวแทน</div>
                    </div>
                    <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                            @r.name
                        </div>
                        <div class="label">)</div>
                    </div>

                    nSignShow++;
                }
            }
            else
            {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                    if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                    {
                        if (Int32.TryParse(resultRepresentative[i], out int num))
                        {
                            var r = representative_list.ElementAt(num);

                            if (nSignShow % 2 == 1 && nSignShow != 1)
                            {
                                <br />
                            }

                            <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">
                                    @r.name
                                </div>
                                <div class="label">)</div>
                            </div>

                            nSignShow++;
                        }
                    }
                }
            }
        }
    </div>
</div>