<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-search"></i>การค้นหา
          </h3>
        </div>
    </div>
  
    <div class="kt-portlet__body"> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group flex">
                    <label class="col-form-label" for="registrationRequester">
                        ประชุมครั้งที่
                    </label>
                    <div class="input-group mb-3">
                        <input #key_request_number class="form-control input" type="text" 
                        id="request_number" 
                        [(ngModel)]="input[key_request_number.id]" 
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '');" >
                    </div>
                    <label class="col-form-label5">/</label>
                    <div class="input-group mb-3">
                        <input #key_request_number class="form-control input" type="text" 
                        id="request_number"
                        [(ngModel)]="input[key_request_number.id]" 
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '');" >
                    </div>
                </div>
            </div>
      
            <div class="col-md-4">
                <div class="form-group flex">
                    <label class="col-form-label2">
                        วันที่
                    </label>
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control"
                            #key_from_date 
                            id="from_date" 
                            [(ngModel)]="input[key_from_date.id]" 
                            [matDatepicker]="from_picker"
                            (click)="from_picker.open()" 
                            (dateChange)="clearValidate(key_from_date.id)"
                        />
                        <div class="input-group-append">
                            <label class="cs-input-group-text" for="from_date">
                            <span class="dip-icon-calendar" style="font-size: 16px;"></span>
                            </label>
                        </div>
                        <mat-datepicker #from_picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row" style="display: flex; align-items: center; justify-content: center;">
            <button type="button" class="btn btn-brand mr-3" (click)="onClickRole01Floor3List()">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-undo mr-3" (click)="onClickReset()">
                <i class="fa fa-undo" style="color: #6D6E71;"></i>
                เริ่มใหม่
            </button>
            <button type="button" class="btn btn-meeting" >
                อ่านข้อมูลวาระการประะชุม
            </button>
        </div>
    </div>
</div>

<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางงาน
            </h3>
        </div>
    </div>
  
    <div class="kt-portlet__body">
        <div class="table table-striped table-responsive table-bordered">
          <table>
            <thead>
              <tr>
                <th class="cs-theader-c1">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                    <input type="checkbox" (click)="checkAllCheckBox(listRole01Floor3, $event.target.checked)" />
                    <span></span>
                  </label>
                </th>
                <th class="cs-theader-c2">ลำดับ</th>
                <th class="cs-theader-c3">เลขที่คำขอ</th>
                <th class="cs-theader-c4">หนังสือ</th>
                <th class="cs-theader-c5">ประเด็น</th>
                <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                <th class="cs-theader-c7">รายละเอียด</th>
                <th class="cs-theader-c8">สถานะ</th>
                <th class="cs-theader-c9">คำสั่ง</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row_item of listRole01Floor3">
                    <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox" [checked]="row_item.is_check" />
                            <span></span>
                        </label>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.index}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="row justify-content-center">
                            <div class="div-brand" style="height: 30px !important;">
                                {{row_item.request_number}}
                            </div>
                        </div>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        ตค.9(5)
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        เหมือนคล้าย
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        นาง นามี มามี
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="row justify-content-center">
                            <button class="btn btn-brand" style="height: 30px !important;">
                                {{row_item.save_status_name}}
                            </button>
                        </div>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <button type="button"
                            class="btn btn-icon btn-brand" 
                            style="height: 30px !important; width: 30px !important;"
                            (click)="onClickSave03SaveProcessEdit(row_item)">
                            <span class="fa fa-play" style="font-size: 15px"></span>
                        </button>
                        <button type="button"
                            class="btn btn-icon btn-undo" 
                            style="height: 30px !important; width: 30px !important;"
                            (click)="onClickSave03SaveProcessEdit(row_item)">
                            <span class="fa fa-file-pdf-o" style="font-size: 15px"></span>
                        </button>
                    </td>
                </tr>
            </tbody>   
          </table>
        </div> 
      </div> 
      
    <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateRole01Floor3"
                    (onClickList)="onClickRole01Floor3List()"></app-paging>
    </div>
</div>
<div class="row" style="display: flex; align-items: flex-end; justify-content: flex-end; margin-right: 10px;">
    <button type="button" class="btn btn-brand">
        <i class="fa fa-paper-plane"></i>
        ส่งพิมพ์หนังสือ
    </button>
</div>