:host {

    .form-group {
        &.flex {
            align-items: flex-start;
    
            .col-form-label {
                min-width: 180px;
                justify-content: flex-end;
            }

            .col-form-label2 {
                text-align: right;
                min-width: 150px;
                margin-top: 7px;
                margin-right: 10px;
                padding-right: 9.45px;
                justify-content: flex-end;
            }

            .col-form-label3 {
                min-width: 50px;
                margin-top: 7px;
                text-align: center;
                justify-content: center;
            }

            .col-form-label4 {
                text-align: right;
                min-width: 100px;
                margin-top: 7px;
                margin-right: 10px;
                padding-right: 9.45px;
                justify-content: flex-end;
            }

            .col-form-label5 {
              margin-top: 7px;
              margin-right: 8px;
              padding-right: 9.45px;
              margin-left: 8px;
              padding-left: 9.45px;
          }
        }
    }

    .cs-input-group-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6D6E71;
        text-align: center;
        white-space: nowrap;
        background-color: #E1E5EC;
        border: 1px solid #E1E5EC;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    button {
      &.btn {
        &.btn-undo {
          border-color: #6D6E71;
          
          &:hover {
            background-color: #b6b7bd;
    
            .icon {
              -webkit-filter: brightness(100);
              filter: brightness(100);
            }
          }
        }

        &.btn-meeting {
          background-color: #474747;
          border-color: #474747;
          color: white;
          
          &:hover {
            background-color: #757575;
    
            .icon {
              -webkit-filter: brightness(100);
              filter: brightness(100);
            }
          }
        }
      }
    }
    
    .div-brand {
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: normal;
      font-size: 16px;
      padding: 7px 1rem 6px;
      white-space: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #0C84C8;
      border-color: #0C84C8;
      color: white;
      min-width: 108.38px;

      &:hover {
        background-color: #1475AB;
        border-color: #1475AB;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    .cs-tbody-v-align-mid {
        vertical-align: middle;
        text-align: center;
        justify-content: center;
    
        .cs-width-sm {
          width: 6.5rem;
          text-align: right;
        }
    
        label.cs-checkbox {
         min-height: 0px;
         margin-left: 36.25%;
        }
      }

    .table{

        th{
            color: #6D6E71;
        }

        .cs-theader-c1 {
          width: 3.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c2 {
          min-width: 5.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c3 {
          min-width: 16.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c4 {
          min-width: 15.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c5 {
          min-width: 15.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c6 {
          min-width: 24.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c7 {
          min-width: 30.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c8 {
          min-width: 13.0rem;
          vertical-align: middle;
          text-align: center; 
        }
    
        .cs-theader-c9 {
          min-width: 10.0rem;
          vertical-align: middle;
          text-align: center; 
        }
        
      }
}
