<div class="modal {{className}}">
  <div class="modal-dialog {{modalSize}} {{modalVerticalCenter}}">
    <div class="modal-content">
      <div class="modal-body">
        <ng-content select=[body-children]></ng-content>
      </div>
    </div>
  </div>
</div>