<div class="kt-portlet public-role04-check-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role04-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     paginatePublicRole04item [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner public-role04-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_role04_receive_start_date">วันที่ตรวจสอบ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role04_receive_start_date id="public_role04_receive_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role04_receive_start_date" (click)="picker_public_role04_receive_start_date.open()"
                         [(ngModel)]="input[key_public_role04_receive_start_date.id]" (dateChange)="clearValidate(key_public_role04_receive_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role04_receive_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role04_receive_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role04_receive_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role04_receive_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_role04_receive_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role04_receive_end_date id="public_role04_receive_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role04_receive_end_date" (click)="picker_public_role04_receive_end_date.open()"
                         [(ngModel)]="input[key_public_role04_receive_end_date.id]" (dateChange)="clearValidate(key_public_role04_receive_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role04_receive_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role04_receive_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role04_receive_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role04_receive_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_role04_receive_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role04-check-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_public_role04_receive_status_code
                      class="form-control"
                      id="public_role04_receive_status_code"
                      paginatePublicRole04item
                      [(ngModel)]="input[key_public_role04_receive_status_code.id]"
                      (change)="binding('input', 'public_role04_receive_status_code', $event.target.value)"
                      [value]="input.public_role04_receive_status_code">
                <option *ngFor="let item of master.publicRole04ReceiveStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role04_receive_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_public_role04_receive_status_code.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner public-role04-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="book_index">เลมที่</label>
            <div class="input-wrapper">
              <input #key_book_index class="form-control input" type="text" id="book_index" placeholder="เลมที่"
                     paginatePublicRole04item [(ngModel)]="input[key_book_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_index.id]" class="invalid-feedback">
                  {{validate[key_book_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole04CheckList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role04-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole04CheckSend()">
        <i class="dip-icon-save"></i>
        เสนอพิจารณาที่เลือกทั้งหมด
      </button>
      <!--<button type="button"
                       class="btn btn-create-new btn-icon"
                       (click)="onClickPublicRole04CheckAdd()">
        <i class="dip-icon-add-new"></i>

      </button><button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickPublicRole04CheckDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole04Check')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td>ชื่อผู้ชำระเงิน</td>
          <td>ค่าธรรมเนียม</td>
          <td>วันที่ครบกำหนดค่าธรรมเนียม</td>
          <td>วันที่ออกหนังสือ</td>
          <td>วันที่ตอบรับ</td>
          <td>วันที่ชำระเงิน</td>
          <td>ผู้พิจารณา</td>
          <td>วันที่พิจารณา</td>
          <td>รายละเอียดเพิ่มเติม</td>
          <td class="public_role04_receive_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>
          <!--
          <td class="book_start_date_text">วันที่ประกาศ</td>
          <td class="book_end_date_text">วันที่ครบประกาศ</td>
          <td class="book_index">เล่มที่</td>
          <td class="request_item_sub_type_1_code_text">จำพวก</td>
          <td class="public_role05_by_name">ผู้พิจารณา</td>
          <td class="public_role05_date_text">วันที่พิจารณา</td>
          <td class="edit_delete">คำสั่ง</td>
            -->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole04Check">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole04Check', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>

          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="payer_name">{{row_item.payer_name}}</td>
          <td class="total_price">{{row_item.total_price}}</td>
          <td class="book_end_date_text">{{row_item.book_end_date_text}}</td>
          <td class="book_start_date_text">{{row_item.book_start_date_text}}</td>
          <td class="book_acknowledge_date_text">{{row_item.book_acknowledge_date_text}}</td>
          <td class="receipt_receive_date">{{row_item.receipt_receive_date_text}}</td>
          <td class="public_role05_by_name">{{row_item.public_role05_by_name}}</td>
          <td class="public_role05_date_text">{{row_item.public_role05_date_text}}</td>
          <td class="public_role04_check_remark">{{row_item.public_role04_check_remark}}</td>
          <td class="public_role04_receive_status_name">{{row_item.public_role04_receive_status_name}}</td>

          <!--<td class="book_start_date_text">{{row_item.book_start_date_text}}</td>
          <td class="book_end_date_text">{{row_item.book_end_date_text}}</td>
          <td class="book_index">{{row_item.book_index}}</td>
          <td class="request_item_sub_type_1_code_text">{{row_item.request_item_sub_type_1_code_text}}</td>
          <td class="public_role05_by_name">{{row_item.public_role05_by_name}}</td>
          <td class="public_role05_date_text">{{row_item.public_role05_date_text}}</td>
          <td class="public_role04_remark">{{row_item.public_role04_remark}}</td>
          <td class="public_role04_receive_status_name">{{row_item.public_role04_receive_status_name}}</td>-->
          <td class="edit_delete">
            <i class="dip-icon-play" (click)="onClickPublicRole04CheckEdit(row_item)"></i>
            <!--<i class="dip-icon-edit" (click)="onClickPublicRole04CheckEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickPublicRole04CheckDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole04Check"
                (onClickList)="onClickPublicRole04CheckList()"></app-paging>
  </div>
</div>



<div class="div_popup is_product_show" *ngIf="popup.is_product_show">
  <div class="div_popup_background" (click)="popup.is_product_show = false">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">

      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="title">
            เลขที่คำขอ ({{rowEdit.request_number}})
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>


      <div class="column-2">
        <div class="div-pdf">
          <iframe id="pdf"
                  frameborder="0"
                  scrolling="no"
                  seamless=""
                  allowfullscreen="allowfullscreen"
                  style="width:100%;height:700px"
                  [src]="this.rowEdit.pdf_url"></iframe>
        </div>
        <div class="div-information">
          <div class="kt-portlet public-role04-check-list-job">
            <div class="kt-portlet__head ">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  ข้อมูลทั่วไป
                </h3>
              </div>
              <div class="kt-portlet__head-action">
              </div>
            </div>

            <div class="kt-portlet__body">

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="request_number">คำขอเลขที่</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_number"
                           placeholder="คำขอเลขที่"
                           [(ngModel)]="rowEdit.request_number"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="request_date_text">วันที่ยื่น</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_date_text"
                           placeholder="วันที่ยื่น"
                           [(ngModel)]="rowEdit.request_date_text"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="name">เจ้าของ</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="name"
                           [(ngModel)]="rowEdit.name"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="representative_name">ตัวแทน</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="representative_name"
                           [(ngModel)]="rowEdit.representative_name"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="people_information">ที่อยู่</label>
                  <div class="input-wrapper">
                    <textarea class="form-control input"
                              type="text"
                              id="people_information"
                              [(ngModel)]="rowEdit.people_information"
                              autocomplete="off"
                              disabled="disabled"></textarea>
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวก</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_item_sub_type_1_code_text"
                           [(ngModel)]="rowEdit.request_item_sub_type_1_code_text"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

              <div class="kt-portlet__body__inner public-role04-check-lister">
                <div class="form-group flex-column">
                  <label class="col-form-label" for="request_item_sub_type_1_description">สินค้า/บริการ</label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           id="request_item_sub_type_1_description"
                           [(ngModel)]="rowEdit.request_item_sub_type_1_description"
                           autocomplete="off"
                           disabled="disabled" />
                  </div>

                </div>
              </div>

            </div>


            <div class="kt-portlet__footer ">
            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="kt-portlet__footer">
      <div class="button-list">
        <button type="button"
                class="btn btn-danger"
                (click)="onClickPublicRole04CheckSendBack()">
          <i class="dip-icon-reset"></i>
          ส่งแก้ไข
        </button>
        <button type="button"
                class="btn btn-brand"
                (click)="onClickPublicRole04CheckSend(rowEdit)">
          <i class="dip-icon-forward"></i>
          ส่งพิจารณาอนุมัติ
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div_popup" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>
    <div class="kt-portlet__body__inner public-role01-item-lister body">
      <div class="form-group">
        <div class="input-wrapper">
          <select class="form-control input"
                  [(ngModel)]="popup.department_code">
            <option value="{{item.code}}"
                    *ngFor="let item of master.publicRole04SendBackDepartmentList">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner public-role01-item-lister body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="popup.reason"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner public-role01-item-lister body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickPublicRole04DocumentSendChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
