$wz-color-default: #e6e6e6 !default;
$wz-color-current: #1475ab !default;
$wz-color-done: #1475ab !default;
$wz-color-optional: #1475ab !default;
$wz-color-editing: #ff0000 !default;

@import "../../../../../node_modules/angular-archwizard/archwizard.scss";
// @import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";

@media (min-width: 576px) {
    .nc-text-align {
        text-align: left !important;
    }

    .nc-middle-label {
        text-align: left !important;
    }
    .nc-button-float-right {
        float: left;
    }
}

@media (min-width: 768px) {
    .nc-text-align {
        text-align: right !important;
    }

    .nc-middle-label {
        text-align: center !important;
    }

    .nc-button-float-right {
        float: right;
    }
}

@media (min-width: 1024px) {
    .nc-button-float-right {
        float: right;
    }
}

.table-responsive {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
}

.table {
    color: #6d6e71;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: table;
    width: 100% !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    min-width: 800px;
}

.datepicker {
    width: 100%;
}

.table-bordered thead th {
    text-align: center;
}

.table-bordered thead th,
.table-bordered thead td,
.table-bordered th,
.table-bordered td {
    border-bottom-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
}

.nc-col-form-label {
    white-space: nowrap;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    .required {
        color: #9f0d1d;
    }
}

.tooltip-color {
    background-color: white;
    border-color: #0c84c8;
    color: #6d6e71;
}

.nc-middle-label {
    white-space: nowrap;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 16px;
    color: #6d6e71;
}

input,
textarea,
select {
    &.form-control {
        color: red;
        font-size: 16px;
        color: #000000;
        font-family: "Noto Sans Thai", "Noto Sans";
        font-weight: normal;
        // padding: 0.5rem 1rem;
        // height: calc(1.5em + 1rem + 2px);
         width: 100% !important; //Kittipich H. 07/07/2020
        width: 100%; //Kittipich H. 07/07/2020
        min-width: 100%;
    }
}

.m-b-5 {
    margin-bottom: 5px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-l-5 {
    padding-left: 5px;
}
.p-r-5 {
    padding-right: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-t-10 {
    margin-top: 105px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-r-10 {
    padding-right: 10px;
}

.input-group .kt-checkbox {
    margin-bottom: 0 !important;
}
.scroll {
    max-width: 100%;
    overflow-y: auto;
}

aw-wizard {
    width: 100%;
}

// .nc-btn {
//     width: 100%;
// }

// .form-group {
//     margin-bottom: 1.25em;
// } //bum

.btn-align-center {
    margin: 0 auto;
}

.nc-label-header {
    color: #0c84c8 !important;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    font-size: 18px;
}

.input-group i {
    color: inherit;
    line-height: 0;
}

.border-bottom {
    border-bottom: 1px solid #ebedf2;
}

.border-all {
    border: 1px solid #ebedf2;
    padding: 0px;
}

.tag {
    background-color: #bac3d0;
    border-radius: 4px;
    padding: 1px 8px;
    text-align: center;
    color: white;
    min-height: 26px;
    display: flex;
    align-items: center;

    &.brand {
        background-color: #0c84c8;
        color: white;
    }

    &.waiting-to-check {
        background-color: #385d8a;
        color: white;
    }
    
}
.m-l{
    margin-left: 30px;
}
.m-l-40{
    margin-left: 40px;
}
.form-control2 {
    color: red;
    font-size: 16px;
    color: #000000;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: normal;
    // padding: 0.5rem 1rem;
    // height: calc(1.5em + 1rem + 2px);
     width: 90%  !important;
    
    min-width: 100%;
}