<div class="kt-portlet">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลทั้วไป
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body flex div-information">
    <div class="main-request-wrapper">
      <div class="main-request-image-wrapper">
        <div class="bx-box-picture">
          <img *ngIf="input.trademark_2d_physical_path && input.trademark_2d_physical_path != ''" src="{{input.trademark_2d_physical_path}}" />

          <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
            <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
              <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer()"></i>
              </a>
            </div>
          </div>

          <div class="button">
            <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
              หน้าสอบถาม
            </button>
          </div>

        </div>
      </div>
    </div>
    <div>
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="registration_number">ทะเบียนเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="rule_28_date_text">วันที่ยื่นคำขอ ม.28</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="rule_28_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.rule_28_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <!--<div class="flex-column">
            <label class="col-form-label" for="registration_number">วันที่ยื่นตามม. 28</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="registration_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.registration_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
        </div>
      </div>
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">

          <div class="flex-column">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>


          <div class="flex-column">
            <label class="col-form-label" for="expired_date_text">วันที่ครบกำหนด</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="expired_date_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.expired_date_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวกสินค้า</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_item_sub_type_1_code_text"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_item_sub_type_1_code_text"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>


          <!--<div class="flex-column">
            <label class="col-form-label" for="irr_madrid_number">เลขทะเบียนระหว่างประเทศ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="irr_madrid_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.irr_madrid_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
          <!--<div class="flex-column">
            <label class="col-form-label" for="reference_number">เลขที่อ้างอิงคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.reference_number"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->


        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="people_name">เจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_source_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.people_name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label" for="trademark_status_code">สถานะคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="trademark_status_code"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.trademark_status_code"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <!--<div class="flex-column">
            <label class="col-form-label considering_receiver_by_name" for="considering_receiver_by_name">นายทะเบียน / ผู้ตรวจสอบ</label>
            <div class="input-wrapper">
              <input class="form-control input considering_receiver_by_name"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [value]="(input.checking_receiver_by_name || '') + ' / ' + (input.considering_receiver_by_name || '')"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <div class="flex-column">
            <label class="col-form-label" for="request_source_name">ยื่นคำร้องจาก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_source_name"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_source_name"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>

          <div class="flex-column">
            <label class="col-form-label considering_receiver_by_name" for="considering_receiver_by_name">นายทะเบียน / ผู้ตรวจสอบ</label>
            <div class="input-wrapper">
              <input class="form-control input considering_receiver_by_name"
                     type="text"
                     id="reference_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [value]="(input.checking_receiver_by_name || '') + ' / ' + (input.considering_receiver_by_name || '')"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="kt-portlet__footer hide">

  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        รายละเอียดคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole05CreateSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 1"
             (click)="tab_menu_show_index = 1">คำสั่งนายทะเบียน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 2"
             (click)="tab_menu_show_index = 2">พิจารณาเอกสาร</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 3"
             (click)="tab_menu_show_index = 3">เจ้าของ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 5"
             (click)="tab_menu_show_index = 5">ตัวแทน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 5"
             (click)="tab_menu_show_index = 5">บัตรหมาย</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 6"
             (click)="tab_menu_show_index = 6">รายการสินค้า</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 7"
             (click)="tab_menu_show_index = 7">ค่าธรรมเนียม</div>
        <!--<div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 8"
             (click)="tab_menu_show_index = 8">มาตรา</div>-->
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 9"
             (click)="tab_menu_show_index = 9">ประวัติสถานะ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 10"
             (click)="tab_menu_show_index = 10">เอกสารสแกน</div>

        <div class="div-tab-action">
          <!--<button type="button"
                  class="btn btn-brand"
                  (click)="onClickDocumentRole05CreateSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>-->
        </div>

      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
          <app-table [initial_table]="tableInstructionRule" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
          <app-table [initial_table]="tableSaveDocument" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
          <app-table [initial_table]="tablePeople" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
          <app-table [initial_table]="tableRepresentative" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
          <app-address [params]="[contactAddress, master]"></app-address>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
          <app-table [initial_table]="tableProduct" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
          <app-table [initial_table]="tableReceiptItem" [master]="master"></app-table>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
        </div>

        <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
          <app-table [initial_table]="tableHistory" (onClickCommand)="onClickCommand($event)"></app-table>
        </div>

        <div class="div-tab" [class.hide]="tab_menu_show_index != 10">
          <app-table [initial_table]="tableDocumentScan" [title]="'ตารางเอกสารสแกน'"></app-table>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        การตรวจสอบเพื่อคุมเวลา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="element-list" *ngIf="data.document_role04_create_type_code != 'RECOVER'">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" *ngFor="let item of master.documentRole04CreateListCodeList">
        <input type="checkbox"
               [checked]="documentRole04Create[item.code]"
               (click)="oneWayDataBinding(item.code, $event.target.checked, documentRole04Create)" /> {{item.name}}
        <span></span>
      </label>
    </div>
    <div class="element-list" *ngIf="data.document_role04_create_type_code == 'RECOVER'">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" *ngFor="let item of master.documentRole04CreateList2CodeList">
        <input type="checkbox"
               [checked]="documentRole04Create[item.code]"
               (click)="oneWayDataBinding(item.code, $event.target.checked, documentRole04Create)" /> {{item.name}}
        <span></span>
      </label>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        บันทึกเสนอนายทะเบียน
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body flex">
    <div class="kt-portlet__body__inner">
      <div class="form-group flex">
        <div class="flex-column">
          <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
          <div class="input-wrapper">
            <input class="form-control input"
                   type="text"
                   id="request_number"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                   [(ngModel)]="data.request_number"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="form-group flex">
        <div class="flex-column">
          <label class="col-form-label" for="document_role04_create_type_code">งาน</label>
          <div class="input-wrapper">
            <select class="form-control"
                    (change)="oneWayDataBinding('document_role04_create_type_code', $event.target.value, data)"
                    [(ngModel)]="data.document_role04_create_type_code"
                    [value]="data.document_role04_create_type_code">
              <option *ngFor="let item of master.documentRole04CreateTypeCodeList"
                      [value]="item.code">
                {{item.name}}
              </option>
            </select>

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>

        <div class="flex-column">
          <label class="col-form-label"
                 for="document_role05_create_send_date_text">วันที่เสนอ</label>

          <div class="input-wrapper">
            <input class="form-control input"
                   type="text"
                   id="document_role05_create_send_date_text"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                   [(ngModel)]="data.document_role05_create_send_date_text"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>

        <div class="flex-column">
          <label class="col-form-label" for="document_role05_create_by_name">นายทะเบียน</label>
          <div class="input-wrapper">
            <input class="form-control input"
                   type="text"
                   id="document_role05_receiver_by_name"
                   [(ngModel)]="data.document_role05_create_by_name"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner" *ngIf="data.document_role04_create_type_code == 'RELEASE'">
      <div class="form-group flex">
        <div class="flex-column">
          <label class="col-form-label" for="instruction_rule_name">
            {{data.document_role04_create_type_code != 'RECOVER' ? 'รายละเอียดเสนอ' : 'เรื่องเดิม'}}
            <i class="dip-icon-search"
               (click)="popup.is_instruction_rule_select = true; "></i>
          </label>
          <div class="input-wrapper">
            <textarea class="form-control input"
                      type="text"
                      id="value_01"
                      [(ngModel)]="data.value_01"
                      rows="5"
                      autocomplete="off"></textarea>
            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner" *ngIf="data.document_role04_create_type_code != 'RECOVER'">
      <div class="form-group flex">

        <div class="flex-column">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="value_02">รายละเอียดเพิมเติม</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="value_02"
                          [(ngModel)]="data.value_02"
                          rows="5"
                          autocomplete="off"></textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="kt-portlet__body__inner" *ngIf="data.document_role04_create_type_code == 'RECOVER'">
      <div class="form-group flex">
        <div class="flex-column">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="value_01">เรื่องเดิม</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="value_01"
                          [(ngModel)]="data.value_01"
                          rows="5"
                          autocomplete="off"></textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner" *ngIf="data.document_role04_create_type_code == 'RECOVER'">
      <div class="form-group flex">
        <div class="flex-column">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="value_02">ข้อเท็จจริง</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="value_02"
                          [(ngModel)]="data.value_02"
                          rows="5"
                          autocomplete="off"></textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner" *ngIf="data.document_role04_create_type_code == 'RECOVER'">
      <div class="form-group flex">

        <div class="flex-column">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="value_03">ความเห็น</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="value_03"
                          [(ngModel)]="data.value_03"
                          rows="5"
                          autocomplete="off"></textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickDocumentRole05CreateSend()">
        <i class="dip-icon-forward"></i>
        ส่งพิจารณา
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole05CreateItemDocumentScan()">
        <i class="dip-icon-file-alt"></i>
        เอกสาร
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="help.Close()">
        <i class="dip-icon-delete-cross"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>

<!--

<div class="div_popup is_instruction_rule_select" *ngIf="popup.is_instruction_rule_select">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            บันทึกเสนอนายทะเบียน
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>
      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="new_instruction_rule_code">คำสั่ง</label>
              <div class="combobox-list">
                <div class="combobox"
                     (click)="popup.instruction_rule_select = item"
                     [class.active]="popup.instruction_rule_select == item"
                     *ngFor="let item of master.postRoundInstructionRuleCodeList">
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_select_name">งาน</label>
              <textarea class="form-control input"
                        type="text"
                        id="instruction_rule_select_name"
                        rows="5"
                        [value]="(popup.instruction_rule_select.name || '') + ' - ' + (popup.instruction_rule_select.description || '')"
                        autocomplete="off"
                        disabled="disabled"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClicDocumentRole04CreateInstructionRuleSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="popup.is_instruction_rule_select = false">
            <i class="dip-icon-delete-cross"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="div_popup is_instruction_rule_file" *ngIf="popup.is_instruction_rule_file">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            เพิ่มเอกสาร
          </h3>
        </div>
        <div class="kt-portlet__head-action">
          <i class="dip-icon-delete-cross" (click)="popup.is_instruction_rule_file = false"></i>
        </div>
      </div>

      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_number">คำขอเลขที่</label>

              <input class="form-control input"
                     type="text"
                     id="request_number"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.request_number"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>

          <!--<div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_file.post_round_instruction_rule_file_type_code">กลุ่มที่แนบ</label>
              <div class="input-wrapper">
                <select class="form-control"
                        [(ngModel)]="popup.instruction_rule_file.post_round_instruction_rule_file_type_code"
                        [value]="popup.instruction_rule_file.post_round_instruction_rule_file_type_code">
                  <option *ngFor="let item of master.postRoundInstructionRuleFileTypeCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>-->

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_file.file_name">
                ไฟล์ที่แนบ
              </label>
              <input type="file"
                     name="myfile"
                     class="upload-input"
                     (change)="
                          onClickUpload(
                            $event,
                            'input'
                          )
                        " />
            </div>
          </div>
        </div>


        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="popup.instruction_rule_file.remark">รายละเอียด</label>

              <textarea class="form-control input"
                        type="text"
                        id="popup.instruction_rule_file.remark"
                        [(ngModel)]="popup.instruction_rule_file.remark"
                        rows="5"
                        autocomplete="off"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole05CreateInstructionRuleFileAdd()">
            <i class="dip-icon-add-new"></i>
            เพิ่มเอกสาร
          </button>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body">
      <!--<div class="div-tab-list">-->
      <!--<div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_file_show_index == 1"
             (click)="tab_menu_file_show_index = 1; updateTableInstructionRuleFile()">เอกสารประกอบพิจารณา</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_file_show_index == 2"
             (click)="tab_menu_file_show_index = 2; updateTableInstructionRuleFile()">เอกสารสแกน</div>
      </div>-->
      <!--<div class="div-tabs">
        <div class="div-tab">-->
      <app-table [initial_table]="tableInstructionRuleFile" [master]="master" (onClickCommand)="onClickCommand($event)"></app-table>
      <!--</div>
      </div>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div class="div_popup is_instruction_rule_select" *ngIf="popup.is_instruction_rule_select">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            บันทึกเสนอนายทะเบียน
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>
      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="new_instruction_rule_code">คำสั่ง</label>
              <div class="combobox-list">
                <div class="combobox"
                     (click)="popup.instruction_rule_select = item"
                     [class.active]="popup.instruction_rule_select == item"
                     *ngFor="let item of master.documentRole04ReleaseReasonCodeList">
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="instruction_rule_select_name">งาน</label>
              <textarea class="form-control input"
                        type="text"
                        id="instruction_rule_select_name"
                        rows="10"
                        [value]="(popup.instruction_rule_select.name || '') + ' - ' + (popup.instruction_rule_select.description || '')"
                        autocomplete="off"
                        disabled="disabled"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentRole05CreateInstructionRuleSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
          <button type="button"
                  class="btn btn-danger"
                  (click)="popup.is_instruction_rule_select = false">
            <i class="dip-icon-delete-cross"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
