.tree .ul,
.tree .t-li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0;
  text-align: center;
  width: 100%;
  /* margin-top: -12px; */
}

ul#node {
  margin-left: 2px;
}

.tree,
.tree .ul {
  display: flex;
}

  .tree .ul {
    width: 100%;
    text-align: left;
  }

  .tree .t-li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
    text-align: left;
  }

    .tree .t-li:before {
      outline: solid 1px #0C84C8;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: -2px;
      /* outline: solid 1px #0C84C8;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0; */
      /* width: 140px; */
    }

    .tree .t-li:first-child:before {
      left: 50%;
    }

    .tree .t-li:last-child:before {
      width: 0;
      /*top: -2px;*/
    }

  .tree.more-than-1 .t-li:last-child:before {
    width: 68px;
  }

  .tree.more-than-3 .t-li .line:first-child:before {
    left: 1px
  }

.borderLeft {
  border-left: 2px solid #0C84C8;
}


.tree code,
.tree .t-span {
  border: solid .1em #0C84C8;
  border-radius: .2em;
  display: inline-block;
  margin: 13px 18px 0;
  padding: 0.2em 10px;
  position: relative;
  width: 106px;
  color: #0C84C8
}

/* .tree .ul:before,
.tree code:before,
.tree .t-span:before {
  outline: solid 1px #0C84C8;
  content: "";
  height: .5em;
  left: 50%;
  position: absolute;
} */

.outline-bottom {
  outline: solid 1px #0C84C8;
  content: "";
  height: 1.5em;
  left: 70px;
  position: absolute;
  top: 0;
}

.top {
  text-align: center;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: 1;
}

.level-top,
.level-0 {
  cursor: pointer;
  background-color: black;
  color: white;
  border: solid .1em #666;
  border-radius: .2em;
  display: inline-block;
  padding: .2em .5em;
  width: 96px
}

.div-level-0 {
  margin-top: -6px;
}

.level-0 {
  background-color: #0C84C8;
  display: none;
}

.outline-div {
  outline: solid 1px #0C84C8;
  height: 2.5em;
  display: none;
}

.tree .ul:before {
  top: -.5em;
}

.tree code:before,
.tree .t-span:before {
  top: -.55em;
}

.tree > .t-li {
  margin: 0 auto;
}

  .tree > .t-li:before,
  .tree > .t-li:after,
  .tree > .t-li > code:before,
  .tree > .t-li > .t-span:before {
    outline: none;
  }

.div-border-left {
  border-left: 1px solid #666;
  position: relative;
  left: 72px;
}

.div-border-bottom {
  border-bottom: 1px solid #666;
  padding-top: 30px;
  position: absolute;
  width: 22px;
}

.div-border-bottom2 {
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  width: 22px;
}

.text-data {
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #0C84C8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  top: 18px;
  display: inline-block;
  margin-bottom: 8px;
  padding: 8px;
  padding: 0.2em 10px;
  border-radius: .2em;
  background-color: white;
  z-index: 2;
  width: 106px;
  color: #0C84C8;
}

.btn-symbol, .btn-symbol2 {
  position: absolute;
  background: #0C84C8;
  border-radius: 50%;
  padding: 0px 3.5px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  top: 4px;
}

.btn-symbol2 {
  top: 6px;
}

.label-text {
  padding-left: 20px;
  margin: 0;
  cursor: pointer;
}

/*  ---------------------  */
