<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: medium;">
        <i class="material-icons">layers</i> เอกสารแนบ
      </h5>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col"> ลำดับ</th>
                <th scope="col">ชื่อเอกสาร</th>
                <th scope="col">หัวข้อ</th>
                <th scope="col"> วันที่แนบ</th>
                <th scope="col"> คำสั่ง</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)" [checked]="fasle">
                    <span></span>
                  </label></td>
                <td> 1</td>
                <td>741150971</td>
                <td>14000000</td>
                <td>10/10/2560</td>

                <td> <button class="btn btn-icon btn-brand">
                    <i class="dip-icon-play"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)" [checked]="fasle">
                    <span></span>
                  </label></td>
                <td> 1</td>
                <td>741150971</td>
                <td>14000001</td>
                <td>10/10/2560</td>

                <td> <button class="btn btn-icon btn-brand">
                    <i class="dip-icon-play"></i>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="kt-portlet__footer">
    <div class="row col-md-12">
      <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateRequest')">
          <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
        </select>
      </div>
      <div class="col-sm-12 col-md-2 m-b-5">
        <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 5 จาก 3
          รายการ</label>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-sm-12 col-md-4 m-b-5">
        <button class="btn btn-brand nc-button-float-right">
          <i class="dip-icon-print"></i>
          พิมพ์ที่เลือกทั้งหมด
        </button>
      </div>
    </div>


  </div>
</div>