<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-play"></i>คำขอให้บันทึกการจดทะเบียนระหว่างประเทศแทนการจดทะเบียนในราชอาณาจักร(741150971)
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
      <aw-wizard-step stepTitle="ข้อมูลทั่วไป" [navigationSymbol]="{ symbol: '1' }">
        <div class="row form-group">
          <div class="col-sm-12 m-b-5">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h4 class="kt-portlet__head-title">
                        ข้อมูลเลขที่คำขอในประเทศ
                      </h4>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="row">
                      <div class="col-lg-4 col-md-8">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                          alt="">
                      </div>
                      <div class="col-lg-8 col-md-12 label-div-not-same-line">
                        <div class="row ">
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขที่คำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สถานะล่าสุด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">วันที่ยื่นคำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">วันที่ครบกำหนด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-1">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">จำพวกสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">รายการสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <textarea class="form-control input" name="" id="" cols="30" rows="2" disabled>

                                      </textarea>
                                  <!-- <input class="form-control input"
                                             type="text"
                                             id="request_number"
                                             [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                             autocomplete="off"
                                             disabled="disabled" /> -->

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <h4 class="sub-head-title" style="padding-top: 20px;">
                            เจ้าของ
                          </h4>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขที่คำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สถานะล่าสุด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ที่อยู่</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สัญชาติ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">อาชีพ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เบอร์โทร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">โทรสาร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวประชาชน/นิติบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวผู้เสียภาษี</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <h4 class="sub-head-title">
                              ตัวแทน
                            </h4>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ประเภทบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ชื่อตัวแทน</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="row  label-div-not-same-line">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ที่อยู่</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <textarea class="form-control input" name="" id="" cols="30" rows="2"
                                      disabled></textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สัญชาติ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">อาชีพ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เบอร์โทร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">โทรสาร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวประชาชน/นิติบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวผู้เสียภาษี</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h4 class="kt-portlet__head-title">
                        ข้อมูลเลขที่คำขอในประเทศ
                      </h4>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <div class="row">
                      <div class="col-lg-4 col-md-8">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                          alt="">
                      </div>
                      <div class="col-lg-8 col-md-12 label-div-not-same-line">
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขที่คำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สถานะล่าสุด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">วันที่ยื่นคำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group flex">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">วันที่ครบกำหนด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-1">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">จำพวกสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">รายการสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <textarea class="form-control input" name="" id="" cols="30" rows="2" disabled>

                                  </textarea>
                                  <!-- <input class="form-control input"
                                         type="text"
                                         id="request_number"
                                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                         autocomplete="off"
                                         disabled="disabled" /> -->

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <h4 class="sub-head-title" style="padding-top: 20px;">
                            เจ้าของ
                          </h4>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขที่คำขอ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สถานะล่าสุด</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ที่อยู่</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สัญชาติ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group ">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">อาชีพ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เบอร์โทร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">โทรสาร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวประชาชน/นิติบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวผู้เสียภาษี</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <h4 class="sub-head-title">
                              ตัวแทน
                            </h4>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ประเภทบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ชื่อตัวแทน</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="row  label-div-not-same-line">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">ที่อยู่</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <textarea class="form-control input" name="" id="" cols="30" rows="2"
                                      disabled></textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">สัญชาติ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">อาชีพ</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เบอร์โทร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">โทรสาร</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row label-div-not-same-line">
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวประชาชน/นิติบุคคล</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-12">
                                  <label class="" for="request_number">เลขประจำตัวผู้เสียภาษี</label>
                                </div>
                                <div class="col-12">
                                  <div class="input-wrapper">
                                    <input class="form-control input" type="text" id="request_number"
                                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                      autocomplete="off" disabled="disabled" />

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="form-group row ">

          <div class=" button-list">
            <button type="button" class="btn btn-white btn-align-center" (click)="onCancle()">
              <i class="dip-icon-close"></i>
              ยกเลิก
            </button>
            <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
              <i class="dip-icon-arrow-right"></i>
              ต่อไป</button>
          </div>

        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="รายการสินค้า" [navigationSymbol]="{ symbol: '2' }">
        <div class="row form-group">
          <div class="col-sm-12 ">
            <div class="row">
              <div class="col-lg-4">

                <div class="kt-portlet">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="sub-head-title" style="margin-left: 20px;margin-top: 20px;">
                        รายการสินค้าและบริการ(คำขอภายในประเทศ)
                      </h4>
                    </div>
                  </div>

                  <div class="kt-portlet__body">
                    <ngb-tabset type="pills" [destroyOnHide]="false">
                      <ngb-tab title="29">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>

                      </ngb-tab>
                      <ngb-tab title="30">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem2">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>
                      </ngb-tab>

                    </ngb-tabset>


                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="kt-portlet">
                  <div class="row">
                    <div class="col-lg-12">
                      <h4 class="sub-head-title" style="margin-left: 20px;;margin-top: 20px;">
                        รายการสินค้าและบริการ(คำขอแทนที่)
                      </h4>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <ngb-tabset type="pills" [destroyOnHide]="false">
                      <ngb-tab title="29">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>

                      </ngb-tab>
                      <ngb-tab title="30">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem2">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>
                      </ngb-tab>

                    </ngb-tabset>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="kt-portlet">
                  <div class="row">
                    <div class="col-lg-12">
                      <h4 class="sub-head-title" style="margin-left: 20px;;margin-top: 20px;">
                        รายการสินค้าและบริการ(คำขอ IRN)
                      </h4>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                    <ngb-tabset type="pills" [destroyOnHide]="false">
                      <ngb-tab title="29">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>

                      </ngb-tab>
                      <ngb-tab title="30">
                        <ng-template ngbTabContent>
                          <div class="table-responsive">
                            <table class="table table-bordered" style="width: 96%;">
                            <thead>
                              <tr>
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                      [checked]="input.is_check_all" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">ลำดับ</td>
                                <td class="public_request_number">รายการสินค้าและบริการ</td>
                                <td class="public_irn_number">คำสั่ง</td>

                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row_item of listPublicItem2">
                                <td class="select">
                                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                      [checked]="row_item.is_check" />
                                    <span></span>
                                  </label>
                                </td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="index">{{row_item.index}}</td>
                                <td class="id">
                                  <a href="javascript://">
                                    <i class="dip-icon-play" (click)="onClickPublicItemId(row_item.id)"></i>
                                  </a>
                                </td>


                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </ng-template>
                      </ngb-tab>

                    </ngb-tabset>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row ">
          <div class=" button-list">
            <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
              <i class="fa fa-arrow-left"></i>
              ย้อนกลับ</button>
            <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
              <i class="dip-icon-arrow-right"></i>
              ต่อไป</button>
          </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="พิจารณาเอกสาร" [navigationSymbol]="{ symbol: '3' }">
        <div class="row form-group">
          <div class="col-sm-12 ">
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="kt-portlet__body">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                    alt="" style="width: 99%;">

                </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                <div class="kt-portlet__body">
                  <div class="row">
                    <div class="col-lg-12">
                      <h4 class="sub-head-title">
                        ข้อมูลเลขที่คำขอ
                      </h4>
                    </div>
                  </div>
                  <div class="row label-div-not-same-line">
                    <div class="col-lg-6 col-sm-12">
                      <div class="row">
                        <div class="col-lg-6 ">
                          <div class="form-group flex">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">เลขที่คำขอ</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group flex">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">จำพวกสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-sm-12">
                          <div class="form-group flex">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">วันที่ยื่นคำขอ</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                          <div class="form-group flex">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">วันที่ครบกำหนด</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <input class="form-control input" type="text" id="request_number"
                                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                    autocomplete="off" disabled="disabled" />

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group flex">
                            <div class="row">
                              <div class="col-12">
                                <label class="" for="request_number">รายการสินค้า</label>
                              </div>
                              <div class="col-12">
                                <div class="input-wrapper">
                                  <textarea class="form-control input" name="" id="" cols="30" rows="5"
                                    disabled></textarea>

                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <h4 class="sub-head-title">
                        พิจารณาเอกสาร
                      </h4>

                    </div>
                  </div>
                  <div class="row label-div-not-same-line">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group ">
                            <label class="" for="request_number">การพิจารณาเอกสาร</label>
                            <div class="input-wrapper">
                              <select class="form-control input" id="approval" [(ngModel)]="approval"
                                [value]="approval">
                                <option *ngFor="let item of approvalList" [value]="item.id">
                                  {{item.name}}
                                </option>
                              </select>

                              
                            </div>
                          </div>

                        </div>
                        <div class="col-lg-6">
                          <div class="form-group ">
                            <label class="" for="request_number">วันที่พิจารณา</label>
                            <div class="input-wrapper">
                              <input class="form-control input" type="text" id="request_number"
                                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" autocomplete="off"
                                disabled="disabled" />

                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="approval==1">
                    <div class="col-lg-12">
                      <div class="row label-div-not-same-line">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-6">
                              <h4 class="sub-head-title">
                                อนุมัติ
                              </h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3">
                              <div class="form-group flex">
                                <div class="row">
                                  <div class="col-12">
                                    <label class="" for="request_number">วันที่ได้รับสิทธิ์ตามมาตรา 79/9</label>
                                  </div>
                                  <div class="col-12">
                                    <div class="input-wrapper">
                                      <input class="form-control input" type="text" id="request_number"
                                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                        autocomplete="off" disabled="disabled" />

                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row label-div-not-same-line ">

                        <div class="form-group col-lg-12">
                          <label class="" for="request_number">รายละเอียด</label>
                          <div class="input-wrapper">
                            <textarea class="form-control " type="text" id="address_information" rows="2"></textarea>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="approval==2">
                    <div class="col-lg-12">
                      <div class="row label-div-not-same-line">
                        <div class="col-lg-6">
                          <div class="row">
                            <div class="col-lg-12">
                              <h4 class="sub-head-title" style="color: red;">
                                ไม่อนุมัติ
                              </h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group flex">
                                <div class="row">
                                  <div class="col-12">
                                    <label class="" for="request_number">วันที่ไม่อนุมัติ</label>
                                  </div>
                                  <div class="col-12">
                                    <div class="input-wrapper">
                                      <input class="form-control input" type="text" id="request_number"
                                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                        autocomplete="off" disabled="disabled" />

                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <div class="form-group flex">
                                <div class="row">
                                  <div class="col-12">
                                    <label class="" for="request_number">ออกหนังสือ</label>
                                  </div>
                                  <div class="col-12">
                                    <div class="input-wrapper">
                                      <input class="form-control input" type="text" id="request_number"
                                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                        autocomplete="off" disabled="disabled" />

                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row label-div-not-same-line ">
                        <div class="form-group col-lg-12">
                          <label class="" for="request_number">รายละเอียด</label>
                          <div class="input-wrapper">
                            <textarea class="form-control " type="text" id="address_information" rows="2"></textarea>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="form-group row ">
          <div class=" button-list">
            <button type="button" class="btn btn-white  btn-align-center m-r-5" awPreviousStep>
              <i class="fa fa-arrow-left"></i>
              ย้อนกลับ</button>
            <button type="button" class="btn btn-brand"> <i class="dip-icon-paper-plane"></i>
              เสร็จสิ้น</button>
          </div>
        </div>
      </aw-wizard-step>

    </aw-wizard>



  </div>
  <div class="kt-portlet document-role02-check-list-job">

  </div>