<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title">
        <i class="dip-icon-play"></i>  เสนอหัวหน้ากลุ่มพิจารณา (แจ้งการชำระเงิน)
      </h5>
    </div>

    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;font-family: 'Noto Sans Thai', 'Noto Sans';">
      ข้อมูลทั่วไป
    </h4>
    <div class="row" style="padding-top:10px;">
      <div class="col">
        <label class="nc-col-form-label">ชื่อตัวแทน</label>
        <div>
          <input class="form-control input" style="width: 100%;background-color:cornflowerblue" type="text" readonly />

        </div>
      </div>
      <div class="col">
        <label class="nc-col-form-label">วันที่ยื่นคำขอ</label>
        <div>
          <input class="form-control input" style="width: 100%;" type="text" readonly />

        </div>
      </div>
      <div class="col">
        <label class="nc-col-form-label">วันที่ครบกำหนด</label>
        <div>
          <input class="form-control input" style="width: 100%;" type="text" readonly />

        </div>
      </div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col-md-12">
        <label class="nc-col-form-label">เลขที่คำขอ</label>
        <div>
          <input class="form-control input" style="width: 100%;" type="text" readonly />

        </div>
      </div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col">
        <div class="row">
          <div class="col">
            <label class="nc-col-form-label">เจ้าของ</label>
            <div>
              <input class="form-control input" style="width: 100%;" type="text" readonly />

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <label class="nc-col-form-label">ตัวแทน</label>
            <div>
              <input class="form-control input" style="width: 100%;" type="text" readonly />

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <label class="nc-col-form-label">ที่อยู่</label>
        <div>
          <textarea class="form-control input" style="width: 100%;" rows="4" readonly></textarea>

        </div>
      </div>
    </div>
    <br />
    <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;font-family: 'Noto Sans Thai', 'Noto Sans';">
      รายละเอียดการเสนอพิจรณา
    </h4>
    <div class="row" style="padding-top:10px;">
      <div class="col-8">
        <label class="nc-col-form-label">เรื่อง</label>
        <div>
          <input class="form-control input" style="width: 100%;" type="text" readonly />

        </div>
      </div>
      <div class="col">
        <label class="nc-col-form-label">วันที่เสนอ</label>
        <div>
          <input class="form-control input" style="width: 100%;" type="text" readonly />

        </div>
      </div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col">
        <label class="nc-col-form-label">รายละเอียดเสนอ</label>
        <div>
          <textarea class="form-control input" style="width: 100%;" rows="2" readonly></textarea>

        </div>
      </div>

    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col">
        <label class="nc-col-form-label">รายละเอียดเพิ่มเติม</label>
        <div>
          <textarea class="form-control input" style="width: 100%;" rows="2" readonly></textarea>

        </div>
      </div>

    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">

        <button type="button"
                class="btn btn-white"
                (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button"
                class="btn btn-brand"
                (click)="closeModal()">
          <i class="dip-icon-play"></i>
          เสนอพิจารณา
        </button>
      </div>
    </div>
  </div>
</div>
