body {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;

  h4 {
    color: #0C84C8 !important;
    font-weight: 400;
  }

  .kt-font-brand {
    color: #0C84C8 !important;
  }

  .color-primary {
    color: #0C84C8 !important;
  }

  .sub-head-title {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    color: #0C84C8 !important;
  }
}
