<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i>  การค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <textarea  #key_request_number class="form-control input" id="request_number"  placeholder="เพิ่มข้อความ"  [(ngModel)]="input[key_request_number.id]">

              </textarea>
              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">
            เอกสาร
            </label>
            <div class="input-wrapper">
              <select #key_job_reciver
                      class="form-control"
                      id="job_reciver"
                      [(ngModel)]="input[key_job_reciver.id]"
                      (change)="binding('input', 'job_reciver', $event.target.value)"
                      [value]="input.job_reciver">
                <option *ngFor="let item of master.job_reciver"
                        [value]="item.id">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_job_reciver.id]"
                     class="invalid-feedback">
                  {{validate[key_job_reciver.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_date id="request_date" class="form-control input" matInput
                         [matDatepicker]="picker_request_date" (click)="picker_request_date.open()"
                         [(ngModel)]="input[key_request_date.id]" (dateChange)="clearValidate(key_request_date.id)"
                         autocomplete="off" style="width: 200px;"  placeholder="เลือก">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_request_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_request_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date.id]" class="invalid-feedback">
                  {{validate[key_request_date.id]}}
                </div>
              </div>
            </div>

            <span class="mt-2">ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_end_date id="request_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_request_end_date" (click)="picker_request_end_date.open()"
                         [(ngModel)]="input[key_request_end_date.id]" (dateChange)="clearValidate(key_request_end_date.id)"
                         autocomplete="off" style="width: 200px;"  placeholder="เลือก">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="request_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_request_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_request_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_end_date.id]" class="invalid-feedback">
                  {{validate[key_request_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="consider_date">วันที่พิจารณา</label>
            <div class="input-wrapper input-with-icon datepicker"  > 
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_consider_date id="consider_date" class="form-control input" matInput
                         [matDatepicker]="picker_consider_date" (click)="picker_consider_date.open()"
                         [(ngModel)]="input[key_consider_date.id]" (dateChange)="clearValidate(key_consider_date.id)"
                         autocomplete="off" style="width: 200px;"  placeholder="เลือก">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_consider_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_consider_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_consider_date.id]" class="invalid-feedback">
                  {{validate[key_consider_date.id]}}
                </div>
              </div>
            </div>

            <span class="mt-2">ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_consider_end_date id="consider_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_consider_end_date" (click)="picker_consider_end_date.open()"
                         [(ngModel)]="input[key_consider_end_date.id]" (dateChange)="clearValidate(key_consider_end_date.id)"
                         autocomplete="off" style="width: 200px;"  placeholder="เลือก">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="consider_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_consider_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_consider_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_consider_end_date.id]" class="invalid-feedback">
                  {{validate[key_consider_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date">สถานะ</label>
            <div class="input-wrapper">
              <div class="form-row">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  รอดำเนินการ
                  <span></span>
                </label>
              </div>
              <div class="form-row">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  รอดำเนินการอีกครั้ง
                  <span></span>
                </label>
              </div>
              <div class="form-row">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  รอแก้ไข
                  <span></span>
                </label>
              </div>
              <div class="form-row">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox">
                  เสร็จสิ้น
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="kt-portlet__footer ">
  <div class="button-list">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickPublicRole01ItemList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
    <button type="button"
            class="btn btn-white"
            (click)="onClickReset()">
      <i class="dip-icon-reset"></i>
      เริ่มใหม่
    </button>
  </div>
</div>


</div>
<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i> ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <table style="width: 96%;">
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">ลำดับที่</td>
          <td class="public_request_number">เลขที่คำขอในประเทศ</td>
          <td class="public_irn_number">เลขที่ขอแทนที่</td>
          <td class="public_register_date">เลขที่ IRN</td>
          <td class="public_wipi_noti">รูปภาพ</td>
          <td class="public_expite_date">วันที่ยื่น ก.22</td>
          <td class="public_request_type">วันที่พิจารณา</td>
          <td class="public_translator" style="width: 30%;">รายละเอียดเพิ่มเติม</td>
          <td class="public_status_name">สถานะการดำเนินงาน</td>
          <td class="public_order">คำสั่ง</td>
          <!--<td class="id">คำสั่ง</td>-->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicItem">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicItem', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="public_request_number">{{row_item.index}}</td>
          <td class="public_irn_number">{{row_item.index}}</td>
          <td class="public_register_date">{{row_item.index}}</td>
          <td class="public_wipi_noti">{{row_item.index}}</td>
          <td class="public_expite_date">{{row_item.index}}</td>
          <td class="public_request_type">{{row_item.index}}</td>
          <td class="public_translator">{{row_item.index}}</td>
          <td class="public_status_name">{{row_item.index}}</td>
          <td class="id">
            <a href="javascript://">
              <i class="dip-icon-play"
                 (click)="onClickPublicItemId(row_item.id)"></i>
            </a>
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicItem"
                (onClickList)="onClickPublicRole01ItemList()"></app-paging>
  </div>

</div>
