<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-play"></i>
                ออก MODEL FORM
            </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="">กรุณาเลือกฟอร์มที่ต้องการออก</h3>

            </div>
        </div>
        <div class="row" *ngIf="ItemArray">
            <div class="kt-portlet__body__inner public-role01-item-lister">
                <mat-nav-list class="">
                    <mat-list-item class="m-b-10px;" *ngFor="let item of ItemArray; let i = index" style="height: auto; margin-bottom: 10px;">
                        <div>

                            <div class="row">
                                <i class="dip-icon-file-alt" style="color: #0C84C8;"></i>
                                &nbsp;
                                <label style="color: #0C84C8;">{{ item.index }}</label>

                            </div>
                            <div class="row">
                               
                                {{ item.value }}


                            </div>
                        </div>

                    </mat-list-item>
                </mat-nav-list>
            </div>
            <!-- <div *ngFor="let item of ItemArray">
              <div style="border: darkblue; color: white; background-color: black;">
                {{ item }}
              </div>
            </div> -->
        </div>
    </div>
    <div class="kt-portlet__footer ">
        <div class="button-list">

            <button type="button" class="btn btn-white" (click)="onCancle()">
                ย้อนกลับ
            </button>

            <button type="button" class="btn btn-brand" (click)="onClickModal()">
               
                ตกลง
            </button>
        </div>
    </div>
</div>