<div class="kt-portlet checking-similar-word-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        เครื่องหมาย
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-secondary"
              (click)="onClickCheckingSimilarWordSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
      <!-- <button
        type="button"
        class="btn btn-brand"
        (click)="onClickCheckingSimilarWordPrint()"
      >
        <i class="dip-icon-printer"></i>
        พิมพ์รายงาน
      </button><button
        type="button"
        class="btn btn-brand"
        (click)="onClickCheckingSimilarWordBack()"
      >
        กลับ
      </button> -->
      <button class="btn btn-brand btn-toggle">
        <i class="dip-icon-minus"></i>
      </button>
    </div>
  </div>

  <div class="kt-portlet__body checking-image-word-wrapper">
    <div class="button-right-wrapper">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickCheckingBack()">
        <i class="dip-icon-angle-left"></i>
        กลับ
      </button>
    </div>
    <div class="sign-wrapper">
      <div class="main-request-wrapper">
        <div class="fixed">

          <div class="main-request-image-wrapper">

            <div class="bx-box-picture">
              <img *ngIf="input.file_trademark_2d && input.file_trademark_2d != ''" src="{{input.file_trademark_2d}}" />
              <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
                  <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                    <i [className]="
                        input.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                       (click)="togglePlayer(0)"></i>
                  </a>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
      <div class="sign-info-wrapper">
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="request_number">
                เลขที่คำขอ
              </label>
              <div class="input-wrapper sign-value">
                {{input.request_number}}
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <!--<div class="sign-info-item">
              <label
                class="col-form-label sign-label"
                for="request_number"
              >
                เครื่องหมาย
              </label>
              <div class="input-wrapper sign-value">
                {{input.request_number}}
              </div>
            </div>-->
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="name">
                ชื่อเจ้าของ
              </label>
              <div class="input-wrapper sign-value">
                {{input.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="type_checking">
                จำพวก
              </label>
              <div class="input-wrapper sign-value">
                <input class="form-control input sign-value-field"
                       type="text"
                       id="type_checking"
                       value="{{input.request_item_sub_type_1_code_text}}"
                       disabled="disabled" />
                <i class="dip-icon-search"></i>
              </div>
            </div>
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="product_service">
                สินค้า/บริการ
              </label>
              <div class="input-wrapper sign-value">
                <input class="form-control input sign-value-field"
                       type="text"
                       id="product_service"
                       value="{{input.request_item_sub_type_1_description}}"
                       disabled="disabled" />
                <i class="dip-icon-search"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="sound_description">
                คำบรรยายเสียง
              </label>
              <div class="input-wrapper sign-value">
                {{input.sound_description}}
              </div>
            </div>
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="product_service">
                ประเภทเสียง
              </label>
              <div class="input-wrapper sign-value">
                <input class="form-control input sign-value-field"
                       type="text"
                       id="product_service"
                       value="{{input.full_view.sound_type_text}}"
                       disabled="disabled" />
                <!--<i class="dip-icon-search"></i>-->
              </div>
            </div>
          </div>
        </div>
        <!--<div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="sound_description">
                คำบรรยายกลิ่น
              </label>
              <div class="input-wrapper sign-value">
                {{input.sound_description}}
              </div>
            </div>
          </div>
        </div>-->
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label"
                     for="sound_description">
                คำอ่านเสียง
              </label>
              <div class="input-wrapper sign-value">
                {{input.full_view.word_sound_text }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet checking-similar-word-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางเครื่องหมาย
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="">
      <table>
        <thead>
          <tr>
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="oneWayDataCheckboxAllBinding(listTrademark, $event.target.checked)" /><span></span>
              </label>
            </td>
            <td>#</td>
            <td>คำขอเลขที่</td>
            <td>สถานะ</td>
            <td>จำพวก</td>
            <td>เครื่องหมายคำ</td>
            <td>ชื่อเจ้าของ</td>
            <td>เสียง</td>
            <td></td>
            <td><!--รายละเอียด--></td>
          </tr>
        </thead>
        <tbody>
          <tr class=""
              *ngFor="let row_item of listTrademark">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="oneWayDataBindingSave('is_check', $event.target.checked, row_item)"
                       [checked]="row_item.is_check"
                       [(ngModel)]="row_item.is_check" /><span></span>
              </label>
            </td>
            <td>{{row_item.index}}</td>
            <td>
              <a href="/request-search/edit/{{row_item.id}}"
                 target="_blank">{{row_item.request_number}}</a>
            </td>
            <td>{{row_item.trademark_status_code}}</td>
            <td>
              <select class="form-control product_text">
                <option *ngFor="let item of row_item.request_item_sub_type_1_code_text.split(' ')">
                  {{item}}
                </option>
              </select>
            </td>
            <td class="left" [innerHTML]="row_item.word_mark"></td>
            <td class="left" [innerHTML]="row_item.people_text"></td>
            <td [innerHTML]="row_item.soud_text"></td>
            <td>
              <div class="bx-box-picture" *ngIf="row_item.sound_file_id">
                <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer(row_item)"></i>
              </div>
            </td>
            <td>
              <i class="dip-icon-info-circle"
                 (click)="onClickCheckingSimilarWordCompare(row_item)"></i>
            </td>
          </tr>
        </tbody>
        <!-- ***** Not Found Data ***** -->
        <!--<tr class="not-found-data-wrapper">
          <div class="not-found-dara-text">
            ไม่พบข้อมูล
          </div>
        </tr>-->
      </table>
    </div>
    <!-- pagination -->
    <div class="kt-pagination kt-pagination--brand">
      <app-paging [paginate]="paginateTrademark"
                  (onClickList)="onClickCheckingSimilarSave010List()"></app-paging>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="form-group flex checkbox-wrapper">
      <label class="col-form-label checkbox-title-wrapper">
        วิธีการตรวจสอบ
      </label>
      <div class="input-wrapper">
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_1" disabled="disabled" /> อักษรแรก/เสียงท้าย
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_2" disabled="disabled" /> คำเหมือนคล้าย
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_3" disabled="disabled" /> เสียงท้ายอีน
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_4" disabled="disabled" /> เสียงพ้องพยางค์
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_5" disabled="disabled" /> ตรวจสอบรูป
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_6" disabled="disabled" /> ตรวจสอบเสียง
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 [(ngModel)]="checkingTagSimilarMethod.method_7" disabled="disabled" /> ตรวจสอบกลิ่น
          <span></span>
        </label>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!--<div class="kt-portlet__footer-button-wrapper">
      <button type="button"
              class="btn btn-brand kt-portlet__footer-button"
              (click)="onClickCheckingCheckingPrint()">
        <i class="dip-icon-printer"></i>
        รายงานตรวจสอบ
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickCheckingReportPrint()">
        <i class="dip-icon-printer"></i>
        พิมพ์รายงาน
      </button>
    </div>-->

    <div class="kt-portlet__footer-button-wrapper">
      <button type="button"
              class="btn btn-brand kt-portlet__footer-button"
              (click)="onClickCheckingBack()">
        <i class="dip-icon-angle-left"></i>
        กลับ
      </button>
      <!--<button type="button"
              class="btn btn-white kt-portlet__footer-button"
              (click)="onClickCheckingCancel()">
        ยกเลิก
      </button>
      <button type="button"
              class="btn btn-secondary kt-portlet__footer-button"
              (click)="onClickCheckingSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
    </div>
  </div>

</div>

<!-- <div class="kt-portlet checking-similar-word-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner checking-similar-worder">
      <div class="form-group flex">
        <label class="col-form-label">
          วิธีการตรวจสอบ
        </label>
        <div class="input-wrapper flex_none">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input
              type="checkbox"
              [checked]="input.is_checking_word_first_last"
              (click)="oneWayDataBinding('is_checking_word_first_last', $event.target.checked)"
            /> อักษรแรก/เสียงท้าย
            <span></span>
          </label>
          <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div>
        </div><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input
            type="checkbox"
            (ngModel)="input.is_checking_word_mark"
            [checked]="input.is_checking_word_mark"
            (click)="oneWayDataBinding('is_checking_word_mark', $event.target.checked)"
          /> คำเหมือนคล้าย
          <span></span>
        </label><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input
            type="checkbox"
            (ngModel)="input.is_checking_word_last_other"
            [checked]="input.is_checking_word_last_other"
            (click)="oneWayDataBinding('is_checking_word_last_other', $event.target.checked)"
          /> เสียงท้ายอีน
          <span></span>
        </label>
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input
            type="checkbox"
            (ngModel)="input.is_checking_word_syllable_sound"
            [checked]="input.is_checking_word_syllable_sound"
            (click)="oneWayDataBinding('is_checking_word_syllable_sound', $event.target.checked)"
          /> เสียงพ้องพยางค์
          <span></span>
        </label><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input
            type="checkbox"
            [checked]="input.is_checking_sound"
            (click)="oneWayDataBinding('is_checking_sound', $event.target.checked)"
          /> ตรวจสอบเสียง
          <span></span>
        </label><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input
            type="checkbox"
            [checked]="input.is_checking_smell"
            (click)="oneWayDataBinding('is_checking_smell', $event.target.checked)"
          /> ตรวจสอบกลิ่น
          <span></span>
        </label>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div> -->
