<div class="kt-portlet receipt-daily-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="receipt_number">เลขที่ใบเสร็จ</label>
            <div class="input-wrapper">
              <input #key_receipt_number class="form-control input" type="text" id="receipt_number" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_receipt_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receipt_number.id]" class="invalid-feedback">
                  {{validate[key_receipt_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="receiver_name">ผู้รับเงิน</label>
            <div class="input-wrapper">
              <input #key_receiver_name class="form-control input" type="text" id="receiver_name" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_receiver_name.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receiver_name.id]" class="invalid-feedback">
                  {{validate[key_receiver_name.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="receive_date">วันที่รับเงิน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_receive_date id="receive_date" class="form-control input" matInput
                         [matDatepicker]="picker_receive_date" (click)="picker_receive_date.open()"
                         [(ngModel)]="input[key_receive_date.id]" (dateChange)="clearValidate(key_receive_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="receive_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_receive_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_receive_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receive_date.id]" class="invalid-feedback">
                  {{validate[key_receive_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="reference_number">เลขที่อ้างอิงการชำระเงิน</label>
            <div class="input-wrapper">
              <input #key_reference_number class="form-control input" type="text" id="reference_number" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_reference_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_reference_number.id]" class="invalid-feedback">
                  {{validate[key_reference_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner receipt-daily-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_receipt_status_code
                      class="form-control"
                      id="receipt_status_code"
                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                      [(ngModel)]="input[key_receipt_status_code.id]"
                      (change)="oneWayDataBinding('receipt_status_code', $event.target.value)"
                      [value]="input.receipt_status_code">
                <option *ngFor="let item of master.receiptStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receipt_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_receipt_status_code.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickReceiptDailyList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="onClickReset()">
      <i class="dip-icon-close"></i>
      ยกเลิก
    </button>

  </div>
</div>
<div class="kt-portlet receipt-daily-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickReceiptDailyAdd()">
        <i class="dip-icon-add-new"></i>

      </button>-->
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickReceiptDailyDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listReceiptDaily, $event.target.checked)" /><span></span></label></td>
          <td class="index">#</td>
          <td class="reference_number">เลขที่อ้างอิงการชำระเงิน</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="receipt_number">เลขที่ใบเสร็จ</td>
          <td class="people_name">เจ้าของ</td>
          <td class="requester_name">ชื่อในใบเสร็จ</td>
          <td class="receive_date">วันที่รับเงิน</td>
          <td class="total_price">จำนวนเงิน</td>
          <td class="receiver_name">ผู้รับเงิน</td>
          <td class="receipt_status_code">สถานะ</td>
          <td class="edit_delete">แก้ไข / ลบ</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listReceiptDaily | myfilter | paginate: paginateReceiptDaily; index as i">
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></td>
          <td class="index">{{row_item.index}}</td>
          <td class="reference_number">{{row_item.reference_number}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="receipt_number">{{row_item.receipt_number}}</td>
          <td class="people_name">{{row_item.people_name}}</td>
          <td class="requester_name">{{row_item.requester_name}}</td>
          <td class="receive_date">{{row_item.receive_date_text}}</td>
          <td class="total_price">{{displayMoney(row_item.total_price)}}</td>
          <td class="receiver_name">{{row_item.receiver_name}}</td>
          <td class="receipt_status_code">{{row_item.receipt_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-edit" (click)="onClickReceiptDailyEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickReceiptDailyDelete(row_item)"></i>
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateReceiptDaily"
                (onClickList)="onClickReceiptDailyList()"></app-paging>
  </div>
</div>
