<div class="section normal-published">
  <div class="section-title">
    การประกาศโฆษณาทั่วไป
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card
    [iconMain]="'list-board'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'ตรวจสอบ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'999+'"
  >
    <app-dashboard-card-summary-block summary="100">
      รอตรวจสอบ<br />เข้ามาใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอตรวจสอบ<br /> อีกครั้ง
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="50">
      ตรวจสอบ<br /> เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'recycle-rectangle'"
    [iconSub]="'search'"
    [theme]="'orange'"
    [title]="'ตรวจสอบ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="10">
      รอการ<br />แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอการ<br />เปลี่ยนแปลง
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'search'"
    [theme]="'green'"
    [title]="'ทั้งหมด'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'50'"
  >
    <app-dashboard-card-summary-block summary="100">
      รอการ<br />โอนเงิน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      โอนงาน<br />เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'order-list'"
    [iconSub]="'edit'"
    [theme]="'violet'"
    [title]="'เตรียมประกาศโฆษณาทั่วไป'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'150'"
  >
    <app-dashboard-card-summary-block summary="150">
      เตรียมประกาศ<br />โฆษณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="500">
      เตรียมประกาศ<br />โฆษณาทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'announce'"
    [iconSub]="'edit'"
    [theme]="'violet'"
    [title]="'เตรียมประกาศโฆษณาทั่วไป'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'150'"
  >
    <app-dashboard-card-summary-block summary="150">
      เตรียมประกาศ<br />โฆษณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="500">
      เตรียมประกาศ<br />โฆษณาทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
  <!-- </div> -->
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section other-published">
  <div class="section-title">
    การประกาศโฆษณาอื่นๆ
  </div>

  <app-dashboard-card
    [iconMain]="'signature'"
    [iconSub]="'play'"
    [theme]="'red'"
    [title]="'เสนอพิจารณาโฆษณาอื่นๆ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'50'"
  >
    <app-dashboard-card-summary-block summary="20">
      รอเสนอ<br />พิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="50">
      รอนายทะเบียน<br />พิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'announce'"
    [iconSub]="'edit'"
    [theme]="'red'"
    [title]="'ประกาศโฆษณาอื่นๆ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'50'"
  >
    <app-dashboard-card-summary-block summary="10">
      ประกาศโฆษณา<br />อื่นๆ ทั้งหมด
    </app-dashboard-card-summary-block>

  </app-dashboard-card>
</div>
