<div class="kt-portlet public-role02-print-document-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role02-print-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_role02_receive_start_date">วันที่ส่งมา</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role02_receive_start_date id="public_role02_receive_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role02_receive_start_date" (click)="picker_public_role02_receive_start_date.open()"
                         [(ngModel)]="input[key_public_role02_receive_start_date.id]" (dateChange)="clearValidate(key_public_role02_receive_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role02_receive_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role02_receive_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role02_receive_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role02_receive_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_role02_receive_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role02_receive_end_date id="public_role02_receive_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role02_receive_end_date" (click)="picker_public_role02_receive_end_date.open()"
                         [(ngModel)]="input[key_public_role02_receive_end_date.id]" (dateChange)="clearValidate(key_public_role02_receive_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role02_receive_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role02_receive_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role02_receive_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role02_receive_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_role02_receive_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner public-role02-print-document-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              กลุ่มงานที่ส่งมา
            </label>
            <div class="input-wrapper">
              <select #key_department_code
                      class="form-control"
                      id="department_code"
                      [(ngModel)]="input[key_department_code.id]"
                      (change)="binding('input', 'department_code', $event.target.value)"
                      [value]="input.department_code">
                <option *ngFor="let item of master.departmentCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_department_code.id]"
                     class="invalid-feedback">
                  {{validate[key_department_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner public-role02-print-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="rule_count">จำนวนหนังสือ</label>
            <div class="input-wrapper">
              <input #key_rule_count class="form-control input" type="text" id="rule_count" placeholder=""
                     [(ngModel)]="input[key_rule_count.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_rule_count.id]" class="invalid-feedback">
                  {{validate[key_rule_count.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner public-role02-print-document-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role02_print_document_status_code
                      class="form-control"
                      id="document_role02_print_document_status_code"
                      [(ngModel)]="input[key_document_role02_print_document_status_code.id]"
                      (change)="binding('input', 'document_role02_print_document_status_code', $event.target.value)"
                      [value]="input.document_role02_print_document_status_code">
                <option *ngFor="let item of master.documentRole02PrintDocumentStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_print_document_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role02_print_document_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role02-print-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02PrintDocumentList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet public-role02-print-document-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02PrintDocumentSend()">
        พิมพ์หนังสือที่เลือก
      </button>

      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole02PrintDocumentAdd()">
        <i class="dip-icon-add-new"></i>

      </button><button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickPublicRole02PrintDocumentDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02PrintDocument')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="document_role02_receiver_by_name">เจ้าหน้าที่ตรวจสอบ</td>
          <td class="rule_count">จำนวนหนังสือ</td>
          <td class="name">ชื่อผู้รับ</td>
          <td class="house_number">ที่อยู่</td>
          <td class="document_role02_print_document_date_text">วันที่พิมพ์หนังสือล่าสุด</td>
          <td class="book_number">เลขพณ.</td>
          <td class="public_role02_receive_remark">รายละเอียดเพิ่มเติม</td>
          <td class="document_role02_print_document_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole02PrintDocument">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02PrintDocument', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="document_role02_receiver_by_name">{{row_item.document_role02_receiver_by_name}}</td>
          <td class="rule_count">{{row_item.rule_count}}</td>
          <td class="name">{{row_item.name}}</td>
          <td class="house_number">
            <i class="dip-icon-info-circle" title="{{row_item.house_number}}">
            </i>
          </td>
          <td class="document_role02_print_document_date_text">{{row_item.document_role02_print_document_date_text}}</td>
          <td class="book_number"><span style="color:red" *ngIf="row_item.book_number">* </span>{{row_item.book_number}}</td>
          <td class="public_role02_receive_remark">{{row_item.public_role02_receive_remark}}</td>
          <td class="document_role02_print_document_status_name">{{row_item.document_role02_print_document_status_name}}</td>
          <td class="edit_delete">
            <!--<i class="dip-icon-edit" (click)="onClickPublicRole02PrintDocumentEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickPublicRole02PrintDocumentDelete(row_item)"></i>-->
            <i class="dip-icon-play" (click)="onClickPublicRole02PrintDocumentEdit(row_item)"></i>
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole02PrintDocument"
                (onClickList)="onClickPublicRole02PrintDocumentList()"></app-paging>
    <!-- pagination -->
  </div>
</div>


<app-modal [className]="['fade', this.modal.isModalPreviewOpen ? 'show' : undefined]"
           [title]="'พิมพ์เอกสาร'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalPreviewOpen')">
  <div body-children class="flex flex-wrap">
    <ng-container *ngIf="this.modal.isModalPreviewOpen">

      <div class="kt-portlet public-role02-print-document-list-job">
        <div class="kt-portlet__head hide">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              ข้อมูลทั่วไป
            </h3>
          </div>
          <div class="kt-portlet__head-action">

          </div>
        </div>

        <div class="kt-portlet__body div_modal">
          <div class="form-row">
            <div class="form-column">
              <div class="bx-box-picture">
                <img *ngIf="itemEdit.file_trademark_2d && itemEdit.file_trademark_2d != ''"
                     class="img-fluid w-100" src="{{itemEdit.file_trademark_2d}}" />

                <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                  <div *ngIf="itemEdit.sound_file_physical_path && itemEdit.sound_file_physical_path != ''" class="">
                    <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                      <i [className]="
                        itemEdit.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                         (click)="togglePlayer(itemEdit)"></i>
                    </a>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-column">
              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">เลขที่คำขอ</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.request_number"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">เจ้าของ</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.representative_name"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">ประเภทสินค้า</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.request_item_sub_type_1_code_text"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">ประเภทเครื่องหมาย</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.request_item_type_name"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-column">

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">วันที่ยื่นคำขอ</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.request_date_text"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">ตัวแทน</label>
                  <div class="input-wrapper">
                    <input #key_rule_count class="form-control input" type="text"
                           placeholder=""
                           [(ngModel)]="itemEdit.representative_name"
                           disabled="disabled"
                           autocomplete="off" />
                  </div>
                </div>
              </div>

              <div class="kt-portlet__body__inner public-role02-print-document-lister">
                <div class="form-group">
                  <label class="col-form-label" for="rule_count">ที่อยู่ปัจุบัน</label>
                  <div class="input-wrapper">
                    <textarea #key_rule_count class="form-control input" type="text"
                              placeholder=""
                              [(ngModel)]="itemEdit.people_information"
                              disabled="disabled"
                              autocomplete="off"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="kt-portlet__footer ">
          <!--<button type="button"
                  class="btn btn-brand"
                  (click)="onClickPublicRole02PrintDocumentList()">
            <i class="dip-icon-search"></i>
            ค้นหา
          </button><button type="button"
                           class="btn btn-danger"
                           (click)="onClickReset()">
            <i class="dip-icon-close"></i>
            ยกเลิก
          </button>-->
        </div>
      </div>

      <div class="kt-portlet public-role02-print-document-list-job">
        <app-table [initial_table]="tablePublicRole02" [title]="'หนังสือทั้งหมด'" (onClickCommand)="onClickCommand($event)"></app-table>
      </div>

    </ng-container>
  </div>
</app-modal>
