:host .modal {
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

:host .modal .modal-dialog {
  margin: 0px auto !important;
}

:host .modal .modal-dialog .modal-content {
  margin: 35px 0;
}

:host .modal .modal-dialog .modal-content .modal-header {
  position: relative;
  padding-right: 50px;
}

:host .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #0C84C8;
}

:host .modal .modal-dialog .modal-content .modal-header .close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

:host .modal .modal-dialog .modal-content .modal-header .close i {
  font-size: 15px;
}

:host .modal .modal-dialog .modal-content .modal-header .close:hover i {
  color: #B50F00;
}

:host .modal .modal-dialog .modal-content .modal-header .close:before {
  display: none;
}

:host .modal .modal-dialog .modal-content .modal-footer ::ng-deep .btn {
  margin-left: 15px;
}

:host .modal .modal-dialog .modal-content .hidden {
  display: none;
  visibility: hidden;
}

:host .modal .modal-dialog.vertical-centered .modal-content {
  margin: auto 0;
}

:host .modal .modal-dialog.modal-dialog-centered {
  min-height: calc(100vh - 70px);
  justify-content: center;
}

:host .modal .hidden {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
  pointer-events: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

:host .modal.show {
  display: block;
}

:host .modal.modal-expand-image.show .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto !important;
}

:host .modal.modal-expand-image.show .modal-dialog .modal-header {
  border-bottom: 0;
}

:host .modal.modal-expand-image.show .modal-dialog .modal-footer {
  border-top: 0;
}
