:host {
  .modal {
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;

    .modal-dialog {
      //margin: 35px auto !important;
      margin: 0px auto !important;

      .modal-content {
        margin: 35px 0;

        .modal-header {
          position: relative;
          padding-right: 50px;

          .modal-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 20px;
            font-weight: 500;
            color: #0C84C8;
          }

          .close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translateY(-50%);

            i {
              font-size: 15px;
            }

            &:hover {
              i {
                color: #B50F00;
              }
            }

            &:before {
              display: none;
            }
          }
        }

        .modal-footer {
          ::ng-deep {
            .btn {
              margin-left: 15px;
            }
          }
        }

        .hidden {
          display: none;
          visibility: hidden;
        }
      }

      &.vertical-centered {
        .modal-content {
          margin: auto 0;
        }
      }

      &.modal-dialog-centered {
        min-height: calc(100vh - 70px);
        justify-content: center;
      }
    }

    .hidden {
      display: none !important;
      padding: 0 !important;
      margin: 0 !important;
      pointer-events: none !important;
      opacity: 0 !important;
      visibility: hidden !important;
    }

    &.show {
      display: block;
    }

    &.modal-expand-image {
      &.show {
        .modal-dialog {
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto !important;

          .modal-header {
            border-bottom: 0;
          }

          .modal-footer {
            border-top: 0;
          }
        }
      }
    }
  }
}
