<div class="modal {{className}}">
  <div class="modal-dialog {{modalSize}} {{modalVerticalCenter}}">
    <div class="modal-content">
      <div class="modal-header">
        <div #modalHeaderChildren
             class="header-children"
             [ngClass]="{'hidden': !modalHeaderChildren.hasChildNodes()}">
          <ng-content select=[header-children]></ng-content>
        </div>

        <ng-template #headerDefault
                     class="header-default"
                     [ngIf]="!modalHeaderChildren.hasChildNodes()">
          <h5 class="modal-title">{{title}}</h5>
        </ng-template>

        <ng-template [ngIf]="!hideCloseCross">
          <button type="button"
                  class="close"
                  (click)="_onClickClose()">
            <i class="dip-icon-close"></i>
          </button>
        </ng-template>
      </div>

      <div class="modal-body">
        <ng-content select=[body-children]></ng-content>
      </div>

      <div class="modal-footer">
        <div #modalFooterChildren
             class="footer-children"
             [ngClass]="{'hidden': !modalFooterChildren.hasChildNodes()}">
          <ng-content select=[footer-children]></ng-content>
        </div>

        <ng-template #modalFooterDefault
                     class="footer-default"
                     [ngIf]="!modalFooterChildren.hasChildNodes()">
          <button type="button"
                  class="btn btn-default"
                  (click)="_onClickClose()">
            {{closeButtonText}}
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>