<div class="kt-portlet registration-appeal-com">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          <i class="fa fa-search"></i>
          การค้นหา
        </h3>
      </div>
    </div>
    
    <div class="kt-portlet__body">  
      <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
              <div class="form-group flex">
                  <label class="col-form-label" for="request_number">
                    ชื่อหัวหน้ากลุ่ม
                  </label>          
                  <div class="input-wrapper">
                    <div class="input-wrapper-row">
                        <select class="form-control">
                            <option 
                            [value]="1">
                            1
                            </option>
                        </select>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-4">
              <div class="form-group flex">
                  <label class="col-form-label" for="request_number">
                    วันที่
                  </label>          
                  <div class="input-group">
                    <input 
                      type="text" 
                      class="form-control"
                      placeholder="เลือก"
                      #key_payment_date 
                      id="payment_date" 
                      [matDatepicker]="payment_picker"
                      (click)="payment_picker.open()" 
                      (dateChange)="clearValidate(key_payment_date.id)"
                    />
                    <div class="input-group-append">
                      <label class="cs-input-group-text" for="payment_date">
                        <i class="dip-icon-calendar cs-input-group-icon"></i>
                      </label>
                    </div>
                    <mat-datepicker #payment_picker></mat-datepicker>

                  </div>
              </div>
          </div>
          <div class="col-12 mt-4">
              <div class="form-group flex" style="justify-content: center;">
                  <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-brand" style="min-width: 100px;">
                          <i class="fa fa-search" aria-hidden="true"></i>
                          ค้นหา
                      </button>
                      <button type="button" class="btn cs-btn-danger ml-3">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                        เริ่มใหม่
                    </button>
                  </div>                        
                </div>
          </div>
      </div>
    </div>
    
</div>
  
  <div class="kt-portlet registration-other-request-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <span class="fa fa-table cs-header-icon cs-color-o" aria-hidden="true"></span>
          <h3 class="kt-portlet__head-title">
            ตารางงาน
          </h3>
        </div>
      </div>
    
       <div class="kt-portlet__body">
        <div class="table table-striped table-responsive table-bordered" style="border: 1px;">
          <table>
            <thead>
              <tr>
                <th class="cs-theader-c1">ลำดับ</th>
                <th class="cs-theader-c2">วันที่</th>
                <th class="cs-theader-c3">ชื่อหัวหน้ากลุ่ม</th>
                <th class="cs-theader-c4">เรื่องที่ไม่มีประเด็น</th>
                <th class="cs-theader-c5">อุทธรณ์ไม่มีประเด็น</th>
                <th class="cs-theader-c6">บ่งเฉพาะ</th>
                <th class="cs-theader-c7">เหมือนคล้าย</th>
                <th class="cs-theader-c8">คัดค้าน</th>
                <th class="cs-theader-c9">เพิกถอน</th>
                <th class="cs-theader-c10">สถานะการทำงาน</th>
                <th class="cs-theader-c11">คำสั่ง</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td class="cs-tbody-v-align-mid">
                  1
                </td>
                <td class="cs-tbody-v-align-mid">
                  10/09/2562
                </td>
                <td class="cs-tbody-v-align-mid">
                    นางนิจรินทร์ กุหลาบป่า
                </td>
                <td class="cs-tbody-v-align-mid">
                  4
                </td>
                <td class="cs-tbody-v-align-mid">
                  1
                </td>
                <td class="cs-tbody-v-align-mid">
                  8
                </td>
                <td class="cs-tbody-v-align-mid">
                  1
                </td>
                <td class="cs-tbody-v-align-mid">
                    1
                </td>
                <td class="cs-tbody-v-align-mid">
                    1
                </td>
                <td class="cs-tbody-v-align-mid">
                    <div class="cs-label-status-process">
                      ดำเนินการแล้ว
                    </div>           
                </td>
                <td class="cs-tbody-v-align-mid">
                  <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                      <span class="fa fa-play" style="font-size: 15px"></span>
                  </button>
                </td>
              </tr>
            </tbody>   
          </table>
        </div> 
      </div> 
    
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
              <option *ngFor="let perPage of perPage" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying 1 of 1 records
            </span>
          </div>
        </div>
      </div>
    </div>