:host {
 
    .cs-input-group-icon {
      font-size: 16px;
      color: #646c9a;
    }

    .cs-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #82869b;
      text-align: center;
      white-space: nowrap;
      background-color: #e1e5ec;
      border: 1px solid #e1e5ec;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  
    .cs-input-group-text-tran {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #74788d;
      text-align: center;
      white-space: nowrap;
      background-color: white;
      border-bottom: 1px solid #e1e5ec;
      border-top: 1px solid #e1e5ec;
      border-left: 1px solid #e1e5ec;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  
    .cs-input-group-prepend {
      color: #74788d;
      background-color: #e1e5ec;
      border-bottom: 1px solid #e1e5ec;
      border-top: 1px solid #e1e5ec;
      border-left: 1px solid #e1e5ec;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  
    .cs-color { 
      &-w{
        color: white !important;
      }
      &-o{
        color: #0C84C8 !important;
      }
      &-g{
        color: #82869b !important;
      }
    }
  
    .cs-bg-color {
      &-o-drop{
        background-color: #82B2CF;
      }
      &-primary{
        background-color: #0C84C8;
      }
      &-white{
        background-color: white;
      }
    }
  
    .cs-label-status{
      &-wait{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: lawngreen;
        border: 1px solid lawngreen;
        border-radius: 4px;
        height: 30px;
      } 
      &-process{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #0C84C8;
        border: 1px solid #0C84C8;
        border-radius: 4px;
        height: 30px;
      }
    }
  
    .cs-header-icon {
      font-size: x-large;
      margin-right: 1rem;
    }
  
    .cs-btn-scan{
      background-color: #666666;
      border: 1px solid #666666;
      color: white;
    }
  
    button.btn.cs-btn-scan:hover{
      background-color: #474747;
      color: white;
      border: 1px solid #474747;
    }
  
    .cs-btn-brand{
      background-color: white;
      color: #0C84C8;
      border: 1px solid #0C84C8;
      min-width: 100px;
    }
  
    button.btn.cs-btn-brand:disabled,
    button.btn.btn-outline-brand:disabled
    {
      border: 1px solid #999999;
      background-color: white;
      color: #666666;
    }
  
    button.btn.btn-brand:disabled
    {
      border: 1px solid #999999;
      background-color: #999999;
      color: #ffffff;
    }
  
    button.btn.cs-btn-brand:hover
    {
      background-color: #0C84C8;
      color: white;
      border: 1px solid #0C84C8;
    }
  
    .cs-btn-danger{
      background-color: white;
      color: #474747;
      border: 1px solid #474747;
      min-width: 100px;
    }
  
    button.btn.cs-btn-danger:hover{
      background-color: #474747;
      color: white;
      border: 1px solid #474747;
      min-width: 100px;
    }
  
    .btn-revoke-action{
      background-color: white;
      color: #0C84C8;
      border: 1px solid #0C84C8;
    }
  
    button.btn.btn-revoke-action:hover{
      background-color: #0C84C8;
      color: white;
    }
  
    div.overflow {
      white-space: nowrap; 
      width: 20.0rem; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  
    .cs-tbody-v-align-mid {
      vertical-align: middle;
      text-align: center;
      justify-content: center;
  
      .cs-width-sm {
        width: 6.5rem;
        text-align: right;
      }
  
      label.cs-checkbox {
       min-height: 0px;
       margin-left: 36.25%;
      }
    }
  
  
    .table{
      .cs-theader-c1 {
        width: 6.6rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c2 {
        min-width: 15.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c3 {
        min-width: 35.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c4 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c5 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c6 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c7 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c8 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c9 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c10 {
        min-width: 14.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      .cs-theader-c11 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
    }
  
    .cs-table tr.active td {
      background-color:#0C84C8 !important;
      color: white;
    }
  
    .cs-row-hover tr:hover {
      background-color:#0C84C8 !important;
      color: white;
      cursor: pointer;
    }
    
    .registration-appeal-com {
      .kt-portlet__body {
        .col-form-label {
          min-width: 165px;
        }
      }
  
      .registration-requester {
        .input {
          width: 375px;
        }
  
        .btn {
          margin-left: 15px;
        }
      }
  
      .kt-portlet__footer {
        .total {
          .form-group {
            &.flex {
              align-items: center;
  
              .input-wrapper {
                margin-bottom: 0;
                display: flex;
              }
            }
          }
        }
  
        .form-group {
          margin-bottom: 0;
  
          .input {
            width: 155px;
          }
  
          .unit {
            margin-left: 20px;
          }
  
          .kt-checkbox {
            margin-left: 70px;
          }
        }
      }
    }
  
    .main-form-wrapper {
      flex: 1 1 auto;
      padding-right: 60px;
  
      .select-personal-type {
        padding: 5px 0;
        margin-right: 203px;
  
        .kt-radio-inline {
          justify-content: flex-end;
        }
  
        .kt-radio {
          margin-left: 30px;
        }
      }
  
      .personal-form {
        display: flex;
        margin-top: 27px;
  
        .personal-form-inner {
          flex: 1 1 auto;
        }
  
        .profile-img {
          flex: 0 0 150px;
          margin-left: 53px;
  
          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
  
          .caption {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
          }
        }
      }
  
      .col-form-label {
        flex: 0 0 170px;
        max-width: 170px;
      }
  
      .form-group {
        .input-wrapper {
          .form-control {
            width: 100%;
          }
        }
  
        &.flex {
          align-items: flex-start;
  
          .col-form-label {
            margin-top: 7px;
            justify-content: flex-end;
          }
        }
      }
    }
  
    ::ng-deep {
      .confirm-delete {
        padding: 0;
  
        .btn-group-wrapper {
          width: 100%;
          justify-content: space-between;
  
          .btn {
            margin: 0 5px;
            flex: 1 1 auto;
          }
        }
      }
    }
  }
  
  