<div class="kt-portlet save-08-process-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
        <input type="checkbox" [checked]="input.is_save_past"
               (click)="oneWayDataBinding('is_save_past', $event.target.checked)" /> บันทึกย้อนหลัง
        <span></span>
      </label>
      <button type="button"
              class="btn btn-create-new"
              (click)="onClickReset()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                       [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                       (keydown)="autocompleteKeyDown($event)"
                       (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_ListNotSent_show">
                <table>
                  <tr>
                    <td>เลขที่คำขอ</td>
                    <td>ลำดับ</td>
                    <td>วันที่ยื่นคำร้อง</td>
                    <td>ค่าธรรมเนียม</td>
                  </tr>
                  <tr *ngFor="let autocomplete of autocompleteListListNotSent"
                      (click)="autocompleteChooseListNotSent(autocomplete)">
                    <td>{{autocomplete.request_number}}</td>
                    <td>{{autocomplete.request_index}}</td>
                    <td>{{autocomplete.make_date_text}}</td>
                    <td>{{autocomplete.total_price}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="onClickSaveCopyOld()">
              <i class="dip-icon-duplicate"></i>
              คัดลอกคำขอ
            </button>
          </div>
        </div><div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_registration_number.id]" class="invalid-feedback">
                  {{validate[key_registration_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง*</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">หมายเลข IRN</label>
            <div class="input-wrapper">
              <input #key_irn_number class="form-control input" type="text" id="irn_number" placeholder="หมายเลข IRN"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_irn_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-brand" (click)="onClickSave08Madrid()">
              ข้อมูล Madrid
            </button>
          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input #key_request_date_text class="form-control input" type="text" id="request_date_text" placeholder="วันที่ยื่นคำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_date_text.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date_text.id]" class="invalid-feedback">
                  {{validate[key_request_date_text.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-08-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="total_price">ค่าธรรมเนียม</label>
            <div class="input-wrapper">
              <input #key_total_price class="form-control input" type="text" id="total_price" placeholder="ค่าธรรมเนียม"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_total_price.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_total_price.id]" class="invalid-feedback">
                  {{validate[key_total_price.id]}}
                </div>
              </div>
            </div>
            <span>บาท</span>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>

<div class="kt-portlet save-08-process-job"
     *ngIf="input.id && input.id != ''">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner save-08-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          เพิกถอน
        </label>
        <div class="input-wrapper">
          <select #key_save080_revoke_type_code
                  class="form-control"
                  id="save080_revoke_type_code"
                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                  [(ngModel)]="input[key_save080_revoke_type_code.id]"
                  (change)="oneWayDataBinding('save080_revoke_type_code', $event.target.value)"
                  [value]="input.save080_revoke_type_code">
            <option *ngFor="let item of master.save080RevokeTypeCodeList"
                    [value]="item.code">
              {{item.name}}
            </option>
          </select>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_save080_revoke_type_code.id]"
                 class="invalid-feedback">
              {{validate[key_save080_revoke_type_code.id]}}
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner save-08-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          รายละเอียด
        </label>
        <div class="input-wrapper">
          <textarea #key_remark class="form-control input" type="text" id="remark"
                    [(ngModel)]="input[key_remark.id]" rows="3">
รายละเอียด
</textarea>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_remark.id]" class="invalid-feedback">
              {{validate[key_remark.id]}}
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <!--<button type="button"
              class="btn btn-danger"
              (click)="onClickSave08Delete()">
        <i class="dip-icon-trash"></i>ลบข้อมูล
      </button>-->
      <button type="button"
              class="btn btn-outline-brand"
              (click)="onClickSave08DocumentView()">
        <i class="dip-icon-add-new"></i>
        ดูเอกสารสแกน
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickSave08Save()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave08Send()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-forward"></i>
        ส่งต่อ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickSave080RequestBack()"
              *ngIf="input.save_status_code == 'SENT'">
        <i class="dip-icon-forward"></i>
        ดึงงาน
      </button>
      <!--<button type="button" class="btn btn-secondary" (click)="onClickSave08Copy01()">
        <i class="dip-icon-duplicate"></i>
        คัดลอกข้อมูลจากคำขอ
      </button>-->
    </div>
  </div>
</div>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-08-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_3">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listPeople, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อเจ้าของ</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div><div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listPeople | myfilter | paginate: paginatePeople; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td fax">{{row_item.fax}}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate" (click)="onClickAddressCopy(listPeople, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listPeople, row_item)"></i>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave08PeopleAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listPeople)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginatePeople')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginatePeople.itemsPerPage}} of {{paginatePeople.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'ตัวแทน'" style="position: relative; display: block;">
    <div class="kt-portlet save-08-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางตัวแทนTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_4">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listRepresentative, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อตัวแทน</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div>
              <div class="td save080_representative_type_code">ประเภทตัวแทน</div>
              <div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listRepresentative | myfilter | paginate: paginateRepresentative; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td select save080_representative_type_code">
                <div class="input-wrapper">
                  <select ng-init="row_item.save080_representative_type_code = master.save080RepresentativeTypeCodeList[1].code"
                          class="form-control"
                          (change)="oneWayDataBinding('save080_representative_type_code', $event.target.value, row_item)"
                          [(ngModel)]="row_item.save080_representative_type_code"
                          [value]="row_item.save080_representative_type_code">
                    <option *ngFor="let item of master.save080RepresentativeTypeCodeList"
                            [value]="item.code">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate" (click)="onClickAddressCopy(listRepresentative, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listRepresentative, row_item)"></i>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave08RepresentativeAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listRepresentative)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateRepresentative')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateRepresentative')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateRepresentative')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateRepresentative')">
              <option *ngFor="let perPage of perPageRepresentative" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateRepresentative.itemsPerPage}} of {{paginateRepresentative.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'สถานที่ติดต่อ'" style="position: relative; display: block;">
    <div class="kt-portlet save-08-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            สถานที่ติดต่อTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <app-address [params]="[contactAddress, master]"></app-address>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer hide">

      </div>
    </div>

  </app-tab>
  <app-tab [title]="'ผู้ได้รับอนุญาต'" style="position: relative; display: block;">
    <div class="kt-portlet save-08-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางผู้ได้รับอนุญาตTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_6">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listJoiner, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อผู้ร่วมใช้</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div>
              <div class="td edit_delete"><!--แก้ไข / -->ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listJoiner | myfilter | paginate: paginateJoiner; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td fax">{{row_item.fax}}</div>
              <div class="td edit_delete">
                <!--<i class="dip-icon-duplicate" (click)="onClickAddressCopy(listJoiner, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></i>-->
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listJoiner, row_item)"></i>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave08JoinerAdd()">
          <i class="dip-icon-duplicate"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listJoiner)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateJoiner')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateJoiner')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateJoiner')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateJoiner')">
              <option *ngFor="let perPage of perPageJoiner" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateJoiner.itemsPerPage}} of {{paginateJoiner.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'ตัวแทนผู้ได้รับอนุญาต'" style="position: relative; display: block;">
    <div class="kt-portlet save-08-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางตัวแทนผู้ได้รับอนุญาตTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_7">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listJoinerRepresentative, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อเจ้าของ</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div>
              <div class="td save080_representative_type_code">ประเภทตัวแทน</div>
              <div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listJoinerRepresentative | myfilter | paginate: paginateJoinerRepresentative; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td fax">{{row_item.fax}}</div>
              <div class="td select save080_representative_type_code">
                <div class="input-wrapper">
                  <select ng-init="row_item.save080_representative_type_code = master.save080RepresentativeTypeCodeList[1].code"
                          class="form-control"
                          (change)="oneWayDataBinding('save080_representative_type_code', $event.target.value, row_item)"
                          [(ngModel)]="row_item.save080_representative_type_code"
                          [value]="row_item.save080_representative_type_code">
                    <option *ngFor="let item of master.save080RepresentativeTypeCodeList"
                            [value]="item.code">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate" (click)="onClickAddressCopy(listJoinerRepresentative, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listJoinerRepresentative, row_item)"></i>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave08JoinerRepresentativeAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listJoinerRepresentative)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateJoinerRepresentative')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateJoinerRepresentative')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateJoinerRepresentative')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateJoinerRepresentative')">
              <option *ngFor="let perPage of perPageJoinerRepresentative" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateJoinerRepresentative.itemsPerPage}} of {{paginateJoinerRepresentative.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
</app-tabs>

<app-modal [className]="[
    'fade',
    this.modal.isModalPeopleEditOpen ? 'show' : undefined
  ]"
           [title]="'แก้ไขสถานที่'"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalPeopleEditOpen')">

  <div body-children
       class="flex align-items-start">
    <div class="main-form-wrapp er">


      <div class="kt-portlet save-08-process-job">
        <div class="kt-portlet__body">

          <app-address [params]="[modalAddress, master]"></app-address>

        </div>

      </div>
    </div>
  </div>

  <div footer-children
       class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>

</app-modal>

<app-modal [className]="[
    'fade',
    this.modal.isModalAddressCopyOpen ? 'show' : undefined
  ]"
           [title]="'เลือกสถานที่'"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalAddressCopyOpen')">

  <div body-children
       class="flex align-items-start">
    <div class="main-form-wrapp er">


      <div class="kt-portlet save-08-process-job">
        <div class="kt-portlet__body">


          <div class="table table_3">
            <div class="table-inner">
              <div class="tr header">
                <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listAddressCopy, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อเจ้าของ</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div>
                <!--<div class="td edit_delete">แก้ไข / ลบ</div>-->
              </div>
              <div class="tr" *ngFor="let row_item of listAddressCopy | myfilter | paginate: paginateAddressCopy; index as i">
                <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
                <div class="td index">{{row_item.index}}</div>
                <div class="td name">{{row_item.name}}</div>
                <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
                <div class="td telephone">{{row_item.telephone}}</div>
                <div class="td fax">{{row_item.fax}}</div>
                <!--<div class="td edit_delete">
                  <i class="dip-icon-duplicate" (click)="onClickAddressCopy(listAddressCopy, row_item)"></i>
                  <i class="dip-icon-edit"
                     (click)="onClickAddressEdit(row_item)"></i>
                  <i class="dip-icon-trash"
                     (click)="onClickAddressDelete(listAddressCopy, row_item)"></i>
                </div>-->


              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>

  <div footer-children
       class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickAddressCopySelect()">
      <i class="dip-icon-duplicate"></i>
      คัดลอก
    </button>
  </div>

</app-modal>
