<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        <i class="dip dip-icon-play"></i>คำขอรับความคุ้มครอง
      </h4>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
   <div class="row">
     <div class="col-12">
       <h4 class="sub-head-title">
        ข้อมูลทั่วไป
       </h4>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-4 col-sm-12">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="" style="max-height: 400px;">
     </div>
     <div class="col-lg-8 col-sm-12 label-div-not-same-line">
       <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขทะเบียนระหว่างประเทศ IRN</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">ชื่อเจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">วันที่ยื่นตาวันที่ใช้สิทธิ์ตาม ม.28</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">จำพวก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">สินค้า/บริการ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">นายทะเบียน</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">ผู้ตรวจสอบ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
       </div>
     </div>
   </div>
   <div class="row mt-4 border border-secondary rounded">
     <div class="col-lg-6 col-sm-12 mt-2">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="">
  
     </div>
     <div class="col-lg-6 col-sm-12">
      <div class="row justify-content-end mt-2">
        <div class="col-3">
          <button class="form-control btn-doc" > <i class="fa fa-stack-overflow">ดูเอกสาร</i> </button>
        </div>
        <div class="col-12  label-div-not-same-line">
          <div class="row">
            <div class="col-12">
              <table style="width: 100%;">
                <thead>
                  <tr>
                    <td></td>
                    <td><h4 class="sub-head-title">พิจารณาเอกสาร</h4></td>
                  </tr>
                  <tr>
                    <td>ลำดับ</td>
                    <td>เอกสารพิจารณา</td>
                    <td>วันที่พิจารณา</td>
                    <td>การพิจารณาเอกสาร</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row_item of listPublicItem">
                    <td class="index">{{row_item.index}}</td>
                    <td class="index">{{row_item.name}}</td>
                    <td class="index">{{row_item.date}}</td>     
                    <td>       
                      <div class="input-wrapper">
                      <select
                      class="form-control input"
                      id="approval"
                      [(ngModel)]="row_item.status"
                      [value]="approval">
                        <option *ngFor="let item of approvalList"
                                [value]="item.id">
                          {{item.name}}
                        </option>
                      </select>
                    </div>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 mt-3">
              <h4 class="sub-head-title">
                ข้อมูลทั่วไป
              </h4>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">ชื่อเจ้าของ</label>
              
                <div class="input-wrapper">
                  <div class="input-container">
                    <input class="input-field input" type="text"  disabled="disabled">
                    <i class="fa fa-pencil icon"></i>
                  </div>
      
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
                   
              </div>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">จำพวก</label>
                <div class="input-wrapper">
                  <div class="input-container">
                    <input class="input-field input" type="text"  disabled="disabled">
                    <i class="fa fa-pencil icon"></i>
                  </div>
      
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">ส้นค้า/บริการ</label>
                <div class="input-wrapper">
                  <div class="input-container">
                    <input class="input-field input" type="text"  disabled="disabled">
                    <i class="fa fa-pencil icon"></i>
                  </div>
      
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">สถานะคำขอ</label>
                <div class="input-wrapper">
                  <div class="input-container">
                    <input class="input-field input" type="text"  >
                    <i class="fa fa-pencil icon"></i>
                  </div>
      
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">ใช้สำหรับสละสิทธิ</label>
                <div class="input-wrapper">
                  <div class="input-container">
                    <textarea class="input-field input "  name="" id="" cols="30" rows="2"></textarea>
                    <i class="fa fa-search icon-blue "></i>
                  </div>
      
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group flex">
                <label class="col-form-label" for="request_number">เพิ่มเติม</label>
                <div class="input-wrapper">
                    <textarea class="form-control" name="" id="" cols="30" rows="2">

                    </textarea>
                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

   </div>

  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button" 
      class="btn btn-white"
      (click)="onBackStep()">
  <!-- <i class="fa fa-arrow-left"></i> -->
  ย้อนกลับ
  </button>

  <button type="button" 
  class="btn btn-brand">
  <!-- <i class="dip-icon-paper-plane"></i> -->
  บันทึก
  </button>
    </div>
  </div>
</div>
