<div class="kt-portlet save-01-process-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"></h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
        <input type="checkbox" />
        แปลงคำขอทะเบียนระหว่างประเทศ
        <span></span>
      </label>

      <!--<label class="col-form-label">
        หมายเลข IRN อ้างอิง
      </label>

      <div class="input-wrapper">
        <input #key_irr_reference_number
               class="form-control input"
               type="text"
               id="irr_reference_number"
               placeholder="หมายเลข IRN อ้างอิง"
               [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
               [(ngModel)]="input[key_irr_reference_number.id]"
               autocomplete="off"
               disabled="disabled" />
        <div class="feedback-wrapper">
          <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
               *ngIf="isSubmited">
            {{ validate[key_irr_reference_number.id] }}
          </div>
        </div>
      </div>-->
      <button type="button" class="btn btn-create-new" (click)="reset()">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_request_number
                       class="form-control input"
                       type="text"
                       id="request_number"
                       placeholder="เลขที่คำขอ"
                       [(ngModel)]="input[key_request_number.id]"
                       [ngClass]="
                    validate[key_request_number.id] ? 'is-invalid' : null
                  "
                       (input)="clearValidate(key_request_number.id)"
                       (blur)="autocompleteBlurListNotSent()"
                       (ngModelChange)="
                    autocompleteChangeListNotSent(input, 'request_number', 5, 9)
                  "
                       [attr.disabled]="input.request_item_type_code != ''? true : null"
                       autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete"
                   *ngIf="is_autocomplete_ListNotSent_show">
                <table>
                  <tr *ngFor="let autocomplete of autocompleteListListNotSent"
                      (click)="autocompleteChooseListNotSent(autocomplete)">
                    <td>
                      <input type="checkbox"
                             [(ngModel)]="autocomplete.is_check"
                             [checked]="autocomplete.is_check" />
                    </td>
                    <td>{{ autocomplete.request_number }}</td>
                  </tr>
                </table>
              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]"
                     class="invalid-feedback">
                  {{ validate[key_request_number.id] }}
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="onClickSave01CopyOld()">
              <i class="dip-icon-duplicate"></i>
              คัดลอกคำขอ
            </button>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภทเครื่องหมาย
            </label>
            <div class="input-wrapper">
              <select #key_request_item_type_code
                      class="form-control"
                      id="request_item_type_code"
                      [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                      [(ngModel)]="input[key_request_item_type_code.id]"
                      (change)="
                  binding(
                    'input',
                    'request_item_type_code',
                    $event.target.value
                  )
                "
                      [value]="input.request_item_type_code"
                      disabled="disabled">
                <option *ngFor="let item of master.requestItemTypeCodeList"
                        [value]="item.code">
                  {{ item.name }}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_item_type_code.id]"
                     class="invalid-feedback">
                  {{ validate[key_request_item_type_code.id] }}
                </div>
              </div>
            </div>
            <span>จำนวนสินค้า 1 รายการ</span>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานที่ยื่น
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.requestSourceCodeList"
                       class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="request_source_code"
                         type="radio"
                         [checked]="item.code === input.request_source_code"
                         disabled="disabled" />
                  {{ item.name }}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภท OTOP
            </label>
            <div class="input-wrapper">
              <select #key_save_otop_type_code
                      class="form-control"
                      id="save_otop_type_code"
                      [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                      [(ngModel)]="input[key_save_otop_type_code.id]"
                      (change)="
                  binding('input', 'save_otop_type_code', $event.target.value)
                "
                      [value]="input.save_otop_type_code">
                <option *ngFor="let item of master.saveOTOPTypeCodeList"
                        [value]="item.code">
                  {{ item.name }}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_save_otop_type_code.id]"
                     class="invalid-feedback">
                  {{ validate[key_save_otop_type_code.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex"></div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              วันที่ยื่นคำขอ
            </label>

            <div class="input-wrapper">
              <input #key_request_date_text
                     class="form-control input"
                     type="text"
                     id="request_date_text"
                     placeholder="วันที่ยื่นคำขอ"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_request_date_text.id]"
                     autocomplete="off"
                     disabled="disabled" />
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  {{ validate[key_request_date_text.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              ค่าธรรมเนียม
            </label>

            <div class="input-wrapper">
              <input #key_total_price
                     class="form-control input"
                     type="text"
                     id="total_price"
                     placeholder="ค่าธรรมเนียม"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_total_price.id]"
                     autocomplete="off"
                     disabled="disabled" />
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  {{ validate[key_total_price.id] }}
                </div>
              </div>
            </div>
            <span>บาท</span>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              ชื่อพาณิชย์จังหวัด
            </label>
            <div class="input-wrapper">
              <div class="form-group flex">
                <select class="form-control"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="input.commercial_affairs_province_code"
                        disabled="disabled">
                  <option *ngFor="let item of master.commercialAffairsProvinceList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขทะเบียน OTOP
            </label>
            <div class="input-wrapper">
              <input #key_otop_reference_number
                     class="form-control input"
                     type="text"
                     id="otop_reference_number"
                     placeholder="เลขทะเบียน OTOP"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_otop_reference_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_otop_reference_number.id]"
                     class="invalid-feedback">
                  {{ validate[key_otop_reference_number.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              หมายเลข IRN
            </label>
            <div class="input-wrapper">
              <input #key_irn_number
                     class="form-control input"
                     type="text"
                     id="irn_number"
                     placeholder="หมายเลข IRN"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input.irn_number"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]"
                     class="invalid-feedback">
                  {{ validate[key_irn_number.id] }}
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-brand"
                    (click)="onClickSave01Madrid()">
              ข้อมูล Madrid
            </button>
          </div>
        </div>-->
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="receive_date">
              วันที่รับ
            </label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_receive_date
                         id="receive_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_receive_date"
                         (click)="picker_receive_date.open()"
                         [(ngModel)]="input[key_receive_date.id]"
                         (dateChange)="clearValidate(key_receive_date.id)"
                         autocomplete="off" />
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="receive_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_receive_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_receive_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receive_date.id]"
                     class="invalid-feedback">
                  {{ validate[key_receive_date.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <div class="button-list">
      <!--<button type="button"
              class="btn btn-danger"
              (click)="onClickSave01Delete()">
        <i class="dip-icon-trash"></i>ลบข้อมูล
      </button>-->
      <button type="button"
              class="btn btn-outline-brand"
              (click)="onClickSave01DocumentView()">
        <i class="dip-icon-add-new"></i>
        ดูเอกสารสแกน
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickSave01Save()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave01Send()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-forward"></i>
        ส่งต่อ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickSave01RequestBack()"
              *ngIf="input.save_status_code == 'SENT'">
        <i class="dip-icon-forward"></i>
        ดึงงาน
      </button>
    </div>
  </div>
</div>

<app-tabs [navClassName]="
    'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.request_item_type_code != ''">
  <app-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onClickCheckBoxTable2('listPeople', $event.target.checked)" /><span></span>
                </label>
              </div>
              <div class="td index">#</div>
              <div class="td name">ชื่อเจ้าของ</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr"
                 *ngFor="let row_item of listPeople | myfilter | paginate: paginatePeople; index as i">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         [(ngModel)]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{ row_item.index }}</div>
              <div class="td name">
                {{ row_item.name }}
              </div>
              <div class="td address">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{ row_item.telephone }}</div>
              <div class="td fax">{{ row_item.fax }}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate"
                   (click)="onClickAddressCopy(listPeople, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listPeople, row_item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave01PeopleAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listPeople)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginatePeople') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginatePeople.itemsPerPage }} of
              {{ paginatePeople.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>
  <app-tab [title]="'ตัวแทน'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางตัวแทนTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_3">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="
                      onClickCheckBoxTable3('listRepresentative', 0, true)
                    "
                         [checked]="input.is_table_3_check_all" /><span></span>
                </label>
              </div>
              <div class="td index">#</div>
              <div class="td name">ชื่อตัวแทน</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr"
                 *ngFor="let row_item of listRepresentative | myfilter | paginate: paginateRepresentative; index as i">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="
                      onClickCheckBoxTable3(
                        'listRepresentative',
                        paginateRepresentative.currentPage === 1
                          ? i
                          : (paginateRepresentative.currentPage - 1) *
                              paginateRepresentative.itemsPerPage +
                              i
                      )
                    "
                         [checked]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{ row_item.index }}</div>
              <div class="td name">{{ row_item.name }}</div>
              <div class="td address">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{ row_item.telephone }}</div>
              <div class="td fax">{{ row_item.fax }}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate"
                   (click)="onClickAddressCopy(listRepresentative, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item, 'ตัวแทน')"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listRepresentative, row_item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave01RepresentativeAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listRepresentative)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateRepresentative')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginateRepresentative') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="
                    onChangePage($event, 'paginateRepresentative')
                  " />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="
                onChangePerPage($event.target.value, 'paginateRepresentative')
              ">
              <option *ngFor="let perPage of perPageRepresentative"
                      [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginateRepresentative.itemsPerPage }} of
              {{ paginateRepresentative.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>
  <app-tab [title]="'สถานที่ติดต่อ'"
           style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            สถานที่ติดต่อTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <app-address [params]="[contactAddress, master]"></app-address>


      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer hide"></div>
    </div>
  </app-tab>
  <app-tab [title]="'รายการสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางรายการสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_5">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onClickCheckBoxTable5('listProduct', 0, true)"
                         [checked]="input.is_table_5_check_all" /><span></span>
                </label>
              </div>
              <div class="td index">#</div>
              <div class="td request_item_sub_type_1_code">จำพวกสินค้า</div>
              <!--<div class="td request_item_sub_type_2_code">
                จำพวกสินค้าที่รับรอง/ร่วมใช้
              </div>-->
              <div class="td description">รายการสินค้า/บริการ</div>
            </div>
            <div class="tr"
                 *ngFor="
                let row_item of listProduct | myfilter | paginate: paginateProduct;
                index as i
              ">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="
                      onClickCheckBoxTable5(
                        'listProduct',
                        paginateProduct.currentPage === 1
                          ? i
                          : (paginateProduct.currentPage - 1) *
                              paginateProduct.itemsPerPage +
                              i
                      )
                    "
                         [(ngModel)]="row_item.is_check"
                         [checked]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{ row_item.index }}</div>
              <div class="td Request Item Sub Type 1 Code">
                <div class="form-group flex input-with-search">
                  <input class="form-control input"
                         [(ngModel)]="row_item.request_item_sub_type_1_code"
                         type="text"
                         placeholder="จำพวกสินค้า"
                         [value]="row_item.request_item_sub_type_1_code"
                         (ngModelChange)="
                      autocompleteChangeListItemSubType1Code(
                        row_item,
                        'request_item_sub_type_1_code'
                      )
                    "
                         autocomplete="off" />
                  <button class="btn btn-input-search btn-icon" type="button">
                    <i class="dip-icon-search"></i>
                  </button>
                </div>

                <div class="div_autocomplete"
                     *ngIf="
                    is_autocomplete_ListItemSubType1Code_show == row_item.index
                  ">
                  <table>
                    <tr *ngFor="
                        let autocomplete of autocompleteListListItemSubType1Code
                      "
                        (click)="
                        autocompleteChooseListItemSubType1Code(
                          row_item,
                          autocomplete
                        )
                      ">
                      <td>{{ autocomplete.code }}</td>
                      <td>{{ autocomplete.name }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!--<div class="td Request Item Sub Type 2 Code">
                <div class="form-group flex input-with-search">
                  <input class="form-control input"
                         [(ngModel)]="row_item.request_item_sub_type_2_code"
                         type="text"
                         placeholder="จำพวกสินค้าที่รับรอง/ร่วมใช้"
                         [value]="row_item.request_item_sub_type_2_code"
                         (ngModelChange)="
                      autocompleteChangeListItemSubType2Code(
                        row_item,
                        'request_item_sub_type_2_code'
                      )
                    "
                         autocomplete="off" />
                  <button class="btn btn-input-search btn-icon" type="button">
                    <i class="dip-icon-search"></i>
                  </button>
                </div>

                <div class="div_autocomplete"
                     *ngIf="
                    is_autocomplete_ListItemSubType2Code_show == row_item.index
                  ">
                  <table>
                    <tr *ngFor="
                        let autocomplete of autocompleteListListItemSubType2Code
                      "
                        (click)="
                        autocompleteChooseListItemSubType2Code(
                          row_item,
                          autocomplete
                        )
                      ">
                      <td>{{ autocomplete.code }}</td>
                      <td>{{ autocomplete.name }}</td>
                    </tr>
                  </table>
                </div>
              </div>-->

              <div class="td description">
                <div class="form-group flex input">
                  <input class="form-control input"
                         *ngIf="product_select != row_item"
                         [(ngModel)]="row_item.description"
                         type="text"
                         placeholder="รายการสินค้า/บริการ"
                         (click)="onClickProductSelect(row_item)" />

                  <textarea class="form-control input"
                            *ngIf="product_select == row_item"
                            rows="5"
                            [(ngModel)]="row_item.description"
                            (clickOutside)="onClickProductSelect(row_item, false)">
                </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave01ProductAdd()">
          <i class="dip-icon-add-new"></i>
        </button><button type="button"
                         class="btn btn-danger btn-icon"
                         (click)="onClickProductDelete()">
          <i class="dip-icon-trash"></i>
        </button>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateProduct')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginateProduct') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateProduct')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateProduct')">
              <option *ngFor="let perPage of perPageProduct" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginateProduct.itemsPerPage }} of
              {{ paginateProduct.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>
  <app-tab [title]="'เครื่องหมายรับรอง'"
           style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            เครื่องหมายรับรองTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              ข้อบังคับว่าด้วยการใช้เครื่องหมายรับรอง
            </label>
            <textarea #key_trademark_role
                      class="form-control input"
                      type="text"
                      id="trademark_role"
                      [(ngModel)]="input[key_trademark_role.id]"
                      rows="3">
ข้อบังคับว่าด้วยการใช้เครื่องหมายรับรอง
</textarea>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer hide"></div>
    </div>
  </app-tab>
  <app-tab [title]="'เครื่องหมายร่วม'"
           style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเครื่องหมายร่วมTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_7">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onClickCheckBoxTable7('listJoiner', 0, true)"
                         [checked]="input.is_table_7_check_all" /><span></span>
                </label>
              </div>
              <div class="td index">#</div>
              <div class="td name">ชื่อผู้ร่วมใช้</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr"
                 *ngFor="
                let row_item of listJoiner | myfilter | paginate: paginateJoiner;
                index as i
              ">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="
                      onClickCheckBoxTable7(
                        'listJoiner',
                        paginateJoiner.currentPage === 1
                          ? i
                          : (paginateJoiner.currentPage - 1) *
                              paginateJoiner.itemsPerPage +
                              i
                      )
                    "
                         [checked]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{ row_item.index }}</div>
              <div class="td name">{{ row_item.name }}</div>
              <div class="td address">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{ row_item.telephone }}</div>
              <div class="td fax">{{ row_item.fax }}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate"
                   (click)="onClickAddressCopy(listJoiner, row_item)"></i>
                <i class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item, 'ผู้ร่วมใช้')"></i>
                <i class="dip-icon-trash"
                   (click)="onClickAddressDelete(listJoiner, row_item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave01JoinerAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listJoiner)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateJoiner')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginateJoiner') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateJoiner')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateJoiner')">
              <option *ngFor="let perPage of perPageJoiner" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginateJoiner.itemsPerPage }} of
              {{ paginateJoiner.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>
  <app-tab [title]="'เครื่องหมาย'"
           style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเครื่องหมายTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">

        <div class="kt-portlet__body__inner save-01-processer">
          <div class="form-group flex">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                   *ngFor="let item of master.requestMarkFeatureCodeList">
              <input type="checkbox"
                     [(ngModel)]="request_mark_feature_code_list[item.code]"
                     [checked]="request_mark_feature_code_list[item.code]"
                     [ngModelOptions]="{standalone: true}"
                     (click)="P()" />
              {{ item.name }}
              <span></span>
            </label>

          </div>
        </div>


        <div class="table table_8" *ngIf="request_mark_feature_code_list && request_mark_feature_code_list['SOUND'] == 1">
          <div class="form-group flex">
            <label class="col-form-label">
              คำบรรยายเสียง
            </label>
            <div class="input-wrapper">
              <textarea class="form-control input "
                        type="text"
                        [(ngModel)]="input.sound_description"
                        rows="3">
                  คำบรรยายเสียง
              </textarea>
            </div>
          </div>
        </div>


        <div class="table table_8" *ngIf="request_mark_feature_code_list && request_mark_feature_code_list['SOUND'] == 1">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onClickCheckBoxTable8('listSoundMark', 0, true)"
                         [checked]="input.is_table_8_check_all" /><span></span>
                </label>
              </div>
              <div class="td index">#</div>
              <div class="td request_sound_type">รหัสเสียง</div>
              <div class="td delete">ลบ</div>
            </div>
            <div class="tr"
                 *ngFor="
                let row_item of listSoundMark | myfilter | paginate: paginateSoundMark;
                index as i
              ">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="
                      onClickCheckBoxTable8(
                        'listSoundMark',
                        paginateSoundMark.currentPage === 1
                          ? i
                          : (paginateSoundMark.currentPage - 1) *
                              paginateSoundMark.itemsPerPage +
                              i
                      )
                    "
                         [checked]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{ row_item.index }}</div>
              <div class="td select request_sound_type">
                <div class="input-wrapper">
                  <select ng-init="row_item.request_sound_type = master.requestSoundTypeList[1].code"
                          class="form-control"
                          (change)="
                      onChangeSelectSoundMark(
                        row_item,
                        'request_sound_type',
                        $event.target.value
                      )
                    "
                          [(ngModel)]="row_item.request_sound_type">
                    [value]="row_item.request_sound_type">
                    <option *ngFor="let item of master.requestSoundTypeList"
                            [value]="item.code">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="td delete">
                <i class="dip-icon-trash"
                   (click)="onClickSave01SoundMarkDelete(row_item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave01SoundMarkAdd()">
          <i class="dip-icon-add-new"></i>
        </button><button type="button"
                         class="btn btn-danger btn-icon"
                         (click)="onClickSave01SoundMarkDelete()">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateSoundMark')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginateSoundMark') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateSoundMark')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="
                onChangePerPage($event.target.value, 'paginateSoundMark')
              ">
              <option *ngFor="let perPage of perPageSoundMark"
                      [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginateSoundMark.itemsPerPage }} of
              {{ paginateSoundMark.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>

  <app-tab [title]="'ก.10'"
           style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ก.10 Tab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div>
          <table>
            <thead>
              <tr>
                <td>
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox"
                           (click)="onClickCheckBoxTable8('listSave010Case28', 0, true)"
                           [checked]="input.is_table_8_check_all" /><span></span>
                  </label>
                </td>
                <td>#</td>
                <td>จำพวกสินค้า</td>
                <td>วันที่ตามมาตรา 28</td>
                <td>ประเทศ</td>
                <td>ลบ</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                let row_item of listSave010Case28 | myfilter | paginate: paginateSave010Case28;
                index as i
              ">
                <td class="td select">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox"
                           [(ngModel)]="row_item.is_check" /><span></span>
                  </label>
                </td>
                <td>{{ row_item.index }}</td>

                <td>
                  <div class="form-group flex">
                    <div class="input-wrapper">
                      <input class="form-control input"
                             type="text"
                             [(ngModel)]="row_item.request_item_sub_type_1_code"
                             autocomplete="off" />
                      <div class="feedback-wrapper"></div>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="form-group flex">
                    <div class="input-wrapper">

                      <div class="input-wrapper input-with-icon datepicker">
                        <mat-form-field>
                          <div class="kt-input-icon kt-input-icon--right">
                            <input class="form-control input"
                                   matInput
                                   [matDatepicker]="picker_case_28_date"
                                   (click)="picker_case_28_date.open()"
                                   [(ngModel)]="row_item.case_28_date"
                                   autocomplete="off" />
                            <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                   for="case_28_date">
                              <i class="dip-icon-calendar"></i>
                            </label>
                          </div>
                          <mat-datepicker-toggle matSuffix [for]="picker_case_28_date">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker_case_28_date></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="feedback-wrapper"></div>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="form-group flex">
                    <div class="input-wrapper">
                      <select class="form-control"
                              [(ngModel)]="row_item.address_country_code">
                        <option *ngFor="let item of master.addressCountryCodeList"
                                [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>

                      <div class="feedback-wrapper"></div>
                    </div>
                  </div>
                </td>

                <td>
                  <i class="dip-icon-trash"
                     (click)="onClickSave010Case28Delete(row_item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="top-right-operator"
           style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave010Case28Add()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickSave010Case28Delete()">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateSoundMark')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input
                       class="form-control input"
                       type="number"
                       min="1"
                       max="{{ getMaxPage('paginateSoundMark') }}"
                       id="page_input"
                       [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateSoundMark')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
                    (change)="
                onChangePerPage($event.target.value, 'paginateSoundMark')
              ">
              <option *ngFor="let perPage of perPageSoundMark"
                      [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{ paginateSoundMark.itemsPerPage }} of
              {{ paginateSoundMark.totalItems }} records
            </span>
          </div>
        </div>
      </div>
    </div>
  </app-tab>
</app-tabs>

<app-modal [className]="['fade', this.modal.isModalPeopleEditOpen ? 'show' : undefined]"
           [title]="'แก้ไข' + this.modalPeopleText"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalPeopleEditOpen')">
  <div body-children class="flex align-item-start">
    <div class="main-form-wrapp er">
      <div class="kt-portlet save-01-process-job">
        <div class="kt-portlet__body">

          <app-address [params]="[modalAddress, master]"></app-address>

        </div>
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>
