:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
}

:host .div_autocomplete tr {
  line-height: 60px;
}

:host .div_autocomplete tr:hover {
  background-color: #F4F5F8;
}

:host .div_autocomplete tr td {
  padding: 0 12px;
}

:host .table-inner input.form-control,
:host .table-inner select.form-control {
  width: 100%;
}

:host .table-inner .dip-icon-edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-edit:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .table-inner .dip-icon-trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .hide {
  display: none;
}

:host .btn-create-new + .btn-danger {
  margin-left: 10px;
}

:host input.form-control,
:host select.form-control {
  width: 375px;
}

:host .tab-pane {
  position: relative;
}

:host .tab-pane .top-right-operator {
  position: absolute;
  right: 0;
  top: -75px;
}

:host .tab-pane .top-right-operator .btn {
  margin-left: 10px;
}

:host .tab-pane .top-right-operator .btn:first-child {
  margin-left: 0;
}

:host .tab-pane .empty-list {
  display: flex;
  justify-content: center;
  background-color: #F4F5F8;
  width: 100%;
  min-height: 65px;
  align-items: center;
}

:host .tab-pane .empty-list .btn {
  margin: 0 10px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .mat-input-element {
  border: 1px solid #e2e5ec;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.edit_delete > a {
  padding: 4px 8px;
}

:host .table .td.edit_delete > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .edit_delete {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .name {
  flex: 0 0 275px;
  max-width: 275px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .address {
  flex: 0 0 875px;
  max-width: 875px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .telephone {
  flex: 0 0 135px;
  max-width: 135px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .fax {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .name {
  flex: 0 0 275px;
  max-width: 275px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .address {
  flex: 0 0 875px;
  max-width: 875px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .telephone {
  flex: 0 0 135px;
  max-width: 135px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .fax {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .request_item_sub_type_1_code {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .request_item_sub_type_2_code {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .description {
  flex: 0 0 1500px;
  max-width: 1500px;
  justify-content: center;
  text-align: center;
}

:host .table.table_7 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_7 .name {
  flex: 0 0 275px;
  max-width: 275px;
  justify-content: center;
  text-align: center;
}

:host .table.table_7 .address {
  flex: 0 0 875px;
  max-width: 875px;
  justify-content: center;
  text-align: center;
}

:host .table.table_7 .telephone {
  flex: 0 0 135px;
  max-width: 135px;
  justify-content: center;
  text-align: center;
}

:host .table.table_7 .fax {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_8 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_8 .request_sound_type {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}
