:host {
  .section {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    .section-title {
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 24px;
      width: 100%;
      margin-left: 20px;
    }

    ::ng-deep {
      .dashboard-card {
        border-color: white;
        border-width: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

        &.theme-blue {
          border-color: white;
        }

        &.theme-orange {
          border-color: white;
        }

        &.theme-violet {
          border-color: white;
        }

        &.theme-red {
          border-color: white;
        }

        &.theme-green {
          border-color: white;
        }
      }
    }
  }

  .divider-line {
    &.grey {
      width: 100%;
      height: 2px;
      background-color: #E6E7EF;
    }

    &.white {
      width: 100%;
      height: 1px;
      background-color: white;
    }
  }
}
