<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="kt-portlet registration-request-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        SlSS02l040: บันทึก/แก้ไข ข้อมูลคำอุธรณ์ (ก.03)
      </h3>
    </div>
  </div>

  <div class="kt-portlet__head" style="border: none">
    <div class="kt-portlet__head-label">
      <div class="form-group flex">
        <label class="col-form-label"></label> 
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input #key_is_prv_rec type="checkbox" id="is_prv_rec"/>
          บันทึกย้อนหลัง<span></span>
        </label>
      </div>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-brand mr-2" disabled>
        <i class="fa fa-plus-square-o cs-fa-color-w" aria-hidden="true" style="color: white;"></i>
        สร้างลำดับที่คำร้อง
      </button>
      <button type="button" class="btn btn-brand mr-2" disabled>
        <i class="fa fa-send cs-fa-color-w" aria-hidden="true" style="color: white;"></i>
        ส่งงาน
      </button>
      <button type="button" class="btn btn-outline-brand" disabled>
      <i class="fa fa-file-text-o"></i>
        ดูเอกสารสแกน
      </button>
    </div>
  </div>

  <div class="kt-portlet__body"> 
    <div class="row"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            *&nbsp;
              <select class="form-control">
                <option selected>
                  เลขที่คำขอ
                </option>
                <option>
                  เลขที่คำค้าน
                </option>
            </select>
          </label> 
          
          <div class="input-group mb-3">
            <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                  [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                  (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                  (keydown)="autocompleteKeyDown($event)" 
                  (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
            <div class="input-group-append">
              <button type="button" class="btn btn-brand">
                <span class="dip-icon-search"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            เลขทะเบียน
          </label>
          <div class="input-group mb-3">
            <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                  autocomplete="off" disabled="disabled" />
          </div>
        </div>

        <div class="form-group flex">
          <label class="col-form-label">
            *วันที่ยื่นคำร้อง
          </label>          
          <div class="input-group">
            <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
            <div class="input-group-append">
              <label class="cs-input-group-text" for="appeal_date">
                <span class="dip-icon-calendar" style="font-size: 16px; color: white;"></span>
              </label>
            </div>
            <mat-datepicker #appeal_picker></mat-datepicker>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 border-right">
        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            วันที่ยืนคำขอ
          </label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            ค่าธรรมเนียม
          </label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" disabled>
          </div>
          <span class="unit">
            บาท
          </span>
        </div>

        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            *ลำดับที่คำร้องอุทธรณ์
          </label>
          <div class="input-group mb-1">
            <input type="text" class="form-control">
          </div>
          <label class="col-form-label" style="min-width: 0px;">/</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control">
          </div>
          <label class="col-form-label" style="min-width: 0px;">/</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="form-group flex">
          <label class="col-form-label" for="registrationRequester">
            สถานะคำขอ
          </label>
          <div class="input-group mb-3">
            <input #key_trademark_status_code
            class="form-control input"
            type="text"
            id="trademark_status_code"
            placeholder="สถานะคำขอ	"
            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
            [(ngModel)]="input[key_trademark_status_code.id]"
            autocomplete="off"
            disabled="disabled" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_trademark_status_code.id]" class="invalid-feedback">
              {{validate[key_trademark_status_code.id]}}
            </div>
          </div>
        </div>
        </div>
        <div class="form-group flex">
          <label class="col-form-label mr-2" for="registrationRequester">
            หมายเลข IRN
          </label>
          <div class="input-group">
            <input type="text" class="form-control" disabled>
          </div>
          <button type="button" class="btn btn-outline-brand ml-2">
            สร้างเลขคำขอใหม่
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__body">  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 mb-3">
            <h5>*ประเภทอุทธรณ์</h5>
            <label
              class="kt-radio kt-radio--bold kt-radio--brand"
              *ngFor="let item of master.save030AppealTypeCodeList"
            >
              <input
                name="uthornType"
                type="radio"
                [checked]="item.code === master.save030AppealTypeCodeList"
              />
              {{ item.name }}
              <span></span>
            </label>
          </div>
          <div class="col-md-4 mb-3">
            <h5>*ประเภทผู้ยืน</h5>
            <label
              class="kt-radio kt-radio--bold kt-radio--brand"
              *ngFor="let item of master.save030AppealMakerTypeCodeList"
            >
              <input
                name="standType"
                type="radio"
                [checked]="item.code === master.save030AppealMakerTypeCodeList"
              />
              {{ item.name }}
              <span></span>
            </label>
          </div>
          <div class="col-md-4">
            <h5>ประเด็นที่อุทธรณ์</h5>
            <select
              class="form-control"
              [(ngModel)]="master.save030AppealReasonCodeList">
              <option disabled selected hidden [value]="undefined">
                กรุณาเลือกประเด็น
              </option>
              <option *ngFor="let item of master.save030AppealReasonCodeList" [value]="item.code">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group flexright">
          <label class="col-form-label">
            ตามมาตรา
          </label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group flex">
          <div class="input-group mb-3">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group flexright">
          <label class="col-form-label">
            หมายเหตุ
          </label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group flex">
          <div class="input-wrapper">
            <textarea #key_remark class="form-control input" type="text" id="remark"
              [(ngModel)]="input[key_remark.id]" rows="3">
              หมายเหตุ
            </textarea>
            <div class="feedback-wrapper">
              <div *ngIf="validate[key_remark.id]" class="invalid-feedback">
                {{validate[key_remark.id]}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
      <button class="btn btn-outline-brand-b mr-2" type="button">
        <i class="fa fa-floppy-o "></i>บันทึก</button>
      <button class="btn btn-outline-brand-b mr-2" type="button">
        <i class="fa fa-close"></i>ยกเลิก</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<appeal-blue-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'">
  <appeal-blue-tab [title]="'ชื่อเจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                    (click)="onClickCheckBoxTable2('listPeople', $event.target.checked)" /><span></span>
                </label>
              </div>
              <div class="td index">ลำดับ</div>
              <div class="td name">ชื่อเจ้าของ</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">คำสั่ง</div>
            </div>
            <div class="tr">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" /><span></span>
                </label>
              </div>
              <div class="td index">1</div>
              <div class="td name">บริษัท พรีเมียร์ มาเก็ตติ้ง จำกัด (มหาชน)</div>
              <div class="td address">เลขที่ 1 พรีเมียร์คอร์ปอเรทปาร์ค ซอยพรีเมียร์ 2 ถนนศรีนครินทร์ แขวงหนองบอน เขตประเวศ กรุงเทพมหานคร 10250</div>
              <div class="td telephone">02-301-1492</div>
              <div class="td fax">02-748-2063</div>
              <div class="td edit_delete">
                <button type="button" class="btn btn-mini minicls mr-1">
                  <span class="dip-icon-close"
                   (click)="onClickAddressCopy(listPeople, row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipcl mr-1">
                <span class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipls">
                <span class="fa fa-plus"
                   (click)="onClickAddressDelete(listPeople, row_item)"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <div class="row">
          <button type="button" class="btn btn-appeal-action mr-3">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคำขอ
          </button>
          <button type="button" class="btn btn-appeal-action mr-5 mr-5 mr-5">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคัดค้าน
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action ml-4 mr-4" (click)="toggleModal('createNewOwner')">
            <span class="fa fa-plus"></span>
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action mr-sm-3">
            <span class="fa fa-minus"></span>
          </button>
        </div>
      </div>
      
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>
            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>
                <input #key_page_input
                  class="form-control input"
                  type="number" min="1" id="page_input"
                />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying 1 of 1 records
            </span>
          </div>
        </div>
      </div>
    </div>
  </appeal-blue-tab>
  
  <appeal-blue-tab [title]="'ผู้อุทธรณ์'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางผู้อุทธรณ์Tab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                    (click)="onClickCheckBoxTable2('listPeople', $event.target.checked)" /><span></span>
                </label>
              </div>
              <div class="td index">ลำดับ</div>
              <div class="td name">ชื่อเจ้าของ</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">คำสั่ง</div>
            </div>
            <div class="tr">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" /><span></span>
                </label>
              </div>
              <div class="td index">1</div>
              <div class="td name">บริษัท พรีเมียร์ มาเก็ตติ้ง จำกัด (มหาชน)</div>
              <div class="td address">เลขที่ 1 พรีเมียร์คอร์ปอเรทปาร์ค ซอยพรีเมียร์ 2 ถนนศรีนครินทร์ แขวงหนองบอน เขตประเวศ กรุงเทพมหานคร 10250</div>
              <div class="td telephone">02-301-1492</div>
              <div class="td fax">02-748-2063</div>
              <div class="td edit_delete">
                <button type="button" class="btn btn-mini minicls mr-1">
                  <span class="dip-icon-close"
                   (click)="onClickAddressCopy(listPeople, row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipcl mr-1">
                <span class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipls">
                <span class="fa fa-plus"
                   (click)="onClickAddressDelete(listPeople, row_item)"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <div class="row">
          <button type="button" class="btn btn-appeal-action mr-3">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคำขอ
          </button>
          <button type="button" class="btn btn-appeal-action mr-5 mr-5 mr-5">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคัดค้าน
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action ml-4 mr-4">
            <span class="fa fa-plus"></span>
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action mr-sm-3">
            <span class="fa fa-minus"></span>
          </button>
        </div>
      </div>
      
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>
            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>
                <input #key_page_input
                  class="form-control input"
                  type="number" min="1" id="page_input"
                />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying 1 of 1 records
            </span>
          </div>
        </div>
      </div>
    </div>
  </appeal-blue-tab>
  
  <appeal-blue-tab [title]="'ตัวแทน'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางตัวแทนTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                    (click)="onClickCheckBoxTable2('listPeople', $event.target.checked)" /><span></span>
                </label>
              </div>
              <div class="td index">ลำดับ</div>
              <div class="td name">ชื่อตัวแทนผู้อุทธรณ์</div>
              <div class="td address">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div>
              <div class="td fax">โทรสาร</div>
              <div class="td edit_delete">คำสั่ง</div>
            </div>
            <div class="tr">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" /><span></span>
                </label>
              </div>
              <div class="td index">1</div>
              <div class="td name">บริษัท พรีเมียร์ มาเก็ตติ้ง จำกัด (มหาชน)</div>
              <div class="td address">เลขที่ 1 พรีเมียร์คอร์ปอเรทปาร์ค ซอยพรีเมียร์ 2 ถนนศรีนครินทร์ แขวงหนองบอน เขตประเวศ กรุงเทพมหานคร 10250</div>
              <div class="td telephone">02-301-1492</div>
              <div class="td fax">02-748-2063</div>
              <div class="td edit_delete">
                <button type="button" class="btn btn-mini minicls mr-1">
                  <span class="dip-icon-close"
                   (click)="onClickAddressCopy(listPeople, row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipcl mr-1">
                <span class="dip-icon-edit"
                   (click)="onClickAddressEdit(row_item)"></span>
                </button>
                <button type="button" class="btn btn-mini minipls">
                <span class="fa fa-plus"
                   (click)="onClickAddressDelete(listPeople, row_item)"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <div class="row">
          <button type="button" class="btn btn-appeal-action mr-3">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคำขอ
          </button>
          <button type="button" class="btn btn-appeal-action mr-5 mr-5 mr-5">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคัดค้าน
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action ml-4 mr-4">
            <span class="fa fa-plus"></span>
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action mr-sm-3">
            <span class="fa fa-minus"></span>
          </button>
        </div>
      </div>
      
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>
            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>
                <input #key_page_input
                  class="form-control input"
                  type="number" min="1" id="page_input"
                />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying 1 of 1 records
            </span>
          </div>
        </div>
      </div>
    </div>
  </appeal-blue-tab>

  <appeal-blue-tab [title]="'สถานที่ติดต่อ'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางสถานที่Tab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>
      <div class="kt-portlet__body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group flex">
              <label class="col-form-label" for="registrationRequester">
                สถานที่ส่ง
              </label>
              <select
                class="form-control"
                [(ngModel)]="locationPoint.type_code"
                (input)="clearValidate('type_code')">
                <option disabled selected hidden [value]="undefined">
                  เจ้าของ
                </option>
                <option *ngFor="let item of master.save030AppealReasonCodeList" [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </appeal-blue-tab>
  
  <appeal-blue-tab [title]="'จำพวกสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-01-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td index">#</div>
              <div class="td name">จำพวกสินค้า</div>
              <div class="td address">รายการสินค้า</div>
            </div>
            <div class="tr">
              <div class="td index">1</div>
              <div class="td name">1</div>
              <div class="td address">รายการสินค้า/บริการ 1 #1</div>
            </div>
            <div class="tr">
              <div class="td index">2</div>
              <div class="td name">2</div>
              <div class="td address">รายการสินค้า/บริการ 2 #1</div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <div class="row">
          <button type="button" class="btn btn-appeal-action mr-3">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคำขอ
          </button>
          <button type="button" class="btn btn-appeal-action mr-5 mr-5 mr-5">
            <i class="fa fa-clone"></i>
            คัดลอกข้อมูลจากคัดค้าน
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action ml-4 mr-4">
            <span class="fa fa-plus"></span>
          </button>
          <button type="button" class="btn btn-icon btn-appeal-action mr-sm-3">
            <span class="fa fa-minus"></span>
          </button>
        </div>
      </div>
      
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>
            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>
                <input #key_page_input
                  class="form-control input"
                  type="number" min="1" id="page_input"
                />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying 1 of 1 records
            </span>
          </div>
        </div>
      </div>
    </div>
  </appeal-blue-tab>
</appeal-blue-tabs>

<app-modal
  [className]="['fade', this.modal.createNewOwner ? 'show' : undefined]"
  [title]="'เจ้าของ'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('createNewOwner')"
>
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="kt-portlet__body"> 
        <div class="row">
          <div class="col-md-4">
            <label class="module-label">
              ชื่อเจ้าของ
            </label> 
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="ชื่อเจ้าของ"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
            
            <label class="module-label">
              ประเภทบัตร
            </label>
            <select
              class="form-control mb-2">
              <option disabled selected hidden [value]="undefined">
                นิติบุคคล
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="module-label">
              ประเภทบุคคล
            </label>
            <select
              class="form-control">
              <option disabled selected hidden [value]="undefined">
                นิติบุคคล
              </option>
            </select>

            <label class="module-label">
              เพศ
            </label>
            <select
              class="form-control mb-2">
              <option disabled selected hidden [value]="undefined">
              </option>
              <option [value]="male">
                ชาย
              </option>
              <option [value]="female">
                หญิง
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="module-label">
              เลขที่
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="เลขที่"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
            
            <label class="module-label">
              สัญชาติ
            </label> 
            <div class="input-group mb-2">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="สัญชาติ"
                    [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                    (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                    (keydown)="autocompleteKeyDown($event)" 
                    (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
              <div class="input-group-append">
                <button type="button" class="btn btn-brand">
                  <span class="dip-icon-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label class="module-label">
              รายละเอียด
            </label> 
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="รายละเอียด"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>

            <label class="module-label">
              ที่อยู่
            </label> 
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="ที่อยู่"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>

            <label class="module-label">
              ตำบล/อำเภอ/จังหวัด
            </label> 
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="ตำบล/อำเภอ/จังหวัด"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
          </div>
          <div class="col-md-4">
            <label class="module-label">
              อาชีพ
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="อาชีพ"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
            
            <label class="module-label">
              รหัสไปรษณีย์
            </label> 
            <div class="input-group mb-2">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="รหัสไปรษณีย์"
                    [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                    (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                    (keydown)="autocompleteKeyDown($event)" 
                    (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
              <div class="input-group-append">
                <button type="button" class="btn btn-brand">
                  <span class="dip-icon-search"></span>
                </button>
              </div>
            </div>

            <label class="module-label">
              ประเทศ
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="ประเทศ"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="module-label">
              โทรศัพท์
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="โทรศัพท์"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
          </div>

          <div class="col-md-4">
            <label class="module-label">
              โทรสาร
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="โทรสาร"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
          </div>

          <div class="col-md-4">
            <label class="module-label">
              อีเมล
            </label>
            <div class="input-group mb-2">
              <input class="form-control input" type="text" id="registration_number" placeholder="อีเมล"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                    autocomplete="off" />
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__footer mt-5"> 
        <div class="row" style="display: flex; align-items: center; justify-content: center;">
          <button type="button" class="btn btn-brand mr-3">
            <i class="fa fa-clone"></i>
            คัดลอก
          </button>
          <button type="button" class="btn btn-brand-red mr-3" disabled (click)="toggleModal('createNewOwner')">
            <i class="fa fa-close"></i>
            ยกเลิก
          </button>
          <button type="button" class="btn btn-brand-grey mr-3">
            <i class="fa fa-eye"></i>
            ตัวอย่าง
          </button>
          <button type="button" class="btn btn-brand">
            <i class="fa fa-arrow-right"></i>
            เสร็จสิ้น
          </button>
        </div>
      </div>

    </div>
  </div>
</app-modal>