:host {

  .cs-input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0C84C8;
    text-align: center;
    white-space: nowrap;
    background-color: #0C84C8;
    border: 1px solid #e1e5ec;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  h5{
    color: #06679F;
  }

  label {
    &.kt-checkbox {
      &.kt-checkbox--brand {
        &.kt-checkbox--tick {
          &.kt-checkbox--label-center{
            display: inline-block;
            justify-content: center;
          }
        }
      }
    }

    &.kt-radio {
      margin-right: 100%;
    }
  }
  
  .registration-request-job {
    .kt-portlet__body {
      .col-form-label {
        min-width: 165px;
      }

      .select {
        flex: 0 0 40px;
        max-width: 40px;
        justify-content: center;
        text-align: center;
      }
    }

    .registration-requester {
      .input {
        width: 375px;
      }

      .btn {
        margin-left: 15px;
      }
    }

    &.chknomargin {
      margin-right: 0px;
    }

    .registration-request-amount {
      .input {
        width: 125px;
      }

      .unit {
        margin-left: 20px;
      }

      .kt-checkbox {
        margin-left: 0px;
      }
    }

    .kt-portlet__footer {
      .btn {
        margin-left: 185px;
      }

      .total {
        .form-group {
          &.flex {
            align-items: center;

            .input-wrapper {
              margin-bottom: 0;
              display: flex;
            }
          }
          
        }
      }

      .form-group {
        margin-bottom: 0;

        .input {
          width: 155px;
        }

        .unit {
          margin-left: 20px;
        }

        .kt-checkbox {
          margin-left: 0px;
        }
      }
    }
  }

  label{
    &.module-label {
      font-size: 16px;
      margin-top: 7px;
    }
  }
  
  button {
    &.btn {
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: normal;
      font-size: 16px;
      padding: 7px 1rem 6px;
      white-space: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  
      .icon {
        padding-right: .5rem;
      }
  
      &.round {
        border-radius: 50%;
      }

      &.btn-brand {
        &:disabled{
          background-color: #BFBFBF;
          border-color: #BFBFBF;
          color: white;
        }

        &-grey {
          background-color: #515151;
          border-color: #515151;
          color: white;
        }

        &-red{
          background-color: red;
          border-color: red;
          color: white;

          &:disabled{
            background-color: white;
            border-color: #C5C7C9;
            color: #C5C7C9;
          }
        }
      }
  
      &.btn-outline-brand {
        color: #0C84C8;
        border-color: #0C84C8;
        background-color: white;
  
        &:hover {
          background-color: #0C84C8;
          color: white;
          border-color: #F2F3F8;
  
          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }
        
        &:disabled{
          color: #DCDCDC;
          border-color: #DCDCDC;
          background-color: white;
        }
  
        &:active {
          background-color: #0C84C8 !important;
          color: white !important;
          border-color: #F2F3F8 !important;
  
          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }

        &-b{
          font-size: 12px;
          color: #0C84C8;
          border-color: #0C84C8;
          background-color: white;
    
          &:hover {
            background-color: #0C84C8;
            color: white;
            border-color: #F2F3F8;
    
            .icon {
              -webkit-filter: brightness(100);
              filter: brightness(100);
            }
          }
        }

        &-r{
          font-size: 12px;
          color: red;
          border-color: red;
          background-color: white;
    
          &:hover {
            background-color: red;
            color: white;
            border-color: #F2F3F8;
    
            .icon {
              -webkit-filter: brightness(100);
              filter: brightness(100);
            }
          }
        }
      }

      &.btn-outline-logo {
        color: #0C84C8;
        border-color: #0C84C8;
        background-color: white;
        width: 39px;
        height: 39px;
  
        &:hover {
          background-color: #0C84C8;
          color: white;
          border-color: #F2F3F8;
  
          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }
        
        &:disabled{
          color: #DCDCDC;
          border-color: #DCDCDC;
          background-color: white;
        }
  
        &:active {
          background-color: #0C84C8 !important;
          color: white !important;
          border-color: #F2F3F8 !important;
  
          .icon {
            -webkit-filter: brightness(100);
            filter: brightness(100);
          }
        }
      }

      &.btn-mini {
        width: 25px;
        height: 25px;
        font-size: 12px;

        &.minicls{
          color: white;
          background-color: #E34132;

          &:hover {
            color: white;
            background-color: #bb362a;
          }
        }

        &.minipcl{
          color: white;
          background-color: #F1C40F;

          &:hover {
            color: white;
            background-color: #d4ad0f;
          }
        }

        &.minipls{
          color: #0C84C8;
          background-color: #EFF0F4;
          border: solid 1px #dbdbdb;

          &:hover {
            color: #0C84C8;
            background-color: #d1d1d1;
          }
        }
      }
      
    }
  }

  .btn-appeal-action{
    background-color: white;
    color: #0C84C8;
  }

  button.btn.btn-appeal-action:hover{
    background-color: #C7E4f6;
  }

  .table {

    &.table_2 {
      .select {
        flex: 0 0 40px;
        max-width: 40px;
        justify-content: center;
        text-align: center;
      }

      .index {
        flex: 0 0 60px;
        max-width: 60px;
        justify-content: center;
        text-align: center;
      }

      .name {
        flex: 0 0 275px;
        max-width: 275px;
        justify-content: center;
        text-align: center;
      }

      .address {
        flex: 0 0 875px;
        max-width: 875px;
        justify-content: center;
        text-align: center;
      }

      .telephone {
        flex: 0 0 135px;
        max-width: 135px;
        justify-content: center;
        text-align: center;
      }

      .fax {
        flex: 0 0 135px;
        max-width: 135px;
        justify-content: center;
        text-align: center;
      }

      .edit_delete {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

    }
  }

  .cs-bg-color {
    &-o-drop{
      background-color: #82B2CF;
    }
    &-primary{
      background-color: #0C84C8;
    }
    &-white{
      background-color: white;
    }
  }

}
