<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title">
        <i class="dip-icon-play"></i>  การแจ้งเตือน
      </h5>
    </div>

    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <label class="nc-col-form-label">ขณะนี้มีผู้ร่วมงานท่านอื่นได้ทำการเข้ามายังเอกสารที่คุณกำลังพิจารณา</label>
    <br />
    <br />
    <div class="row">
      <div class="col-md-12">
        <div style="text-align:center">
          <label class="nc-col-form-label">ผู้ที่เข้าเอกสาร</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="text-align:center">
          <img src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-3-avatar-2754579_120516.png"
               alt="Avatar" style="width:200px;border-radius: 50%;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col">
        <div class="row">
          <div class="col-sm-1">
            <label class="nc-col-form-label">กลุ่ม</label>
          </div>
          <div class="col-sm-11">
            <input type="text" class="form-control input" readonly />
          </div>
        </div>

      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row" style="padding-top:20px">
      <div class="col-md-1">
      </div>
      <div class="col">
        <div class="row">
          <div class="col-sm-1">
            <label class="nc-col-form-label">ชื่อ</label>
          </div>
          <div class="col-sm-11">
            <input type="text" class="form-control input" readonly />
          </div>
        </div>

      </div>
      <div class="col-md-1">
      </div>
    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">

        <button type="button"
                class="btn btn-brand"
                (click)="closeModal()"
                >
          ตกลง
        </button>
      </div>
    </div>
  </div>
</div>
