<div class="kt-portlet kt-portlet--tabs {{className}}">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-toolbar">
      <ul class="nav nav-tabs {{navClassName}}">
        <li
          class="nav-item"
          *ngFor="let tab of tabs"
          (click)="selectTab(tab)"
        >
          <span
            class="tab-index"
            [ngClass]="tab.recent ? 'recent' : null"
            [class.active]="tab.active"
            *ngIf="showTabIndex"
          >
            {{tab.index}}
          </span>

          <a
            class="nav-link"
            [class.active]="tab.active"
          >
            {{tab.title}}
          </a>
        </li>

        <li
          class="nav-item add-new-version"
          *ngIf="showAddNewVersion"
          (click)="_onClickAddNewVersion()"
        >
          <span
            class="tab-index"
            *ngIf="showTabIndex"
          >
            +
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="tab-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
