:host {
    width: 100%;
  
    .kt-portlet--tabs {
      .kt-portlet__head {
        .kt-portlet__head-toolbar {
          min-height: 45px;
          height: 100%;
        }
      }
  
      &.is-timeline-tabs {
        .kt-portlet__head {
          min-height: 0px;
  
          .kt-portlet__head-toolbar {
            min-height: 0px;
  
            .nav-tabs {
              border: 0;
  
              .nav-item {
                position: relative;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 80px;
                margin: 0;
  
                .tab-index {
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  background-color: #EFF0F4;
                  color: white;
                  display: block;
                  text-align: center;
                  z-index: 2;
  
                  &.active {
                    //background-color: #0C84C8;
                    background-color: #ffffff;
                  }
  
                  &.recent {
                    background-color: #A7A7A7;
  
                    &.active {
                      //background-color: #0C84C8;
                      background-color: #ffffff;
                    }
  
                    &::after {
                      content: '';
                      display: block;
                      width: 0;
                      height: 0;
                      border-left: 4px solid transparent;
                      border-right: 4px solid transparent;
                      border-top: 7px solid #A7A7A7;
                      position: absolute;
                      top: -10px;
                      left: 50%;
                      transform: translateX(-50%);
                    }
                  }
                }
  
                .nav-link {
                  width: 100%;
                  border: 0;
                  font-size: 12px;
                  color: #777777;
                  //color: white;
                  padding: 0;
                  text-align: center;
                }
  
                &.add-new-version {
                  .tab-index {
                    color: #0C84C8;
                    cursor: pointer;
                  }
                }
  
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 5px;
                  background-color: #EFF0F4;
                  left: 50%;
                  top: 6px;
                  z-index: 1;
                }
  
                &:last-child {
                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .nav-tabs {
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: normal;
  
      .nav-item {
        margin-right: 5px;
        cursor: pointer;
  
        .nav-link {
          font-size: 16px;
          padding: 0 15px;
          color: #82869b;

          
          &.active {
            //background-color: #0C84C8;
            background-color: #E7EEF4;
            color: #0C84C8;
            border-bottom-color: #0C84C8 !important;
          }

        }
      }
    }

    .cs-tab-header{
      min-width: 100px; 
      max-width: auto; 
      min-height: 0px !important;
      justify-content: center !important;
      border-bottom-color: #82869b !important;
    }

    li:hover a {
      color: #0C84C8 !important;
      background-color: #E7EEF4 !important;
      border-bottom-color: #0C84C8 !important;
    }

    .cs-color { 
      &-w{
        color: white !important;
      }
      &-o{
        color: #0C84C8 !important;
      }
      &-g{
        color: #82869b !important;
      }
    }
  
    .cs-bg-color {
      &-o-drop{
        background-color: #82B2CF;
      }
      &-primary{
        background-color: #0C84C8;
      }
      &-white{
        background-color: white;
      }
    }
  
    .cs-header-icon {
      font-size: x-large;
      margin-right: 1rem;
    }
  
    .cs-btn-circle-sm { 
      width: 25px; 
      height: 25px; 
      padding: 6px 0px; 
      border-radius: 15px; 
      font-size: 15px; 
      text-align: center; 
    } 

    .cs-btn-brand{
      background-color: white;
      color: #0C84C8;
      border: 1px solid #0C84C8;
      min-width: 100px;
    }

    button.btn.cs-btn-brand:disabled,
    button.btn.btn-outline-brand:disabled
    {
      border: 1px solid #999999;
      background-color: white;
      color: #666666;
    }

    button.btn.btn-brand:disabled
    {
      border: 1px solid #999999;
      background-color: #999999;
      color: #ffffff;
    }

    button.btn.cs-btn-brand:hover
    {
      background-color: #0C84C8;
      color: white;
      border: 1px solid #0C84C8;
    }

    .cs-btn-danger{
      background-color: white;
      color: red;
      border: 1px solid red;
      min-width: 100px;
    }

    button.btn.cs-btn-danger:hover{
      background-color: red;
      color: white;
      border: 1px solid red;
      min-width: 100px;
    }

    .btn-revoke-action{
      background-color: white;
      color: #0C84C8;
    }

    button.btn.btn-revoke-action:hover{
      background-color: #C7E4f6;
    }
    


    .cs-tab-header {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }



}
  