<div class="kt-portlet register-book-notify">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          บันทึกการออกหนังสือเพื่อแจ้งทราบ (ตค.9)
        </h3>
      </div>
    </div>
    
    <div class="kt-portlet__body">  
      <div class="row">
          <div class="col-1"></div>
          <div class="col-4 ">
            <div class="row mt-3">
                <div class="form-group flex">
                    <label class="col-form-label">
                      เลขที่คำขอ
                    </label>          
                    <div class="input-group">
                      <input type="text" class="form-control"/>                 
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group flex">
                    <label class="col-form-label">
                      เลขทะเบียน
                    </label>          
                    <div class="input-group">
                      <input type="text" class="form-control"/>                 
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group flex">
                    <label class="col-form-label">
                      ชื่อเจ้าของ
                    </label>          
                    <div class="input-group">
                      <input type="text" class="form-control"/>                 
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group flex">
                    <label class="col-form-label">
                      ประเด็น
                    </label>          
                    <div class="input-wrapper">
                        <div class="input-wrapper-row">
                            <select class="form-control" [(ngModel)]="input.reason_code">
                                <option 
                                *ngFor="let item of appealReasonList"
                                [value]="item.code">
                                {{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="kt-portlet__body">  
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 ">
              <div class="row">
                  <div class="form-group flex">
                      <label class="col-form-label">
                      </label>          
                      <div class="kt-radio-inline">
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="radioBook"
                            type="radio"
                          />
                          ออกหนังสือแจ้งการอุทธรณ์ (ตค.9 ข้อ 5)
                          <span></span>
                        </label>
        
                      </div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="form-group flex">
                      <label class="col-form-label">                    
                      </label>          
                      <div class="kt-radio-inline">    
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="radioBook"
                            type="radio"
                          />
                          ออกหนังสือแจ้งเพื่อทราบ (ตค.9 ข้อ 10)
                          <span></span>
                        </label>
                      </div>
                  </div>
              </div>
              <div class="row mt-3">
                <div class="form-group flex">
                    <label class="col-form-label">                    
                    </label>          
                    <div class="kt-radio-inline">    
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        <input
                          name="radioBook"
                          type="radio"
                        />
                        ออกหนังสือเครื่องหมายที่มีชื่อเสียงแพร่หลาย (ตค.9 ข้อ 14)
                        <span></span>
                      </label>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  
    <div class="kt-portlet__body">  
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
              <div class="row">
                  <div class="form-group flex">
                      <label class="col-form-label">
                          ข้อแจ้งให้ทราบ ดังนี้
                      </label>            
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand mr-5">
                          <input 
                            type="checkbox" 
                          />
                          ส่งผู้คัดค้าน
                          <span></span>
                        </label>
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                          <input 
                            type="checkbox" 
                          />
                          ส่งผู้ขอจดทะเบียน
                          <span></span>
                        </label>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="form-group flex" style="align-items: center;">
                    <label class="col-form-label"></label>            
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand mr-5">
                        <input 
                          type="checkbox" 
                        />
                        รอบสอง
                        <span></span>
                      </label>
                      
                      
                      <span class="mr-3" style="font-size: 16px; font-weight: normal; color: #6D6E71;">
                        เหตุผล
                      </span>          
                      <div class="input-group">
                        <input type="text" class="form-control"/>                 
                      </div>

                  </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
              <div class="row">
                <div class="form-group flex">
                    <label class="col-form-label" for="payment_date">
                      วันที่มีคำสั่ง
                    </label>          
                    <div class="input-group">
                      <input 
                        type="text" 
                        class="form-control"
                        #key_payment_date 
                        id="payment_date" 
                        [matDatepicker]="payment_picker"
                        (click)="payment_picker.open()" 
                        (dateChange)="clearValidate(key_payment_date.id)"
                      />
                      <div class="input-group-append">
                        <label class="cs-input-group-text" for="payment_date">
                          <i class="dip-icon-calendar cs-input-group-icon"></i>
                        </label>
                      </div>
                      <mat-datepicker #payment_picker></mat-datepicker>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-3 ml-3">
                <div class="form-group flex" style="align-items: center;">
                    <label class="col-form-label">จำนวนวันที่คุมเวลา</label>                            
                    <div class="input-group">
                        <input type="text" class="form-control" style="text-align: right;"/>                 
                    </div>
                    <span class="ml-3 mr-3" style="font-size: 16px; font-weight: normal; color: #6D6E71;"> วัน </span>
                </div>
            </div>
        </div>

    </div>

    <div class="kt-portlet__body" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">  
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label">
                            ย่อหน้าที่ 1 
                            <button class="btn btn-icon btn-brand ml-3" style=" height: 35px; width: 35px;">
                                <span class="fa fa-search"></span>
                            </button> 
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="3" style="resize: none;"></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label">
                            ย่อหน้าที่ 2 
                            <button class="btn btn-icon btn-brand ml-3" style=" height: 35px; width: 35px;">
                                <span class="fa fa-search"></span>
                            </button> 
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="3" style="resize: none;"></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label">
                            ย่อหน้าที่ 3 
                            <button class="btn btn-icon btn-brand ml-3" style=" height: 35px; width: 35px;">
                                <span class="fa fa-search"></span>
                            </button> 
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="3" style="resize: none;"></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="form-group flex" style="justify-content: center;">
                    <label class="col-form-label"></label>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3 mr-3">
                            ยกเลิก
                        </button>    
                    </div>                        
                  </div>
            </div>
        </div>
    </div>

</div>