<div class="kt-portlet save-send-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-send-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date">วันที่รับคำขอ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_date id="request_date" class="form-control input" matInput
                         [matDatepicker]="picker_request_date" (click)="picker_request_date.open()"
                         [(ngModel)]="input[key_request_date.id]" (dateChange)="clearValidate(key_request_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="request_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_request_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_request_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date.id]" class="invalid-feedback">
                  {{validate[key_request_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-send-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.saveStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="save_status_code"
                         type="radio"
                         [checked]="item.code === input.save_status_code"
                         (click)="oneWayDataBinding('save_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-send-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickSaveSendList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="onClickReset()">
      <i class="dip-icon-close"></i>
      ยกเลิก
    </button>

  </div>
</div>
<div class="kt-portlet save-send-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label">
        กลุ่มงานที่รับงาน *
      </label>
      <div class="input-wrapper">
        <select #key_department
                class="form-control"
                id="department"
                [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                [(ngModel)]="input[key_department.id]"
                (change)="oneWayDataBinding('department', $event.target.value)"
                [value]="input.department">
          <option *ngFor="let item of master.departmentList"
                  [value]="item.code">
            {{item.name}}
          </option>
        </select>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_department.id]"
               class="invalid-feedback">
            {{validate[key_department.id]}}
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSaveOtherSend()">
        <i class="dip-icon-forward"></i>
        บันทึกส่งงาน
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listSaveSend, $event.target.checked)" /><span></span></label></td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="make_date_text">วันที่ยื่นคำร้อง</td>
          <td class="request_type_name">แบบฟอร์ม</td>
          <td class="save_status_name">สถานะ</td>
          <td class="request_document_collect_link">แสดงเอกสาร</td>
          <td class="evidence_address">สถานที่เก็บหลักฐาน</td>
          <td class="department_send_name">กลุ่มงานที่รับงาน</td>
          <td class="department_send_date_text">วันที่ส่งงาน</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listSaveSend | myfilter | paginate: paginateSaveSend; index as i">
          <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="make_date_text">{{row_item.make_date_text}}</td>
          <td class="request_type_name">{{row_item.request_type_name}}</td>
          <td class="save_status_name">{{row_item.save_status_name}}</td>
          <td class="request_document_collect_link">
            <a href="{{'File/RequestDocumentCollect/' + row_item.request_type_code + '/' + row_item.file_id}}"
               target="_blank"
               *ngIf="row_item.file_id && row_item.file_id != ''">
              <i class="dip-icon-file-alt"></i>
            </a>
          </td>
          <td class="evidence_address">{{row_item.evidence_address}}</td>
          <td class="department_send_name">{{row_item.department_send_name}}</td>
          <td class="department_send_date_text">{{row_item.department_send_date_text}}</td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateSaveSend" (onClickList)="onClickSaveSendList()"></app-paging>
  </div>
</div>
