<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__body" style="align-self: center;width: 100%;">
    <div class="form-row">
      <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="REGISTER PAGE 1" [navigationSymbol]="{ symbol: '1' }">
          <hr>
          <div class="row">
            <div class="col-12">
              <h3 class="sub-head-title">
                รายละเอียดคำขอ <i class="fa fa-question-circle"></i>
              </h3>
            </div>
            <div class="col-12">
              <p>เลขคำที่ยื่นจดทะเบียนในประเทศ</p>
            </div>
            <div class="col-lg-12 col-md-8">
              <div class="row">
                <div class="col-lg-8 col-sm-12">
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <input type="text" class="form-control"  [(ngModel)]="Item">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                  
                        <button class="btn btn-brand-2" (click)="addItem()">+ เพิ่ม</button>
  
                    </div>
                  </div>
                  <div class="row" *ngIf="ItemArray">
                    <div class="kt-portlet__body__inner public-role01-item-lister">
                      <mat-nav-list class="list-horizontal">
                        <mat-list-item *ngFor="let item of ItemArray; let i = index" [attr.data-index]="i"
                          style="margin: 1px; background-color: #F2F3F8; max-width: 250; text-align: center; height: 30px;">
                          <div class="row">
                            <div class="col-9">
                              <i class="fa fa-steam"></i>
                              {{ item }}
                            </div>
                            <div class="col-1">
                              <mat-icon (click)="deleteItem(i)" style="cursor: pointer; vertical-align: top;">close
                              </mat-icon>
                            </div>
                          </div>
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                    <!-- <div *ngFor="let item of ItemArray">
                      <div style="border: darkblue; color: white; background-color: black;">
                        {{ item }}
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-12">
              <h4 class="sub-head-title"> <label class="number-label">1</label> CONTRACTING PARTY WHOSE OFFICE IS THE
                OFFICE OF ORIGIN <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" disabled>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-lg-10 col-md-10 ">
              <h4 class="sub-head-title"> <label class="number-label">2</label> APPLICANT <i
                  class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-lg-2 col-md-2 " style="text-align: end;">
              <button class="btn btn-brand" (click)=" onClickModal01_2()"> <i class="fa fa-user-plus"></i> เพิ่มเจ้าของ</button>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-12">
              <label for=""> <span style="color: red;">* </span>(a) Name <i class="fa fa-info-circle sub-head-title"
                  style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for=""> <span style="color: red;">* </span>(b) Address <i class="fa fa-info-circle sub-head-title"
                  style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for=""> (c) Address for correspondence <i class="fa fa-info-circle sub-head-title"
                  style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12  mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for=""> <span style="color: red;">* </span>(d) Telephone <i
                      class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for=""> Fax <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for=""> <span style="color: red;">* </span> E-mail address <i
                      class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <p>By providing an e-mail address, any further correspondence from the International Bureau related to
                this/there international registration(s) will be sent only electronically and, therefore, you will no
                longer receive any paper correspondence. Likewise, any further correspondence from the International
                Bureau related to other international applications or international registrations for which the same
                e-mail address has been, or will be, provided will also be sent only electronically.
                Please note that, for the purpose of electronic communication, there can be only one e-mail address
                recorded per each international registration.</p>
              <p>WIPO will not share the provided email address with any third parties, except with designated
                Contracting Parties for the express purpose of transmitting official communications regarding the
                concerned international registration.</p>
            </div>
            <div class="col-12">
              (e) Preferred language for correspondence &nbsp;
              <span> <input type="radio" name="language" id=""> English</span> &nbsp;
              <span> <input type="radio" name="language" id=""> French</span> &nbsp;
              <span> <input type="radio" name="language" id=""> Spanish</span>
            </div>
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-12">
                  (f) Other indications (as may be required by certain designated Contracting Parties, such as, for
                  example, the United States of America; only provide indications in either item (i) or in item (ii) but
                  not in both items)
                </div>
                <div class="col-11">
                  (i) if the applicant is a natural person, nationality of the applicant <i
                    class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
                <div class="col-11">
                  (ii) if the applicant is a legal entity (please, provide both the following indications)
                  <div class="row  justify-content-center">
                    <div class="col-11">
                      - legal nature of the legal entity
                    </div>
                    <div class="col-11">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-11">
                      - State (country) and, where applicable, territorial unit within that State (canton, province,
                      state, etc.), under the law of which the said legal entity has been organized
                    </div>
                    <div class="col-11">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              กรณีเป็นนิติบุคคล กรุณาแนบหนังสือรับรองนิติบุคคล หนังสือรับรองนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน
              <span style="color: red;">(ไฟล์ไม่เกิน 5MB)</span> &nbsp; <span style="color: #0C84C8;">Username.pdf
              </span>
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
              &nbsp; <span><button class="btn-dowload-file"> Download </button> </span>
            </div>
            <div class="col-12 m-2">
              <span style="color: red;">(เอกสารสแกนต้นฉบับไม่ต้องเซ็นรับรองแต่ถ้าเป็นเอกสารสำเนา
                ต้องเซ็นรับรองทุกหน้า)</span>
            </div>
            <div class="col-12">
              กรณีที่มีเจ้าของมากกว่าหนึ่งคนกรุณาดาวน์โหลดใบต่อท้าย เพื่อกรอกข้อมูลให้ครบตามหัวข้อที่ 1
              จากนั้นแนบไฟล์ใบต่อท้ายกลับมาด้วยไฟล์นามสกุล .pdf
              &nbsp;
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
              &nbsp; <span><button class="btn-dowload-file"> Download </button> </span>
            </div>

            <div class="col-12 mt-3">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">3</label> ENTITLEMENT TO FILE <i
                  class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <label for=""> <span style="color: red;">* </span>(a) Check the approproate box <i
                  class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-11" style="margin-left: -35px;">
                  <input type="radio" name="3a"> (i) where the Contracting Party mentioned in item 1 is a State, the
                  applicant is a national of that State; or <i class="fa fa-info-circle sub-head-title"
                    style="font-size: 20px;"></i>
                </div>
                <div class="col-11">
                  <label for="">(ii) where the Contracting Party mentioned in item 1 is an organization, the name of the
                    State of which the applicant is a national <i class="fa fa-info-circle sub-head-title"
                      style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
                <div class="col-11" style="margin-left: -35px;">
                  <input type="radio" name="3a"> (iii) the applicant is domiciled in the territory of the Contracting
                  Party mentioned in item 1; or <i class="fa fa-info-circle sub-head-title"
                    style="font-size: 20px;"></i>
                </div>
                <div class="col-11" style="margin-left: -35px;">
                  <input type="radio" name="3a"> (iv) the applicant has a real and effective industrial or commercial
                  establishment in the territory of the Contracting Party mentioned in item 1. <i
                    class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="">(b) Where the address of the applicant, given in item 2(b), is not in the territory of the
                Contracting Party mentioned in item 1, indicate in the space provided below:<i
                  class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
              <div class="row justify-content-center">
                <div class="col-11">
                  แนบไฟล์หลักฐาน <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                  &nbsp;<span><button class="btn-choose-file"> Choose Files..</button></span>
                </div>
                <div class="col-11" style="margin-left: -35px;">
                  <input type="radio" name="3a"> (i) if the box in paragraph (a)(iii) of the present item has been
                  checked, the domicile of the applicant in the territory of that Contracting Party, or, <i
                    class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
                <div class="col-11" style="margin-left: -35px;">
                  <input type="radio" name="3a"> (ii) if the box in paragraph (a)(iv) of the present item has been
                  checked, the address of the applicant’s industrial or commercial establishment in the territory of
                  that Contracting Party. <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
                <div class="col-11">
                  <textarea class="form-control" name="" id="" cols="30" rows="2" style="width: 100%;"></textarea>
                </div>

              </div>
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">4</label> APPOINTMENT OF A REPRESENTATIVE <i
                  class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12 ">
              <label for=""> Name(นายสิทธิชัย เพชรโมกุล ) <i
                class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12 mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-12">
              <label for=""> Address <i
                class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
            </div>
            <div class="col-12 mb-2">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Telephone <i
                      class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Fax <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">E-mail address <i
                      class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-12">
              <p>
                By providing an e-mail address, any further correspondence from the International Bureau related to this/there international registration(s) will be sent only electronically and, therefore, you will no longer receive any paper correspondence. Likewise, any further correspondence from the International Bureau related to other international applications or international registrations for which the same e-mail address has been, or will be, provided will also be sent only electronically.
                Please note that, for the purpose of electronic communication, there can be only one e-mail address recorded per each international registration.
              </p>
              <p>
                WIPO will not share the provided email address with any third parties, except with designated Contracting Parties for the express purpose of transmitting official communications regarding the concerned international registration.
              </p>
            </div>
            <div class="col-12">
             <label for=""> แนบหนังสือมอบอำนาจ  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label> 
             &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
             &nbsp; <span><button class="btn-dowload-file"> Download </button> </span>
            </div>

            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">5</label> BASIC APPLICATION OR BASIC REGISTRATION <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <table class="table table-bordered" style="width: 100%;">
                <thead>
                  <tr>
                    <td class="table-header" style="width: 25%;">
                      Basic application number
                    </td>
                    <td class="table-header"  style="width: 25%;">
                      Date of basic application   <i class="fa fa-question-circle"></i> 
                    </td>
                    <td class="table-header"  style="width: 25%;">
                      Basic registration number  <i class="fa fa-question-circle"></i> 
                    </td>
                    <td class="table-header"  style="width: 25%;">
                      Date of the basic registration  <i class="fa fa-question-circle"></i> 
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1700125895
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">6</label> PRIORITY CLAIMED <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              <input type="checkbox" > The applicant claims the priority of the earlier filing mentioned below
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Office of earlier filing </label>
                </div>
                <div class="col-12 ">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="">Number of earlier filing(if available) </label>
                </div>
                <div class="col-12 ">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="row">
                <div class="col-12">
                  <label for="" style="margin-bottom: 3px;">Date of earlier filing <i
                      class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label>
                </div>
                <div class="col-12">
                  <div class="input-container">
                    <input class="input-field" type="text">
                    <i class="fa fa-calendar icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for=""> หนังสือรับรองสถานะคำขอ  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label> 
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
              &nbsp; <span><button class="btn-dowload-file"> View Online >> </button> </span>
             </div>
             <div class="col-12">
              <input type="checkbox" > If several priorities are claimed, check the box and use a continuation sheet giving the above required information for each priority claimed.
            </div>
            <div class="col-1">
              <button class="btn btn-brand">
                + เพิ่มข้อมูล
              </button>
            </div>
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
                <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                  <i class="dip dip-icon-save"></i>
                  บันทึก</button>
              <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="REGISTER PAGE 2" [navigationSymbol]="{ symbol: '2' }">
          <div class="row">
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">7</label> <span></span> THE MARK <i class="fa fa-question-circle"></i> </h4>
              <p>
                (a) Place the reproduction of the mark, as it appears in the basic application or basic registration, in the square below <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
              </p>
            </div>
            <div class="col-12" style="text-align: center;border: 1px solid rgb(231, 231, 231);">
              <img src="http://logo-th.com/wp-content/uploads/2019/06/DIPLOGO.jpg" alt="" style="max-height: 300px;">
            </div>
            <div class="col-12 mt-2">
              <input type="checkbox"> (c) The applicant declares that he wishes the mark to be considered as a mark in standard characters. <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
            </div>
            <div class="col-12 mt-2">
              <input type="checkbox"> (d) The mark consists exclusively of a color or a combination of colors as such, without any figurative element. <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">8</label> <span></span> COLOR(S) CLAMED <i class="fa fa-question-circle"  style="font-size: 20px;"></i> </h4>
            </div>
            <div class="col-12">
               <div class="row justify-content-center">
                 <div class="col-11" style="margin-left: -35px;">
                  <input type="checkbox"> (a) The applicant claims color as a distinctive feature of the mark. <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 

                 </div>
                <div class="col-11">
                  Color or combination of colors claimed <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
                <div class="col-11">
                  (b) Indication, for each color, of the principal parts of the mark that are in that color (as may be required by certain designated Contracting Parties)<i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">9</label> <span></span> MISCELLANEOUS INDICATIONS <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              (a) Transliteration of the mark (this information is compulsory where the mark consists of or contains matter in characters other than Latin characters, or numerals other than Arabic or Roman numerals) <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-12">
                  (b) Translation of the mark (as may be required by certain designated Contracting Parties; do not check the box in item (c) if you provide a translation in this item) <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  (i) into English  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
                <div class="col-11">
                  (ii) into French  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
                <div class="col-11">
                  (iii) into Spanish  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-12">
              (c)   <input type="checkbox"> <span></span> The words contained in the mark have no meaning (and therefore cannot be translated; do not check this box if you have provided a translation in item (b)). <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 

            </div>
            <div class="col-12">
              (d) Where applicable, check the relevant box or boxes below <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
            <div class="row justify-content-center">
              <div class="col-11">
                <input type="checkbox"> &nbsp; Three-dimensional mark <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> 
              </div>
              <div class="col-11">
                <input type="checkbox"> &nbsp; Sound mark <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i> &nbsp; <span> <button class="btn-choose-file"> Choose Files..</button> </span>
              </div>
              <div class="col-11">
                <input type="checkbox"> &nbsp; Collective mark, certification mark, or guarantee mark <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>   &nbsp; <span> <button class="btn-choose-file"> Choose Files..</button> </span>
              </div>
            </div>
            </div>
            <div class="col-12">
              (e) Description of the mark (as may be required by certain designated Contracting Parties, such as, for example, the United States of America) <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>
              <div class="row justify-content-center">
                <div class="col-11">
                  (i) Description of the mark contained in the basic application or basic registration, where applicable (only use this item if the Office of origin requires you to include this description in the international application for the purposes of
                  item 13(a)(ii) of this form)  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
                <div class="col-11">
                  (ii) Voluntary description of the mark (any description of the mark by words, including the description contained in the basic application or registration, if you were not required to provide this description in item (e)(i) above)<i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-12">
              (f) Verbal elements of the mark (where applicable)  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              (g) The applicant wishes to disclaim protection for the following element(s) of the mark  <i class="fa fa-info-circle sub-head-title"  style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <hr>
            </div>
          </div>

          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-brand   btn-align-center" awPreviousStep>
                <i class="fa fa-arrow-left"></i>
                ย้อนกลับ</button>
              <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
                <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                  <i class="dip dip-icon-save"></i>
                  บันทึก</button>
              <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                <i class="fa fa-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="REGISTER PAGE 3" [navigationSymbol]="{ symbol: '3' }">
          <div class="row">
            <div class="col-12">
              <hr>
              <h4 class="sub-head-title"> <label class="number-label">10</label> <span></span> <span style="color: red;">*</span> DESIGNATIONS <i class="fa fa-question-circle"></i> </h4>
            </div>
            <div class="col-12">
              (Information on the procedures in the national or regional Offices of the members of the Madrid System may be found at the following website: <a href="https://www.wipo.int/madrid/en/members/ipoffices_info.html"> www.wipo.int/madrid/en/members/ipoffices_info.html </a>. Additional information may be found in the information notices available at: <a href="https://www.wipo.int/madrid/en/notices/"> www.wipo.int/madrid/en/notices/.</a>)
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist1">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist2">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist3">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row mt-4">
                  <div class="col-12" *ngFor="let item of Countrylist4">
                    <input type="checkbox" > {{item.name}}
                  </div>
              </div>
            </div>
            <div class="col-12">
              <input type="checkbox"> Other
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <input type="text" class="form-control">
            </div>
            <div class="col-12 mt-3">
              <p>1. The designation of the European Union covers its Member States 
                (Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, 
                Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, The Netherlands, Poland, Portugal, Romania, Slovakia,
                 Slovenia, Spain, Sweden) and, during a transition period, the United Kingdom (for further information, 
                 see Information Notice No. 2/2020.
              </p>
              <p>
                If the European Union is designated, it is compulsory to indicate a second language before the Office of the
                 European Union. The second language must be chosen from among the following five languages,
                  but may not be the language of the international application from which the international 
                  registration indicated in item 1 resulted, regardless of the language of the present subsequent designation. 
                  Thus, for example, if the international application was filed in French and this subsequent designation is in English, French may not be selected as the second language (check one box only):
                 <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
              </p>
            </div>
            <div class="col-12">
            <span><input type="radio" name="conuntry2"> French </span> 
            <span><input type="radio" name="conuntry2"> German </span> 
            <span><input type="radio" name="conuntry2"> Italian </span> 
            <span><input type="radio" name="conuntry2"> Spanish </span> 
            </div>
            <div class="col-12">
              Moreover, if the holder wishes to claim the seniority of an earlier mark registered in, or for, a Member State of the European Union, the official form MM17 must be annexed to the present subsequent designation.
            </div>
            <div class="col-12">
              <span>
                <input type="checkbox" name="" id=""> MM17 (กรุณาอัปโหลดไฟล์ MM17 ที่ได้ลงลายมือชื่อแล้ว เป็นไฟล์นามสกุล.pdf)
              </span>
              &nbsp;
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
              &nbsp; <span><button class="btn-dowload-file"> MM17 Download </button> </span>
            </div>
            <div class="col-12">
              2. By designating Brunei Darussalam, India, Ireland, Lesotho, Malawi, Malaysia, Mozambique, New Zealand, Singapore or the United Kingdom, the holder declares that he has the intention that the mark will be used by him or with his consent in
            that country in connection with the goods and services identified in the present subsequent designation.
            <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              3. The designation of the African Intellectual Property Organization (OAPI) covers the following Member States: Benin, Burkina Faso, Cameroon, Central African Republic, Chad, Comoros, Congo, Côte d’Ivoire, Equatorial Guinea, Gabon, Guinea,
            Guinea-Bissau, Mali, Mauritania, Niger, Senegal, Togo.
            <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              4. If the United States of America is designated, it is compulsory to annex to the present subsequent designation the official form (MM18) containing the declaration of intention to use the mark required by this Contracting Party. Item 6(a) of the
            present form should also be completed.
            <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <span>
                <input type="checkbox" name="" id=""> MM18 (กรุณาอัปโหลดไฟล์ MM18 ที่ได้ลงลายมือชื่อแล้ว เป็นไฟล์นามสกุล.pdf)
              </span>
              &nbsp;
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
              &nbsp; <span><button class="btn-dowload-file"> MM18 Download </button> </span>
            </div>
            <div class="col-12">
              <p>
                5. Brazil, Cuba and Japan have made a notification under Rule 34(3)(a) of the Regulations under the Protocol.
                 Their respective individual fees are payable in two parts. Therefore, if Brazil, Cuba or Japan is designated, 
                 only the first part of the applicable individual fee is payable at the time of filing the present subsequent 
                 designation. The second part will have to be paid only if the Office of the Contracting Party concerned is satisfied 
                 that the mark which is the subject of the international registration qualifies for protection. The date by which the 
                 second part must be paid, and the amount due, will be notified to the holder of the international registration at a 
                 later stage.  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>

              </p>
            </div>
            <div class="col-12">
              6. Territorial entity previously part of the former Netherlands Antilles.  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              7. Protection in BQ (Bonaire, Saint Eustatius and Saba) is granted automatically with the designation (see Information Notice No. 27/2011).
              <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              8. By designating Brazil, the holder declares that the holder, or a company controlled by the holder, effectively and lawfully conducts business in 
              connection with the goods and services for which Brazil is being designated <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              9. The designation of Benelux covers the following States: Belgium, Luxembourg and the Netherlands. <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <hr>
              <div class="row justify-content-between">
                <div class="col-10">
                  <h4 class="sub-head-title"> <label class="number-label">11</label> <span></span> GOODS AND SERVICE <i class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-2" style="text-align: end;">
                  <span><button class="btn-dowload-file"> <i class="fa fa-file"></i> ส่งเอกสาร</button> </span>
                </div>
                <div class="col-11">
                  <p>
                    You can find indications that are pre-accepted by the International Bureau in the Madrid Goods & Services Manager 
                    (MGS) at <a href="https://https://www.wipo.int/mgs/">www.wipo.int/mgs/.</a>  By using these indications you can avoid possible irregularities concerning the
                    classification of goods and services and a delay in the recording of the international registration.
                  </p>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <p>
                        Please make consistent use of a semicolon (;) to clearly specify the goods and services indications in your list, e.g.: <br>
                      09 Scientific, optical and electronic apparatus and instruments; screens for photoengraving; computers. <br>
                      35 Advertising; compilation of statistics; commercial information  agencies.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  (a) Indicate below the goods and services for which the international registration is sought <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
                <div class="col-12">
                  <table class="table table-bordered" style="width: 100%;">
                    <thead>
                      <tr>
                        <td class="table-header">ID</td>
                        <td class="table-header" style="width: 30px;text-align: center;"><input type="checkbox" name="" id=""></td>
                        <td class="table-header">Class</td>
                        <td class="table-header">รายการสินค้า/บริการ</td>
                        <td class="table-header">Goods and service</td>
                        <td class="table-header" style="width: 50px;">คำสั่ง</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          170012251
                        </td>
                        <td>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr style="text-align: center;">
                            <span><button class="btn-minus"> <i class="fa fa-minus" ></i></button> </span>
                          </tr>
                          <tr style="text-align: center;">
                            <span><button class="btn-plus"> <i class="fa fa-plus" style="font-size: 20px;"></i> </button> </span>
                          </tr>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-12">
                  <table class="table table-bordered" style="width: 100%;">
                    <thead>
                      <tr>
                        <td class="table-header">ID</td>
                        <td class="table-header" style="width: 30px;text-align: center;"><input type="checkbox" name="" id=""></td>
                        <td class="table-header">Class</td>
                        <td class="table-header">รายการสินค้า/บริการ</td>
                        <td class="table-header">Goods and service</td>
                        <td class="table-header" style="width: 50px;">คำสั่ง</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          170012251
                        </td>
                        <td>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr style="text-align: center;">
                            <span><button class="btn-minus"> <i class="fa fa-minus" ></i></button> </span>
                          </tr>
                          <tr style="text-align: center;">
                            <span><button class="btn-plus"> <i class="fa fa-plus" style="font-size: 20px;"></i> </button> </span>
                          </tr>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <input type="checkbox" name="" id=""> (b) The applicant wishes to limit the list of goods and services in respect of one or more designated Contracting Parties, as follows
                  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div>
                <div class="col-12 mt-2">
                  <table class="table table-bordered" style="width: 100%;">
                    <thead>
                      <tr>
                        <td class="table-header">ID</td>
                        <td class="table-header" style="width: 30px;text-align: center;"><input type="checkbox" name="" id=""></td>
                        <td class="table-header">Class</td>
                        <td class="table-header">รายการสินค้า/บริการ</td>
                        <td class="table-header">Goods and service</td>
                        <td class="table-header" style="width: 50px;">คำสั่ง</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          170012251
                        </td>
                        <td>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                          <tr>
                            <input type="checkbox" name="" id="">
                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr>

                          </tr>
                          <tr>

                          </tr>
                        </td>
                        <td>
                          <tr style="text-align: center;">
                            <span><button class="btn-minus"> <i class="fa fa-minus" ></i></button> </span>
                          </tr>
                          <tr style="text-align: center;">
                            <span><button class="btn-plus"> <i class="fa fa-plus" style="font-size: 20px;"></i> </button> </span>
                          </tr>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <hr>
                  <h4 class="sub-head-title"> <label class="number-label">12</label> <span></span> <span style="color: red;">*</span> SIGNATURE BY THE APPLICANT AND/OR HIS REPRESENTATIVE  <i class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-12">
                  <p>
                    <span style="font-size: 11px;"> (if required or allowed by the Office of origin) </span> <br>
                    By signing this form, I declare that I am entitled to sign it under the applicable law: 
                    <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                  </p>
                </div>
                <div class="col-12">
                  <span style="color: red;">*</span> Name  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                </div> 
                <div class="col-12">
                  <input type="text" name="" id="" class="form-control">
                </div>
                <div class="col-12" style="text-align: center;">
                  <hr>
                  <h4 class="sub-head-title"> ส่วนของเจ้าหน้าที่ </h4>
                </div>
                <div class="col-12">
                  <h4 class="sub-head-title"> <label class="number-label">13</label> <span></span> <span style="color: red;">*</span> SIGNATURE BY THE APPLICANT AND/OR HIS REPRESENTATIVE  <i class="fa fa-question-circle"></i> </h4>
                </div>
                <div class="col-12">
                 <span class=" pl-5" style="font-size: 11px;"> (where the request is presented through an Office) </span>
                </div>
                <div class="col-12">
                  <p>
                    (a) Certification  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> <br>
                      The Office of origin certifies
                  </p>
                </div>
                <div class="col-12">
                  <div class="row justify-content-center">
                    <div class="col-11">
                      (i) that the request to present this application was received on  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                    </div>
                    <div class="col-11">
                      <div class="row">
                        <div class="col-4">
                          <div class="input-container">
                            <input class="input-field" type="text" disabled>
                            <i class="fa fa-calendar icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-11">
                      <p>
                        (ii) that the applicant named in item 2 is the same as the applicant named in the basic application or the holder named in the basic registration mentioned in item 5, as the case may be, that any indication given in item 7(d), 9(d) or 9(e)(i)
                        appears also in the basic application or the basic registration, as the case may be,  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                      </p>
                      <p>
                        that the mark in item 7(a) is the same as in the basic application or the basic registration, as the case may be, that, if color is claimed as a distinctive feature of the mark in the basic application or the basic registration, the same claim is
                        included in item 8 or that, if color is claimed in item 8 without having being claimed in the basic application or basic registration, the mark in the basic application or basic registration is in fact in the color or combination of colors claimed, and
                      </p>
                      <p>
                        that the goods and services listed in item 10 are covered by the list of goods and services appearing in the basic application or basic registration, as the case may be
                      </p>
                      <p>
                        Where the international application is based on two or more basic applications or basic registrations, the above declaration shall be deemed to apply to all those basic applications or basic registrations.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          (b) Name of the Office  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          (c) Name and signature of the official signing on behalf of the Office   <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                        </div>
                        <div class="col-12">
                          <select name="" id="" class="form-control">
                            <option value="">Teerachai Rakmun</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          (d) Name and e-mail address of the contact person in the Office   <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-12">
              <hr>
            </div>
          
              <div class=" button-list">
                <button type="button" class="btn btn-brand   btn-align-center" awPreviousStep>
                  <i class="fa fa-arrow-left"></i>
                  ย้อนกลับ</button>
                <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                  <i class="dip dip-icon-recycle-rectangle"></i>
                  เริ่มใหม่</button>
                  <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                    <i class="dip dip-icon-save"></i>
                    บันทึก</button>
                <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                  <i class="fa fa-arrow-right"></i>
                  ต่อไป</button>
              </div>

            
          </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="CALCULATION" [navigationSymbol]="{ symbol: '4' }">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <hr>
              <h4 class="sub-head-title"> FEE CALCULATION SHEET </h4>
              <hr>
            </div>
            <div class="col-12">
                <h6>(a) INSTRUCTIONS TO DEBIT FROM A CURRENT ACCOUNT <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i></h6>  
            </div>
            <div class="col-12 pl-5">
                <input type="checkbox"> The International Bureau is hereby instructed to debit the required amount of 
                fees from a current account opened with the International Bureau (if this box is checked, it is not necessary to complete (b)).
                <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
             Holder of the account
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
              Account number
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
             Identity of the party giving the instructions
            </div>
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" disabled>
            </div>
            <div class="col-12">
              <hr>
           
                  <h6> <span> (b) AMOUNT OF FEES  </span> 
                    <span style="font-weight: normal">  
                      (see Fee Calculator: <a href="https://www.wipo.int/madrid/en/fees/calculator.jsp"> www.wipo.int/madrid/en/fees/calculator.jsp) </a> 
                      <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
                    </span>
                    </h6>
           
            </div>
            <div class="col-12">
              Basic fee: 653 Swiss francs if the reproduction of the mark is in black and white only and 903 Swiss francs if there is a reproduction in color. (For international applications filed by applicants whose country of origin is a Least Developed Country, in 
              accordance with the list established by the United Nations (www.wipo.int/ldcs/en/country), 65 Swiss francs if the reproduction is in black and white only and 90 Swiss francs if there is a reproduction in color.)
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                  <select name="" id="" class="form-control">
                    <option value="">เลือกรายการ</option>
                  </select>
                </div>
              </div>
           
            </div>
            <div class="col-12">
              <h6> Complementary and supplementary fees   <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i></h6>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Number of designations for which complementary fee is applicable
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        X
                      </div>
                    </div>
                    <div class="col-4" style="text-align: center;">
                  
                        Complementary fee <br>
                        100 Swiss francs
                    
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-1" style="visibility: hidden;">
                      col
                    </div>
                    <div class="col-11">
                      Total amount of the complementary fees
                    </div>
                  </div>
                  <div class="row">
 
                    <div class="col-6">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =>
                      </div>
                    </div>
                    <div class="col-5">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Number of classes of goods and services beyond three
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        X
                      </div>
                    </div>
                    <div class="col-4" style="text-align: center;">
                  
                      Supplementary fee <br>
                        100 Swiss francs
                    
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-1" style="visibility: hidden;">
                      col
                    </div>
                    <div class="col-11">
                      Total amount of the complementary fees
                    </div>
                  </div>
                  <div class="row">
    
                    <div class="col-6">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                    <div class="col-1 container ">
                      <div class="vertical-center">
                        =>
                      </div>
                    </div>
                    <div class="col-5">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <h6> Fees of Contracting Parties <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i></h6>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Designated Contracting Parties
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Fees per Contracting Party
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 col-sm-12">
                  <div class="row">
                    <div class="col-12" style="visibility: hidden;">
                      ROW
                    </div>
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row" style="visibility: hidden;">
                    ROW
                  </div>
                  <div class="row">
                
                    <div class="col-12">
                      <input type="text" name="" id="" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Total Fees of Contracting Party
                </div>
                <div class="col-lg-3 col-sm-6 ">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Basic Fee
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                  Supplementary Fee
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" >
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-lg-6 col-sm-6 pt-3" style="text-align: end;">
                 <span> GRAND TOTAL </span> <span style="font-size: 11px;"> ( Swiss francs )</span>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <input type="text" name="" id="" class="form-control" disabled>
                </div>
              </div>
            </div>
            <div class="col-12">
              <hr>
              <h6> 
                (c)  METHOD OF PAYMENT  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
              </h6>
            </div>
            <div class="col-12">
              Identity of the party effecting the payment 
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <input type="checkbox"> Payment received and acknowledged by WIPO  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              WIPO receipt number
            </div>
            <div class="col-12">
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              <input type="radio"> Payment made to WIPO bank account IBAN No. CH51 0483 5048 7080 8100 0 Crédit Suisse, CH-1211 Geneva 70 Swift/BIC: CRESCHZZ80A
              <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Payment identification
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      dd/mm/yyyy
                    </div>
                    <div class="col-11">
                      <div class="input-container">
                        <input class="input-field" type="text">
                        <i class="fa fa-calendar icon"></i>
                      </div>
                    </div>
                    <div class="col-1">
                      <span>
                        <button class="btn-add"> 
                        <i class="fa fa-plus" style="font-size: 20px;"></i>
                       </button> 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="radio">Payment made to WIPO postal account (within Europe only) IBAN No. CH03 0900 0000 1200 5000 8 Swift/BIC: POFICHBE 0
              <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      Payment identification
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col-12">
                      dd/mm/yyyy
                    </div>
                    <div class="col-11">
                      <div class="input-container">
                        <input class="input-field" type="text">
                        <i class="fa fa-calendar icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for=""> หนังสือรับรองสถานะคำขอ  <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> </label> 
              &nbsp; <span><button class="btn-choose-file"> Choose Files..</button> </span>
             </div>
             <div class="col-12">
               <hr>
               <span style="color: red;">*</span>
               <span class="sub-head-title"> กรุณากรอกชื่อที่ต้องการออกในใบเสร็จรับเงินของกรมทรัพย์สินทางปัญญา(ภาษาไทย)
                <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i>   
              </span> 
             </div>
             <div class="col-lg-3 col-md-6 col-sm-12">
               <div class="row"> 
                 <div class="col-12">
                   ชื่อ <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> 
                 </div>
                 <div class="col-12">
                   <input type="text" class="form-control">
                 </div>
               </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="row">
                <div class="col-12">
                  เบอร์โทร <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> 
                </div>
                <div class="col-12">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="row">
                <div class="col-12">
                  ที่อยู่ <span style="color: red;">*</span> <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> 
                </div>
                <div class="col-12">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-12">
              <input type="checkbox"> ต้องการรับใบเสร็จทางไปรษณีย์ <i class="fa fa-info-circle sub-head-title" style="font-size: 20px;"></i> 
            </div>
            <div class="col-12">
              (ใบเสร็จของกรมทรัพย์สินทางปัญญาจะถูกจัดส่งทางไปรษณีย์)
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-12">
              <hr>
            </div>
          
              <div class=" button-list">
                <button type="button" class="btn btn-brand   btn-align-center" awPreviousStep>
                  <i class="fa fa-arrow-left"></i>
                  ย้อนกลับ</button>
                <button type="button" class="btn btn-light-gray  btn-align-center m-r-5" >
                  <i class="dip dip-icon-recycle-rectangle"></i>
                  เริ่มใหม่</button>
                  <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                    <i class="dip dip-icon-save"></i>
                    บันทึก</button>
                    <button type="button" class="btn btn-light-black  btn-align-center m-r-5" >
                      <i class="dip dip-icon-printer"></i>
                      พิมพ์</button>
                <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                  <i class="fa fa-paper-plane"></i>
                  เสร็จสิ้น</button>
              </div>

            
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </div>

  </div>
</div>
