<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head" style="background-color: #0C84C8;">
    <div class="kt-portlet__head-label">
      <div class="row">
        <div class="col-sm-2" style="padding-left:5px;">
          <mat-icon style="cursor: pointer;color:white;">create</mat-icon>
        </div>
        <div class="col" style="padding-top:5px;padding-right:10px;">
          <h5 class="kt-portlet__head-title" style="font-size: medium;color: white;">
            เอกสารจาก WIPO
          </h5>
        </div>
      </div>

    </div>
    <div class="kt-portlet__head-action">

    </div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;color:white;">close</mat-icon>
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <embed src="http://www.orimi.com/pdf-test.pdf" style="width:100%;height:500px" />
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">

        <button type="button"
                class="btn btn-white"
                (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>
