<div class="kt-portlet dashboard-public-role-04-job">
    <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                
            </h3>
        </div>
        <div class="kt-portlet__head-action">
            
        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="form-row"><div class="form-column"><div class="kt-portlet__body__inner dashboard-public-role-04er">
    <div class="form-group flex">
        <label class="col-form-label" for="instruction_send_date">วันที่ส่งมา</label>
<div class="input-wrapper input-with-icon datepicker">
    <mat-form-field>
        <div class="kt-input-icon kt-input-icon--right">
            <input #key_instruction_send_date id="instruction_send_date" class="form-control input" matInput
                [matDatepicker]="picker_instruction_send_date" (click)="picker_instruction_send_date.open()"
                [(ngModel)]="input[key_instruction_send_date.id]" (dateChange)="clearValidate(key_instruction_send_date.id)"
                autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_date">
                <i class="dip-icon-calendar"></i>
            </label>
        </div>
        <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_date">
        </mat-datepicker-toggle>
        <mat-datepicker #picker_instruction_send_date></mat-datepicker>
    </mat-form-field>

    <div class="feedback-wrapper">
        <div *ngIf="validate[key_instruction_send_date.id]" class="invalid-feedback">
            {{validate[key_instruction_send_date.id]}}
        </div>
    </div>
</div>


    </div>
</div><div class="kt-portlet__body__inner dashboard-public-role-04er">
    <div class="form-group flex">
        <label class="col-form-label">
    กลุ่มงานที่ส่งมา
</label>
<div class="input-wrapper">
    <select 
        #key_department_code 
        class="form-control" 
        id="department_code" 
        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" 
        [(ngModel)]="input[key_department_code.id]" 
        (change)="oneWayDataBinding('department_code', $event.target.value)"
        [value]="input.department_code"
    >
        <option 
            *ngFor="let item of master.departmentCodeList" 
            [value]="item.code"
        >{{item.name}}</option>
    </select>

    <div class="feedback-wrapper">
        <div 
            *ngIf="validate[key_department_code.id]" 
            class="invalid-feedback"
        >
            {{validate[key_department_code.id]}}
        </div>
    </div>
</div>


    </div>
</div><div class="kt-portlet__body__inner dashboard-public-role-04er">
    <div class="form-group flex">
        <label class="col-form-label" for="rule_count">จำนวนหนังสือ</label>
<div class="input-wrapper">
    <input #key_rule_count class="form-control input" type="text" id="rule_count" placeholder=""
        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_rule_count.id]"
        autocomplete="off" />

    <div class="feedback-wrapper">
        <div *ngIf="validate[key_rule_count.id]" class="invalid-feedback">
            {{validate[key_rule_count.id]}}
        </div>
    </div>
</div>


    </div>
</div></div><div class="form-column"><div class="kt-portlet__body__inner dashboard-public-role-04er">
    <div class="form-group flex">
        <label class="col-form-label">
    สถานะ
</label>
<div class="input-wrapper">
    <select 
        #key_document_role05_print_list_status_code 
        class="form-control" 
        id="document_role05_print_list_status_code" 
        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" 
        [(ngModel)]="input[key_document_role05_print_list_status_code.id]" 
        (change)="oneWayDataBinding('document_role05_print_list_status_code', $event.target.value)"
        [value]="input.document_role05_print_list_status_code"
    >
        <option 
            *ngFor="let item of master.documentRole05PrintListStatusCodeList" 
            [value]="item.code"
        >{{item.name}}</option>
    </select>

    <div class="feedback-wrapper">
        <div 
            *ngIf="validate[key_document_role05_print_list_status_code.id]" 
            class="invalid-feedback"
        >
            {{validate[key_document_role05_print_list_status_code.id]}}
        </div>
    </div>
</div>


    </div>
</div><div class="kt-portlet__body__inner dashboard-public-role-04er">
    <div class="form-group flex">
        <label class="col-form-label" for="request_number">คำขอเลขที่</label>
<div class="input-wrapper">
    <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
        autocomplete="off" />

    <div class="feedback-wrapper">
        <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
            {{validate[key_request_number.id]}}
        </div>
    </div>
</div>


    </div>
</div></div></div>
    </div>

    
    <div class="kt-portlet__footer ">
        <button 
    type="button" 
    class="btn btn-brand" 
    (click)="onClickDashboardPublicRole04List()"
>
    <i class="dip-icon-search"></i>
    ค้นหา
</button>
<button
    type="button"
    class="btn btn-danger"
    (click)="onClickReset()"
>
    <i class="dip-icon-close"></i>
    ยกเลิก
</button>

    </div>
</div>
<div class="kt-portlet dashboard-public-role-04-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                ตารางแสดง
            </h3>
        </div>
        <div class="kt-portlet__head-action">
            <button type="button" class="btn btn-brand" (click)="onClickDashboardPublicRole04Send()">
    สร้างเเอกสาร
</button>
<button 
    type="button" 
    class="btn btn-create-new btn-icon" 
    (click)="onClickDashboardPublicRole04Add()"
>
    <i class="dip-icon-add-new"></i>
    
</button>
<button 
    type="button" 
    class="btn btn-danger btn-icon" 
    (click)="onClickDashboardPublicRole04Delete()"
>
    <i class="dip-icon-trash"></i>
</button>

        </div>
    </div>

    <div class="kt-portlet__body">
        <table>
    <thead>
        <tr>
            <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDashboardPublicRole04, $event.target.checked)" /><span></span></label></td>
<td class="index">#</td>
<td class="request_number">เลขที่คำขอ</td>
<td class="instruction_send_date_text">วันที่ส่งมา</td>
<td class="document_role05_receiver_by_name">เจ้าหน้าที่ตรวจสอบ</td>
<td class="rule_count">จำนวนหนังสือ</td>
<td class="name">ชื่อผู้รับ</td>
<td class="house_number">ที่อยู่</td>
<td class="document_role05_print_cover_date_text">วันที่สร้างใบปะหน้า</td>
<td class="post_number">เลข 13 หลัก</td>
<td class="document_role05_print_list_status_name">สถานะ</td>
<td class="edit_delete">แก้ไข / ลบ</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row_item of listDashboardPublicRole04 | myfilter | paginate: paginateDashboardPublicRole04; index as i">
            <td class="select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></td>
<td class="index">{{row_item.index}}</td>
<td class="request_number">{{row_item.request_number}}</td>
<td class="instruction_send_date_text">{{row_item.instruction_send_date_text}}</td>
<td class="document_role05_receiver_by_name">{{row_item.document_role05_receiver_by_name}}</td>
<td class="rule_count">{{row_item.rule_count}}</td>
<td class="name">{{row_item.name}}</td>
<td class="house_number">{{row_item.house_number}}</td>
<td class="document_role05_print_cover_date_text">{{row_item.document_role05_print_cover_date_text}}</td>
<td class="post_number">{{row_item.post_number}}</td>
<td class="document_role05_print_list_status_name">{{row_item.document_role05_print_list_status_name}}</td>
<td class="edit_delete"><i class="dip-icon-edit" (click)="onClickDashboardPublicRole04Edit(row_item)"></i><i class="dip-icon-trash" (click)="onClickDashboardPublicRole04Delete(row_item)"></i></td>


        </tr>
    </tbody>
</table>

    </div>

    
    <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateDashboardPublicRole04" (onClickList)="onClickDashboardPublicRole04List()"></app-paging>
    </div>
</div>
