:host ::ng-deep .modal.step-owner-modal .modal-body {
  padding: 1.25rem 55px;
}

:host ::ng-deep .modal.step-owner-modal .section-title {
  font-size: 20px;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: normal;
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

:host ::ng-deep .modal.step-owner-modal .form-row {
  justify-content: space-between;
}

:host ::ng-deep .modal.step-owner-modal .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
}

:host ::ng-deep .modal.step-owner-modal .form-row .form-group .input {
  width: 100%;
}

:host ::ng-deep .modal.step-owner-modal .form-row .form-group .kt-radio {
  margin-top: 5px;
}

:host ::ng-deep .modal.step-owner-modal .form-row .form-group.agent-type .kt-radio {
  width: 150px;
}

:host ::ng-deep .modal.step-owner-modal .form-row .form-group.fluid {
  flex: 0 0 100%;
  max-width: 100%;
}

:host ::ng-deep .modal.step-owner-modal .form-group {
  position: relative;
}

:host ::ng-deep .modal.step-owner-modal .form-group .div_autocomplete {
  margin-top: 30px;
}

:host ::ng-deep .modal.step-owner-modal .modal-footer {
  justify-content: center;
}

:host ::ng-deep .modal.step-owner-modal .modal-footer .btn-group-wrapper .btn {
  margin-left: 0;
}
