<app-modal
  [className]="[
    'fade owner-form step-owner-modal',
    isOpen ? 'show' : undefined
  ]"
  [title]="title"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  [hideCloseCross]="true"
  (onClickClose)="_toggleModal()"
>
  <div body-children class="flex flex-wrap">
    <div class="section-title">
      ข้อมูลทั่วไป
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="personalType">
          ประเภทบุคคล<span class="required">*</span>
        </label>

        <!-- code: "PEOPLE", name: "บุคคลธรรมดา"
        code: "CORPORATE", name: "นิติบุคคล"
        code: "PEOPLE_FOREIGNER", name: "บุคคลธรรมดาต่างชาติ"
        code: "CORPORATE_FOREIGNER", name: "นิติบุคคลต่างชาติ"
        code: "GOVERNMENT", name: "หน่วยงานราชการ" -->

        <div class="input-wrapper">
          <select
            [disabled]="isDisabledInfo"
            class="form-control"
            (change)="
              bindingInTable(item, 'receiver_type_code', $event.target.value)
            "
            [value]="item.receiver_type_code"
            (input)="clearValidate('receiver_type_code')"
          >
            <option
              *ngFor="let item of master.addressReceiverTypeCodeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
          <div class="feedback-wrapper">
            <div *ngIf="validate.receiver_type_code" class="invalid-feedback">
              {{ validate.receiver_type_code }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="fullname">
          ประเภทบัตร
          <span
            class="required"
            *ngIf="
              item.receiver_type_code == 'PEOPLE' ||
              item.receiver_type_code == 'CORPORATE'
            "
            >*</span
          >
        </label>

        <div class="input-wrapper">
          <select
            [disabled]="isDisabledInfo"
            class="form-control"
            (change)="
              bindingInTable(item, 'card_type_code', $event.target.value)
            "
            [value]="item.card_type_code"
            (input)="clearValidate('card_type_code')"
          >
            <ng-container
              *ngFor="let card of master.addressEformCardTypeCodeList"
            >
              <option disabled selected hidden [value]="undefined"
                >กรุณาเลือก ประเภทบัตร</option
              >
              <option
                *ngIf="
                  card.code != 'NAT_ID' ||
                  item.receiver_type_code != 'CORPORATE'
                "
                [value]="card.code"
              >
                {{ card.name }}
              </option>
            </ng-container>
          </select>

          <div class="feedback-wrapper">
            <div *ngIf="validate.card_type_code" class="invalid-feedback">
              {{ validate.card_type_code }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="card_number">
          <!-- {{
            item.receiver_type_code == "PEOPLE"
              ? "เลขประจำตัวประชาชน"
              : item.receiver_type_code == "CORPORATE"
              ? "เลขทะเบียนนิติบุคคล"
              : item.receiver_type_code == "PEOPLE_FOREIGNER"
              ? "เลขที่หนังสือเดินทาง"
              : "เลขประจำตัวผู้เสียภาษี"
          }} -->
          เลขที่บัตร
          <span
            class="required"
            *ngIf="
              item.receiver_type_code == 'PEOPLE' ||
              item.receiver_type_code == 'CORPORATE'
            "
            >*</span
          >
        </label>

        <div class="input-wrapper">
          <input
            [disabled]="isDisabledInfo"
            class="form-control input"
            type="text"
            placeholder="ระบุเลขที่บัตร"
            [(ngModel)]="item.card_number"
            [ngClass]="validate.card_number ? 'is-invalid' : null"
            (input)="clearValidate('card_number')"
            maxlength="13"
          />

          <div class="feedback-wrapper">
            <div *ngIf="validate.card_number" class="invalid-feedback">
              {{ validate.card_number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="fullname">
          {{
            item.receiver_type_code == "PEOPLE" ||
            item.receiver_type_code == "PEOPLE_FOREIGNER"
              ? "คำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย"
              : "ชื่อหน่วยงาน"
          }}<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            [disabled]="isDisabledInfo"
            class="form-control input"
            type="text"
            [placeholder]="
              item.receiver_type_code == 'PEOPLE' ||
              item.receiver_type_code == 'PEOPLE_FOREIGNER'
                ? 'ระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย'
                : 'กรุณาระบุชื่อนิติบุคคล ตัวอย่าง บริษัท.......จำกัด(มหาชน)'
            "
            [(ngModel)]="item.name"
            [ngClass]="validate.name ? 'is-invalid' : null"
            (input)="clearValidate('name')"
          />

          <div class="feedback-wrapper">
            <div *ngIf="validate.name" class="invalid-feedback">
              {{ validate.name }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="form-group"
        *ngIf="
          item.receiver_type_code == 'PEOPLE' ||
          item.receiver_type_code == 'PEOPLE_FOREIGNER'
        "
      >
        <label class="col-form-label" for="ownerSex">
          เพศ<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            [disabled]="isDisabledInfo"
            class="form-control"
            (change)="bindingInTable(item, 'sex_code', $event.target.value)"
            [value]="item.sex_code"
            (input)="clearValidate('sex_code')"
          >
            <option disabled selected hidden [value]="undefined"
              >กรุณาเลือก เพศ</option
            >
            <option
              *ngFor="let item of master.addressSexCodeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
          <div class="feedback-wrapper">
            <div *ngIf="validate.sex_code" class="invalid-feedback">
              {{ validate.sex_code }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="nationality">
          สัญชาติ<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            [disabled]="isDisabledInfo"
            class="form-control"
            [(ngModel)]="item.nationality_code"
            (input)="clearValidate('nationality_code')"
          >
            <option
              *ngFor="let item of master.addressNationalityCodeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
          <div class="feedback-wrapper">
            <div *ngIf="validate.nationality_code" class="invalid-feedback">
              {{ validate.nationality_code }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="job">
          อาชีพ<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            [disabled]="isDisabledInfo"
            class="form-control"
            [(ngModel)]="item.career_code"
            (input)="clearValidate('career_code')"
          >
            <option disabled selected hidden [value]="undefined"
              >กรุณาเลือก อาชีพ</option
            >
            <option
              *ngFor="let item of master.addressCareerCodeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
          <div class="feedback-wrapper">
            <div *ngIf="validate.career_code" class="invalid-feedback">
              {{ validate.career_code }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title">
      ข้อมูลที่อยู่
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="country">
          ประเทศ<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            class="form-control"
            [(ngModel)]="item.address_country_code"
            (input)="clearValidate('address_country_code')"
          >
            <option
              *ngFor="let item of master.addressCountryCodeList"
              [value]="item.code"
            >
              {{ item.name }}
            </option>
          </select>
          <div class="feedback-wrapper">
            <div *ngIf="validate.address_country_code" class="invalid-feedback">
              {{ validate.address_country_code }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="house_number">
          ที่อยู่<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุเลขที่อยู่"
            [(ngModel)]="item.house_number"
            [ngClass]="validate.house_number ? 'is-invalid' : null"
            (input)="clearValidate('house_number')"
          />

          <div class="feedback-wrapper">
            <div *ngIf="validate.house_number" class="invalid-feedback">
              {{ validate.house_number }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="village_number">
          หมู่ที่
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุเลขที่หมู่บ้าน"
            [(ngModel)]="item.village_number"
          />
        </div>
      </div>

      <div
        class="form-group brand-logo-image-upload fluid"
        *ngIf="item.address_country_code != 'TH'"
      >
        <label class="col-form-label" for="address_foreign">
          ที่อยู่<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <textarea
            class="form-control textarea"
            type="text"
            rows="3"
            placeholder=""
            [(ngModel)]="item.house_number"
            [ngClass]="validate.house_number ? 'is-invalid' : null"
            (input)="clearValidate('house_number')"
          ></textarea>

          <div class="feedback-wrapper">
            <div *ngIf="validate.house_number" class="invalid-feedback">
              {{ validate.house_number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="alley_name">
          ตรอก / ซอย
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุตรอก หรือ ซอย"
            [(ngModel)]="item.alley"
          />
        </div>
      </div>

      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="road_name">
          ถนน
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุถนน"
            [(ngModel)]="item.street"
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group fluid" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="subDistrict_district_province">
          ตำบล / แขวง<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <div class="form-group flex input-with-icon">
            <input
              class="form-control input"
              type="text"
              placeholder="ระบุตำบล หรือ แขวง"
              [(ngModel)]="item.address_sub_district_name"
              [ngClass]="
                validate.address_sub_district_name ? 'is-invalid' : null
              "
              (input)="
                onChangeAutocomplete('item', 'address_sub_district_name')
              "
              autocomplete="off"
            />
            <button
              disabled
              class="btn btn-input-search btn-icon"
              type="button"
            >
              <i class="dip-icon-search"></i>
            </button>
          </div>
          <div class="feedback-wrapper">
            <div
              *ngIf="validate.address_sub_district_name"
              class="invalid-feedback"
            >
              {{ validate.address_sub_district_name }}
            </div>
          </div>
        </div>

        <div
          class="div_autocomplete"
          *ngIf="isShowAutocomplete.address_sub_district_name"
          (clickOutside)="
            onClickOutsideAutocomplete('address_sub_district_name')
          "
        >
          <!-- ไม่พบข้อมูล -->
          <div *ngIf="autocompleteList.address_sub_district_name.length == 0">
            <div>
              ไม่พบข้อมูล
            </div>
          </div>

          <div
            *ngFor="
              let autocomplete of autocompleteList.address_sub_district_name
            "
            (click)="
              onSelectAutocomplete('address_sub_district_name', autocomplete)
            "
          >
            <div>
              ตำบล {{ autocomplete.name }} อำเภอ
              {{ autocomplete.district_name }} จังหวัด
              {{ autocomplete.province_name }} รหัสไปรษณีย์
              {{ autocomplete.postal_code }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="zipcode">
          อำเภอ / เขต
        </label>

        <div class="input-wrapper">
          <input
            disabled
            class="form-control input"
            type="text"
            placeholder=""
            [(ngModel)]="item.address_district_name"
          />
        </div>
      </div>

      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="email">
          จังหวัด
        </label>

        <div class="input-wrapper">
          <input
            disabled
            class="form-control input"
            type="text"
            placeholder=""
            [(ngModel)]="item.address_province_name"
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group" *ngIf="item.address_country_code == 'TH'">
        <label class="col-form-label" for="zipcode">
          รหัสไปรษณีย์
        </label>

        <div class="input-wrapper">
          <input
            disabled
            class="form-control input"
            type="text"
            placeholder=""
            [(ngModel)]="item.postal_code"
          />
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="email">
          อีเมล<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุอีเมล"
            [(ngModel)]="item.email"
            [ngClass]="validate.email ? 'is-invalid' : null"
            (input)="clearValidate('email')"
          />

          <div class="feedback-wrapper">
            <div *ngIf="validate.email" class="invalid-feedback">
              {{ validate.email }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label class="col-form-label" for="mobile_number">
          โทรศัพท์
          <span
            class="required"
            *ngIf="
              item.receiver_type_code == 'PEOPLE' ||
              item.receiver_type_code == 'CORPORATE' ||
              item.receiver_type_code == 'GOVERNMENT'
            "
            >*</span
          >
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุเบอร์โทรศัพท์"
            [(ngModel)]="item.telephone"
            [ngClass]="validate.telephone ? 'is-invalid' : null"
            (input)="clearValidate('telephone')"
            maxlength="10"
          />

          <div class="feedback-wrapper">
            <div *ngIf="validate.telephone" class="invalid-feedback">
              {{ validate.telephone }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="fax_number">
          โทรสาร
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            placeholder="ระบุเบอร์โทรสาร"
            [(ngModel)]="item.fax"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-default" (click)="_toggleModal()">
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="_onClickSaveModalEform(item)"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>
