:host {
 
    .cs-input-group-icon {
      font-size: 16px;
      color: #646c9a;
    }
  
    .cs-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #82869b;
      text-align: center;
      white-space: nowrap;
      background-color: #e1e5ec;
      border: 1px solid #e1e5ec;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .cs-header-icon {
      font-size: x-large;
      margin-right: 1rem;
    }
  
    .cs-color { 
      &-text-white{
        color: white !important;
      }
      &-text-blue{
        color: #0C84C8 !important;
      }
      &-text-grey{
        color: #82869b !important;
      }
      &-bg-blue-drop{
        background-color: #82B2CF;
      }
      &-bg-blue{
        background-color: #0C84C8;
      }
      &-bg-white{
        background-color: white;
      }
    }

    .cs-label-status{
      &-wait{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: lawngreen;
        border: 1px solid lawngreen;
        border-radius: 4px;
        height: 30px;
      } 
      &-process{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #0C84C8;
        border: 1px solid #0C84C8;
        border-radius: 4px;
        height: 30px;
      }
    }
  
    .cs-btn-grey{
        &-outline{
            background-color: white;
            color: #474747;
            border: 1px solid #474747;
            min-width: 100px;
        }
        &-solid{
            background-color: #474747;
            color: white;
            border: 1px solid #474747;
            min-width: 100px;
        }
    }

    button.btn
    {
      &.cs-btn-grey-outline:hover{
        background-color: #474747;
        color: white;
        border: 1px solid #474747;
        min-width: 100px;
      }
      &.cs-btn-grey-solid:hover
      {
        background-color: #e1e5ec;
        color: #474747;
        border: 1px solid #e1e5ec;
        min-width: 100px;
      }
    }
  

    .cs-tbody-v-align-mid {
      vertical-align: middle;
      text-align: center;
      justify-content: center;
  
      .cs-width-sm {
        width: 6.5rem;
        text-align: right;
      }
  
      label.cs-checkbox {
       min-height: 0px;
       margin-left: 36.25%;
      }
    }
  
  
    .table{
  
      .cs-theader-c1 {
        width: 3.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c2 {
        min-width: 10.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c3 {
        min-width: 15.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c4 {
        min-width: 20.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c5 {
        min-width: 20.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c6 {
        min-width: 49.05rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c7 {
        min-width: 15.0rem;
        vertical-align: middle;
        text-align: center; 
      }
      
    }
  
    .meeting-report {
      .kt-portlet__body {
        .col-form-label {
          min-width: 165px;
        }
      }
  
      .registration-requester {
        .input {
          width: 375px;
        }
  
        .btn {
          margin-left: 15px;
        }
      }
  
      .kt-portlet__footer {
        .total {
          .form-group {
            &.flex {
              align-items: center;
  
              .input-wrapper {
                margin-bottom: 0;
                display: flex;
              }
            }
          }
        }
  
        .form-group {
          margin-bottom: 0;
  
          .input {
            width: 155px;
          }
  
          .unit {
            margin-left: 20px;
          }
  
          .kt-checkbox {
            margin-left: 70px;
          }
        }
      }
    }
  
    .main-form-wrapper {
      flex: 1 1 auto;
      padding-right: 60px;
  
      .select-personal-type {
        padding: 5px 0;
        margin-right: 203px;
  
        .kt-radio-inline {
          justify-content: flex-end;
        }
  
        .kt-radio {
          margin-left: 30px;
        }
      }
  
      .personal-form {
        display: flex;
        margin-top: 27px;
  
        .personal-form-inner {
          flex: 1 1 auto;
        }
  
        .profile-img {
          flex: 0 0 150px;
          margin-left: 53px;
  
          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
  
          .caption {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
          }
        }
      }
  
      .col-form-label {
        flex: 0 0 170px;
        max-width: 170px;
      }
  
      .form-group {
        .input-wrapper {
          .form-control {
            width: 100%;
          }
        }
  
        &.flex {
          align-items: flex-start;
  
          .col-form-label {
            margin-top: 7px;
            justify-content: flex-end;
          }
        }
      }
    }
  
    ::ng-deep {
      .confirm-delete {
        padding: 0;
  
        .btn-group-wrapper {
          width: 100%;
          justify-content: space-between;
  
          .btn {
            margin: 0 5px;
            flex: 1 1 auto;
          }
        }
      }
    }
  }