<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title">
        <i class="fa fa-user"></i> เสนอนายทะเบียนพิจารณาจำหน่าย
      </h5>
    </div>

    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;"
          >close</mat-icon
        >
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <h5 class="sub-head-title">
      ข้อมูลทั่วไป
    </h5>
    <div class="col-12">
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">เลขที่อ้างอิงคำขอ</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input
              class="form-control input pr-2"
              type="text"
              value="TH17991551"
              disabled="disabled"
              style="
                background-color: #0c84c8;
                border-color: #0c84c8;
                color: white;
              "
            />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="rowpr-3 pl-3">
            <label class="col-form-label">วันที่ยืนคำขอ</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input class="form-control input" type="text" disabled="disabled" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">วันที่ครบกำหนด</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input
              class="form-control input pl-2"
              type="text"
              disabled="disabled"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">เลขที่ยกเลิกในประเทศ</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input
              class="form-control input"
              type="text"
              value="70000"
              disabled="disabled"
              style="
                background-color: #0c84c8;
                border-color: #0c84c8;
                color: white;
              "
            />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">เจ้าของ</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input class="form-control input" type="text" disabled="disabled" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">ตัวแทน</label>
          </div>
          <div class="row input-wrapper pr-3 pl-3">
            <input class="form-control input" type="text" disabled="disabled" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="row pr-3 pl-3">
            <label class="col-form-label">ที่อยู่</label>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <textarea
                class="form-control input"
                style="width: 100%;"
                rows="5"
                disabled="disabled"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <h4
      class="sub-head-title"
      style="
        font-size: medium;
        color: #0c84c8;
        font-family: 'Noto Sans Thai', 'Noto Sans';
      "
    >
      รายละเอียดการเสนอพิจรณา
    </h4>
    <div class="row" style="padding-top: 10px;">
      <div class="col-8">
        <label class="nc-col-form-label">เรื่อง</label>
        <div>
          <input
            class="form-control input"
            style="width: 100%;"
            type="text"
            readonly
          />
        </div>
      </div>
      <div class="col">
        <label class="nc-col-form-label">วันที่เสนอ</label>
        <div>
          <input
            class="form-control input"
            style="width: 100%;"
            type="text"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col">
        <div class="row">
          <div style="margin-left: 10px;">
            <label class="nc-col-form-label">รายละเอียดเสนอ </label>
          </div>
          <div>
            <button type="button" class="btn search">
              <i class="dip-icon-search pr-0"></i>
            </button>
          </div>
        </div>
        <div>
          <textarea
            class="form-control input"
            style="width: 100%;"
            rows="2"
            readonly
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col">
        <label class="nc-col-form-label">รายละเอียดเพิ่มเติม</label>
        <div>
          <textarea
            class="form-control input"
            style="width: 100%;"
            rows="2"
            readonly
          ></textarea>
        </div>
      </div>
    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">
        <button type="button" class="btn btn-white" (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button" class="btn btn-brand" (click)="closeModal()">
          <i class="fa fa-paper-plane"></i>
          เสนอพิจารณา
        </button>
      </div>
    </div>
  </div>
</div>
