.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-select {
  background-color: white;
  padding: 20px 50px;
}

.select-wrapper {
  display: flex;
}

.select-container {
  display: flex;
  border: 1px solid #EBEDF2;
  border-radius: 5px;
  padding: 0 8px;
  overflow-y: auto;
  max-height: 100px;
  max-width: 490px;
}

.select-container .select-value {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select-container .select-multi-value {
  border: 1px solid #0C84C8;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0C84C8;
  padding: 2px 10px;
  margin-right: 5px;
  margin: 2px 3px;
  font-size: 16px;
  font-weight: normal;
}

.select-container .select-multi-value-remove {
  margin-left: 5px;
  cursor: pointer;
}

.select-container .select-multi-value-remove i {
  font-size: 12px;
}

.select-container .select-input .input {
  font-size: 16px;
  border: none;
  opacity: 1;
  outline: 0px;
  padding: 0px;
}
