<div class="kt-portlet checking-similar-result-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickCheckingSimilarResultSend()">
        <i class="dip-icon-save"></i>
        ส่งนายทะเบียน
      </button>

      <button type="button"
              class="btn btn-brand"
              (click)="popup.is_duplicate_show = true">
        <i class="dip-icon-duplicate"></i>
        คัดลอกการตรวจสอบ
      </button>

      <button type="button" class="btn btn-brand" (click)="onClickCheckingSimilarResultBack()">
        กลับ
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner checking-similar-resulter">
      <div class="form-group flex">
        <label class="col-form-label" for="request_number">คำขอเลขที่</label>
        <div class="input-wrapper">
          <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                 autocomplete="off" disabled="disabled" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
              {{validate[key_request_number.id]}}
            </div>
          </div>
        </div>


      </div>
    </div><div class="kt-portlet__body__inner checking-similar-resulter">
      <div class="form-group flex">
        <label class="col-form-label" for="name">ชื่อเจ้าของ</label>
        <div class="input-wrapper">
          <input #key_name class="form-control input" type="text" id="name" placeholder="ชื่อเจ้าของ"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_name.id]"
                 autocomplete="off" disabled="disabled" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_name.id]" class="invalid-feedback">
              {{validate[key_name.id]}}
            </div>
          </div>
        </div>


      </div>
    </div><div class="kt-portlet__body__inner checking-similar-resulter">
      <div class="form-group flex">
        <label class="col-form-label" for="request_item_sub_type_1_code">จำพวก</label>
        <div class="input-wrapper">
          <input #key_request_item_sub_type_1_code class="form-control input" type="text" id="request_item_sub_type_1_code" placeholder="จำพวก"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_item_sub_type_1_code.id]"
                 autocomplete="off" disabled="disabled" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_item_sub_type_1_code.id]" class="invalid-feedback">
              {{validate[key_request_item_sub_type_1_code.id]}}
            </div>
          </div>
        </div>


      </div>
    </div><div class="kt-portlet__body__inner checking-similar-resulter">
      <div class="form-group flex">
        <label class="col-form-label" for="request_item_sub_type_description">สินค้า/บริการ</label>
        <div class="input-wrapper">
          <input class="form-control input"
                 type="text"
                 placeholder="สินค้า/บริการ"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                 [(ngModel)]="input.request_item_sub_type_1_code_text"
                 autocomplete="off"
                 disabled="disabled" />

          <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
        </div>
      </div>
    </div><div class="kt-portlet__body__inner checking-similar-resulter">
      <div class="form-group flex">
        <label class="col-form-label" for="sound_description">คำบรรยายเสียง</label>
        <div class="input-wrapper">
          <input #key_sound_description class="form-control input" type="text" id="sound_description" placeholder="คำบรรยายเสียง"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_sound_description.id]"
                 autocomplete="off" disabled="disabled" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_sound_description.id]" class="invalid-feedback">
              {{validate[key_sound_description.id]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>



<div class="kt-portlet checking-similar-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางอ่านแปล
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_5">
      <table class="">
        <thead>
          <tr class="">
            <td class="td word_translate_search">คำที่ค้นหา</td>
            <td class="td word_translate_dictionary">พจนานุกรม</td>
            <td class="td word_translate_sound">คำอ่าน</td>
            <td class="td word_translate_translate">คำแปล</td>
            <td class="td checking_word_translate_status_code">สถานะ</td>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let row_item of input.full_view.checking_similar_wordsoundtranslate_list">
            <td class="td word_translate_search">{{row_item.word_translate_search}}</td>
            <td class="td word_translate_dictionary">{{row_item.word_translate_dictionary}}</td>
            <td class="td word_translate_sound">{{row_item.word_translate_sound}}</td>
            <td class="td word_translate_translate">{{row_item.word_translate_translate}}</td>
            <td class="td checking_word_translate_status_code">{{row_item.checking_word_translate_status_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!--<div class="kt-portlet__footer ">
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginateWordSoundTranslate')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateWordSoundTranslate')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateWordSoundTranslate')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateWordSoundTranslate')">
          <option *ngFor="let perPage of perPageWordSoundTranslate" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginateWordSoundTranslate.itemsPerPage}} of {{paginateWordSoundTranslate.totalItems}} records
        </span>
      </div>
    </div>
  </div>-->
</div>


<div class="kt-portlet checking-similar-result-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางเครื่องหมาย
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-brand" (click)="onClickCheckingSimilarResultOwnerSame()">
        บันทึกเจ้าของเดียวกัน
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickCheckingSimilarTagRemove()">
        <i class="dip-icon-trash"></i>
        ลบ
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select" rowspan="2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listTrademark, $event.target.checked)" />
              <span></span>
            </label>
          </td>
          <td class="td index" rowspan="2">#</td>
          <td class="td request_number" rowspan="2">คำขอเลขที่</td>
          <td class="td trademark_status_code" rowspan="2">สถานะ</td>
          <td class="td request_item_sub_type_description" rowspan="2">จำพวก</td>
          <td class="td word_mark" rowspan="2">เครื่องหมายคำ</td>
          <td class="td name" rowspan="2">ชื่อเจ้าของ</td>
          <td class="td name" colspan="7">วิธีตรวจสอบ</td>
          <td class="td image_link" rowspan="2">รูป</td>
          <td class="td sound_link" rowspan="2">เสียง</td>
          <!--<td class="td search_from" rowspan="2">ค้นจาก</td>-->
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listTrademark | myfilter | paginate: paginateTrademark; index as i"
            [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
          <td class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)"
                     [checked]="row_item.is_check"
                     [(ngModel)]="row_item.is_check" /><span></span>
            </label>
          </td>
          <td class="td index">{{row_item.index}}</td>
          <td class="td request_number">{{row_item.request_number}}</td>
          <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
          <td class="td request_item_sub_type_description">{{row_item.full_view.request_item_sub_type_1_code_text}}</td>
          <td class="td word_mark">{{row_item.word_mark}}</td>
          <td class="td name">{{row_item.full_view.people_name}}</td>
          <td class="td"><i *ngIf="row_item.method_1" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_2" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_3" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_4" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_5" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_6" class="dip-icon-check"></i></td>
          <td class="td"><i *ngIf="row_item.method_7" class="dip-icon-check"></i></td>

          <td class="td image_link">
            <div class="td_file_trademark_2d"
                 *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                 [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

            </div>
          </td>

          <td class="td sound_link">
            <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
              <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                 (click)="togglePlayer(row_item)"></i>
            </div>
          </td>

          <!--<td class="td search_for">{{row_item.search_for}}</td>-->
        </tr>
      </tbody>
    </table>
  </div>


  <!--<div class="kt-portlet__footer ">
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginateTrademark')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateTrademark')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateTrademark')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateTrademark')">
          <option *ngFor="let perPage of perPageTrademark" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginateTrademark.itemsPerPage}} of {{paginateTrademark.totalItems}} records
        </span>
      </div>
    </div>
  </div>-->
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSaveOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="togglePopup('isPopupSaveOpen')">
  <div body-children>
    ระบบทำการบันทึกข้อมูลแล้ว
  </div>
</app-popup>


<div class="div_popup" *ngIf="popup.is_duplicate_show">
  <div class="div_popup_background" (click)="popup.is_duplicate_show = false">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet checking-similar-result-list-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="form-row">
          <div class="form-column">
            <div class="kt-portlet__body__inner checking-similar-result-lister">
              <div class="form-group flex">
                <label class="col-form-label">
                  เลขที่คำขอ
                </label>
                <div class="input-wrapper">
                  <input #key_request_number
                         class="form-control input"
                         type="text"
                         id="request_number"
                         placeholder="เลขที่คำขอ"
                         [(ngModel)]="input_duplicate.request_number"
                         autocomplete="off" />

                  <div class="feedback-wrapper"></div>
                </div>

                <button type="button"
                        class="btn btn-brand"
                        (click)="onClickCheckingSimilarResultDuplicateList()">
                  <i class="dip-icon-search"></i>
                  ค้นหา
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="input_duplicate.menu == 1"
             (click)="input_duplicate.menu = 1">ผลการตรวจสอบเครื่องหมายคำ</div>
        <div class="div-tab-menu"
             [class.active]="input_duplicate.menu == 2"
             (click)="input_duplicate.menu = 2">ผลการตรวจสอบเครื่องหมายรูป</div>
        <div class="div-tab-menu"
             [class.active]="input_duplicate.menu == 3"
             (click)="input_duplicate.menu = 3">ผลการตรวจสอบเครื่องหมายเสียง</div>
        <div class="div-tab-menu"
             [class.active]="input_duplicate.menu == 4"
             (click)="input_duplicate.menu = 4">ผลการตรวจสอบอ่าน / แปล</div>
      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="input_duplicate.menu != 1">
          <div class="kt-portlet checking-similar-result-list-job">
            <div class="kt-portlet checking-similar-job">
              <div class="kt-portlet__head hide">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    ผลการตรวจสอบเครื่องหมายคำ
                  </h3>
                </div>
              </div>

              <div class="kt-portlet__body">
                <table>
                  <thead>
                    <tr>
                      <td class="select" rowspan="2">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDuplicateWordMark, $event.target.checked)" />
                          <span></span>
                        </label>
                      </td>
                      <td class="td index" rowspan="2">#</td>
                      <td class="td request_number" rowspan="2">คำขอเลขที่</td>
                      <td class="td trademark_status_code" rowspan="2">สถานะ</td>
                      <td class="td request_item_sub_type_description" rowspan="2">จำพวก</td>
                      <td class="td word_mark" rowspan="2">เครื่องหมายคำ</td>
                      <td class="td name" rowspan="2">ชื่อเจ้าของ</td>
                      <td class="td name" colspan="7">วิธีตรวจสอบ</td>
                      <td class="td image_link" rowspan="2">รูป</td>
                      <td class="td sound_link" rowspan="2">เสียง</td>
                      <!--<td class="td search_from" rowspan="2">ค้นจาก</td>-->
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row_item of listDuplicateWordMarkShow"
                        [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
                      <td class="td select">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"
                                 (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)"
                                 [checked]="row_item.is_check"
                                 [(ngModel)]="row_item.is_check" /><span></span>
                        </label>
                      </td>
                      <td class="td index">{{row_item.index}}</td>
                      <td class="td request_number">{{row_item.request_number}}</td>
                      <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
                      <td class="td request_item_sub_type_description">{{row_item.request_item_sub_type_1_code_text}}</td>
                      <td class="td word_mark">{{row_item.word_mark_list_text}}</td>
                      <td class="td name">{{row_item.name}}</td>
                      <td class="td"><i *ngIf="row_item.method_1" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_2" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_3" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_4" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_5" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_6" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_7" class="dip-icon-check"></i></td>

                      <td class="td image_link">
                        <div class="td_file_trademark_2d"
                             *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                             [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

                        </div>
                      </td>

                      <td class="td sound_link">
                        <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
                          <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                             (click)="togglePlayer(row_item)"></i>
                        </div>
                      </td>

                      <!--<td class="td search_for">{{row_item.search_for}}</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="kt-portlet__footer">
              <app-paging [item_all_list]="listDuplicateWordMark"
                          [item_list]="listDuplicateWordMarkShow"
                          [is_updated]="is_updated_listDuplicateWordMark"></app-paging>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="input_duplicate.menu != 2">
          <div class="kt-portlet checking-similar-result-list-job">
            <div class="kt-portlet checking-similar-job">
              <div class="kt-portlet__head hide">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    ผลการตรวจสอบเครื่องหมายรูป
                  </h3>
                </div>
              </div>

              <div class="kt-portlet__body">
                <table>
                  <thead>
                    <tr>
                      <td class="select" rowspan="2">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDuplicateImage, $event.target.checked)" />
                          <span></span>
                        </label>
                      </td>
                      <td class="td index" rowspan="2">#</td>
                      <td class="td request_number" rowspan="2">คำขอเลขที่</td>
                      <td class="td trademark_status_code" rowspan="2">สถานะ</td>
                      <td class="td request_item_sub_type_description" rowspan="2">จำพวก</td>
                      <td class="td word_mark" rowspan="2">เครื่องหมายคำ</td>
                      <td class="td name" rowspan="2">ชื่อเจ้าของ</td>
                      <td class="td name" colspan="7">วิธีตรวจสอบ</td>
                      <td class="td image_link" rowspan="2">รูป</td>
                      <td class="td sound_link" rowspan="2">เสียง</td>
                      <!--<td class="td search_from" rowspan="2">ค้นจาก</td>-->
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row_item of listDuplicateImageShow"
                        [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
                      <td class="td select">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"
                                 (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)"
                                 [checked]="row_item.is_check"
                                 [(ngModel)]="row_item.is_check" /><span></span>
                        </label>
                      </td>
                      <td class="td index">{{row_item.index}}</td>
                      <td class="td request_number">{{row_item.request_number}}</td>
                      <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
                      <td class="td request_item_sub_type_description">{{row_item.request_item_sub_type_1_code_text}}</td>
                      <td class="td word_mark">{{row_item.word_mark_list_text}}</td>
                      <td class="td name">{{row_item.name}}</td>
                      <td class="td"><i *ngIf="row_item.method_1" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_2" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_3" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_4" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_5" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_6" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_7" class="dip-icon-check"></i></td>

                      <td class="td image_link">
                        <div class="td_file_trademark_2d"
                             *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                             [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

                        </div>
                      </td>

                      <td class="td sound_link">
                        <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
                          <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                             (click)="togglePlayer(row_item)"></i>


                        </div>


                      </td>

                      <!--<td class="td search_for">{{row_item.search_for}}</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="kt-portlet__footer">
              <app-paging [item_all_list]="listDuplicateImage"
                          [item_list]="listDuplicateImageShow"
                          [is_updated]="is_updated_listDuplicateImage"></app-paging>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="input_duplicate.menu != 3">
          <div class="kt-portlet checking-similar-result-list-job">
            <div class="kt-portlet checking-similar-job">
              <div class="kt-portlet__head hide">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    ผลการตรวจสอบเครื่องหมายเสียง
                  </h3>
                </div>
              </div>

              <div class="kt-portlet__body">
                <table>
                  <thead>
                    <tr>
                      <td class="select" rowspan="2">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDuplicateImage, $event.target.checked)" />
                          <span></span>
                        </label>
                      </td>
                      <td class="td index" rowspan="2">#</td>
                      <td class="td request_number" rowspan="2">คำขอเลขที่</td>
                      <td class="td trademark_status_code" rowspan="2">สถานะ</td>
                      <td class="td request_item_sub_type_description" rowspan="2">จำพวก</td>
                      <td class="td word_mark" rowspan="2">เครื่องหมายคำ</td>
                      <td class="td name" rowspan="2">ชื่อเจ้าของ</td>
                      <td class="td name" colspan="7">วิธีตรวจสอบ</td>
                      <td class="td image_link" rowspan="2">รูป</td>
                      <td class="td sound_link" rowspan="2">เสียง</td>
                      <!--<td class="td search_from" rowspan="2">ค้นจาก</td>-->
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row_item of listDuplicateSoundShow"
                        [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
                      <td class="td select">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"
                                 (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)"
                                 [checked]="row_item.is_check"
                                 [(ngModel)]="row_item.is_check" /><span></span>
                        </label>
                      </td>
                      <td class="td index">{{row_item.index}}</td>
                      <td class="td request_number">{{row_item.request_number}}</td>
                      <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
                      <td class="td request_item_sub_type_description">{{row_item.request_item_sub_type_1_code_text}}</td>
                      <td class="td word_mark">{{row_item.word_mark_list_text}}</td>
                      <td class="td name">{{row_item.name}}</td>
                      <td class="td"><i *ngIf="row_item.method_1" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_2" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_3" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_4" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_5" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_6" class="dip-icon-check"></i></td>
                      <td class="td"><i *ngIf="row_item.method_7" class="dip-icon-check"></i></td>

                      <td class="td image_link">
                        <div class="td_file_trademark_2d"
                             *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                             [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

                        </div>
                      </td>

                      <td class="td sound_link">
                        <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
                          <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                             (click)="togglePlayer(row_item)"></i>


                        </div>


                      </td>

                      <!--<td class="td search_for">{{row_item.search_for}}</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="kt-portlet__footer">
              <app-paging [item_all_list]="listDuplicateSound"
                          [item_list]="listDuplicateSoundShow"
                          [is_updated]="is_updated_listDuplicateSound"></app-paging>
            </div>
          </div>
        </div>

        <div class="div-tab" [class.hide]="input_duplicate.menu != 4">
          <div class="kt-portlet checking-similar-result-list-job">
            <div class="kt-portlet checking-similar-job">
              <div class="kt-portlet__head hide">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    ผลการตรวจสอบอ่าน / แปล
                  </h3>
                </div>
              </div>

              <div class="kt-portlet__body">
                <table>
                  <thead>
                    <tr>
                      <td class="select" rowspan="2">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listDuplicateDictionary, $event.target.checked)" />
                          <span></span>
                        </label>
                      </td>
                      <td class="td word_translate_dictionary">พจนานุกรม</td>
                      <td class="td word_translate_search">คำที่ค้นหา</td>
                      <td class="td word_translate_sound">คำอ่าน</td>
                      <td class="td word_translate_translate">คำแปล</td>
                      <td class="td checking_word_translate_status_code">สถานะ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row_item of listDuplicateDictionaryShow"
                        [ngClass]="{'is_owner_same_auto':row_item.is_owner_same_auto, 'is_owner_same':row_item.is_owner_same}">
                      <td class="td select">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"
                                 (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)"
                                 [checked]="row_item.is_check"
                                 [(ngModel)]="row_item.is_check" /><span></span>
                        </label>
                      </td>
                      <td class="td word_translate_dictionary">
                        {{row_item.word_translate_dictionary_name}}
                        {{row_item.word_translate_dictionary_code == "OTHERS" ? " - " + (row_item.word_translate_dictionary_other || "") : ""}}
                      </td>
                      <td class="td word_translate_search">{{row_item.word_translate_search}}</td>
                      <td class="td word_translate_sound">{{row_item.word_translate_sound}}</td>
                      <td class="td word_translate_translate">{{row_item.word_translate_translate}}</td>
                      <td class="td checking_word_translate_status_name">{{row_item.checking_word_translate_status_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>


            <div class="kt-portlet__footer">
              <app-paging [item_all_list]="listDuplicateDictionary"
                          [item_list]="listDuplicateDictionaryShow"
                          [is_updated]="is_updated_listDuplicateDictionary"></app-paging>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__footer">
      <!--<app-paging [paginate]="paginatePopupProduct"
    (onClickList)="onClickPopupProductList()"></app-paging>-->

      <div class="button-list">
        <button type="button"
                class="btn btn-secondary"
                (click)="onClickCheckingSimilarResultDuplicateAdd()">
          <i class="dip-icon-search"></i>
          คัดลอกผลการตรวจ
        </button>
      </div>
    </div>
  </div>
</div>
