<div class="kt-portlet considering-similar-kor10-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickConsideringSimilarBack()">
        กลับ
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner considering-similar-kor10er">
      <div class="form-group flex">
        <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
        <div class="input-wrapper">
          <input class="form-control input"
                 type="text"
                 id="request_number"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                 [(ngModel)]="input.request_number"
                 autocomplete="off"
                 disabled="disabled" />

          <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner considering-similar-kor10er">
      <div class="form-group flex">
        <label class="col-form-label">
        </label>
        <div class="input-wrapper">
          <div style="margin-bottom:10px;">
            นายทะเบียนได้ตรวจพิจารณาคำขอจดทะเบียนรายนี้ และหนังสือขอผ่อนผัน (ถ้ามี) ตามมาตรา 28 แล้ว เห็นว่า
          </div>
          <div style="margin-bottom:10px;">
            1.สำเนาคำขอจดทะเบียนที่ยื่นไว้ในประเทศนี่เป็นครั้งแรกที่ผู้ขอจดทะเบียนนำส่งนั้น
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;">
              1.1 เป็นเครื่องหมายเดียวกัน และใช้กับสินค้า/บริการในจำพวกเดียวกัน และชนิดเดียวกัน
            </div>
            <div style="margin-left:40px; margin-bottom:10px;" class="flex">
              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px;">
                <input name="is_considering_similar_kor10_1_1"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_1"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_1', true)">ถูกต้อง
                <span style="margin-top: 6px;"></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px; margin-left:20px;">
                <input name="is_considering_similar_kor10_1_1"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_1 === false"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_1', false)">ไม่ถูกต้องเพราะ
                <span style="margin-top: 6px;"></span>
              </label>

              <input class="form-control input"
                     *ngIf="!input.is_considering_similar_kor10_1_1_show"
                     style="margin-left:20px;"
                     type="text"
                     id="considering_similar_kor10_1_1_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.considering_similar_kor10_1_1_description"
                     autocomplete="off"
                     [disabled]="input.is_considering_similar_kor10_1_1"
                     (mouseover)="input.is_considering_similar_kor10_1_1_show = true"
                     (mouseout)="input.is_considering_similar_kor10_1_1_show = false" />

              <textarea class="form-control input"
                        (clickOutside)="input.is_considering_similar_kor10_1_1_show = false"
                        *ngIf="input.is_considering_similar_kor10_1_1_show"
                        style="margin-left:20px;"
                        type="text"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="input.considering_similar_kor10_1_1_description"
                        autocomplete="off"></textarea>

              <div class="feedback-wrapper"></div>
            </div>
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;">
              1.2 เป็นเครื่องหมายที่มีสถานะ
            </div>
            <div style="margin-left:40px; margin-bottom:10px;" class="flex">
              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px;">
                <input name="is_considering_similar_kor10_1_2"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_2"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_2', true)">ยังไม่เคยถูกปฎิเสธ
                <span style="margin-top: 6px;"></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px; margin-left:20px;">
                <input name="is_considering_similar_kor10_1_2"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_2 === false"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_2', false)">เคยถูกปฎิเสธ หรือถอนคืน หรือละทิ้งคำขอมาแล้วแต่ไม่เคยขอใช้สิทธิ และไม่อาจดำเนินการใดตามกฎหมายของประเทศนั้น และไม่ได้มีการเปิดเผยต่อสาธารณชน
                <span style="margin-top: 6px;"></span>
              </label>

              <!--<input class="form-control input"
                     style="margin-left:20px;"
                     type="text"
                     id="considering_similar_kor10_1_2_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.considering_similar_kor10_1_2_description"
                     autocomplete="off"
                     [disabled]="input.is_considering_similar_kor10_1_2" />

              <div class="feedback-wrapper"></div>-->
            </div>
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;">
              1.3 เป็นเครื่องหมายที่ยื่นภายในหกเดือนนับแต่วันที่ยื่นไว้ครั้งแรกในประเทศนั้น
            </div>
            <div style="margin-left:40px; margin-bottom:10px;" class="flex">

              <div class="kt-portlet considering-similar-kor10-job">
                <div class="kt-portlet__head hide">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                      รายการสินค้า
                    </h3>
                  </div>
                  <div class="kt-portlet__head-action">

                  </div>
                </div>

                <div class="kt-portlet__body">
                  <table>
                    <thead>
                      <tr>
                        <td class="index">#</td>
                        <td class="name">จำพวกสินค้า</td>
                        <td class="created_date_text">วันที่ตามมาตรา 28</td>
                        <td class="remark">ประเทศ</td>
                        <td class="is_allow_role_28">อนุญาตมาตรา 28</td>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row_item of case28_list | myfilter">
                        <td class="index">{{row_item.index}}</td>
                        <td class="name">{{row_item.request_item_sub_type_1_code}}</td>
                        <td class="created_date_text">{{row_item.case_28_date_text}}</td>
                        <td class="remark">{{row_item.address_country_name}}</td>
                        <td class="is_allow_role_28">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"
                                   [(ngModel)]="row_item.is_allow_role_28_1"
                                   [checked]="row_item.is_allow_role_28_1">
                            <span></span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>


                <div class="kt-portlet__footer ">
                  <app-paging [item_all_list]="case28_all_list"
                              [item_list]="case28_list"></app-paging>
                </div>
              </div>



            </div>
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;">
              1.4 มีการรับรองความถูกต้องโดยผู้มีอำนาจหน้าที่รับจดทะเบียนในประเทศนั้น
            </div>
            <div style="margin-left:40px; margin-bottom:10px;" class="flex">
              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px;">
                <input name="is_considering_similar_kor10_1_4"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_4"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_4', true)">ถูกต้อง
                <span style="margin-top: 6px;"></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px; margin-left:20px;">
                <input name="is_considering_similar_kor10_1_4"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_1_4 === false"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_1_4', false)">ไม่ถูกต้องเพราะ
                <span style="margin-top: 6px;"></span>
              </label>

              <input class="form-control input"
                     *ngIf="!input.is_considering_similar_kor10_1_4_show"
                     style="margin-left:20px;"
                     type="text"
                     id="considering_similar_kor10_1_4_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.considering_similar_kor10_1_4_description"
                     autocomplete="off"
                     [disabled]="input.is_considering_similar_kor10_1_4"
                     (mouseover)="input.is_considering_similar_kor10_1_4_show = true"
                     (mouseout)="input.is_considering_similar_kor10_1_4_show = false" />

              <textarea class="form-control input"
                        (clickOutside)="input.is_considering_similar_kor10_1_4_show = false"
                        *ngIf="input.is_considering_similar_kor10_1_4_show"
                        style="margin-left:20px;"
                        type="text"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="input.considering_similar_kor10_1_4_description"
                        autocomplete="off"></textarea>

              <div class="feedback-wrapper"></div>
            </div>
          </div>

          <div style="margin-bottom:10px;">
            2.ผู้ขอจดทะเบียนมีคุณสมบัติที่จะได้รับสิทธิต่างตอบแทน เพราะ
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_1" />
                2.1 มีสัญชาติไทย
                <span></span>
              </label>
            </div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_2" />
                2.2 เป็นนิติบุคคลที่มีสำนักงานแห่งใหญ่ตั้งอยู่ในประเทศไทย
                <span></span>
              </label>
            </div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_3" />
                2.3 มีสัญชาติที่เป็นภาคีแห่งอนุสัญญาหรือความตกลงระหว่างประเทศเกี่ยวกับความคุ้มครองเครื่องหมายการค้าซึ่งประเทศไทยเป็นภาคีอยู่ด้วย
                <span></span>
              </label>
            </div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_4" />
                2.4 มีสัญชาติที่ยินยอมให้ผู้มีสัญชาติไทยหรือนิติบุคคลที่มีสำนักงานแห่งใหญ่ตั้งอยู่ในประเทศไทยขอจดทะเบียนในประเทศนั้น
                <span></span>
              </label>
            </div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_5" />
                2.5 ประเทศนั้น และประเทศไทยมีข้อตกลงให้สิทธิดังกล่าวบนพื้นฐานต่างตอบแทนหรือประเทศนั้นมีหนังสือแจ้งให้สิทธิดังกล่าวอย่างเป็นทางการแล้ว
                <span></span>
              </label>
            </div>
            <div style="margin-left:20px; margin-bottom:10px;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_considering_similar_kor10_2_6" />
                2.6 มีภูมิลำเนาหรือประกอบอุตสาหกรรมหรือพานิชยกรรมอย่างจริงจังในประเทศไทยหรือในประเทศที่เป็นภาคีแห่งอนุสัญญาหรือความตกลงระหว่างประเทศเกี่ยวกับความคุ้มครองเครื่องหมายการค้าซึ่งประเทศไทยเป็นภาคีอยู่ด้วย
                <span></span>
              </label>
            </div>
          </div>

          <div style="margin-bottom:10px;">
            3.การแปลเอกสารตามข้อ 1 และข้อ 2 เป็นภาษาไทยและผู้ขอจดทะเบียนรับรองสำเนาถูกต้อง
          </div>

          <div>
            <div style="margin-left:20px; margin-bottom:10px;" class="flex">
              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px;">
                <input name="is_considering_similar_kor10_3"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_3"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_3', true)">ถูกต้อง
                <span style="margin-top: 6px;"></span>
              </label>

              <label class="kt-radio kt-radio--bold kt-radio--brand" style="line-height: 39px; margin-left:20px;">
                <input name="is_considering_similar_kor10_3"
                       type="radio"
                       [checked]="input.is_considering_similar_kor10_3 === false"
                       (click)="oneWayDataBinding('is_considering_similar_kor10_3', false)">ไม่ถูกต้องเพราะ
                <span style="margin-top: 6px;"></span>
              </label>

              <input class="form-control input"
                     *ngIf="!input.is_considering_similar_kor10_3_show"
                     style="margin-left:20px;"
                     type="text"
                     id="considering_similar_kor10_3_description"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.considering_similar_kor10_3_description"
                     autocomplete="off"
                     [disabled]="input.is_considering_similar_kor10_3"
                     (mouseover)="input.is_considering_similar_kor10_3_show = true"
                     (mouseout)="input.is_considering_similar_kor10_3_show = false" />

              <textarea class="form-control input"
                        (clickOutside)="input.is_considering_similar_kor10_3_show = false"
                        *ngIf="input.is_considering_similar_kor10_3_show"
                        style="margin-left:20px;"
                        type="text"
                        [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                        [(ngModel)]="input.considering_similar_kor10_3_description"
                        autocomplete="off"></textarea>

              <div class="feedback-wrapper"></div>
            </div>
          </div>


          <div style="margin-bottom:10px;">
            4.นายทะเบียนพิจารณาแล้วเห็นว่า
          </div>

          <div style="margin-left:20px; margin-bottom:10px;" class="flex">

            <div class="kt-portlet considering-similar-kor10-job">
              <div class="kt-portlet__head hide">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    รายการสินค้า
                  </h3>
                </div>
                <div class="kt-portlet__head-action">

                </div>
              </div>

              <div class="kt-portlet__body">
                <table>
                  <thead>
                    <tr>
                      <td class="index">#</td>
                      <td class="name">จำพวกสินค้า</td>
                      <td class="created_date_text">วันที่ตามมาตรา 28</td>
                      <td class="remark">ประเทศ</td>
                      <td class="is_allow_role_28">อนุญาตมาตรา 28</td>
                      <td>ไม่อนุญาตให้ใช้สิทธิตามมาตรา 28</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row_item of case28_2_list | myfilter">
                      <td class="index">{{row_item.index}}</td>
                      <td class="name">{{row_item.request_item_sub_type_1_code}}</td>
                      <td class="created_date_text">{{row_item.case_28_date_text}}</td>
                      <td class="remark">{{row_item.address_country_name}}</td>
                      <td class="is_allow_role_28">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"
                                 [(ngModel)]="row_item.is_allow_role_28_2"
                                 [checked]="row_item.is_allow_role_28_2">
                          <span></span>
                        </label>
                      </td>
                      <td class="remark">
                        <input class="form-control input"
                               *ngIf="!row_item.is_allow_role_28_show"
                               type="text"
                               id="request_number"
                               [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                               [(ngModel)]="row_item.allow_role_28_description"
                               autocomplete="off"
                               [disabled]="!row_item.is_allow_role_28_2"
                               (mouseover)="row_item.is_allow_role_28_show = true"
                               (mouseout)="row_item.is_allow_role_28_show = false" />

                        <textarea class="form-control input"
                                  (clickOutside)="row_item.is_allow_role_28_show = false"
                                  *ngIf="row_item.is_allow_role_28_show"
                                  type="text"
                                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                                  [(ngModel)]="row_item.allow_role_28_description"
                                  autocomplete="off"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>


              <div class="kt-portlet__footer ">
                <app-paging [item_all_list]="case28_all_list"
                            [item_list]="case28_2_list"></app-paging>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner considering-similar-kor10er">
      <div class="form-group flex">
        <label class="col-form-label">
        </label>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>

<div class="kt-portlet considering-similar-kor10-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickConsideringSimilarKor10Save()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
    </div>
  </div>
</div>
