.sub-head-title {
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

.number-label {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #0C84C8;
  color: white;
  border-radius: 2px;
  align-self: center;
}
