:host .kt-portlet {
  font-size: 16px;
  font-weight: 400;
}

:host .kt-portlet .kt-portlet__footer .btn-group-wrapper {
  display: flex;
  margin: 0 auto;
}

:host .kt-portlet .kt-portlet__footer .btn-group-wrapper .btn {
  margin: 0 8px;
}

:host .kt-portlet .kt-portlet__head-title i {
  margin-right: 15px;
}

:host .kt-portlet .kt-pagination__toolbar .form-control {
  margin-left: 10px;
}

:host .kt-portlet .kt-pagination__toolbar .pagination__desc {
  font-weight: 400;
}

:host .table-responsive {
  overflow: hidden;
  overflow-x: auto;
}

:host .table {
  border: 1px solid #eff1f5;
  min-width: 1200px;
}

:host .table .table-inner {
  margin-bottom: 0;
}

:host .table .table-inner .table-data {
  max-height: 475px;
  overflow-y: scroll;
}

:host .table .table-inner .table-data .tr:nth-child(2n-1) .td {
  background-color: #fff;
}

:host .table .table-inner .table-data .tr:nth-child(2n) .td {
  background-color: #fbfcfd;
}

:host .table .table-inner .tr .td {
  min-height: 38px;
  border-right: 1px solid #eff1f5;
  flex: 1;
}

:host .table .table-inner .tr .td .tag {
  background-color: #bac3d0;
  border-radius: 4px;
  padding: 1px 8px;
  text-align: center;
  color: white;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table .table-inner .tr .td .tag.blue {
  background-color: #0c84c8;
  color: white;
}

:host .table .table-inner .tr .td .tag.orange {
  background-color: #fd8402;
  color: white;
}

:host .table .table-inner .tr .td .tag.purple {
  background-color: #5E168E;
  color: white;
}

:host .table .table-inner .tr .td.center {
  justify-content: center;
  text-align: center;
}

:host .table .table-inner .tr .td.select {
  min-width: 40px;
  max-width: 40px;
}

:host .table .table-inner .tr .td.order {
  min-width: 55px;
  max-width: 55px;
}

:host .table .table-inner .tr .td.request-id {
  min-width: 115px;
  max-width: 115px;
}

:host .table .table-inner .tr .td.date {
  min-width: 130px;
  max-width: 130px;
}

:host .table .table-inner .tr .td.officer {
  min-width: 200px;
  max-width: 200px;
}

:host .table .table-inner .tr .td.status {
  min-width: 130px;
  max-width: 130px;
}

:host .table .table-inner .tr .td.status .tag {
  min-width: 115px;
  padding: 0 15px;
}

:host .table .table-inner .tr .td.operation {
  max-width: 100px;
  min-width: 100px;
  justify-content: space-around;
  text-align: space-around;
}

:host .table .table-inner .tr .td.operation .btn {
  width: 30px;
  height: 30px;
}

:host .table .table-inner .tr .td.scrollbar {
  flex: 0 0 19px;
  max-width: 19px;
}

:host .table .table-inner .tr.header {
  border-bottom: 1px solid #eff1f5;
}

:host .table .table-inner .tr.header .td {
  padding: 10px 4px 4px;
}

:host .consider-request .col-form-label {
  justify-content: start;
}

:host .consider-request .input-wrapper {
  margin-bottom: 0;
}

:host .consider-request .card {
  padding: 11px 14px 26px;
  margin-top: 5px;
}

:host .consider-request .input {
  min-width: auto;
  width: 100%;
}

:host .consider-request .file .col-form-label {
  min-width: 70px;
}

:host .search-task .kt-portlet__body {
  flex-direction: row;
}

:host .search-task .kt-portlet__body .form-column {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

:host .search-task .kt-portlet__body .form-column .form-group {
  max-width: 100%;
}

:host .search-task .kt-portlet__body .form-column .form-group .col-form-label {
  min-width: 80px;
  margin: 0 10px 0 0;
  padding-left: 0;
}

:host .search-task .kt-portlet__body .form-column:nth-child(2) {
  margin-left: 10px;
}

:host .search-task .kt-portlet__body .form-control {
  width: 100%;
}

:host .search-task .kt-portlet__body .datepicker {
  min-width: 0;
}

:host .search-task .kt-portlet__body .datepicker .mat-form-field {
  min-width: 0;
}

:host .search-task .kt-portlet__body .middle-label {
  flex: 0 0 55px;
  max-width: 55px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  color: #6d6e71;
}

:host .search-task .kt-portlet__body .kt-checkbox {
  margin-right: 10px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal {
  z-index: 999;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog {
  max-width: 1100px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #0C84C8;
  align-items: center;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-header .modal-title .dip-icon-play {
  font-size: 14px;
  color: #0C84C8;
  margin-right: 15px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body {
  padding: 25px 30px 20px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper {
  position: relative;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .blue-title-modal {
  font-size: 20px;
  font-weight: 500;
  color: #0C84C8;
  margin-bottom: 10px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row {
  width: 100%;
  margin-bottom: 19px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  width: 398px;
  height: 278px;
  min-width: 250px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .sound-btn {
  position: absolute;
  left: 9px;
  top: 9px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .select-view {
  position: absolute;
  right: 9px;
  top: 9px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .select-view .form-group {
  min-height: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .select-view .input-wrapper {
  margin-bottom: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .select-view .kt-checkbox {
  margin-right: 7px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .select-view .kt-checkbox:last-child {
  margin-right: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-image-wrapper .trademark-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper {
  border: 2px solid #F5F6F8;
  border-radius: 5px;
  padding: 14px 18px;
  position: relative;
  flex: 1 1 auto;
  min-height: 278px;
  margin-left: 20px;
  justify-content: flex;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-row {
  margin-left: -18px;
  width: auto;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-row:after {
  content: '';
  display: flex;
  flex: 1 1 auto;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group {
  flex: 0 0 calc(33.33% - 18px);
  margin-left: 18px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row {
  display: flex;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row .input-wrapper {
  display: flex;
  flex: 1 1 auto;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 37px;
  width: 37px;
  min-width: 37px;
  border-color: #EBEDF2;
  border-left: 0;
  font-size: 14px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .form-control {
  width: 100%;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .form-control.input {
  height: 37px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .col-form-label {
  justify-content: flex-start;
  padding: 3px 0;
  min-height: 0;
  font-size: 14px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
  margin-top: 27px;
  height: 37px;
  padding-top: 6px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .trademark-row .trademark-info-wrapper .btn-fluid {
  width: 100%;
  margin-top: 30px;
  height: 37px;
  padding-top: 6px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .add-file-button-wrapper {
  position: absolute;
  top: -10px;
  right: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .add-file-button-wrapper .btn-add-file {
  width: 25px;
  height: 25px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .add-file-button-wrapper .btn-add-file .dip-icon-blank-paper {
  font-size: 14px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab {
  margin-bottom: 20px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus {
  padding: 0;
  margin-bottom: 4px;
  display: flex;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu {
  line-height: 36px;
  margin-right: 2px;
  border-bottom: 4px solid #eff0f4;
  display: flex;
  align-items: center;
  font-weight: 400;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu:hover {
  border-color: #EFF0F4;
  color: #6D6E71;
  border-width: 4px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu:hover:active {
  color: #0C84C8;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu.active {
  background-color: #EFF0F4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #EFF0F4;
  color: #0C84C8;
  border-width: 4px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu .status.done {
  background-color: #00B58A;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .consider-revising-modal-tab .div-tab-menus .div-tab-menu .status.edit {
  background-color: #E14132;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .time-control-checklist {
  width: 100%;
  margin-bottom: 20px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .time-control-checklist .form-group {
  max-width: 1210px;
  padding: 0 15px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .time-control-checklist .form-group .kt-checkbox.sm {
  width: 145px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .time-control-checklist .form-group .kt-checkbox.med {
  width: 185px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .time-control-checklist .form-group .kt-checkbox.lg {
  width: 230px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form {
  padding: 0 20px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form .col-form-label {
  justify-content: flex-start;
  min-width: auto;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form .label-row {
  align-items: center;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form select {
  max-width: 380px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form .input-wrapper {
  margin-bottom: 0;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .consider-revising-detail-modal-wrapper .detail-textarea-form textarea {
  color: #6D6E71;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .button-list-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-body .button-list-wrapper .btn:not(:first-child) {
  margin-left: 10px;
}

:host .consider-revising-modal-wrapper ::ng-deep .modal .modal-dialog .modal-content .modal-footer {
  display: none;
}

:host textarea {
  resize: none;
}
