<div class="kt-portlet">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="document_role05_receive_send_start_date">วันที่มีคำสั่ง</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_document_role05_receive_send_start_date id="document_role05_receive_send_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_document_role05_receive_send_start_date" (click)="picker_document_role05_receive_send_start_date.open()"
                         [(ngModel)]="input[key_document_role05_receive_send_start_date.id]" (dateChange)="clearValidate(key_document_role05_receive_send_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="document_role05_receive_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_document_role05_receive_send_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_document_role05_receive_send_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role05_receive_send_start_date.id]" class="invalid-feedback">
                  {{validate[key_document_role05_receive_send_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_document_role05_receive_send_end_date id="document_role05_receive_send_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_document_role05_receive_send_end_date" (click)="picker_document_role05_receive_send_end_date.open()"
                         [(ngModel)]="input[key_document_role05_receive_send_end_date.id]" (dateChange)="clearValidate(key_document_role05_receive_send_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="document_role05_receive_send_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_document_role05_receive_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_document_role05_receive_send_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role05_receive_send_end_date.id]" class="invalid-feedback">
                  {{validate[key_document_role05_receive_send_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role02_receive_status_code
                      class="form-control"
                      id="document_role02_receive_status_code"
                      [(ngModel)]="input[key_document_role02_receive_status_code.id]"
                      (change)="binding('input', 'document_role02_receive_status_code', $event.target.value)"
                      [value]="input.document_role02_receive_status_code">
                <option *ngFor="let item of master.documentRole02ReceiveStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_receive_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role02_receive_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภท
            </label>
            <div class="input-wrapper">
              <select #key_post_round_type_code
                      class="form-control"
                      id="post_round_type_code"
                      [(ngModel)]="input[key_post_round_type_code.id]"
                      (change)="binding('input', 'post_round_type_code', $event.target.value)"
                      [value]="input.post_round_type_code">
                <option *ngFor="let item of master.postRoundTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_type_code.id]"
                     class="invalid-feedback">
                  {{validate[key_post_round_type_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02OtherList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label" for="book_start_date">วันที่ออกหนังสือ</label>
      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_book_start_date id="book_start_date" class="form-control input" matInput
                   [matDatepicker]="picker_book_start_date" (click)="picker_book_start_date.open()"
                   [(ngModel)]="input[key_book_start_date.id]" (dateChange)="clearValidate(key_book_start_date.id)"
                   autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_start_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix [for]="picker_book_start_date">
          </mat-datepicker-toggle>
          <mat-datepicker #picker_book_start_date></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_book_start_date.id]" class="invalid-feedback">
            {{validate[key_book_start_date.id]}}
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole02OtherSend()">
        <i class="dip-icon-save"></i>
        ออกหนังสือที่เลือก
      </button>
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole02OtherAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickPublicRole02OtherDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td rowspan="2" class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02Other')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td rowspan="2" class="index">#</td>
          <td rowspan="2" class="request_number">เลขที่คำขอ</td>
          <td rowspan="2" class="document_role05_receive_send_date_text">วันที่อนุมัติ</td>
          <td rowspan="2" class="post_round_instruction_rule_name">ตค.ที่</td>
          <td rowspan="2" class="post_round_type_name">เรื่อง</td>
          <td rowspan="2" class="name">ชื่อผู้รับ</td>
          <td rowspan="2" class="house_number">ที่อยู่</td>

         <!-- <td rowspan="2" class="total_price">จำนวนเงิน</td>-->
          <!--<td rowspan="2" class="book_number">เลข พณ.</td>-->
          <td colspan="4" class="book_start_date">วันที่ออกหนังสือรอบ 1</td>
          <td colspan="4" class="book_start_date">วันที่ออกหนังสือรอบ 2</td>
          <!--<td rowspan="2" class="book_expired_day">นับเวลา</td>-->
          <!--  <td rowspan="2" class="book_acknowledge_date_text">เวลาการตอบกลับ</td>-->
          <!--  <td rowspan="2" class="book_payment_date">วันที่ชำระเงิน</td>-->
          <td rowspan="2" class="public_role02_other_status_name">สถานะ</td>
          <td rowspan="2" class="edit_delete">คำสั่ง</td>
        </tr>
        <tr>

          <td class="book_round01_start_date">วันที่ออก</td>
          <td class="book_round01_start_date">วันที่ตอบได้</td>
          <td class="book_round01_start_date">การตอบโต้</td>
          <td class="book_round01_start_date">วันที่ครบ</td>

          <td class="book_round01_start_date">วันที่ออก</td>
          <td class="book_round01_start_date">วันที่ตอบได้</td>
          <td class="book_round01_start_date">การตอบโต้</td>
          <td class="book_round01_start_date">วันที่ครบ</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole02Other">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02Other', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>

          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="document_role05_receive_send_date_text">{{row_item.document_role05_receive_send_date_text}}</td>
          <td class="post_round_instruction_rule_name">{{row_item.post_round_instruction_rule_name}}</td>
         <!-- <td class="total_price">{{row_item.value_01}}</td>-->
        <td class="post_round_type_name">{{row_item.post_round_type_name}}</td>
          <td class="name">{{row_item.name}}</td>
          <td class="house_number">
            <i class="dip-icon-info-circle" title="{{row_item.address_information}}">
            </i>
          </td>
          <!--<td class="book_number">{{row_item.book_number}}</td>-->

          <td class="book_round01_start_date">{{row_item.book_start_1_date_text}}</td>
          <td class="book_round01_start_date">{{row_item.book_acknowledge_1_date_text}}</td>
          <td class="book_round01_start_date">{{row_item.post_round_action_post_type_1_name}}</td>
          <td class="book_round01_start_date">{{row_item.book_end_1_date_text}}</td>


          <td class="book_round01_start_date">{{row_item.book_start_2_date_text}}</td>
          <td class="book_round01_start_date">{{row_item.book_acknowledge_2_date_text}}</td>
          <td class="book_round01_start_date">{{row_item.post_round_action_post_type_2_name}}</td>
          <td class="book_round01_start_date">{{row_item.book_end_2_date_text}}</td>

          <!-- <td class="book_expired_day">{{row_item.book_expired_day}}</td>-->
          <!-- <td class="book_acknowledge_date_text">{{row_item.book_acknowledge_date_text}}</td>-->
          <!--<td class="book_payment_date">{{row_item.book_payment_date_text}}</td>-->
          <td class="public_role02_other_status_name">{{row_item.document_role02_receive_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-play"
               (click)="onClickPublicRole02OtherEdit(row_item, 1)"></i>
            <!--<i class="dip-icon-play" (click)="onClickPublicRole02OtherEdit(row_item)"></i>-->
            <!--<i class="dip-icon-play" (click)="onClickPublicRole02OtherEdit(row_item)"></i>-->
            <!--<i class="dip-icon-trash" (click)="onClickPublicRole02OtherDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole02Other"
                (onClickList)="onClickPublicRole02OtherList()"></app-paging>
  </div>

</div>


<div class="div_popup is_show" *ngIf="popup.is_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">





      <div class="kt-portlet">
        <div class="kt-portlet__head ">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              ส่งออกหนังสือ{{popup.row_item.post_round_type_name}} ({{popup.row_item.request_number}})
            </h3>
          </div>
          <div class="kt-portlet__head-action">
          </div>
        </div>





        <div class="kt-portlet__body">

          <div class="column-2">
            <div class="column">


              <iframe id="pdf"
                      style="width:700px;height:100%"
                      [src]="url"></iframe>

            </div>
            <div class="column">












              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                      การส่งออกหนังสือรอบที่ 1
                    </h3>
                  </div>
                  <div class="kt-portlet__head-action">

                  </div>
                </div>

                <div class="kt-portlet__body">
                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เจ้าหน้าที่ออกหนังสือ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="auth.getAuth().name"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ออกหนังสือ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_start_1_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เลขที่ พณ.</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_number_1"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เจ้าหน้าที่บันทึก</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="auth.getAuth().name"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ตอบโต้</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_acknowledge_1_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">การตอบโต้</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.post_round_document_post_status_1_name"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ครบ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_end_1_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                </div>
              </div>




              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                      การส่งออกหนังสือรอบที่ 2
                    </h3>
                  </div>
                  <div class="kt-portlet__head-action">

                  </div>
                </div>

                <div class="kt-portlet__body">
                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เจ้าหน้าที่ออกหนังสือ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="auth.getAuth().named"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ออกหนังสือ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_start_2_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เลขที่ พณ.</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_number_2"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">เจ้าหน้าที่บันทึก</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="auth.getAuth().named"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ตอบโต้</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_acknowledge_2_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">การตอบโต้</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.post_round_document_post_status_2_name"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                  <div class="kt-portlet__body__inner">
                    <div class="form-group flex flex-column">
                      <label class="col-form-label"
                             for="request_number">วันที่ครบ</label>
                      <div class="input-wrapper">
                        <input class="form-control input"
                               type="text"
                               [(ngModel)]="popup.row_item.book_end_2_date_text"
                               disabled="disabled"
                               autocomplete="off" />
                      </div>

                    </div>
                  </div>

                </div>


                <div class="kt-portlet__footer hide">
                  <div class="button-list">
                    <button type="button"
                            class="btn btn-brand"
                            (click)="onClickPublicRole02OtherList()">
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            (click)="onClickReset()">
                      <i class="dip-icon-close"></i>
                      ยกเลิก
                    </button>
                  </div>
                </div>
              </div>














            </div>
          </div>
        </div>







        <div class="kt-portlet__footer hide">
        </div>

      </div>













    </div>
    <div class="kt-portlet__footer">
      <div class="button-list">
        <button type="button"
                class="btn btn-danger"
                (click)="popup.is_show = false">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button"
                class="btn btn-orange"
                (click)="popup.is_show = false; popup.is_send_back_show = true; send_back.reason=''">
          <i class="dip-icon-edit-pen"></i>
          ส่งแก้ไข
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="onClickPublicRole02OtherSend()">
          <i class="dip-icon-forward"></i>
          ส่งออกหนังสือ
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div_popup send_back_show" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>
    <!--<div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <select class="form-control input"
                  [(ngModel)]="send_back.department_code">
            <option value="{{item.code}}"
                    *ngFor="let item of master.publicRole01SendBackDepartmentList">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>-->
    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="send_back.reason"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickPublicRole02OtherSendChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>


<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="this.popup.isPopupSendOpen = false; help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>

