<div class="kt-portlet search-task">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">เลขที่อ้างอิงคำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input" type="text" id="request_number" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex" style="margin-top: 10px;">
              <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input" type="text" id="request_number" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex" style="margin-top: 10px;">
              <label class="col-form-label" for="request_number">เลข พณ.</label>
              <div class="input-wrapper">
                <input class="form-control input" type="text" id="request_number" placeholder="" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">เอกสาร</label>
              <div class="input-wrapper">
                <!-- <input class="form-control input" type="text" id="request_number" placeholder="" autocomplete="off" /> -->

                <select #key_job_reciver class="form-control input" [(ngModel)]='selectedDoc'>
                  <option *ngFor="let item of doc">
                    {{item.text}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="kt-portlet__body__inner ">
            <div class="form-group flex" style="margin-top: 10px;">
              <label class="col-form-label" for="inspect_start_date">วันที่ส่งมา</label>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field style="width: 150px;">
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_inspect_start_date id="inspect_start_date" class="form-control input" matInput
                      [matDatepicker]="picker_inspect_start_date" (click)="picker_inspect_start_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="inspect_start_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="inspect_start_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_inspect_start_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="middle-label">
                ถึง
              </div>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field style="width: 150px;">
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_inspect_end_date id="inspect_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_inspect_end_date" (click)="picker_inspect_end_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="inspect_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_inspect_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_inspect_end_date></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="kt-portlet__body__inner ">
            <div class="form-group flex" style="margin-top: 10px;">
              <label class="col-form-label" for="give_number_start_date">วันที่สร้างใบปะหน้า</label>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field style="width: 150px;">
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_start_date id="give_number_start_date" class="form-control input" matInput
                      [matDatepicker]="picker_give_number_start_date" (click)="picker_give_number_start_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="give_number_start_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="give_number_start_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_give_number_start_date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="middle-label">
                ถึง
              </div>
              <div class="input-wrapper input-with-icon datepicker">
                <mat-form-field style="width: 150px;">
                  <div class="kt-input-icon kt-input-icon--right">
                    <input #key_give_number_end_date id="give_number_end_date" class="form-control input" matInput
                      [matDatepicker]="picker_give_number_end_date" (click)="picker_give_number_end_date.open()"
                      autocomplete="off">
                    <label class="kt-input-icon__icon kt-input-icon__icon--right" for="give_number_end_date">
                      <i class="dip-icon-calendar"></i>
                    </label>
                  </div>
                  <mat-datepicker-toggle matSuffix [for]="picker_give_number_end_date">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker_give_number_end_date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex retro-manaul-checkbox">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <!-- <div class="input-wrapper-row"> -->
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                รอพิมพ์ปกจดหมาย
                <span></span>
              </label>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                รอบันทึกเลข
                <span></span>
              </label>

              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                เสร็จสิ้น
                <span></span>
              </label>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button" class="btn btn-brand" (click)="open()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button" class="btn btn-white">
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i> ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table-responsive">
      <table style="width: auto;" class="table table-bordered">
        <thead>
          <tr>
            <td class="select" style="width: auto;">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                  [checked]="input.is_check_all" />
                <span></span>
              </label>
            </td>
            <td class="index" style="width: auto;">ลำดับ</td>
            <td class="public_notification_date" style="width: auto;">เลขที่อ้างอิงคำขอ</td>
            <td class="public_due_date" style="width: auto;" colspan="2">เลขที่คำขอ</td>
            <td class="public_due_date" style="width: auto;">เอกสาร</td>
            <td class="public_irn_number" style="width: auto;" colspan="2">ชื่อผู้รับ - ที่อยู่</td>
            <td class="public_request_type" style="width: auto;">วันที่ส่งมา</td>
            <td class="public_mask" style="width: auto;">วันที่สร้างใบปะหน้า</td>
            <td class="public_receive_date" style="width: auto;">เลข 13 หลัก</td>
            <td class="public_remark" style="width: auto;">รายละเอียดเพิ่มเติม</td>
            <td class="public_status_name" style="width: auto;">สถานะ</td>
            <td class="public_order" style="width: auto;">คำสั่ง</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listPublicItem">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                  [checked]="row_item.is_check" />
                <span></span>
              </label>
            </td>
            <td class="index" style="width: auto;">{{row_item.index}}</td>
            <!-- <td class="request_number" style="width: auto;"><img src="{{row_item.img}}"
              style="width: 30px; height: 30px;" /></td> -->
            <td class="public_type_name" style="width: auto">
              {{row_item.refNo}}
            </td>
            <td class="public_source_name" style="width: auto;">
              <div class="button-click-table">
                {{row_item.requestNo}}
              </div>
            </td>
            <td class="public_source_name" style="width: auto;"><i class="fa fa-bars" aria-hidden="true"
                style="color: #0C84C8; cursor: pointer;" (click)="open()"></i></td>
            <td class="instruction_send_date_text" style="width: auto;">{{row_item.doc}}</td>
            <td class="public_receive_date_text" style="width: auto;">{{row_item.reciever}}</td>
            <td class="public_source_name" style="width: auto;">
              <button matTooltip="115 ถนนพระราม 3 แขวงช่องนนทรี เขตยานาวา กรุงเทพ 10120" [matTooltipPosition]="'right'"
                matTooltipClass="tooltip-color" class="btn btn-icon btn-white-blue">
                <i class="material-icons">
                  room
                </i>
              </button>
            </td>
            <td class="public_receive_date_text" style="width: auto;">{{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
            <td class="public_receive_date_text" style="width: auto;">{{row_item.createdate | date: 'dd/MM/yyyy'}}</td>

            <td class="instruction_send_date_text" style="width: 220px;">
              <div class="input-wrapper" style="width: 200px;">
                <input class="form-control" type="text" id="request_number" placeholder="" autocomplete="off" />

              </div>

              <button class="btn btn-icon btn-blue">
                <i class="dip-icon-save"></i>
              </button>
              <!-- <div class="input-wrapper" style="width: 200px;">
                <input class="form-control input" type="text" id="id_card" placeholder="" autocomplete="off" />
              </div> -->


              <!-- {{row_item.idcard}} -->
            </td>

            <td class="instruction_send_date_text" style="width: auto;">{{row_item.desc}}</td>

            <td class="public_status_name" style="width: auto;">
              <div
                [ngClass]="{'status-wait-save': row_item.statusprogress === 'รอบันทึกเลข' , 'status-wait': row_item.statusprogress === 'เสร็จสิ้น', 'status-mail': row_item.statusprogress === 'รอพิมพ์ปกจดหมาย'}">
                {{row_item.statusprogress}}
              </div>
            </td>
            <td>
              <!-- <div class="edit-button"> -->
              <button class="btn btn-icon button-grey">
                <i class="dip-icon-printer"></i>
              </button>

              <!-- <button class="btn btn-icon button-bule">
              <i class="dip-icon-upload-circle"></i>
            </button>

            <button class="btn btn-icon button-grey">
              <i class="dip-icon-search"></i>
            </button> -->
              <!-- <i class="dip-icon-edit" style="align-self: center"></i>
            </div> -->
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-10">

      </div>
      <div class="col-2">
        <button type="button" class="btn btn-blue">
          <i class="dip-icon-document-tray"></i>
          พิมพ์หนังสือที่เลือก
        </button>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <!-- <app-paging [pag]="paginatePublicItem" (onClickList)="onClickPublicRole01ItemList()"></app-paging> -->
  </div>

</div>