<div class="kt-portlet request-search-people-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-search-peopleer">
      <div class="form-group flex">
        <label class="col-form-label" for="voucher_number">Voucher No.</label>
        <div class="input-wrapper">
          <input #key_voucher_number class="form-control input" type="text" id="voucher_number" placeholder="Voucher No."
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_voucher_number.id]"
                 autocomplete="off" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_voucher_number.id]" class="invalid-feedback">
              {{validate[key_voucher_number.id]}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button" class="btn btn-brand" (click)="onClickStart()">
      เริ่มใช้งาน
    </button>
    <button type="button" class="btn btn-brand" (click)="onClickReset()">
      ยกเลิก
    </button>

  </div>
</div>
