<div class="kt-portlet receipt-detail">
  <div class="kt-portlet__head">
    <div class="add-new">
      <button
        type="button"
        class="btn btn-create-new"
      >
        <i class="dip-icon-add-new"></i>
        สร้างรายการใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner">
      <div class="form-row">
        <div class="form-group flex transaction-ref-number">
          <label
            class="col-form-label"
            for="transactionRefNumber"
          >
            เลขที่อ้างอิงการชำระเงิน*
          </label>

          <input
            #key_reference_number
            class="form-control input"
            type="text"
            id="reference_number"
            [(ngModel)]="input[key_reference_number.id]"
            [ngClass]="validate[key_reference_number.id] ? 'is-invalid' : null"
            (input)="clearValidate(key_reference_number.id)"
          />

          <button
            type="button"
            class="btn btn-brand"
            (click)="onClickSearchReceipt()"
          >
            <i class="dip-icon-search"></i>
            ค้นหา
          </button>
          
          <div class="feedback-wrapper">
            <div
              *ngIf="validate[key_reference_number.id]"
              class="invalid-feedback"
            >
              {{validate[key_reference_number.id]}}
            </div>
          </div>
        </div>

        <div class="form-group flex retro-manaul-checkbox">
          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            ออกใบเสร็จย้อนหลัง (กรณี Internet)
            <span></span>
          </label>

          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
            <input type="checkbox">
            บันทึกใบเสร็จที่ออกมือ
            <span></span>
          </label>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="form-row">
        <div class="form-group flex receipt-number">
          <label
            class="col-form-label"
            for="receiptNumber"
          >
            เลขที่ใบเสร็จ
          </label>

          <input
            class="form-control input"
            type="number"
            id="receiptNumber"
            readonly
          />
        </div>

        <div class="form-group flex date-on-receipt">
          <label
            class="col-form-label"
            for="dateOnReceipt"
          >
            วันที่ลงในใบเสร็จ*
          </label>

          <!-- <input
            class="form-control input"
            type="text"
            id="dateOnReceipt"
          /> -->
          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <input
                  #key_date_on_receipt
                  id="date_on_receipt"
                  class="form-control input"
                  matInput
                  [matDatepicker]="picker_date_on_receipt"
                  placeholder=""
                  [(ngModel)]="input[key_date_on_receipt.id]"
                  disabled
                >
                <label
                  class="kt-input-icon__icon kt-input-icon__icon--right"
                  for="request_date"
                >
                  <i class="dip-icon-calendar"></i>
                </label>
              </div>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker_date_on_receipt"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #picker_date_on_receipt disabled="false"></mat-datepicker>
            </mat-form-field>

            <button
              type="button"
              class="btn btn-brand"
              (click)="picker_date_on_receipt.open()"
            >
              <i class="dip-icon-edit"></i>
              แก้ไขวันที่ในใบเสร็จ
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="form-row">
        <div class="form-group flex request-number">
          <label
            class="col-form-label"
            for="RequestNumber"
          >
            เลขที่คำขอ
          </label>

          <input
            class="form-control input"
            type="number"
            id="RequestNumber"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="form-row">
        <div class="form-group flex payee">
          <label
            class="col-form-label"
            for="receiptNumber"
          >
            ผู้รับเงิน
          </label>

          <input
            class="form-control input"
            type="number"
            id="receiptNumber"
            readonly
          />
        </div>

        <div class="form-group flex paid-date input-with-icon">
          <label
            class="col-form-label"
            for="paidDate"
          >
            วันที่รับเงิน*
          </label>

          <!-- <input
            class="form-control input"
            type="text"
            id="paidDate"
          /> -->
          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <input
                  #key_paid_date
                  id="paid_date"
                  class="form-control input"
                  matInput
                  [matDatepicker]="picker_paid_date"
                  placeholder=""
                  (click)="picker_paid_date.open()"
                  [(ngModel)]="input[key_paid_date.id]"
                  (dateChange)="clearValidate(key_paid_date.id)"
                >
                <label
                  class="kt-input-icon__icon kt-input-icon__icon--right"
                  for="request_date"
                >
                  <i class="dip-icon-calendar"></i>
                </label>
              </div>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker_paid_date"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #picker_paid_date></mat-datepicker>
            </mat-form-field>
    
            <div class="feedback-wrapper">
              <div
                *ngIf="validate[key_paid_date.id]"
                class="invalid-feedback"
              >
                {{validate[key_paid_date.id]}}
              </div>
            </div>
          </div>

          <!-- <button
            type="button"
            class="btn btn-icon"
          >
            <i class="dip-icon-calendar"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet request-detail">
  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner">
      <div class="form-row">
        <div class="form-group flex request-number">
          <label
            class="col-form-label"
            for="requestNumber"
          >
            เลขที่คำขอ
          </label>

          <input
            class="form-control input"
            type="text"
            id="requestNumber"
          />
        </div>

        <div class="form-group flex request-date input-with-icon">
          <label
            class="col-form-label"
            for="requestDate"
          >
            วันที่ยื่นคำขอ
          </label>

          <!-- <input
            class="form-control input"
            type="text"
            id="requestDate"
          /> -->
          <div class="input-wrapper input-with-icon datepicker">
            <mat-form-field>
              <div class="kt-input-icon kt-input-icon--right">
                <input
                  #key_request_date
                  id="request_date"
                  class="form-control input"
                  matInput
                  [matDatepicker]="picker_request_date"
                  placeholder=""
                  (click)="picker_request_date.open()"
                  [(ngModel)]="input[key_request_date.id]"
                  (dateChange)="clearValidate(key_request_date.id)"
                >
                <label
                  class="kt-input-icon__icon kt-input-icon__icon--right"
                  for="request_date"
                >
                  <i class="dip-icon-calendar"></i>
                </label>
              </div>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker_request_date"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #picker_request_date></mat-datepicker>
            </mat-form-field>
    
            <div class="feedback-wrapper">
              <div
                *ngIf="validate[key_request_date.id]"
                class="invalid-feedback"
              >
                {{validate[key_request_date.id]}}
              </div>
            </div>
          </div>

          <!-- <button
            type="button"
            class="btn btn-icon"
          >
            <i class="dip-icon-calendar"></i>
          </button> -->
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="form-group flex payer">
        <label
          class="col-form-label"
          for="payer"
        >
          ได้ร้บเงืนจาก*
        </label>

        <input
          class="form-control input"
          type="text"
          id="payer"
        />

        <button
          type="button"
          class="btn btn-brand"
        >
          <i class="dip-icon-search"></i>
          เลือกตัวแทน
        </button>
      </div>
    </div>

    <div class="payments">
      <div class="add-new">
        <button
          type="button"
          class="btn btn-create-new btn-icon"
        >
          <i class="dip-icon-add-new"></i>
        </button>
      </div>

      <div class="table">
        <div class="table-inner">
          <div class="tr header">
            <div class="td order">
              #
            </div>
            <div class="td payment-method">
              ช่องทางชำระเงิน
            </div>
            <div class="td card-or-check-number">
              เลขที่บัตร / เช็ค
            </div>
            <div class="td amount">
              ยอดเงิน
            </div>
            <div class="td delete">
              ยอดเงิน
            </div>
          </div>

          <div class="tr">
            <div class="td order">
              1
            </div>
            <div class="td payment-method">
              <select class="form-control">
                <option value="1">เงินสด</option>
                <option value="0">แคชเชียร์เช็ค</option>
              </select>
            </div>
            <div class="td card-or-check-number">

            </div>
            <div class="td amount">
              <input
                class="form-control input"
                type="text"
              />
            </div>
            <div class="td delete">
              <i class="dip-icon-trash"></i>
            </div>
          </div>

          <div class="tr">
            <div class="td order">
              2
            </div>
            <div class="td payment-method">
              <select class="form-control">
                <option value="1">เงินสด</option>
                <option value="0">แคชเชียร์เช็ค</option>
              </select>
            </div>
            <div class="td card-or-check-number">
              <input
                class="form-control input"
                type="text"
                value="1234456677"
              />
            </div>
            <div class="td amount">
              <input
                class="form-control input"
                type="text"
              />
            </div>
            <div class="td delete">
              <i class="dip-icon-trash"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="payments">
      <button
        type="button"
        class="btn btn-secondary"
      >
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet daily-fee-income-records-list">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดงรายการ
      </h3>
    </div>

    <div class="kt-portlet__head-action">
      <div class="form-group flex total-amount">
        <label
          class="col-form-label"
          for="totalAmount"
        >
          รวมทั้งสิ้น
        </label>

        <input
          class="form-control input"
          type="number"
          id="totalAmount"
          value="4400.00"
          readonly
        />

        <span class="unit">
          บาท
        </span>
      </div>

      <div class="form-group flex total-amount-change">
        <label
          class="col-form-label"
          for="totalAmountChange"
        >
          เงินทอน
        </label>

        <input
          class="form-control input"
          type="number"
          id="totalAmountChange"
          value="100.00"
          readonly
        />

        <span class="unit">
          บาท
        </span>
      </div>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table">
      <div class="table-inner">
        <div class="tr header">
          <div class="td id">
            #
          </div>
          <div class="td request-number">
            เลขที่คำขอ
          </div>
          <div class="td income-id">
            รหัสรายได้
          </div>
          <div class="td money-transaction">
            รายการรับเงิน
          </div>
          <div class="td amount">
            จำนวนเงิน
          </div>
          <div class="td space">
          </div>
          <div class="td receipt-book-number">
            เล่มที่ใบเสร็จ
          </div>
          <div class="td receipt-number">
            เลขที่ใบเสร็จ
          </div>
          <div class="td cancel">
            การยกเลิก
          </div>
          <div class="td edit">
            แก้ไข
          </div>
        </div>

        <div class="tr">
          <div class="td id">
            1
          </div>
          <div class="td request-number">
            180108784
          </div>
          <div class="td income-id">
            010
          </div>
          <div class="td money-transaction">
            ค่าขอจดทะเบียนเครื่องหมายการค้า/
            บริการ/รับรอง/เครื่องหมายร่วมใช้
          </div>
          <div class="td amount">
            2,000.00
          </div>
          <div class="td space">
          </div>
          <div class="td receipt-book-number">

          </div>
          <div class="td receipt-number">

          </div>
          <div class="td cancel">

          </div>
          <div class="td edit">
            <i class="dip-icon-edit"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="kt-pagination  kt-pagination--brand">
      <ul class="kt-pagination__links">
        <li class="kt-pagination__link--first kt-pagination__link disbled">
          <a href="#">
            <i class="dip-icon-angle-double-left"></i>
          </a>
        </li>
        <li class="kt-pagination__link--prev kt-pagination__link">
          <a href="#">
            <i class="dip-icon-angle-left"></i>
          </a>
        </li>

        <li>
          <a href="#">...</a>
        </li>
        <li>
          <a href="#">29</a>
        </li>
        <li>
          <a href="#">30</a>
        </li>
        <li class="kt-pagination__link--active">
          <a href="#">31</a>
        </li>
        <li>
          <a href="#">32</a>
        </li>
        <li>
          <a href="#">33</a>
        </li>
        <li>
          <a href="#">...</a>
        </li>

        <li class="kt-pagination__link--next kt-pagination__link">
          <a href="#">
            <i class="dip-icon-angle-double-right"></i>
          </a>
        </li>
        <li class="kt-pagination__link--last kt-pagination__link">
          <a href="#">
            <i class="dip-icon-angle-right"></i>
          </a>
        </li>
      </ul>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span class="pagination__desc">
          Displaying 10 of 230 records
        </span>
      </div>
    </div>
  </div>
</div>

<div class="bottom-page-action">
  <button
    type="button"
    class="btn btn-icon btn-drawer btn-brand"
  >
    <i class="dip-icon-drawer"></i>
  </button>

  <div class="btn-group-wrapper">
    <button
      type="button"
      class="btn btn-brand"
    >
      <i class="dip-icon-printer"></i>
      พิมพ์ใบเสร็จ
    </button>

    <button
      type="button"
      class="btn btn-secondary"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>

    <button
      type="button"
      class="btn btn-white"
    >
      ยกเลิก
    </button>
  </div>
</div>
