:host {
  .kt-portlet__head {
    .add-new {
      margin-left: auto;
    }
  }

  .kt-portlet__body {
    .col-form-label {
      min-width: 200px;
    }

    .input {
      width: 270px;
    }

    .kt-portlet__body__inner {
      width: 100%;

      .form-group {
        flex: 1 1 auto;
        margin-bottom: 25px;

        .kt-checkbox {
          margin-left: 25px;
        }

        input {
          &+.btn {
            margin-left: 15px;
          }
        }

        &.retro-manaul-checkbox {
          margin-left: 125px;

          .kt-checkbox {
            margin-left: 65px;
          }
        }

        &.input-with-icon {
          input {
            flex: 0 0 231px;

            &+.btn {
              margin-left: 0;
            }
          }
        }

        &.payer {
          input {
            width: 375px;
          }
        }
      }
    }

    .form-row {
      justify-content: space-between;
      flex-wrap: wrap;
      display: flex;
      width: 100%;

      .form-group {
        &:first-child {
          flex: 0 0 710px;
        }
      }
    }

    .payments {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1175px;
      margin: 0 auto;

      .add-new {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .table {
        margin-top: 25px;

        .tr {
          .td {
            padding: 5px 15px;
            min-height: 48px;

            &.order {
              flex: 0 0 50px;
              max-width: 50px;
              justify-content: center;
              text-align: center;
            }

            &.payment-method {
              flex: 0 0 300px;
              max-width: 300px;
            }

            &.card-or-check-number {
              flex: 1 1 auto;
            }

            &.amount {
              flex: 0 0 300px;
              max-width: 300px;
            }

            &.delete {
              flex: 0 0 100px;
              max-width: 100px;
              text-align: center;
              justify-content: center;

              i {
                color: #C31D1D;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .kt-portlet__footer {
    .payments {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1175px;
      margin: 0 auto;
      justify-content: flex-end;
    }
  }

  .daily-fee-income-records-list {
    .kt-portlet__head-action {
      .col-form-label {
        color: #0C84C8;
        font-weight: 500;
      }

      .unit {
        color: #0C84C8;
        font-weight: 500;
      }

      .form-group {
        margin-left: 25px;
        text-align: right;
      }
    }

    .kt-portlet__body {
      .table {
        .tr {
          .td {
            &.id {
              flex: 0 0 80px;
              max-width: 80px;
              justify-content: center;
            }

            &.request-number {
              flex: 0 0 190px;
              max-width: 190px;
            }

            &.income-id {
              flex: 0 0 110px;
              max-width: 110px;
              justify-content: center;
            }

            &.money-transaction {
              flex: 0 0 260px;
              max-width: 260px;
            }

            &.amount {
              flex: 0 0 120px;
              max-width: 120px;
            }

            &.receipt-book-number {
              flex: 0 0 140px;
              max-width: 140px;
            }

            &.receipt-number {
              flex: 0 0 140px;
              max-width: 140px;
            }

            &.cancel {
              flex: 0 0 140px;
              max-width: 140px;
            }

            &.edit {
              flex: 0 0 90px;
              max-width: 90px;
              justify-content: center;

              .icon {
                width: 16px;
                height: 16px;
              }
            }

            &.space {
              flex: 1 1 auto;
            }
          }
        }
      }
    }
  }

  .bottom-page-action {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 39px;
    padding: 0 60px;
    margin-bottom: 50px;

    .btn-drawer {
      position: absolute;
      top: 0;
      left: 0;
    }

    .btn-group-wrapper {
      .btn {
        margin: 0 5px;
      }
    }
  }
}
