:host {
  .container-inner {
    height: 100%;
    width: 100%;
    overflow: auto;

    label {
      color: #6D6E71;
      font-size: 20px;
    }

    .step-panel {
      width: 320px;
      flex: 0 0 320px;
      height: 100%;
      overflow-y: scroll;
      background-color: #E7E7E7;
      box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);

      .step-item {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        min-height: 53px;
        display: flex;
        align-items: center;
        color: #707070;
        font-size: 16px;

        .item-name {
          display: flex;
          align-items: center;
          width: 100%;
          min-height: 53px;
          padding: 10px 15px 10px 25px;

          &.editable {
            cursor: pointer;
          }

          &:before {
            content: '\0076';
            display: flex;
            font-family: 'dip font icon';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            color: #B7B7B7;
            margin-right: 13px;
            padding-bottom: 2px;
          }
        }


        &.current {
          background-color: #E0E0E0;
        }

        &.required {
          .item-name {
            &:before {
              content: '\0075';
              color: #707070;
            }
          }
        }

        &.passed {
          .item-name {
            color: #149BA9;

            &:before {
              content: '\0074';
              color: #149BA9;
              font-size: 15px;
            }
          }
        }

        &.has-sub-item {
          flex-wrap: wrap;

          .item-name {
            position: relative;
            padding-right: 30px;

            &:after {
              content: '\0048';
              position: absolute;
              display: flex;
              font-family: 'dip font icon';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 15px;
              color: #B7B7B7;
              padding-bottom: 2px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .step-sub-items {
            height: 0;
            overflow: hidden;
            width: 100%;
          }

          .step-sub-item {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            height: 53px;
            display: flex;
            align-items: center;
            padding-left: 75px;
            color: #707070;
            font-size: 16px;
            width: 100%;
            padding-right: 15px;

            &.current {
              background-color: #E0E0E0;
            }
          }

          &.is-open {
            .item-name {
              &:after {
                transform: translateY(-65%) rotate(180deg);
              }
            }

            .step-sub-items {
              height: auto;
            }
          }
        }
      }
    }

    .eform-content {
      flex: 1 1 auto;
      position: relative;
      padding: 5px 5px 45px;

      .input-wrapper-row {
        margin-bottom: 18px;

        .flex {
          select {
            &.form-control {
              margin-left: 15px;
              width: 270px;
            }
          }
        }
      }

      .domestic-contact-address {
        height: 100%;
        overflow: auto;
        padding: 60px 0 80px;

        .btx-search {
          margin-right: 15px;
        }

        .btx-box-select {
          flex-grow: 1;
        }

        .btx-box-label {
          padding-top: 2px;
          margin-right: 30px;
          width: 25%;
        }

        .card {
          background-color: #F4F5F8;
          padding: 30px 20px;
          border: none;

          select {
            margin-right: 15px;
          }

          .btn i {
            padding-right: 0;
          }

          .btx-box-label {
            margin-right: 20px;
          }
        }

        .input-wrapper {
          margin: 0;
        }

        .input-wrapper-row {
          .flex {
            select {
              &.form-control {
                width: 375px;
                margin-left: 0;
              }
            }
          }
        }

        .kt-checkbox {
          margin-right: 0;
        }

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            .kt-portlet__head-title {
              font-size: 30px;
            }
          }

          .kt-portlet__body__inner {
            .form-group {
              width: 100%;
            }

            &.select-domestic-contact-address {
              padding-left: 25px;
              padding-right: 25px;
              flex-wrap: wrap;
            }
          }

          .kt-portlet__footer__inner {
            width: 100%;
            padding: 25px;
          }
        }
      }

      .finish {
        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .kt-portlet__footer__inner {
          width: 100%;

          .btn {
            margin: 0 10px;
          }
        }

        .signature-select {
          width: 100%;
          margin-bottom: 15px;

          .caption {
            color: #0c84c8;
            font-size: 18px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
          }

          .form-group {
            padding-left: 15px;
          }
        }

        .btx-more-suggest {
          width: 96%;
          position: absolute;
          /* bottom: 152px; */
          bottom: 12%;
          font-size: 20px;
          text-align: center;
          color: #fff
        }
      }

      .step-basic {
        height: 100%;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }
          }

          .kt-portlet__body__inner {
            padding: 0 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0C84C8;
                justify-content: flex-start;
              }
            }
          }

          .kt-portlet__footer__inner {
            padding: 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0C84C8;
                justify-content: flex-start;
              }

              &.otop-id {
                .col-form-label {
                  font-size: 16px;
                  color: #6D6E71;
                  margin: 0;
                  padding: 0;
                }

                .input {
                  min-width: 350px;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }

      .footer-eform {
        display: flex;
        position: absolute;
        left: -9px;
        right: 0;
        bottom: 0;
        height: 70px;
        flex-direction: column;

        .progress-bar {
          height: 12px;
          width: 100%;
          background-color: #E7E7E7;

          .bar {
            min-width: 50px;
            height: 100%;
            background-color: #52D69D;
          }
        }

        .summary-and-control {
          flex: 1 1 auto;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;

          .summary-progress {
            display: flex;
            align-items: center;
            padding: 5px 15px 0 35px;

            .progress-number {
              display: flex;
              width: 75px;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: 500;
              font-size: 40px;
              color: #149BA9;
              line-height: 40px;
              margin-right: 8px;
              height: 53px;
              overflow: hidden;
              justify-content: flex-end;
              align-items: center;
            }

            .units {
              font-family: 'Noto Sans Thai', 'Noto Sans';

              .percentage {
                line-height: 20px;
                font-size: 19px;
                font-weight: 500;
                font-family: 'Noto Sans Thai', 'Noto Sans';
                color: #149BA9;
              }

              .unit {
                font-size: 16px;
                font-weight: normal;
                color: #707070;
                margin-top: -5px;
              }
            }
          }

          .control {
            display: flex;
            align-items: center;
            padding: 0 30px 0 15px;

            .note {
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              font-size: 16px;
              margin-right: 20px;
            }

            .btn-wrapper {
              display: flex;

              .btn {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    .btx-inner-form-three {
      /* input {
        background-color: #EBEDF2;
      } */

      .btx-search {
        background-color: white;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .input-wrapper {
        margin: 0px;

        button {
          margin-left: 10px;
          width: 101px;
          height: 37px;
        }

        .input-wrapper-row {
          margin-bottom: 15px;
        }
      }

      input.form-control {
        width: 628px;
        height: 37px;
      }
    }

    .btx-inner-form-five {
      input[type="file"] {
        display: none;
      }

      .btx-upload {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        font-size: 16px !important;
        padding: 7px 1rem 6px;
        white-space: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 37px;
        background-color: #0C84C8;
        border-color: #0C84C8;
        color: white !important;
        margin: 0px 6px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      input.form-control {
        width: 897px;
        height: 83px;
      }

      .btn-brand {
        margin-left: 5px;
        margin-right: 5px;
        height: 37px;
      }

      .btn-eform-secondary {
        margin-left: 5px;
        margin-right: 5px;
        height: 37px;

        &.textarea-btn {
          margin-left: 0;
        }
      }

      .btx-group-btn-box {
        margin-top: 30px;
        margin-bottom: 15px;

        // label {
        //     margin-right: 50px;
        //     margin-bottom: 0px;
        // }
      }

      .btx-upload-label {
        margin-top: 4px;
        margin-right: 41px;
        color: #0C84C8;
      }

      .btx-suggest {
        margin: 0 10px;
      }

      .btx-suggest-box {
        margin-bottom: 30px;
      }

      .btx-inner-wrapper-five {
        .input-wrapper-row.flex-column {
          margin-bottom: 15px;
        }
      }
    }
  }

  // color: #6D6E71;

  .kt-portlet {
    font-size: 16px;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
    }

    .input-wrapper {
      margin: 0 10px;
    }
  }

  app-tabs.ng-star-inserted[modal_tab] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;

    .kt-portlet--background {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }

    .kt-portlet {
      width: 1330px;
      display: block;
      margin: 0 auto;
    }
  }

  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    z-index: 1;

    tr {
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }

      td {
        padding: 0 12px;
      }
    }
  }

  .table-inner {

    input.form-control,
    select.form-control {
      width: 100%;
    }

    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }

  .flex_none {
    flex: none;
  }

  .btn-create-new {
    &+.btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control,
  select.form-control {
    width: 375px;
  }

  .tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #F4F5F8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__body__inner {
    .form-group {
      &>*+button {
        margin-left: 15px;
      }

      &>*+span {
        margin-left: 15px;
      }

      &>*+label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &+button {
          margin-left: 0;
        }
      }

      &>button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .kt-radio {
      padding-left: 0;

      span {
        position: absolute;
        top: -5px;
      }
    }

    &.table-send-document {
      .table-inner {
        .tr {
          .td {
            &.select {
              flex: 0 0 50px;
              max-width: 50px;
              justify-content: center;
              padding-right: 0;
            }

            &.date {
              flex: 0 0 200px;
              max-width: 200px;
              justify-content: center;
            }

            &.person {
              flex: 1;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .kt-portlet__body {
    .sign-wrapper {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .col-form-label {
        color: #0c84c8;
      }
    }
  }

  .footer-eform {
    display: flex;
    position: absolute;
    left: -9px;
    right: 0;
    bottom: 0;
    height: 70px;
    flex-direction: column;

    .progress-bar {
      height: 12px;
      width: 100%;
      background-color: #E7E7E7;

      .bar {
        min-width: 50px;
        height: 100%;
        background-color: #52D69D;
      }
    }

    .summary-and-control {
      flex: 1 1 auto;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;

      .summary-progress {
        display: flex;
        align-items: center;
        padding: 5px 15px 0 35px;

        .progress-number {
          display: flex;
          width: 75px;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-weight: 500;
          font-size: 40px;
          color: #149BA9;
          line-height: 40px;
          margin-right: 8px;
          height: 53px;
          overflow: hidden;
          justify-content: flex-end;
          align-items: center;
        }

        .units {
          font-family: 'Noto Sans Thai', 'Noto Sans';

          .percentage {
            line-height: 20px;
            font-size: 19px;
            font-weight: 500;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            color: #149BA9;
          }

          .unit {
            font-size: 16px;
            font-weight: normal;
            color: #707070;
            margin-top: -5px;
          }
        }
      }

      .control {
        display: flex;
        align-items: center;
        padding: 0 30px 0 15px;

        .note {
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-weight: normal;
          font-size: 16px;
          margin-right: 20px;
        }

        .btn-wrapper {
          display: flex;

          .btn {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

::ng-deep {
  .modal {
    &.deactivation-modal {
      .btn + .btn {
        margin-left: 15px;
      }
    }
  }
}