<div class="container-inner flex">
  <div class="step-panel">
    <!-- STEP ITEM -->
    <ng-container *ngFor="let menu of menuList">
      <div
        *ngIf="menu.isShow"
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: menu.canEdit,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number || menu.canEdit
        }"
      >
        <div
          class="item-name"
          [ngClass]="{ editable: menu.canEdit }"
          (click)="onClickMenu(menu)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            <div
              *ngIf="sub.isShow"
              class="step-sub-item"
              [ngClass]="{
                editable: menu.canEdit,
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
              (click)="onClickSubMenu(menu, sub)"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 1">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [(ngModel)]="input.email"
                  [ngClass]="validate.email ? 'is-invalid' : null"
                  (input)="clearValidate('email')"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.email" class="invalid-feedback">
                    {{ validate.email }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [(ngModel)]="input.telephone"
                  [ngClass]="validate.telephone ? 'is-invalid' : null"
                  (input)="clearValidate('telephone')"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.telephone" class="invalid-feedback">
                    {{ validate.telephone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="btx-more-suggest">
        <p>
          ระบบจะส่งใบคำขอ ก.20 และ Link สำหรับแก้ไขใบคำขอไปที่ Email สำหรับไฟล์
          หลังทำการบันทึกข้อมูล
        </p>
      </div>
    </div>

    <!-- Start Step 2 Form -->
    <div class="flex step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. หนังสือนำส่งเอกสารหลักฐานและคำชี้แจง (ก.20)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-three">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    คำขอเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      [disabled]="!input.isAllowEditRequestNumber"
                      class="form-control input btx-search"
                      placeholder="กรุณากรอก คำขอเลขที่"
                      [(ngModel)]="input.request_number"
                      [ngClass]="validate.request_number ? 'is-invalid' : null"
                      (input)="clearValidate('request_number')"
                      (keyup)="onKey($event, 'request_number')"
                    />
                    <button
                      [disabled]="!input.isAllowEditRequestNumber"
                      type="button"
                      class="btn btn-brand"
                      (click)="onSearch()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.request_number"
                      class="invalid-feedback"
                    >
                      {{ validate.request_number }}
                    </div>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    ทะเบียนเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      class="form-control input"
                      disabled
                      [(ngModel)]="input.registration_number"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 3 Form -->
    <!-- <div class="flex step-basic" *ngIf="currentID == 3">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ประเด็นการยื่น *
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-brand-type">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <label
                    class="kt-radio kt-radio--bold kt-radio--brand"
                    *ngFor="let item of master.subjectTypeCodeList"
                  >
                    <input
                      name="save200_subject_type_code"
                      type="radio"
                      (click)="binding('input', 'save200_subject_type_code', item.code)"
                      [checked]="item.code === input.save200_subject_type_code"
                      (input)="clearValidate('save200_subject_type_code')"
                    />
                    {{ item.name }}
                    <span></span>
                  </label>
                </div>
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate.save200_subject_type_code"
                    class="invalid-feedback"
                  >
                    {{ validate.save200_subject_type_code }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Start Step 3 Form -->
    <div class="flex domestic-contact-address" *ngIf="currentID == 3">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ขอส่งเอกสารหลักฐาน/ขอชี้แจง
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-domestic-contact-address">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <div class="input-wrapper-row">
                    <div class="btx-box-label">
                      <label>
                        เรียน
                      </label>
                    </div>
                    <div class="btx-box-select">
                      <select
                        disabled
                        class="form-control"
                        [(ngModel)]="input.save200_recipient_code"
                      >
                        <option
                          *ngFor="let item of master.receipientTypeCodeList"
                          [value]="item.code"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="input-wrapper-row">
                    <div class="btx-box-label">
                      <label
                        class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                      >
                        <input
                          type="checkbox"
                          (click)="toggleBoolean('input', 'is_instruction')"
                          [checked]="input.is_instruction"
                        />
                        ยื่นโดยคำสั่งนายทะเบียน
                        <span></span>
                      </label>
                    </div>

                    <div class="btx-box-select">
                      <div class="flex input-wrapper">
                        <input
                          [disabled]="!input.is_instruction"
                          class="form-control input btx-search"
                          placeholder="กรุณากรอก เลขที่อ้างอิงตค."
                          [(ngModel)]="input.rule_number"
                          [ngClass]="validate.rule_number ? 'is-invalid' : null"
                          (input)="clearValidate('rule_number')"
                          (keyup)="onKey($event, 'rule_number')"
                        />
                        <button
                          [disabled]="!input.is_instruction"
                          type="button"
                          class="btn btn-brand"
                          (click)="onSearchInstructionRule()"
                        >
                          <i class="dip-icon-search"></i>
                          ค้นหา
                        </button>
                      </div>
                      <div class="feedback-wrapper">
                        <div
                          *ngIf="validate.rule_number"
                          class="invalid-feedback"
                        >
                          {{ validate.rule_number }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="input-wrapper-row">
                      <div class="btx-box-label">
                        <label>
                          ตามที่ข้าพเจ้าได้ยื่นคำขอ
                        </label>
                      </div>

                      <div class="btx-box-select">
                        <input
                          type="text"
                          class="form-control input"
                          [(ngModel)]="input.others_request_type"
                          [ngClass]="
                            validate.others_request_type ? 'is-invalid' : null
                          "
                          (input)="clearValidate('others_request_type')"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="validate.others_request_type"
                            class="invalid-feedback"
                          >
                            {{ validate.others_request_type }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <ng-container
                      *ngFor="let item of input.formList; index as i"
                    >
                      <div class="input-wrapper-row">
                        <div class="btx-box-label">
                          <label>
                            แบบฟอร์ม
                          </label>
                        </div>

                        <div class="btx-box-select">
                          <div class="flex input-wrapper">
                            <select
                              class="form-control"
                              [(ngModel)]="item.save200_request_type_code"
                              (ngModelChange)="onChangeRequestType(i)"
                              (input)="
                                clearValidate('save200_request_type_code', item)
                              "
                            >
                              <option disabled selected hidden [value]="null"
                                >กรุณาเลือก ประเภทแบบฟอร์ม</option
                              >
                              <option
                                *ngFor="let item of master.requestTypeCodeList"
                                [value]="item.code"
                              >
                                {{ item.name }}
                              </option>
                            </select>

                            <button
                              *ngIf="input.formList.length - 1 == i"
                              class="btn btn-brand"
                              (click)="onClickAddForm()"
                            >
                              <i class="dip-icon-add-new"></i>
                            </button>

                            <button
                              *ngIf="input.formList.length > 1"
                              class="btn btn-brand delete"
                              (click)="
                                onClickRemoveInTable('input', 'formList', i)
                              "
                            >
                              <i class="dip-icon-trash"></i>
                            </button>
                          </div>
                          <div class="feedback-wrapper">
                            <div
                              *ngIf="
                                item.validate &&
                                item.validate.save200_request_type_code
                              "
                              class="invalid-feedback"
                            >
                              {{ item.validate.save200_request_type_code }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="table table-send-document"
                        *ngIf="item.requestList && item.requestList.length > 0"
                      >
                        <div class="table-inner">
                          <div class="tr header">
                            <div class="td select"></div>
                            <div class="td date">
                              วันที่ยื่น
                            </div>
                            <div class="td person">
                              ผู้ยื่น
                            </div>
                          </div>

                          <div class="table-data">
                            <div
                              class="tr"
                              *ngFor="
                                let request of item.requestList;
                                index as j
                              "
                            >
                              <div class="td select">
                                <label
                                  class="kt-radio kt-radio--bold kt-radio--brand no-label"
                                >
                                  <input
                                    type="radio"
                                    name="{{ 'data-list' + i }}"
                                    (click)="onClickRequestList(request, i)"
                                    [checked]="
                                      request.id == item.request_ref_id
                                    "
                                  />
                                  <span></span>
                                </label>
                              </div>
                              <div class="td date">
                                {{ displayDateEform(request.created_date) }}
                              </div>
                              <div class="td person">
                                {{ request.name }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="feedback-wrapper">
                        <div
                          *ngIf="item.validate && item.validate.step4"
                          class="invalid-feedback"
                        >
                          {{ item.validate.step4 }}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 4 Form -->
    <div class="flex step-basic" *ngIf="currentID == 4">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. เอกสารหลักฐานเพื่อใช้ประกอบการพิจารณา
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-five">
            <div class="form-group">
              <div class="btx-inner-wrapper-five">
                <div class="input-wrapper-row">
                  <div class="flex">
                    <textarea
                      class="form-control input"
                      type="text"
                      rows="9"
                      [(ngModel)]="input.remark_5"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right textarea-btn"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 5 Form -->
    <div class="flex step-basic" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ชี้แจงรายละเอียดเพื่อประกอบการพิจารณา
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-five">
            <div class="form-group">
              <div class="btx-inner-wrapper-five">
                <div class="input-wrapper-row">
                  <div class="flex">
                    <textarea
                      class="form-control input"
                      type="text"
                      rows="9"
                      [(ngModel)]="input.remark_6"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right textarea-btn"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 6 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 6">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ currentStep }}. เสร็จสิ้น</h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <!-- Owner -->
          <div class="signature-select">
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step6')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <!-- Agent -->
          <div class="signature-select">
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save200_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step6')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save200_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.listAgentMark"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step6')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step6" class="invalid-feedback">
                  {{ validate.step6 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfA20()">
              ดูใบคำขอ ก.20
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
