:host .container-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
}

:host .container-inner label {
  color: #6D6E71;
  font-size: 20px;
}

:host .container-inner .step-panel {
  width: 320px;
  flex: 0 0 320px;
  height: 100%;
  overflow-y: scroll;
  background-color: #E7E7E7;
  box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);
}

:host .container-inner .step-panel .step-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  min-height: 53px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 16px;
}

:host .container-inner .step-panel .step-item .item-name {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 53px;
  padding: 10px 15px 10px 25px;
}

:host .container-inner .step-panel .step-item .item-name.editable {
  cursor: pointer;
}

:host .container-inner .step-panel .step-item .item-name:before {
  content: '\0076';
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #B7B7B7;
  margin-right: 13px;
  padding-bottom: 2px;
}

:host .container-inner .step-panel .step-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.required .item-name:before {
  content: '\0075';
  color: #707070;
}

:host .container-inner .step-panel .step-item.passed .item-name {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.passed .item-name:before {
  content: '\0074';
  color: #149BA9;
  font-size: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item {
  flex-wrap: wrap;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name {
  position: relative;
  padding-right: 30px;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name:after {
  content: '\0048';
  position: absolute;
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #B7B7B7;
  padding-bottom: 2px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-items {
  height: 0;
  overflow: hidden;
  width: 100%;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  height: 53px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  color: #707070;
  font-size: 16px;
  width: 100%;
  padding-right: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .item-name:after {
  transform: translateY(-65%) rotate(180deg);
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .step-sub-items {
  height: auto;
}

:host .container-inner .eform-content {
  flex: 1 1 auto;
  position: relative;
  padding: 5px 5px 45px;
}

:host .container-inner .eform-content .input-wrapper-row {
  margin-bottom: 18px;
}

:host .container-inner .eform-content .input-wrapper-row .flex select.form-control {
  margin-left: 15px;
  width: 270px;
}

:host .container-inner .eform-content .domestic-contact-address {
  height: 100%;
  overflow: auto;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .domestic-contact-address .btx-search {
  margin-right: 15px;
}

:host .container-inner .eform-content .domestic-contact-address .btx-box-select {
  flex-grow: 1;
}

:host .container-inner .eform-content .domestic-contact-address .btx-box-label {
  padding-top: 2px;
  margin-right: 30px;
  width: 25%;
}

:host .container-inner .eform-content .domestic-contact-address .card {
  background-color: #F4F5F8;
  padding: 30px 20px;
  border: none;
}

:host .container-inner .eform-content .domestic-contact-address .card select {
  margin-right: 15px;
}

:host .container-inner .eform-content .domestic-contact-address .card .btn i {
  padding-right: 0;
}

:host .container-inner .eform-content .domestic-contact-address .card .btx-box-label {
  margin-right: 20px;
}

:host .container-inner .eform-content .domestic-contact-address .input-wrapper {
  margin: 0;
}

:host .container-inner .eform-content .domestic-contact-address .input-wrapper-row .flex select.form-control {
  width: 375px;
  margin-left: 0;
}

:host .container-inner .eform-content .domestic-contact-address .kt-checkbox {
  margin-right: 0;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address {
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__footer__inner {
  width: 100%;
  padding: 25px;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner .btn {
  margin: 0 10px;
}

:host .container-inner .eform-content .finish .signature-select {
  width: 100%;
  margin-bottom: 15px;
}

:host .container-inner .eform-content .finish .signature-select .caption {
  color: #0c84c8;
  font-size: 18px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
}

:host .container-inner .eform-content .finish .signature-select .form-group {
  padding-left: 15px;
}

:host .container-inner .eform-content .finish .btx-more-suggest {
  width: 96%;
  position: absolute;
  /* bottom: 152px; */
  bottom: 12%;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

:host .container-inner .eform-content .step-basic {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .step-basic .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner {
  padding: 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group.otop-id .col-form-label {
  font-size: 16px;
  color: #6D6E71;
  margin: 0;
  padding: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group.otop-id .input {
  min-width: 350px;
  margin-left: 20px;
}

:host .container-inner .eform-content .footer-eform {
  display: flex;
  position: absolute;
  left: -9px;
  right: 0;
  bottom: 0;
  height: 70px;
  flex-direction: column;
}

:host .container-inner .eform-content .footer-eform .progress-bar {
  height: 12px;
  width: 100%;
  background-color: #E7E7E7;
}

:host .container-inner .eform-content .footer-eform .progress-bar .bar {
  min-width: 50px;
  height: 100%;
  background-color: #52D69D;
}

:host .container-inner .eform-content .footer-eform .summary-and-control {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress {
  display: flex;
  align-items: center;
  padding: 5px 15px 0 35px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .progress-number {
  display: flex;
  width: 75px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 500;
  font-size: 40px;
  color: #149BA9;
  line-height: 40px;
  margin-right: 8px;
  height: 53px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .percentage {
  line-height: 20px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  color: #149BA9;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .unit {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-top: -5px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control {
  display: flex;
  align-items: center;
  padding: 0 30px 0 15px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  margin-right: 20px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper {
  display: flex;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper .btn {
  margin-left: 15px;
}

:host .container-inner .btx-inner-form-three {
  /* input {
        background-color: #EBEDF2;
      } */
}

:host .container-inner .btx-inner-form-three .btx-search {
  background-color: white;
}

:host .container-inner .btx-inner-form-three .form-group {
  margin-bottom: 20px;
}

:host .container-inner .btx-inner-form-three .input-wrapper {
  margin: 0px;
}

:host .container-inner .btx-inner-form-three .input-wrapper button {
  margin-left: 10px;
  width: 101px;
  height: 37px;
}

:host .container-inner .btx-inner-form-three .input-wrapper .input-wrapper-row {
  margin-bottom: 15px;
}

:host .container-inner .btx-inner-form-three input.form-control {
  width: 628px;
  height: 37px;
}

:host .container-inner .btx-inner-form-five input[type="file"] {
  display: none;
}

:host .container-inner .btx-inner-form-five .btx-upload {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px !important;
  padding: 7px 1rem 6px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 37px;
  background-color: #0C84C8;
  border-color: #0C84C8;
  color: white !important;
  margin: 0px 6px;
}

:host .container-inner .btx-inner-form-five .form-group {
  margin-bottom: 20px;
}

:host .container-inner .btx-inner-form-five input.form-control {
  width: 897px;
  height: 83px;
}

:host .container-inner .btx-inner-form-five .btn-brand {
  margin-left: 5px;
  margin-right: 5px;
  height: 37px;
}

:host .container-inner .btx-inner-form-five .btn-eform-secondary {
  margin-left: 5px;
  margin-right: 5px;
  height: 37px;
}

:host .container-inner .btx-inner-form-five .btn-eform-secondary.textarea-btn {
  margin-left: 0;
}

:host .container-inner .btx-inner-form-five .btx-group-btn-box {
  margin-top: 30px;
  margin-bottom: 15px;
}

:host .container-inner .btx-inner-form-five .btx-upload-label {
  margin-top: 4px;
  margin-right: 41px;
  color: #0C84C8;
}

:host .container-inner .btx-inner-form-five .btx-suggest {
  margin: 0 10px;
}

:host .container-inner .btx-inner-form-five .btx-suggest-box {
  margin-bottom: 30px;
}

:host .container-inner .btx-inner-form-five .btx-inner-wrapper-five .input-wrapper-row.flex-column {
  margin-bottom: 15px;
}

:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host app-tabs.ng-star-inserted[modal_tab] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet--background {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet {
  width: 1330px;
  display: block;
  margin: 0 auto;
}

:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
}

:host .div_autocomplete tr {
  line-height: 60px;
}

:host .div_autocomplete tr:hover {
  background-color: #F4F5F8;
}

:host .div_autocomplete tr td {
  padding: 0 12px;
}

:host .table-inner input.form-control,
:host .table-inner select.form-control {
  width: 100%;
}

:host .table-inner .dip-icon-edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-edit:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .table-inner .dip-icon-trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .hide {
  display: none;
}

:host .flex_none {
  flex: none;
}

:host .btn-create-new + .btn-danger {
  margin-left: 10px;
}

:host input.form-control,
:host select.form-control {
  width: 375px;
}

:host .tab-pane {
  position: relative;
}

:host .tab-pane .top-right-operator {
  position: absolute;
  right: 0;
  top: -75px;
}

:host .tab-pane .top-right-operator .btn {
  margin-left: 10px;
}

:host .tab-pane .top-right-operator .btn:first-child {
  margin-left: 0;
}

:host .tab-pane .empty-list {
  display: flex;
  justify-content: center;
  background-color: #F4F5F8;
  width: 100%;
  min-height: 65px;
  align-items: center;
}

:host .tab-pane .empty-list .btn {
  margin: 0 10px;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .kt-radio {
  padding-left: 0;
}

:host .table .kt-radio span {
  position: absolute;
  top: -5px;
}

:host .table.table-send-document .table-inner .tr .td.select {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  padding-right: 0;
}

:host .table.table-send-document .table-inner .tr .td.date {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
}

:host .table.table-send-document .table-inner .tr .td.person {
  flex: 1;
  justify-content: center;
}

:host .kt-portlet__body .sign-wrapper {
  margin-bottom: 15px;
}

:host .kt-portlet__body .sign-wrapper:last-child {
  margin-bottom: 0;
}

:host .kt-portlet__body .sign-wrapper .col-form-label {
  color: #0c84c8;
}

:host .footer-eform {
  display: flex;
  position: absolute;
  left: -9px;
  right: 0;
  bottom: 0;
  height: 70px;
  flex-direction: column;
}

:host .footer-eform .progress-bar {
  height: 12px;
  width: 100%;
  background-color: #E7E7E7;
}

:host .footer-eform .progress-bar .bar {
  min-width: 50px;
  height: 100%;
  background-color: #52D69D;
}

:host .footer-eform .summary-and-control {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

:host .footer-eform .summary-and-control .summary-progress {
  display: flex;
  align-items: center;
  padding: 5px 15px 0 35px;
}

:host .footer-eform .summary-and-control .summary-progress .progress-number {
  display: flex;
  width: 75px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 500;
  font-size: 40px;
  color: #149BA9;
  line-height: 40px;
  margin-right: 8px;
  height: 53px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

:host .footer-eform .summary-and-control .summary-progress .units {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .footer-eform .summary-and-control .summary-progress .units .percentage {
  line-height: 20px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  color: #149BA9;
}

:host .footer-eform .summary-and-control .summary-progress .units .unit {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-top: -5px;
}

:host .footer-eform .summary-and-control .control {
  display: flex;
  align-items: center;
  padding: 0 30px 0 15px;
}

:host .footer-eform .summary-and-control .control .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  margin-right: 20px;
}

:host .footer-eform .summary-and-control .control .btn-wrapper {
  display: flex;
}

:host .footer-eform .summary-and-control .control .btn-wrapper .btn {
  margin-left: 15px;
}

::ng-deep .modal.deactivation-modal .btn + .btn {
  margin-left: 15px;
}
