<div class="kt-portlet public-role02-action-post-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="book_number">เลข พณ.</label>
            <div class="input-wrapper">
              <input #key_book_number class="form-control input" type="text" id="book_number" placeholder="เลข พณ."
                     [(ngModel)]="input[key_book_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_number.id]" class="invalid-feedback">
                  {{validate[key_book_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ตค. ที่
            </label>
            <div class="input-wrapper">
              <select #key_post_round_instruction_rule_code
                      class="form-control"
                      id="post_round_instruction_rule_code"
                      [(ngModel)]="input[key_post_round_instruction_rule_code.id]"
                      (change)="binding('input', 'post_round_instruction_rule_code', $event.target.value)"
                      [value]="input.post_round_instruction_rule_code">
                <option *ngFor="let item of master.postRoundInstructionRuleCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_instruction_rule_code.id]"
                     class="invalid-feedback">
                  {{validate[key_post_round_instruction_rule_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภทหนังสือ
            </label>
            <div class="input-wrapper">
              <select #key_post_round_type_code
                      class="form-control"
                      id="post_round_type_code"
                      [(ngModel)]="input[key_post_round_type_code.id]"
                      (change)="binding('input', 'post_round_type_code', $event.target.value)"
                      [value]="input.post_round_type_code">
                <option *ngFor="let item of master.postRoundTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_type_code.id]"
                     class="invalid-feedback">
                  {{validate[key_post_round_type_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_post_round_action_post_status_code
                      class="form-control"
                      id="post_round_action_post_status_code"
                      [(ngModel)]="input[key_post_round_action_post_status_code.id]"
                      (change)="binding('input', 'post_round_action_post_status_code', $event.target.value)"
                      [value]="input.post_round_action_post_status_code">
                <option *ngFor="let item of master.postRoundActionPostStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_action_post_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_post_round_action_post_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_end_start_date">วันที่ครบประกาศ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_start_date id="public_end_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_start_date" (click)="picker_public_end_start_date.open()"
                         [(ngModel)]="input[key_public_end_start_date.id]" (dateChange)="clearValidate(key_public_end_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_end_date id="public_end_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_end_date" (click)="picker_public_end_end_date.open()"
                         [(ngModel)]="input[key_public_end_end_date.id]" (dateChange)="clearValidate(key_public_end_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="kt-portlet__body__inner public-role02-action-post-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="book_acknowledge_date">วันที่ตอบรับ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_book_acknowledge_start_date id="book_acknowledge_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_book_acknowledge_start_date" (click)="picker_book_acknowledge_start_date.open()"
                         [(ngModel)]="input[key_book_acknowledge_start_date.id]" (dateChange)="clearValidate(key_book_acknowledge_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_acknowledge_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_book_acknowledge_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_book_acknowledge_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_acknowledge_start_date.id]" class="invalid-feedback">
                  {{validate[key_book_acknowledge_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_book_acknowledge_end_date id="book_acknowledge_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_book_acknowledge_end_date" (click)="picker_book_acknowledge_end_date.open()"
                         [(ngModel)]="input[key_book_acknowledge_end_date.id]" (dateChange)="clearValidate(key_book_acknowledge_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_acknowledge_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_book_acknowledge_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_book_acknowledge_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_acknowledge_end_date.id]" class="invalid-feedback">
                  {{validate[key_book_acknowledge_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02ActionPostList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role02-action-post-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole02ActionPostSend()">
        <i class="dip-icon-save"></i>
        สร้างเอกสารเลือกทั้งหมด
      </button>

      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole02ActionPostPublicRole02DocumentPostAdd()">
        <i class="dip-icon-add-new"></i>
      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickPublicRole02ActionPostPublicRole02DocumentPostDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02DocumentPost')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="book_number">เลข พณ.</td>
          <td class="public_document_payment_instruction_rule_name">ตค.ที่</td>
          <td class="book_start_date_text">วันที่ออกหนังสือ</td>
          <td class="post_round_type_name">ประเภทหนังสือ</td>
          <td class="post_round_action_post_type_code">การตอบรับ</td>
          <td class="book_acknowledge_date">วันที่ตอบรับ</td>
          <td class="post_round_remark">รายละเอียดเพิ่มเติม</td>
          <td class="post_round_action_post_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole02DocumentPost">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02DocumentPost', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="book_number">{{row_item.book_number}}</td>
          <td class="public_document_payment_instruction_rule_name" [innerHTML]="row_item.post_round_instruction_rule_name">
          </td>
          <td class="book_start_date_text">{{row_item.book_start_date_text}}</td>
          <td class="post_round_type_name">{{row_item.post_round_type_name}}</td>
          <td class="select post_round_action_post_type_code">
            <div class="input-wrapper">
              <select ng-init="row_item.post_round_action_post_type_code = master.postRoundActionPostTypeCodeList[1].code"
                      class="form-control"
                      [(ngModel)]="row_item.post_round_action_post_type_code"
                      (change)="onChangeSelectPublicRole02DocumentPost(row_item, 'post_round_action_post_type_code', $event.target.value)"
                      [value]="row_item.post_round_action_post_type_code">
                <option *ngFor="let item of master.postRoundActionPostTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>
            </div>
          </td>
          <td class="book_acknowledge_date flex input">
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_book_acknowledge_date
                         id="book_acknowledge_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_book_acknowledge_date"
                         (click)="picker_book_acknowledge_date.open()"
                         [(ngModel)]="row_item.book_acknowledge_date"
                         (dateChange)="clearValidate(key_book_acknowledge_date.id, row_item)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_acknowledge_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_book_acknowledge_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_book_acknowledge_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_acknowledge_date.id]" class="invalid-feedback">
                  {{validate[key_book_acknowledge_date.id]}}
                </div>
              </div>
            </div>
          </td>
          <td class="post_round_remark">
            <input class="form-control input"
                   [(ngModel)]="row_item.post_round_remark"
                   type="text" placeholder=""
                   (change)="binding('input', 'post_round_remark', $event.target.value, row_item)"
                   [value]="row_item.post_round_remark">
          </td>
          <td class="post_round_action_post_status_name">{{row_item.post_round_action_post_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-upload-circle" (click)="onClickPublicRole02ActionPostImageOpen(row_item)"></i>
            <!--<i class="dip-icon-edit" (click)="onClickPublicRole02ActionPostPublicRole02DocumentPostEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickPublicRole02ActionPostPublicRole02DocumentPostDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole02DocumentPost"
                (onClickList)="onClickPublicRole02ActionPostList()"></app-paging>
  </div>
</div>


<div class="div_popup" *ngIf="popup.is_upload_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">
      <div class="title">อัพไฟล์</div>
      <div class="div-image-list">
        <div class="div-image" *ngFor="let image of ImageListEdit | myfilter">
          <a href="javascript://" (click)="image.is_deleted = true" class="div-image-delete">
            <i class="dip-icon-delete-cross"></i>
          </a>
          <img src="{{image.file_id ? '/file/Content/' + image.file_id : image.blob}}" />
        </div>
        <div class="div-image div-image-add">
          <i class="dip-icon-add-new"></i>

          <input type="file"
                 name="myfile"
                 class="upload-input"
                 accept="image/*"
                 (change)="
                          onClickUploadImage(
                            $event,
                            'input',
                            'imageUpload',
                            51200000,
                            row_item
                          )
                        " />
        </div>
      </div>

      <div class="button-list">
        <button type="button"
                class="btn btn-brand"
                (click)="onClickPublicRole02ActionPostImageSave()">
          <i class="dip-icon-save"></i>
          ตกลง
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="popup.is_upload_show = false">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>
  </div>
</div>
