:host {
  //Start >>> Default <<<
  .kt-portlet {
    font-size: 16px;
    font-weight: 400;

    .title-block {
      background-color: #EFF0F4;
      width: 133px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0C84C8;
      margin-bottom: 8px;
    }

    .kt-portlet__head-title {
      i {
        margin-right: 15px;
      }
    }
  
    .kt-pagination__toolbar {
      .form-control {
        margin-left: 10px;
      }

      .pagination__desc {
        font-weight: 400;
      }
    }
  }

  .table-responsive {
    overflow: hidden;
    overflow-x: auto;
  }

  .table {
    border: 1px solid #eff1f5;
    min-width: 1600px;

    .table-inner {
      margin-bottom: 0;

      .table-data {
        max-height: 400px;
        overflow-y: scroll;

        .tr {
          &:nth-child(2n-1) .td {
            background-color: #fff;
          }

          &:nth-child(2n) .td {
            background-color: #fbfcfd;
          }
        }
      }

      .tr {
        .td {
          min-height: 38px;
          border-right: 1px solid #eff1f5;
          flex: 1;

          .tag {
            background-color: #bac3d0;
            border-radius: 4px;
            padding: 1px 8px;
            text-align: center;
            color: white;
            min-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.blue {
              background-color: #0c84c8;
            }

            &.orange {
              background-color: #fd8402;
            }
          }

          &.center {
            justify-content: center;
            text-align: center;
          }

          &.order {
            max-width: 40px;
            min-width: 40px;
          }

          &.select {
            max-width: 40px;
            min-width: 40px;
          }

          &.request-id {
            max-width: 150px;
            min-width: 150px;
          }

          &.record-order {
            max-width: 46px;
            min-width: 46px;
          }

          &.document-scan {
            max-width: 120px;
            min-width: 120px;
          }

          &.receive-date {
            max-width: 180px;
            min-width: 180px;
          }

          &.consider {
            max-width: 180px;
            min-width: 180px;
          }

          &.consider-date {
            max-width: 180px;
            min-width: 180px;
          }

          &.document {
            max-width: 110px;
            min-width: 110px;
          }

          &.status-reason {
            max-width: 110px;
            min-width: 110px;
          }

          &.status {
            max-width: 130px;
            min-width: 130px;

            .tag {
              min-width: 115px;
              padding: 0 15px;
            }
          }

          &.operation {
            max-width: 85px;
            min-width: 85px;
            justify-content: space-around;

            .btn {
              width: 30px;
              height: 30px;
            }
          }

          &.scrollbar {
            max-width: 19px;
            min-width: 19px;
          }
        }

        &.header {
          border-bottom: 1px solid #eff1f5;

          .td {
            padding: 10px 4px 4px;
          }
        }
      }
    }
  }

  .div-tab-menus {
    padding: 0;
    margin-bottom: 4px;
    display: flex;

    .div-tab-menu {
      line-height: 36px;
      margin-right: 2px;
      border-bottom: 4px solid #eff0f4;
      display: flex;
      align-items: center;
      font-weight: 400;

      &:hover {
        border-color: #EFF0F4;
        color: #6D6E71;
        border-width: 4px;

        &:active {
          color: #0C84C8;
        }
      }

      &.active {
        background-color: #EFF0F4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: #EFF0F4;
        color: #0C84C8;
        border-width: 4px;
      }

      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 15px;

        &.done {
          background-color: #00B58A;
        }

        &.edit {
          background-color: #E14132;
        }
      }
    }
  }

  .form-control {
    &:disabled {
      color: #6D6E71;
      background-color: #EFF0F4;
      border-color: #EBEDF2;
    }
  }

  //Start >>> ข้อมูลทั่วไป <<<
  .trademark-row {
    width: 100%;
    margin-bottom: 19px;

    .trademark-image-wrapper {
      border: 2px solid #f5f6f8;
      border-radius: 5px;
      padding: 35px;
      position: relative;
      width: 398px;
      height: 278px;

      .sound-btn {
        position: absolute;
        left: 9px;
        top: 9px;
      }

      .select-view {
        position: absolute;
        right: 9px;
        top: 9px;

        .form-group {
          min-height: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .kt-checkbox {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .trademark-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .trademark-info-wrapper {
      border-radius: 5px;
      padding: 14px 18px;
      position: relative;
      flex: 1 1 auto;
      min-height: 278px;
      margin-left: 20px;
      justify-content: flex;

      .form-row {
        margin-left: -18px;
        width: auto;

        &:after {
          content: "";
          display: flex;
          flex: 1 1 auto;
        }
      }

      .form-group {
        flex: 0 0 calc(33.33% - 18px);
        margin-left: 18px;

        .input-wrapper-row {
          display: flex;

          .input-wrapper {
            display: flex;
            flex: 1 1 auto;
          }
        }

        .input-wrapper {
          margin-bottom: 0;

          &.with-button {
            .form-control {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }

            .btn {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              height: 37px;
              width: 37px;
            }
          }
        }

        .with-label {
          .form-control {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }

          .input-group-text {
            height: 37px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }

        .form-control {
          width: 100%;

          &.input {
            height: 37px;
          }
        }

        .col-form-label {
          justify-content: flex-start;
          padding: 3px 0;
          min-height: 0;
        }

        .btn {
          &.q-and-a-page {
            margin-top: 27px;
            height: 37px;
            padding-top: 6px;
          }
        }
      }
    }

    .btn-data {
      height: 37px;
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน <<<
  .record {
    .kt-radio {
      margin-bottom: 0;
      min-width: 150px;
    }

    .kt-portlet__head {      
      justify-content: flex-start;
    }

    .kt-portlet__head-label {
      flex: none;
      margin-right: 50px;
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน form <<<
  .record-form {
    .col-form-label {
      justify-content: flex-start;
      min-width: auto;
    }

    .label-row {
      align-items: center;
    }

    select {
      max-width: 380px;
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน title / พิจารณาเอกสาร <<<
  .record-title {
    color: #0C84C8;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;
    font-size: 20px;
    flex-shrink: 0;
  }

  //Start >>> บันทึกเสนอนายทะเบียน / ออกหนังสือ <<<
  .record-table {
    .form-control {
      height: 31px;
      padding: 0 12px;     
      width: 100%;
    }

    .input-wrapper {
      width: 100%;
    }

    .mat-form-field {
      width: 100%;
    }

    .kt-input-icon__icon {
      width: 30px;
    }

    .form-group {
      min-height: auto;
    }

    .table {
      .table-inner {
        .tr {
          .td {
            min-height: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            align-items: flex-start;

            &.operation {
              max-width: 102px;
              min-width: 102px;
              justify-content: space-around;
  
              .btn {
                width: 25px;
                height: auto;
                padding: 5.5px 5px;
              }
            }
          }
        }
      }
    }

    .btn-sm {
      width: 25px;
      height: auto;
      border-radius: 4px;
      padding: 5.5px 5px;

      i {
        font-size: 12px;
      }
    }

    .btn-search {
      width: 31px;
      height: auto;
      font-size: 12px;
    }

    .input-wrapper-row {
      display: flex;
    }

    .with-label {
      .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      .input-group-text {
        background-color: #F5F5F5;
        border: 1px solid #EBEDF2;
        padding: 5px;        
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .with-button {
      .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

    }
  }
}
