<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title">
        VI. Goods and services affected by the facts and decisions
      </h5>
    </div>

    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>
  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-12">
        <h5 class="sub-head-title">
          รายละเอียด
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered" style="display:table;font-size:14px">
          <thead>
            <tr style="background-color:#0C84C8;color:white;height:10px !important">
              <th style="width:10%;text-align:center">ID</th>
              <th style="width:10%;text-align:center">Class</th>
              <th style="width:20%;text-align:center">รายการสินค้า</th>
              <th style="width:20%;text-align:center">Goods and services</th>
              <th style="width:40%;text-align:center">เพิ่มรายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">1700012251</td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input class="form-control input" type="text" style="width:100%;height:calc(1.5em + 5px)" />
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input class="form-control input" type="text" style="width:100%;height:calc(1.5em + 5px)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="sub-head-title">
          รายละเอียดเพิ่มเติม
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>
          เพิ่มข้อความ
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <textarea class="form-control input" style="width:100%" rows="9"></textarea>
      </div>
    </div>
    <br />
    <div class="kt-portlet__footer">
      <div class="button-list">

        <button type="button"
                class="btn btn-white"
                (click)="closeModal()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button"
                class="btn btn-brand"
                (click)="closeModal()">
          <i class="dip-icon-check"></i>
          ยืนยัน
        </button>
      </div>
    </div>
  </div>
</div>
