.tag {
    background-color: #bac3d0;
    border-radius: 4px;
    padding: 1px 8px;
    text-align: center;
    color: white;
    min-height: 26px;
    display: flex;
    align-items: center;

    &.brand {
        background-color: #0c84c8;
        color: white;
    }

    &.waiting-to-check {
        background-color: #385d8a;
        color: white;
    }
}

.tooltip-color {
    background: white;
    // border: #0c84c8 !important;
    // border-width: 1px !important;
    color: #6d6e71 !important;
    font-size: 14px;
    // border-style: solid !important;

    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
}
