<div class="kt-portlet search-task">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-search"></i> การค้นหา
            </h3>
        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">คำขอเลขที่</label>
                    </div>
                    <div class="col-md-9">
                        <textarea #key_request_number class="form-control input" type="text" id="request_number"
                            rows="3" placeholder="" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="present_start_date">วันที่ตรวจสอบ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">
                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_inspect_start_date id="inspect_start_date"
                                            class="form-control input" matInput
                                            [matDatepicker]="picker_inspect_start_date"
                                            (click)="picker_inspect_start_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="inspect_start_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="inspect_start_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_inspect_start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_inspect_end_date id="inspect_end_date" class="form-control input"
                                            matInput [matDatepicker]="picker_inspect_end_date"
                                            (click)="picker_inspect_end_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="inspect_end_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker_inspect_end_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_inspect_end_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">เล่มที่</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="เล่มที่" autocomplete="off" />
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">หน้าที่</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="หน้าที่" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align"> สถานะ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                            <div class="">
                                <div class="">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox">
                                        ยังไม่ส่งพิจรณา
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                รอพิจรณา
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                เสร็จสิ้น
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet__footer">
            <div class="button-list">
                <button type="button" class="btn btn-brand">
                    <i class="dip-icon-search"></i>
                    ค้นหา
                </button>
                <button type="button" class="btn btn-white">
                    <i class="dip-icon-reset"></i>
                    เริ่มใหม่
                </button>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet all-task-list">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางแสดง
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" [checked]="fasle">
                                        <span></span>
                                    </label>
                                </th>
                                <th rowspan="2" scope="col"> ลำดับ</th>
                                <th rowspan="2" scope="col">เลขที่คำขอ</th>
                                <th rowspan="2" scope="col">วันที่อนุมัติ</th>
                                <th rowspan="2" scope="col"> ตค. ที่</th>
                                <th rowspan="2" scope="col"> ชื่อผู้รับ - ที่อยู่</th>
                                <th rowspan="2" scope="col"> </th>
                                <th colspan="5" style="background-color:#0c84c8;color:white"> วันที่ออกหนังสือรอบ 1</th>
                                <th rowspan="2" scope="col"> วันที่ออกหนังสือ</th>
                                <th rowspan="2" scope="col"> หมายเหตุ</th>
                                <th rowspan="2" scope="col"> สถานะ</th>
                                <th rowspan="2" scope="col"> คำสั่ง</th>
                            </tr>
                            <tr>
                                <th scope="col"> วันที่ออก</th>
                                <th scope="col"> วันที่ตอบโต้</th>
                                <th scope="col"> การตอบโต้</th>
                                <th scope="col"> </th>
                                <th scope="col"> วันที่ครบ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" [checked]="fasle">
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    12345
                                </td>
                                <td>10/10/2560</td>
                                <td>ตค.ที</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td> <button matTooltip="115 ถนนพระราม 3 แขวงช่องนนทรี เขตยานาวา กรุงเทพ 10120"
                                        [matTooltipPosition]="'right'" matTooltipClass="tooltip-color"
                                        class="btn btn-icon btn-brand">
                                        <i class="material-icons">
                                            room
                                        </i>
                                    </button>
                                </td>
                                <td>10/10/2560</td>
                                <td>10/10/2560</td>
                                <td>ตอบรับ</td>
                                <td> <button class="btn btn-icon btn-white">
                                        <i class="dip-icon-file-pdf"></i>
                                    </button>
                                </td>
                                <td>10/10/2560</td>
                                <td>10/10/2560</td>
                                <td></td>
                                <td>
                                    <div class="tag brand">
                                        รอดำเนินการ
                                    </div>
                                </td>
                                <td> <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-play"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" [checked]="fasle">
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    12345
                                </td>
                                <td>10/10/2560</td>
                                <td>ตค.ที</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td>
                                    <button matTooltip="115 ถนนพระราม 3 แขวงช่องนนทรี เขตยานาวา กรุงเทพ 10120"
                                        [matTooltipPosition]="'right'" matTooltipClass="tooltip-color"
                                        class="btn btn-icon btn-brand">
                                        <i class="material-icons">
                                            room
                                        </i>
                                    </button>
                                </td>
                                <td>10/10/2560</td>
                                <td>10/10/2560</td>
                                <td>ตอบรับ</td>
                                <td>
                                    <button class="btn btn-icon btn-white">
                                        <i class="dip-icon-file-pdf"></i>
                                    </button>
                                </td>
                                <td>10/10/2560</td>
                                <td>10/10/2560</td>
                                <td></td>
                                <td>
                                    <div class="tag">
                                        เสร็จสิ้น
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-icon btn-white">
                                        <i class="dip-icon-search"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__footer">
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                    <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}}
                    </option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2 m-b-5">
                <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
                    รายการ</label>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="btn-group pull-right">
                    <label class="nc-col-form-label nc-text-align  p-t-10 p-r-5">วันที่ออกหนังสือ</label>
                    <div class="input-with-icon datepicker m-r-5 m-t-5">
                        <mat-form-field>
                            <div class="kt-input-icon kt-input-icon--right">
                                <input #key_book_date id="book_date" class="form-control input" matInput
                                    [matDatepicker]="picker_book_date" (click)="picker_book_date.open()"
                                    autocomplete="off">
                                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_date">
                                    <i class="dip-icon-calendar"></i>
                                </label>
                            </div>
                            <mat-datepicker-toggle matSuffix [for]="picker_book_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker_book_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="btn-group pull-right">
                    <button class="btn btn-brand m-b-5 m-t-5">
                        <i class="dip-icon-file-pdf " style="color: white;"></i>
                        ออกหนังสือที่เลือก
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>