:host .section {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

:host .section .section-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 24px;
  width: 100%;
  margin-left: 20px;
}

:host .divider-line.grey {
  width: 100%;
  height: 2px;
  background-color: #E6E7EF;
}

:host .divider-line.white {
  width: 100%;
  height: 1px;
  background-color: white;
}
