<div class="modal {{className}}">
  <div class="modal-dialog {{modalSize}} {{modalVerticalCenter}}">
    <div class="modal-content">
      <div class="modal-header">
        ส่งแก้ไข
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="input-wrapper">
            <textarea  
              class="form-control input" 
              placeholder="รายละเอียดเพิ่มเติม"
              type="text"
              rows="5"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn btn-white mr-2"
                (click)="_onClickClose()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
        <button type="button"
                class="btn btn-orange"
                (click)="_onClickClose()">
          <i class="dip-icon-edit-pen"></i>
          ส่งแก้ไข
        </button>
      </div>
    </div>
  </div>
</div>