:host {
  .modal {
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;

    .modal-dialog {
      margin: 0px auto;
      min-height: 100%;
      margin-top: -50px;

      @media (min-width: 576px) {
        &.modal-sm {
          max-width: 380px;
        }
      }

      .modal-content {
        font-weight: normal;

        .modal-header {
          padding-top: 30px;
          padding-bottom: 0;
          border-bottom: 0;
          justify-content: center;
          font-size: 26px;
          color: #6D6E71;
        }

        .modal-footer {
          border-top: 0;
          padding-top: 0;
          justify-content: center;
        }
      }

      &.vertical-centered {
        .modal-content {
          margin: auto 0;
        }
      }

      &.modal-dialog-centered {
        justify-content: center;
      }
    }

    &.show {
      display: block;
    }
  }
}
