﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.CheckingSimilarRequestItemSubTypeReportPdfModel

<html>

<head>
    <link href="/assets/fonts/stylesheet.css"
          rel="stylesheet">

    <link href="/assets/theme/styles/pdf/checking-similar-request-item-sub-type-report.css"
          rel="stylesheet">
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>ลำดับ</td>
                <td>คำขอเลขที่</td>
                <td>ชื่อเจ้าของ</td>
                <td>วันที่ยื่นคำขอ</td>
                <td>จำพวก</td>
                <td>รูป</td>
                <td class="remark"></td>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
                foreach (var view in Model.view_list) {
                    var product_list = view.request_item_sub_type_1_code_text.Split(",");
                    var product_group_list = view.request_item_sub_type_group_code_text.Split(",");

                    <tr>
                        <td rowspan="@product_list.Length">@(index++)</td>
                        <td rowspan="@product_list.Length">@view.request_number</td>
                        <td rowspan="@product_list.Length">@view.name</td>
                        <td rowspan="@product_list.Length">@view.request_date.Value.ToThaiShortDateString()</td>
                        <td>@product_list.FirstOrDefault().Trim()</td>
                        <td rowspan="@product_list.Length">
                            @if (string.IsNullOrEmpty(view.file_trademark_2d)) {
                                <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                            } else {
                                <img class="img-logo" src="/@view.file_trademark_2d" />
                            }
                        </td>
                        <td class="remark">@product_group_list.FirstOrDefault().Trim()</td>
                    </tr>

                    for (int _i = 1; _i < product_list.Length; _i++) {
                        <tr>
                            <td>@product_list[_i].Trim()</td>
                            <td class="remark">@product_group_list[_i].Trim()</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</body>

</html>
