﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.DocumentProcessClassificationPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/document_process_classification.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    // setInterval(function () {
    //     window.location.reload();
    // }, 1000);
</script>

<body>
    <div class="body">
        <div class="footer bold">
            <span>ลงชื่อ</span>
            <span class="underline-dotted">@Model.view.created_by_name</span>
            <span>เจ้าหน้าที่สั่งสารบบ</span>
        </div>
        <div class="header bold center">
            แบบบันทึกการลงสารบบเครื่องหมายการค้า
        </div>
        <div class="information">
            <div class="header-left">
                @if (string.IsNullOrEmpty(Model.view.trademark_2d_physical_path)) {
                    <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                } else {
                    <img class="img-logo" src="/@Model.view.trademark_2d_physical_path" />
                }
            </div>
            <div class="header-right">
                <table>
                    <tr>
                        <td class="bold">คำขอเลขที่</td>
                        <td>@Model.view.request_number</td>
                    </tr>
                    <tr>
                        <td class="bold">ทะเบียนเลขที่</td>
                        <td>@Model.view.registration_number</td>
                    </tr>
                    <tr>
                        <td class="bold">วันที่ยื่นคำขอ</td>
                        <td>@Model.view.request_date.Value.ToThaiDateString()</td>
                    </tr>
                    <tr>
                        <td class="bold">ชื่อเจ้าของ</td>
                        <td>@Model.view.people_name</td>
                    </tr>
                    <tr>
                        <td class="bold">จำพวก</td>
                        <td>@Model.view.request_item_sub_type_1_code_text</td>
                    </tr>
                    <tr>
                        <td class="bold">เครื่องหมายคำ</td>
                        <td>@(string.Join(", ", Model.view.document_classification_word_list.Select(r => r.word_mark)))</td>
                    </tr>
                </table>
            </div>
        </div>

        @if (Model.view.document_classification_word_list.Count() > 0) {
            <div class="detail">
                <table>
                    <tr class="bold center">
                        <td colspan="2" rowspan="2">คำที่จัดเก็บในสารบบ</td>
                        <td colspan="5">รายละเอียดการจัดเก็บสารบบ</td>
                    </tr>
                    <tr class="bold center">
                        <td>แรก</td>
                        <td>ท้าย</td>
                        <td>อีน</td>
                        <td>คำอ่าน</td>
                        <td>เสียงพยางค์</td>
                    </tr>
                    @for (int _i = 0; _i < Model.view.document_classification_word_list.Count(); _i++) {
                        <tr>
                            <td>@(_i + 1)</td>
                            <td>@Model.view.document_classification_word_list[_i].word_mark</td>
                            <td>@Model.view.document_classification_word_list[_i].word_first_code</td>
                            <td>@Model.view.document_classification_word_list[_i].word_sound_last_name</td>
                            <td>@Model.view.document_classification_word_list[_i].word_sound_last_other_code</td>
                            <td>@Model.view.document_classification_word_list[_i].word_sound</td>
                            <td>@Model.view.document_classification_word_list[_i].word_syllable_sound</td>
                        </tr>
                    }
                </table>
            </div>
        }


        @if (Model.view.document_classification_image_list.Count() > 0) {
            <div class="detail">
                <table>
                    <tr class="bold center">
                        <td colspan="2">รหัสภาพ </td>
                        <td>คำบรรยายภาพ</td>
                    </tr>
                    @for (int _i = 0; _i < Model.view.document_classification_image_list.Count(); _i++) {
                        <tr>
                            <td class="index">@(_i + 1)</td>
                            <td class="code">@Model.view.document_classification_image_list[_i].document_classification_image_code</td>
                            <td>@Model.view.document_classification_image_list[_i].document_classification_image_name</td>
                        </tr>
                    }
                </table>
            </div>
        }

        @if (Model.view.document_classification_sound_list.Count() > 0) {
            <div class="detail">
                <table>
                    <tr class="bold center">
                        <td colspan="2">รหัสเสียง </td>
                        <td>คำบรรยายเสียง</td>
                    </tr>
                    @for (int _i = 0; _i < Model.view.document_classification_sound_list.Count(); _i++) {
                        <tr>
                            <td class="index">@(_i + 1)</td>
                            <td class="code">@Model.view.document_classification_sound_list[_i].document_classification_sound_code</td>
                            <td>@Model.view.document_classification_sound_list[_i].document_classification_sound_name</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</body>

</html>