﻿@page
@model DIP.TM.Web.Views.Pdf.HelloModel
@{
}

<html>
<body>
    <div style="background-color: darkslategrey">
        <img src="https://www.socket9.com/images/home/logo_white.png" />
    </div>
   <div>
       <h2>Hello world</h2>
   </div>
</body>
</html>