﻿@page
@model DIP.TM.Web.Views.Pdf.IndexModel
@{
}

<html>
<body>
    <div style="background-color: darkslategrey">
        <img src="https://www.socket9.com/images/home/logo_white.png" />
    </div>
    <table width="80%" cellspacing="1" bgcolor="#CCCCCC">
        <caption>รายชื่อนักเรียน และผลการเรียน</caption>
        <col align="center"></col>
        <col align="left"></col>
        <col align="right"></col>
        <thead>
            <tr>
                <th width="20%" bgcolor="#FFFFCC">รหัสพนักงาน</th>
                <th bgcolor="#FFCCCC">ชื่อ</th>
                <th width="30%" bgcolor="#99CCFF">เงินเดือน</th>
            </tr>
        </thead>
        <tbody>
            <tr bgcolor="#FFFFFF">
                <td>01</td>
                <td>อำนาจ</td>
                <td>30,000</td>
            </tr>
            <tr bgcolor="#FFFFFF">
                <td>02</td>
                <td>สมชาย</td>
                <td>25,000</td>
            </tr>
            <tr bgcolor="#FFFFFF">
                <td>03</td>
                <td>วีระ</td>
                <td>20,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr bgcolor="#EAF4FF">
                <td>&nbsp;</td>
                <td align="right">รวม</td>
                <td>75,000</td>
            </tr>
        </tfoot>
</body>
</html>