﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.Kor09CopyDocumentPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/kor09_copy_document.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    setInterval(function () {
        // window.location.reload();
    }, 1000);
</script>

<body>
    @{
        bool is_page_1 = true;
        @foreach (var save010 in Model.view) {
            if (is_page_1) {
                is_page_1 = false;
            } else {
                <div class="clear"></div>
                <div class="new-page"></div>
            }
            <div class="body">
                <div class="header">
                    <table>
                        <tr>
                            <td class="bold right">คำขอเลขที่</td>
                            <td>@save010.request_number</td>
                            <td class="bold right">วันที่ยื่นคำขอ</td>
                            <td>@save010.request_date.Value.ToThaiDateString()</td>
                            <td class="bold right">ทะเบียนเลขที่</td>
                            <td>@save010.registration_number</td>
                        </tr>
                        <tr>
                            <td class="bold right">วันที่ประกาศโฆษณา</td>
                            <td>@(save010.public_start_date.HasValue ? save010.public_start_date.Value.ToThaiDateString() : "")</td>
                            <td></td>
                            <td></td>
                            <td class="bold right">สถานะ : </td>
                            <td>@save010.trademark_status_code</td>
                        </tr>
                    </table>
                </div>
                <div class="div_content_01">
                    <table>
                        @{
                            var people = save010.people_list.FirstOrDefault();
                            if (people != null) {
                                <tr>
                                    <td class="bold">ผู้ขอ</td>
                                    <td>
                                        @(people.name + " " +
                                         (string.IsNullOrEmpty(people.nationality_name) ? "" : "สัญชาติ" + people.nationality_name + " ") +
                                         (string.IsNullOrEmpty(people.career_name) ? "" : "อาชีวะ" + people.career_name + " ") +
                                         people.address_information +
                                         "")
                                    </td>
                                </tr>
                            }
                        }

                        @{
                            var representative = save010.representative_list.FirstOrDefault();
                            if (representative != null) {
                                <tr>
                                    <td class="bold">ตัวแทน</td>
                                    <td>
                                        @(representative.name + " " +
                                         (string.IsNullOrEmpty(representative.nationality_name) ? "" : "สัญชาติ" + representative.nationality_name + " ") +
                                         (string.IsNullOrEmpty(representative.career_name) ? "" : "อาชีวะ" + representative.career_name + " ") +
                                         representative.address_information +
                                         "")
                                    </td>
                                </tr>
                            }
                        }

                        @if (save010.contact_address != null) {
                            <tr>
                                <td class="bold">สถานที่ส่งบัตรหมาย</td>
                                @if (save010.contact_address.address_type_code == "OWNER") {
                                    <td>ส่งที่เจ้าของ</td>
                                } else if (save010.contact_address.address_type_code == "REPRESENTATIVE") {
                                    <td>ส่งที่ตัวแทน</td>
                                } else {
                                    <td>
                                        @(save010.contact_address.name + " " +
                                         (string.IsNullOrEmpty(save010.contact_address.nationality_name) ? "" : "สัญชาติ" + save010.contact_address.nationality_name + " ") +
                                         (string.IsNullOrEmpty(save010.contact_address.career_name) ? "" : "อาชีวะ" + save010.contact_address.career_name + " ") +
                                         save010.contact_address.address_information +
                                         "")
                                    </td>
                                }
                            </tr>
                        }
                        @if (save010.product_list != null) {
                            foreach (var request_item_sub_type_1_code in save010.product_list.Select(r => r.request_item_sub_type_1_code).Distinct()) {
                                <tr>
                                    <td class="bold">จำพวก</td>
                                    <td>@request_item_sub_type_1_code</td>
                                </tr>
                                <tr>
                                    <td class="bold">รายการสินค้า</td>
                                    <td>จำพวก @request_item_sub_type_1_code @string.Join("  ", save010.product_list.Where(r => r.request_item_sub_type_1_code == request_item_sub_type_1_code).Select(r => r.description))</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="bold">สถานะคำขอ</td>
                            <td>
                                @if (save010.trademark_status_code == "P") {
                                    <span>คำขอใหม่</span>
                                } else if (save010.trademark_status_code == "R") {
                                    <span>จดทะเบียน</span>
                                }

                                @if (save010.request_date.HasValue) {
                                    <span>วันที่ยื่น (@save010.request_date.Value.ToThaiDateString())</span>
                                }

                                @if (save010.checking_receive_date.HasValue) {
                                    <span>ตรวจสอบคำเหมือน/คล้าย (@save010.checking_receive_date.Value.ToThaiDateString())</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">ข้อจำกัด</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>

                @if (string.IsNullOrEmpty(save010.trademark_2d_physical_path)) {
                    <div class="div_content_02">
                        <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                    </div>
                } else {
                    <div class="div_content_02">
                        <img class="img-logo" src="/@save010.trademark_2d_physical_path" />
                    </div>
                }
            </div>
        }
    }
</body>

</html>
