﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.Kor09RegisterFormPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/kor09_register_form.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    setInterval(function () {
        // window.location.reload();
    }, 1000);

    //var pdfInfo = {};
    //var x = document.location.search.substring(1).split('&');
    //for (var i in x) { var z = x[i].split('=', 2); pdfInfo[z[0]] = unescape(z[1]); }
    //function getPdfInfo() {
    //    var page = pdfInfo.page || 1;
    //    var pageCount = pdfInfo.topage || 1;
    //    document.getElementById('pdfkit_page_current').textContent = page;
    //    document.getElementById('pdfkit_page_count').textContent = pageCount;
    //}
</script>

<body>
    @{
        bool is_page_1 = true;
        @foreach (var view in Model.view_list) {
            if (is_page_1) {
                is_page_1 = false;
            } else {
                <div class="clear"></div>
                <div class="new-page"></div>
            }
            <div class="body">
                <div class="center">
                    <span class="bold">ทะเบียนเครื่องหมายการค้า ณ วันที่</span>
                    <span>@DateTime.Now.ToThaiDateString()</span>
                </div>
                <div class="header">
                    <table>
                        <tr>
                            <td class="bold">คำขอจดทะเบียนเลขที่</td>
                            <td>@view.registration_number</td>
                            <td class="bold">ทะเบียนเลขที่</td>
                            <td>@view.registration_number</td>
                        </tr>
                        <tr>
                            <td class="bold">วันที่ยื่นคำขอ</td>
                            <td>@view.request_date.Value.ToThaiDateString()</td>
                            <td class="bold">วันที่จดทะเบียน</td>
                            <td>@view.public_role05_date.Value.ToThaiDateString()</td>
                        </tr>
                    </table>
                </div>

                <div class="div_content_01">
                    @if (string.IsNullOrEmpty(view.trademark_2d_physical_path)) {
                        <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                    } else {
                        <img class="img-logo" src="/@view.trademark_2d_physical_path" />
                    }
                </div>

                <div class="div_content_02">
                    <div class="bold">ประกาศในหนังสือประกาศโฆษณาคำขอ จดทะเบียนเครื่องหมายการค้า (หรือประกาศโฆษณาโดยวิธี)</div>
                    <div>
                        <table>
                            <tr>
                                <td class="bold right">เล่มที่</td>
                                <td class="bold">@(view.public_register != null ? view.public_register.book_number : "-")</td>
                                <td class="bold right">หน้าที่</td>
                                <td class="bold">-</td>
                                <td class="bold">ลงวันที่</td>
                                <td>@(view.public_register != null ? view.public_register.book_start_date.Value.Day.ToString("00") : "-")</td>
                                <td class="bold">เดือน</td>
                                <td>@(view.public_register != null ? view.public_register.book_start_date.Value.ToThaiMonthString() : "-")</td>
                                <td class="bold">พ.ศ.</td>
                                <td>@(view.public_register != null ? view.public_register.book_start_date.Value.ToThaiYearString() : "-")</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="div_content_03">
                    <div class="bold">ชื่อ ที่อยู่ และอาชีพของเจ้าของ</div>
                    <div class="padding-left-50">
                        @{
                            var people = view.people_list.FirstOrDefault();
                            if (people != null) {
                                @(people.name + " " +
                                 (string.IsNullOrEmpty(people.nationality_name) ? "" : "สัญชาติ" + people.nationality_name + " ") +
                                 (string.IsNullOrEmpty(people.career_name) ? "" : "อาชีวะ" + people.career_name + " ") +
                                 people.address_information +
                                 "")
                            } else {
                                @:-
                            }
                        }
                    </div>
                </div>
                <div class="div_content_03">
                    <div class="bold">ชื่อ ที่อยู่ และอาชีพของตัวแทน</div>
                    <div class="padding-left-50">
                        @{
                            var representative = view.representative_list.FirstOrDefault();
                            if (representative != null) {
                                @(representative.name + " " +
                                 (string.IsNullOrEmpty(representative.nationality_name) ? "" : "สัญชาติ" + representative.nationality_name + " ") +
                                 (string.IsNullOrEmpty(representative.career_name) ? "" : "อาชีวะ" + representative.career_name + " ") +
                                 representative.address_information +
                                 "")
                            } else {
                                @:-
                            }
                        }
                    </div>
                </div>
                <div class="div_content_03">
                    <div class="bold">สำนักงานหรือสถานที่ติดต่อในประเทศ</div>
                    <div class="padding-left-50">
                        @if (view.contact_address != null) {
                            @if (view.contact_address.address_type_code == "OWNER") {
                                <span>ส่งที่เจ้าของ</span>
                            } else if (view.contact_address.address_type_code == "REPRESENTATIVE") {
                                <span>ส่งที่ตัวแทน</span>
                            } else {
                                <span>
                                    @(view.contact_address.name + " " +
                                     (string.IsNullOrEmpty(view.contact_address.nationality_name) ? "" : "สัญชาติ" + view.contact_address.nationality_name + " ") +
                                     (string.IsNullOrEmpty(view.contact_address.career_name) ? "" : "อาชีวะ" + view.contact_address.career_name + " ") +
                                     view.contact_address.address_information +
                                     "")
                                </span>
                            }
                        }
                    </div>
                </div>

                <div class="div_content_04">
                    <table>

                        @if (view.product_list != null) {
                            foreach (var request_item_sub_type_1_code in view.product_list.Select(r => r.request_item_sub_type_1_code).Distinct()) {
                                <tr>
                                    <td class="bold">จำพวก</td>
                                    <td>@request_item_sub_type_1_code</td>
                                    <td class="bold">รายการสินค้า</td>
                                    <td>@string.Join("  ", view.product_list.Where(r => r.request_item_sub_type_1_code == request_item_sub_type_1_code).Select(r => r.description))</td>
                                </tr>
                            }
                        }
                    </table>
                </div>

                <div class="div_content_03">
                    <div class="bold">สถานะคำขอ</div>
                    <div>
                        @if (view.trademark_status_code == "P") {
                            <span>คำขอใหม่</span>
                        } else if (view.trademark_status_code == "R") {
                            <span>จดทะเบียน</span>
                        }

                        @if (view.request_date.HasValue) {
                            <span>วันที่ยื่น (@view.request_date.Value.ToThaiDateString())</span>
                        }

                        @if (view.checking_receive_date.HasValue) {
                            <span>ตรวจสอบคำเหมือน/คล้าย (@view.checking_receive_date.Value.ToThaiDateString())</span>
                        }
                    </div>
                </div>

                <div class="div_content_03">
                    <span class="bold">เงื่อนไขข้อำกัดและการแสดงปฏิเสธสิทธิ</span>
                    <span>ข้าพเจ้าไม่อถือเป็นสิทธิแต่เพียงผู้เดียวที่จะใช้อักษรโรมัน คำว่า THAI</span>
                </div>

                <div class="div_content_03">
                    <span class="bold">
                        อายุการจดทะเบียน เครื่องหมายการค้า 10 ปีนับตั้งแต่วันที่จดทะเบียน สิ้นสุดลงเพียงวันที่
                    </span>
                    <span class="bold">@(view.trademark_expired_start_date.HasValue ? view.trademark_expired_start_date.Value.ToThaiDateString() : "")</span>
                </div>

                <div class="div_content_03 right">
                    <div>
                        <span class="bold">ผู้บันทึก</span>
                        <span class="underline-dotted person"> </span>
                        <span class="bold">/</span>
                        <span class="underline-dotted person"> </span>
                        <span class="bold">ตรวจ</span>
                    </div>
                    <div>
                        <span class="bold">หัวหน้างาน</span>
                        <span class="underline-dotted head-person"> </span>
                    </div>
                </div>
            </div>
        }
    }
</body>
</html>