﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.KorMor002PdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/kor_mor_02.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<!-- <script>
    setInterval(function () {
        window.location.reload();
    }, 1000);
</script> -->

<body>
    @{
        bool is_page_1 = true;
        @foreach (var save010 in Model.view) {
            if (is_page_1) {
                is_page_1 = false;
            } else {
                <div class="clear"></div>
                <div class="new-page"></div>
            }
            <div class="body">
                <div class="header">
                    <div class="header-left">
                        <div class="bold">ค.ม.002</div>
                        <div class="bold">เลขที่ <span>149/2563</span></div>
                    </div>
                    <div class="header-center">
                        <img class="img-logo" src="assets/images/logos/garuda-emblem.png" />
                    </div>
                    <div class="header-right">
                        <div class="center bold">กองเครื่องหมายการค้า</div>
                        <div class="center bold">กรมทรัพย์สินทางปัญญา</div>
                        <!-- <table>
                            <tr>
                                <td class="bold">ทะเบียนเลขที่</td>
                                <td>181119862</td>
                            </tr>
                            <tr>
                                <td class="bold">คำขอเลขที่</td>
                                <td>181119862</td>
                            </tr>
                        </table> -->
                    </div>
                </div>
                <div class="topic center bold">
                    <div>
                        หนังสือรับรองการจดทะเบียน
                    </div>
                    <div>
                        เครื่องหมายการค้า/บริการ เครื่องหมายรับร้อง เครื่องหมายร่วม
                    </div>
                    <!-- <div>
                        หนังสือสำคัญแสดงการจดทะเบียนเครื่องหมายการค้า เครื่องหมายบริการ
                    </div>
                    <div>
                        ออกให้แก่
                    </div> -->
                </div>
                <div class="div_content_01 paragraph">
                    หนังสือรับรองฉบับนี้ให้ไว้เพื่อรับรองว่า "<span class="bold">@save010.people_name</span>"
                    ได้รับการจดทะเบียน (<span>@save010.request_item_type_name</span>) แล้ว โดยมีรายละเอียด ดังนี้
                </div>

                <div class="div_content_02">
                    <table>
                        <tr>
                            <td class="bold">เลขที่คำขอ</td>
                            <td>: <span>@save010.request_number</span></td>
                        </tr>
                        <tr>
                            <td class="bold">วันที่ยื่นคำขอ</td>
                            <td>: <span>@save010.request_date.Value.ToThaiDateString()</span></td>
                        </tr>
                        <tr>
                            <td class="bold">ทะเบียนเลขที่</td>
                            <td>: <span>@save010.registration_number</span></td>
                        </tr>
                        <tr>
                            <td class="bold">วันที่จดทะเบียน</td>
                            <td>: <span>@save010.request_date.Value.ToThaiDateString()</span></td>
                        </tr>

                        @if (save010.product_list != null) {
                            foreach (var request_item_sub_type_1_code in save010.product_list.Select(r => r.request_item_sub_type_1_code).Distinct()) {
                                <tr>
                                    <td class="bold">จำพวก</td>
                                    <td>: <span>@request_item_sub_type_1_code</span></td>
                                </tr>
                                <tr>
                                    <td class="bold">รายการสินค้า</td>
                                    <td>@string.Join("  ", save010.product_list.Where(r => r.request_item_sub_type_1_code == request_item_sub_type_1_code).Select(r => r.description))</td>
                                </tr>
                            }
                        }
                    </table>
                </div>

                <div class="div_content_03 bold">
                    <div class="div_content_left">
                        <div>
                            @if (string.IsNullOrEmpty(save010.trademark_2d_physical_path)) {
                                <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                            } else {
                                <img class="img-logo" src="/@save010.trademark_2d_physical_path" />
                            }
                        </div>
                        <!-- <div class="div_sound_type center">เครื่องหมายเสียง ประเภท : <span>เสียงคน</span></div> -->
                    </div>
                    <div class="div_content_right">
                        <div>ออกให้ ณ วันที่ <span>@DateTime.Now.ToThaiDateString()</span></div>
                        <div style="margin-top: 80px;">
                            <div class="center">(<span>นางสาวณฤดี แถวอุทุม</span>)</div>
                            <div class="center">นายทะเบียนเครื่องหมายการค้า</div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="center">
                    ยูนิ-ชาร์ม คอร์ปอเรชั่น
                </div>
                <div class="div_content_01">
                    <div class="paragraph">
                        เพื่อแสดงว่าเครื่องหมายนี้ได้จดทะเบียนไว้แล้ว ตามพระราชบัญญติเครื่องหมายการค้า พ.ศ.2534
                        แก้ไขเพิ่มเติม โดยพระราชบัญญติเครื่องหมายการค้า (ฉบับที่ 2) พ.ศ. 2543 และพระราชบัญญัติเครื่องหมายการค้า
                        (ฉบับที่ 3) พ.ศ. 2559
                    </div>
                    <div class="paragraph">
                        จำพวกที่ <span>5</span>
                        <font>ผ้าอนามัย ผ้าอนามันิดแผ่นบาง ผ้าอนามัยชนิดสอด กางเกงอนามัยขาสั้น แผ่นอนามัย กางเกงในอนามัย
                            แผ่นผ้าซับประจำเดือน </font>
                    </div>
                </div>
                <div class="div_content_03 center">
                    การจดทะเบียนเครื่องหมายการค้านี้ มีอายุ 10 ปี นับแต่วันที่จะทะเบียน และอาจต่ออายุได้ทุกๆ 10 ปี
                </div>
                <div>
                    จดทะเบียน ณ วันที่ <span>1 กันยายน พ.ศ. 2560</span>
                </div>
                <div class="div_content_04 bold underline">หมายเหตุ</div>
                <div class="paragraph">
                    (1) การต่ออายุการจดทะเบียน สามารถยื่นขอได้ภายในเดือนก่อนวันสิ้นอายุ หรือภายในหกเดือนนับแต่วันสิ้นอายุ
                    กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียมเพิ่มร้อยละยี่สิบของจำนวนค่าธรรมเนียม
                    การต่ออายุ (สิ้นสุด ณ วันที่ <span>31 สิงหาคม พ.ศ. 2570</span>)
                </div>
                <div class="paragraph">
                    (2) ใบแทนหนังสือสำคัญฉบับนี้มีผลเป็นการยกเลิกหนังสือสำคัญฉบับเดิม
                </div> -->
            </div>
        }
    }
</body>
</html>
