﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.KorMor01PdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/kor_mor_01.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    // setInterval(function () {
    //     window.location.reload();
    // }, 1000);
</script>

<body>
    @{
        bool is_page_1 = true;
        if (Model.is_show_01) {
            foreach (var view in Model.view_list) {
                var request_item_sub_type_1_code_list = view.product_list != null ? view.product_list.Select(r => r.request_item_sub_type_1_code).Distinct().ToList() : new List<string>();

                if (is_page_1) {
                    is_page_1 = false;
                } else {
                    <div class="clear"></div>
                    <div class="new-page"></div>
                }
                <div class="body">
                    <div class="header">
                        <div class="header-left">
                            <div class="bold">
                                ค.ม.@(Model.is_representative ? "4" : (
                                view.request_item_type_code == "TRADE_MARK_AND_SERVICE_MARK" ? "1" :
                                (view.request_item_type_code == "CERTIFICATION_MARK" ? "2" :
                                "3")))
                            </div>
                        </div>
                        <div class="header-center">
                            <img class="img-logo" src="assets/images/logos/garuda-emblem.png" />
                        </div>
                        <div class="header-right">
                            <table>
                                <tr>
                                    <td class="bold">ทะเบียนเลขที่</td>
                                    <td>@view.registration_number</td>
                                </tr>
                                <tr>
                                    <td class="bold">คำขอเลขที่</td>
                                    <td>@view.request_number</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="div_content_07 center bold">
                        @if (Model.is_representative) {
                            <div>ใบแทน</div>
                        }
                    </div>
                    <div class="topic center bold">
                        <div>
                            หนังสือสำคัญแสดงการจดทะเบียน@(
                                view.request_item_type_code == "TRADE_MARK_AND_SERVICE_MARK" ? "เครื่องหมายการค้า เครื่องหมายบริการ" :
                                (view.request_item_type_code == "CERTIFICATION_MARK" ? "เครื่องหมายรับรอง" :
                                "เครื่องหมายร่วมใช้"))
                        </div>
                        <div>
                            ออกให้แก่
                        </div>
                    </div>
                    <div class="center">
                        @view.people_name
                    </div>
                    <div class="div_content_01">
                        <div class="paragraph">
                            เพื่อแสดงว่าเครื่องหมายนี้ได้จดทะเบียนไว้แล้ว ตามพระราชบัญญติเครื่องหมายการค้า พ.ศ.2534
                            แก้ไขเพิ่มเติม โดยพระราชบัญญติเครื่องหมายการค้า (ฉบับที่ 2) พ.ศ. 2543 และพระราชบัญญัติ เครื่องหมายการค้า
                            (ฉบับที่ 3) พ.ศ. 2559
                        </div>
                    </div>
                    <div class="div_content_03">
                        <div class="paragraph">
                            @if (request_item_sub_type_1_code_list.Count() == 1) {
                                <span>จำพวกที่</span> <span>@request_item_sub_type_1_code_list[0]</span>
                                <font>
                                    @string.Join("  ", view.product_list.Where(r => r.request_item_sub_type_1_code == request_item_sub_type_1_code_list[0]).Select(r => r.description))
                                </font>
                            } else {
                                <span>รายการสินค้าตามแนบ</span>
                            }
                        </div>
                    </div>
                    <div class="div_content_03 center">
                        การจดทะเบียนเครื่องหมายการค้านี้ มีอายุ 10 ปี นับแต่วันที่จะทะเบียน และอาจต่ออายุได้ทุกๆ 10 ปี
                    </div>
                    <div>
                        จดทะเบียน ณ วันที่ <span>@view.request_date.Value.ToThaiDateString()</span>
                    </div>
                    <div class="div_content_02">
                        <div class="div_content_left">
                            <div>
                                @if (string.IsNullOrEmpty(view.trademark_2d_physical_path)) {
                                    <img class="img-logo" src="assets/images/contents/no-image.jpg" />
                                } else {
                                    <img class="img-logo" src="@view.trademark_2d_physical_path" />
                                }
                            </div>
                            <!-- <div class="div_sound_type center">เครื่องหมายเสียง ประเภท : <span>เสียงคน</span></div> -->
                        </div>
                        <div class="div_content_right">
                            <div>ออกให้ ณ วันที่ <span>@DateTime.Now.ToThaiDateString()</span></div>
                            <div style="margin-top: 80px;">
                                <div class="center">(<span>@(string.IsNullOrEmpty(Model.public05_registrar_by_name) ? "นางสาวณฤดี แถวอุทุม" : Model.public05_registrar_by_name)</span>)</div>
                                <div class="center">นายทะเบียน</div>
                                <div class="center bold">กองเครื่องหมายการค้า</div>
                                <div class="center bold">กรมทรัพย์สินทางปัญญา</div>
                            </div>
                        </div>
                    </div>
                    <div class="div_content_04 bold underline">หมายเหตุ</div>
                    @if (view.request_item_type_code == "TRADE_MARK_AND_SERVICE_MARK") {
                        <div class="paragraph">
                            (1) การต่ออายุการจดทะเบียน สามารถยื่นขอได้ภายในเดือนก่อนวันสิ้นอายุ หรือภายในหกเดือนนับแต่วันสิ้นอายุ
                            กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียมเพิ่มร้อยละยี่สิบของจำนวนค่าธรรมเนียม
                            การต่ออายุ (สิ้นสุด ณ วันที่ <span>@(view.trademark_expired_start_date.HasValue ? view.trademark_expired_start_date.Value.ToThaiDateString() : "")</span>)
                        </div>
                        <div class="paragraph">
                            (2) ใบแทนหนังสือสำคัญฉบับนี้มีผลเป็นการยกเลิกหนังสือสำคัญฉบับเดิม
                        </div>
                    } else if (view.request_item_type_code == "CERTIFICATION_MARK") {
                        <div class="paragraph">
                            การต่ออายุการจดทะเบียน สามารถยื่นขอได้ภายในเดือนก่อนวันสิ้นอายุ หรือภายในหกเดือนนับแต่วันสิ้นอายุ
                            กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียมเพิ่มร้อยละยี่สิบของจำนวนค่าธรรมเนียม
                            การต่ออายุ (สิ้นสุด ณ วันที่ <span>31 สิงหาคม พ.ศ. 2570</span>)
                        </div>
                    } else {
                        <div class="paragraph">
                            (1) การต่ออายุการจดทะเบียน สามารถยื่นขอได้ภายในเดือนก่อนวันสิ้นอายุ หรือภายในหกเดือนนับแต่วันสิ้นอายุ
                            กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียมเพิ่มร้อยละยี่สิบของจำนวนค่าธรรมเนียม
                            การต่ออายุ (สิ้นสุด ณ วันที่ <span>31 สิงหาคม พ.ศ. 2570</span>)
                        </div>
                    }
                </div>
            }
        }

        if (Model.is_show_02) {
            foreach (var view in Model.view_list) {
                var request_item_sub_type_1_code_list = view.product_list != null ? view.product_list.Select(r => r.request_item_sub_type_1_code).Distinct().ToList() : new List<string>();

                if (is_page_1) {
                    is_page_1 = false;
                } else {
                    <div class="clear"></div>
                    <div class="new-page"></div>
                }
                <div class="body">
                    <div class="div_content_05">
                        <div>
                            <span class="bold">คำขอเลขที่</span>
                            <span>@view.request_number</span>
                        </div>
                        <div class=align-right>
                            <span class="bold">ทะเบียนเลขที่</span>
                            <span>@view.registration_number</span>
                        </div>
                    </div>
                    <div class="line"></div>

                    @if (request_item_sub_type_1_code_list.Count() > 0) {
                        <div class="div_content_06">
                            <table>
                                @foreach (var request_item_sub_type_1_code in request_item_sub_type_1_code_list) {
                                    <tr>
                                        <td class="underline bold">จำพวก</td>
                                        <td>@request_item_sub_type_1_code</td>
                                        <td class="bold">รายการสินค้า/บริการ</td>
                                        <td>@string.Join("  ", view.product_list.Where(r => r.request_item_sub_type_1_code == request_item_sub_type_1_code).Select(r => r.description))</td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="clear"></div>
                    }
                </div>
            }
        }


        if (Model.is_show_03) {
            foreach (var view in Model.view_list) {
                @if (view.joiner_list != null && view.joiner_list.Count() > 0) {
                    if (is_page_1) {
                        is_page_1 = false;
                    } else {
                        <div class="clear"></div>
                        <div class="new-page"></div>
                    }
                    <div class="body">
                        <div class="div_content_05">
                            <div>
                                <span class="bold">คำขอเลขที่</span>
                                <span>@view.request_number</span>
                            </div>
                            <div class=align-right>
                                <span class="bold">ทะเบียนเลขที่</span>
                                <span>@view.registration_number</span>
                            </div>
                        </div>
                        <div class="line"></div>

                        <div class="div_content_06">
                            <div>
                                <span class="bold">รายชื่อผู้ร่วมใช้</span>
                            </div>
                            <div>
                                @for (var i = 0; i < view.joiner_list.Count(); i++) {
                                    <div>@(i + 1). @view.joiner_list[i].name</div>
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
            }
        }

        if (Model.is_show_04) {
            foreach (var view in Model.view_list) {
                @if (true) {
                    if (is_page_1) {
                        is_page_1 = false;
                    } else {
                        <div class="clear"></div>
                        <div class="new-page"></div>
                    }
                    <div class="body">
                        <div class="div_content_05">
                            <div>
                                <span class="bold">คำขอเลขที่</span>
                                <span>@view.request_number</span>
                            </div>
                            <div class=align-right>
                                <span class="bold">ทะเบียนเลขที่</span>
                                <span>@view.registration_number</span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="div_content_06">
                            <div>
                                <span class="bold">คำบรรยายเสียง เสียงคนอ่านออกเสียงว่าโซฟี</span>
                            </div>
                            <div>
                                <span>
                                    เครื่องหมายประกอบด้วยลำดับตัวโน๊ตดนตรีที่ร้องโดยหญิงสาวคนหนึ่ง ซึ่งโน๊ตดนตรีดังกล่าวอยู่ในคีย์ C
                                    และมีเสียงโน๊ต C และ G โน๊ต "C" เป็น "C" เป็น "C" กลาง (middle "C") และ "G" เป็นเพียงเสียงที่ตำกว่า
                                    C
                                </span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
            }
        }


        if (Model.is_show_05) {
            foreach (var view in Model.view_list) {
                @if (view.people_list != null && view.people_list.Count() > 1) {
                    if (is_page_1) {
                        is_page_1 = false;
                    } else {
                        <div class="clear"></div>
                        <div class="new-page"></div>
                    }
                    <div class="body">
                        <div class="div_content_05">
                            <div>
                                <span class="bold">คำขอเลขที่</span>
                                <span>@view.request_number</span>
                            </div>
                            <div class=align-right>
                                <span class="bold">ทะเบียนเลขที่</span>
                                <span>@view.registration_number</span>
                            </div>
                        </div>
                        <div class="line"></div>

                        <div class="div_content_06">
                            <div>
                                <span class="bold">รายชื่อเจ้าของ</span>
                            </div>
                            <div>
                                @for (var i = 0; i < view.people_list.Count(); i++) {
                                    <div>@(i + 1). @view.people_list[i].name</div>
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
            }
        }
    }
</body>

</html>
