﻿@model DIP.TM.Web.Views.Pdf.KorMor02PdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/kor_mor_01.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    setInterval(function () {
        window.location.reload();
    }, 1000);
</script>

<body>
    <div class="body">
        <div class="header">
            <div class="header-left">
                <div class="bold">ค.ม.2</div>
            </div>
            <div class="header-center">
                <img class="img-logo" src="assets/images/logos/garuda-emblem.png" />
            </div>
            <div class="header-right">
                <table>
                    <tr>
                        <td class="bold">ทะเบียนเลขที่</td>
                        <td>181119862</td>
                    </tr>
                    <tr>
                        <td class="bold">คำขอเลขที่</td>
                        <td>181119862</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div_content_07 center bold">
            <!-- ใบแทน -->
        </div>
        <div class="topic center bold">
            <div>
                หนังสือสำคัญแสดงการจดทะเบียนเครื่องหมายรับรอง
            </div>
            <div>
                ออกให้แก่
            </div>
        </div>
        <div class="center">
            ยูนิ-ชาร์ม คอร์ปอเรชั่น
        </div>
        <div class="div_content_01">
            <div class="paragraph">
                เพื่อแสดงว่าเครื่องหมายนี้ได้จดทะเบียนไว้แล้ว ตามพระราชบัญญติเครื่องหมายการค้า พ.ศ.2534
                แก้ไขเพิ่มเติม โดยพระราชบัญญติเครื่องหมายการค้า (ฉบับที่ 2) พ.ศ. 2543 และพระราชบัญญัติเครื่องหมายการค้า
                (ฉบับที่ 3) พ.ศ. 2559
            </div>
            <div class="paragraph">
                จำพวกที่ <span>5</span>
                <font>
                    ผ้าอนามัย ผ้าอนามันิดแผ่นบาง ผ้าอนามัยชนิดสอด กางเกงอนามัยขาสั้น แผ่นอนามัย กางเกงในอนามัย
                    แผ่นผ้าซับประจำเดือน
                </font>
            </div>
        </div>
        <div class="div_content_03 center">
            การจดทะเบียนเครื่องหมายการค้านี้ มีอายุ 10 ปี นับแต่วันที่จะทะเบียน และอาจต่ออายุได้ทุกๆ 10 ปี
        </div>
        <div>
            จดทะเบียน ณ วันที่ <span>1 กันยายน พ.ศ. 2560</span>
        </div>
        <div class="div_content_02">
            <div class="div_content_left">
                <div>
                    <img src="assets/images/contents/no-image.jpg">
                </div>
                <!-- <div class="div_sound_type center">เครื่องหมายเสียง ประเภท : <span>เสียงคน</span></div> -->
            </div>
            <div class="div_content_right">
                <div>ออกให้ ณ วันที่ <span>1 กันยายน พ.ศ. 2560</span></div>
                <div style="margin-top: 80px;">
                    <div class="center">(<span>นางสาวณฤดี แถวอุทุม</span>)</div>
                    <div class="center">นายทะเบียน</div>
                    <div class="center bold">กองเครื่องหมายการค้า</div>
                    <div class="center bold">กรมทรัพย์สินทางปัญญา</div>
                </div>
            </div>
        </div>
        <div class="div_content_04 bold underline">หมายเหตุ</div>
        <div class="paragraph">
            การต่ออายุการจดทะเบียน สามารถยื่นขอได้ภายในเดือนก่อนวันสิ้นอายุ หรือภายในหกเดือนนับแต่วันสิ้นอายุ
            กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียมเพิ่มร้อยละยี่สิบของจำนวนค่าธรรมเนียม
            การต่ออายุ (สิ้นสุด ณ วันที่ <span>31 สิงหาคม พ.ศ. 2570</span>)
        </div>

        <div class="clear"></div>
        <div class="new-page"></div>

        <div class="div_content_05">
            <div>
                <span class="bold">คำขอเลขที่</span>
                <span>123456789</span>
            </div>
            <div>
                <span class="bold">ทะเบียนเลขที่</span>
                <span>123456789</span>
            </div>
        </div>
        <div class="line"></div>
        <div class="div_content_06">
            <div>
                <span class="bold">คำบรรยายเสียง เสียงคนอ่านออกเสียงว่าโซฟี</span>
            </div>
            <div>
                <span>
                    เครื่องหมายประกอบด้วยลำดับตัวโน๊ตดนตรีที่ร้องโดยหญิงสาวคนหนึ่ง ซึ่งโน๊ตดนตรีดังกล่าวอยู่ในคีย์ C
                    และมีเสียงโน๊ต C และ G โน๊ต "C" เป็น "C" เป็น "C" กลาง (middle "C") และ "G" เป็นเพียงเสียงที่ตำกว่า
                    C
                </span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="div_content_06">
            <div>
                <span class="bold">รายชื่อผู้ร่วมใช้</span>
            </div>
            <div>
                <div>1. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>2. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>3. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>4. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>5. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>6. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
                <div>7. บริษัท คิง เพาเวอร์ ดีเวลลอปเม้นท์ จำกัด</div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="div_content_06">
            <table>
                <tr>
                    <td class="underline bold">จำพวก</td>
                    <td>29</td>
                    <td class="bold">รายการสินค้า/บริการ</td>
                    <td>ผลไม้อบแห้ง</td>
                </tr>
                <tr>
                    <td class="underline bold">จำพวก</td>
                    <td>30</td>
                    <td class="bold">รายการสินค้า/บริการ</td>
                    <td>ขนมขบเคี้ยงทำจากแป้ง</td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</body>

</html>
