﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.OnlinePublicRoundItemPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/online_public_round_item.css" rel="stylesheet">

    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/online_public_round_item.css" rel="stylesheet">
</head>

<body>
    <div class="body">
        <div class="header">
            <div class="header-left">
                <img class="img-logo" src="/assets/images/logos/garuda-emblem.png" />
            </div>
            <div class="header-center bold">
                <div>
                    กรมทรัพย์สินทางปัญญา
                </div>
                <div>
                    กระทรวงพาณิชย์
                </div>
            </div>
            <div class="header-right bold">
                <div>
                    <div></div>
                    <div>จำพวกที่</div>
                    <div>@Model.public_round_item.request_item_sub_type_1_code</div>
                    <div>ลำดับที่</div>
                    <div>@Model.public_round_item.line_index</div>
                </div>
                <div>
                    <div>(442)</div>
                    <div>วันที่ประกาศโฆษณา</div>
                    <div>@Model.public_round_item.public_start_date.Value.ToThaiDateString()</div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="topic center bold">ประกาศโฆษณาคำขอจดทะเบียนเครื่องหมายการค้า/เครื่องหมายบริการ</div>
        <div>
            <table>
                <tr class="padding-top">
                    <td colspan="2" class="bold">
                        <span>(210)คำขอเลขที่</span>
                        <span>@Model.save.request_number</span>
                    </td>
                    <td class="bold center">
                        <span>(220)วันที่ยื่นคำขอ</span>
                        <span>@Model.save.request_date.Value.ToThaiDateString()</span>
                    </td>
                </tr>
                <tr class="padding-top">
                    <td colspan="2" class="bold">
                        <span>(731)ผู้ขอ</span>
                    </td>
                    <td>
                        <div>
                            <span class="bold">ชื่อ</span>
                            <span>@Model.save.people_list.FirstOrDefault().name</span>
                        </div>
                        <div>
                            <span class="bold">สัญชาติ</span>
                            <span>@Model.save.people_list.FirstOrDefault().nationality_name</span>
                            <span class="bold">อาชีพ</span>
                            <span>@Model.save.people_list.FirstOrDefault().career_name</span>
                        </div>
                        <div>
                            <span class="bold">ที่อยู่</span>
                            <span>@Model.save.people_list.FirstOrDefault().address_information</span>
                        </div>
                    </td>
                </tr>
                <tr class="padding-top">
                    <td colspan="2" class="bold">
                        <span>(740)ตัวแทน</span>
                    </td>
                    <td>
                        @if (Model.save.representative_list != null && Model.save.representative_list.Count() > 0) {
                            <div>
                                <span class="bold">ชื่อ</span>
                                <span>@Model.save.representative_list.FirstOrDefault().name</span>
                            </div>
                            <div>
                                <span class="bold">สัญชาติ</span>
                                <span>@Model.save.representative_list.FirstOrDefault().nationality_name</span>
                                <span class="bold">อาชีพ</span>
                                <span>@Model.save.representative_list.FirstOrDefault().career_name</span>
                            </div>
                            <div>
                                <span class="bold">ที่อยู่</span>
                                <span>@Model.save.representative_list.FirstOrDefault().address_information</span>
                            </div>
                        } else {
                            <div>
                                <span class="bold">ชื่อ</span>
                                <span>-</span>
                            </div>
                            <div>
                                <span class="bold">สัญชาติ</span>
                                <span>-</span>
                                <span class="bold">อาชีพ</span>
                                <span>-</span>
                            </div>
                            <div>
                                <span class="bold">ที่อยู่</span>
                                <span>-</span>
                            </div>

                        }
                    </td>
                </tr>
                <tr class="padding-top">
                    <td colspan="2" class="bold">
                        <span>(750)สถานที่ส่งบัตรหมาย</span>
                    </td>
                    <td>
                        @if (Model.save.contact_address != null) {
                            if (Model.save.contact_address.address_type_code == "OTHERS") {
                                <div>
                                    <span class="bold">ชื่อ</span>
                                    <span>@Model.save.contact_address.name</span>
                                </div>
                                <div>
                                    <span class="bold">สัญชาติ</span>
                                    <span>@Model.save.contact_address.nationality_name</span>
                                    <span class="bold">อาชีพ</span>
                                    <span>@Model.save.contact_address.career_name</span>
                                </div>
                                <div>
                                    <span class="bold">ที่อยู่</span>
                                    <span>@Model.save.contact_address.address_information</span>
                                </div>
                            } else if (Model.save.contact_address.address_type_code == "OWNER") {
                                <div>ส่งที่เจ้าของ</div>
                            } else if (Model.save.contact_address.address_type_code == "REPRESENTATIVE") {
                                <div>ส่งที่ตัวแทน</div>
                            }
                        }
                    </td>
                </tr>
                <tr class="padding-top">
                    <td class="bold">
                        <span>(511)จำพวกสินค้า</span>
                    </td>
                    <td class="bold">
                        <span>@Model.public_round_item.request_item_sub_type_1_code</span>
                    </td>
                    <td>
                        <div>
                            <span class="bold">(511)รายการสินค้า</span>
                            <span>@string.Join(" ", Model.save.product_list.Where(r => r.request_item_sub_type_1_code == Model.public_round_item.request_item_sub_type_1_code).Select(r => r.description))</span>
                        </div>
                    </td>
                </tr>
                <tr class="padding-top">
                    <td colspan="2" class="bold">
                        <span>(526)ข้อจำกัด</span>
                    </td>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="trademark-image">
            <img src="/@Model.save.trademark_2d_physical_path">
        </div>
    </div>
</body>

</html>