﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.PostCoverPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/post_cover.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    // setInterval(function () {
    //     window.location.reload();
    // }, 1000);
</script>

<body>

    @{
        var is_new_page = true;
        foreach (var view in Model.view_list) {
            if (is_new_page) {
                is_new_page = false;
            } else { 
                <div class="clear"></div>
                <div class="new-page"></div>
            }

            <div class="body">
                <table>
                    <tr>
                        <td></td>
                        <td class="center">@view.request_number 5(3).@view.book_number</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@view.name</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@view.house_number</td>
                    </tr>
                    <tr style="height:30px;">
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="register-title right bold">จดทะเบียน</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <table>
                                <tr>
                                    <td class="center">@view.document_role02_print_document_date.Value.Day</td>
                                    <td class="center">@view.document_role02_print_document_date.Value.ToThaiMonthString()</td>
                                    <td class="center">@view.document_role02_print_document_date.Value.ToThaiYearString()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>@view.name</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@view.house_number</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        }
    }
</body>
</html>
