﻿@model DIP.TM.Web.Views.Pdf.ReceiptRequestCheckReferencePdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/receipt-reference-pdf.css" rel="stylesheet">
</head>

<body>
    <div class="body">
        <div class="section header">
            <div class="logo">
                <img src="assets/images/logos/logo.png" />
            </div>
            <div class="pdf-title">
                ระบบพิมพ์เอกสารอ้างอิงเพื่อชำระเงินสำหรับคำขอในระบบเครื่องหมายการค้า
            </div>
        </div>

        <div class="section header-sub">
            <div class="rows">
                <div class="row">
                    <div class="title">เลขที่ใบชำระเงิน :</div>
                    <div class="description">@Model.view.reference_number</div>
                    <div class="title">ลงวันที่ :</div>
                    <div class="description">@Model.view.created_date_text</div>
                </div>
                <div class="row">
                    <div class="title">ชื่อผู้ยื่นคำขอ :</div>
                    <div class="description">@Model.view.requester_name</div>
                </div>
            </div>
            <div class="barcode">
                <div class="pic">
                    <img src="data:image/png;base64, @Model.view.barcode" />
                </div>
                <div class="number">@Model.view.reference_number</div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="section table">
            <table>
                <thead>
                    <tr>
                        <td class="index">ลำดับที่</td>
                        <td class="income_type">รหัสรายการ</td>
                        <td class="request_type_name">รายการการรับเงิน</td>
                        <td class="total_price">จำนวนเงิน (บาท)</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int _request_index = 1;
                        @for (int _i = 0; _i < Model.view.item_list.Count(); _i++) {
                            @*@for (int _j = 0; _j < Model.view.item_list[_i].item_sub_list.Count(); _j++) {*@
                            <tr>
                                <td class="index">@(_request_index++)</td>
                                <td class="income_type">@Model.view.item_list[_i].request_type_code</td>
                                <td class="income_description ">@Model.view.item_list[_i].request_type_name</td>
                                <td class="total_price">@Model.view.item_list[_i].total_price</td>
                            </tr>

                            @*if (Model.view.item_list[_i].size_over_price > 0) {
                                        <tr>
                                            <td class="index">@(_request_index++)</td>
                                            <td class="income_type">@Model.view.item_list[_i].size_over_income_type</td>
                                            <td class="income_description">@Model.view.item_list[_i].size_over_income_description</td>
                                            <td class="request_number">@Model.view.item_list[_i].request_number</td>
                                            <td class="item_sub_type_1_code">@Model.view.item_list[_i].item_sub_list[_j].item_sub_type_1_code</td>
                                            <td class="product_count"></td>
                                            <td class="total_price">@Model.view.item_list[_i].size_over_price</td>
                                        </tr>

                                }*@
                            //}
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="title" colspan="3">รวมทั้งสิ้น</td>
                        <td class="total_price">@Model.view.item_list.Sum(r => r.total_price)</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="section footer">
            <div class="left">
                <div class="title">ชื่อผู้พิมพ์ :</div>
                <div class="description">@Model.view.created_by_name</div>
            </div>
            <div class="information">โปรดชำระค่าธรรมเนียมภายใน 15:30 น.</div>
        </div>

        <div class="clear"></div>
    </div>
</body>

</html>