﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.ReceiptPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/receipt-pdf.css" rel="stylesheet">

    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/receipt-pdf.css" rel="stylesheet">
    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<body>
    @{
        int i = 0;
    }
    @foreach (var request_number in Model.item_list.Select(r => r.request_number).Distinct()) {
        for (int _i = 0; _i < 2; _i++) {
            var item_list = Model.item_list.Where(r => r.request_number == request_number).ToList();
            <div class="body @(item_list.Count() > 2 ? "" : "split")">
                <div class="section header">

                    <div class="address-wrapper">
                        563 กรมทรัพย์สินทางปัญญา <br />
                        กระทรวงพาณิชย์<br />
                        ถนนนนทบุรี 1 จังหวัดนนทบุรี 11000
                    </div>

                    <div class="logo-wrapper">
                        <img src="/assets/images/logos/garuda-emblem.png"
                             alt="logo"
                             class="logo" />

                        <div class="pdf-title">
                            ใบเสร็จรับเงิน
                        </div>
                    </div>

                    <div class="header-detail">
                        <div class="bold">ปีงบประมาณ @item_list[0].created_date.ToThaiYearMoneyString()</div>
                        <div class="bold">เลขที่ @item_list[0].receipt_number</div>
                        <div>วันที่ @item_list[0].created_date.ToThaiDateString()</div>
                    </div>
                </div>

                <div class="section">
                    <div class="number-request">
                        <div class="number-request-label">
                            เลขที่คำขอ
                        </div>
                        <div class="number-request-input">
                            @request_number
                        </div>
                    </div>
                    <div class="receive-from">
                        <div class="receive-from-label">
                            ได้รับเงินค่าธรรมเนียมจาก
                        </div>
                        <div class="receive-from-input">
                            @item_list[0].payer_name
                        </div>
                        <div class="receive-from-text">
                            ดังนี้
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table-receipt" style="min-height:500px">
                        <tr>
                            <th width="740">
                                รายการ
                            </th>
                            <th>
                                จำนวนเงิน
                            </th>
                        </tr>
                        @{
                            decimal total_price = 0;
                            @foreach (var item in item_list) {
                                <tr class="item-list">
                                    <td width="740">
                                        <div class="table-receipt-content">
                                            @item.request_type_name<!--<br />(จำพวกที่ 1,2,3)-->
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="table-receipt-total">
                                            @String.Format("{0:#,###0.##}", item.total_price.Value)
                                            @{
                                                total_price += item.total_price.Value;
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }

                            if (item_list.Where(r => r.request_type_code == "010").Count() > 0) {
                                <tr class="item-list">
                                    <td width="740">
                                        <div class="table-receipt-content">
                                            จำพวก @item_list.Where(r => r.request_type_code == "010").FirstOrDefault().item_sub_type_1_code_text
                                        </div>
                                    </td>
                                    <td class="text-right">
                                    </td>
                                </tr>
                            }

                            var paid_list = item_list.Where(r => r.paid_list != null).
                                SelectMany(r => r.paid_list.Select(s =>
                                    _i == 0 ?
                                    new DIP.TM.Models.Views.ReceiptPaidView() {
                                        paid_channel_type_codeNavigation = s.paid_channel_type_codeNavigation,
                                        total_price = s.total_price,
                                    } : s
                            )).GroupBy(r => r.paid_channel_type_name).Select(r => new DIP.TM.Models.Views.ReceiptPaidView() {
                                paid_channel_type_codeNavigation = r.First().paid_channel_type_codeNavigation,
                                total_price = r.Sum(s => s.total_price),
                            });
                            if (paid_list != null) {
                                foreach (var paid in paid_list.Where(r => r.total_price > 0)) {
                                    if (total_price <= 0) break;
                                    <tr class="item-list">
                                        <td width="740">
                                            <div class="table-receipt-content">
                                                @paid.paid_channel_type_name
                                                @{
                                                    var min = Math.Min(total_price, paid.total_price.Value);
                                                    <span>(@String.Format("{0:#,###0.##}", min))</span>
                                                    total_price -= min;
                                                    paid.total_price -= min;
                                                }
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="table-receipt-total">
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        <tr>
                            <td width="740" class="text-right bold">
                                <div class="table-receipt-total">
                                    รวมทั้งสิ้น
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="table-receipt-total">
                                    @String.Format("{0:#,###0.##}", item_list.Sum(r => r.total_price.Value))
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="section">
                    <div class="receive-from">
                        <div class="receive-from-label">
                            ตัวอักษร (
                        </div>
                        <div class="receive-from-input">
                            @item_list.Sum(r => r.total_price.Value).ToThaiBahtText()
                        </div>
                        <div class="receive-from-text">
                            ) ไว้เป็นการถูกต้องแล้ว
                        </div>
                    </div>
                </div>

                <div class="section footer">

                    <div class="content-wrapper">
                        กรณีชำระเงินด้วยเช็ค "ใบเสร็จรับเงินฉบับนี้จะสมูบรูณ์<br />
                        ต่อเมื่อเจ้าหน้าที่ได้เรียกเก็บเงินตามเช็คได้ครบถ้วนแล้ว"
                    </div>

                    <div class="sign-wrapper">
                        <div class="sign-info">
                            <div class="sign-info-label">
                                ลงชื่อ
                            </div>
                            <div class="sign-info-input">&nbsp;</div>
                            <div class="sign-info-text">
                                ผู้รับเงิน
                            </div>
                        </div>
                        <div class="sign-info-detail">
                            <div class="sign-info-detail-label">
                                (
                            </div>
                            <div class="sign-info-detail-input">
                                @item_list[0].receiver_name
                            </div>
                            <div class="sign-info-detail-text">
                                )
                            </div>
                        </div>
                        <div class="sign-info">
                            <div class="sign-info-label">
                                ตำแหน่ง
                            </div>
                            <div class="sign-info-input">
                                นักวิชาการเงินและบัญชีปฏิบัติการ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            @if (item_list.Count() > 2) {
                <div class="new-page"></div>
            }
        }
        <div class="new-page"></div>
    }
</body>

</html>
