﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.ReceiptOtherReferencePdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="assets/theme/styles/pdf/receipt-reference-pdf.css" rel="stylesheet">
    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<body>
    <div class="body">
        @foreach (var request_number in Model.view.item_list.SelectMany(r => r.RequestOtherItemSub.Select(s => s.request_number)).Where(r => r != null).Distinct()) {
            <div class="section header">
                <div class="logo">
                    <img src="assets/images/logos/logo.png" />
                </div>
                <div class="pdf-title">
                    ระบบพิมพ์เอกสารอ้างอิงเพื่อชำระเงินสำหรับคำขอในระบบเครื่องหมายการค้า
                </div>
            </div>

            <div class="section header-sub">
                <div class="rows">
                    <div class="row">
                        <div class="title">เลขที่ใบชำระเงิน :</div>
                        <div class="description">@Model.view.request_01_item_list.Where(r => r.request_number == request_number).FirstOrDefault().reference_number</div>
                        <div class="title">ลงวันที่ :</div>
                        <div class="description">@Model.view.request_date.Value.ToThaiDateString()</div>
                    </div>
                    <div class="row">
                        <div class="title">ชื่อผู้ยื่นคำขอ :</div>
                        <div class="description">@Model.view.requester_name</div>
                    </div>
                    <div class="row">
                        <div class="title">คำขอเลขที่ :</div>
                        <div class="description">@request_number</div>
                    </div>
                </div>
                <div class="barcode">
                    <div class="pic">
                        <img src="data:image/png;base64, @Model.view.request_01_item_list.Where(r => r.request_number == request_number).FirstOrDefault().barcode" />
                    </div>
                    <div class="number">@Model.view.request_01_item_list.Where(r => r.request_number == request_number).FirstOrDefault().reference_number</div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="section table">
                <table>
                    <thead>
                        <tr>
                            <td class="index">ลำดับที่</td>
                            <td class="income_type">รหัสรายการ</td>
                            <td class="income_description">รายการการรับเงิน</td>
                            <td class="item_sub_type_1_code">จำนวนจำพวก</td>
                            <td class="product_count">จำนวน</td>
                            <td class="fine">ค่าปรับ</td>
                            <td class="total_price">จำนวนเงิน (บาท)</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int _request_index = 1;
                            foreach (var view in Model.view.item_list) {
                                var item_list = view.RequestOtherItemSub.Where(r => r.request_number == request_number);
                                <tr>
                                    <td class="index">@(_request_index++)</td>
                                    <td class="income_type">@view.request_type_code</td>
                                    <td class="income_description">@view.request_type_codeNavigation.name</td>
                                    <td class="item_sub_type_1_code">@item_list.Select(r => r.item_sub_type_1_code).Distinct().Count()</td>
                                    <td class="product_count">@item_list.Sum(r => r.product_count)</td>
                                    <td class="fine">@item_list.Sum(r => r.fine)</td>
                                    <td class="total_price">@String.Format("{0:#,###0.##}", item_list.Sum(r => r.total_price))</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="title" colspan="6">รวมทั้งสิ้น</td>
                            <td class="total_price">@String.Format("{0:#,###0.##}", Model.view.item_list.Sum(r => r.RequestOtherItemSub.Where(s => s.request_number == request_number).Sum(t => t.total_price)))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="section footer">
                <div class="left">
                    <div class="title">ชื่อผู้พิมพ์ :</div>
                    <div class="description">@Model.view.created_by_name</div>
                </div>
                <div class="information">โปรดชำระค่าธรรมเนียมภายใน 15:30 น.</div>
            </div>

            <div class="clear"></div>
            <div class="new-page"></div>
        }
    </div>
</body>

</html>
