﻿@using DIP.TM.Utils;
@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.RequestPrintCoverTYPE02PdfModel


<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/RequestPrintCoverTYPE02.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    setInterval(function () {
        // window.location.reload();
    }, 1000);
</script>

<body>

    @foreach (var view in Model.view) {
        <div class="width-50 space">
            <div class="center bold">@view.request_number</div>
            <div class="center">
                <img width="200" height="80" src="data:image/png;base64, @BarcodeHelper.Generate(view.request_number)" />
            </div>
        </div>
    }
    <!--
    <div class="width-50">

    </div>
    <div class="header">
        <div class="absolute img-logo">
            <img src="assets/images/logos/garuda-emblem.png" />
            <div class="title">22 เมษายน 2556</div>
        </div>

        <div class="topic">
            <div class="float-left">ที่ พณ 0707/12318</div>
            <div class="float-right">แบบ ตค. 5 ข้อ 3</div>
        </div>

        <div class="clear"></div>

        <div class="address">
            <div class="bold">สำนักเครื่องหมายการค้า</div>
            <div class="bold">กรมทรัพย์สินทางปัญญา</div>
            <div>563 ถนนนนทบุรี ตำบลบางกระสอ</div>
            <div>อำเภอเมืองนนทบุรี จังหวัดนนทบุรี 11000</div>
        </div>
        <div class="clear"></div>

        <div class="">
            <table>
                <tr>
                    <td>เรื่อง</td>
                    <td>คำขอเลขที่ 160106764</td>
                </tr>
                <tr>
                    <td>เรียน</td>
                    <td>
                        <div>นางสาววีณา ตั้งกลม</div>
                        <div>74/2 ซอยสมประสงค์์ 2</div>
                        <div>แขวงพญาไทย กรุงเทพ 10400</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="line"></div>

    <div class="body">
        <div class="title">นายทะเบียนได้พิจรณาแล้วขอแจ้งให้ทราบว่า เครื่องหมายที่ขอจดทะเบียน</div>
        <div class="paragraph">1. ให้จดทะเบียนเครื่องหมายการค้านี้ได้</div>
        <div class="paragraph">2. ให้ชำระค่าธรรมเนียมเพื่อการรับจดทะเบียน
            เป็นจำนวนเงิน 600 บาท ภายใน 60 วัน นับตั้งแต่วันที่ได้รับหนังสือฉบับนี้
            มิฉะนั้น จะถือว่าท่านละทิ้งคำขอทะเบียน ตามมาตรา 40 วรรคสอง (ประกาศโฆษณาวันที่ 05/02/2561 จำพวกที่ 25
            ลำดับที่ 14)
        </div>

        <div class="paragraph div_content_01">
            ท่านสามารถชำระค่าธรรมเนียมได้ตามช่องทางดังนี้
        </div>

        <div class="div_content_02">
            <div class="paragraph">1. ส่วนบริการ ชั้น 3 กรมทรัพย์สินทางปัญญา กระทรวงพาณิชย์ ตั้งแต่เวลา 08:30 - 15:30
                ของวันทำการ</div>
            <div class="paragraph">2. สำนักงานพาณิชย์จังหวัด</div>
            <div class="paragraph">3. ทางอินเทอร์เน็ต</div>
            <div class="paragraph">4. ทางธนาณัติ สั่งจ่าย สำนักเครื่องหมายการค้า ปลายทาง ปณ.กระทรวงพาณิชย์</div>
        </div>
        </dib>

        <!-- <div class="footer bold">
        <span>ลงชื่อ</span>
        <span class="underline-dotted">ศิริเพ็ญ ฐิตะกสิกร</span>
        <span>เจ้าหน้าที่สั่งสารบบ</span>
    </div>
    <div class="header bold center">
        แบบบันทึกการลงสารบบเครื่องหมายการค้า
    </div>
    <div class="information">
        <div class="header-left">
        </div>
        <div class="header-right">
            <table>
                <tr>
                    <td class="bold">คำขอเลขที่</td>
                    <td>982627</td>
                </tr>
                <tr>
                    <td class="bold">ทะเบียนเลขที่</td>
                    <td>982627</td>
                </tr>
                <tr>
                    <td class="bold">วันที่ยื่นคำขอ</td>
                    <td>982627</td>
                </tr>
                <tr>
                    <td class="bold">ชื่อเจ้าของ</td>
                    <td>982627</td>
                </tr>
                <tr>
                    <td class="bold">จำพวก</td>
                    <td>982627</td>
                </tr>
                <tr>
                    <td class="bold">เครื่องหมายคำ</td>
                    <td>982627</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="detail">
        <table>
            <tr class="bold center">
                <td colspan=2 rowspan="2">คำที่จัดเก็บในสารบบ</td>
                <td colspan="5">รายละเอียดการจัดเก็บสารบบ</td>
            </tr>
            <tr class="bold center">
                <td>แรก</td>
                <td>ท้าย</td>
                <td>อีน</td>
                <td>คำอ่าน</td>
                <td>เสียงพยางค์</td>
            </tr>
            <tr>
                <td>1</td>
                <td>BAKEPENING</td>
                <td>แรก</td>
                <td>ท้าย</td>
                <td>อีน</td>
                <td>คำอ่าน</td>
                <td>เสียงพยางค์</td>
            </tr>
        </table>
    </div>


    <div class="detail">
        <table>
            <tr class="bold center">
                <td>รหัสภาพ </td>
                <td>คำบรรยายภาพ</td>
            </tr>
            <tr class="bold center">
                <td>แรก</td>
                <td>ท้าย</td>
            </tr>
            <tr>
                <td>1</td>
                <td>BAKEPENING</td>
            </tr>
        </table>
    </div>

    <div class="detail">
        <table>
            <tr class="bold center">
                <td>รหัสเสียง </td>
                <td>คำบรรยายเสียง</td>
            </tr>
            <tr class="bold center">
                <td>แรก</td>
                <td>ท้าย</td>
            </tr>
            <tr>
                <td>1</td>
                <td>BAKEPENING</td>
            </tr>
        </table>
    </div> -->
</body>

</html>