﻿@model DIP.TM.Web.Views.Pdf.Test

<html>

  <head>
    <link
      href="assets/fonts/stylesheet.css"
      rel="stylesheet"
    >

    <link
      href="assets/theme/styles/pdf/test.css"
      rel="stylesheet"
    >
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <td>
            <div class="header align-right">
              แบบ ก.01
            </div>
          </td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
            <div class="footer">
              <div class="note">
                <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
                (ก.11)
              </div>

              <div class="pagination">
                <div class="label">
                  หน้า
                </div>
                <div class="data">
                  1
                </div>

                <div class="label">
                  ของจำนวน
                </div>
                <div class="data">
                  10
                </div>
                <div class="unit">
                  หน้า
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>

      <tbody>
        <tr>
          <td>
            <div class="body clearfix">
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
              Test Test <br />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
