﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM02PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm02-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view;

    var people_list = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list : new List<SaveAddressView>();
    var representative_list = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list : new List<SaveAddressView>();
    var contact = (view.contact_address_list != null && view.contact_address_list.Count() > 0) ? view.contact_address_list[0] : new SaveAddressView();
    var contact_address = contact.address_details_1 + " " + contact.address_details_2;
    var public_round = (view.public_round != null) ? view.public_round : new PublicRoundView();
    var public_round_item_list = view.public_round.public_round_item.OrderBy(x => x.request_item_sub_type_1_code).ThenBy(x => x.line_index);


    #region init signer
    //init signer

    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    #endregion

    #region kor11
    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nTextStartContact = 1;
    int nStartPublicRoundItem = 1;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mTextContactPerPage = 3000;
    int mPublicRoundItemPerPage = 25;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mTextMainPageContact = 130;
    int mMainPagePublicRoundItem = 1;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreContact = (contact_address.Length > mTextMainPageContact) ? true : false;
    bool isMorePublicRoundItem = (public_round_item_list.Count() > mMainPagePublicRoundItem) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageContact = (isMoreContact) ? Convert.ToInt32(Math.Ceiling((contact_address.Length - nTextStartContact + 1) * 1.0 / mTextContactPerPage)) : 0;
    int mPagePublicRoundItem = (isMorePublicRoundItem) ? Convert.ToInt32(Math.Ceiling((public_round_item_list.Count() - nStartPublicRoundItem + 1) * 1.0 / mPublicRoundItemPerPage)) : 0;
    #endregion

    int nAllPage = 0;
    int mPageMain = 1;
    int mAllPage =
        mPageMain +
        mPagePeople +
        mPageRepresentative +
        mPageContact +
        mPagePublicRoundItem;
  }

  <div class="page page-one">
    <div class="header align-right">
      แบบ ก.02
    </div>

    <div class="body clearfix">
      <div class="section logo-and-officer-input">
        <div class="logo-wrapper">
          <div class="logo-wrapper-inner clearfix">
            <img src="assets/images/logos/garuda-emblem.png" alt="logo" class="logo" />

            <div class="pdf-title bold">

            </div>

            <div class="mark-type bold">
              <label class="container">
                คำคัดค้านการขอจดทะเบียน
                <input type="radio" name="markType" checked>
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                คำโต้แย้ง
                <input type="radio" name="markType">
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="officer-input">
          <div class="caption bold">
            สำหรับเจ้าหน้าที่
          </div>

          <div class="reqeust-date">
            <div class="label bold">
              วันที่ยื่น
            </div>
            <div class="data">

            </div>
          </div>

          <div class="fee-wrapper">
            <div class="fee clearfix">
              <div class="label bold">
                ค่าธรรมเนียม
              </div>
              <div class="data">
                @{ var price = (view.total_price.HasValue) ? view.total_price.Value.ToString("0.00") : ""; }
                @price
              </div>
              <div class="unit bold">
                บาท
              </div>
            </div>

            <div class="sign clearfix">
              <div class="label bold">
                ลงชื่อ
              </div>
              <div class="data">
              </div>
              <div class="unit bold">
                ผู้สั่ง
              </div>
            </div>

            <div class="name clearfix">
              <div class="label-first bold">
                (
              </div>
              <div class="data">

              </div>
              <div class="label-last bold">
                )
              </div>
            </div>
          </div>

          <div class="reqeust-id">
            <div class="label bold">
              คำขอเลขที่
            </div>
            <div class="data">
              @view.request_number
            </div>
          </div>
        </div>
      </div>

      @{
        var people = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list[0] : new SaveAddressView();
      }
      <div class="section detail appellant clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            1.
          </div>

          <div class="radios appellant">
            <label class="container bold">
              เจ้าของ
              <input type="radio" name="appellant">
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container bold">
              ผู้คัดค้าน
              <input type="radio" name="appellant" checked>
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            @*waiting add space*@

            <label class="container">
              บุคคลธรรมดา(ไทย)
              @if (people.receiver_type_code == "PEOPLE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล(ไทย)
              @if (people.receiver_type_code == "CORPORATE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ส่วนราชการ(ไทย)
              @if (people.receiver_type_code == "GOVERNMENT")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ต่างชาติ
              @if (people.receiver_type_code == "PEOPLE_FOREIGNER" || people.receiver_type_code == "CORPORATE_FOREIGNER")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix name">
          <div class="label">
            ชื่อ
          </div>

          <div class="data">
            @people.name
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="label">
            ที่อยู่
          </div>

          <div class="data">
            @people.address_details_1
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set sub-district">
            <div class="label">
              แขวง/ตำบล
            </div>

            <div class="data">
              @{ var people_sub_district = (people.address_sub_district_codeNavigation != null) ? people.address_sub_district_codeNavigation.name : "";}
              @people_sub_district
            </div>
          </div>

          <div class="section-data-set district">
            <div class="label">
              เขต/อำเภอ
            </div>

            <div class="data">
              @{ var people_district = (people.address_district_codeNavigation != null) ? people.address_district_codeNavigation.name : "";}
              @people_district
            </div>
          </div>

          <div class="section-data-set province">
            <div class="label">
              จังหวัด
            </div>

            <div class="data">
              @{ var people_province = (people.address_province_codeNavigation != null) ? people.address_province_codeNavigation.name : "";}
              @people_province
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set zip-code">
            <div class="label">
              รหัสไปรษณีย์
            </div>

            <div class="data">
              @people.postal_code
            </div>
          </div>

          <div class="section-data-set country">
            <div class="label">
              ประเทศ
            </div>

            <div class="data">
              @{ var people_country = (people.address_country_code != null && people.address_country_code != "") ? @people.address_country_codeNavigation.name : @people.country_text; }
              @people_country
            </div>
          </div>

          <div class="section-data-set nationality">
            <div class="label">
              สัญชาติ
            </div>

            <div class="data">
              @{ var people_nationality = (people.nationality_codeNavigation != null) ? people.nationality_codeNavigation.name : "";}
              @people_nationality
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set job">
            <div class="label">
              อาชีพ
            </div>

            <div class="data">
              @{ var people_career = (people.career_codeNavigation != null) ? @people.career_codeNavigation.name : ""; }
              @people_career
            </div>
          </div>

          <div class="section-data-set mobile">
            <div class="label">
              โทรศัพท์
            </div>

            <div class="data">
              @people.telephone
            </div>
          </div>

          <div class="section-data-set fax">
            <div class="label">
              โทรสาร
            </div>

            <div class="data">
              @people.fax
            </div>
          </div>

          <div class="section-data-set email">
            <div class="label">
              อีเมล
            </div>

            <div class="data">
              @people.email
            </div>
          </div>
        </div>

        <div class="section-row clearfix ">
          <div class="radios id-type">
            <label class="container">
              เลขประจำตัวประชาชน
              @if (people.card_type_code == "NAT_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล
              @if (people.card_type_code == "TAX_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เลขประจำตัวผู้เสียภาษีอากร
              @if (people.card_type_code == "TAX2_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="pins-code">
              <div class="pin-code">
                @{ var pcn0 = (people.card_number != null && people.card_number.Length > 0) ? people.card_number[0] : ' ';}
                @pcn0
              </div>
              <div class="pin-code">
                @{ var pcn1 = (people.card_number != null && people.card_number.Length > 1) ? people.card_number[1] : ' ';}
                @pcn1
              </div>
              <div class="pin-code">
                @{ var pcn2 = (people.card_number != null && people.card_number.Length > 2) ? people.card_number[2] : ' ';}
                @pcn2
              </div>
              <div class="pin-code">
                @{ var pcn3 = (people.card_number != null && people.card_number.Length > 3) ? people.card_number[3] : ' ';}
                @pcn3
              </div>
              <div class="pin-code">
                @{ var pcn4 = (people.card_number != null && people.card_number.Length > 4) ? people.card_number[4] : ' ';}
                @pcn4
              </div>
              <div class="pin-code">
                @{ var pcn5 = (people.card_number != null && people.card_number.Length > 5) ? people.card_number[5] : ' ';}
                @pcn5
              </div>
              <div class="pin-code">
                @{ var pcn6 = (people.card_number != null && people.card_number.Length > 6) ? people.card_number[6] : ' ';}
                @pcn6
              </div>
              <div class="pin-code">
                @{ var pcn7 = (people.card_number != null && people.card_number.Length > 7) ? people.card_number[7] : ' ';}
                @pcn7
              </div>
              <div class="pin-code">
                @{ var pcn8 = (people.card_number != null && people.card_number.Length > 8) ? people.card_number[8] : ' ';}
                @pcn8
              </div>
              <div class="pin-code">
                @{ var pcn9 = (people.card_number != null && people.card_number.Length > 9) ? people.card_number[9] : ' ';}
                @pcn9
              </div>
              <div class="pin-code">
                @{ var pcn10 = (people.card_number != null && people.card_number.Length > 10) ? people.card_number[10] : ' ';}
                @pcn10
              </div>
              <div class="pin-code">
                @{ var pcn11 = (people.card_number != null && people.card_number.Length > 11) ? people.card_number[11] : ' ';}
                @pcn11
              </div>
              <div class="pin-code">
                @{ var pcn12 = (people.card_number != null && people.card_number.Length > 12) ? people.card_number[12] : ' ';}
                @pcn12
              </div>
            </div>

            <label class="container">
              เพิ่มเติม(ดังแนบ)
              @if (view.people_list.Count() > 1)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>
      </div>

      @{
        var representative = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list[0] : new SaveAddressView();
      }
      <div class="section detail agency clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            2.
          </div>

          <div class="title bold">
            ตัวแทน
          </div>

          <div class="radios agency-type">
            <label class="container">
              ตัวแทน
              @if (representative.representative_type_code == "REPRESENTATIVE")
              {
                <input type="radio" name="representative" checked>
              }
              else
              {
                <input type="radio" name="representative">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ตัวแทนช่วง
              @if (representative.representative_type_code == "REPRESENTATIVE_PERIOD")
              {
                <input type="radio" name="representative" checked>
              }
              else
              {
                <input type="radio" name="representative">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            @*waiting add space*@

            <label class="container">
              บุคคลธรรมดา(ไทย)
              @if (representative.receiver_type_code == "PEOPLE")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล(ไทย)
              @if (representative.receiver_type_code == "CORPORATE")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ส่วนราชการ(ไทย)
              @if (representative.receiver_type_code == "GOVERNMENT")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              อื่นๆ
              @if (representative.receiver_type_code == "PEOPLE_FOREIGNER" || representative.receiver_type_code == "CORPORATE_FOREIGNER" || representative.receiver_type_code == "OTHERS")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix name">
          <div class="label">
            ชื่อ
          </div>

          <div class="data">
            @representative.name
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="label">
            ที่อยู่
          </div>

          <div class="data">
            @representative.address_details_1
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set sub-district">
            <div class="label">
              แขวง/ตำบล
            </div>

            <div class="data">
              @{ var representative_sub_district = (representative.address_sub_district_codeNavigation != null) ? representative.address_sub_district_codeNavigation.name : "";}
              @representative_sub_district
            </div>
          </div>

          <div class="section-data-set district">
            <div class="label">
              เขต/อำเภอ
            </div>

            <div class="data">
              @{ var representative_district = (representative.address_district_codeNavigation != null) ? representative.address_district_codeNavigation.name : ""; }
              @representative_district
            </div>
          </div>

          <div class="section-data-set province">
            <div class="label">
              จังหวัด
            </div>

            <div class="data">
              @{ var representative_province = (representative.address_province_codeNavigation != null) ? representative.address_province_codeNavigation.name : ""; }
              @representative_province
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set zip-code">
            <div class="label">
              รหัสไปรษณีย์
            </div>

            <div class="data">
              @representative.postal_code
            </div>
          </div>

          <div class="section-data-set country">
            <div class="label">
              ประเทศ
            </div>

            <div class="data">
              @{ var representative_country = (representative.address_country_code != null && representative.address_country_code != "") ? representative.address_country_codeNavigation.name : (representative.country_text != null) ? representative.country_text : ""; }
              @representative_country
            </div>
          </div>

          <div class="section-data-set nationality">
            <div class="label">
              สัญชาติ
            </div>

            <div class="data">
              @{ var representative_nationality = (representative.nationality_codeNavigation != null) ? representative.nationality_codeNavigation.name : ""; }
              @representative_nationality
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set job">
            <div class="label">
              อาชีพ
            </div>

            <div class="data">
              @{ var representative_career = (representative.career_codeNavigation != null) ? representative.career_codeNavigation.name : ""; }
              @representative_career
            </div>
          </div>

          <div class="section-data-set mobile">
            <div class="label">
              โทรศัพท์
            </div>

            <div class="data">
              @representative.telephone
            </div>
          </div>

          <div class="section-data-set fax">
            <div class="label">
              โทรสาร
            </div>

            <div class="data">
              @representative.fax
            </div>
          </div>

          <div class="section-data-set email">
            <div class="label">
              อีเมล
            </div>

            <div class="data">
              @representative.email
            </div>
          </div>
        </div>

        <div class="section-row clearfix ">
          <div class="radios id-type clearfix">
            <label class="container">
              เลขประจำตัวประชาชน
              @if (representative.card_type_code == "NAT_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล
              @if (representative.card_type_code == "TAX_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เลขประจำตัวผู้เสียภาษีอากร
              @if (representative.card_type_code == "TAX2_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="pins-code">
              <div class="pin-code">
                @{ var rcn0 = (representative.card_number != null && representative.card_number.Length > 0) ? representative.card_number[0] : ' ';}
                @rcn0
              </div>
              <div class="pin-code">
                @{ var rcn1 = (representative.card_number != null && representative.card_number.Length > 1) ? representative.card_number[1] : ' ';}
                @rcn1
              </div>
              <div class="pin-code">
                @{ var rcn2 = (representative.card_number != null && representative.card_number.Length > 2) ? representative.card_number[2] : ' ';}
                @rcn2
              </div>
              <div class="pin-code">
                @{ var rcn3 = (representative.card_number != null && representative.card_number.Length > 3) ? representative.card_number[3] : ' ';}
                @rcn3
              </div>
              <div class="pin-code">
                @{ var rcn4 = (representative.card_number != null && representative.card_number.Length > 4) ? representative.card_number[4] : ' ';}
                @rcn4
              </div>
              <div class="pin-code">
                @{ var rcn5 = (representative.card_number != null && representative.card_number.Length > 5) ? representative.card_number[5] : ' ';}
                @rcn5
              </div>
              <div class="pin-code">
                @{ var rcn6 = (representative.card_number != null && representative.card_number.Length > 6) ? representative.card_number[6] : ' ';}
                @rcn6
              </div>
              <div class="pin-code">
                @{ var rcn7 = (representative.card_number != null && representative.card_number.Length > 7) ? representative.card_number[7] : ' ';}
                @rcn7
              </div>
              <div class="pin-code">
                @{ var rcn8 = (representative.card_number != null && representative.card_number.Length > 8) ? representative.card_number[8] : ' ';}
                @rcn8
              </div>
              <div class="pin-code">
                @{ var rcn9 = (representative.card_number != null && representative.card_number.Length > 9) ? representative.card_number[9] : ' ';}
                @rcn9
              </div>
              <div class="pin-code">
                @{ var rcn10 = (representative.card_number != null && representative.card_number.Length > 10) ? representative.card_number[10] : ' ';}
                @rcn10
              </div>
              <div class="pin-code">
                @{ var rcn11 = (representative.card_number != null && representative.card_number.Length > 11) ? representative.card_number[11] : ' ';}
                @rcn11
              </div>
              <div class="pin-code">
                @{ var rcn12 = (representative.card_number != null && representative.card_number.Length > 12) ? representative.card_number[12] : ' ';}
                @rcn12
              </div>
            </div>

            <label class="container">
              เพิ่มเติม(ดังแนบ)
              @if (view.representative_list.Count() > 1)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix">
          <div class="radios conjunction clearfix">
            <div class="caption">
              คำเชื่อมระหว่างตัวแทน
            </div>

            <label class="container">
              และ
              @if (view.save020_representative_condition_type_code == "AND")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หรือ
              @if (view.save020_representative_condition_type_code == "OR")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              และ/หรือ
              @if (view.save020_representative_condition_type_code == "AND_OR")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="section detail domestic-contact-address clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            3.
          </div>

          <div class="title bold">
            สถานที่ติดต่อภายในประเทศไทย
          </div>

          <div class="radios domestic-contact-address clearfix">
            <label class="container">
              เจ้าของ/ผู้คัดค้าน
              @if (view.save020_contact_type_code == "OWNER")
              {
                <input type="radio" name="domesticContactAddress" checked>
              }
              else
              {
                <input type="radio" name="domesticContactAddress">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ตัวแทน
              @if (view.save020_contact_type_code == "REPRESENTATIVE")
              {
                <input type="radio" name="domesticContactAddress" checked>
              }
              else
              {
                <input type="radio" name="domesticContactAddress">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ตัวแทนช่วง
              @if (view.save020_contact_type_code == "REPRESENTATIVE_PERIOD")
              {
                <input type="radio" name="domesticContactAddress" checked>
              }
              else
              {
                <input type="radio" name="domesticContactAddress">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container other">
              อื่นๆ (ระบุชื่อและที่อยู่ผู้รับให้ชัดเจน)
              @if (view.save020_contact_type_code == "OTHERS")
              {
                <input type="radio" name="domesticContactAddress" checked>
              }
              else
              {
                <input type="radio" name="domesticContactAddress">
              }
              <div class="fake-input"></div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="data connect-label text-full multi-line">
            @{
              if (!isMoreContact)
              {
                @contact_address
              }
            }
          </div>
        </div>
      </div>

      <div class="section detail argument clearfix">
        <div class="section-column clearfix with-title">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              4.
            </div>

            <div class="title bold">
              ระบุเหตุแห่งการคัดค้าน /คำโต้แย้ง (ให้ใช้ใบต่อ ก.11)
            </div>
          </div>

          <div class="section-row">
            <div class="text">
              คำขอที่คัดค้านได้ประกาศโฆษณา
            </div>
          </div>
          @if (view.public_round != null)
          {
            if (view.public_round.public_round_item.Count() > 0)
            {
              var public_date = view.public_round.public_start_date;
              int nPublicRoundItem = 0;

              if (public_round_item_list.Count() <= mMainPagePublicRoundItem)
              {
                foreach (var item in public_round_item_list)
                {
                  if (nPublicRoundItem < mMainPagePublicRoundItem)
                  {
                    <div class="section-row argument-input">
                      <div class="section-data-set date">
                        <div class="label">
                          วันที่
                        </div>

                        <div class="data">
                          @if (public_date.HasValue)
                          {
                            @public_date.Value.ToString("dd/MM/yyyy");
                          }
                        </div>
                      </div>

                      <div class="section-data-set group">
                        <div class="label">
                          จำพวกที่
                        </div>

                        <div class="data">
                          @item.request_item_sub_type_1_code
                        </div>
                      </div>

                      <div class="section-data-set order">
                        <div class="label">
                          ลำดับที่
                        </div>

                        <div class="data">
                          @item.line_index
                        </div>
                      </div>
                    </div>
                  }

                  nPublicRoundItem++;
                }
              }
            }
          }
        </div>
      </div>

      <div class="section detail document clearfix">
        <div class="section-column clearfix with-title">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              5.
            </div>

            <div class="title bold">
              เอกสารหลักฐานประกอบ
            </div>
          </div>

          <div class="section-row choice-input">
            <div class="section-column">
              <label class="container other">
                5.1 การคัดค้าน
                <input type="radio" name="argument" checked>
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="section-row">
                <label class="container other">
                  สำเนาคัดค้าน 1 ชุด
                  @if ((view.is_6_1.HasValue) ? view.is_6_1.Value : false)
                  {
                    <input type="checkbox" checked>
                  }
                  else
                  {
                    <input type="checkbox">
                  }
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  เอกสารหลักฐานประกอบการคัดค้าน
                  @if ((view.is_6_2.HasValue) ? view.is_6_2.Value : false)
                  {
                    <input type="checkbox" checked>
                  }
                  else
                  {
                    <input type="checkbox">
                  }
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  สำเนาสำเนาบัตรประจำตัวหรือสำเนาหนังสือ
                  <br />รับรองนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน
                  @if ((view.is_6_3.HasValue) ? view.is_6_3.Value : false)
                  {
                    <input type="checkbox" checked>
                  }
                  else
                  {
                    <input type="checkbox">
                  }
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  สำเนาหนังสือมอบอำนาจ (ก.18)
                  <br />และสำเนาบัตรประจำตัวของผู้รับมอบอำนาจ
                  @if ((view.is_6_4.HasValue) ? view.is_6_4.Value : false)
                  {
                    <input type="checkbox" checked>
                  }
                  else
                  {
                    <input type="checkbox">
                  }
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  หนังสือขอผ่อนผันการส่งเอกสารหลักฐาน (ก.19)
                  @if ((view.is_6_5.HasValue) ? view.is_6_5.Value : false)
                  {
                    <input type="checkbox" checked>
                  }
                  else
                  {
                    <input type="checkbox">
                  }
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>
              </div>
            </div>

            <div class="section-column">
              <label class="container other">
                5.2 คำโต้แย้ง
                <input type="radio" name="argument">
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="section-row">
                <label class="container other">
                  สำเนาคำโต้แย้ง 1 ชุด หรือตามจำนวนผู้คัดค้าน
                  <input type="checkbox">
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  เอกสารหลักฐานประกอบการโต้แย้ง
                  <input type="checkbox">
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container other">
                  หนังสือขอผ่อนผันการส่งเอกสารหลักฐาน (ก.19)
                  <input type="checkbox">
                  <div class="fake-input"></div>
                  <span class="dip-icon-check"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section detail other clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            6.
          </div>
        </div>


        <div class="section detail signature clearfix">

          @{
            nSignPerson = 0;
            nSignRepresentative = 0;
            nSignShow = 0;

            if (signPersonAll)
            {

              for (int i = 0; i < people_list.Count(); i++)
              {
                var p = people_list.ElementAtOrDefault(i);

                if (p != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @p.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignPerson++;
                    nSignShow++;
                  }
                }
              }
            }

            if (signRepresentativeAll)
            {
              for (int i = 0; i < representative_list.Count(); i++)
              {
                var r = representative_list.ElementAtOrDefault(i);

                if (r != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @r.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignRepresentative++;
                    nSignShow++;
                  }
                }
              }
            }
            else
            {
              @for (int i = 0; i < resultRepresentative.Length; i++)
              {
                if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                {
                  if (Int32.TryParse(resultRepresentative[i], out int num))
                  {
                    var r = representative_list.ElementAtOrDefault(num - 1);

                    if (r != null)
                    {
                      if (nSignShow < mSignMainPage)
                      {
                        <div class="section-column clearfix">
                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label last">เจ้าของ/ตัวแทน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">
                              @r.name
                            </div>
                            <div class="label">)</div>
                          </div>
                        </div>

                        nSignRepresentative++;
                        nSignShow++;
                      }
                    }
                  }
                }
              }
            }
          }
        </div>

      </div>
    </div>

    <div class="footer clearfix">
      <div class="note">
        <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
        (ก.11)
      </div>

      <div class="pagination">
        <div class="label">
          หน้า
        </div>
        <div class="data">
          @{
            nAllPage++;
          }
          @nAllPage
        </div>

        <div class="label">
          ของจำนวน
        </div>
        <div class="data">
          @mAllPage
        </div>
        <div class="unit">
          หน้า
        </div>
      </div>
    </div>
  </div>

  @*Kor 11*@
  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    02
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. เจ้าของ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people_item = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people_item.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people_item.address_details_1 + " " + people_item.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people_item.nationality_codeNavigation != null) ? "สัญชาติ " + people_item.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people_item.career_codeNavigation != null) ? "อาชีพ " + people_item.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people_item.card_number) && people_item.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people_item.card_number[0] + " "
                            + people_item.card_number.Substring(1, 4) + " "
                            + people_item.card_number.Substring(5, 5) + " "
                            + people_item.card_number.Substring(10, 2) + " "
                            + people_item.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    02
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน @*waiting for edit*@
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative_item = representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nRepresentative + ". ชื่อ\t" + representative_item.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + representative_item.address_details_1 + " " + representative_item.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (representative_item.nationality_codeNavigation != null) ? "สัญชาติ " + representative_item.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (representative_item.career_codeNavigation != null) ? "อาชีพ " + representative_item.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(representative_item.card_number) && representative_item.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + representative_item.card_number[0] + " "
                            + representative_item.card_number.Substring(1, 4) + " "
                            + representative_item.card_number.Substring(5, 5) + " "
                            + representative_item.card_number.Substring(10, 2) + " "
                            + representative_item.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>

        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @*### Topic 3 ###*@
  @if (mPageContact > 0)
  {
    for (int nPageContact = 1; nPageContact <= mPageContact; nPageContact++)
    {
      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    02
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                3. สถานที่ติดต่อภายในประเทศไทย
              </div>

              @{
                int nTextContactPerPage = (nPageContact == mPageContact) ? (contact_address.Length - nTextStartContact + 1) % mTextContactPerPage : mTextContactPerPage;

                string txt = contact_address.Substring(nTextStartContact - 1, nTextContactPerPage);

                if (nTextStartContact + nTextContactPerPage - 1 < contact_address.Length)
                {
                  nTextStartContact += nTextContactPerPage;
                }

                //multi line
                <div class="data connect-label text-full multi-line">
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>

        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 4 ### *@
  @if (mPagePublicRoundItem > 0)
  {
    int nPublicRoundItem = nStartPublicRoundItem;

    for (int nPagePublicRoundItem = 1; nPagePublicRoundItem <= mPagePublicRoundItem; nPagePublicRoundItem++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    02
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                4. เหตุแห่งการคัดค้าน/คำโต้แย้ง
              </div>

              @{
                int nPublicRoundItemPerPage = (nPagePublicRoundItem == mPagePublicRoundItem) ? (public_round_item_list.Count() - nStartPublicRoundItem + 1) % mPublicRoundItemPerPage : mPublicRoundItemPerPage;
                var public_date = public_round.public_start_date;

                @for (int i = 0; i < nPublicRoundItemPerPage; i++)
                {
                  int indx = (mPublicRoundItemPerPage * (nPagePublicRoundItem - 1)) + i + nStartPublicRoundItem - 1;
                  var public_round_item = public_round_item_list.ElementAt(indx);

                  <div class="section-row argument-input">
                    <div class="section-data-set date">
                      <div class="label">
                        วันที่
                      </div>

                      <div class="data">
                        @if (public_date.HasValue)
                        {
                          @public_date.Value.ToString("dd/MM/yyyy");
                        }
                      </div>
                    </div>

                    <div class="section-data-set group">
                      <div class="label">
                        จำพวกที่
                      </div>

                      <div class="data">
                        @public_round_item.request_item_sub_type_1_code
                      </div>
                    </div>

                    <div class="section-data-set order">
                      <div class="label">
                        ลำดับที่
                      </div>

                      <div class="data">
                        @public_round_item.line_index
                      </div>
                    </div>
                  </div>

                  nPublicRoundItem++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
