﻿@model DIP.TM.Web.Views.Pdf.TM06PdfModel

<html>

  <head>
    <link
      href="assets/fonts/stylesheet.css"
      rel="stylesheet"
    >

    <link
      href="assets/theme/styles/pdf/tm06-pdf.css"
      rel="stylesheet"
    >
  </head>

  <body>
    <div class="page-one">
      <div class="header align-right">
        แบบ ก.06
      </div>

      <div class="body clearfix">
        <div class="section logo-and-officer-input">
          <div class="logo-wrapper">
            <div class="logo-wrapper-inner clearfix">
              <img
                src="assets/images/logos/garuda-emblem.png"
                alt="logo"
                class="logo"
              />

              <div class="pdf-title bold">
                คำขอแก้ไขเปลี่ยนแปลงรายการจดทะเบียน
              </div>

              <div class="amend-type">
                <label class="container">
                  ก่อนรับจดทะเบียน
                  <input
                    type="radio"
                    name="amendType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container">
                  จดทะเบียนแล้ว
                  <input
                    type="radio"
                    name="amendType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container">
                  ต่ออายุ
                  <input
                    type="radio"
                    name="amendType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>
              </div>

              <div class="amend-info">
                <div class="section-column long">
                  <label class="container">
                    ชื่อตัว/ชื่อสกุล/ชื่อนิติบุคคล/สัญชาติ/ที่อยู่ของเจ้าของ
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    ชื่อตัว/ชื่อสกุล/ชื่อนิติบุคคล/สัญชาติ/ที่อยู่ของตัวแทน
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    แต่งตั้งหรือเปลี่ยนแปลงตัวแทน
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    รายการสัญญาอนุญาต
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    โอนสัญญาอนุญาต
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    ตั้งผู้จัดการมรดก
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>
                </div>

                <div class="section-column">
                  <label class="container">
                    คำอ่านและคำแปล
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    รายการสินค้า/บริการ
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    เครื่องหมาย
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    สถานที่ติดต่อในประเทศไทย
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <label class="container">
                    ข้อบังคับการใช้เครื่องหมายรับรอง
                    <input type="checkbox">
                    <div class="fake-input">

                    </div>
                    <span class="dip-icon-check"></span>
                  </label>

                  <div class="with-note">
                    <label class="container">
                      อื่นๆ
                      <input type="checkbox">
                      <div class="fake-input">

                      </div>
                      <span class="dip-icon-check"></span>
                    </label>

                    <div class="data">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="officer-input">
            <div class="caption bold">
              สำหรับเจ้าหน้าที่
            </div>

            <div class="reqeust-date">
              <div class="label bold">
                วันที่ยื่น
              </div>
              <div class="data">
                25/12/29
              </div>
            </div>

            <div class="fee-wrapper">
              <div class="fee clearfix">
                <div class="label bold">
                  ค่าธรรมเนียม
                </div>
                <div class="data">
                  1,500.00
                </div>
                <div class="unit bold">
                  บาท
                </div>
              </div>

              <div class="sign clearfix">
                <div class="label bold">
                  ลงชื่อ
                </div>
                <div class="data">
                </div>
                <div class="unit bold">
                  ผู้สั่ง
                </div>
              </div>

              <div class="name clearfix">
                <div class="label-first bold">
                  (
                </div>
                <div class="data">
                </div>
                <div class="label-last bold">
                  )
                </div>
              </div>
            </div>

            <div class="reqeust-id">
              <div class="label bold">
                คำขอเลขที่
              </div>
              <div class="data">
                test data
              </div>
            </div>

            <div class="registration-number clearfix">
              <div class="label bold">
                ทะเบียนเลขที่
              </div>

              <div class="data">
                test data
              </div>
            </div>
          </div>
        </div>

        <div class="section detail appellant clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              1.
            </div>

            <div class="title bold">
              ผู้อุทธรณ์
            </div>

            <div class="radios appellant">
              <label class="container">
                เจ้าของ
                <input
                  type="radio"
                  checked="checked"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ผู้คัดค้าน
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ผู้ได้รับอนุญาต
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ผู้ได้รับอนุญาตช่วง
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                บุคคลธรรมดา(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ส่วนราชการ(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ต่างชาติ
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>

          <div class="section-row clearfix name">
            <div class="label">
              ชื่อ
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="label">
              ที่อยู่
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set sub-district">
              <div class="label">
                แขวง/ตำบล
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set district">
              <div class="label">
                เขต/อำเภอ
              </div>

              <div class="data">
                ลาดปลาเค้า
              </div>
            </div>

            <div class="section-data-set province">
              <div class="label">
                จังหวัด
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set zip-code">
              <div class="label">
                รหัสไปรษณีย์
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set country">
              <div class="label">
                ประเทศ
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set nationality">
              <div class="label">
                สัญชาติ
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set job">
              <div class="label">
                อาชีพ
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set mobile">
              <div class="label">
                โทรศัพท์
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set fax">
              <div class="label">
                โทรสาร
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set email">
              <div class="label">
                อีเมล
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix ">
            <div class="radios id-type">
              <label class="container">
                เลขประจำตัวประชาชน
                <input
                  type="radio"
                  checked="checked"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล
                <input
                  type="radio"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เลขประจำตัวผู้เสียภาษีอากร
                <input
                  type="radio"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="pins-code">
                <div class="pin-code">
                  1
                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
              </div>

              <label class="container">
                เพิ่มเติม(ดังแนบ)
                <input
                  type="checkbox"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="section detail amend-detail clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              2.
            </div>

            <div class="title bold">
              ข้าพเจ้าขอแก้ไขเปลี่ยนแปลงรายการจดทะเบียน ดังนี้
            </div>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              ขอยกเลิกข้อความที่แจ้งไว้เดิมทั้งหมด
              <input
                type="radio"
                name="amendDetail"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row amend-detail clearfix">
            <label class="container">
              ขอแก้ไขเปลี่ยนแปลง ดังนี้
              <input
                type="radio"
                name="amendDetail"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text
            </div>
          </div>

          <div class="section-row clearfix more-information">
            <div class="radios more-information">
              <label class="container">
                เพิ่มเติม (ดังแนบ)
                <input
                  type="checkbox"
                  name="moreInformation"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="section detail document clearfix">
          <div class="section-column clearfix with-title">
            <div class="section-row clearfix with-title">
              <div class="number bold">
                3.
              </div>

              <div class="title bold">
                เอกสารหลักฐานประกอบคำขอแก้ไข (บางรายการ)
              </div>
            </div>

            <div class="section-row choice-input">
              <label class="container">
                กรณีตั้งตัวแทน : สำเนาหนังสือมอบอ านาจ (ก.18) และสำเนาบัตรประจำตัวของผู้รับมอบอำนาจ
                <input type="checkbox">
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                กรณีเปลี่ยนชื่อ/ชื่อสกุล : สำเนาหลักฐานการเปลี่ยนชื่อ / ชื่อสกุล
                <input type="checkbox">
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                กรณีเปลี่ยนแปลงข้อบังคับเครื่องหมายรับรอง : ข้อบังคับฉบับแก้ไขเปลี่ยนแปลง
                <input type="checkbox">
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                กรณีเปลี่ยนแปลงรายการสัญญาอนุญาต : สัญญาอนุญาตฉบับแก้ไขเปลี่ยนแปลงและสำเนา 1 ฉบับ
                <input type="checkbox">
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="section-row other clearfix">
                <label class="container">
                  เอกสารอื่น ๆ (ระบุ)
                  <input type="checkbox">
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>

                <div class="data">
                  text test text test text test text test text test text test text test text test text test text test
                  text
                  test
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="section detail other clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              4.
            </div>
          </div>

          <!-- should max character per line (110-115 character) -->
          <div class="section-row clearfix text-full">
            <div class="data without-line text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text test
              test text test text test text test text test test text test text test text test text test test text test
              text test text test text test test text test text test text test text test test text test text test text
              test text test test text test text test text test text test test text test text test text test text tests

            </div>
          </div>
        </div>

      </div>

      <div class="footer clearfix">
        <div class="note">
          <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
          (ก.11)
        </div>

        <div class="section detail signature clearfix">
              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>

              <div class="section-column clearfix">
                <div class="section-row clearfix signature-text">
                  <div class="label">(ลายมือชื่อ) </div>
                  <div class="data">

                  </div>
                  <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                </div>
                <div class="section-row clearfix signature-full-text">
                  <div class="label">(</div>
                  <div class="data">

                  </div>
                  <div class="label">)</div>
                </div>
              </div>
            </div>

        <div class="pagination">
          <div class="label">
            หน้า
          </div>
          <div class="data">
            1
          </div>

          <div class="label">
            ของจำนวน
          </div>
          <div class="data">
            10
          </div>
          <div class="unit">
            หน้า
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
