﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM10PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm10-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = (Model.view != null) ? Model.view : new eForm_Save010View();

    var people_list = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list : new List<SaveAddressView>();
    var representative_list = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list : new List<SaveAddressView>();
    var kor10_list = (view != null) ? view.kor10_list : new List<eForm_Save010Kor10View>();
    var kor10 = (kor10_list != null && kor10_list.Count() > 0) ? kor10_list[0] : new eForm_Save010Kor10View();
    var kor10_product_list = (kor10.product_list != null && kor10.product_list.Count() > 0) ? kor10.product_list : new List<eForm_Save010Kor10ProductView>();
    var kor10_event_list = (kor10.event_list != null && kor10.event_list.Count() > 0) ? kor10.event_list : new List<eForm_Save010Kor10EventView>();


    #region init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    #endregion

    #region Kor11
    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nStartProduct = 1;
    int nStartEvent = 1;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mProductPerPage = 45;
    int mEventPerPage = 45;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mMainPageProduct = 8;
    int mMainPageEvent = 13;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreProduct = (kor10_product_list.Count() > mMainPageProduct) ? true : false;
    bool isMoreEvent = (kor10_event_list.Count() > mMainPageEvent) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageProduct = (isMoreProduct) ? Convert.ToInt32(Math.Ceiling((kor10_product_list.Count() - nStartProduct + 1) * 1.0 / mProductPerPage)) : 0;
    int mPageEvent = (isMoreEvent) ? Convert.ToInt32(Math.Ceiling((kor10_event_list.Count() - nStartEvent + 1) * 1.0 / mEventPerPage)) : 0;
    #endregion

    int nAllPage = 0;
    int mPageMain = 2;
    int mAllPage =
        mPageMain +
        mPagePeople +
        mPageRepresentative +
        mPageProduct +
        mPageEvent;
  }

  <div class="page page-one">
    <div class="header align-right">
      แบบ ก.10
    </div>

    <div class="body clearfix">
      <div class="section logo-and-officer-input">
        <div class="logo-wrapper">
          <div class="logo-wrapper-inner clearfix">
            <img src="assets/images/logos/garuda-emblem.png"
                 alt="logo"
                 class="logo" />

            <div class="pdf-title bold">
              คำขอถือสิทธิวันที่ยื่นคำขอนอกราชอาณาจักรครั้งแรก <br />
              หรือวันที่นำสินค้าที่ใช้เครื่องหมายออกแสดง
              <br />
              ในงานแสดงสินค้าระหว่างประเทศ
            </div>

            <div class="pdf-sub-title">
              เป็นวันยื่นคำขอในราชอาณาจักร ตามมาตรา 28 หรือมาตรา 28 ทวิ
            </div>

            <div class="mark-type">
              <label class="container">
                เครื่องหมายการค้า/บริการ
                @if (view.save010_mark_type_type_code == "TRADE_MARK_AND_SERVICE_MARK")
                {
                  <input type="radio" name="markType" checked>
                }
                else
                {
                  <input type="radio" name="markType">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เครื่องหมายรับรอง
                @if (view.save010_mark_type_type_code == "CERTIFICATION_MARK")
                {
                  <input type="radio" name="markType" checked>
                }
                else
                {
                  <input type="radio" name="markType">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เครื่องหมายร่วม
                @if (view.save010_mark_type_type_code == "COLLECTIVE_MARK")
                {
                  <input type="radio" name="markType" checked>
                }
                else
                {
                  <input type="radio" name="markType">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="officer-input">
          <div class="caption bold">
            สำหรับเจ้าหน้าที่
          </div>

          <div class="reqeust-date">
            <div class="label bold">
              วันที่ยื่น
            </div>
            <div class="data">

            </div>
          </div>

          <div class="fee-wrapper">
            <div class="fee clearfix">
              <div class="label bold">
                ค่าธรรมเนียม
              </div>
              <div class="data">
                @view.total_price
              </div>
              <div class="unit bold">
                บาท
              </div>
            </div>

            <div class="sign clearfix">
              <div class="label bold">
                ลงชื่อ
              </div>
              <div class="data">
              </div>
              <div class="unit bold">
                ผู้สั่ง
              </div>
            </div>

            <div class="name clearfix">
              <div class="label-first bold">
                (
              </div>
              <div class="data">
                @view.payer_name
              </div>
              <div class="label-last bold">
                )
              </div>
            </div>
          </div>

          <div class="reqeust-id">
            <div class="label bold">
              คำขอเลขที่
            </div>
            <div class="data">
              @view.request_number
            </div>
          </div>

          <div class="id">
            <div class="label bold">
              ทะเบียนเลขที่
            </div>
            <div class="data">
              @view.registration_number
            </div>
          </div>
        </div>
      </div>

      @{
        var kor10_people = (kor10.people_list != null && kor10.people_list.Count() > 0) ? kor10.people_list[0] : new SaveAddressView();
      }
      <div class="section detail appellant clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            1.
          </div>

          <div class="title bold">
            เจ้าของ
          </div>

          <div class="radios appellant">
            <label class="container">
              บุคคลธรรมดา(ไทย)
              @if (kor10_people.receiver_type_code == "PEOPLE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล(ไทย)
              @if (kor10_people.receiver_type_code == "CORPORATE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ส่วนราชการ(ไทย)
              @if (kor10_people.receiver_type_code == "GOVERNMENT")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ต่างชาติ
              @if (kor10_people.receiver_type_code == "PEOPLE_FOREIGNER" || kor10_people.receiver_type_code == "CORPORATE_FOREIGNER")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix name">
          <div class="label">
            ชื่อ
          </div>

          <div class="data">
            @kor10_people.name
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="label">
            ที่อยู่
          </div>

          <div class="data">
            @kor10_people.address_details_1
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set sub-district">
            <div class="label">
              แขวง/ตำบล
            </div>

            <div class="data">
              @{ var kor10_people_sub_district = (kor10_people.address_sub_district_codeNavigation != null) ? kor10_people.address_sub_district_codeNavigation.name : "";}
              @kor10_people_sub_district
            </div>
          </div>

          <div class="section-data-set district">
            <div class="label">
              เขต/อำเภอ
            </div>

            <div class="data">
              @{ var kor10_people_district = (kor10_people.address_district_codeNavigation != null) ? kor10_people.address_district_codeNavigation.name : "";}
              @kor10_people_district
            </div>
          </div>

          <div class="section-data-set province">
            <div class="label">
              จังหวัด
            </div>

            <div class="data">
              @{ var kor10_people_province = (kor10_people.address_province_codeNavigation != null) ? kor10_people.address_province_codeNavigation.name : "";}
              @kor10_people_province
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set zip-code">
            <div class="label">
              รหัสไปรษณีย์
            </div>

            <div class="data">
              @kor10_people.postal_code
            </div>
          </div>

          <div class="section-data-set country">
            <div class="label">
              ประเทศ
            </div>

            <div class="data">
              @{ var kor10_people_country = (kor10_people.address_country_code != null && kor10_people.address_country_code != "") ? @kor10_people.address_country_codeNavigation.name : @kor10_people.country_text; }
              @kor10_people_country
            </div>
          </div>

          <div class="section-data-set nationality">
            <div class="label">
              สัญชาติ
            </div>

            <div class="data">
              @{ var kor10_people_nationality = (kor10_people.nationality_codeNavigation != null) ? kor10_people.nationality_codeNavigation.name : "";}
              @kor10_people_nationality
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set job">
            <div class="label">
              อาชีพ
            </div>

            <div class="data">
              @{ var kor10_people_career = (kor10_people.career_codeNavigation != null) ? kor10_people.career_codeNavigation.name : ""; }
              @kor10_people_career
            </div>
          </div>

          <div class="section-data-set mobile">
            <div class="label">
              โทรศัพท์
            </div>

            <div class="data">
              @kor10_people.telephone
            </div>
          </div>

          <div class="section-data-set fax">
            <div class="label">
              โทรสาร
            </div>

            <div class="data">
              @kor10_people.fax
            </div>
          </div>

          <div class="section-data-set email">
            <div class="label">
              อีเมล
            </div>

            <div class="data">
              @kor10_people.email
            </div>
          </div>
        </div>

        <div class="section-row clearfix ">
          <div class="radios id-type">
            <label class="container">
              เลขประจำตัวประชาชน
              @if (@kor10_people.card_type_code == "NAT_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล
              @if (@kor10_people.card_type_code == "TAX_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เลขประจำตัวผู้เสียภาษีอากร
              @if (@kor10_people.card_type_code == "TAX2_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="pins-code">
              <div class="pin-code">
                @{ var kor10_pcn0 = (kor10_people.card_number != null && kor10_people.card_number.Length > 0) ? kor10_people.card_number[0] : ' ';}
                @kor10_pcn0
              </div>
              <div class="pin-code">
                @{ var kor10_pcn1 = (kor10_people.card_number != null && kor10_people.card_number.Length > 1) ? kor10_people.card_number[1] : ' ';}
                @kor10_pcn1
              </div>
              <div class="pin-code">
                @{ var kor10_pcn2 = (kor10_people.card_number != null && kor10_people.card_number.Length > 2) ? kor10_people.card_number[2] : ' ';}
                @kor10_pcn2
              </div>
              <div class="pin-code">
                @{ var kor10_pcn3 = (kor10_people.card_number != null && kor10_people.card_number.Length > 3) ? kor10_people.card_number[3] : ' ';}
                @kor10_pcn3
              </div>
              <div class="pin-code">
                @{ var kor10_pcn4 = (kor10_people.card_number != null && kor10_people.card_number.Length > 4) ? kor10_people.card_number[4] : ' ';}
                @kor10_pcn4
              </div>
              <div class="pin-code">
                @{ var kor10_pcn5 = (kor10_people.card_number != null && kor10_people.card_number.Length > 5) ? kor10_people.card_number[5] : ' ';}
                @kor10_pcn5
              </div>
              <div class="pin-code">
                @{ var kor10_pcn6 = (kor10_people.card_number != null && kor10_people.card_number.Length > 6) ? kor10_people.card_number[6] : ' ';}
                @kor10_pcn6
              </div>
              <div class="pin-code">
                @{ var kor10_pcn7 = (kor10_people.card_number != null && kor10_people.card_number.Length > 7) ? kor10_people.card_number[7] : ' ';}
                @kor10_pcn7
              </div>
              <div class="pin-code">
                @{ var kor10_pcn8 = (kor10_people.card_number != null && kor10_people.card_number.Length > 8) ? kor10_people.card_number[8] : ' ';}
                @kor10_pcn8
              </div>
              <div class="pin-code">
                @{ var kor10_pcn9 = (kor10_people.card_number != null && kor10_people.card_number.Length > 9) ? kor10_people.card_number[9] : ' ';}
                @kor10_pcn9
              </div>
              <div class="pin-code">
                @{ var kor10_pcn10 = (kor10_people.card_number != null && kor10_people.card_number.Length > 10) ? kor10_people.card_number[10] : ' ';}
                @kor10_pcn10
              </div>
              <div class="pin-code">
                @{ var kor10_pcn11 = (kor10_people.card_number != null && kor10_people.card_number.Length > 11) ? kor10_people.card_number[11] : ' ';}
                @kor10_pcn11
              </div>
              <div class="pin-code">
                @{ var kor10_pcn12 = (kor10_people.card_number != null && kor10_people.card_number.Length > 12) ? kor10_people.card_number[12] : ' ';}
                @kor10_pcn12
              </div>
            </div>

            <label class="container">
              เพิ่มเติม(ดังแนบ)
              @if (view.people_list.Count() > 1)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>
      </div>

      @{
        var kor10_representative = (kor10.representative_list != null && kor10.representative_list.Count() > 0) ? kor10.representative_list[0] : new SaveAddressView();
      }
      <div class="section detail agency clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            2.
          </div>

          <div class="title bold">
            ตัวแทน
          </div>

          <div class="radios agency-type">
            <label class="container">
              ตัวแทน
              @if (kor10_representative.representative_type_code == "REPRESENTATIVE")
              {
                <input type="radio" name="kor10_representative" checked>
              }
              else
              {
                <input type="radio" name="kor10_representative">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ตัวแทนช่วง
              @if (kor10_representative.representative_type_code == "REPRESENTATIVE")
              {
                <input type="radio" name="kor10_representative" checked>
              }
              else
              {
                <input type="radio" name="kor10_representative">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              บุคคลธรรมดา(ไทย)
              @if (kor10_representative.receiver_type_code == "PEOPLE")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล(ไทย)
              @if (kor10_representative.receiver_type_code == "CORPORATE")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ส่วนราชการ(ไทย)
              @if (kor10_representative.receiver_type_code == "GOVERNMENT")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              อื่นๆ
              @if (kor10_representative.receiver_type_code == "PEOPLE_FOREIGNER" || kor10_representative.receiver_type_code == "CORPORATE_FOREIGNER" || kor10_representative.receiver_type_code == "OTHERS")
              {
                <input type="radio" name="agency" checked>
              }
              else
              {
                <input type="radio" name="agency">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix name">
          <div class="label">
            ชื่อ
          </div>

          <div class="data">
            @kor10_representative.name
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="label">
            ที่อยู่
          </div>

          <div class="data">
            @kor10_representative.address_details_1
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set sub-district">
            <div class="label">
              แขวง/ตำบล
            </div>

            <div class="data">
              @{ var kor10_representative_sub_district = (kor10_representative.address_sub_district_codeNavigation != null) ? kor10_representative.address_sub_district_codeNavigation.name : "";}
              @kor10_representative_sub_district
            </div>
          </div>

          <div class="section-data-set district">
            <div class="label">
              เขต/อำเภอ
            </div>

            <div class="data">
              @{ var kor10_representative_district = (kor10_representative.address_district_codeNavigation != null) ? kor10_representative.address_district_codeNavigation.name : ""; }
              @kor10_representative_district
            </div>
          </div>

          <div class="section-data-set province">
            <div class="label">
              จังหวัด
            </div>

            <div class="data">
              @{ var kor10_representative_province = (kor10_representative.address_province_codeNavigation != null) ? kor10_representative.address_province_codeNavigation.name : ""; }
              @kor10_representative_province
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set zip-code">
            <div class="label">
              รหัสไปรษณีย์
            </div>

            <div class="data">
              @kor10_representative.postal_code
            </div>
          </div>

          <div class="section-data-set country">
            <div class="label">
              ประเทศ
            </div>

            <div class="data">
              @{ var kor10_representative_country = (kor10_representative.address_country_code != null && kor10_representative.address_country_code != "") ? kor10_representative.address_country_codeNavigation.name : kor10_representative.country_text; }
              @kor10_representative_country
            </div>
          </div>

          <div class="section-data-set nationality">
            <div class="label">
              สัญชาติ
            </div>

            <div class="data">
              @{ var kor10_representative_nationality = (kor10_representative.nationality_codeNavigation != null) ? kor10_representative.nationality_codeNavigation.name : ""; }
              @kor10_representative_nationality
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set job">
            <div class="label">
              อาชีพ
            </div>

            <div class="data">
              @{ var kor10_representative_career = (kor10_representative.career_codeNavigation != null) ? kor10_representative.career_codeNavigation.name : ""; }
              @kor10_representative_career
            </div>
          </div>

          <div class="section-data-set mobile">
            <div class="label">
              โทรศัพท์
            </div>

            <div class="data">
              @kor10_representative.telephone
            </div>
          </div>

          <div class="section-data-set fax">
            <div class="label">
              โทรสาร
            </div>

            <div class="data">
              @kor10_representative.fax
            </div>
          </div>

          <div class="section-data-set email">
            <div class="label">
              อีเมล
            </div>

            <div class="data">
              @kor10_representative.email
            </div>
          </div>
        </div>

        <div class="section-row clearfix ">
          <div class="radios id-type clearfix">
            <label class="container">
              เลขประจำตัวประชาชน
              @if (kor10_representative.card_type_code == "NAT_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล
              @if (kor10_representative.card_type_code == "TAX_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เลขประจำตัวผู้เสียภาษีอากร
              @if (kor10_representative.card_type_code == "TAX2_ID")
              {
                <input type="radio" name="id_Type_two" checked>
              }
              else
              {
                <input type="radio" name="id_Type_two">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="pins-code">
              <div class="pin-code">
                @{ var kor10_rcn0 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 0) ? kor10_representative.card_number[0] : ' ';}
                @kor10_rcn0
              </div>
              <div class="pin-code">
                @{ var kor10_rcn1 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 1) ? kor10_representative.card_number[1] : ' ';}
                @kor10_rcn1
              </div>
              <div class="pin-code">
                @{ var kor10_rcn2 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 2) ? kor10_representative.card_number[2] : ' ';}
                @kor10_rcn2
              </div>
              <div class="pin-code">
                @{ var kor10_rcn3 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 3) ? kor10_representative.card_number[3] : ' ';}
                @kor10_rcn3
              </div>
              <div class="pin-code">
                @{ var kor10_rcn4 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 4) ? kor10_representative.card_number[4] : ' ';}
                @kor10_rcn4
              </div>
              <div class="pin-code">
                @{ var kor10_rcn5 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 5) ? kor10_representative.card_number[5] : ' ';}
                @kor10_rcn5
              </div>
              <div class="pin-code">
                @{ var kor10_rcn6 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 6) ? kor10_representative.card_number[6] : ' ';}
                @kor10_rcn6
              </div>
              <div class="pin-code">
                @{ var kor10_rcn7 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 7) ? kor10_representative.card_number[7] : ' ';}
                @kor10_rcn7
              </div>
              <div class="pin-code">
                @{ var kor10_rcn8 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 8) ? kor10_representative.card_number[8] : ' ';}
                @kor10_rcn8
              </div>
              <div class="pin-code">
                @{ var kor10_rcn9 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 9) ? kor10_representative.card_number[9] : ' ';}
                @kor10_rcn9
              </div>
              <div class="pin-code">
                @{ var kor10_rcn10 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 10) ? kor10_representative.card_number[10] : ' ';}
                @kor10_rcn10
              </div>
              <div class="pin-code">
                @{ var kor10_rcn11 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 11) ? kor10_representative.card_number[11] : ' ';}
                @kor10_rcn11
              </div>
              <div class="pin-code">
                @{ var kor10_rcn12 = (kor10_representative.card_number != null && kor10_representative.card_number.Length > 12) ? kor10_representative.card_number[12] : ' ';}
                @kor10_rcn12
              </div>
            </div>

            <label class="container">
              เพิ่มเติม(ดังแนบ)
              @if (view.representative_list.Count() > 1)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix">
          <div class="radios conjunction clearfix">
            <div class="caption">
              คำเชื่อมระหว่างตัวแทน
            </div>

            <label class="container">
              และ
              @if (kor10.save010_kor10_representative_condition_type_code == "AND")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หรือ
              @if (kor10.save010_kor10_representative_condition_type_code == "OR")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              และ/หรือ
              @if (kor10.save010_kor10_representative_condition_type_code == "AND_OR")
              {
                <input type="radio" name="conjunction" checked>
              }
              else
              {
                <input type="radio" name="conjunction">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="section detail consider clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            3.
          </div>

          <div class="title bold">
            ผู้ขอจดทะเบียนเครื่องหมายการค้า ขอให้ถือว่า
          </div>

          <div class="section-row">
            <div class="radios consider clearfix">
              <label class="container">
                วันที่ยื่นคำขอจดทะเบียนเครื่องหมายดังกล่าวนอกราชอาณาจักรครั้งแรกเป็นวันยื่นคำขอในราชอาณาจักร
                @if ((kor10.is_11_1_2_1.HasValue) ? kor10.is_11_1_2_1.Value : false)
                {
                  <input type="radio" name="consider" checked>
                }
                else
                {
                  <input type="radio" name="consider">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                วันที่นำสินค้าที่ใช้เครื่องหมายการค้าออกแสดงในงานแสดงสินค้าระหว่างประเทศเป็นวันยื่นคำขอในราชอาณาจักร
                @if ((kor10.is_11_1_2_1.HasValue) ? kor10.is_11_1_2_1.Value : false)
                {
                  <input type="radio" name="consider" checked>
                }
                else
                {
                  <input type="radio" name="consider">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="section detail registration-table clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            4.
          </div>

          <div class="title bold">
            คำขอจดทะเบียนที่ยื่นนอกราชอาณาจักรครั้งแรก
          </div>

          <div class="section-row">
            <table border="2">
              <tr>
                <th class="request-id">
                  เลขที่คำขอ
                </th>
                <th class="request-date">
                  วันที่ยื่นคำขอ
                </th>
                <th class="request-in-country">
                  ประเทศที่ยื่นคำขอ
                </th>
                <th class="requester-national">
                  สัญชาติผู้ขอ
                </th>
                <th class="requester-address">
                  ภูมิลำเนาของผู้ขอ
                </th>
                <th class="type-group">
                  จำพวกที่
                </th>
                <th class="product">
                  รายการสินค้า/บริการ
                </th>
                <th class="status">
                  สถานะคำขอ
                </th>
              </tr>


              @if (kor10.product_list != null && kor10.product_list.Count() > 0 && kor10.product_list.Count() <= mMainPageProduct)
              {
                int nProduct = 0;

                foreach (var product in kor10_product_list)
                {
                  if (nProduct < mMainPageProduct)
                  {
                    <tr>
                      <td>@product.request_number</td>
                      <td>@product.request_date</td>
                      <td>@product.request_country</td>
                      <td>@product.request_nationality</td>
                      <td>@product.request_domicile</td>
                      <td>@product.product_class</td>
                      <td>@product.product</td>
                      <td>@product.status</td>
                    </tr>
                  }

                  nProduct++;
                }
              }
              else
              {
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              }
            </table>

            <div class="section-row additional clearfix">
              <label class="container">
                เพิ่มเติม (ดังแนบ)
                @if (kor10.product_list.Count() > mMainPageProduct)
                {
                  <input type="checkbox" checked>
                }
                else
                {
                  <input type="checkbox">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer clearfix">
      <div class="note">
        <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
        (ก.11)
      </div>

      <div class="section detail signature clearfix">
        @{
          nSignPerson = 0;
          nSignRepresentative = 0;
          nSignShow = 0;

          if (signPersonAll)
          {

            for (int i = 0; i < people_list.Count(); i++)
            {
              var p = people_list.ElementAtOrDefault(i);

              if (p != null)
              {
                if (nSignShow < mSignMainPage)
                {
                  <div class="section-column clearfix">
                    <div class="section-row clearfix signature-text">
                      <div class="label">(ลายมือชื่อ) </div>
                      <div class="data">

                      </div>
                      <div class="label last">เจ้าของ/ตัวแทน</div>
                    </div>
                    <div class="section-row clearfix signature-full-text">
                      <div class="label">(</div>
                      <div class="data">
                        @p.name
                      </div>
                      <div class="label">)</div>
                    </div>
                  </div>

                  nSignPerson++;
                  nSignShow++;
                }
              }
            }
          }

          if (signRepresentativeAll)
          {
            for (int i = 0; i < representative_list.Count(); i++)
            {
              var r = representative_list.ElementAtOrDefault(i);

              if (r != null)
              {
                if (nSignShow < mSignMainPage)
                {
                  <div class="section-column clearfix">
                    <div class="section-row clearfix signature-text">
                      <div class="label">(ลายมือชื่อ) </div>
                      <div class="data">

                      </div>
                      <div class="label last">เจ้าของ/ตัวแทน</div>
                    </div>
                    <div class="section-row clearfix signature-full-text">
                      <div class="label">(</div>
                      <div class="data">
                        @r.name
                      </div>
                      <div class="label">)</div>
                    </div>
                  </div>

                  nSignRepresentative++;
                  nSignShow++;
                }
              }
            }
          }
          else
          {
            @for (int i = 0; i < resultRepresentative.Length; i++)
            {
              if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
              {
                if (Int32.TryParse(resultRepresentative[i], out int num))
                {
                  var r = representative_list.ElementAtOrDefault(num - 1);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
            }
          }
        }
      </div>

      <div class="pagination">
        <div class="label">
          หน้า
        </div>
        <div class="data">
          @{
            nAllPage++;
          }
          @nAllPage
        </div>

        <div class="label">
          ของจำนวน
        </div>
        <div class="data">
          @mAllPage
        </div>
        <div class="unit">
          หน้า
        </div>
      </div>
    </div>
  </div>

  <div class="page page-two">
    <div class="header align-right">
      แบบ ก.10
    </div>

    <div class="body clearfix">
      <div class="section detail import-product-table clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            5.
          </div>

          <div class="title bold">
            สินค้าที่นำออกแสดงในงานแสดงสินค้าระหว่างประเทศ
          </div>

          <div class="section-row">
            <table border="2">
              <tr>
                <th class="product">
                  สินค้า/บริการ
                </th>
                <th class="date">
                  วัน/เดือน/ปีงานแสดงสินค้า
                </th>
                <th class="exhibition">
                  สถานที่จัดงานแสดงสินค้า/บริการ
                </th>
                <th class="owner-exhibition">
                  ผู้จัดงานแสดงสินค้า/บริการ
                </th>
              </tr>

              @if (kor10.event_list != null && kor10.event_list.Count() > 0 && kor10.event_list.Count() <= mMainPageEvent)
              {
                int nEvent = 0;

                foreach (var kor10_event in kor10_event_list)
                {
                  if (nEvent < mMainPageEvent)
                  {
                    <tr>
                      <td>@kor10_event.product</td>
                      <td>@kor10_event.event_date</td>
                      <td>@kor10_event.event_place</td>
                      <td>@kor10_event.event_organizer</td>
                    </tr>
                  }

                  nEvent++;
                }
              }
              else
              {
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              }
            </table>

            <div class="section-row additional clearfix">
              <label class="container">
                เพิ่มเติม (ดังแนบ)
                @if (kor10.event_list.Count() > mMainPageEvent)
                {
                  <input type="checkbox" checked>
                }
                else
                {
                  <input type="checkbox">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="section document detail clearfix">
        <div class="section-row clearfix">
          <div class="number bold with-title">
            6.
          </div>

          <div class="title bold">
            เอกสารหลักฐานประกอบคำขอ มีดังต่อไปนี้
          </div>
        </div>

        <div class="section-row">
          <div class="section-row clearfix">
            <label class="container">
              สำเนาคำขอจดทะเบียนนอกราชอาณาจักร
              @if ((kor10.is_11_1_1.HasValue) ? kor10.is_11_1_1.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              หลักฐานแสดงว่าผู้ขอได้นำสินค้าที่ใช้เครื่องหมายออกแสดงในงานแสดงสินค้าระหว่างประเทศ
              @if ((kor10.is_11_1_1.HasValue) ? kor10.is_11_1_1.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              หนังสือรับรองการจัดงานแสดงสินค้าระหว่างประเทศ
              @if ((kor10.is_11_1_2.HasValue) ? kor10.is_11_1_2.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              เอกสารแสดงว่านิติบุคคลที่ยื่นคำขอจดทะเบียนครั้งแรกมีสำนักงานแห่งใหญ่อยู่ในประเทศไทย
              @if ((kor10.is_11_1_3.HasValue) ? kor10.is_11_1_3.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              เอกสารที่แสดงว่าผู้ขอมีภูมิลำเนาหรือประกอบอุตสาหกรรมหรือพาณิชยกรรมอย่างจริงจังในประเทศไทย
              @if ((kor10.is_11_1_4.HasValue) ? kor10.is_11_1_4.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              หนังสือรับรองที่แสดงว่าคำขอจดทะเบียนครั้งแรกไม่เคยถูกปฏิเสธหรือถอนคืนหรือละทิ้ง
              @if ((kor10.is_11_1_5.HasValue) ? kor10.is_11_1_5.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              หนังสือรับรองที่แสดงว่าคำขอจดทะเบียนครั้งแรกถูกปฏิเสธหรือถอนคืนหรือละทิ้ง
              แต่ยังไม่เคยขอใช้สิทธิและไม่อาจดำเนินการใด <br /> ตามกฎหมายของประเทศนั้นและไม่ได้มีการเปิดเผยต่อสาธารณชน
              @if ((kor10.is_11_1_6.HasValue) ? kor10.is_11_1_6.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              คำแปลเป็นภาษาไทย
              @if ((kor10.is_11_1_7.HasValue) ? kor10.is_11_1_7.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row other clearfix">
            <label class="container">
              เอกสารอื่น ๆ (ระบุ)
              @if ((kor10.is_11_1_8.HasValue) ? kor10.is_11_1_8.Value : false)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="data">
              @if ((kor10.is_11_1_9.HasValue) ? kor10.is_11_1_9.Value : false)
              {
                @kor10.remark_11_1_9
              }
            </div>
          </div>

        </div>
      </div>

      <div class="section detail other clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            7.
          </div>
        </div>

        <div class="section detail signature clearfix">

          @{
            nSignPerson = 0;
            nSignRepresentative = 0;
            nSignShow = 0;

            if (signPersonAll)
            {

              for (int i = 0; i < people_list.Count(); i++)
              {
                var p = people_list.ElementAtOrDefault(i);

                if (p != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @p.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignPerson++;
                    nSignShow++;
                  }
                }
              }
            }

            if (signRepresentativeAll)
            {
              for (int i = 0; i < representative_list.Count(); i++)
              {
                var r = representative_list.ElementAtOrDefault(i);

                if (r != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @r.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignRepresentative++;
                    nSignShow++;
                  }
                }
              }
            }
            else
            {
              @for (int i = 0; i < resultRepresentative.Length; i++)
              {
                if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                {
                  if (Int32.TryParse(resultRepresentative[i], out int num))
                  {
                    var r = representative_list.ElementAtOrDefault(num - 1);

                    if (r != null)
                    {
                      if (nSignShow < mSignMainPage)
                      {
                        <div class="section-column clearfix">
                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label last">เจ้าของ/ตัวแทน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">
                              @r.name
                            </div>
                            <div class="label">)</div>
                          </div>
                        </div>

                        nSignRepresentative++;
                        nSignShow++;
                      }
                    }
                  }
                }
              }
            }
          }
        </div>

      </div>
    </div>

    <div class="footer clearfix">
      <div class="note">
        <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
        (ก.11)
      </div>

      <div class="pagination">
        <div class="label">
          หน้า
        </div>
        <div class="data">
          @{
            nAllPage++;
          }
          @nAllPage
        </div>

        <div class="label">
          ของจำนวน
        </div>
        <div class="data">
          @mAllPage
        </div>
        <div class="unit">
          หน้า
        </div>
      </div>
    </div>
  </div>

  @*Kor11*@
  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. เจ้าของ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people_item = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people_item.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people_item.address_details_1 + " " + people_item.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people_item.nationality_codeNavigation != null) ? "สัญชาติ " + people_item.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people_item.career_codeNavigation != null) ? "อาชีพ " + people_item.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people_item.card_number) && people_item.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people_item.card_number[0] + " "
                            + people_item.card_number.Substring(1, 4) + " "
                            + people_item.card_number.Substring(5, 5) + " "
                            + people_item.card_number.Substring(10, 2) + " "
                            + people_item.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน @*waiting for edit*@
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative_item = representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nRepresentative + ". ชื่อ\t" + representative_item.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + representative_item.address_details_1 + " " + representative_item.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (representative_item.nationality_codeNavigation != null) ? "สัญชาติ " + representative_item.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (representative_item.career_codeNavigation != null) ? "อาชีพ " + representative_item.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(representative_item.card_number) && representative_item.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + representative_item.card_number[0] + " "
                            + representative_item.card_number.Substring(1, 4) + " "
                            + representative_item.card_number.Substring(5, 5) + " "
                            + representative_item.card_number.Substring(10, 2) + " "
                            + representative_item.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 4 ### *@
  @if (mPageProduct > 0)
  {
    int nProduct = nStartProduct;

    for (int nPageProduct = 1; nPageProduct <= mPageProduct; nPageProduct++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                4. คำขอจดทะเบียนที่ยื่นนอกราชอาณาจักรครั้งแรก
              </div>

              <div class="section-row">
                <table border="2">
                  <tr>
                    <th class="request-id">
                      เลขที่คำขอ
                    </th>
                    <th class="request-date">
                      วันที่ยื่นคำขอ
                    </th>
                    <th class="request-in-country">
                      ประเทศที่ยื่นคำขอ
                    </th>
                    <th class="requester-national">
                      สัญชาติผู้ขอ
                    </th>
                    <th class="requester-address">
                      ภูมิลำเนาของผู้ขอ
                    </th>
                    <th class="type-group">
                      จำพวกที่
                    </th>
                    <th class="product">
                      รายการสินค้า/บริการ
                    </th>
                    <th class="status">
                      สถานะคำขอ
                    </th>
                  </tr>

                  @{
                    int nProductPerPage = (nPageProduct == mPageProduct) ? (kor10_product_list.Count() - nStartProduct + 1) % mProductPerPage : mProductPerPage;

                    @for (int i = 0; i < nProductPerPage; i++)
                    {
                      int indx = (mProductPerPage * (nPageProduct - 1)) + i + nStartProduct - 1;
                      var product = kor10_product_list[indx];

                      <tr>
                        <td>@product.request_number</td>
                        <td>@product.request_date</td>
                        <td>@product.request_country</td>
                        <td>@product.request_nationality</td>
                        <td>@product.request_domicile</td>
                        <td>@product.product_class</td>
                        <td>@product.product</td>
                        <td>@product.status</td>
                      </tr>

                      nProduct++;
                    }
                  }
                </table>
              </div>
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 5 ### *@
  @if (mPageEvent > 0)
  {
    int nEvent = nStartEvent;

    for (int nPageEvent = 1; nPageEvent <= mPageEvent; nPageEvent++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                5. สินค้าที่นำออกแสดงในงานแสดงสินค้าระหว่างประเทศ
              </div>

              <div class="section-row">
                <table border="2">
                  <tr>
                    <th class="product">
                      สินค้า/บริการ
                    </th>
                    <th class="date">
                      วัน/เดือน/ปีงานแสดงสินค้า
                    </th>
                    <th class="exhibition">
                      สถานที่จัดงานแสดงสินค้า/บริการ
                    </th>
                    <th class="owner-exhibition">
                      ผู้จัดงานแสดงสินค้า/บริการ
                    </th>
                  </tr>

                  @{
                    int nEventPerPage = (nPageEvent == mPageEvent) ? (kor10_event_list.Count() - nStartEvent + 1) % mEventPerPage : mEventPerPage;

                    @for (int i = 0; i < nEventPerPage; i++)
                    {
                      int indx = (mEventPerPage * (nPageEvent - 1)) + i + nStartEvent - 1;
                      var kor10_event = kor10_event_list[indx];

                      <tr>
                        <td>@kor10_event.product</td>
                        <td>@kor10_event.event_date</td>
                        <td>@kor10_event.event_place</td>
                        <td>@kor10_event.event_organizer</td>
                      </tr>

                      nEvent++;
                    }
                  }
                </table>
              </div>
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
