﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM11_12PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm11-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view != null ? Model.view : new eForm_Save120View();

    var people_list = view.people_list != null ? view.people_list : new List<SaveAddressView>();
    var representative_list = view.representative_list != null ? view.representative_list : new List<SaveAddressView>();
    var remark5 = (!string.IsNullOrEmpty(view.remark_5)) ? view.remark_5 : "";
    var remark6 = (!string.IsNullOrEmpty(view.remark_6)) ? view.remark_6 : "";

    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nTextStartRemark5 = 1;// 381;
    int nTextStartRemark6 = 1;// 391;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mTextRemark5PerPage = 3000;
    int mTextRemark6PerPage = 3000;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mTextMainPageRemark5 = 800;
    int mTextMainPageRemark6 = 800;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreRemark5 = (remark5.Length > mTextMainPageRemark5) ? true : false;
    bool isMoreRemark6 = (remark6.Length > mTextMainPageRemark6) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageRemark5 = (isMoreRemark5) ? Convert.ToInt32(Math.Ceiling((remark5.Length - nTextStartRemark5 + 1) * 1.0 / mTextRemark5PerPage)) : 0;
    int mPageRemark6 = (isMoreRemark6) ? Convert.ToInt32(Math.Ceiling((remark6.Length - nTextStartRemark6 + 1) * 1.0 / mTextRemark6PerPage)) : 0;

    int nAllPage = 0;
    int mAllPage = mPagePeople + mPageRepresentative + mPageRemark5 + mPageRemark6;

    #region init signer
    //init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    const int mSignPerLine = 5;
    int mSignLinePerPage = 2;
    const int nStartSign = mSignMainPage + 1;
    int mSignPerson = 0;
    int mSignRepresentative = 0;
    int mSignAll = 0;

    if (signPersonAll)
    {
      mSignPerson = people_list.Count();
    }

    if (signRepresentativeAll)
    {
      mSignRepresentative = representative_list.Count();
    }
    else
    {
      for (int i = 0; i < resultRepresentative.Length; i++)
      {
        if (Int32.TryParse(resultRepresentative[i], out int num))
        {
          if (representative_list.ElementAtOrDefault(num - 1) != null)
          {
            mSignRepresentative++;
          }
        }
      }
    }
    mSignAll = mSignPerson + mSignRepresentative;

    int mLineSign = (mSignAll >= nStartSign) ? Convert.ToInt32(Math.Ceiling((mSignAll - nStartSign + 1) * 1.0 / mSignPerLine)) : 0;
    int mPageSign = (mSignAll >= nStartSign) ? Convert.ToInt32(Math.Ceiling(mLineSign * 1.0 / mSignLinePerPage)) : 0;
    #endregion
  }

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    12
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. เจ้าของ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people.address_details_1 + " " + people.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people.nationality_codeNavigation != null) ? "สัญชาติ " + people.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people.career_codeNavigation != null) ? "อาชีพ " + people.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people.card_number) && people.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people.card_number[0] + " "
                            + people.card_number.Substring(1, 4) + " "
                            + people.card_number.Substring(5, 5) + " "
                            + people.card_number.Substring(10, 2) + " "
                            + people.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    12
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน @*waiting for edit*@
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative = representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nRepresentative + ". ชื่อ\t" + representative.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + representative.address_details_1 + " " + representative.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (representative.nationality_codeNavigation != null) ? "สัญชาติ " + representative.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (representative.career_codeNavigation != null) ? "อาชีพ " + representative.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(representative.card_number) && representative.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + representative.card_number[0] + " "
                            + representative.card_number.Substring(1, 4) + " "
                            + representative.card_number.Substring(5, 5) + " "
                            + representative.card_number.Substring(10, 2) + " "
                            + representative.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 3 ### *@
  @if (mPageRemark5 > 0)
  {
    for (int nPageRemark5 = 1; nPageRemark5 <= mPageRemark5; nPageRemark5++)
    {
      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    12
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                3. ข้าพเจ้าไม่ขอถือเป็นสิทธิแต่ผู้เดียวที่จะใช้
              </div>

              @{
                int nTextRemark5PerPage = (nPageRemark5 == mPageRemark5) ? (remark5.Length - nTextStartRemark5 + 1) % mTextRemark5PerPage : mTextRemark5PerPage;

                string txt = remark5.Substring(nTextStartRemark5 - 1, nTextRemark5PerPage);

                if (nTextStartRemark5 + nTextRemark5PerPage - 1 < remark5.Length)
                {
                  nTextStartRemark5 += nTextRemark5PerPage;
                }

                //multi line
                <div>
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 4 ### *@
  @if (mPageRemark6 > 0)
  {
    for (int nPageRemark6 = 1; nPageRemark6 <= mPageRemark6; nPageRemark6++)
    {
      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    12
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                4. ข้าพเจ้าขอรับรองว่า
              </div>

              @{
                int nTextRemark6PerPage = (nPageRemark6 == mPageRemark6) ? (remark6.Length - nTextStartRemark6 + 1) % mTextRemark6PerPage : mTextRemark6PerPage;

                string txt = remark6.Substring(nTextStartRemark6 - 1, nTextRemark6PerPage);

                if (nTextStartRemark6 + nTextRemark6PerPage - 1 < remark6.Length)
                {
                  nTextStartRemark6 += nTextRemark6PerPage;
                }

                //multi line
                <div>
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
