﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM11_18PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm11-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view != null ? Model.view : new eForm_Save010View();

    var people_list = view.people_list != null ? view.people_list : new List<SaveAddressView>();
    var representative_list = view.representative_list != null ? view.representative_list : new List<SaveAddressView>();

    int nStartPeople = 2;
    int nStartRepresentative = 2;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;

    int mPagePeople = (people_list.Count() >= nStartPeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (representative_list.Count() >= nStartRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;

    int nAllPage = 0;
    int mAllPage = mPagePeople + mPageRepresentative;


    //init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;

    const int mSignMainPagePerson = 1;
    const int mSignMainPageRepresentative = 1;
    const int mSignPerLine = 2; //fixed, if mSignPerLine has changed must change patern too
    const int mSignPerLinePerson = mSignPerLine;
    const int mSignPerLineRepresentative = mSignPerLine;
    const int nStartSignPerson = mSignMainPagePerson + 1;
    const int nStartSignRepresentatvie = mSignMainPageRepresentative + 1;
    int mSignLinePerPage = 5;
    int mSignPerson = 0;
    int mSignRepresentative = 0;

    if (signPersonAll)
    {
      mSignPerson = people_list.Count();
    }

    if (signRepresentativeAll)
    {
      mSignRepresentative = representative_list.Count();
    }
    else
    {
      for (int i = 0; i < resultRepresentative.Length; i++)
      {
        if (Int32.TryParse(resultRepresentative[i], out int num))
        {
          if (representative_list.ElementAtOrDefault(num - 1) != null)
          {
            mSignRepresentative++;
          }
        }
      }
    }

    int mLineSignPerson = (mSignPerson >= nStartSignPerson) ? Convert.ToInt32(Math.Ceiling((mSignPerson - nStartSignPerson + 1) * 1.0 / mSignPerLinePerson)) : 0;
    int mLineSignRepresentative = (mSignRepresentative >= nStartSignRepresentatvie) ? Convert.ToInt32(Math.Ceiling((mSignRepresentative - nStartSignRepresentatvie + 1) * 1.0 / mSignPerLineRepresentative)) : 0;
    int mPageSign = (mSignPerson + mSignRepresentative >= nStartSignPerson + nStartSignRepresentatvie) ? Convert.ToInt32(Math.Ceiling((mLineSignPerson + mLineSignRepresentative) * 1.0 / mSignLinePerPage)) : 0;

    mAllPage += (mAllPage * mPageSign);
  }

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    18
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                ผู้มอบอำนาจ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people = people_list[indx];

                  <div class="section-row clearfix">
                    <div class="section-data-set name">
                      <div class="label">
                        และ
                      </div>

                      <div class="data">
                        @people.name
                      </div>
                    </div>
                    <div class="section-data-set nationality">
                      <div class="label">
                        สัญชาติ
                      </div>

                      <div class="data">
                        @{ var people_nationality = (people.nationality_codeNavigation != null) ? people.nationality_codeNavigation.name : "";}
                        @people_nationality
                      </div>
                    </div>
                  </div>

                  <div class="section-row clearfix address">
                    <div class="section-data-set house-no">
                      <div class="label">
                        ที่อยู่เลขที่
                      </div>

                      <div class="data">
                        @people.house_number
                      </div>
                    </div>

                    <div class="section-data-set lane">
                      <div class="label">
                        ซอย
                      </div>

                      <div class="data">
                        @people.alley
                      </div>
                    </div>

                    <div class="section-data-set road">
                      <div class="label">
                        ถนน
                      </div>

                      <div class="data">
                        @people.street
                      </div>
                    </div>

                    <div class="section-data-set sub-district">
                      <div class="label">
                        แขวง/ตำบล
                      </div>

                      <div class="data">
                        @{ var people_sub_district = (people.address_sub_district_codeNavigation != null) ? people.address_sub_district_codeNavigation.name : "";}
                        @people_sub_district
                      </div>
                    </div>
                  </div>

                  <div class="section-row clearfix address">
                    <div class="section-data-set district">
                      <div class="label">
                        เขต/อำเภอ
                      </div>

                      <div class="data">
                        @{ var people_district = (people.address_district_codeNavigation != null) ? people.address_district_codeNavigation.name : "";}
                        @people_district
                      </div>
                    </div>

                    <div class="section-data-set province">
                      <div class="label">
                        จังหวัด
                      </div>

                      <div class="data">
                        @{ var people_province = (people.address_province_codeNavigation != null) ? people.address_province_codeNavigation.name : "";}
                        @people_province
                      </div>
                    </div>

                    <div class="section-data-set postal-code">
                      <div class="label">
                        รหัสไปรษณีย์
                      </div>

                      <div class="data">
                        @people.postal_code
                      </div>
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail note clearfix">

            <div class="signature">
              <div class="section detail column-inside clearfix">
                <div class="section-row">
                  @{
                    nSignPerson = 0;
                    nSignRepresentative = 0;

                    if (signPersonAll)
                    {

                      for (int i = 0; i < people_list.Count(); i++)
                      {
                        var p = people_list.ElementAtOrDefault(i);

                        if (p != null)
                        {
                          if (nSignPerson < mSignMainPagePerson)
                          {

                            @if (mSignPerson + mSignRepresentative == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้มอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @p.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-column transferer">
                                <div class="section-row spacing note clearfix">
                                  <div class="section detail signature clearfix">

                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้มอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @p.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>

                                  </div>
                                </div>
                              </div>
                            }

                            nSignPerson++;
                          }
                        }
                      }
                    }
                    else
                    {
                      <div class="section-column transferer">
                        <div class="section-row spacing note clearfix">
                          <div class="section detail signature clearfix">

                            <div class="section-row clearfix">

                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้มอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">

                                </div>
                                <div class="label">)</div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                    }

                    if (signRepresentativeAll)
                    {
                      for (int i = 0; i < representative_list.Count(); i++)
                      {
                        var r = representative_list.ElementAtOrDefault(i);

                        if (r != null)
                        {
                          if (nSignRepresentative < mSignMainPageRepresentative)
                          {
                            @if (mSignPerson + mSignRepresentative == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้รับมอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">
                                  @r.name
                                </div>
                                <div class="label">)</div>
                              </div>
                            }

                            nSignRepresentative++;
                          }
                        }
                      }
                    }
                    else if (mSignRepresentative != 0)
                    {
                      @for (int i = 0; i < resultRepresentative.Length; i++)
                      {
                        if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                        {
                          if (Int32.TryParse(resultRepresentative[i], out int num))
                          {
                            var r = representative_list.ElementAtOrDefault(num - 1);

                            if (r != null)
                            {
                              if (nSignRepresentative < mSignMainPageRepresentative)
                              {
                                @if (mSignPerson + mSignRepresentative == 1)
                                {
                                  //waiting set position to center
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>
                                }
                                else
                                {
                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>
                                }

                                nSignRepresentative++;
                              }
                            }
                          }
                        }
                      }
                    }
                    else
                    {
                      <div class="section-column transferer">
                        <div class="section-row spacing note clearfix">
                          <div class="section detail signature clearfix">

                            <div class="section-row clearfix">

                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้รับมอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">

                                </div>
                                <div class="label">)</div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>

              <div class="section detail column-inside clearfix">
                <div class="section-row">

                  <div class="section-column transferer">
                    <div class="section-row spacing note clearfix">
                      <div class="section detail signature clearfix">

                        <div class="section-row clearfix">

                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label">พยาน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">

                            </div>
                            <div class="label">)</div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="section-column transferer">
                    <div class="section-row spacing note clearfix">
                      <div class="section detail signature clearfix">

                        <div class="section-row clearfix">

                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label">พยาน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">

                            </div>
                            <div class="label">)</div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>

      @*### Overflow Signature Page 1 ###*@
      @if (mPageSign > 0)
      {
        nSignPerson = nStartSignPerson - 1;
        nSignRepresentative = nStartSignRepresentatvie - 1;


        for (int nPageSign = 1; nPageSign <= mPageSign; nPageSign++)
        {
          int nRow = 0;

          <div class="page-one">
            <div class="header">
            </div>

            <div class="body clearfix">
              <div class="section detail clearfix">
                @while (nSignPerson < mSignPerson && nRow < mSignLinePerPage)
                {
                  int nColumn = 0;
                  <div class="section detail column-inside clearfix">
                    <div class="section-row">

                      @for (int i = nSignPerson; i < mSignPerson && nColumn < mSignPerLinePerson; i++)
                      {
                        var p = people_list.ElementAtOrDefault(i);

                        if (p != null)
                        {

                          @if (nSignPerson == mSignPerson - 1 && mSignPerson % 2 == 1)
                          {
                            //waiting set position to center
                            <div class="section detail signature clearfix">
                              <div class="section-row clearfix">

                                <div class="section-row clearfix signature-text">
                                  <div class="label">(ลายมือชื่อ) </div>
                                  <div class="data">

                                  </div>
                                  <div class="label">ผู้มอบอำนาจ</div>
                                </div>
                                <div class="section-row clearfix signature-full-text">
                                  <div class="label">(</div>
                                  <div class="data">
                                    @p.name
                                  </div>
                                  <div class="label">)</div>
                                </div>

                              </div>
                            </div>
                          }
                          else
                          {
                            <div class="section-column transferer">
                              <div class="section-row spacing note clearfix">
                                <div class="section detail signature clearfix">
                                  <div class="section-row clearfix">

                                    <div class="section-row clearfix signature-text">
                                      <div class="label">(ลายมือชื่อ) </div>
                                      <div class="data">

                                      </div>
                                      <div class="label">ผู้มอบอำนาจ</div>
                                    </div>
                                    <div class="section-row clearfix signature-full-text">
                                      <div class="label">(</div>
                                      <div class="data">
                                        @p.name
                                      </div>
                                      <div class="label">)</div>
                                    </div>

                                  </div>
                                </div>

                              </div>
                            </div>
                          }

                          nColumn++;
                          nSignPerson++;
                        }
                      }
                    </div>
                  </div>

                  nRow++;
                }

                @while (nSignRepresentative < mSignRepresentative && nRow < mSignLinePerPage)
                {
                  int nColumn = 0;
                  <div class="section detail column-inside clearfix">
                    <div class="section-row">

                      @if (signRepresentativeAll)
                      {
                        @for (int i = nSignRepresentative; i < mSignRepresentative && nColumn < mSignPerLineRepresentative; i++)
                        {
                          var r = representative_list.ElementAtOrDefault(i);

                          if (r != null)
                          {

                            @if (nSignRepresentative == mSignRepresentative - 1 && mSignRepresentative % 2 == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-column transferer">
                                <div class="section-row spacing note clearfix">
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>

                                </div>
                              </div>
                            }

                            nColumn++;
                            nSignRepresentative++;
                          }
                        }
                      }
                      else
                      {
                        @for (int i = nSignRepresentative; i < mSignRepresentative && nColumn < mSignPerLineRepresentative; i++)
                        {
                          if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                          {
                            if (Int32.TryParse(resultRepresentative[i], out int num))
                            {
                              var r = representative_list.ElementAtOrDefault(num - 1);

                              if (r != null)
                              {

                                @if (nSignRepresentative == mSignRepresentative - 1 && mSignRepresentative % 2 == 1)
                                {
                                  //waiting set position to center
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>
                                }
                                else
                                {
                                  <div class="section-column transferer">
                                    <div class="section-row spacing note clearfix">
                                      <div class="section detail signature clearfix">
                                        <div class="section-row clearfix">

                                          <div class="section-row clearfix signature-text">
                                            <div class="label">(ลายมือชื่อ) </div>
                                            <div class="data">

                                            </div>
                                            <div class="label">ผู้รับมอบอำนาจ</div>
                                          </div>
                                          <div class="section-row clearfix signature-full-text">
                                            <div class="label">(</div>
                                            <div class="data">
                                              @r.name
                                            </div>
                                            <div class="label">)</div>
                                          </div>

                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                }

                                nColumn++;
                                nSignRepresentative++;
                              }
                            }
                          }
                        }
                      }
                    </div>
                  </div>

                  nRow++;
                }

              </div>
            </div>

            <div class="footer clearfix">
              <div class="note">
              </div>

              <div class="pagination">
                <div class="label">
                  หน้า
                </div>
                <div class="data">
                  @{
                    nAllPage++;
                  }
                  @nAllPage
                </div>

                <div class="label">
                  ของจำนวน
                </div>
                <div class="data">
                  @mAllPage
                </div>
                <div class="unit">
                  หน้า
                </div>
              </div>
            </div>
          </div>
        }
      }
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    18
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                ผู้รับมอบอำนาจ
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative = representative_list[indx];
                  string ConnectWord = "และ/หรือ";
                  string LastWord = "";

                  <div class="section-row clearfix">
                    <div class="section-data-set appointment">
                      <div class="label">
                        @if (!string.IsNullOrEmpty(view.save010_representative_condition_type_code))
                        {
                          string str = view.save010_representative_condition_type_code;
                          if (str == "AND")
                          {
                            ConnectWord = "และ";
                          }
                          else if (str == "OR")
                          {
                            ConnectWord = "หรือ";
                          }
                          else
                          {
                            ConnectWord = "และ/หรือ";
                          }
                        }
                        @ConnectWord
                      </div>

                      <div class="data">
                        @representative.name
                      </div>
                    </div>
                    <div class="section-data-set nationality">
                      <div class="label">
                        สัญชาติ
                      </div>

                      <div class="data">

                      </div>
                    </div>
                  </div>

                  <div class="section-row clearfix address">
                    <div class="section-data-set house-no">
                      <div class="label">
                        ที่อยู่เลขที่
                      </div>

                      <div class="data">
                        @representative.house_number
                      </div>
                    </div>

                    <div class="section-data-set lane">
                      <div class="label">
                        ซอย
                      </div>

                      <div class="data">
                        @representative.alley
                      </div>
                    </div>

                    <div class="section-data-set road">
                      <div class="label">
                        ถนน
                      </div>

                      <div class="data">
                        @representative.street
                      </div>
                    </div>

                    <div class="section-data-set sub-district">
                      <div class="label">
                        แขวง/ตำบล
                      </div>

                      <div class="data">
                        @{ var representative_sub_district = (representative.address_sub_district_codeNavigation != null) ? representative.address_sub_district_codeNavigation.name : "";}
                        @representative_sub_district
                      </div>
                    </div>
                  </div>

                  <div class="section-row clearfix address">
                    <div class="section-data-set district">
                      <div class="label">
                        เขต/อำเภอ
                      </div>

                      <div class="data">
                        @{ var representative_district = (representative.address_district_codeNavigation != null) ? representative.address_district_codeNavigation.name : ""; }
                        @representative_district
                      </div>
                    </div>

                    <div class="section-data-set province">
                      <div class="label">
                        จังหวัด
                      </div>

                      <div class="data">
                        @{ var representative_province = (representative.address_province_codeNavigation != null) ? representative.address_province_codeNavigation.name : ""; }
                        @representative_province
                      </div>

                      <div class="label">
                        @{
                          LastWord = (indx == representative_list.Count() - 1) ? "เป็นตัวแทนของข้าพเจ้า" : "";
                        }
                        @LastWord
                      </div>
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail note clearfix">

            <div class="signature">
              <div class="section detail column-inside clearfix">
                <div class="section-row">
                  @{
                    nSignPerson = 0;
                    nSignRepresentative = 0;

                    if (signPersonAll)
                    {

                      for (int i = 0; i < people_list.Count(); i++)
                      {
                        var p = people_list.ElementAtOrDefault(i);

                        if (p != null)
                        {
                          if (nSignPerson < mSignMainPagePerson)
                          {

                            @if (mSignPerson + mSignRepresentative == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้มอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @p.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-column transferer">
                                <div class="section-row spacing note clearfix">
                                  <div class="section detail signature clearfix">

                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้มอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @p.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>

                                  </div>
                                </div>
                              </div>
                            }

                            nSignPerson++;
                          }
                        }
                      }
                    }
                    else
                    {
                      <div class="section-column transferer">
                        <div class="section-row spacing note clearfix">
                          <div class="section detail signature clearfix">

                            <div class="section-row clearfix">

                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้มอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">

                                </div>
                                <div class="label">)</div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                    }

                    if (signRepresentativeAll)
                    {
                      for (int i = 0; i < representative_list.Count(); i++)
                      {
                        var r = representative_list.ElementAtOrDefault(i);

                        if (r != null)
                        {
                          if (nSignRepresentative < mSignMainPageRepresentative)
                          {
                            @if (mSignPerson + mSignRepresentative == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้รับมอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">
                                  @r.name
                                </div>
                                <div class="label">)</div>
                              </div>
                            }

                            nSignRepresentative++;
                          }
                        }
                      }
                    }
                    else if (mSignRepresentative != 0)
                    {
                      @for (int i = 0; i < resultRepresentative.Length; i++)
                      {
                        if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                        {
                          if (Int32.TryParse(resultRepresentative[i], out int num))
                          {
                            var r = representative_list.ElementAtOrDefault(num - 1);

                            if (r != null)
                            {
                              if (nSignRepresentative < mSignMainPageRepresentative)
                              {
                                @if (mSignPerson + mSignRepresentative == 1)
                                {
                                  //waiting set position to center
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>
                                }
                                else
                                {
                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>
                                }

                                nSignRepresentative++;
                              }
                            }
                          }
                        }
                      }
                    }
                    else
                    {
                      <div class="section-column transferer">
                        <div class="section-row spacing note clearfix">
                          <div class="section detail signature clearfix">

                            <div class="section-row clearfix">

                              <div class="section-row clearfix signature-text">
                                <div class="label">(ลายมือชื่อ) </div>
                                <div class="data">

                                </div>
                                <div class="label">ผู้รับมอบอำนาจ</div>
                              </div>
                              <div class="section-row clearfix signature-full-text">
                                <div class="label">(</div>
                                <div class="data">

                                </div>
                                <div class="label">)</div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>

              <div class="section detail column-inside clearfix">
                <div class="section-row">

                  <div class="section-column transferer">
                    <div class="section-row spacing note clearfix">
                      <div class="section detail signature clearfix">

                        <div class="section-row clearfix">

                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label">พยาน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">

                            </div>
                            <div class="label">)</div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="section-column transferer">
                    <div class="section-row spacing note clearfix">
                      <div class="section detail signature clearfix">

                        <div class="section-row clearfix">

                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label">พยาน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">

                            </div>
                            <div class="label">)</div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>

      @*### Overflow Signature Page 1 ###*@
      @if (mPageSign > 0)
      {
        nSignPerson = nStartSignPerson - 1;
        nSignRepresentative = nStartSignRepresentatvie - 1;


        for (int nPageSign = 1; nPageSign <= mPageSign; nPageSign++)
        {
          int nRow = 0;

          <div class="page-one">
            <div class="header">
            </div>

            <div class="body clearfix">
              <div class="section detail clearfix">
                @while (nSignPerson < mSignPerson && nRow < mSignLinePerPage)
                {
                  int nColumn = 0;
                  <div class="section detail column-inside clearfix">
                    <div class="section-row">

                      @for (int i = nSignPerson; i < mSignPerson && nColumn < mSignPerLinePerson; i++)
                      {
                        var p = people_list.ElementAtOrDefault(i);

                        if (p != null)
                        {

                          @if (nSignPerson == mSignPerson - 1 && mSignPerson % 2 == 1)
                          {
                            //waiting set position to center
                            <div class="section detail signature clearfix">
                              <div class="section-row clearfix">

                                <div class="section-row clearfix signature-text">
                                  <div class="label">(ลายมือชื่อ) </div>
                                  <div class="data">

                                  </div>
                                  <div class="label">ผู้มอบอำนาจ</div>
                                </div>
                                <div class="section-row clearfix signature-full-text">
                                  <div class="label">(</div>
                                  <div class="data">
                                    @p.name
                                  </div>
                                  <div class="label">)</div>
                                </div>

                              </div>
                            </div>
                          }
                          else
                          {
                            <div class="section-column transferer">
                              <div class="section-row spacing note clearfix">
                                <div class="section detail signature clearfix">
                                  <div class="section-row clearfix">

                                    <div class="section-row clearfix signature-text">
                                      <div class="label">(ลายมือชื่อ) </div>
                                      <div class="data">

                                      </div>
                                      <div class="label">ผู้มอบอำนาจ</div>
                                    </div>
                                    <div class="section-row clearfix signature-full-text">
                                      <div class="label">(</div>
                                      <div class="data">
                                        @p.name
                                      </div>
                                      <div class="label">)</div>
                                    </div>

                                  </div>
                                </div>

                              </div>
                            </div>
                          }

                          nColumn++;
                          nSignPerson++;
                        }
                      }
                    </div>
                  </div>

                  nRow++;
                }

                @while (nSignRepresentative < mSignRepresentative && nRow < mSignLinePerPage)
                {
                  int nColumn = 0;
                  <div class="section detail column-inside clearfix">
                    <div class="section-row">

                      @if (signRepresentativeAll)
                      {
                        @for (int i = nSignRepresentative; i < mSignRepresentative && nColumn < mSignPerLineRepresentative; i++)
                        {
                          var r = representative_list.ElementAtOrDefault(i);

                          if (r != null)
                          {

                            @if (nSignRepresentative == mSignRepresentative - 1 && mSignRepresentative % 2 == 1)
                            {
                              //waiting set position to center
                              <div class="section detail signature clearfix">
                                <div class="section-row clearfix">

                                  <div class="section-row clearfix signature-text">
                                    <div class="label">(ลายมือชื่อ) </div>
                                    <div class="data">

                                    </div>
                                    <div class="label">ผู้รับมอบอำนาจ</div>
                                  </div>
                                  <div class="section-row clearfix signature-full-text">
                                    <div class="label">(</div>
                                    <div class="data">
                                      @r.name
                                    </div>
                                    <div class="label">)</div>
                                  </div>

                                </div>
                              </div>
                            }
                            else
                            {
                              <div class="section-column transferer">
                                <div class="section-row spacing note clearfix">
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>

                                </div>
                              </div>
                            }

                            nColumn++;
                            nSignRepresentative++;
                          }
                        }
                      }
                      else
                      {
                        @for (int i = nSignRepresentative; i < mSignRepresentative && nColumn < mSignPerLineRepresentative; i++)
                        {
                          if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                          {
                            if (Int32.TryParse(resultRepresentative[i], out int num))
                            {
                              var r = representative_list.ElementAtOrDefault(num - 1);

                              if (r != null)
                              {

                                @if (nSignRepresentative == mSignRepresentative - 1 && mSignRepresentative % 2 == 1)
                                {
                                  //waiting set position to center
                                  <div class="section detail signature clearfix">
                                    <div class="section-row clearfix">

                                      <div class="section-row clearfix signature-text">
                                        <div class="label">(ลายมือชื่อ) </div>
                                        <div class="data">

                                        </div>
                                        <div class="label">ผู้รับมอบอำนาจ</div>
                                      </div>
                                      <div class="section-row clearfix signature-full-text">
                                        <div class="label">(</div>
                                        <div class="data">
                                          @r.name
                                        </div>
                                        <div class="label">)</div>
                                      </div>

                                    </div>
                                  </div>
                                }
                                else
                                {
                                  <div class="section-column transferer">
                                    <div class="section-row spacing note clearfix">
                                      <div class="section detail signature clearfix">
                                        <div class="section-row clearfix">

                                          <div class="section-row clearfix signature-text">
                                            <div class="label">(ลายมือชื่อ) </div>
                                            <div class="data">

                                            </div>
                                            <div class="label">ผู้รับมอบอำนาจ</div>
                                          </div>
                                          <div class="section-row clearfix signature-full-text">
                                            <div class="label">(</div>
                                            <div class="data">
                                              @r.name
                                            </div>
                                            <div class="label">)</div>
                                          </div>

                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                }

                                nColumn++;
                                nSignRepresentative++;
                              }
                            }
                          }
                        }
                      }
                    </div>
                  </div>

                  nRow++;
                }

              </div>
            </div>

            <div class="footer clearfix">
              <div class="note">
              </div>

              <div class="pagination">
                <div class="label">
                  หน้า
                </div>
                <div class="data">
                  @{
                    nAllPage++;
                  }
                  @nAllPage
                </div>

                <div class="label">
                  ของจำนวน
                </div>
                <div class="data">
                  @mAllPage
                </div>
                <div class="unit">
                  หน้า
                </div>
              </div>
            </div>
          </div>
        }
      }
    }
  }
</body>

</html>
