﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM11_14PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm11-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view != null ? Model.view : new eForm_Save140View();

    var people_list = view.people_list != null ? view.people_list : new List<SaveAddressView>();
    var final_judgment_list = (view.final_judgment_list != null && view.final_judgment_list.Count() > 0) ? view.final_judgment_list : new List<eForm_Save140FinalJudgmentView>();
    var judgment_list = (view.judgment_list != null && view.judgment_list.Count() > 0) ? view.judgment_list : new List<eForm_Save140JudgmentView>();
    var sue_list = (view.sue_list != null && view.sue_list.Count() > 0) ? view.sue_list : new List<eForm_Save140SueView>();
    var representative_list = view.representative_list != null ? view.representative_list : new List<SaveAddressView>();

    int nStartPeople = 2;
    int nStartSue = 1;
    int nStartJudgment = 1;
    int nStartFinalJudgment = 1;

    int mPeoplePerPage = 5;
    int mSuePerPage = 10;
    int mJudgmentPerPage = 10;
    int mFinalJudgmentPerPage = 10;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageSue = 1;
    int mMainPageJudgment = 1;
    int mMainPageFinalJudgment = 1;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreSue = (sue_list.Count() > mMainPageSue) ? true : false;
    bool isMoreJudgment = (judgment_list.Count() > mMainPageJudgment) ? true : false;
    bool isMoreFinalJudgment = (final_judgment_list.Count() > mMainPageFinalJudgment) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageSue = (isMoreSue) ? Convert.ToInt32(Math.Ceiling((sue_list.Count() - nStartSue + 1) * 1.0 / mSuePerPage)) : 0;
    int mPageJudgment = (isMoreJudgment) ? Convert.ToInt32(Math.Ceiling((judgment_list.Count() - nStartJudgment + 1) * 1.0 / mJudgmentPerPage)) : 0;
    int mPageFinalJudgment = (isMoreFinalJudgment) ? Convert.ToInt32(Math.Ceiling((final_judgment_list.Count() - nStartFinalJudgment + 1) * 1.0 / mFinalJudgmentPerPage)) : 0;

    int nAllPage = 0;
    int mAllPage = mPagePeople + mPageSue + mPageJudgment + mPageFinalJudgment;


    #region init signer
    //init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    const int mSignPerLine = 5;
    int mSignLinePerPage = 2;
    const int nStartSign = mSignMainPage + 1;
    int mSignPerson = 0;
    int mSignRepresentative = 0;
    int mSignAll = 0;

    if (signPersonAll)
    {
      mSignPerson = people_list.Count();
    }

    if (signRepresentativeAll)
    {
      mSignRepresentative = representative_list.Count();
    }
    else
    {
      for (int i = 0; i < resultRepresentative.Length; i++)
      {
        if (Int32.TryParse(resultRepresentative[i], out int num))
        {
          if (representative_list.ElementAtOrDefault(num - 1) != null)
          {
            mSignRepresentative++;
          }
        }
      }
    }
    mSignAll = mSignPerson + mSignRepresentative;

    int mLineSign = (mSignAll >= nStartSign) ? Convert.ToInt32(Math.Ceiling((mSignAll - nStartSign + 1) * 1.0 / mSignPerLine)) : 0;
    int mPageSign = (mSignAll >= nStartSign) ? Convert.ToInt32(Math.Ceiling(mLineSign * 1.0 / mSignLinePerPage)) : 0;
    #endregion
  }

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    14
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. เจ้าของ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people.address_details_1 + " " + people.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people.nationality_codeNavigation != null) ? "สัญชาติ " + people.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people.career_codeNavigation != null) ? "อาชีพ " + people.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people.card_number) && people.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people.card_number[0] + " "
                            + people.card_number.Substring(1, 4) + " "
                            + people.card_number.Substring(5, 5) + " "
                            + people.card_number.Substring(10, 2) + " "
                            + people.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageSue > 0)
  {
    int nSue = nStartSue;

    for (int nPageSue = 1; nPageSue <= mPageSue; nPageSue++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    14
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ขอแจ้งการฟ้องร้องดำเนินคดีต่อศาล
              </div>

              @{
                int nSuePerPage = (nPageSue == mPageSue) ? (sue_list.Count() - nStartSue + 1) % mSuePerPage : mSuePerPage;

                @for (int i = 0; i < nSuePerPage; i++)
                {
                  int indx = (mSuePerPage * (nPageSue - 1)) + i + nStartSue - 1;
                  var sue = sue_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        if (nSue == 1)
                        {
                          txt1 += "ขอแจ้งว่าได้ยื่นฟ้องคดี";
                        }
                        txt1 += "ต่อศาล " + sue.court_name;

                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "คดีหมายเลขดำที่ " + sue.black_number_1 + "/" + sue.black_number_2 + " เมื่อวันที่ " + sue.sue_date;
                      }
                      @txt2
                    </div>
                  </div>

                  nSue++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageJudgment > 0)
  {
    int nJudgment = nStartJudgment;

    for (int nPageJudgment = 1; nPageJudgment <= mPageJudgment; nPageJudgment++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    14
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ขอแจ้งการฟ้องร้องดำเนินคดีต่อศาล
              </div>

              @{
                int nJudgmentPerPage = (nPageJudgment == mPageJudgment) ? (judgment_list.Count() - nStartJudgment + 1) % mJudgmentPerPage : mJudgmentPerPage;

                @for (int i = 0; i < nJudgmentPerPage; i++)
                {
                  int indx = (mJudgmentPerPage * (nPageJudgment - 1)) + i + nStartJudgment - 1;
                  var judgment = judgment_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        if (nJudgment == 1)
                        {
                          txt1 += "ขอแจ้งว่าได้ยื่นฟ้องคดี";
                        }
                        txt1 += "ต่อศาล " + judgment.court_name;

                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "คดีหมายเลขดำที่ " + judgment.black_number_1 + "/" + judgment.black_number_2 + " คดีหมายเลขแดงที่ " + judgment.red_number_1 + "/" + judgment.red_number_2;
                      }
                      @txt2
                    </div>
                  </div>

                  nJudgment++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageFinalJudgment > 0)
  {
    int nFinalJudgment = nStartFinalJudgment;

    for (int nPageFinalJudgment = 1; nPageFinalJudgment <= mPageFinalJudgment; nPageFinalJudgment++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    14
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ขอแจ้งการฟ้องร้องดำเนินคดีต่อศาล
              </div>

              @{
                int nFinalJudgmentPerPage = (nPageFinalJudgment == mPageFinalJudgment) ? (final_judgment_list.Count() - nStartFinalJudgment + 1) % mFinalJudgmentPerPage : mFinalJudgmentPerPage;

                @for (int i = 0; i < nFinalJudgmentPerPage; i++)
                {
                  int indx = (mFinalJudgmentPerPage * (nPageFinalJudgment - 1)) + i + nStartFinalJudgment - 1;
                  var final_judgment = final_judgment_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        if (nFinalJudgment == 1)
                        {
                          txt1 += "ขอแจ้งว่าได้ยื่นฟ้องคดี";
                        }
                        txt1 += "ต่อศาล " + final_judgment.court_name;

                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "คดีหมายเลขดำที่ " + final_judgment.black_number_1 + "/" + final_judgment.black_number_2 + " คดีหมายเลขแดงที่ " + final_judgment.red_number_1 + "/" + final_judgment.red_number_2;
                      }
                      @txt2
                    </div>
                  </div>

                  nFinalJudgment++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
