﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM11_10PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm11-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view != null ? Model.view : new eForm_Save010View();

    var people_list = view.people_list != null ? view.people_list : new List<SaveAddressView>();
    var representative_list = view.representative_list != null ? view.representative_list : new List<SaveAddressView>();
    var kor10_list = (view != null) ? view.kor10_list : new List<eForm_Save010Kor10View>();
    var kor10 = (kor10_list != null && kor10_list.Count() > 0) ? kor10_list[0] : new eForm_Save010Kor10View();
    var kor10_product_list = (kor10.product_list != null && kor10.product_list.Count() > 0) ? kor10.product_list : new List<eForm_Save010Kor10ProductView>();
    var kor10_event_list = (kor10.event_list != null && kor10.event_list.Count() > 0) ? kor10.event_list : new List<eForm_Save010Kor10EventView>();

    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nStartProduct = 1;
    int nStartEvent = 1;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mProductPerPage = 45;
    int mEventPerPage = 45;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mMainPageProduct = 8;
    int mMainPageEvent = 13;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreProduct = (kor10_product_list.Count() > mMainPageProduct) ? true : false;
    bool isMoreEvent = (kor10_event_list.Count() > mMainPageEvent) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageProduct = (isMoreProduct) ? Convert.ToInt32(Math.Ceiling((kor10_product_list.Count() - nStartProduct + 1) * 1.0 / mProductPerPage)) : 0;
    int mPageEvent = (isMoreEvent) ? Convert.ToInt32(Math.Ceiling((kor10_event_list.Count() - nStartEvent + 1) * 1.0 / mEventPerPage)) : 0;

    int nAllPage = 0;
    int mAllPage = mPagePeople + mPageRepresentative + mPageProduct + mPageEvent;

    #region init signer
    //init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    const int mSignPerLine = 5;
    int mSignLinePerPage = 2;
    const int nStartSign = mSignMainPage + 1;
    int mSignPerson = 0;
    int mSignRepresentative = 0;
    int mSignAll = 0;

    if (signPersonAll)
    {
      mSignPerson = people_list.Count();
    }

    if (signRepresentativeAll)
    {
      mSignRepresentative = representative_list.Count();
    }
    else
    {
      for (int i = 0; i < resultRepresentative.Length; i++)
      {
        if (Int32.TryParse(resultRepresentative[i], out int num))
        {
          if (representative_list.ElementAtOrDefault(num - 1) != null)
          {
            mSignRepresentative++;
          }
        }
      }
    }
    mSignAll = mSignPerson + mSignRepresentative;
    #endregion
  }

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. เจ้าของ
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people.address_details_1 + " " + people.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people.nationality_codeNavigation != null) ? "สัญชาติ " + people.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people.career_codeNavigation != null) ? "อาชีพ " + people.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people.card_number) && people.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people.card_number[0] + " "
                            + people.card_number.Substring(1, 4) + " "
                            + people.card_number.Substring(5, 5) + " "
                            + people.card_number.Substring(10, 2) + " "
                            + people.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน @*waiting for edit*@
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative = representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nRepresentative + ". ชื่อ\t" + representative.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + representative.address_details_1 + " " + representative.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (representative.nationality_codeNavigation != null) ? "สัญชาติ " + representative.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (representative.career_codeNavigation != null) ? "อาชีพ " + representative.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(representative.card_number) && representative.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + representative.card_number[0] + " "
                            + representative.card_number.Substring(1, 4) + " "
                            + representative.card_number.Substring(5, 5) + " "
                            + representative.card_number.Substring(10, 2) + " "
                            + representative.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 4 ### *@
  @if (mPageProduct > 0)
  {
    int nProduct = nStartProduct;

    for (int nPageProduct = 1; nPageProduct <= mPageProduct; nPageProduct++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                4. คำขอจดทะเบียนที่ยื่นนอกราชอาณาจักรครั้งแรก
              </div>

              <div class="section-row">
                <table border="2">
                  <tr>
                    <th class="request-id">
                      เลขที่คำขอ
                    </th>
                    <th class="request-date">
                      วันที่ยื่นคำขอ
                    </th>
                    <th class="request-in-country">
                      ประเทศที่ยื่นคำขอ
                    </th>
                    <th class="requester-national">
                      สัญชาติผู้ขอ
                    </th>
                    <th class="requester-address">
                      ภูมิลำเนาของผู้ขอ
                    </th>
                    <th class="type-group">
                      จำพวกที่
                    </th>
                    <th class="product">
                      รายการสินค้า/บริการ
                    </th>
                    <th class="status">
                      สถานะคำขอ
                    </th>
                  </tr>

                  @{
                    int nProductPerPage = (nPageProduct == mPageProduct) ? (kor10_product_list.Count() - nStartProduct + 1) % mProductPerPage : mProductPerPage;

                    @for (int i = 0; i < nProductPerPage; i++)
                    {
                      int indx = (mProductPerPage * (nPageProduct - 1)) + i + nStartProduct - 1;
                      var product = kor10_product_list[indx];

                      <tr>
                        <td>@product.request_number</td>
                        <td>@product.request_date</td>
                        <td>@product.request_country</td>
                        <td>@product.request_nationality</td>
                        <td>@product.request_domicile</td>
                        <td>@product.product_class</td>
                        <td>@product.product</td>
                        <td>@product.status</td>
                      </tr>

                      nProduct++;
                    }
                  }
                </table>
              </div>
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 5 ### *@
  @if (mPageEvent > 0)
  {
    int nEvent = nStartEvent;

    for (int nPageEvent = 1; nPageEvent <= mPageEvent; nPageEvent++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    10
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">

                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">

                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                5. สินค้าที่นำออกแสดงในงานแสดงสินค้าระหว่างประเทศ
              </div>

              <div class="section-row">
                <table border="2">
                  <tr>
                    <th class="product">
                      สินค้า/บริการ
                    </th>
                    <th class="date">
                      วัน/เดือน/ปีงานแสดงสินค้า
                    </th>
                    <th class="exhibition">
                      สถานที่จัดงานแสดงสินค้า/บริการ
                    </th>
                    <th class="owner-exhibition">
                      ผู้จัดงานแสดงสินค้า/บริการ
                    </th>
                  </tr>

                  @{
                    int nEventPerPage = (nPageEvent == mPageEvent) ? (kor10_event_list.Count() - nStartEvent + 1) % mEventPerPage : mEventPerPage;

                    @for (int i = 0; i < nEventPerPage; i++)
                    {
                      int indx = (mEventPerPage * (nPageEvent - 1)) + i + nStartEvent - 1;
                      var kor10_event = kor10_event_list[indx];

                      <tr>
                        <td>@kor10_event.product</td>
                        <td>@kor10_event.event_date</td>
                        <td>@kor10_event.event_place</td>
                        <td>@kor10_event.event_organizer</td>
                      </tr>

                      nEvent++;
                    }
                  }
                </table>
              </div>
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน/ผู้ร้อง</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
