﻿@model DIP.TM.Web.Views.Pdf.TM11PdfModel

<html>

  <head>
    <link
      href="assets/fonts/stylesheet.css"
      rel="stylesheet"
    >

    <link
      href="assets/theme/styles/pdf/tm11-pdf.css"
      rel="stylesheet"
    >
  </head>

  <body>
    <div class="page">
      <div class="header align-right">
        แบบ ก.11
      </div>

      <div class="body clearfix">
        <div class="section logo-and-officer-input">
          <div class="logo-wrapper">
            <div class="logo-wrapper-inner clearfix">
              <img
                src="assets/images/logos/garuda-emblem.png"
                alt="logo"
                class="logo"
              />

              <div class="pdf-title bold">
                ใบต่อแนบท้ายคำขอ
              </div>

              <div class="section-row addition-form clearfix">
                <div class="label bold">
                  แบบ ก
                </div>

                <div class="data">
                </div>
              </div>
            </div>
          </div>

          <div class="officer-input">
            <div class="reqeust-date">
              <div class="label bold">
                วันที่ยื่น
              </div>
              <div class="data">
                25/12/29
              </div>
            </div>

            <div class="reqeust-id">
              <div class="label bold">
                คำขอเลขที่
              </div>
              <div class="data">
                test data
              </div>
            </div>

            <div class="id">
              <div class="label bold">
                ทะเบียนเลขที่
              </div>
              <div class="data">
                test data
              </div>
            </div>
          </div>
        </div>

        <div class="section detail main clearfix">
            @*Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam autem quae tempora pariatur voluptatum fugiat
        consectetur, corrupti culpa, architecto doloremque earum esse, delectus fuga eligendi corporis possimus
        itaque
        labore voluptatem?*@
            A12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            B12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            C12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            D12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            E12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            F12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            G12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            H12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            I12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            J12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            K12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            L12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            M12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            N12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            O12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            P12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            Q12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            R12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            S12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            T12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
            U12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123
        </div>

        <div class="section detail note clearfix">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam autem quae tempora pariatur voluptatum fugiat
          consectetur, corrupti culpa, architecto doloremque earum esse, delectus fuga eligendi corporis possimus
          itaque
          labore voluptatem?
        </div>
      </div>

      <div class="footer clearfix">
        <div class="note">
          <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
        </div>

        <div class="pagination">
          <div class="label">
            หน้า
          </div>
          <div class="data">
            1
          </div>

          <div class="label">
            ของจำนวน
          </div>
          <div class="data">
            10
          </div>
          <div class="unit">
            หน้า
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
