﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM11_04PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm11-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view != null ? Model.view : new eForm_Save040View();

    var people_list = view.people_list != null ? view.people_list : new List<SaveAddressView>();
    var representative_list = view.representative_list != null ? view.representative_list : new List<SaveAddressView>();
    var contact = (view.contact_address_list != null && view.contact_address_list.Count() > 0) ? view.contact_address_list[0] : new SaveAddressView();
    var contact_address = contact.address_details_1 + " " + contact.address_details_2;
    var receiver_people_list = view.receiver_people_list != null ? view.receiver_people_list : new List<SaveAddressView>();
    var receiver_representative_list = view.receiver_representative_list != null ? view.receiver_representative_list : new List<SaveAddressView>();
    var receiver_contact = (view.receiver_contact_address_list != null && view.receiver_contact_address_list.Count() > 0) ? view.receiver_contact_address_list[0] : new SaveAddressView();
    var receiver_contact_address = receiver_contact.address_details_1 + " " + receiver_contact.address_details_2;
    var product_list = ((view.product_list != null && view.product_list.Count() > 0) ? view.product_list : new List<SaveProductView>()).OrderBy(x => x.request_item_sub_type_1_code);

    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nTextStartContact = 1;
    int nStartReceiverPeople = 2;
    int nStartReceiverRepresentative = 2;
    int nTextStartReceiverContact = 1;
    int nStartProduct = 1; //update value below
    int nStartProductL = 1; //update value below
    int nStartProductN = 1; //update value below


    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mTextContactPerPage = 3000;
    int mReceiverPeoplePerPage = mPeoplePerPage;
    int mReceiverRepresentativePerPage = mRepresentativePerPage;
    int mTextReceiverContactPerPage = mTextContactPerPage;
    int mProductPerPage = 25;



    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mTextMainPageContact = 130;
    int mMainPageReceiverPeople = 1;
    int mMainPageReceiverRepresentative = 1;
    int mTextMainPageReceiverContact = 130;
    int mTextMainPageProduct = (view.save040_transfer_form_code == "TYPE2") ? 270 : 170;
    int mTextMainPagePerLineProduct = 100;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreContact = (contact_address.Length > mTextMainPageContact) ? true : false;
    bool isMoreReceiverPeople = (receiver_people_list.Count() > mMainPageReceiverPeople) ? true : false;
    bool isMoreReceiverRepresentative = (receiver_representative_list.Count() > mMainPageReceiverRepresentative) ? true : false;
    bool isMoreReceiverContact = (receiver_contact_address.Length > mTextMainPageReceiverContact) ? true : false;


    bool isMoreProduct = false;
    if (product_list.Count() > 0)
    {
      var l = 1;
      var n = 1;
      int ml = 2;
      var product_count_text = "";

      for (int i = 0; i < product_list.Count(); i++)
      {
        if (product_list.ElementAt(i).request_item_sub_type_1_code != "")
        {
          bool print = false;
          string product_count_temp = "   " + n + ")." + product_list.ElementAt(i).description;


          if (l > ml)
          {
            //case1
            isMoreProduct = true;
            break;
          }
          if (product_count_text.Length + product_count_temp.Length > mTextMainPageProduct)
          {
            //case4
            isMoreProduct = true;
          }
          else if (product_count_text.Length + product_count_temp.Length > mTextMainPagePerLineProduct && l == 2)
          {
            //case2
            isMoreProduct = true;
          }
          else
          {
            product_count_text += product_count_temp;
            //nStartProduct++;
          }

          if (i == product_list.Count() - 1)
          {
            print = true;
          }
          else if (product_list.ElementAt(i).request_item_sub_type_1_code != product_list.ElementAt(i + 1).request_item_sub_type_1_code)
          {
            print = true;
          }

          if (print || isMoreProduct)
          {

            if (product_count_text.Length > mTextMainPagePerLineProduct || product_count_text.Length + product_count_temp.Length > mTextMainPagePerLineProduct)
            {
              //case3
              if (l == 1 && i != product_list.Count() - 1 && !isMoreProduct)
              {
                isMoreProduct = true;
                n = 1;
                l++;
              }

              break;
            }

            n = 0;
            product_count_text = "";
            l++;
          }

          n++;
        }
      }
    }
    if (view.save040_transfer_form_code == "TYPE1")
    {
      isMoreProduct = true;
    }


    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageContact = (isMoreContact) ? Convert.ToInt32(Math.Ceiling((contact_address.Length - nTextStartContact + 1) * 1.0 / mTextContactPerPage)) : 0;
    int mPageReceiverPeople = (isMoreReceiverPeople) ? Convert.ToInt32(Math.Ceiling((receiver_people_list.Count() - nStartReceiverPeople + 1) * 1.0 / mReceiverPeoplePerPage)) : 0;
    int mPageReceiverRepresentative = (isMoreReceiverRepresentative) ? Convert.ToInt32(Math.Ceiling((receiver_representative_list.Count() - nStartReceiverRepresentative + 1) * 1.0 / mReceiverRepresentativePerPage)) : 0;
    int mPageReceiverContact = (isMoreReceiverContact) ? Convert.ToInt32(Math.Ceiling((receiver_contact_address.Length - nTextStartReceiverContact + 1) * 1.0 / mTextReceiverContactPerPage)) : 0;

    int mPageProduct = 0;
    if (isMoreProduct)
    {
      int l = 1;
      int n = 1;
      nStartProductL = l;
      nStartProductN = n;

      int nStartProductNCount = nStartProductN;
      for (int i = 0; i < product_list.Count(); i++)
      {
        if (product_list.ElementAt(i).request_item_sub_type_1_code != "")
        {
          bool print = false;

          if (i == product_list.Count() - 1)
          {
            print = true;
          }
          else if (product_list.ElementAt(i).request_item_sub_type_1_code != product_list.ElementAt(i + 1).request_item_sub_type_1_code)
          {
            print = true;
          }

          if (print)
          {
            if (l >= nStartProductL && n >= nStartProductNCount)
            {
              //here
              mPageProduct += Convert.ToInt32(Math.Ceiling((n - nStartProductNCount + 1) * 1.0 / mProductPerPage));
            }

            nStartProductNCount = 1;
            n = 0;
            l++;
          }

          n++;
        }
      }
    }


    int nAllPage = 0;
    int mAllPage = mPagePeople + mPageReceiverPeople + mPageRepresentative + mPageReceiverRepresentative + mPageContact + mPageReceiverContact + mPageProduct;


    #region init signer
    //init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    if (view.sign_inform_receiver_person_list == null)
    {
      view.sign_inform_receiver_person_list = "";
    }
    if (view.sign_inform_receiver_representative_list == null)
    {
      view.sign_inform_receiver_representative_list = "";
    }


    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    bool signReceiverPersonAll = (view.sign_inform_receiver_person_list == "0") ? true : false;
    bool signReceiverRepresentativeAll = (view.sign_inform_receiver_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');
    string[] resultReceiverRepresentative = view.sign_inform_receiver_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignReceiverPerson = 0;
    int nSignReceiverRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    #endregion
  }

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">
            <div>
              <div>
                1. เจ้าของ (ผู้โอน)
              </div>

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people.address_details_1 + " " + people.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people.nationality_codeNavigation != null) ? "สัญชาติ " + people.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people.career_codeNavigation != null) ? "อาชีพ " + people.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people.card_number) && people.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people.card_number[0] + " "
                            + people.card_number.Substring(1, 4) + " "
                            + people.card_number.Substring(5, 5) + " "
                            + people.card_number.Substring(10, 2) + " "
                            + people.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>
          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 1 ### *@
  @if (mPageReceiverPeople > 0)
  {
    int nReceiverPeople = nStartReceiverPeople;

    for (int nPageReceiverPeople = 1; nPageReceiverPeople <= mPageReceiverPeople; nPageReceiverPeople++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">
            <div>
              <div>
                1. เจ้าของ (ผู้รับโอน/ผู้รับมรดก)
              </div>

              @{
                int nReceiverPeoplePerPage = (nPageReceiverPeople == mPageReceiverPeople) ? (receiver_people_list.Count() - nStartReceiverPeople + 1) % mReceiverPeoplePerPage : mReceiverPeoplePerPage;

                @for (int i = 0; i < nReceiverPeoplePerPage; i++)
                {
                  int indx = (mReceiverPeoplePerPage * (nPageReceiverPeople - 1)) + i + nStartReceiverPeople - 1;
                  var receiver_people = receiver_people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nReceiverPeople + ". ชื่อ\t" + receiver_people.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + receiver_people.address_details_1 + " " + receiver_people.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (receiver_people.nationality_codeNavigation != null) ? "สัญชาติ " + receiver_people.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (receiver_people.career_codeNavigation != null) ? "อาชีพ " + receiver_people.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(receiver_people.card_number) && receiver_people.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + receiver_people.card_number[0] + " "
                            + receiver_people.card_number.Substring(1, 4) + " "
                            + receiver_people.card_number.Substring(5, 5) + " "
                            + receiver_people.card_number.Substring(10, 2) + " "
                            + receiver_people.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nReceiverPeople++;
                }
              }
            </div>
          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageRepresentative > 0)
  {
    int nRepresentative = nStartRepresentative;

    for (int nPageRepresentative = 1; nPageRepresentative <= mPageRepresentative; nPageRepresentative++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน (ผู้โอน)
              </div>

              @{
                int nRepresentativePerPage = (nPageRepresentative == mPageRepresentative) ? (representative_list.Count() - nStartRepresentative + 1) % mRepresentativePerPage : mRepresentativePerPage;

                @for (int i = 0; i < nRepresentativePerPage; i++)
                {
                  int indx = (mRepresentativePerPage * (nPageRepresentative - 1)) + i + nStartRepresentative - 1;
                  var representative = representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nRepresentative + ". ชื่อ\t" + representative.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + representative.address_details_1 + " " + representative.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (representative.nationality_codeNavigation != null) ? "สัญชาติ " + representative.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (representative.career_codeNavigation != null) ? "อาชีพ " + representative.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(representative.card_number) && representative.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + representative.card_number[0] + " "
                            + representative.card_number.Substring(1, 4) + " "
                            + representative.card_number.Substring(5, 5) + " "
                            + representative.card_number.Substring(10, 2) + " "
                            + representative.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 2 ### *@
  @if (mPageReceiverRepresentative > 0)
  {
    int nReceiverRepresentative = nStartReceiverRepresentative;

    for (int nPageReceiverRepresentative = 1; nPageReceiverRepresentative <= mPageReceiverRepresentative; nPageReceiverRepresentative++)
    {

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ตัวแทน (ผู้รับโอน/ผู้รับมรดก)
              </div>

              @{
                int nReceiverRepresentativePerPage = (nPageReceiverRepresentative == mPageReceiverRepresentative) ? (receiver_representative_list.Count() - nStartReceiverRepresentative + 1) % mReceiverRepresentativePerPage : mReceiverRepresentativePerPage;

                @for (int i = 0; i < nReceiverRepresentativePerPage; i++)
                {
                  int indx = (mReceiverRepresentativePerPage * (nPageReceiverRepresentative - 1)) + i + nStartReceiverRepresentative - 1;
                  var receiver_representative = receiver_representative_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nReceiverRepresentative + ". ชื่อ\t" + receiver_representative.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + receiver_representative.address_details_1 + " " + receiver_representative.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (receiver_representative.nationality_codeNavigation != null) ? "สัญชาติ " + receiver_representative.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (receiver_representative.career_codeNavigation != null) ? "อาชีพ " + receiver_representative.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(receiver_representative.card_number) && receiver_representative.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + receiver_representative.card_number[0] + " "
                            + receiver_representative.card_number.Substring(1, 4) + " "
                            + receiver_representative.card_number.Substring(5, 5) + " "
                            + receiver_representative.card_number.Substring(10, 2) + " "
                            + receiver_representative.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nReceiverRepresentative++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @*### Topic 3 ###*@
  @if (mPageContact > 0)
  {
    for (int nPageContact = 1; nPageContact <= mPageContact; nPageContact++)
    {
      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                3. สถานที่ติดต่อภายในประเทศไทย (ผู้รับโอน/ผู้รับมรดก)
              </div>

              @{
                int nTextContactPerPage = (nPageContact == mPageContact) ? (contact_address.Length - nTextStartContact + 1) % mTextContactPerPage : mTextContactPerPage;

                string txt = contact_address.Substring(nTextStartContact - 1, nTextContactPerPage);

                if (nTextStartContact + nTextContactPerPage - 1 < contact_address.Length)
                {
                  nTextStartContact += nTextContactPerPage;
                }

                //multi line
                <div>
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>

        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @*### Topic 3 ###*@
  @if (mPageReceiverContact > 0)
  {
    for (int nPageReceiverContact = 1; nPageReceiverContact <= mPageReceiverContact; nPageReceiverContact++)
    {
      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                3. สถานที่ติดต่อภายในประเทศไทย (ผู้โอน)
              </div>

              @{
                int nTextReceiverContactPerPage = (nPageReceiverContact == mPageReceiverContact) ? (receiver_contact_address.Length - nTextStartReceiverContact + 1) % mTextReceiverContactPerPage : mTextReceiverContactPerPage;

                string txt = receiver_contact_address.Substring(nTextStartReceiverContact - 1, nTextReceiverContactPerPage);

                if (nTextStartReceiverContact + nTextReceiverContactPerPage - 1 < receiver_contact_address.Length)
                {
                  nTextStartReceiverContact += nTextReceiverContactPerPage;
                }

                //multi line
                <div>
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>

        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 4 ### *@
  @if (mPageProduct > 0)
  {
    for (int nPageProduct = 1; nPageProduct <= mPageProduct; nPageProduct++)
    {
      int nProduct = nStartProductN;

      <div class="page">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    04
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                4. จำพวก
              </div>

              @{
                if (nStartProduct <= product_list.Count())
                {
                  var firstProduct = product_list.ElementAtOrDefault(nStartProduct - 1);
                  string ctg = firstProduct != null ? firstProduct.request_item_sub_type_1_code : "-1";
                  bool isContinue = false;

                  <div>
                    จำพวกที่ @ctg รายการสินค้า/บริการ
                  </div>

                  while (product_list.ElementAtOrDefault(nStartProduct - 1).request_item_sub_type_1_code == ctg)
                  {

                    if (nProduct > mProductPerPage + nStartProductN - 1)
                    {
                      isContinue = true;
                      break;
                    }
                    else
                    {
                      string txt = nProduct + ". " + product_list.ElementAt(nStartProduct - 1).description;

                      <div>
                        @txt
                      </div>

                      nStartProduct++;
                      nProduct++;
                    }

                    if (nStartProduct > product_list.Count())
                    {
                      break;
                    }
                  }

                  nStartProductN = (isContinue) ? nProduct : 1;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignReceiverPerson = 0;
              nSignReceiverRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }


              if (signReceiverPersonAll)
              {

                for (int i = 0; i < receiver_people_list.Count(); i++)
                {
                  var p = receiver_people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signReceiverRepresentativeAll)
              {
                for (int i = 0; i < receiver_representative_list.Count(); i++)
                {
                  var r = receiver_representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">

                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignReceiverRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultReceiverRepresentative.Length; i++)
                {
                  if (resultReceiverRepresentative[i] != "" && (resultReceiverRepresentative[i] != "0" || signReceiverRepresentativeAll))
                  {
                    if (Int32.TryParse(resultReceiverRepresentative[i], out int num))
                    {
                      var r = receiver_representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">ผู้รับโอน/ผู้รับมรดก/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">

                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignReceiverRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>

        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

</body>

</html>
