﻿@using DIP.TM.Models.Views;
@model DIP.TM.Web.Views.Pdf.TM15PdfModel

<html>

<head>
  <link href="assets/fonts/stylesheet.css"
        rel="stylesheet">

  <link href="assets/theme/styles/pdf/tm15-pdf.css"
        rel="stylesheet">
</head>

<body>
  @{
    var view = Model.view;

    var people_list = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list : new List<SaveAddressView>();
    var representative_list = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list : new List<SaveAddressView>();
    var people = (view.people_list != null && view.people_list.Count() > 0) ? view.people_list[0] : new SaveAddressView();
    var representative = (view.representative_list != null && view.representative_list.Count() > 0) ? view.representative_list[0] : new SaveAddressView();
    var remark4 = (!string.IsNullOrEmpty(view.remark_4)) ? view.remark_4 : "";

    #region init signer
    if (view.sign_inform_person_list == null)
    {
      view.sign_inform_person_list = "";
    }
    if (view.sign_inform_representative_list == null)
    {
      view.sign_inform_representative_list = "";
    }
    bool signPersonAll = (view.sign_inform_person_list == "0") ? true : false;
    bool signRepresentativeAll = (view.sign_inform_representative_list == "0") ? true : false;
    //string[] resultPerson = view.sign_inform_person_list.Split('|');
    string[] resultRepresentative = view.sign_inform_representative_list.Split('|');

    int nSignPerson = 0;
    int nSignRepresentative = 0;
    int nSignShow = 0;

    const int mSignMainPage = 10;
    #endregion

    #region Kor11
    int nStartPeople = 2;
    int nStartRepresentative = 2;
    int nTextStartRemark4 = 1;

    int mPeoplePerPage = 5;
    int mRepresentativePerPage = 5;
    int mTextRemark4PerPage = 3000;

    //check overflow detail
    int mMainPagePeople = 1;
    int mMainPageRepresentative = 1;
    int mTextMainPageRemark4 = 2260;

    bool isMorePeople = (people_list.Count() > mMainPagePeople) ? true : false;
    bool isMoreRepresentative = (representative_list.Count() > mMainPageRepresentative) ? true : false;
    bool isMoreRemark4 = (remark4.Length > mTextMainPageRemark4) ? true : false;

    int mPagePeople = (isMorePeople) ? Convert.ToInt32(Math.Ceiling((people_list.Count() - nStartPeople + 1) * 1.0 / mPeoplePerPage)) : 0;
    int mPageRepresentative = (isMoreRepresentative) ? Convert.ToInt32(Math.Ceiling((representative_list.Count() - nStartRepresentative + 1) * 1.0 / mRepresentativePerPage)) : 0;
    int mPageRemark4 = (isMoreRemark4) ? Convert.ToInt32(Math.Ceiling((remark4.Length - nTextStartRemark4 + 1) * 1.0 / mTextRemark4PerPage)) : 0;
    #endregion

    int nAllPage = 0;
    int mPageMain = 1;
    int mAllPage =
        mPageMain +
        mPagePeople +
        mPageRemark4
        ;
  }

  <div class="page page-one">
    <div class="header align-right">
      แบบ ก.15
    </div>

    <div class="body clearfix">
      <div class="section logo-and-officer-input">
        <div class="logo-wrapper">
          <div class="logo-wrapper-inner clearfix">
            <img src="assets/images/logos/garuda-emblem.png"
                 alt="logo"
                 class="logo" />

            <div class="pdf-title bold">
              หนังสือชี้แจงการถูกร้องขอให้เพิกถอนการจดทะเบียน
            </div>

            <div class="mark-type">
              <label class="container">
                เครื่องหมายการค้า/บริการ รับรอง ร่วม
                @if (view.save150_mark_type_code == "MARK")
                {
                  <input type="radio" name="markType" checked>
                }
                else
                {
                  <input type="radio" name="markType">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                สัญญาอนุญาตให้ใช้เครื่องหมายการค้า/บริการ
                @if (view.save150_mark_type_code == "CONTRACT")
                {
                  <input type="radio" name="markType" checked>
                }
                else
                {
                  <input type="radio" name="markType">
                }
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="officer-input">
          <div class="caption bold">
            สำหรับเจ้าหน้าที่
          </div>

          <div class="reqeust-date">
            <div class="label bold">
              วันที่ยื่น
            </div>
            <div class="data">

            </div>
          </div>

          <div class="fee-wrapper">
            <div class="fee clearfix">
              <div class="label bold">
                ค่าธรรมเนียม
              </div>
              <div class="data">

              </div>
              <div class="unit bold">
                บาท
              </div>
            </div>

            <div class="sign clearfix">
              <div class="label bold">
                ลงชื่อ
              </div>
              <div class="data">
              </div>
              <div class="unit bold">
                ผู้สั่ง
              </div>
            </div>

            <div class="name clearfix">
              <div class="label-first bold">
                (
              </div>
              <div class="data">
              </div>
              <div class="label-last bold">
                )
              </div>
            </div>
          </div>

          <div class="reqeust-id">
            <div class="label bold">
              คำขอเลขที่
            </div>
            <div class="data">
              @view.request_number
            </div>
          </div>

          <div class="registration-id">
            <div class="label bold">
              ทะเบียนเลขที่
            </div>
            <div class="data">
              @view.registration_number
            </div>
          </div>
        </div>
      </div>

      <div class="section detail appellant clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            1.
          </div>

          <div class="title bold">
            ผู้แจ้ง
          </div>

          <div class="radios appellant">
            <label class="container">
              เจ้าของ
              @if (view.save150_informer_type_code == "OWNER")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ผู้ได้รับอนุญาต
              @if (view.save150_informer_type_code == "RECEIVER")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ผู้ได้รับอนุญาตช่วง
              @if (view.save150_informer_type_code == "RECEIVER_PERIOD")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              บุคคลธรรมดา(ไทย)
              @if (people.receiver_type_code == "PEOPLE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล(ไทย)
              @if (people.receiver_type_code == "CORPORATE")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ส่วนราชการ(ไทย)
              @if (people.receiver_type_code == "GOVERNMENT")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ต่างชาติ
              @if (people.receiver_type_code == "PEOPLE_FOREIGNER" || people.receiver_type_code == "CORPORATE_FOREIGNER")
              {
                <input type="radio" name="appellant" checked>
              }
              else
              {
                <input type="radio" name="appellant">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section-row clearfix name">
          <div class="label">
            ชื่อ
          </div>

          <div class="data">
            @people.name
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="label">
            ที่อยู่
          </div>

          <div class="data">
            @people.address_details_1
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set sub-district">
            <div class="label">
              แขวง/ตำบล
            </div>

            <div class="data">
              @{ var people_sub_district = (people.address_sub_district_codeNavigation != null) ? people.address_sub_district_codeNavigation.name : "";}
              @people_sub_district
            </div>
          </div>

          <div class="section-data-set district">
            <div class="label">
              เขต/อำเภอ
            </div>

            <div class="data">
              @{ var people_district = (people.address_district_codeNavigation != null) ? people.address_district_codeNavigation.name : "";}
              @people_district
            </div>
          </div>

          <div class="section-data-set province">
            <div class="label">
              จังหวัด
            </div>

            <div class="data">
              @{ var people_province = (people.address_province_codeNavigation != null) ? people.address_province_codeNavigation.name : "";}
              @people_province
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set zip-code">
            <div class="label">
              รหัสไปรษณีย์
            </div>

            <div class="data">
              @people.postal_code
            </div>
          </div>

          <div class="section-data-set country">
            <div class="label">
              ประเทศ
            </div>

            <div class="data">
              @{ var people_country = (people.address_country_code != null && people.address_country_code != "") ? @people.address_country_codeNavigation.name : @people.country_text; }
              @people_country
            </div>
          </div>

          <div class="section-data-set nationality">
            <div class="label">
              สัญชาติ
            </div>

            <div class="data">
              @{ var people_nationality = (people.nationality_codeNavigation != null) ? people.nationality_codeNavigation.name : "";}
              @people_nationality
            </div>
          </div>
        </div>

        <div class="section-row clearfix address">
          <div class="section-data-set job">
            <div class="label">
              อาชีพ
            </div>

            <div class="data">
              @{ var people_career = (people.career_codeNavigation != null) ? @people.career_codeNavigation.name : ""; }
              @people_career
            </div>
          </div>

          <div class="section-data-set mobile">
            <div class="label">
              โทรศัพท์
            </div>

            <div class="data">
              @people.telephone
            </div>
          </div>

          <div class="section-data-set fax">
            <div class="label">
              โทรสาร
            </div>

            <div class="data">
              @people.fax
            </div>
          </div>

          <div class="section-data-set email">
            <div class="label">
              อีเมล
            </div>

            <div class="data">
              @people.email
            </div>
          </div>
        </div>

        <div class="section-row clearfix ">
          <div class="radios id-type">
            <label class="container">
              เลขประจำตัวประชาชน
              @if (@people.card_type_code == "NAT_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              นิติบุคคล
              @if (people.card_type_code == "TAX_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เลขประจำตัวผู้เสียภาษีอากร
              @if (people.card_type_code == "TAX2_ID")
              {
                <input type="radio" name="id_Type" checked>
              }
              else
              {
                <input type="radio" name="id_Type">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="pins-code">
              <div class="pin-code">
                @{ var pcn0 = (people.card_number != null && people.card_number.Length > 0) ? people.card_number[0] : ' ';}
                @pcn0
              </div>
              <div class="pin-code">
                @{ var pcn1 = (people.card_number != null && people.card_number.Length > 1) ? people.card_number[1] : ' ';}
                @pcn1
              </div>
              <div class="pin-code">
                @{ var pcn2 = (people.card_number != null && people.card_number.Length > 2) ? people.card_number[2] : ' ';}
                @pcn2
              </div>
              <div class="pin-code">
                @{ var pcn3 = (people.card_number != null && people.card_number.Length > 3) ? people.card_number[3] : ' ';}
                @pcn3
              </div>
              <div class="pin-code">
                @{ var pcn4 = (people.card_number != null && people.card_number.Length > 4) ? people.card_number[4] : ' ';}
                @pcn4
              </div>
              <div class="pin-code">
                @{ var pcn5 = (people.card_number != null && people.card_number.Length > 5) ? people.card_number[5] : ' ';}
                @pcn5
              </div>
              <div class="pin-code">
                @{ var pcn6 = (people.card_number != null && people.card_number.Length > 6) ? people.card_number[6] : ' ';}
                @pcn6
              </div>
              <div class="pin-code">
                @{ var pcn7 = (people.card_number != null && people.card_number.Length > 7) ? people.card_number[7] : ' ';}
                @pcn7
              </div>
              <div class="pin-code">
                @{ var pcn8 = (people.card_number != null && people.card_number.Length > 8) ? people.card_number[8] : ' ';}
                @pcn8
              </div>
              <div class="pin-code">
                @{ var pcn9 = (people.card_number != null && people.card_number.Length > 9) ? people.card_number[9] : ' ';}
                @pcn9
              </div>
              <div class="pin-code">
                @{ var pcn10 = (people.card_number != null && people.card_number.Length > 10) ? people.card_number[10] : ' ';}
                @pcn10
              </div>
              <div class="pin-code">
                @{ var pcn11 = (people.card_number != null && people.card_number.Length > 11) ? people.card_number[11] : ' ';}
                @pcn11
              </div>
              <div class="pin-code">
                @{ var pcn12 = (people.card_number != null && people.card_number.Length > 12) ? people.card_number[12] : ' ';}
                @pcn12
              </div>
            </div>

            <label class="container">
              เพิ่มเติม(ดังแนบ)
              @if (view.people_list.Count() > 1)
              {
                <input type="checkbox" checked>
              }
              else
              {
                <input type="checkbox">
              }
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="section detail full-other clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            2.
          </div>

          <div class="title bold">
            ขอชี้แจงการถูกร้องขอเพิกถอนการจดทะเบียนดังนี้
          </div>

          <div class="section-row clearfix text-full">
            <div class="data without-line text-full multi-line">

            </div>
          </div>
        </div>

        <div class="section-row clearfix text-full">
          <div class="data without-line text-full multi-line">
            @{
              if (!isMoreRemark4)
              {
                @remark4
              }
            }
          </div>
        </div>
      </div>

      <div class="section detail signature clearfix">
        <div class="section-row clearfix with-title">
          <div class="number bold">
            3.
          </div>
        </div>

        <div class="section detail signature clearfix">

          @{
            nSignPerson = 0;
            nSignRepresentative = 0;
            nSignShow = 0;

            if (signPersonAll)
            {

              for (int i = 0; i < people_list.Count(); i++)
              {
                var p = people_list.ElementAtOrDefault(i);

                if (p != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @p.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignPerson++;
                    nSignShow++;
                  }
                }
              }
            }

            if (signRepresentativeAll)
            {
              for (int i = 0; i < representative_list.Count(); i++)
              {
                var r = representative_list.ElementAtOrDefault(i);

                if (r != null)
                {
                  if (nSignShow < mSignMainPage)
                  {
                    <div class="section-column clearfix">
                      <div class="section-row clearfix signature-text">
                        <div class="label">(ลายมือชื่อ) </div>
                        <div class="data">

                        </div>
                        <div class="label last">เจ้าของ/ตัวแทน</div>
                      </div>
                      <div class="section-row clearfix signature-full-text">
                        <div class="label">(</div>
                        <div class="data">
                          @r.name
                        </div>
                        <div class="label">)</div>
                      </div>
                    </div>

                    nSignRepresentative++;
                    nSignShow++;
                  }
                }
              }
            }
            else
            {
              @for (int i = 0; i < resultRepresentative.Length; i++)
              {
                if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                {
                  if (Int32.TryParse(resultRepresentative[i], out int num))
                  {
                    var r = representative_list.ElementAtOrDefault(num - 1);

                    if (r != null)
                    {
                      if (nSignShow < mSignMainPage)
                      {
                        <div class="section-column clearfix">
                          <div class="section-row clearfix signature-text">
                            <div class="label">(ลายมือชื่อ) </div>
                            <div class="data">

                            </div>
                            <div class="label last">เจ้าของ/ตัวแทน</div>
                          </div>
                          <div class="section-row clearfix signature-full-text">
                            <div class="label">(</div>
                            <div class="data">
                              @r.name
                            </div>
                            <div class="label">)</div>
                          </div>
                        </div>

                        nSignRepresentative++;
                        nSignShow++;
                      }
                    }
                  }
                }
              }
            }
          }
        </div>

      </div>
    </div>

    <div class="footer clearfix">
      <div class="note">
        <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
        (ก.11)
      </div>

      <div class="pagination">
        <div class="label">
          หน้า
        </div>
        <div class="data">
          @{
            nAllPage++;
          }
          @nAllPage
        </div>

        <div class="label">
          ของจำนวน
        </div>
        <div class="data">
          @mAllPage
        </div>
        <div class="unit">
          หน้า
        </div>
      </div>
    </div>
  </div>

  @* ### Topic 1 ### *@
  @if (mPagePeople > 0)
  {
    int nPeople = nStartPeople;

    for (int nPagePeople = 1; nPagePeople <= mPagePeople; nPagePeople++)
    {

      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    15
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                1. ผู้แจ้ง
              </div>

              @if (!string.IsNullOrEmpty(view.save150_informer_type_code))
              {
                string topic_txt = "";

                @if (view.save150_informer_type_code == "OWNER")
                {
                  topic_txt = "เจ้าของ";
                }
                else if (view.save150_informer_type_code == "RECEIVER")
                {
                  topic_txt = "ผู้ได้รับอนุญาต";
                }
                else if (view.save150_informer_type_code == "RECEIVER_PERIOD")
                {
                  topic_txt = "ผู้ได้รับอนุญาตช่วง";
                }

                <div>
                  @topic_txt
                </div>
              }

              @{
                int nPeoplePerPage = (nPagePeople == mPagePeople) ? (people_list.Count() - nStartPeople + 1) % mPeoplePerPage : mPeoplePerPage;

                @for (int i = 0; i < nPeoplePerPage; i++)
                {
                  int indx = (mPeoplePerPage * (nPagePeople - 1)) + i + nStartPeople - 1;
                  var people_item = people_list[indx];

                  <div>
                    <div>
                      @{
                        string txt1 = "";
                        txt1 += nPeople + ". ชื่อ\t" + people_item.name;
                      }
                      @txt1
                    </div>

                    <div>
                      @{
                        string txt2 = "";
                        txt2 = "ที่อยู่ " + people_item.address_details_1 + " " + people_item.address_details_2;
                      }
                      @txt2
                    </div>

                    <div>
                      @{
                        string txt3 = "";
                        txt3 += (people_item.nationality_codeNavigation != null) ? "สัญชาติ " + people_item.nationality_codeNavigation.name + "\t" : "";
                        txt3 += (people_item.career_codeNavigation != null) ? "อาชีพ " + people_item.career_codeNavigation.name + "\t" : "";
                        txt3 += ((!string.IsNullOrEmpty(people_item.card_number) && people_item.card_number.Length == 13) ? "เลขบัตรประจำตัวประชาชน "
                            + people_item.card_number[0] + " "
                            + people_item.card_number.Substring(1, 4) + " "
                            + people_item.card_number.Substring(5, 5) + " "
                            + people_item.card_number.Substring(10, 2) + " "
                            + people_item.card_number[12]
                            : "");
                      }
                      @txt3
                    </div>
                  </div>

                  nPeople++;
                }
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }

  @* ### Topic 7 ### *@
  @if (mPageRemark4 > 0)
  {
    for (int nPageRemark4 = 1; nPageRemark4 <= mPageRemark4; nPageRemark4++)
    {
      <div class="page kor-11">
        <div class="header align-right">
          แบบ ก.11
        </div>

        <div class="body clearfix">
          <div class="section logo-and-officer-input">
            <div class="logo-wrapper">
              <div class="logo-wrapper-inner clearfix">
                <img src="assets/images/logos/garuda-emblem.png"
                     alt="logo"
                     class="logo" />

                <div class="pdf-title bold">
                  ใบต่อแนบท้ายคำขอ
                </div>

                <div class="section-row addition-form clearfix">
                  <div class="label bold">
                    แบบ ก
                  </div>

                  <div class="data">
                    15
                  </div>
                </div>
              </div>
            </div>

            <div class="officer-input">
              <div class="reqeust-date">
                <div class="label bold">
                  วันที่ยื่น
                </div>
                <div class="data">

                </div>
              </div>

              <div class="reqeust-id">
                <div class="label bold">
                  คำขอเลขที่
                </div>
                <div class="data">
                  @view.request_number
                </div>
              </div>

              <div class="id">
                <div class="label bold">
                  ทะเบียนเลขที่
                </div>
                <div class="data">
                  @view.registration_number
                </div>
              </div>
            </div>
          </div>

          <div class="section detail main clearfix">

            <div>
              <div>
                2. ขอชี้แจงการถูกร้องขอเพิกถอนการจดทะเบียน ดังนี้
              </div>

              @{
                int nTextRemark4PerPage = (nPageRemark4 == mPageRemark4) ? (remark4.Length - nTextStartRemark4 + 1) % mTextRemark4PerPage : mTextRemark4PerPage;

                string txt = remark4.Substring(nTextStartRemark4 - 1, nTextRemark4PerPage);

                if (nTextStartRemark4 + nTextRemark4PerPage - 1 < remark4.Length)
                {
                  nTextStartRemark4 += nTextRemark4PerPage;
                }

                //multi line
                <div class="data connect-label text-full multi-line">
                  @txt
                </div>
              }
            </div>

          </div>

          <div class="section detail signature clearfix">

            @{
              nSignPerson = 0;
              nSignRepresentative = 0;
              nSignShow = 0;

              if (signPersonAll)
              {

                for (int i = 0; i < people_list.Count(); i++)
                {
                  var p = people_list.ElementAtOrDefault(i);

                  if (p != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @p.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignPerson++;
                      nSignShow++;
                    }
                  }
                }
              }

              if (signRepresentativeAll)
              {
                for (int i = 0; i < representative_list.Count(); i++)
                {
                  var r = representative_list.ElementAtOrDefault(i);

                  if (r != null)
                  {
                    if (nSignShow < mSignMainPage)
                    {
                      <div class="section-column clearfix">
                        <div class="section-row clearfix signature-text">
                          <div class="label">(ลายมือชื่อ) </div>
                          <div class="data">

                          </div>
                          <div class="label last">เจ้าของ/ตัวแทน</div>
                        </div>
                        <div class="section-row clearfix signature-full-text">
                          <div class="label">(</div>
                          <div class="data">
                            @r.name
                          </div>
                          <div class="label">)</div>
                        </div>
                      </div>

                      nSignRepresentative++;
                      nSignShow++;
                    }
                  }
                }
              }
              else
              {
                @for (int i = 0; i < resultRepresentative.Length; i++)
                {
                  if (resultRepresentative[i] != "" && (resultRepresentative[i] != "0" || signRepresentativeAll))
                  {
                    if (Int32.TryParse(resultRepresentative[i], out int num))
                    {
                      var r = representative_list.ElementAtOrDefault(num - 1);

                      if (r != null)
                      {
                        if (nSignShow < mSignMainPage)
                        {
                          <div class="section-column clearfix">
                            <div class="section-row clearfix signature-text">
                              <div class="label">(ลายมือชื่อ) </div>
                              <div class="data">

                              </div>
                              <div class="label last">เจ้าของ/ตัวแทน</div>
                            </div>
                            <div class="section-row clearfix signature-full-text">
                              <div class="label">(</div>
                              <div class="data">
                                @r.name
                              </div>
                              <div class="label">)</div>
                            </div>
                          </div>

                          nSignRepresentative++;
                          nSignShow++;
                        }
                      }
                    }
                  }
                }
              }
            }
          </div>
        </div>

        <div class="footer clearfix">
          <div class="note">
            <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์
          </div>

          <div class="pagination">
            <div class="label">
              หน้า
            </div>
            <div class="data">
              @{
                nAllPage++;
              }
              @nAllPage
            </div>

            <div class="label">
              ของจำนวน
            </div>
            <div class="data">
              @mAllPage
            </div>
            <div class="unit">
              หน้า
            </div>
          </div>
        </div>
      </div>
    }
  }
</body>

</html>
