﻿@model DIP.TM.Web.Views.Pdf.TM22PdfModel

<html>

  <head>
    <link
      href="assets/fonts/stylesheet.css"
      rel="stylesheet"
    >

    <link
      href="assets/theme/styles/pdf/tm22-pdf.css"
      rel="stylesheet"
    >
  </head>

  <body>
    <div class="page-one">
      <div class="header align-right">
        แบบ ก.22
      </div>

      <div class="body clearfix">
        <div class="section logo-and-officer-input">
          <div class="logo-wrapper">
            <div class="logo-wrapper-inner clearfix">
              <img
                src="assets/images/logos/garuda-emblem.png"
                alt="logo"
                class="logo"
              />

              <div class="pdf-title bold">
                คําขอจดทะเบียนแปลงทะเบียนระหว่างประเทศ<br />
                เป็นคําขอในราชอาณาจักร
              </div>

              <div class="mark-type">
                <label class="container">
                  เครื่องหมายการค้ำ/บริการ
                  <input
                    type="radio"
                    name="markType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container">
                  เครื่องหมายรับรอง
                  <input
                    type="radio"
                    name="markType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>

                <label class="container">
                  เครื่องหมายร่วม
                  <input
                    type="radio"
                    name="markType"
                  >
                  <div class="fake-input">

                  </div>
                  <span class="dip-icon-check"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="officer-input">
            <div class="caption bold">
              สำหรับเจ้าหน้าที่
            </div>

            <div class="reqeust-date">
              <div class="label bold">
                วันที่ยื่น
              </div>
              <div class="data">
                25/12/29
              </div>
            </div>

            <div class="fee-wrapper">
              <div class="fee clearfix">
                <div class="label bold">
                  ค่าธรรมเนียม
                </div>
                <div class="data">
                  1,500.00
                </div>
                <div class="unit bold">
                  บาท
                </div>
              </div>

              <div class="sign clearfix">
                <div class="label bold">
                  ลงชื่อ
                </div>
                <div class="data">
                </div>
                <div class="unit bold">
                  ผู้สั่ง
                </div>
              </div>

              <div class="name clearfix">
                <div class="label-first bold">
                  (
                </div>
                <div class="data">
                </div>
                <div class="label-last bold">
                  )
                </div>
              </div>
            </div>

            <div class="reqeust-id">
              <div class="label bold">
                คำขอเลขที่
              </div>
              <div class="data">
                test data
              </div>
            </div>
          </div>
        </div>

        <div class="section detail reqeust-detail clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              1.
            </div>

            <div class="title bold">
              รายละเอียดเกี่ยวกับคําขอระหว่างประเทศ
            </div>
          </div>

          <div class="section-row clearfix">
            <div class="label">
              (1) เลขทะเบียนระหว่างประเทศที่ถูกยกเลิก
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix">
            <div class="label">
              (2) วันที่ทะเบียนระหว่างประเทศถูกยกเลิก
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix">
            <div class="label">
              (3) วันที่จดทะเบียนระหว่างประเทศ
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix">
            <div class="label">
              (4) วันที่ระบุขอรับความคุ้มครองในประเทศไทยในภายหลัง
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix">
            <div class="label">
              (5) วันที่ขอใช่สิทธิตามมาตรา 28 หรือ 28 ทวิ ก่อนยื่นคําขอในราชอาณาจักร
            </div>

            <div class="data">

            </div>
          </div>
        </div>

        <div class="section detail owner clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              2.
            </div>

            <div class="title bold">
              เจ้าของ
            </div>

            <div class="radios appellant">
              <label class="container">
                บุคคลธรรมดา(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ส่วนราชการ(ไทย)
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ต่างชาติ
                <input
                  type="radio"
                  name="appellant"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>

          <div class="section-row clearfix name">
            <div class="label">
              ชื่อ
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="label">
              ที่อยู่
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set sub-district">
              <div class="label">
                แขวง/ตำบล
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set district">
              <div class="label">
                เขต/อำเภอ
              </div>

              <div class="data">
                ลาดปลาเค้า
              </div>
            </div>

            <div class="section-data-set province">
              <div class="label">
                จังหวัด
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set zip-code">
              <div class="label">
                รหัสไปรษณีย์
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set country">
              <div class="label">
                ประเทศ
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set nationality">
              <div class="label">
                สัญชาติ
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set job">
              <div class="label">
                อาชีพ
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set mobile">
              <div class="label">
                โทรศัพท์
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set fax">
              <div class="label">
                โทรสาร
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set email">
              <div class="label">
                อีเมล
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix ">
            <div class="radios id-type">
              <label class="container">
                เลขประจำตัวประชาชน
                <input
                  type="radio"
                  checked="checked"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล
                <input
                  type="radio"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เลขประจำตัวผู้เสียภาษีอากร
                <input
                  type="radio"
                  name="id_Type"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="pins-code">
                <div class="pin-code">
                  1
                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
              </div>

              <label class="container">
                เพิ่มเติม(ดังแนบ)
                <input type="checkbox">
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="section detail agency clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              3.
            </div>

            <div class="title bold">
              ตัวแทน
            </div>

            <div class="radios agency-type">
              <label class="container">
                ตัวแทน
                <input
                  type="radio"
                  checked="checked"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container back-space">
                ตัวแทนช่วง
                <input
                  type="radio"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                บุคคลธรรมดา(ไทย)
                <input
                  type="radio"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล(ไทย)
                <input
                  type="radio"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ส่วนราชการ(ไทย)
                <input
                  type="radio"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">อื่นๆ
                <input
                  type="radio"
                  name="agency"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>

          <div class="section-row clearfix name">
            <div class="label">
              ชื่อ
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="label">
              ที่อยู่
            </div>

            <div class="data">

            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set sub-district">
              <div class="label">
                แขวง/ตำบล
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set district">
              <div class="label">
                เขต/อำเภอ
              </div>

              <div class="data">
                ลาดปลาเค้า
              </div>
            </div>

            <div class="section-data-set province">
              <div class="label">
                จังหวัด
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set zip-code">
              <div class="label">
                รหัสไปรษณีย์
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set country">
              <div class="label">
                ประเทศ
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set nationality">
              <div class="label">
                สัญชาติ
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix address">
            <div class="section-data-set job">
              <div class="label">
                อาชีพ
              </div>

              <div class="data">

              </div>
            </div>

            <div class="section-data-set mobile">
              <div class="label">
                โทรศัพท์
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set fax">
              <div class="label">
                โทรสาร
              </div>

              <div class="data">
                test text
              </div>
            </div>

            <div class="section-data-set email">
              <div class="label">
                อีเมล
              </div>

              <div class="data">
                test text
              </div>
            </div>
          </div>

          <div class="section-row clearfix ">
            <div class="radios id-type clearfix">
              <label class="container">
                เลขประจำตัวประชาชน
                <input
                  type="radio"
                  checked="checked"
                  name="id_Type_two"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                นิติบุคคล
                <input
                  type="radio"
                  name="id_Type_two"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เลขประจำตัวผู้เสียภาษีอากร
                <input
                  type="radio"
                  name="id_Type_two"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <div class="pins-code">
                <div class="pin-code">
                  1
                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
                <div class="pin-code">

                </div>
              </div>

              <label class="container">
                เพิ่มเติม(ดังแนบ)
                <input type="checkbox">
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>

          <div class="section-row clearfix">
            <div class="radios conjunction clearfix">
              <div class="caption">
                คำเชื่อมระหว่างตัวแทน
              </div>

              <label class="container">
                และ
                <input
                  type="radio"
                  checked="checked"
                  name="conjunction"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                หรือ
                <input
                  type="radio"
                  name="conjunction"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                และ/หรือ
                <input
                  type="radio"
                  name="conjunction"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="section detail domestic-contact-address clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              4.
            </div>

            <div class="title bold">
              สถานที่ติดต่อภายในประเทศไทย
            </div>

            <div class="radios domestic-contact-address clearfix">
              <label class="container">
                ผู้อุทธรณ์
                <input
                  type="radio"
                  checked="checked"
                  name="domesticContactAddress"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ตัวแทน
                <input
                  type="radio"
                  name="domesticContactAddress"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ตัวแทนช่วง
                <input
                  type="radio"
                  name="domesticContactAddress"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container other">
                อื่นๆ (ระบุชื่อและที่อยู่ผู้รับให้ชัดเจน)
                <input
                  type="radio"
                  name="domesticContactAddress"
                >
                <div class="fake-input"></div>
                <span class="dip-icon-check"></span>
              </label>
            </div>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text
            </div>
          </div>
        </div>

        <div class="section detail mark-detail clearfix">
          <div class="section-column clearfix with-title">
            <div class="section-row clearfix with-title">
              <div class="number bold">
                5.
              </div>

              <div class="title bold">
                เครื่องหมายที่ขอจดทะเบียน
              </div>
            </div>

            <div class="section-row bold sub-title">
              4.1 ภาพเครื่องหมาย
            </div>

            <div class="additional">
              <label class="container">
                เพิ่มเติม (ดังแนบ)
                <input
                  type="checkbox"
                  name="additional"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>

          <div class="section-column clearfix image">
            <div class="image-border">
              <img class="image" />
            </div>
          </div>

          <div class="section-column clearfix sound-mark">
            <div class="section-row bold sub-title">
              4.2 เครื่องหมายเสียง
            </div>

            <div class="section-row clearfix">
              <label class="container">
                เสียงคน
                <input
                  type="radio"
                  name="soundMark"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เสียงสัตว์
                <input
                  type="radio"
                  name="soundMark"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เสียงเพลง/ดนตรี
                <input
                  type="radio"
                  name="soundMark"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                เสียงอื่นๆ
                <input
                  type="radio"
                  name="soundMark"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>

            <div class="section-row heading bold">
              การออกเสียงหรือคำบรรยายเสียง
            </div>

            <div class="section-row clearfix text-full pronunciation">
              <div class="data without-line text-full multi-line">
                safassssssssssssssssssssssssss safassssssssssssssssssssssssss Test text Test textTest
              </div>
            </div>

            <div class="section-row additional-sound">
              <div class="text">
                (ให้แนบสิ่งบันทึกเสียงพร้อมค ำขอจดทะเบียน)
              </div>

              <label class="container">
                เพิ่มเติม (ดังแนบ)
                <input
                  type="checkbox"
                  name="additional"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="footer clearfix">
        <div class="note">
          <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
          (ก.11)
        </div>

        <div class="pagination">
          <div class="label">
            หน้า
          </div>
          <div class="data">
            1
          </div>

          <div class="label">
            ของจำนวน
          </div>
          <div class="data">
            10
          </div>
          <div class="unit">
            หน้า
          </div>
        </div>
      </div>
    </div>

    <div class="page-two">
      <div class="header align-right">
        แบบ ก.22
      </div>

      <div class="body clearfix">
        <div class="section detail foreign-characters clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              6.
            </div>

            <div class="title bold">
              อักษรต่ำงประเทศตำม 5.1 (ถ้ามี) ให้ระบุคำอ่านและคำแปลเป็นภาษาไทย
            </div>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text
            </div>
          </div>

          <div class="section-row additional">
            <div class="text">(กรณีเป็นภาษาจีนให้ระบุคำอ่านสำเนียงจีนกลางและจีนแต้จิ๋วและคำแปล)
            </div>

            <label class="container">
              เพิ่มเติม (ดังแนบ)
              <input
                type="checkbox"
                name="additional"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section detail group-type clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              7.
            </div>

            <div class="title bold">
              จำพวกที
            </div>

            <div class="data group-type">

            </div>

            <div class="title bold">
              รายการสินค้า/บริการ
            </div>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text
            </div>
          </div>

          <div class="section-row additional">
            <div class="text">(ให้ระบุหมายเลขจำพวกและรายการสินค้า/บริการเป็นอย่างๆ ตามประกาศกระทรวงพาณิชย์ เรื่อง
              การกำหนดจำพวกสินค้าและบริการ)
            </div>

            <label class="container">
              เพิ่มเติม (ดังแนบ)
              <input
                type="checkbox"
                name="additional"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section detail mark-color-group clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              8.
            </div>

            <div class="title bold">
              การขอจดทะเบียนเครื่องหมายที่มีลักษณะเป็นกลุ่มของสี ตามมาตรา 7 วรรคสอง (5) (กลุ่มของสี หมายถึง
              การรวมกันของสีตั้งแต่ 2 สีขึ้นไปและแสดงโดย ลักษณะพิเศษ เช่น ภาพลวดลายที่เป็นสีต่างๆ)
            </div>
          </div>

          <div class="section-row mark-color-detail clearfix">
            <label class="container">
              ขอรับความคุ้มครอง(ให้บรรยายลักษณะกลุ่มของสีและระบุสีให้ชัดเจน)
              <input
                type="radio"
                name="markColorProtection"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text
            </div>
          </div>

          <div class="section-row additional clearfix">
            <label class="container">
              เพิ่มเติม (ดังแนบ)
              <input
                type="checkbox"
                name="additional"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row not-protection clearfix">
            <label class="container">
              ไม่ขอรับความคุ้มครอง
              <input
                type="radio"
                name="markColorProtection"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section detail mark-shape-group clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              9.
            </div>

            <div class="title bold">
              การขอจดทะเบียนเครื่องหมายที่มีลักษณะเป็นรูปร่างหรือรูปทรงของวัตถุ ตามมาตรา 7 วรรคสอง (10)
              (รูปร่างหรือรูปทรงของวัตถุ หมายถึง เครื่องหมายที่แสดง ด้านกว้าง ด้านยาว ด้านลึก หรือสามมิติ)
            </div>
          </div>

          <div class="section-row mark-shape-check clearfix">
            <label class="container">
              ขอรับความคุ้มครอง (ให้แสดงภาพด้านหน้าของเครื่องหมายลงในข้อ 4.1 ส่วนภำพด้านอื่นๆ (ถ้ามี))
              <input
                type="radio"
                name="markColorProtection"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row mark-shape-detail clearfix">
            <div class="text">คำบรรยายลักษณะเครื่องหมาย(ถ้ามี)</div>

            <div class="data connect-label text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text test
              text test text test text test text test text test text test text test text test text test text test text
              test text test text test text test text test text test text test text test text test text test text test
              text test text test text test text test text test text test text test text test text test text test text
              test text test text test text test text test text test text test text test text
            </div>
          </div>

          <div class="section-row additional clearfix">
            <label class="container">
              เพิ่มเติม (ดังแนบ)
              <input
                type="checkbox"
                name="additional"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>

          <div class="section-row not-protection clearfix">
            <label class="container">
              ไม่ขอรับความคุ้มครอง
              <input
                type="radio"
                name="markColorProtection"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section detail use-mark-before-register clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              10.
            </div>

            <div class="title bold">
              การใช้เครื่องหมายโดยการจำหน่าย เผยแพร่ หรือโฆษณาก่อนยื่นคำขอนี้
            </div>
          </div>

          <div class="section-row clearfix">
            <div class="radios">
              <label class="container">
                ได้ใช้หรืออนุญาตให้ใช้
                <input
                  type="radio"
                  name="UseMarkBeforeRegister"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>

              <label class="container">
                ไม่เคยใช้หรืออนุญาตให้ใช้
                <input
                  type="radio"
                  name="UseMarkBeforeRegister"
                >
                <div class="fake-input">

                </div>
                <span class="dip-icon-check"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="section detail registration-document clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              11.
            </div>

            <div class="title bold">
              เอกสารหลักฐานประกอบคำขอจดทะเบียน
            </div>
          </div>

          <div class="section-row clearfix">
            <label class="container">
              สำเนาบัตรประจำตัวหรือสำเนาหนังสือรับรองนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน ของเจ้าของ
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">
              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              สำเนาหนังสือมอบอำนาจ (ก.18) และสำเนาบัตรประจำตัวของผู้รับมอบอำนาจ (ถ้ามี)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หนังสือแสดงการปฏิเสธ (ก.12) (ถ้ามี)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              รายชื่อและเอกสารหลักฐานหรือคำชี้แจงแสดงความสัมพันธ์ของผู้มีสิทธิใช้เครื่องหมายร่วม (กรณีเครื่องหมายร่วม)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              รายชื่อและเอกสารหลักฐานหรือคำชี้แจงแสดงความสัมพันธ์ของผู้มีสิทธิใช้เครื่องหมายร่วม (กรณีเครื่องหมายร่วม)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              ข้อบังคับหรือข้อกำหนดหลักเกณฑ์การใช้เครื่องหมายรับรอง (กรณีเครื่องหมายรับรอง)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เอกสารหลักฐานการนำสืบลักษณะบ่งเฉพาะที่เกิดจากการใช้เครื่องหมายตามข้อ 9.
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              คำขอถือสิทธิวันที่ยื่นคำขอในต่างประเทศครั้งแรกหรือวันที่นำสินค้าออกแสดง (ก.10) (ถ้ามี)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              เอกสารหลักฐานประกอบการยื่นคำขอจดทะเบียนเครื่องหมายเสียง (ถ้ามี)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หนังสือยินยอมจากผู้โอนหรือผู้รับโอนตามมาตรา 51/1
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หนังสืออนุญาตให้ใช้ลายมือชื่อหรือภาพของบุคคลอื่นเป็นเครื่องหมายการค้า
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>

            <label class="container">
              หนังสือขอผ่อนผันการส่งเอกสารหลักฐำน (ก.19)
              <input
                type="checkbox"
                name="registrationDocument"
              >
              <div class="fake-input">

              </div>
              <span class="dip-icon-check"></span>
            </label>
          </div>
        </div>

        <div class="section detail argeement clearfix">
          <div class="section-row clearfix with-title">
            <div class="number bold">
              12.
            </div>

            <div class="title bold">
              ข้ำพเจ้ำขอรับรองว่ำ
            </div>
          </div>

          <div class="section-row clearfix">
            <div class="text">
              (1)
              ข้าพเจ้าเป็นเจ้าของหรือเป็นผู้มีสิทธิโดยชอบด้วยกฎหมายในเครื่องหมายการค้าที่นำมายื่นคำขอจดทะเบียนตามคำขอนี้้
            </div>
            <div class="text">
              (2) ข้อเท็จจริงทั้งปวงที่ระบุไว้ในคำขอจดทะเบียนและเอกสารการจดทะเบียนถูกต้องและเป็นความจริงทุกประการ
            </div>
          </div>

          <div class="section-row">
            <div class="data text-full multi-line">
              test text test text test text test text test text test text test text test text test text test text test
              text test text test text test text test text test text test text test text test text test text test text
              test text test text test text test text test text test text test text test text test text
            </div>
          </div>
        </div>
      </div>

      <div class="footer clearfix">
        <div class="note">
          <u class="">หมายเหตุ</u> การกรอกข้อความให้ใช้วิธีพิมพ์ ในกรณีที่ไม่อาจระบุรายละเอียดได้ครบถ้วน ให้พิมพ์ในใบต่อ
          (ก.11)
        </div>

        <div class="pagination">
          <div class="label">
            หน้า
          </div>
          <div class="data">
            2
          </div>

          <div class="label">
            ของจำนวน
          </div>
          <div class="data">
            2
          </div>
          <div class="unit">
            หน้า
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
