﻿@using DIP.TM.Utils.Extensions;
@model DIP.TM.Web.Views.Pdf.TorKorPdfModel

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/fonts/stylesheet.css" rel="stylesheet">
    <link href="/assets/theme/styles/pdf/tor-kor.css" rel="stylesheet">

    <style type="text/css" media="screen,print">
        .new-page {
            page-break-before: always;
        }
    </style>
</head>

<script>
    setInterval(function () {
        // window.location.reload();
    }, 1000);
</script>

<body>
    @{
        if (!string.IsNullOrEmpty(Model.barcode) && !string.IsNullOrEmpty(Model.reference_number)) {
            <div class="barcode">
                <div class="pic">
                    <img src="data:image/png;base64, @Model.barcode" />
                </div>
                <div class="number">@Model.reference_number</div>
            </div>
        }

        var book_number_list = Model.view.Select(r => r.book_number).Distinct().OrderBy(r => r).ToList();
        foreach (var book_number in book_number_list) {
            var tor_kor_list = Model.view.Where(r => r.book_number == book_number).ToList();

            <div class="header">
                <div class="absolute img-logo">
                    <img src="/assets/images/logos/garuda-emblem.png" />
                    <div class="title">
                        @(tor_kor_list[0].book_round_02_start_date.HasValue ? tor_kor_list[0].book_round_02_start_date.Value.ToThaiDateString() : tor_kor_list[0].book_round_01_start_date.Value.ToThaiDateString())
                    </div>
                </div>

                <div class="topic">
                    <div class="float-left">ที่ พณ @book_number</div>
                    <div class="float-right">@*แบบ ตค. 5 ข้อ 3*@</div>
                </div>

                <div class="clear"></div>

                <div class="address">
                    <div class="bold">สำนักเครื่องหมายการค้า</div>
                    <div class="bold">กรมทรัพย์สินทางปัญญา</div>
                    <div>563 ถนนนนทบุรี ตำบลบางกระสอ</div>
                    <div>อำเภอเมืองนนทบุรี จังหวัดนนทบุรี 11000</div>
                </div>
                <div class="clear"></div>

                <div class="">
                    <table>
                        <tr>
                            <td>เรื่อง</td>
                            <td>คำขอเลขที่ @tor_kor_list[0].request_number</td>
                        </tr>
                        <tr>
                            <td>เรียน</td>
                            <td>
                                <div>@tor_kor_list[0].contact_name</div>
                                <div>@tor_kor_list[0].contact_information</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="line"></div>

            <div class="body-list">
                @foreach (var tor_kor in tor_kor_list) {
                    if (tor_kor.instruction_rule_code == "RULE_5_3") {
                        <div class="body">
                            <div class="title">นายทะเบียนได้พิจรณาแล้วขอแจ้งให้ทราบว่า เครื่องหมายที่ขอจดทะเบียน</div>
                            <div class="paragraph">1. ให้จดทะเบียนเครื่องหมายการค้านี้ได้</div>
                            <div class="paragraph">
                                2. ให้ชำระค่าธรรมเนียมเพื่อการรับจดทะเบียน
                                เป็นจำนวนเงิน 600 บาท ภายใน 60 วัน นับตั้งแต่วันที่ได้รับหนังสือฉบับนี้
                                มิฉะนั้น จะถือว่าท่านละทิ้งคำขอทะเบียน ตามมาตรา 40 วรรคสอง
                                (ประกาศโฆษณาวันที่ @tor_kor.public_start_date.Value.ToThaiDateString() จำพวกที่ @tor_kor.request_item_sub_type_1_code_public_line_text.Replace(",", ", จำพวกที่ ").Replace("|", " ลำดับที่ "))
                            </div>

                            <div class="paragraph div_content_01">
                                ท่านสามารถชำระค่าธรรมเนียมได้ตามช่องทางดังนี้
                            </div>

                            <div class="div_content_02">
                                <div class="paragraph">
                                    1. ส่วนบริการ ชั้น 3 กรมทรัพย์สินทางปัญญา กระทรวงพาณิชย์ ตั้งแต่เวลา 08:30 - 15:30
                                    ของวันทำการ
                                </div>
                                <div class="paragraph">2. สำนักงานพาณิชย์จังหวัด</div>
                                <div class="paragraph">3. ทางอินเทอร์เน็ต</div>
                                <div class="paragraph">4. ทางธนาณัติ สั่งจ่าย สำนักเครื่องหมายการค้า ปลายทาง ปณ.กระทรวงพาณิชย์</div>
                            </div>
                        </div>

                    } else if (tor_kor.instruction_rule_code == "RULE_5_8_EXTEND") {
                        <div class="body">
                            <div class="title">นายทะเบียนได้พิจรณาแล้วขอแจ้งให้ทราบว่า เครื่องหมายที่ขอจดทะเบียน</div>
                            <div class="paragraph">เครื่องหมายของท่าที่ได้จดทะเบียนไว้ตามทะเบียนเลขที่ @tor_kor.request_number ได้ครบกำหนดต่ออายุแล้ว เมื่อวันที่ @tor_kor.trademark_expired_date.Value.ToThaiShortDateString()</div>
                            <div class="">หากทานประสงค์จะต่ออายุเครื่องหมายนี้ให้ท่านยื่นคำขอต่อายุ โดยใช้แบบ ก.07 ภายใน 60 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้</div>
                            <div class="">หรือภายในหกเดือนนับแต่วันสิ้นสุด กรณียื่นขอต่ออายุภายหลังวันสิ้นอายุผู้ขอจะต้องชำระค่าธรรมเนียม</div>
                            <div class="">เพิ่มร้อยละสิบของจำนวนค่าธรรมเนียมการต่ออายุ มิฉะนั้น จะเพิกถอนทะเบียนของท่านตามมาตรา 56</div>
                        </div>
                    } else if (tor_kor.instruction_rule_code == "RULE_5_8_FEE") {
                        <div class="body">
                            <div class="title">ข้อ 1 เรื่องที่แจ้งให้ดำเนินการ</div>
                            <div class="paragraph">การขอจดทะเบียนเครื่องหมายตามคำขอข้างต้นนี้ นายทะเบียนได้พิจารณาแล้วขอให้แจ้งให้ดำเนินการ ดังนี้</div>
                            <div class="paragraph">เรื่องที่แจ้งนั้นท่านต้องดำเนินการให้เสร็จสิ้นภายใน 30 วัน นับแต่วันที่ได้รับหนังสือฉบับนี้</div>
                            <div class="paragraph">มิฉะนั้นจะถือว่าท่านละทิ้งคำขอจดทะเบียน</div>
                            <div class="paragraph">- ให้ผู้ขอชำระค่าธรรมรับจดทะเบียนเพิ่มเป็นเงิน @(!string.IsNullOrEmpty(tor_kor.value_1) ? tor_kor.value_1 : "600") บาท</div>
                        </div>
                        //} else if (tor_kor.instruction_rule_code == "RULE_9_11_CANCEL_PUBLIC") {
                    } else if (tor_kor.instruction_rule_code == "RULE_9_1") {
                        <div class="body">
                            <div class="title">นายทะเบียนได้พิจรณาแล้วขอแจ้งให้ทราบว่า เครื่องหมายที่ขอจดทะเบียน</div>
                            <div class="paragraph">ได้รับการจดทะเบียนแครื่องหมายรายนี้แล้ว ตามหนังสือสำคัญแสดงการจดทะเบียนเครื่องหมายที่ส่งมาพร้อมนี้</div>
                            <div class="paragraph">ทะเบียนเลขที่ @tor_kor.registration_number</div>
                        </div>
                    } else {
                        @tor_kor.instruction_rule_code <br />
                    }
                }

            </div>

            <div class="line"></div>

            <div class="footer">
                <div class="footer-respect">ขอแสดงความนับถือ</div>
                <div class="footer-signature-real"></div>
                <div class="footer-signature-name">(ลงชื่อ) <div class="underline-dotted"></div></div>
                <div class="footer-name underline-dotted">( นาย กันตภณ ทองมาก )</div>
                <div class="footer-position">นายทะเบียน</div>
                <div class="footer-telephone">โทร.02-5474684</div>
            </div>

            @*<div class="foot-left">โปรดนำหนังสือฉบับนี้ไปติดต่อด้วยทุกครั้ง</div>*@
        }
    }
</body>

</html>
