<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          <i class="dip-icon-layer" ></i> เอกสารเเนบ
        </h3>
      </div>
    </div>
    <div class="kt-portlet__head-action">

    </div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>


  <div class="kt-portlet__body">
    <div class="kt-portlet all-task-list">
     

      <div class="kt-portlet__body nc-middle-label">
        <div class="table-responsive">
          <table style="width: auto;" class="table table-bordered">
            <thead>
              <tr>
                <td class="select" style="width: auto;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                      [checked]="input.is_check_all" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto; text-align: center;">ลำดับ</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  ชื่อเอกสาร</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                    หัวข้อ</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  วันทีแนบ</td>
               
                <td class="public_order" style="width: auto; text-align: center;">คำสั่ง</td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listPublicItem">
                <td class="select" style="text-align: center;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                      [checked]="row_item.is_check" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto; text-align: center;">{{row_item.index}}</td>
                
                
                
                <td class="public_type_name" style="width: auto; text-align: center;">
                  <div class="button-click-table">
                    {{row_item.IrnNo}}
                  </div>
                </td>

                <td class="public_remark" style="width: auto; text-align: center;">{{row_item.details}}
                </td>

                <td class="public_request_type" style="width: auto; text-align: center;">
                  {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                
                
               
                <td class="edit_delete " style="text-align: center; background-color: white;" >
                  <button class="btn btn-icon btn-brand" style="background-color: white;">
                    <i class="dip-icon-file-alt" style="color: #0C84c8;"></i>
                  </button>

                </td>
                

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="kt-portlet__footer">
        <div class="row col-md-12">
          <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginateRequest')">
              <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2 m-b-5">
            <label class="nc-col-form-label  p-t-10"> แสดง 1 จาก 10
              รายการ</label>
          </div>
          <div class="col-md-4">
          </div>

        </div>


      </div>
    </div>

  </div>

  
</div>