:host {
  .kt-portlet--tabs {
    .kt-portlet__head {
      .kt-portlet__head-toolbar {
        min-height: 59px;
        height: 100%;
      }
    }
  }

  .nav-tabs {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;

    .nav-item {
      margin-right: 5px;
      cursor: pointer;

      .nav-link {
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }
}
