<div class="kt-portlet__body">
  <div class="form-row">
    <div class="form-column">
      <div class="kt-portlet__body__inner" *ngIf="address.address_type_code">
        <div class="form-group flex">
          <label class="col-form-label">
            สถานที่ส่ง
          </label>
          <div class="input-wrapper">
            <select class="form-control"
                    (change)="onChangeAddressTypeCode()"
                    [(ngModel)]="address.address_type_code">
              <option *ngFor="let item of master.addressTypeCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="address.address_type_code == null">
        <div class="form-group flex">
          <label class="col-form-label">
            ลำดับ
          </label>

          <div class="input-wrapper">
            <input #key_index
                   class="form-control input"
                   type="text"
                   placeholder="ลำดับ"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [(ngModel)]="address.index"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเภทบัตร
          </label>
          <div class="input-wrapper">
            <select #key_card_type_code
                    class="form-control"
                    [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    [disabled]="default && address.address_type_code != 'OTHERS'"
                    [(ngModel)]="address.card_type_code">
              <option *ngFor="let item of master.addressCardTypeCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเทศ *
          </label>
          <div class="input-wrapper">
            <select class="form-control"
                    [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    [disabled]="default && address.address_type_code != 'OTHERS'"
                    [(ngModel)]="address.address_country_code">
              <option *ngFor="let item of master.addressCountryCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            ชื่อ *
          </label>
          <div class="input-wrapper">
            <input #key_name
                   class="form-control input"
                   placeholder="ชื่อ"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.name"
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            รายละเอียด
          </label>
          <div class="input-wrapper">
            <textarea class="form-control input"
                      type="text"
                      [(ngModel)]="address.descrition"
                      [disabled]="default && address.address_type_code != 'OTHERS'"
                      autocomplete="off"></textarea>
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            สัญชาติ *
          </label>
          <div class="input-wrapper">
            <select class="form-control"
                    [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    [disabled]="default && address.address_type_code != 'OTHERS'"
                    [(ngModel)]="address.nationality_code">
              <option *ngFor="let item of master.addressNationalityCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            ที่อยู่ *
          </label>
          <div class="input-wrapper">
            <input class="form-control input"
                   type="text"
                   placeholder="ที่อยู่"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.house_number"
                   *ngIf="address.address_country_code == 'TH'"
                   autocomplete="off" />

            <textarea class="form-control input"
                      type="text"
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                      [(ngModel)]="address.house_number"
                      *ngIf="address.address_country_code != 'TH'"
                      autocomplete="off"></textarea>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner"
           *ngIf="(!address.address_type_code || address.address_type_code == 'OTHERS' || default) &&
           address.address_country_code == 'TH'">
        <div class="form-group flex">
          <label class="col-form-label">
            ตำบล / แขวง *
          </label>
          <div class="input-wrapper">
            <div class="form-group flex input-with-icon">
              <input class="form-control input"
                     type="text"
                     [(ngModel)]="address.address_sub_district_name"
                     placeholder="ตำบล / แขวง"
                     (input)="onChangeAutocomplete('address_sub_district_name')"
                     [disabled]="default && address.address_type_code != 'OTHERS'"
                     autocomplete="off" />
              <button class="btn btn-input-search btn-icon"
                      type="button">
                <i class="dip-icon-search"></i>
              </button>
            </div>

            <div class="div_autocomplete"
                 *ngIf="showAutocomplete == 'address_sub_district_name'"
                 (clickOutside)="onClickOutsideAutocomplete()">
              <table>
                <tr *ngFor="let autocomplete of autocompleteList['address_sub_district_name']"
                    (click)="
                            onSelectAutocomplete('address_sub_district_name', autocomplete)
                          ">
                  <td>{{ autocomplete.name }}</td>
                  <td>{{ autocomplete.district_name }}</td>
                  <td>{{ autocomplete.postal_name }}</td>
                  <td>{{ autocomplete.province_name }}</td>
                  <td>{{ autocomplete.country_name }}</td>
                </tr>
                <tr class="div_loading">
                  <td colspan="10">Loading</td>
                </tr>
              </table>
            </div>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner"
           *ngIf="(!address.address_type_code || address.address_type_code == 'OTHERS' || default) &&
           address.address_country_code == 'TH'">
        <div class="form-group flex">
          <label class="col-form-label">
            รหัสไปรษณีย์ *
          </label>
          <div class="input-wrapper">
            <input #key_address_postal_code
                   class="form-control input"
                   type="text"
                   placeholder="รหัสไปรษณีย์"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.postal_code"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            โทรศัพท์ *
          </label>
          <div class="input-wrapper">
            <input #key_telephone
                   class="form-control input"
                   type="text"
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.telephone"
                   placeholder="โทรศัพท์"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            E-mail
          </label>
          <div class="input-wrapper">
            <input #key_email
                   class="form-control input"
                   type="text"
                   placeholder="E-mail"
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.email"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="kt-portlet__body__inner"
           *ngIf="address.address_type_code == 'OTHERS'">
        <div class="form-group flex">
          <label class="col-form-label">

          </label>
          <div class="input-wrapper">
            <input #key_name
                   class="form-control input"
                   [(ngModel)]="address.other_text"
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเภทบุคคล
          </label>
          <div class="input-wrapper">
            <select #key_receiver_type_code
                    class="form-control"
                    [disabled]="default && address.address_type_code != 'OTHERS'"
                    [(ngModel)]="address.receiver_type_code"
                    [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      ">
              <option *ngFor="let item of master.addressReceiverTypeCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <!--<div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
          </label>
          <div class="input-wrapper">
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>-->

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            เลขที่บัตร *
          </label>
          <div class="input-wrapper">
            <input #key_card_number
                   class="form-control input"
                   type="text"
                   placeholder="เลขที่บัตร"
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.card_number"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex" *ngIf="address.card_type_code != 'TAX_ID'">
          <label class="col-form-label">
            เพศ
          </label>

          <div class="input-wrapper">
            <div class="kt-radio-inline select-item">
              <label *ngFor="let item of master.addressSexCodeList"
                     class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="address_sex_code{{uid}}"
                       type="radio"
                       value="{{item.code}}"
                       [checked]="item.code === address.sex_code"
                       [disabled]="default && address.address_type_code != 'OTHERS'"
                       (click)="
                            binding('sex_code', item.code)
                          " />
                {{ item.name }}
                <span></span>
              </label>
            </div>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.is_representative && (!address.address_type_code || address.address_type_code == 'OTHERS' || default)">
        <div class="form-group flex">
          <label class="col-form-label">
          </label>
          <div class="input-wrapper">
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex" *ngIf="address.is_representative">
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน
          </label>

          <div class="input-wrapper">
            <div class="kt-radio-inline select-item">
              <label *ngFor="let item of master.addressRepresentativeConditionTypeCodeList"
                     class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="address_representative_condition_type_code{{uid}}"
                       type="radio"
                       value="{{item.code}}"
                       [checked]="item.code === address.address_representative_condition_type_code"
                       [disabled]="default && address.address_type_code != 'OTHERS'"
                       (click)="
                            binding('address_representative_condition_type_code', item.code)
                          " />
                {{ item.name }}
                <span></span>
              </label>
            </div>

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>


      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            อาชีพ *
          </label>
          <div class="input-wrapper">
            <select class="form-control"
                    [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                    [disabled]="default && address.address_type_code != 'OTHERS'"
                    [(ngModel)]="address.career_code">
              <option *ngFor="let item of master.addressCareerCodeList"
                      [value]="item.code">
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default &&
           address.address_country_code != 'TH'">
        <div class="form-group flex">
          <label class="col-form-label">
          </label>
          <div class="input-wrapper">
            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="!address.address_type_code || address.address_type_code == 'OTHERS' || default">
        <div class="form-group flex">
          <label class="col-form-label">
            Fax
          </label>
          <div class="input-wrapper">
            <input #key_fax
                   class="form-control input"
                   type="text"
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.fax"
                   placeholder="Fax"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   autocomplete="off" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner"
           *ngIf="(!address.address_type_code || address.address_type_code == 'OTHERS' || default) &&
           address.address_country_code == 'TH'">
        <div class="form-group flex">
          <label class="col-form-label">
            อำเภอ / เขต *
          </label>

          <div class="input-wrapper">
            <input #key_address_district_code
                   class="form-control input"
                   type="text"
                   placeholder="อำเภอ / เขต"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.address_district_name"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body__inner"
           *ngIf="(!address.address_type_code || address.address_type_code == 'OTHERS' || default) &&
           address.address_country_code == 'TH'">
        <div class="form-group flex">
          <label class="col-form-label">
            จังหวัด *
          </label>

          <div class="input-wrapper">
            <input #key_address_province_name
                   class="form-control input"
                   type="text"
                   placeholder="จังหวัด"
                   [ngClass]="
                        isSubmited
                          ? isValid
                            ? 'is-valid'
                            : 'is-invalid'
                          : null
                      "
                   [disabled]="default && address.address_type_code != 'OTHERS'"
                   [(ngModel)]="address.address_province_name"
                   autocomplete="off"
                   disabled="disabled" />

            <div class="feedback-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
