<div class="kt-portlet">
  <div class="kt-portlet">
    <div class="kt-portlet__head" *ngIf="initial_table.can_added || initial_table.can_deleted || title || initial_table.button_list || initial_table.command">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          {{title}}
        </h3>
      </div>

      <div class="kt-portlet__head-action"
           *ngIf="initial_table.can_added || initial_table.can_deleted || initial_table.button_list">
        <button class="btn btn-brand"
                *ngFor="let button of initial_table.button_list"
                (click)="Command(button.name)">
          <i class="dip-icon-{{button.icon || 'play'}}"></i>
          {{button.title}}

          <input type="file"
                 *ngIf="button.file"
                 name="myfile"
                 class="upload-input"
                 accept="{{button.file}}"
                 (change)="FileUpload(button, $event)" />
        </button>

        <button class="btn btn-icon"
                *ngIf="initial_table.can_added"
                (click)="onClickAdd()">
          <i class="dip-icon-add-new"></i>
        </button>

        <button type="button"
                *ngIf="initial_table.can_deleted"
                class="btn btn-danger btn-icon"
                (click)="onClickDelete()">
          <i class="dip-icon-trash"></i>
        </button>
      </div>

      <div class="kt-portlet__head-action" *ngFor="let command of initial_table.command">
        <button type="button"
                *ngIf="!command.is_hide_button"
                class="btn btn-brand"
                [class.btn-icon]="!command.title"
                (click)="Command(command)">
          <i class="dip-icon-{{command.icon || 'play'}}"></i>
          {{command.title}}
        </button>
      </div>
    </div>

    <div class="kt-portlet__body">
      <table [style.width]="initial_table.width || 'unset'">
        <thead>
          <tr>
            <td *ngIf="initial_table.can_selected">
            </td>
            <td *ngIf="initial_table.can_deleted || initial_table.can_checked || initial_table.command">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       (click)="onClickCheckBoxSelectAll($event.target.checked)" /><span>
                </span>
              </label>
            </td>
            <td *ngFor="let column of Keys(initial_table.column_list)"
                class="{{column}}">
              {{initial_table.column_list[column]}}
            </td>
            <td *ngIf="initial_table.is_address_edit || initial_table.can_deleted || initial_table.has_link || initial_table.command_item">คำสั่ง</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of object_show_list">
            <td *ngIf="initial_table.can_selected">

              <div class="kt-radio-inline select-item">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="selected"
                         type="radio"
                         [checked]="initial_table.row_item_selected == row_item"
                         (click)="onClickRadioBox(row_item)" />
                  <span></span>
                </label>
              </div>
            </td>
            <td *ngIf="initial_table.can_deleted || initial_table.can_checked || initial_table.command">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"
                       [(ngModel)]="row_item.is_check"
                       [checked]="row_item.is_check" /><span></span>
              </label>
            </td>
            <td *ngFor="let column of Keys(initial_table.column_list)"
                class="{{column}}">
              <span *ngIf="!initial_table.column_edit_list || !initial_table.column_edit_list[column]"
                    [innerHTML]="row_item[column.replace('_date', '_date_text')]">
              </span>
              <span *ngIf="initial_table.column_edit_list && initial_table.column_edit_list[column]">
                <span *ngIf="initial_table.column_edit_list[column].type == 'textbox'">
                  <input class="form-control input"
                         type="text"
                         [style.width]="initial_table.column_edit_list[column].width ? initial_table.column_edit_list[column].width + 'px' : ''"
                         id="{{column}}_{{row_item.id}}"
                         [(ngModel)]="row_item[column]"
                         autocomplete="off"
                         (click)="onClickTextbox(row_item, column)" />



                  <!--<textarea class="form-control input"
                  type="text"
                  [style.width]="initial_table.column_edit_list[column].width ? initial_table.column_edit_list[column].width + 'px' : ''"
                  id="{{column}}_{{row_item.id}}"
                  [(ngModel)]="row_item[column]"
                  autocomplete="off"
                  *ngIf="!initial_table.column_edit_list[column].group_by && row_item_click == row_item"></textarea>-->
                </span>
                <span *ngIf="initial_table.column_edit_list[column].type == 'datetime'">
                  <div class="input-wrapper input-with-icon datepicker">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input class="form-control input"
                               matInput
                               [matDatepicker]="request_date"
                               (click)="request_date.open()"
                               [(ngModel)]="row_item[column]"
                               autocomplete="off">
                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                               for="request_date">
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="request_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #request_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                </span>
                <span *ngIf="initial_table.column_edit_list[column].type == 'combo_box'">
                  <select class="form-control input"
                          [(ngModel)]="row_item[column]">
                    <option value="{{item.code}}"
                            *ngFor="let item of master[initial_table.column_edit_list[column].master]">
                      {{item.name}}
                    </option>
                  </select>
                </span>

                <span *ngIf="initial_table.column_edit_list[column].type == 'checkbox'">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox"
                           [(ngModel)]="row_item[column]"
                           [checked]="row_item[column]" />
                    <span></span>
                  </label>
                </span>
              </span>
            </td>
            <td *ngIf="initial_table.is_address_edit || initial_table.can_deleted || initial_table.can_ordered || initial_table.has_link || initial_table.command || initial_table.command_item">
              <i *ngIf="initial_table.is_address_edit"
                 (click)="onClickAddressEdit(row_item)"
                 class="dip-icon-edit-pen"></i>

              <i *ngIf="initial_table.has_link && eval(initial_table.has_link[0], row_item)"
                 (click)="onClickOpenLink(row_item)"
                 class="dip-icon-file-alt"></i>

              <span *ngFor="let command of initial_table.command">
                <i (click)="Command(command, row_item)"
                   *ngIf="!command.is_showed || eval(command.is_showed, row_item)"
                   class="dip-icon-{{command.icon || 'play'}}"></i>
              </span>

              <span *ngFor="let command of initial_table.command_item">
                <i (click)="Command(command.name, row_item)"
                   *ngIf="!command.object_id || (row_item[command.object_id] && row_item[command.object_id] !='')"
                   class="dip-icon-{{command.icon || 'play'}}"></i>
              </span>

              <div *ngIf="initial_table.can_ordered"
                   class="btx-div-arrow-group">
                <div class="btx-div-arrow-up-box"
                     (click)="onClickIndexUp(row_item)">
                  <i class="btx-icon-arrow-bg arrow-up"></i>
                </div>
                <div class="btx-div-arrow-down-box"
                     (click)="onClickIndexDown(row_item)">
                  <i class="btx-icon-arrow-bg arrow-down"></i>
                </div>
              </div>

              <i *ngIf="initial_table.can_deleted"
                 (click)="onClickDelete(row_item)"
                 class="dip-icon-trash"></i>

            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <div class="kt-portlet__footer">
    <app-paging [item_all_list]="object_list"
                [item_list]="object_show_list"
                [is_updated]="updated"
                [paginate]="paginate"
                (onClickList)="onClickList()"></app-paging>
  </div>
</div>

<app-modal [className]="['fade', this.modal.isModalPeopleEditOpen ? 'show' : undefined]"
           [title]="'แก้ไข' + this.modalPeopleText"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalPeopleEditOpen')">
  <div body-children class="flex align-item-start">
    <div class="main-form-wrapp er">
      <div class="kt-portlet save-01-process-job">
        <div class="kt-portlet__body">

          <app-address [params]="[modalAddress, master]"></app-address>

        </div>
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-brand"
            (click)="modal.isModalPeopleEditOpen = false; popup.is_duplicate_index_show = true; popup.duplicate_index = '0'">
      <i class="dip-icon-duplicate"></i>
      คัดลอก
    </button>

    <button type="button"
            class="btn btn-secondary"
            (click)="onClickAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>

<div class="div_popup div_duplicate_index_show" [class.hide]="!popup.is_duplicate_index_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          คัดลอกจากอันดับที่
        </h3>
      </div>
      <div class="kt-portlet__head-action"></div>
    </div>

    <div class="kt-portlet__body">
      <select class="form-control input"
              [value]="popup.duplicate_index"
              [(ngModel)]="popup.duplicate_index">
        <option [value]="i"
                *ngFor="let object of object_parent_list ; index as i">
          {{i + 1}}
        </option>
      </select>
    </div>

    <div class="kt-portlet__footer">
      <button type="button"
              class="btn btn-danger"
              (click)="modal.isModalPeopleEditOpen = true; popup.is_duplicate_index_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
      <div class="button-list">
        <button type="button"
                class="btn btn-orange"
                (click)="onClickDuplicateItemSave()">
          <i class="dip-icon-arrow-right"></i>
          เสร็จสิ้น
        </button>
      </div>
    </div>

  </div>

</div>

<div class="div_popup div_group_by_show" *ngIf="popup.group_by_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            {{popup.group_by_title}}
          </h3>
        </div>
        <div class="kt-portlet__head-action"></div>
      </div>

      <app-table [initial_table]="tableGroupBy"></app-table>
    </div>

    <div class="kt-portlet__footer">
      <div class="button-list">
        <button type="button"
                class="btn btn-orange"
                (click)="onClickGroupBySave()">
          <i class="dip-icon-save"></i>
          บันทึก
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="popup.group_by_show = null">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>

  </div>

</div>
