/*:host .kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar {
  min-height: 59px;
  height: 100%;
}

:host .nav-tabs {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
}

:host .nav-tabs .nav-item {
  margin-right: 5px;
  cursor: pointer;
}

:host .nav-tabs .nav-item .nav-link {
  font-size: 16px;
  padding: 0 15px;
}*/
