<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-search"></i>การค้นหา
          </h3>
        </div>
    </div>
  
    <div class="kt-portlet__body"> 
        <div class="row">
            <div class="col-md-4">
                <div class="form-group flex">
                    <label class="col-form-label" for="registrationRequester">
                        เลขที่คำขอ
                    </label>
                    <div class="input-group mb-3">
                        <input #key_request_number class="form-control input" type="text" 
                        id="request_number" placeholder="เพิ่มตัวเลข" 
                        [(ngModel)]="input[key_request_number.id]" 
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '');" >
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="col-form-label" for="registrationRequester">
                        เลขที่อ้างอิงการชำระเงิน
                    </label>
                    <div class="input-group mb-3">
                        <input #key_ref_number type="text" class="form-control" 
                        id="ref_number" placeholder="เพิ่มตัวเลข" 
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '');" >
                    </div>
                </div>
            </div>
      
            <div class="col-md-5">
                <div class="form-group flex">
                    <label class="col-form-label2">
                        วันที่ยื่นคำขอตั้งแต่
                    </label>
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control"
                            #key_from_date 
                            id="from_date" 
                            [(ngModel)]="input[key_from_date.id]" 
                            [matDatepicker]="from_picker"
                            (click)="from_picker.open()" 
                            (dateChange)="clearValidate(key_from_date.id)"
                        />
                        <div class="input-group-append">
                            <label class="cs-input-group-text" for="from_date">
                            <span class="dip-icon-calendar" style="font-size: 16px;"></span>
                            </label>
                        </div>
                        <mat-datepicker #from_picker></mat-datepicker>
                    </div>
                    <label class="col-form-label3">
                        ถึง
                    </label>
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control"
                            #key_to_date 
                            id="to_date" 
                            [(ngModel)]="input[key_to_date.id]" 
                            [matDatepicker]="to_picker"
                            (click)="to_picker.open()" 
                            (dateChange)="clearValidate(key_to_date.id)"
                        />
                        <div class="input-group-append">
                            <label class="cs-input-group-text" for="to_date">
                            <span class="dip-icon-calendar" style="font-size: 16px;"></span>
                            </label>
                        </div>
                        <mat-datepicker #to_picker></mat-datepicker>
                    </div>
                </div>
            </div>
      
            <div class="col-sm-3">
                <div class="form-group flex">
                    <label class="col-form-label4">
                        สถานะ
                    </label>
                    <select
                        #key_save_status_code
                        name="save_status_code"
                        class="form-control"
                        [(ngModel)]="master.saveStatusCodeList"
                        (input)="clearValidate('type_code')"
                        style="color: #6D6E71;">
                        <option *ngFor="let item of master.saveStatusCodeList" 
                                [value]="item.code === input.save_status_code" 
                                (click)="oneWayDataBinding(key_save_status_code, value)"
                                style="color: #6D6E71;">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
  
        <div class="row" style="display: flex; align-items: center; justify-content: center;">
            <button type="button" class="btn btn-brand mr-3" (click)="onClickSave03List()">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-undo" (click)="onClickReset()">
                <i class="fa fa-undo" style="color: #6D6E71;"></i>
                เริ่มใหม่
            </button>
        </div>
    </div>
</div>

<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางแสดง
            </h3>
        </div>
        <div class="kt-portlet__head-action">
            <button type="button" class="btn btn-brand">
                <i class="fa fa-plus"></i>
                บันทึกรายการคำขอ
            </button>
        </div>
    </div>
  
    <div class="kt-portlet__body">
        <div class="table table-striped table-responsive table-bordered">
          <table>
            <thead>
              <tr>
                <th class="cs-theader-c1">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                    <input type="checkbox" (click)="checkAllCheckBox(listSaveProcess, $event.target.checked)" />
                    <span></span>
                  </label>
                </th>
                <th class="cs-theader-c2">ลำดับ</th>
                <th class="cs-theader-c3">วันที่ยื่นคำร้อง</th>
                <th class="cs-theader-c4">เลขที่คำขอ</th>
                <th class="cs-theader-c5">ผู้ยื่นคำขอ</th>
                <th class="cs-theader-c6">วันที่มีการชำระ</th>
                <th class="cs-theader-c7">จำนวนเงิน</th>
                <th class="cs-theader-c8">คำร้องที่ยื่น</th>
                <th class="cs-theader-c9">วันที่บันทึกรายการ</th>
                <th class="cs-theader-c10">เจ้าหน้าที่รับงาน</th>
                <th class="cs-theader-c11">รายละเอียดเพิ่มเติม</th>
                <th class="cs-theader-c12">สถานะ</th>
                <th class="cs-theader-c13">รายละเอียด</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row_item of listSaveProcess">
                    <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox" [checked]="row_item.is_check" />
                            <span></span>
                        </label>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.index}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.request_date_text}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="row justify-content-center">
                            <div class="div-brand" style="height: 30px !important;">
                                {{row_item.request_number}}
                            </div>
                        </div>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.requester_name}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.request_date_text}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.request_date_text}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.request_date_text}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{row_item.request_date_text}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="row justify-content-center">
                            <button class="btn btn-brand" style="height: 30px !important;">
                                {{row_item.save_status_name}}
                            </button>
                        </div>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <button type="button"
                            
                            class="btn btn-icon btn-brand" 
                            style="height: 30px !important; width: 30px !important;"
                            (click)="onClickSave03SaveProcessEdit(row_item)">
                            <span class="fa fa-play" style="font-size: 15px"></span>
                        </button>
                        <!-- <button type="button"
                            *ngIf="row_item.receipt_status_code == 'UNPAID' || row_item.receipt_status_code == 'DELETED'"
                            class="cs-btn btn-icon btn-grey-solid" 
                            style="height: 30px !important; width: 30px !important;"
                            (click)="onClickSave03SaveProcessEdit(row_item)">
                            <span class="fa fa-search-plus" style="font-size: 15px"></span>
                        </button> -->
                    </td>
                </tr>
            </tbody>   
          </table>
        </div> 
      </div> 
      
    <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateRole01Floor3"
                    (onClickList)="onClickRole01Floor3List()"></app-paging>
    </div>
</div>
  