/*Noto Sans Thai*/
@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Thin.eot');
  src: url('NotoSansThai-Thin.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Thin.woff2') format('woff2'),
    url('NotoSansThai-Thin.woff') format('woff'),
    url('NotoSansThai-Thin.ttf') format('truetype'),
    url('NotoSansThai-Thin.svg#NotoSansThai-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-ExtraLight.eot');
  src: url('NotoSansThai-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-ExtraLight.woff2') format('woff2'),
    url('NotoSansThai-ExtraLight.woff') format('woff'),
    url('NotoSansThai-ExtraLight.ttf') format('truetype'),
    url('NotoSansThai-ExtraLight.svg#NotoSansThai-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Light.eot');
  src: url('NotoSansThai-Light.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Light.woff2') format('woff2'),
    url('NotoSansThai-Light.woff') format('woff'),
    url('NotoSansThai-Light.ttf') format('truetype'),
    url('NotoSansThai-Light.svg#NotoSansThai-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Regular.eot');
  src: url('NotoSansThai-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Regular.woff2') format('woff2'),
    url('NotoSansThai-Regular.woff') format('woff'),
    url('NotoSansThai-Regular.ttf') format('truetype'),
    url('NotoSansThai-Regular.svg#NotoSansThai-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Medium.eot');
  src: url('NotoSansThai-Medium.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Medium.woff2') format('woff2'),
    url('NotoSansThai-Medium.woff') format('woff'),
    url('NotoSansThai-Medium.ttf') format('truetype'),
    url('NotoSansThai-Medium.svg#NotoSansThai-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-SemiBold.eot');
  src: url('NotoSansThai-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-SemiBold.woff2') format('woff2'),
    url('NotoSansThai-SemiBold.woff') format('woff'),
    url('NotoSansThai-SemiBold.ttf') format('truetype'),
    url('NotoSansThai-SemiBold.svg#NotoSansThai-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Bold.eot');
  src: url('NotoSansThai-Bold.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Bold.woff2') format('woff2'),
    url('NotoSansThai-Bold.woff') format('woff'),
    url('NotoSansThai-Bold.ttf') format('truetype'),
    url('NotoSansThai-Bold.svg#NotoSansThai-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-ExtraBold.eot');
  src: url('NotoSansThai-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-ExtraBold.woff2') format('woff2'),
    url('NotoSansThai-ExtraBold.woff') format('woff'),
    url('NotoSansThai-ExtraBold.ttf') format('truetype'),
    url('NotoSansThai-ExtraBold.svg#NotoSansThai-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('NotoSansThai-Black.eot');
  src: url('NotoSansThai-Black.eot?#iefix') format('embedded-opentype'),
    url('NotoSansThai-Black.woff2') format('woff2'),
    url('NotoSansThai-Black.woff') format('woff'),
    url('NotoSansThai-Black.ttf') format('truetype'),
    url('NotoSansThai-Black.svg#NotoSansThai-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}


/*Noto Sans*/
@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Thin.eot');
  src: url('NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Thin.woff2') format('woff2'),
    url('NotoSans-Thin.woff') format('woff'),
    url('NotoSans-Thin.ttf') format('truetype'),
    url('NotoSans-Thin.svg#NotoSans-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ThinItalic.eot');
  src: url('NotoSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-ThinItalic.woff2') format('woff2'),
    url('NotoSans-ThinItalic.woff') format('woff'),
    url('NotoSans-ThinItalic.ttf') format('truetype'),
    url('NotoSans-ThinItalic.svg#NotoSans-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ExtraLight.eot');
  src: url('NotoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-ExtraLight.woff2') format('woff2'),
    url('NotoSans-ExtraLight.woff') format('woff'),
    url('NotoSans-ExtraLight.ttf') format('truetype'),
    url('NotoSans-ExtraLight.svg#NotoSans-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ExtraLightItalic.eot');
  src: url('NotoSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-ExtraLightItalic.woff2') format('woff2'),
    url('NotoSans-ExtraLightItalic.woff') format('woff'),
    url('NotoSans-ExtraLightItalic.ttf') format('truetype'),
    url('NotoSans-ExtraLightItalic.svg#NotoSans-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Light.eot');
  src: url('NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Light.woff2') format('woff2'),
    url('NotoSans-Light.woff') format('woff'),
    url('NotoSans-Light.ttf') format('truetype'),
    url('NotoSans-Light.svg#NotoSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-LightItalic.eot');
  src: url('NotoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-LightItalic.woff2') format('woff2'),
    url('NotoSans-LightItalic.woff') format('woff'),
    url('NotoSans-LightItalic.ttf') format('truetype'),
    url('NotoSans-LightItalic.svg#NotoSans-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Regular.eot');
  src: url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Regular.woff2') format('woff2'),
    url('NotoSans-Regular.woff') format('woff'),
    url('NotoSans-Regular.ttf') format('truetype'),
    url('NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Medium.eot');
  src: url('NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Medium.woff2') format('woff2'),
    url('NotoSans-Medium.woff') format('woff'),
    url('NotoSans-Medium.ttf') format('truetype'),
    url('NotoSans-Medium.svg#NotoSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-MediumItalic.eot');
  src: url('NotoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-MediumItalic.woff2') format('woff2'),
    url('NotoSans-MediumItalic.woff') format('woff'),
    url('NotoSans-MediumItalic.ttf') format('truetype'),
    url('NotoSans-MediumItalic.svg#NotoSans-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-SemiBold.eot');
  src: url('NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-SemiBold.woff2') format('woff2'),
    url('NotoSans-SemiBold.woff') format('woff'),
    url('NotoSans-SemiBold.ttf') format('truetype'),
    url('NotoSans-SemiBold.svg#NotoSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-SemiBoldItalic.eot');
  src: url('NotoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-SemiBoldItalic.woff2') format('woff2'),
    url('NotoSans-SemiBoldItalic.woff') format('woff'),
    url('NotoSans-SemiBoldItalic.ttf') format('truetype'),
    url('NotoSans-SemiBoldItalic.svg#NotoSans-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Bold.eot');
  src: url('NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Bold.woff2') format('woff2'),
    url('NotoSans-Bold.woff') format('woff'),
    url('NotoSans-Bold.ttf') format('truetype'),
    url('NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-BoldItalic.eot');
  src: url('NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-BoldItalic.woff2') format('woff2'),
    url('NotoSans-BoldItalic.woff') format('woff'),
    url('NotoSans-BoldItalic.ttf') format('truetype'),
    url('NotoSans-BoldItalic.svg#NotoSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ExtraBold.eot');
  src: url('NotoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-ExtraBold.woff2') format('woff2'),
    url('NotoSans-ExtraBold.woff') format('woff'),
    url('NotoSans-ExtraBold.ttf') format('truetype'),
    url('NotoSans-ExtraBold.svg#NotoSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-ExtraBoldItalic.eot');
  src: url('NotoSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-ExtraBoldItalic.woff2') format('woff2'),
    url('NotoSans-ExtraBoldItalic.woff') format('woff'),
    url('NotoSans-ExtraBoldItalic.ttf') format('truetype'),
    url('NotoSans-ExtraBoldItalic.svg#NotoSans-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans Blk';
  src: url('NotoSans-Black.eot');
  src: url('NotoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Black.woff2') format('woff2'),
    url('NotoSans-Black.woff') format('woff'),
    url('NotoSans-Black.ttf') format('truetype'),
    url('NotoSans-Black.svg#NotoSans-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-BlackItalic.eot');
  src: url('NotoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-BlackItalic.woff2') format('woff2'),
    url('NotoSans-BlackItalic.woff') format('woff'),
    url('NotoSans-BlackItalic.ttf') format('truetype'),
    url('NotoSans-BlackItalic.svg#NotoSans-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

/* TH Sarabun New */
@font-face {
  font-family: 'TH Sarabun New';
  src: url('THSarabunNew-BoldItalic.eot');
  src: url('THSarabunNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('THSarabunNew-BoldItalic.woff2') format('woff2'),
    url('THSarabunNew-BoldItalic.woff') format('woff'),
    url('THSarabunNew-BoldItalic.ttf') format('truetype'),
    url('THSarabunNew-BoldItalic.svg#THSarabunNew-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url('THSarabunNew.eot');
  src: url('THSarabunNew.eot?#iefix') format('embedded-opentype'),
    url('THSarabunNew.woff2') format('woff2'),
    url('THSarabunNew.woff') format('woff'),
    url('THSarabunNew.ttf') format('truetype'),
    url('THSarabunNew.svg#THSarabunNew') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url('THSarabunNew-Bold.eot');
  src: url('THSarabunNew-Bold.eot?#iefix') format('embedded-opentype'),
    url('THSarabunNew-Bold.woff2') format('woff2'),
    url('THSarabunNew-Bold.woff') format('woff'),
    url('THSarabunNew-Bold.ttf') format('truetype'),
    url('THSarabunNew-Bold.svg#THSarabunNew-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TH Sarabun New';
  src: url('THSarabunNew-Italic.eot');
  src: url('THSarabunNew-Italic.eot?#iefix') format('embedded-opentype'),
    url('THSarabunNew-Italic.woff2') format('woff2'),
    url('THSarabunNew-Italic.woff') format('woff'),
    url('THSarabunNew-Italic.ttf') format('truetype'),
    url('THSarabunNew-Italic.svg#THSarabunNew-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}


/* Icon Font */
@font-face {
  font-family: 'dip font icon';
  src: url('dip-font-icon.eot');
  src: url('dip-font-icon.eot?#iefix') format('embedded-opentype'),
    url('dip-font-icon.woff') format('woff'),
    url('dip-font-icon.woff2') format('woff2'),
    url('dip-font-icon.ttf') format('truetype'),
    url('dip-font-icon.svg#dip-font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='dip-icon-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*='dip-icon-']:before {
  display: inline-block;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.dip-icon-add-new:before {
  content: '\0041';
}

.dip-icon-angle-double-left:before {
  content: '\0042';
}

.dip-icon-angle-double-right:before {
  content: '\0043';
}

.dip-icon-angle-left:before {
  content: '\0044';
}

.dip-icon-angle-right:before {
  content: '\0045';
}

.dip-icon-announce:before {
  content: '\0046';
}

.dip-icon-image:before {
  content: '\0047';
}

/* .dip-icon-angle-down:before {
  content: '\0047';
} */

.dip-icon-chevron-down:before {
  content: '\0048';
}

.dip-icon-file-alt:before {
  content: '\0049';
}

.dip-icon-arrow-top:before {
  content: '\0049';
}

.dip-icon-barcode:before {
  content: '\004a';
}

.dip-icon-blank-paper:before {
  content: '\004b';
}

.dip-icon-calendar:before {
  content: '\004c';
}

.dip-icon-clear-input:before {
  content: '\004d';
}

.dip-icon-close:before {
  content: '\004e';
  font-size: 80%;
}

.dip-icon-trash:before {
  content: '\004f';
}

.dip-icon-delete-cross:before {
  content: '\0050';
}

.dip-icon-duplicate:before {
  content: '\0051';
}

.dip-icon-drawer:before {
  content: '\0052';
}

.dip-icon-edit:before {
  content: '\0053';
}

.dip-icon-home:before {
  content: '\0054';
}

.dip-icon-list-board:before {
  content: '\0055';
}

.dip-icon-recycle-rectangle:before {
  content: '\0056';
}

.dip-icon-signature:before {
  content: '\0057';
}

/* .dip-icon-person:before {
  content: '\0058';
} */

.dip-icon-order-list:before {
  content: '\0059';
}

.dip-icon-printer:before {
  content: '\005a';
}

.dip-icon-registration:before {
  content: '\0061';
}

.dip-icon-save:before {
  content: '\0062';
}

.dip-icon-search:before {
  content: '\0063';
}

.dip-icon-success:before {
  content: '\0064';
}

.dip-icon-toolbar-menu:before {
  content: '\0065';
  color: #069BA9;
}

.dip-icon-toolbar-menu {
  color: #069BA9;
}

.dip-icon-download:before {
  content: '\0066';
}

.dip-icon-play-circle:before {
  content: '\0067';
}

.dip-icon-pause-circle:before {
  content: '\0068';
}

.dip-icon-edit-pen:before {
  content: '\0069';
}

.dip-icon-play:before {
  content: '\006a';
}

.dip-icon-document-tray:before {
  content: '\006b';
}

.dip-icon-reset:before {
  content: '\006c';
}

.dip-icon-table:before {
  content: '\006d';
}

.dip-icon-layer:before {
  content: '\006e';
}

.dip-icon-automatic:before {
  content: '\006f';
}

.dip-icon-forward:before {
  content: '\0070';
}

.dip-icon-minus:before {
  content: '\0071';
}

.dip-icon-check:before {
  content: '\0072';
}

.dip-icon-loudspeaker:before {
  content: '\0073';
}

.dip-icon-check-2:before {
  content: '\0074';
}

.dip-icon-star-note:before {
  content: '\0075';
}

.dip-icon-circle-outline:before {
  content: '\0076';
}

.dip-icon-paper-plane:before {
  content: '\0077';
}

.dip-icon-arrow-right:before {
  content: '\0078';
}

.dip-icon-info-circle:before {
  content: '\0079';
}

.dip-icon-upload-circle:before {
  content: '\007a';
}

.dip-icon-expand:before {
  content: '\0030';
}

.dip-icon-hyperlink:before {
  content: '\0031';
}

.dip-icon-file-pdf:before {
  content: '\0032';
}

.dip-icon-id-card:before {
  content: '\0033';
}

.dip-icon-search-plus:before {
  content: '\0034';
}

.dip-icon-folder:before {
  content: '\0035';
}

.dip-icon-stop-sign:before {
  content: '\0036';
}

.dip-icon-arrow-right-circle:before {
  content: '\0037';
}

.dip-icon-fetch:before {
  content: '\0058';
}

.dip-icon-music-note:before {
  content: '\0038';
}

.dip-icon-language-switch:before {
  content: '\0039';
}

.dip-icon-speaker:before {
  content: '\0022';
}

.dip-icon-speaker:before {
  content: '\0022';
}

.dip-icon-how_to_reg:before {
  content: '\0043';
}
