:host {
  font-family: "Noto Sans Thai", "Noto Sans";
}

:host .hide {
  display: none;
}

:host input.form-control,
:host select.form-control {
  width: 375px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.edit_delete > a {
  padding: 4px 8px;
}

:host .table .td.edit_delete > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table .delete i:hover.dip-icon-trash {
  color: #C31D1D;
}

:host .table .edit_delete {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host .table .edit_delete i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table .edit_delete i:hover.dip-icon-trash {
  color: #C31D1D;
}

:host .table .edit_delete i:hover.dip-icon-edit {
  color: #0C84C8;
}

:host .table.table_2 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .make_date {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_number {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_date {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .people_name {
  flex: 0 0 350px;
  max-width: 350px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .status_name {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .cancel_reason {
  flex: 0 0 300px;
  max-width: 300px;
  justify-content: center;
  text-align: center;
}
