<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        <i class="dip dip-icon-play"></i>
        พิจารณามาตรา 28
      </h4>
    </div>
    <div class="kt-portlet__head-action"></div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
    <div>
      <p>
        นายทะเบียนได้ตรวจพิจารณาคำขอจดทะเบียนรายนี้ และหนังสือขอผ่อนผัน (ถ้ามี)
        ตามมาตรา 28 แล้ว เห็นว่า
      </p>
    </div>
    <ol>
      <li>
        สำเนาคำขอจดทะเบียนที่ยืนไว้ในประเทศนี้เป็นครั้งแรกที่ผู้จดทะเบียนนำส่งนั้น
        <ol class="pl-3">
          <li>
            เป็นเครื่องหมายเดียวกัน และใช้กกับสินค้า/บริการในจำพวกเดียวกัน
            และชินเดียวกัน
            <div class="pl-5 input-container">
              <input type="radio" name="1" value="1" checked class="radio-a"/>
              <label class="pl-1"> ถูกต้อง</label>&nbsp;&nbsp;
              <input type="radio" name="1" value="0" class="radio-a"/>
              <label class="pl-1"> ไม่ถูกต้องเพราะ</label>&nbsp;
              <input class="input-field" type="text" />
              <button type="button" class="btn btn-white">
                <i class="dip-icon-file-pdf pr-0"></i>
              </button>
            </div>
          </li>
          <li>
            เป็นเครื่องหมายที่มีสถานะ
            <div class="pl-5">
              <input type="radio" name="2" value="1" checked />
              <label class="pl-1">ยังไม่เคยถูกปฏิเสธ</label><br />
              <input type="radio" name="2" value="0" />
              <label class="pl-1"
                >เคยถูกปฏิเสธ หรือถอนคืน
                หรือละทิ้งคำขอมาแล้วแต่ไม่เคยขอใช้สิทธิ์
                และไม่อาจดำเนินการใดตามกฎหมายของประเทศนั้น
                และไม่ได้มีการเปิดเผย</label
              >
            </div>
          </li>
          <li>
            เป็นเครื่องหมายที่ยื่นภายในหกเดือนนับตั้งแต่วันที่ยื่นไว้ครังแรกในประเทศนั้น
            <div class="pl-5 input-container">
              <input type="radio" name="3" value="1" checked class="radio-a"/>
              <label class="pl-1"> ถูกต้อง</label>&nbsp;&nbsp;
              <input type="radio" name="3" value="0" class="radio-a"/>
              <label class="pl-1"> ไม่ถูกต้องเพราะ</label>&nbsp;
              <input class="input-field" type="text" />
              <button type="button" class="btn btn-white">
                <i class="dip-icon-file-pdf pr-0"></i>
              </button>
            </div>
          </li>
          <li>
            มีการรับรองความถูกต้องโดยมีผู้มีอำนาจหน้าที่รับจดทะเบียนในประเทศนั้น
            <div class="pl-5 input-container">
              <input type="radio" name="4" value="1" checked class="radio-a"/>
              <label class="pl-1"> ถูกต้อง</label>&nbsp;&nbsp;
              <input type="radio" name="4" value="0" class="radio-a"/>
              <label class="pl-1"> ไม่ถูกต้องเพราะ</label>&nbsp;
              <input class="input-field" type="text" />
              <button type="button" class="btn btn-white">
                <i class="dip-icon-file-pdf pr-0"></i>
              </button>
            </div>
          </li>
        </ol>
      </li>
      <li>
        ผู้รับจดทะเบียนมีคุณสมบัติที่ได้รับสิทธิต่างตอบแทน เพราะ

        <ol class="pl-4">
          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              มีสัญชาติไทย
            </li>
          </div>

          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              เป็นนิติบุคคลที่มีสำนักงานแห่งใหญ่ตั้งอยู่ในประเทศไทย
            </li>
          </div>
          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              สัญชาติที่เป็นภาคีแห่งอนุสัญญาหรือความตกลงระหว่างประเทศเกี่ยวกับความคุ้มครองเครื่องหมายการค้าซึ่งประเทศไทยเป็นภาคีอยู่ด้วย
            </li>
          </div>
          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              มีสัญชาติที่ยินยอมให้ผู้มีสัญชาติไทยหรือนิติบุคคลที่มีสำนักงานแห่งใหญ่ตั้งอยู่ในประเทศไทยขอจดทะเบียนในประเทศนั้น
            </li>
          </div>
          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              ประเทศนั้น
              และประเทศไทยมีข้อตกลงให้สิทธิดังกล่าวเป็นพื้นฐานต่างตอบแทนหรือประเทศนั้นมีหนังสือแจ้งให้สิทธิดังกล่าวอย่างเป็นทางการแล้ว
            </li>
          </div>
          <div class="row">
            <input type="checkbox" style="margin-top: 4px;" />
            <li class="pl-2">
              มีภูมิลำเนาหรือประกอบกิจจกรมหรือพาณิชยกรรมอย่างจริงจังในประเทศไทยหรือประเทศที่เป็นภาคีแห่งอนุสัญญาหรือความตกลงกัน
              <p>เครื่องหมายการค้าซึ่งประเทศไทยเป็นภาคีอยู่ด้วย</p>
            </li>
          </div>
        </ol>
      </li>
      <li>
        การแปลเอกสารตามข้อ 1 และข้อ 2
        เป็นภาษาไทยและผู้ขอจดทะเบียนรับรองสำเนาถูกต้อง
        <div class="pl-5 input-container">
          <input type="radio" name="5" value="1" checked class="radio-a"/>
          <label class="pl-1"> ถูกต้อง</label>&nbsp;&nbsp;
          <input type="radio" name="5" value="0" class="radio-a"/>
          <label class="pl-1"> ไม่ถูกต้องเพราะ</label>&nbsp;
          <input class="input-field" type="text" />
          <button type="button" class="btn btn-white">
            <i class="dip-icon-file-pdf pr-0"></i>
          </button>
        </div>
      </li>
      <li>
        นายทะเบียนพิจารณาแล้วเห็นว่า
        <div class="col-12">
          <table style="width: 100%;">
            <thead>
              <tr>
                <td>#</td>
                <td>จำพวกสินค้า</td>
                <td>วันที่ตามมาตรา 28</td>
                <td>อนุญาตมาตรา 28</td>
                <td>ไม่อนุญาตให้ใช้สิทธิตามาตรา 28</td>
                <td>ประเทศ</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listPublicItem">
                <td class="index">{{ row_item.index }}</td>
                <td class="index">{{ row_item.name }}</td>
                <td class="index">{{ row_item.date }}</td>
                <td class="index">
                  <div>
                    <input type="checkbox" />
                  </div>
                </td>
                <td class="index"></td>
                <td class="index">
                  {{ row_item.country }}
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div>
            <div class="row">
              <p>จำนวนแถวที่แสดง</p>&nbsp;
              <select
                id="approval"
                [value]="approval"
                class="pl-2"
                style="width: 70px;height: fit-content;"
              >
                <option *ngFor="let item of approvalList" [value]="item.id">
                  {{ item.id }}
                </option>
              </select>
              <p class="pl-2">จากทั้งหมด{{ listPublicItem.length }}</p>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <div class="col-12" style="border-top: 1px solid #ebedf2;">
    <button
      type="button"
      class="btn btn-brand float-right"
      style="margin-top: 20px; margin-bottom: 20px;"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button" class="btn btn-white" (click)="onBackStep()">
        <!-- <i class="fa fa-arrow-left"></i> -->
        ย้อนกลับ
      </button>

      <button type="button" class="btn btn-brand">
        <!-- <i class="dip-icon-paper-plane"></i> -->
        ถัดไป
      </button>
    </div>
  </div>
</div>
