<div class="kt-portlet search-task">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-search"></i> การค้นหา
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่ยื่นคำร้อง
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="start_request_date"
                    (click)="start_request_date.open()"
                    [(ngModel)]="input.start_request_date"
                    (dateChange)="clearValidate('start_request_date')"
                    [ngClass]="
                      validate.start_request_date ? 'is-invalid' : null
                    "
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="start_request_date"
                    (click)="start_request_date.open()"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="start_request_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #start_request_date></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="end_request_date"
                    (click)="end_request_date.open()"
                    [(ngModel)]="input.end_request_date"
                    (dateChange)="clearValidate('end_request_date')"
                    [ngClass]="validate.end_request_date ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="end_request_date"
                    (click)="end_request_date.open()"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="end_request_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #end_request_date></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div *ngIf="validate.start_request_date" class="invalid-feedback">
                {{ validate.start_request_date }}
              </div>
              <div *ngIf="validate.end_request_date" class="invalid-feedback">
                {{ validate.end_request_date }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            เลขที่คำขอ
          </label>

          <div class="input-wrapper">
            <input
              class="form-control input"
              type="text"
              id="request_number"
              placeholder="เพิ่มข้อความ"
              autocomplete="off"
              [ngClass]="validate.request_number ? 'is-invalid' : null"
              (input)="clearValidate('request_number')"
            />

            <div class="feedback-wrapper">
              <div *ngIf="validate.request_number" class="invalid-feedback">
                {{ validate.request_number }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเภท
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.type_code"
              (input)="clearValidate('type_code')"
            >
              <option disabled selected hidden [value]="undefined"
                >เลือก</option
              >
              <option
                *ngFor="let item of master.typeCodeList"
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div *ngIf="validate.type_code" class="invalid-feedback">
                {{ validate.type_code }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            วันที่เสนอพิจารณา
          </label>

          <div class="input-wrapper input-with-icon datepicker">
            <div class="input-wrapper-row">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="start_proposal_date"
                    (click)="start_proposal_date.open()"
                    [(ngModel)]="input.start_proposal_date"
                    (dateChange)="clearValidate('start_proposal_date')"
                    [ngClass]="
                      validate.start_proposal_date ? 'is-invalid' : null
                    "
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="start_proposal_date"
                    (click)="start_proposal_date.open()"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="start_proposal_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #start_proposal_date></mat-datepicker>
              </mat-form-field>

              <div class="middle-label">
                ถึง
              </div>

              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input
                    class="form-control input"
                    placeholder=""
                    matInput
                    [matDatepicker]="end_proposal_date"
                    (click)="end_proposal_date.open()"
                    [(ngModel)]="input.end_proposal_date"
                    (dateChange)="clearValidate('end_proposal_date')"
                    [ngClass]="validate.end_proposal_date ? 'is-invalid' : null"
                  />
                  <label
                    class="kt-input-icon__icon kt-input-icon__icon--right"
                    for="end_proposal_date"
                    (click)="end_proposal_date.open()"
                  >
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="end_proposal_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #end_proposal_date></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="feedback-wrapper">
              <div
                *ngIf="validate.start_proposal_date"
                class="invalid-feedback"
              >
                {{ validate.start_proposal_date }}
              </div>
              <div *ngIf="validate.end_proposal_date" class="invalid-feedback">
                {{ validate.end_proposal_date }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            สถานะคำร้อง
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.status_code"
              (input)="clearValidate('status_code')"
            >
              <option disabled selected hidden [value]="undefined"
                >เลือก</option
              >
              <option
                *ngFor="let item of master.statusCodeList"
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div *ngIf="validate.status_code" class="invalid-feedback">
                {{ validate.status_code }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex">
          <label class="col-form-label">
            คำร้อง
          </label>

          <div class="input-wrapper">
            <select
              class="form-control custom-select"
              [(ngModel)]="input.request_code"
              (input)="clearValidate('request_code')"
            >
              <option disabled selected hidden [value]="undefined"
                >เลือก</option
              >
              <option
                *ngFor="let item of master.requestCodeList"
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div *ngIf="validate.request_code" class="invalid-feedback">
                {{ validate.request_code }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="btn-group-wrapper">
      <button type="button" class="btn btn-brand" (click)="onSearch()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>

      <button type="button" class="btn btn-white" (click)="onReset()">
        <i class="dip-icon-reset"></i>
        เริ่มใหม่
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet all-task-list">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-table"></i>ตารางแสดง
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table-responsive">
      <div class="table">
        <div class="table-inner freeze-header">
          <div class="tr header">
            <div class="td select center">
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
              >
                <input
                  type="checkbox"
                  (click)="onCheckAllInList('list', 'includeRole')"
                  [checked]="input.is_check_all"
                />
                <span></span>
              </label>
            </div>
            <div class="td order center">
              ลำดับ
            </div>
            <div class="td request-id center">
              เลขที่คำขอ
            </div>
            <div class="td submission-date center">
              วันที่ยื่นคำขอ
            </div>
            <div class="td proposed-date center">
              วันที่เสนอพิจารณา
            </div>
            <div class="td officer center">
              เจ้าหน้าที่เสนอ
            </div>
            <div class="td consider-date center">
              วันที่พิจารณา
            </div>
            <div class="td job-type center">
              ประเภท
            </div>
            <div class="td petition center">
              คำร้อง
            </div>
            <div class="td detail center">
              รายละเอียดเพิ่มเติม
            </div>
            <div class="td status center">
              สถานะ
            </div>
            <div class="td operation center">
              คำสั่ง
            </div>
            <div class="td scrollbar"></div>
          </div>

          <div class="table-data">
            <div
              class="tr"
              *ngFor="
                let item of list.includeRole | paginate: paginateIncludeRole;
                index as i
              "
            >
              <div class="td select center">
                <label
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                >
                  <input
                    type="checkbox"
                    (click)="toggleBooleanInList(item, 'is_check')"
                    [checked]="item.is_check"
                  />
                  <span></span>
                </label>
              </div>
              <div class="td order center">
                {{ i + 1 }}
              </div>
              <div class="td request-id center">
                <div class="tag blue">
                  {{ item.request_id }}
                </div>
              </div>
              <div class="td submission-date center">
                {{ item.submission_date }}
              </div>
              <div class="td proposed-date center">
                {{ item.proposed_date }}
              </div>
              <div class="td officer center">
                {{ item.officer }}
              </div>
              <div class="td consider-date center">
                {{ item.consider_date }}
              </div>
              <div class="td job-type center">
                {{ item.job_type }}
              </div>
              <div class="td petition center">
                {{ item.petition }}
              </div>
              <div class="td detail center">
                {{ item.detail }}
              </div>
              <div class="td status center">
                <div [class]="getStatusStyle(item.status)">
                  {{
                    displayLabelReferenceMaster(
                      master.statusCodeList,
                      item.status
                    )
                  }}
                </div>
              </div>
              <div class="td operation">
                <button
                  [class]="getIconColorStyle(item.status)"
                  (click)="onClickAction()"
                >
                  <i [class]="getIconStyle(item.status)"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <app-pagination
      [pagin]="paginateIncludeRole"
      (onChangePage)="onChangePage($event, 'paginateIncludeRole')"
      (onChangePerPage)="onChangePerPage($event, 'paginateIncludeRole')"
    ></app-pagination>
  </div>
</div>
