<div class="kt-portlet consider-board">    
    <div class="kt-portlet__body">  
        <div class="row mt-5 mb-5" style="justify-content: center;">
            <div class="cs-label-status-wara">
                เลขที่คำขอ 922280
            </div>
        </div>
    
        <div class="row mb-5 mt-5">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="form-group flex">
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="14" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-6">
              <div class="form-group flex" style="justify-content: flex-start;">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        บันทึก
                    </button>
                    <button type="button" class="btn cs-btn-grey-outline ml-3">
                      ยกเลิก
                    </button>
                </div>                        
              </div>
            </div>
        </div>
       
    </div>
</div>


<div class="row justify-content-center">
    <button type="button" class="btn cs-btn-return">
        <i class="fa fa-close" aria-hidden="true"></i>
        ส่งแก้ไข
    </button>                       
</div>