<div class="section normal-published">
  <div class="section-title">
   กลุ่มงานก่อนส่งไปยัง WIPO  
   &nbsp;<span *ngIf="notify>0" class="badge" style="color: white; border-radius: 50%;
   background-color: red;position: absolute; padding: 5px 5px;font-size: 13px;">{{notifyText}}</span>
  </div>
  <!-- <div class="dashboard-cards"> -->

  <app-dashboard-card [iconMain]="'document-tray'"
                      [iconSub]="'play'"
                      [theme]="'green'"
                      [title]="'งานทั้งหมดที่เข้ามา'"
                      [description]="'ดูรายละเอียดชองเลขที่อ้างอิงคำขอ ที่ผู้ยื่นคำขอกรอกรายละเอียด MM Form ส่งเข้ามา'"
                      [quantity]="'50'">
    <app-dashboard-card-summary-block summary="100">
      รอการโอนงาน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      โอนงานเสร็จสิ้น
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card [iconMain]="'order-list'"
                      [iconSub]="'play'"
                      [theme]="'blue'"
                      [title]="'งานตรวจสอบข้อมูลของผู้ยื่น'"
                      [description]="'รายการเลขที่อ้างอิงคำขอของผู้ยื่น ที่รอการพิจารณาตรวจสอบ MM Form จากเจ้าหน้าที่'"
                      [quantity]="'11'">
    <app-dashboard-card-summary-block summary="100">
      ตรวจสอบ
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
      ตรวจสอบแก้ไข
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
       ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  
  <app-dashboard-card [iconMain]="'order-list'"
                      [iconSub]="'play'"
                      [theme]="'red'"
                      [title]="'งานขอเปลี่ยนแปลงข้อมูลของผู้ยื่น'"
                      [description]="'รายการเลขที่อ้างอิงคำขอ ที่ผู้ยื่นเปลี่ยนแปลงมาขอยื่นเปลี่ยนแปลงภานในประเทศ'"
                      [quantity]="'11'">
    <app-dashboard-card-summary-block summary="100">
      รอดำเนินการ
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
      รอการแก้ไข
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
       ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

    
  <app-dashboard-card [iconMain]="'order-list'"
                      [iconSub]="'play'"
                      [theme]="'violet'"
                      [title]="'งานเสนอหัวหน้ากลุ่มแจ้ง WIPO'"
                      [description]="'เสนอพิจารณาการชำระเงินของผู้ยื่นคำขิอ หลังจากหัวหน้ากลุ่มส่งแจ้งการชำระเงิน'"
                      [quantity]="'11'">
    <app-dashboard-card-summary-block summary="100">
      รอดำเนินการ
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
      รอพิจารณา
    </app-dashboard-card-summary-block>
                  
    <app-dashboard-card-summary-block summary="100">
       ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card [iconMain]="'order-list'"
  [iconSub]="'play'"
  [theme]="'violet'"
  [title]="'งานเสนอนายทะเบียนพิจารณาจำหน่าย'"
  [description]="'เสนอพิจารณาจำหน่ายหลังจากผู้ยื่นไม่มาดำเนินการยืนยันแก้ไขข้อมูลตามคำสั่งในระยะเวลาที่กำหนด'"
  [quantity]="'11'">
<app-dashboard-card-summary-block summary="100">
รอดำเนินการ
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="100">
รอพิจารณา
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="100">
ทั้งหมด
</app-dashboard-card-summary-block>
</app-dashboard-card>

<app-dashboard-card [iconMain]="'order-list'"
[iconSub]="'play'"
[theme]="'violet'"
[title]="'เสนอหัวหน้ากลุ่มฟื้นเลขที่อ้างอิง'"
[description]="'รายการเลขที่อ้างอิงคำขอ ที่รอดำเนินการพิจารณาเสนอฟื้นคำขอ'"
[quantity]="'11'">
<app-dashboard-card-summary-block summary="100">
รอดำเนินการ
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="100">
รอพิจารณา
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="100">
ทั้งหมด
</app-dashboard-card-summary-block>
</app-dashboard-card>


  <!-- </div> -->
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section other-published">
  <div class="section-title">
    กลุ่มงานหลังส่งไปยัง WIPO
    &nbsp;<span *ngIf="notify>0" class="badge" style="color: white; border-radius: 50%;
    background-color: red;position: absolute; padding: 5px 5px;font-size: 13px;">{{notifyText}}</span>

  </div>
  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'Irregularities From WIPO'"
    [description]="'รายการเลขที่อ้างอิงคำขอ ที่ WIPO ดำเนินการส่งเข้ามาให้เจ้าหน้าที่ดำเนินการแก้ไข'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      ตรวจสอบ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      ตรวจสอบแก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'red'"
  [title]="'งานขอเปลี่ยนแปลงข้อมูลของผู้ยื่น'"
  [description]="'รานการเลขที่อ้างอิงคำขอ ที่จะดำเนินแจ้งเรื่องเปลี่ยนแปลงข้อมูลส่งทาง WIPO'"
  [quantity]="'10'"
>
<app-dashboard-card-summary-block summary="11">
  รอดำเนินการ
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="4">
  รอแก้ไข
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="4">
  เสร็จสิ้น
</app-dashboard-card-summary-block>
</app-dashboard-card>

</div>

<div class="section other-published">

  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'violet'"
  [title]="'งานเสนอจำหน่าย (Irr-WIPO)'"
  [description]="'เสนอพิจารณาจำหน้าหลังจากผู้ยื่นไม่มาดำเนินการยืนยันแก้ไขข้อมูลตามคำสั่งจาก WIPO'"
  [quantity]="'10'"
  >
  <app-dashboard-card-summary-block summary="11">
  รอดำเนินการ
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  รอพิจารณา
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  เสร็จสิ้น
  </app-dashboard-card-summary-block>
  </app-dashboard-card>
  
  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'violet'"
  [title]="'งานเสนอจำหน่าย (Ceasing of effect)'"
  [description]="'รายการเลขที่อ้างอิงคำขอ ที่หมดอายุภายในประเทศรอเจ้าหน้าที่ดำเนินการพิจารณาเสนอจำหน่าย'"
  [quantity]="'10'"
  >
  <app-dashboard-card-summary-block summary="11">
  รอดำเนินการ
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  รอพิจารณา
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  เสร็จสิ้น
  </app-dashboard-card-summary-block>
  </app-dashboard-card>
  
  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'sky'"
  [title]="'กล่องงานเสร็จสิ้น'"
  [description]="'รายการเลขที่อ้างอิงคำขอ ที่รอแจ้งส่งเรื่องไปยังผู้ยื่นคำขอ หลังจาก WIPO พิจารณาเสร็จสิ้น'"
  [quantity]="'10'"
  >
  <app-dashboard-card-summary-block summary="11">
  รอดำเนินการ
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  รอพิจารณา
  </app-dashboard-card-summary-block>
  
  <app-dashboard-card-summary-block summary="4">
  เสร็จสิ้น
  </app-dashboard-card-summary-block>
  </app-dashboard-card>

</div>

