<div class="section all-task">
  <div class="section-title">
    บันทึกสารบบเครื่องหมาย-รูปคำ
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card [iconMain]="'arrow-right-circle'"
                      [iconSub]="'edit'"
                      [theme]="'green'"
                      [title]="'ทั้งหมด'"
                      [description]="'รายการคำขอที่ได้รับการประกาศโฆษณารอการโอนงานให้เจ้าหน้าที่ตรวจร่างประกาศ'"
                      [quantity]="input.all">
    <app-dashboard-card-summary-block summary="{{input.all_wait_documenting}}"
                                      (click)="onClickDocumentItem('all_wait_documenting')">
      รอการโอนงาน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="{{input.all_received}}"
                                      (click)="onClickDocumentItem('all_received')">
      โอนงานเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>


  <app-dashboard-card [iconMain]="'arrow-right-circle'"
                      [iconSub]="'play'"
                      [theme]="'blue'"
                      [title]="'บันทึก'"
                      [description]="'รายการคำขอที่รอตรวจร่างประกาศโฆษณา'"
                      [quantity]="input.save">
    <app-dashboard-card-summary-block summary="{{input.save_wait_do + input.save_wait_save}}"
                                      (click)="onClickDocumentProcessClassification('save_wait_do')">
      รอการบันทึกเครื่องหมาย-รูปคำ
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="0">
      แก้ไข
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="{{input.save_send}}"
                                      (click)="onClickDocumentProcessClassification('save_send')">
      บันทึกเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>


<div class="section all-task">
  <div class="section-title">
    เปลี่ยนแปลงสารบบเครื่องหมาย-รูปคำ
  </div>

  <app-dashboard-card [iconMain]="'arrow-right-circle'"
                      [iconSub]="'search'"
                      [theme]="'orange'"
                      [title]="'เปลี่ยนแปลง'"
                      [description]="'รายการคำขอที่มีการแก้ไข เปลี่ยนแปลง รอการแก้ไข'"
                      [quantity]="input.change">
    <app-dashboard-card-summary-block summary="{{input.change_wait_do}}">
      รอการบันทึกเครื่องหมาย-รูปคำ
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="{{input.change_wait_send}}">
      บันทึกชั่วคราว
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="{{input.change_send}}">
      บันทึกเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section all-task">
  <div class="section-title">
    เปลี่ยนแปลง และปรับแต่ง
  </div>

  <app-dashboard-card [iconMain]="'arrow-right-circle'"
                      [iconSub]="'play'"
                      [theme]="'violet'"
                      [title]="'ปรับแต่งไฟล์'"
                      [description]="'รายการคำขอที่มีการแก้ไข เปลี่ยนแปลง รอการแก้ไข'"
                      [quantity]="input.collect">
    <app-dashboard-card-summary-block summary="{{input.collect}}">
      บันทึก
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
</div>
