//out: false

:host {
  .kt-portlet__head-label {
    .sub-title {
      margin-left: 30px;
      color: #6D6E71;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: normal;
      font-size: 16px;

      span {
        font-weight: 500;
        color: black;
      }
    }
  }

  .flex-column {
    flex-direction: column;
    /*width: 100%;*/
    & > label {
      justify-content: unset;
    }
  }

  .div_popup {
    &.document_role03_change_kor_120_type {
      .div_popup_body {
        width: 1200px;

        label {
          width: 100%;
          white-space: normal;
        }
      }
    }

    &.representative_show {
      .div_popup_body {
        width: 1200px;

        input {
          width: 250px;
        }
      }
    }
  }

  .kor-120-information {
    input {
      width: 500px;
    }

    textarea {
      width: 1023px;
    }

    .dip-icon-search {
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        color: #C31D1D;
      }
    }

    .flex-column:nth-child(n+1) {
      margin-left: 20px;
    }
  }

  .div-tab-list.document_role03_item {
    .div-tab-menus .div-tab-menu.active, .div-tab-menus .div-tab-menu:hover {
      background: #EFF0F4;
    }
    /*.kt-portlet__head {
      padding: 25px 0 19px;
    }*/
  }

  .div-tab-list.document_role03_item_version {
    .kt-portlet__body-label {
      padding: 25px 15px 12px;
    }
  }

  .div-tab-list.document_role03_item_version {
    .kt-portlet__body-label {
      padding: 25px 15px 12px;
    }
  }



  .div-information {
    flex-direction: unset;

    .div-information-item:nth-child(n+2) {
      margin-right: 20px;
      width: 1100px;
    }

    .main-request-wrapper {
      /*display: -webkit-box;
      display: flex;*/
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      width: 326px;
      /*max-width: 326px;*/
      height: 365px;
      border: 1px dashed #0C84C8;

      .bx-box-picture {
        margin: 0 auto;
        display: block;
        width: 100%;
        position: relative;
      }
    }

    .button {
      /*padding: 16px 0;*/
      display: block;
      /*height: 124px;*/
      margin: 0 auto;
      width: 108px;
    }

    label {
      min-width: 250px;
      justify-content: unset;

      &.address_text {
        width: 1092px;
      }

      &.considering_receiver_by_name {
        width: 520px
      }
    }

    input {
      width: 250px;

      &.address_text {
        width: 1092px;
      }

      &.considering_receiver_by_name {
        width: 520px
      }
    }
  }

  .kt-portlet__body__inner {
    app-tab {
      width: 100%;
    }

    ::ng-deep {
      .registra-document-tabs-wrapper {
        width: 100%;

        ::ng-deep {
          .change-hsitory {
            width: 100%;

            &.kt-portlet--tabs {
              box-shadow: none;

              .kt-portlet__body {
                padding: 0;

                .tab-content {
                  padding: 19px 0;
                }
              }
            }
          }
        }

        &.kt-portlet--tabs {
          box-shadow: none;

          & > .kt-portlet__head {
            padding: 0;
            min-height: 40px;
            border-bottom: 0;

            & > .kt-portlet__head-toolbar {
              min-height: 40px !important;
              height: 100%;
              width: 100%;

              .nav-tabs {
                width: 100%;
                border-bottom: 2px solid #EFF0F4;

                .nav-item {
                  .nav-link {
                    padding: 8px 25px;
                    color: #6D6E71;
                    border-radius: 0;

                    &.active {
                      color: #0C84C8;
                      background-color: #EFF0F4;
                      border: 1px solid #EFF0F4;
                      border-bottom: 0;
                    }
                  }
                }
              }
            }
          }

          .kt-portlet__body {
            padding: 0;

            .tab-content {
              padding: 19px 0;
            }
          }
        }
      }
    }
  }

  .trademark-row {
    width: 100%;
    margin-bottom: 19px;

    .trademark-image-wrapper {
      border: 2px solid #F5F6F8;
      border-radius: 5px;
      padding: 35px;
      position: relative;
      width: 291px;
      height: 291px;

      .sound-btn {
        position: absolute;
        left: 9px;
        top: 9px;
      }

      .select-view {
        position: absolute;
        right: 9px;
        top: 9px;

        .form-group {
          min-height: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .kt-checkbox {
          margin-right: 7px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .trademark-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .trademark-registrar-order-wrapper {
      flex: 1 1 auto;
      margin-left: 18px;

      .registrar-order-title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .title {
          color: #0C84C8;
          font-size: 20px;
          font-weight: 500;
          font-family: 'Noto Sans Thai', 'Noto Sans';
        }

        .registrar-name {
          margin-left: 19px;
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: bold;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          color: black;
        }

        .date {
          margin-left: 3px;
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: normal;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          color: #6D6E71;
        }

        .btn-wrapper {
          margin-left: auto;
          display: flex;

          .btn {
            margin-left: 10px;
          }
        }
      }

      .table {
        .table-inner {
          border: 1px solid #EFF1F5;

          .tr {
            .td {
              border-right: 1px solid #EFF1F5;

              &.number {
                width: 45px;
                justify-content: center;
              }

              &.order {
                flex: 1 1 auto;
              }

              &.select {
                width: 45px;
                justify-content: center;
              }

              &.scrollbar {
                width: 18px;
              }

              &:last-child {
                border-right: 0;
              }
            }

            &.header {
              border-bottom: 1px solid #EFF1F5;

              .td {
                justify-content: center;
                color: #6D6E71;
              }
            }
          }

          .table-data {
            max-height: 210px;

            .tr {
              &:nth-child(2n - 1) {
                .td {
                  background-color: white;
                }
              }

              &:nth-child(2n) {
                .td {
                  background-color: #F7F7F7;
                }
              }
            }
          }
        }
      }
    }
  }


  .kt-portlet--tabs {
    .kt-portlet__head {
      .kt-portlet__head-toolbar {
        min-height: 59px;
        height: 100%;
      }
    }

    &.is-timeline-tabs {
      .kt-portlet__head {
        min-height: 0px;

        .kt-portlet__head-toolbar {
          min-height: 0px;

          .nav-tabs {
            border: 0;

            .nav-item {
              position: relative;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              width: 80px;
              margin: 0;

              .tab-index {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #EFF0F4;
                color: white;
                display: block;
                text-align: center;
                z-index: 2;

                &.active {
                  background-color: #0C84C8;
                }

                &.recent {
                  background-color: #A7A7A7;

                  &.active {
                    background-color: #0C84C8;
                  }

                  &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 7px solid #A7A7A7;
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                  }
                }
              }

              .nav-link {
                width: 100%;
                border: 0;
                font-size: 12px;
                color: #777777;
                padding: 0;
                text-align: center;
              }

              &.add-new-version {
                .tab-index {
                  color: #0C84C8;
                  cursor: pointer;
                }
              }

              &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 5px;
                background-color: #EFF0F4;
                left: 50%;
                top: 6px;
                z-index: 1;
              }

              &:last-child {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .nav-tabs {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;

    .nav-item {
      margin-right: 5px;
      cursor: pointer;

      .nav-link {
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }
}
