:host .kt-portlet {
  font-size: 16px;
  font-weight: 400;
}

:host .kt-portlet .title-block {
  background-color: #EFF0F4;
  width: 133px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C84C8;
  margin-bottom: 8px;
}

:host .kt-portlet .kt-portlet__head-title i {
  margin-right: 15px;
}

:host .kt-portlet .kt-pagination__toolbar .form-control {
  margin-left: 10px;
}

:host .kt-portlet .kt-pagination__toolbar .pagination__desc {
  font-weight: 400;
}

:host .table-responsive {
  overflow: hidden;
  overflow-x: auto;
}

:host .table {
  border: 1px solid #eff1f5;
  min-width: 1600px;
}

:host .table .table-inner {
  margin-bottom: 0;
}

:host .table .table-inner .table-data {
  max-height: 400px;
  overflow-y: scroll;
}

:host .table .table-inner .table-data .tr:nth-child(2n-1) .td {
  background-color: #fff;
}

:host .table .table-inner .table-data .tr:nth-child(2n) .td {
  background-color: #fbfcfd;
}

:host .table .table-inner .tr .td {
  min-height: 38px;
  border-right: 1px solid #eff1f5;
  flex: 1;
}

:host .table .table-inner .tr .td .tag {
  background-color: #bac3d0;
  border-radius: 4px;
  padding: 1px 8px;
  text-align: center;
  color: white;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table .table-inner .tr .td .tag.blue {
  background-color: #0c84c8;
}

:host .table .table-inner .tr .td .tag.orange {
  background-color: #fd8402;
}

:host .table .table-inner .tr .td.center {
  justify-content: center;
  text-align: center;
}

:host .table .table-inner .tr .td.order {
  max-width: 40px;
  min-width: 40px;
}

:host .table .table-inner .tr .td.select {
  max-width: 40px;
  min-width: 40px;
}

:host .table .table-inner .tr .td.request-id {
  max-width: 150px;
  min-width: 150px;
}

:host .table .table-inner .tr .td.record-order {
  max-width: 46px;
  min-width: 46px;
}

:host .table .table-inner .tr .td.document-scan {
  max-width: 120px;
  min-width: 120px;
}

:host .table .table-inner .tr .td.receive-date {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.consider {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.consider-date {
  max-width: 180px;
  min-width: 180px;
}

:host .table .table-inner .tr .td.document {
  max-width: 110px;
  min-width: 110px;
}

:host .table .table-inner .tr .td.status-reason {
  max-width: 110px;
  min-width: 110px;
}

:host .table .table-inner .tr .td.status {
  max-width: 130px;
  min-width: 130px;
}

:host .table .table-inner .tr .td.status .tag {
  min-width: 115px;
  padding: 0 15px;
}

:host .table .table-inner .tr .td.operation {
  max-width: 85px;
  min-width: 85px;
  justify-content: space-around;
}

:host .table .table-inner .tr .td.operation .btn {
  width: 30px;
  height: 30px;
}

:host .table .table-inner .tr .td.scrollbar {
  max-width: 19px;
  min-width: 19px;
}

:host .table .table-inner .tr.header {
  border-bottom: 1px solid #eff1f5;
}

:host .table .table-inner .tr.header .td {
  padding: 10px 4px 4px;
}

:host .div-tab-menus {
  padding: 0;
  margin-bottom: 4px;
  display: flex;
}

:host .div-tab-menus .div-tab-menu {
  line-height: 36px;
  margin-right: 2px;
  border-bottom: 4px solid #eff0f4;
  display: flex;
  align-items: center;
  font-weight: 400;
}

:host .div-tab-menus .div-tab-menu:hover {
  border-color: #EFF0F4;
  color: #6D6E71;
  border-width: 4px;
}

:host .div-tab-menus .div-tab-menu:hover:active {
  color: #0C84C8;
}

:host .div-tab-menus .div-tab-menu.active {
  background-color: #EFF0F4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #EFF0F4;
  color: #0C84C8;
  border-width: 4px;
}

:host .div-tab-menus .div-tab-menu .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
}

:host .div-tab-menus .div-tab-menu .status.done {
  background-color: #00B58A;
}

:host .div-tab-menus .div-tab-menu .status.edit {
  background-color: #E14132;
}

:host .form-control:disabled {
  color: #6D6E71;
  background-color: #EFF0F4;
  border-color: #EBEDF2;
}

:host .trademark-row {
  width: 100%;
  margin-bottom: 19px;
}

:host .trademark-row .trademark-image-wrapper {
  border: 2px solid #f5f6f8;
  border-radius: 5px;
  padding: 35px;
  position: relative;
  width: 398px;
  height: 278px;
}

:host .trademark-row .trademark-image-wrapper .sound-btn {
  position: absolute;
  left: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view {
  position: absolute;
  right: 9px;
  top: 9px;
}

:host .trademark-row .trademark-image-wrapper .select-view .form-group {
  min-height: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox {
  margin-right: 7px;
}

:host .trademark-row .trademark-image-wrapper .select-view .kt-checkbox:last-child {
  margin-right: 0;
}

:host .trademark-row .trademark-image-wrapper .trademark-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:host .trademark-row .trademark-info-wrapper {
  border-radius: 5px;
  padding: 14px 18px;
  position: relative;
  flex: 1 1 auto;
  min-height: 278px;
  margin-left: 20px;
  justify-content: flex;
}

:host .trademark-row .trademark-info-wrapper .form-row {
  margin-left: -18px;
  width: auto;
}

:host .trademark-row .trademark-info-wrapper .form-row:after {
  content: "";
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group {
  flex: 0 0 calc(33.33% - 18px);
  margin-left: 18px;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row {
  display: flex;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper-row .input-wrapper {
  display: flex;
  flex: 1 1 auto;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .input-wrapper.with-button .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 37px;
  width: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .with-label .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .with-label .input-group-text {
  height: 37px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control {
  width: 100%;
}

:host .trademark-row .trademark-info-wrapper .form-group .form-control.input {
  height: 37px;
}

:host .trademark-row .trademark-info-wrapper .form-group .col-form-label {
  justify-content: flex-start;
  padding: 3px 0;
  min-height: 0;
}

:host .trademark-row .trademark-info-wrapper .form-group .btn.q-and-a-page {
  margin-top: 27px;
  height: 37px;
  padding-top: 6px;
}

:host .trademark-row .btn-data {
  height: 37px;
}

:host .record .kt-radio {
  margin-bottom: 0;
  min-width: 150px;
}

:host .record .kt-portlet__head {
  justify-content: flex-start;
}

:host .record .kt-portlet__head-label {
  flex: none;
  margin-right: 50px;
}

:host .record-form .col-form-label {
  justify-content: flex-start;
  min-width: auto;
}

:host .record-form .label-row {
  align-items: center;
}

:host .record-form select {
  max-width: 380px;
}

:host .record-title {
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  flex-shrink: 0;
}

:host .record-table .form-control {
  height: 31px;
  padding: 0 12px;
  width: 100%;
}

:host .record-table .input-wrapper {
  width: 100%;
}

:host .record-table .mat-form-field {
  width: 100%;
}

:host .record-table .kt-input-icon__icon {
  width: 30px;
}

:host .record-table .form-group {
  min-height: auto;
}

:host .record-table .table .table-inner .tr .td {
  min-height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: flex-start;
}

:host .record-table .table .table-inner .tr .td.operation {
  max-width: 102px;
  min-width: 102px;
  justify-content: space-around;
}

:host .record-table .table .table-inner .tr .td.operation .btn {
  width: 25px;
  height: auto;
  padding: 5.5px 5px;
}

:host .record-table .btn-sm {
  width: 25px;
  height: auto;
  border-radius: 4px;
  padding: 5.5px 5px;
}

:host .record-table .btn-sm i {
  font-size: 12px;
}

:host .record-table .btn-search {
  width: 31px;
  height: auto;
  font-size: 12px;
}

:host .record-table .input-wrapper-row {
  display: flex;
}

:host .record-table .with-label .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:host .record-table .with-label .input-group-text {
  background-color: #F5F5F5;
  border: 1px solid #EBEDF2;
  padding: 5px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .record-table .with-button .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
