<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label"
             for="document_role02_print_document_date">วันที่ออกหนังสือ</label>
      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_document_role02_print_document_date
                   id="document_role02_print_document_date"
                   class="form-control input"
                   matInput
                   [matDatepicker]="picker_document_role02_print_document_date"
                   (click)="picker_document_role02_print_document_date.open()"
                   [(ngModel)]="input[key_document_role02_print_document_date.id]"
                   (dateChange)="clearValidate(key_document_role02_print_document_date.id)"
                   autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right"
                   for="document_role02_print_document_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix [for]="picker_document_role02_print_document_date">
          </mat-datepicker-toggle>
          <mat-datepicker #picker_document_role02_print_document_date></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_document_role02_print_document_date.id]" class="invalid-feedback">
            {{validate[key_document_role02_print_document_date.id]}}
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02CheckSend()">
        <i class="dip-icon-forward"></i>
        สั่งพิมพ์หนังสือ
      </button>

      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02CheckTorkorOpen()">
        <i class="dip-icon-file-pdf"></i>
        ร่างหนังสือ
      </button>
    </div>
  </div>
</div>


<div class="width_50">
  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          ข้อมูลทั่วไป
        </h3>
      </div>
      <div class="kt-portlet__head-action">

      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="form-row">
        <div class="split_3">
          <div class="main-request-wrapper">
            <div class="main-request-image-wrapper">
              <div class="bx-box-picture">
                <img *ngIf="input.trademark_2d_physical_path && input.trademark_2d_physical_path != ''" src="{{input.trademark_2d_physical_path}}" />

                <!--<div style="position: absolute; right: 70px; top: 5px;  text-align: center;">
                  <a href="#" class="btn btn-squared-default-plain btn-info">2D</a>
                </div>-->
                <!--<div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                  <a href="#" class="btn btn-squared-default-plain btn-light ">3D</a>
                </div>-->

                <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">

                  <!--{{input.sound_file_physical_path}}-->
                  <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
                    '
                    <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                      <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                         (click)="togglePlayer()"></i>
                    </a>
                  </div>
                </div>

                <div class="button">
                  <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
                    หน้าสอบถาม
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="split_3 form-column label-div-not-same-line">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_number"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="name">เจ้าของ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="name"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.people_list[0].name"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_item_sub_type_1_code_text">ประเภทสินค้า</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_item_sub_type_1_code_text"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_item_sub_type_1_code_text"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_item_type_name">ประเภทเครื่องหมาย</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_item_type_name"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_item_type_name"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="is_trademark_join">เครื่องหมายร่วม</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="is_trademark_join"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.is_trademark_join"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
        </div>
        <div class="split_3 form-column label-div-not-same-line">
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="request_date">วันที่ยื่นคำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_date"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_date"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div><div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="representative_name">ตัวแทน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="representative_name"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.representative_name"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div><div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label">
                ที่อยู่ปัจุบัน
              </label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          type="text"
                          id="address_information"
                          [(ngModel)]="input.address_information"
                          rows="3"
                          disabled="disabled"></textarea>

                <div class="feedback-wrapper"></div>
              </div>


            </div>
          </div><div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <label class="col-form-label" for="is_trademark_sound">เครื่องหมายเสียง</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="is_trademark_sound"
                       [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                       [(ngModel)]="input.request_mark_feature_code_is_sound"
                       autocomplete="off"
                       disabled="disabled" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="kt-portlet__footer hide">

    </div>
  </div>
  <div class="kt-portlet">

    <app-table [initial_table]="tableInstructionRule" [title]="'คำสั่งนายทะเบียน'" (onClickCommand)="onClickCommand($event)"></app-table>

  </div>
</div>

<div class="width_50">
  <div class="kt-portlet">
    <app-table [initial_table]="tableAddressContact" [title]="'ที่อยู่การจัดส่ง'" (onClickCommand)="onClickCommand($event)"></app-table>
  </div>
  <div class="kt-portlet">
    <app-table [initial_table]="tableInstructionDocument" [title]="'หนังสือทั้งหมด'" (onClickCommand)="onClickCommand($event)"></app-table>
  </div>
</div>


<app-modal [className]="['fade', this.modal.isModalInstruction ? 'show' : undefined]"
           [title]="'แก้ไข'"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalInstruction')">
  <div body-children>

    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="form-row">
          <div class="form-column">
            <div class="kt-portlet__body__inner">

              <div class="form-group flex">
                <label class="col-form-label" for="InstructionEdit.instruction_date">
                  มาตรา
                </label>



                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         [(ngModel)]="InstructionEdit.instruction_rule_name"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>


            <div class="kt-portlet__body__inner">
              <div class="form-group flex">
                <label class="col-form-label">
                  รายละเอียดของนายทะเบียน
                </label>
                <div class="input-wrapper">
                  <textarea class="form-control input" type="text"
                            [(ngModel)]="InstructionEdit.value_1"
                            rows="3"
                            disabled="disabled">{{InstructionEdit.value_1}}</textarea>

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__footer hide">
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-default"
            (click)="toggleModal('isModalInstruction')">
      ยกเลิก
    </button>

    <button type="button"
            class="btn btn-secondary"
            (click)="onClickDocumentRole02CheckInstructionRuleSend()">
      <i class="dip-icon-save"></i>
      ตกลง
    </button>

    <button type="button"
            class="btn btn-orange"
            (click)="onClickDocumentRole02CheckInstructionRuleEdit()">
      <i class="dip-icon-edit"></i>
      แก้ไข
    </button>
  </div>
</app-modal>



<div class="div_popup is_row_item_edit_show" *ngIf="popup.is_row_item_edit_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">แก้ไข</div>

    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="instruction_rule_name">มาตรา</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="instruction_rule_name"
                     [(ngModel)]="popup.row_item_edit.instruction_rule_name"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="instruction_rule_name">รายละเอียดของนายทะเบียน</label>
            <div class="input-wrapper">
              <textarea class="form-control input" [(ngModel)]="popup.row_item_edit.value_1"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-brand-2"
              (click)="popup.is_row_item_edit_show = false">
        <i class="dip-icon-delete-cross"></i>
        ยกเลิก
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02CheckIntructionRuleSave()">
        <i class="dip-icon-check"></i>
        ตกลง
      </button>
      <button type="button"
              class="btn btn-orange"
              (click)="popup.is_send_back_show = true; popup.row_item_edit.department_code = master.documentRole2CheckSendBackDepartmentCodeList[0].code">
        <i class="dip-icon-forward"></i>
        คืนงาน
      </button>
    </div>
  </div>
</div>


<div class="div_popup" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>

    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <select class="form-control input"
                  [(ngModel)]="popup.row_item_edit.department_code">
            <option value="{{item.code}}"
                    *ngFor="let item of master.documentRole2CheckSendBackDepartmentCodeList">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="popup.row_item_edit.reason"></textarea>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickDocumentRole02CheckSendChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>


<div class="div_popup is_address_show" *ngIf="popup.is_address_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">เพิ่มที่อยู่</div>

    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="popup.address_value" (keydown.enter)="onEnterDocumentRole02CheckPopupAdddressAdd()"></textarea>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner">
      <div class="kt-portlet">
        <app-table [initial_table]="tablePopupAddress" [title]="'เลือกเพิ่ม'"></app-table>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickDocumentRole02CheckPopupAdddressSave()">
        <i class="dip-icon-edit-pen"></i>
        ตกลง
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_address_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
