<div class="kt-portlet registration-appeal-com">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="fa fa-search"></i>
        การค้นหา
      </h3>
    </div>
  </div>
  
  <div class="kt-portlet__body">  
    <div class="row">
        <div class="col-4">
            <div class="form-group flex">
                <label class="col-form-label" for="request_number">
                  เลขที่คำขอ
                </label>          
                <div class="input-group mb-5">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="request_number" 
                    [(ngModel)]="input[key_request_number.id]"
                    #key_request_number 
                    placeholder="เพิ่มตัวเลข"
                    autocomplete="off"
                  />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group flex">
                <label class="col-form-label" for="start_date">
                  ตั้งแต่
                </label>          
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    #key_start_date
                    id="start_date" 
                    [(ngModel)]="input[key_start_date.id]" 
                    [matDatepicker]="start_picker"
                    (click)="start_picker.open()" 
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="start_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #start_picker></mat-datepicker>

                  <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large; font-weight: normal;"> ถึง </span>

                  <input 
                    type="text" 
                    class="form-control"
                    #key_end_date
                    id="end_date" 
                    [(ngModel)]="input[key_end_date.id]"
                    [matDatepicker]="end_picker"
                    (click)="end_picker.open()"                  
                    style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="end_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #end_picker></mat-datepicker>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="form-group flex">
                <label class="col-form-label" for="request_number">
                  แบบคำร้อง
                </label>          
                <div class="input-wrapper">
                    <div class="input-wrapper-row">
                        <select class="form-control" [(ngModel)]="input.request_type">
                            <option *ngFor="let item of requestList" [value]="item.code">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group flex" style="justify-content: center;">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-brand" style="min-width: 100px;" (click)="filter()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        ค้นหา
                    </button>
                    <button type="button" class="btn cs-btn-danger ml-3">
                      <i class="fa fa-repeat" aria-hidden="true"></i>
                      เริ่มใหม่
                  </button>
                </div>                        
              </div>
        </div>
    </div>
  </div>
  
</div>

<div class="kt-portlet registration-other-request-job">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <span class="fa fa-table cs-header-icon cs-color-o" aria-hidden="true"></span>
        <h3 class="kt-portlet__head-title">
          ตารางงาน
        </h3>
      </div>
    </div>
  
     <div class="kt-portlet__body">
      <div class="table table-striped table-responsive table-bordered" style="border: 1px;">
        <table>
          <thead>
            <tr>
              <th class="cs-theader-c1">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                    <input type="checkbox"/>
                    <span></span>
                </label>
              </th>
              <th class="cs-theader-c2">ลำดับ</th>
              <th class="cs-theader-c3">วันที่ยื่นคำร้อง</th>
              <th class="cs-theader-c4">เลขที่คำขอ</th>
              <th class="cs-theader-c5">แบบคำร้อง</th>
              <th class="cs-theader-c6">เลขรับที่/ปี</th>
              <th class="cs-theader-c7">การดำเนินการ</th>
              <th class="cs-theader-c8">ประเด็น</th>
              <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
              <th class="cs-theader-c10">ขั้นตอน</th>
              <th class="cs-theader-c11">สถานะการทำงาน</th>
              <th class="cs-theader-c12">เอกสารสแกน</th>
              <th class="cs-theader-c13">คำสั่ง</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let item of dataList| paginate: paginateItem; index as i;">
              <td class="cs-tbody-v-align-mid">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox"/>
                    <span></span>
                </label>
              </td>
              <td class="cs-tbody-v-align-mid">
                {{ (paginateItem.currentPage - 1) * paginateItem.itemsPerPage + i + 1 }}
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.created_date_text}}
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="cs-label-status-process">
                  {{item.reuest_number}}
                </div>       
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.requst_type_code}}
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.no_number}}
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.process_action_name}}
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.reason_name}}
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="row justify-content-center" style="align-items: center;">
                    {{item.document_more}} 
                <button type="button" class="btn btn-icon btn-revoke-action ml-3" style="height: 30px !important; width: 30px !important;"
                [attr.hidden]="item.document_more == null || item.document_more == '' ? '' : null">
                    <span class="fa fa-envelope" style="font-size: 15px"></span>
                </button>
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                {{item.step_action_name}}
              </td>
              <td class="cs-tbody-v-align-mid">
                  <div class="cs-label-status-process">
                    {{item.status_action_name}}
                  </div>           
              </td>
              <td class="cs-tbody-v-align-mid">
                <button type="button" class="btn btn-icon cs-btn-scan" style="height: 30px !important; width: 30px !important;">
                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                </button>
              </td>
              <td class="cs-tbody-v-align-mid">
                <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;" 
                  (click)="go(item.request_id)"
                
                >
                    <span class="fa fa-play" style="font-size: 15px"></span>
                </button>
              </td>
            </tr>
            <!-- <tr >
                <td class="cs-tbody-v-align-mid">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                      <input type="checkbox"/>
                      <span></span>
                  </label>
                </td>
                <td class="cs-tbody-v-align-mid">
                  1
                </td>
                <td class="cs-tbody-v-align-mid">
                  10/09/2562
                </td>
                <td class="cs-tbody-v-align-mid">
                    <div class="row justify-content-center">
                      <button class="btn btn-brand" style="height: 30px !important;">
                          741150971
                        </button>
                    </div>
                </td>
                <td class="cs-tbody-v-align-mid">
                  ก.03
                </td>
                <td class="cs-tbody-v-align-mid">
                  อค.1399/2556
                </td>
                <td class="cs-tbody-v-align-mid">
                  พิจารณาเอกสาร
                </td>
                <td class="cs-tbody-v-align-mid">
                  บ่งเฉพาะ
                </td>
                <td class="cs-tbody-v-align-mid">
                  <div class="row justify-content-center" style="align-items: center;">
                      20/02/2563 
                  <button type="button" class="btn btn-icon btn-revoke-action ml-3" style="height: 30px !important; width: 30px !important;">
                      <span class="fa fa-envelope" style="font-size: 15px"></span>
                  </button>
                  </div>
                </td>
                <td class="cs-tbody-v-align-mid">
                  จัดทำสรุปสำนวน
                </td>
                <td class="cs-tbody-v-align-mid">
                    <div class="cs-label-status-wait">
                      รอเอกสารเพิ่มเติม
                    </div>           
                </td>
                <td class="cs-tbody-v-align-mid">
                  <button type="button" class="btn btn-icon cs-btn-scan" style="height: 30px !important; width: 30px !important;">
                      <span class="dip-icon-layer" style="font-size: 15px"></span>
                  </button>
                </td>
                <td class="cs-tbody-v-align-mid">
                  <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                      <span class="fa fa-play" style="font-size: 15px"></span>
                  </button>
                </td>
            </tr> -->
          </tbody>   
        </table>
      </div> 
    </div> 
  
    <div class="kt-portlet__footer ">
      <div class="kt-pagination  kt-pagination--brand">

        <div class="page-nav">
          <div class="has-text-centered">
            <pagination-controls
              id="paginateItem"
              (pageChange)="onChangePage($event, 'paginateItem')"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
          </div>
        </div>    

        <div class="kt-pagination__toolbar">
          <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
            <option *ngFor="let perPage of perPage" [value]="perPage">
              {{ perPage }}
            </option>
          </select>
          <span class="pagination__desc">
            Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
          </span>
        </div>
      </div>
    </div>
  </div>