<div class="kt-portlet save-021-process-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
        <input type="checkbox">
        บันทึกย้อนหลัง
        <span></span>
      </label><button type="button"
                      class="btn btn-create-new"
                      (click)="onClickReset()">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                       [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                       (keydown)="autocompleteKeyDown($event)"
                       (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_ListNotSent_show">
                <table>
                  <tr>
                    <td>เลขที่คำขอ</td>
                    <td>ลำดับ</td>
                    <td>วันที่ยื่นคำร้อง</td>
                    <td>ค่าธรรมเนียม</td>
                  </tr>
                  <tr *ngFor="let autocomplete of autocompleteListListNotSent"
                      (click)="autocompleteChooseListNotSent(autocomplete)">
                    <td>{{autocomplete.request_number}}</td>
                    <td>{{autocomplete.request_index}}</td>
                    <td>{{autocomplete.make_date_text}}</td>
                    <td>{{autocomplete.total_price}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง *</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              หมายเหตุ
            </label>
            <div class="input-wrapper">
              <textarea #key_remark class="form-control input" type="text" id="remark"
                        [(ngModel)]="input[key_remark.id]" rows="3">
หมายเหตุ
</textarea>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_remark.id]" class="invalid-feedback">
                  {{validate[key_remark.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input #key_request_date_text class="form-control input" type="text" id="request_date_text" placeholder="วันที่ยื่นคำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_date_text.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date_text.id]" class="invalid-feedback">
                  {{validate[key_request_date_text.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_index">ลำดับคำร้อง</label>
            <div class="input-wrapper">
              <input #key_request_index
                     class="form-control input" type="text" id="request_index" placeholder="ลำดับคำร้อง"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_index.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_index.id]" class="invalid-feedback">
                  {{validate[key_request_index.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-021-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">หมายเลข IRN</label>
            <div class="input-wrapper">
              <input #key_irn_number class="form-control input" type="text" id="irn_number" placeholder="หมายเลข IRN"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_irn_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-brand" (click)="onClickSave021Madrid()">
              ข้อมูล Madrid
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <!--<button type="button"
          class="btn btn-danger"
          (click)="onClickSave021Delete()">
    <i class="dip-icon-trash"></i>ลบข้อมูล
  </button>-->
      <button type="button"
              class="btn btn-outline-brand"
              (click)="onClickSave021DocumentView()">
        <i class="dip-icon-add-new"></i>
        ดูเอกสารสแกน
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave021Save()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave021Send()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        ส่งต่อ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickSave021RequestBack()"
              *ngIf="input.save_status_code == 'SENT'">
        <i class="dip-icon-forward"></i>
        ดึงงาน
      </button>
    </div>
  </div>
</div>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-021-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td card_type_name">ประเภทบุคคล</div><div class="td card_number">เลขที่บัตร</div><div class="td name">ชื่อเจ้าของ</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div>
            </div>
            <div class="tr" *ngFor="let row_item of listPeople01 | paginate: paginatePeople01; index as i">
              <div class="td card_type_name">{{row_item.card_type_name}}</div>
              <div class="td card_number">{{row_item.card_number}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{row_item.house_number}}</div>
              <div class="td telephone">{{row_item.telephone}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople01')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginatePeople01')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople01')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePeople01')">
              <option *ngFor="let perPage of perPagePeople01" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginatePeople01.itemsPerPage}} of {{paginatePeople01.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'จำพวกสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-021-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางจำพวกสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_3">
          <div class="table-inner">
            <div class="tr header">
              <div class="td index">#</div><div class="td request_item_sub_type_1_code">จำพวกสินค้า</div><div class="td description">รายการสินค้า</div>
            </div>
            <div class="tr" *ngFor="let row_item of listProduct01 | paginate: paginateProduct01; index as i">
              <div class="td index">{{row_item.index}}</div>
              <div class="td request_item_sub_type_1_code">{{row_item.request_item_sub_type_1_code}}</div>
              <div class="td description">{{row_item.description}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateProduct01')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateProduct01')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateProduct01')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateProduct01')">
              <option *ngFor="let perPage of perPageProduct01" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateProduct01.itemsPerPage}} of {{paginateProduct01.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
</app-tabs>

