<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip dip-icon-play"></i>คำขอรับความคุ้มครอง
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="row">
      <h4 class="sub-head-title">ข้อมูลทั่วไป</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12 border border-secondary rounded">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg" alt="" style="min-width: 200px;max-height: 300px;">
      </div>
      <div class="col-lg-8 col-sm-12 border border-secondary rounded">
        <div class="row label-div-not-same-line">
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                      
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">เลขทะเบียนระหว่างประเทศ IRN</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                      
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">วันที่ยื่นคำขอ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                      
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">ชื่อเจ้าของ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                      
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">วันที่ยืนตาวันที่ใข้สิทธิ์ตาม ม.28</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                    
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">จำพวก</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">สินค้า/บริการ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"

                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">นายทะเบียน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6  col-md-6 col-sm-12 mb-2">
            <div class="form-group flex">
              <label class="col-form-label" for="request_number">ผู้ตรวจสอบ</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="text"
                       id="request_number"
                       disabled="disabled"/>
      
                <!-- <div class="feedback-wrapper"><div class="invalid-feedback"></div></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <h4 class="sub-head-title">
          คำสั่งนายทะเบียน
        </h4>
      </div>
      <div class="col-4"></div>
      <div class="col-2 align-self-center">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <button class="form-control" style="background-color: rgb(95, 95, 95);color: white;"> <i class="fa fa-stack-overflow">ดูเอกสาร</i> </button>

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <table style="width: 100%;">
          <thead>
            <tr>
              <td class="index" style="width: 5%;">ลำดับ</td>
              <td class="public_week" style="width: 15%;">วันทีมีการออก 3A</td>
              <td class="public_request_number" style="width: 15%;">วันที่มียื่นคำร้อง</td>
              <td class="public_irn_number" style="width: 15%;">วันที่ครบ 90 วัน</td>
              <td class="public_register_date" style="width: 15%;">ประเภทคำร้อง</td>
              <td class="public_register_date" style="width: 20%;">หมายเหตุ</td>
              <td class="public_status_name" style="width: 10%;">สถานะ</td>
              <td class="public_order"style="width: 5%;">คำสั่ง</td>
              <!--<td class="id">คำสั่ง</td>-->
    
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row_item of listPublicItem">
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week">{{row_item.index}}</td>
              <td class="public_week"> <label class="item_label"> {{row_item.index}}</label></td>
              <td class="id">
                <a href="javascript://">
                  <i class="dip-icon-play"
                     (click)="onClickPublicItemId(row_item.id)"></i>
                </a>  &nbsp;
                <a href="javascript://">
                  <i class="fa fa-file-text-o"
                     (click)="onClickPublicItemId(row_item.id)"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicItem"
                (onClickList)="onClickPublicRole01ItemList()"></app-paging>
    </div>
  </div>



</div>

<div class="kt-portlet__footer ">
  <div class="button-list">
    <button type="button" *ngIf="status == 1"
            class="btn btn-brand"
            (click)="onClickSave()">
      <!-- <i class="dip-icon-save"></i> -->
      บันทึก
    </button>
    <button type="button" *ngIf="status == 2"
    class="btn btn-brand"
    (click)="onClickModalPublish()">
<!-- <i class="dip-icon-save"></i> -->
      สั่งประกาศโฆษณา
</button>
  </div>
</div>
