<div class="kt-portlet save-07-process-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-07-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner save-07-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_index">ลำดับที่คำร้อง</label>
            <div class="input-wrapper">
              <input #key_request_index class="form-control input" type="text" id="request_index" placeholder="ลำดับที่คำร้อง"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_index.id]" class="invalid-feedback">
                  {{validate[key_request_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner save-07-process-lister">
          <div class="form-group flex">
            <label class="col-form-label">

            </label>
            <div class="input-wrapper">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [checked]="input.is_split_request"
                       (click)="oneWayDataBinding('is_split_request', $event.target.checked)" /> แตกคำขอ
                <span></span>
              </label>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-07-process-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-07-process-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.saveStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="save_status_code"
                         type="radio"
                         [checked]="item.code === input.save_status_code"
                         (click)="oneWayDataBinding('save_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickSave07List()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button><button type="button"
                     class="btn btn-danger"
                     (click)="onClickReset()">
      <i class="dip-icon-close"></i>
      ยกเลิก
    </button>
  </div>
</div>
<div class="kt-portlet save-07-process-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลคำขอต่ออายุการจดทะเบียน(ก.07)
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickSave07Add()">
        <i class="dip-icon-add-new"></i>

      </button>-->
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickSave07Delete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_2">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listSaveProcess, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td make_date_text">วันที่ยื่นคำร้อง</div><div class="td request_number">เลขที่คำขอ</div><div class="td request_date_text">วันที่ยื่นคำขอ</div><div class="td request_number_from">แตกคำขอจาก</div><div class="td save_status_name">สถานะ</div><div class="td cancel_reason">เหตุผลการยกเลิก</div><div class="td edit_delete">แก้ไข / ลบ</div>
        </div>
        <div class="tr" *ngFor="let row_item of listSaveProcess">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
          <div class="td index">{{row_item.index}}</div>
          <div class="td make_date_text">{{row_item.make_date_text}}</div>
          <div class="td request_number">{{row_item.request_number}}</div>
          <div class="td request_date_text">{{row_item.request_date_text}}</div>
          <div class="td request_number_from">{{row_item.request_number_from}}</div>
          <div class="td save_status_name">{{row_item.save_status_name}}</div>
          <div class="td cancel_reason">{{row_item.cancel_reason}}</div>
          <div class="td edit_delete"><i class="dip-icon-edit" (click)="onClickSave07Edit(row_item)"></i><i class="dip-icon-trash" (click)="onClickSave07Delete(row_item)"></i></div>


        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateSaveProcess"
                (onClickList)="onClickSave07List()"></app-paging>
  </div>
</div>
