<div class="width-30">
  <div class="kt-portlet document-process-collect-list-job">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          เพื่มเอกสาร
        </h3>
      </div>
      <div class="kt-portlet__head-action">

      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="document-process-collect-lister">
        <div class="form-group flex">
          <label class="col-form-label">
            เลขที่คำขอ
          </label>
          <div class="input-wrapper">
            <input #key_request_number class="form-control input"
                   type="text"
                   id="request_number"
                   placeholder="เลขที่คำขอ"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                   [(ngModel)]="input[key_request_number.id]"
                   autocomplete="off" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                {{validate[key_request_number.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="document-process-collect-lister">
        <div class="form-group flex">
          <label class="col-form-label" for="sender_by_name">ผู้ส่งงาน</label>
          <div class="input-wrapper">
            <input #key_sender_by_name class="form-control input" type="text" id="sender_by_name" placeholder="ผู้ส่งงาน"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_sender_by_name.id]"
                   autocomplete="off" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_sender_by_name.id]" class="invalid-feedback">
                {{validate[key_sender_by_name.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="document-process-collect-lister">
        <div class="form-group flex">
          <label class="col-form-label" for="department_name">กลุ่ม</label>
          <div class="input-wrapper">
            <input #key_department_name class="form-control input" type="text" id="department_name" placeholder="กลุ่ม"
                   [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_department_name.id]"
                   autocomplete="off" />

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_department_name.id]" class="invalid-feedback">
                {{validate[key_department_name.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="document-process-collect-lister">
        <div class="form-group flex">
          <label class="col-form-label" for="remark">รายละเอียด</label>
          <div class="input-wrapper">
            <textarea #key_remark class="form-control input" type="text" id="remark"
                      [(ngModel)]="input[key_remark.id]" rows="3">
            </textarea>

            <div class="feedback-wrapper">
              <div *ngIf="validate[key_remark.id]" class="invalid-feedback">
                {{validate[key_remark.id]}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="kt-portlet__footer ">
      <div class="button-list">
        <button type="button"
                class="btn btn-brand"
                (click)="onClickDocumentProcessCollectRequestAdd()">
          <i class="dip-icon-add-new"></i>
          เพิ่ม
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="onClickDocumentProcessCollectRequestDelete()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>
  </div>


  <!--<div class="kt-portlet document-process-collect-list-job">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          ตารางเอกสารที่เพิ่ม
        </h3>
      </div>
      <div class="kt-portlet__head-action">

      </div>
    </div>

    <div class="kt-portlet__body">
      <table>
        <thead>
          <tr>
            <td class="index">#</td>
            <td class="request_number">เลขที่คำขอ</td>
            <td class="department_name">กลุ่ม</td>
            <td class="edit_delete">คำสั่ง</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listRequest | myfilter">
            <td class="index">{{row_item.index}}</td>
            <td class="request_number">
              <a href="/request-search/edit/{{row_item.id}}" target="_blank">
                {{row_item.request_number}}
              </a>
            </td>
            <td class="department_name">{{row_item.department_name}}</td>
            <td class="edit_delete">
              <i class="dip-icon-play" (click)="onClickDocumentProcessCollectRequestEdit(row_item)"></i>'
              <i class="dip-icon-delete-cross" (click)="onClickDocumentProcessCollectRequestDelete(row_item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>-->
</div>
<div class="width-70">
  <div class="kt-portlet document-process-collect-list-job">
    <div class="kt-portlet__head ">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          ประวัติ
        </h3>
      </div>
      <div class="kt-portlet__head-action">

      </div>
    </div>

    <div class="kt-portlet__body">
      <table>
        <thead>
          <tr>
            <td class="index">#</td>
            <td class="request_number">เลขที่คำขอ</td>
            <td class="name">ชื่อเจ้าของ</td>
            <td class="created_date_text">วันที่บันทึก</td>
            <td class="sender_by_name">ผู้ส่งงาน</td>
            <td class="remark">รายละเอียด</td>
            <td class="status">สถานะ</td>
            <td class="edit_delete">คำสั่ง</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listHistory | myfilter">
            <td class="index">{{row_item.index}}</td>
            <td class="request_number">
              <a href="/request-search/edit/{{row_item.save_id}}" target="_blank">
                {{row_item.request_number}}
              </a>
            </td>
            <td class="name">{{row_item.name}}</td>
            <td class="created_date_text">{{row_item.created_date_text}}</td>
            <td class="sender_by_name">{{row_item.sender_by_name}}</td>
            <td class="remark">{{row_item.remark}}</td>
            <td class="status">{{row_item.document_classification_collect_status_name}}</td>
            <td class="edit_delete">
              <i class="dip-icon-play" (click)="onClickDocumentProcessCollectHistoryEdit(row_item)"></i>
              <!--<i class="dip-icon-trash" (click)="onClickDocumentProcessCollectHistoryDelete(row_item)"></i>-->
            </td>
          </tr>
        </tbody>
      </table>

    </div>


    <div class="kt-portlet__footer ">
      <app-paging [paginate]="paginateDocumentProcessCollect" (onClickList)="onClickClassificationHistoryList()"></app-paging>
    </div>
  </div>
</div>



<div class="div_popup" *ngIf="popup.is_edit_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ตัดรูป</div>
    <div class="body">
      <div class="kt-portlet modal-image-edit-job">
        <div class="kt-portlet__body">
          <div class="form-row">
            <div class="form-column">
              <div class="kt-portlet__body__inner modal-image-editer">
                <div class="form-group flex">
                  <!--
                  <div style="height: 800px;width: 800px;background-image: url(assets/images/logos/garuda-emblem.png);background-position: center;background-repeat: no-repeat; border: 1px solid;">
                  </div>
                  -->
                  <!-- <img src="./assets/images/logos/garuda-emblem.png" id="canvas-img" /> -->
                  <div id="canvas-container" style="border:1px solid;">
                    <canvas id="canvas" width="800" height="800"></canvas>
                  </div>
                  <div class="input-wrapper">
                    <div>
                      <input type="checkbox"
                             [disabled]="canvas_is_crop"
                             [checked]="canvas_is_erase"
                             (click)="onClickCheckBoxErase($event.target.checked)" /> ยางลบ
                    </div>
                    <div>
                      <input type="checkbox"
                             [disabled]="canvas_is_erase"
                             [checked]="canvas_is_crop"
                             (click)="onClickImageCrop($event.target.checked)" /> Crop
                    </div>
                    <div *ngIf="canvas_is_crop">
                      <button type="button"
                              class="btn btn-secondary"
                              (click)="onClickImageCropConfirm(true)">
                        <i class="dip-icon-save"></i>
                        ตกลง
                      </button>
                      <button type="button"
                              class="btn btn-danger"
                              (click)="onClickImageCropConfirm(false)">
                        <i class="dip-icon-close"></i>
                        ยกเลิก
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body form-group button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentProcessCollectHistoryImageSave()">
        <i class="dip-icon-save"></i>
        เสร็จสิ้น
      </button>


      <div class="upload-btn-wrapper">
        <div class="upload-input-wrapper">
          <button type="button" class="btn btn-brand">
            <i class="dip-icon-upload-circle"></i> Upload
          </button>
          <input type="file"
                 name="myfile"
                 class="upload-input"
                 accept="image/*"
                 (change)="
                    onClickUploadImage(
                      $event,
                      'input',
                      'imageUpload',
                      51200000,
                      row_item
                    )
                  " />
        </div>
      </div>

      <!--<button type="button" class="btn btn-brand">
        <i class="dip-icon-upload-circle"></i> Upload
      </button>
      <input type="file"
             name="myfile"
             class="upload-input"
             accept="image/*"
             (change)="
                onClickUploadImage(
                  $event,
                  'input',
                  'imageUpload',
                  51200000,
                  row_item
                )
              " />-->

      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_edit_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
