<div class="kt-pagination  kt-pagination--brand">
  <div class="page-nav">
    <div class="has-text-centered"
         *ngIf="paginate && paginate.page_index && paginate.item_per_page">
      <div id="paginateDocument">
        <div>
          <ul class="ngx-pagination ng-star-inserted" role="navigation" aria-label="Pagination">
            <li class="pagination-previous ng-star-inserted"
                *ngIf="paginate.page_index > 1"
                (click)="paginate.page_index = paginate.page_index-1; onCallBack()">
              <span class="ng-star-inserted">
                Previous
                <span class="show-for-sr">page</span>
              </span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index > 1"
                (click)="paginate.page_index = 1; onCallBack()">
              <span class="ng-star-inserted">1</span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index > 3">
              <span class="ng-star-inserted">..</span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index  > 2"
                (click)="paginate.page_index = paginate.page_index-1; onCallBack()">
              <span class="ng-star-inserted">{{paginate.page_index-1}}</span>
            </li>
            <li class="current ng-star-inserted">
              <span class="ng-star-inserted">{{paginate.page_index}}</span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index  < getMaxPage() - 1"
                (click)="paginate.page_index = paginate.page_index+1; onCallBack()">
              <span class="ng-star-inserted">{{paginate.page_index+1}}</span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index  < getMaxPage() - 2">
              <span class="ng-star-inserted">..</span>
            </li>
            <li class="ng-star-inserted"
                *ngIf="paginate.page_index  < getMaxPage()"
                (click)="paginate.page_index = getMaxPage(); onCallBack()">
              <span class="ng-star-inserted">{{getMaxPage()}}</span>
            </li>
            <li class="pagination-next ng-star-inserted"
                *ngIf="paginate.page_index < getMaxPage()"
                (click)="paginate.page_index = paginate.page_index+1; onCallBack()">
              <span class="ng-star-inserted">
                Next
                <span class="show-for-sr">page</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="goto-page" *ngIf="!minimum">
      <div class="form-group flex">
        <label class="col-form-label">
          ไปที่หน้า
        </label>
        <input class="form-control input"
               type="number"
               min="1"
               max="{{getMaxPage()
                }}"
               (input)="getMaxPage()"
               [(ngModel)]="paginate.page_index"
               (change)="onCallBack()" />
      </div>
    </div>
  </div>

  <div class="kt-pagination__toolbar"
       *ngIf="!minimum && paginate && paginate.page_index && paginate.item_per_page">
    <select class="form-control kt-font-brand"
            [(ngModel)]="paginate.item_per_page"
            (change)="onCallBack()">
      <option *ngFor="let perPage of perPage" [value]="perPage"> {{perPage}} </option>
    </select>
    <span class="pagination__desc">
      Displaying {{getItemStart()}} - {{getItemEnd()}} of {{paginate.item_total}} records
    </span>
  </div>
</div>
