:host {
  .ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .ngx-pagination::before, .ngx-pagination::after {
    content: ' ';
    display: table;
  }

  .ngx-pagination::after {
    clear: both;
  }

  .ngx-pagination li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 0.0625rem;
    border-radius: 0;
  }

  .ngx-pagination li {
    display: inline-block;
  }

  .ngx-pagination a,
  .ngx-pagination button {
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 3px;
    border-radius: 0;
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: #e6e6e6;
  }

  .ngx-pagination {
    .ng-star-inserted {
      cursor: default;
      padding: 0.1875rem 0.625rem;

      &.current {
        color: #fefefe;
        background: #2199e8;
      }
    }
  }


  .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
  }

  .ngx-pagination .disabled:hover {
    background: transparent;
  }

  .ngx-pagination a, .ngx-pagination button {
    cursor: pointer;
  }

  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous::before {
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
  }

  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next::after {
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
  }

  .ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }

  .ngx-pagination .small-screen {
    display: none;
  }

  @media screen and (max-width: 601px) {
    .ngx-pagination.responsive .small-screen {
      display: inline-block;
    }

    .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
      display: none;
    }
  }
}
