<div class="kt-portlet">
    <div class="kt-portlet__body">  
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 ml-5">
                <div class="form-group flex">
                    <label class="col-form-label" for="request_number">
                      ประชุมครั้งที่
                    </label>          
                    <div class="input-group">
                      <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                      />
                    </div>
                    <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                    <div class="input-group mb-5">
                      <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                      />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group flex">
                    <label class="col-form-label" for="payment_date">
                      วันที่
                    </label>          
                    <div class="input-group">
                      <input 
                        type="text" 
                        class="form-control"
                        placeholder="เลือก"
                        #key_payment_date 
                        id="payment_date" 
                        [matDatepicker]="payment_picker"
                        (click)="payment_picker.open()" 
                        (dateChange)="clearValidate(key_payment_date.id)"
                      />
                      <div class="input-group-append">
                        <label class="cs-input-group-text" for="payment_date">
                          <i class="dip-icon-calendar cs-input-group-icon"></i>
                        </label>
                      </div>
                      <mat-datepicker #payment_picker></mat-datepicker>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <appeal-white-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'" >  
        <appeal-white-tab [title]="'เรื่องที่ไม่มีประเด็นต้องพิจารณา'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div> 
                <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
                  <table class="box-2-tab-1">
                    <thead>
                      <tr>
                        <th class="cs-theader-c1">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                              <input type="checkbox" disabled/>
                              <span></span>
                          </label>
                        </th>
                        <th class="cs-theader-c2">ลำดับ</th>
                        <th class="cs-theader-c3">เลขที่คำขอ</th>
                        <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                        <th class="cs-theader-c5">ประเด็น</th>
                        <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                        <th class="cs-theader-c7">ความคิดเห็น</th>
                        <th class="cs-theader-c8">เลขคำวินิจฉัย</th>
                        <th class="cs-theader-c9">สถานะการอนุมัติ</th>
                        <th class="cs-theader-c10">คำสั่ง</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                  <input type="checkbox"/>
                                  <span></span>
                              </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                              1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="form-group flex">        
                                    <div class="input-group">
                                      <input type="text" class="form-control" value="910225" autocomplete="off" disabled/>
                                    </div>
                                </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                              <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                              <input 
                              class="form-control point" 
                              placeholder="-"
                              disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="form-group flex">        
                                    <div class="input-group">
                                      <input type="text" class="form-control" value="ฮิตซามิซุ คำปะนี" autocomplete="off" disabled/>
                                    </div>
                                 </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="flex justify-content-center">
                                    <button type="button" class="btn cs-btn-icon-white">
                                        <span class="fa fa-search-plus"></span>
                                    </button>
                                </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="flex">
                                    <input type="number" class="form-control" autocomplete="off" width="20px" style="width: 20px !important; text-align: center;"/>
                                    <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                                    <input type="number" class="form-control" autocomplete="off" width="20px" style="width: 20px !important; text-align: center;"/>
                                </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="cs-label-status-process">
                                    รอดำเนินการ
                                </div>   
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="flex justify-content-center">
                                    <button type="button" class="btn btn-icon btn-brand mr-3" 
                                        style="height: calc(1.5em + 1rem + 2px); width: calc(1.5em + 1rem + 2px);">
                                        <span class="fa fa-play"></span>
                                    </button>
                                    <button type="button" class="btn btn-icon cs-btn-icon-black">
                                        <span class="dip-icon-layer"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>   
                  </table>
                </div> 
    
                <div class="row">
                  <div class="col-12">
                    <div class="form-group flex" style="justify-content: flex-end;">
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-brand">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            เห็นควรออกหนังสือ
                        </button>
                      </div>
                    </div>
                </div>
                </div>
        </appeal-white-tab>
    
        <appeal-white-tab [title]="'อุทธรณ์ประเด็นบ่งเฉพาะ'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div>
            <div class="table table-responsive table-bordered" style="border: 1px;">
                <table class="box-2-tab-3">
                    <thead>
                        <tr>
                          <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                          </th>
                          <th class="cs-theader-c2">ลำดับ</th>
                          <th class="cs-theader-c3">เลขที่คำขอ</th>
                          <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                          <th class="cs-theader-c5">ประเด็น</th>
                          <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                          <th class="cs-theader-c7">เอกสารสแกน</th>
                          <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                          <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                        </tr>
                      </thead>
                  <tbody>
                      <!-- dummy data -->
                    <tr >
                      <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        1
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control request_no" 
                        placeholder="910225"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control point" 
                        placeholder="บ่งเฉพาะ"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control name" 
                        placeholder="ฮิตซามิซุ คำปะนี"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-layer" style="font-size: 15px"></span>
                        </button>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            บันทึกความเห็น
                        </button>
                        <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            ผูู้งดออกเสียง
                        </button>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-printer" style="font-size: 15px"></span>
                        </button>
                      </td>
                    </tr>
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="บ่งเฉพาะ"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                บันทึกความเห็น
                            </button>
                            <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                ผูู้งดออกเสียง
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                      <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="บ่งเฉพาะ"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                บันทึกความเห็น
                            </button>
                            <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                ผูู้งดออกเสียง
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                  </tbody>   
                </table>
              </div> 
  
              <div class="row">
                <div class="col-6">
                  <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          ยกเลิก
                        </button>
                    </div>                        
                  </div>
                </div>
                <div class="col-6">
                    <div class="form-group flex" style="justify-content: flex-end;">
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-brand">
                            <i class="dip-icon-printer" aria-hidden="true"></i>
                            พิมพ์รายงานการประชุม
                        </button>
                      </div>
                    </div>
                </div>
              </div>
        </appeal-white-tab>   
    
            <appeal-white-tab [title]="'อุทธรณ์ประเด็นเหมือนคล้าย'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                      <label class="term-label">วาระที่</label>
                      <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                      />
                    </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                            <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เหมือนคล้าย"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                            </td>
                        </tr>
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="เหมือนคล้าย"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                            <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="เหมือนคล้าย"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                        </tbody>   
                    </table>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                      <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                              ยกเลิก
                            </button>
                        </div>                        
                      </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="dip-icon-printer" aria-hidden="true"></i>
                                พิมพ์รายงานการประชุม
                            </button>
                          </div>
                        </div>
                    </div>
                  </div>
            </appeal-white-tab>
    
            <appeal-white-tab [title]="'อุทธรณ์ประเด็นคัดค้าน'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                      <label class="term-label">วาระที่</label>
                      <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                      />
                    </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                            <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="คัดค้าน"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                            </td>
                        </tr>
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="คัดค้าน"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                            <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="คัดค้าน"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                        </tbody>   
                    </table>
                </div>
                <div class="row">
                    <div class="col-6">
                      <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                              ยกเลิก
                            </button>
                        </div>                        
                      </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="dip-icon-printer" aria-hidden="true"></i>
                                พิมพ์รายงานการประชุม
                            </button>
                          </div>
                        </div>
                    </div>
                  </div>
            </appeal-white-tab>
    
            <appeal-white-tab [title]="'เพิกถอนการจดทะเบียน'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                      <label class="term-label">วาระที่</label>
                      <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                      />
                </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">    
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                            <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เพิกถอน"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                            </td>
                        </tr>
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="เพิกถอน"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                            <tr >
                            <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="เพิกถอน"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    บันทึกความเห็น
                                </button>
                                <button type="button" class="btn btn-icon btn-danger ml-5" style="height: 40px !important; width: 150px !important;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    ผูู้งดออกเสียง
                                </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-printer" style="font-size: 15px"></span>
                                </button>
                            </td>
                            </tr>
                        </tbody>   
                    </table>
                </div>
                <div class="row">
                    <div class="col-6">
                      <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                              ยกเลิก
                            </button>
                        </div>                        
                      </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="dip-icon-printer" aria-hidden="true"></i>
                                พิมพ์รายงานการประชุม
                            </button>
                            <button type="button" class="btn cs-btn-grey-solid ml-3">
                                รอประชุมคราวหน้า
                            </button>
                          </div>
                        </div>
                    </div>
                  </div>
            </appeal-white-tab>
    </appeal-white-tabs>

</div>



<appeal-white-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'" >  
    <appeal-white-tab [title]="'ตารางข้อมูลคณะกรรมการเครื่องหมายการค้า'" style="position: relative; display: block;">
            <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
            <table class="box-1">
                <thead>
                <tr>
                    <th class="cs-theader-c1">ลำดับ</th>
                    <th class="cs-theader-c2">รายชื่อคณะกรรมการเครื่องหมายการค้า</th>
                    <th class="cs-theader-c3">ตำแหน่ง</th>
                    <th class="cs-theader-c4">ผลการอนุมัติ</th>
                </tr>
                </thead>
                <tbody>
                    <!-- dummy data -->
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                        1
                        </td>
                        <td class="cs-tbody-v-align-left">
                        <span class="ml-3">นายบุญมา เตชะวณิช</span>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <span>กรรมการ</span>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <div class="flex justify-content-around">
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input name="radioPoint" type="radio"/>
                                    อนุมัติ
                                    <span></span>
                                </label>
                                <label class="kt-radio kt-radio--bold kt-radio--brand">
                                    <input name="radioPoint" type="radio"/>
                                    ไม่อนุมัติ
                                    <span></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>   
            </table>
            </div>
            <div class="row">
            <div class="col-6">
                <div class="form-group flex" style="justify-content: flex-start;">
                <div class="d-flex justify-content-center">
                    <div class="kt-pagination  kt-pagination--brand">
                        <div class="kt-pagination__toolbar">
                          <select class="form-control kt-font-brand"
                                  (change)="onChangePerPage($event.target.value, 'paginatePeople')">
                            <option *ngFor="let perPage of perPagePeople" [value]="perPage">
                              {{ perPage }}
                            </option>
                          </select>
                          <span class="pagination__desc">
                            Displaying 1 of
                            1 records
                          </span>
                        </div>
                      </div>
                </div>                        
                </div>
            </div>
            </div>
    </appeal-white-tab>
</appeal-white-tabs>


<div class="flex justify-content-center">
    <button type="button" class="btn btn-brand mr-3">
        <i class="dip-icon-printer" aria-hidden="true"></i>
        ดูคำวินิจฉัย
    </button>
    <button type="button" class="btn cs-btn-grey-outline">
        ยกเลิก
    </button>
</div>