:host {
 
    .cs-input-group-icon {
      font-size: 16px;
      color: #646c9a;
    }
  
    .cs-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #82869b;
      text-align: center;
      white-space: nowrap;
      background-color: #e1e5ec;
      border: 1px solid #e1e5ec;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .cs-header-icon {
      font-size: x-large;
      margin-right: 1rem;
    }
  
    .cs-color { 
      &-text-white{
        color: white !important;
      }
      &-text-blue{
        color: #0C84C8 !important;
      }
      &-text-grey{
        color: #82869b !important;
      }
      &-bg-blue-drop{
        background-color: #82B2CF;
      }
      &-bg-blue{
        background-color: #0C84C8;
      }
      &-bg-white{
        background-color: white;
      }
    }

    .cs-label-status{
      &-wait{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: lawngreen;
        border: 1px solid lawngreen;
        border-radius: 4px;
        height: 30px;
      } 
      &-process{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #0C84C8;
        border: 1px solid #0C84C8;
        border-radius: 4px;
        height: 30px;
      }
    }

    .cs-btn-save{
      &-solid{
        background-color: #149BA9;
        color: white;
        border: 1px solid #149BA9;
        min-width: 100px;
      }
    }
  
    .cs-btn-grey{
        &-outline{
            background-color: white;
            color: #474747;
            border: 1px solid #474747;
            min-width: 100px;
        }
        &-solid{
            background-color: #474747;
            color: white;
            border: 1px solid #474747;
            min-width: 100px;
        }
    }

    .cs-btn-icon{
        &-black{
          border-color: #474747; 
          background-color: #474747; 
          color:white;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
        &-outline-save{
          background-color: white;
          color: #149BA9;
          border-color: #149BA9;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
        &-white{
          background-color: white;
          color: #646C9A;
          border-color: #E2E5EC;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
      }

      .cs-btn-return{
        background-color: #FC8601;
        color: white;
        border: 1px solid #FC8601;
        min-width: 100px;
      }

    button.btn
    {
      &.cs-btn-icon-white:hover{
        background-color: #E2E5EC;
        color: #646C9A;
        border: 1px solid #E2E5EC;
      }
        &.cs-btn-return:hover{
            background-color: #A85900;
            color: white;
            border: 1px solid #A85900;
          }
        &.cs-btn-icon-black:hover{
            background-color: #2f2f2f;
            color: white;
            border: 1px solid #2f2f2f;
          }
          &.cs-btn-icon-outline-save:hover{
            background-color: #107d89;
            color: white;
            border: 1px solid #107d89;
          }
      &.cs-btn-grey-outline:hover{
        background-color: #474747;
        color: white;
        border: 1px solid #474747;
        min-width: 100px;
      }
      &.cs-btn-grey-solid:hover
      {
        // background-color: #e1e5ec;
        // color: #474747;
        // border: 1px solid #e1e5ec;
        background-color: #2f2f2f;
        color: white;
        border: 1px solid #2f2f2f;
        min-width: 100px;
      }
      &.cs-btn-save-solid:hover{
        background-color: #107d89;
        color: white;
        border: 1px solid #107d89;
        min-width: 100px;
      }
    }
  

    .cs-tbody-v-align-mid {
      vertical-align: middle;
      text-align: center;
      justify-content: center;
  
      .cs-width-sm {
        width: 6.5rem;
        text-align: right;
      }
  
      label.cs-checkbox {
       min-height: 0px;
       margin-left: 36.25%;
      }
      
      .form-control {
          &.request_no {
            font-size: 16px;
            color: #000000;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            padding: 0.5rem 1rem;
            height: calc(1.5em + 1rem + 2px);
            width: 187px;
          }
          &.point {
            font-size: 16px;
            color: #000000;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            padding: 0.5rem 1rem;
            height: calc(1.5em + 1rem + 2px);
            width: 174px;
          }
          &.name {
            font-size: 16px;
            color: #000000;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            padding: 0.5rem 1rem;
            height: calc(1.5em + 1rem + 2px);
            width: 369px;
          }
      }

      .symbol-img { 
        width: 100px;
        border: 1px solid #ebedf2;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
      }

      label.kt-radio {
          margin-left: 5%;
      }
    }

    .cs-tbody-v-align-left {
        vertical-align: middle;
        text-align: left;
        justify-content: left;
    
        .cs-width-sm {
          width: 6.5rem;
          text-align: right;
        }
    
        label.cs-checkbox {
         min-height: 0px;
         margin-left: 36.25%;
        }
        
        .form-control {
            &.request_no {
              font-size: 16px;
              color: #000000;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              padding: 0.5rem 1rem;
              height: calc(1.5em + 1rem + 2px);
              width: 187px;
            }
            &.point {
              font-size: 16px;
              color: #000000;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              padding: 0.5rem 1rem;
              height: calc(1.5em + 1rem + 2px);
              width: 174px;
            }
            &.name {
              font-size: 16px;
              color: #000000;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              padding: 0.5rem 1rem;
              height: calc(1.5em + 1rem + 2px);
              width: 369px;
            }
        }
  
        .symbol-img { 
          width: 100px;
          border: 1px solid #ebedf2;
          border-radius: 5px;
          padding: 10px 10px 10px 10px;
        }
  
        label.kt-radio {
            margin-left: 5%;
        }
      }
  
  
    .table{

        .box-1{
            .cs-theader-c1 {
                width: 6.0rem;
                vertical-align: middle;
                text-align: center; 
              }
          
              .cs-theader-c2 {
                min-width: 70.0rem;
                vertical-align: middle;
                text-align: center; 
              }
          
              .cs-theader-c3 {
                min-width: 20.0rem;
                vertical-align: middle;
                text-align: center; 
              }
          
              .cs-theader-c4 {
                min-width: 35.5rem;
                vertical-align: middle;
                text-align: center; 
              }
        }

        .box-2{
            &-tab-1{
                .cs-theader-c1 {
                    width: 3.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c2 {
                    min-width: 5.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c3 {
                    width: 15.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c4 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c5 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c6 {
                    min-width: 24.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c7 {
                    min-width: 12.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c8 {
                    min-width: 10.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c9 {
                    min-width: 10.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }

                .cs-theader-c10 {
                    min-width: 10.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }

                .cs-theader-c11 {
                    min-width: 8.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            }
            &-tab-2{
                .cs-theader-c1 {
                    width: 3.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c2 {
                    min-width: 5.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c3 {
                    width: 15.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c4 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c5 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c6 {
                    min-width: 30.5rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c7 {
                    min-width: 8.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c8 {
                    min-width: 26.5rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c9 {
                    min-width: 10.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            }
            &-tab-3{
                .cs-theader-c1 {
                    width: 3.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c2 {
                    min-width: 5.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c3 {
                    width: 15.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c4 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c5 {
                    min-width: 15rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c6 {
                    min-width: 30.5rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c7 {
                    min-width: 8.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
              
                .cs-theader-c8 {
                    min-width: 26.5rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            
                .cs-theader-c9 {
                    min-width: 10.0rem;
                    vertical-align: middle;
                    text-align: center; 
                }
            }
        }
   
    }
  
    .consider-board {
      .kt-portlet__body {
        .col-form-label {
          min-width: 165px;
        }
      }
  
      .registration-requester {
        .input {
          width: 375px;
        }
  
        .btn {
          margin-left: 15px;
        }
      }
  
      .kt-portlet__footer {
        .total {
          .form-group {
            &.flex {
              align-items: center;
  
              .input-wrapper {
                margin-bottom: 0;
                display: flex;
              }
            }
          }
        }
  
        .form-group {
          margin-bottom: 0;
  
          .input {
            width: 155px;
          }
  
          .unit {
            margin-left: 20px;
          }
  
          .kt-checkbox {
            margin-left: 70px;
          }
        }
      }
    }
  
    .main-form-wrapper {
      flex: 1 1 auto;
      padding-right: 60px;
  
      .select-personal-type {
        padding: 5px 0;
        margin-right: 203px;
  
        .kt-radio-inline {
          justify-content: flex-end;
        }
  
        .kt-radio {
          margin-left: 30px;
        }
      }
  
      .personal-form {
        display: flex;
        margin-top: 27px;
  
        .personal-form-inner {
          flex: 1 1 auto;
        }
  
        .profile-img {
          flex: 0 0 150px;
          margin-left: 53px;
  
          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
  
          .caption {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
          }
        }
      }
  
      .col-form-label {
        flex: 0 0 170px;
        max-width: 170px;
      }
  
      .form-group {
        .input-wrapper {
          .form-control {
            width: 100%;
          }
        }
  
        &.flex {
          align-items: flex-start;
  
          .col-form-label {
            margin-top: 7px;
            justify-content: flex-end;
          }
        }
      }
    }
  
    ::ng-deep {
      .confirm-delete {
        padding: 0;
  
        .btn-group-wrapper {
          width: 100%;
          justify-content: space-between;
  
          .btn {
            margin: 0 5px;
            flex: 1 1 auto;
          }
        }
      }
    }
    .btn {
        &.btn-icon {
            &.btn-grey{
                background-color: #474747;
                border-color: #474747;
                color: white;

                &:hover {
                    background-color: #242424;

                    .icon {
                    -webkit-filter: brightness(100);
                    filter: brightness(100);
                    }
                }

                &:active {
                    background-color: #242424;

                    .icon {
                    -webkit-filter: brightness(100);
                    filter: brightness(100);
                    }
                }
            }
        }
    }
    
    .term {
        text-align: left;
        margin-bottom: 20px;

        .term-label {
            padding: 7px 10px 0px 0px;
        }

        .form-control {
            &.term-no {
              font-size: 16px;
              color: #6D6E71;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              padding: 0.5rem 1rem;
              height: calc(1.5em + 1rem + 2px);
              width: 200px;
            }
        }
    }
  }