body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;

  color: black;
  margin: 0 auto;
  // border: 1px solid #000;
  height: 1300px;
  // display: block;

  * {
    vertical-align: top;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
    clear: both;
  }

  .clear {
    clear: both;
  }

  .paragraph {
    text-indent: 35px;
  }

  table {
    border-collapse: collapse;
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .underline-dotted {
    border-bottom: 1px dotted;
    line-height: 36px;
    height: 23px;
    display: inline-block;
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 0px;
  }
}

body {
  .body {
    padding: 25px 50px;

    .information {
      margin-top: 25px;
      margin-bottom: 30px;

      & > div {
        display: inline-block;
      }

      .header-left {
        width: 250px;
        // margin-left: 50px;
        .img-logo {
          width: 100%;
        }
      }

      //   .header-center {
      //     width: 110px;
      //     margin-top: 35px;
      //     margin-left: 150px;

      //   }

      .header-right {
        //     margin-top: 75px;
        margin-left: 110px;
      }
    }

    .detail {
      margin-top: 20px;

      table {
        width: 100%;
        td {
          border: 1px solid;

          &.index {
            text-align: center;
            width: 20px;
          }
          &.code {
            text-align: center;
            width: 50px;
          }
        }
      }
    }

    // .topic {
    //   // font-size: 33px;
    //   margin-top: 25px;
    // }

    // .div_content_01 {
    //   margin-top: 20px;
    // }

    // .div_content_02 {
    //   margin-top: 20px;

    //   table {
    //     width: 500px;
    //     margin: 0 auto;
    //   }
    // }

    // .div_content_03 {
    //   margin-top: 50px;
    //   & > div {
    //     display: inline-block;
    //   }

    //   .div_content_left {
    //     width: 450px;

    //     .div_sound_type {
    //       margin-top: 150px;
    //     }

    //     img {
    //       max-width: 450px;
    //       max-height: 450px;
    //       margin: 0 auto;
    //       display: block;
    //     }
    //   }

    //   .div_content_right {
    //   }
    // }

    // // .div_content_04 {
    // //   margin-top: 10px;
    // // }
  }

  .footer {
    .underline-dotted {
      width: 200px;
    }
  }
}
