body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
  height: 1300px;
}

body * {
  vertical-align: top;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body .paragraph {
  text-indent: 35px;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .underline {
  text-decoration: underline;
}

body .underline-dotted {
  border-bottom: 1px dotted;
  line-height: 36px;
  height: 23px;
  display: inline-block;
  text-align: center;
}

body .footer {
  position: absolute;
  bottom: 0px;
}

body .body {
  padding: 25px 50px;
}

body .body .information {
  margin-top: 25px;
  margin-bottom: 30px;
}

body .body .information > div {
  display: inline-block;
}

body .body .information .header-left {
  width: 250px;
}

body .body .information .header-left .img-logo {
  width: 100%;
}

body .body .information .header-right {
  margin-left: 110px;
}

body .body .detail {
  margin-top: 20px;
}

body .body .detail table {
  width: 100%;
}

body .body .detail table td {
  border: 1px solid;
}

body .body .detail table td.index {
  text-align: center;
  width: 20px;
}

body .body .detail table td.code {
  text-align: center;
  width: 50px;
}

body .footer .underline-dotted {
  width: 200px;
}
