body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
}

body * {
  vertical-align: top;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .align-right {
  float: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body .paragraph {
  text-indent: 35px;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .underline {
  text-decoration: underline;
}

body .body {
  padding: 25px 50px;
}

body .body .header table {
  width: 100%;
}

body .body .div_content_01 {
  margin-top: 20px;
}

body .body .div_content_02 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
