body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  color: black;
  margin: 0 auto;
}

body * {
  vertical-align: top;
}

body .bold {
  font-weight: bold;
}

body .center {
  text-align: center;
}

body .right {
  text-align: right;
}

body .line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid;
  clear: both;
}

body .clear {
  clear: both;
}

body table {
  border-collapse: collapse;
}

body table td {
  padding-left: 8px;
  padding-right: 8px;
}

body .body {
  padding: 25px 60px;
}

body .body .header > div {
  display: inline-block;
}

body .body .header .header-left .img-logo {
  width: 68px;
  margin-bottom: 10px;
}

body .body .header .header-center {
  margin-top: 12px;
  margin-left: 30px;
  display: inline-block;
}

body .body .header .header-right {
  margin-top: 12px;
  width: 450px;
  text-align: right;
}

body .body .header .header-right > div > div {
  display: inline-block;
}

body .body .topic {
  padding-top: 18px;
  padding-bottom: 10px;
}

body .body table tr.padding-top td {
  padding-top: 20px;
}

body .body .trademark-image {
  width: 100%;
  margin-top: 20px;
}

body .body .trademark-image img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
