body {
  max-width: 890px;
  font-family: "TH Sarabun New";
  font-size: 22px;
  font-weight: normal;
  // line-height: 1.3;
  color: black;
  margin: 0 auto;

  // .clear {
  //   clear: both;
  // }

  .width-full {
    width: 890px;
    & > * > tr > td {
      border: 2px solid;
    }
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .underline-dotted {
    border-bottom: 1px dotted;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    &.total_price {
      width: 127px;
    }
    &.real_sign_name {
      width: 175px;
    }
    &.created_by_name {
      width: 222px;
    }
    &.request_date {
      width: 187px;
    }
    &.image_code {
      width: 189px;
    }
  }

  .img-logo {
    width: 78px;
    margin-left: 263px;
    float: left;
    img {
      width: 100%;
    }
  }

  .width-70 {
    width: 70%;
  }

  .height-15 {
    height: 15px;
  }

  .reference_number,
  .vourcher {
    margin-left: 35px;
    display: inline-block;
  }

  .clear {
    clear: both;
  }

  .header-list {
    margin: 0 auto;
    border-spacing: 10px;
    border-collapse: separate;
    font-weight: bold;
    tr {
      td:nth-child(1) {
        border: 3px solid;
        padding: 13px;
        .select {
          font-size: 33px;
          margin: -19px -6px;
          position: absolute;
        }
      }
      td:nth-child(2) {
        //border: 0;
      }
    }
  }

  .requester {
    display: inline-block;
    td {
      //border: 0;

      .card_number {
        vertical-align: top;
        display: inline-block;
        td {
          border: 1px solid #000;
          width: 5px;
          height: 23px;
        }
      }
    }
  }

  .body {
    height: 1200px;

    &.div_content_01 {
      border: 1px solid;
      padding: 50px 0;
    }
  }

  .kor_2 {
    & > td {
      padding: 10px 0;
    }
    table {
      display: inline-block;
      td {
        //border: 0;

        &.border {
          border: 1px solid;
          width: 9px;
          height: 23px;
          display: inline-block;
          span {
            // font-size: 33px;
            // margin: -8px -2px;
            // position: absolute;
          }
        }

        .amount {
          width: 100px;
        }
      }
    }
  }

  .kor_3 {
    & > td {
      padding: 10px 0;
    }
    table {
      width: 100%;
      td {
        //border: 0;

        &.sign {
          text-align: center;
        }
      }
    }
  }

  .request-list {
    margin: 0 auto;
    width: 750px;

    & > div {
      display: inline-block;
      width: 240px;
    }
    .title {
      width: 80px;
    }
    .underline-dotted {
      width: 160px;
      height: 23px;
      vertical-align: bottom;
    }
  }

  // .section {
  //   clear: both;

  //   &.header {
  //     div {
  //       float: left;

  //       &.logo {
  //         img {
  //           padding: 20px 0 0 40px;
  //           width: 95px;
  //         }
  //       }

  //       &.pdf-title {
  //         padding: 44px 0 0 27px;
  //         font-size: 31px;
  //         font-weight: bold;
  //       }
  //     }
  //   }

  //   &.header-sub {
  //     .rows {
  //       padding: 20px 0 0 69px;
  //       float: left;
  //       .row {
  //         clear: both;

  //         div {
  //           float: left;
  //         }
  //         .title {
  //           font-weight: bold;
  //         }
  //         .description {
  //           margin: 0 6px;
  //         }
  //       }
  //     }

  //     .barcode {
  //       float: right;
  //       margin: 12px 66px 0 0;
  //       .pic {
  //         height: 46px;
  //         width: 220px;

  //         img {
  //           width: 100%;
  //           height: 100%;
  //         }
  //       }
  //       .number {
  //         text-align: center;
  //       }
  //     }
  //   }

  //   &.table {
  //     margin: 28px 0 0 auto;

  table {
    border-collapse: collapse;
    //       width: 850px;
    //       margin: 0 auto;
    //       text-align: center;

    //       .income_description {
    //         word-break: break-word;
    //         width: 350px;
    //       }
    td {
      //border: 1px solid;
      padding-left: 8px;
      padding-right: 8px;
      //         padding: 5px 8px 0;
    }
    //       thead {
    //         font-weight: bold;
    //       }
    //       tbody {
    //         .income_description {
    //           text-align: left;
    //         }
    //         .total_price {
    //           text-align: right;
    //         }
    //       }
    //       tfoot {
    //         .title {
    //           text-align: right;
    //           font-weight: bold;
    //         }
    //         .total_price {
    //           font-weight: bold;
    //           text-align: right;
    //         }
    //       }
    //     }
  }

  //   &.footer {
  //     .left {
  //       margin: 5px 0 0 65px;

  //       div {
  //         float: left;
  //       }
  //       .title {
  //         font-weight: bold;
  //       }
  //       .description {
  //         margin: 0 6px;
  //       }
  //     }

  //     .information {
  //       float: right;
  //       margin: 0 45px 0 0;
  //     }
  //   }
  // }
}
