div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;

  &.align-right {
    text-align: right;
  }
}

.body {
  width: 100%;
  border: 2px solid black;
}

.footer {
  font-size: 18px;

  .note {
    font-size: 18px;
    margin-left: 15px;
  }

  .signature {
    float: left;
    width: 100%;
    border: 0;

    >.section-row {
      float: right;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin-left: 52px;
    }
  }

  .signature {
    float: left;
    width: 100%;
    margin-top: 30px;

    >.section-row {
      float: right;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin-left: 52px;
    }
  }

  .pagination {
    float: right;

    .label {
      font-size: 18px;
    }

    .data {
      width: 30px;
      font-size: 18px;
    }

    .unit {
      float: left;
      font-size: 18px;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    padding-left: 5px;

    &.with-title {
      padding-left: 0;
    }

    &.name {
      .data {
        width: 400px;
      }
    }

    &.address {
      .data {
        width: 391px;
      }

      .section-data-set {
        &.sub-district {
          .data {
            width: 138px;
          }
        }

        &.district {
          .data {
            width: 138px;
          }
        }

        &.province {
          .data {
            width: 166px;
          }
        }

        &.zip-code {
          .data {
            width: 126px;
          }
        }

        &.nationality {
          .data {
            width: 133px;
          }
        }

        &.country {
          .data {
            width: 185px;
          }
        }

        &.job {
          .data {
            width: 153px;
          }
        }

        &.mobile {
          .data {
            width: 171px;
          }
        }

        &.fax {
          .data {
            width: 135px;
          }
        }

        &.email {
          .data {
            width: 195px;
          }
        }
      }
    }

    &.text-full {
      .data {
        width: 856px;
        text-align: left;
      }
    }
  }

  &.logo-and-officer-input {
    border-bottom: 2px solid black;
  }
}

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 315px;
  float: left;

  .logo-wrapper-inner {
    padding-top: 55px;

    .logo {
      width: 100px;
    }

    .pdf-title {
      font-size: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .mark-type {
      .container {
        font-size: 22px;
        float: left;
        clear: both;
        font-weight: bold;
        margin-left: 50px;

        .span {
          font-size: 20px;
        }
      }
    }
  }
}

.officer-input {
  width: 310px;
  float: left;
  height: 315px;
  font-size: 20px;

  .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px;
  }
}

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.fee-wrapper {
  padding: 4px 3px;
  height: 113px;
  border-bottom: 2px solid black;

  .fee {
    width: 100%;

    .label {
      float: left;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 185px;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
    }
  }

  .sign {
    width: 100%;
    margin-top: 30px;

    .label {
      float: left;
      width: 40px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .unit {
      float: left;
      width: 27px;
      text-align: right;
    }
  }

  .name {
    width: 100%;

    .label-first {
      float: left;
      width: 40px;
      text-align: right;
      padding-right: 4px;
    }

    .data {
      float: left;
      padding: 0 5px;
      position: relative;
      width: 232px;
      margin-left: 2px;
      margin-right: 2px;
      height: 26px;
      text-align: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 98%;
        left: 1%;
        right: 1%;
        background-color: #BEBEBE;
      }
    }

    .label-last {
      float: left;
      width: 27px;
      text-align: left;
      padding-left: 4px;
    }
  }
}

.reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
  border-bottom: 2px solid black;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

.registration-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;

  .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1;
  }

  .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.pins-code {
  border: 1px solid #747474;
  margin-top: 1px;

  .pin-code {
    border-right: 1px solid #747474;
    background-color: #e1e1e1;
    width: 19px;
    height: 19px;
    float: left;
    text-align: center;
    line-height: 20px;
    font-size: 20px;

    &:last-child {
      border-right: 0;
    }
  }
}

.radios {
  float: left;
  margin-left: 5px;

  .caption {
    margin-right: 10px;
    font-size: 20px;
    float: left;
  }

  .container {
    float: left;
  }

  &.owner {
    width: 365px;
  }

  &.authorized-person {
    width: 360px;
  }

  &.agency-owner {
    &.spacing {
      padding-left: 15px;
    }
  }

  &.agency-authorized-person {
    &.spacing {
      padding-left: 15px;
    }
  }

  &.agency-type {
    width: 100%;
    padding-left: 5px;
  }

  &.id-type {
    width: 100%;
  }

  &.agency-type {
    .data {
      width: 185px;
    }
  }

  &.domestic-contact-address {
    width: 350px;
    margin-left: 15px;
  }

  &.more-information {
    float: right;
    margin-right: 15px;
  }

  &.check-list {
    float: none;

    label {
      &.container {
        float: none;
      }
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-image: url(../../../images/contents/pdf-bg-line.png);
  // background-repeat: repeat-y;
  // background-size: 100% 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.long-data {
    font-size: 16px;
    overflow: initial;
    white-space: nowrap;
    line-height: 27px;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
  // margin-left: 5px;
  // margin-right: 3px;
}

.detail {
  border-bottom: 2px solid black;

  .number {
    font-size: 20px;
    float: left;
    width: 20px;
    padding-left: 3px;
  }

  .title {
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .pins-code {
    float: left;
    margin-right: 10px;
  }

  .label {
    padding-left: 5px;
    padding-right: 3px;
  }

  &>.section-row {
    padding: 0px;

    .section-column {
      padding: 5px 0;
      float: left;

      .header {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }

      .note {
        padding-right: 5px;

        .data {
          &.multi-line {
            text-align: left;
            word-break: break-word;
            -webkit-line-clamp: 3;
            height: 78px;
          }
        }
      }
    }

    &.spacing {
      margin-top: 15px;
    }

    &>.section-row {
      padding-left: 20px;

      &.some-group-all-product {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 3;
        height: 78px;
        overflow: hidden;

        &>* {
          z-index: 2;
          position: relative;
        }

        .data {
          width: 100%;
          text-align: left;

          &.connect-label {
            z-index: 1;
            text-indent: 260px;
            position: absolute;
            top: 0;
            left: 40px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 3;
            height: 78px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }
      }

      &.all-group-some-product {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        .text {
          float: left;
          font-size: 20px;

          &.spacing {
            margin-left: 20px;
          }
        }

        .data {
          width: 100%;
          text-align: left;

          &.group-type {
            width: 80px;
          }

          &.connect-label {
            z-index: 1;
            text-indent: 255px;
            position: absolute;
            top: 0;
            left: 40px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 2;
            height: 52px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }
      }

      &.some-group-some-product {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 2;
        height: 52px;
        overflow: hidden;

        .text {
          float: left;
          font-size: 20px;

          &.spacing {
            margin-left: 20px;
          }
        }

        .data {
          width: 100%;
          text-align: left;

          &.group-type {
            width: 80px;
          }

          &.connect-label {
            z-index: 1;
            text-indent: 255px;
            position: absolute;
            top: 0;
            left: 40px;
            right: 10px;
            word-break: break-word;
            -webkit-line-clamp: 2;
            height: 52px;
            text-align: left;
            margin: 0;
            width: auto;
            text-decoration: underline;
          }
        }
      }

      &.trademark-agreement {
        position: relative;
        word-break: break-word;
        -webkit-line-clamp: 4;
        height: 104px;
        overflow: hidden;

        .text {
          float: left;
          font-size: 20px;

          &.spacing {
            margin-left: 20px;
          }
        }

        .data {
          text-align: left;

          &.trademark-date {
            width: 100px;
          }
        }

        .specify-number {
          float: left;
          position: relative;
          word-break: break-word;
          -webkit-line-clamp: 3;
          height: 78px;
          overflow: hidden;
          width: 100%;

          .data {
            width: 100%;
            text-align: left;

            &.connect-label {
              z-index: 1;
              text-indent: 630px;
              position: absolute;
              top: 0;
              left: 20px;
              right: 10px;
              word-break: break-word;
              -webkit-line-clamp: 3;
              height: 78px;
              text-align: left;
              margin: 0;
              width: auto;
              text-decoration: underline;
            }
          }
        }

        .request-amount {
          float: left;
          position: relative;
          word-break: break-word;
          -webkit-line-clamp: 3;
          height: 78px;
          overflow: hidden;
          width: 100%;

          .data {
            width: 100%;
            text-align: left;

            &.request-amount {
              width: 100px;
            }

            &.connect-label {
              z-index: 1;
              text-indent: 230px;
              position: absolute;
              top: 0;
              left: 20px;
              right: 10px;
              word-break: break-word;
              -webkit-line-clamp: 3;
              height: 78px;
              text-align: left;
              margin: 0;
              width: auto;
              text-decoration: underline;
            }
          }
        }
      }

      &.trademark-agreement-for-request {
        .text {
          float: left;
          font-size: 20px;

          &.spacing {
            margin-left: 20px;
          }
        }

        .data {
          text-align: left;
        }

        .section-row {
          &.request-amount {
            float: left;
            position: relative;
            word-break: break-word;
            -webkit-line-clamp: 3;
            height: 78px;
            overflow: hidden;
            width: 100%;

            .data {
              width: 100%;
              text-align: left;

              &.request-amount {
                width: 100px;
              }

              &.connect-label {
                z-index: 1;
                text-indent: 230px;
                position: absolute;
                top: 0;
                left: 20px;
                right: 10px;
                word-break: break-word;
                -webkit-line-clamp: 3;
                height: 78px;
                text-align: left;
                margin: 0;
                width: auto;
                text-decoration: underline;
              }
            }
          }
        }
      }

      &.additional {
        margin: 5px 0 15px;
        padding-left: 20px;
        padding-right: 5px;

        .text {
          font-size: 20px;
          float: left;
        }

        .container {
          float: right;
        }
      }

      &>.section-row {
        padding-left: 20px;
      }
    }
  }

  &.column-inside {
    &>.section-row {
      padding-left: 0;

      .section-column {
        width: 50%;
        border-right: 2px solid black;

        &.receiver {
          .section-row {
            .radios {
              &.owner {
                width: 290px;
              }
            }
          }
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  &.domestic-contact-address {
    .data {
      width: 100%;
      text-align: left;
      word-break: break-word;
      -webkit-line-clamp: 3;
      height: 78px;
    }
  }

  &.signature {
    float: left;
    width: 100%;
    border: 0;
    margin-top: 10px;
    min-height: 80px;

    &>.section-column {
      float: right;
      padding: 0 5px;
      width: 20%;

      .signature-text {
        position: relative;

        .label {
          font-size: 8px;

          &.last {
            position: absolute;
            right: 0;
            height: 12px;
            top: 0;
            padding: 0 0 0 5px;
            background-color: white;
          }
        }

        .data {
          font-size: 8px;
          width: 70%;
          height: 15px;
        }
      }

      &.with-title {
        float: left;
        margin-top: 0;
      }
    }

    .section-row {
      padding: 0;
    }

    .data {
      width: 300px;
    }

    .signature-full-text {
      margin: 0 auto 5px;
      width: 100%;

      .label {
        font-size: 8px;
      }

      .data {
        font-size: 8px;
        width: 85%;
        height: 17px;
      }
    }
  }

  &.other {
    .section-row {
      .data {
        word-break: break-word;
        -webkit-line-clamp: 3;
        height: 78px;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.page-one {
  .footer {
    .pagination {
      margin-top: 10px;
    }
  }
}

.page-two {
  .footer {
    .pagination {
      margin-top: 50px;
    }
  }

  .detail {
    &.signature {
      margin-top: 0;
    }
  }
}


.page {
  height: 1300px;
}

// kor-11
.page {
  &.kor-11 {
    .body {
      width: 100%;
      border: 2px solid black;
      max-height: 1285px;
    }

    .footer {
      font-size: 18px;

      .note {
        font-size: 18px;
        margin-left: 15px;
      }

      .pagination {
        float: right;

        .label {
          font-size: 18px;
        }

        .data {
          width: 30px;
          font-size: 18px;
        }

        .unit {
          float: left;
          font-size: 18px;
        }
      }
    }

    .clearfix {
      &:after {
        content: '';
        clear: both;
        display: block;
      }
    }

    .section {
      float: left;
      width: 100%;

      .section-row {
        padding-left: 15px;

        &.addition-form {
          margin: 0 auto;
          width: 90px;
          text-align: center;
          padding-left: 0;

          .data {
            width: 40px;
          }
        }
      }

      &.logo-and-officer-input {
        border-bottom: 2px solid black;
      }
    }

    .logo-wrapper {
      width: 580px;
      text-align: center;
      border-right: 2px solid black;
      height: 170px;
      float: left;

      .logo-wrapper-inner {
        padding-top: 10px;

        .logo {
          width: 70px;
        }

        .pdf-title {
          font-size: 28px;
          margin-top: 5px;
        }

        .mark-type {
          .container {
            display: inline-block;
            font-size: 22px;

            .span {
              font-size: 20px;
            }
          }
        }
      }
    }

    .officer-input {
      width: 310px;
      float: left;
      height: 170px;
      font-size: 20px;

      .caption {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid black;
        height: 30px;
        padding-top: 3px;
      }
    }

    .reqeust-date {
      height: 58px;
      width: 100%;
      border-bottom: 2px solid black;
      padding: 4px 3px;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .reqeust-id {
      height: 58px;
      width: 100%;
      padding: 4px 3px;
      border-bottom: 2px solid black;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
      }
    }

    .id {
      height: 58px;
      width: 100%;
      padding: 4px 3px;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
      }
    }

    .data {
      float: left;
      padding: 0;
      position: relative;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;
      font-size: 20px;
      overflow: hidden;
      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-repeat: repeat-y;
      // background-size: 100% 26px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #BEBEBE;
      }

      &.without-line {
        &:before {
          display: none;
        }
      }

      &.text-full {
        &.multi-line {
          text-decoration: underline;

          &::before {
            display: none;
          }
        }
      }
    }

    .label {
      font-size: 20px;
      float: left;
      // margin-left: 5px;
      // margin-right: 3px;
    }

    .detail {
      padding: 5px;
      border-bottom: 2px solid black;
      height: 963px;
      font-size: 20px;
      overflow: hidden;

      &.signature {
        float: left;
        width: 100%;
        border: 0;
        margin-top: 5px;
        height: 80px;

        & > .section-column {
          float: right;
          padding: 0 5px;
          width: 20%;

          .signature-text {
            position: relative;

            .label {
              font-size: 8px;

              &.last {
                position: absolute;
                right: 0;
                height: 12px;
                top: 0;
                padding: 0 0 0 5px;
                background-color: white;
              }
            }

            .data {
              font-size: 8px;
              width: 70%;
              height: 15px;
            }
          }

          &.with-title {
            float: left;
            margin-top: 0;
          }
        }

        .section-row {
          padding: 0;
        }

        .data {
          width: 300px;
        }

        .signature-full-text {
          margin: 0 auto 5px;
          width: 100%;

          .label {
            font-size: 8px;
          }

          .data {
            font-size: 8px;
            width: 85%;
            height: 17px;
          }
        }
      }

      &.main {
        div {
          padding-left: 15px;
        }

        & > div {
          padding-left: 0;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
