﻿div {
  box-sizing: border-box; }

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto; }

.bold {
  font-weight: bold; }

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px; }
  .header.align-right {
    text-align: right; }

.body {
  width: 100%;
  border: 2px solid black;
  max-height: 1285px; }

.footer {
  font-size: 18px; }
  .footer .note {
    font-size: 18px;
    margin-left: 15px; }
  .footer .pagination {
    float: right; }
    .footer .pagination .label {
      font-size: 18px; }
    .footer .pagination .data {
      width: 30px;
      font-size: 18px; }
    .footer .pagination .unit {
      float: left;
      font-size: 18px; }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

.section {
  float: left;
  width: 100%; }
  .section .section-row {
    padding-left: 15px; }
    .section .section-row.addition-form {
      margin: 0 auto;
      width: 90px;
      text-align: center;
      padding-left: 0; }
      .section .section-row.addition-form .data {
        width: 40px; }
  .section.logo-and-officer-input {
    border-bottom: 2px solid black; }

.logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 170px;
  float: left; }
  .logo-wrapper .logo-wrapper-inner {
    padding-top: 10px; }
    .logo-wrapper .logo-wrapper-inner .logo {
      width: 70px; }
    .logo-wrapper .logo-wrapper-inner .pdf-title {
      font-size: 28px;
      margin-top: 5px; }
    .logo-wrapper .logo-wrapper-inner .mark-type .container {
      display: inline-block;
      font-size: 22px; }
      .logo-wrapper .logo-wrapper-inner .mark-type .container .span {
        font-size: 20px; }

.officer-input {
  width: 310px;
  float: left;
  height: 170px;
  font-size: 20px; }
  .officer-input .caption {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    height: 30px;
    padding-top: 3px; }

.reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px; }
  .reqeust-date .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1; }
  .reqeust-date .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px; }

.reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
  border-bottom: 2px solid black; }
  .reqeust-id .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1; }
  .reqeust-id .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px; }

.id {
  height: 58px;
  width: 100%;
  padding: 4px 3px; }
  .id .label {
    width: 100%;
    padding-top: 5px;
    line-height: 1; }
  .id .data {
    width: 99%;
    line-height: 1.1;
    padding-left: 15px; }

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden; }
  .data:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE; }
  .data.without-line:before {
    display: none; }
  .data.text-full.multi-line {
    text-decoration: underline; }
    .data.text-full.multi-line::before {
      display: none; }

.label {
  font-size: 20px;
  float: left; }

.detail {
  padding: 5px;
  border-bottom: 2px solid black;
  height: 963px;
  font-size: 20px;
  overflow: hidden; }
  .detail.signature {
    float: left;
    width: 100%;
    border: 0;
    margin-top: 5px;
    height: 80px; }
    .detail.signature > .section-column {
      float: right;
      padding: 0 5px;
      width: 20%; }
      .detail.signature > .section-column .signature-text {
        position: relative; }
        .detail.signature > .section-column .signature-text .label {
          font-size: 8px; }
          .detail.signature > .section-column .signature-text .label.last {
            position: absolute;
            right: 0;
            height: 12px;
            top: 0;
            padding: 0 0 0 5px;
            background-color: white; }
        .detail.signature > .section-column .signature-text .data {
          font-size: 8px;
          width: 70%;
          height: 15px; }
      .detail.signature > .section-column.with-title {
        float: left;
        margin-top: 0; }
    .detail.signature .section-row {
      padding: 0; }
    .detail.signature .data {
      width: 300px; }
    .detail.signature .signature-full-text {
      margin: 0 auto 5px;
      width: 100%; }
      .detail.signature .signature-full-text .label {
        font-size: 8px; }
      .detail.signature .signature-full-text .data {
        font-size: 8px;
        width: 85%;
        height: 17px; }
  .detail.main div {
    padding-left: 15px; }
  .detail.main > div {
    padding-left: 0; }
  .detail:last-child {
    border-bottom: 0; }
