div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
  display: inline-block;
}

.header .float-right {
  float: right;
}

.header .float-left {
  float: left;
}

.body {
  width: 100%;
  border: 2px solid black;
}

.body.full-height {
  height: 1080px;
}

.footer {
  font-size: 16px;
  position: relative;
  margin-left: 45px;
}

.footer > * {
  float: left;
}

.footer .note {
  float: left;
  padding-left: 15px;
  padding-top: 2px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.signature {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 45px;
}

.signature:last-child {
  margin-bottom: 30px;
}

.signature .data {
  width: 200px;
}

.signature .signature-full-text {
  margin-left: 57px;
}

.section {
  float: left;
  width: 100%;
}

.section .section-row.with-title {
  padding-left: 0;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.section .section-row.address .section-data-set.house-no .data {
  width: 190px;
}

.section .section-row.address .section-data-set.lane .data {
  width: 150px;
}

.section .section-row.address .section-data-set.career .data {
  width: 218px;
}

.section .section-row.address .section-data-set.road .data {
  width: 150px;
}

.section .section-row.address .section-data-set.sub-district .data {
  width: 225px;
}

.section .section-row.address .section-data-set.district .data {
  width: 222px;
}

.section .section-row.address .section-data-set.province .data {
  width: 230px;
}

.section .section-row.case-two-form {
  margin: 0 auto;
  width: 600px;
}

.section .section-row.case-two-form .guarantee {
  border: 2px solid black;
  margin-bottom: 15px;
}

.section .section-row.case-two-form .signature {
  float: left;
  width: 50%;
  margin: 0;
  padding: 5px 10px;
}

.section .section-row.case-two-form .signature .data {
  width: 80%;
}

.section .section-row.case-two-form .signature .signature-text {
  position: relative;
}

.section .section-row.case-two-form .signature .signature-text .label.last {
  position: absolute;
  right: 0;
  height: 26px;
  top: 0;
  padding: 0 0 0 5px;
  background-color: white;
}

.section .section-row.case-two-form .section-column:last-child .guarantee {
  border-left: 0;
}

.section .section-row.case-two-form.signatures {
  width: 100%;
}

.section .section-row .section-data-set.name {
  margin-left: 45px;
}

.section .section-row .section-data-set.name .data {
  width: 620px;
}

.section .section-row .section-data-set.nationality .data {
  width: 120px;
}

.section .section-row .section-data-set.appointment .data {
  width: 509px;
}

.section .section-row .section-data-set.by .data {
  width: 730px;
}

.section .section-row .section-data-set.assignee .data {
  width: 670px;
}

.section .section-row .section-data-set.assignee-no {
  margin-left: 45px;
}

.section .section-row .section-data-set.assignee-no .data {
  width: 165px;
}

.section .section-row .section-data-set.registration-no .data {
  width: 165px;
}

.section .section-row .section-data-set.date {
  text-indent: 45px;
}

.section .section-row .section-data-set.date .data {
  width: 160px;
}

.section .section-row .section-data-set.month .data {
  width: 218px;
}

.section .section-row .section-data-set.year .data {
  width: 155px;
}

.section .section-column {
  width: 44%;
  float: left;
}

label {
  cursor: default;
}

label.container {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container input:checked ~ .dip-icon-check {
  display: block;
}

label.container .fake-input {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #747474;
  background-color: #E1E1E1;
  top: 5px;
  left: 0;
}

label.container .dip-icon-check {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 20px;
}

label.container .data {
  float: right;
}

label.container:last-child {
  margin-right: 0;
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #BEBEBE;
}

.data.without-line:before {
  display: none;
}

.data.text-full.multi-line {
  text-decoration: underline;
}

.data.text-full.multi-line::before {
  display: none;
}

.label {
  font-size: 20px;
  float: left;
}

.spacing {
  margin-bottom: 15px;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;
}

.detail .label {
  padding-left: 5px;
  padding-right: 3px;
}

.detail:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.class {
  padding-left: 45px;
}

.all-group-all-product {
  margin-left: 26px;
  margin-right: 2px;
}

.some-group-all-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;
}

.some-group-all-product > * {
  z-index: 2;
  position: relative;
}

.some-group-all-product .data {
  width: 100%;
  text-align: left;
}

.some-group-all-product .data.connect-label {
  z-index: 1;
  text-indent: 258px;
  position: absolute;
  top: 0;
  left: 22px;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.all-group-some-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;
}

.all-group-some-product .text {
  float: left;
  font-size: 20px;
}

.all-group-some-product .text.spacing {
  margin-left: 20px;
}

.all-group-some-product .data {
  width: 100%;
  text-align: left;
}

.all-group-some-product .data.group-type {
  width: 80px;
}

.all-group-some-product .data.connect-label {
  z-index: 1;
  text-indent: 258px;
  position: absolute;
  top: 0;
  left: 22px;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.some-group-some-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;
}

.some-group-some-product .text {
  float: left;
  font-size: 20px;
}

.some-group-some-product .text.spacing {
  margin-left: 20px;
}

.some-group-some-product .data {
  width: 100%;
  text-align: left;
}

.some-group-some-product .data.group-type {
  width: 80px;
}

.some-group-some-product .data.connect-label {
  z-index: 1;
  text-indent: 258px;
  position: absolute;
  top: 0;
  left: 22px;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  text-align: left;
  margin: 0;
  width: auto;
  text-decoration: underline;
}

.description {
  padding-left: 45px;
  padding-right: 10px;
  width: 100%;
}

.page {
  height: 1300px;
}

.page.kor-11 .body {
  width: 100%;
  border: 2px solid black;
  max-height: 1285px;
}

.page.kor-11 .footer {
  font-size: 18px;
}

.page.kor-11 .footer .note {
  font-size: 18px;
  margin-left: 15px;
}

.page.kor-11 .footer .pagination {
  float: right;
}

.page.kor-11 .footer .pagination .label {
  font-size: 18px;
}

.page.kor-11 .footer .pagination .data {
  width: 30px;
  font-size: 18px;
}

.page.kor-11 .footer .pagination .unit {
  float: left;
  font-size: 18px;
}

.page.kor-11 .clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.page.kor-11 .section {
  float: left;
  width: 100%;
}

.page.kor-11 .section .section-row {
  padding-left: 15px;
}

.page.kor-11 .section .section-row.addition-form {
  margin: 0 auto;
  width: 90px;
  text-align: center;
  padding-left: 0;
}

.page.kor-11 .section .section-row.addition-form .data {
  width: 40px;
}

.page.kor-11 .section.logo-and-officer-input {
  border-bottom: 2px solid black;
}

.page.kor-11 .logo-wrapper {
  width: 580px;
  text-align: center;
  border-right: 2px solid black;
  height: 170px;
  float: left;
}

.page.kor-11 .logo-wrapper .logo-wrapper-inner {
  padding-top: 10px;
}

.page.kor-11 .logo-wrapper .logo-wrapper-inner .logo {
  width: 70px;
}

.page.kor-11 .logo-wrapper .logo-wrapper-inner .pdf-title {
  font-size: 28px;
  margin-top: 5px;
}

.page.kor-11 .logo-wrapper .logo-wrapper-inner .mark-type .container {
  display: inline-block;
  font-size: 22px;
}

.page.kor-11 .logo-wrapper .logo-wrapper-inner .mark-type .container .span {
  font-size: 20px;
}

.page.kor-11 .officer-input {
  width: 310px;
  float: left;
  height: 170px;
  font-size: 20px;
}

.page.kor-11 .officer-input .caption {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
  height: 30px;
  padding-top: 3px;
}

.page.kor-11 .reqeust-date {
  height: 58px;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px 3px;
}

.page.kor-11 .reqeust-date .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.page.kor-11 .reqeust-date .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
  padding-right: 15px;
}

.page.kor-11 .reqeust-id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
  border-bottom: 2px solid black;
}

.page.kor-11 .reqeust-id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.page.kor-11 .reqeust-id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

.page.kor-11 .id {
  height: 58px;
  width: 100%;
  padding: 4px 3px;
}

.page.kor-11 .id .label {
  width: 100%;
  padding-top: 5px;
  line-height: 1;
}

.page.kor-11 .id .data {
  width: 99%;
  line-height: 1.1;
  padding-left: 15px;
}

.page.kor-11 .data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.page.kor-11 .data:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #BEBEBE;
}

.page.kor-11 .data.without-line:before {
  display: none;
}

.page.kor-11 .data.text-full.multi-line {
  text-decoration: underline;
}

.page.kor-11 .data.text-full.multi-line::before {
  display: none;
}

.page.kor-11 .label {
  font-size: 20px;
  float: left;
}

.page.kor-11 .detail {
  padding: 5px;
  border-bottom: 2px solid black;
  height: 963px;
  font-size: 20px;
  overflow: hidden;
}

.page.kor-11 .detail.signature {
  float: left;
  width: 100%;
  border: 0;
  margin-top: 5px;
  height: 80px;
}

.page.kor-11 .detail.signature > .section-column {
  float: right;
  padding: 0 5px;
  width: 20%;
}

.page.kor-11 .detail.signature > .section-column .signature-text {
  position: relative;
}

.page.kor-11 .detail.signature > .section-column .signature-text .label {
  font-size: 8px;
}

.page.kor-11 .detail.signature > .section-column .signature-text .label.last {
  position: absolute;
  right: 0;
  height: 12px;
  top: 0;
  padding: 0 0 0 5px;
  background-color: white;
}

.page.kor-11 .detail.signature > .section-column .signature-text .data {
  font-size: 8px;
  width: 70%;
  height: 15px;
}

.page.kor-11 .detail.signature > .section-column.with-title {
  float: left;
  margin-top: 0;
}

.page.kor-11 .detail.signature .section-row {
  padding: 0;
}

.page.kor-11 .detail.signature .data {
  width: 300px;
}

.page.kor-11 .detail.signature .signature-full-text {
  margin: 0 auto 5px;
  width: 100%;
}

.page.kor-11 .detail.signature .signature-full-text .label {
  font-size: 8px;
}

.page.kor-11 .detail.signature .signature-full-text .data {
  font-size: 8px;
  width: 85%;
  height: 17px;
}

.page.kor-11 .detail.main div {
  padding-left: 15px;
}

.page.kor-11 .detail.main > div {
  padding-left: 0;
}

.page.kor-11 .detail:last-child {
  border-bottom: 0;
}
