div {
  box-sizing: border-box;
}

body {
  max-width: 895px;
  min-width: 895px;
  font-family: 'TH Sarabun New';
  font-weight: normal;
  line-height: 1.3;
  color: black;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
  display: inline-block;

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

.body {
  width: 100%;
  border: 2px solid black;

  &.full-height {
    height: 1080px;
  }
}

.footer {
  font-size: 16px;
  position: relative;
  margin-left: 45px;

  &>* {
    float: left;
  }

  .note {
    float: left;
    padding-left: 15px;
    padding-top: 2px;
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.signature {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 45px;

  &:last-child {
    margin-bottom: 30px;
  }

  .data {
    width: 200px;
  }

  .signature-full-text {
    margin-left: 57px;
  }
}

.section {
  float: left;
  width: 100%;

  .section-row {
    &.with-title {
      padding-left: 0;
      text-align: center;
      margin-bottom: 30px;
      font-size: 22px;
    }

    &.address {
      .section-data-set {
        &.house-no {
          .data {
            width: 190px;
          }
        }

        &.lane {
          .data {
            width: 150px;
          }
        }

        &.career {
          .data {
            width: 218px;
          }
        }

        &.road {
          .data {
            width: 150px;
          }
        }

        &.sub-district {
          .data {
            width: 225px;
          }
        }

        &.district {
          .data {
            width: 222px;
          }
        }

        &.province {
          .data {
            width: 230px;
          }
        }
      }
    }

    &.case-two-form {
      margin: 0 auto;
      width: 600px;

      .guarantee {
        border: 2px solid black;
        margin-bottom: 15px;
      }

      .signature {
        float: left;
        width: 50%;
        margin: 0;
        padding: 5px 10px;

        .data {
          width: 80%;
        }

        .signature-text {
          position: relative;

          .label {
            &.last {
              position: absolute;
              right: 0;
              height: 26px;
              top: 0;
              padding: 0 0 0 5px;
              background-color: white;
            }
          }
        }
      }

      .section-column {
        &:last-child {
          .guarantee {
            border-left: 0;
          }
        }
      }

      &.signatures {
        width: 100%;
      }
    }

    .section-data-set {
      &.name {
        margin-left: 45px;

        .data {
          width: 620px;
        }
      }

      &.nationality {
        .data {
          width: 120px;
        }
      }

      &.appointment {
        .data {
          width: 509px;
        }
      }

      &.by {
        .data {
          width: 730px;
        }
      }

      &.assignee {
        .data {
          width: 670px;
        }
      }

      &.assignee-no {
        margin-left: 45px;

        .data {
          width: 165px;
        }
      }

      &.registration-no {
        .data {
          width: 165px;
        }
      }

      &.date {
        text-indent: 45px;

        .data {
          width: 160px;
        }
      }

      &.month {
        .data {
          width: 218px;
        }
      }

      &.year {
        .data {
          width: 155px;
        }
      }
    }
  }

  .section-column {
    width: 44%;
    float: left;
  }
}

label {
  cursor: default;

  &.container {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        &~.dip-icon-check {
          display: block;
        }
      }
    }

    .fake-input {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #747474;
      background-color: #E1E1E1;
      top: 5px;
      left: 0;
    }

    .dip-icon-check {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 20px;
    }

    .data {
      float: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.data {
  float: left;
  padding: 0;
  position: relative;
  margin-left: 3px;
  margin-right: 2px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4px;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #BEBEBE;
  }

  &.without-line {
    &:before {
      display: none;
    }
  }

  &.text-full {
    &.multi-line {
      text-decoration: underline;

      &::before {
        display: none;
      }
    }
  }
}

.label {
  font-size: 20px;
  float: left;
}

.spacing {
  margin-bottom: 15px;
}

.detail {
  padding: 5px 0;
  border-bottom: 2px solid black;

  .label {
    padding-left: 5px;
    padding-right: 3px;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.class {
  padding-left: 45px;
}

.all-group-all-product {
  margin-left: 26px;
  margin-right: 2px;
}

.some-group-all-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 3;
  height: 78px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;

  &>* {
    z-index: 2;
    position: relative;
  }

  .data {
    width: 100%;
    text-align: left;

    &.connect-label {
      z-index: 1;
      text-indent: 258px;
      position: absolute;
      top: 0;
      left: 22px;
      word-break: break-word;
      -webkit-line-clamp: 3;
      height: 78px;
      text-align: left;
      margin: 0;
      width: auto;
      text-decoration: underline;
    }
  }
}

.all-group-some-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;

  .text {
    float: left;
    font-size: 20px;

    &.spacing {
      margin-left: 20px;
    }
  }

  .data {
    width: 100%;
    text-align: left;

    &.group-type {
      width: 80px;
    }

    &.connect-label {
      z-index: 1;
      text-indent: 258px;
      position: absolute;
      top: 0;
      left: 22px;
      word-break: break-word;
      -webkit-line-clamp: 2;
      height: 52px;
      text-align: left;
      margin: 0;
      width: auto;
      text-decoration: underline;
    }
  }
}

.some-group-some-product {
  position: relative;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: 52px;
  overflow: hidden;
  margin-left: 26px;
  margin-right: 2px;

  .text {
    float: left;
    font-size: 20px;

    &.spacing {
      margin-left: 20px;
    }
  }

  .data {
    width: 100%;
    text-align: left;

    &.group-type {
      width: 80px;
    }

    &.connect-label {
      z-index: 1;
      text-indent: 258px;
      position: absolute;
      top: 0;
      left: 22px;
      word-break: break-word;
      -webkit-line-clamp: 2;
      height: 52px;
      text-align: left;
      margin: 0;
      width: auto;
      text-decoration: underline;
    }
  }
}

.description {
  padding-left: 45px;
  padding-right: 10px;
  width: 100%;
}

.page {
  height: 1300px;
}

// kor-11
.page {
  &.kor-11 {
    .body {
      width: 100%;
      border: 2px solid black;
      max-height: 1285px;
    }

    .footer {
      font-size: 18px;

      .note {
        font-size: 18px;
        margin-left: 15px;
      }

      .pagination {
        float: right;

        .label {
          font-size: 18px;
        }

        .data {
          width: 30px;
          font-size: 18px;
        }

        .unit {
          float: left;
          font-size: 18px;
        }
      }
    }

    .clearfix {
      &:after {
        content: '';
        clear: both;
        display: block;
      }
    }

    .section {
      float: left;
      width: 100%;

      .section-row {
        padding-left: 15px;

        &.addition-form {
          margin: 0 auto;
          width: 90px;
          text-align: center;
          padding-left: 0;

          .data {
            width: 40px;
          }
        }
      }

      &.logo-and-officer-input {
        border-bottom: 2px solid black;
      }
    }

    .logo-wrapper {
      width: 580px;
      text-align: center;
      border-right: 2px solid black;
      height: 170px;
      float: left;

      .logo-wrapper-inner {
        padding-top: 10px;

        .logo {
          width: 70px;
        }

        .pdf-title {
          font-size: 28px;
          margin-top: 5px;
        }

        .mark-type {
          .container {
            display: inline-block;
            font-size: 22px;

            .span {
              font-size: 20px;
            }
          }
        }
      }
    }

    .officer-input {
      width: 310px;
      float: left;
      height: 170px;
      font-size: 20px;

      .caption {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid black;
        height: 30px;
        padding-top: 3px;
      }
    }

    .reqeust-date {
      height: 58px;
      width: 100%;
      border-bottom: 2px solid black;
      padding: 4px 3px;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .reqeust-id {
      height: 58px;
      width: 100%;
      padding: 4px 3px;
      border-bottom: 2px solid black;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
      }
    }

    .id {
      height: 58px;
      width: 100%;
      padding: 4px 3px;

      .label {
        width: 100%;
        padding-top: 5px;
        line-height: 1;
      }

      .data {
        width: 99%;
        line-height: 1.1;
        padding-left: 15px;
      }
    }

    .data {
      float: left;
      padding: 0;
      position: relative;
      margin-left: 3px;
      margin-right: 2px;
      height: 26px;
      text-align: center;
      font-size: 20px;
      overflow: hidden;

      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-image: url(../../../images/contents/pdf-bg-line.png);
      // background-repeat: repeat-y;
      // background-size: 100% 26px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 4px;
        height: 1px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #BEBEBE;
      }

      &.without-line {
        &:before {
          display: none;
        }
      }

      &.text-full {
        &.multi-line {
          text-decoration: underline;

          &::before {
            display: none;
          }
        }
      }
    }

    .label {
      font-size: 20px;
      float: left;
      // margin-left: 5px;
      // margin-right: 3px;
    }

    .detail {
      padding: 5px;
      border-bottom: 2px solid black;
      height: 963px;
      font-size: 20px;
      overflow: hidden;

      &.signature {
        float: left;
        width: 100%;
        border: 0;
        margin-top: 5px;
        height: 80px;

        &>.section-column {
          float: right;
          padding: 0 5px;
          width: 20%;

          .signature-text {
            position: relative;

            .label {
              font-size: 8px;

              &.last {
                position: absolute;
                right: 0;
                height: 12px;
                top: 0;
                padding: 0 0 0 5px;
                background-color: white;
              }
            }

            .data {
              font-size: 8px;
              width: 70%;
              height: 15px;
            }
          }

          &.with-title {
            float: left;
            margin-top: 0;
          }
        }

        .section-row {
          padding: 0;
        }

        .data {
          width: 300px;
        }

        .signature-full-text {
          margin: 0 auto 5px;
          width: 100%;

          .label {
            font-size: 8px;
          }

          .data {
            font-size: 8px;
            width: 85%;
            height: 17px;
          }
        }
      }

      &.main {
        div {
          padding-left: 15px;
        }

        &>div {
          padding-left: 0;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
