// out: false

:host {
  .kt-portlet {
    .kt-portlet__footer {
      .btn-group-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;

        .btn {
          margin: 0 8px;
        }
      }
    }

    &.search-task {
      .kt-portlet__body {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

        .form-column {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
          max-width: 33.33%;

          .form-group {
            max-width: 100%;

            .col-form-label {
              min-width: 125px;
              margin: 0 10px 0 0;
            }

            .input-wrapper {
              .input-wrapper-row {
                .middle-label {
                  -webkit-box-flex: 0;
                  -ms-flex: 0 0 55px;
                  flex: 0 0 55px;
                  max-width: 55px;
                  text-align: center;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  font-family: 'Noto Sans Thai', 'Noto Sans';
                  font-size: 16px;
                  font-weight: normal;
                }
              }
            }

            .datepicker {
              min-width: 0;

              .mat-form-field {
                min-width: 0;

                .mat-form-field-infie {
                  .mat-input-element {}
                }
              }
            }
          }
        }
      }
    }

    &.all-task-list {
      .kt-portlet__head-title {
        i {
          margin-right: 15px;
        }
      }

      .kt-portlet__body {
        .table {
          border: 1px solid #EFF1F5;

          .table-inner {
            margin-bottom: 0;

            .table-data {
              max-height: 400px;
              overflow-y: scroll;
              // width: calc(100% + 9px);
              // margin-right: -9px;
            }

            .tr {
              .td {
                min-height: 38px;
                border-right: 1px solid #EFF1F5;
                // background-color: white;

                .tag {
                  background-color: #BAC3D0;
                  border-radius: 4px;
                  padding: 1px 8px;
                  text-align: center;
                  color: white;
                  min-height: 26px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &.brand {
                    background-color: #0C84C8;
                    color: white;
                  }

                  &.waiting-to-consider {
                    background-color: #5E168E;
                    color: white;
                  }

                  &.done {
                    background-color: #BAC3D0;
                    color: white;
                  }
                }

                &:last-child {
                  border-right: 0;
                }

                &.select {
                  flex: 0 0 40px;
                  max-width: 40px;
                  justify-content: center;
                  text-align: center;
                }

                &.order {
                  flex: 0 0 55px;
                  max-width: 55px;
                  justify-content: center;
                  text-align: center;
                }

                &.request-id {
                  flex: 0 0 115px;
                  max-width: 115px;
                  justify-content: center;
                  text-align: center;
                }

                &.send-date {
                  flex: 0 0 110px;
                  max-width: 110px;
                  justify-content: center;
                  text-align: center;
                }

                &.instruction-request-date {
                  flex: 0 0 150px;
                  max-width: 150px;
                  justify-content: center;
                  text-align: center;
                }

                &.instruction-date {
                  flex: 0 0 120px;
                  max-width: 120px;
                  justify-content: center;
                  text-align: center;
                }

                &.registrar {
                  flex: 0 0 155px;
                  max-width: 155px;
                  justify-content: center;
                  text-align: center;
                }

                &.submitted-work-box {
                  flex: 0 0 150px;
                  max-width: 150px;
                  justify-content: center;
                  text-align: center;
                }

                &.detail {
                  flex: 1 1 auto;
                }

                &.status {
                  flex: 0 0 130px;
                  max-width: 130px;
                  justify-content: center;
                  text-align: center;

                  .tag {
                    min-width: 115px;
                    padding: 0 15px;
                  }
                }

                &.operation {
                  flex: 0 0 50px;
                  max-width: 50px;
                  justify-content: center;
                  text-align: center;

                  .btn {
                    width: 30px;
                    height: 30px;
                  }
                }

                &.scrollbar {
                  flex: 0 0 17px;
                  max-width: 17px;
                }
              }

              &.header {
                border-bottom: 1px solid #EFF1F5;

                .td {
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  text-align: center;
                  padding: 10px 4px 4px;
                }
              }
            }
          }
        }
      }
    }
  }

  ::ng-deep {
    .modal {
      &.transfer-job {
        .modal-content {
          max-width: 740px;
        }

        .header-children {
          ::ng-deep {
            &>div {
              font-family: 'Noto Sans Thai',
                'Noto Sans';
              font-size: 20px;
              font-weight: 500;

              i {
                color: #0C84C8;
                margin-right: 7px;
              }

              .modal-title {
                color: #0C84C8;
              }
            }
          }
        }

        .modal-body {
          padding: 0;

          ::ng-deep {
            .person-wrapper {
              display: flex;
              position: relative;
              padding: 1.25rem;

              .person {
                width: 50%;
                max-width: 50%;

                .caption {
                  width: 100%;
                  text-align: center;
                  font-family: 'Noto Sans Thai', 'Noto Sans';
                  font-weight: 500;
                  font-size: 20px;
                  margin-bottom: 25px;
                  color: #0C84C8;
                }

                .person-image {
                  width: 150px;
                  height: 150px;
                  border-radius: 50%;
                  overflow: hidden;
                  background-color: #EBEDF2;
                  margin: 0 auto;
                  margin-bottom: 16px;
                }

                .person-input {
                  .form-group {
                    padding-right: 55px;

                    .col-form-label {
                      max-width: 55px;
                      flex: 0 0 55px;
                      text-align: right;
                      padding-right: 8px;
                    }
                  }
                }
              }

              .dip-icon-forward {
                font-size: 35px;
                color: #0C84C8;
                position: absolute;
                top: 36%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .transfer-task-wrapper {
              border-top: 1px solid #EFF1F5;
              padding: 1.25rem;

              .title {
                font-family: 'Noto Sans Thai',
                  'Noto Sans';
                font-size: 20px;
                font-weight: 500;
                color: #0C84C8;
              }

              .table {
                border: 1px solid #EFF1F5;
                margin-bottom: 0;

                .table-inner {
                  margin-bottom: 0;

                  .table-data {
                    max-height: 400px;
                    overflow-y: scroll;
                    // width: calc(100% + 9px);
                    // margin-right: -9px;
                  }

                  .tr {
                    .td {
                      min-height: 38px;
                      border-right: 1px solid #EFF1F5;
                      background-color: white;

                      .tag {
                        background-color: #BAC3D0;
                        border-radius: 4px;
                        padding: 1px 8px;
                        text-align: center;
                        color: white;
                        min-height: 26px;
                        display: flex;
                        align-items: center;

                        &.brand {
                          background-color: #0C84C8;
                          color: white;
                        }

                        &.waiting-to-consider {
                          background-color: #5E168E;
                          color: white;
                        }

                        &.done {
                          background-color: #BAC3D0;
                          color: white;
                        }
                      }

                      &:last-child {
                        border-right: 0;
                      }

                      &.order {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 45px;
                        flex: 0 0 45px;
                        max-width: 45px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;
                      }

                      &.request-id {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 115px;
                        flex: 0 0 115px;
                        max-width: 115px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;
                      }

                      &.job-type {
                        flex: 0 0 200px;
                        max-width: 200px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;
                      }

                      &.send-date {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 115px;
                        flex: 0 0 115px;
                        max-width: 115px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;
                      }

                      &.status {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 150px;
                        flex: 0 0 150px;
                        max-width: 150px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;

                        .tag {
                          min-width: 115px;
                          padding: 0 15px;
                          text-align: center;
                          justify-content: center;
                        }
                      }

                      &.operation {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 60px;
                        flex: 0 0 60px;
                        max-width: 60px;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;

                        .btn {
                          width: 30px;
                          height: 30px;
                        }
                      }

                      &.scrollbar {
                        flex: 0 0 17px;
                        max-width: 17px;
                      }
                    }

                    &.header {
                      border-bottom: 1px solid #EFF1F5;

                      .td {
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        text-align: center;
                        padding: 10px 8px 4px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .modal-footer {
          ::ng-deep {
            .footer-children {
              width: 100%;

              .footer-children {
                width: 100%;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }
}
