<div class="container-inner flex">
  <div class="step-panel">
    <!-- STEP ITEM -->
    <ng-container *ngFor="let menu of menuList">
      <div
        *ngIf="menu.isShow"
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: menu.canEdit,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number || menu.canEdit
        }"
      >
        <div
          class="item-name"
          [ngClass]="{ editable: menu.canEdit }"
          (click)="onClickMenu(menu)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            <div
              *ngIf="sub.isShow"
              class="step-sub-item"
              [ngClass]="{
                editable: menu.canEdit,
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
              (click)="onClickSubMenu(menu, sub)"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 1">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [(ngModel)]="input.email"
                  [ngClass]="validate.email ? 'is-invalid' : null"
                  (input)="clearValidate('email')"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.email" class="invalid-feedback">
                    {{ validate.email }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [(ngModel)]="input.telephone"
                  [ngClass]="validate.telephone ? 'is-invalid' : null"
                  (input)="clearValidate('telephone')"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.telephone" class="invalid-feedback">
                    {{ validate.telephone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="btx-more-suggest">
        <p>
          ระบบจะส่งใบคำขอ ก.15 และ Link สำหรับแก้ไขใบคำขอไปที่ Email สำหรับไฟล์
          หลังทำการบันทึกข้อมูล
        </p>
      </div>
    </div>

    <!-- Start Step 2 Form -->
    <div class="flex request-registration step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              หนังสือชี้แจงการถูกร้องขอให้เพิกถอนการจดทะเบียน (ก.15)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-three">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row btx-main-box-select">
                  <div class="btx-box-label">
                    <label>
                      ประเภทค้นหา
                      <span></span>
                    </label>
                  </div>
                  <div class="btx-box-select">
                    <select
                      class="form-control"
                      [(ngModel)]="input.search_type_code"
                      (input)="onChangeSearchType()"
                    >
                      <option
                        *ngFor="let item of master.searchTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    {{
                      input.search_type_code == "REQUEST_NUMBER"
                        ? "คำขอเลขที่"
                        : "สัญญาเลขที่"
                    }}
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      [disabled]="!input.isAllowEditRequestNumber"
                      class="form-control input search"
                      [placeholder]="
                        input.search_type_code == 'REQUEST_NUMBER'
                          ? 'กรุณากรอก คำขอเลขที่'
                          : 'กรุณากรอก สัญญาเลขที่'
                      "
                      [(ngModel)]="input.request_number"
                      [ngClass]="validate.request_number ? 'is-invalid' : null"
                      (input)="clearValidate('request_number')"
                      (keyup)="onKey($event, 'request_number')"
                    />
                    <button
                      [disabled]="!input.isAllowEditRequestNumber"
                      type="button"
                      class="btn btn-brand"
                      (click)="onSearch()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.request_number"
                      class="invalid-feedback"
                    >
                      {{ validate.request_number }}
                    </div>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    ทะเบียนเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder=""
                      [(ngModel)]="input.registration_number"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 3 Form -->
    <div class="owner-and-agent btx-modal-main" *ngIf="currentID == 3">
      <div class="inner-wrapper">
        <div class="form-group flex requester">
          <label class="btx-color-label">
            * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.15 แนบด้วย
          </label>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner choose-owner-and-agent">
            <div class="form-group brand-logo-image-type">
              <div class="input-wrapper">
                <div class="input-wrapper-row">
                  <label
                    class="kt-radio kt-radio--bold kt-radio--brand"
                    *ngFor="let item of input.informerTypeCodeList"
                  >
                    <input
                      name="informer_type_code"
                      type="radio"
                      (click)="
                        binding('input', 'informer_type_code', item.code)
                      "
                      [checked]="item.code === input.informer_type_code"
                      (input)="clearValidate('informer_type_code')"
                    />
                    {{ item.name }}
                    <span></span>
                  </label>
                </div>

                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate.informer_type_code"
                    class="invalid-feedback"
                  >
                    {{ validate.informer_type_code }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Owner -->
        <div
          *ngIf="
            input.informer_type_code == 'OWNER' ||
            input.informer_type_code == 'RECEIVER_PERIOD' ||
            input.informer_type_code == 'RECEIVER'
          "
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOwnerMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              ผู้แจ้ง
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOwnerMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOwnerMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOwnerMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Agent -->
        <ng-container
          *ngIf="
            input.informer_type_code == 'OWNER_REPRESENTATIVE' ||
            input.informer_type_code == 'RECEIVER_PERIOD_REPRESENTATIVE' ||
            input.informer_type_code == 'RECEIVER_REPRESENTATIVE'
          "
        >
          <div class="owner-row flex">
            <div
              class="add-more card"
              (click)="
                toggleModal('isModalAgentFormOpen', undefined, 'listAgentMark')
              "
            >
              <div class="icon-wrapper">
                <i class="dip-icon-add-new"></i>
              </div>

              <div class="caption">
                เพิ่มตัวแทน <br />
                ผู้แจ้ง <span class="note">(ถ้ามี)</span>
              </div>
            </div>

            <div
              class="card view"
              *ngFor="let item of input.listAgentMark; index as i"
            >
              <div class="table">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td name">
                      ชื่อ
                    </div>
                    <div class="td address">
                      ที่อยู่
                    </div>
                    <div class="td mobile">
                      โทรศัพท์
                    </div>
                  </div>

                  <div class="table-data">
                    <div class="tr">
                      <div class="td name">
                        {{ item.name }}
                      </div>
                      <div class="td address">
                        {{ displayAddress(item) }}
                      </div>
                      <div class="td mobile">
                        {{ item.telephone }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="operators">
                <button
                  class="btn btn-icon round edit"
                  (click)="
                    toggleModal('isModalAgentFormOpen', i, 'listAgentMark')
                  "
                >
                  <i class="dip-icon-edit"></i>
                </button>

                <button
                  class="btn btn-icon round delete"
                  (click)="onClickRemoveInTable('input', 'listAgentMark', i)"
                >
                  <i class="dip-icon-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group flex" *ngIf="input.listAgentMark.length > 0">
            <label class="col-form-label">
              คำเชื่อมระหว่างตัวแทน*
            </label>

            <div class="input-wrapper">
              <select
                required
                class="form-control"
                [(ngModel)]="input.save150_representative_condition_type_code"
                (input)="
                  clearValidate('save150_representative_condition_type_code')
                "
              >
                <option
                  *ngFor="
                    let item of master.addressRepresentativeConditionTypeCodeList
                  "
                  [value]="item.code"
                >
                  {{ item.name }}
                </option>
              </select>
              <div class="feedback-wrapper"></div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="form-group step-three-next">
        <div class="input-wrapper">
          <div class="feedback-wrapper">
            <div *ngIf="validate.step3" class="invalid-feedback">
              {{ validate.step3 }}
            </div>
          </div>
        </div>

        <button
          class="btn btn-eform-secondary btn-icon-right"
          (click)="onClickNext()"
        >
          ถัดไป
          <i class="dip-icon-arrow-right"></i>
        </button>
      </div>
    </div>

    <!-- Start Step 4 Form -->
    <div class="flex step-basic" *ngIf="currentID == 4">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. คำชี้แจงการถูกร้องขอเพิกถอนการจดทะเบียน
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-five">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column btx-main-box">
                  <label>
                    ระบุ
                  </label>
                  <div class="flex">
                    <textarea
                      class="form-control textarea"
                      type="text"
                      rows="5"
                      placeholder=""
                      [(ngModel)]="input.remark_4"
                    ></textarea>
                  </div>
                  <label
                    class="kt-checkbox kt-checkbox--tick kt-checkbox--brand step-checkbox"
                  >
                    <input
                      type="checkbox"
                      (click)="toggleBoolean('input', 'is_kor_19')"
                      [checked]="input.is_kor_19"
                    />
                    หนังสือขอผ่อนผันการส่งหลักฐาน (ก.19)
                    <span></span>
                  </label>
                </div>
                <!-- <div class="input-wrapper-row flex-column">
                                    <div class="flex btx-group-btn-box">
                                        <label>หลักฐานประกอบ</label>
                                        <button class="btn btn-brand">
                                            <i class="dip-icon-upload-circle"></i>แนบไฟล์
                                        </button>
                                    </div>
                                    <div class="flex btx-group-btn-box">
                                        <label>เอกสารเพิ่มเติม แนบ ก.11</label>
                                        <button class="btn btn-brand">
                                            <i class="dip-icon-upload-circle"></i>แนบไฟล์
                                        </button>
                                        <button class="btn btn-brand">
                                            <i class="dip-icon-upload-circle"></i>ดาวน์โหลดฟอร์ม ก.11
                                        </button>
                                    </div>
                                </div>
                                <div class="input-wrapper-row flex-column btx-suggest-box">
                                    <span class="note">
                                        <i class="dip-icon-info-circle"></i>
                                        <label class="btx-suggest"> กรุณาแนบไฟล์รุปแบบ .pdf เท่านั้น</label>
                                    </span>
                                </div> -->
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 5 Form -->
    <div class="flex detail-sender-group step-basic" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. บัญชีเอกสารหรือหลักฐานประกอบอุทธรณ์
            </h3>
          </div>
        </div>
        <div class="step-page">
          <div class="step-body">
            <div class="btx-inner-form-three">
              <div class="form-group">
                <div class="input-wrapper">
                  <div class="input-wrapper-row flex-column">
                    <label class="">
                      ชื่อ
                    </label>
                    <div class="flex input-wrapper">
                      <input
                        class="form-control input"
                        placeholder=""
                        disabled
                        [(ngModel)]="input.evidence_name"
                      />
                    </div>
                  </div>
                  <div class="input-wrapper-row flex-column">
                    <label class="">
                      หมายเลขโทรศัพท์ที่ติดต่อได้
                    </label>
                    <div class="flex input-wrapper">
                      <input
                        class="form-control input"
                        placeholder=""
                        disabled
                        [(ngModel)]="input.evidence_telephone"
                      />
                    </div>
                  </div>
                  <div class="input-wrapper-row flex-column">
                    <label class="">
                      ประกอบอุทธรณ์/คำร้องขอให้เพิกถอนการจดทะเบียน คำขอเลขที่
                    </label>
                    <div class="flex input-wrapper">
                      <input
                        class="form-control input"
                        placeholder=""
                        disabled
                        [(ngModel)]="input.request_number"
                      />
                    </div>
                  </div>
                  <div class="input-wrapper-row flex-column">
                    <label class="">
                      ทะเบียนเลขที่
                    </label>
                    <div class="flex input-wrapper">
                      <input
                        class="form-control input"
                        placeholder=""
                        disabled
                        [(ngModel)]="input.registration_number"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action-panel justify-content-space-between flex">
              <div class="left-panel flex align-items-center">
                <button class="btn btn-brand" (click)="onClickAddEvidence()">
                  <i class="dip-icon-add-new"></i>เพิ่ม
                </button>
              </div>
            </div>

            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td order">
                    ลำดับที่
                  </div>
                  <div class="td type">
                    ประเภทของเอกสารหรือหลักฐาน <br />
                    (จะระบุส่วนที่เป็นสาระสำคัญก็ได้)
                  </div>
                  <div class="td topic">
                    ประเด็นที่ต้องการนำสืบเอกสารหรือหลักฐาน <br />
                    (จะระบุหรือไม่ก็ได้)
                  </div>
                  <div class="td amount">
                    จำนวน
                  </div>
                  <div class="td remark">
                    หมายเหตุ
                  </div>
                  <div class="td operation"></div>
                </div>

                <div class="table-data">
                  <div
                    class="tr"
                    *ngFor="let item of input.listEvidence; index as i"
                  >
                    <div class="td order">
                      {{ i + 1 }}
                    </div>
                    <div class="td type">
                      <input
                        class="form-control input"
                        type="text"
                        [(ngModel)]="item.evidence_type"
                      />
                    </div>
                    <div class="td topic">
                      <input
                        class="form-control input"
                        type="text"
                        [(ngModel)]="item.evidence_subject"
                      />
                    </div>
                    <div class="td amount">
                      <input
                        class="form-control input"
                        type="number"
                        min="1"
                        [(ngModel)]="item.number"
                      />
                    </div>
                    <div class="td remark">
                      <input
                        class="form-control input"
                        type="text"
                        [(ngModel)]="item.note"
                      />
                    </div>
                    <div class="td operation">
                      <button
                        class="btn btn-icon btn-danger-secondary delete"
                        (click)="onClickRemoveEvidence(i)"
                      >
                        <i class="dip-icon-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="input-wrapper-row flex-column btx-suggest-box">
              <span class="note">
                <i class="dip-icon-info-circle"></i>
                <label class="btx-suggest"
                  >หมายเหตุ หากต้องการนำส่งบัญชีเอกสารหรือหลักฐานภายหลัง
                  สามารถข้ามขั้นตอนนี้ โดยกดปุ่ม ถัดไป</label
                >
              </span>
            </div>
          </div>

          <div class="step-footer flex justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 6 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 6">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{ currentStep }}. เสร็จสิ้น</h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <!-- Owner notifier -->
          <div
            class="signature-select"
            *ngIf="
              input.informer_type_code == 'OWNER' ||
              input.informer_type_code == 'RECEIVER_PERIOD' ||
              input.informer_type_code == 'RECEIVER'
            "
          >
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step6')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <!-- Agent notifier -->
          <div
            class="signature-select"
            *ngIf="
              input.informer_type_code == 'OWNER_REPRESENTATIVE' ||
              input.informer_type_code == 'RECEIVER_PERIOD_REPRESENTATIVE' ||
              input.informer_type_code == 'RECEIVER_REPRESENTATIVE'
            "
          >
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save150_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step6')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save150_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.listAgentMark"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step6')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step6" class="invalid-feedback">
                  {{ validate.step6 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfA15()">
              ดูใบคำขอ ก.15
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Step 3 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลคัดค้าน'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้รับมอบอำนาจ (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.15 แนบด้วย
  </div>
</app-popup>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
