.sub-head-title{
    color: #0C84C8;
  }
  
  .number-label{
    padding-left:6px;
    padding-right: 6px;
    background-color: #0C84C8;
    color: white;
    border-radius: 2px;
    align-self:center;
  }
  
  .btn-choose-file{
    border: 1px solid #909090;
    border-radius: 4px;
    color: #8d8d8d;
    background-color: white;
    padding: 5px;
    
  }
  .btn-choose-file:hover{
    border: 1px solid #909090;
    border-radius: 4px;
    color: #ffffff;
    background-color: #909090;
    padding: 5px;
    
  }
  
  
  .btn-dowload-file{
    border: 1px solid #0C84C8;
    border-radius: 4px;
    color: #ffffff;
    background-color: #0C84C8;
    padding: 5px;
  }.btn-dowload-file:hover{
    border: 1px solid #0C84C8;
    border-radius: 4px;
    color: #0C84C8;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    
  }
  
  .table-header{
    color:white ;
    background-color:#0C84C8 ;
  }
  
  .table-radius{
    border-radius: 5px;
  }
  
  
  * {box-sizing: border-box;}
  
  /* Style the input container */
  .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #e2e5ec;
  }
  .icon:hover{
    opacity: 0.9;
  }
  
  .input-field:focus {
    border: 1px solid #e2e5ec;
  }
  
  /* Set a style for the submit button */
  // .btn {
  //   background-color: dodgerblue;
  //   color: white;
  //   padding: 15px 20px;
  //   border: none;
  //   cursor: pointer;
  //   width: 100%;
  //   opacity: 0.9;
  // }
  
  // .btn:hover {
  //   opacity: 1;
  // }
  
  
  mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }

  .table-header{
      background-color: #0C84C8;
      color: white;
  }

  td{
      text-align: center;
  }

  
  .button-bule{
    background-color: #0C84C8 !important;
    color: white;
    margin: 1px;
}