<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner document-role02-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="post_round_document_post_start_date">วันที่โอนงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_post_round_document_post_start_date id="post_round_document_post_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_post_round_document_post_start_date" (click)="picker_post_round_document_post_start_date.open()"
                         [(ngModel)]="input[key_post_round_document_post_start_date.id]" (dateChange)="clearValidate(key_post_round_document_post_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="post_round_document_post_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_post_round_document_post_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_post_round_document_post_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_document_post_start_date.id]" class="invalid-feedback">
                  {{validate[key_post_round_document_post_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_post_round_document_post_end_date id="post_round_document_post_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_post_round_document_post_end_date" (click)="picker_post_round_document_post_end_date.open()"
                         [(ngModel)]="input[key_post_round_document_post_end_date.id]" (dateChange)="clearValidate(key_post_round_document_post_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="post_round_document_post_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_post_round_document_post_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_post_round_document_post_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_document_post_end_date.id]" class="invalid-feedback">
                  {{validate[key_post_round_document_post_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner document-role02-check-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              กลุ่มงานที่ส่งมา
            </label>
            <div class="input-wrapper">
              <select #key_department_code
                      class="form-control"
                      id="department_code"
                      [(ngModel)]="input[key_department_code.id]"
                      (change)="binding('input', 'department_code', $event.target.value)"
                      [value]="input.department_code">
                <option *ngFor="let item of master.departmentCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_department_code.id]"
                     class="invalid-feedback">
                  {{validate[key_department_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner document-role02-check-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role02_receive_status_code
                      class="form-control"
                      id="document_role02_receive_status_code"
                      [(ngModel)]="input[key_document_role02_receive_status_code.id]"
                      (change)="binding('input', 'document_role02_receive_status_code', $event.target.value)"
                      [value]="input.document_role02_receive_status_code">
                <option *ngFor="let item of master.documentRole02ReceiveStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_receive_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role02_receive_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-role02-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02CheckList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action hide">
      <button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickDocumentRole02CheckAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickDocumentRole02CheckDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocumentRole02Check')"
                     [checked]="input.is_check_all" /><span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="post_round_document_post_date_text">วันที่รับงาน</td>
          <td class="created_by_name">นายทะเบียนที่ส่งมา</td>
          <td class="rule_count">จำนวนหนังสือ</td>
          <td class="name">ชื่อผู้รับ</td>
          <td class="house_number">ที่อยู่</td>
          <td class="is_add_address">เพิ่มที่อยู่</td>
          <td class="document_role02_receive_remark">รายละเอียดเพิ่มเติม</td>
          <td class="document_receive_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listDocumentRole02Check">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocumentRole02Check', row_item)"
                     [checked]="row_item.is_check" /><span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="post_round_document_post_date_text">{{row_item.document_role02_date_text}}</td>
          <td class="created_by_name">{{row_item.created_by_name}}</td>
          <td class="rule_count">{{row_item.rule_count}}</td>
          <td class="name">{{row_item.name}}</td>
          <td class="house_number">{{row_item.house_number}}</td>
          <td class="is_add_address">{{row_item.is_add_more_address_text}}</td>
          <td class="document_role02_receive_remark">{{row_item.document_role02_receive_remark}}</td>
          <td class="document_receive_status_name">{{row_item.document_role02_receive_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-play" (click)="onClickDocumentRole02CheckEdit(row_item)"></i>
            <!-- <i class="dip-icon-trash" (click)="onClickDocumentRole02CheckDelete(row_item)"></i>-->
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateDocumentRole02Check"
                (onClickList)="onClickDocumentRole02CheckList()"></app-paging>
  </div>
</div>
