body {
    font-family: 'Noto Sans Thai', 'Noto Sans';
	font-weight: normal;
}



:host {
	font-family: 'Noto Sans Thai', 'Noto Sans';
	font-weight: normal;
	::ng-deep {
		.mat-warning svg g path,
		.mat-warning svg g polygon {
			color: #8CD500 !important;
			fill: #8CD500 !important;
		}
	}
}

.button-list {
	display: inline-flex;
	margin: 0 auto;
  
	& > *:nth-child(n + 1) {
	  margin-left: 10px;
	}
  }
  
