<div class="kt-portlet ">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-edit"></i> MF9 - APPLICATION FOR INTERNATIONAL REGISTRATION GOVERNED BY THE MADRID PROTOCOL
      </h3>
    </div>

    <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()">
      <i class="dip-icon-recycle-rectangle"></i>
      ข้อมูลการเปลี่ยนแปลง
    </button>
  </div>
  <div class="kt-portlet__body">

    <div class="row">
      <div class="col-12" style="color: #0C84C8; font-size: 18px;">
        Model Form 9: Ceasing of Effect of the Basic Application, of the Registration Resulting Therefrom, or of the
        Basic Registration and request for cancellation of the international registration (Rule 22(1)(a) or (c) and
        (2)(b) of the Common Regulations)

      </div>
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        I. Office making the notification <i class="dip-icon-icon-info-circle"></i>
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        II. Number of the international registration <i class="dip-icon-icon-info-circle"></i>
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
    </div>
    <div class="row">

      <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;">
        III. Name of the holder <i class="dip-icon-icon-info-circle"></i>
      </div>
      <div class="col-md-12">
        <input class="form-control input" type="text" placeholder="" autocomplete="off" readonly />
      </div>
    </div>
  </div>
  <div class="kt-portlet__body" style="padding-top:0px">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="col-md-12">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox">
              IV. Facts and decisions affecting the basic application, the registration resulting therefrom, or the basic
              registration and their effective date
              <span></span>
            </label>
            <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;font-size: 15px;">
              Please briefly state these facts and decisions <i class="dip-icon-icon-info-circle"></i>
            </div>

            <div class="col-md-12">
              <input class="form-control input" type="text" placeholder="" autocomplete="off" />
            </div>
            <label class="nc-col-form-label" style="font-size: 15px;margin-left: 10px; margin-top: 10px;"> Voluntary information</label>
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 15px;margin-left: 10px;">
              <input type="checkbox">
              Not resulting from an action brought by a third party
              <span></span>
            </label>

            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 15px;margin-left: 10px;">
              <input type="checkbox">
              Resulting from an action brought by a third party, for example, an opposition or a request for cancellation
              (“central attack”).
              <span></span>
            </label>

            <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;font-size: 15px;">
              V. Effective date of these facts and decisions <i class="dip-icon-icon-info-circle"></i>
            </div>

            <div class="col-md-12">
              <input class="form-control input" type="text" placeholder="" autocomplete="off" />
            </div>





            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="color: #6D6E71;">
              <input type="checkbox" disabled>
              VI. Goods and services affected by the facts and decisions
              <span></span>
            </label>
            <div class="col-12" style="color: #6D6E71; padding-bottom:10px;padding-top:10px;font-size: 15px;" >
              Please choose only one of the following options and, where applicable, list the goods and/or services <i class="dip-icon-icon-info-circle"></i>
            </div>

            <div class="col-md-12" >
              <input class="form-control input" type="text" placeholder="" autocomplete="off" />
            </div>
            <label class="nc-col-form-label" style="font-size: 15px;margin-left: 10px; margin-top: 10px;"> Total cancellation</label>
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="font-size: 15px;margin-left: 10px;">
              <input type="checkbox">
              The facts and decisions affect all the goods and/or services of the international registration
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
