<!-- Start ข้อมูลทั่วไป -->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลทั่วไป
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="trademark-row flex">
      <div class="trademark-image-wrapper">
        <button class="sound-btn btn btn-icon btn-brand small-btn">
          <i class="dip-icon-loudspeaker"></i>
        </button>

        <div class="select-view">
          <div class="form-group flex view-dimension">
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand">
                  <input type="radio" name="view_dimension" checked />
                  <div class="inside-label">2D</div>
                  <span></span>
                </label>

                <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand">
                  <input type="radio" name="view_dimension" />
                  <div class="inside-label">3D</div>
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <img
          src="../../../assets/images/examples/example-logo-1.png"
          class="trademark-image"
          alt="Trademark Image"
        />
      </div>

      <div class="trademark-info-wrapper">
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label" for="trademark_request_id">
              เลขที่คำขอ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_request_id"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_request_date">
              วันที่ยื่นคำขอ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_request_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_submission_date">
              วันที่ยื่นเอกสาร
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_submission_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_registration_id">
              ทะเบียนเลขที่
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_registration_id"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_due_date">
              วันที่ครบกำหนด
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_due_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_documents">
              สถานะคำขอ
            </label>

            <div class="input-wrapper">
              <input
                class="form-control input"
                type="text"
                id="trademark_due_date"
                readonly
              />

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label" for="trademark_category">
              ค่าปรับ
            </label>

            <div class="input-wrapper">
              <div class="input-wrapper-row with-label">
                <input
                  class="form-control input"
                  type="text"
                  id="trademark_category"
                  readonly
                />
                <div class="input-group-append">
                  <span class="input-group-text">บาท</span>
                </div>
              </div>

              <div class="feedback-wrapper">
                <div
                  [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
                  *ngIf="fasle"
                >
                  error
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label
              class="col-form-label"
              for="trademark_submission_date_following_section28"
            >
              หมายเลข IRN
            </label>

            <div class="input-wrapper flex">
              <div class="input-wrapper-row flex-column flex-grow-1">
                <input
                  class="form-control input"
                  type="text"
                  id="trademark_submission_date_following_section28"
                  readonly
                />

                <div class="feedback-wrapper">
                  <div *ngIf="false" class="invalid-feedback">
                    {{ validate[key_telephone.id] }}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-data btn-brand">
                  ข้อมูล Madrid
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-wrapper flex justify-content-end">
              <button class="q-and-a-page btn btn-dark-gray mr-3">
                <i class="dip-icon-hyperlink"></i>หน้าสอบถาม
              </button>
              <button class="q-and-a-page btn btn-dark-gray">
                <i class="dip-icon-layer"></i>เอกสารสแกน
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End ข้อมูลทั่วไป -->

<!-- Start รายละเอียดคำขอ -->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        รายละเอียดคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole04CreateSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>-->
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="div-tab-list">
      <div class="div-tab-menus">
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 1"
             (click)="tab_menu_show_index = 1">เจ้าของ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 2"
             (click)="tab_menu_show_index = 2">ตัวแทน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 3"
             (click)="tab_menu_show_index = 3">จำพวกสินค้า</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 4"
             (click)="tab_menu_show_index = 4">บัตรหมาย</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 5"
             (click)="tab_menu_show_index = 5">มาตรา</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 6"
             (click)="tab_menu_show_index = 6">ประวัติ</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 7"
             (click)="tab_menu_show_index = 7">คำสั่งนายทะเบียน</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 8"
             (click)="tab_menu_show_index = 8">พิจารณาเอกสาร</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 9"
             (click)="tab_menu_show_index = 9">คำสั่งหลุดพ้น</div>
        <div class="div-tab-menu"
             [class.active]="tab_menu_show_index == 10"
             (click)="tab_menu_show_index = 10">ค่าธรรมเนียม</div>

        <div class="div-tab-action">
          <!--<button type="button"
                  class="btn btn-brand"
                  (click)="onClickDocumentRole04CreateSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>-->
        </div>

      </div>
      <div class="div-tabs">
        <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 4">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
          <div class="table-responsive">
            <div class="table">
              <div class="table-inner">
                <div class="tr header"
                  *ngFor="let item of tableRequestDetail.head_column_list; index as i"
                >
                  <div class="td order center">
                    {{ item.order }}
                  </div>
                  <div class="td command center">
                    {{ item.command }}
                  </div>
                  <div class="td date center">
                    {{ item.date }}
                  </div>
                  <div class="td registrar center">
                    {{ item.registrar }}
                  </div>
                  <div class="td book-status center">
                    {{ item.book_status }}
                  </div>
                  <div class="td date-order center">
                    {{ item.date_order }}
                  </div>
                  <div class="td no center">
                    {{ item.no }}
                  </div>
                  <div class="td worker center">
                    {{ item.worker }}
                  </div>
                  <div class="td note center">
                    {{ item.note }}
                  </div>
                  <div class="td status center">
                    {{ item.status }}
                  </div>
                  <div class="td scrollbar"></div>
                </div>
      
                <div class="table-data">
                  <div class="tr"
                    *ngFor="let item of tableRequestDetail.column_list; index as i"
                    [ngSwitch]="item.status"
                  >
                    <div class="td order center">
                      {{ (i + 1) }}
                    </div>
                    <div class="td command center">
                      {{ item.command }}
                    </div>
                    <div class="td date center">
                      {{ item.date }}
                    </div>
                    <div class="td registrar center">
                      {{ item.registrar }}
                    </div>
                    <div class="td book-status center">
                      {{ item.book_status }}
                    </div>
                    <div class="td date-order center">
                      {{ item.date_order }}
                    </div>
                    <div class="td no center">
                      {{ item.no }}
                    </div>
                    <div class="td worker center">
                      {{ item.worker }}
                    </div>
                    <div class="td note center">
                      {{ item.note }}
                    </div>
                    <div class="td status">
                      <div *ngSwitchCase="'ordered'"
                          class="tag gray">
                          สั่งแล้ว
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
        </div>
        <div class="div-tab" [class.hide]="tab_menu_show_index != 10">
        </div>
      </div>
    </div>


  </div>
</div>
<!-- End รายละเอียดคำขอ -->

<!-- Start การตรวจสอบเพื่อคุมเวลา -->
<div class="kt-portlet time">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        การตรวจสอบเพื่อคุมเวลา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="element-list flex-wrap">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
        *ngFor="let item of master.checkList"
      >
        <input
          type="checkbox"
          (click)="toggleBoolean('input', item.code)"
          (input)="clearValidate('type_code')"
        />
        {{item.name}}
        <span></span>
      </label>
    </div>
  </div>
</div>
<!-- End การตรวจสอบเพื่อคุมเวลา -->

<!-- Start เลขทะเบียน -->
<div class="kt-portlet">
  <div class="kt-portlet__body">
    <div class="title-block">17011325</div>
    <div class="table-responsive">
      <div class="table">
        <div class="table-inner">
          <div class="tr header">
            <div class="td select center">
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
              >
                <input
                  type="checkbox"
                  (click)="onClickCheckBoxTable('requestList', 0, true)"
                  [checked]="fasle"
                />
                <span></span>
              </label>
            </div>
            <div class="td request-id center">
              เลขทะเบียน
            </div>
            <div class="td submission-date center">
              วันที่ยื่นคำขอ
            </div>
            <div class="td owner-name center">
              ชื่อเจ้าของ
            </div>
            <div class="td address center">
              ที่อยู่ติดต่อ
            </div>
            <div class="td document center">
              เอกสาร
            </div>
            <div class="td accept-date center">
              วันที่รับงาน
            </div>
            <div class="td consider-date center">
              วันที่พิจารณา
            </div>
            <div class="td status center">
              สถานะคำร้อง
            </div>
            <div class="td operation center">
              คำสั่ง
            </div>
            <div class="td scrollbar"></div>
          </div>

          <div class="table-data">
            <div class="tr"
              *ngFor="let item of tableList.column_list; index as i"
              [ngSwitch]="item.status"
            >
              <div class="td select center">
                <label
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                >
                  <input
                    type="checkbox"
                    (click)="onClickCheckBoxTable('requestList', 0, true)"
                    [checked]="fasle"
                  />
                  <span></span>
                </label>
              </div>
              <div class="td request-id center">
                <div class="tag blue">
                  {{ item.request_id }}
                </div>
              </div>
              <div class="td submission-date center">
                {{ item.submission_date }}
              </div>
              <div class="td owner-name center">
                {{ item.owner_name }}
              </div>
              <div class="td address center">
                {{ item.address }}
              </div>
              <div class="td document center">
                {{ item.document }}
              </div>
              <div class="td accept-date center">
                {{ item.accept_date }}
              </div>
              <div class="td consider-date center">
                {{ item.consider_date }}
              </div>
              <div class="td status center">
                <div *ngSwitchCase="'waiting'"
                    class="tag blue">
                    รอพิจารณา
                </div>
                <div *ngSwitchCase="'done'"
                    class="tag">
                  เสร็จสิ้น
                </div>
              </div>
              <div class="td operation">
                <button class="btn btn-icon btn-brand"
                  [routerLink]="pathChange"
                >
                  <i class="dip-icon-play"></i>
                </button>

                <button
                  class="btn btn-white btn-icon disabled"
                  type="button"
                >
                  <i class="dip-icon-file-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!-- pagination -->
    <div class="kt-pagination kt-pagination--brand">
      <div class="kt-pagination__toolbar">
        <span class="pagination__desc">
          จำนวนแถวที่แสดง
        </span>
        <select
          class="form-control kt-font-brand"
          (change)="onChangePerPage($event.target.value, 'paginateRequest')"
        >
          <option *ngFor="let perPage of perPageRequestList" [value]="perPage">
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          จากทั้งหมด 100
        </span>
      </div>
    </div>
  </div>
</div>
<!-- End เลขทะเบียน -->