<div class="kt-portlet considering-similar-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <!--<div class="kt-portlet__body__inner considering-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="considering_receive_date">วันที่รับงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_considering_receive_date id="considering_receive_date" class="form-control input" matInput
                         [matDatepicker]="picker_considering_receive_date" (click)="picker_considering_receive_date.open()"
                         [(ngModel)]="input[key_considering_receive_date.id]" (dateChange)="clearValidate(key_considering_receive_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="considering_receive_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_considering_receive_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_considering_receive_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_considering_receive_date.id]" class="invalid-feedback">
                  {{validate[key_considering_receive_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>-->

        <div class="kt-portlet__body__inner considering-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะงาน
            </label>
            <div class="input-wrapper">
              <select #key_considering_receive_status_code
                      class="form-control"
                      id="considering_receive_status_code"
                      [(ngModel)]="input[key_considering_receive_status_code.id]"
                      (change)="binding('input', 'considering_receive_status_code', $event.target.value)"
                      [value]="input.considering_receive_status_code">
                <option *ngFor="let item of master.consideringReceiveStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_considering_receive_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_considering_receive_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner considering-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--<div class="kt-portlet__body__inner considering-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label">

            </label>
            <div class="input-wrapper">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [checked]="input.is_work_round_1"
                       (click)="binding('input', 'is_work_round_1', $event.target.checked)" /> งานรอบแรก
                <span></span>
              </label>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox" [checked]="input.is_work_round_2"
                     (click)="binding('input', 'is_work_round_2', $event.target.checked)" /> งานรอบ 2
              <span></span>
            </label>
          </div>
        </div>-->
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickConsideringSimilarList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>

    <div>
      <button type="button"
              class="btn btn-tertiary"
              (click)="popup.is_autosplit_show = true">
        <i class="dip-icon-play-circle"></i>
        รับงานอัตโนมัติ
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet considering-similar-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <div class="div-tab-menus">
          <div class="div-tab-menu"
               [class.active]="input.considering_similar_round_index == 1"
               (click)="input.considering_similar_round_index = 1; onClickConsideringSimilarList()">งานรอบแรก</div>
          <div class="div-tab-menu"
               [class.active]="input.considering_similar_round_index == 2"
               (click)="input.considering_similar_round_index = 2; onClickConsideringSimilarList()">งานรอบสอบ</div>
        </div>
        <!--อยู่ระหว่างการประกาศโฆษณา ส่งงานกลับจากกลุ่มงานอื่น-->
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <div class="round_wait"
           (click)="input.considering_receive_status_code = 'DRAFT'; onClickConsideringSimilarList()">
        <div>คงค้าง</div><div>{{input.round_wait || 0}}</div>
      </div>
      <div class="round_done"
           (click)="input.considering_receive_status_code = 'SEND'; onClickConsideringSimilarList()">
        <div>ส่งงานแล้ว</div><div>{{input.round_done || 0}}</div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div>
      <table>
        <thead>
          <tr class="tr header">
            <td class="td index">#</td>
            <td class="td request_number">คำขอเลขที่</td>
            <td class="td trademark_status_code">สถานะคำขอ</td>
            <td class="td request_date_text">วันที่ยื่นคำขอ</td>
            <td class="td considering_receive_date_text">วันที่รับงาน</td>
            <td class="td checking_receiver_by_name">ชื่อผู้ตรวจสอบ</td>
            <td class="td considering_receive_status_name">สถานะงาน</td>
            <td class="td considering_send_date_text">วันที่ส่งงาน</td>
            <td class="td considering_reason_send_back">เหตุผลการส่งงานกลับ</td>
            <td class="td request_image">รูป</td>
            <td class="td request_sound">เสียง</td>
            <td class="td edit_delete">คำสั่ง</td>
            <td class="td">ส่งคืน / ส่งกลับมา</td>
            <td class="td considering_remark">หมายเหตุ</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listConsideringSimilar">
            <td class="td index">
              {{row_item.index}}
            </td>
            <td class="td request_number">{{row_item.request_number}}</td>
            <td class="td trademark_status_code">{{row_item.trademark_status_code}}</td>
            <td class="td request_date_text">{{row_item.request_date_text}}</td>
            <td class="td considering_receive_date_text">{{row_item.considering_receive_date_text}}</td>
            <td class="td checking_receiver_by_name">{{row_item.checking_receiver_by_name}}</td>
            <td class="td considering_receive_status_name">{{row_item.considering_receive_status_name}}</td>
            <td class="td considering_send_date_text">{{row_item.considering_receive_date_text}}</td>
            <td class="td considering_reason_send_back">{{row_item.considering_receive_remark}}</td>
            <td class="td request_image">
              <div class="td_file_trademark_2d"
                   *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                   [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

              </div>
            </td>
            <td class="td request_sound">
              <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
                <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer(row_item)"></i>
              </div>
            </td>
            <td class="td edit_delete">
              <i class="dip-icon-edit"
                 (click)="onClickConsideringSimilarEdit(row_item)"></i>
              <!--<i class="dip-icon-trash"
              (click)="onClickConsideringSimilarDelete(row_item)"></i>-->
            </td>
            <td class="td">
              <i *ngIf="row_item.considering_receive_status_code == 'WAIT_CHANGE'" class="dip-icon-circle-outline"></i>
              <i *ngIf="row_item.considering_receive_status_code == 'DRAFT_CHANGE' || row_item.considering_receive_status_code == 'SEND_CHANGE'" class="dip-icon-success"></i>
            </td>
            <td class="td considering_remark">{{row_item.considering_remark}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateConsideringSimilar"
                (onClickList)="onClickConsideringSimilarList()"></app-paging>
  </div>

</div>


<div class="div_popup" *ngIf="popup.is_autosplit_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ขอหยุดรับงานอัติโนมัติ</div>
    <div class="kt-portlet__body__inner body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="popup.autosplit_reason"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickConsideringSimilarChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งคำขอ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_autosplit_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
