<div class="section normal-published">
  <div class="section-title">
    งานทั้งหมด
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'search'"
    [theme]="'green'"
    [title]="'กล่องรวม'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'150'"
  >
    <app-dashboard-card-summary-block summary="150">
      งานทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'search'"
    [theme]="'orange'"
    [title]="'แก้ไข เปลี่ยนแปลง'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'170'"
  >
    <app-dashboard-card-summary-block summary="150">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      เปลี่ยนแปลง
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
  <!-- </div> -->
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section other-published">
  <div class="section-title">
    เสนอนายทะเบียนพิจารณา
  </div>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'เสนอพิจารณาออกหนังสือคำสั่ง'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'เสนอพิจารณางานจาก อุทธรณ์ คัดค้าน'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'เสนอพิจารณาปลดปล่อยคำขอ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing andtypesetting industry.'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'search'"
    [theme]="'blue'"
    [title]="'เสนอพิจารณาเอกสารชี้แจง'"
    [description]="'รายการคำขอที่พิจารณาตรวจร่างแล้วเตรียมรอประกาศประจำสัปดาห์'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'play'"
    [theme]="'black'"
    [title]="'เสนอพิจารณาเตรียมจำหน่าย'"
    [description]="'รายการคำขอที่พิจารณาตรวจร่างแล้วเตรียมรอประกาศประจำสัปดาห์'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'arrow-right-circle'"
    [iconSub]="'play'"
    [theme]="'black'"
    [title]="'เสนอพิจารณาถอนคำขอ'"
    [description]="'รายการคำขอที่พิจารณาตรวจร่างแล้วเตรียมรอประกาศประจำสัปดาห์'"
    [quantity]="'135'"
  >
    <app-dashboard-card-summary-block summary="100">
      งานที่เข้าใหม่
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="15">
      แก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      รอพิจารณา
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
</div>
