:host {
  .container-inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Noto Sans Thai";

    label {
      color: #6d6e71;
      font-size: 20px;
    }

    .step-panel {
      width: 320px;
      flex: 0 0 320px;
      height: 100%;
      overflow-y: scroll;
      background-color: #e7e7e7;
      box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);

      .step-item {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-weight: normal;
        min-height: 53px;
        display: flex;
        align-items: center;
        color: #707070;
        font-size: 16px;

        .item-name {
          display: flex;
          align-items: center;
          width: 100%;
          min-height: 53px;
          padding: 10px 15px 10px 25px;

          &.editable {
            cursor: pointer;
          }

          &:before {
            content: "\0076";
            display: flex;
            font-family: "dip font icon";
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            color: #b7b7b7;
            margin-right: 13px;
            padding-bottom: 2px;
          }
        }

        &.current {
          background-color: #e0e0e0;
        }

        &.required {
          .item-name {
            &:before {
              content: "\0075";
              color: #707070;
            }
          }
        }

        &.passed {
          .item-name {
            color: #149ba9;

            &:before {
              content: "\0074";
              color: #149ba9;
              font-size: 15px;
            }
          }
        }

        &.has-sub-item {
          flex-wrap: wrap;

          .item-name {
            position: relative;
            padding-right: 30px;

            &:after {
              content: "\0048";
              position: absolute;
              display: flex;
              font-family: "dip font icon";
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 15px;
              color: #b7b7b7;
              padding-bottom: 2px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .step-sub-items {
            height: 0;
            overflow: hidden;
            width: 100%;
          }

          .step-sub-item {
            font-family: "Noto Sans Thai", "Noto Sans";
            font-weight: normal;
            height: 53px;
            display: flex;
            align-items: center;
            padding-left: 75px;
            color: #707070;
            font-size: 16px;
            width: 100%;
            padding-right: 15px;

            &.current {
              background-color: #e0e0e0;
            }
          }

          &.is-open {
            .item-name {
              &:after {
                transform: translateY(-65%) rotate(180deg);
              }
            }

            .step-sub-items {
              height: auto;
            }
          }
        }
      }
    }

    // .eform-content {
    //   flex: 1 1 auto;
    //   position: relative;
    //   padding: 5px 5px 45px;

    //   .input-wrapper-row {
    //     .flex {
    //       select {
    //         &.form-control {
    //           margin-left: 15px;
    //           width: 270px;
    //         }
    //       }
    //     }
    //   }

    //   .owner-and-agent {
    //     height: 100%;
    //     padding: 60px 0 80px;

    //     .inner-wrapper {
    //       max-height: 100%;
    //       overflow-y: auto;
    //       padding: 40px 20px;

    //       .form-group {
    //         .col-form-label {
    //           color: white;
    //         }

    //         select {
    //           &.form-control {
    //             max-width: 195px;
    //           }
    //         }
    //       }

    //       .owner-row {
    //         padding-bottom: 25px;
    //       }

    //       .card {
    //         background-color: white;
    //         width: 300px;
    //         height: 336px;
    //         overflow: hidden;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         flex-direction: column;
    //         padding: 0 50px;
    //         font-family: "Noto Sans Thai", "Noto Sans";
    //         font-weight: normal;
    //         font-size: 16px;
    //         color: #707070;
    //         margin-right: 20px;
    //         border-radius: 0;

    //         .name {
    //           font-size: 20px;
    //           font-weight: 500;
    //         }

    //         .address {
    //           margin-top: 29px;
    //         }

    //         .mobile {
    //           margin-top: 29px;
    //         }

    //         .operators {
    //           margin-top: 43px;

    //           .btn {
    //             width: 50px;
    //             height: 50px;
    //             margin: 0 6px;

    //             &.edit {
    //               border: 1px solid #ccebfd;
    //               background-color: #e6f2fa;

    //               i {
    //                 color: #0c84c8;
    //               }

    //               &:hover {
    //                 background-color: #c1e6ff;
    //               }

    //               &:active {
    //                 background-color: #c1e6ff;
    //               }

    //               &:focus {
    //                 background-color: #c1e6ff;
    //               }
    //             }

    //             &.delete {
    //               border: 1px solid #fdcccc;
    //               background-color: #fae6e6;

    //               i {
    //                 color: #c31d1d;
    //               }

    //               &:hover {
    //                 background-color: #ffbebe;
    //               }

    //               &:focus {
    //                 background-color: #ffbebe;
    //               }

    //               &:active {
    //                 background-color: #ffbebe;
    //               }
    //             }
    //           }
    //         }

    //         &.add-more {
    //           cursor: pointer;

    //           .icon-wrapper {
    //             width: 107px;
    //             height: 107px;
    //             border-radius: 50%;
    //             border: 1px solid #ccebfd;
    //             background-color: #e6f2fa;
    //             overflow: hidden;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;

    //             i {
    //               font-size: 28px;
    //               color: #0c84c8;
    //             }
    //           }

    //           .caption {
    //             font-size: 30px;
    //             color: #0c84c8;
    //             margin-top: 35px;
    //             text-align: center;
    //             font-weight: 500;

    //             .note {
    //               font-size: 20px;
    //             }

    //             &.required {
    //               position: relative;

    //               &:after {
    //                 content: "*";
    //                 display: flex;
    //                 position: absolute;
    //                 bottom: 0;
    //                 right: -20px;
    //               }
    //             }
    //           }

    //           &:hover {
    //             box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .brand-logo-image {
    //     height: 100%;
    //     overflow: auto;
    //     padding: 60px 0 80px;

    //     .kt-portlet {
    //       max-width: 1010px;
    //       border-radius: 0;
    //       margin: auto;

    //       .kt-portlet__head {
    //         border-radius: 0;

    //         .kt-portlet__head-title {
    //           font-size: 30px;
    //           font-weight: 500;
    //         }
    //       }

    //       .kt-portlet__body__inner {
    //         .form-group {
    //           width: 100%;
    //         }

    //         &.brand-logo-image-form {
    //           padding: 0 25px;
    //           flex-wrap: wrap;

    //           .col-form-label {
    //             font-size: 20px;
    //             color: #0c84c8;
    //             justify-content: flex-start;
    //           }

    //           .form-group {
    //             &.brand-logo-image-type {
    //               .kt-radio {
    //                 width: 260px;
    //               }
    //             }

    //             &.brand-logo-image-upload {
    //               .col-form-label {
    //                 .note {
    //                   font-size: 16px;
    //                   color: #707070;
    //                   margin-left: 40px;
    //                   display: flex;
    //                   align-items: center;
    //                   font-weight: normal;

    //                   i {
    //                     margin-right: 10px;
    //                     color: #0c84c8;
    //                   }
    //                 }
    //               }
    //             }

    //             &.brand-logo-image-dimension-size {
    //               .input-wrapper-row {
    //                 font-family: "Noto Sans Thai", "Noto Sans";

    //                 .form-control {
    //                   width: 55px;
    //                   min-width: 55px;
    //                   text-align: center;
    //                 }

    //                 .multiply {
    //                   width: 55px;
    //                   display: flex;
    //                   justify-content: center;
    //                   align-items: center;
    //                   font-size: 16px;
    //                   font-weight: normal;
    //                   color: #707070;
    //                 }

    //                 .btn {
    //                   margin-left: 20px;
    //                 }

    //                 .note {
    //                   font-size: 16px;
    //                   font-weight: normal;
    //                   color: #707070;
    //                   margin-left: 40px;
    //                   display: flex;
    //                   align-items: center;

    //                   i {
    //                     margin-right: 10px;
    //                     color: #0c84c8;
    //                   }
    //                 }
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .brand-logo-sound {
    //     height: 100%;
    //     overflow: auto;
    //     padding: 60px 0 80px;

    //     .kt-portlet {
    //       max-width: 1010px;
    //       border-radius: 0;
    //       margin: auto;

    //       .kt-portlet__head {
    //         border-radius: 0;

    //         .kt-portlet__head-title {
    //           font-size: 30px;
    //           font-weight: 500;
    //         }
    //       }

    //       .kt-portlet__body__inner {
    //         .form-group {
    //           width: 100%;
    //         }

    //         &.brand-logo-sound-form {
    //           padding: 0 25px;
    //           flex-wrap: wrap;

    //           .col-form-label {
    //             font-size: 20px;
    //             color: #0c84c8;
    //             justify-content: flex-start;
    //           }

    //           .brand-logo-sound-own-form {
    //             flex-wrap: wrap;
    //             width: 100%;
    //             border-top: 1px solid #c6c6c6;
    //             padding-top: 20px;

    //             .form-group {
    //               width: 100%;

    //               .col-form-label {
    //                 min-width: 0;
    //                 margin-right: 40px;
    //                 font-size: 20px;
    //                 color: #0c84c8;
    //                 justify-content: flex-start;
    //               }

    //               .kt-radio {
    //                 margin-right: 30px;
    //               }

    //               .note {
    //                 font-size: 16px;
    //                 color: #707070;
    //                 display: flex;
    //                 align-items: center;
    //                 font-weight: normal;
    //                 font-family: "Noto Sans Thai", "Noto Sans";

    //                 i {
    //                   margin-right: 10px;
    //                   color: #0c84c8;
    //                 }
    //               }

    //               &.upload {
    //                 .label-wrapper-row {
    //                   .upload-btn-wrapper {
    //                     width: auto;

    //                     .upload-input-wrapper {
    //                       width: auto;
    //                     }
    //                   }
    //                 }
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .logo-color-group {
    //     height: 100%;
    //     padding: 60px 0 80px;

    //     .kt-portlet {
    //       max-width: 1010px;
    //       border-radius: 0;
    //       margin: auto;

    //       .kt-portlet__head {
    //         border-radius: 0;
    //         padding: 15px 25px;

    //         .kt-portlet__head-title {
    //           font-size: 30px;
    //           font-weight: 500;

    //           &.inline {
    //             display: inline;

    //             .btn {
    //               display: inline-flex;
    //               margin-left: 20px;

    //               i {
    //                 margin-right: 0;
    //               }
    //             }
    //           }
    //         }
    //       }

    //       .kt-portlet__body__inner {
    //         .form-group {
    //           width: 100%;
    //         }

    //         &.select-tutelage {
    //           padding: 0 25px;
    //           flex-wrap: wrap;

    //           .logo-color-group-detail-form {
    //             width: 100%;
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .logo-three-dememsions-group {
    //     height: 100%;
    //     padding: 60px 0 80px;

    //     .kt-portlet {
    //       max-width: 1010px;
    //       border-radius: 0;
    //       margin: auto;

    //       .kt-portlet__head {
    //         border-radius: 0;
    //         padding: 15px 25px;

    //         .kt-portlet__head-title {
    //           font-size: 30px;
    //           font-weight: 500;

    //           &.inline {
    //             display: inline;

    //             .btn {
    //               display: inline-flex;
    //               margin-left: 20px;

    //               i {
    //                 margin-right: 0;
    //               }
    //             }
    //           }
    //         }
    //       }

    //       .kt-portlet__body__inner {
    //         .form-group {
    //           width: 100%;
    //         }

    //         &.select-tutelage {
    //           padding: 0 25px;
    //           flex-wrap: wrap;

    //           .logo-three-dememsions-group-detail-form {
    //             width: 100%;
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .finish {
    //     .kt-portlet__body__inner {
    //       width: 100%;
    //       max-width: 670px;
    //       margin: 0 auto;

    //       .form-group {
    //         .form-control {
    //           width: 100%;
    //         }
    //       }
    //     }

    //     .kt-portlet__footer__inner {
    //       width: 100%;

    //       .btn {
    //         margin: 0 10px;
    //       }
    //     }

    //     .btx-more-suggest {
    //       width: 96%;
    //       position: absolute;
    //       bottom: 152px;
    //       font-size: 20px;
    //       text-align: center;
    //       color: #fff;
    //     }
    //   }

    //   .step-basic {
    //     height: 100%;
    //     padding: 60px 0 80px;

    //     .kt-portlet {
    //       max-width: 1010px;
    //       border-radius: 0;
    //       margin: auto;

    //       .kt-portlet__head {
    //         border-radius: 0;
    //         padding: 15px 25px;

    //         .kt-portlet__head-title {
    //           font-size: 30px;
    //           font-weight: 500;

    //           &.inline {
    //             display: inline;

    //             .btn {
    //               display: inline-flex;
    //               margin-left: 20px;

    //               i {
    //                 margin-right: 0;
    //               }
    //             }
    //           }
    //         }
    //       }

    //       .kt-portlet__body__inner {
    //         padding: 0 25px;
    //         flex-wrap: wrap;

    //         .form-group {
    //           width: 100%;

    //           .col-form-label {
    //             font-size: 20px;
    //             color: #0c84c8;
    //             justify-content: flex-start;
    //           }
    //         }
    //       }

    //       .kt-portlet__footer__inner {
    //         padding: 25px;
    //         flex-wrap: wrap;

    //         .form-group {
    //           width: 100%;

    //           .col-form-label {
    //             font-size: 20px;
    //             color: #0c84c8;
    //             justify-content: flex-start;
    //           }

    //           &.otop-id {
    //             .col-form-label {
    //               font-size: 16px;
    //               color: #6d6e71;
    //               margin: 0;
    //               padding: 0;
    //             }

    //             .input {
    //               min-width: 350px;
    //               margin-left: 20px;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .step-page {
    //     width: 100%;
    //     padding: 0 75px;
    //     display: flex;
    //     flex-direction: column;
    //     flex-grow: 1;

    //     .step-header {
    //       width: 100%;
    //       margin-bottom: 25px;
    //       display: flex;

    //       .step-page-title {
    //         font-family: "Noto Sans Thai", "Noto Sans";
    //         font-size: 30px;
    //         font-weight: normal;
    //         color: white;
    //       }
    //     }

    //     .step-body {
    //       background-color: white;
    //       display: flex;
    //       flex-wrap: wrap;
    //       padding: 30px 37px;
    //       flex-grow: 1;
    //       align-content: flex-start;

    //       .action-panel {
    //         width: 100%;
    //         margin-bottom: 17px;

    //         .note {
    //           font-size: 16px;
    //           color: #707070;
    //           margin-left: 40px;
    //           display: flex;
    //           align-items: center;
    //           font-weight: normal;
    //           text-decoration: none;
    //           color: #0c84c8;

    //           i {
    //             margin-right: 15px;
    //           }

    //           span {
    //             text-decoration: underline;
    //           }
    //         }

    //         .right-panel {
    //           .content {
    //             font-family: "Noto Sans Thai", "Noto Sans";
    //             font-size: 20px;
    //             font-weight: normal;
    //             color: #0c84c8;
    //             margin-right: 30px;
    //           }
    //         }
    //       }

    //       .table {
    //         .table-inner {
    //           .tr {
    //             .td {
    //               background-color: #f4f5f8;
    //               padding: 15px 10px;

    //               .form-control {
    //                 width: 100%;
    //                 min-width: 0;
    //               }

    //               &.order {
    //                 flex: 0 0 65px;
    //                 max-width: 65px;
    //                 justify-content: center;
    //                 padding-right: 23px;
    //               }

    //               &.reading-translation-foreign-language-type {
    //                 flex: 1 1 350px;
    //               }

    //               &.reading {
    //                 flex: 1 1 350px;
    //               }

    //               &.translation {
    //                 flex: 1 1 350px;
    //               }

    //               &.operation {
    //                 flex: 0 0 170px;
    //                 max-width: 170px;
    //                 justify-content: flex-end;

    //                 .btn {
    //                   margin-right: 10px;

    //                   &.edit {
    //                     color: #0c84c8;
    //                   }
    //                 }
    //               }
    //             }

    //             &.header {
    //               .td {
    //                 font-weight: normal;
    //                 font-size: 20px;
    //                 background-color: white;

    //                 &.order {
    //                   padding: 0;
    //                   justify-content: flex-start;
    //                   padding-right: 5px;
    //                 }
    //               }
    //             }
    //           }
    //         }
    //       }

    //       .footer {
    //         width: 100%;
    //       }
    //     }

    //     .step-footer {
    //       background-color: white;
    //       padding: 30px 37px;
    //     }

    //     .step-page-summary {
    //       display: flex;
    //       justify-content: flex-end;
    //       font-family: "Noto Sans Thai", "Noto Sans";
    //       font-size: 20px;
    //       font-weight: normal;
    //       color: white;

    //       .summary-block {
    //         display: flex;
    //         align-items: center;
    //         margin-right: 40px;

    //         .data {
    //           font-size: 30px;
    //           margin-left: 30px;
    //         }

    //         &:last-child {
    //           margin-right: 0;
    //         }
    //       }
    //     }
    //   }

    //   .reading-translation-foreign-language {
    //     height: 100%;
    //     overflow: auto;
    //     padding: 40px 0 80px;
    //     align-items: flex-start;
    //     flex-direction: column;

    //     .step-page {
    //       .step-body {
    //         .table {
    //           .table-inner {
    //             .tr {
    //               .td {
    //                 &.order {
    //                   flex: 0 0 65px;
    //                   max-width: 65px;
    //                   justify-content: center;
    //                   padding-right: 23px;
    //                 }

    //                 &.reading-translation-foreign-language-type {
    //                   flex: 1 1 350px;
    //                 }

    //                 &.reading {
    //                   flex: 1 1 350px;
    //                 }

    //                 &.translation {
    //                   flex: 1 1 350px;
    //                 }

    //                 &.operation {
    //                   flex: 0 0 170px;
    //                   max-width: 170px;
    //                   justify-content: flex-end;

    //                   .btn {
    //                     margin-right: 10px;

    //                     &.edit {
    //                       color: #0c84c8;
    //                     }
    //                   }
    //                 }
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .product-service-group {
    //     height: 100%;
    //     overflow: auto;
    //     padding: 40px 0 80px;
    //     align-items: flex-start;
    //     flex-direction: column;

    //     .step-page {
    //       .step-body {
    //         .table {
    //           .table-inner {
    //             .tr {
    //               .td {
    //                 &.order {
    //                   flex: 0 0 65px;
    //                   max-width: 65px;
    //                   justify-content: center;
    //                   padding-right: 23px;
    //                 }

    //                 &.group {
    //                   flex: 0 0 110px;
    //                   max-width: 110px;
    //                 }

    //                 &.product-service-name {
    //                   flex: 1 1 600px;
    //                 }

    //                 &.amount {
    //                   flex: 0 0 190px;
    //                   max-width: 190px;
    //                 }

    //                 &.fee {
    //                   flex: 0 0 210px;
    //                   max-width: 210px;
    //                   justify-content: center;
    //                 }

    //                 &.operation {
    //                   flex: 0 0 120px;
    //                   max-width: 120px;
    //                   justify-content: flex-end;
    //                 }
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .supporting-documents {
    //     height: 100%;
    //     overflow: auto;
    //     padding: 40px 0 80px;
    //     align-items: flex-start;
    //     flex-direction: column;

    //     .step-page {
    //       .step-body {
    //         background-color: transparent;
    //         padding-left: 0;
    //         padding-right: 0;

    //         .check-list-card {
    //           background-color: white;
    //           min-height: 70px;
    //           width: 100%;
    //           padding: 18px;
    //           flex-wrap: wrap;
    //           margin-bottom: 16px;

    //           .kt-checkbox {
    //             i {
    //               color: #0c84c8;
    //               font-size: 34px;
    //             }

    //             margin-right: 15px;
    //           }

    //           .check-list-title {
    //             font-family: "Noto Sans Thai", "Noto Sans";
    //             font-size: 20px;
    //             font-weight: 500;
    //             color: #707070;
    //           }

    //           .form {
    //             width: 100%;
    //             display: none;
    //             padding: 0;
    //             margin: 0;
    //             flex-wrap: wrap;
    //             background-color: white;
    //             justify-content: center;

    //             .form-title {
    //               width: 100%;
    //               display: flex;
    //               justify-content: center;
    //               color: #0c84c8;
    //               font-family: "Noto Sans Thai", "Noto Sans";
    //               font-size: 20px;
    //               font-weight: 500;
    //             }

    //             .form-row {
    //               display: flex;
    //               justify-content: space-between;

    //               .form-group {
    //                 flex: none;
    //               }

    //               &.two-column {
    //                 .form-group {
    //                   width: 49%;
    //                 }
    //               }

    //               &.three-column {
    //                 .form-group {
    //                   width: 32%;
    //                 }
    //               }
    //             }

    //             .form-control {
    //               width: 100%;
    //             }

    //             &.show {
    //               display: flex;
    //               padding: 15px 20px;
    //               margin-top: 15px;
    //             }
    //           }

    //           &.checked {
    //             background-color: #ceffea;
    //           }
    //         }
    //       }

    //       .step-footer {
    //         background-color: transparent;
    //       }
    //     }
    //   }

    //   .footer-eform {
    //     display: flex;
    //     position: absolute;
    //     left: -9px;
    //     right: 0;
    //     bottom: 0;
    //     height: 70px;
    //     flex-direction: column;

    //     .progress-bar {
    //       height: 12px;
    //       width: 100%;
    //       background-color: #e7e7e7;

    //       .bar {
    //         min-width: 50px;
    //         height: 100%;
    //         background-color: #52d69d;
    //       }
    //     }

    //     .summary-and-control {
    //       flex: 1 1 auto;
    //       width: 100%;
    //       background-color: white;
    //       display: flex;
    //       justify-content: space-between;

    //       .summary-progress {
    //         display: flex;
    //         align-items: center;
    //         padding: 5px 15px 0 35px;

    //         .progress-number {
    //           display: flex;
    //           width: 75px;
    //           font-family: "Noto Sans Thai", "Noto Sans";
    //           font-weight: 500;
    //           font-size: 40px;
    //           color: #149ba9;
    //           line-height: 40px;
    //           margin-right: 8px;
    //           height: 53px;
    //           overflow: hidden;
    //           justify-content: flex-end;
    //           align-items: center;
    //         }

    //         .units {
    //           font-family: "Noto Sans Thai", "Noto Sans";

    //           .percentage {
    //             line-height: 20px;
    //             font-size: 19px;
    //             font-weight: 500;
    //             font-family: "Noto Sans Thai", "Noto Sans";
    //             color: #149ba9;
    //           }

    //           .unit {
    //             font-size: 16px;
    //             font-weight: normal;
    //             color: #707070;
    //             margin-top: -5px;
    //           }
    //         }
    //       }

    //       .control {
    //         display: flex;
    //         align-items: center;
    //         padding: 0 30px 0 15px;

    //         .note {
    //           font-family: "Noto Sans Thai", "Noto Sans";
    //           font-weight: normal;
    //           font-size: 16px;
    //           margin-right: 20px;
    //           color: #707070;
    //         }

    //         .btn-wrapper {
    //           display: flex;

    //           .btn {
    //             margin-left: 15px;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    .eform-content {
      flex: 1 1 auto;
      position: relative;
      padding: 5px 5px 70px;

      .input-wrapper-row {
        .flex {
          select {
            &.form-control {
              margin-left: 15px;
              width: 270px;
            }
          }
        }
      }

      .owner-and-agent {
        height: 100%;
        padding: 60px 80px 120px;

        .inner-wrapper {
          max-height: 100%;
          overflow-y: auto;
          padding: 40px 20px;

          .form-group {
            .col-form-label {
              color: white;
            }

            select {
              &.form-control {
                max-width: 195px;
              }
            }
          }

          .owner-row {
            padding-bottom: 25px;
          }

          .card {
            position: relative;
            background-color: white;
            width: 300px;
            height: 343px;
            // height: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 30px;
            font-family: "Noto Sans Thai", "Noto Sans";
            font-weight: normal;
            font-size: 16px;
            color: #707070;
            margin-right: 20px;
            border-radius: 0;

            &.view {
              width: 730px;
              height: 100%;
              min-height: 343px;
              max-height: 343px;
              justify-content: flex-start;
            }

            .operators {
              // margin-top: 43px;
              position: absolute;
              bottom: 40px;

              .btn {
                width: 50px;
                height: 50px;
                margin: 0 6px;

                &.edit {
                  border: 1px solid #ccebfd;
                  background-color: #e6f2fa;

                  i {
                    color: #0c84c8;
                  }

                  &:hover {
                    background-color: #c1e6ff;
                  }

                  &:active {
                    background-color: #c1e6ff;
                  }

                  &:focus {
                    background-color: #c1e6ff;
                  }
                }

                &.delete {
                  border: 1px solid #fdcccc;
                  background-color: #fae6e6;

                  i {
                    color: #c31d1d;
                  }

                  &:hover {
                    background-color: #ffbebe;
                  }

                  &:focus {
                    background-color: #ffbebe;
                  }

                  &:active {
                    background-color: #ffbebe;
                  }
                }
              }
            }

            &.add-more {
              cursor: pointer;

              .icon-wrapper {
                width: 107px;
                height: 107px;
                border-radius: 50%;
                border: 1px solid #ccebfd;
                background-color: #e6f2fa;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 28px;
                  color: #0c84c8;
                }
              }

              .caption {
                font-size: 30px;
                color: #0c84c8;
                margin-top: 35px;
                text-align: center;
                font-weight: 500;

                .note {
                  font-size: 20px;
                }

                &.required {
                  position: relative;

                  &:after {
                    content: "*";
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
              }
            }

            .table {
              .table-inner {
                .tr {
                  .td {
                    padding: 15px 15px;
                    color: #9A9A9A;
                    background-color: #FFFFFF;
                    align-items: flex-start;

                    &.order {
                    flex: 0 0 45px;
                    max-width: 45px;
                    }

                    &.name {
                    flex: 1 1 160px;
                    }

                    &.address {
                    flex: 1 1 250px;
                    word-break: break-word;
                    }

                    &.mobile {
                    flex: 1 1 90px;
                    }
                  }

                  &.header {
                    .td {
                      font-weight: normal;
                      font-size: 20px;
                      color: #707070;

                      &.order {
                        justify-content: flex-start;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .domestic-contact-address {
        height: 100%;
        overflow: auto;
        padding: 60px 0 80px;

        .input-wrapper-row {
          margin-bottom: 10px;
        }

        .input-wrapper {
          margin: 0px;
        }

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;
            }
          }

          .kt-portlet__body__inner {
            .form-group {
              width: 100%;
            }

            &.select-domestic-contact-address {
              padding-left: 25px;
              flex-wrap: wrap;

              .form-group {
                margin-bottom: 20px;

                .input-wrapper-row {
                  .flex {
                    margin-bottom: 20px;

                    .kt-radio {
                      margin-bottom: 0;
                      margin-top: 8px;
                    }
                  }
                }
              }

              .btx-box-label {
                //width: 20%;

                label {
                  margin-top: 8px;
                }
              }

              .btx-box-select {
                margin-left: 15px;
                margin-right: 15px;
                //width: 80%;
                select.btx-select-one {
                  width: 328px;
                  height: 38px;
                  // margin-left: 50px;
                }

                .btx-select-two {
                  width: 88px;
                  height: 38px;
                  // margin-left: 50px;
                  // margin-right: 16px;
                }
              }

              .btx-suggest {
                margin: 0 10px;
              }

              .note i {
                color: #0c84c8;
              }
            }
          }
        }
      }

      .finish {
        .signature-select {
          width: 100%;
          margin-bottom: 15px;

          .caption {
            color: #0c84c8;
            font-size: 18px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
          }

          .form-group {
            padding-left: 15px;
          }
        }

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .kt-portlet__footer__inner {
          width: 100%;

          .btn {
            margin: 0 10px;
          }
        }

        .btx-more-suggest {
          width: 96%;
          position: absolute;
          bottom: 152px;
          font-size: 20px;
          text-align: center;
          color: #fff
        }
      }

      .step-basic {
        height: 100%;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }
          }

          .kt-portlet__body__inner {
            padding: 0 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0c84c8;
                justify-content: flex-start;
              }
            }
          }

          .kt-portlet__footer__inner {
            padding: 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0c84c8;
                justify-content: flex-start;
              }

              &.otop-id {
                .col-form-label {
                  font-size: 16px;
                  color: #6d6e71;
                  margin: 0;
                  padding: 0;
                }

                .input {
                  min-width: 350px;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }

      .step-page {
        width: 100%;
        padding: 0 75px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .step-header {
          width: 100%;
          margin-bottom: 25px;
          display: flex;

          .step-page-title {
            font-family: "Noto Sans Thai", "Noto Sans";
            font-size: 30px;
            font-weight: normal;
            color: white;
          }
        }

        .step-body {
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          padding: 30px 37px;
          flex-grow: 1;
          align-content: flex-start;

          .action-panel {
            width: 100%;
            margin-bottom: 17px;

            .note {
              font-size: 16px;
              color: #707070;
              margin-left: 40px;
              display: flex;
              align-items: center;
              font-weight: normal;
              text-decoration: none;
              color: #0c84c8;

              i {
                margin-right: 15px;
              }

              span {
                text-decoration: underline;
              }
            }

            .right-panel {
              .content {
                font-family: "Noto Sans Thai", "Noto Sans";
                font-size: 20px;
                font-weight: normal;
                color: #0c84c8;
                margin-right: 30px;
              }
            }
          }

          .table {
            .table-inner {
              .tr {
                .td {
                  background-color: #f4f5f8;
                  padding: 15px 10px;

                  .form-control {
                    width: 100%;
                    min-width: 0;
                  }

                  &.order {
                    flex: 0 0 65px;
                    max-width: 65px;
                    justify-content: center;
                    padding-right: 23px;
                  }

                  &.reading-translation-foreign-language-type {
                    flex: 1 1 350px;
                  }

                  &.reading {
                    flex: 1 1 350px;
                  }

                  &.translation {
                    flex: 1 1 350px;
                  }

                  &.operation {
                    flex: 0 0 170px;
                    max-width: 170px;
                    justify-content: flex-end;

                    .btn {
                      margin-right: 10px;

                      &.edit {
                        color: #0c84c8;
                      }
                    }
                  }
                }

                &.header {
                  .td {
                    font-weight: normal;
                    font-size: 20px;
                    background-color: white;

                    &.order {
                      padding: 0;
                      justify-content: flex-start;
                      padding-right: 5px;
                    }
                  }
                }
              }
            }
          }

          .footer {
            width: 100%;
          }
        }

        .step-footer {
          background-color: white;
          padding: 30px 37px;
        }

        .step-page-summary {
          display: flex;
          justify-content: flex-end;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-size: 20px;
          font-weight: normal;
          color: white;

          .summary-block {
            display: flex;
            align-items: center;
            margin-right: 40px;

            .data {
              font-size: 30px;
              margin-left: 30px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
			}

			.request-evidence {
				overflow-y: auto;
			}

      .footer-eform {
        display: flex;
        position: absolute;
        left: -9px;
        right: 0;
        bottom: 0;
        height: 70px;
        flex-direction: column;

        .progress-bar {
          height: 12px;
          width: 100%;
          background-color: #e7e7e7;

          .bar {
            min-width: 50px;
            height: 100%;
            background-color: #52d69d;
          }
        }

        .summary-and-control {
          flex: 1 1 auto;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;

          .summary-progress {
            display: flex;
            align-items: center;
            padding: 5px 15px 0 35px;

            .progress-number {
              display: flex;
              width: 75px;
              font-family: "Noto Sans Thai", "Noto Sans";
              font-weight: 500;
              font-size: 40px;
              color: #149ba9;
              line-height: 40px;
              margin-right: 8px;
              height: 53px;
              overflow: hidden;
              justify-content: flex-end;
              align-items: center;
            }

            .units {
              font-family: "Noto Sans Thai", "Noto Sans";

              .percentage {
                line-height: 20px;
                font-size: 19px;
                font-weight: 500;
                font-family: "Noto Sans Thai", "Noto Sans";
                color: #149ba9;
              }

              .unit {
                font-size: 16px;
                font-weight: normal;
                color: #707070;
                margin-top: -5px;
              }
            }
          }

          .control {
            display: flex;
            align-items: center;
            padding: 0 30px 0 15px;

            .note {
              font-family: "Noto Sans Thai", "Noto Sans";
              font-weight: normal;
              font-size: 16px;
              margin-right: 20px;
            }

            .btn-wrapper {
              display: flex;

              .btn {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    .btx-inner-form-three {
      input {
        background-color: #f6f7fa;
      }

      input.btx-search {
        background-color: white;
      }

      .input-wrapper {
        margin: 0px;

        button {
          margin-left: 10px;
          width: 101px;
          height: 37px;
        }

        .input-wrapper-row {
          margin-bottom: 15px;
        }

        .btx-box-label label {
          margin-top: 7px;
          margin-right: 24px;
        }
      }

      .btx-main-box-select {
        margin-top: 15px;

        .btx-box-select {
          select {
            width: 196px;
            margin-left: 44px;
          }
        }
      }

      input.form-control {
        width: 628px;
        height: 37px;
      }
    }

    .btx-inner-form-five {
      input[type="file"] {
        display: none;
      }

      .btx-upload {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-weight: normal;
        font-size: 16px !important;
        padding: 7px 1rem 6px;
        white-space: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 37px;
        background-color: #0c84c8;
        border-color: #0c84c8;
        color: white !important;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .btx-main-box {
        margin-bottom: 30px;
      }

      input.form-control {
        width: 897px;
        height: 83px;
      }

      .btn-brand {
        margin-left: 5px;
        margin-right: 5px;
        height: 37px;
      }

      .btx-upload-label {
        margin-top: 4px;
        margin-right: 41px;
        color: #0c84c8;
      }

      .btx-suggest {
        margin: 0 10px;
      }

      .btx-suggest-box {
        margin-bottom: 30px;
      }

      .btx-group-btn-box {
        margin-bottom: 7px;
      }
    }
  }

  // ::ng-deep {
  //   .modal {
  //     &.step-two-modal {
  //       .modal-body {
  //         padding: 1.25rem 55px;
  //       }

  //       .form-row {
  //         justify-content: space-between;

  //         .form-group {
  //           flex: 0 0 49%;
  //           max-width: 49%;

  //           .input {
  //             width: 100%;
  //           }

  //           .kt-radio {
  //             margin-top: 5px;
  //           }

  //           &.agent-type {
  //             .kt-radio {
  //               width: 150px;
  //             }
  //           }

  //           &.fluid {
  //             flex: 0 0 100%;
  //             max-width: 100%;
  //           }
  //         }
  //       }

  //       .modal-footer {
  //         justify-content: center;

  //         .btn-group-wrapper {
  //           .btn {
  //             margin-left: 0;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .kt-portlet {
    font-size: 16px;
    font-family: "Noto Sans Thai", "Noto Sans";
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
    }

    .input-wrapper {
      margin: 0 10px;
    }
  }

  // app-tabs.ng-star-inserted[modal_tab] {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: 10000;

  //   .kt-portlet--background {
  //     width: 100%;
  //     height: 100%;
  //     background-color: #aaa;
  //   }

  //   .kt-portlet {
  //     width: 1330px;
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }

  // .div_autocomplete {
  //   color: #6d6e71;
  //   position: absolute;
  //   background: #fff;
  //   border: 1px solid #e2e5ec;
  //   margin-top: 4px;
  //   border-radius: 4px;
  //   box-shadow: 10px 10px 18px 0px #e2e5ec;
  //   z-index: 1;

  //   tr {
  //     line-height: 60px;

  //     &:hover {
  //       background-color: #f4f5f8;
  //     }

  //     td {
  //       padding: 0 12px;
  //     }
  //   }
  // }

  .table-inner {
    input.form-control,
    select.form-control {
      width: 100%;
    }

    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #c31d1d;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #c31d1d;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }

  .flex_none {
    flex: none;
  }

  .btn-create-new {
    & + .btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control,
	// select.form-control {
	//     width: 195px;
	//     height: 37px;
	// }

	.tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #f4f5f8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__head-action {
    & > * + button {
      margin-left: 15px;
    }

    & > * + input {
      margin-left: 15px;
    }

    & > * + label {
      margin-left: 15px;
    }
  }

  .mat-input-element {
    border: 1px solid rgb(226, 229, 236);
  }

  .kt-portlet__body_cover {
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 45px 0 8px 25px;
    position: relative;

    &:nth-child(n + 2) {
      margin-top: 50px;
    }

    .cover {
      position: absolute;
      top: -23px;
      left: 34px;
      padding: 10px 45px;
      background-color: #e5f2f9;
      border-radius: 20px;
      color: #0c84c8;
      font-size: 20px;
    }
  }

  .kt-portlet__body__inner {
    .form-group {
      & > * + button {
        margin-left: 15px;
      }

      & > * + span {
        margin-left: 15px;
      }

      & > * + label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + button {
          margin-left: 0;
        }
      }

      & > button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .td {
      input {
        width: 100%;
      }

      &.edit_delete {
        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .edit_delete {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;
    }
  }

  table {
    border-collapse: collapse;
    color: #626366;
    width: fit-content;

    thead {
      font-weight: bold;
    }

    td {
      padding: 15px 8px 10px;
      text-align: center;
    }

    tbody {
      tr {
        &:nth-child(2n-1) {
          background-color: #f4f5f8;
        }
      }

      td {
        & > * {
          display: inline-flex;
        }

        input {
          width: 50px;
        }

        &.edit_delete,
        &.delete {
          .dip-icon-edit,
          .dip-icon-trash {
            margin: 0 5px;

            &:hover {
              color: #c31d1d;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .footer-eform {
    display: flex;
    position: absolute;
    left: -9px;
    right: 0;
    bottom: 0;
    height: 70px;
    flex-direction: column;

    .progress-bar {
      height: 12px;
      width: 100%;
      background-color: #e7e7e7;

      .bar {
        min-width: 50px;
        height: 100%;
        background-color: #52d69d;
      }
    }

    .summary-and-control {
      flex: 1 1 auto;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-between;

      .summary-progress {
        display: flex;
        align-items: center;
        padding: 5px 15px 0 35px;

        .progress-number {
          display: flex;
          width: 75px;
          font-family: "Noto Sans Thai", "Noto Sans";
          font-weight: 500;
          font-size: 40px;
          color: #149ba9;
          line-height: 40px;
          margin-right: 8px;
          height: 53px;
          overflow: hidden;
          justify-content: flex-end;
          align-items: center;
        }

        .units {
          font-family: "Noto Sans Thai", "Noto Sans";

          .percentage {
            line-height: 20px;
            font-size: 19px;
            font-weight: 500;
            font-family: "Noto Sans Thai", "Noto Sans";
            color: #149ba9;
          }

          .unit {
            font-size: 16px;
            font-weight: normal;
            color: #707070;
            margin-top: -5px;
          }
        }
      }

      .control {
        display: flex;
        align-items: center;
        padding: 0 30px 0 15px;

        .note {
          font-family: "Noto Sans Thai", "Noto Sans";
          font-weight: normal;
          font-size: 16px;
          margin-right: 20px;
        }

        .btn-wrapper {
          display: flex;

          .btn {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .btx-modal-main {
    .inner-wrapper {
      height: 100%;
    }

    .btx-color-label {
      color: white;
      font-size: 20px;
    }
  }
}

::ng-deep {
  .modal {
    &.deactivation-modal {
      .btn + .btn {
        margin-left: 15px;
      }
    }
  }
}
