<div class="container-inner flex">
  <div class="step-panel">
    <!-- STEP ITEM -->
    <ng-container *ngFor="let menu of menuList">
      <div
        *ngIf="menu.isShow"
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: menu.canEdit,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number || menu.canEdit
        }"
      >
        <div
          class="item-name"
          [ngClass]="{ editable: menu.canEdit }"
          (click)="onClickMenu(menu)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            <div
              *ngIf="sub.isShow"
              class="step-sub-item"
              [ngClass]="{
                editable: menu.canEdit,
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
              (click)="onClickSubMenu(menu, sub)"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 1">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [(ngModel)]="input.email"
                  [ngClass]="validate.email ? 'is-invalid' : null"
                  (input)="clearValidate('email')"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.email" class="invalid-feedback">
                    {{ validate.email }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [(ngModel)]="input.telephone"
                  [ngClass]="validate.telephone ? 'is-invalid' : null"
                  (input)="clearValidate('telephone')"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.telephone" class="invalid-feedback">
                    {{ validate.telephone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>

            <!--<button class="btn btn-brand" (click)="cancel()">
                ดูใบคำขอ ก.01
              </button>-->
          </div>
        </div>
      </div>
      <div class="btx-more-suggest">
        <p>
          ระบบจะส่งใบคำขอ ก.19 และ Link สำหรับแก้ไขใบคำขอไปที่ Email สำหรับไฟล์
          หลังทำการบันทึกข้อมูล
        </p>
      </div>
    </div>
    <!-- End Step 1 Form -->

    <!-- Start Step 2 Form -->
    <div class="flex step-basic request-evidence" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              หนังสือขอผ่อนผันการส่งหลักฐาน (ก.19)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-three">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row btx-main-box-select">
                  <div class="btx-box-label">
                    <label>
                      ประเภทค้นหา
                      <span></span>
                    </label>
                  </div>
                  <div class="btx-box-select">
                    <select
                      class="form-control"
                      [(ngModel)]="input.search_type_code"
                      (ngModelChange)="onChangeSearchType()"
                    >
                      <option
                        *ngFor="let item of master.searchTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    {{
                      input.search_type_code == "REQUEST_NUMBER"
                        ? "คำขอเลขที่"
                        : input.search_type_code == "CONTRACT_NUMBER"
                        ? "สัญญาเลขที่"
                        : "ผู้คัดค้านเลขที่"
                    }}
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      [disabled]="!input.isAllowEditRequestNumber"
                      class="form-control input search"
                      [placeholder]="
                        input.search_type_code == 'REQUEST_NUMBER'
                          ? 'กรุณากรอก คำขอเลขที่'
                          : input.search_type_code == 'CONTRACT_NUMBER'
                          ? 'กรุณากรอก สัญญาเลขที่'
                          : 'กรุณากรอก ผู้คัดค้านเลขที่'
                      "
                      [(ngModel)]="input.request_number"
                      [ngClass]="validate.request_number ? 'is-invalid' : null"
                      (input)="clearValidate('request_number')"
                      (keyup)="onKey($event, 'request_number')"
                    />
                    <button
                      [disabled]="!input.isAllowEditRequestNumber"
                      type="button"
                      class="btn btn-brand"
                      (click)="onSearch()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.request_number"
                      class="invalid-feedback"
                    >
                      {{ validate.request_number }}
                    </div>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    ทะเบียนเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      class="form-control input"
                      placeholder=""
                      disabled
                      [(ngModel)]="input.registration_number"
                    />
                  </div>
                </div>
                <div class="input-wrapper-row btx-main-box-select">
                  <div class="btx-box-label">
                    <label>
                      ประเภทผู้แจ้ง
                      <span></span>
                    </label>
                  </div>
                  <div class="btx-box-select">
                    <select
                      class="form-control"
                      [(ngModel)]="input.informer_type_code"
                      (input)="clearValidate('informer_type_code')"
                    >
                      <option
                        *ngFor="let item of input.informerTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 2 Form -->

    <!-- Start Step 3 Form -->
    <div class="owner-and-agent btx-modal-main" *ngIf="currentID == 3">
      <div class="inner-wrapper">
        <div class="form-group flex requester">
          <label class="btx-color-label">
            * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
          </label>
        </div>

        <!-- Owner notifier -->
        <div
          *ngIf="
            input.informer_type_code == 'OWNER' ||
            input.informer_type_code == 'RECEIVER' ||
            input.informer_type_code == 'RECEIVER_PERIOD' ||
            input.informer_type_code == 'CHALLENGER'
          "
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOwnerMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              ผู้แจ้ง
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOwnerMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOwnerMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOwnerMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Agent notifier -->
        <div
          *ngIf="input.informer_type_code == 'REPRESENTATIVE'"
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalAgentFormOpen', undefined, 'listAgentMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption">
              เพิ่มตัวแทน <br />
              ผู้แจ้ง <span class="note">(ถ้ามี)</span>
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listAgentMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalAgentFormOpen', i, 'listAgentMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listAgentMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="form-group flex"
          *ngIf="
            input.informer_type_code == 'REPRESENTATIVE' &&
            input.listAgentMark.length > 0
          "
        >
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน*
          </label>

          <div class="input-wrapper">
            <select
              required
              class="form-control"
              [(ngModel)]="input.save190_representative_condition_type_code"
              (input)="
                clearValidate('save190_representative_condition_type_code')
              "
            >
              <option
                *ngFor="
                  let item of master.addressRepresentativeConditionTypeCodeList
                "
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>

        <!-- Other notifier -->
        <div
          *ngIf="input.informer_type_code == 'OTHERS'"
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOtherMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOtherMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOtherMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOtherMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group step-three-next">
          <div class="input-wrapper">
            <div class="feedback-wrapper">
              <div *ngIf="validate.step3" class="invalid-feedback">
                {{ validate.step3 }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="onClickNext()"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 3 Form -->

    <!-- Start Step 4 Form -->
    <div class="flex domestic-contact-address" *ngIf="currentID == 4">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. รายละเอียดการขอผ่อนผัน
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-domestic-contact-address">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <div class="input-wrapper-row">
                    <div class="btx-box-label">
                      <label>
                        ขอผ่อนผันส่งเอกสารหลักฐานประกอบ
                        <span></span>
                      </label>
                    </div>
                    <div class="btx-box-select">
                      <select
                        class="form-control btx-select-one"
                        [(ngModel)]="input.save190_request_type_code"
                      >
                        <option
                          *ngFor="let item of master.requestTypeCodeList"
                          [value]="item.code"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="input-wrapper-row">
                    <div class="btx-box-label">
                      <label>
                        ออกไปอีกเป็น
                        <span></span>
                      </label>
                    </div>
                    <div class="btx-box-select">
                      <input
                        class="form-control btx-select-two"
                        type="text"
                        [(ngModel)]="input.postpone_day"
                        [ngClass]="validate.postpone_day ? 'is-invalid' : null"
                        (input)="clearValidate('postpone_day')"
                      />
                      <div class="feedback-wrapper">
                        <div
                          *ngIf="validate.postpone_day"
                          class="invalid-feedback"
                        >
                          {{ validate.postpone_day }}
                        </div>
                      </div>
                    </div>
                    <div class="btx-box-label">
                      <label>
                        วัน
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column btx-suggest-box">
                  <span class="note">
                    <i class="dip-icon-info-circle"></i>
                    <label class="btx-suggest"
                      >สามารถขอได้ 1 ครั้ง ไม่เกิน 60 วัน
                      นับตั้งแต่วันที่ยื่นหนังสือนี้</label
                    >
                  </span>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 4 Form -->

    <!-- Start Step 5 Form -->
    <div class="flex step-basic" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. เอกสารหลักฐานที่ขอผ่อนผัน
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-five">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column btx-main-box">
                  <label>
                    ระบุ
                  </label>
                  <div class="flex">
                    <textarea
                      class="form-control textarea"
                      type="text"
                      rows="5"
                      placeholder=""
                      [(ngModel)]="input.remark_5"
                    ></textarea>
                  </div>
                </div>
                <!-- <div class="input-wrapper-row flex-column">
                  <div class="flex btx-group-btn-box">
                    <label class="btx-upload-label">หลักฐานประกอบ</label>
                    <label class="btn btn-brand btx-upload">
                      <input
                        type="file"
                        size="60"
                      >
                      <i class="dip-icon-upload-circle"></i>แนบไฟล์
                    </label>
                  </div>
                  <div class="flex btx-group-btn-box">
                    <label class="btx-upload-label">เอกสารเพิ่มเติม แนบ ก.11</label>
                    <label class="btn btn-brand btx-upload">
                      <input
                        type="file"
                        size="60"
                      >
                      <i class="dip-icon-upload-circle"></i>แนบไฟล์
                    </label>

                    <label class="btn btn-brand btx-upload">
                      <input
                        type="file"
                        size="60"
                      >
                      <i class="dip-icon-upload-circle"></i>ดาวน์โหลดฟอร์ม
                    </label>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">

                </div>
                <div class="input-wrapper-row flex-column btx-suggest-box">
                  <span class="note">
                    <i class="dip-icon-info-circle"></i>
                    <label class="btx-suggest"> กรุณาแนบไฟล์รุปแบบ .pdf เท่านั้น</label>
                  </span>
                </div> -->
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 5 Form -->

    <!-- Start Step 6 Form -->
    <div class="flex step-basic" *ngIf="currentID == 6">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}.
              ข้าพเจ้าขอรับรองว่าจะส่งเอกสารหลักฐานภายในกำหนดเวลาดังกล่าวหากไม่สามารถปฏิบัติได้
              ให้พิจารณาเอกสารหลักฐานตามที่ได้นำส่งไว้แล้ว(ถ้ามี)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-five">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column btx-main-box">
                  <label>
                    ระบุ
                  </label>
                  <div class="flex">
                    <textarea
                      class="form-control textarea"
                      type="text"
                      rows="5"
                      placeholder=""
                      [(ngModel)]="input.remark_6"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 6 Form -->

    <!-- Start Step 7 Form -->
    <div class="flex step-basic finish" *ngIf="this.currentID == 7">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. เสร็จสิ้น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <!-- Owner notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'OWNER'"
          >
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step7')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <!-- Agent notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'REPRESENTATIVE'"
          >
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save190_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step7')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save190_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.listAgentMark"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step7')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <!-- Other notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'OTHERS'"
          >
            <div class="caption">
              ลงลายมือชื่อ
            </div>
            <div class="form-group">
              <label
                *ngFor="let item of input.listOtherMark"
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignatureList(item, 'isCheck')"
                  [checked]="item.isCheck"
                  (input)="clearValidate('step7')"
                />
                {{ item.name }}
                <span></span>
              </label>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step7" class="invalid-feedback">
                  {{ validate.step7 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfA19()">
              ดูใบคำขอ ก.19
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 7 Form -->

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Step 3 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลเจ้าของเครื่องหมาย'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้รับมอบอำนาจ (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
  </div>
</app-popup>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
