:host .modal {
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

:host .modal.popup .modal-dialog .modal-content {
  border-radius: 10px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
}

:host .modal.popup .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  padding: 0;
  justify-content: center;
  height: 50px;
}

:host .modal.popup .modal-dialog .modal-content .modal-header .icon-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F5F8;
  transform: translateY(-50%);
}

:host .modal.popup .modal-dialog .modal-content .modal-header .icon-wrapper i {
  font-size: 40px;
  color: white;
}

:host .modal.popup .modal-dialog .modal-content .modal-body {
  text-align: center;
  font-size: 16px;
  color: #6D6E71;
}

:host .modal.popup .modal-dialog .modal-content .modal-body .popup-title {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

:host .modal.popup .modal-dialog .modal-content .modal-footer {
  border-top: 0;
  padding-top: 0;
}

:host .modal.popup .modal-dialog .modal-content .modal-footer .footer-children {
  width: 100%;
}

:host .modal.popup .modal-dialog .modal-content .modal-footer ::ng-deep .btn.default {
  width: 100%;
}

:host .modal.popup .modal-dialog.popup-sm {
  max-width: 300px;
}

:host .modal.popup .modal-dialog.popup-md {
  max-width: 450px;
}

:host .modal.popup .modal-dialog.popup-lg {
  max-width: 600px;
}

:host .modal.popup.success .modal-dialog .modal-content .modal-header .icon-wrapper {
  background-color: #79C648;
}

:host .modal.popup.success .modal-dialog .modal-footer ::ng-deep .btn-group-wrapper {
  justify-content: center;
}

:host .modal.popup.success .modal-dialog .modal-footer ::ng-deep .btn-group-wrapper .btn {
  width: 40%;
}

:host .modal.popup.confirm-delete .modal-dialog .modal-content .modal-header .icon-wrapper {
  background-color: #C31D1D;
}

:host .modal.popup.confirm-delete .modal-dialog .modal-content .modal-header .icon-wrapper .popup-icon {
  width: 35px;
  height: auto;
}

:host .modal.popup.confirm-delete .modal-dialog .modal-footer ::ng-deep .btn-group-wrapper {
  justify-content: space-between;
}

:host .modal.popup.confirm-delete .modal-dialog .modal-footer ::ng-deep .btn-group-wrapper .btn {
  width: 40%;
}

:host .modal.show {
  display: block;
}
