:host {
  .modal {
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;

    &.popup {
      .modal-dialog {
        .modal-content {
          border-radius: 10px;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-weight: normal;

          .modal-header {
            border-bottom: 0;
            padding: 0;
            justify-content: center;
            height: 50px;

            .icon-wrapper {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #F4F5F8;
              transform: translateY(-50%);

              i {
                font-size: 40px;
                color: white;
              }
            }
          }

          .modal-body {
            text-align: center;
            font-size: 16px;
            color: #6D6E71;

            .popup-title {
              text-align: center;
              font-size: 26px;
              font-weight: 500;
            }
          }

          .modal-footer {
            border-top: 0;
            padding-top: 0;

            .footer-children {
              width: 100%;
            }

            ::ng-deep {
              .btn {
                &.default {
                  width: 100%;
                }
              }
            }
          }
        }

        &.popup-sm {
          max-width: 300px;
        }

        &.popup-md {
          max-width: 450px;
        }

        &.popup-lg {
          max-width: 600px;
        }
      }

      &.success {
        .modal-dialog {
          .modal-content {
            .modal-header {
              .icon-wrapper {
                background-color: #79C648;
              }
            }
          }

          .modal-footer {
            ::ng-deep {
              .btn-group-wrapper {
                justify-content: center;

                .btn {
                  width: 40%;
                }
              }
            }
          }
        }
      }

      &.confirm-delete {
        .modal-dialog {
          .modal-content {
            .modal-header {
              .icon-wrapper {
                background-color: #C31D1D;

                .popup-icon {
                  width: 35px;
                  height: auto;
                }
              }
            }
          }

          .modal-footer {
            ::ng-deep {
              .btn-group-wrapper {
                justify-content: space-between;

                .btn {
                  width: 40%;
                }
              }
            }
          }
        }
      }
    }

    &.show {
      display: block;
    }
  }
}
