<div class="modal popup {{className}}">
  <div class="modal-dialog {{popupSize}} {{popupVerticalCenter}}">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-wrapper">
          <i class="{{Icon}}"></i>
        </div>
      </div>

      <div class="modal-body">
        <div class="popup-title">
          {{title}}
        </div>
        <div class="popup-content">
          <ng-content select=[body-children]></ng-content>
        </div>
      </div>

      <div class="modal-footer">
        <div
          #popupFooterChildren
          class="footer-children"
          [ngClass]="{'hidden': !popupFooterChildren.hasChildNodes()}"
        >
          <ng-content select=[footer-children]></ng-content>
        </div>

        <ng-template
          #popupFooterDefault
          class="footer-default"
          [ngIf]="!popupFooterChildren.hasChildNodes()"
        >
          <button
            type="button"
            class="btn btn-brand default"
            (click)="_onClickClose()"
          >
            ตกลง
          </button>
        </ng-template>
      </div>
    </div>
  </div>
