:host .container-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
}

:host .container-inner .step-panel {
  width: 320px;
  flex: 0 0 320px;
  height: 100%;
  overflow-y: scroll;
  background-color: #E7E7E7;
  box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);
}

:host .container-inner .step-panel .step-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  min-height: 53px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 16px;
}

:host .container-inner .step-panel .step-item .item-name {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 53px;
  padding: 10px 15px 10px 25px;
}

:host .container-inner .step-panel .step-item .item-name:before {
  content: '\0076';
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #B7B7B7;
  margin-right: 13px;
  padding-bottom: 2px;
}

:host .container-inner .step-panel .step-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.required .item-name:before {
  content: '\0075';
  color: #707070;
}

:host .container-inner .step-panel .step-item.passed .item-name {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.passed .item-name:before {
  content: '\0074';
  color: #149BA9;
  font-size: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item {
  flex-wrap: wrap;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name {
  position: relative;
  padding-right: 30px;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name:after {
  content: '\0048';
  position: absolute;
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #B7B7B7;
  padding-bottom: 2px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-items {
  height: 0;
  overflow: hidden;
  width: 100%;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  height: 53px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  color: #707070;
  font-size: 16px;
  width: 100%;
  padding-right: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.has-sub-item.passed .item-name:after {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .item-name:after {
  transform: translateY(-65%) rotate(180deg);
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .step-sub-items {
  height: auto;
}

:host .container-inner .eform-content {
  flex: 1 1 auto;
  position: relative;
  padding: 5px 5px 45px;
}

:host .container-inner .eform-content .input-wrapper-row .flex select.form-control {
  margin-left: 15px;
  width: 270px;
}

:host .container-inner .eform-content .owner-and-agent {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper {
  max-height: 100%;
  overflow-y: auto;
  padding: 40px 20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group .col-form-label {
  color: white;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group select.form-control {
  max-width: 195px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .owner-row {
  padding-bottom: 25px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card {
  background-color: white;
  width: 300px;
  height: 336px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  color: #707070;
  margin-right: 20px;
  border-radius: 0;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .name {
  font-size: 20px;
  font-weight: 500;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .address {
  margin-top: 29px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .mobile {
  margin-top: 29px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators {
  margin-top: 43px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn {
  width: 50px;
  height: 50px;
  margin: 0 6px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit {
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit i {
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:hover {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:active {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:focus {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete {
  border: 1px solid #FDCCCC;
  background-color: #FAE6E6;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete i {
  color: #C31D1D;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:hover {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:focus {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:active {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more {
  cursor: pointer;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper i {
  font-size: 28px;
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption {
  font-size: 30px;
  color: #0C84C8;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption .note {
  font-size: 20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required {
  position: relative;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required:after {
  content: '*';
  display: flex;
  position: absolute;
  bottom: 0;
  right: -20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more:hover {
  box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
}

:host .container-inner .eform-content .domestic-contact-address {
  height: 100%;
  overflow: auto;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__head {
  border-radius: 0;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-group .input-wrapper-row .flex {
  margin-bottom: 20px;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-group .input-wrapper-row .flex .kt-radio {
  margin-bottom: 0;
  margin-top: 8px;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row {
  justify-content: space-between;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row .form-group .input {
  width: 100%;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row .form-group .col-form-label {
  justify-content: flex-start;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row .form-group .kt-radio {
  margin-top: 5px;
}

:host .container-inner .eform-content .domestic-contact-address .kt-portlet .kt-portlet__body__inner.select-domestic-contact-address .form-row .form-group.fluid {
  flex: 0 0 100%;
  max-width: 100%;
}

:host .container-inner .eform-content .brand-logo-image {
  height: 100%;
  overflow: auto;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__head {
  border-radius: 0;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-type .kt-radio {
  width: 260px;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-upload .col-form-label .note {
  font-size: 16px;
  color: #707070;
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-weight: normal;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-upload .col-form-label .note i {
  margin-right: 10px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row .form-control {
  width: 55px;
  min-width: 55px;
  text-align: center;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row .multiply {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  color: #707070;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row .btn {
  margin-left: 20px;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row .note {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

:host .container-inner .eform-content .brand-logo-image .kt-portlet .kt-portlet__body__inner.brand-logo-image-form .form-group.brand-logo-image-dimension-size .input-wrapper-row .note i {
  margin-right: 10px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-sound {
  height: 100%;
  overflow: auto;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__head {
  border-radius: 0;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form {
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #C6C6C6;
  padding-top: 20px;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group {
  width: 100%;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group .col-form-label {
  min-width: 0;
  margin-right: 40px;
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group .kt-radio {
  margin-right: 30px;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group .note {
  font-size: 16px;
  color: #707070;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group .note i {
  margin-right: 10px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group.upload .label-wrapper-row .upload-btn-wrapper {
  width: auto;
}

:host .container-inner .eform-content .brand-logo-sound .kt-portlet .kt-portlet__body__inner.brand-logo-sound-form .brand-logo-sound-own-form .form-group.upload .label-wrapper-row .upload-btn-wrapper .upload-input-wrapper {
  width: auto;
}

:host .container-inner .eform-content .logo-color-group {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner.select-tutelage {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner.select-tutelage .logo-color-group-detail-form {
  width: 100%;
}

:host .container-inner .eform-content .logo-three-dememsions-group {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner.select-tutelage {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner.select-tutelage .logo-three-dememsions-group-detail-form {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner .btn {
  margin: 0 10px;
}

:host .container-inner .eform-content .step-basic {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .step-basic .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner {
  padding: 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group.otop-id .col-form-label {
  font-size: 16px;
  color: #6D6E71;
  margin: 0;
  padding: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group.otop-id .input {
  min-width: 350px;
  margin-left: 20px;
}

:host .container-inner .eform-content .step-page {
  width: 100%;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host .container-inner .eform-content .step-page .step-header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
}

:host .container-inner .eform-content .step-page .step-header .step-page-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 30px;
  font-weight: normal;
  color: white;
}

:host .container-inner .eform-content .step-page .step-body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 37px;
  flex-grow: 1;
  align-content: flex-start;
}

:host .container-inner .eform-content .step-page .step-body .action-panel {
  width: 100%;
  margin-bottom: 17px;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note {
  font-size: 16px;
  color: #707070;
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-weight: normal;
  text-decoration: none;
  color: #0C84C8;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note i {
  margin-right: 15px;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note span {
  text-decoration: underline;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .right-panel .content {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: normal;
  color: #0C84C8;
  margin-right: 30px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td {
  background-color: #F4F5F8;
  padding: 15px 10px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td .form-control {
  width: 100%;
  min-width: 0;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.reading-translation-foreign-language-type {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.reading {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.translation {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 170px;
  max-width: 170px;
  justify-content: flex-end;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation .btn {
  margin-right: 10px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation .btn.edit {
  color: #0C84C8;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr.header .td {
  font-weight: normal;
  font-size: 20px;
  background-color: white;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr.header .td.order {
  padding: 0;
  justify-content: flex-start;
  padding-right: 5px;
}

:host .container-inner .eform-content .step-page .step-body .footer {
  width: 100%;
}

:host .container-inner .eform-content .step-page .step-footer {
  background-color: white;
  padding: 30px 37px;
}

:host .container-inner .eform-content .step-page .step-page-summary {
  display: flex;
  justify-content: flex-end;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: normal;
  color: white;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block .data {
  font-size: 30px;
  margin-left: 30px;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block:last-child {
  margin-right: 0;
}

:host .container-inner .eform-content .reading-translation-foreign-language {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.reading-translation-foreign-language-type {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.reading {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.translation {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 170px;
  max-width: 170px;
  justify-content: flex-end;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation .btn {
  margin-right: 10px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation .btn.edit {
  color: #0C84C8;
}

:host .container-inner .eform-content .product-service-group {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.group {
  flex: 0 0 110px;
  max-width: 110px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.product-service-name {
  flex: 1 1 600px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.amount {
  flex: 0 0 190px;
  max-width: 190px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.fee {
  flex: 0 0 210px;
  max-width: 210px;
  justify-content: center;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: flex-end;
}

:host .container-inner .eform-content .supporting-documents {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card {
  background-color: white;
  min-height: 70px;
  width: 100%;
  padding: 18px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox {
  margin-right: 15px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox i {
  color: #0C84C8;
  font-size: 34px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .check-list-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row {
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row .form-group {
  flex: none;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row.two-column .form-group {
  width: 49%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row.three-column .form-group {
  width: 32%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-control {
  width: 100%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form.show {
  display: flex;
  padding: 15px 20px;
  margin-top: 15px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card.checked {
  background-color: #CEFFEA;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-footer {
  background-color: transparent;
}

:host .container-inner .eform-content .footer-eform {
  display: flex;
  position: absolute;
  left: -9px;
  right: 0;
  bottom: 0;
  height: 70px;
  flex-direction: column;
}

:host .container-inner .eform-content .footer-eform .progress-bar {
  height: 12px;
  width: 100%;
  background-color: #E7E7E7;
}

:host .container-inner .eform-content .footer-eform .progress-bar .bar {
  min-width: 50px;
  height: 100%;
  background-color: #52D69D;
}

:host .container-inner .eform-content .footer-eform .summary-and-control {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress {
  display: flex;
  align-items: center;
  padding: 5px 15px 0 35px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .progress-number {
  display: flex;
  width: 75px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 500;
  font-size: 40px;
  color: #149BA9;
  line-height: 40px;
  margin-right: 8px;
  height: 53px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .percentage {
  line-height: 20px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  color: #149BA9;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .unit {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-top: -5px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control {
  display: flex;
  align-items: center;
  padding: 0 30px 0 15px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  margin-right: 20px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper {
  display: flex;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper .btn {
  margin-left: 15px;
}

:host ::ng-deep .modal.step-two-modal .modal-body {
  padding: 1.25rem 55px;
}

:host ::ng-deep .modal.step-two-modal .form-row {
  justify-content: space-between;
}

:host ::ng-deep .modal.step-two-modal .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
}

:host ::ng-deep .modal.step-two-modal .form-row .form-group .input {
  width: 100%;
}

:host ::ng-deep .modal.step-two-modal .form-row .form-group .kt-radio {
  margin-top: 5px;
}

:host ::ng-deep .modal.step-two-modal .form-row .form-group.agent-type .kt-radio {
  width: 150px;
}

:host ::ng-deep .modal.step-two-modal .form-row .form-group.fluid {
  flex: 0 0 100%;
  max-width: 100%;
}

:host ::ng-deep .modal.step-two-modal .modal-footer {
  justify-content: center;
}

:host ::ng-deep .modal.step-two-modal .modal-footer .btn-group-wrapper .btn {
  margin-left: 0;
}

button.btn.btn-primary {
  background-color: #0C84C8 !important;
  border-color: #0C84C8 !important;
  color: white !important;
}

button.btn.btn-primary:hover {
  background-color: #0a6ea9 !important;
}
