:host {
  .container-inner {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Noto Sans Thai";

    label {
      color: #6D6E71;
      font-size: 20px;
    }

    .step-panel {
      width: 320px;
      flex: 0 0 320px;
      height: 100%;
      overflow-y: scroll;
      background-color: #E7E7E7;
      box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);

      .step-item {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        min-height: 53px;
        display: flex;
        align-items: center;
        color: #707070;
        font-size: 16px;

        .item-name {
          display: flex;
          align-items: center;
          width: 100%;
          min-height: 53px;
          padding: 10px 15px 10px 25px;

          &.editable {
            cursor: pointer;
          }

          &:before {
            content: '\0076';
            display: flex;
            font-family: 'dip font icon';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            color: #B7B7B7;
            margin-right: 13px;
            padding-bottom: 2px;
          }
        }

        &.current {
          background-color: #E0E0E0;
        }

        &.required {
          .item-name {
            &:before {
              content: '\0075';
              color: #707070;
            }
          }
        }

        &.passed {
          .item-name {
            color: #149BA9;

            &:before {
              content: '\0074';
              color: #149BA9;
              font-size: 15px;
            }
          }
        }

        &.has-sub-item {
          flex-wrap: wrap;

          .item-name {
            position: relative;
            padding-right: 30px;

            &:after {
              content: '\0048';
              position: absolute;
              display: flex;
              font-family: 'dip font icon';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 15px;
              color: #B7B7B7;
              padding-bottom: 2px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .step-sub-items {
            height: 0;
            overflow: hidden;
            width: 100%;
          }

          .step-sub-item {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            height: 53px;
            display: flex;
            align-items: center;
            padding-left: 75px;
            color: #707070;
            font-size: 16px;
            width: 100%;
            padding-right: 15px;

            &.current {
              background-color: #E0E0E0;
            }
          }

          &.is-open {
            .item-name {
              &:after {
                transform: translateY(-65%) rotate(180deg);
              }
            }

            .step-sub-items {
              height: auto;
            }
          }
        }
      }
    }

    .eform-content {
      flex: 1 1 auto;
      position: relative;
      padding: 5px 5px 45px;

      .input-wrapper-row {
        .flex {
          select {
            &.form-control {
              margin-left: 15px;
              width: 270px;
            }
          }
        }
      }

      .owner-and-agent {
        height: 100%;
        padding: 60px 80px 120px;

        .inner-wrapper {
          max-height: 100%;
          overflow-y: auto;
          // padding: 40px 20px;

          .form-group {
            .col-form-label {
              color: white;
            }

            select {
              &.form-control {
                max-width: 195px;
              }
            }
          }

          .owner-row {
            padding-bottom: 25px;
          }

          .card {
            position: relative;
            background-color: white;
            width: 300px;
            height: 343px;
            // height: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 30px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            font-size: 16px;
            color: #707070;
            margin-right: 20px;
            border-radius: 0;

            &.view {
              width: 730px;
              height: 100%;
              min-height: 343px;
              max-height: 343px;
              justify-content: flex-start;
            }

            .operators {
              // margin-top: 30px;
              position: absolute;
              bottom: 40px;

              .btn {
                width: 50px;
                height: 50px;
                margin: 0 6px;

                &.edit {
                  border: 1px solid #CCEBFD;
                  background-color: #E6F2FA;

                  i {
                    color: #0C84C8;
                  }

                  &:hover {
                    background-color: #C1E6FF;
                  }

                  &:active {
                    background-color: #C1E6FF;
                  }

                  &:focus {
                    background-color: #C1E6FF;
                  }
                }

                &.delete {
                  border: 1px solid #FDCCCC;
                  background-color: #FAE6E6;

                  i {
                    color: #C31D1D;
                  }

                  &:hover {
                    background-color: #FFBEBE;
                  }

                  &:focus {
                    background-color: #FFBEBE;
                  }

                  &:active {
                    background-color: #FFBEBE;
                  }
                }
              }
            }

            &.add-more {
              cursor: pointer;

              .icon-wrapper {
                width: 107px;
                height: 107px;
                border-radius: 50%;
                border: 1px solid #CCEBFD;
                background-color: #E6F2FA;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 28px;
                  color: #0C84C8;
                }
              }

              .caption {
                font-size: 30px;
                color: #0C84C8;
                margin-top: 35px;
                text-align: center;
                font-weight: 500;

                .note {
                  font-size: 20px;
                }

                &.required {
                  position: relative;

                  &:after {
                    content: '*';
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63)
              }
            }

            .table {
              .table-inner {
                .tr {
                  .td {
                    padding: 15px 15px;
                    color: #9A9A9A;
                    background-color: #FFFFFF;
                    align-items: flex-start;

                    &.order {
                    flex: 0 0 45px;
                    max-width: 45px;
                    }

                    &.name {
                    flex: 1 1 160px;
                    }

                    &.address {
                    flex: 1 1 250px;
                    word-break: break-word;
                    }

                    &.mobile {
                    flex: 1 1 90px;
                    }
                  }

                  &.header {
                    .td {
                      font-weight: normal;
                      font-size: 20px;
                      color: #707070;

                      &.order {
                        justify-content: flex-start;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .finish {
        .signature-select {
          width: 100%;
          margin-bottom: 15px;

          .caption {
            color: #0c84c8;
            font-size: 18px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
          }

          .form-group {
            padding-left: 15px;
          }
        }

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .kt-portlet__footer__inner {
          width: 100%;

          .btn {
            margin: 0 10px;
          }
        }

        .btx-more-suggest {
          width: 96%;
          position: absolute;
          bottom: 152px;
          font-size: 20px;
          text-align: center;
          color:#fff
        }
      }

      .step-basic {
        height: 100%;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }
          }

          .kt-portlet__body__inner {
            padding: 0 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0C84C8;
                justify-content: flex-start;
              }
            }

            .checked {
              .form-group {
                padding-left: 10px;

                .input {
                  width: 270px;
                  // margin-left: 15px;
                }

                .col-form-label {
                  font-size: 20px;
                  color: #6D6E71;
                }
              }
            }
          }

          .kt-portlet__footer__inner {
            padding: 25px;
            flex-wrap: wrap;

            .form-group {
              width: 100%;

              .col-form-label {
                font-size: 20px;
                color: #0C84C8;
                justify-content: flex-start;
              }
            }
          }
        }
      }

      .step-page {
        width: 100%;
        padding: 0 75px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .step-header {
          width: 100%;
          margin-bottom: 25px;
          display: flex;

          .step-page-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 30px;
            font-weight: normal;
            color: white;
          }
        }

        .step-body {
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          padding: 30px 37px;
          flex-grow: 1;
          align-content: flex-start;
        }
      }

      .supporting-documents {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .step-page {
          .step-header {
            margin-bottom: 0px;
          }

          .step-body {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            .check-list-card {
              background-color: white;
              min-height: 70px;
              width: 100%;
              padding: 18px;
              flex-wrap: wrap;
              margin-bottom: 16px;

              .kt-checkbox {
                i {
                  color: #0C84C8;
                  font-size: 34px;
                }

                margin-right: 15px;
              }

              .check-list-title {
                font-family: 'Noto Sans Thai',
                  'Noto Sans';
                font-size: 20px;
                font-weight: 500;
                color: #707070;
              }

              &.checked {
                background-color: #CEFFEA;
              }
            }
          }
        }

        .kt-checkbox>input {
          i {
            color: red;
          }
        }
      }

      .notifying-prosecution {
        overflow: auto;

        .input-wrapper {
          margin: 0 16px;

          .btx-input-date {
            margin: 0;
            width: 119px;
          }
        }

        .form-group + .form-group{
          margin-bottom: 20px;
        }

        .btn-create-new {
          width: 50px;
          height: 94px;
        }

        .textarea {
          width: 788px;
        }
      }

      .court-case {
        .input-wrapper-row {
          margin-bottom: 5px;
        }
      }

      .international-detail {
        .kt-portlet {
          .kt-portlet__body__inner {
            .form-group {
              .col-form-label {
                color: #6D6E71;
              }
            }
          }
        }

        .form-group .col-form-label {
          width: 40%;
          margin-right: 15px;
        }

        .input {
          width: 266px;
        }

        input.form-control {
          margin-right: 0;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .form-group {
          margin-bottom: 30px;
          margin-top: 20px;
          padding-left: 50px
        }
      }

      .footer-eform {
        display: flex;
        position: absolute;
        left: -9px;
        right: 0;
        bottom: 0;
        height: 70px;
        flex-direction: column;

        .progress-bar {
          height: 12px;
          width: 100%;
          background-color: #E7E7E7;

          .bar {
            min-width: 50px;
            height: 100%;
            background-color: #52D69D;
          }
        }

        .summary-and-control {
          flex: 1 1 auto;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;

          .summary-progress {
            display: flex;
            align-items: center;
            padding: 5px 15px 0 35px;

            .progress-number {
              display: flex;
              width: 75px;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: 500;
              font-size: 40px;
              color: #149BA9;
              line-height: 40px;
              margin-right: 8px;
              height: 53px;
              overflow: hidden;
              justify-content: flex-end;
              align-items: center;
            }

            .units {
              font-family: 'Noto Sans Thai', 'Noto Sans';

              .percentage {
                line-height: 20px;
                font-size: 19px;
                font-weight: 500;
                font-family: 'Noto Sans Thai', 'Noto Sans';
                color: #149BA9;
              }

              .unit {
                font-size: 16px;
                font-weight: normal;
                color: #707070;
                margin-top: -5px;
              }
            }
          }

          .control {
            display: flex;
            align-items: center;
            padding: 0 30px 0 15px;

            .note {
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              font-size: 16px;
              margin-right: 20px;
              color: #707070;
            }

            .btn-wrapper {
              display: flex;

              .btn {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    .btx-inner-form-three {
      input[type="file"] {
        display: none;
      }

      input {
        background-color: #F6F7FA;
      }

      input.search {
        background-color: white;
      }

      .btx-upload {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        font-size: 16px !important;
        padding: 7px 1rem 6px;
        white-space: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 37px;
        background-color: #0C84C8;
        border-color: #0C84C8;
        color: white !important;
        margin: 0px 6px;
      }

      .input-wrapper {
        margin: 0px;

        .input-wrapper-row>label,
        .btx-upload-group>label {
          color: #0C84C8;
        }

        .btx-upload-group {
          margin: 10px 0px;
        }

        .btx-upload-label {
          margin-right: 50px;
        }

        button {
          margin-left: 10px;
          width: 101px;
          height: 37px;
        }

        .btx-box-label label {
          margin-top: 7px;
          margin-right: 24px;
        }

        input.btx-input-date {
          width: 89px;
          height: 37px;
          margin: 0px 16px;
          padding: 0.65rem 1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          border: 1px solid #e2e5ec;
          border-radius: 4px;
        }

        .datepicker-form {
          width: 270px;
          height: 37px;
        }
      }

      .flex.input-wrapper {
        // margin-bottom: 20px;

        .btx-num-date,
        .btx-num-kadee {
          font-size: 16px;
          margin-top: 6px;
        }

        .input-with-icon.datepicker {
          margin-left: 23px;
          margin-right: 16px;
        }
      }

      .btx-main-box-select-second-form {
        margin: 21px 0px;

        .btx-box-select {
          select {
            width: 196px;
            margin-left: 44px;
          }
        }
      }

      input.form-control {
        // width: 696px;
        width: 100%;
        height: 37px;
        margin-right: 16px;
      }
    }

    .btx-modal-main {
      .inner-wrapper {
        height: 100%;
      }

      .btx-next-btn button {
        margin: auto;
      }

      .btx-color-label {
        color: white;
        font-size: 20px;
      }
    }

    .kt-portlet span {
      font-family: "Noto Sans Thai", "Noto Sans";
      font-size: 16px;
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-box;
      display: flex;
      font-weight: normal;
      color: #6d6e71;
    }
  }
}

::ng-deep {
  .modal {
    &.deactivation-modal {
      .btn + .btn {
        margin-left: 15px;
      }
    }
  }
}