:host .container-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: "Noto Sans Thai";
}

:host .container-inner label {
  color: #6D6E71;
  font-size: 20px;
}

:host .container-inner .step-panel {
  width: 320px;
  flex: 0 0 320px;
  height: 100%;
  overflow-y: scroll;
  background-color: #E7E7E7;
  box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);
}

:host .container-inner .step-panel .step-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  min-height: 53px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 16px;
}

:host .container-inner .step-panel .step-item .item-name {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 53px;
  padding: 10px 15px 10px 25px;
}

:host .container-inner .step-panel .step-item .item-name.editable {
  cursor: pointer;
}

:host .container-inner .step-panel .step-item .item-name:before {
  content: '\0076';
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #B7B7B7;
  margin-right: 13px;
  padding-bottom: 2px;
}

:host .container-inner .step-panel .step-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.required .item-name:before {
  content: '\0075';
  color: #707070;
}

:host .container-inner .step-panel .step-item.passed .item-name {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.passed .item-name:before {
  content: '\0074';
  color: #149BA9;
  font-size: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item {
  flex-wrap: wrap;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name {
  position: relative;
  padding-right: 30px;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name:after {
  content: '\0048';
  position: absolute;
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #B7B7B7;
  padding-bottom: 2px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-items {
  height: 0;
  overflow: hidden;
  width: 100%;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  height: 53px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  color: #707070;
  font-size: 16px;
  width: 100%;
  padding-right: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .item-name:after {
  transform: translateY(-65%) rotate(180deg);
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .step-sub-items {
  height: auto;
}

:host .container-inner .eform-content {
  flex: 1 1 auto;
  position: relative;
  padding: 5px 5px 45px;
}

:host .container-inner .eform-content .input-wrapper-row .flex select.form-control {
  margin-left: 15px;
  width: 270px;
}

:host .container-inner .eform-content .owner-and-agent {
  height: 100%;
  padding: 60px 80px 120px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper {
  max-height: 100%;
  overflow-y: auto;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group .col-form-label {
  color: white;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group select.form-control {
  max-width: 195px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .owner-row {
  padding-bottom: 25px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card {
  position: relative;
  background-color: white;
  width: 300px;
  height: 343px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 30px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  color: #707070;
  margin-right: 20px;
  border-radius: 0;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.view {
  width: 730px;
  height: 100%;
  min-height: 343px;
  max-height: 343px;
  justify-content: flex-start;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators {
  position: absolute;
  bottom: 40px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn {
  width: 50px;
  height: 50px;
  margin: 0 6px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit {
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit i {
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:hover {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:active {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:focus {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete {
  border: 1px solid #FDCCCC;
  background-color: #FAE6E6;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete i {
  color: #C31D1D;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:hover {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:focus {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:active {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more {
  cursor: pointer;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper i {
  font-size: 28px;
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption {
  font-size: 30px;
  color: #0C84C8;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption .note {
  font-size: 20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required {
  position: relative;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required:after {
  content: '*';
  display: flex;
  position: absolute;
  bottom: 0;
  right: -20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more:hover {
  box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr .td {
  padding: 15px 15px;
  color: #9A9A9A;
  background-color: #FFFFFF;
  align-items: flex-start;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr .td.order {
  flex: 0 0 45px;
  max-width: 45px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr .td.name {
  flex: 1 1 160px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr .td.address {
  flex: 1 1 250px;
  word-break: break-word;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr .td.mobile {
  flex: 1 1 90px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr.header .td {
  font-weight: normal;
  font-size: 20px;
  color: #707070;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .table .table-inner .tr.header .td.order {
  justify-content: flex-start;
}

:host .container-inner .eform-content .finish .signature-select {
  width: 100%;
  margin-bottom: 15px;
}

:host .container-inner .eform-content .finish .signature-select .caption {
  color: #0c84c8;
  font-size: 18px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
}

:host .container-inner .eform-content .finish .signature-select .form-group {
  padding-left: 15px;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner .btn {
  margin: 0 10px;
}

:host .container-inner .eform-content .finish .btx-more-suggest {
  width: 96%;
  position: absolute;
  bottom: 152px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

:host .container-inner .eform-content .step-basic {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .step-basic .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .checked .form-group {
  padding-left: 10px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .checked .form-group .input {
  width: 270px;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__body__inner .checked .form-group .col-form-label {
  font-size: 20px;
  color: #6D6E71;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner {
  padding: 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .step-basic .kt-portlet .kt-portlet__footer__inner .form-group .col-form-label {
  font-size: 20px;
  color: #0C84C8;
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-page {
  width: 100%;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host .container-inner .eform-content .step-page .step-header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
}

:host .container-inner .eform-content .step-page .step-header .step-page-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 30px;
  font-weight: normal;
  color: white;
}

:host .container-inner .eform-content .step-page .step-body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 37px;
  flex-grow: 1;
  align-content: flex-start;
}

:host .container-inner .eform-content .supporting-documents {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-header {
  margin-bottom: 0px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card {
  background-color: white;
  min-height: 70px;
  width: 100%;
  padding: 18px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox {
  margin-right: 15px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox i {
  color: #0C84C8;
  font-size: 34px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .check-list-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card.checked {
  background-color: #CEFFEA;
}

:host .container-inner .eform-content .supporting-documents .kt-checkbox > input i {
  color: red;
}

:host .container-inner .eform-content .notifying-prosecution {
  overflow: auto;
}

:host .container-inner .eform-content .notifying-prosecution .input-wrapper {
  margin: 0 16px;
}

:host .container-inner .eform-content .notifying-prosecution .input-wrapper .btx-input-date {
  margin: 0;
  width: 119px;
}

:host .container-inner .eform-content .notifying-prosecution .form-group + .form-group {
  margin-bottom: 20px;
}

:host .container-inner .eform-content .notifying-prosecution .btn-create-new {
  width: 50px;
  height: 94px;
}

:host .container-inner .eform-content .notifying-prosecution .textarea {
  width: 788px;
}

:host .container-inner .eform-content .court-case .input-wrapper-row {
  margin-bottom: 5px;
}

:host .container-inner .eform-content .international-detail .kt-portlet .kt-portlet__body__inner .form-group .col-form-label {
  color: #6D6E71;
}

:host .container-inner .eform-content .international-detail .form-group .col-form-label {
  width: 40%;
  margin-right: 15px;
}

:host .container-inner .eform-content .international-detail .input {
  width: 266px;
}

:host .container-inner .eform-content .international-detail input.form-control {
  margin-right: 0;
}

:host .container-inner .eform-content .international-detail .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .international-detail .form-group {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 50px;
}

:host .container-inner .eform-content .footer-eform {
  display: flex;
  position: absolute;
  left: -9px;
  right: 0;
  bottom: 0;
  height: 70px;
  flex-direction: column;
}

:host .container-inner .eform-content .footer-eform .progress-bar {
  height: 12px;
  width: 100%;
  background-color: #E7E7E7;
}

:host .container-inner .eform-content .footer-eform .progress-bar .bar {
  min-width: 50px;
  height: 100%;
  background-color: #52D69D;
}

:host .container-inner .eform-content .footer-eform .summary-and-control {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress {
  display: flex;
  align-items: center;
  padding: 5px 15px 0 35px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .progress-number {
  display: flex;
  width: 75px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 500;
  font-size: 40px;
  color: #149BA9;
  line-height: 40px;
  margin-right: 8px;
  height: 53px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .percentage {
  line-height: 20px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  color: #149BA9;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .unit {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-top: -5px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control {
  display: flex;
  align-items: center;
  padding: 0 30px 0 15px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  margin-right: 20px;
  color: #707070;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper {
  display: flex;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper .btn {
  margin-left: 15px;
}

:host .container-inner .btx-inner-form-three input[type="file"] {
  display: none;
}

:host .container-inner .btx-inner-form-three input {
  background-color: #F6F7FA;
}

:host .container-inner .btx-inner-form-three input.search {
  background-color: white;
}

:host .container-inner .btx-inner-form-three .btx-upload {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px !important;
  padding: 7px 1rem 6px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 37px;
  background-color: #0C84C8;
  border-color: #0C84C8;
  color: white !important;
  margin: 0px 6px;
}

:host .container-inner .btx-inner-form-three .input-wrapper {
  margin: 0px;
}

:host .container-inner .btx-inner-form-three .input-wrapper .input-wrapper-row > label,
:host .container-inner .btx-inner-form-three .input-wrapper .btx-upload-group > label {
  color: #0C84C8;
}

:host .container-inner .btx-inner-form-three .input-wrapper .btx-upload-group {
  margin: 10px 0px;
}

:host .container-inner .btx-inner-form-three .input-wrapper .btx-upload-label {
  margin-right: 50px;
}

:host .container-inner .btx-inner-form-three .input-wrapper button {
  margin-left: 10px;
  width: 101px;
  height: 37px;
}

:host .container-inner .btx-inner-form-three .input-wrapper .btx-box-label label {
  margin-top: 7px;
  margin-right: 24px;
}

:host .container-inner .btx-inner-form-three .input-wrapper input.btx-input-date {
  width: 89px;
  height: 37px;
  margin: 0px 16px;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
}

:host .container-inner .btx-inner-form-three .input-wrapper .datepicker-form {
  width: 270px;
  height: 37px;
}

:host .container-inner .btx-inner-form-three .flex.input-wrapper .btx-num-date,
:host .container-inner .btx-inner-form-three .flex.input-wrapper .btx-num-kadee {
  font-size: 16px;
  margin-top: 6px;
}

:host .container-inner .btx-inner-form-three .flex.input-wrapper .input-with-icon.datepicker {
  margin-left: 23px;
  margin-right: 16px;
}

:host .container-inner .btx-inner-form-three .btx-main-box-select-second-form {
  margin: 21px 0px;
}

:host .container-inner .btx-inner-form-three .btx-main-box-select-second-form .btx-box-select select {
  width: 196px;
  margin-left: 44px;
}

:host .container-inner .btx-inner-form-three input.form-control {
  width: 100%;
  height: 37px;
  margin-right: 16px;
}

:host .container-inner .btx-modal-main .inner-wrapper {
  height: 100%;
}

:host .container-inner .btx-modal-main .btx-next-btn button {
  margin: auto;
}

:host .container-inner .btx-modal-main .btx-color-label {
  color: white;
  font-size: 20px;
}

:host .container-inner .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

::ng-deep .modal.deactivation-modal .btn + .btn {
  margin-left: 15px;
}
