<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-create-new"
              (click)="onClickReset()">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่อ้างอิงผู้ยื่น
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_reference_number
                       class="form-control input"
                       type="text" id="reference_number"
                       placeholder="เลขที่อ้างอิงผู้ยื่น"
                       [(ngModel)]="input[key_reference_number.id]"
                       [ngClass]="validate[key_reference_number.id] ? 'is-invalid' : null"
                       (ngModelChange)="autocompleteRequestCheckList(input, 'reference_number')"
                       autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_RequestCheckLoad_show">
                <table>
                  <tr *ngFor="let autocomplete of autocompleteListRequestCheckLoad"
                      (click)="loadData(autocomplete)">
                    <td>{{autocomplete.reference_number}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


            <label class="col-form-label" *ngIf="input.is_paid === false" style="color:red;">
              ยังไม่ชำระเงิน
            </label>
            <label class="col-form-label" *ngIf="input.is_paid && input.voucher_number && (input.quantity_list['310'] > 0 || input.quantity_list['380'] > 0)">
              Voucher: {{input.voucher_number}}
            </label>
          </div>
        </div>


        <div class="kt-portlet__body__inner request-checker">
          <!--<div class="form-group flex">
            <label class="col-form-label" for="requester_name">ผู้ยื่นคำขอ *</label>
            <div class="input-wrapper">
              <input #key_requester_name class="form-control input" type="text" id="requester_name" placeholder="ผู้ยื่นคำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_requester_name.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_requester_name.id]" class="invalid-feedback">
                  {{validate[key_requester_name.id]}}
                </div>
              </div>
            </div>
          </div>-->

          <div class="form-group flex">
            <label class="col-form-label">
              {{autoComplete.item_list[3].label_text}}
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input class="form-control input"
                       type="text"
                       placeholder="{{autoComplete.item_list[3].label_text}}"
                       [(ngModel)]="autoComplete.item_list[3].value_display"
                       (blur)="autoComplete.Blur(3)"
                       (click)="autoComplete.Click(3)"
                       (ngModelChange)="autoComplete.Click(3)"
                       autocomplete="off" />
                <button class="btn btn-input-search btn-icon"
                        type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete"
                   *ngIf="autoComplete.item_list[3].is_table_show">
                <table>
                  <tr *ngFor="let result of autoComplete.item_list[3].result_list"
                      (click)="autoComplete.Select(result)">
                    <td *ngFor="let column of autoComplete.item_list[3].column_list">{{result[column]}}</td>
                  </tr>
                  <tr class="div_loading"><td>Loading</td></tr>
                </table>
              </div>
              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        </div>












        <div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label class="col-form-label" for="total_price">ค่าธรรมเนียม</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="total_price"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input.total_price"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
            <span>บาท</span>

          </div>
        </div>

        <!--<div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label class="col-form-label">

            </label>
            <div class="input-wrapper">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox"
                       [(ngModel)]="input.is_wave_fee"
                       (click)="_onChangeUpdate()" /> ยกเว้นค่าธรรมเนียม
                <span></span>
              </label>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_appointment" /> นัดรับแฟ้ม
                <span></span>
              </label>

              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div>-->
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label style="width: 260px;" class="col-form-label" for="id_card">เลขบัตรประจำตัวประชาชน / นิติบุคคล</label>
            <div class="input-wrapper">
              <input #key_id_card class="form-control input"
                     type="text"
                     id="id_card"
                     placeholder="เลขบัตรประจำตัวประชาชน / นิติบุคคล"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_id_card.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper"></div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label style="width: 260px;" class="col-form-label" for="telephone">เบอร์โทรศัพท์</label>
            <div class="input-wrapper">
              <input #key_telephone class="form-control input"
                     type="text"
                     id="telephone"
                     placeholder="เบอร์โทรศัพท์"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_telephone.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper"></div>
            </div>
          </div>
        </div>


        <div class="kt-portlet__body__inner request-checker">
          <div class="form-group flex">
            <label class="col-form-label">

            </label>
            <div class="input-wrapper">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand" style="color:red;">
                <input type="checkbox"
                       [(ngModel)]="input.is_wave_fee"
                       (click)="_onChangeUpdate()" /> ยกเว้นค่าธรรมเนียม
                <span></span>
              </label>
              <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_appointment" /> นัดรับแฟ้ม
                <span></span>
              </label>-->

              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox" [(ngModel)]="input.is_commercial_province" /> พาณิชย์จังหวัด
                <span></span>
              </label>

              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="kt-portlet__footer hide">

  </div>
</div>

<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRequestCheckCopy()">
        <i class="dip-icon-duplicate"></i>
        คัดลอกคำขอ
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-checker">
      <table>
        <tbody>
          <tr *ngFor="let item of master.requestCheckItemList">
            <!--<td>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"
                     *ngIf="!item.value_5 || item.value_5 != 'M'">
                <input type="checkbox" [(ngModel)]="input.select_list[item.code]" /><span></span>
              </label>
            </td>-->
            <td class="text-left">
              {{item.name}}

              <input class="form-control input"
                     type="text"
                     [(ngModel)]="input.other_list[item.code]"
                     placeholder=""
                     *ngIf="item.value_5 && item.value_5 == 'O'" />
            </td>
            <td class="text-right">{{item.value_1}}</td>
            <td>
              <div *ngIf="item.value_5 && item.value_5 == 'M'">
                {{input.quantity_list[item.code] || 0}}
              </div>

              <div *ngIf="!item.value_5 || item.value_5 != 'M'">
                <input class="form-control input"
                       type="number"
                       min="0"
                       (change)="onChangeUpdate()"
                       [(ngModel)]="input.quantity_list[item.code]" />
              </div>
            </td>
            <td>X</td>
            <td>{{item.value_2}}</td>
            <td>=</td>
            <td>{{input.total_price_list[item.code]}}</td>
            <td>บาท</td>
            <td>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                     *ngIf="item.value_3 && item.value_3 != ''">
                <input type="checkbox" [(ngModel)]="input.check_value_3_list[item.code]" /> {{item.value_4}}
                <span></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRequestCheckPrint()">
        <i class="dip-icon-printer"></i>
        บันทึก / พิมพ์ใบชำระเงิน
      </button>
      <!--<button type="button"
              class="btn btn-secondary"
              (click)="onClickRequestCheckSave()">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRequestCheckPrintKor09()">
        <i class="dip-icon-printer"></i>
        พิมพ์คำขอ ก.09
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRequestCheckPrint()">
        <i class="dip-icon-printer"></i>
        พิมพ์ใบชำระเงิน
      </button>-->
    </div>
  </div>
</div>



<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">

    <div class="kt-portlet__body_cover">
      <div class="cover">
        กรณีขอตรวจดูทะเบียนหรือสารบบ
      </div>
      <div class="kt-portlet__body__inner request-checker">




        <div class="input-wrapper"
             (click)="onClickRequestItemSubTypeGroupShow()">
          <div class="form-group flex">
            <label class="col-form-label" for="request_item_sub_type1_code">รหัสจำพวก</label>
            <input class="form-control input"
                   type="text"
                   id="request_item_sub_type1_code"
                   [(ngModel)]="input.request_item_sub_type1_code"
                   autocomplete="off"
                   disabled="disabled" />

            <button class="btn btn-input-search btn-icon" type="button">
              <i class="dip-icon-search"></i>
            </button>

          </div>

          <div class="feedback-wrapper"></div>
        </div>





        <!--<div class="form-group flex">
          <label class="col-form-label">
            {{autoComplete.item_list[0].label_text}}
          </label>
          <div class="input-wrapper">
            <div class="form-group flex input-with-icon">
              <input class="form-control input"
                     type="text"
                     placeholder="{{autoComplete.item_list[0].label_text}}"
                     [(ngModel)]="autoComplete.item_list[0].value_display"
                     (blur)="autoComplete.Blur(0)"
                     (click)="autoComplete.Click(0)"
                     (ngModelChange)="autoComplete.Click(0)"
                     autocomplete="off" />
              <button class="btn btn-input-search btn-icon"
                      type="button">
                <i class="dip-icon-search"></i>
              </button>
            </div>

            <div class="div_autocomplete"
                 *ngIf="autoComplete.item_list[0].is_table_show">
              <table>
                <tr *ngFor="let result of autoComplete.item_list[0].result_list"
                    (click)="autoComplete.Select(result)">
                  <td *ngFor="let column of autoComplete.item_list[0].column_list">{{result[column]}}</td>
                </tr>
                <tr class="div_loading"><td>Loading</td></tr>
              </table>
            </div>
            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>-->







        <div class="form-group flex">
          <label class="col-form-label">
            รหัสจำพวกใกล้เคียง
          </label>
          <div class="input-wrapper">
            <div class="form-group flex input-with-icon">
              <input class="form-control input"
                     type="text"
                     placeholder="รหัสจำพวกใกล้เคียง"
                     [(ngModel)]="input.request_item_sub_type1_similar_list"
                     disabled="disabled"
                     autocomplete="off" />
            </div>
            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner request-checker">


        <div class="input-wrapper"
             (click)="onClickDocumentClassificationImageTypeCodeShow()">
          <div class="form-group flex">
            <label class="col-form-label" for="document_classification_image_type_code">รหัสภาพ</label>
            <input class="form-control input"
                   type="text"
                   id="document_classification_image_type_code"
                   [(ngModel)]="input.document_classification_image_type_code"
                   autocomplete="off"
                   disabled="disabled" />

            <button class="btn btn-input-search btn-icon" type="button">
              <i class="dip-icon-search"></i>
            </button>

          </div>

          <div class="feedback-wrapper"></div>
        </div>





        <!--<div class="form-group flex">
          <label class="col-form-label">
            {{autoComplete.item_list[1].label_text}}
          </label>
          <div class="input-wrapper">
            <div class="form-group flex input-with-icon">
              <input class="form-control input"
                     type="text"
                     placeholder="{{autoComplete.item_list[1].label_text}}"
                     [(ngModel)]="autoComplete.item_list[1].value_display"
                     (blur)="autoComplete.Blur(1)"
                     (click)="autoComplete.Click(1)"
                     (ngModelChange)="autoComplete.Click(1)"
                     autocomplete="off" />
              <button class="btn btn-input-search btn-icon"
                      type="button">
                <i class="dip-icon-search"></i>
              </button>
            </div>

            <div class="div_autocomplete"
                 *ngIf="autoComplete.item_list[1].is_table_show">
              <table>
                <tr *ngFor="let result of autoComplete.item_list[1].result_list"
                    (click)="autoComplete.Select(result)">
                  <td *ngFor="let column of autoComplete.item_list[1].column_list">{{result[column]}}</td>
                </tr>
                <tr class="div_loading"><td>Loading</td></tr>
              </table>
            </div>
            <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
          </div>
        </div>-->
      </div>

      <div class="kt-portlet__body__inner request-checker">


        <div class="input-wrapper"
             (click)="onClickRequestSoundTypeCodeShow()">
          <div class="form-group flex">
            <label class="col-form-label" for="request_sound_type_code">รหัสเสียง</label>
            <input class="form-control input"
                   type="text"
                   id="request_sound_type_code"
                   [(ngModel)]="input.request_sound_type_code"
                   autocomplete="off"
                   disabled="disabled" />

            <button class="btn btn-input-search btn-icon" type="button">
              <i class="dip-icon-search"></i>
            </button>

          </div>

          <div class="feedback-wrapper"></div>
        </div>


      </div>
    </div>
  </div>

  <div class="kt-portlet__footer hide">

  </div>
</div>


<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-checker">




      <div class="form-group flex">
        <label class="col-form-label">
          นายทะเบียน
        </label>
        <div class="input-wrapper">
          <div class="form-group flex input-with-icon"
               (click)="autocompleteChangeRegistrarList(input, 'registrar_by_name')">
            <input class="form-control input"
                   type="text"
                   placeholder="นายทะเบียน"
                   [(ngModel)]="input.registrar_by_name"
                   (blur)="autocompleteBlurRegistrarList()"
                   (ngModelChange)="autocompleteChangeRegistrarList(input, 'registrar_by_name')"
                   autocomplete="off" />
            <button class="btn btn-input-search btn-icon"
                    type="button">
              <i class="dip-icon-search"></i>
            </button>
          </div>

          <div class="div_autocomplete"
               *ngIf="is_autocomplete_RegistrarList_show">
            <table>
              <tr *ngFor="let autocomplete of autocompleteListRegistrarList"
                  (click)="autocompleteChooseRegistrarList(autocomplete)">
                <td>{{autocomplete.name}}</td>
              </tr>
            </table>
          </div>
          <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
        </div>
      </div>



      <div class="form-group flex">
        <label class="col-form-label">
          ผู้พิมพ์
        </label>
        <div class="input-wrapper">
          <div class="form-group flex input-with-icon">
            <input class="form-control input"
                   type="text"
                   placeholder="ผู้พิมพ์"
                   [(ngModel)]="input.maker_name"
                   disabled="disabled"
                   autocomplete="off" />
          </div>
          <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer hide">

  </div>
</div>


<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางคำขอ
      </h3>
    </div>
    <div class="kt-portlet__head-action">

      <div class="form-group flex">
        <div class="input-wrapper flex">
          <label class="col-form-label">
            ระบุเลขที่คำขอ
          </label>
          <input class="form-control input"
                 type="text"
                 (keypress)="onClickRequestCheckRequestNumberKeyPress($event)"
                 [(ngModel)]="input.request_number"
                 placeholder="เลขที่คำขอ" />
        </div>

      </div>
    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="trademark_status_code">สถานะคำขอ</td>
          <td class="is_2_2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onClickSelectAll('listRequestCheckRequestNumber', 'is_2_2', $event.target.checked)">
              <span></span>
            </label>
            <div style="margin-left:5px;">
              ทะเบียนแบบ
            </div>
          </td>
          <td class="is_2_3">
            คัดสำเนา
          </td>
          <td class="is_2_5">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onClickSelectAll('listRequestCheckRequestNumber', 'is_2_5', $event.target.checked)">
              <span></span>
            </label>
            <div style="margin-left:5px;">
              รับรองไทย/อังกฤษ
            </div>
          </td>
          <td class="is_2_6">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onClickSelectAll('listRequestCheckRequestNumber', 'is_2_6', $event.target.checked)">
              <span></span>
            </label>
            <div style="margin-left:5px;">
              ขอใบแทน
            </div>
          </td>
          <td class="is_2_7">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onClickSelectAll('listRequestCheckRequestNumber', 'is_2_7', $event.target.checked)">
              <span></span>
            </label>
            <div style="margin-left:5px;">
              เบิกแฟ้ม
            </div>
          </td>
          <td class="document_status_code">สถานะแฟ้ม</td>
          <td class="document_scan">เอกสารสแกน</td>
          <td class="page_index">เลขหน้า</td>
          <td class="page_lastest">ใบแทนล่าสุด</td>
          <td class="edit_delete">ลบ</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listRequestCheckRequestNumber | myfilter | paginate: paginateRequestCheckRequestNumber; index as i">
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="trademark_status_code">{{row_item.trademark_status_code}}</td>
          <td class="is_2_2">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onChangeUpdate()"
                     [(ngModel)]="row_item.is_2_2">
              <span></span>
            </label>
          </td>
          <td class="is_2_3">
            <div class="form-group flex">
              <div class="input-wrapper">
                <input class="form-control input"
                       type="number"
                       (change)="onChangeUpdate()"
                       [(ngModel)]="row_item.number_2_3"
                       autocomplete="off" />
              </div>
            </div>
          </td>
          <td class="is_2_5">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onChangeUpdate()"
                     [(ngModel)]="row_item.is_2_5">
              <span></span>
            </label>
          </td>
          <td class="is_2_6">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onChangeUpdate()"
                     [(ngModel)]="row_item.is_2_6">
              <span></span>
            </label>
          </td>
          <td class="is_2_7">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (change)="onChangeUpdate()"
                     [(ngModel)]="row_item.is_2_7">
              <span></span>
            </label>
          </td>
          <td class="document_status_code">{{row_item.document_status_name}}</td>
          <td class="document_scan"><a href="javascript://">แสดงไฟล์</a></td>
          <td class="page_index">{{row_item.page_index}}</td>
          <td class="page_lastest">{{row_item.page_lastest}}</td>
          <td class="edit_delete">
            <i class="dip-icon-trash" (click)="onClickRequestCheckRequestNumberDelete(row_item)"></i>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls id="paginateRequestCheckRequestNumber"
                               (pageChange)="onChangePage($event, 'paginateRequestCheckRequestNumber')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateRequestCheckRequestNumber')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateRequestCheckRequestNumber')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand"
                (change)="onChangePerPage($event.target.value, 'paginateRequestCheckRequestNumber')">
          <option *ngFor="let perPage of perPageRequestCheckRequestNumber" [value]="perPage">
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          หน้าที่ {{ paginateRequestCheckRequestNumber.currentPage }} /
          {{ getMaxPage("paginateRequestCheckRequestNumber") }} รายการที่
          {{
            paginateRequestCheckRequestNumber.itemsPerPage * paginateRequestCheckRequestNumber.currentPage -
              paginateRequestCheckRequestNumber.itemsPerPage +
              1
          }}
          -
          {{
            paginateRequestCheckRequestNumber.itemsPerPage * paginateRequestCheckRequestNumber.currentPage >=
            paginateRequestCheckRequestNumber.totalItems
              ? paginateRequestCheckRequestNumber.totalItems
              : paginateRequestCheckRequestNumber.itemsPerPage * paginateRequestCheckRequestNumber.currentPage
          }}
          / {{ paginateRequestCheckRequestNumber.totalItems }}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet request-check-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-checker">
      <div class="form-group flex">
        <button type="button" class="btn btn-brand" (click)="onClickRequestCheckPrintDocumentCopy()">
          พิมพ์สำเนาเอกสาร
        </button>
        <button type="button" class="btn btn-brand" (click)="onClickRequestCheckPrintGuarantee()">
          พิมพ์คำรับรอง
        </button>
        <button type="button" class="btn btn-brand" (click)="onClickRequestCheckPrintImportantDocuments()">
          พิมพ์ใบแทนหนังสือสำคัญ
        </button>
        <button type="button" class="btn btn-brand" (click)="onClickRequestCheckPrintRegistration()">
          พิมพ์ทะเบียนแบบ
        </button>
        <!--<button type="button" class="btn btn-brand" (click)="onClickRequestCheckPrintRequest()">
          พิมพ์เลขที่คำขอเพิ่มเตืม
        </button>-->
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer hide">

  </div>
</div>



<div class="div_popup" *ngIf="popup.is_request_item_sub_type_group_code_show">
  <div class="div_popup_background" (click)="popup.is_request_item_sub_type_group_code_show = false">
  </div>
  <div class="div_popup_body">








    <div class="kt-portlet public-role04-item-list-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ค้นหาข้อมูล
          </h3>
        </div>
        <div class="kt-portlet__head-action">

          <div class="form-group flex">
            <div class="input-wrapper">
              <input id="request_item_sub_type_group_code_search"
                     [(ngModel)]="request_item_sub_type_group_code_search"
                     class="form-control input"
                     placeholder="ค้นหาข้อมูล"
                     (keydown)="onKeyDownRequestItemSubTypeGroup($event)"
                     type="text"
                     [attr.disabled]="input.is_listRequestItemSubTypeGroup_all ? '' : null"
                     autocomplete="off" />
            </div>
          </div>



          <!--<button type="button"
                  class="btn btn-create-new btn-icon"
                  (click)="onClickPublicRole04itemAdd()">
            <i class="dip-icon-add-new"></i>

          </button>
          <button type="button"
                  class="btn btn-danger btn-icon"
                  (click)="onClickPublicRole04itemDelete()">
            <i class="dip-icon-trash"></i>
          </button>-->
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickRequestItemSubTypeGroupSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>

        </div>
      </div>

      <div class="kt-portlet__body">
        <table>
          <thead>
            <tr>
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         [(ngModel)]="input.is_listRequestItemSubTypeGroup_all"
                         [checked]="input.is_listRequestItemSubTypeGroup_all" />
                  <span></span>
                </label>
              </td>
              <td>รหัสจำพวก</td>
              <td>ชื่อจำพวก</td>
              <td>รหัสจำพวกใกล้เคียง</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row_item of listRequestItemSubTypeGroup">
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onSelectColumnInTable('listRequestItemSubTypeGroup', row_item, $event.target.checked)"
                         [checked]="row_item.is_check"
                         [attr.disabled]="input.is_listRequestItemSubTypeGroup_all ? '' : null" />
                  <span></span>
                </label>
              </td>

              <td>{{row_item.code}}</td>
              <td>{{row_item.name}}</td>
              <td>{{row_item.value_1}}</td>
            </tr>
          </tbody>
        </table>

      </div>


      <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateRequestItemSubTypeGroup"
                    (onClickList)="onClickRequestItemSubTypeGroupList()"></app-paging>
      </div>

    </div>




  </div>
</div>


<div class="div_popup" *ngIf="popup.is_document_classification_image_type_code_show">
  <div class="div_popup_background" (click)="popup.is_document_classification_image_type_code_show = false">
  </div>
  <div class="div_popup_body">








    <div class="kt-portlet public-role04-item-list-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ค้นหาข้อมูล
          </h3>
        </div>
        <div class="kt-portlet__head-action">

          <div class="form-group flex">
            <div class="input-wrapper">
              <input id="document_classification_image_type_code_search"
                     [(ngModel)]="document_classification_image_type_code_search"
                     class="form-control input"
                     placeholder="ค้นหาข้อมูล"
                     (keydown)="onKeyDownDocumentClassificationImageTypeCode($event)"
                     type="text"
                     [attr.disabled]="input.is_listDocumentClassificationImageTypeCode_all ? '' : null"
                     autocomplete="off" />
            </div>
          </div>



          <!--<button type="button"
                  class="btn btn-create-new btn-icon"
                  (click)="onClickPublicRole04itemAdd()">
            <i class="dip-icon-add-new"></i>

          </button>
          <button type="button"
                  class="btn btn-danger btn-icon"
                  (click)="onClickPublicRole04itemDelete()">
            <i class="dip-icon-trash"></i>
          </button>-->
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickDocumentClassificationImageTypeCodeSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>

        </div>
      </div>

      <div class="kt-portlet__body">
        <table>
          <thead>
            <tr>
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         [(ngModel)]="input.is_listDocumentClassificationImageTypeCode_all"
                         [checked]="input.is_listDocumentClassificationImageTypeCode_all" />
                  <span></span>
                </label>
              </td>
              <td>รหัสสัญลักษณ์</td>
              <td>คำอธิบายสัญลักษณ์</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row_item of listDocumentClassificationImageTypeCode">
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onSelectColumnInTable('listDocumentClassificationImageTypeCode', row_item, $event.target.checked)"
                         [checked]="row_item.is_check"
                         [attr.disabled]="input.is_listDocumentClassificationImageTypeCode_all ? '' : null" />
                  <span></span>
                </label>
              </td>

              <td>{{row_item.code}}</td>
              <td>{{row_item.name}}</td>
            </tr>
          </tbody>
        </table>

      </div>


      <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateDocumentClassificationImageTypeCode"
                    (onClickList)="onClickDocumentClassificationImageTypeCodeList()"></app-paging>
      </div>

    </div>




  </div>
</div>

<div class="div_popup" *ngIf="popup.is_request_sound_type_code_show">
  <div class="div_popup_background" (click)="popup.is_request_sound_type_code_show = false">
  </div>
  <div class="div_popup_body request_sound_type_code">








    <div class="kt-portlet public-role04-item-list-job">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ค้นหาข้อมูล
          </h3>
        </div>
        <div class="kt-portlet__head-action">

          <div class="form-group flex">
            <div class="input-wrapper">
              <input id="request_sound_type_code_search"
                     [(ngModel)]="request_sound_type_code_search"
                     class="form-control input"
                     placeholder="ค้นหาข้อมูล"
                     (keydown)="onKeyDownRequestSoundTypeCode($event)"
                     [attr.disabled]="input.is_listRequestSoundTypeCode_all ? '' : null"
                     type="text"
                     autocomplete="off" />
            </div>
          </div>



          <!--<button type="button"
                  class="btn btn-create-new btn-icon"
                  (click)="onClickPublicRole04itemAdd()">
            <i class="dip-icon-add-new"></i>

          </button>
          <button type="button"
                  class="btn btn-danger btn-icon"
                  (click)="onClickPublicRole04itemDelete()">
            <i class="dip-icon-trash"></i>
          </button>-->
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickRequestSoundTypeCodeSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>

        </div>
      </div>

      <div class="kt-portlet__body">
        <table>
          <thead>
            <tr>
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         [(ngModel)]="input.is_listRequestSoundTypeCode_all"
                         [checked]="input.is_listRequestSoundTypeCode_all" />
                  <span></span>
                </label>
              </td>
              <td>รหัสเสียง</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row_item of listRequestSoundTypeCode">
              <td class="select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"
                         (click)="onSelectColumnInTable('listRequestSoundTypeCode', row_item, $event.target.checked)"
                         [attr.disabled]="input.is_listRequestSoundTypeCode_all ? '' : null"
                         [checked]="row_item.is_check" />
                  <span></span>
                </label>
              </td>

              <td>{{row_item.name}}</td>
            </tr>
          </tbody>
        </table>

      </div>


      <div class="kt-portlet__footer ">
        <app-paging [paginate]="paginateRequestSoundTypeCode"
                    (onClickList)="onClickRequestSoundTypeCodeList()"></app-paging>
      </div>

    </div>




  </div>
</div>

<div class="div_popup" *ngIf="popup.warning_message_show_list.length > 0">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body warning">
    <div class="div_popup_topic">
      <div class="title">
        ข้อความจาก Server
      </div>
      <div class="close" (click)="popup.warning_message_show_list = []">
        <i class="dip-icon-close"></i>
      </div>
    </div>

    <div *ngFor="let message of popup.warning_message_show_list"
         class="message"
         [ngClass]="{ 'message_warning': message.is_warning }"
         [innerHTML]="message.message">
    </div>
  </div>
</div>
