<div class="kt-portlet search">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        การค้นหา
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     placeholder="คำขอเลขที่"
                     [(ngModel)]="input_search.request_number"
                     autocomplete="off" />
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="input_search.document_role04_create_send_start_date">วันที่ส่งมา</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input [(ngModel)]="input_search.document_role04_create_send_start_date"
                         class="form-control input" matInput
                         [matDatepicker]="input_search_document_role04_create_send_start_date"
                         (click)="input_search_document_role04_create_send_start_date.open()"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="book_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="input_search_document_role04_create_send_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #input_search_document_role04_create_send_start_date></mat-datepicker>
              </mat-form-field>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input [(ngModel)]="input_search.document_role04_create_send_end_date"
                         class="form-control input" matInput
                         [matDatepicker]="input_search_document_role04_create_send_end_date"
                         (click)="input_search_document_role04_create_send_end_date.open()"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="book_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="input_search_document_role04_create_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #input_search_document_role04_create_send_end_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="document_role04_create_type_code">ประเภท</label>
            <div class="input-wrapper">
              <select class="form-control"
                      id="document_role04_create_type_code"
                      [(ngModel)]="input_search.document_role04_create_type_code">
                <option *ngFor="let item of master.documentRole04CreateTypeCodeAllList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner">

          <div class="form-group flex">
            <label class="col-form-label" for="document_role05_create_status_code">สถานะ</label>
            <div class="input-wrapper">
              <select class="form-control"
                      id="document_role05_create_status_code"
                      [(ngModel)]="input_search.document_role05_create_status_code">
                <option *ngFor="let item of master.documentRole05CreateStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole05CreateList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>

  <app-table [initial_table]="tableList" [title]="'ตาราง'" (onClickCommand)="onClickCommand($event)"></app-table>
</div>
