<div class="column-2">
  <div class="column"
       style="width:700px;">
    <iframe id="pdf"
            style="width:100%; height:100%"
            *ngIf="url"
            [src]="url"></iframe>

    <!--frameborder="0"
    scrolling="no"
    seamless=""
    allowfullscreen="allowfullscreen"-->

  </div>
  <div class="column">

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ข้อมูลทั่วไป
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>

      <div class="kt-portlet__body flex div-information">
        <div class="main-request-wrapper">
          <div class="main-request-image-wrapper">
            <div class="bx-box-picture">
              <img *ngIf="input.file_trademark_2d && input.file_trademark_2d != ''" src="{{input.file_trademark_2d}}" />

              <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
                <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
                  <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                    <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                       (click)="togglePlayer()"></i>
                  </a>
                </div>
              </div>

              <div class="button">
                <button type="button" class="btn btn-brand" (click)="onClickOpen('/request-search/edit/')">
                  หน้าสอบถาม
                </button>
              </div>

            </div>
          </div>
        </div>
        <div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <div class="flex-column">
                <label class="col-form-label" for="request_number">เลขที่คำขอ</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="request_number"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.request_number"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>

              <div class="flex-column">
                <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="request_date_text"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.request_date_text"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>

              <div class="flex-column">
                <label class="col-form-label" for="expired_date_text">วันที่ครบกำหนด</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="expired_date_text"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.expired_date_text"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <div class="flex-column">
                <label class="col-form-label" for="irr_madrid_number">เลขทะเบียนระหว่างประเทศ</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="irr_madrid_number"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.irr_madrid_number"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>

              <div class="flex-column">
                <label class="col-form-label" for="reference_number">เลขที่อ้างอิงคำขอ</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="reference_number"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.reference_number"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>

              <div class="flex-column">
                <label class="col-form-label" for="rule_28_date_text">วันที่ยื่นคำขอ ม.28</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="rule_28_date_text"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.rule_28_date_text"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>


            </div>
          </div>


          <div class="kt-portlet__body__inner">
            <div class="form-group flex">
              <div class="flex-column">
                <label class="col-form-label" for="request_source_name">ยื่นคำร้องจาก</label>
                <div class="input-wrapper">
                  <input class="form-control input"
                         type="text"
                         id="request_source_name"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [(ngModel)]="input.request_source_name"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>

              <div class="flex-column">
                <label class="col-form-label considering_receiver_by_name" for="considering_receiver_by_name">นายทะเบียน / ผู้ตรวจสอบ</label>
                <div class="input-wrapper">
                  <input class="form-control input considering_receiver_by_name"
                         type="text"
                         id="reference_number"
                         [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                         [value]="(input.checking_receiver_by_name || '') + ' / ' + (input.considering_receiver_by_name || '')"
                         autocomplete="off"
                         disabled="disabled" />

                  <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__footer hide">

      </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <!--ตารางการเงิน-->
          </h3>
        </div>
        <div class="kt-portlet__head-action">
          <button type="button"
                  class="btn btn-brand"
                  (click)="onClickPublicRole04CheckSave()">
            <i class="dip-icon-save"></i>
            บันทึก
          </button>
        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="div-tab-list">
          <div class="div-tab-menus">
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 1"
                 (click)="tab_menu_show_index = 1">เจ้าของ</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 2"
                 (click)="tab_menu_show_index = 2">ตัวแทน</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 3"
                 (click)="tab_menu_show_index = 3">สถานที่ติดต่อ</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 4"
                 (click)="tab_menu_show_index = 4">รายการสินค้า</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 5"
                 (click)="tab_menu_show_index = 5">เครื่องหมาย</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 6"
                 (click)="tab_menu_show_index = 6">เครื่องหมายร่วม</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 7"
                 (click)="tab_menu_show_index = 7">เครื่องหมายรับรอง</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 8"
                 (click)="tab_menu_show_index = 8">การจดชุด</div>
            <div class="div-tab-menu"
                 [class.active]="tab_menu_show_index == 9"
                 (click)="tab_menu_show_index = 9">ประวัติสถานะ</div>

            <div class="div-tab-action">
              <button type="button"
                      class="btn btn-brand"
                      (click)="onClickPublicRole04CheckSave()">
                <i class="dip-icon-save"></i>
                บันทึก
              </button>
            </div>

          </div>
          <div class="div-tabs">
            <div class="div-tab" [class.hide]="tab_menu_show_index != 1">
              <app-table [initial_table]="tablePeople" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 2">
              <app-table [initial_table]="tableRepresentative" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 3">
              <app-address [params]="[contactAddress, master]"></app-address>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 4">
              <app-table [initial_table]="tableProduct" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 5">
              <div class="kt-portlet__body__inner">
                <div class="form-group flex">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                         *ngFor="let item of master.requestMarkFeatureCodeList">
                    <input type="checkbox"
                           [(ngModel)]="request_mark_feature_code_list[item.code]"
                           [checked]="request_mark_feature_code_list[item.code]"
                           [ngModelOptions]="{standalone: true}" />
                    {{ item.name }}
                    <span></span>
                  </label>

                </div>
              </div>


              <div class="table table_8" *ngIf="request_mark_feature_code_list && request_mark_feature_code_list['SOUND'] == 1">
                <div class="form-group flex">
                  <label class="col-form-label">
                    คำบรรยายเสียง
                  </label>
                  <div class="input-wrapper">
                    <textarea class="form-control input "
                              type="text"
                              [(ngModel)]="input.full_view.sound_description"
                              rows="3">
                  คำบรรยายเสียง
              </textarea>
                  </div>
                </div>
              </div>


              <!--<div class="table table_8" *ngIf="request_mark_feature_code_list && request_mark_feature_code_list['SOUND'] == 1">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td select">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                        <input type="checkbox"
                               (click)="onClickCheckBoxTable8('listSoundMark', 0, true)"
                               [checked]="input.is_table_8_check_all" /><span></span>
                      </label>
                    </div>
                    <div class="td index">#</div>
                    <div class="td request_sound_type">รหัสเสียง</div>
                    <div class="td delete">ลบ</div>
                  </div>
                  <div class="tr"
                       *ngFor="
                    let row_item of listSoundMark | myfilter | paginate: paginateSoundMark;
                    index as i
                  ">
                    <div class="td select">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                        <input type="checkbox"
                               (click)="
                          onClickCheckBoxTable8(
                            'listSoundMark',
                            paginateSoundMark.currentPage === 1
                              ? i
                              : (paginateSoundMark.currentPage - 1) *
                                  paginateSoundMark.itemsPerPage +
                                  i
                          )
                        "
                               [checked]="row_item.is_check" /><span></span>
                      </label>
                    </div>
                    <div class="td index">{{ row_item.index }}</div>
                    <div class="td select request_sound_type">
                      <div class="input-wrapper">
                        <select ng-init="row_item.request_sound_type = master.requestSoundTypeList[1].code"
                                class="form-control"
                                (change)="
                          onChangeSelectSoundMark(
                            row_item,
                            'request_sound_type',
                            $event.target.value
                          )
                        "
                                [(ngModel)]="row_item.request_sound_type">
                          [value]="row_item.request_sound_type">
                          <option *ngFor="let item of master.requestSoundTypeList"
                                  [value]="item.code">
                            {{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="td delete">
                      <i class="dip-icon-trash"
                         (click)="onClickSave01SoundMarkDelete(row_item)"></i>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 6">
              <app-table [initial_table]="tableJoiner" [master]="master"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 7">
              <!--<div class="kt-portlet">
                <div class="kt-portlet">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title">
                      </h3>
                    </div>

                    <div class="kt-portlet__head-action">
                      <button class="btn"
                              (click)="onClickCertificationFileUpload()">
                        <i class="dip-icon-upload-circle"></i>
                        แนบไฟล์
                      </button>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                  </div>
                </div>
              </div>-->
              <app-table [initial_table]="tableCertificationFile"
                         [title]="'เครื่องหมายรับรอง เพิ่มเอกสาร'"
                         (onClickCommand)="onClickCommand($event)"></app-table>
            </div>
            <div class="div-tab" [class.hide]="tab_menu_show_index != 8">
              <div class="kt-portlet__body__inner request_number_add-title">
                <div class="form-group flex">
                  <label class="col-form-label">
                    กรุณาระบุเลขที่คำขอที่ต้องการจดชุด
                  </label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           placeholder="เลขที่คำขอ"
                           [(ngModel)]="tableRequestGroup.request_number_add"
                           (keypress)="onKeyPressPublicRole04CheckRequestNumberAdd($event)"
                           autocomplete="off" />

                    <div class="feedback-wrapper"></div>
                  </div>

                </div>
              </div>

              <app-table [initial_table]="tableRequestGroup" [master]="master"></app-table>
            </div>

            <div class="div-tab" [class.hide]="tab_menu_show_index != 9">
              <app-table [initial_table]="tableHistory"
                         (onClickCommand)="onClickCommand($event)"></app-table>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="kt-portlet">
      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            รายละเอียดเสนอพิจารณา
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>

      <div class="kt-portlet__body flex">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_number">ประเภทงาน</label>
              <div class="input-wrapper">
                <!--<input class="form-control input"
                type="text"
                autocomplete="off"
                value="เสนอพิจารณาออกหนังสือแจ้งชำระเงิน"
                disabled="disabled" />-->

                <select class="form-control input"
                        [(ngModel)]="input.public_instruction_rule_type_code">
                  <option value="{{item.code}}"
                          *ngFor="let item of master.publicRole04CheckInstructionRuleTypeCodeList">
                    {{item.name}}
                  </option>
                </select>

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>

          <div class="form-group flex"
               *ngIf="input.public_instruction_rule_type_code != ''">
            <div class="flex-column">
              <label class="col-form-label" for="total_price">จำนวนเงิน</label>
              <div class="input-wrapper">
                <input class="form-control input"
                       type="number"
                       min="0"
                       [(ngModel)]="input.public_total_price"
                       autocomplete="off"
                       value="จำนวนเงิน" />

                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner"
             *ngIf="input.public_instruction_rule_type_code != ''">
          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_date_text">รายละเอียดเสนอ</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          id="public_remark_1"
                          [(ngModel)]="input.public_remark_1"
                          autocomplete="off"> </textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>

          <div class="form-group flex">
            <div class="flex-column">
              <label class="col-form-label" for="request_date_text">รายละเอียดเพิ่มเติม</label>
              <div class="input-wrapper">
                <textarea class="form-control input"
                          id="public_remark_2"
                          [(ngModel)]="input.public_remark_2"
                          autocomplete="off"> </textarea>
                <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__footer ">
        <div class="button-list">
          <button type="button"
                  class="btn btn-danger"
                  (click)="help.Close()">
            <i class="dip-icon-close"></i>
            ยกเลิก
          </button>
          <!--<button type="button"
                  class="btn btn-orange"
                  (click)="popup.is_send_back_show = true; send_back.reason=''">
            <i class="dip-icon-edit-pen"></i>
            ส่งแก้ไข
          </button>-->
          <button type="button"
                  class="btn btn-secondary"
                  (click)="onClickPublicRole04CheckSend()">
            <i class="dip-icon-forward"></i>
            เสนอพิจารณา
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="div_popup" *ngIf="popup.is_send_back_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <div class="title">ส่งแก้ไข</div>
    <div class="kt-portlet__body__inner public-role01-item-lister body">
      <div class="form-group">
        <div class="input-wrapper">
          <select class="form-control input"
                  [(ngModel)]="send_back.department_code">
            <option value="{{item.code}}"
                    *ngFor="let item of master.publicRole01SendBackDepartmentList">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner public-role01-item-lister body">
      <div class="form-group">
        <div class="input-wrapper">
          <textarea class="form-control input" [(ngModel)]="send_back.reason"></textarea>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body__inner public-role01-item-lister body form-group button-list">
      <button type="button"
              class="btn btn-orange"
              (click)="onClickPublicRole04CheckSendChange()">
        <i class="dip-icon-edit-pen"></i>
        ส่งแก้ไข
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="popup.is_send_back_show = false">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>


<app-popup [className]="[
    'fade success',
    this.popup.isPopupSendOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="this.popup.isPopupSendOpen = false; help.Close()">
  <div body-children>
    ระบบทำการบันทึกข้อมูลเสร็จสิ้นแล้ว
  </div>
</app-popup>

