<div class="container-inner flex">
  <div class="step-panel">
    <!-- STEP ITEM -->
    <ng-container *ngFor="let menu of menuList">
      <div
        *ngIf="menu.isShow"
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: menu.canEdit,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number || menu.canEdit
        }"
      >
        <div
          class="item-name"
          [ngClass]="{ editable: menu.canEdit }"
          (click)="onClickMenu(menu)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            <div
              *ngIf="sub.isShow"
              class="step-sub-item"
              [ngClass]="{
                editable: menu.canEdit,
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
              (click)="onClickSubMenu(menu, sub)"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 1">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [(ngModel)]="input.email"
                  [ngClass]="validate.email ? 'is-invalid' : null"
                  (input)="clearValidate('email')"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.email" class="invalid-feedback">
                    {{ validate.email }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [(ngModel)]="input.telephone"
                  [ngClass]="validate.telephone ? 'is-invalid' : null"
                  (input)="clearValidate('telephone')"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate.telephone" class="invalid-feedback">
                    {{ validate.telephone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="btx-more-suggest">
        <p>
          ระบบจะส่งใบคำขอ ก.14 และ Link สำหรับแก้ไขใบคำขอไปที่ Email สำหรับไฟล์
          หลังทำการบันทึกข้อมูล
        </p>
      </div>
    </div>

    <!-- Start Step 2 Form -->
    <div class="flex court-case step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              หนังสือแจ้งฟ้องคดีต่อศาล คำพิพากษาและผลคดี (ก.14)
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-three">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    คำขอเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      [disabled]="!input.isAllowEditRequestNumber"
                      class="form-control input search"
                      placeholder="กรุณากรอก คำขอเลขที่"
                      [(ngModel)]="input.request_number"
                      [ngClass]="validate.request_number ? 'is-invalid' : null"
                      (input)="clearValidate('request_number')"
                      (keyup)="onKey($event, 'request_number')"
                    />
                    <button
                      [disabled]="!input.isAllowEditRequestNumber"
                      type="button"
                      class="btn btn-brand"
                      (click)="searchRequestNumber()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.request_number"
                      class="invalid-feedback"
                    >
                      {{ validate.request_number }}
                    </div>
                  </div>
                </div>
                <div class="input-wrapper-row flex-column">
                  <label class="">
                    ทะเบียนเลขที่
                  </label>
                  <div class="flex input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      placeholder=""
                      [(ngModel)]="input.registration_number"
                    />
                  </div>
                </div>
                <div class="input-wrapper-row btx-main-box-select-second-form">
                  <div class="btx-box-label">
                    <label>
                      ประเภทผู้แจ้ง
                      <span></span>
                    </label>
                  </div>
                  <div class="btx-box-select">
                    <select
                      class="form-control"
                      [(ngModel)]="input.informer_type_code"
                      (input)="clearValidate('informer_type_code')"
                    >
                      <option
                        *ngFor="let item of master.informerTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 3 Form -->
    <div class="flex step-basic" *ngIf="currentID == 3">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              เลือกประเภทหนังสือแจ้ง
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-brand-type">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <label
                    class="kt-radio kt-radio--bold kt-radio--brand"
                    *ngFor="let item of master.informTypeCodeList"
                  >
                    <input
                      name="inform_type_code"
                      type="radio"
                      (click)="binding('input', 'inform_type_code', item.code)"
                      [checked]="item.code === input.inform_type_code"
                      (input)="clearValidate('inform_type_code')"
                    />
                    {{ item.name }}
                    <span></span>
                  </label>
                </div>
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate.inform_type_code"
                    class="invalid-feedback"
                  >
                    {{ validate.inform_type_code }}
                  </div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 4 Form -->
    <div class="owner-and-agent btx-modal-main" *ngIf="currentID == 4">
      <div class="inner-wrapper">
        <div class="form-group flex requester">
          <label class="btx-color-label">
            * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
          </label>
        </div>

        <!-- Owner notifier -->
        <div *ngIf="input.informer_type_code == 'OWNER'" class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOwnerMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              ผู้แจ้ง
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOwnerMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOwnerMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOwnerMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Agent notifier -->
        <div
          *ngIf="input.informer_type_code == 'REPRESENTATIVE'"
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalAgentFormOpen', undefined, 'listAgentMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption">
              เพิ่มตัวแทน <br />
              ผู้แจ้ง <span class="note">(ถ้ามี)</span>
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listAgentMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalAgentFormOpen', i, 'listAgentMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listAgentMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="form-group flex"
          *ngIf="
            input.informer_type_code == 'REPRESENTATIVE' &&
            input.listAgentMark.length > 0
          "
        >
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน*
          </label>

          <div class="input-wrapper">
            <select
              required
              class="form-control"
              [(ngModel)]="input.save140_representative_condition_type_code"
              (input)="
                clearValidate('save140_representative_condition_type_code')
              "
            >
              <option
                *ngFor="
                  let item of master.addressRepresentativeConditionTypeCodeList
                "
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>

        <!-- Other notifier -->
        <div
          *ngIf="input.informer_type_code == 'OTHERS'"
          class="owner-row flex"
        >
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'listOtherMark')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.listOtherMark; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalOwnerFormOpen', i, 'listOtherMark')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'listOtherMark', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-group step-three-next">
          <div class="input-wrapper">
            <div class="feedback-wrapper">
              <div *ngIf="validate.step4" class="invalid-feedback">
                {{ validate.step4 }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="onClickNext()"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Start Step 5 Form -->
    <div class="flex type-filing step-basic" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ประเภทการยื่น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-brand-type">
            <div class="form-group">
              <div class="input-wrapper">
                <div
                  class="input-wrapper-row flex-column"
                  *ngIf="master.submitTypeCodeList.length > 0"
                >
                  <label class="kt-radio kt-radio--bold kt-radio--brand">
                    <input
                      name="save140_submit_type_code"
                      type="radio"
                      (click)="
                        binding(
                          'input',
                          'save140_submit_type_code',
                          master.submitTypeCodeList[0].code
                        )
                      "
                      [checked]="
                        master.submitTypeCodeList[0].code ===
                        input.save140_submit_type_code
                      "
                      (input)="clearValidate('save140_submit_type_code')"
                    />
                    {{ master.submitTypeCodeList[0].name }}
                    <span></span>
                  </label>

                  <div
                    class="flex checked"
                    *ngIf="input.save140_submit_type_code == 'INSTRUCTION'"
                  >
                    <div class="form-group flex">
                      <label class="col-form-label">
                        เลขอ้างอิง ตค.
                      </label>

                      <div class="input-wrapper">
                        <input
                          class="form-control input"
                          type="text"
                          placeholder=""
                          [(ngModel)]="input.rule_number"
                          [ngClass]="validate.rule_number ? 'is-invalid' : null"
                          (input)="clearValidate('rule_number')"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="validate.rule_number"
                            class="invalid-feedback"
                          >
                            {{ validate.rule_number }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="kt-radio kt-radio--bold kt-radio--brand">
                    <input
                      name="save140_submit_type_code"
                      type="radio"
                      (click)="
                        binding(
                          'input',
                          'save140_submit_type_code',
                          master.submitTypeCodeList[1].code
                        )
                      "
                      [checked]="
                        master.submitTypeCodeList[1].code ===
                        input.save140_submit_type_code
                      "
                      (input)="clearValidate('save140_submit_type_code')"
                    />
                    {{ master.submitTypeCodeList[1].name }}
                    <span></span>
                  </label>

                  <div
                    class="flex checked"
                    *ngIf="input.save140_submit_type_code == 'SUE'"
                  >
                    <div class="form-group flex">
                      <label class="col-form-label">
                        แจ้งกลุ่มงาน
                      </label>
                      <div class="input-wrapper">
                        <select
                          class="form-control"
                          [(ngModel)]="input.save140_department_code"
                          (input)="clearValidate('save140_department_code')"
                        >
                          <option
                            *ngFor="let item of master.depertmentTypeCodeList"
                            [value]="item.code"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <label class="kt-radio kt-radio--bold kt-radio--brand">
                    <input
                      name="save140_submit_type_code"
                      type="radio"
                      (click)="
                        binding(
                          'input',
                          'save140_submit_type_code',
                          master.submitTypeCodeList[2].code
                        )
                      "
                      [checked]="
                        master.submitTypeCodeList[2].code ===
                        input.save140_submit_type_code
                      "
                      (input)="clearValidate('save140_submit_type_code')"
                    />
                    {{ master.submitTypeCodeList[2].name }}
                    <span></span>
                  </label>

                  <div
                    class="flex checked"
                    *ngIf="input.save140_submit_type_code == 'JUDGMENT'"
                  >
                    <div class="form-group flex">
                      <label class="col-form-label">
                        แจ้งกลุ่มงาน
                      </label>

                      <div class="input-wrapper">
                        <select
                          class="form-control"
                          [(ngModel)]="input.save140_department_code"
                          (input)="clearValidate('save140_department_code')"
                        >
                          <option
                            *ngFor="let item of master.depertmentTypeCodeList"
                            [value]="item.code"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="feedback-wrapper">
                    <div
                      *ngIf="validate.save140_submit_type_code"
                      class="invalid-feedback"
                    >
                      {{ validate.save140_submit_type_code }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 6 Form -->
    <div class="flex notifying-prosecution step-basic" *ngIf="currentID == 6">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ขอแจ้งการฟ้องร้องดำเนินคดีต่อศาล
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner btx-inner-form-three">
            <div class="form-group">
              <div class="input-wrapper">
                <div
                  class="input-wrapper-row flex-column"
                  *ngIf="input.inform_type_code != 'JUDGMENT'"
                >
                  <label>
                    {{ currentStep }}.1 ขอแจ้งว่าได้ยื่นฟ้องคดีต่อศาล
                  </label>
                  <div
                    class="flex"
                    *ngFor="let item of input.listSue; index as i"
                  >
                    <div>
                      <div class="form-group flex">
                        <label class="btx-num-kadee">ศาล</label>
                        <div class="input-wrapper">
                          <input
                            class="form-control input"
                            placeholder=""
                            [(ngModel)]="item.court_name"
                            [ngClass]="
                              item.validate && item.validate.court_name
                                ? 'is-invalid'
                                : null
                            "
                            (input)="clearValidate('court_name', item)"
                          />
                          <div class="feedback-wrapper">
                            <div
                              *ngIf="item.validate && item.validate.court_name"
                              class="invalid-feedback"
                            >
                              {{ item.validate.court_name }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group flex">
                        <label class="btx-num-kadee">คดีหมายเลขดำที่</label>
                        <div class="input-wrapper">
                          <input
                            class="btx-input-date"
                            placeholder=""
                            [(ngModel)]="item.black_number_1"
                            [ngClass]="
                              item.validate && item.validate.black_number_1
                                ? 'is-invalid'
                                : null
                            "
                            (input)="clearValidate('black_number_1', item)"
                          />
                          <div class="feedback-wrapper">
                            <div
                              *ngIf="
                                item.validate && item.validate.black_number_1
                              "
                              class="invalid-feedback"
                            >
                              {{ item.validate.black_number_1 }}
                            </div>
                          </div>
                        </div>
                        <label>/</label>
                        <div class="input-wrapper">
                          <input
                            class="btx-input-date"
                            placeholder=""
                            [(ngModel)]="item.black_number_2"
                            [ngClass]="
                              item.validate && item.validate.black_number_2
                                ? 'is-invalid'
                                : null
                            "
                            (input)="clearValidate('black_number_2', item)"
                          />
                          <div class="feedback-wrapper">
                            <div
                              *ngIf="
                                item.validate && item.validate.black_number_2
                              "
                              class="invalid-feedback"
                            >
                              {{ item.validate.black_number_2 }}
                            </div>
                          </div>
                        </div>

                        <label class="btx-num-date">เมื่อวันที่</label>
                        <div class="input-wrapper input-with-icon datepicker">
                          <mat-form-field>
                            <div
                              class="kt-input-icon kt-input-icon--right datepicker-form"
                            >
                              <input
                                class="form-control input"
                                matInput
                                [matDatepicker]="sue_date"
                                (click)="sue_date.open()"
                                [(ngModel)]="item.sue_date"
                                (dateChange)="clearValidate('sue_date', item)"
                                [ngClass]="
                                  item.validate && item.validate.sue_date
                                    ? 'is-invalid'
                                    : null
                                "
                                autocomplete="off"
                              />
                              <label
                                class="kt-input-icon__icon kt-input-icon__icon--right"
                                for="receive_date"
                                (click)="sue_date.open()"
                              >
                                <i class="dip-icon-calendar"></i>
                              </label>
                            </div>
                            <mat-datepicker-toggle matSuffix [for]="sue_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #sue_date></mat-datepicker>
                          </mat-form-field>

                          <div class="feedback-wrapper">
                            <div
                              *ngIf="item.validate && item.validate.sue_date"
                              class="invalid-feedback"
                            >
                              {{ item.validate.sue_date }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-create-new btn-icon"
                      *ngIf="input.listSue.length == i + 1"
                      (click)="onClickAddCourt('listSue')"
                    >
                      <i class="dip-icon-add-new"></i>
                    </button>
                  </div>
                </div>

                <div
                  class="input-wrapper-row flex-column"
                  *ngIf="input.inform_type_code == 'JUDGMENT'"
                >
                  <label> {{ currentStep }}.1 ขอแจ้งผลคำพิพากษาของศาล </label>
                  <div
                    class="flex"
                    *ngFor="let item of input.listJudgment; index as i"
                  >
                    <div>
                      <div class="flex input-wrapper">
                        <label class="btx-num-kadee">ศาล</label>
                        <input
                          class="form-control input"
                          placeholder=""
                          [(ngModel)]="item.court_name"
                          [ngClass]="
                            item.validate && item.validate.court_name
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('court_name', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.court_name"
                            class="invalid-feedback"
                          >
                            {{ item.validate.court_name }}
                          </div>
                        </div>
                      </div>

                      <div class="flex input-wrapper">
                        <label class="btx-num-kadee">คดีหมายเลขดำที่</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.black_number_1"
                          [ngClass]="
                            item.validate && item.validate.black_number_1
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('black_number_1', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="
                              item.validate && item.validate.black_number_1
                            "
                            class="invalid-feedback"
                          >
                            {{ item.validate.black_number_1 }}
                          </div>
                        </div>
                        <label>/</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.black_number_2"
                          [ngClass]="
                            item.validate && item.validate.black_number_2
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('black_number_2', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="
                              item.validate && item.validate.black_number_2
                            "
                            class="invalid-feedback"
                          >
                            {{ item.validate.black_number_2 }}
                          </div>
                        </div>

                        <label class="btx-num-kadee">คดีหมายเลขแดงที่</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.red_number_1"
                          [ngClass]="
                            item.validate && item.validate.red_number_1
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('red_number_1', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.red_number_1"
                            class="invalid-feedback"
                          >
                            {{ item.validate.red_number_1 }}
                          </div>
                        </div>
                        <label>/</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.red_number_2"
                          [ngClass]="
                            item.validate && item.validate.red_number_2
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('red_number_2', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.red_number_2"
                            class="invalid-feedback"
                          >
                            {{ item.validate.red_number_2 }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-create-new btn-icon"
                      *ngIf="input.listJudgment.length == i + 1"
                      (click)="onClickAddCourt('listJudgment')"
                    >
                      <i class="dip-icon-add-new"></i>
                    </button>
                  </div>
                </div>

                <div
                  class="input-wrapper-row flex-column"
                  *ngIf="input.inform_type_code == 'JUDGMENT'"
                >
                  <label>
                    {{ currentStep }}.2 ขอแจ้งผลคดีถึงที่สุดของศาล
                  </label>
                  <div
                    class="flex"
                    *ngFor="let item of input.listFinalJudgment; index as i"
                  >
                    <div>
                      <div class="flex input-wrapper">
                        <label class="btx-num-kadee">ศาล</label>
                        <input
                          class="form-control input"
                          placeholder=""
                          [(ngModel)]="item.court_name"
                          [ngClass]="
                            item.validate && item.validate.court_name
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('court_name', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.court_name"
                            class="invalid-feedback"
                          >
                            {{ item.validate.court_name }}
                          </div>
                        </div>
                      </div>

                      <div class="flex input-wrapper">
                        <label class="btx-num-kadee">คดีหมายเลขดำที่</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.black_number_1"
                          [ngClass]="
                            item.validate && item.validate.black_number_1
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('black_number_1', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="
                              item.validate && item.validate.black_number_1
                            "
                            class="invalid-feedback"
                          >
                            {{ item.validate.black_number_1 }}
                          </div>
                        </div>
                        <label>/</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.black_number_2"
                          [ngClass]="
                            item.validate && item.validate.black_number_2
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('black_number_2', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="
                              item.validate && item.validate.black_number_2
                            "
                            class="invalid-feedback"
                          >
                            {{ item.validate.black_number_2 }}
                          </div>
                        </div>

                        <label class="btx-num-kadee">คดีหมายเลขแดงที่</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.red_number_1"
                          [ngClass]="
                            item.validate && item.validate.red_number_1
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('red_number_1', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.red_number_1"
                            class="invalid-feedback"
                          >
                            {{ item.validate.red_number_1 }}
                          </div>
                        </div>
                        <label>/</label>
                        <input
                          class="btx-input-date"
                          placeholder=""
                          [(ngModel)]="item.red_number_2"
                          [ngClass]="
                            item.validate && item.validate.red_number_2
                              ? 'is-invalid'
                              : null
                          "
                          (input)="clearValidate('red_number_2', item)"
                        />
                        <div class="feedback-wrapper">
                          <div
                            *ngIf="item.validate && item.validate.red_number_2"
                            class="invalid-feedback"
                          >
                            {{ item.validate.red_number_2 }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-create-new btn-icon"
                      *ngIf="input.listFinalJudgment.length == i + 1"
                      (click)="onClickAddCourt('listFinalJudgment')"
                    >
                      <i class="dip-icon-add-new"></i>
                    </button>
                  </div>
                </div>

                <div
                  class="input-wrapper-row flex-column"
                  *ngIf="input.inform_type_code == 'JUDGMENT'"
                >
                  <label>
                    {{ currentStep }}.3 จึงขอเรียนชี้แจ้งรายละเอียดผลฟ้องร้องคดี
                    ดังนี้
                  </label>
                  <div class="input-wrapper">
                    <textarea
                      class="form-control textarea"
                      type="text"
                      rows="3"
                      placeholder=""
                      [(ngModel)]="input.remark_6_3"
                      [ngClass]="validate.remark_6_3 ? 'is-invalid' : null"
                      (input)="clearValidate('remark_6_3')"
                    ></textarea>

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.remark_6_3" class="invalid-feedback">
                        {{ validate.remark_6_3 }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="flex btx-upload-group">
                  <label class="btx-upload-label">
                    เอกสารหลักฐานประกอบการคัดค้าน
                  </label>
                  <label class="btn btn-brand btx-upload">
                    <input
                      type="file"
                      size="60"
                    >
                    <i class="dip-icon-upload-circle"></i>แนบไฟล์
                  </label>

                  <label class="btn btn-brand btx-upload">
                    <input
                      type="file"
                      size="60"
                    >
                    <i class="dip-icon-upload-circle"></i>ดาวน์โหลดฟอร์ม ก.11
                  </label>
                </div> -->
              </div>
            </div>
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="onClickNext()"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Step 7 Form -->
    <div class="flex supporting-documents" *ngIf="currentID == 7">
      <div class="step-page">
        <div class="step-header justify-content-space-between">
          <div class="step-page-title">
            {{ currentStep }}.
            เอกสารหลักฐานประกอบหนังสือแจ้งการฟ้องคดีหรือคำพิพากษาหรือผลคดีถึงที่สุด
          </div>
        </div>
        <div class="step-body">
          <div
            class="check-list-card flex align-items-center"
            *ngIf="input.listDocumentRequestChecked[0].isShow"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[0].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[0],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[0].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                {{ currentStep }}.1 สำเนาคำฟ้องฉบับที่ศาลรับรอง จำนวน 1 ฉบับ
              </div>
            </div>
          </div>
          <div
            class="check-list-card flex align-items-center"
            *ngIf="input.listDocumentRequestChecked[1].isShow"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[1].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[1],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[1].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                {{ currentStep }}.2 สำเนาคำพิพากษาฉบับที่ศาลรับรอง จำนวน 1 ฉบับ
              </div>
            </div>
          </div>
          <div
            class="check-list-card flex align-items-center"
            *ngIf="input.listDocumentRequestChecked[2].isShow"
            [ngClass]="{
              checked: input.listDocumentRequestChecked[2].checked
            }"
          >
            <div class="check-list-input-wrapper flex align-items-center">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="
                    toggleBooleanInTable(
                      input.listDocumentRequestChecked[2],
                      'checked'
                    )
                  "
                  [checked]="input.listDocumentRequestChecked[2].checked"
                />
                <i class="dip-icon-file-alt"></i>
                <span></span>
              </label>

              <div class="check-list-title">
                {{ currentStep }}.3 ต้นฉบับหนังสือรับรองคดีถึงที่สุด จำนวน 1
                ฉบับ
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-content-center">
          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="onClickNext()"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Start Step 8 Form -->
    <div class="flex step-basic finish" *ngIf="this.currentID == 8">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. เสร็จสิ้น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <!-- Owner notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'OWNER'"
          >
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step8')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <!-- Agent notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'REPRESENTATIVE'"
          >
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save140_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step8')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save140_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.listAgentMark"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step8')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <!-- Other notifier -->
          <div
            class="signature-select"
            *ngIf="input.informer_type_code == 'OTHERS'"
          >
            <div class="caption">
              ลงลายมือชื่อ
            </div>
            <div class="form-group">
              <label
                *ngFor="let item of input.listOtherMark"
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="toggleBooleanInTable(item, 'isCheck')"
                  [checked]="item.isCheck"
                  (input)="clearValidate('step8')"
                />
                {{ item.name }}
                <span></span>
              </label>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step8" class="invalid-feedback">
                  {{ validate.step8 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfA14()">
              ดูใบคำขอ ก.14
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Step 4 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลคัดค้าน'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้รับมอบอำนาจ (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
  </div>
</app-popup>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
