<div class="row">
    <div class="col-md-12">
      <div class="kt-portlet ">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              
            </h3>
          </div>
        </div>
  
        <div class="kt-portlet__body">
  
         
        </div>
        <div class="kt-portlet__footer">
          <div class="button-list">


            <button type="button" class="btn btn-white" (click)="Modal1()">
              modal1
            </button>
            <button type="button" class="btn btn-white" (click)="ModalPresent()">
              modalPresent
            </button>
            <button type="button" class="btn btn-white" (click)="modalPayment()">
              modalPayment
            </button>
            <button type="button" class="btn btn-white" (click)="Modaleditdetail()">
              modaleditdetail
            </button>
            <button type="button" class="btn btn-white" (click)="ModalMail()">
              ModalMail
            </button>
            <button type="button" class="btn btn-white" (click)="ModalOrder()">
              ModalOrder
            </button>
            <button type="button" class="btn btn-white" (click)="ModalDocument()">
              ModalDocument
            </button>
            <button type="button" class="btn btn-white" (click)="ModalVI()">
              ModalVI
            </button>
            <button type="button" class="btn btn-white" (click)="ModalPresentheader()">
              Modalpresentheader
            </button>

          </div>
        </div>
      </div>
  
      
  
    </div>
  </div>
