<div class="kt-portlet document-role02-check-list-job">

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-12">
        <h2 class="kt-portlet__head-title" style="text-align: center; color: red;">
          ยกเลิกคำขอ
        </h2>
        <div class="row">
          <div class="col-12">
            <p class="col-form-label" style="text-align: center;">
              ถ้าพบความผิดพลาดระหว่างการตรวจคำขอแบบอัตโนมัติ<br />จะไม่สามารถยกเลิกการตรวจสอบแบบอัตโนมัติได้<br />จนกว่าจะตรวจสอบเสร็จสิ้น
            </p>
          </div>
        </div>

        <div class="border" style="height: 90px;">

        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list" style="margin-bottom: 30px; margin-top: 30px;">
      <button type="button" class="btn btn-white" (click)="closeModal()" style="cursor: pointer; margin: 5px;">
        <!-- <mat-icon>close</mat-icon> -->
        <i class="dip-icon-delete-cross"></i>
        ยกเลิก
      </button>
      <button type="button" class="btn btn-red"  style="cursor: pointer; margin: 5px;">
        <i class="dip-icon-check"></i>
        ตกลง
      </button>

    </div>
  </div>
</div>