:host {
    font-family: "Noto Sans Thai", "Noto Sans";

    .hide {
        display: none;
    }

    .btn-create-new {
        & + .btn-danger {
            margin-left: 10px;
        }
    }

    input.form-control, select.form-control {
        width: 375px;
    }

    .tab-pane {
        position: relative;

        .top-right-operator {
            position: absolute;
            right: 0;
            top: -75px;

            .btn {
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .empty-list {
            display: flex;
            justify-content: center;
            background-color: #F4F5F8;
            width: 100%;
            min-height: 65px;
            align-items: center;

            .btn {
                margin: 0 10px;
            }
        }
    }

    .kt-portlet__head-action {
        & > * + button {
            margin-left: 15px;
        }

        & > * + input {
            margin-left: 15px;
        }

        & > * + label {
            margin-left: 15px;
        }
    }

    .mat-input-element {
        border: 1px solid rgb(226, 229, 236);
    }

    .kt-portlet__body__inner {
        .form-group {
            & > * + button {
                margin-left: 15px;
            }

            & > * + span {
                margin-left: 15px;
            }

            & > * + label {
                margin-left: 15px;
            }

            & .input-date {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                & + button {
                    margin-left: 0;
                }
            }

            & > button.btn-input-search {
                flex: 0 0 3rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: 0;

                .input {
                    flex: 1 1 auto;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .kt-portlet span {
        font-family: "Noto Sans Thai", "Noto Sans";
        font-size: 16px;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-weight: normal;
        color: #6d6e71;
    }

    .table {
        .td {
            input {
                width: 100%;
            }

            &.edit_delete {
                & > a {
                    padding: 4px 8px;

                    & + a {
                        margin-left: 8px;
                    }
                }
            }
        }

        a {
            color: #0c84c8;
            text-decoration: underline;
        }

        .icon {
            height: 16px;
            width: auto;
        }

        .select {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
        }

        .delete {
            flex: 0 0 40px;
            max-width: 40px;
            justify-content: center;
            text-align: center;
        }

        .edit_delete {
            flex: 0 0 95px;
            max-width: 95px;
            justify-content: center;
            text-align: center;
        }

        
    }
}
