<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        <i class="fa fa-user"></i>MF9 (TH17991551)
      </h4>
    </div>
    <div class="kt-portlet__head-action">
      <div class="button-list">
        <button type="button" class="btn btn-white" disabled="true">
          <i class="fa fa-exclamation-triangle"></i>
          คำสั่งหัวหน้ากลุ่ม
        </button>

        <button type="button" class="btn btn-brand">
          <i class="fa fa-retweet"></i>
          ข้อมูลการเปลี่ยนแปลง
        </button>
      </div>
    </div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
    <div class="row">
      <div class="col-12">
        <h5 class="sub-head-title">
          MODEL FROM 9: CEASING OF EFFECT OF THE BASIC APPLICATION, OF THE
          REGISTATION RESULTING THEREFROM, OR OF THE BASIC REGISTATION AND
          REQUEST FOR CANCELLATION OF THE INTERNATIONAL REGISTATION (RULE
          22(1)(A) 0R (C) AND (2)(B) OF THE COMMON REGULATIONS)
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </h5>
      </div>
    </div>
    <div class="col-12">
      <label for="">
        Ⅰ. Office making the notification
        <i
          class="fa fa-info-circle sub-head-title"
          style="font-size: 20px;"
        ></i>
      </label>
    </div>
    <div class="col-12 mb-2">
      <input
        type="text"
        class="form-control input"
        style="width: 100%;"
        disabled
      />
    </div>
    <div class="col-12">
      <label for="">
        Ⅱ. Number of the international registation
        <i
          class="fa fa-info-circle sub-head-title"
          style="font-size: 20px;"
        ></i>
      </label>
    </div>
    <div class="col-12 mb-2">
      <input
        type="text"
        class="form-control input"
        style="width: 100%;"
        disabled
      />
    </div>
    <div class="col-12">
      <label for="">
        Ⅲ. Name of the holder<i
          class="fa fa-info-circle sub-head-title"
          style="font-size: 20px;"
        ></i>
      </label>
    </div>
    <div class="col-12 mb-2">
      <input
        type="text"
        class="form-control input"
        style="width: 100%;"
        disabled
      />
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col-11">
              <label for="">
                <input type="checkbox"  [(ngModel)]="checkboxIV"  />
                Ⅳ. Facts and decisions affecting the basic application, the
                registation resulting therefrom, or the basix registation and
                their effective date
                <i
                  class="fa fa-info-circle sub-head-title"
                  style="font-size: 20px;"
                ></i>
              </label>
            </div>
            <div class="col-1"> 
              <button class="btn btn-pencil text-center float-right" >
                <i class="fa fa-pencil pr-0"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-11">
          Please briefly state these facts and decisions
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
        <div class="col-11">
          <input type="text" class="form-control" style="width: 100%;" />
        </div>
        <div class="col-11">
          <label for="">
            Valuntary information
          </label>
        </div>
        <div class="col-11">
          <input type="checkbox" name="" id="" />
          Not resulting from an action brought by a third party
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
        <div class="col-11">
          <input type="checkbox" name="" id="" />
          Resulting from an action brought by a third party, for example, an
          opposition or a request for cancellation ("central attack").
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
        <div class="col-11">
          Ⅴ. Effective date of these facts and decisions
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
        <div class="col-11">
          <input type="text" class="form-control" style="width: 100%;" />
        </div>
        <div class="col-12" >
          <div class="row ">
            <div class="col-11">
              <label for=""  [ngClass]="{'text-fade':checkboxIV}" >
                <input type="checkbox" />
                Ⅵ. Goods and services affected by the facts and decisions
                <i
                  class="fa fa-info-circle sub-head-title"
                  style="font-size: 20px;"
                ></i>
              </label>
            </div>
            <div class="col-1"> 
              <button class="btn btn-pencil-Orange text-center float-right" >
                <i class="fa fa-pencil pr-0"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-11 "[ngClass]="{'text-fade':checkboxIV}">
          Please choose only one of the following options and, where applicable,
          list the goods and/or services
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
        <div class="col-11">
          <input type="text" class="form-control" style="width: 100%;"  disabled/>
        </div>
        <div class="col-11">
          <label for="" [ngClass]="{'text-fade':checkboxIV}">
            Total cancellation
          </label>
        </div>
        <div class="col-11 "[ngClass]="{'text-fade':checkboxIV}">
          <input type="checkbox" name="" id=""  />
          The facts and decisions affect all the goods and/or services of the
          international registation
          <i
            class="fa fa-info-circle sub-head-title"
            style="font-size: 20px;"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
