:host .table .td {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

:host .table .td.center {
  justify-content: center;
}

:host .table .td.select {
  flex: 0 0 50px;
  max-width: 50px;
}

:host .table .td.id {
  flex: 0 0 120px;
  max-width: 120px;
}

:host .table.table-bordered {
  border: 1px solid #EFF1F5;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

:host .table.table-bordered .table-inner {
  margin-bottom: 0;
}

:host .table.table-bordered .table-header .td {
  border-bottom: 1px solid #EFF1F5;
}

:host .table.table-bordered .td {
  border-right: 1px solid #EFF1F5;
  min-height: auto;
  padding: .75rem;
}

:host .table.table-bordered .td:last-child {
  border-right: none;
}

:host .table.table-bordered .table-data .tr:nth-child(2n-1) .td {
  background-color: #FFF;
}

:host .table.table-bordered .table-data .tr:nth-child(2n) .td {
  background-color: #FBFCFD;
}

:host .container-inner {
  height: 100%;
  width: 100%;
  overflow: auto;
}

:host .container-inner .form-group {
  flex: 1 1 100%;
}

:host .container-inner .input-wrapper-row .flex select.form-control {
  margin-left: 15px;
  width: 270px;
}

:host .container-inner .step-panel {
  width: 320px;
  flex: 0 0 320px;
  height: 100%;
  overflow-y: scroll;
  background-color: #E7E7E7;
  box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);
}

:host .container-inner .step-panel .step-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  min-height: 53px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 16px;
}

:host .container-inner .step-panel .step-item .item-name {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 53px;
  padding: 10px 15px 10px 25px;
}

:host .container-inner .step-panel .step-item .item-name.editable {
  cursor: pointer;
}

:host .container-inner .step-panel .step-item .item-name:before {
  content: '\0076';
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  color: #B7B7B7;
  margin-right: 13px;
  padding-bottom: 2px;
}

:host .container-inner .step-panel .step-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.required .item-name:before {
  content: '\0075';
  color: #707070;
}

:host .container-inner .step-panel .step-item.passed .item-name {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.passed .item-name:before {
  content: '\0074';
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.passed .item-name:after {
  color: #149BA9;
}

:host .container-inner .step-panel .step-item.has-sub-item {
  flex-wrap: wrap;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name {
  position: relative;
  padding-right: 30px;
}

:host .container-inner .step-panel .step-item.has-sub-item .item-name:after {
  content: '\0048';
  position: absolute;
  display: flex;
  font-family: 'dip font icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #B7B7B7;
  padding-bottom: 2px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-items {
  height: 0;
  overflow: hidden;
  width: 100%;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  height: 53px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  color: #707070;
  font-size: 16px;
  width: 100%;
  padding-right: 15px;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item.current {
  background-color: #E0E0E0;
}

:host .container-inner .step-panel .step-item.has-sub-item .step-sub-item.editable {
  cursor: pointer;
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .item-name:after {
  transform: translateY(-65%) rotate(180deg);
}

:host .container-inner .step-panel .step-item.has-sub-item.is-open .step-sub-items {
  height: auto;
}

:host .container-inner .eform-content {
  flex: 1 1 auto;
  position: relative;
  padding: 50px 30px 100px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .step-basic {
  height: 100%;
  overflow: auto;
}

:host .container-inner .eform-content .step-basic .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .step-basic .kt-portlet .col-form-label {
  justify-content: flex-start;
}

:host .container-inner .eform-content .step-basic .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .step-basic .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
}

:host .container-inner .eform-content .step-basic .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .step-basic .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .step-basic .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .step-basic .kt-portlet__body__inner {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic .kt-portlet__footer__inner {
  padding: 25px 0;
  justify-content: center;
  flex-grow: 1;
}

:host .container-inner .eform-content .step-basic .kt-pagination__toolbar {
  font-size: 16px;
}

:host .container-inner .eform-content .step-basic .kt-pagination__toolbar .form-control {
  margin-left: 10px;
}

:host .container-inner .eform-content .step-basic .kt-pagination__toolbar .pagination__desc {
  font-weight: 400;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two {
  overflow: auto;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body {
  max-width: 1010px;
  margin: 0 auto;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row {
  justify-content: space-between;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row .form-group .input {
  width: 100%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row .form-group .kt-radio {
  margin-top: 5px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row .form-group.agent-type .kt-radio {
  width: 150px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .form-row .form-group.fluid {
  flex: 0 0 100%;
  max-width: 100%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card {
  background-color: white;
  min-height: 70px;
  width: 100%;
  padding: 18px;
  margin-bottom: 16px;
  align-items: center;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .kt-checkbox {
  margin-right: 15px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .kt-checkbox i {
  color: #0C84C8;
  font-size: 34px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .check-list-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-row {
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-row .form-group {
  flex: none;
  width: 100%;
  max-width: 100%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-row.two-column .form-group {
  width: 49%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-row.three-column .form-group {
  width: 32%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form .form-control {
  width: 100%;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card .form.show {
  display: flex;
  padding: 15px 20px;
  margin-top: 15px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .check-list-card.checked {
  background-color: #CEFFEA;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper {
  margin-top: 25px;
  color: #6D6E71;
  font-size: 20px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .input-wrapper-row {
  margin-bottom: 15px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper.form-group label {
  font-size: 20px;
  font-family: "Noto Sans Thai", "Noto Sans";
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .btx-select-one {
  width: 328px;
  height: 38px;
  margin-left: 50px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .btx-select-two {
  width: 88px;
  height: 38px;
  margin-left: 50px;
  margin-right: 16px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .btx-suggest {
  margin: 0 10px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .note {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  align-items: center;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .note .dip-icon-info-circle {
  color: #0C84C8;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .detail-postpone-wrapper .btx-main-box input.form-control {
  width: 897px;
  height: 83px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .add-modal-postpone-wrapper {
  color: #6D6E71;
  font-size: 20px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body .add-modal-postpone-wrapper .btx-color-label {
  color: #6D6E71;
  font-size: 20px;
  margin-bottom: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.table {
  max-width: 1600px;
  padding: 30px 20px;
  min-width: 1500px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.step-mini-wrapper {
  flex-grow: 0;
  flex-direction: column;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.step-mini-wrapper .owner-and-agent {
  padding: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.step-mini-wrapper .owner-and-agent .inner-wrapper {
  padding: 20px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent {
  max-width: none;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .step-body-title {
  width: 100%;
  color: white;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .inner-wrapper {
  width: 100%;
  max-height: none;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .inner-wrapper .mini-step-owner-and-agent-validate {
  min-height: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .inner-wrapper .mini-step-owner-and-agent-validate .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .inner-wrapper .mini-step-owner-and-agent-validate .input-wrapper .feedback-wrapper {
  margin: 0;
  height: auto;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.owner-and-agent .inner-wrapper .mini-step-owner-and-agent-validate .input-wrapper .feedback-wrapper .invalid-feedback {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  border-radius: 3px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.first-registration-info .td {
  align-items: flex-start;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.first-registration-info .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.first-registration-info .form-group .feedback-wrapper {
  height: auto;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.first-registration-info .btn-danger-secondary {
  margin-top: 2px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.exhibition-info .td {
  align-items: flex-start;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.exhibition-info .form-group .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.exhibition-info .form-group .feedback-wrapper {
  height: auto;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-body.exhibition-info .btn-danger-secondary {
  margin-top: 2px;
}

:host .container-inner .eform-content .step-basic.step-ten-choice-two .step-page .step-footer {
  background-color: transparent;
  width: 500px;
  margin: 0 auto 25px;
  justify-content: space-between;
}

:host .container-inner .eform-content .step-basic .step-basic-inner {
  max-width: 1010px;
  margin: auto;
  flex-grow: 1;
}

:host .container-inner .eform-content .step-page {
  width: 100%;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host .container-inner .eform-content .step-page .step-checkbox {
  color: #FFFFFF;
  margin-bottom: 25px;
}

:host .container-inner .eform-content .step-page .step-header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
}

:host .container-inner .eform-content .step-page .step-header .step-page-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 30px;
  font-weight: normal;
  color: white;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label {
  position: relative;
  padding-right: 100px;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  border: 1px dashed white;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label:last-child {
  padding-right: 0;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label:last-child:before {
  display: none;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label.current .mini-step {
  width: 70px;
  height: 70px;
  padding-top: 8px;
  font-size: 35px;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label.passed .mini-step {
  background-color: #0C77B3;
  color: white;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step-label.passed:before {
  border-style: solid;
}

:host .container-inner .eform-content .step-page .step-header .mini-step-wrapper .mini-step {
  padding-top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  background-color: #E7E7E7;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: bold;
}

:host .container-inner .eform-content .step-page .step-body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 37px;
  flex-grow: 1;
  align-content: flex-start;
}

:host .container-inner .eform-content .step-page .step-body .action-panel {
  width: 100%;
  margin-bottom: 17px;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note {
  font-size: 16px;
  color: #707070;
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-weight: normal;
  text-decoration: none;
  color: #0C84C8;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note i {
  margin-right: 15px;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note span {
  text-decoration: underline;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note.fee-calc {
  cursor: pointer;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .note.product-service-list {
  cursor: pointer;
}

:host .container-inner .eform-content .step-page .step-body .action-panel .right-panel .content {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: normal;
  color: #0C84C8;
  margin-right: 30px;
  white-space: nowrap;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td {
  background-color: #F4F5F8;
  padding: 15px 10px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td .form-control {
  width: 100%;
  min-width: 0;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.reading-translation-foreign-language-type {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.reading {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.translation {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.request-number {
  flex: 0 0 148px;
  max-width: 148px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.date {
  flex: 0 0 180px;
  max-width: 180px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.exhibition-date {
  flex: 0 0 210px;
  max-width: 210px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.request-country {
  flex: 0 0 170px;
  max-width: 170px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.applicant-nationality {
  flex: 0 0 150px;
  max-width: 150px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.applicant-address {
  flex: 0 0 170px;
  max-width: 170px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.category-number {
  flex: 0 0 134px;
  max-width: 134px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.product-service {
  flex: 0 0 300px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.status {
  flex: 0 0 130px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.exhibition-location {
  flex: 1 1 500px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.organizer {
  flex: 1 1 300px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation .btn {
  margin-right: 10px;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr .td.operation .btn.edit {
  color: #0C84C8;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr.header .td {
  font-weight: normal;
  font-size: 20px;
  background-color: white;
  justify-content: center;
}

:host .container-inner .eform-content .step-page .step-body .table .table-inner .tr.header .td.order {
  padding: 0;
  justify-content: flex-start;
  padding-right: 5px;
}

:host .container-inner .eform-content .step-page .step-body .table.small .table-inner .tr .td {
  padding: 10px 5px;
  font-size: 16px;
}

:host .container-inner .eform-content .step-page .step-body .table.small .table-inner .tr.header .td {
  font-weight: normal;
  font-size: 18px;
}

:host .container-inner .eform-content .step-page .step-body .step-body-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 30px;
  font-weight: bold;
  color: #0C84C8;
}

:host .container-inner .eform-content .step-page .step-body .deemed-radio-group {
  padding-left: 25px;
  padding-top: 15px;
}

:host .container-inner .eform-content .step-page .step-body .deemed-radio-group .kt-radio {
  font-size: 20px;
  margin-top: 5px;
}

:host .container-inner .eform-content .step-page .step-body .deemed-radio-group .kt-radio > span {
  top: 5px;
  width: 20px;
  height: 20px;
}

:host .container-inner .eform-content .step-page .step-body .footer {
  width: 100%;
}

:host .container-inner .eform-content .step-page .step-body.deemed {
  flex-grow: 0;
}

:host .container-inner .eform-content .step-page .step-footer {
  background-color: white;
  padding: 30px 37px;
}

:host .container-inner .eform-content .step-page .step-page-summary {
  display: flex;
  justify-content: flex-end;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: normal;
  color: white;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block .data {
  font-size: 30px;
  margin-left: 30px;
}

:host .container-inner .eform-content .step-page .step-page-summary .summary-block:last-child {
  margin-right: 0;
}

:host .container-inner .eform-content .begin {
  align-items: center;
  justify-content: center;
}

:host .container-inner .eform-content .begin .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  flex-direction: column;
}

:host .container-inner .eform-content .begin .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .begin .col-form-label {
  font-size: 20px;
  color: #0C84C8;
}

:host .container-inner .eform-content .objection .btn-search {
  margin-left: 9px;
  min-width: 101px;
}

:host .container-inner .eform-content .objection .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .objection .notifier-type-id .col-form-label, :host .container-inner .eform-content .objection .no-id .col-form-label {
  margin-left: 0;
  padding-left: 0;
}

:host .container-inner .eform-content .objection .notifier-type-id {
  margin-bottom: 20px;
}

:host .container-inner .eform-content .objection .notifier-type-id .form-control {
  max-width: 270px;
}

:host .container-inner .eform-content .objection .no-id .form-control.is-invalid {
  background: none;
}

:host .container-inner .eform-content .record-international .form-row {
  margin-right: -10px;
  margin-left: -10px;
}

:host .container-inner .eform-content .owner-and-agent {
  height: 100%;
  padding-left: 45px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 30px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group .col-form-label {
  color: #FFF;
  margin-left: 0;
  font-weight: 300;
  padding-left: 0;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .form-group select.form-control {
  max-width: 195px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .owner-row {
  padding-bottom: 25px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card {
  width: 300px;
  height: 343px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  margin-right: 20px;
  border-radius: 0;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.view {
  width: 730px;
  height: 100%;
  min-height: 343px;
  max-height: 343px;
  justify-content: flex-start;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators {
  position: absolute;
  bottom: 30px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn {
  width: 50px;
  height: 50px;
  margin: 0 6px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit {
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit i {
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:hover {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:active {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.edit:focus {
  background-color: #C1E6FF;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete {
  border: 1px solid #FDCCCC;
  background-color: #FAE6E6;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete i {
  color: #C31D1D;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:hover {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:focus {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card .operators .btn.delete:active {
  background-color: #FFBEBE;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more {
  cursor: pointer;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper i {
  font-size: 28px;
  color: #0C84C8;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption {
  font-size: 30px;
  color: #0C84C8;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption .note {
  font-size: 20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required {
  position: relative;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more .caption.required:after {
  content: '*';
  display: flex;
  position: absolute;
  bottom: 0;
  right: -20px;
}

:host .container-inner .eform-content .owner-and-agent .inner-wrapper .card.add-more:hover {
  box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr .td {
  padding: 15px 15px;
  color: #9A9A9A;
  background-color: #FFFFFF;
  align-items: flex-start;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr .td.order {
  flex: 0 0 45px;
  max-width: 45px;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr .td.name {
  flex: 1 1 160px;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr .td.address {
  flex: 1 1 250px;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr .td.mobile {
  flex: 1 1 90px;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr.header .td {
  font-weight: normal;
  font-size: 20px;
  color: #707070;
}

:host .container-inner .eform-content .owner-and-agent .table .table-inner .tr.header .td.order {
  justify-content: flex-start;
}

:host .container-inner .eform-content .owner-and-agent .btn-next {
  margin-left: 0;
}

:host .container-inner .eform-content .owner-and-agent .choose-owner-and-agent-id label {
  color: #FFF;
  font-weight: 300;
}

:host .container-inner .eform-content .owner-and-agent .choose-owner-and-agent-id label + label {
  margin-left: 30px;
}

:host .container-inner .eform-content .owner-and-agent .feedback-wrapper {
  background-color: #ffe2e2;
  border: 1px solid #ff8d8d;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #ffe2e2;
  border: 1px solid #ff8d8d;
}

:host .container-inner .eform-content .owner-and-agent .feedback-wrapper .invalid-feedback {
  margin-top: 0;
  display: block;
  color: #C31D1D;
}

:host .container-inner .eform-content .owner-and-agent .footer {
  padding: 30px 0;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-group .input-wrapper-row .flex {
  margin-bottom: 20px;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-group .input-wrapper-row .flex .kt-radio {
  margin-bottom: 0;
  margin-top: 8px;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row {
  justify-content: space-between;
  margin: 0;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
  position: relative;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group .div_autocomplete {
  margin-top: 30px;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group .input {
  width: 100%;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group .col-form-label {
  justify-content: flex-start;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group .kt-radio {
  margin-top: 5px;
}

:host .container-inner .eform-content .domestic-contact-address .select-domestic-contact-address .form-row .form-group.fluid {
  flex: 0 0 100%;
  max-width: 100%;
}

:host .container-inner .eform-content .brand-logo-image {
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  padding-left: 30px;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-form {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-form .col-form-label {
  font-size: 20px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-type .kt-radio {
  width: 260px;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-dimension-size .input-wrapper-row .form-control {
  width: 55px;
  min-width: 55px;
  text-align: center;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-dimension-size .input-wrapper-row .multiply {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  color: #707070;
}

:host .container-inner .eform-content .brand-logo-image .brand-logo-image-dimension-size .input-wrapper-row .btn {
  margin-left: 20px;
}

:host .container-inner .eform-content .brand-logo-image .note {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

:host .container-inner .eform-content .brand-logo-image .note i {
  margin-right: 10px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-sound {
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  padding-left: 30px;
}

:host .container-inner .eform-content .brand-logo-sound .brand-logo-sound-form {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .brand-logo-sound .brand-logo-sound-form .col-form-label {
  font-size: 20px;
  color: #0C84C8;
}

:host .container-inner .eform-content .brand-logo-sound .brand-logo-sound-own-form {
  flex-wrap: wrap;
  border-top: 1px solid #C6C6C6;
  padding-top: 20px;
}

:host .container-inner .eform-content .brand-logo-sound .brand-logo-sound-own-form .col-form-label {
  min-width: 0;
  margin-right: 40px;
  flex: none;
}

:host .container-inner .eform-content .brand-logo-sound .brand-logo-sound-own-form .kt-radio {
  margin-right: 30px;
}

:host .container-inner .eform-content .brand-logo-sound .note {
  font-size: 16px;
  color: #707070;
  display: flex;
  align-items: center;
  font-weight: normal;
}

:host .container-inner .eform-content .brand-logo-sound .note i {
  margin-right: 10px;
  color: #0C84C8;
}

:host .container-inner .eform-content .logo-color-group {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .kt-portlet__head-label {
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .sample {
  object-fit: cover;
  width: 200px;
  height: 120px;
  border: 1px solid #d0d0d0;
  margin-right: 15px;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__head .sample :last-child {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner.select-tutelage {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-color-group .kt-portlet .kt-portlet__body__inner.select-tutelage .logo-color-group-detail-form {
  width: 100%;
}

:host .container-inner .eform-content .logo-three-dememsions-group {
  height: 100%;
  padding: 60px 0 80px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet {
  max-width: 1010px;
  border-radius: 0;
  margin: auto;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head {
  border-radius: 0;
  padding: 15px 25px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline {
  display: inline;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn {
  display: inline-flex;
  margin-left: 20px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-title.inline .btn i {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .kt-portlet__head-label {
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .sample {
  object-fit: cover;
  width: 200px;
  height: 120px;
  border: 1px solid #d0d0d0;
  margin-right: 15px;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__head .sample :last-child {
  margin-right: 0;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner .form-group {
  width: 100%;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner.select-tutelage {
  padding: 0 25px;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .logo-three-dememsions-group .kt-portlet .kt-portlet__body__inner.select-tutelage .logo-three-dememsions-group-detail-form {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

:host .container-inner .eform-content .finish .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .finish .signature-select {
  width: 100%;
  margin-bottom: 15px;
}

:host .container-inner .eform-content .finish .signature-select .caption {
  color: #0c84c8;
  font-size: 18px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
}

:host .container-inner .eform-content .finish .signature-select .form-group {
  padding-left: 15px;
}

:host .container-inner .eform-content .finish .btx-more-suggest {
  width: 96%;
  position: absolute;
  /* bottom: 152px; */
  bottom: 12%;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner {
  width: 100%;
}

:host .container-inner .eform-content .finish .kt-portlet__footer__inner .btn {
  margin: 0 10px;
}

:host .container-inner .eform-content .reading-translation-foreign-language {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.reading-translation-foreign-language-type {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.reading {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.translation {
  flex: 1 1 350px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 170px;
  max-width: 170px;
  justify-content: flex-end;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation .btn {
  margin-right: 10px;
}

:host .container-inner .eform-content .reading-translation-foreign-language .step-page .step-body .table .table-inner .tr .td.operation .btn.edit {
  color: #0C84C8;
}

:host .container-inner .eform-content .product-service-group {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .product-service-group .product-service-name {
  position: relative;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.order {
  flex: 0 0 65px;
  max-width: 65px;
  justify-content: center;
  padding-right: 23px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.group {
  flex: 0 0 250px;
  max-width: 250px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.product-service-name {
  flex: 1 1 auto;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.product-service-name .input-wrapper-row {
  width: 100%;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.amount {
  flex: 0 0 190px;
  max-width: 190px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.fee {
  flex: 0 0 210px;
  max-width: 210px;
  justify-content: center;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.operation {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: flex-end;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.feedback-inside {
  padding-bottom: 0;
}

:host .container-inner .eform-content .product-service-group .step-page .step-body .table .table-inner .tr .td.feedback-inside .form-group .input-wrapper {
  margin-bottom: 0px;
}

:host .container-inner .eform-content .product-service-group .step-page .step-footer {
  padding-top: 0;
}

:host .container-inner .eform-content .product-service-group .step-page .step-footer .step-seventh-next .input-wrapper {
  margin-bottom: 0;
}

:host .container-inner .eform-content .product-service-group .step-page .step-footer .step-seventh-next .input-wrapper .feedback-wrapper {
  margin: 0;
  height: auto;
}

:host .container-inner .eform-content .product-service-group .step-page .step-footer .step-seventh-next .input-wrapper .feedback-wrapper .invalid-feedback {
  margin-bottom: 10px;
  padding: 4px 10px;
  background-color: white;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
}

:host .container-inner .eform-content .product-service-group .step-page .step-footer .step-seventh-next .btn {
  margin: 0 auto;
}

:host .container-inner .eform-content .supporting-documents {
  height: 100%;
  overflow: auto;
  padding: 40px 0 80px;
  align-items: flex-start;
  flex-direction: column;
}

:host .container-inner .eform-content .supporting-documents .step-page {
  display: unset;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card {
  background-color: white;
  min-height: 70px;
  width: 100%;
  padding: 18px;
  margin-bottom: 16px;
  align-items: center;
  flex-wrap: wrap;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox {
  margin-right: 15px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .kt-checkbox i {
  color: #0C84C8;
  font-size: 34px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .check-list-title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form {
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0C84C8;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 20px;
  font-weight: 500;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row {
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row .form-group {
  flex: none;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row.two-column .form-group {
  width: 49%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row.three-column .form-group {
  width: 32%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-row.slider-control {
  margin: 15px 0;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form .form-control {
  width: 100%;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card .form.show {
  display: flex;
  padding: 15px 20px;
  margin-top: 15px;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-card.checked {
  background-color: #CEFFEA;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .check-list-input-wrapper {
  flex-grow: 1;
}

:host .container-inner .eform-content .supporting-documents .step-page .step-body .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .supporting-documents .step-page .step-footer {
  background-color: transparent;
}

:host .container-inner .eform-content .fee {
  align-items: center;
  justify-content: center;
}

:host .container-inner .eform-content .fee .kt-portlet .kt-portlet__body__inner .form-group .col-form-label {
  color: #6D6E71;
}

:host .container-inner .eform-content .fee .kt-portlet__body__inner {
  width: 100%;
  max-width: 670px;
}

:host .container-inner .eform-content .fee .kt-portlet__body__inner .form-group .form-control {
  width: 100%;
}

:host .container-inner .eform-content .fee .kt-portlet__body__inner .form-group .col-form-label {
  margin-left: 0;
  min-width: 230px;
}

:host .container-inner .eform-content .fee .kt-portlet__body__inner .form-group .text-unit {
  font-size: 20px;
  margin-left: 10px;
  min-width: 35px;
}

:host .container-inner .eform-content .fee .kt-portlet__footer__inner .btn {
  margin: 0 10px;
}

:host .container-inner .eform-content .footer-eform {
  display: flex;
  position: absolute;
  left: -9px;
  right: 0;
  bottom: 0;
  height: 70px;
  flex-direction: column;
}

:host .container-inner .eform-content .footer-eform .progress-bar {
  height: 12px;
  width: 100%;
  background-color: #E7E7E7;
}

:host .container-inner .eform-content .footer-eform .progress-bar .bar {
  min-width: 50px;
  height: 100%;
  background-color: #52D69D;
}

:host .container-inner .eform-content .footer-eform .summary-and-control {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress {
  display: flex;
  align-items: center;
  padding: 5px 15px 0 35px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .progress-number {
  display: flex;
  width: 75px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 500;
  font-size: 40px;
  color: #149BA9;
  line-height: 40px;
  margin-right: 8px;
  height: 53px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units {
  font-family: 'Noto Sans Thai', 'Noto Sans';
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .percentage {
  line-height: 20px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  color: #149BA9;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .summary-progress .units .unit {
  font-size: 16px;
  font-weight: normal;
  color: #707070;
  margin-top: -5px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control {
  display: flex;
  align-items: center;
  padding: 0 30px 0 15px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .note {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  margin-right: 20px;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper {
  display: flex;
}

:host .container-inner .eform-content .footer-eform .summary-and-control .control .btn-wrapper .btn {
  margin-left: 15px;
}

:host .container-inner .eform-content .select-wrapper {
  display: flex;
}

:host .container-inner .eform-content .select-container {
  display: flex;
  border: 1px solid #EBEDF2;
  border-radius: 5px;
  padding: 0 8px;
  overflow-y: auto;
  max-height: 100px;
  width: 492px;
}

:host .container-inner .eform-content .select-container .select-value {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

:host .container-inner .eform-content .select-container .select-multi-value {
  border: 1px solid #0C84C8;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0C84C8;
  padding: 2px 10px;
  margin-right: 5px;
  margin: 2px 3px;
  font-size: 16px;
  font-weight: normal;
}

:host .container-inner .eform-content .select-container .select-multi-value-remove {
  margin-left: 5px;
  cursor: pointer;
}

:host .container-inner .eform-content .select-container .select-multi-value-remove i {
  font-size: 12px;
}

:host .container-inner .eform-content .select-container .select-input .input {
  font-size: 16px;
  border: none;
  opacity: 1;
  outline: 0px;
  padding: 0px;
}

:host .container-inner .eform-content .header-note {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

:host .container-inner .eform-content .footer-note {
  font-size: 20px;
  display: flex;
  margin-top: 30px;
  color: #FFF;
  justify-content: center;
}

:host .container-inner .eform-content .btn-next {
  min-width: 101px;
}

:host .container-inner .eform-content .form-control:disabled {
  background-color: #F4F5F8;
}

:host ::ng-deep .modal.deactivation-modal .btn + .btn {
  margin-left: 15px;
}
