:host {
  .table {
    .td {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;

      &.center {
        justify-content: center;
      }

      &.select {
        flex: 0 0 50px;
        max-width: 50px;
      }

      &.id {
        flex: 0 0 120px;
        max-width: 120px;
      }
    }

    &.table-bordered {
      border: 1px solid #EFF1F5;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 20px;

      .table-inner {
        margin-bottom: 0;
      }

      .table-header {
        .td {
          border-bottom: 1px solid #EFF1F5;
        }
      }

      .td {
        border-right: 1px solid #EFF1F5;
        min-height: auto;
        padding: .75rem;

        &:last-child {
          border-right: none;
        }
      }

      .table-data {
        .tr {
          &:nth-child(2n-1) {
            .td {
              background-color: #FFF;
            }
          }

          &:nth-child(2n) {
            .td {
              background-color: #FBFCFD;
            }
          }
        }
      }
    }
  }

  .container-inner {
    height: 100%;
    width: 100%;
    overflow: auto;

    .form-group {
      flex: 1 1 100%;
    }

    .input-wrapper-row {
      .flex {
        select {
          &.form-control {
            margin-left: 15px;
            width: 270px;
          }
        }
      }
    }

    .step-panel {
      width: 320px;
      flex: 0 0 320px;
      height: 100%;
      overflow-y: scroll;
      background-color: #E7E7E7;
      box-shadow: 0 0 9px 0px rgba(2, 0, 105, 0.32);

      .step-item {
        font-family: 'Noto Sans Thai', 'Noto Sans';
        font-weight: normal;
        min-height: 53px;
        display: flex;
        align-items: center;
        color: #707070;
        font-size: 16px;

        .item-name {
          display: flex;
          align-items: center;
          width: 100%;
          min-height: 53px;
          padding: 10px 15px 10px 25px;

          &.editable {
            cursor: pointer;
          }

          &:before {
            content: '\0076';
            display: flex;
            font-family: 'dip font icon';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 17px;
            color: #B7B7B7;
            margin-right: 13px;
            padding-bottom: 2px;
          }
        }

        &.current {
          background-color: #E0E0E0;
        }

        &.required {
          .item-name {
            &:before {
              content: '\0075';
              color: #707070;
            }
          }
        }

        &.passed {
          .item-name {
            color: #149BA9;

            &:before {
              content: '\0074';
              color: #149BA9;
            }

            &:after {
              color: #149BA9;
            }
          }
        }

        &.has-sub-item {
          flex-wrap: wrap;

          .item-name {
            position: relative;
            padding-right: 30px;

            &:after {
              content: '\0048';
              position: absolute;
              display: flex;
              font-family: 'dip font icon';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 15px;
              color: #B7B7B7;
              padding-bottom: 2px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .step-sub-items {
            height: 0;
            overflow: hidden;
            width: 100%;
          }

          .step-sub-item {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
            height: 53px;
            display: flex;
            align-items: center;
            padding-left: 75px;
            color: #707070;
            font-size: 16px;
            width: 100%;
            padding-right: 15px;

            &.current {
              background-color: #E0E0E0;
            }

            &.editable {
              cursor: pointer;
            }
          }

          &.is-open {
            .item-name {
              &:after {
                transform: translateY(-65%) rotate(180deg);
              }
            }

            .step-sub-items {
              height: auto;
            }
          }
        }
      }
    }

    .eform-content {
      flex: 1 1 auto;
      position: relative;      
      padding: 50px 30px 100px;
      font-family: 'Noto Sans Thai', 'Noto Sans';

      .step-basic {
        height: 100%;
        overflow: auto;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .col-form-label {
            justify-content: flex-start;
          }
        }

        .kt-portlet__head {
          border-radius: 0;
          padding: 15px 25px;

          .kt-portlet__head-title {
            font-size: 30px;
            font-weight: 500;

            &.inline {
              display: inline;

              .btn {
                display: inline-flex;
                margin-left: 20px;

                i {
                  margin-right: 0;
                }
              }
            }
          }
        }

        .kt-portlet__body__inner {
          padding: 0 25px;
          flex-wrap: wrap;
        }

        .kt-portlet__footer__inner {
          padding: 25px 0;
          justify-content: center;
          flex-grow: 1;
        }

        .kt-pagination__toolbar {
          font-size: 16px;
      
          .form-control {
            margin-left: 10px;
          }
      
          .pagination__desc {
            font-weight: 400;
          }
        }

        &.step-ten-choice-two {
          overflow: auto;

          .step-page {
            .step-body {
              max-width: 1010px;
              margin: 0 auto;

              .form-row {
                justify-content: space-between;

                .form-group {
                  flex: 0 0 49%;
                  max-width: 49%;

                  .input {
                    width: 100%;
                  }

                  .kt-radio {
                    margin-top: 5px;
                  }

                  &.agent-type {
                    .kt-radio {
                      width: 150px;
                    }
                  }

                  &.fluid {
                    flex: 0 0 100%;
                    max-width: 100%;
                  }
                }
              }

              .check-list-card {
                background-color: white;
                min-height: 70px;
                width: 100%;
                padding: 18px;
                margin-bottom: 16px;
                align-items: center;
                flex-wrap: wrap;

                .kt-checkbox {
                  i {
                    color: #0C84C8;
                    font-size: 34px;
                  }

                  margin-right: 15px;
                }

                .check-list-title {
                  font-family: 'Noto Sans Thai',
                    'Noto Sans';
                  font-size: 20px;
                  font-weight: 500;
                  color: #707070;
                }

                .form {
                  width: 100%;
                  display: none;
                  padding: 0;
                  margin: 0;
                  flex-wrap: wrap;
                  background-color: white;
                  justify-content: center;

                  .form-title {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: #0C84C8;
                    font-family: 'Noto Sans Thai',
                      'Noto Sans';
                    font-size: 20px;
                    font-weight: 500;
                  }

                  .form-row {
                    display: flex;
                    justify-content: space-between;

                    .form-group {
                      flex: none;
                      width: 100%;
                      max-width: 100%;
                    }

                    &.two-column {
                      .form-group {
                        width: 49%;
                      }
                    }

                    &.three-column {
                      .form-group {
                        width: 32%;
                      }
                    }
                  }

                  .form-control {
                    width: 100%;
                  }

                  &.show {
                    display: flex;
                    padding: 15px 20px;
                    margin-top: 15px;
                  }
                }

                &.checked {
                  background-color: #CEFFEA;
                }
              }

              .detail-postpone-wrapper {
                margin-top: 25px;
                color: #6D6E71;
                font-size: 20px;

                .input-wrapper-row {
                  margin-bottom: 15px;
                }

                &.form-group {
                  label {
                    font-size: 20px;
                    font-family: "Noto Sans Thai", "Noto Sans";
                  }
                }

                .btx-select-one {
                  width: 328px;
                  height: 38px;
                  margin-left: 50px;
                }

                .btx-select-two {
                  width: 88px;
                  height: 38px;
                  margin-left: 50px;
                  margin-right: 16px;
                }

                .btx-suggest {
                  margin: 0 10px;
                }

                .note {
                  font-family: "Noto Sans Thai", "Noto Sans";
                  font-size: 16px;
                  align-items: center;
                  display: flex;
                  font-weight: normal;
                  color: #6d6e71;

                  .dip-icon-info-circle {
                    color: #0C84C8;
                  }
                }

                .btx-main-box {
                  input {
                    &.form-control {
                      width: 897px;
                      height: 83px;
                    }
                  }
                }
              }

              .add-modal-postpone-wrapper {
                color: #6D6E71;
                font-size: 20px;

                .btx-color-label {
                  color: #6D6E71;
                  font-size: 20px;
                  margin-bottom: 0;
                }
              }

              &.table {
                max-width: 1600px;
                padding: 30px 20px;
                min-width: 1500px;
              }

              &.step-mini-wrapper {
                flex-grow: 0;
                flex-direction: column;

                .owner-and-agent {
                  padding: 0;

                  .inner-wrapper {
                    padding: 20px;
                  }
                }
              }

              &.owner-and-agent {
                max-width: none;
                background-color: transparent;
                width: 100%;
                height: auto;
                padding: 0;

                .step-body-title {
                  width: 100%;
                  color: white;
                }

                .inner-wrapper {
                  width: 100%;
                  max-height: none;

                  .mini-step-owner-and-agent-validate {
                    min-height: 0;

                    .input-wrapper {
                      margin-bottom: 0;

                      .feedback-wrapper {
                        margin: 0;
                        height: auto;

                        .invalid-feedback {
                          margin-bottom: 10px;
                          padding: 10px;
                          background-color: white;
                          font-size: 15px;
                          border-radius: 3px;
                        }
                      }
                    }
                  }
                }
              }

              &.first-registration-info {
                .td {
                  align-items: flex-start;
                }

                .form-group {
                  .input-wrapper {
                    margin-bottom: 0;
                  }

                  .feedback-wrapper {
                    height: auto;
                  }
                }

                .btn-danger-secondary {
                  margin-top: 2px;
                }
              }

              &.exhibition-info {
                .td {
                  align-items: flex-start;
                }

                .form-group {
                  .input-wrapper {
                    margin-bottom: 0;
                  }

                  .feedback-wrapper {
                    height: auto;
                  }
                }

                .btn-danger-secondary {
                  margin-top: 2px;
                }
              }
            }

            .step-footer {
              background-color: transparent;
              width: 500px;
              margin: 0 auto 25px;
              justify-content: space-between;
            }
          }
        }

        .step-basic-inner {
          max-width: 1010px;
          margin: auto;
          flex-grow: 1;
        }
      }

      .step-page {
        width: 100%;
        padding: 0 75px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .step-checkbox {
          color: #FFFFFF;
          margin-bottom: 25px;
        }

        .step-header {
          width: 100%;
          margin-bottom: 25px;
          display: flex;

          .step-page-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 30px;
            font-weight: normal;
            color: white;
          }

          .mini-step-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .mini-step-label {
              position: relative;
              padding-right: 100px;

              &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100px;
                height: 1px;
                border: 1px dashed white;
              }

              &:last-child {
                padding-right: 0;

                &:before {
                  display: none;
                }
              }

              &.current {
                .mini-step {
                  width: 70px;
                  height: 70px;
                  padding-top: 8px;
                  font-size: 35px
                }
              }

              &.passed {
                .mini-step {
                  background-color: #0C77B3;
                  color: white;
                }

                &:before {
                  border-style: solid;
                }
              }
            }

            .mini-step {
              padding-top: 2px;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 2px solid white;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #707070;
              background-color: #E7E7E7;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-size: 20px;
              font-weight: bold;
            }
          }
        }

        .step-body {
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          padding: 30px 37px;
          flex-grow: 1;
          align-content: flex-start;

          .action-panel {
            width: 100%;
            margin-bottom: 17px;

            .note {
              font-size: 16px;
              color: #707070;
              margin-left: 40px;
              display: flex;
              align-items: center;
              font-weight: normal;
              text-decoration: none;
              color: #0C84C8;

              i {
                margin-right: 15px;
              }

              span {
                text-decoration: underline;
              }

              &.fee-calc {
                cursor: pointer;
              }

              &.product-service-list {
                cursor: pointer;
              }
            }

            .right-panel {
              .content {
                font-family: 'Noto Sans Thai', 'Noto Sans';
                font-size: 20px;
                font-weight: normal;
                color: #0C84C8;
                margin-right: 30px;
                white-space: nowrap;
              }
            }
          }

          .table {
            .table-inner {
              .tr {
                .td {
                  background-color: #F4F5F8;
                  padding: 15px 10px;

                  .form-control {
                    width: 100%;
                    min-width: 0;
                  }

                  &.order {
                    flex: 0 0 65px;
                    max-width: 65px;
                    justify-content: center;
                    padding-right: 23px;
                  }

                  &.reading-translation-foreign-language-type {
                    flex: 1 1 350px;
                  }

                  &.reading {
                    flex: 1 1 350px;
                  }

                  &.translation {
                    flex: 1 1 350px;
                  }

                  &.request-number {
                    // flex: 0 0 1100px;
                    // max-width: 110px;
                    flex: 0 0 148px;
                    max-width: 148px;
                  }

                  &.date {
                    flex: 0 0 180px;
                    max-width: 180px;
                  }

                  &.exhibition-date {
                    flex: 0 0 210px;
                    max-width: 210px;
                  }

                  &.request-country {
                    flex: 0 0 170px;
                    max-width: 170px;
                  }

                  &.applicant-nationality {
                    flex: 0 0 150px;
                    max-width: 150px;
                  }

                  &.applicant-address {
                    flex: 0 0 170px;
                    max-width: 170px;
                  }

                  &.category-number {
                    // flex: 0 0 80px;
                    // max-width: 80px;
                    flex: 0 0 134px;
                    max-width: 134px;
                  }

                  &.product-service {
                    flex: 0 0 300px;
                  }

                  &.status {
                    flex: 0 0 130px;
                  }

                  &.exhibition-location {
                    flex: 1 1 500px;
                  }

                  &.organizer {
                    flex: 1 1 300px;
                  }

                  &.operation {
                    flex: 0 0 auto;
                    // max-width: 170px;
                    justify-content: flex-end;
                    align-items: flex-start;

                    .btn {
                      margin-right: 10px;

                      &.edit {
                        color: #0C84C8;
                      }
                    }
                  }
                }

                &.header {
                  .td {
                    font-weight: normal;
                    font-size: 20px;
                    background-color: white;
                    justify-content: center;

                    &.order {
                      padding: 0;
                      justify-content: flex-start;
                      padding-right: 5px;
                    }
                  }
                }
              }
            }

            &.small {
              .table-inner {
                .tr {
                  .td {
                    padding: 10px 5px;
                    font-size: 16px;
                  }

                  &.header {
                    .td {
                      font-weight: normal;
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }

          .step-body-title {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 30px;
            font-weight: bold;
            color: #0C84C8;
          }

          .deemed-radio-group {
            padding-left: 25px;
            padding-top: 15px;

            .kt-radio {
              font-size: 20px;
              margin-top: 5px;

              &>span {
                top: 5px;
                width: 20px;
                height: 20px;
              }
            }
          }

          .footer {
            width: 100%;
          }

          &.deemed {
            flex-grow: 0;
          }
        }

        .step-footer {
          background-color: white;
          padding: 30px 37px;
        }

        .step-page-summary {
          display: flex;
          justify-content: flex-end;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-size: 20px;
          font-weight: normal;
          color: white;

          .summary-block {
            display: flex;
            align-items: center;
            margin-right: 40px;

            .data {
              font-size: 30px;
              margin-left: 30px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .begin {
        align-items: center;
        justify-content: center;

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;
          flex-direction: column;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .col-form-label {
          font-size: 20px;
          color: #0C84C8;
        }
      }

      .objection {
        .btn-search { 
          margin-left: 9px;
          min-width: 101px;
        }

        .input-wrapper {
          margin-bottom: 0;
        }

        .notifier-type-id, .no-id {
          .col-form-label {
            margin-left: 0;
            padding-left: 0;
          }
        }

        .notifier-type-id {
          margin-bottom: 20px;

          .form-control {
            max-width: 270px;
          }
        }
        
        .no-id {
          .form-control {
            &.is-invalid {
              background: none;
            }
          }          
        }
      }

      .record-international {
        .form-row {
          margin-right: -10px;
          margin-left: -10px;
        }
      }

      .owner-and-agent {
        height: 100%;
        padding-left: 45px;

        .inner-wrapper {
          max-height: 100%;
          overflow-y: auto;
          padding-right: 30px;

          .form-group {
            .col-form-label {
              color: #FFF;  
              margin-left: 0;
              font-weight: 300;
              padding-left: 0;   
            }

            select {
              &.form-control {
                max-width: 195px;
              }
            }
          }

          .owner-row {
            padding-bottom: 25px;
          }

          .card {
            width: 300px;
            height: 343px;
            // height: auto;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            padding: 30px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            margin-right: 20px;
            border-radius: 0;

            &.view {
              width: 730px;
              height: 100%;
              min-height: 343px;
              max-height: 343px;
              justify-content: flex-start;
            }

            .operators {
              position: absolute;
              bottom: 30px;

              .btn {
                width: 50px;
                height: 50px;
                margin: 0 6px;

                &.edit {
                  border: 1px solid #CCEBFD;
                  background-color: #E6F2FA;

                  i {
                    color: #0C84C8;
                  }

                  &:hover {
                    background-color: #C1E6FF;
                  }

                  &:active {
                    background-color: #C1E6FF;
                  }

                  &:focus {
                    background-color: #C1E6FF;
                  }
                }

                &.delete {
                  border: 1px solid #FDCCCC;
                  background-color: #FAE6E6;

                  i {
                    color: #C31D1D;
                  }

                  &:hover {
                    background-color: #FFBEBE;
                  }

                  &:focus {
                    background-color: #FFBEBE;
                  }

                  &:active {
                    background-color: #FFBEBE;
                  }
                }
              }
            }

            &.add-more {
              cursor: pointer;

              .icon-wrapper {
                width: 107px;
                height: 107px;
                border-radius: 50%;
                border: 1px solid #CCEBFD;
                background-color: #E6F2FA;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 28px;
                  color: #0C84C8;
                }
              }

              .caption {
                font-size: 30px;
                color: #0C84C8;
                margin-top: 35px;
                text-align: center;
                font-weight: 500;

                .note {
                  font-size: 20px;
                }

                &.required {
                  position: relative;

                  &:after {
                    content: '*';
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63)
              }
            }
          }
        }

        .table {
          .table-inner {
            .tr {
              .td {
                padding: 15px 15px;
                color: #9A9A9A;
                background-color: #FFFFFF;
                align-items: flex-start;

                &.order {
                  flex: 0 0 45px;
                  max-width: 45px;
                }

                &.name {
                  flex: 1 1 160px;
                }

                &.address {
                  flex: 1 1 250px;
                }

                &.mobile {
                  flex: 1 1 90px;
                }
              }

              &.header {
                .td {
                  font-weight: normal;
                  font-size: 20px;
                  color: #707070;

                  &.order {
                    justify-content: flex-start;
                  }
                }
              }
            }
          }
        }

        .btn-next {
          margin-left: 0;
        }

        .choose-owner-and-agent-id {
          label {
            color: #FFF;
            font-weight: 300;
          }

          label + label {
            margin-left: 30px;
          }
        }

        .feedback-wrapper {
          background-color: #ffe2e2;
          border: 1px solid #ff8d8d;
          padding: 10px 15px;
          border-radius: 3px;
          margin-bottom: 30px;
          background-color: #ffe2e2;
          border: 1px solid #ff8d8d;
    
          .invalid-feedback {
            margin-top: 0;
            display: block;
            color: #C31D1D;     
          }
        }

        .footer {
          padding: 30px 0;
        }
      }

      .domestic-contact-address {
        .select-domestic-contact-address {
          padding: 0 25px;
          flex-wrap: wrap;

          .form-group {
            .input-wrapper-row {
              .flex {
                margin-bottom: 20px;

                .kt-radio {
                  margin-bottom: 0;
                  margin-top: 8px;
                }
              }
            }
          }

          .form-row {
            justify-content: space-between;
            margin: 0;

            .form-group {
              flex: 0 0 49%;
              max-width: 49%;
              position: relative;

              .div_autocomplete {
                margin-top: 30px;
              }

              .input {
                width: 100%;
              }

              .col-form-label {
                justify-content: flex-start;
              }

              .kt-radio {
                margin-top: 5px;
              }

              &.fluid {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
      }

      .brand-logo-image {
        height: 100%;
        overflow: auto;
        padding-right: 30px;
        padding-left: 30px;

        .brand-logo-image-form {
          padding: 0 25px;
          flex-wrap: wrap;

          .col-form-label {
            font-size: 20px;
            color: #0C84C8;
          }
        }

        .brand-logo-image-type {
          .kt-radio {
            width: 260px;
          }
        }

        .brand-logo-image-dimension-size {
          .input-wrapper-row {
            .form-control {
              width: 55px;
              min-width: 55px;
              text-align: center;
            }

            .multiply {
              width: 55px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              font-weight: normal;
              color: #707070;
            }

            .btn {
              margin-left: 20px;
            }
          }
        }

        .note {
          font-size: 16px;
          font-weight: normal;
          color: #707070;
          margin-left: 40px;
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
            color: #0C84C8;
          }
        }
      }

      .brand-logo-sound {
        height: 100%;
        overflow: auto;
        padding-right: 30px;
        padding-left: 30px;

        .brand-logo-sound-form {
          padding: 0 25px;
          flex-wrap: wrap;

          .col-form-label {
            font-size: 20px;
            color: #0C84C8;
          }
        }

        .brand-logo-sound-own-form {
          flex-wrap: wrap;
          border-top: 1px solid #C6C6C6;
          padding-top: 20px;

          .col-form-label {
            min-width: 0;
            margin-right: 40px;
            flex: none;
          }

          .kt-radio {
            margin-right: 30px;
          }
        }

        .note {
          font-size: 16px;
          color: #707070;
          display: flex;
          align-items: center;
          font-weight: normal;

          i {
            margin-right: 10px;
            color: #0C84C8;
          }
        }
      }

      .logo-color-group {
        height: 100%;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;
              width: 100%;
              margin-bottom: 10px;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }

            .kt-portlet__head-label {
              flex-wrap: wrap;
            }

            .sample {
              object-fit: cover;
              width: 200px;
              height: 120px;
              border: 1px solid #d0d0d0;
              margin-right: 15px;

              :last-child {
                margin-right: 0;
              }
            }
          }

          .kt-portlet__body__inner {
            .form-group {
              width: 100%;
            }

            &.select-tutelage {
              padding: 0 25px;
              flex-wrap: wrap;

              .logo-color-group-detail-form {
                width: 100%;
              }
            }
          }
        }
      }

      .logo-three-dememsions-group {
        height: 100%;
        padding: 60px 0 80px;

        .kt-portlet {
          max-width: 1010px;
          border-radius: 0;
          margin: auto;

          .kt-portlet__head {
            border-radius: 0;
            padding: 15px 25px;

            .kt-portlet__head-title {
              font-size: 30px;
              font-weight: 500;
              width: 100%;
              margin-bottom: 10px;

              &.inline {
                display: inline;

                .btn {
                  display: inline-flex;
                  margin-left: 20px;

                  i {
                    margin-right: 0;
                  }
                }
              }
            }

            .kt-portlet__head-label {
              flex-wrap: wrap;
            }

            .sample {
              object-fit: cover;
              width: 200px;
              height: 120px;
              border: 1px solid #d0d0d0;
              margin-right: 15px;

              :last-child {
                margin-right: 0;
              }
            }
          }

          .kt-portlet__body__inner {
            .form-group {
              width: 100%;
            }

            &.select-tutelage {
              padding: 0 25px;
              flex-wrap: wrap;

              .logo-three-dememsions-group-detail-form {
                width: 100%;
              }
            }
          }
        }
      }

      .finish {
        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;
          margin: 0 auto;

          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }

        .signature-select {
          width: 100%;
          margin-bottom: 15px;

          .caption {
            color: #0c84c8;
            font-size: 18px;
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-weight: normal;
          }

          .form-group {
            padding-left: 15px;
          }
        }

        .btx-more-suggest {
          width: 96%;
          position: absolute;
          /* bottom: 152px; */
          bottom: 12%;
          font-size: 20px;
          text-align: center;
          color: #fff
        }

        .kt-portlet__footer__inner {
          width: 100%;

          .btn {
            margin: 0 10px;
          }
        }
      }

      .reading-translation-foreign-language {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .step-page {
          .step-body {
            .table {
              .table-inner {
                .tr {
                  .td {
                    &.order {
                      flex: 0 0 65px;
                      max-width: 65px;
                      justify-content: center;
                      padding-right: 23px;
                    }

                    &.reading-translation-foreign-language-type {
                      flex: 1 1 350px;
                    }

                    &.reading {
                      flex: 1 1 350px;
                    }

                    &.translation {
                      flex: 1 1 350px;
                    }

                    &.operation {
                      flex: 0 0 170px;
                      max-width: 170px;
                      justify-content: flex-end;

                      .btn {
                        margin-right: 10px;

                        &.edit {
                          color: #0C84C8;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .product-service-group {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .product-service-name {
          position: relative;
        }

        .step-page {
          .step-body {
            .table {
              .table-inner {
                .tr {
                  .td {
                    &.order {
                      flex: 0 0 65px;
                      max-width: 65px;
                      justify-content: center;
                      padding-right: 23px;
                    }

                    &.group {
                      flex: 0 0 250px;
                      max-width: 250px;
                    }

                    &.product-service-name {
                      flex: 1 1 auto;

                      .input-wrapper-row {
                        width: 100%;
                      }
                    }

                    &.amount {
                      flex: 0 0 190px;
                      max-width: 190px;
                    }

                    &.fee {
                      flex: 0 0 210px;
                      max-width: 210px;
                      justify-content: center;
                    }

                    &.operation {
                      flex: 0 0 120px;
                      max-width: 120px;
                      justify-content: flex-end;
                    }

                    &.feedback-inside {
                      padding-bottom: 0;

                      .form-group {
                        .input-wrapper {
                          margin-bottom: 0px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .step-footer {
            padding-top: 0;

            .step-seventh-next {
              .input-wrapper {
                margin-bottom: 0;

                .feedback-wrapper {
                  margin: 0;
                  height: auto;

                  .invalid-feedback {
                    margin-bottom: 10px;
                    padding: 4px 10px;
                    background-color: white;
                    font-size: 15px;
                    border-radius: 3px;
                    text-align: center;
                  }
                }
              }

              .btn {
                margin: 0 auto;
              }
            }
          }
        }
      }

      .supporting-documents {
        height: 100%;
        overflow: auto;
        padding: 40px 0 80px;
        align-items: flex-start;
        flex-direction: column;

        .step-page {
          display: unset;

          .step-body {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            .check-list-card {
              background-color: white;
              min-height: 70px;
              width: 100%;
              padding: 18px;
              margin-bottom: 16px;
              align-items: center;
              flex-wrap: wrap;

              .kt-checkbox {
                i {
                  color: #0C84C8;
                  font-size: 34px;
                }

                margin-right: 15px;
              }

              .check-list-title {
                font-family: 'Noto Sans Thai',
                  'Noto Sans';
                font-size: 20px;
                font-weight: 500;
                color: #707070;
              }

              .form {
                width: 100%;
                display: none;
                padding: 0;
                margin: 0;
                flex-wrap: wrap;
                background-color: white;
                justify-content: center;

                .form-title {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  color: #0C84C8;
                  font-family: 'Noto Sans Thai',
                    'Noto Sans';
                  font-size: 20px;
                  font-weight: 500;
                }

                .form-row {
                  display: flex;
                  justify-content: space-between;

                  .form-group {
                    flex: none;
                  }

                  &.two-column {
                    .form-group {
                      width: 49%;
                    }
                  }

                  &.three-column {
                    .form-group {
                      width: 32%;
                    }
                  }

                  &.slider-control {
                    margin: 15px 0;
                  }
                }

                .form-control {
                  width: 100%;
                }

                &.show {
                  display: flex;
                  padding: 15px 20px;
                  margin-top: 15px;
                }
              }

              &.checked {
                background-color: #CEFFEA;
              }
            }

            .check-list-input-wrapper {
              flex-grow: 1;
              // flex: 1 0 auto;
            }

            .note {
              font-family: 'Noto Sans Thai',
                  'Noto Sans';
            }
          }

          .step-footer {
            background-color: transparent;
          }
        }
      }

      .fee {
        align-items: center;
        justify-content: center;

        .kt-portlet {

          //HACK Parent color
          .kt-portlet__body__inner {
            .form-group {
              .col-form-label {
                color: #6D6E71;
              }
            }
          }
        }

        .kt-portlet__body__inner {
          width: 100%;
          max-width: 670px;

          .form-group {
            .form-control {
              width: 100%;
            }

            .col-form-label {
              margin-left: 0;
              min-width: 230px;
            }

            .text-unit {
              font-size: 20px;
              margin-left: 10px;
              min-width: 35px;
            }
          }
        }

        .kt-portlet__footer__inner {
          .btn {
            margin: 0 10px;
          }
        }
      }

      .footer-eform {
        display: flex;
        position: absolute;
        left: -9px;
        right: 0;
        bottom: 0;
        height: 70px;
        flex-direction: column;

        .progress-bar {
          height: 12px;
          width: 100%;
          background-color: #E7E7E7;

          .bar {
            min-width: 50px;
            height: 100%;
            background-color: #52D69D;
          }
        }

        .summary-and-control {
          flex: 1 1 auto;
          width: 100%;
          background-color: white;
          display: flex;
          justify-content: space-between;

          .summary-progress {
            display: flex;
            align-items: center;
            padding: 5px 15px 0 35px;

            .progress-number {
              display: flex;
              width: 75px;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: 500;
              font-size: 40px;
              color: #149BA9;
              line-height: 40px;
              margin-right: 8px;
              height: 53px;
              overflow: hidden;
              justify-content: flex-end;
              align-items: center;
            }

            .units {
              font-family: 'Noto Sans Thai', 'Noto Sans';

              .percentage {
                line-height: 20px;
                font-size: 19px;
                font-weight: 500;
                font-family: 'Noto Sans Thai', 'Noto Sans';
                color: #149BA9;
              }

              .unit {
                font-size: 16px;
                font-weight: normal;
                color: #707070;
                margin-top: -5px;
              }
            }
          }

          .control {
            display: flex;
            align-items: center;
            padding: 0 30px 0 15px;

            .note {
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-weight: normal;
              font-size: 16px;
              margin-right: 20px;
            }

            .btn-wrapper {
              display: flex;

              .btn {
                margin-left: 15px;
              }
            }
          }
        }
      }

      // Start select multi  
      .select-wrapper {
        display: flex;       
      }

      .select-container {
        display: flex;
        border: 1px solid #EBEDF2;
        border-radius: 5px;
        padding: 0 8px;
        overflow-y: auto; 
        max-height: 100px;
        width: 492px;
      
        .select-value {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      
        .select-multi-value {
          border: 1px solid #0C84C8;
          border-radius: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: #0C84C8;
          padding: 2px 10px;
          margin-right: 5px;
          margin: 2px 3px;
          font-size: 16px;
          font-weight: normal;
        }
      
        .select-multi-value-remove {
          margin-left: 5px;
          cursor: pointer;
      
          i {
            font-size: 12px;
          }
        }
      
        .select-input {
          .input {
            font-size: 16px;
            border: none;
            opacity: 1;
            outline: 0px;
            padding: 0px;
            // color: inherit;
          }
        }
      }

      .header-note {
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
      }
  
      .footer-note {
        font-size: 20px;
        display: flex;
        margin-top: 30px;
        color: #FFF;
        justify-content: center;
      }
  
      .btn-next {
        min-width: 101px;
      }
  
      .form-control:disabled {
        background-color: #F4F5F8;
      }
    }
  }

  ::ng-deep {
    .modal {
      // &.step-three-modal {
      //   .modal-body {
      //     padding: 1.25rem 55px;
      //   }

      //   .section-title {
      //     font-size: 20px;
      //     font-family: 'Noto Sans Thai', 'Noto Sans';
      //     font-weight: normal;
      //     color: black;
      //     width: 100%;
      //     text-align: center;
      //     margin-top: 15px;
      //   }

      //   .form-row {
      //     justify-content: space-between;

      //     .form-group {
      //       flex: 0 0 49%;
      //       max-width: 49%;

      //       .input {
      //         width: 100%;
      //       }

      //       .kt-radio {
      //         margin-top: 5px;
      //       }

      //       &.agent-type {
      //         .kt-radio {
      //           width: 150px;
      //         }
      //       }

      //       &.fluid {
      //         flex: 0 0 100%;
      //         max-width: 100%;
      //       }
      //     }
      //   }

      //   .modal-footer {
      //     justify-content: center;

      //     .btn-group-wrapper {
      //       .btn {
      //         margin-left: 0;
      //       }
      //     }
      //   }
      // }

      // &.step-thirteen-modal {
      //   .modal-body {
      //     padding: 1.25rem 55px;
      //   }

      //   .form-row {
      //     justify-content: space-between;

      //     .form-group {
      //       flex: 0 0 49%;
      //       max-width: 49%;

      //       .input {
      //         width: 100%;
      //       }

      //       .kt-radio {
      //         margin-top: 5px;
      //       }

      //       &.agent-type {
      //         .kt-radio {
      //           width: 150px;
      //         }
      //       }

      //       &.fluid {
      //         flex: 0 0 100%;
      //         max-width: 100%;
      //       }
      //     }
      //   }

      //   .modal-footer {
      //     justify-content: center;

      //     .btn-group-wrapper {
      //       .btn {
      //         margin-left: 0;
      //       }
      //     }
      //   }
      // }

      // &.step-seventh-modal {
      //   .search-filter-wrapper {
      //     .form-group {
      //       max-width: 500px;

      //       .input {
      //         width: 100%;
      //       }
      //     }

      //     .search-result-wrapper {
      //       .table {
      //         margin-bottom: 30px;
      //         margin-top: 20px;

      //         .table-inner {
      //           .tr {
      //             .td {
      //               min-height: 40px;
      //               padding: 5px 15px;

      //               &.checkbox {
      //                 flex: 0 0 50px;
      //                 max-width: 50px;
      //                 justify-content: center;
      //                 text-align: center;
      //               }

      //               &.category-number {
      //                 flex: 1 1 auto;
      //               }

      //               &.product-service-name {
      //                 flex: 0 0 550px;
      //                 max-width: 550px;
      //               }
      //             }

      //             &:nth-child(2n) {
      //               background-color: #F4F5F8;
      //             }

      //             &.header {
      //               .td {
      //                 color: #626366;
      //               }
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }

      //   .section {
      //     margin-bottom: 25px;
      //     width: 100%;

      //     .section-title {
      //       font-size: 20px;
      //       font-family: 'Noto Sans Thai', 'Noto Sans';
      //       font-weight: normal;
      //       color: black;
      //       width: 100%;
      //       margin-top: 15px;
      //     }
      //   }

      //   .note {
      //     font-size: 16px;
      //     font-family: 'Noto Sans Thai', 'Noto Sans';
      //     font-weight: normal;
      //     color: #626366;

      //     span {
      //       color: #FF0000
      //     }
      //   }

      //   .table {
      //     margin-bottom: 30px;
      //     margin-top: 20px;

      //     .table-inner {
      //       .tr {
      //         border-bottom: 1px solid #F4F5F8;

      //         .td {
      //           min-height: 40px;
      //           padding: 5px 15px;
      //         }

      //         // &:nth-child(2n) {
      //         //   background-color: #F4F5F8;
      //         // }

      //         &:nth-child(2n) {
      //           background-color: white;

      //           .td {
      //             background-color: white;
      //           }
      //         }

      //         &.header {
      //           .td {
      //             color: #626366;
      //           }
      //         }
      //       }
      //     }

      //     &.domestic-fee {
      //       .table-inner {
      //         .tr {
      //           .td {
      //             &.order {
      //               flex: 0 0 60px;
      //               max-width: 60px;
      //               justify-content: center;
      //             }

      //             &.document-id {
      //               flex: 0 0 60px;
      //               max-width: 60px;
      //               justify-content: center;
      //             }

      //             &.detail {
      //               flex: 1 1 auto;
      //             }

      //             &.fee {
      //               flex: 0 0 140px;
      //               max-width: 140px;
      //               justify-content: center;
      //             }
      //           }
      //         }
      //       }
      //     }

      //     &.aboard-fee {
      //       .table-inner {
      //         .tr {
      //           .td {
      //             &.order {
      //               flex: 0 0 110px;
      //               max-width: 110px;
      //               justify-content: center;
      //             }

      //             &.detail {
      //               flex: 1 1 auto;
      //               padding-right: 25px;
      //             }

      //             &.fee {
      //               flex: 0 0 140px;
      //               max-width: 140px;
      //               justify-content: center;
      //             }
      //           }

      //           &.header {
      //             background-color: #555555;

      //             .td {
      //               color: white;
      //               justify-content: center;
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }

      //   .modal-footer {
      //     justify-content: center;

      //     .btn-group-wrapper {
      //       .btn {
      //         margin-left: 0;
      //       }
      //     }
      //   }
      // }

      &.deactivation-modal {
        .btn + .btn {
          margin-left: 15px;
        }
      }
    }
  }
}
