<div class="container-inner flex">
  <div class="step-panel">
    <ng-container *ngFor="let menu of menuList">
      <div
        class="step-item"
        [ngClass]="{
          current: currentStep == menu.number && !menu.hasSub,
          passed: stepPass > menu.number,
          required: menu.required,
          'has-sub-item': menu.hasSub,
          'is-open': currentStep == menu.number
        }"
      >
        <div
          class="item-name"
          [ngStyle]="{ cursor: menu.canedit ? 'pointer' : 'auto' }"
          (click)="backtomenu(menu.canedit, menu.number)"
        >
          {{ menu.number }}. {{ menu.name }}
        </div>

        <!-- STEP SUB ITEM -->
        <div class="step-sub-items">
          <ng-container *ngFor="let sub of menu.subList">
            {{ currentStep == menu.number && currentSubStep == sub.number }}
            <div
              class="step-sub-item"
              [ngClass]="{
                current:
                  currentStep == menu.number && currentSubStep == sub.number
              }"
            >
              <div class="sub-item-name">
                {{ menu.number }}.{{ sub.number }} {{ sub.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="eform-content">
    <!-- Start Step 1 Form -->
    <div
      class="flex step-basic finish"
      *ngIf="currentID == 1"
      style="display: block; padding-top: 150px;"
    >
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. บันทึกเพื่อรับไฟล์
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label">
                Email สำหรับรับไฟล์
              </label>

              <div class="input-wrapper">
                <input
                  class="form-control input"
                  [(ngModel)]="input.email"
                  #key_email
                  id="email"
                  placeholder="กรุณากรอก Email สำหรับรับไฟล์"
                  [ngClass]="validate[key_email.id] ? 'is-invalid' : null"
                />

                <div class="feedback-wrapper">
                  <div *ngIf="validate[key_email.id]" class="invalid-feedback">
                    {{ validate[key_email.id] }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                เบอร์โทรศัพท์
              </label>

              <div class="input-wrapper">
                <input
                  #key_telephone
                  id="telephone"
                  class="form-control input"
                  [(ngModel)]="input.telephone"
                  placeholder="กรุณากรอกเบอร์โทรศัพท์"
                  [ngClass]="validate[key_telephone.id] ? 'is-invalid' : null"
                  maxlength="10"
                />

                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_telephone.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_telephone.id] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>

            <!--button class="btn btn-brand" (click)="cancel()">
              ดูใบคำขอ ก.01
            </button>-->
          </div>
        </div>
      </div>
      <div class="kt-portlet" style="background: #0c84c8;">
        <label
          style="color: white; margin: auto; padding-top: 15px; height: 50px;"
        >
          ระบบจะส่งคำขอ ก.08 และ Link สำหรับแก้ไขใบคำขอไปที่ Email สำหรับไฟล์
          หลังทำการบันทึกข้อมูล
        </label>
      </div>
    </div>
    <!-- End Step 1 Form -->

    <!-- Start Step 2 Form -->
    <div class="flex step-basic" *ngIf="currentID == 2">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ titleStep }}
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center">
            <div class="form-group">
              <label class="col-form-label" style="color: #707070;">
                คำขอเลขที่*
              </label>
              <div class="input-wrapper">
                <div class="row">
                  <div class="col-10">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      [disabled]="!input.isAllowEditRequestNumber"
                      placeholder="กรุณากรอก คำขอเลขที่"
                      [(ngModel)]="input.request_number"
                      [ngClass]="validate.request_number ? 'is-invalid' : null"
                      (input)="clearValidate('request_number')"
                      (keyup)="onKey($event, 'request_number')"
                    />
                  </div>
                  <div class="col-2">
                    <button
                      class="btn btn-primary"
                      style="
                        background-color: #0c84c8;
                        border-color: #0c84c8;
                        color: white;
                      "
                      (click)="searchRequestNumber()"
                    >
                      <i class="dip-icon-search"></i>
                      ค้นหา
                    </button>
                  </div>
                </div>

                <div class="feedback-wrapper">
                  <div *ngIf="validate.request_number" class="invalid-feedback">
                    {{ validate.request_number }}
                  </div>
                </div>
              </div>
            </div>

            <div
              class="form-group brand-logo-image-type"
              *ngIf="input.product_list.length > 0"
            >
              <div class="row" style="margin-top: 15px;">
                <label
                  class="col-form-label"
                  style="color: #707070; padding-left: 10px;"
                >
                  เลขที่ผู้คัดค้าน*
                </label>
                <input class="form-control input" type="text" />
              </div>

              <div class="table" style="margin-bottom: 0;">
                <div class="table-inner" style="margin-bottom: 0;">
                  <div class="tr header">
                    <!-- <div class="td order" style="width:50px;">
                      <div class="checkbox">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                          <input type="checkbox" value="">
                          <span></span>
                        </label>
                      </div>
                    </div> -->
                    <div
                      class="td group"
                      style="width: 50px; padding-left: 35px;"
                    >
                      ลำดับ
                    </div>
                    <div
                      class="td group"
                      style="width: 220px; padding-left: 50px;"
                    >
                      เลขที่ผู้คัดค้าน
                    </div>
                    <div
                      class="td product-service-name"
                      style="
                        width: 500px;
                        padding-left: 150px;
                        padding-right: 150px;
                      "
                    >
                      ชื่อผู้คัดค้าน
                    </div>
                    <div
                      class="td amount"
                      style="
                        width: 350px;
                        padding-left: 80px;
                        padding-right: 50px;
                      "
                    >
                      วันหมดอายุโต้เเย้ง
                    </div>
                  </div>

                  <div class="table-data">
                    <div
                      class="tr"
                      *ngFor="
                        let item of input.product_list
                          | paginate
                            : {
                                id: 'pagination1',
                                itemsPerPage: perpageP1,
                                currentPage: currentP1
                              };
                        index as i
                      "
                    >
                      <div class="td order" style="width: 50px;">
                        <div class="checkbox">
                          <label
                            class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                          >
                            <input
                              type="checkbox"
                              (click)="onSelectColumnProduct(item)"
                              [checked]="item.is_check"
                            />
                            <span></span>
                          </label>
                        </div>
                      </div>

                      <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input type="checkbox" value=""
                               [(ngModel)]="Noliststep2">
                        <span>aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                      </label>-->

                      <div class="td group" style="width: 50px;">
                        <input
                          class="form-control input"
                          type="text"
                          [(ngModel)]="Noliststep2"
                        />
                        {{ i + 1 }}
                      </div>

                      <div
                        class="td group"
                        style="
                          width: 150px;
                          padding-left: 35px;
                          padding-right: 35px;
                        "
                      >
                        <!--<input class="form-control input"
                        type="text"
                        [(ngModel)]="item.amount_product" />-->
                        {{ item.id }}
                      </div>
                      <div
                        class="td product-service-name"
                        style="
                          width: 600px;
                          padding-left: 50px;
                          padding-right: 50px;
                        "
                      >
                        <!--<input class="form-control input"
                        type="text"
                        [(ngModel)]="item.item_sub_type_1_code" />-->
                        {{ item.description }}
                      </div>
                      <div
                        class="td amount"
                        style="width: 100%; width: 200px; padding-right: 50px;"
                      >
                        <!--<input class="form-control input"
                        type="text"
                        [(ngModel)]="item.name" />-->
                        {{ item.created_date_text }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- pagination -->
              <div class="kt-pagination kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered" style="margin-top: 8px;">
                    <pagination-controls
                      id="pagination1"
                      (pageChange)="currentP1 = $event"
                    ></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label
                        class="col-form-label"
                        style="font-size: 16px; color: black; min-width: 0;"
                      >
                        ไปหน้าที่
                      </label>

                      <input
                        #key_page_input
                        class="form-control input"
                        type="number"
                        min="1"
                        max="{{ totalP1 }}"
                        id="page_input"
                        [(ngModel)]="input[key_page_input.id]"
                        (ngModelChange)="onChangePage($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="kt-pagination__toolbar">
                  <select
                    class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value)"
                  >
                    <option [value]="1"> 1 </option>
                    <option [value]="3"> 3 </option>
                    <option [value]="5"> 5 </option>
                  </select>
                  <span class="pagination__desc">
                    หน้าที่ 1/1 รายการที่ 1-{{ perpageP1 }} / {{ totalP1 }}
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" style="color: #707070;">
                วันที่ยื่นโต้เเย้ง
              </label>

              <div class="input-wrapper">
                <div class="row">
                  <div class="col-10">
                    <input
                      class="form-control input"
                      style="width: 100%;"
                      readonly
                      [(ngModel)]="input.request_date_text"
                    />
                  </div>
                  <div class="col-2"></div>
                </div>

                <div class="feedback-wrapper">
                  <div *ngIf="validate.step2" class="invalid-feedback">
                    {{ validate.step2 }}
                  </div>
                </div>
              </div>
            </div>

            <!--<button class="btn btn-eform-secondary btn-icon-right"
                    (click)="changeStep('next')">
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>-->
          </div>
        </div>
        <!---->
        <!--*ngIf="Noliststep2 != undefined"-->
        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 2 Form -->

    <!-- Start Step 3 Form -->
    <div class="owner-and-agent" *ngIf="currentID == 3">
      <div class="inner-wrapper">
        <div class="header-note">
          * ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal('isModalOwnerFormOpen', undefined, 'people_list')
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption required">
              เพิ่ม <br />
              ผู้คัดค้าน
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.people_list; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="toggleModal('isModalOwnerFormOpen', i, 'people_list')"
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="onClickRemoveInTable('input', 'people_list', i)"
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="owner-row flex">
          <div
            class="add-more card"
            (click)="
              toggleModal(
                'isModalAgentFormOpen',
                undefined,
                'representative_list'
              )
            "
          >
            <div class="icon-wrapper">
              <i class="dip-icon-add-new"></i>
            </div>

            <div class="caption">
              เพิ่มตัวแทน <br />
              ผู้คัดค้าน <span class="note">(ถ้ามี)</span>
            </div>
          </div>

          <div
            class="card view"
            *ngFor="let item of input.representative_list; index as i"
          >
            <div class="table">
              <div class="table-inner">
                <div class="tr header">
                  <div class="td name">
                    ชื่อ
                  </div>
                  <div class="td address">
                    ที่อยู่
                  </div>
                  <div class="td mobile">
                    โทรศัพท์
                  </div>
                </div>

                <div class="table-data">
                  <div class="tr">
                    <div class="td name">
                      {{ item.name }}
                    </div>
                    <div class="td address">
                      {{ displayAddress(item) }}
                    </div>
                    <div class="td mobile">
                      {{ item.telephone }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="operators">
              <button
                class="btn btn-icon round edit"
                (click)="
                  toggleModal('isModalAgentFormOpen', i, 'representative_list')
                "
              >
                <i class="dip-icon-edit"></i>
              </button>

              <button
                class="btn btn-icon round delete"
                (click)="
                  onClickRemoveInTable('input', 'representative_list', i)
                "
              >
                <i class="dip-icon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <div
          class="form-group flex"
          *ngIf="input.representative_list.length > 0"
        >
          <label class="col-form-label">
            คำเชื่อมระหว่างตัวแทน*
          </label>

          <div class="input-wrapper">
            <select
              required
              class="form-control"
              [(ngModel)]="input.save021_representative_condition_type_code"
              (input)="
                clearValidate('save021_representative_condition_type_code')
              "
            >
              <option
                *ngFor="
                  let item of master.addressRepresentativeConditionTypeCodeList
                "
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="feedback-wrapper"></div>
          </div>
        </div>

        <div class="form-group step-three-next">
          <div class="input-wrapper">
            <div class="feedback-wrapper">
              <div *ngIf="validate.step3" class="invalid-feedback">
                {{ validate.step3 }}
              </div>
            </div>
          </div>

          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="changeStep('next')"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 3 Form -->

    <!-- Start Step 4 Form -->
    <div class="flex domestic-contact-address" *ngIf="currentID == 4">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. สถานที่ติดต่อภายในประเทศไทย
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner select-domestic-contact-address">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="input-wrapper-row flex-column">
                  <ng-container *ngFor="let item of master.addressTypeCodeList">
                    <div
                      class="flex"
                      *ngIf="
                        item.code == 'OWNER' ||
                        item.code == 'OTHERS' ||
                        (item.code == 'REPRESENTATIVE' &&
                          input.listAgentMarkRepresentative1.length > 0) ||
                        (item.code == 'REPRESENTATIVE_PERIOD' &&
                          input.listAgentMarkRepresentative2.length > 0)
                      "
                    >
                      <!-- radio -->
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        <input
                          name="save021_contact_type_code"
                          type="radio"
                          (click)="
                            binding(
                              'input',
                              'save021_contact_type_code',
                              item.code
                            )
                          "
                          [checked]="
                            item.code === input.save021_contact_type_code
                          "
                          (input)="clearValidate('save021_contact_type_code')"
                        />
                        {{ item.name }}
                        <span></span>
                      </label>

                      <!-- select people_list -->
                      <ng-container
                        *ngIf="
                          item.code == 'OWNER' &&
                          input.save021_contact_type_code === item.code &&
                          input.people_list.length > 1
                        "
                      >
                        <!--// [disabled]="!(input.save021_contact_type_code === item.code)" -->
                        <select
                          *ngIf="item.code != 'OTHERS'"
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="let item of input.people_list; index as i"
                            [value]="i"
                            >ใช้ที่อยู่ของเจ้าของลำดับที่ {{ i + 1 }}</option
                          >
                        </select>
                      </ng-container>

                      <!-- select representative_list (ตัวแทน) -->
                      <ng-container
                        *ngIf="
                          item.code == 'REPRESENTATIVE' &&
                          input.save021_contact_type_code === item.code &&
                          input.listAgentMarkRepresentative1.length > 1
                        "
                      >
                        <select
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="
                              let item of input.listAgentMarkRepresentative1;
                              index as i
                            "
                            [value]="i"
                          >
                            ใช้ที่อยู่ของตัวแทนลำดับที่ {{ item + 1 }}
                          </option>
                        </select>
                      </ng-container>

                      <!-- select representative_list (ตัวแทนช่วง) -->
                      <ng-container
                        *ngIf="
                          item.code == 'REPRESENTATIVE_PERIOD' &&
                          input.save021_contact_type_code === item.code &&
                          input.listAgentMarkRepresentative2.length > 1
                        "
                      >
                        <select
                          class="form-control"
                          [(ngModel)]="input.contact_type_index"
                        >
                          <option
                            *ngFor="
                              let item of input.listAgentMarkRepresentative2;
                              index as i
                            "
                            [value]="i"
                          >
                            ใช้ที่อยู่ของตัวแทนลำดับที่ {{ item + 1 }}
                          </option>
                        </select>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate.save021_contact_type_code"
                    class="invalid-feedback"
                  >
                    {{ validate.save021_contact_type_code }}
                  </div>
                </div>
              </div>
            </div>

            <div
              class="other-contact-address-form flex flex-wrap"
              *ngIf="input.save021_contact_type_code === 'OTHERS'"
            >
              <div class="form-row">
                <div class="form-group">
                  <label class="col-form-label" for="step4PersonalType">
                    ประเภทบุคคล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <select
                      class="form-control"
                      [(ngModel)]="input.address.receiver_type_code"
                      (input)="clearValidate('receiver_type_code')"
                    >
                      <option
                        *ngFor="let item of master.addressReceiverTypeCodeList"
                        [value]="item.code"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.receiver_type_code"
                        class="invalid-feedback"
                      >
                        {{ validate.receiver_type_code }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="step4PersonalType">
                    ตัวแทนเฉพาะการ<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <div class="form-row">
                      <div class="form-group">
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="specialized01_agent"
                            type="radio"
                            (click)="
                              bindingInTable(input.address, 'is_specific', true)
                            "
                            [checked]="input.address.is_specific === true"
                            (input)="clearValidate('is_specific')"
                          />
                          ใช่
                          <span></span>
                        </label>
                      </div>
                      <div class="form-group">
                        <label class="kt-radio kt-radio--bold kt-radio--brand">
                          <input
                            name="specialized02_agent"
                            type="radio"
                            (click)="
                              bindingInTable(
                                input.address,
                                'is_specific',
                                false
                              )
                            "
                            [checked]="input.address.is_specific === false"
                            (input)="clearValidate('is_specific')"
                          />
                          ไม่ใช่
                          <span></span>
                        </label>
                      </div>
                    </div>
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.is_specific"
                        class="invalid-feedback"
                      >
                        {{ validate.is_specific }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fullname"
                  >
                    {{
                      input.address.receiver_type_code == "PEOPLE" ||
                      input.address.receiver_type_code == "PEOPLE_FOREIGNER"
                        ? "คำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย"
                        : "ชื่อหน่วยงาน"
                    }}
                    <span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      [placeholder]="
                        input.address.receiver_type_code == 'PEOPLE' ||
                        input.address.receiver_type_code == 'PEOPLE_FOREIGNER'
                          ? 'ระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย'
                          : 'กรุณาระบุชื่อนิติบุคคล ตัวอย่าง บริษัท.......จำกัด(มหาชน)'
                      "
                      [(ngModel)]="input.address.name"
                      [ngClass]="validate.name ? 'is-invalid' : null"
                      (input)="clearValidate('name')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.name" class="invalid-feedback">
                        {{ validate.name }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div
                  class="form-group"
                  *ngIf="
                    input.address.receiver_type_code == 'PEOPLE' ||
                    input.address.receiver_type_code == 'PEOPLE_FOREIGNER'
                  "
                >
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_lastname"
                  >
                    นามสกุล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุนามสกุล"
                      [(ngModel)]="input.address.lname"
                      [ngClass]="validate.lname ? 'is-invalid' : null"
                      (input)="clearValidate('lname')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.lname" class="invalid-feedback">
                        {{ validate.lname }}
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address"
                  >
                    ที่อยู่<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุที่อยู่"
                      [(ngModel)]="input.address.house_number"
                      [ngClass]="validate.house_number ? 'is-invalid' : null"
                      (input)="clearValidate('house_number')"
                    />

                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.house_number"
                        class="invalid-feedback"
                      >
                        {{ validate.house_number }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_village_number"
                  >
                    หมู่ที่
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุหมู่ที่"
                      [(ngModel)]="input.address.village_number"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_alley_name"
                  >
                    ตรอก/ซอย
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุตรอก/ซอย"
                      [(ngModel)]="input.address.alley"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_road_name"
                  >
                    ถนน
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุถนน"
                      [(ngModel)]="input.address.street"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group fluid">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_subDistrict_district_province"
                  >
                    ตำบล / แขวง<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <div class="form-group flex input-with-icon">
                      <input
                        class="form-control input"
                        type="text"
                        placeholder="ระบุตำบล"
                        [(ngModel)]="input.address.address_sub_district_name"
                        [ngClass]="
                          validate.address_sub_district_name
                            ? 'is-invalid'
                            : null
                        "
                        (input)="
                          onChangeAutocomplete(
                            'address_sub_district_name',
                            input.address.address_sub_district_name,
                            'address'
                          )
                        "
                        autocomplete="off"
                      />
                      <button
                        disabled
                        class="btn btn-input-search btn-icon"
                        type="button"
                      >
                        <i class="dip-icon-search"></i>
                      </button>
                    </div>
                    <div class="feedback-wrapper">
                      <div
                        *ngIf="validate.address_sub_district_name"
                        class="invalid-feedback"
                      >
                        {{ validate.address_sub_district_name }}
                      </div>
                    </div>
                  </div>

                  <div
                    class="div_autocomplete"
                    *ngIf="isShowAutocomplete.address_sub_district_name"
                    (clickOutside)="
                      onClickOutsideAutocomplete('address_sub_district_name')
                    "
                  >
                    <!-- ไม่พบข้อมูล -->
                    <div
                      *ngIf="
                        autocompleteList.address_sub_district_name.length == 0
                      "
                    >
                      <div>
                        ไม่พบข้อมูล
                      </div>
                    </div>

                    <div
                      *ngFor="
                        let autocomplete of autocompleteList.address_sub_district_name
                      "
                      (click)="
                        onSelectAutocomplete(
                          'address_sub_district_name',
                          autocomplete,
                          'address'
                        )
                      "
                    >
                      <div>
                        ตำบล {{ autocomplete.name }} อำเภอ
                        {{ autocomplete.district_name }} จังหวัด
                        {{ autocomplete.province_name }} รหัสไปรษณีย์
                        {{ autocomplete.postal_code }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_zipcode"
                  >
                    อำเภอ / เขต
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      type="text"
                      placeholder=""
                      [(ngModel)]="input.address.address_district_name"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_country"
                  >
                    จังหวัด
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      type="text"
                      placeholder=""
                      [(ngModel)]="input.address.address_province_name"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_zipcode"
                  >
                    รหัสไปรษณีย์
                  </label>

                  <div class="input-wrapper">
                    <input
                      disabled
                      class="form-control input"
                      type="text"
                      placeholder=""
                      [(ngModel)]="input.address.postal_code"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_country"
                  >
                    อีเมล<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.email"
                      [ngClass]="validate.email ? 'is-invalid' : null"
                      (input)="clearValidate('email')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.email" class="invalid-feedback">
                        {{ validate.email }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_mobile_number"
                  >
                    โทรศัพท์<span class="required">*</span>
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.telephone"
                      [ngClass]="validate.telephone ? 'is-invalid' : null"
                      (input)="clearValidate('telephone')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.telephone" class="invalid-feedback">
                        {{ validate.telephone }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="col-form-label"
                    for="other_domestic_contact_address_fax_number"
                  >
                    โทรสาร
                  </label>

                  <div class="input-wrapper">
                    <input
                      class="form-control input"
                      type="text"
                      placeholder="ระบุอีเมล"
                      [(ngModel)]="input.address.fax"
                      [ngClass]="validate.fax ? 'is-invalid' : null"
                      (input)="clearValidate('fax')"
                    />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate.fax" class="invalid-feedback">
                        {{ validate.fax }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 4 Form -->

    <!-- Start Step 5 Form -->
    <div class="flex step-basic" *ngIf="currentID == 5">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              {{ currentStep }}. ระบุเหตุแห่งการโต้แย้ง
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body" style="padding-left: 40px;">
          <label class="col-form-label" style="font-weight: 500;">
            คำขอที่คัดค้านได้ประกาศโฆษณา
          </label>
          <div
            class="right-panel flex align-items-center"
            style="color: #0c84c8; font-size: large; font-weight: 500;"
          >
            <div class="row">
              <div class="col-1">
                <label class="col-form-label" style="color: #6d6e71;"
                  >วันที่</label
                >
              </div>
              <div class="col-3">
                <input
                  class="form-control input"
                  style="width: 100%;"
                  [(ngModel)]="input.public_start_date"
                />
              </div>

              <div class="col-1">
                <label class="col-form-label" style="color: #6d6e71;"
                  >จำพวกที่</label
                >
              </div>
              <div class="col-2">
                <input
                  class="form-control input"
                  style="width: 100%;"
                  [(ngModel)]="input.request_item_sub_type_1_code_text"
                  disabled
                />
              </div>

              <div class="col-1">
                <label class="col-form-label" style="color: #6d6e71;"
                  >ลำดับที่</label
                >
              </div>
              <div class="col-2">
                <input
                  class="form-control input"
                  style="width: 100%;"
                  [(ngModel)]="input.public_line_index"
                  disabled
                />
              </div>

              <div class="col-1" style="padding-top: 3px;">
                <button
                  type="button"
                  style="background: lightblue;"
                  (click)="toggleModal('isModalListAssignRetaliate')"
                >
                  <i style="font-weight: 700; color: #0c84c8; padding-top: 5px;"
                    >&bull;&bull;&bull;</i
                  >
                </button>
              </div>
            </div>
          </div>

          <br />

          <div
            class="right-panel flex align-items-center"
            style="color: #0c84c8; font-size: large; font-weight: 500;"
          >
            <label class="col-form-label">
              เอกสารหลักฐานประกอบการโต้เเย้ง
            </label>

            <div
              class="upload-btn-wrapper"
              style="width: inherit; margin-left: 10px;"
            >
              <div class="upload-input-wrapper">
                <button type="button" class="btn btn-brand">
                  <i class="dip-icon-upload-circle"></i>แนบไฟล์
                </button>

                <input
                  type="file"
                  name="myfile"
                  class="upload-input"
                  accept="image/*"
                  (change)="onClickUploadImage($event, 'input', 'imageMark')"
                />
              </div>
            </div>

            <button class="btn btn-brand" style="margin-left: 20px;">
              ดาวน์โหลดฟอร์ม ก.11
            </button>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button
              class="btn btn-eform-secondary btn-icon-right"
              (click)="changeStep('next')"
              style="margin-left: 0px; padding-left: 25px;"
            >
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 5 Form -->

    <!-- Start Step 6 Form -->
    <div class="flex supporting-documents" *ngIf="currentID == 6">
      <div class="step-page">
        <div class="step-header justify-content-space-between">
          <div class="step-page-title">
            เอกสารหลักฐานประกอบคำโต้เเย้ง
          </div>
        </div>

        <div class="step-body">
          <div class="row">
            <div
              class="check-list-card flex align-items-center"
              style="width: 1386px;"
              [ngClass]="{
                checked: input.is_6_1 == true
              }"
            >
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                style="margin-left: 10px; padding-left: 10px;"
              >
                <input
                  type="checkbox"
                  style="margin-left: 10px;"
                  (click)="binding('input', 'is_6_1', true)"
                  checked
                  disabled
                />
                <i
                  _ngcontent-upe-c5=""
                  class="dip-icon-file-alt"
                  style="margin-left: 20px;"
                ></i>
                <span></span>
              </label>

              <div class="check-list-title" style="width: 1250px;">
                <!--<div class="row">-->
                สำเนาคำโต้เเย้ง 1 ชุด หรือตามจำนวนผู้คัดค้าน

                <!--</div>-->
              </div>

              <!--<div class="col-md-1.5" sstyle=" padding-left: inherit;">
                <div class="upload-btn-wrapper" style="width: inherit; margin-left: 10px;">
                  <div class="upload-input-wrapper">
                    <button type="button" class="btn btn-brand">
                      <i class="dip-icon-upload-circle"></i>แนบไฟล์
                    </button>

                    <input type="file"
                           name="myfile"
                           class="upload-input"
                           accept="image/*"
                           (change)="onClickUploadImage($event, 'input', 'imageMark')" />
                  </div>
                </div>

              </div>-->
            </div>
          </div>

          <div class="row">
            <div
              class="check-list-card flex align-items-center"
              style="width: 1386px;"
              [ngClass]="{
                checked: input.is_6_2 == true
              }"
            >
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                style="margin-left: 10px; padding-left: 10px;"
              >
                <input
                  type="checkbox"
                  style="margin-left: 10px;"
                  (click)="binding('input', 'is_6_2', true)"
                  checked
                  disabled
                />
                <i
                  _ngcontent-upe-c5=""
                  class="dip-icon-file-alt"
                  style="margin-left: 20px;"
                ></i>
                <span></span>
              </label>

              <div class="check-list-title" style="width: 1250px;">
                <!--<div class="row">-->
                เอกสารหลักฐานประกอบการโต้เเย้ง

                <!--</div>-->
              </div>

              <!--<div class="col-md-1.5" sstyle=" padding-left: inherit;">
                <div class="upload-btn-wrapper" style="width: inherit; margin-left: 10px;">
                  <div class="upload-input-wrapper">
                    <button type="button" class="btn btn-brand">
                      <i class="dip-icon-upload-circle"></i>แนบไฟล์
                    </button>

                    <input type="file"
                           name="myfile"
                           class="upload-input"
                           accept="image/*"
                           (change)="onClickUploadImage($event, 'input', 'imageMark')" />
                  </div>
                </div>

              </div>-->
            </div>
          </div>

          <div class="row">
            <div
              class="check-list-card flex align-items-center"
              style="width: 1386px;"
              [ngClass]="{
                checked: input.is_6_3 == true
              }"
            >
              <label
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                style="margin-left: 10px; padding-left: 10px;"
              >
                <input
                  type="checkbox"
                  style="margin-left: 10px;"
                  (click)="binding('input', 'is_6_3', true)"
                  [checked]="input.is_6_3"
                />
                <i
                  _ngcontent-upe-c5=""
                  class="dip-icon-file-alt"
                  style="margin-left: 20px;"
                ></i>
                <span></span>
              </label>

              <div class="check-list-title" style="width: 1250px;">
                <!--<div class="row">-->
                หนังสือขอผ่อนผันการส่งเอกสารหลักฐาน (ก.19)

                <!--</div>-->
              </div>

              <!--<div class="col-md-1.5" sstyle=" padding-left: inherit;">
                <div class="upload-btn-wrapper" style="width: inherit; margin-left: 10px;">
                  <div class="upload-input-wrapper">
                    <button type="button" class="btn btn-brand">
                      <i class="dip-icon-upload-circle"></i>แนบไฟล์
                    </button>

                    <input type="file"
                           name="myfile"
                           class="upload-input"
                           accept="image/*"
                           (change)="onClickUploadImage($event, 'input', 'imageMark')" />
                  </div>
                </div>

              </div>-->
            </div>
          </div>
        </div>
        <div class="step-footer flex justify-content-center">
          <button
            class="btn btn-eform-secondary btn-icon-right"
            (click)="changeStep('next')"
          >
            ถัดไป
            <i class="dip-icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Step 6 Form -->

    <!-- Start Step 7 Form -->
    <!--<div class="step-basic" *ngIf="currentID == 7">
      <div class="kt-portlet">

        <div class="kt-portlet__body">
          <div class="kt-portlet__body__inner justify-content-center" style="padding-top: 50px">
            <div class="form-group">
              <div class="input-wrapper">
                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color:#6D6E71">ชื่อที่จะออกในใบเสร็จรับเงิน</label>
                  </div>
                  <div class="col-4">
                    <input class="form-control input" style="width:100%" [ngModel]="input.payer_name" />
                  </div>
                  <div class="col-4">

                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <label class="col-form-label" style="color:#6D6E71">ค่าธรรมเนียมที่ต้องชำระ</label>
                  </div>
                  <div class="col-4">
                    <input class="form-control input" style="width:100%" [ngModel]="input.total_price" readonly />
                  </div>
                  <div class="col-4">
                    <label class="col-form-label" style="color:#6D6E71">บาท</label>
                  </div>
                </div>



              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner">
            <button class="btn btn-eform-secondary btn-icon-right"
                    (click)="changeStep('next')">
              ถัดไป
              <i class="dip-icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>-->
    <!-- End Step 7 Form -->

    <!-- Start Step 7 Form -->
    <div class="flex step-basic finish" *ngIf="currentID == 7">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title inline">
              {{ currentStep }}. เสร็จสิ้น
            </h3>
          </div>
        </div>

        <div class="kt-portlet__body">
          <div class="signature-select">
            <div class="caption">
              ลงลายมือชื่อเจ้าของ
            </div>
            <div class="form-group">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllOwnerSignature')"
                  [checked]="input.isCheckAllOwnerSignature"
                  (input)="clearValidate('step7')"
                />
                เจ้าของทุกคน
                <span></span>
              </label>
            </div>
          </div>

          <div
            class="signature-select"
            *ngIf="input.representative_list.length > 0"
          >
            <div class="caption">
              ลงลายมือชื่อตัวแทน
            </div>
            <div class="form-group">
              <label
                *ngIf="
                  input.save021_representative_condition_type_code == 'AND'
                "
                class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
              >
                <input
                  type="checkbox"
                  (click)="onCheckSignature('input', 'isCheckAllAgentSignature')"
                  [checked]="input.isCheckAllAgentSignature"
                  (input)="clearValidate('step7')"
                />
                ตัวแทนทุกคน
                <span></span>
              </label>

              <ng-container
                *ngIf="
                  input.save021_representative_condition_type_code != 'AND'
                "
              >
                <label
                  *ngFor="let item of input.representative_list"
                  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                >
                  <input
                    type="checkbox"
                    (click)="onCheckSignatureList(item, 'isCheck')"
                    [checked]="item.isCheck"
                    (input)="clearValidate('step7')"
                  />
                  {{ item.name }}
                  <span></span>
                </label>
              </ng-container>
            </div>
          </div>

          <div class="form-group step-seventh-next">
            <div class="input-wrapper">
              <div class="feedback-wrapper">
                <div *ngIf="validate.step7" class="invalid-feedback">
                  {{ validate.step7 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="kt-portlet__footer">
          <div class="kt-portlet__footer__inner justify-content-center">
            <button class="btn btn-brand" (click)="onClickViewPdfKor02()">
              ดูใบคำขอ ก.02
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Step 7 Form -->

    <!-- Footer -->
    <div class="footer-eform">
      <div class="progress-bar">
        <div class="bar" [ngStyle]="{ width: progressPercent + '%' }"></div>
      </div>

      <div class="summary-and-control">
        <div class="summary-progress">
          <div class="progress-number">
            {{ progressPercent }}
          </div>
          <div class="units">
            <div class="percentage">
              %
            </div>

            <div class="unit">
              Completed
            </div>
          </div>
        </div>

        <div class="control">
          <div class="note">
            หากพบปัญหาติดต่อเจ้าหน้าที่ศูนย์คอม โทร 02-547-4654
          </div>

          <div class="btn-wrapper">
            <button class="btn btn-white" (click)="cancel()">
              ยกเลิก
            </button>

            <button class="btn btn-eform-secondary" (click)="onClickSave()">
              <i class="dip-icon-save"></i>
              บันทึก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 search warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isSearch ? 'show' : undefined
  ]"
  [title]="validate.request_number"
  [Icon]="'dip-icon-delete-cross'"
  (onClickClose)="togglePopup('isSearch')"
>
</app-popup>

<!-- Step 3 modal -->
<!-- modal eform owner -->
<app-modal-eform-owner
  [title]="'บันทึกข้อมูลผู้คัดค้าน'"
  [isOpen]="modal.isModalOwnerFormOpen"
  [item]="input.ownerMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalOwnerFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalOwnerFormOpen')
  "
></app-modal-eform-owner>
<!-- modal eform agent -->
<app-modal-eform-agent
  [title]="'บันทึกข้อมูลตัวแทนผู้คัดค้าน (ถ้ามี)'"
  [isOpen]="modal.isModalAgentFormOpen"
  [item]="input.agentMarkItem"
  [master]="master"
  (toggleModal)="toggleModal('isModalAgentFormOpen')"
  (onClickSaveModalEform)="
    onClickSaveModalEform($event, input.point, 'isModalAgentFormOpen')
  "
></app-modal-eform-agent>
<!-- warning popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isWarning ? 'show' : undefined
  ]"
  [title]="'ข้อกำหนด'"
  [Icon]="'dip-icon-layer'"
  (onClickClose)="togglePopup('isWarning')"
>
  <div body-children>
    ในกรณีที่มีการเปลี่ยนแปลงข้อมูลเจ้าของ/ตัวแทน ให้ยื่น ก.06 แนบด้วย
  </div>
</app-popup>

<!-- Step 5 modal -->
<app-modal
  [className]="[
    'fade agent-form step-two-modal',
    modal.isModalListAssignRetaliate ? 'show' : undefined
  ]"
  [title]="'ประกาศโฆษณา'"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  [hideCloseCross]="true"
  (onClickClose)="toggleModal('isModalListAssignRetaliate')"
  *ngIf="currentStep == 5"
>
  <div body-children class="flex flex-wrap">
    <div class="w3-container">
      <table class="w3-table">
        <tr>
          <td
            style="
              font-weight: bolder;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-size: 15px;
              padding-right: 50px;
              padding-left: 50px;
            "
          >
            จำพวกที่
          </td>
          <td
            style="
              font-weight: bolder;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-size: 15px;
              padding-right: 50px;
              padding-left: 50px;
            "
          >
            ลำดับที่
          </td>
          <td
            style="
              font-weight: bolder;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-size: 15px;
              padding-right: 100px;
              padding-left: 110px;
            "
          >
            วันที่ประกาศโฆษณา
          </td>
          <td
            style="
              font-weight: bolder;
              font-family: 'Noto Sans Thai', 'Noto Sans';
              font-size: 15px;
              padding-left: 100px;
            "
          >
            วันที่ครบกำหนดประกาศโฆษณา/คัดค้าน
          </td>
        </tr>

        <tr *ngFor="let item of input.ListAssignRetaliate_test; index as i">
          <td style="font-family: 'Noto Sans Thai', 'Noto Sans';">
            <div>{{ item.protestation_type }}</div>
          </td>
          <td style="font-family: 'Noto Sans Thai', 'Noto Sans';">
            <div>{{ item.protestation_no }}</div>
          </td>
          <td style="font-family: 'Noto Sans Thai', 'Noto Sans';">
            <div>{{ item.advertise_date }}</div>
          </td>
          <td
            style="
              font-family: 'Noto Sans Thai', 'Noto Sans';
              padding-left: 100px;
            "
          >
            <div>{{ item.advertise_finshi_date }}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Custom Footer Children -->
  <div footer-children class="flex btn-group-wrapper">
    <button
      class="btn btn-eform-secondary btn-icon-right"
      (click)="toggleModal('isModalListAssignRetaliate')"
      style="margin-left: 0px; padding-left: 12px;"
    >
      ปิดหน้าต่าง
    </button>
  </div>
</app-modal>

<!-- Confirm Save Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isConfirmSave ? 'show' : undefined
  ]"
  [title]="'คุณต้องการบันทึกข้อมูลใหม่ หรือบันทึกแก้ไขข้อมูลเดิม ?'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isConfirmSave')"
>
  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-white" (click)="save(false)">
      บันทึกใหม่
    </button>

    <button type="button" class="btn btn-brand" (click)="save(true)">
      บันทึก
    </button>
  </div>
</app-popup>

<!-- Deactivation Popup -->
<app-popup
  [className]="[
    'fade success deactivation-modal',
    this.popup.isPopupDeactivation ? 'show' : undefined
  ]"
  [title]="'ระบบยังไม่ได้บันทึกข้อมูล'"
  [Icon]="'dip-icon-save'"
  (onClickClose)="togglePopup('isPopupDeactivation')"
>
  <div body-children>
    คุณต้องการบันทึกข้อมูลหรือไม่ ?
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-white"
      (click)="onExitPopupDeactivation()"
    >
      ออก
    </button>

    <button
      type="button"
      class="btn btn-white"
      (click)="togglePopup('isPopupDeactivation')"
    >
      ปิด
    </button>

    <button type="button" class="btn btn-brand" (click)="onClickSave()">
      บันทึก
    </button>
  </div>
</app-popup>
