<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title">
                <i class="dip dip-icon-play"></i>พิจารณาเอกสาร
            </h4>
        </div>
        <!-- <div class="kt-portlet__head-action">

        </div> -->
    </div>

    <div class="kt-portlet__body" style="padding-bottom: 0px; padding-top: 0px; padding-left: 0px; ">

        <div class="row">
         
                <div class="col-lg-6 col-sm-12 border border-secondary border-top-0 border-bottom-0">
                    <div >
                    <div class="row btm-border">
                        <div class="col-6" style="margin-top: 10px;">
                            <h4 class="sub-head-title m-l ">คำขอรับความคุ้มครอง </h4>
                        </div>

                        <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; color: rgb(79, 166, 248); border: 1px solid rgb(79, 166, 248);"> พิจารณาเอกสาร <i
                                    class="fa fa-arrows-v"></i></button>
                        </div>
                        <div class="col-3">
                            <button class="form-control" style="margin-top: 10px; margin-bottom: 10px; color: white;background-color: rgb(136, 136, 136);"> <i
                                    class="fa fa-stack-overflow"></i> เอกสารแสกน</button>
                        </div>
                    </div>
                    
                    <div class="row mt-2 justify-content-center">
                        <div class="col-12" style="text-align: center; margin-left: 10px;">
                            <h5> Reproduction of the mark </h5>
                        </div>
                        <div class="col-12" style="text-align: center;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                alt="" style="min-width: 200px;max-height: 200px;">
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Registration Number : 11144598</p>
                           
                        </div>

                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l">subsequent designations under the Madrid Protocol :</p>
                            <p class="m-l">1355 W Henderson Ave, Porterville, CA 93257 United State of America</p>
                            
                        </div>

                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Date of subsequent designation : March 27.2019</p>
                           
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Date of Notification : 09.05.2019</p>
                          
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Registration number : 1144598</p>
                           
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Regristation date : October 24.1012 </p>
                           
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Date next payment due : October 24.2022 </p>
                           
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l">Name and address of holder : </p>
                            <p class="m-l">1355 W Henderson Ave, Porterville, CA 93257</p>
                           
                        </div>
                     
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> State of which the holder is national : United State of America </p>
                          
                        </div>
                        <div class="col-12 mt-2 btm-border">
                            <p class="m-l"> Contracting State or Contracting Organization in the territory of which the
                                holder has a
                                real and
                                effective industrial or commercial establishment : United State of America
                            </p>
        
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-lg-6 col-sm-12 " >
                <div class="row">
                    <div class="col-12" style="margin-top: 10px; margin-bottom: 10px;">
                        <h4 class="sub-head-title">ข้อมูลทั่วไป</h4>
                    </div>
                </div>
           
                <div class="row">
                    
                    <div class="col-lg-4 ">

                        <div class="border rounded" style="">
                          <div class="row">
                            <div class="col-6">
                              <button class="btn btn-icon button-bule">
                                <i class="fa fa-volume-off" aria-hidden="true"></i>
                              </button>
                            </div>
                
                            <div class="col-6" style="text-align: right;">
                              <button class="btn btn-icon button-bule">
                                2D
                              </button>
                
                              <button class="btn btn-icon button-bule">
                                3D
                              </button>
                            </div>
                          </div>
                
                          <img src="https://www.ipthailand.go.th/images/001/DIP-Logo.png" style="width: 322px;"  />
                        </div>
                      </div>
                    <div class="col-lg-8 col-sm-12 border  rounded">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">เลขที่คำขอ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">วันที่ยื่นคำขอ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">ชื่อเจ้าของ</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" disabled type="text" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label for="">สินค้า/บริการ</label>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" name="" id="" cols="30" rows="2"
                                            disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h6 class="sub-head-title">คำสั่งนายทะเบียน Madrid</h6>
                    </div>
                    <hr>
                    <div class="col-12 mt-2">
                        <div class="row">
                            <h4 class="sub-head-title m-l"> MODEL FORM 11</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <label for="">Model Form 11 : Final Decision That a Change in Ownership Has No Effect (Rule27(4)(e) of
                                the Common Regulations)</label>
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">l. Office making the declaration</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">ll. Number of the international registration: </label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">National Application No.</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">lll. Name of the holder</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">lV. Reasons for which the change in ownership has no effect :</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">V. Corresponding essential provisions of the applicable law :</label>
                            </div>
                            <div class="col-12">
                                <input type="text" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">VI. Goods and/or services affected by the declaration :</label>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-11 ml-2 m-l">
                                        <p class="m-l"> Please, check only one the following options and list, where applicable, the goods and/or services concerned :</p>
                                       
                                    </div>
                                    <div class="col-11 ml-2 m-l">
                                        <p class="m-l">This declaration affects :</p>
                                    </div>
                                    <div class="col-12 ml-2">
                                        <input type="checkbox" class="m-l">
                                        all the goods and/or services of the international registration that were the subject of the change in ownership
                                        <span></span>

                                        <input type="checkbox" class="m-l">
                                        only the goods and/or services of the international registration that were the subject of the change in ownership and
                                        that are listed below :
                                        <span></span>

                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2  form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="">List of goods and/or services :</label>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control"  name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <label for=""> Vll. Information concerning a possible review or appeal : </label>
                            </div>
                            <div class="col-12">
                                <label class="m-l"> Please select only one of the following options : </label>
                            </div>
                            <div class="col-12 ml-2">
                                <input type="checkbox" class="m-l">
                                This declaration is final and no longer subject to review or appeal
                                <span></span>

                                <input type="checkbox" class="m-l">
                                This declaration is still subject to review or appeal
                                <span></span>
                                <div class="col-12">
                                    <label class="m-l-40"> Please, provide the following information :</label>
                                </div>
                                <div class="col-12">
                                    <label class="m-l-40"> (i) Time limit for requesting review or appeal : </label>
                                </div>
                                <div class="col-12">
                                    <label class="m-l-40"> (ii) Authority to which such request for review or appeal should be made : </label>
                                </div>
                                <div class="col-12">
                                    <label class="m-l-40"> (iii) whether the request for review or appeal has to be filed in a specific language and/or through the intermediary of a 
                                        representative whose address is within the territory of the Contracting Part :</label>
                                </div>
                            </div>
                           
                            <div class="col-12 " style="margin-top: 20px;">
                                <label for=""> VIII. Signature or official seal of the Office making the declaration: </label>
                            </div>
                            <div class="col-12" style="text-align: center;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="" style="min-width: 200px;max-height: 200px;">
                            </div>
                            <div class="col-12" style="text-align: center;">
                                <p>Miss Somsri Srisom </p>
                                <p>Authorized Officer's Signature</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-8 col-md-12">
                        <label for=""> IX. Date of communication to the International Bureau: </label>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="input-wrapper input-with-icon datepicker">
                            <mat-form-field>
                                <div class="kt-input-icon kt-input-icon--right">
                                    <input #key_recive_date id="recive_date" class="form-control input" matInput
                                        [matDatepicker]="picker_recive_date" (click)="picker_recive_date.open()"
                                        (dateChange)="clearValidate(key_recive_date.id)" autocomplete="off" disabled>
                                    <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                        for="instruction_send_start_date">
                                        <i class="dip-icon-calendar"></i>
                                    </label>
                                </div>
                                <mat-datepicker-toggle matSuffix [for]="picker_recive_date">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker_recive_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="file">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="button-list">
                        <button type="button" class="btn btn-white" (click)="onBackStep()">
                            <i class="fa fa-file-text-o"></i>
                            ดูเอกสารร่าง
                        </button>

                        <button type="button" class="btn btn-brand">
                            <!-- <i class="dip-icon-paper-plane"></i> -->
                            บันทึก
                        </button>
                    </div>
                </div>
                <div class="row justify-content-end mt-2 mb-2">
                    <div class="col-2">
                        <button type="button" class="btn btn-brand">
                            <i class="dip-icon-save"></i>
                            บันทึก
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="kt-portlet__footer ">
        <div class="button-list">
            <button type="button" class="btn btn-white" (click)="onBackStep()">
                <!-- <i class="fa fa-arrow-left"></i> -->
                ย้อนกลับ
            </button>

            <button type="button" class="btn btn-brand">
                <!-- <i class="dip-icon-paper-plane"></i> -->
                ถัดไป
            </button>
        </div>
    </div>

</div>