<div class="kt-portlet receipt-daily-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button"
              class="btn btn-create-new"
              (click)="onClickReset()">
        <i class="dip-icon-add-new"></i>
        สร้างรายการใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่อ้างอิงการชำระเงิน
            </label>
            <div class="input-wrapper">
              <input #key_reference_number
                     class="form-control input"
                     type="text"
                     id="reference_number"
                     placeholder="เลขที่อ้างอิงการชำระเงิน"
                     (keypress)="onKeyPressReferenceNumber($event)"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_reference_number.id]" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_reference_number.id]"
                     class="invalid-feedback">
                  {{validate[key_reference_number.id]}}
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-brand"
                    (click)="onClickLoadUnpaid()">
              <i class="dip-icon-search"></i>
              ค้นหา
            </button>
          </div>
        </div><div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              ผู้รับเงิน
            </label>
            <div class="input-wrapper">
              <input #key_receiver_name
                     class="form-control input"
                     type="text"
                     id="receiver_name"
                     placeholder="ผู้รับเงิน"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_receiver_name.id]"
                     disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receiver_name.id]"
                     class="invalid-feedback">
                  {{validate[key_receiver_name.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label"
                   for="receipt_date">
              วันที่ลงในใบเสร็จ
            </label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_receipt_date
                         id="receipt_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_receipt_date"
                         (click)="picker_receipt_date.open()"
                         [(ngModel)]="input[key_receipt_date.id]"
                         (dateChange)="clearValidate(key_receipt_date.id)">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="receipt_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_receipt_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_receipt_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receipt_date.id]"
                     class="invalid-feedback">
                  {{validate[key_receipt_date.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label"
                   for="receive_date">
              วันที่รับเงิน
            </label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_receive_date
                         id="receive_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_receive_date"
                         (click)="picker_receive_date.open()"
                         [(ngModel)]="input[key_receive_date.id]"
                         (dateChange)="clearValidate(key_receive_date.id)">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="receive_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_receive_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_receive_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_receive_date.id]"
                     class="invalid-feedback">
                  {{validate[key_receive_date.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">
  </div>
</div>

<div class="kt-portlet receipt-daily-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              ได้รับเงินจาก
            </label>
            <div class="input-wrapper">
              <input #key_payer_name
                     class="form-control input"
                     type="text"
                     id="payer_name"
                     placeholder="ได้รับเงินจาก"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_payer_name.id]" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_payer_name.id]"
                     class="invalid-feedback">
                  {{validate[key_payer_name.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              เล่มที่
            </label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     placeholder="เล่มที่"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="book_index" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              วันที่ยื่นคำขอ
            </label>

            <div class="input-wrapper">
              <input #key_request_date_text class="form-control input" type="text" id="request_date_text" placeholder="วันที่ยื่นคำขอ" disabled="disabled"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_date_text.id]" />
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner receipt-dailyer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่ใบเสร็จ
            </label>

            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     placeholder="เลขที่ใบเสร็จ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     (change)="page_index = NaN(page_index) ? '001' : page_index.toString().padStart(3,'0')"
                     [(ngModel)]="page_index" />

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>


            <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox">
              ออกใบเสร็จย้อนหลัง(กรณี Internet)
              <span></span>
            </label>-->
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox"
                     [(ngModel)]="input.is_manual">
              บันทึกใบเสร็จที่ออกมือ
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>

<div class="kt-portlet receipt-daily-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางรายการ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
                              class="btn btn-create-new btn-icon"
                              (click)="onClickItemAdd()">
        <i class="dip-icon-add-new"></i>

      </button>-->
      <!--<button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickItemDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_4">
      <div class="table-inner">
        <div class="tr header">
          <!--<div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox" (click)="onClickCheckBoxTable4('listItem', 0, true)"
                     [checked]="input.is_table_4_check_all" /><span></span>
            </label>
          </div>-->
          <div class="td request_number">เลขที่คำขอ</div>
          <div class="td requester_name">เจ้าของ</div>
          <div class="td request_type_code">รหัสรายได้</div><div class="td request_type_name">รายการรับเงิน</div><div class="td total_price">จำนวนเงิน</div>
          <div class="td book_index">เล่มที่ใบเสร็จ</div>
          <div class="td page_index">เลขที่ใบเสร็จ</div>
          <div class="td receipt_number">เลขที่ใบเสร็จ</div>
          <!--<div class="td delete">ลบ</div>-->
        </div>
        <div class="tr" *ngFor="let row_item of listItem | myfilter | paginate: paginateItem; index as i">
          <!--<div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="onClickCheckBoxTable4('listItem', paginateItem.currentPage === 1 ? i : ((paginateItem.currentPage-1)*paginateItem.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span></label>
          </div>-->
          <div class="td request_number">
            <div class="form-group flex input">
              <input class="form-control input" id="{{row_item.request_number}}" type="text"
                     placeholder="เลขที่คำขอ"
                     (change)="onChangeSelectItem(row_item, 'request_number', $event.target.value)" [value]="row_item.request_number">
            </div>
          </div>
          <div class="td requester_name">{{row_item.name}}</div>
          <div class="td request_type_code">{{row_item.request_type_code}}</div>
          <div class="td request_type_name">{{row_item.request_type_name}}</div><div class="td total_price">
            <div class="form-group flex input">
              <input class="form-control input" id="{{row_item.total_price}}" type="number"
                     placeholder="จำนวนเงิน" (change)="onChangeSelectItem(row_item, 'total_price', $event.target.value)"
                     [value]="row_item.total_price">
            </div>
          </div>

          <div class="td book_index" *ngIf="input.is_manual">
            <div class="form-group flex input">
              <input class="form-control input"
                     type="text"
                     placeholder="เล่มที่ใบเสร็จ"
                     [(ngModel)]="row_item.book_index">
            </div>
          </div>
          <div class="td page_index" *ngIf="input.is_manual">
            <div class="form-group flex input">
              <input class="form-control input"
                     type="text"
                     placeholder="เลขที่ใบเสร็จ"
                     [(ngModel)]="row_item.page_index">
            </div>
          </div>
          <div class="td receipt_number" *ngIf="input.is_manual"></div>

          <div class="td book_index" *ngIf="!input.is_manual">{{row_item.book_index}}</div>
          <div class="td page_index" *ngIf="!input.is_manual">{{row_item.page_index}}</div>
          <div class="td receipt_number" *ngIf="!input.is_manual"><a href="javascript://">{{row_item.receipt_number}}</a></div>


          <!--<div class="td book_index">{{row_item.book_index}}</div>
          <div class="td page_index">{{row_item.page_index}}</div>
          <div class="td receipt_number" *ngIf="input.is_manual"></div>
          <div class="td receipt_number" *ngIf="!input.is_manual"><a href="javascript://">{{row_item.receipt_number}}</a></div>-->
          <!--<div class="td delete">
            <i class="dip-icon-trash" (click)="onClickItemDelete(row_item)"></i>
          </div>-->
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginateItem')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginateItem')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginateItem')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
          <option *ngFor="let perPage of perPageItem" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
        </span>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet receipt-daily-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางรับเงิน / ทอนเงิน
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label">
        รวมทั้งสิ้น
      </label>

      <div class="input-wrapper">
        <input #key_total_price class="form-control input" type="number" id="total_price"
               placeholder="รวมทั้งสิ้น"
               [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
               [(ngModel)]="input[key_total_price.id]" />

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_total_price.id]"
               class="invalid-feedback">
            {{validate[key_total_price.id]}}
          </div>
        </div>
      </div>
      <span>บาท</span><label class="col-form-label">
        เงินทอน
      </label>

      <div class="input-wrapper">
        <input #key_total_change class="form-control input" type="number" id="total_change"
               placeholder="เงินทอน"
               [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
               [(ngModel)]="input[key_total_change.id]" />

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_total_change.id]"
               class="invalid-feedback">
            {{validate[key_total_change.id]}}
          </div>
        </div>
      </div>
      <span>บาท</span>

      <button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPaidAdd()">
        <i class="dip-icon-add-new"></i>

      </button><button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickPaidDelete()">
        <i class="dip-icon-trash"></i>
      </button>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="">
      <table class="">
        <thead>
          <tr class=" header">
            <td class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onClickCheckBoxTable3('listPaid', 0, true)"
                       [checked]="input.is_table_3_check_all" />
                <span></span>
              </label>
            </td>
            <td class="td paid_channel_type_code">ช่องทางชำระเงิน</td>
            <td class="td paid_reference_number_1">
              เลขที่บัตร / เช็ค
            </td>
            <td class="td total_price">ยอดเงิน</td>
            <td class="td">ชำระเงิน / เลขอ้างอิง</td>
            <td class="td delete">ลบ</td>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let row_item of listPaid | myfilter | paginate: paginatePaid; index as i">
            <td class="td select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input [disabled]="row_item.paid_reference_number_2"
                       type="checkbox"
                       (click)="onClickCheckBoxTable3('listPaid', paginatePaid.currentPage === 1 ? i : ((paginatePaid.currentPage-1)*paginatePaid.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span>
              </label>
            </td>
            <td class="td select paid_channel_type_code">
              <div class="input-wrapper">
                <select [disabled]="row_item.paid_reference_number_2"
                        ng-init="row_item.paid_channel_type_code = master.paidChannelTypeCodeList[1].code"
                        class="form-control"
                        (change)="onChangeSelectPaid(row_item, 'paid_channel_type_code', $event.target.value)"
                        [value]="row_item.paid_channel_type_code">
                  <option *ngFor="let item of master.paidChannelTypeCodeList"
                          [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </td>
            <td class="td paid_reference_number_1">
              <div *ngIf="!row_item.paid_reference_number_2" class="form-group flex input">
                <input [disabled]="row_item.paid_reference_number_2"
                       *ngIf="row_item.paid_channel_type_code == 'CREDIT' || row_item.paid_channel_type_code == 'DEBIT' || row_item.paid_channel_type_code == 'CHEQUE' || row_item.paid_channel_type_code == 'QRCODE'"
                       class="form-control input" id="{{row_item.paid_reference_number_1}}" type="text" placeholder="เลขที่บัตร / เช็ค" (change)="onChangeSelectPaid(row_item, 'paid_reference_number_1', $event.target.value)" [value]="row_item.paid_reference_number_1">
              </div>
              <div *ngIf="row_item.paid_reference_number_2">
                {{row_item.paid_reference_number_1}}
              </div>
            </td>
            <td class="td total_price">
              <div *ngIf="!row_item.paid_reference_number_2" class="form-group flex input">
                <input [disabled]="row_item.paid_reference_number_2"
                       class="form-control input" id="{{row_item.total_price}}"
                       type="number" placeholder="ยอดเงิน"
                       (change)="onChangeSelectPaid(row_item, 'total_price', $event.target.value)"
                       [value]="row_item.total_price">
              </div>
              <div *ngIf="row_item.paid_reference_number_2">
                {{row_item.total_price}}
              </div>
            </td>
            <td>
              <div *ngIf="!row_item.paid_reference_number_2">
                <button *ngIf="row_item.paid_channel_type_code == 'CREDIT' || row_item.paid_channel_type_code == 'DEBIT' || row_item.paid_channel_type_code == 'QRCODE'"
                        type="button"
                        class="btn btn-secondary"
                        (click)="onClickPay(row_item)">
                  ชำระเงิน
                </button>
              </div>
              <div *ngIf="row_item.paid_reference_number_2">
                {{row_item.paid_reference_number_2}}
              </div>
            </td>
            <td class="td delete">
              <i class="dip-icon-trash"
                 (click)="onClickPaidDelete(row_item)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="page-nav">
        <div class="has-text-centered">
          <pagination-controls (pageChange)="onChangePage($event, 'paginatePaid')"></pagination-controls>
        </div>

        <div class="goto-page">
          <div class="form-group flex">
            <label class="col-form-label">
              ไปที่หน้า
            </label>

            <input #key_page_input class="form-control input" type="number" min="1"
                   max="{{getMaxPage('paginatePaid')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                   (ngModelChange)="onChangePage($event, 'paginatePaid')" />
          </div>
        </div>
      </div>

      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePaid')">
          <option *ngFor="let perPage of perPagePaid" [value]="perPage"> {{perPage}} </option>
        </select>
        <span class="pagination__desc">
          Displaying {{paginatePaid.itemsPerPage}} of {{paginatePaid.totalItems}} records
        </span>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickSave()">
      <i class="dip-icon-save"></i>
      บันทึก / ตรวจสอบเอกสารอ้างอิง
    </button>
  </div>

</div>

<app-modal [className]="['fade', this.modal.isModalPreviewPdfOpen ? 'show' : undefined]"
           [title]="'เอกสาร'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalPreviewPdfOpen')">
  <div body-children class="flex flex-wrap">
    <ng-container *ngIf="this.modal.isModalPreviewPdfOpen && url">
      <iframe id="pdf"
              frameborder="0"
              scrolling="no"
              seamless=""
              allowfullscreen="allowfullscreen"
              style="width:100%;height:700px"
              [src]="this.url"></iframe>
    </ng-container>
  </div>
</app-modal>
