<div class="kt-portlet save-03-process-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
        <input type="checkbox">
        บันทึกย้อนหลัง
        <span></span>
      </label>
      <button type="button"
              class="btn btn-create-new"
              (click)="onClickReset()">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                       [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                       (keydown)="autocompleteKeyDown($event)"
                       (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_ListNotSent_show">
                <table>
                  <tr>
                    <td>เลขที่คำขอ</td>
                    <td>ลำดับ</td>
                    <td>วันที่ยื่นคำร้อง</td>
                    <td>ค่าธรรมเนียม</td>
                  </tr>
                  <tr *ngFor="let autocomplete of autocompleteListListNotSent"
                      (click)="autocompleteChooseListNotSent(autocomplete)">
                    <td>{{autocomplete.request_number}}</td>
                    <td>{{autocomplete.request_index}}</td>
                    <td>{{autocomplete.make_date_text}}</td>
                    <td>{{autocomplete.total_price}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_registration_number.id]" class="invalid-feedback">
                  {{validate[key_registration_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง*</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="trademark_status_code">สถานะคำขอ	</label>
            <div class="input-wrapper">
              <input #key_trademark_status_code
                     class="form-control input"
                     type="text"
                     id="trademark_status_code"
                     placeholder="สถานะคำขอ	"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                     [(ngModel)]="input[key_trademark_status_code.id]"
                     autocomplete="off"
                     disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_trademark_status_code.id]" class="invalid-feedback">
                  {{validate[key_trademark_status_code.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input #key_request_date_text class="form-control input" type="text" id="request_date_text" placeholder="วันที่ยื่นคำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_date_text.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date_text.id]" class="invalid-feedback">
                  {{validate[key_request_date_text.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="total_price">ค่าธรรมเนียม</label>
            <div class="input-wrapper">
              <input #key_total_price class="form-control input" type="text" id="total_price" placeholder="ค่าธรรมเนียม"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_total_price.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_total_price.id]" class="invalid-feedback">
                  {{validate[key_total_price.id]}}
                </div>
              </div>
            </div>
            <span>บาท</span>

          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="index_1">ลำดับที่คำร้องอุทธรณ์</label>
            <div class="input-wrapper">
              <input #key_index_1 class="form-control input" type="text" id="index_1" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_index_1.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_index_1.id]" class="invalid-feedback">
                  {{validate[key_index_1.id]}}
                </div>
              </div>
            </div>
            <span>/</span>
            <div class="input-wrapper">
              <input #key_index_2 class="form-control input" type="text" id="index_2" placeholder=""
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_index_2.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_index_2.id]" class="invalid-feedback">
                  {{validate[key_index_2.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner save-03-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">หมายเลข IRN</label>
            <div class="input-wrapper">
              <input #key_irn_number class="form-control input" type="text" id="irn_number" placeholder="หมายเลข IRN"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_irn_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-brand" (click)="onClickSave03Madrid()">
              ข้อมูล Madrid
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer">
    <div class="button-list">
      <!--<button type="button"
              class="btn btn-danger"
              (click)="onClickSave03Delete()">
        <i class="dip-icon-trash"></i>ลบข้อมูล
      </button>-->
      <button type="button"
              class="btn btn-outline-brand"
              (click)="onClickSave03DocumentView()">
        <i class="dip-icon-add-new"></i>
        ดูเอกสารสแกน
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickSave03Save()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave03Send()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-forward"></i>
        ส่งต่อ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickSave030RequestBack()"
              *ngIf="input.save_status_code == 'SENT'">
        <i class="dip-icon-forward"></i>
        ดึงงาน
      </button>
    </div>
  </div>
</div>

<div class="kt-portlet save-03-process-job"
          *ngIf="input.id && input.id != ''">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner save-03-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          ประเภทอุทธรณ์*
        </label>

        <div class="input-wrapper">
          <div class="kt-radio-inline select-item">
            <label *ngFor="let item of master.save030AppealTypeCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
              <input name="save030_appeal_type_code"
                     type="radio"
                     [checked]="item.code === input.save030_appeal_type_code"
                     (click)="oneWayDataBinding('save030_appeal_type_code', item.code)"> {{item.name}}
              <span></span>
            </label>
          </div>
          <div class="feedback-wrapper">
            <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
              Success! You've done it.
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner save-03-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          ประเภทผู้ยื่น*
        </label>

        <div class="input-wrapper">
          <div class="kt-radio-inline select-item">
            <label *ngFor="let item of master.save030AppealMakerTypeCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
              <input name="save030_appeal_maker_type_code"
                     type="radio"
                     [checked]="item.code === input.save030_appeal_maker_type_code"
                     (click)="oneWayDataBinding('save030_appeal_maker_type_code', item.code)"> {{item.name}}
              <span></span>
            </label>
          </div>
          <div class="feedback-wrapper">
            <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
              Success! You've done it.
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner save-03-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          ประเด็นที่อุทธรณ์
        </label>
        <div class="input-wrapper">
          <select #key_save030_appeal_reason_code
                  class="form-control"
                  id="save030_appeal_reason_code"
                  [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                  [(ngModel)]="input[key_save030_appeal_reason_code.id]"
                  (change)="oneWayDataBinding('save030_appeal_reason_code', $event.target.value)"
                  [value]="input.save030_appeal_reason_code">
            <option *ngFor="let item of master.save030AppealReasonCodeList"
                    [value]="item.code">
              {{item.name}}
            </option>
          </select>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_save030_appeal_reason_code.id]"
                 class="invalid-feedback">
              {{validate[key_save030_appeal_reason_code.id]}}
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner save-03-processer">
      <div class="form-group flex">
        <label class="col-form-label" for="section_index">ตามมาตรา</label>
        <div class="input-wrapper">
          <input #key_section_index class="form-control input" type="text" id="section_index" placeholder="ตามมาตรา"
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_section_index.id]"
                 autocomplete="off" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_section_index.id]" class="invalid-feedback">
              {{validate[key_section_index.id]}}
            </div>
          </div>
        </div>

      </div>
    </div><div class="kt-portlet__body__inner save-03-processer">
      <div class="form-group flex">
        <label class="col-form-label">
          หมายเหตุ
        </label>
        <div class="input-wrapper">
          <textarea #key_remark class="form-control input" type="text" id="remark"
                    [(ngModel)]="input[key_remark.id]" rows="3">
หมายเหตุ
</textarea>

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_remark.id]" class="invalid-feedback">
              {{validate[key_remark.id]}}
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="kt-portlet__footer hide">

  </div>
</div>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-03-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_3">
          <div class="table-inner">
            <div class="tr header">
              <div class="td card_type_name">ประเภทบุคคล</div><div class="td card_number">เลขที่บัตร</div><div class="td name">ชื่อเจ้าของ</div>
              <div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div>
            </div>
            <div class="tr" *ngFor="let row_item of listPeople01 | myfilter | paginate: paginatePeople01; index as i">
              <div class="td card_type_name">{{row_item.card_type_name}}</div>
              <div class="td card_number">{{row_item.card_number}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople01')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginatePeople01')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople01')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePeople01')">
              <option *ngFor="let perPage of perPagePeople01" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginatePeople01.itemsPerPage}} of {{paginatePeople01.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'รายการสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-03-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางรายการสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_4">
          <div class="table-inner">
            <div class="tr header">
              <div class="td index">#</div><div class="td request_item_sub_type_1_code">จำพวกสินค้า</div><div class="td description">รายการสินค้า</div>
            </div>
            <div class="tr" *ngFor="let row_item of input.product_01_list | myfilter | paginate: paginateProduct; index as i">
              <div class="td index">{{row_item.index}}</div>
              <div class="td request_item_sub_type_1_code">{{row_item.request_item_sub_type_1_code}}</div>
              <div class="td description">{{row_item.description}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateProduct')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateProduct')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateProduct')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateProduct')">
              <option *ngFor="let perPage of perPageProduct" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateProduct.itemsPerPage}} of {{paginateProduct.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
</app-tabs>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'ชื่อผู้อุทธรณ์'" style="position: relative; display: block;">
    <div class="kt-portlet save-03-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางชื่อผู้อุทธรณ์Tab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_6">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listPeople, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td name">ชื่อผู้อุทธรณ์</div>
              <div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div><div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listPeople | myfilter | paginate: paginatePeople; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="onClickCheckBoxTable6('listPeople', paginatePeople.currentPage === 1 ? i : ((paginatePeople.currentPage-1)*paginatePeople.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td fax">{{row_item.fax}}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate"
                   (click)="onClickAddressCopy(listPeople, row_item)"></i>
                <i class="dip-icon-edit" (click)="onClickAddressEdit(row_item)"></i>
                <i class="dip-icon-trash" (click)="onClickAddressDelete(listPeople, row_item)"></i>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave030PeopleAdd()">
          <i class="dip-icon-add-new"></i>

        </button><button type="button"
                         class="btn btn-danger btn-icon"
                         (click)="onClickAddressDelete(listPeople)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginatePeople')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePeople')">
              <option *ngFor="let perPage of perPagePeople" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginatePeople.itemsPerPage}} of {{paginatePeople.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'ตัวแทนผู้อุทธรณ์'" style="position: relative; display: block;">
    <div class="kt-portlet save-03-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางตัวแทนผู้อุทธรณ์Tab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_7">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listRepresentative, $event.target.checked)" /><span></span></label></div>
              <div class="td index">#</div><div class="td name">ชื่อตัวแทนผู้อุทธรณ์</div><div class="td address_text">ที่อยู่</div>
              <div class="td telephone">โทรศัพท์</div><div class="td fax">โทรสาร</div><div class="td edit_delete">แก้ไข / ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listRepresentative | myfilter | paginate: paginateRepresentative; index as i">
              <div class="td select">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" (click)="onClickCheckBoxTable7('listRepresentative', paginateRepresentative.currentPage === 1 ? i : ((paginateRepresentative.currentPage-1)*paginateRepresentative.itemsPerPage)+i)" [checked]="row_item.is_check" /><span></span>
                </label>
              </div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td address_text">{{ row_item.address_information || row_item.house_number }}</div>
              <div class="td telephone">{{row_item.telephone}}</div>
              <div class="td fax">{{row_item.fax}}</div>
              <div class="td edit_delete">
                <i class="dip-icon-duplicate" (click)="onClickAddressCopy(listRepresentative, row_item)"></i>
                <i class="dip-icon-edit" (click)="onClickAddressEdit(row_item, 'ตัวแทนผู้อุทธรณ์')"></i>
                <i class="dip-icon-trash" (click)="onClickAddressDelete(listRepresentative, row_item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave030RepresentativeAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button type="button"
                class="btn btn-danger btn-icon"
                (click)="onClickAddressDelete(listRepresentative)">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateRepresentative')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateRepresentative')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateRepresentative')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateRepresentative')">
              <option *ngFor="let perPage of perPageRepresentative" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateRepresentative.itemsPerPage}} of {{paginateRepresentative.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'สถานที่ติดต่อ'" style="position: relative; display: block;">
    <div class="kt-portlet save-03-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            สถานที่ติดต่อTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <app-address [params]="[contactAddress, master]"></app-address>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer hide">

      </div>
    </div>

  </app-tab>
</app-tabs>


<app-modal [className]="[
    'fade',
    this.modal.isModalPeopleEditOpen ? 'show' : undefined
  ]"
           [title]="'แก้ไข' + this.modalPeopleText"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalPeopleEditOpen')">

  <div body-children
       class="flex align-items-start">
    <div class="main-form-wrapp er">

      <div class="kt-portlet save-03-process-job">

        <app-address [params]="[modalAddress, master]"></app-address>

      </div>
    </div>
  </div>

  <div footer-children
       class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>

</app-modal>
