<!-- 框 一 -->
<div class="kt-portlet registration-appeal-com">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ข้อมูลทั่วไป
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-3">
        <div class="cs-box mr-3">
          <div class="row" style="padding: 2%;">
            <div class="col-6">
              <div class="form-group flex" style="justify-content: flex-start;">
                <div class="d-flex justify-content-center">
                  <button class="sound-btn btn btn-icon btn-brand small-btn">
                    <i class="dip-icon-loudspeaker"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group flex" style="justify-content: flex-end;">
                <div class="d-flex justify-content-center">
                  <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand mr-1">
                    <input
                      type="radio"
                      name="view_dimension"
                      checked
                    >
                    <div class="inside-label">2D</div>
                    <span></span>
                  </label>
                  <label class="kt-checkbox kt-checkbox--fill kt-checkbox--brand">
                    <input
                      type="radio"
                      name="view_dimension"
                    >
                    <div class="inside-label">3D</div>
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="cs-show-logo">
            <img src="/assets/images/examples/example-logo-1.png" alt="brand logo">
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group mb-3">
          <label>เลขที่คำขอ</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;" [(ngModel)]="header_box.request_number">
        </div>
        <div class="form-group mb-3">
          <label>ทะเบียนเลขที่</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;" [(ngModel)]="header_box.register_number">
        </div>
        <div class="form-group mb-3">
          <label>หมายเลข IRN</label>
          <div class="input-group">
            <input type="text" class="form-control mr-3 rounded-right" disabled>
            <button type="submit" class="btn btn-brand">
              ข้อมูล Madrid
            </button>
          </div>

        </div>
      </div>

      <div class="col-3">
        <div class="form-group mb-3">
          <label>วันที่ยื่นคำขอ</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;" [(ngModel)]="header_box.request_date">
        </div>
        <div class="form-group mb-3">
          <label>วันที่ครบกำหนด</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;" [(ngModel)]="header_box.request_date">
        </div>
      </div>

      <div class="col-3">
        <div class="form-group mb-3">
          <label>วันที่ยื่นเอกสาร</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;">
        </div>
        <div class="form-group mb-3">
          <label>สถานะคำขอ</label>
          <input type="text" class="form-control" disabled style="width: -webkit-fill-available;">
        </div>

        <div class="row" style="margin-top: 10.5%;">
          <div class="col-12">
            <div class="form-group flex" style="justify-content: flex-end;">
              <div class="d-flex justify-content-center">
                <button type="button" class="btn cs-btn-grey-solid mr-3">
                  <i class="dip-icon-hyperlink cs-color-text-white" aria-hidden="true"></i>
                  หน้าสอบถาม
                </button>
                <button type="button" class="btn cs-btn-grey-solid">
                  <i class="dip-icon-layer cs-color-text-white" aria-hidden="true"></i>
                  เอกสารสแกน
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- 框二 -->
<appeal-white-tabs
  [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
  [title]="'รายละเอียดคำขอ'">

  <appeal-white-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-1">
        <thead>
          <tr>
            <th class="cs-theader-c1">#</th>
            <th class="cs-theader-c2">ประเภทบุคคล</th>
            <th class="cs-theader-c3">เลขที่บัตร</th>
            <th class="cs-theader-c4">ชื่อเจ้าของ</th>
            <th class="cs-theader-c5">ที่อยู่</th>
            <th class="cs-theader-c6">โทรศัพท์</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              ต่างชาติ
            </td>
            <td class="cs-tbody-v-align-mid">
              930229406
            </td>
            <td class="cs-tbody-v-align-mid">
              เฉิน ชูฮัว
            </td>
            <td class="cs-tbody-v-align-mid">
              232 ซอยสาธุประดิษฐ์ 57 ถนนสาธุประดิษฐ์ แขวงบางโพงพาง เขตยานนาวา กรุงเทพมหานคร
            </td>
            <td class="cs-tbody-v-align-mid">
              -
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ตัวแทน'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">#</th>
            <th class="cs-theader-c2">ประเภทบุคคล</th>
            <th class="cs-theader-c3">เลขที่บัตร</th>
            <th class="cs-theader-c4">ตัวแทน</th>
            <th class="cs-theader-c5">ที่อยู่</th>
            <th class="cs-theader-c6">โทรศัพท์</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              บุคคลธรรมดา
            </td>
            <td class="cs-tbody-v-align-mid">
              3901100271844
            </td>
            <td class="cs-tbody-v-align-mid">
              นายพิเชษฐ์ ไชยกูร
            </td>
            <td class="cs-tbody-v-align-mid">
              252/143 ซอยเคหะร่มเกล้า 39 ถนนราษฏร์พัฒนา
            </td>
            <td class="cs-tbody-v-align-mid">
              0863665611
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'จำพวกสินค้า'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-3">
        <thead>
          <tr>
            <th class="cs-theader-c1">ลำดับ</th>
            <th class="cs-theader-c2">จำพวกสินค้า</th>
            <th class="cs-theader-c3">จำพวกสินค้าที่รับรอง/ร่วมใช้</th>
            <th class="cs-theader-c4">รายการสินค้า/บริการ</th>
            <th class="cs-theader-c5">จำนวนรายการสินค้า</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              9
            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">
              -----
            </td>
            <td class="cs-tbody-v-align-mid">
              5
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'บัตรหมาย'" style="position: relative; display: block;">
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            สถานที่ส่ง
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเภทบัตร
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            เลขที่
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            ประเภทบุคคล
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            เพศ
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            ชื่อผู้รับ
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-8">
        <div class="form-group flex">
          <label class="col-form-label">
            ที่อยู่
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-8">
        <div class="form-group flex">
          <label class="col-form-label">
            ตำบล/อำเภอ
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-3">
        <div class="form-group flex">
          <label class="col-form-label">
            รหัสไปรษณีย์
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            โทรศัพท์
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group flex">
          <label class="col-form-label">
            โทรสาร
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8">
        <div class="form-group flex">
          <label class="col-form-label">
            E-mail
          </label>          
          <div class="input-group">
            <input type="text" class="form-control" #key_request_number autocomplete="off" disabled/>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'มาตรา'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-5">
        <thead>
          <tr>
            <th class="cs-theader-c1">ลำดับ</th>
            <th class="cs-theader-c2">มาตรา</th>
            <th class="cs-theader-c3">วันที่สั่ง</th>
            <th class="cs-theader-c4">เพราะว่า</th>
            <th class="cs-theader-c5">เว้นแต่</th>
            <th class="cs-theader-c6">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              11
            </td>
            <td class="cs-tbody-v-align-mid">
              30/07/2560
            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">
              ดำเนินการแล้ว
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ประวัติ'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">ลำดับ</th>
            <th class="cs-theader-c2">วันที่</th>
            <th class="cs-theader-c3">ผู้ออกคำสั่ง</th>
            <th class="cs-theader-c4">รายการ</th>
            <th class="cs-theader-c5">เอกสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              24/06/2559
            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">
              <a href="#">แสดง</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำสั่งนายทะเบียน'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-7">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <div class="flex justify-content-center">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled />
                  <span></span>
                </label>
              </div>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">วันที่สั่ง</th>
            <th class="cs-theader-c5">คำสั่ง</th>
            <th class="cs-theader-c6">นายทะเบียน</th>
            <th class="cs-theader-c7">สถานะคำสั่ง</th>
            <th class="cs-theader-c8">สถานะหนังสือ</th>
            <th class="cs-theader-c9">วันที่ส่งคำสั่ง</th>
            <th class="cs-theader-c10">สถานะ</th>
            <th class="cs-theader-c11">ผู้รับงาน</th>
            <th class="cs-theader-c12">หมายเหตุ</th>
            <th class="cs-theader-c13"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              1048208
            </td>
            <td class="cs-tbody-v-align-mid">
              30/09/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              อื่นๆ
            </td>
            <td class="cs-tbody-v-align-mid">
              นางสาวชุติมา มั่งมี
            </td>
            <td class="cs-tbody-v-align-mid">
              ส่งคำสั่งแล้ว
            </td>
            <td class="cs-tbody-v-align-mid">
              ปกติ
            </td>
            <td class="cs-tbody-v-align-mid">
              30/09/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              *0704/114256
            </td>
            <td class="cs-tbody-v-align-mid">
 
            </td>
            <td class="cs-tbody-v-align-mid">

            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="flex justify-content-center"> 
                <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-pencil" style="font-size: 15px"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'พิจารณาเอกสาร'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-8">
        <thead>
          <tr>
            <th class="cs-theader-c1">ลำดับ</th>
            <th class="cs-theader-c2">เอกสาร</th>
            <th class="cs-theader-c3">วันที่รับ</th>
            <th class="cs-theader-c4">พิจารณา</th>
            <th class="cs-theader-c5">วันที่พิจารณา</th>
            <th class="cs-theader-c6">เอกสารสแกน</th>
            <th class="cs-theader-c7">รายละเอียด</th>
            <th class="cs-theader-c8">เหตุผล</th>
            <th class="cs-theader-c9"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              พิจารณาเอกสาร
            </td>
            <td class="cs-tbody-v-align-mid">
              30/08/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              อนุญาต
            </td>
            <td class="cs-tbody-v-align-mid">
              30/09/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              <a href="#">แสดง</a>
            </td>
            <td class="cs-tbody-v-align-mid">
              อนุญาตอ่านแปล
            </td>
            <td class="cs-tbody-v-align-mid">
              
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                <span class="fa fa-pencil" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำสั่งหลุดพ้น'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-9">
        <thead>
          <tr>
            <th class="cs-theader-c1">ลำดับ</th>
            <th class="cs-theader-c2">เลขที่คำขอ</th>
            <th class="cs-theader-c3">สถานะคำขอ</th>
            <th class="cs-theader-c4">ประเภทหนังสือ</th>
            <th class="cs-theader-c5">เลข พณ.</th>
            <th class="cs-theader-c6">วันที่ออกหนังสือ</th>
            <th class="cs-theader-c7">วันที่ตอบรับ</th>
            <th class="cs-theader-c8">วันที่ครบกำหนด</th>
            <th class="cs-theader-c9">รายละเอียดข้อมาตรา</th>
            <th class="cs-theader-c10">สถานะ ตค.</th>
            <th class="cs-theader-c11">วันที่เปลี่ยนสถานะ</th>
            <th class="cs-theader-c12">เหตุผลการเปลี่ยนสถานะ</th>
            <th class="cs-theader-c13">เอกสาร ตค.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              1048208
            </td>
            <td class="cs-tbody-v-align-mid">
              P
            </td>
            <td class="cs-tbody-v-align-mid">
              ตค.4
            </td>
            <td class="cs-tbody-v-align-mid">
              0704/114255
            </td>
            <td class="cs-tbody-v-align-mid">
              02/08/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              07/08/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              06/10/2560
            </td>
            <td class="cs-tbody-v-align-mid">
              ม.20
            </td>
            <td class="cs-tbody-v-align-mid">
              ดำเนินการ
            </td>
            <td class="cs-tbody-v-align-mid">
              
            </td>
            <td class="cs-tbody-v-align-mid">
              
            </td>
            <td class="cs-tbody-v-align-mid">
              <a href="#">แสดง</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ค่าธรรมเนียม'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-10">
        <thead>
          <tr>
            <th class="cs-theader-c1">เลขที่ใบเสร็จ</th>
            <th class="cs-theader-c2">วันที่ใบเสร็จ</th>
            <th class="cs-theader-c3">รายการ</th>
            <th class="cs-theader-c4">จำนวนเงิน</th>
            <th class="cs-theader-c5">เอกสาร</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              TM136516
            </td>
            <td class="cs-tbody-v-align-mid">
              24/06/2559
            </td>
            <td class="cs-tbody-v-align-mid">
              
            </td>
            <td class="cs-tbody-v-align-mid">
              2500.00
            </td>
            <td class="cs-tbody-v-align-mid">
              <a href="#">แสดง</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ผู้อุทธรณ์'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-2-tab-11">
        <thead>
          <tr>
            <th class="cs-theader-c1">#</th>
            <th class="cs-theader-c2">ประเภทบุคคล</th>
            <th class="cs-theader-c3">เลขที่บัตร</th>
            <th class="cs-theader-c4">ชื่อเจ้าของ</th>
            <th class="cs-theader-c5">ที่อยู่</th>
            <th class="cs-theader-c6">โทรศัพท์</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              ต่างชาติ
            </td>
            <td class="cs-tbody-v-align-mid">
              930229406
            </td>
            <td class="cs-tbody-v-align-mid">
              เฉิน ชูฮัว
            </td>
            <td class="cs-tbody-v-align-mid">
              232 ซอยสาธุประดิษฐ์ 57 ถนนสาธุประดิษฐ์ แขวงบางโพงพาง เขตยานนาวา กรุงเทพมหานคร
            </td>
            <td class="cs-tbody-v-align-mid">
              -
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </appeal-white-tab>

</appeal-white-tabs>


<!-- 框三 -->
<div class="kt-portlet registration-appeal-com">
  <div class="kt-portlet__body">

    <div class="row justify-content-end">
      <button class="btn btn-brand">
        อ่านข้อมูลของนายทะเบียน
      </button>
    </div>

    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              ประเด็น
            </label>
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <select class="form-control mr-3" [(ngModel)]="box3_input.reason_code">
                  <option *ngFor="let item of reasonList" [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
                <button type="button" class="btn btn-brand" >
                  <span class="fa fa-plus"></span>
                </button>
              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-4 ">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              คำวินิจฉัยเดิมของนายทะเบียน
            </label>
            <div style="min-width: 210px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioPoint" type="radio" checked/>
                ปฏิเสธไม่รับจดทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 210px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioPoint" type="radio" />
                รอการจดทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 210px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioPoint" type="radio" />
                อื่นๆ
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-3">
        <div class="col-1"></div>
        <div class="col-1">
          <h3 class="cs-color-text-blue" style="font-size: 20px; font-weight: normal;">
            ข้อและมาตรา
          </h3>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="table table-responsive table-bordered table-01" style="border: 1px;">
            <table class="box-3">
              <thead>
                <tr>
                  <th class="cs-theader-c1">#</th>
                  <th class="cs-theader-c2">มาตรา</th>
                  <th class="cs-theader-c3">รายละเอียด</th>
                  <th class="cs-theader-c4">คำสั่ง</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ="let item of selectSectionList; index as i;">
                  <td class="cs-tbody-v-align-mid">
                    {{i+1}}
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    <div class="form-group flex">
                      <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" value="{{item.code}}" (click)="toggleModal('isModalSection')" readonly/>
                        <div class="input-group-append">
                          <label class="cs-input-group-text" (click)="toggleModal('isModalSection')">
                            <span class="fa fa-search-plus"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    <div class="form-group flex">
                      <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" disabled value="{{item.name}}"/>
                      </div>
                    </div>
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    <div class="row justify-content-around">
                      <button type="button" class="btn cs-btn-icon-red" 
                      [attr.hidden]="item.name != null && item.name != '' ? null  : ''" (click)="remove(item.code); selectItem();">
                        <span class="fa fa-close"></span>
                      </button>
                      <button type="button" class="btn cs-btn-icon-grey"
                      [attr.hidden]="item.name != null && item.name != '' ? '' : null">
                        <span class="fa fa-plus"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              เหตุผล (โดยสรุป)
            </label>
            <div class="input-wrapper">
              <textarea class="form-control" type="text" rows="4" style="resize: none;"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              รอเข้า/ผ่าน อนุกรรมการ
            </label>
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <select class="form-control" [(ngModel)]="box3_input.subcomm_code">
                  <option *ngFor="let item of subcommList" [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              จัดทำระเบียบวาระการประชุม
            </label>
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <select class="form-control" [(ngModel)]="box3_input.agenda_code">
                  <option *ngFor="let item of agendaList" [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group flex justify-content-end">
            <label class="col-form-label" for="is_via_post"></label>
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input type="checkbox" />
              ไม่มีประเด็นพิจารณา
              <span></span>
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- 框四 ก.03 -->
<appeal-white-tabs [attr.hidden]="Kor03 == true ? null  : ''"
  [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
  [title]="'บันทึกแก้ไขข้อมูลเครื่องหมาย'">

  <appeal-white-tab [title]="'หลักฐานประกอบ(ขั้นอุทธรณ์)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k03-tab-1">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">ชื่อหลักฐาน/ชื่อเอกสาร</th>
            <th class="cs-theader-c4">วันที่ส่งคืน</th>
            <th class="cs-theader-c5">หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let item of item_Evidence_List; index as i;">
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              {{i+1}}
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" value="{{item.evidence_subject}}"/>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" #key_receiving_evidence_date id="receiving_evidence_date"
                    [matDatepicker]="receiving_evidence_picker" (click)="receiving_evidence_picker.open()"
                    
                    value="{{item.return_date_text}}"
                    (dateChange)="clearValidate(key_receiving_evidence_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="receiving_evidence_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #receiving_evidence_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" value="{{item.remark}}"/>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'เครื่องหมายที่อ้างอิง'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k03-tab-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">อ้างอิง</th>
            <th class="cs-theader-c4">เลขที่คำขอ</th>
            <th class="cs-theader-c5">รูปเครื่องหมาย</th>
            <th class="cs-theader-c6">เลขทะเบียน</th>
            <th class="cs-theader-c7">ชื่อเจ้าของ</th>
            <th class="cs-theader-c8">แสดงปฏิเสธ</th>
            <th class="cs-theader-c9">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c10">อื่นๆ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" />
                  <span></span>
                </label>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำขอที่เหมือนคล้าย'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k03-tab-3">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
            <th class="cs-theader-c5">เลขทะเบียน</th>
            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
            <th class="cs-theader-c7">แสดงปฏิเสธ</th>
            <th class="cs-theader-c8">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c9">อื่นๆ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำขอที่ยื่นขอจดต่างประเทศ'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k03-tab-4">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">รูปเครื่องหมาย</th>
            <th class="cs-theader-c4">เลขที่คำขอ</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">วันที่ยื่น</th>
            <th class="cs-theader-c7">จำพวก</th>
            <th class="cs-theader-c8">รายการ</th>
            <th class="cs-theader-c9">คำสั่ง</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-plus cs-color-text-blue"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" #key_request_date id="request_date"
                    [matDatepicker]="request_picker" (click)="request_picker.open()"
                    (dateChange)="clearValidate(key_request_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="request_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #request_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-around">
                <button type="button" class="btn cs-btn-icon-red">
                  <span class="fa fa-close"></span>
                </button>
                <button type="button" class="btn cs-btn-icon-grey">
                  <span class="fa fa-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ข้อเสนอฝ่ายเลขานุการ'" style="position: relative; display: block;">
    <div class="row mb-4">
      <div class="col-4 ">
        <div class="row">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              กำหนดเวลา
            </label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioTimeK03" type="radio" />
                ยื่นภายในระยะเวลาที่กำหนด
                <span></span>
              </label>
            </div>
            <div style="min-width: 100px; margin-top: 8px;">
              <div class="form-group flex">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="radioTimeK03" type="radio" />
                  อื่นๆ
                  <span></span>
                </label>
              </div>
            </div>
            <input class="form-control input" type="text" />
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              ความเห็น
            </label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommentK03" type="radio" />
                ยื่นตามคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommentK03" type="radio" />
                ยกคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommentK03" type="radio" />
                กลับคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommentK03" type="radio" />
                แก้คำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label"></label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommentK03" type="radio" />
                ชี้แจงเพิ่มเติม
                <span></span>
              </label>
            </div>
            <div style="min-width: 100px; margin-top: 8px;">
              <div class="form-group flex">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="radioSecCommentK03" type="radio" />
                  อื่นๆ
                  <span></span>
                </label>
              </div>
            </div>
            <input class="form-control input" type="text" />
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">เหตุผล</label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioReason" type="radio" />
                เห็นด้วยกับนายทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioReason" type="radio" />
                ไม่เห็นด้วยกับนายทะเบียน
                <span></span>
              </label>
            </div>

          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">เหตุผล</label>

            <button type="button" class="btn btn-brand" style="min-width: 100px;"
              (click)="toggleModal('isModalAddReason')">
              <i class="fa fa-plus" aria-hidden="true"></i>
              เพิ่มเหตุผล
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              แนบไฟล์
            </button>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-5">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'มติคณะอนุกรรมการ'" style="position: relative; display: block;">
    <div class="row mb-4">
      <div class="col-4 ">
        <div class="row">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              คะแนนเสียง
            </label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderPointK03" type="radio" />
                เอกฉันท์
                <span></span>
              </label>
            </div>
            <div style="min-width: 150px; margin-top: 8px;">
              <div class="form-group flex">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="radioConsiderPointK03" type="radio" />
                  เสียงข้างมาก
                  <span></span>
                </label>
              </div>
            </div>
            <input class="form-control input" type="text" style="width: 150px !important;" />
            <label class="col-form-label cs-label-after">
              เสียง
            </label>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">
              ความเห็น
            </label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommendK03" type="radio" />
                ยื่นตามคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommendK03" type="radio" />
                ยกคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommendK03" type="radio" />
                กลับคำสั่งนายทะเบียน
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label"></label>

            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommendK03" type="radio" />
                ชี้แจงเพิ่มเติม
                <span></span>
              </label>
            </div>
            <div style="min-width: 100px; margin-top: 8px;">
              <div class="form-group flex">
                <label class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="radioConsiderCommendK03" type="radio" />
                  อื่นๆ
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">เหตุผล</label>

            <button type="button" class="btn btn-brand" style="min-width: 100px;"
              (click)="toggleModal('isModalAddReason')">
              <i class="fa fa-plus" aria-hidden="true"></i>
              เพิ่มเหตุผล
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              แนบไฟล์
            </button>

          </div>
        </div>

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-5">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

</appeal-white-tabs>


<!-- 框四 ก.08 -->
<appeal-white-tabs [attr.hidden]="Kor03 == false ? null  : ''"
  [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
  [title]="'บันทึกแก้ไขข้อมูลเครื่องหมาย'">

  <appeal-white-tab [title]="'หลักฐานประกอบ(ผู้ขอเพิกถอน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-1">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">ชื่อหลักฐาน/ชื่อเอกสาร</th>
            <th class="cs-theader-c4">วันที่รับหลักฐาน</th>
            <th class="cs-theader-c5">วันที่ส่งคืน</th>
            <th class="cs-theader-c6">หมายเหตุ</th>
            <th class="cs-theader-c7">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" #key_b4t1_k08_receive_date id="b4t1_k08_receive_date"
                    [matDatepicker]="b4t1_k08_receive_picker" (click)="b4t1_k08_receive_picker.open()"
                    (dateChange)="clearValidate(key_b4t1_k08_receive_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="b4t1_k08_receive_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #b4t1_k08_receive_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" #key_b4t1_k08_return_date id="b4t1_k08_return_date"
                    [matDatepicker]="b4t1_k08_return_picker" (click)="b4t1_k08_return_picker.open()"
                    (dateChange)="clearValidate(key_b4t1_k08_return_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="b4t1_k08_return_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #b4t1_k08_return_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'หลักฐานประกอบ(ผู้ได้รับจดทะเบียน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">ชื่อหลักฐาน/ชื่อเอกสาร</th>
            <th class="cs-theader-c4">วันที่รับหลักฐาน</th>
            <th class="cs-theader-c5">วันที่ส่งคืน</th>
            <th class="cs-theader-c6">หมายเหตุ</th>
            <th class="cs-theader-c7">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" #key_b4t2_k08_receive_date id="b4t2_k08_receive_date"
                    [matDatepicker]="b4t2_k08_receive_picker" (click)="b4t2_k08_receive_picker.open()"
                    (dateChange)="clearValidate(key_b4t2_k08_receive_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="b4t2_k08_receive_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #b4t2_k08_receive_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" #key_b4t2_k08_return_date id="b4t2_k08_return_date"
                    [matDatepicker]="b4t2_k08_return_picker" (click)="b4t2_k08_return_picker.open()"
                    (dateChange)="clearValidate(key_b4t2_k08_return_date.id)" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="b4t2_k08_return_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #b4t2_k08_return_picker></mat-datepicker>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำขอที่เกี่ยวข้อง(ผู้ได้รับจดทะเบียน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-3">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">เลขทะเบียน</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">รูปเครื่องหมาย</th>
            <th class="cs-theader-c7">แสดงปฏิเสธ</th>
            <th class="cs-theader-c8">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c9">อื่นๆ</th>
            <th class="cs-theader-c10">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="payment_date">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'คำขอที่เกี่ยวข้อง(ผู้ขอเพิกถอน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-4">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">เลขทะเบียน</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">รูปเครื่องหมาย</th>
            <th class="cs-theader-c7">แสดงปฏิเสธ</th>
            <th class="cs-theader-c8">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c9">อื่นๆ</th>
            <th class="cs-theader-c10">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'เครื่องหมายที่อ้างอิง(ผู้ได้รับจดทะเบียน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-5">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">อ้างอิง</th>
            <th class="cs-theader-c4">เลขที่คำขอ</th>
            <th class="cs-theader-c5">เลขทะเบียน</th>
            <th class="cs-theader-c6">รูปเครื่องหมาย</th>
            <th class="cs-theader-c7">แสดงปฏิเสธ</th>
            <th class="cs-theader-c8">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c9">อื่นๆ</th>
            <th class="cs-theader-c10">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" />
                  <span></span>
                </label>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'เครื่องหมายที่อ้างอิง(ผู้ขอเพิกถอน)'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered mb-4" style="border: 1px;">
      <table class="box-4-k08-tab-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled />
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">#</th>
            <th class="cs-theader-c3">อ้างอิง</th>
            <th class="cs-theader-c4">เลขที่คำขอ</th>
            <th class="cs-theader-c5">เลขทะเบียน</th>
            <th class="cs-theader-c6">รูปเครื่องหมาย</th>
            <th class="cs-theader-c7">แสดงปฏิเสธ</th>
            <th class="cs-theader-c8">จดชุดกับคำขอเลขที่</th>
            <th class="cs-theader-c9">อื่นๆ</th>
            <th class="cs-theader-c10">รายละเอียดพิจารณา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox" />
                  <span></span>
                </label>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" />
                  <div class="input-group-append">
                    <label class="cs-input-group-text">
                      <span class="fa fa-search-plus"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <div class="cs-display-image">
                  <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" height="40.0px">
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" disabled />
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="row justify-content-center">
                <button class="btn cs-btn-icon-white">
                  <span class="fa fa-search-plus"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'ความเห็น'" style="position: relative; display: block;">
    <div class="row mb-4">
      <div class="col-4 ">

        <div class="row">
          <div class="form-group flex">
            <label class="col-form-label cs-label">ความเห็นฝ่ายเลขานุการ</label>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommend" type="radio" />
                ไม่เพิกถอน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioSecCommend" type="radio" />
                เพิกถอน
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">เหตุผล</label>
            <button type="button" class="btn btn-brand" style="min-width: 100px;"
              (click)="toggleModal('isModalAddReason')">
              <i class="fa fa-plus" aria-hidden="true"></i>
              เพิ่มเหตุผล
            </button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">ความเห็นคณะอนุกรรมการ</label>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommend" type="radio" />
                ไม่เพิกถอน
                <span></span>
              </label>
            </div>
            <div style="min-width: 250px; margin-top: 8px;">
              <label class="kt-radio kt-radio--bold kt-radio--brand">
                <input name="radioConsiderCommend" type="radio" />
                เพิกถอน
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group flex">
            <label class="col-form-label cs-label">เหตุผล</label>
            <button type="button" class="btn btn-brand" style="min-width: 100px;"
              (click)="toggleModal('isModalAddReason')">
              <i class="fa fa-plus" aria-hidden="true"></i>
              เพิ่มเหตุผล
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-5">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </appeal-white-tab>

</appeal-white-tabs>


<!-- 框五 -->
<div class="row mt-3" style="justify-content: center;">
  <button class="btn btn-brand">
    <i class="fa fa-print" aria-hidden="true"></i>
    พิมพ์สรุปสำนวนบ่งเฉพาะ
  </button>
  <button class="btn btn-brand ml-3 mr-3">
    ดูร่างข้อเสนอเลขานุการ
  </button>
  <button class="btn cs-btn-grey-solid mr-3" style="min-width: 130px;">
    <i class="fa fa-folder" aria-hidden="true"></i>
    เอกสาร
  </button>
  <button class="btn btn-brand">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
    ส่งพิจารณา
  </button>
</div>


<!-- 情态的 -->
<app-modal [className]="['fade', this.modal.isModalAddReason ? 'show' : undefined]" [title]="'เหตุผล'"
  [modalSize]="'lg'" (onClickClose)="toggleModal('isModalAddReason')">
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="form-group flex mt-3 mb-3 ml-3 mr-3">
        <div class="input-wrapper">
          <ckeditor [editor]="Editor" id="editor"></ckeditor>
        </div>
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-default" (click)="toggleModal('isModalAddReason')">
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="toggleModal('isModalAddReason')">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>


<app-modal [className]="['fade', this.modal.isModalSection ? 'show' : undefined]" [title]="'ข้อและมาตรา'"
  [modalSize]="'lg'" (onClickClose)="toggleModal('isModalSection')">
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="row mt-3 mb-3 ml-1">
        <h3 class="cs-color-text-blue" style="font-size: 20px; font-weight: normal;">
          รายละเอียดข้อและมาตรา
        </h3>
      </div>

      <div class="row mb-3">
        <div class="col-12">
          <div class="table table-responsive table-bordered table-01" style="border: 1px;">
            <table class="box-3-modal">
              <thead>
                <tr>
                  <th class="cs-theader-c1">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                      <input type="checkbox" disabled />
                      <span></span>
                    </label>
                  </th>
                  <th class="cs-theader-c2">#</th>
                  <th class="cs-theader-c3">มาตรา</th>
                  <th class="cs-theader-c4">รายละเอียด</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ="let item of sectionList; index as i;">
                  <td class="cs-tbody-v-align-mid">
                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                      <input type="checkbox" (click)="toggleCheck(i);" 
                        [attr.checked]="item.is_check == true ? '' : null" 
                        [attr.unchecked]="item.is_check == false ? '' : null"
                      />
                      <span></span>
                    </label>
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    {{i+1}}
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    {{item.code}}
                  </td>
                  <td class="cs-tbody-v-align-mid">
                    {{item.name}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-default" (click)="toggleModal('isModalSection')">
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="toggleModal('isModalSection'); selectItem();">
      ที่เลือก
    </button>
  </div>
</app-modal>


<app-modal [className]="['fade', this.modal.isModalK08Detail ? 'show' : undefined]" [title]="'รายละเอียดการพิจารณา'"
  [modalSize]="'md'" (onClickClose)="toggleModal('isModalK08Detail')">
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="form-group  mt-3">
        <div class="input-wrapper">
          <textarea class="form-control" type="text" id="remark" rows="5" style="resize: none;"
            placeholder="รายละเอียดเพิ่มเติม"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div footer-children class="flex btn-group-wrapper">
    <button type="button" class="btn btn-default" (click)="toggleModal('isModalK08Detail')">
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="toggleModal('isModalK08Detail')">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>