<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label hide">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="book_end_start_date">วันที่ส่งงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_book_end_start_date
                         id="book_end_start_date"
                         class="form-control input" matInput
                         [matDatepicker]="picker_book_end_start_date"
                         (click)="picker_book_end_start_date.open()"
                         [(ngModel)]="input[key_book_end_start_date.id]"
                         (dateChange)="clearValidate(key_book_end_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="book_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_book_end_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_book_end_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_end_start_date.id]" class="invalid-feedback">
                  {{validate[key_book_end_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_book_end_end_date id="book_end_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_book_end_end_date" (click)="picker_book_end_end_date.open()"
                         [(ngModel)]="input[key_book_end_end_date.id]" (dateChange)="clearValidate(key_book_end_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_book_end_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_book_end_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_end_end_date.id]" class="invalid-feedback">
                  {{validate[key_book_end_end_date.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role04_release_20_status_code
                      class="form-control"
                      id="document_role04_release_20_status_code"
                      [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                      [(ngModel)]="input[key_document_role04_release_20_status_code.id]"
                      (change)="oneWayDataBinding('document_role04_release_20_status_code', $event.target.value)"
                      [value]="input.document_role04_release_20_status_code">
                <option *ngFor="let item of master.documentRole04Release20StatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role04_release_20_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role04_release_20_status_code.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="document_role04_release_20_send_start_date">วันที่พิจารณา</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_document_role04_release_20_send_start_date
                         id="document_role04_release_20_send_start_date"
                         class="form-control input" matInput
                         [matDatepicker]="picker_document_role04_release_20_send_start_date"
                         (click)="picker_document_role04_release_20_send_start_date.open()"
                         [(ngModel)]="input[key_document_role04_release_20_send_start_date.id]"
                         (dateChange)="clearValidate(key_document_role04_release_20_send_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="document_role04_release_20_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_document_role04_release_20_send_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_document_role04_release_20_send_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role04_release_20_send_start_date.id]" class="invalid-feedback">
                  {{validate[key_document_role04_release_20_send_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_document_role04_release_20_send_end_date id="document_role04_release_20_send_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_document_role04_release_20_send_end_date" (click)="picker_document_role04_release_20_send_end_date.open()"
                         [(ngModel)]="input[key_document_role04_release_20_send_end_date.id]" (dateChange)="clearValidate(key_document_role04_release_20_send_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="document_role04_release_20_send_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_document_role04_release_20_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_document_role04_release_20_send_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role04_release_20_send_end_date.id]" class="invalid-feedback">
                  {{validate[key_document_role04_release_20_send_end_date.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole04Release20List()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet">
  <app-table [initial_table]="tableList" [title]="'ตารางแสดง'" (onClickCommand)="onClickCommand($event)"></app-table>
</div>
