<div class="kt-portlet public-role01-check-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="kt-portlet__body__inner public-role01-check-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะงาน
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.publicReceiveStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="public_receive_status_code"
                         type="radio"
                         [checked]="item.code === input.public_receive_status_code"
                         (click)="binding('input', 'public_receive_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <!-- <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="form-column">

        <div class="kt-portlet__body__inner public-role01-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="instruction_send_start_date">วันที่รับงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_instruction_send_start_date id="instruction_send_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_instruction_send_start_date" (click)="picker_instruction_send_start_date.open()"
                         [(ngModel)]="input[key_instruction_send_start_date.id]" (dateChange)="clearValidate(key_instruction_send_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_instruction_send_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_instruction_send_start_date.id]" class="invalid-feedback">
                  {{validate[key_instruction_send_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_instruction_send_end_date id="instruction_send_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_instruction_send_end_date" (click)="picker_instruction_send_end_date.open()"
                         [(ngModel)]="input[key_instruction_send_end_date.id]" (dateChange)="clearValidate(key_instruction_send_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="instruction_send_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_instruction_send_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_instruction_send_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_instruction_send_end_date.id]" class="invalid-feedback">
                  {{validate[key_instruction_send_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="kt-portlet__body__inner public-role01-check-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_receive_start_date">วันที่ตรวจสอบ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_receive_start_date id="public_receive_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_receive_start_date" (click)="picker_public_receive_start_date.open()"
                         [(ngModel)]="input[key_public_receive_start_date.id]" (dateChange)="clearValidate(key_public_receive_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_receive_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_receive_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_receive_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_receive_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_receive_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_receive_end_date id="public_receive_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_receive_end_date" (click)="picker_public_receive_end_date.open()"
                         [(ngModel)]="input[key_public_receive_end_date.id]" (dateChange)="clearValidate(key_public_receive_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_receive_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_receive_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_receive_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_receive_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_receive_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole01CheckList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role01-check-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button type="button" class="btn btn-brand" (click)="onClickPublicRole01CheckDoAuto()">
        ตรวจสอบที่เลือกอัตโนมัติ
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Check')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="request_date_text">วันที่ยื่นคำขอ</td>
          <td class="instruction_send_date_text">วันที่ได้รับงาน</td>
          <td class="public_receive_date_text">วันที่ตรวจสอบ</td>
          <td class="request_number">เครื่องหมายร่วม</td>
          <td class="trademark">เครื่องหมายรับรอง</td>
          <td class="trademark_sound">เครื่องหมายเสียง</td>
          <td class="type">ประเภท</td>
          <td class="public_remark">รายละเอียดเพิ่มเติม</td>
          <td class="public_status_name">สถานะ</td>
          <td class="id">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole01Check">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Check', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="request_date_text">{{row_item.request_date_text}}</td>
          <td class="instruction_send_date_text">{{row_item.instruction_send_date_text}}</td>
          <td class="public_receive_date_text">{{row_item.public_receive_date_text}}</td>
          <td class="request_item_type_code">
            <div *ngIf="row_item.request_item_type_code=='COLLECTIVE_MARK'">
              <i class='dip-icon-check'></i>
            </div>
          </td>
          <td class="trademark">
            <div *ngIf="row_item.request_item_type_code=='CERTIFICATION_MARK'">
              <i class='dip-icon-check'></i>
            </div>
          </td>
          <td class="trademark_sound">
            <div *ngIf="row_item.is_sound">
              <i class='dip-icon-check'></i>
            </div>
          </td>
          <td class="type">{{row_item.type}}</td>
          <td class="public_remark">{{row_item.public_remark}}</td>
          <td class="public_status_name">{{row_item.public_receive_status_name}}</td>
          <td class="id"><a href="javascript://"><i class="dip-icon-play" (click)="onClickPublicRole01CheckId(row_item.id)"></i></a></td>


        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole01Check"
                (onClickList)="onClickPublicRole01CheckList()"></app-paging>
  </div>

</div>
