<div class="kt-portlet public-role02-consider-payment-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role02-consider-payment-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner public-role02-consider-payment-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="book_index">เล่มที่</label>
            <div class="input-wrapper">
              <input #key_book_index class="form-control input" type="text" id="book_index" placeholder="เล่มที่"
                     [(ngModel)]="input[key_book_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_book_index.id]" class="invalid-feedback">
                  {{validate[key_book_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role02-consider-payment-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="page_index">หน้าที่</label>
            <div class="input-wrapper">
              <input #key_page_index class="form-control input" type="text" id="page_index" placeholder="หน้าที่"
                     [(ngModel)]="input[key_page_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_page_index.id]" class="invalid-feedback">
                  {{validate[key_page_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner public-role02-consider-payment-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.publicRole02ConsiderPaymentStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="public_role02_consider_payment_status_code"
                         type="radio"
                         [checked]="item.code === input.public_role02_consider_payment_status_code"
                         (click)="binding('input', 'public_role02_consider_payment_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <!-- <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div> -->
              </div>
            </div>

          </div>
        </div>

        <div class="kt-portlet__body__inner public-role02-consider-payment-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_end_start_date">วันที่ครบประกาศ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_start_date id="public_end_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_start_date" (click)="picker_public_end_start_date.open()"
                         [(ngModel)]="input[key_public_end_start_date.id]" (dateChange)="clearValidate(key_public_end_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_end_date id="public_end_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_end_date" (click)="picker_public_end_end_date.open()"
                         [(ngModel)]="input[key_public_end_end_date.id]" (dateChange)="clearValidate(key_public_end_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole02ConsiderPaymentList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button><button type="button"
                       class="btn btn-danger"
                       (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role02-consider-payment-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label" for="public_role02_consider_payment_send_date">วันที่เสนอพิจารณา</label>
      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_public_role02_consider_payment_send_date id="public_role02_consider_payment_send_date" class="form-control input" matInput
                   [matDatepicker]="picker_public_role02_consider_payment_send_date" (click)="picker_public_role02_consider_payment_send_date.open()"
                   [(ngModel)]="input[key_public_role02_consider_payment_send_date.id]" (dateChange)="clearValidate(key_public_role02_consider_payment_send_date.id)"
                   autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role02_consider_payment_send_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix [for]="picker_public_role02_consider_payment_send_date">
          </mat-datepicker-toggle>
          <mat-datepicker #picker_public_role02_consider_payment_send_date></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_public_role02_consider_payment_send_date.id]" class="invalid-feedback">
            {{validate[key_public_role02_consider_payment_send_date.id]}}
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole02ConsiderPaymentSend()">
        <i class="dip-icon-save"></i>
        เสนอพิจารณาที่เลือก
      </button>
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole02ConsiderPaymentAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickPublicRole02ConsiderPaymentDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02ConsiderPayment')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="public_start_date_text">วันที่ประกาศ</td>
          <td class="public_end_date_text">วันที่ครบประกาศ</td>
          <td class="book_index">เล่มที่</td>
          <td class="page_index_line_index">หน้าที่ / ลำดับที่</td>
          <td class="request_item_sub_type_1_code_text">จำพวก</td>
          <td class="public_role02_check_date_text">วันที่ตรวจสอบ</td>
          <td class="total_amount">จำนวนเงิน</td>
          <td class="intruction_rule41_date_text">วันที่ออกคำสั่งมาตรา 41</td>
          <td class="instruction_send_date_text">วันที่นายทะเบียนอนุมัติ</td>
          <td class="save010_public_payment_remark">รายละเอียดเพิ่มเติม</td>
          <td class="public_role02_consider_payment_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole02ConsiderPayment">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole02ConsiderPayment', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>

          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="public_start_date_text">{{row_item.public_start_date_text}}</td>
          <td class="public_end_date_text">{{row_item.public_end_date_text}}</td>
          <td class="book_index">{{row_item.book_index}}</td>
          <td class="page_index_line_index">{{row_item.page_index_line_index}}</td>
          <td class="request_item_sub_type_1_code_text">{{row_item.request_item_sub_type_1_code_text}}</td>
          <td class="public_role02_check_date_text">{{row_item.public_role02_check_date_text}}</td>
          <td class="total_amount">{{row_item.total_price}}</td>
          <td class="intruction_rule41_date_text">{{row_item.intruction_rule41_date_text}}</td>
          <td class="instruction_send_date_text">{{row_item.public_role05_consider_payment_date_text}}</td>
          <td class="save010_public_payment_remark">{{row_item.save010_public_payment_remark}}</td>
          <td class="public_role02_consider_payment_status_name">{{row_item.public_role02_consider_payment_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-edit" (click)="onClickPublicRole02ConsiderPaymentEdit(row_item)"></i>
            <!--<i class="dip-icon-trash" (click)="onClickPublicRole02ConsiderPaymentDelete(row_item)"></i>-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole02ConsiderPayment"
                (onClickList)="onClickPublicRole02ConsiderPaymentList()"></app-paging>
  </div>

</div>
