<div class="columns">
  <div class="kt-portlet information">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          สร้างเอกสารชี้แจ้ง
        </h3>
      </div>
      <div class="kt-portlet__head-action">
      </div>
    </div>


    <div class="kt-portlet__body">
      <div class="kt-portlet__body__inner">
        <div class="form-group flex flex-column">
          <label class="col-form-label" for="request_number">ประเภท</label>
          <div class="input-wrapper">
            <select class="form-control"
                    [(ngModel)]="input_add.document_role04_create_type_code"
                    [value]="input_add.document_role04_create_type_code">
              <option *ngFor="let item of master.documentRole04CreateTypeCodeList"
                      [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex flex-column">
          <label class="col-form-label" for="request_number">คำขอเลขที่</label>
          <div class="input-wrapper">
            <input class="form-control input"
                   [(ngModel)]="input_add.request_number"
                   type="text" id="request_number"
                   autocomplete="off"
                   (change)="onChangeDocumentRole04CreateRequestNumber($event)" />
          </div>
        </div>
      </div>

      <div class="column-2">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="people_name">เจ้าของ</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     [(ngModel)]="input.people_name"
                     type="text" id="people_name"
                     autocomplete="off"
                     disabled="disabled" />
            </div>


          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="representative_name">ตัวแทน</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     [(ngModel)]="input.representative_name"
                     type="text" id="representative_name"
                     autocomplete="off"
                     disabled="disabled" />
            </div>


          </div>
        </div>
      </div>

      <div class="column-2">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="request_item_sub_type_1_code_text">จำพวก</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     [(ngModel)]="input.request_item_sub_type_1_code_text"
                     type="text" id="request_item_sub_type_1_code_text"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>
        </div>

        <div class="kt-portlet__body__inner">
          <div class="form-group flex flex-column">
            <label class="col-form-label" for="request_item_sub_type_1_description">รายการสินค้า</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     [(ngModel)]="input.request_item_sub_type_1_description"
                     type="text"
                     id="request_item_sub_type_1_description"
                     autocomplete="off"
                     disabled="disabled" />
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex flex-column">
          <label class="col-form-label" for="people_information">สถานที่จัดส่ง</label>
          <div class="input-wrapper">
            <textarea class="form-control input"
                      [(ngModel)]="input.people_information"
                      type="text" id="people_information"
                      autocomplete="off"
                      disabled="disabled"></textarea>
          </div>
        </div>
      </div>

      <div class="kt-portlet__body__inner">
        <div class="form-group flex flex-column">
          <label class="col-form-label" for="value_01">รายละเอียด</label>
          <div class="input-wrapper">
            <textarea class="form-control input"
                      [(ngModel)]="input_add.value_01"
                      type="text" id="value_01"
                      autocomplete="off"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__footer ">
      <div class="button-list">
        <button type="button"
                class="btn btn-brand"
                (click)="onClickDocumentRole04CreateAdd()">
          <i class="dip-icon-add-new"></i>
          เพิ่ม
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="onClickReset()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>
  </div>

  <div class="kt-portlet search">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          การค้นหา
        </h3>
      </div>
      <div class="kt-portlet__head-action">
      </div>
    </div>

    <div class="kt-portlet__body">
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input class="form-control input"
                     type="text"
                     id="request_number"
                     placeholder="คำขอเลขที่"
                     [(ngModel)]="input_search.request_number"
                     autocomplete="off" />
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="input_search.created_start_date">วันที่สร้าง</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input [(ngModel)]="input_search.created_start_date"
                         class="form-control input" matInput
                         [matDatepicker]="input_search_created_start_date"
                         (click)="input_search_created_start_date.open()"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="book_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="input_search_created_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #input_search_created_start_date></mat-datepicker>
              </mat-form-field>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input [(ngModel)]="input_search.created_end_date"
                         class="form-control input" matInput
                         [matDatepicker]="input_search_created_end_date"
                         (click)="input_search_created_end_date.open()"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="book_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="input_search_created_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #input_search_created_end_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner">
          <div class="form-group flex">
            <label class="col-form-label" for="document_role04_create_type_code">ประเภท</label>
            <div class="input-wrapper">
              <select class="form-control"
                      id="document_role04_create_type_code"
                      [(ngModel)]="input_search.document_role04_create_type_code">
                <option *ngFor="let item of master.documentRole04CreateTypeCodeAllList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner">

          <div class="form-group flex">
            <label class="col-form-label" for="document_role04_create_status_code">สถานะ</label>
            <div class="input-wrapper">
              <select class="form-control"
                      id="document_role04_create_status_code"
                      [(ngModel)]="input_search.document_role04_create_status_code">
                <option *ngFor="let item of master.documentRole04CreateStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__footer ">
      <div class="button-list">
        <button type="button"
                class="btn btn-brand"
                (click)="onClickDocumentRole04CreateList()">
          <i class="dip-icon-search"></i>
          ค้นหา
        </button>
        <button type="button"
                class="btn btn-danger"
                (click)="onClickReset()">
          <i class="dip-icon-close"></i>
          ยกเลิก
        </button>
      </div>
    </div>

    <app-table [initial_table]="tableList" [title]="'ตาราง'" (onClickCommand)="onClickCommand($event)"></app-table>
  </div>
</div>
