<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        MM2 - APPLICATION FOR INTERNATIONAL REGISTRATION GOVERNED BY THE MADRID PROTOCAL</h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>


  </div>

  <div class="kt-portlet__body" style="align-self: center;">
    <div class="form-row">

      <ng-container *ngFor="let mini of menuList">
        <div *ngIf="mini.isShow" class="mini-step-label" [ngClass]="{
                passed: currentStep > mini.number,
                current: currentStep == mini.number
              }">
          <div class="row" style="margin: 3px;">
            <div class="col6" style="align-self: center;">
              <div class="mini-step" style="margin: 3px;">
                {{ mini.number }}
              </div>
            </div>
            <div class="col6" style="align-self: center;">
              <div style="margin: 3px;">
                {{mini.title}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

  <hr>
  <div class="kt-portlet__head-label">
    <h4 class="kt-portlet__head-title" style="padding-left: 25px;">
      รายละเอียดคำขอ</h4>
  </div>


  <div class="kt-portlet__head-label">
    <h5 class="kt-portlet__head-title" style="padding-left: 25px;">
      เลขคำที่ยืนจดทะเบียนในประเทศ</h5>
  </div>

  <div class="row" *ngIf="ItemArray" style="padding-left: 25px;">
    <div class="kt-portlet__body__inner public-role01-item-lister">
      <mat-nav-list class="list-horizontal">
        <mat-list-item *ngFor="let item of ItemArray; let i = index" [attr.data-index]="i"
          style="margin: 1px; background-color: #F2F3F8; width: 120px; text-align: center; height: 30px;">
          <div>
            {{ item }}
            <mat-icon (click)="deleteItem(i)" style="cursor: pointer; vertical-align: top;">close</mat-icon>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>


  <hr>

</div>