:host .kt-portlet {
  font-size: 16px;
  font-weight: 400;
}

:host .kt-portlet .kt-portlet__footer .btn-group-wrapper {
  display: flex;
  margin: 0 auto;
}

:host .kt-portlet .kt-portlet__footer .btn-group-wrapper .btn {
  margin: 0 8px;
}

:host .kt-portlet .kt-portlet__head-title i {
  margin-right: 15px;
}

:host .kt-portlet .kt-pagination__toolbar .form-control {
  margin-left: 10px;
}

:host .kt-portlet .kt-pagination__toolbar .pagination__desc {
  font-weight: 400;
}

:host .table-responsive {
  overflow: hidden;
  overflow-x: auto;
}

:host .table {
  border: 1px solid #eff1f5;
  min-width: 1600px;
}

:host .table .table-inner {
  margin-bottom: 0;
}

:host .table .table-inner .table-data {
  max-height: 400px;
  overflow-y: scroll;
}

:host .table .table-inner .table-data .tr:nth-child(2n-1) .td {
  background-color: #fff;
}

:host .table .table-inner .table-data .tr:nth-child(2n) .td {
  background-color: #fbfcfd;
}

:host .table .table-inner .tr .td {
  min-height: 38px;
  border-right: 1px solid #eff1f5;
  flex: 1;
}

:host .table .table-inner .tr .td .tag {
  background-color: #bac3d0;
  border-radius: 4px;
  padding: 1px 8px;
  text-align: center;
  color: white;
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

:host .table .table-inner .tr .td .tag.blue {
  background-color: #0c84c8;
}

:host .table .table-inner .tr .td .tag.orange {
  background-color: #fd8402;
}

:host .table .table-inner .tr .td .tag.red {
  background-color: #E34132;
}

:host .table .table-inner .tr .td.center {
  justify-content: center;
  text-align: center;
}

:host .table .table-inner .tr .td.select {
  min-width: 40px;
  max-width: 40px;
}

:host .table .table-inner .tr .td.order {
  min-width: 55px;
  max-width: 55px;
}

:host .table .table-inner .tr .td.request-id {
  min-width: 115px;
  max-width: 115px;
}

:host .table .table-inner .tr .td.submission-date {
  min-width: 110px;
  max-width: 110px;
}

:host .table .table-inner .tr .td.proposed-date {
  min-width: 110px;
  max-width: 110px;
}

:host .table .table-inner .tr .td.consider-date {
  min-width: 110px;
  max-width: 110px;
}

:host .table .table-inner .tr .td.petition {
  min-width: 110px;
  max-width: 110px;
}

:host .table .table-inner .tr .td.status {
  min-width: 180px;
  max-width: 180px;
}

:host .table .table-inner .tr .td.status .tag {
  min-width: 115px;
  padding: 0 15px;
}

:host .table .table-inner .tr .td.operation {
  max-width: 100px;
  min-width: 100px;
  justify-content: space-around;
  text-align: space-around;
}

:host .table .table-inner .tr .td.operation .btn {
  width: 30px;
  height: 30px;
}

:host .table .table-inner .tr .td.scrollbar {
  flex: 0 0 19px;
  max-width: 19px;
}

:host .table .table-inner .tr.header {
  border-bottom: 1px solid #eff1f5;
}

:host .table .table-inner .tr.header .td {
  padding: 10px 4px 4px;
}

:host .search-task .kt-portlet__body {
  flex-direction: row;
}

:host .search-task .kt-portlet__body .form-column {
  flex: 0 0 40%;
  max-width: 40%;
}

:host .search-task .kt-portlet__body .form-column .form-group {
  max-width: 100%;
}

:host .search-task .kt-portlet__body .form-column .form-group .col-form-label {
  min-width: 170px;
  margin: 0 10px 0 0;
}

:host .search-task .kt-portlet__body .form-column:nth-child(2) {
  margin-left: 50px;
}

:host .search-task .kt-portlet__body .form-control {
  width: 100%;
}

:host .search-task .kt-portlet__body .datepicker {
  min-width: 0;
}

:host .search-task .kt-portlet__body .datepicker .mat-form-field {
  min-width: 0;
}

:host .search-task .kt-portlet__body .middle-label {
  flex: 0 0 55px;
  max-width: 55px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  color: #6d6e71;
}
