:host {
  //Start >>> Default <<<
  .kt-portlet {
    font-size: 16px;
    font-weight: 400;

    .kt-portlet__footer {
      .btn-group-wrapper {
        display: flex;
        margin: 0 auto;

        .btn {
          margin: 0 8px;
        }
      }
    }

    .kt-portlet__head-title {
      i {
        margin-right: 15px;
      }
    }

    .kt-pagination__toolbar {     
      .form-control {
        margin-left: 10px;
      }

      .pagination__desc {
        font-weight: 400;
      }
    }
  }

  .table-responsive {
    overflow: hidden;
    overflow-x: auto;
  }

  .table {
    border: 1px solid #eff1f5;
    min-width: 1600px;

    .table-inner {
      margin-bottom: 0;

      .table-data {
        max-height: 400px;
        overflow-y: scroll;

        .tr {
          &:nth-child(2n-1) .td {
            background-color: #fff;
          }

          &:nth-child(2n) .td {
            background-color: #fbfcfd;
          }
        }
      }

      .tr {
        .td {
          min-height: 38px;
          border-right: 1px solid #eff1f5;
          flex: 1;

          .tag {
            background-color: #bac3d0;
            border-radius: 4px;
            padding: 1px 8px;
            text-align: center;
            color: white;
            min-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

            &.blue {
              background-color: #0c84c8;
            }

            &.orange {
              background-color: #fd8402;
            }

            &.red {
              background-color: #E34132;
            }
          }

          &.center {
            justify-content: center;
            text-align: center;
          }

          &.select {
            min-width: 40px;
            max-width: 40px;
          }

          &.order {
            min-width: 55px;
            max-width: 55px;
          }

          &.request-id {
            min-width: 115px;
            max-width: 115px;
          }

          &.submission-date {
            min-width: 110px;
            max-width: 110px;
          }

          &.proposed-date {
            min-width: 110px;
            max-width: 110px;
          }

          &.consider-date {
            min-width: 110px;
            max-width: 110px;
          }

          &.petition {
            min-width: 110px;
            max-width: 110px;
          }

          &.status {
            min-width: 180px;
            max-width: 180px;

            .tag {
              min-width: 115px;
              padding: 0 15px;
            }
          }

          &.operation {
            max-width: 100px;
            min-width: 100px;
            justify-content: space-around;
            text-align: space-around;

            .btn {
              width: 30px;
              height: 30px;
            }
          }

          &.scrollbar {
            flex: 0 0 19px;
            max-width: 19px;
          }
        }

        &.header {
          border-bottom: 1px solid #eff1f5;

          .td {
            padding: 10px 4px 4px;
          }
        }
      }
    }
  }

  //Start >>> บันทึกเสนอนายทะเบียน <<<
  .search-task {
    .kt-portlet__body {
      flex-direction: row;

      .form-column {
        flex: 0 0 40%;
        max-width: 40%;

        .form-group {
          max-width: 100%;

          .col-form-label {
            min-width: 170px;
            margin: 0 10px 0 0;
          }
        }

        &:nth-child(2) {
          margin-left: 50px;
        }
      }

      .form-control {
        width: 100%;
      }

      .datepicker {
        min-width: 0;

        .mat-form-field {
          min-width: 0;
        }
      }

      .middle-label {
        flex: 0 0 55px;
        max-width: 55px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: normal;
        color: #6d6e71;
      }
    }
  }
}
