<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label" style="font-size: medium;">
            <h5 class="kt-portlet__head-title">
                <i class="dip dip-icon-play" aria-hidden="true"></i> บันทึก/แก้ไข ข้อมูลคำขอแก้ไขเปลี่ยนแปลง (ก.06)
            </h5>
        </div>
        <div class="kt-portlet__head-action">

        </div>
    </div>

    <div class="col-12  btm-border" style="margin-top: 10px;">
        <h4 class="sub-head-title">ประวัติการเปลี่ยนแปลง </h4>
    </div>
    <div class="form-row">
        <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="10/05/2560" [navigationSymbol]="{ symbol: '1' }">

                <div class="kt-portlet__body">
                    <div class="col-12">
                        <h4 class="sub-head-title">ข้อมูลทั่วไป </h4>
                    </div>

                    <div class="row">
                        <div class="col-3">

                            <div class="border" style="height: 379px;">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-icon button-bule">
                                            <i class="fa fa-volume-off" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    <div class="col-6" style="text-align: right;">
                                        <button class="btn btn-icon button-bule">
                                            2D
                                        </button>

                                        <button class="btn btn-icon button-bule">
                                            3D
                                        </button>
                                    </div>
                                </div>

                                <img src="https://www.ipthailand.go.th/images/001/DIP-Logo.png"
                                    style="width: 322px; max-height: 379px;" />
                            </div>
                        </div>

                        <div class="col-9">
                            <div class="border" style="padding: 20px">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="col-form-label">เลขที่คำขอ</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label">เลขทะเบียนระหว่างประเทศ IRN</label>
                                        <input class="form-control input" type="text" readonly placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label">วันที่ยื่นคำขอ</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">ชื่อเจ้าของ</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">วันที่ยื่นตาวันที่ใช้สิทธิ์ตาม ม.28</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">จำพวก</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">สินค้า/บริการ</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">นายทะเบียน</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">ผู้ตรวจสอบ</label>
                                        <input class="form-control input" readonly type="text" placeholder="-"
                                            autocomplete="off" style="" />
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="10/08/2560" [navigationSymbol]="{ symbol: '2' }">

            </aw-wizard-step>
            <aw-wizard-step stepTitle="10/10/2560" [navigationSymbol]="{ symbol: '3' }">

            </aw-wizard-step>
            <aw-wizard-step stepTitle="10/12/2560" [navigationSymbol]="{ symbol: '4' }">

            </aw-wizard-step>
        </aw-wizard>
    </div>


    <div class="kt-portlet__body border">
        <div class="col-12  btm-border">

            <div class="row justify-content-end mt-2 mb-2">
                <div class="col-10">
                    <h4 class="sub-head-title">บันทึกแก้ไขเปลี่ยนแปลงรายละเอียดคำขอ </h4>
                </div>
                <div class="col-2" style="text-align: right;">
                    <button class="btn  btn-brand"
                        style="background-color: #555555; border-color: #555555; text-align: right;">
                        <i class="dip dip-icon-layer" aria-hidden="true"></i>
                        ดูเอกสาร
                    </button>

                </div>

            </div>
            <div class="form-row" style="margin-top: 1rem;">
                <div class="col-12">
                    <ngb-tabset type="pills" [justify]="'justified'">
                        <ngb-tab title="เจ้าของ" style="width: 4rem;">
                            <ng-template ngbTabContent>
                                <div class="form-row">
                                    <div class="col-md-12">

                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="ตัวแทน">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="สถานที่ติดต่อ">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="รายการสินค้า">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="เครื่องหมายร่วม">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="เครื่องหมายเสียง">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="การจดชุด">
                            <ng-template ngbTabContent>
                                <h1>2</h1>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <div class="kt-portlet__body">
                <table style="width: auto;" class="table-bordered">
                    <thead>
                        <tr>

                            <td class="public_week" style="width: auto;">#</td>
                            <td class="public_notification_date" style="width: auto;">ชื่อเจ้าของ</td>
                            <td class="public_due_date" style="width: auto;">ที่อยู่</td>
                            <td class="public_irn_number" style="width: auto;">โทรศัพท์</td>
                            <td class="public_request_type" style="width: auto;">โทรสาร</td>
                            <td class="public_request_type" style="width: auto;">ชื่อเจ้าของเดิม</td>
                            <td class="public_request_type" style="width: auto;">คำสั่ง</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row_item of listPublicItem">

                            <td class="instruction_send_date_text" style="width: auto;">
                                {{row_item.index}}</td>
                            <td class="instruction_send_date_text" style="width: auto;">{{row_item.pic}}</td>
                            <td class="public_receive_date_text" style="width: auto;">{{row_item.desc}}</td>
                            <td class="public_type" style="width: auto;">เอาสตร้าสเซอ 5-9, 77761 ชิลทาค ประเทศเยอรมนี
                            </td>
                            <td class="public_type" style="width: auto;">{{row_item.desc}}</td>
                            <td class="public_type" style="width: auto;">{{row_item.desc}}</td>
                            <td class="public_receiver_name" style="width: auto;">
                                <button class="btn btn-icon btn-brand"
                                    style="background-color: #555555; border-color: #555555;">
                                    <i class="dip-icon-edit"></i>
                                </button>
                                <!-- {{row_item.status}} -->
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="button-list" style="margin-bottom: 30px; margin-top: 30px;">
            <button type="button" class="btn btn-white" (click)="closeModal()" style="cursor: pointer;">
                <i class="dip-icon-delete-cross"></i>
                ปิด
            </button>

        </div>

    </div>