<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-search"></i> การค้นหา
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">เลขที่อ้างอิงคำขอ</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="เลขที่อ้างอิงคำขอ"
                            autocomplete="off" />
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="start_date_1">วันที่ยื่นคำขอ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">

                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_start_date_1 id="start_date_1" class="form-control input" matInput
                                            [matDatepicker]="picker_start_date_1" (click)="picker_start_date_1.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="start_date_1">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="start_date_1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_start_date_1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_end_date_1 id="end_date_1" class="form-control input" matInput
                                            [matDatepicker]="picker_end_date_1" (click)="picker_end_date_1.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="end_date_1">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker_end_date_1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_end_date_1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="start_date_2">วันที่อนุมัติ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">

                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_start_date_2 id="start_date_2" class="form-control input" matInput
                                            [matDatepicker]="picker_start_date_2" (click)="picker_start_date_2.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="start_date_2">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="start_date_2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_start_date_2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_end_date_2 id="end_date_2" class="form-control input" matInput
                                            [matDatepicker]="picker_end_date_2" (click)="picker_end_date_2.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="end_date_2">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="end_date_2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_end_date_2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="start_date_3">วันที่แจ้ง</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">

                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_start_date_3 id="start_date_3" class="form-control input" matInput
                                            [matDatepicker]="picker_start_date_3" (click)="picker_start_date_3.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="start_date_3">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="start_date_3">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_start_date_3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_end_date_3 id="end_date_3" class="form-control input" matInput
                                            [matDatepicker]="picker_end_date_3" (click)="picker_end_date_3.open()"
                                            autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="end_date_3">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="end_date_3">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_end_date_3></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align"> สถานะ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                            <div class="">
                                <div class="">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox">
                                        รอแจ้ง
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                แจ้งแล้ว
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kt-portlet__footer ">
        <div class="button-list">
            <button type="button" class="btn btn-brand" (click)="onClickPublicRole05ItemList()">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-white" (click)="onClickReset()">
                <i class="dip-icon-reset"></i>
                เริ่มใหม่
            </button>
        </div>
    </div>


</div>
<div class="kt-portlet all-task-list">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางแสดง
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col"> ลำดับ</th>
                                <th scope="col">รูปภาพ</th>
                                <th scope="col">เลขที่ IRIN</th>
                                <th scope="col"> เลขที่อ้างอิงคำขอ</th>
                                <th scope="col"> เลขที่คำขอ</th>
                                <th scope="col"> วันที่ยื่นคำขอ</th>
                                <th scope="col"> Notification date</th>
                                <th scope="col"> เจ้าหน้าที่ตรวจสอบ</th>
                                <th scope="col"> วันที่แจ้งผู้ขอ</th>
                                <th scope="col"> รายละเอียดเพิ่มเติม</th>
                                <th scope="col"> สถานะการดำเนินงาน</th>
                                <th scope="col"> คำสั่ง</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)"
                                            [checked]="fasle">
                                        <span></span>
                                    </label></td>
                                <td> 1</td>
                                <td style="text-align: center;">
                                    <img src="https://f.ptcdn.info/180/036/000/1444207414-118720831j-o.jpg" alt=""
                                        style="width: 40px;height: 40px;">
                                </td>
                                <td>14000000</td>
                                <td>10/10/2560</td>
                                <td>11/09/2562</td>
                                <td>3010</td>
                                <td> 03/53</td>
                                <td>1</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td>

                                </td>
                                <td>
                                    <div class="tag brand">
                                        รอดำเนินการ
                                    </div>
                                </td>

                                <td> <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-search"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td> <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" (click)="onClickCheckBoxTable('requestList', 0, true)"
                                            [checked]="fasle">
                                        <span></span>
                                    </label></td>
                                <td> 1</td>
                                <td style="text-align: center;">
                                    <img src="https://f.ptcdn.info/180/036/000/1444207414-118720831j-o.jpg" alt=""
                                        style="width: 40px;height: 40px;">
                                </td>
                                <td>14000001</td>
                                <td>10/10/2560</td>
                                <td>11/09/2562</td>
                                <td>3010</td>
                                <td> 03/53</td>
                                <td>1</td>
                                <td>นายชัญชาญ หารกล้า</td>
                                <td>
                                </td>
                                <td>
                                    <div class="tag">
                                        รอดำเนินการ
                                    </div>
                                </td>

                                <td> <button class="btn btn-icon btn-brand">
                                        <i class="dip-icon-search"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="kt-portlet__footer">
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                    <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2 m-b-5">
                <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
                    รายการ</label>
            </div>
            <div class="col-md-4">
            </div>

        </div>


    </div>
</div>