:host {
  font-family: "Noto Sans Thai", "Noto Sans";
}

:host .save-01-process-user-form .kt-portlet__head {
  justify-content: flex-end;
}

:host .save-01-process-user-form .kt-portlet__head .btn {
  margin-left: 15px;
}

:host .save-01-process-user-form .kt-portlet__body .kt-portlet__body__inner {
  align-items: flex-start;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form {
  flex: 1 1 auto;
  padding-right: 100px;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group {
  max-width: 50%;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group .kt-radio-inline {
  width: 100%;
  justify-content: space-around;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group .input-wrapper {
  flex: 1 1 auto;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group .input-wrapper .input {
  width: 100%;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group .input-wrapper select {
  width: 100%;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group.fluid {
  max-width: 100%;
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group.with-checkbox .input-wrapper .input-wrapper-row .input {
  max-width: calc((100% - 185px)/2);
}

:host .save-01-process-user-form .kt-portlet__body .owner-create-form .form-row > .form-group.with-checkbox .input-wrapper .input-wrapper-row .kt-checkbox {
  margin-left: 25px;
}

:host .save-01-process-user-form .kt-portlet__body .copy-address-wrapper {
  flex: 0 0 570px;
  max-width: 570px;
  background-color: #F4F5F8;
  border-radius: 10px;
  padding: 25px 37px;
}

:host .save-01-process-user-form .kt-portlet__body .copy-address-wrapper .header {
  color: #0C84C8;
  font-size: 20px;
  font-family: "Noto Sans Thai", "Noto Sans";
  font-weight: 500;
  margin-bottom: 24px;
}

:host .save-01-process-user-form .kt-portlet__body .copy-address-wrapper .col-form-label {
  text-align: left;
  justify-content: flex-start;
  min-width: auto;
  flex: 0 0 140px;
}

:host .save-01-process-user-form .kt-portlet__body .copy-address-wrapper .input-wrapper-row .input {
  flex: 1 1 auto;
}

:host .save-01-process-user-form .kt-portlet__body .copy-address-wrapper .input-wrapper-row .btn {
  margin-left: 15px;
}

:host .save-01-process-user-form .kt-portlet__footer {
  justify-content: flex-start;
  padding-left: 210px;
}

:host .save-01-process-user-form .kt-portlet__footer .btn {
  margin-right: 15px;
}
