<!-- pagination -->
<div class="kt-pagination  kt-pagination--brand">
  <div class="page-nav">
    <div class="has-text-centered">
      <pagination-controls
        id="{{pagin.id}}"
        class="kt-pagination__links"
        maxSize="7"
        previousLabel=""
        nextLabel=""
        (pageChange)="_onChangePage($event)"
      >
      </pagination-controls>
    </div>

    <div class="goto-page">
      <div class="form-group flex">
        <label class="col-form-label">
          ไปที่หน้า
        </label>

        <input
          class="form-control input"
          type="number"
          min="1"
          max="{{ getMaxPage() }}"
          (input)="_onChangePage($event.target.value)"
        />
      </div>
    </div>
  </div>

  <div class="kt-pagination__toolbar">
    <select
      class="form-control kt-font-brand"
      (change)="_onChangePerPage($event.target.value)"
      [(ngModel)]="pagin.itemsPerPage"
    >
      <option *ngFor="let perPage of perPageList" [value]="perPage">
        {{ perPage }}
      </option>
    </select>
    <span class="pagination__desc">
      หน้าที่ {{ pagin.currentPage }} / {{ getMaxPage() }} รายการที่
      {{ pagin.itemsPerPage * pagin.currentPage - pagin.itemsPerPage + 1 }}
      -
      {{
        pagin.itemsPerPage * pagin.currentPage >= pagin.totalItems
          ? pagin.totalItems
          : pagin.itemsPerPage * pagin.currentPage
      }}
      / {{ pagin.totalItems }}
    </span>
  </div>
</div>
