<div class="kt-portlet save-07-process-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
        <input type="checkbox"
               (ngModel)="input.is_save_past"
               [checked]="input.is_save_past"
               (click)="oneWayDataBinding('is_save_past', $event.target.checked)" /> บันทึกย้อนหลัง
        <span></span>
      </label><label class="col-form-label">

      </label>
      <div class="input-wrapper">
        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input type="checkbox"
                 (ngModel)="input.is_split_request"
                 [checked]="input.is_split_request"
                 (click)="oneWayDataBinding('is_split_request', $event.target.checked)" /> แตกคำขอ
          <span></span>
        </label>
        <div class="feedback-wrapper">
          <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
               *ngIf="isSubmited">
            Success! You've done it.
          </div>
        </div>
      </div>
      <button type="button"
              class="btn btn-create-new"
              (click)="onClickReset()">
        <i class="dip-icon-add-new"></i>
        เพิ่มข้อมูลใหม่
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <div class="form-group flex input-with-icon">
                <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="เลขที่คำขอ"
                       [(ngModel)]="input[key_request_number.id]" [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
                       (input)="clearValidate(key_request_number.id)" (blur)="autocompleteBlurListNotSent()"
                       (keydown)="autocompleteKeyDown($event)"
                       (ngModelChange)="autocompleteChangeListNotSent(input, 'request_number')" autocomplete="off" />
                <button class="btn btn-input-search btn-icon" type="button">
                  <i class="dip-icon-search"></i>
                </button>
              </div>

              <div class="div_autocomplete" *ngIf="is_autocomplete_ListNotSent_show">
                <table>
                  <tr>
                    <td>เลขที่คำขอ</td>
                    <td>ลำดับ</td>
                    <td>วันที่ยื่นคำร้อง</td>
                    <td>ค่าธรรมเนียม</td>
                  </tr>
                  <tr *ngFor="let autocomplete of autocompleteListListNotSent"
                      (click)="autocompleteChooseListNotSent(autocomplete)">
                    <td>{{autocomplete.request_number}}</td>
                    <td>{{autocomplete.request_index}}</td>
                    <td>{{autocomplete.make_date_text}}</td>
                    <td>{{autocomplete.total_price}}</td>
                  </tr>
                </table>

              </div>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>
          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_registration_number.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_registration_number.id]" class="invalid-feedback">
                  {{validate[key_registration_number.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="make_date">วันที่ยื่นคำร้อง*</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_make_date id="make_date" class="form-control input" matInput
                         [matDatepicker]="picker_make_date" (click)="picker_make_date.open()"
                         [(ngModel)]="input[key_make_date.id]" (dateChange)="clearValidate(key_make_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="make_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_make_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_make_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_make_date.id]" class="invalid-feedback">
                  {{validate[key_make_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number_from">แตกคำขอจาก</label>
            <div class="input-wrapper">
              <input #key_request_number_from class="form-control input" type="text" id="request_number_from" placeholder="แตกคำขอจาก"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_number_from.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number_from.id]" class="invalid-feedback">
                  {{validate[key_request_number_from.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_index">ลำดับที่คำร้อง</label>
            <div class="input-wrapper">
              <input #key_request_index class="form-control input" type="text" id="request_index" placeholder="ลำดับที่คำร้อง"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_index.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_index.id]" class="invalid-feedback">
                  {{validate[key_request_index.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date_text">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper">
              <input #key_request_date_text class="form-control input" type="text" id="request_date_text" placeholder="วันที่ยื่นคำขอ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_date_text.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date_text.id]" class="invalid-feedback">
                  {{validate[key_request_date_text.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="total_price">ค่าธรรมเนียม</label>
            <div class="input-wrapper">
              <input #key_total_price class="form-control input" type="text" id="total_price" placeholder="ค่าธรรมเนียม"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_total_price.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_total_price.id]" class="invalid-feedback">
                  {{validate[key_total_price.id]}}
                </div>
              </div>
            </div>
            <span>บาท</span>

          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="fee">ค่าธรรมเนียม</label>
            <div class="input-wrapper">
              <input #key_fee class="form-control input" type="text" id="fee" placeholder="ค่าปรับ"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_fee.id]"
                     autocomplete="off" disabled="disabled" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_fee.id]" class="invalid-feedback">
                  {{validate[key_fee.id]}}
                </div>
              </div>
            </div>
            <span>บาท</span>

          </div>
        </div><div class="kt-portlet__body__inner save-07-processer">
          <div class="form-group flex">
            <label class="col-form-label" for="irn_number">หมายเลข IRN</label>
            <div class="input-wrapper">
              <input #key_irn_number class="form-control input" type="text" id="irn_number" placeholder="หมายเลข IRN"
                     [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_irn_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_irn_number.id]" class="invalid-feedback">
                  {{validate[key_irn_number.id]}}
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-brand" (click)="onClickSave07Madrid()">
              ข้อมูล Madrid
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <!--<button type="button"
              class="btn btn-danger"
              (click)="onClickSave07Delete()">
        <i class="dip-icon-trash"></i>ลบข้อมูล
      </button>-->
      <button type="button"
              class="btn btn-outline-brand"
              (click)="onClickSave07DocumentView()">
        <i class="dip-icon-add-new"></i>
        ดูเอกสารสแกน
      </button>
      <button type="button"
              class="btn btn-brand"
              (click)="onClickSave07Save()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-save"></i>
        บันทึก
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClickSave07Send()"
              *ngIf="input.save_status_code != 'SENT'">
        <i class="dip-icon-forward"></i>
        ส่งต่อ
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickSave070RequestBack()"
              *ngIf="input.save_status_code == 'SENT'">
        <i class="dip-icon-forward"></i>
        ดึงงาน
      </button>
    </div>
  </div>
</div>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'เจ้าของ'" style="position: relative; display: block;">
    <div class="kt-portlet save-07-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางเจ้าของTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_2">
          <div class="table-inner">
            <div class="tr header">
              <div class="td card_type_name">ประเภทบุคคล</div><div class="td card_number">เลขที่บัตร</div><div class="td name">ชื่อเจ้าของ</div><div class="td house_number">ที่อยู่</div><div class="td telephone">โทรศัพท์</div>
            </div>
            <div class="tr" *ngFor="let row_item of listPeople01 | myfilter | paginate: paginatePeople01; index as i">
              <div class="td card_type_name">{{row_item.card_type_name}}</div>
              <div class="td card_number">{{row_item.card_number}}</div>
              <div class="td name">{{row_item.name}}</div>
              <div class="td house_number">{{row_item.house_number}}</div>
              <div class="td telephone">{{row_item.telephone}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginatePeople01')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginatePeople01')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginatePeople01')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginatePeople01')">
              <option *ngFor="let perPage of perPagePeople01" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginatePeople01.itemsPerPage}} of {{paginatePeople01.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'รายการสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-07-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางรายการสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_3">
          <div class="table-inner">
            <div class="tr header">
              <div class="td index">#</div><div class="td request_item_sub_type_1_code">จำพวกสินค้า</div><div class="td description">รายการสินค้า</div>
            </div>
            <div class="tr" *ngFor="let row_item of listProduct01 | myfilter | paginate: paginateProduct01; index as i">
              <div class="td index">{{row_item.index}}</div>
              <div class="td request_item_sub_type_1_code">{{row_item.request_item_sub_type_1_code}}</div>
              <div class="td description">{{row_item.description}}</div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateProduct01')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateProduct01')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateProduct01')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateProduct01')">
              <option *ngFor="let perPage of perPageProduct01" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateProduct01.itemsPerPage}} of {{paginateProduct01.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
</app-tabs>

<app-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'"
          *ngIf="input.id && input.id != ''">
  <app-tab [title]="'รายการสินค้า'" style="position: relative; display: block;">
    <div class="kt-portlet save-07-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            ตารางรายการสินค้าTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <div class="kt-portlet__body">
        <div class="table table_5">
          <div class="table-inner">
            <div class="tr header">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataCheckboxAllBinding(listProduct, $event.target.checked)" /><span></span></label></div><div class="td index">#</div><div class="td request_item_sub_type_1_code">จำพวกสินค้า</div>
              <!-- <div class="td request_item_sub_type_2_code">จำพวกสินค้าที่รับรอง/ร่วมใช้</div>-->
              <div class="td description">รายการสินค้า</div><div class="td delete">ลบ</div>
            </div>
            <div class="tr" *ngFor="let row_item of listProduct | myfilter | paginate: paginateProduct; index as i">
              <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
              <div class="td index">{{row_item.index}}</div>
              <div class="td request_item_sub_type_1_code">
                <div class="form-group flex <!--input-with-search-->">
                  <input class="form-control input" id="{{row_item.request_item_sub_type_1_code}}"
                         type="text" placeholder="จำพวกสินค้า" (change)="oneWayDataBinding('request_item_sub_type_1_code', $event.target.value, row_item)" [value]="row_item.request_item_sub_type_1_code">
                  <!--<button class="btn btn-input-search btn-icon" type="button">
               <i class="dip-icon-search"></i>
      </button>-->
                </div>
              </div>
              <!--<div class="td request_item_sub_type_2_code"><div class="form-group flex input-with-search"><input class="form-control input" id="{{row_item.request_item_sub_type_2_code}}" type="text" placeholder="จำพวกสินค้าที่รับรอง/ร่วมใช้" (change)="oneWayDataBinding('request_item_sub_type_2_code', $event.target.value, row_item)" [value]="row_item.request_item_sub_type_2_code"><button class="btn btn-input-search btn-icon" type="button"><i class="dip-icon-search"></i></button></div></div>-->

              <div class="td description">
                <div class="form-group flex input">
                  <input class="form-control input"
                         *ngIf="product_select != row_item"
                         [(ngModel)]="row_item.description"
                         type="text"
                         placeholder="รายการสินค้า/บริการ"
                         (click)="onClickProductSelect(row_item)" />

                  <textarea class="form-control input"
                            *ngIf="product_select == row_item"
                            rows="5"
                            [(ngModel)]="row_item.description"
                            (clickOutside)="onClickProductSelect(row_item, false)">
                </textarea>
                </div>
              </div>

              <div class="td delete"><i class="dip-icon-trash" (click)="onClickSave07ProductDelete(row_item)"></i></div>


            </div>
          </div>
        </div>
      </div>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;">
        <button type="button"
                class="btn btn-orange btn-icon"
                (click)="onClickProductClone(this.listProduct, 'paginateProduct')">
          <i class="dip-icon-duplicate"></i>
        </button>
        <button type="button"
                class="btn btn-create-new btn-icon"
                (click)="onClickSave07ProductAdd()">
          <i class="dip-icon-add-new"></i>

        </button><button type="button"
                         class="btn btn-danger btn-icon"
                         (click)="onClickSave07ProductDelete()">
          <i class="dip-icon-trash"></i>
        </button>
      </div>
      <div class="kt-portlet__footer ">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls (pageChange)="onChangePage($event, 'paginateProduct')"></pagination-controls>
            </div>

            <div class="goto-page">
              <div class="form-group flex">
                <label class="col-form-label">
                  ไปที่หน้า
                </label>

                <input #key_page_input class="form-control input" type="number" min="1"
                       max="{{getMaxPage('paginateProduct')}}" id="page_input" [(ngModel)]="input[key_page_input.id]"
                       (ngModelChange)="onChangePage($event, 'paginateProduct')" />
              </div>
            </div>
          </div>

          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateProduct')">
              <option *ngFor="let perPage of perPageProduct" [value]="perPage"> {{perPage}} </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateProduct.itemsPerPage}} of {{paginateProduct.totalItems}} records
            </span>
          </div>
        </div>
      </div>
    </div>

  </app-tab>
  <app-tab [title]="'สถานที่ติดต่อ'" style="position: relative; display: block;">
    <div class="kt-portlet save-07-process-job">
      <div class="kt-portlet__head hide">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            สถานที่ติดต่อTab
          </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
      </div>

      <app-address [params]="[contactAddress, master]"></app-address>

      <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
      <div class="kt-portlet__footer hide">

      </div>
    </div>

  </app-tab>
</app-tabs>

<app-modal [className]="[
    'fade',
    this.modal.isModalPeopleEditOpen ? 'show' : undefined
  ]"
           [title]="'แก้ไขสถานที่'"
           [modalSize]="'lg'"
           [modalVerticalCenter]="true"
           (onClickClose)="toggleModal('isModalPeopleEditOpen')">

  <div body-children
       class="flex align-items-start">
    <div class="main-form-wrapp er">

      <div class="kt-portlet save-07-process-job">
        <div class="kt-portlet__body">
          <div class="form-row">
            <div class="form-column">
              <div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ลำดับ
                  </label>

                  <div class="input-wrapper">
                    <input #key_index class="form-control input" type="text"
                           placeholder="ลำดับ"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.index"
                           autocomplete="off" disabled="disabled" />
                    <div class="feedback-wrapper">
                      <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                        {{validate[key_index.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    สถานที่ส่ง
                  </label>
                  <div class="input-wrapper">
                    <select class="form-control"
                            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                            [(ngModel)]="inputModalAddress.address_type_code">
                      <option *ngFor="let item of master.addressTypeCodeList"
                              [value]="item.code">
                        {{item.name}}
                      </option>
                    </select>

                    <div class="feedback-wrapper">
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ประเภทบัตร
                  </label>
                  <div class="input-wrapper">
                    <select #key_card_type_code
                            class="form-control"
                            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                            [(ngModel)]="inputModalAddress.card_type_code">
                      <option *ngFor="let item of master.addressCardTypeCodeList"
                              [value]="item.code">
                        {{item.name}}
                      </option>
                    </select>

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_card_type_code.id]"
                           class="invalid-feedback">
                        {{validate[key_card_type_code.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ประเภทบุคคล
                  </label>
                  <div class="input-wrapper">
                    <select #key_receiver_type_code
                            class="form-control"
                            [(ngModel)]="inputModalAddress.receiver_type_code"
                            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null">
                      <option *ngFor="let item of master.addressReceiverTypeCodeList"
                              [value]="item.code">
                        {{item.name}}
                      </option>
                    </select>

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_receiver_type_code.id]"
                           class="invalid-feedback">
                        {{validate[key_receiver_type_code.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ชื่อ *
                  </label>
                  <div class="input-wrapper">
                    <input #key_name class="form-control input"
                           placeholder="ชื่อ"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.name"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_name.id]" class="invalid-feedback">
                        {{validate[key_name.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ที่อยู่ *
                  </label>
                  <div class="input-wrapper">
                    <input class="form-control input"
                           type="text"
                           placeholder="ที่อยู่"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.house_number"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ตำบล *
                  </label>
                  <div class="input-wrapper">
                    <div class="form-group flex input-with-icon">
                      <input class="form-control input" type="text"
                             #key_address_sub_district_name
                             [(ngModel)]="inputModalAddress.address_sub_district_name"
                             placeholder="ตำบล *"
                             (blur)="autocompleteBlurListModalLocation()"
                             (ngModelChange)="autocompleteChangeListModalLocation(inputModalAddress, 'address_sub_district_name')"
                             autocomplete="off" />
                      <button class="btn btn-input-search btn-icon" type="button">
                        <i class="dip-icon-search"></i>
                      </button>
                    </div>

                    <div class="div_autocomplete" *ngIf="is_autocomplete_ListModalLocation_show">
                      <table>
                        <tr *ngFor="let autocomplete of autocompleteListListModalLocation"
                            (click)="autocompleteChooseListModalLocation(autocomplete)">
                          <td>{{autocomplete.name}}</td>
                          <td>{{autocomplete.district_name}}</td>
                          <td>{{autocomplete.province_name}}</td>
                          <td>{{autocomplete.country_name}}</td>
                        </tr>
                      </table>

                    </div>

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_address_sub_district_name.id]" class="invalid-feedback">
                        {{validate[key_address_sub_district_name.id]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    รหัสไปรษณีย์ *
                  </label>
                  <div class="input-wrapper">
                    <input #key_postal_code
                           class="form-control input"
                           type="text"
                           placeholder="รหัสไปรษณีย์"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.postal_code"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_postal_code.id]" class="invalid-feedback">
                        {{validate[key_postal_code.id]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    ประเทศ *
                  </label>

                  <div class="input-wrapper">
                    <input #key_address_country_code
                           class="form-control input" type="text"
                           placeholder="ประเทศ"
                           [(ngModel)]="inputModalAddress.address_country_name"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           autocomplete="off" disabled="disabled" />
                    <div class="feedback-wrapper">
                      <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                        {{validate[key_address_country_code.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    โทรศัพท์ *
                  </label>
                  <div class="input-wrapper">
                    <input #key_telephone class="form-control input"
                           type="text"
                           [(ngModel)]="inputModalAddress.telephone"
                           placeholder="โทรศัพท์"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_telephone.id]" class="invalid-feedback">
                        {{validate[key_telephone.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    E-mail
                  </label>
                  <div class="input-wrapper">
                    <input #key_email class="form-control input"
                           type="text"
                           placeholder="E-mail"
                           [(ngModel)]="inputModalAddress.email"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_email.id]" class="invalid-feedback">
                        {{validate[key_email.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div><div class="form-column">
              <div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    เลขที่บัตร *
                  </label>
                  <div class="input-wrapper">
                    <input #key_card_number class="form-control input"
                           type="text"
                           placeholder="เลขที่บัตร"
                           [(ngModel)]="inputModalAddress.card_number"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_card_number.id]" class="invalid-feedback">
                        {{validate[key_card_number.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    เพศ
                  </label>

                  <div class="input-wrapper">
                    <div class="kt-radio-inline select-item">
                      <label *ngFor="let item of master.addressSexCodeList"
                             class="kt-radio kt-radio--bold kt-radio--brand">
                        <input name="inputModalAddress_sex_code"
                               type="radio"
                               [checked]="item.code === inputModalAddress.sex_code"
                               (click)="oneWayDataBinding('sex_code', item.code, inputModalAddress)"> {{item.name}}
                        <span></span>
                      </label>
                    </div>
                    <div class="feedback-wrapper">
                      <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                        Success! You've done it.
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    อำเภอ *
                  </label>

                  <div class="input-wrapper">
                    <input #key_address_district_code
                           class="form-control input" type="text"
                           placeholder="อำเภอ"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.address_district_name"
                           autocomplete="off" disabled="disabled" />
                    <div class="feedback-wrapper">
                      <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                        {{validate[key_address_district_name.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    จังหวัด *
                  </label>

                  <div class="input-wrapper">
                    <input #key_address_province_name class="form-control input" type="text"
                           placeholder="จังหวัด"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           [(ngModel)]="inputModalAddress.address_province_name"
                           autocomplete="off" disabled="disabled" />
                    <div class="feedback-wrapper">
                      <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                        {{validate[key_address_province_name.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div><div class="kt-portlet__body__inner save-07-processer">
                <div class="form-group flex">
                  <label class="col-form-label">
                    Fax
                  </label>
                  <div class="input-wrapper">
                    <input #key_fax class="form-control input" type="text"
                           [(ngModel)]="inputModalAddress.fax"
                           placeholder="Fax"
                           [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                           autocomplete="off" />

                    <div class="feedback-wrapper">
                      <div *ngIf="validate[key_fax.id]" class="invalid-feedback">
                        {{validate[key_fax.id]}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div footer-children
       class="flex btn-group-wrapper">
    <button type="button"
            class="btn btn-secondary"
            (click)="onClickSave07ModalAddressSave()">
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>

</app-modal>
