:host .owner-and-agent {
  height: 100%;
  padding: 5px 5px 45px;
}

:host .owner-and-agent .inner-wrapper {
  max-height: 100%;
  overflow-y: auto;
  padding: 40px 20px;
}

:host .owner-and-agent .inner-wrapper .form-group .col-form-label {
  color: white;
}

:host .owner-and-agent .inner-wrapper .form-group select.form-control {
  max-width: 195px;
}

:host .owner-and-agent .inner-wrapper .owner-row {
  padding-bottom: 25px;
}

:host .owner-and-agent .inner-wrapper .card {
  background-color: white;
  width: 300px;
  height: 336px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  font-size: 16px;
  color: #707070;
  margin-right: 20px;
  border-radius: 0;
}

:host .owner-and-agent .inner-wrapper .card .name {
  font-size: 20px;
  font-weight: 500;
}

:host .owner-and-agent .inner-wrapper .card .address {
  margin-top: 29px;
}

:host .owner-and-agent .inner-wrapper .card .mobile {
  margin-top: 29px;
}

:host .owner-and-agent .inner-wrapper .card .operators {
  margin-top: 43px;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn {
  width: 50px;
  height: 50px;
  margin: 0 6px;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.edit {
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.edit i {
  color: #0C84C8;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.edit:hover {
  background-color: #C1E6FF;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.edit:active {
  background-color: #C1E6FF;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.edit:focus {
  background-color: #C1E6FF;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.delete {
  border: 1px solid #FDCCCC;
  background-color: #FAE6E6;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.delete i {
  color: #C31D1D;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.delete:hover {
  background-color: #FFBEBE;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.delete:focus {
  background-color: #FFBEBE;
}

:host .owner-and-agent .inner-wrapper .card .operators .btn.delete:active {
  background-color: #FFBEBE;
}

:host .owner-and-agent .inner-wrapper .card.add-more {
  cursor: pointer;
}

:host .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper {
  width: 107px;
  height: 107px;
  border-radius: 50%;
  border: 1px solid #CCEBFD;
  background-color: #E6F2FA;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .owner-and-agent .inner-wrapper .card.add-more .icon-wrapper i {
  font-size: 28px;
  color: #0C84C8;
}

:host .owner-and-agent .inner-wrapper .card.add-more .caption {
  font-size: 30px;
  color: #0C84C8;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
}

:host .owner-and-agent .inner-wrapper .card.add-more .caption .note {
  font-size: 20px;
}

:host .owner-and-agent .inner-wrapper .card.add-more .caption.required {
  position: relative;
}

:host .owner-and-agent .inner-wrapper .card.add-more .caption.required:after {
  content: '*';
  display: flex;
  position: absolute;
  bottom: 0;
  right: -20px;
}

:host .owner-and-agent .inner-wrapper .card.add-more:hover {
  box-shadow: 0 0 20px 1px rgba(57, 0, 149, 0.63);
}

:host ::ng-deep .modal.owner-form .modal-body {
  padding: 1.25rem 55px;
}

:host ::ng-deep .modal.owner-form .form-row {
  justify-content: space-between;
}

:host ::ng-deep .modal.owner-form .form-row .form-group {
  flex: 0 0 49%;
  max-width: 49%;
}

:host ::ng-deep .modal.owner-form .form-row .form-group .input {
  width: 100%;
}

:host ::ng-deep .modal.owner-form .modal-footer {
  justify-content: center;
}

:host ::ng-deep .modal.owner-form .modal-footer .btn-group-wrapper .btn {
  margin-left: 0;
}
