<div class="owner-and-agent">
  <div class="inner-wrapper">

    <div class="form-group flex requester">
      <label class="col-form-label">
        ผู้ยืนคำขอ
      </label>
      <div class="input-wrapper">
        <select class="form-control">
          <option value="1">เจ้าของ</option>
          <option value="0">ไม่เลือก</option>
        </select>

        <div class="feedback-wrapper">
          <div
            [ngClass]="!fasle ? 'valid-feedback' : 'invalid-feedback'"
            *ngIf="fasle"
          >
            error
          </div>
        </div>
      </div>
    </div>

    <div class="owner-row flex">
      <div
        class="add-more card"
        (click)="toggleModal('isModalOwnerFormOpen')"
      >
        <div class="icon-wrapper">
          <i class="dip-icon-add-new"></i>
        </div>

        <div class="caption required">
          เพิ่มเจ้าของ <br />
          เครื่องหมาย
        </div>
      </div>

      <div class="card">
        <div class="name">
          นายอนุชา จิตร์สุภาพ
        </div>

        <div class="address">
          11000 บ้านพัก ตำบลหนองหมี
          อำเภอราษีไศล จังหวัดศรีสะเกษ
        </div>

        <div class="mobile">
          0875416508
        </div>

        <div class="operators">
          <button
            class="btn btn-icon round edit"
            (click)="toggleModal('isModalOwnerFormOpen')"
          >
            <i class="dip-icon-edit"></i>
          </button>

          <button class="btn btn-icon round delete">
            <i class="dip-icon-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="owner-row flex">
      <div
        class="add-more card"
        (click)="toggleModal('isModalOwnerFormOpen')"
      >
        <div class="icon-wrapper">
          <i class="dip-icon-add-new"></i>
        </div>

        <div class="caption">
          เพิ่มตัวแทน <br />
          เครื่องหมาย <span class="note">(ถ้ามี)</span>
        </div>
      </div>

      <div class="card">
        <div class="name">
          นายอนุชา จิตร์สุภาพ
        </div>

        <div class="address">
          11000 บ้านพัก ตำบลหนองหมี
          อำเภอราษีไศล จังหวัดศรีสะเกษ
        </div>

        <div class="mobile">
          0875416508
        </div>

        <div class="operators">
          <button
            class="btn btn-icon round edit"
            (click)="toggleModal('isModalOwnerFormOpen')"
          >
            <i class="dip-icon-edit"></i>
          </button>

          <button class="btn btn-icon round delete">
            <i class="dip-icon-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  [className]="[
    'fade owner-form',
    this.modal.isModalOwnerFormOpen ? 'show' : undefined
  ]"
  [title]="'บันทึกข้อมูลเจ้าของเครื่องหมาย'"
  [modalSize]="'lg'"
  [modalVerticalCenter]="true"
  [hideCloseCross]="true"
  (onClickClose)="toggleModal('isModalOwnerFormOpen')"
>
  <div
    body-children
    class="flex flex-wrap"
  >
    <div class="form-row">
      <div class="form-group">
        <label
          class="col-form-label"
          for="personalType"
        >
          ประเภทบุคคล<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            id="personalType"
            class="form-control"
          >
            <option value="1">บุคคลธรรมดา</option>
          </select>
          <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label
          class="col-form-label"
          for="citizen_id"
        >
          เลขประจำตัวประชาชน<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            id="citizen_id"
            placeholder="เลขประจำตัวประชาชน"
            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
          />

          <div class="feedback-wrapper">
            <div
              *ngIf="fasle"
              class="invalid-feedback"
            >
              Message Feedback
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label
          class="col-form-label"
          for="fullname"
        >
          กรุณาระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            id="fullname"
            placeholder="กรุณาระบุคำนำหน้าชื่อ พร้อมชื่อ-สกุล เป็นภาษาไทย"
            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
          />

          <div class="feedback-wrapper">
            <div
              *ngIf="fasle"
              class="invalid-feedback"
            >
              Message Feedback
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label
          class="col-form-label"
          for="nationality"
        >
          สัญชาติ<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            id="nationality"
            class="form-control"
          >
            <option value="1">ไทย</option>
          </select>
          <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label
          class="col-form-label"
          for="job"
        >
          ประเภทบุคคล<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <select
            id="job"
            class="form-control"
          >
            <option value="1">อาชีพ</option>
          </select>
          <div class="feedback-wrapper">
            <div
              [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
              *ngIf="isSubmited"
            >
              Success! You've done it.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label
          class="col-form-label"
          for="address_number"
        >
          ที่อยู่<span class="required">*</span>
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            id="address_number"
            placeholder="ระบุเลขที่อยู่"
            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
          />

          <div class="feedback-wrapper">
            <div
              *ngIf="fasle"
              class="invalid-feedback"
            >
              Message Feedback
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label
          class="col-form-label"
          for="village_number"
        >
          หมู่ที่
        </label>

        <div class="input-wrapper">
          <input
            class="form-control input"
            type="text"
            id="village_number"
            placeholder="ระบุเลขที่หมู่บ้าน"
            [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
          />

          <div class="feedback-wrapper">
            <div
              *ngIf="fasle"
              class="invalid-feedback"
            >
              Message Feedback
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Footer Children -->
  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalOwnerFormOpen')"
    >
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="toggleModal('isModalOwnerFormOpen')"
    >
      <i class="dip-icon-save"></i>
      บันทึก
    </button>
  </div>
</app-modal>
