:host {
    .div_autocomplete {
      color: #6D6E71;
      position: absolute;
      background: #fff;
      border: 1px solid #e2e5ec;
      margin-top: 4px;
      border-radius: 4px;
      box-shadow: 10px 10px 18px 0px #e2e5ec;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-size: 16px;
      font-family: "Noto Sans Thai", "Noto Sans";
      font-weight: 400;
      z-index: 1;
  
      & > div {
        padding: 0 24px;
        line-height: 60px;
  
        &:hover {
          background-color: #F4F5F8;
        }
      }
    }
  
    .cs-fa-color-w { 
      color: white;
    }
  
    .cs-fa-color-o {
      color: #0C84C8;
    }
  
    .cs-btn-circle-sm { 
      width: 25px; 
      height: 25px; 
      padding: 6px 0px; 
      border-radius: 15px; 
      font-size: 15px; 
      text-align: center; 
    } 
  
    .cs-tbody-v-align-mid {
      text-align: center;
    }
  
    .cs-theader-sm {
      width: 4%;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      color: #0C84C8;
    }
  
    .cs-theader-md {
      width: 10%;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      color: #0C84C8;

    }

    .cs-theader-md-top {
      width: 10%;
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      color: #0C84C8;
      min-width: 186px;
      border-right: 1px solid #0c84c8;

    }
  
    .cs-theader-lg {
      width: 15%;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      color: #0C84C8;
    }
    
    .cs-color { 
      &-w{
        color: white;
      }
      &-o{
        color: #0C84C8;
      }
    }
  
    .cs-bg-color {
      &-o-drop{
        background-color: #82B2CF;
      }
    }

    .cs-bg-auto-color {
      &-o-drop{
        background-color: #F1F1F1;
      }
    }
  
  
    .registration-request-job {
      .kt-portlet__body {
        .col-form-label {
          min-width: 100px;
        }
      }
  
      .registration-requester {
        .input {
          width: 375px;
        }
  
        .btn {
          margin-left: 15px;
        }
      }
  
      .registration-request-amount {
        .input {
          width: 125px;
        }
  
        .unit {
          margin-left: 20px;
        }
  
        .kt-checkbox {
          margin-left: 70px;
        }
      }
  
      .kt-portlet__footer {
        // .btn {
        //   margin-left: 185px;
        // }
  
        .total {
          .form-group {
            &.flex {
              align-items: center;
  
              .input-wrapper {
                margin-bottom: 0;
                display: flex;
              }
            }
          }
        }
  
        .form-group {
          margin-bottom: 0;
  
          .input {
            width: 155px;
          }
  
          .unit {
            margin-left: 20px;
          }
  
          .kt-checkbox {
            margin-left: 70px;
          }
        }
      }
    }
  
  
    .registration-request-list {
      .kt-portlet__head-action {
        .btn {
          margin-left: 15px;
        }
      }
  
      .table {
        .table-inner {
          min-width: 1600px;
  
          & > * {
            &:nth-child(2n) {
              background-color: #F4F5F8;
            }
          }
        }
  
        .tr {
          .td {
            color: #626366;
  
            &.select {
              flex: 0 0 40px;
              max-width: 40px;
              justify-content: center;
              text-align: center;
            }
  
            &.id {
              flex: 0 0 40px;
              max-width: 40px;
              justify-content: center;
              text-align: center;
            }
  
            &.category {
              flex: 0 0 200px;
              max-width: 200px;
  
              .input-with-icon {
                width: 100%;
              }
            }
  
            &.income-id {
              flex: 0 0 50px;
              max-width: 50px;
            }
  
            &.money-transaction {
              flex: 1 1 160px;
              max-width: 160px;
            }
  
            &.book_index {
              flex: 0 0 110px;
              max-width: 110px;
              justify-content: center;
              text-align: center;
            }
  
            &.page_index {
              flex: 0 0 110px;
              max-width: 110px;
              justify-content: center;
              text-align: center;
            }
  
            &.request-id {
              flex: 0 0 110px;
              max-width: 110px;
              justify-content: center;
              text-align: center;
            }
  
            &.cm-excess {
              flex: 0 0 70px;
              max-width: 70px;
              justify-content: center;
              text-align: center;
            }
  
            &.genera-amount {
              flex: 0 0 70px;
              max-width: 70px;
              justify-content: center;
              text-align: center;
            }
  
            &.products-amount {
              flex: 0 0 70px;
              max-width: 70px;
              justify-content: center;
              text-align: center;
            }
  
            &.amount {
              flex: 0 0 130px;
              max-width: 130px;
              justify-content: center;
              text-align: center;
            }
  
            &.archetype, .cancel-pay {
              flex: 0 0 80px;
              max-width: 80px;
              justify-content: center;
              text-align: center;
  
              a {
                color: #0C84C8;
                text-decoration: underline;
              }
            }
  
            &.cancel-pay {
              color: rgb(255, 0, 0)
            }
  
            &.main {
              flex: 0 0 80px;
              max-width: 80px;
              justify-content: center;
              text-align: center;
  
              .icon {
                height: 16px;
                width: auto;
              }
            }
  
            &.otop {
              flex: 0 0 80px;
              max-width: 80px;
              justify-content: center;
              text-align: center;
            }
  
            &.reference-id {
              flex: 0 0 110px;
              max-width: 110px;
              justify-content: center;
              text-align: center;
            }
  
            &.cancel {
              flex: 0 0 80px;
              max-width: 80px;
              justify-content: center;
              text-align: center;
            }
  
            &.act-allow {
              flex: 0 0 150px;
              max-width: 150px;
            }
          }
        }
      }
    }
  
    .search-filter-wrapper {
      .form-group {
        max-width: 500px;
      }
  
      .search-result-wrapper {
        .table {
          margin-bottom: 30px;
          margin-top: 20px;
  
          .table-inner {
            .tr {
              .td {
                min-height: 40px;
                padding: 5px 15px;
  
                &.agent-name {
                  flex: 1 1 auto;
                }
  
                &.agent-group {
                  flex: 0 0 120px;
                  max-width: 120px;
                }
              }
  
              &:nth-child(2n) {
                background-color: #F4F5F8;
              }
  
              &.header {
                .td {
                  color: #626366;
                }
              }
            }
          }
        }
      }
    }
  
    .main-form-wrapper {
      flex: 1 1 auto;
      padding-right: 60px;
  
      .select-personal-type {
        padding: 5px 0;
        margin-right: 100px;
  
        .kt-radio-inline {
          justify-content: flex-end;
          position: fixed;
          margin-left: 350px;
        }
  
        .kt-radio {
          margin-left: 30px;
        }
      }
  
      .personal-form {
        display: flex;
        margin-top: 27px;
  
        .personal-form-inner {
          flex: 1 1 auto;
        }
  
        .profile-img {
          flex: 0 0 150px;
          margin-left: 53px;
  
          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
  
          .caption {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
          }
        }
      }
  
      .col-form-label {
        flex: 0 0 170px;
        max-width: 170px;
      }
  
      .form-group {
        .input-wrapper {
          .form-control {
            width: 100%;
          }
        }
  
        &.flex {
          align-items: flex-start;
  
          .col-form-label {
            margin-top: 7px;
            justify-content: flex-end;
          }
        }
      }
    }
  
    .system-info-display {
      display: flex;
      flex-wrap: wrap;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      flex: 0 0 310px;
      padding: 0 20px;
      border-radius: 10px;
      font-weight: normal;
  
      .display {
        display: flex;
        flex-direction: column;
        background-color: #F4F5F8;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
      }
  
      .officer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 25px;
  
        .position {
          font-size: 20px;
          font-weight: 500;
          color: #0C84C8;
          text-align: center;
        }
  
        .name {
          font-size: 16px;
          font-weight: 500;
          color: #626366;
          text-align: center;
        }
      }
  
      .check-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        .check-list {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
  
          .icon {
            height: 16px;
            width: auto;
            margin-right: 13px;
          }
  
          i {
            font-size: 16px;
  
            &.dip-icon-delete-cross {
              color: #C31D1D;
            }
          }
  
          .check {
            color: #6D6E71;
            font-size: 16px;
          }
        }
      }
  
      .message {
        text-align: center;
        font-size: 16px;
        color: #C31D1D;
        margin-top: 22px;
      }
    }
  
    .edit-category-action {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
  
      .form-group {
        flex: 0 0 435px;
        max-width: 435px;
  
        .col-form-label {
          flex: 0 0 100px;
        }
  
        .form-control {
          flex: 1 1 auto;
        }
      }
    }
  
    .summary-wrapper {
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-size: 16px;
      color: #0C84C8;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      border-top: 1px solid #EBEDF2;
      margin-top: 20px;
      width: 100%;
      padding: 15px;
  
      .category-product-summary {
        width: 100%;
        display: flex;
        justify-content: flex-end;
  
        .summary-list {
          margin-left: 50px;
          display: flex;
  
          .caption {
            margin-right: 5px;
          }
        }
      }
  
      .total-amount {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
  
        .form-group {
          justify-content: flex-end;
        }
  
        .input {
          width: 250px;
        }
  
        .col-form-label {
          color: #0C84C8;
          font-size: 20px;
          font-weight: bold;
        }
  
        .unit {
          margin-left: 15px;
          color: #0C84C8;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  
    .sound-wrapper {
      width: 100%;
  
      .form-group {
        .col-form-label {
          flex: 0 0 180px;
          justify-content: flex-end;
          padding-right: 15px;
        }
  
        &.upload {
          .col-form-label {
            font-size: 20px;
            font-weight: 500;
            color: #0C84C8;
          }
        }
      }
    }
  
    .table {
      &.edit-category {
        margin-bottom: 30px;
  
        .tr {
          .td {
            min-height: 50px;
            padding: 5px 15px;
            color: #626366;
  
            .form-group {
              max-width: 130px;
            }
  
            &.order {
              flex: 0 0 65px;
              max-width: 65px;
            }
  
            &.category-id {
              flex: 0 0 275px;
              max-width: 275px;
            }
  
            &.products-amount {
              flex: 0 0 275px;
              max-width: 275px;
            }
  
            &.amount {
              flex: 0 0 275px;
              max-width: 275px;
            }
  
            &.delete-category {
              flex: 1 1 auto;
  
              i {
                color: #C31D1D;
                cursor: pointer;
              }
            }
          }
  
          &:nth-child(2n-1) {
            .td {
              background-color: white;
            }
          }
  
          &:nth-child(2n) {
            .td {
              background-color: #F4F5F8;
            }
          }
        }
      }
    }
  
    ::ng-deep {
      .confirm-delete {
        padding: 0;
  
        .btn-group-wrapper {
          width: 100%;
          justify-content: space-between;
  
          .btn {
            margin: 0 5px;
            flex: 1 1 auto;
          }
        }
      }
    }
  }
  
  .table {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    .td {
      input {
        width: 50%;
      }

      &.edit_delete {
        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .edit_delete {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;
    }

    &.table_2 {
      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .request_number {
        flex: 0 0 195px;
        max-width: 400px;
        justify-content: center;
        text-align: center;
      }

      .total_price {
        flex: 0 0 175px;
        max-width: 175px;
        justify-content: center;
        text-align: center;
      }

      .reference_number {
        flex: 0 0 175px;
        max-width: 175px;
        justify-content: center;
        text-align: center;
      }

      .owner_name {
        flex: 0 0 300px;
        max-width: 300px;
        justify-content: center;
        text-align: center;
      }

      .request_search {
        flex: 0 0 130px;
        max-width: 130px;
        justify-content: center;
        text-align: center;
      }

      .facilitation_act_status_code {
        flex: 0 0 300px;
        max-width: 300px;
        justify-content: center;
        text-align: center;
      }

      .remark {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }
    }

    &.table_3 {
      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .request_type_code {
        flex: 0 0 180px;
        max-width: 180px;
        justify-content: center;
        text-align: center;
      }

      .request_type_description {
        flex: 0 0 410px;
        max-width: 410px;
        justify-content: center;
        text-align: center;
      }

      .item_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .item_sub_type_1_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .product_count {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .total_price {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .fine {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .is_evidence_floor7 {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .product_list_text {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .is_sue_text {
        text-align: left;
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
      }
    }
  }
  
  .kt-portlet-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    .kt-portlet__head {
      .kt-portlet__head-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .kt-portlet__head-label {
        .kt-portlet__head-title {
          color: #0C84C8;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-weight: normal;
          font-size: 20px;
          display: -webkit-box;
          display: flex;
      }

      }
    }
    
    .kt-portlet__body {
      .kt-portlet__body__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
  
      .kt-portlet__body-label {
        .kt-portlet__body-title {
          color: #0C84C8;
          font-family: 'Noto Sans Thai', 'Noto Sans';
          font-weight: 500;
          font-size: 20px;
          display: -webkit-box;
          display: flex;
        }
      }
  
      .col-form-label {
        min-width: 165px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        white-space: normal;
      }
    }
  
    .kt-portlet__footer-list {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-top: 1px solid #ebedf2;
      min-height: 60px;
      width: 100%;
      background-color: #0C84C8;
      opacity: 50%;
  
      .kt-portlet__footer__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
  }
  .kt-portlet__footer {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-top: 1px solid #ebedf2;
    min-height: 60px;
    width: 100%;

    .kt-portlet__footer__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }

    .btn-brand {
      background-color: #0C84C8;
      border-color: #0C84C8;
      color: white;
      min-width: 20%;

      &:hover {
        background-color: #1475AB;
        border-color: #1475AB;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #1475AB !important;
        border-color: #1475AB !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &.align-items-right {
        margin-left: auto;
      }
    }

    .btn-outline-brand {
      color: #c8380c;
      border-color: #0C84C8;

      &:hover {
        background-color: #0C84C8;
        color: white;
        border-color: #F2F3F8;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }

      &:active {
        background-color: #0C84C8 !important;
        color: #C31D1D !important;
        border-color: #F2F3F8 !important;

        .icon {
          -webkit-filter: brightness(100);
          filter: brightness(100);
        }
      }
    }

    .kt-portlet {
      .kt-portlet__head {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        padding: 0 25px;
        border-bottom: 1px solid #ebedf2;
        min-height: 60px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        
      }
      &.registration-other-request-job{
        .kt-portlet__head {
          .kt-portlet__head-action {
          display: -webkit-box;
          -webkit-box-align: center;
          align-items: center;
          margin-right: 71px;
          }
        }
      }
    }

    .cs-datepicker {
      margin-top: 2px;
    }
  
    .cs-input-group-icon {
      font-size: 16px;
      color: #646c9a;
    }
  
    .cs-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #74788d;
      text-align: center;
      white-space: nowrap;
      background-color: #e1e5ec;
      border: 1px solid #e1e5ec;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
      &.body-control {
        height: calc(1.25em + 1rem + 2px);
      }
    }

    .cs-input-group-text-modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: white;
      text-align: center;
      white-space: nowrap;
      background-color: #0C84C8;
      border-color: #0C84C8;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
    }
  
    .cs-color { 
      &-w{
        color: white;
      }

      &-af{
        color: #6D6E71;
      }
  
      &-o{
        color: #0C84C8;
      }
    }

  .table-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
  }

    thead {
      &.bottom-line {
        color: #0c84c8;
        font-size: 16px;
        font-weight: 400;
        min-height: 60px;
        // display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        padding: 0 25px;  
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid #ebedf2;  
      }
      .field-header {
        justify-items: center;
        border-right: 1px solid #0c84c8;
        -webkit-box-align: center;
        align-items: center;
      }
      tr {
        td {
          padding: 0;
          text-align: center;
        }
      }
    }
    tbody {
        tr {
          td {
            justify-content: center;
            &.tbl-body{
              min-width: 100px;
              text-align: center;
              padding-left: 10px;padding-bottom: 10px;
          }
        }
      }
      
    }

  .tbl-body{
    min-width: 186px;
    text-align: center;
  }
  
.body-header {
  color: #0c84c8;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

input.form-control {
  font-size: 16px;
  color: #000000;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;
  padding: 0.5rem 1rem;

  &.control-date {
    height: calc(1.0em + 1rem + 2px);
    max-width: 70%;
  }
  &.control {
    height: calc(1.0em + 1rem + 2px);
    max-width: 80%;
  }
  &.app-name {
    width: 100%;
  }
  
}

input.form-control:disabled {
  color: #9e9e9e;
}



.row {
  &.group {
    margin-left: 200px;
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    
  }
  &.right {
    margin-left: 395px;
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    
  }

  &.search {
    display: flex; 
    // justify-content: center;
  }
}

h3 {
  .search-title {
    color: #0C84C8;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;
    font-size: 20px;
    display: -webkit-box;
    // display: flex;
}

}

.dip-icon-search{
  &.cs-input-group-icon{
    font-size: 16px;
    color: white;
}
  }

.message {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  color: #C31D1D;
  margin-left: 100px;

}

.message-footer {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  color: #C31D1D;
  margin-top: 8px;
  margin-right: 730px;

}

.check {
  color: #FDBA02;
  font-size: 16px;
  font-weight: 400;
}


