<div class="row">
  <div class="col-8">
    <div class="kt-portlet-list registration-request-job">
      <div class="kt-portlet__body">
        <div class="kt-portlet__head-label">
          <table width="800px;">
            <thead class="bottom-line">
              <tr style="height: 58px;">
                <th class="cs-theader-md-top">เลขที่คำขอ</th>
                <th class="cs-theader-md-top">วันที่ยื่นคำขอ</th>
                <th class="cs-theader-md-top">ค่าธรรมเนียม (ก.01)</th>
                <th class="cs-theader-md-top">เลขที่อ้างอิง</th>
                <th class="cs-theader-md-top">เจ้าของ</th>
                <th class="cs-theader-md-top" style="border: none;">ข้อและมาตรา</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listRequest01Item">
                <td class="tbl-body">
                    <input class="form-control control"
                      id="{{row_item.request_number}}"
                      type="text"
                      [(ngModel)]="row_item.request_number"
                      (change)="onChangeSelectRequest01Item(row_item)"
                      (dateChange)="clearValidate(key_payment_date.id)"
                      [attr.disabled]="row_item.is_disabled ? '' : null"
                    >
                </td>
                <td class="tbl-body" style="padding-top: 5px;">
                  <div class="form-group flex">      
                    <div class="input-group">
                      <input type="text" class="form-control control-date"
                        #key_request_date 
                        id="{{row_item.request_date}}" 
                        [(ngModel)]="row_item.request_date" 
                        [matDatepicker]="payment_picker"
                        (click)="payment_picker.open()" 
                        (dateChange)="clearValidate(key_request_date.id)"
                      />
                      <div class="input-group-append">
                        <label class="cs-input-group-text body-control" for="payment_date" >
                          <i class="dip-icon-calendar cs-input-group-icon"></i>
                        </label>
                      </div>
                      <mat-datepicker #payment_picker></mat-datepicker>
                    </div>
                  </div>
                </td>
                <td class="tbl-body">
                  <label for="fee" 
                  #key_total_price
                  *ngIf="row_item.request_number && row_item.request_number != ''"
                  >
                    {{row_item.total_price}}
                  </label>
                </td>
                <td class="tbl-body">
                  <label for="ref_no"
                  #key_reference_number
                  *ngIf="row_item.request_number && row_item.request_number != ''"
                  >
                    {{row_item.reference_number}}
                  </label>
                </td>
                <td class="tbl-body">
                  <label for="owner_name"
                  #key_owner_name
                  *ngIf="row_item.request_number && row_item.request_number != ''"
                  >
                    {{row_item.name}}
                  </label>
                </td>
                <td class="tbl-body">
                  <label for="law_section" #key_law_section>
                    <a href="javascript://" *ngIf="row_item.request_number && row_item.request_number != ''">
                      <i class="fa fa-file-text-o" (click)="onClickRequest01ItemRequestSearch(row_item)"></i>
                    </a>
                    </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="kt-portlet__footer justify-content-center cs-bg-color-o-drop">       
        <div class="total">
          <div class="form-group flex">
            <label class="col-form-label cs-color-w font-med" for="appealTotalAmount">
              รวมทั้งสิ้น
            </label>
            <div class="input-wrapper">
              <div class="input-wrapper-row">
                <input 
                  class="form-control input" 
                  disabled  
                  type="text" 
                  id="appealTotalAmount"
                  [(ngModel)]="TotalAmount"
                  style="text-align: right;" 
                />
                <span class="unit cs-color-w font-med">
                  บาท
                </span>
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand cs-color-w">
                  <input
                    type="checkbox"
                    id="is_wave_fee"
                    [checked]="input.is_wave_fee"
                    (click)="oneWayDataBinding('is_wave_fee', $event.target.checked)"
                  />
                  ยกเว้นค่าธรรมเนียม
                  <span></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__footer">
        <!-- pagination -->
        <div class="kt-pagination  kt-pagination--brand">
          <div class="row">
          <div class="kt-pagination__toolbar">
            
              <select class="form-control kt-font-brand">
                <option ng > 1 </option>
              </select>
              <span class="pagination__desc">
                Displaying 1 of 1 records
              </span>
                <div class="row group">
                  <button
                    class="btn btn-brand mr-4"
                    type="button"
                    (click)="onClickRequestOtherSave()"
                  >
                    <i class="fa fa-floppy-o"></i>
                    บันทึก
                  </button>
                  <button class="btn btn-outline-brand"
                  type="button"
                  (click)="reset()">
                    <i class="fa fa-file-text-o"></i>
                    สร้างรายการใหม่
                  </button>
                  
                </div>
                <div class="row right">
                  <button class="btn btn-brand" type="button">
                    <i class="fa fa-plus"></i>
                    เพิ่ม
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="col-4">
    <div class="kt-portlet registration-request-job">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            หน้าค้นหา
          </h3>
        </div>
      </div>
      <div class="kt-portlet__body">
          <div class="row" >
            <div class="col-2"></div>
            <div class="col-8">
              <form>
                <h3 class="search-title">ระบุเพื่อบันทึกรายการคำขอ</h3>
                <div class="form-group">
                  <label for="complainantName">ผู้ยื่นคำขอ</label>
                  <input #key_requester_name
                  id="requester_name"
                  class="form-control input"
                  type="text"
                  name="requester_name"
                  [(ngModel)]="input[key_requester_name.id]"
                  (input)="onChangeAutocomplete('input', key_requester_name.id)"
                  autocomplete="off" 
                  >
                </div>
                <p class="form-text text-muted">* หากบันทึกแล้ว จะไม่สามารถเปลี่ยนแปลงเลขคำขอได้</p>
                <div class="row search">
                  <div class="col-6">
                    <button class="btn btn-brand"
                    type="button"
                    (click)="toggleModal('isModalAgent')">
                      <i class="fa fa-user-o cs-color-w" aria-hidden="true"></i>
                        เลือกตัวแทน
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-outline-brand"
                    type="button"
                    (click)="toggleModal('isModalAutoFill'); setIndex(i)">
                      <i class="fa fa-id-card"></i>
                      Auto Fill
                    </button>
                  </div>
                </div>
                <div class="form-group flex ">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox"
                    [checked]="input.is_via_post"
                    (click)="oneWayDataBinding('is_via_post', $event.target.checked)" 
                    />
                    ยื่นคำขอทางไปรษณีย์
                    <span></span>
                  </label>
                </div>
              </form>
            </div>
            <div class="col-2"></div>
      </div>
    </div>
    </div>
  
</div>

<!-- End Section 1 -->


<div class="kt-portlet registration-other-request-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <span class="fa fa-table cs-header-icon cs-color-o" aria-hidden="true"></span>
      <h3 class="kt-portlet__head-title">
        ตารางข้อมูลการรับคำขอ ก. อื่นๆ
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <span style="margin-right: 10px;">เลือกรายการที่ต้องการพิมพ์ใบชำระเงิน ครั้งละไม่เกิน 10 รายการ</span>
      <button class="btn btn-brand mr-2" type="button">
        บันทึก
      </button>
      <button class="btn btn-brand mr-2"
              type="button"
              (click)="onClickPrintReceipt()">
        พิมพ์ใบชำระเงิน
      </button>
      <button class="btn btn-outline-brand" type="button">
        <i class="fa fa-close"></i>
        ยกเลิกรายการ
      </button>
    </div>
  </div>

   <div class="kt-portlet__body">
    <div class="table table-striped table-responsive table-bordered">
      <table>
        <thead>
          <tr>
            <th class="cs-theader-sm">ลำดับ</th>
            <th class="cs-theader-md">รหัสรายการ</th>
            <th class="cs-theader-lg">รายการรับเงิน</th>
            <th class="cs-theader-sm">เล่มที่</th>
            <th class="cs-theader-sm">เลขที่</th>
            <th class="cs-theader-sm">เลขคำ ขอใหม่</th>
            <th class="cs-theader-sm">จำนวนจำพวก</th>
            <th class="cs-theader-sm">จำนวนสินค้า</th>
            <th class="cs-theader-md">จำนวนเงิน</th>
            <th class="cs-theader-md">ค่าปรับ</th>
            <th class="cs-theader-sm">หลักฐาน (ชั้น7)</th>
            <th class="cs-theader-md">รายการสินค้า</th>
            <th class="cs-theader-sm">ฟ้องคดี</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of listItem | myfilter | paginate: paginateItem; index as i">
            <td class="cs-tbody-v-align-mid">{{i+1}}</td>
            <td class="cs-tbody-v-align-mid">
              <div class="flex justify-content-between mr-sm-1 ml-sm-1 align-items-center">
                <span></span>
                {{row_item.code}} 
                <span class="fa fa-close ml-sm-4 cs-color-g" 
                  id='csclose' 
                  [attr.hidden]="row_item.name ? null  : ''" 
                  (click)="removeItemIndex(i)">
                </span>
                <button type="button" class="btn btn-brand" (click)="toggleModal('isModalRequest'); setIndex(i)">
                  <span class="dip-icon-search"></span>
                </button>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name}}
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group">
                <input 
                  type="text" 
                  class="form-control cs-width-sm" 
                  autocomplete="off" 
                  [attr.hidden]="row_item.name ? null  : ''"
                />
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group">
                <input 
                  type="text" 
                  class="form-control cs-width-sm" 
                  autocomplete="off" 
                  [attr.hidden]="row_item.name ? null  : ''"
                />
            </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '-' : null}}
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '0' : null}}
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '0' : null}}
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.value_2}}
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '-' : null}}
            </td>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox" [attr.hidden]="row_item.name ? null  : ''">
                <input type="checkbox" 
                (change)="onChangeCheckboxItem(row_item, 'is_evidence_floor7', $event.target.value)"
                [checked]="row_item.is_evidence_floor7">
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '-' : null}}
            </td>
            <td class="cs-tbody-v-align-mid">
              {{row_item.name ? '-' : null}}
            </td>
          </tr>
        </tbody> 
        
      </table>
    </div>
  </div> 


  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand">
          <option > 1 </option>
        </select>
        <span class="pagination__desc">
          Displaying 1 of 1 records
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Auto Fii Modal -->
<app-modal
  [className]="['fade', this.modal.isModalAutoFill ? 'show' : undefined]"
  [title]="'ระบบเติมข้อมูลพื้นฐานอัตโนมัติ'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalAutoFill')"
>

<div
body-children
class="flex align-items-start"
>
<div class="row">
  <div class="kt-portlet-list registration-request-job">
    <div class="kt-portlet__body">
      <div class="kt-portlet__head-label">
      </div>
    </div>
    <div class="kt-portlet__footer justify-content-center cs-bg-auto-color-o-drop">       
      <div class="total">
        <div class="form-group flex">
          <label class="col-form-label cs-color-o font-med" for="appealTotalAmount" style="margin-right: 286px;">
            <i class="fa fa-id-card" style="margin-right: 10px;"></i>
            Auto Fill
          </label>
          <div class="input-wrapper">
            <div class="input-wrapper-row">
              <span class="unit cs-color-af font-med">
                <ng-container *ngIf="!autoFillToken || autoFillToken == ''">
                  <div class="check">
                    ไม่ได้เสียบบัตร
                  </div>
                </ng-container>
              </span>
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand cs-color-af" style="margin-left: 265px;">
                {{auth.getAuth().name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="system-info-display">
    <div class="display">
      <div class="officer-info">
        <div class="position">
          เจ้าหน้าที่
        </div>
        <div class="name">
          {{auth.getAuth().name}}
        </div>
      </div>
  
      <div class="check-lists">
        <div class="check-list">
          <ng-container *ngIf="autoFillToken && autoFillToken != ''">
            <i class="dip-icon-delete-cross"></i>
            <div class="check">
              เรียบร้อย
            </div>
          </ng-container>
          <ng-container *ngIf="!autoFillToken || autoFillToken == ''">
            <i class="dip-icon-delete-cross"></i>
            <div class="check">
              เสียบบัตรประชาชน
            </div>
          </ng-container>
        </div>
        <div class="check-list">
          <ng-container *ngIf="smartCardData.people.connect">
            <div class="check">
              เรียบร้อย
            </div>
          </ng-container>
          <ng-container *ngIf="!smartCardData.people.connect">
            <i class="dip-icon-delete-cross"></i>
            <div class="check">
              เสียบบัตรประชาชน
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="main-form-wrapper">
    <div class="form-group select-personal-type">
      <div class="row">
        <div class="input-wrapper">
          <div class="kt-radio-inline">
            <label class="kt-radio kt-radio--bold kt-radio--brand">
              <input
                name="radioPeople"
                type="radio"
                (click)="binding('requestItem', 'people_code', 'NAT_ID')"
                [checked]="1 === smartCardData.type"
              />
              บุคคลธรรมดา
              <span></span>
            </label>
    
            <label class="kt-radio kt-radio--bold kt-radio--brand">
              <input
                name="radioPeople"
                type="radio"
                (click)="binding('requestItem', 'people_code', 'TAX_ID')"
                [checked]="2 === smartCardData.type"
              />
              นิติบุคคล
              <span></span>
            </label>
            <div
              #key_message_alert
              class="message"
              *ngIf="is_gdx_error"
            >
              ไม่ได้เชื่อมต่อโปรแกรมอ่านบัตร Smart Card
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="personal-form">
          <div class="personal-form-inner">
            <div class="form-group flex">
              <label
                class="col-form-label"
                for="citizenID"
                *ngIf="requestItem.people_code == 'NAT_ID'"
              >
                เลขประจำตัวประชาชน
              </label>
              <label
                class="col-form-label"
                for="citizenID"
                *ngIf="requestItem.people_code == 'TAX_ID'"
              >
                เลขนิติบุคคล
              </label>
      
              <div class="input-group">
                <input
                  #key_id_card
                  class="form-control input"
                  type="text"
                  id="id_card"
                  [(ngModel)]="input[key_id_card.id]"
                  [ngClass]="validate[key_id_card.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.id_card"
                />
                <div class="input-group-append">
                  <label class="cs-input-group-text-modal body-control"
                  for="payment_date"
                  (click)="onClickGDXSearch()"
                  >
                    <i class="dip-icon-search cs-input-group-icon"></i>
                  </label>
                </div>
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_id_card.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_id_card.id] }}
                  </div>
                </div>
              </div>
            </div>
      
            <div class="form-group flex">
              <label
                class="col-form-label"
                for="nameTH"
              >
                ชื่อภาษาไทย
              </label>
      
              <div class="input-wrapper">
                <input
                  #key_name_th
                  class="form-control input"
                  type="text"
                  id="name_th"
                  [(ngModel)]="input[key_name_th.id]"
                  [ngClass]="validate[key_name_th.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.name_th"
                />
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_name_th.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_name_th.id] }}
                  </div>
                </div>
              </div>
            </div>
      
            <div class="form-group flex">
              <label
                class="col-form-label"
                for="nameEN"
              >
                ชื่อภาษาอังกฤษ
              </label>
      
              <div class="input-wrapper">
                <input
                  #key_name_en
                  class="form-control input"
                  type="text"
                  id="name_en"
                  [(ngModel)]="input[key_name_en.id]"
                  [ngClass]="validate[key_name_en.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.name_en"
                />
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_name_en.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_name_en.id] }}
                  </div>
                </div>
              </div>
            </div>
      
            <div
              class="form-group flex"
              *ngIf="requestItem.people_code == 'NAT_ID'"
            >
              <label
                class="col-form-label"
                for="birthDate"
              >
                วันเดือนปีเกิด
              </label>
      
              <div class="input-wrapper">
                <input
                  #key_birthday
                  class="form-control input"
                  type="text"
                  id="birthday"
                  [(ngModel)]="input[key_birthday.id]"
                  [ngClass]="validate[key_birthday.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.birthday"
                />
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_birthday.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_birthday.id] }}
                  </div>
                </div>
              </div>
            </div>
      
            <div
              class="form-group flex"
              *ngIf="requestItem.people_code == 'NAT_ID'"
            >
              <label
                class="col-form-label"
                for="dateIssued"
              >
                วันออกบัตร
              </label>
      
              <div class="input-wrapper">
                <input
                  #key_issue_date
                  class="form-control input"
                  type="text"
                  id="issue_date"
                  [(ngModel)]="input[key_issue_date.id]"
                  [ngClass]="validate[key_issue_date.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.issue_date"
                />
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_issue_date.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_issue_date.id] }}
                  </div>
                </div>
              </div>
            </div>
      
            <div
              class="form-group flex"
              *ngIf="requestItem.people_code == 'NAT_ID'"
            >
              <label
                class="col-form-label"
                for="expireDate"
              >
                วันหมดอายุ
              </label>
      
              <div class="input-wrapper">
                <input
                  #key_expiration_date
                  class="form-control input"
                  type="text"
                  id="expiration_date"
                  [(ngModel)]="input[key_expiration_date.id]"
                  [ngClass]="
                    validate[key_expiration_date.id] ? 'is-invalid' : null
                  "
                  [value]="smartCardData.people.info.expiration_date"
                />
      
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_expiration_date.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_expiration_date.id] }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group flex">
              <label
                class="col-form-label"
                for="expireDate"
              >
                ที่อยู่
              </label>
          
              <div class="input-wrapper">
                <textarea
                  #key_address
                  id="address"
                  class="form-control"
                  rows="3"
                  [(ngModel)]="input[key_address.id]"
                  [ngClass]="validate[key_address.id] ? 'is-invalid' : null"
                  [value]="smartCardData.people.info.address"
                ></textarea>
          
                <div class="feedback-wrapper">
                  <div
                    *ngIf="validate[key_address.id]"
                    class="invalid-feedback"
                  >
                    {{ validate[key_address.id] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!--<div class="profile-img">
            <img [src]="
                smartCardData.people.info.image
                  ? smartCardData.people.info.image
                  : '../../../assets/images/contents/profile-image-default.png'
              "
                alt="profile image"
                class="img" />
      
            <div class="caption">
              รูปถ่าย
            </div>
          </div>-->
        </div>
      </div>
      <div class="col-2"></div>
      
      
    </div>
  
    
  </div>
</div>
</div>

<!-- Custom Footer Children -->
<div
footer-children
class="flex btn-group-wrapper"
>
  <div
    class="message-footer"
  >
    กรุณาเสียบบัตรเจ้าหน้าที่
  </div>
  {{ timeMsg }}
  <button
    type="button"
    class="btn btn-outline-brand"
    (click)="toggleModal('isModalAutoFill')"
  >
    ยกเลิก
  </button>

  <button
    type="button"
    class="btn btn-outline-brand"
    (click)="toggleModal('isModalAutoFill')"
    disabled
  >
    ตกลง
  </button>
</div>

</app-modal> 


<!-- Search Modal -->
<app-modal
  [className]="['fade', this.modal.isModalRequest ? 'show' : undefined]"
  [title]="'ค้นหาข้อมูล'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalRequest')"
>
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="table table-striped table-responsive">
        <div class="form-group flex">        
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="cs-input-group-text-tran"><i class="dip-icon-search cs-color-o"></i></span>
            </div>
            <input 
              type="text" 
              class="form-control" 
              #key_searchRequestType
              id="searchRequestType"
              [(ngModel)]="searchRequestType"
              [ngClass]="validate[key_searchRequestType.id] ? 'is-invalid' : null"
              (input)="clearValidate(key_searchRequestType.id)"
              autocomplete="off"
              (keyup)="filterData(requestTypeList, searchRequestType, 'paginateRequest')"
            />
          </div>
        </div>
        <div class="kt-pagination  kt-pagination--brand mb-3">
          <div class="page-nav">
            <div class="has-text-centered">
              <pagination-controls
                id="paginateRequest"
                (pageChange)="onChangePage($event, 'paginateRequest')"
                previousLabel=""
                nextLabel=""
              ></pagination-controls>
            </div>
            <div class="goto-page">
              <div class="form-group flex">         
                <label class="col-form-label" style="padding-bottom: 0.6rem;">ไปที่หน้า</label>
                <input
                  class="form-control input"
                  type="number"
                  min="1"
                  max="{{ getMaxPage('paginateRequest') }}"
                  (input)="onChangePage($event.target.value, 'paginateRequest')"
                  #key_item_count
                  id="item_count"
                  [(ngModel)]="input[key_item_count.id]"
                  [ngClass]="validate[key_item_count.id] ? 'is-invalid' : null"
                  (input)="clearValidate(key_item_count.id)"
                />
              </div>
            </div>
          </div>    
          <div class="kt-pagination__toolbar">
            <select
              class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginateRequest')"
            >
              <option
                *ngFor="let perPage of perPage"
                [value]="perPage"
              >
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              หน้าที่ 
              {{ paginateRequest.currentPage }} / {{ getMaxPage('paginateRequest') }}
              รายการที่
              {{
                paginateRequest.itemsPerPage * paginateRequest.currentPage - paginateRequest.itemsPerPage + 1
              }}
              -
              {{
                paginateRequest.itemsPerPage * paginateRequest.currentPage >= paginateRequest.totalItems
                ? paginateRequest.totalItems
                : paginateRequest.itemsPerPage * paginateRequest.currentPage
              }}
              / {{ paginateRequest.totalItems }}
            </span>
          </div>
        </div>
        <table>
          <thead class="cs-bg-color-o-drop">
            <tr>
              <th class="cs-theader-sm-o">รหัสรายการ</th>
              <th class="cs-theader-md-o">รายการรับเงิน</th>
              <th class="cs-theader-sm-o">จำนวนเงิน (พรบ. เก่า)</th>
              <th class="cs-theader-sm-o">จำนวนเงิน (พรบ. 2559)</th>
            </tr>
          </thead>
          <tbody class="cs-row-hover">
              <tr *ngFor = "let item of requestTypeItemList" 
                (click)="selectItemRequest(item, i); toggleModal('isModalRequest')"             
              > 
                <td class="cs-tbody-v-align-mid">{{item.code}}</td>
                <td class="cs-tbody-v-align-mid">{{item.name}}</td>
                <td class="cs-tbody-v-align-mid">{{item.value_1}}</td>
                <td class="cs-tbody-v-align-mid">{{item.value_2}}</td>
              </tr>
          </tbody>        
        </table>
      </div>
    </div>
  </div>
</app-modal> 

<!-- Agent Modal -->
<app-modal
  [className]="['fade', this.modal.isModalAgent ? 'show' : undefined]"
  [title]="'ค้นหาข้อมูล'"
  [modalSize]="'lg'"
  (onClickClose)="toggleModal('isModalAgent')"
>
<div body-children class="flex align-items-start">
  <div class="main-form-wrapper" style="padding-right: 0.0px;">
    <div class="table table-striped table-responsive">
      <div class="form-group flex">        
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="cs-input-group-text-tran"><i class="dip-icon-search cs-color-o"></i></span>
          </div>
          <input 
            type="text" 
            class="form-control" 
            #key_searchRepresentative
            id="searchRepresentative"
            [(ngModel)]="searchRepresentative"
            [ngClass]="validate[key_searchRepresentative.id] ? 'is-invalid' : null"
            (input)="clearValidate(key_searchRepresentative.id)"
            autocomplete="off" 
          />
        </div>
      </div>
      <div class="kt-pagination  kt-pagination--brand mb-3">
        <div class="page-nav">
          <div class="has-text-centered">
            <pagination-controls
              id="paginateRequest"
              (pageChange)="onChangePage($event, 'paginateRequest')"
              previousLabel=""
              nextLabel=""
            ></pagination-controls>
          </div>
          <div class="goto-page">
            <div class="form-group flex">         
              <label class="col-form-label" style="padding-bottom: 0.6rem;">ไปที่หน้า</label>
              <input
                class="form-control input"
                type="number"
                min="1"
                max="{{ getMaxPage('paginateRequest') }}"
                (input)="onChangePage($event.target.value, 'paginateRequest')"
                #key_item_count
                id="item_count"
                [(ngModel)]="input[key_item_count.id]"
                [ngClass]="validate[key_item_count.id] ? 'is-invalid' : null"
                (input)="clearValidate(key_item_count.id)"
              />
            </div>
          </div>
        </div>    
        <div class="kt-pagination__toolbar">
          <select
            class="form-control kt-font-brand"
            (change)="onChangePerPage($event.target.value, 'paginateRequest')"
          >
            <option
              *ngFor="let perPage of perPage"
              [value]="perPage"
            >
              {{ perPage }}
            </option>
          </select>
          <span class="pagination__desc">
            หน้าที่ 
          </span>
        </div>
      </div>
      <table>
        <thead class="cs-bg-color-o-drop">
          <tr>
            <th class="cs-theader-lg-o">รายชื่อตัวแทน</th>
            <th class="cs-theader-md-o">กลุ่มตัวแทน</th>
          </tr>
        </thead>
        <tbody class="cs-row-hover">
            <tr> 
              <td class="cs-tbody-v-align-mid"></td>
              <td class="cs-tbody-v-align-mid"></td>
            </tr>
        </tbody>        
      </table>
    </div>
  </div>
</div>
</app-modal>

<!-- PDF Modal -->
<app-modal [className]="['fade', this.modal.isModalPreviewPdfOpen ? 'show' : undefined]"
           [title]="'เอกสาร'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalPreviewPdfOpen')">
  <div body-children class="flex flex-wrap">
    <ng-container *ngIf="this.modal.isModalPreviewPdfOpen && url">
      <iframe id="pdf"
              frameborder="0"
              scrolling="no"
              seamless=""
              allowfullscreen="allowfullscreen"
              style="width:100%;height:700px"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"></iframe>
    </ng-container>
  </div>

  <!-- Custom Footer Children -->
  <!-- <div footer-children class="flex btn-group-wrapper">
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalPreviewPdfOpen')"
    >
      ยกเลิก
    </button>

    <button type="button" class="btn btn-secondary" (click)="print('pdf')">
      <i class="dip-icon-print"></i>
      พิมพ์
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      (click)="download(url, 'receipt.pdf')"
    >
      <i class="dip-icon-download"></i>
      ดาวน์โหลด
    </button>
  </div> -->
</app-modal>

<app-popup [className]="[
    'fade success',
    this.modal.isPopupSaveOpen ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-success'"
           [title]="'บันทึก!'"
           (onClickClose)="toggleModal('isPopupSaveOpen')">
  <div body-children>
    ระบบทำการบันทึกข้อมูลแล้ว
  </div>
</app-popup>

<app-popup [className]="[
    'fade warning',
    this.modal.isPopupNotFound ? 'show' : undefined
  ]"
           [Icon]="'dip-icon-close'"
           [title]="'แจ้งเตือน!'"
           (onClickClose)="toggleModal('isPopupNotFound')">
  <div body-children>
   {{ msgShow }}
  </div>
</app-popup>
