<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title" style="font-size: medium;">
        <i class="dip-icon-play"></i> พิจารณาออกหนังสือสำคัญ (1700200)
      </h5>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>
  <div class="kt-portlet__body" style="height: 64rem;">
    <div class="form-row">
      <div class="col-4" style="border-style: solid; border-width: 1px;border-color: #EFF1F5;">
        <div class="kt-portlet__body">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
            alt="" style="width: 99%;">
        </div>
      </div>
      <div class="col-8">
        <div class="kt-portlet__body" style="min-height: 62rem;max-height: 62rem; overflow: auto;padding-bottom: 0;">
          <div class="form-row" style="margin-bottom: 1rem;">

            <h4 class="sub-head-title" style="font-size: medium; color: #0C84C8;">
              ข้อมูลการส่งเมล์
            </h4>

          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group ">
                <label class="form-label input-wrapper "
                  style="width: 100%; font-size: small;">เลขที่อ้างอิงคำขอ</label>
                <div class="input-wrapper">
                  <input class="form-control input " style="width: 100%; font-size: small;" type="text"
                    autocomplete="off" disabled="disabled" />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group ">
                <label class="form-label input-wrapper " style="width: 100%; font-size: small;">เลขที่คำขอ</label>
                <div class="input-wrapper">
                  <input class="form-control input " style="width: 100%; font-size: small;" type="text"
                    autocomplete="off" disabled="disabled" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group ">
                <label class="form-label input-wrapper " style="width: 100%; font-size: small;">ชื่อ-นามสกุล</label>
                <div class="input-wrapper">
                  <input class="form-control input " style="width: 100%; font-size: small;" type="text"
                    autocomplete="off" disabled="disabled" />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group ">
                <label class="form-label input-wrapper " style="width: 100%; font-size: small;">อีเมล์</label>
                <div class="input-wrapper">
                  <input class="form-control input " style="width: 100%; font-size: small;" type="text"
                    autocomplete="off" disabled="disabled" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <div class="form-group ">
                <label class="form-label input-wrapper " style="width: 100%; font-size: small;">ค่าธรรมเนียม</label>
                <div class="input-wrapper">
                  <input class="form-control input " style="width: 100%; font-size: small;" type="text"
                    autocomplete="off" disabled="disabled" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <div class="form-group ">
                <label class="form-label input-wrapper " style="width: 100%; font-size: small;">คำสั่งการ</label>
                <div class="input-wrapper">
                  <!-- <input class="form-control input "
                             style="width: 100%; font-size: small;"
                             type="text"
                             autocomplete="off"
                             disabled="disabled" /> -->
                  <textarea class="form-control" style="width: 100%; font-size: small;min-height: 41.8rem;max-height: 41.8rem;" type="text"
                    autocomplete="off"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer " style="border: 0px;">
    <div class="button-list">
      <button type="button" class="btn btn-white" (click)="closeModal()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
      <button type="button" class="btn btn-brand" (click)="onClickModal()">
        <i class="dip-icon-send"></i>
        ส่งเมล์
      </button>
    </div>
  </div>
</div>