<div class="section normal-published">
  <button
    type="button"
    class="btn btn-brand section-title" style="width: 160px;"
    (click)="toggleModal('isModalAutoFillOpen')">เอกสารขาเข้า
  </button>
  <button
    type="button"
    class="btn btn-white section-title" style="width: 160px"
    (click)="toggleModal('isModalAutoFillOpen')">เอกสารขาออก
  </button>
  <div class="section-title">
    งานระหว่างการรับจดทะเบียน
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'green'"
    [title]="'กล่องงานรวม'"
    [description]="'แสดงรายการเลขทะเบียนระหว่างประเทศ หรือเลขที่คำขอที่อยู่ในระบบงานมาดริดทั้งหมด'"
    [quantity]="'50'"
  >
    <app-dashboard-card-summary-block summary="50">
      รอจ่ายงาน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      จ่ายงานเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
      [iconSub]="'play'"
      [theme]="'blue'"
      [title]="'คำขอที่รอสั่งการ'"
      [description]="'คำขอ ENN,EXN  สั่งการปฏิเสธเบื้องต้น (MF 3A) ,สั่งประกาศ (MF1,MF2)'"
      [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      สั่งแก้ไขคำแปล
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="4">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
      [iconSub]="'play'"
      [theme]="'blue'"
      [title]="'พิจารณารอบที่ 2'"
      [description]="'คำร้อง ก.04, ก.06, ก.12,ก.20 และอื่นๆ ที่มีการแก้ไขตามคำสั่งนายทะเบียน'"
      [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอพิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
      [iconSub]="'play'"
      [theme]="'orange'"
      [title]="'คำขออื่น ๆโดยตัวแทนในประเทศ⠀⠀⠀'"
      [description]="'การตั้ง/เปลี่ยน ตัวแทนภายในประเทศและอื่น ๆ'"
      [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="3">
      รอพิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="2">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
      [iconSub]="'play'"
      [theme]="'pink'"
      [title]="'คำขอส่งประกาศโฆษณา (MF1,MF2,MF8)'"
      [description]="'คำขอรอประกาศ และคำขอลงประกาศ'"
      [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
       ประกาศ MF1
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="11">
      ประกาศ
    </app-dashboard-card-summary-block>
  </app-dashboard-card>


  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'pink'"
    [title]="'ยืนยันการรับจดทะเบียน (MF4,MF5)'"
    [description]="'คำขอรับจดทะเบียน (MF4) คำขอรับจดทะเบียนหลังปฏิเสธเบื้องต้น (MF5)'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอพิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="11">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'pink'"
    [title]="'ยืนยันการปฏิเสธ (MF6)'"
    [description]="'คำขอที่ไม่มีการแก้ไขตามคำสั่งนายทะเบียน (MF 3A)'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอพิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="11">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="''"
    [iconSub]="'play'"
    [theme]="'violet'"
    [title]="'คำขอที่มาจากกลุ่มงานอื่นๆ'"
    [description]="'คำขอคัดค้าน  (MF 3 AC) สารบบและกำกับ  (ขอถอน,อุทธรณ์,ศาล) (MF 7,10)'"
    [quantity]="'5'"
  >
    <app-dashboard-card-summary-block summary="3">
      คัดค้าน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="2">
      สารบบและกำกับ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="16">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'blackgray'"
    [title]="'คำขอที่ไม่ต่ออายุ'"
    [description]="'คำขอที่ไม่มาดำเนินการต่ออายุจาก WIPO ทำจำหน่ายในประเทศ'"
    [quantity]="'5'"
  >
    <app-dashboard-card-summary-block summary="3">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="16">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'list-board'"
      [iconSub]="'play'"
      [theme]="'blue'"
      [title]="'พิจารณาคำขอแทนที่ ก.21'"
      [description]="'คำขอแทนที่โดยใช้อ้างสิทธิ์ตามมาตรา 79/9'"
      [quantity]="'30'"
  >
    <app-dashboard-card-summary-block summary="20">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="10">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'list-board'"
      [iconSub]="'play'"
      [theme]="'blue'"
      [title]="'พิจารณาคำขอแปลงคำขอ ก.22'"
      [description]="'คำขอที่ขอใช้สิทธิ์แปลงทะเบียนระหว่างประเทศ  '"
      [quantity]="'30'"
  >
    <app-dashboard-card-summary-block summary="20">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="10">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>
  <!-- </div> -->
</div>

<div class="divider-line grey"></div>
<div class="divider-line white"></div>

<div class="section normal-published">
  <div class="section-title">
    งานระหว่างการรับจดทะเบียน
  </div>

  <!-- <div class="dashboard-cards"> -->
  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'red'"
    [title]="'Irregularities From WIPO⠀⠀⠀⠀'"
    [description]="'การแจ้งข้อบกพร่องจาก WIPO (MF) ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀'"
    [quantity]="'11'"
  >
    <app-dashboard-card-summary-block summary="50">
      รอจ่ายงาน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      จ่ายงานเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
      [iconSub]="'play'"
      [theme]="'orange'"
      [title]="'คำขอแก้ไข เปลี่ยนแปลง อื่นๆ'"
      [description]="'คำขอที่ WIPO ดำเนินการส่งงานเข้ามาเปลี่ยนแปลง MAN,MTN,CBN,CBNT,TRN,CPN,LIN,PCN .....'"
      [quantity]="'3'"
  >
    <app-dashboard-card-summary-block summary="3">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="3">
      ยืนยันการปฏิเสธ
    </app-dashboard-card-summary-block>
    <app-dashboard-card-summary-block summary="3">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
    [iconMain]="'dip-icon-check-2'"
    [iconSub]="'play'"
    [theme]="'violet'"
    [title]="'พิจารณาออกหนังสือสำคัญ'"
    [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'"
    [quantity]="'15'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      รอพิจารณา
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="745">
      ทั้งหมด
    </app-dashboard-card-summary-block>
  </app-dashboard-card>


  <!-- </div> -->
</div>

