:host {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: normal;

  .kt-aside-menu-wrapper {
    .kt-aside-menu {
      .kt-menu__nav {
        .kt-menu__item {
          .kt-menu__link {
            align-items: center;

            .kt-menu__ver-arrow {
              i {
                transform: rotate(-90deg);
                // transition: all 0.3s;
              }
            }

            &>i {
              font-size: 20px;
              color: #BCBDC0;
            }
          }

          .kt-menu__submenu {
            .kt-menu__item--submenu {
              &.kt-menu__item--open {
                .kt-menu__link {
                  .kt-menu__ver-arrow {
                    i {
                      transform: none;
                    }
                  }
                }
              }
            }

            .kt-menu__item {
              transition: all 0.3s;
            }

            .kt-menu__submenu {
              display: none;
              overflow: hidden;

              .kt-menu__link {}

              &.kt-menu__item--open {
                display: block !important;
                overflow: initial;
              }
            }
          }

          &.kt-menu__item--hover {
            &>.kt-menu__link {
              &>i {
                color: #0C84C8;
              }
            }
          }
        }
      }
    }
  }

  .kt-aside-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: -9;

    &.actived {
      display: block;
      z-index: 98;
    }
  }
}
