<div class="kt-portlet">
    <div class="kt-portlet__body">  
      <div class="row">
          <div class="col-1"></div>
          <div class="col-4 ml-5">
              <div class="form-group flex">
                  <label class="col-form-label" for="request_number">
                    ประชุมครั้งที่
                  </label>          
                  <div class="input-group">
                    <input 
                      type="text" 
                      class="form-control" 
                      autocomplete="off"
                    />
                  </div>
                  <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                  <div class="input-group mb-5">
                    <input 
                      type="text" 
                      class="form-control" 
                      autocomplete="off"
                    />
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="form-group flex">
                  <label class="col-form-label" for="payment_date">
                    วันที่
                  </label>          
                  <div class="input-group">
                    <input 
                      type="text" 
                      class="form-control"
                      placeholder="เลือก"
                      #key_payment_date 
                      id="payment_date" 
                      [matDatepicker]="payment_picker"
                      (click)="payment_picker.open()" 
                      (dateChange)="clearValidate(key_payment_date.id)"
                    />
                    <div class="input-group-append">
                      <label class="cs-input-group-text" for="payment_date">
                        <i class="dip-icon-calendar cs-input-group-icon"></i>
                      </label>
                    </div>
                    <mat-datepicker #payment_picker></mat-datepicker>
  
                  
                  </div>
                </div>
          </div>

      </div>
    </div>

<appeal-white-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'">

  <appeal-white-tab [title]="'เรื่องที่ไม่มีประเด็นต้องพิจารณา'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-1-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"/>
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>   
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นบ่งเฉพาะ'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-1-tab-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
            <th class="cs-theader-c5">ประเด็น</th>
            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c8">ความคิดเห็นจากคณะกรรมการ</th>
            <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="cs-tbody-v-align-mid">
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
                </label>
              </td>
              <td class="cs-tbody-v-align-mid">
                1
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="form-group flex">        
                    <div class="input-group">
                      <input type="text" class="form-control" value="910225" autocomplete="off" disabled/>
                    </div>
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="form-group flex">        
                    <div class="input-group">
                      <input type="text" class="form-control" value="910225" autocomplete="off" disabled/>
                    </div>
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="form-group flex">        
                    <div class="input-group">
                      <input type="text" class="form-control" value="910225" autocomplete="off" disabled/>
                    </div>
                </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                <button type="button" class="btn btn-icon cs-btn-icon-black">
                  <span class="dip-icon-layer" style="font-size: 15px"></span>
                </button>
              </td>
              <td class="cs-tbody-v-align-mid">
                  <div class="flex justify-content-center">
                    <button type="button" class="btn btn-brand">
                        ดูความคิดเห็น
                      </button>
                  </div>
              </td>
              <td class="cs-tbody-v-align-mid">
                <div class="flex">
                    <input type="number" class="form-control" autocomplete="off" width="20px" style="width: 20px !important; text-align: center;"/>
                    <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                    <input type="number" class="form-control" autocomplete="off" width="20px" style="width: 20px !important; text-align: center;"/>
                </div>
              </td>
            </tr>
          </tbody>     
      </table>
    </div> 
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นเหมือนคล้าย'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 1
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"/>
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                  <div class="input-wrapper-row">
                    <select class="form-control">
                      <option [value]="A">
                        A
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นคัดค้าน'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 2
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                    <div class="input-wrapper-row">
                        <select class="form-control">
                            <option 
                            [value]="A">
                            A
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>          
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'เพิกถอนการจดทะเบียน'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 3
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>    
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                    <div class="input-wrapper-row">
                        <select class="form-control">
                            <option 
                            [value]="A">
                            A
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
                บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

</appeal-white-tabs>
      

   
</div>





<div class="flex justify-content-center">
    <button class="btn btn-brand mr-3">
        ดูร่างคำวินิจฉัย
    </button>
        
    <button class="btn cs-btn-return mr-3" (click)="toggleModal('isModalSendEdit')">
        <i class="fa fa-close"></i>
        ส่งแก้ไข
    </button>

    <button class="btn cs-btn-danger mr-3">
        <i class="fa fa-close"></i>
        ไม่อนุมัติ
    </button>

    <button class="btn btn-brand">
        <i class="fa fa-check"></i>
        อนุมัติ
    </button>
</div>



<app-modal
  [className]="['fade', this.modal.isModalSendEdit ? 'show' : undefined]"
  [title]="'ส่งแก้ไข'"
  [modalSize]="'md'"
  (onClickClose)="toggleModal('isModalSendEdit')"
>
  <div body-children class="flex align-items-start">
    <div class="main-form-wrapper" style="padding-right: 0.0px;">
      <div class="form-group mt-5 mb-5"> 
        <div class="input-wrapper">
            <textarea class="form-control" type="text" id="remark" rows="5" style="resize: none;" placeholder="รายละเอียดเพิ่มเติม"></textarea>               
        </div>                        
    </div>
    </div>
  </div>

  <div
    footer-children
    class="flex btn-group-wrapper"
  >
    <button
      type="button"
      class="btn btn-default"
      (click)="toggleModal('isModalSendEdit')"
    >
    <i class="fa fa-close" aria-hidden="true"></i>
      ยกเลิก
    </button>

    <button
      type="button"
      class="btn cs-btn-return"
      (click)="toggleModal('isModalSendEdit')"
    >
    <i class="fa fa-pencil" aria-hidden="true"></i>
      ส่งแก้ไข
    </button>
  </div>
</app-modal>