<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head" style="text-align: center;">
    <div class="kt-portlet__head-label" style="font-size: medium;">
      <h5 class="kt-portlet__head-title"> อัพไฟล์
      </h5>
    </div>
  </div>
  <div class="kt-portlet__body">

    <div class="flex-container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>1</div>
      <div>2</div>
      <div>2</div>
      <div>2</div>
      <div>
        <button type="button" class="btn" style="cursor: pointer;" (click)="openDialog()">
          <i class="dip-icon-add-new"></i>
          <input type="file" id="choosen" (change)="onFileSelect($event)" hidden />
        </button>
      </div>
    </div>
  </div>
  <div class="kt-portlet__footer ">
    <div class="button-list" style="margin-bottom: 30px; margin-top: 30px;">
      <button type="button" class="btn btn-white" (click)="closeModal()" style="cursor: pointer;">
        <!-- <mat-icon>close</mat-icon> -->
        <i class="dip-icon-delete-cross"></i>
        ยกเลิก
      </button>
      <button type="button" class="btn btn-brand">
        <i class="dip-icon-check"></i>
        ตกลง
      </button>

    </div>
  </div>
</div>