<div class="kt-portlet request-print-cover-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner request-print-coverer">
      <div class="form-group flex">
        <label class="col-form-label" for="request_start_number">เลขที่คำขอ</label>
        <div class="input-wrapper">
          <input #key_request_start_number class="form-control input" type="text" id="request_start_number" placeholder=""
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_start_number.id]"
                 autocomplete="off" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_start_number.id]" class="invalid-feedback">
              {{validate[key_request_start_number.id]}}
            </div>
          </div>
        </div>

        <span class="label">ถึง</span>

        <div class="input-wrapper">
          <input #key_request_end_number class="form-control input" type="text" id="request_end_number" placeholder=""
                 [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null" [(ngModel)]="input[key_request_end_number.id]"
                 autocomplete="off" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_request_end_number.id]" class="invalid-feedback">
              {{validate[key_request_end_number.id]}}
            </div>
          </div>
        </div>


      </div>
    </div><div class="kt-portlet__body__inner request-print-coverer">
      <div class="form-group flex">
        <label class="col-form-label">

        </label>

        <div class="input-wrapper">
          <div class="kt-radio-inline select-item radio-box-list">
            <label *ngFor="let item of master.requestPrintCoverTypeCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
              <input name="request_print_cover_type_code"
                     type="radio"
                     [checked]="item.code === input.request_print_cover_type_code"
                     (click)="oneWayDataBinding('request_print_cover_type_code', item.code)"> {{item.name}}
              <span></span>
            </label>
          </div>
          <div class="feedback-wrapper">
            <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
              Success! You've done it.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickRequestPrintCoverPrint()">
        <i class="dip-icon-printer"></i>
        พิมพ์รายงาน
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>

    </div>
  </div>
</div>
