<div class="kt-portlet">
    <div class="kt-portlet__body">  
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 ml-5">
                <div class="form-group flex">
                    <label class="col-form-label" for="request_number">
                    ประชุมครั้งที่
                    </label>          
                    <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                        placeholder="1"
                        disabled
                    />
                    </div>
                    <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                    <div class="input-group mb-5">
                    <input 
                        type="text" 
                        class="form-control" 
                        autocomplete="off"
                        placeholder="2560"
                        disabled
                    />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group flex">
                    <label class="col-form-label" for="payment_date">
                    วันที่
                    </label>          
                    <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="เลือก"
                        #key_payment_date 
                        id="payment_date" 
                        [matDatepicker]="payment_picker"
                        (click)="payment_picker.open()" 
                        (dateChange)="clearValidate(key_payment_date.id)"
                    />
                    <div class="input-group-append">
                        <label class="cs-input-group-text" for="payment_date">
                        <i class="dip-icon-calendar cs-input-group-icon"></i>
                        </label>
                    </div>
                    <mat-datepicker #payment_picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <appeal-white-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'" >  
        <appeal-white-tab [title]="'เรื่องที่ไม่มีประเด็นต้องพิจารณา'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                <label class="term-label">วาระที่</label>
                <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                />
                </div>
            </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                <table>
                    <thead>
                    <tr>
                        <th class="cs-theader-c1">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </th>
                        <th class="cs-theader-c2">ลำดับ</th>
                        <th class="cs-theader-c3">เลขที่คำขอ</th>
                        <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                        <th class="cs-theader-c5">ประเด็น</th>
                        <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                        <th class="cs-theader-c7">เอกสารสแกน</th>
                        <th class="cs-theader-c8">ความคิดเห็น</th>
                        <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- dummy data -->
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="-"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="row justify-content-center">       
                                    <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                      <span class="fa fa-search-plus"></span>
                                    </button> 
                                  </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="group flex">
                                    <div class="number">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off"
                                        />
                                    </div>
                                    <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                    <div class="number">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off"
                                        />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr >
                            <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            1
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="-"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                            />
                            </td>
                            <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="row justify-content-center">       
                                    <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                      <span class="fa fa-search-plus"></span>
                                    </button> 
                                  </div>
                            </td>
                            <td class="cs-tbody-v-align-mid">
                                <div class="group flex">
                                    <div class="number">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off"
                                        />
                                    </div>
                                    <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                    <div class="number">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off"
                                        />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>   
                </table>
                </div> 

                <div class="row">
                <div class="col-6">
                    <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                            ยกเลิก
                        </button>
                    </div>                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group flex" style="justify-content: flex-end;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-brand">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            พิมพ์ร่างวินิจฉัย
                        </button>
                    </div>                        
                    </div>
                </div>
                </div>
            </appeal-white-tab>
            <appeal-white-tab [title]="'อุทธรณ์ประเด็นบ่งเฉพาะ'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                    <label class="term-label">วาระที่</label>
                    <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                    />
                    </div>
                </div>
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็น</th>
                            <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>   
                    </table>
                    </div> 
    
                    <div class="row">
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                                ยกเลิก
                            </button>
                        </div>                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                พิมพ์ร่างวินิจฉัย
                            </button>
                        </div>                        
                        </div>
                    </div>
                    </div>

            </appeal-white-tab>

            <appeal-white-tab [title]="'อุทธรณ์ประเด็นเหมือนคล้าย'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                    <label class="term-label">วาระที่</label>
                    <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                    />
                    </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็น</th>
                            <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>   
                    </table>
                    </div> 
    
                    <div class="row">
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                                ยกเลิก
                            </button>
                        </div>                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                พิมพ์ร่างวินิจฉัย
                            </button>
                        </div>                        
                        </div>
                    </div>
                    </div>
            </appeal-white-tab>

            <appeal-white-tab [title]="'อุทธรณ์ประเด็นคัดค้าน'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                    <label class="term-label">วาระที่</label>
                    <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                    />
                    </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็น</th>
                            <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>   
                    </table>
                    </div> 
    
                    <div class="row">
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                                ยกเลิก
                            </button>
                        </div>                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                พิมพ์ร่างวินิจฉัย
                            </button>
                        </div>                        
                        </div>
                    </div>
                    </div>
            </appeal-white-tab>

            <appeal-white-tab [title]="'เพิกถอนการจดทะเบียน'" style="position: relative; display: block;">
                <div class="term">
                    <div class="form-group flex">      
                    <label class="term-label">วาระที่</label>
                    <input
                        class="form-control term-no"
                        type="number"
                        id="item_count"
                    />
                </div>
                </div> 
                <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                    <table>
                        <thead>
                        <tr>
                            <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                            </th>
                            <th class="cs-theader-c2">ลำดับ</th>
                            <th class="cs-theader-c3">เลขที่คำขอ</th>
                            <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                            <th class="cs-theader-c5">ประเด็น</th>
                            <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                            <th class="cs-theader-c7">เอกสารสแกน</th>
                            <th class="cs-theader-c8">ความคิดเห็น</th>
                            <th class="cs-theader-c9">เลขคำวินิจฉัย</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- dummy data -->
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td class="cs-tbody-v-align-mid">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                1
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control request_no" 
                                placeholder="910225"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control point" 
                                placeholder="-"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <input 
                                class="form-control name" 
                                placeholder="ฮิตซามิซุ คำปะนี"
                                disabled 
                                />
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                    <span class="dip-icon-layer" style="font-size: 15px"></span>
                                </button>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="row justify-content-center">       
                                        <button class="btn cs-btn-icon-white" (click)="toggleModal('isModalK08Detail')">
                                          <span class="fa fa-search-plus"></span>
                                        </button> 
                                      </div>
                                </td>
                                <td class="cs-tbody-v-align-mid">
                                    <div class="group flex">
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                        <span class="mr-2 ml-2" style="margin-top: 0.5rem; font-size: large;">/</span>
                                        <div class="number">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>   
                    </table>
                    </div> 
    
                    <div class="row">
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-start;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                บันทึก
                            </button>
                            <button type="button" class="btn cs-btn-grey-outline ml-3">
                                ยกเลิก
                            </button>
                        </div>                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group flex" style="justify-content: flex-end;">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-brand">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                พิมพ์ร่างวินิจฉัย
                            </button>
                        </div>                        
                        </div>
                    </div>
                    </div>
            </appeal-white-tab>
        </appeal-white-tabs>
</div>
    <div class="row" style="margin-top: 3%;">
        <div class="col-12">
          <div class="form-group flex" style="justify-content: center; margin-left: 5%;">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-brand">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    ส่งกรรมารอนุมัติ
                </button>
            </div>                        
          </div>
        </div>
    </div>