<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-search"></i> การค้นหา
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
        </div>
    </div>
    <div class="kt-portlet__footer">
        <div class="button-list">
            <button type="button" class="btn btn-brand">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-white">
                <i class="dip-icon-reset"></i>
                เริ่มใหม่
            </button>
        </div>
    </div>
</div>