<div class="kt-portlet consider-board">    
    <div class="kt-portlet__body">  
        <div class="row mt-5 mb-5" style="justify-content: center;">
            <div class="cs-label-status-wara">
                เลขที่คำขอ 922280
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 ">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label">
                            คะแนนเสียง              
                        </label>                     
                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioPoint" type="radio"/>
                                    เอกฉันท์
                                    <span></span>
                            </label>
                        </div>
                        <div style="min-width: 100px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioPoint" type="radio"/>
                                    เสียงข้างมาก
                                    <span></span>
                            </label>
                        </div>

                        <label class="col-form-label">
                            เสียง      
                        </label>    

                        <input class="form-control input" type="text" style="width: 150px !important;"/>

                    </div>
                </div>
              
                <div class="row mt-3">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label">
                            ความเห็น      
                        </label>         
                        
                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    ยืนตามคำสั่งนายทะเบียน
                                    <span></span>
                            </label>
                        </div>

                        <div style="min-width: 250px; margin-top: 8px;">                
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    ยกคำสั่งนายทะเบียน
                                    <span></span>
                            </label>
                        </div>
                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    กลับคำสั่งนายทะเบียน
                                    <span></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label"></label>          

                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    แก้คำสั่งนายทะเบียน
                                    <span></span>
                            </label>
                        </div>
                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    ชี้แจงเพิ่มเติม
                                    <span></span>
                            </label>
                        </div>
                        <div style="min-width: 250px; margin-top: 8px;">
                            <label class="kt-radio kt-radio--bold kt-radio--brand">
                                <input name="radioComment" type="radio"/>
                                    อื่นๆ
                                    <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    
        <div class="row mb-3 mt-5">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label">
                            ที่ประชุมพิจารณาแล้วเห็นว่า
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="8" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex"> 
                        <p class="col-form-label cs-label">
                            เหตุผลเสียงข้างมาก
                            <br>
                            <button class="btn btn-brand" style="position: absolute; margin-top: 40px;">
                                อ่านความเห็นฝ่ายเลขา
                            </button>
                        </p>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="8" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <p class="col-form-label cs-label">
                            เหตุผลเสียงข้างน้อย
                            <br>
                            <button class="btn btn-brand" style="position: absolute; margin-top: 40px;">
                                อ่านความเห็นฝ่ายเลขา
                            </button>
                        </p>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="8" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label">
                            ความคิดเห็นเพิ่มเติม
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="4" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-8">
                <div class="row">
                    <div class="form-group flex">
                        <label class="col-form-label cs-label">
                            ข้อสังเกต
                        </label>
                        <div class="input-wrapper">
                            <textarea class="form-control" type="text" id="remark" rows="4" style="resize: none;" disabled></textarea>               
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <button type="button" class="btn cs-btn-save-solid">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        บันทึก
    </button>
    <button type="button" class="btn cs-btn-grey-outline ml-3">
        ยกเลิก
    </button>                         
</div>