body {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: normal;
    
}


.detail-cl {
    h4{
        color: #0C84C8 !important;
        font-size: medium !important;
    }

    .pad-ft {
        padding-left: 10px;
    }
    .border-div{
        border-style: solid;
        border-width: 1px;
        padding: 1rem;
        border-color: #EBEDF2;
    }
}


:host {
	font-family: 'Noto Sans Thai', 'Noto Sans';
	font-weight: normal;
	::ng-deep {
		.mat-warning svg g path,
		.mat-warning svg g polygon {
			color: #8CD500 !important;
			fill: #8CD500 !important;
		}
    }
    
    h4{
        color: #0C84C8 !important;
        font-size: medium !important;
    }
}

.button-list {
	display: inline-flex;
	margin: 0 auto;
  
	& > *:nth-child(n + 1) {
	  margin-left: 10px;
	}
  }
  
