:host {
  color: #6D6E71;
}

:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host app-tabs.ng-star-inserted[modal_tab] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet--background {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet {
  width: 1330px;
  display: block;
  margin: 0 auto;
}

:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
}

:host .div_autocomplete tr {
  line-height: 60px;
}

:host .div_autocomplete tr:hover {
  background-color: #F4F5F8;
}

:host .div_autocomplete tr td {
  padding: 0 12px;
}

:host .table-inner input.form-control,
:host .table-inner select.form-control {
  width: 100%;
}

:host .table-inner .dip-icon-edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-edit:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .table-inner .dip-icon-trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .hide {
  display: none;
}

:host .btn-create-new + .btn-danger {
  margin-left: 10px;
}

:host input.form-control,
:host select.form-control {
  width: 375px;
}

:host .tab-pane {
  position: relative;
}

:host .tab-pane .top-right-operator {
  position: absolute;
  right: 0;
  top: -75px;
}

:host .tab-pane .top-right-operator .btn {
  margin-left: 10px;
}

:host .tab-pane .top-right-operator .btn:first-child {
  margin-left: 0;
}

:host .tab-pane .empty-list {
  display: flex;
  justify-content: center;
  background-color: #F4F5F8;
  width: 100%;
  min-height: 65px;
  align-items: center;
}

:host .tab-pane .empty-list .btn {
  margin: 0 10px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .kt-portlet__head-action .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__head-action .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__head-action > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__head-action > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .mat-input-element {
  border: 1px solid #e2e5ec;
}

:host .kt-portlet__body_cover {
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 45px 0 8px 25px;
  position: relative;
}

:host .kt-portlet__body_cover:nth-child(n+2) {
  margin-top: 50px;
}

:host .kt-portlet__body_cover .cover {
  position: absolute;
  top: -23px;
  left: 34px;
  padding: 10px 45px;
  background-color: #E5F2F9;
  border-radius: 20px;
  color: #0C84C8;
  font-size: 20px;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .document_classification_order_by_column {
  display: initial;
}

:host .document_classification_order_by_column > div {
  display: inline-block;
}

:host .document_classification_order_by_column .div_search_1_document_classification_condition {
  vertical-align: top;
  margin: 32px;
}

:host .document_classification_order_by_column .div_search_1_document_classification_condition .kt-radio-inline {
  display: initial;
}

:host .document_classification_order_by_column .div_search_1_document_classification_condition .kt-radio-inline label {
  display: block;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.edit_delete > a {
  padding: 4px 8px;
}

:host .table .td.edit_delete > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .edit_delete {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .language {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_mark {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_first {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_sound_last {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_sound_last_other {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_sound {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_syllable_count {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .word_syllable_sound {
  flex: 0 0 250px;
  max-width: 250px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .document_image_type_code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_3 .document_image_type_name {
  flex: 0 0 450px;
  max-width: 450px;
  justify-content: center;
  text-align: center;
}

:host .table.table_4 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_4 .request_sound_type_code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_4 .request_sound_type_name {
  flex: 0 0 450px;
  max-width: 450px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .word_translate_search {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .word_translate_dictionary {
  flex: 0 0 250px;
  max-width: 250px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .word_translate_sound {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .word_translate_translate {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_5 .checking_word_translate_status_code {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table-read-translate .table-inner {
  margin-bottom: 0;
}

:host .table.table-read-translate .select {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 15px;
}

:host .table.table-read-translate .dictionary {
  flex: 0 0 370px;
  max-width: 370px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

:host .table.table-read-translate .text-search {
  flex: 0 0 290px;
  max-width: 290px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

:host .table.table-read-translate .pronunciation {
  flex: 0 0 280px;
  max-width: 280px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

:host .table.table-read-translate .translation {
  flex: 0 0 300px;
  max-width: 300px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

:host .table.table-read-translate .status {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

:host table {
  border-collapse: collapse;
}

:host table td {
  border: 1px solid #eee;
  padding: 5px 8px 0;
  text-align: center;
}

:host table tbody td > * {
  display: inline-flex;
}

:host table tbody td input {
  width: 50px;
}

:host [for=search_1_request_number] + * {
  flex: none;
}

:host .header-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
}

:host .header-button-wrapper .header-button-left-wrapper {
  display: flex;
  align-items: center;
}

:host .header-button-wrapper .header-button-left-wrapper .button-search-cancel {
  font-weight: 500;
  width: 105px;
  margin-right: 10px;
}

:host .header-button-wrapper .header-button-left-wrapper .request-number-field-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

:host .header-button-wrapper .header-button-left-wrapper .request-number-field-wrapper .request-number-label {
  color: #6D6E71;
  margin-right: 20px;
  margin-bottom: 0;
}

:host .header-button-wrapper .header-button-left-wrapper .request-number-field-wrapper .request-number-field {
  width: 270px;
  padding: 10px 15px;
}

:host .header-button-wrapper .header-button-right-wrapper {
  display: flex;
  align-items: center;
}

:host .header-button-wrapper .header-button-right-wrapper .button-link-view {
  font-weight: 500;
  width: 148px;
  margin-right: 10px;
}

:host .header-button-wrapper .header-button-right-wrapper .button-result-checking {
  font-weight: 500;
  width: 161px;
  margin-right: 10px;
}

:host .header-button-wrapper .header-button-right-wrapper .button-create-new {
  width: 175px;
  color: #0C84C8;
  border-color: #CBEBFD;
}

:host .header-button-wrapper .header-button-right-wrapper .button-create-new .button-create-new-text {
  text-decoration: underline;
  margin-left: 15px;
}

:host .btn-toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
}

:host .btn-toggle .dip-icon-minus {
  padding: 0;
}

:host .btn-toggle .dip-icon-minus:before {
  font-size: 14px;
}

:host .sign-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
  margin-bottom: 32px;
}

:host .sign-wrapper .main-request-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 326px;
  height: 326px;
  border: 1px dashed #0C84C8;
}

:host .sign-wrapper .main-request-wrapper .main-request-image-wrapper {
  max-width: 326px;
  width: 100%;
}

:host .sign-wrapper .sign-info-wrapper .sign-info-item {
  display: flex;
  align-items: center;
  height: 55px;
}

:host .sign-wrapper .sign-info-wrapper .sign-info-item .sign-label {
  font-weight: 600;
  color: #6D6E71;
}

:host .sign-wrapper .sign-info-wrapper .sign-info-item .sign-value {
  width: 375px;
  height: 40px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #000000;
  position: relative;
}

:host .sign-wrapper .sign-info-wrapper .sign-info-item .sign-value .sign-value-field {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0 70px 0 15px;
}

:host .sign-wrapper .sign-info-wrapper .sign-info-item .sign-value .dip-icon-search {
  position: absolute;
  right: 1px;
  background-color: #E5F2F9;
  color: #0C84C8;
  width: 37px;
  height: 37px;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .sign-tabs-wrapper {
  width: 100%;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs {
  box-shadow: none;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__head {
  padding: 0;
  min-height: 40px;
  border-bottom: 0;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar {
  min-height: 40px !important;
  height: 100%;
  width: 100%;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs {
  width: 100%;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs .nav-item .nav-link {
  padding: 8px 25px;
  color: #6D6E71;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs .nav-item .nav-link.active {
  color: #0C84C8;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body {
  padding: 0;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet__head {
  padding: 0 25px;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  font-size: 16px;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .index {
  flex: 0 0 60px;
  max-width: 60px;
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .language {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .word-sign {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .first-alphabet {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .last-alphabet {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .other-last-alphabet {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .pronunciation {
  flex: 0 0 140px;
  max-width: 140px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .syllable {
  flex: 0 0 110px;
  max-width: 110px;
  justify-content: flex-end;
  text-align: right;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-commerce-sign .syllable-sound {
  flex: 1;
  padding-left: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-image-sign .index {
  flex: 0 0 60px;
  max-width: 60px;
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-image-sign .code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-image-sign .image-description {
  flex: 1;
  padding-left: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-sound-sign .index {
  flex: 0 0 60px;
  max-width: 60px;
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-sound-sign .code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host ::ng-deep .sign-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table.table-sound-sign .sound-description {
  flex: 1;
  padding-left: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host .checking-similar-read-translate .read-translate-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper {
  display: flex;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper .read-translate-browse-input {
  border: 1px solid #EBEDF2;
  border-radius: 2px;
  width: 270px;
  height: 37px;
  margin-right: 10px;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper .read-translate-browse-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper .read-translate-browse-file + label {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0C84C8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 37px;
  border-radius: 4px;
  margin-right: 10px;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper .read-translate-browse-file:focus + label {
  background-color: #0C84C8;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-browse-wrapper .button-attached-file {
  width: 176px;
  height: 37px;
  padding: 0;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-add-new-button .btn-icon {
  width: 37px;
  height: 37px;
  border: 0;
  margin-left: 10px;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-add-new-button .btn-icon .dip-icon-add-new {
  color: #0C84C8;
}

:host .checking-similar-read-translate .read-translate-wrapper .read-translate-add-new-button .btn-icon .dip-icon-minus {
  color: #0C84C8;
}

:host .checking-similar-read-translate .kt-portlet__footer {
  border-top: 0;
}

:host .checking-similar-read-translate .kt-portlet__footer .kt-pagination {
  margin-bottom: 35px;
}

:host .checking-tabs-wrapper {
  width: 100%;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs {
  box-shadow: none;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__head {
  padding: 0;
  min-height: 40px;
  border-bottom: 0;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar {
  min-height: 40px !important;
  height: 100%;
  width: 100%;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs {
  width: 100%;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs .nav-item .nav-link {
  padding: 8px 25px;
  color: #6D6E71;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__head .kt-portlet__head-toolbar .nav-tabs .nav-item .nav-link.active {
  color: #0C84C8;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body {
  padding: 0;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet {
  box-shadow: none;
  margin-bottom: 0;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .kt-portlet__head {
  padding: 0 25px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  font-size: 16px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-wrapper .button-service {
  font-weight: 500;
  margin-left: 10px;
  padding: 6px 15px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-wrapper .button-service i {
  padding-right: 14px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-footer-wrapper {
  display: flex;
  justify-content: flex-end;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-footer-wrapper .button-service {
  font-weight: 500;
  margin-left: 10px;
  padding: 6px 15px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .service-button-footer-wrapper .button-service i {
  padding-right: 14px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper {
  position: relative;
  width: 100%;
  padding: 50px;
  border: 2px solid #E5F2F9;
  border-radius: 5px;
  margin-bottom: 40px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-tabs-panel-header {
  position: absolute;
  left: 35px;
  top: -17px;
  padding-left: 25px;
  padding-right: 25px;
  height: 34px;
  border-radius: 34px;
  border: 1px solid #F4F5F8;
  background-color: #E5F2F9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #0C84C8;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-form-wrapper {
  width: 795px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-last-form-wrapper {
  width: 832px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-label {
  min-width: 150px;
  color: #6D6E71;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-sm-label {
  min-width: 45px;
  color: #6D6E71;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-value {
  height: 37px;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  color: #000000;
  position: relative;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-value .checking-detail-value-field {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 37px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0 15px 0 15px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-value .checking-detail-value-search-icon {
  padding: 0 70px 0 15px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-value .dip-icon-search {
  position: absolute;
  right: 1px;
  background-color: #E5F2F9;
  color: #0C84C8;
  width: 35px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-md-field {
  min-width: 270px;
  max-width: 270px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-lg-field {
  min-width: 609px;
  max-width: 609px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-condition-field {
  width: 375px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-condition-field .checking-detail-condition {
  width: 100%;
  height: 37px;
  border-color: #EBEDF2;
  background-color: #FFFFFF;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .dip-icon-fetch {
  background-color: #E5F2F9;
  color: #0C84C8;
  width: 37px;
  height: 37px;
  position: relative;
  left: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-condition-wrapper {
  min-width: 555px;
  max-width: 555px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-last {
  margin-bottom: 25px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper {
  display: flex;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs {
  width: 70%;
  flex: 0 0 70%;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-image-sign .index {
  flex: 0 0 60px;
  max-width: 60px;
  justify-content: center;
  text-align: center;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-image-sign .code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-image-sign .image-description {
  flex: 1;
  padding-left: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-sound-sign .index {
  flex: 0 0 60px;
  max-width: 60px;
  justify-content: center;
  text-align: center;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-sound-sign .code {
  flex: 0 0 150px;
  max-width: 150px;
  justify-content: flex-start;
  text-align: left;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .table-checking-tabs .table.table-sound-sign .sound-description {
  flex: 1;
  padding-left: 100px;
  justify-content: flex-start;
  text-align: left;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .radio-button-wrapper {
  margin-left: 60px;
  display: flex;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .radio-button-wrapper .radio-button {
  margin-right: 60px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .table-checking-tabs-wrapper .radio-button-wrapper .radio-button .kt-radio {
  padding-left: 10px;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .button-right-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  flex: 0 0 70%;
}

:host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .button-right-wrapper .btn-icon .dip-icon-minus {
  color: #0C84C8;
}

:host .not-found-data-wrapper {
  width: 100%;
  height: 50px;
  background-color: #F4F5F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .not-found-data-wrapper .not-found-dara-text {
  font-family: 'Noto Sans Thai';
  font-size: 16px;
  color: #6D6E71;
}

@media (max-width: 1280px) {
  :host .kt-portlet .col-form-label {
    margin: 0 10px;
    min-width: 145px;
  }
  :host .table.table-read-translate .select {
    flex: 0 0 60px;
    max-width: 60px;
    justify-content: flex-start;
    text-align: left;
  }
  :host .table.table-read-translate .dictionary {
    flex: 0 0 300px;
    max-width: 300px;
    justify-content: flex-start;
    text-align: left;
  }
  :host .table.table-read-translate .text-search {
    flex: 0 0 250px;
    max-width: 250px;
    justify-content: flex-start;
    text-align: left;
  }
  :host .table.table-read-translate .pronunciation {
    flex: 0 0 250px;
    max-width: 250px;
    justify-content: flex-start;
    text-align: left;
  }
  :host .table.table-read-translate .translation {
    flex: 0 0 250px;
    max-width: 250px;
    justify-content: flex-start;
    text-align: left;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-form-wrapper {
    width: 765px;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-last-form-wrapper {
    width: 802px;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-label {
    min-width: 140px;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-condition-field {
    width: 300px;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-item .checking-detail-md-field {
    min-width: 220px;
    max-width: 220px;
  }
  :host .checking-tabs-wrapper ::ng-deep .checking-tabs.kt-portlet--tabs .kt-portlet__body .tab-content .kt-portlet .checking-tabs-panel-wrapper .checking-detail-condition-wrapper {
    min-width: 475px;
    max-width: 475px;
  }
}
