<div class="header-button-wrapper">
  <div class="header-button-left-wrapper">
    <!--<div class="request-number-field-wrapper">
      <label class="request-number-label">เลขที่คำขอ</label>
      <input class="form-control input request-number-field"
             value="180104789"
             #key_request_number
             type="text"
             id="request_number"
             placeholder="คำขอเลขที่"
             [(ngModel)]="input[key_request_number.id]"
             [ngClass]="validate[key_request_number.id] ? 'is-invalid' : null"
             (input)="clearValidate(key_request_number.id)"
             (blur)="autocompleteBlurSave010List()"
             (ngModelChange)="autocompleteChangeSave010List(input, 'request_number')"
             autocomplete="off" />
    </div>
    <button type="button"
            class="btn btn-brand button-search-cancel"
            (click)="onClickCheckingSimilarList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
    <button type="button"
            class="btn btn-white button-search-cancel"
            (click)="onClickReset()">
      ยกเลิก
    </button>-->
  </div>
  <div class="header-button-right-wrapper">
    <button type="button" class="btn btn-brand button-link-view" (click)="onClickCheckingSimilarSearchAsk()">
      Link สอบถาม
    </button>
    <button type="button" class="btn btn-brand button-link-view" (click)="onClickCheckingSimilarSave010PDFView()">
      ดูเอกสาร ก.01
    </button>
    <button type="button" class="btn btn-secondary button-result-checking" (click)="onClickCheckingSimilarResultLink()">
      ผลการตรวจสอบ
    </button>
    <!--<button type="button" class="btn btn-icon button-create-new ">
      <i class="dip-icon-add-new"></i>
      <div class="button-create-new-text">สร้างรายการใหม่</div>
    </button>-->
  </div>
</div>

<div class="kt-portlet checking-similar-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        เครื่องหมาย
      </h3>
    </div>
    <!--<div class="kt-portlet__head-action">
      <button class="btn btn-brand btn-toggle">
        <i class="dip-icon-minus"></i>
      </button>
    </div>-->
  </div>

  <div class="kt-portlet__body">
    <div class="sign-wrapper">
      <div class="main-request-wrapper">


        <div class="main-request-image-wrapper">

          <div class="bx-box-picture">
            <img *ngIf="input.file_trademark_2d && input.file_trademark_2d != ''" src="{{input.file_trademark_2d}}" />

            <!--<div style="position: absolute; right: 70px; top: 5px;  text-align: center;">
              <a href="#" class="btn btn-squared-default-plain btn-info">2D</a>
            </div>-->
            <!--<div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
              <a href="#" class="btn btn-squared-default-plain btn-light ">3D</a>
            </div>-->

            <div style="position: absolute; right: 20px; top: 5px;  text-align: center;">
              <!--{{input.sound_file_physical_path}}-->
              <div *ngIf="input.sound_file_physical_path && input.sound_file_physical_path != ''" class="">
                <a href="javascript://" class="btn btn-squared-default-plain btn-info">
                  <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      " (click)="togglePlayer()"></i>
                </a>
              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="sign-info-wrapper">
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="request_number">
                เลขที่คำขอ
              </label>
              <div class="input-wrapper sign-value">
                {{input.request_number}}
              </div>
            </div>
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="name">
                ชื่อเจ้าของ
              </label>
              <div class="input-wrapper sign-value">
                {{input.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="type_checking">
                จำพวก
              </label>
              <div class="input-wrapper sign-value">
                <input class="form-control input sign-value-field" type="text" id="type_checking"
                  value="{{input.request_item_sub_type_1_code_text}}" disabled="disabled" />
                <i class="dip-icon-search" (click)="popup.is_product_show = true"></i>
              </div>
            </div>
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="product_service">
                สินค้า/บริการ
              </label>
              <div class="input-wrapper sign-value">
                <input class="form-control input sign-value-field" type="text" id="product_service"
                  value="{{input.request_item_sub_type_1_description}}" disabled="disabled" />
                <i class="dip-icon-search" (click)="popup.is_product_show = true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="examiner">
                ผู้ตรวจสอบ
              </label>
              <div class="input-wrapper sign-value">
                {{input.checking_receiver_by_name}}
              </div>
            </div>
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="registrar">
                นายทะเบียน
              </label>
              <div class="input-wrapper sign-value">
                {{input.considering_receiver_by_name || '-'}}
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-worder">
          <div class="form-group flex">
            <div class="sign-info-item">
              <label class="col-form-label sign-label" for="sound_description">
                คำบรรยายเสียง
              </label>
              <div class="input-wrapper sign-value">
                {{input.sound_description}}
              </div>
            </div>
            <!--<div class="sign-info-item">
              <label class="col-form-label sign-label" for="read_translate">
                อ่าน/แปล
              </label>
              <div class="input-wrapper sign-value">
                {{input.sound_description}}
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="sign-tabs-wrapper">
      <app-tabs [className]="'sign-tabs'" [navClassName]="'sign-nav-tabs'">
        <app-tab [title]="'เครื่องหมายการค้า'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <div class="kt-portlet__body">
              <div class="table table-commerce-sign">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td index">#</div>
                    <div class="td language">ภาษา</div>
                    <div class="td word-sign">เครื่องหมายคำ</div>
                    <div class="td first-alphabet">อักษรแรก</div>
                    <div class="td last-alphabet">เสียงท้าย</div>
                    <div class="td other-last-alphabet">เสียงท้ายอีน</div>
                    <div class="td pronunciation">คำอ่าน</div>
                    <div class="td syllable">จำนวนพยางค์</div>
                    <div class="td syllable-sound">เสียงแต่ละพยางค์</div>
                  </div>

                  <div class="tr body"
                    *ngFor="let row_item of input.full_view.document_classification_word_list | myfilter">
                    <div class="td index">{{row_item.index}}</div>
                    <div class="td language">C</div>
                    <div class="td word-sign">{{row_item.word_mark}}</div>
                    <div class="td first-alphabet">{{row_item.word_first_code}}</div>
                    <div class="td last-alphabet">{{row_item.word_sound_last_code}}</div>
                    <div class="td other-last-alphabet">{{row_item.word_sound_last_other_code}}</div>
                    <div class="td pronunciation">{{row_item.word_sound}}</div>
                    <div class="td syllable">
                      {{row_item.word_syllable_sound ? row_item.word_syllable_sound.split(" ").length : 0}}</div>
                    <div class="td syllable-sound">{{row_item.word_syllable_sound}}</div>
                  </div>

                  <div class="not-found-data-wrapper">
                    <div class="not-found-dara-text">
                      ไม่พบข้อมูล
                    </div>
                  </div>
                  <!-- ***** Not Found Data ***** -->
                  <!--  -->
                </div>
              </div>
            </div>

            <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
            <!--<div class="kt-portlet__footer ">
              <div class="kt-pagination  kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered">
                    <pagination-controls (pageChange)="onChangePage($event, 'paginateWordMark')"></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label class="col-form-label">
                        ไปหน้าที่
                      </label>

                      <input #key_page_input
                             class="form-control input"
                             type="number"
                             min="1"
                             max="{{ getMaxPage('paginateWordMark') }}"
                             id="page_input"
                             [(ngModel)]="input[key_page_input.id]"
                             (ngModelChange)="
                          onChangePage($event, 'paginateWordMark')
                        " />
                    </div>
                  </div>
                </div>

                <div class="kt-pagination__toolbar">
                  <select class="form-control kt-font-brand"
                          (change)="
                      onChangePerPage($event.target.value, 'paginateWordMark')
                    ">
                    <option *ngFor="let perPage of perPageWordMark"
                            [value]="perPage">
                      {{ perPage }}
                    </option>
                  </select>
                  <span class="pagination__desc">
                    หน้าที่ 1/1 รายการที่ 1-{{
                      paginateWordMark.itemsPerPage
                    }}
                    / {{ paginateWordMark.totalItems }}
                  </span>
                </div>
              </div>
            </div>-->
          </div>
        </app-tab>
        <app-tab [title]="'เครื่องหมายรูป'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <!--<div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  เครื่องหมายรูป
                </h3>
              </div>
              <div class="kt-portlet__head-action"></div>
            </div>-->

            <div class="kt-portlet__body">
              <div class="table table-image-sign">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td index">#</div>
                    <div class="td code">รหัส</div>
                    <div class="td image-description">คำบรรยายรูป</div>
                  </div>
                  <div class="tr body"
                    *ngFor="let row_item of input.full_view.document_classification_image_list | myfilter">
                    <div class="td index">{{row_item.index}}</div>
                    <div class="td code">{{row_item.document_classification_image_code}}</div>
                    <div class="td image-description">{{row_item.document_classification_image_name}}</div>
                  </div>

                  <div class="not-found-data-wrapper">
                    <div class="not-found-dara-text">
                      ไม่พบข้อมูล
                    </div>
                  </div>
                  <!--<div class="tr">
                    <div class="td index">1</div>
                    <div class="td code">C01234</div>
                    <div class="td image-description">จวงเหล่ย</div>
                  </div>
                  <div class="tr">
                    <div class="td index">2</div>
                    <div class="td code">C</div>
                    <div class="td image-description">จวงลุ้ย</div>
                  </div>-->
                  <!-- ***** Not Found Data ***** -->
                  <!--  -->
                </div>
              </div>
            </div>

            <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
            <!--<div class="kt-portlet__footer ">
              <div class="kt-pagination  kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered">
                    <pagination-controls (pageChange)="onChangePage($event, 'paginateImageMark')"></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label class="col-form-label">
                        ไปหน้าที่
                      </label>

                      <input #key_page_input
                             class="form-control input"
                             type="number"
                             min="1"
                             max="{{ getMaxPage('paginateImageMark') }}"
                             id="page_input"
                             [(ngModel)]="input[key_page_input.id]"
                             (ngModelChange)="
                          onChangePage($event, 'paginateImageMark')
                        " />
                    </div>
                  </div>
                </div>

                <div class="kt-pagination__toolbar">
                  <select class="form-control kt-font-brand"
                          (change)="
                      onChangePerPage($event.target.value, 'paginateImageMark')
                    ">
                    <option *ngFor="let perPage of perPageImageMark"
                            [value]="perPage">
                      {{ perPage }}
                    </option>
                  </select>
                  <span class="pagination__desc">
                    หน้าที่ 1/1 รายการที่ 1-{{
                      paginateImageMark.itemsPerPage
                    }}
                    / {{ paginateImageMark.totalItems }}
                  </span>
                </div>
              </div>
            </div>-->
          </div>
        </app-tab>
        <app-tab [title]="'เครื่องหมายเสียง'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <!--<div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  เครื่องหมายเสียง
                </h3>
              </div>
              <div class="kt-portlet__head-action"></div>
            </div>-->

            <div class="kt-portlet__body">
              <div class="table table-sound-sign">
                <div class="table-inner">
                  <div class="tr header">
                    <div class="td index">#</div>
                    <div class="td code">รหัส</div>
                    <div class="td sound-description">คำบรรยายเสียง</div>
                  </div>

                  <div class="tr body"
                    *ngFor="let row_item of input.full_view.document_classification_sound_list | myfilter">
                    <div class="td index">{{row_item.index}}</div>
                    <div class="td code">{{row_item.document_classification_sound_code}}</div>
                    <div class="td sound-description">{{row_item.document_classification_sound_name}}</div>
                  </div>

                  <div class="not-found-data-wrapper">
                    <div class="not-found-dara-text">
                      ไม่พบข้อมูล
                    </div>
                  </div>

                  <!--<div class="tr">
                    <div class="td index">1</div>
                    <div class="td code">C01234</div>
                    <div class="td sound-description">จวงเหล่ย</div>
                  </div>
                  <div class="tr">
                    <div class="td index">2</div>
                    <div class="td code">C</div>
                    <div class="td sound-description">จวงลุ้ย</div>
                  </div>-->
                  <!-- ***** Not Found Data ***** -->
                  <!-- <div class="not-found-data-wrapper">
                    <div class="not-found-dara-text">
                      ไม่พบข้อมูล
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="top-right-operator" style="position: absolute; top: -75px; right: 0;"></div>
            <!--<div class="kt-portlet__footer ">
              <div class="kt-pagination  kt-pagination--brand">
                <div class="page-nav">
                  <div class="has-text-centered">
                    <pagination-controls (pageChange)="onChangePage($event, 'paginateSoundMark')"></pagination-controls>
                  </div>

                  <div class="goto-page">
                    <div class="form-group flex">
                      <label class="col-form-label">
                        ไปหน้าที่
                      </label>

                      <input #key_page_input
                             class="form-control input"
                             type="number"
                             min="1"
                             max="{{ getMaxPage('paginateSoundMark') }}"
                             id="page_input"
                             [(ngModel)]="input[key_page_input.id]"
                             (ngModelChange)="
                          onChangePage($event, 'paginateSoundMark')
                        " />
                    </div>
                  </div>
                </div>

                <div class="kt-pagination__toolbar">
                  <select class="form-control kt-font-brand"
                          (change)="
                      onChangePerPage($event.target.value, 'paginateSoundMark')
                    ">
                    <option *ngFor="let perPage of perPageSoundMark"
                            [value]="perPage">
                      {{ perPage }}
                    </option>
                  </select>
                  <span class="pagination__desc">
                    หน้าที่ 1/1 รายการที่ 1-{{
                      paginateSoundMark.itemsPerPage
                    }}
                    / {{ paginateSoundMark.totalItems }}
                  </span>
                </div>
              </div>
            </div>-->
          </div>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</div>

<!-- ***** อ่านแปล ***** -->
<div class="kt-portlet checking-similar-read-translate">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        อ่านแปล
      </h3>
    </div>
    <div class="kt-portlet__head-action">


      <button type="button" class="btn btn-create-new btn-icon"
        (click)="onClickCheckingSimilarWordSoundTranslateSave()">
        <i class="dip-icon-save"></i>
      </button>





      <!--<button class="btn btn-brand btn-toggle">
        <i class="dip-icon-minus"></i>
      </button>-->
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="read-translate-wrapper">

      <!--<div class="read-translate-browse-wrapper">
        <input class="read-translate-browse-input" type="text" disabled />
        <input type="file"
               name="file"
               id="file"
               class="read-translate-browse-file" />
        <label for="file">Browse</label>
        <button class="btn btn-brand button-attached-file">
          แนบเอกสารอ่านแปล
        </button>
      </div>-->

      <div class="read-translate-add-new-button">
        <button class="btn btn-icon" (click)="onClickCheckingSimilarWordSoundTranslateAdd()">
          <i class="dip-icon-add-new"></i>
        </button>
        <button class="btn btn-icon" (click)="onClickCheckingSimilarWordSoundTranslateDelete()">
          <i class="dip-icon-minus"></i>
        </button>
      </div>
    </div>
    <div class="table-read-translate">
      <table>
        <thead>
          <tr class="">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" (click)="onSelectColumnInTable(listWordSoundTranslate, $event.target.checked)" />
                <span></span>
              </label>
            </td>
            <td class="dictionary">พจนานุกรม</td>
            <td class="text-search">คำที่ค้นหา</td>
            <td class="pronunciation">คำอ่าน</td>
            <td class="translation">คำแปล</td>
            <td class="status">สถานะ</td>
          </tr>
        </thead>
        <tbody>
          <tr class="tr body" *ngFor="let row_item of listWordSoundTranslate | myfilter">
            <td class="select">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox" [(ngModel)]="row_item.is_check" />
                <span></span>
              </label>
            </td>

            <td class="dictionary">
              <div class="form-group flex input word_translate_dictionary_code">
                <select class="form-control word_translate_dictionary_code"
                  [(ngModel)]="row_item.word_translate_dictionary_code"
                  [value]="row_item.word_translate_dictionary_code">
                  <option *ngFor="let item of master.checkingWordTranslateDictionaryCodeList" [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>

              <div
                *ngIf="row_item.word_translate_dictionary_code && row_item.word_translate_dictionary_code != '' && row_item.word_translate_dictionary_code != 'OTHERS'">
                <button class="btn btn-brand btn-icon" (click)="onClickCheckingSimilarWordTranslateCapture(row_item)">
                  <i class="dip-icon-duplicate"></i>
                </button>
              </div>

              <div class="form-group flex input" *ngIf="row_item.word_translate_dictionary_code == 'OTHERS'">
                <input class="form-control input word_translate_dictionary_other"
                  id="row_item.word_translate_dictionary_other" [(ngModel)]="row_item.word_translate_dictionary_other"
                  type="text" [value]="row_item.word_translate_dictionary_other">
              </div>
            </td>

            <td class="text-search">
              <div class="form-group flex input">
                <input class="form-control input word_translate_search" id="row_item.word_translate_search"
                  [(ngModel)]="row_item.word_translate_search" type="text" [value]="row_item.word_translate_search">
              </div>
            </td>

            <td class="pronunciation">
              <div class="form-group flex input">
                <input class="form-control input word_translate_sound" id="{{row_item.word_translate_sound}}"
                  type="text" placeholder="" [(ngModel)]="row_item.word_translate_sound"
                  (click)="onClickCheckingSimilarHover(row_item, 'word_translate_sound')"
                  *ngIf="!row_item.word_translate_sound_hover"
                  (change)="binding('input', 'word_translate_sound', $event.target.value, row_item)"
                  [value]="row_item.word_translate_sound">

                <textarea class="form-control textarea word_translate_sound"
                  id="word_translate_sound_{{row_item.index}}" type="text" [(ngModel)]="row_item.word_translate_sound"
                  (clickOutside)="onClickCheckingSimilarHoverOutside(row_item, 'word_translate_sound')"
                  *ngIf="row_item.word_translate_sound_hover" rows="3" placeholder="เพิ่มข้อความ"></textarea>
              </div>
            </td>
            <td class="translation">
              <div class="form-group flex input">
                <input class="form-control input word_translate_translate" id="{{row_item.word_translate_translate}}"
                  type="text" placeholder="" [(ngModel)]="row_item.word_translate_translate"
                  (click)="onClickCheckingSimilarHover(row_item, 'word_translate_translate')"
                  *ngIf="!row_item.word_translate_translate_hover"
                  (change)="binding('input', 'word_translate_translate', $event.target.value, row_item)"
                  [value]="row_item.word_translate_translate">


                <textarea class="form-control textarea word_translate_translate" type="text"
                  id="word_translate_translate_{{row_item.index}}" [(ngModel)]="row_item.word_translate_translate"
                  (clickOutside)="onClickCheckingSimilarHoverOutside(row_item, 'word_translate_translate')"
                  *ngIf="row_item.word_translate_translate_hover" rows="3" placeholder="เพิ่มข้อความ"></textarea>
              </div>
            </td>
            <td class="status">
              <div class="input-wrapper">
                <select class="form-control checking_word_translate_status_code"
                  [(ngModel)]="row_item.checking_word_translate_status_code">
                  <option *ngFor="let item of master.checkingWordTranslateStatusCodeList" [value]="item.code">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </td>
            <td class="edit_delete">
              <!--<i class="dip-icon-edit"
              (click)="onClickCheckingSimilarWordSoundTranslateEdit(row_item)"></i>-->
              <i class="dip-icon-trash" (click)="onClickCheckingSimilarWordSoundTranslateDelete(row_item)"></i>
            </td>



          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ***** ตรวจสอบ ***** -->
<div class="kt-portlet checking-similar-read-translate">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตรวจสอบ
      </h3>
    </div>
    <!--<div class="kt-portlet__head-action">
      <button class="btn btn-brand btn-toggle">
        <i class="dip-icon-minus"></i>
      </button>
    </div>-->
  </div>

  <div class="kt-portlet__body">
    <div class="checking-tabs-wrapper">
      <app-tabs [className]="'checking-tabs'" [navClassName]="'checking-nav-tabs'">
        <app-tab [title]="'สินค้าบริการ'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <div class="kt-portlet__body">
              <div class="service-button-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('PS')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('PS')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('PS',true)">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  รายละเอียด
                </div>
                <div class="checking-detail-form-wrapper">
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_request_number">
                        คำขอเลขที่
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          [(ngModel)]="input.search_1_request_number_start" placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " autocomplete="off" />
                      </div>
                    </div>
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-sm-label">
                        ถึง
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input.search_1_request_number_end" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label"
                             for="search_1_word_mark">
                        เครื่องหมาย
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_word_mark
                               class="form-control input checking-detail-value-field"
                               type="text"
                               id="search_1_word_mark"
                               placeholder="เครื่องหมาย"
                               [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          "
                               [(ngModel)]="input[key_search_1_word_mark.id]"
                               autocomplete="off" />
                      </div>
                    </div>
                  </div>-->
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_people_name">
                        ชื่อเจ้าของ
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_people_name class="form-control input checking-detail-value-field"
                          type="text" id="search_1_people_name" placeholder="ชื่อเจ้าของ" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input[key_search_1_people_name.id]" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="checking-detail-last-form-wrapper">
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label"
                        for="search_1_request_item_sub_type_1_description_text">
                        รายการสินค้า
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_request_item_sub_type_1_description_text
                          class="form-control input checking-detail-value-field" type="text"
                          id="search_1_request_item_sub_type_1_description_text" placeholder="รายการสินค้า" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="
                            input[key_search_1_request_item_sub_type_1_description_text.id]
                          " autocomplete="off" />
                      </div>
                      <!--<i class="dip-icon-fetch"
                       (click)="
                      onClickFetchAutocomplete(
                        'search_1_request_item_sub_type_1_description_text'
                      )"></i>-->
                    </div>
                  </div>
                </div>


                <div class="checking-detail-last-form-wrapper">
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_word_mark">
                        เครื่องหมาย
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_word_mark class="form-control input checking-detail-value-field"
                          type="text" id="search_1_word_mark" placeholder="เครื่องหมาย" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="
                            input[key_search_1_word_mark.id]
                          " autocomplete="off" />
                      </div>
                      <!--<i class="dip-icon-fetch"
                       (click)="
                      onClickFetchAutocomplete(
                        'search_1_word_mark'
                      )"></i>-->
                    </div>
                  </div>
                </div>

              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  เครื่องหมายคำ
                </div>
                <div class="form-group flex">

                  <div class="checking-detail-last-form-wrapper">
                    <div class="form-group flex">
                      <div class="checking-detail-item">
                        <label class="col-form-label checking-detail-label" for="search_1_request_item_sub_type_1_code">
                          จำพวก
                        </label>
                        <div class="input-wrapper checking-detail-value">
                          <input #key_search_1_request_item_sub_type_1_code
                            class="form-control input checking-detail-value-field" type="text"
                            id="search_1_request_item_sub_type_1_code" placeholder="จำพวก" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="
                            input[key_search_1_request_item_sub_type_1_code.id]
                          " autocomplete="off" />
                        </div>
                        <i class="dip-icon-fetch" (click)="
                        onClickFetchAutocomplete(
                          'search_1_request_item_sub_type_1_code'
                        )"></i>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-group flex">

                  <app-autocomplete [title]="'อักษรแรก'" [url]="'/CheckingProcess/WordFirst/List'"
                    (updateBack)="autoCompleteUpdateBack($event, 'search_1_word_first_code')"
                    (updateFetch)="autoCompleteUpdateFetch($event, 'search_1_word_first_code')" [table_count]="3"
                    [column_list]="['code', 'name']" [search_item_per_page]="100" [search_orderby]="'index'"
                    class="text-uppercase">
                  </app-autocomplete>

                  <app-autocomplete [title]="'เสียงท้าย'" [url]="'/CheckingProcess/SoundLast/List'"
                    (updateBack)="autoCompleteUpdateBack($event, 'search_1_word_sound_last_code')"
                    (updateFetch)="autoCompleteUpdateFetch($event, 'search_1_word_sound_last_code')" [table_count]="10"
                    [column_list]="['code']" [search_item_per_page]="1000" [search_orderby]="'index'">
                  </app-autocomplete>

                  <app-autocomplete [title]="'เสียงท้ายอีน'" [url]="'/CheckingProcess/SoundLastOther/List'"
                    (updateBack)="autoCompleteUpdateBack($event, 'search_1_word_sound_last_other_code')"
                    (updateFetch)="autoCompleteUpdateFetch($event, 'search_1_word_sound_last_other_code')"
                    [table_count]="3" [column_list]="['code', 'name']" [search_item_per_page]="100"
                    [search_orderby]="'index'" class="text-uppercase">
                  </app-autocomplete>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_1_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_1_word_mark">
                      คำเหมือนคล้าย
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input #key_search_1_1_word_mark id="search_1_1_word_mark"
                        class="form-control input checking-detail-value-field text-uppercase" type="text"
                        placeholder="คำเหมือนคล้าย" [(ngModel)]="input[key_search_1_1_word_mark.id]" autocomplete="off"
                        (input)="
                          onChangeAutocomplete(
                            'input',
                            key_search_1_1_word_mark.id
                          )
                        " />

                      <table class="div_autocomplete" *ngIf="isShowAutocomplete[key_search_1_1_word_mark.id]"
                        (clickOutside)="
                        onClickOutsideAutocomplete(key_search_1_1_word_mark.id)
                      ">
                        <tr *ngFor="
                          let autocomplete of autocompleteList[
                            key_search_1_1_word_mark.id
                          ]
                        " (click)="
                          onSelectAutocomplete(
                            key_search_1_1_word_mark.id,
                            autocomplete
                          )
                        ">
                          <td>
                            {{ autocomplete.code }}
                          </td>
                        </tr>
                      </table>
                    </div>
                    <i class="dip-icon-fetch" (click)="
                        onClickFetchAutocomplete(key_search_1_1_word_mark.id)
                      "></i>
                  </div>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_2_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_2_word_syllable_sound">
                      เสียงพ้องพยางค์
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input #key_search_1_2_word_syllable_sound id="search_1_2_word_syllable_sound"
                        class="form-control input checking-detail-value-field" type="text" placeholder="เสียงพ้องพยางค์"
                        [(ngModel)]="
                          input[key_search_1_2_word_syllable_sound.id]
                        " autocomplete="off" (input)="
                          onChangeAutocomplete(
                            'input',
                            key_search_1_2_word_syllable_sound.id
                          )
                        " />
                    </div>
                    <i class="dip-icon-fetch" (click)="
                        onClickFetchAutocomplete(
                          key_search_1_2_word_syllable_sound.id
                        )
                      "></i>
                    <table class="div_autocomplete" *ngIf="
                        isShowAutocomplete[
                          key_search_1_2_word_syllable_sound.id
                        ]
                      " (clickOutside)="
                        onClickOutsideAutocomplete(
                          key_search_1_2_word_syllable_sound.id
                        )
                      ">
                      <tr *ngFor="
                          let autocomplete of autocompleteList[
                            key_search_1_2_word_syllable_sound.id
                          ]
                        " (click)="
                          onSelectAutocomplete(
                            key_search_1_2_word_syllable_sound.id,
                            autocomplete
                          )
                        ">
                        <td>
                          {{ autocomplete.code }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header" for="search_1_word_first_code">
                  เครื่องหมายรูป
                </div>

                <app-autocomplete [url]="'/CheckingProcess/ImageType/List'"
                  (updateBack)="autoCompleteUpdateBack($event, 'search_1_document_classification_image_code')"
                  (updateFetch)="autoCompleteUpdateFetch($event, 'search_1_document_classification_image_code')"
                  [column_search_list]="['code', 'name']" [column_list]="['code', 'name']" [column_show]="'none'"
                  [search_item_per_page]="5" [search_orderby]="'index'">
                </app-autocomplete>

                <div class="button-right-wrapper">
                  <button class="btn btn-icon">
                    <i class="dip-icon-minus" (click)="onClickCheckingSimilarImageDelete()"></i>
                  </button>
                </div>
                <div class="table-checking-tabs-wrapper">
                  <div class="table-checking-tabs">
                    <div class="table table-image-sign">
                      <div class="table-inner">
                        <div class="tr header">
                          <div class="td select">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"
                                (click)="onSelectColumnInTable(documentClassificationImageList, $event.target.checked)" />
                              <span></span>
                            </label>
                          </div>
                          <div class="td index">#</div>
                          <div class="td code">รหัส</div>
                          <div class="td image-description">คำบรรยายรูป</div>
                        </div>
                        <div class="tr body" *ngFor="let row_item of documentClassificationImageList | myfilter">
                          <div class="td select">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox" [(ngModel)]="row_item.is_check" />
                              <span></span>
                            </label>
                          </div>

                          <div class="td index">{{row_item.index}}</div>
                          <div class="td code">{{row_item.document_classification_image_code}}</div>
                          <div class="td image-description">{{row_item.document_classification_image_name}}</div>
                        </div>
                        <div class="not-found-data-wrapper">
                          <div class="not-found-dara-text">
                            ไม่พบข้อมูล
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="radio-button-wrapper">
                    <div class="radio-button" (click)="input.search_1_document_classification_image_condition = 'AND'">
                      <input name="search_1_document_classification_image_condition" type="radio"
                        [checked]="input.search_1_document_classification_image_condition == 'AND'"
                        (click)="binding('input', 'search_1_document_classification_image_condition', 'AND')"
                        checked="checked" />
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        และ
                      </label>
                    </div>
                    <div class="radio-button" (click)="input.search_1_document_classification_image_condition = 'OR'">
                      <input name="search_1_document_classification_image_condition" type="radio"
                        [checked]="input.search_1_document_classification_image_condition == 'OR'"
                        (click)="binding('input', 'search_1_document_classification_image_condition', 'OR')" />
                      <label class="kt-radio kt-radio--bold kt---brand">
                        หรือ
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checking-tabs-panel-wrapper checking-tabs-panel-last">
                <div class="checking-tabs-panel-header">
                  เครื่องหมายเสียง
                </div>


                <app-autocomplete [url]="'/CheckingProcess/SoundType/List'"
                  (updateBack)="autoCompleteUpdateBack($event, 'search_1_document_classification_sound_code')"
                  (updateFetch)="autoCompleteUpdateFetch($event, 'search_1_document_classification_sound_code')"
                  [column_list]="['name']" [column_show]="'none'" [search_item_per_page]="5" [search_orderby]="'index'">
                </app-autocomplete>

                <div class="button-right-wrapper">
                  <button class="btn btn-icon">
                    <i class="dip-icon-minus" (click)="onClickCheckingSimilarSoundDelete()"></i>
                  </button>
                </div>
                <div class="table-checking-tabs-wrapper">
                  <div class="table-checking-tabs">
                    <div class="table table-sound-sign">
                      <div class="table-inner">
                        <div class="tr header">
                          <div class="td select">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"
                                (click)="onSelectColumnInTable(documentClassificationSoundList, $event.target.checked)" />
                              <span></span>
                            </label>
                          </div>
                          <div class="td index">#</div>
                          <div class="td code">รหัส</div>
                          <div class="td sound-description">คำบรรยายเสียง</div>
                        </div>

                        <div class="tr body" *ngFor="let row_item of documentClassificationSoundList | myfilter">
                          <div class="td select">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox" [(ngModel)]="row_item.is_check" />
                              <span></span>
                            </label>
                          </div>

                          <div class="td index">{{row_item.index}}</div>
                          <div class="td code">{{row_item.document_classification_sound_code}}</div>
                          <div class="td sound-description">{{row_item.document_classification_sound_name}}</div>
                        </div>
                        <div class="not-found-data-wrapper">
                          <div class="not-found-dara-text">
                            ไม่พบข้อมูล
                          </div>
                        </div>

                        <!--<div class="tr">
                          <div class="td index">1</div>
                          <div class="td code">C01234</div>
                          <div class="td sound-description">จวงเหล่ย</div>
                        </div>
                        <div class="tr">
                          <div class="td index">2</div>
                          <div class="td code">C</div>
                          <div class="td sound-description">จวงลุ้ย</div>
                        </div>-->
                        <!-- ***** Not Found Data ***** -->
                        <!-- <div class="not-found-data-wrapper">
                          <div class="not-found-dara-text">
                            ไม่พบข้อมูล
                          </div>
                        </div> -->
                      </div>
                    </div>
                    <!-- pagination -->
                    <!--<div class="kt-pagination kt-pagination--brand">
                      <div class="page-nav">
                        <div class="has-text-centered">
                          <pagination-controls (pageChange)="
                              onChangePage($event, 'paginateWordSoundTranslate')
                            ">
                          </pagination-controls>
                        </div>

                        <div class="goto-page">
                          <div class="form-group flex">
                            <label class="col-form-label">
                              ไปหน้าที่
                            </label>

                            <input #key_page_input
                                   class="form-control input"
                                   type="number"
                                   min="1"
                                   max="{{
                                getMaxPage('paginateWordSoundTranslate')
                              }}"
                                   id="page_input"
                                   [(ngModel)]="input[key_page_input.id]"
                                   (ngModelChange)="
                                onChangePage(
                                  $event,
                                  'paginateWordSoundTranslate'
                                )
                              " />
                          </div>
                        </div>
                      </div>

                      <div class="kt-pagination__toolbar">
                        <select class="form-control kt-font-brand"
                                (change)="
                            onChangePerPage(
                              $event.target.value,
                              'paginateWordSoundTranslate'
                            )
                          ">
                          <option *ngFor="let perPage of perPageWordSoundTranslate"
                                  [value]="perPage">
                            {{ perPage }}
                          </option>
                        </select>
                        <span class="pagination__desc">
                          หน้าที่ 1/1 รายการที่ 1-{{
                            paginateWordSoundTranslate.itemsPerPage
                          }}
                          /
                          {{ paginateWordSoundTranslate.totalItems }}
                        </span>
                      </div>
                    </div>-->
                  </div>
                  <div class="radio-button-wrapper">
                    <div class="radio-button" (click)="input.search_1_document_classification_sound_condition = 'AND'">
                      <input name="search_1_document_classification_sound_condition" type="radio"
                        [checked]="input.search_1_document_classification_sound_condition == 'AND'"
                        (click)="binding('input', 'search_1_document_classification_sound_condition', 'AND')"
                        checked="checked" />
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        และ
                      </label>
                    </div>
                    <div class="radio-button" (click)="input.search_1_document_classification_sound_condition = 'OR'">
                      <input name="search_1_document_classification_sound_condition" type="radio"
                        [checked]="input.search_1_document_classification_sound_condition == 'OR'"
                        (click)="binding('input', 'search_1_document_classification_sound_condition', 'OR')" />
                      <label class="kt-radio kt-radio--bold kt-radio--brand">
                        หรือ
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-button-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('PS')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('PS')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('PS',true)">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>
              </div>
            </div>
          </div>
        </app-tab>
        <app-tab [title]="'เภสัชสากล'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <div class="kt-portlet__body">
              <div class="service-button-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('IP')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <!--<button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('IP')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchSoundList('IP',true)">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>-->
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  รายละเอียด
                </div>
                <div class="checking-detail-form-wrapper">
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_request_number">
                        เลขที่เครื่องหมาย
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input.search_1_request_number_start" autocomplete="off" />
                      </div>
                    </div>
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-sm-label">
                        ถึง
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input.search_1_request_number_end" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_people_name">
                        ชื่อเจ้าของ
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_people_name class="form-control input checking-detail-value-field"
                          type="text" id="search_1_people_name" placeholder="ชื่อเจ้าของ" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input[key_search_1_people_name.id]" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  เครื่องหมายคำ
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_first_code">
                      อักษรแรก
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input #key_search_1_word_first_code2
                        class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" id="search_1_word_first_code" placeholder="อักษรแรก" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input[key_search_1_word_first_code2.id]" autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_sound_last_code">
                      เสียงท้าย
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input #key_search_1_word_sound_last_code
                        class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" id="search_1_word_sound_last_code" placeholder="เสียงท้าย" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="
                          input[key_search_1_word_sound_last_code.id]
                        " autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_sound_last_other_code">
                      เสียงท้ายอีน
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" placeholder="เสียงท้ายอีน" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_word_sound_last_other_code" autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_1_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_1_word_mark">
                      คำเหมือนคล้าย
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input class="form-control input checking-detail-value-field" type="text"
                        placeholder="คำเหมือนคล้าย" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_1_word_mark" autocomplete="off" />
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_2_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_2_word_syllable_sound">
                      เสียงพ้องพยางค์
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input class="form-control input checking-detail-value-field" type="text"
                        placeholder="เสียงพ้องพยางค์" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_2_word_syllable_sound" autocomplete="off" />
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
              </div>
              <div class="service-button-footer-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('IP')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <!--<button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('IP')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchSoundList('IP',true)">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>-->
              </div>
            </div>
          </div>
        </app-tab>
        <app-tab [title]="'ราชการ/องค์กร'" style="position: relative; display: block;">
          <div class="kt-portlet">
            <div class="kt-portlet__body">
              <div class="service-button-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('GO')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('GO')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <!--<button type="button"
                        class="btn btn-brand button-service"
                        (click)="onClickCheckingSimilarSearchSoundList('GO',true)">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>-->
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  รายละเอียด
                </div>
                <div class="checking-detail-form-wrapper">
                  <div class="form-group flex">
                    <div class="checking-detail-item checking-detail-condition-wrapper">
                      <label class="col-form-label checking-detail-label">
                        ประเภทเครื่องหมาย
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                        <select class="checking-detail-condition">
                          <option>ราชการ</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_request_number">
                        เลขที่เครื่องหมาย
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input.search_1_request_number_start" autocomplete="off" />
                      </div>
                    </div>
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-sm-label">
                        ถึง
                      </label>
                      <div class="input-wrapper checking-detail-value checking-detail-md-field">
                        <input class="form-control input checking-detail-value-field" type="text"
                          placeholder="คำขอเลขที่" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input.search_1_request_number_end" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group flex">
                    <div class="checking-detail-item">
                      <label class="col-form-label checking-detail-label" for="search_1_people_name">
                        ชื่อเจ้าของ
                      </label>
                      <div class="input-wrapper checking-detail-value">
                        <input #key_search_1_people_name class="form-control input checking-detail-value-field"
                          type="text" id="search_1_people_name" placeholder="ชื่อเจ้าของ" [ngClass]="
                            isSubmited
                              ? isValid
                                ? 'is-valid'
                                : 'is-invalid'
                              : null
                          " [(ngModel)]="input[key_search_1_people_name.id]" autocomplete="off" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checking-tabs-panel-wrapper">
                <div class="checking-tabs-panel-header">
                  เครื่องหมายคำ
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_first_code">
                      อักษรแรก
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input #key_search_1_word_first_code3
                        class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" id="search_1_word_first_code" placeholder="อักษรแรก" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input[key_search_1_word_first_code3.id]" autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_sound_last_code">
                      เสียงท้าย
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input #key_search_1_word_sound_last_code
                        class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" id="search_1_word_sound_last_code" placeholder="เสียงท้าย" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="
                          input[key_search_1_word_sound_last_code.id]
                        " autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label" for="search_1_word_sound_last_other_code">
                      เสียงท้ายอีน
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-md-field">
                      <input class="form-control input checking-detail-value-field checking-detail-value-search-icon"
                        type="text" placeholder="เสียงท้ายอีน" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_word_sound_last_other_code" autocomplete="off" />
                      <i class="dip-icon-search"></i>
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_1_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_1_word_mark">
                      คำเหมือนคล้าย
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input class="form-control input checking-detail-value-field" type="text"
                        placeholder="คำเหมือนคล้าย" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_1_word_mark" autocomplete="off" />
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
                <div class="form-group flex">
                  <div class="checking-detail-item checking-detail-condition-wrapper">
                    <label class="col-form-label checking-detail-label">
                      เงื่อนไข
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-condition-field">
                      <select class="checking-detail-condition" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_2_word_samecondition_code" (change)="
                          binding(
                            'input',
                            'checking_word_same_condition_code',
                            $event.target.value
                          )
                        ">
                        <option *ngFor="
                            let item of master.checkingWordSameConditionCodeList
                          " [value]="item.code">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="checking-detail-item">
                    <label class="col-form-label checking-detail-label" for="search_1_2_word_syllable_sound">
                      เสียงพ้องพยางค์
                    </label>
                    <div class="input-wrapper checking-detail-value checking-detail-lg-field">
                      <input class="form-control input checking-detail-value-field" type="text"
                        placeholder="เสียงพ้องพยางค์" [ngClass]="
                          isSubmited
                            ? isValid
                              ? 'is-valid'
                              : 'is-invalid'
                            : null
                        " [(ngModel)]="input.search_1_2_word_syllable_sound" autocomplete="off" />
                    </div>
                    <i class="dip-icon-fetch"></i>
                  </div>
                </div>
              </div>
              <div class="service-button-footer-wrapper">
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchTransactionList('GO')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรายการ
                </button>
                <button type="button" class="btn btn-brand button-service"
                  (click)="onClickCheckingSimilarSearchImageList('GO')">
                  <i class="dip-icon-search"></i>
                  แสดงตามรูป
                </button>
                <!--<button type="button"
                        class="btn btn-brand button-service"
                        (click)="onClickCheckingSimilarSearchSoundList()">
                  <i class="dip-icon-search"></i>
                  แสดงตามเสียง
                </button>-->
              </div>
            </div>
          </div>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</div>

<!--<div class="div_popup" *ngIf="popup.is_translate_dictionary_show">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <iframe id="pdf"
            frameborder="0"
            scrolling="no"
            seamless=""
            allowfullscreen="allowfullscreen"
            style="width:100%;height:700px"
            [src]="url"></iframe>
  </div>
</div>-->

<div class="div_popup" *ngIf="popup.is_image_show" (click)="popup.is_image_show = false">
  <div class="div_popup_background">
  </div>
  <div class="div_popup_body">
    <img src="{{popup.image_src}}" />
  </div>
</div>


<div class="div_popup" *ngIf="popup.is_product_show">
  <div class="div_popup_background" (click)="popup.is_product_show = false">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">
      <table>
        <thead>
          <tr class="">
            <td>#</td>
            <td>จำพวก</td>
            <td>รายการสินค้า</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row_item of input.product_list">
            <td>
              {{row_item.index}}
            </td>
            <td>
              {{row_item.request_item_sub_type_1_code}}
            </td>
            <td>
              {{row_item.description}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="kt-portlet__footer">
      <app-paging [paginate]="paginatePopupProduct" (onClickList)="onClickPopupProductList()"></app-paging>
    </div>
  </div>
</div>