<div class="kt-portlet checking-similar-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ค้นหารายการข้อมูล
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button class="btn btn-brand btn-toggle">
        <i class="dip-icon-minus"></i>
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner checking-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label"
                   for="request_start_date">วันที่ยื่นคำขอ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_start_date
                         id="request_start_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_request_start_date"
                         (click)="picker_request_start_date.open()"
                         [(ngModel)]="input[key_request_start_date.id]"
                         (dateChange)="clearValidate(key_request_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="request_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix
                                       [for]="picker_request_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_request_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_start_date.id]"
                     class="invalid-feedback">
                  {{validate[key_request_start_date.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label"
                   for="request_number">เลขที่คำขอ</label>
            <div class="input-wrapper">
              <input #key_request_number
                     class="form-control input"
                     type="text"
                     id="request_number"
                     placeholder="เลขที่คำขอ"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]"
                     class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="kt-portlet__body__inner checking-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะงาน
            </label>
            <div class="input-wrapper">
              <select #key_checking_receive_status_code
                      class="form-control"
                      id="checking_receive_status_code"
                      [(ngModel)]="input[key_checking_receive_status_code.id]"
                      (change)="binding('input', 'checking_receive_status_code', $event.target.value)"
                      [value]="input.checking_receive_status_code">
                <option *ngFor="let item of master.checkingReceiveStatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_checking_receive_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_checking_receive_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner checking-similar-lister">
          <div class="form-group flex">
            <label class="col-form-label"
                   for="request_end_date">ถึง</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_end_date
                         id="request_end_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker_request_end_date"
                         (click)="picker_request_end_date.open()"
                         [(ngModel)]="input[key_request_end_date.id]"
                         (dateChange)="clearValidate(key_request_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="request_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix
                                       [for]="picker_request_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_request_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_end_date.id]"
                     class="invalid-feedback">
                  {{validate[key_request_end_date.id]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner checking-similar-lister">
          <div class="form-group flex status-button-all-wrapper">
            <!--<div class="status-button-wrapper">
              <button type="button"
                      (click)="onClickALLList()"
                      class="status-button status-all-button">
                <div class="status-title">งานทั้งหมด</div>
                <div class="status-number">{{responseStatistic["ALL"] || 0}}</div>
              </button>
            </div>-->
            <div class="status-button-wrapper">
              <button type="button"
                      (click)="onClickWaitDoneList()"
                      class="status-button status-waiting-button">
                <div class="status-title">รอดำเนินการ</div>
                <div class="status-number">{{responseStatistic["WAIT_DONE"] || 0}}</div>
              </button>
            </div>
            <div class="status-button-wrapper">
              <button type="button"
                      (click)="onClickWaitChangeList()"
                      class="status-button status-edit-button">
                <div class="status-title">รอแก้ไข</div>
                <div class="status-number">{{responseStatistic["WAIT_CHANGE"] || 0}}</div>
              </button>
            </div>
            <div class="status-button-wrapper">
              <button type="button"
                      (click)="onClickDoneList()"
                      class="status-button status-success-button">
                <div class="status-title">ส่งงานแล้ว</div>
                <div class="status-number">{{responseStatistic["DONE"] || 0}}</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <div class="kt-portlet__footer-button-wrapper">
      <div class="footer-button-wrapper-item"></div>
      <button type="button"
              class="btn btn-brand kt-portlet__footer-button"
              (click)="onClickCheckingSimilarList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-white kt-portlet__footer-button"
              (click)="onClickReset()">
        <!-- <i class="dip-icon-close"></i> -->
        ยกเลิก
      </button>
    </div>

    <button type="button"
            class="btn btn-brand"
            (click)="onClickCheckingSimilarRequestItemSubTypeReport()">
      รายงานจำพวกเหมือนคล้าย
    </button>
  </div>
</div>
<div class="kt-portlet checking-similar-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางตรวจสอบคำเหมือน/คล้าย
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_2">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="oneWayDataCheckboxAllBinding(listCheckingSimilar, $event.target.checked)" />
              <span></span>
            </label>
          </div>
          <div class="td index">#</div>
          <div class="td request_number">เลขที่คำขอ</div>
          <div class="td name">ชื่อเจ้าของ</div>
          <div class="td request_date_text">วันที่ยื่นคำขอ</div>
          <div class="td request_item_sub_type_1_name">จำพวก</div>
          <div class="td checking_receive_date_text">วันที่รับงาน</div>
          <div class="td checking_receive_status_name">สถานะงาน</div>
          <div class="td request_image">รูป</div>
          <div class="td request_sound">เสียง</div>
          <div class="td checking_send_date_text">วันที่ส่งงาน</div>
          <div class="td checking_remark">หมายเหตุ</div>
          <!--<div class="td checking">ตรวจสอบ</div>-->
        </div>
        <div class="tr"
             *ngFor="let row_item of listCheckingSimilar | myfilter | paginate: paginateCheckingSimilar; index as i">
          <div class="td select"><label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label"><input type="checkbox" (click)="oneWayDataBinding('is_check', $event.target.checked, row_item)" [checked]="row_item.is_check" /><span></span></label></div>
          <div class="td index" (click)="onClickCheckingSimilarEdit(row_item)">
            {{
              paginateCheckingSimilar.itemsPerPage * paginateCheckingSimilar.currentPage -
              paginateCheckingSimilar.itemsPerPage +
                (i + 1)
            }}
          </div>
          <div class="td request_number" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.request_number}}</div>
          <div class="td name" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.name}}</div>
          <div class="td request_date_text" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.request_date_text}}</div>
          <div class="td request_item_sub_type_1_name" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.request_item_sub_type_1_code_text}}</div>
          <div class="td checking_receive_date_text" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.checking_receive_date_text}}</div>
          <div class="td checking_receive_status_name" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.checking_receive_status_name}}</div>
          <div class="td request_image" (click)="onClickCheckingSimilarEdit(row_item)">
            <div class="td_file_trademark_2d"
                 *ngIf="row_item.file_trademark_2d && row_item.file_trademark_2d != ''"
                 [ngStyle]="{'background-image': 'url(' + row_item.file_trademark_2d + ')'}">

            </div>
          </div>
          <div class="td request_sound">
            <div *ngIf="row_item.sound_file_physical_path && row_item.sound_file_physical_path != ''" class="bx-box-picture">
              <i [className]="
                        row_item.player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                 (click)="togglePlayer(row_item)"></i>
            </div>
          </div>


          <div class="td checking_send_date_text" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.checking_send_date_text}}</div>
          <div class="td checking_remark" (click)="onClickCheckingSimilarEdit(row_item)">{{row_item.checking_remark}}</div>
          <!--<div class="td checking">
            <i class="dip-icon-search"
               (click)="onClickCheckingSimilarEdit(row_item)"></i>
          </div>-->
        </div>
        <div class="not-found-data-wrapper">
          <div class="not-found-dara-text">
            ไม่พบข้อมูล
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateCheckingSimilar"
                (onClickList)="onClickCheckingSimilarList()"></app-paging>
  </div>
</div>
