:host .kt-portlet {
  font-size: 16px;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-weight: 400;
}

:host .kt-portlet .col-form-label {
  margin: 0 10px;
  min-width: 165px;
}

:host .kt-portlet .input-wrapper {
  margin: 0 10px;
}

:host app-tabs.ng-star-inserted[modal_tab] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet--background {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

:host app-tabs.ng-star-inserted[modal_tab] .kt-portlet {
  width: 1330px;
  display: block;
  margin: 0 auto;
}

:host .div_autocomplete {
  color: #6D6E71;
  position: absolute;
  background: #fff;
  border: 1px solid #e2e5ec;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 18px 0px #e2e5ec;
  z-index: 1;
}

:host .div_autocomplete tr {
  line-height: 60px;
}

:host .div_autocomplete tr:hover {
  background-color: #F4F5F8;
}

:host .div_autocomplete tr td {
  padding: 0 12px;
}

:host .table-inner input.form-control,
:host .table-inner select.form-control {
  width: 100%;
}

:host .table-inner .dip-icon-edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-edit:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .table-inner .dip-icon-trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .table-inner .dip-icon-trash:hover {
  color: #C31D1D;
  cursor: pointer;
}

:host .hide {
  display: none;
}

:host .btn-create-new + .btn-danger {
  margin-left: 10px;
}

:host input.form-control,
:host select.form-control {
  width: 240px;
}

:host .tab-pane {
  position: relative;
}

:host .tab-pane .top-right-operator {
  position: absolute;
  right: 0;
  top: -75px;
}

:host .tab-pane .top-right-operator .btn {
  margin-left: 10px;
}

:host .tab-pane .top-right-operator .btn:first-child {
  margin-left: 0;
}

:host .tab-pane .empty-list {
  display: flex;
  justify-content: center;
  background-color: #F4F5F8;
  width: 100%;
  min-height: 65px;
  align-items: center;
}

:host .tab-pane .empty-list .btn {
  margin: 0 10px;
}

:host .kt-portlet__head-action > * + button {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + input {
  margin-left: 15px;
}

:host .kt-portlet__head-action > * + label {
  margin-left: 15px;
}

:host .mat-input-element {
  border: 1px solid #e2e5ec;
}

:host .kt-portlet__body__inner .form-group > * + button {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + span {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group > * + label {
  margin-left: 15px;
}

:host .kt-portlet__body__inner .form-group .input-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet__body__inner .form-group .input-date + button {
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search {
  flex: 0 0 3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

:host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host .kt-portlet span {
  font-family: "Noto Sans Thai", "Noto Sans";
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-weight: normal;
  color: #6d6e71;
}

:host .table .td input {
  width: 100%;
}

:host .table .td.checking > a {
  padding: 4px 8px;
}

:host .table .td.checking > a + a {
  margin-left: 8px;
}

:host .table a {
  color: #0c84c8;
  text-decoration: underline;
}

:host .table .icon {
  height: 16px;
  width: auto;
}

:host .table .select {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .delete {
  flex: 0 0 40px;
  max-width: 40px;
  justify-content: center;
  text-align: center;
}

:host .table .checking {
  flex: 0 0 95px;
  max-width: 95px;
  justify-content: center;
  text-align: center;
}

:host .table .checking .dip-icon-search:before {
  color: #0C84C8;
}

:host .table.table_2 .index {
  flex: 0 0 50px;
  max-width: 50px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_number {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .name {
  flex: 0 0 250px;
  max-width: 250px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_date_text {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_item_sub_type_1_name {
  flex: 0 0 100px;
  max-width: 100px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .checking_receive_date_text {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .checking_receive_status_name {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_image {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .request_sound {
  flex: 0 0 80px;
  max-width: 80px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .checking_send_date_text {
  flex: 0 0 120px;
  max-width: 120px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .checking_remark {
  flex: 0 0 200px;
  max-width: 200px;
  justify-content: center;
  text-align: center;
}

:host .table.table_2 .list {
  flex: 0 0 idpx;
  max-width: idpx;
  justify-content: center;
  text-align: center;
}

:host .kt-portlet__footer-button-wrapper {
  display: flex;
}

:host .kt-portlet__footer-button-wrapper .kt-portlet__footer-button {
  margin-right: 10px;
}

:host .kt-portlet__footer-button-wrapper .footer-button-wrapper-item {
  min-width: calc(165px + 20px + (0.65rem + 1px));
}

:host .status-button-all-wrapper {
  margin-left: 25px;
}

:host .status-button-all-wrapper .status-button-wrapper {
  margin-right: 10px;
}

:host .status-button-all-wrapper .status-button-wrapper:last-child {
  margin-right: 0;
}

:host .status-button-all-wrapper .status-button-wrapper .status-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 20px;
  width: 150px;
}

:host .status-button-all-wrapper .status-button-wrapper .status-all-button {
  background-color: #E6F1FF;
  color: #0C84C8;
}

:host .status-button-all-wrapper .status-button-wrapper .status-waiting-button {
  background-color: #FFF0E5;
  color: #FF7000;
}

:host .status-button-all-wrapper .status-button-wrapper .status-edit-button {
  background-color: #FEEDF0;
  color: #F4516C;
}

:host .status-button-all-wrapper .status-button-wrapper .status-success-button {
  background-color: #E9FBF5;
  color: #20C99A;
}

:host .status-button-all-wrapper .status-button-wrapper .status-title {
  font-family: 'Noto Sans Thai';
  font-size: 20px;
  font-weight: 500;
}

:host .status-button-all-wrapper .status-button-wrapper .status-number {
  font-family: 'Noto Sans';
  font-size: 30px;
  font-weight: 500;
}

:host .btn-toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
}

:host .btn-toggle .dip-icon-minus {
  padding: 0;
}

:host .btn-toggle .dip-icon-minus:before {
  font-size: 14px;
}

:host .not-found-data-wrapper {
  width: 100%;
  height: 50px;
  background-color: #F4F5F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .not-found-data-wrapper .not-found-dara-text {
  font-family: 'Noto Sans Thai';
  font-size: 16px;
  color: #6D6E71;
}

:host .form-row {
  justify-content: space-between;
}

@media (max-width: 1280px) {
  :host .kt-portlet .col-form-label {
    margin: 0 10px;
    min-width: 145px;
  }
  :host .kt-portlet__footer-button-wrapper .footer-button-wrapper-item {
    min-width: calc(145px + 20px + (0.65rem + 1px));
  }
  :host input.form-control,
:host select.form-control {
    width: 210px;
  }
}
