:host {
  .kt-portlet {
    font-size: 16px;
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-weight: 400;

    .col-form-label {
      margin: 0 10px;
      min-width: 165px;
    }

    .input-wrapper {
      margin: 0 10px;
    }
  }


  table {
    border-collapse: collapse;
    color: #626366;
    width: fit-content;

    thead {
      font-weight: bold;
    }

    td {
      padding: 15px 8px 10px;
      text-align: center;
    }

    tbody {
      tr {
        &:nth-child(2n-1) {
          background-color: #F4F5F8;
        }
      }

      td {
        & > * {
          display: inline-flex;
        }

        input {
          width: 50px;
        }

        &.edit_delete, &.delete {
          .dip-icon-edit, .dip-icon-trash {
            margin: 0 5px;

            &:hover {
              color: #C31D1D;
              cursor: pointer;
            }
          }
        }
      }
    }
  }


  app-tabs.ng-star-inserted[modal_tab] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;

    .kt-portlet--background {
      width: 100%;
      height: 100%;
      background-color: #aaa;
    }

    .kt-portlet {
      width: 1330px;
      display: block;
      margin: 0 auto;
    }
  }

  .div_autocomplete {
    color: #6D6E71;
    position: absolute;
    background: #fff;
    border: 1px solid #e2e5ec;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 18px 0px #e2e5ec;
    z-index: 1;

    tr {
      line-height: 60px;

      &:hover {
        background-color: #F4F5F8;
      }

      td {
        padding: 0 12px;
      }
    }
  }

  .table-inner {

    input.form-control,
    select.form-control {
      width: 100%;
    }

    .dip-icon-edit {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }

    .dip-icon-trash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #C31D1D;
        cursor: pointer;
      }
    }
  }

  .hide {
    display: none;
  }

  .btn-create-new {
    & + .btn-danger {
      margin-left: 10px;
    }
  }

  input.form-control,
  select.form-control {
    width: 240px;
  }

  .tab-pane {
    position: relative;

    .top-right-operator {
      position: absolute;
      right: 0;
      top: -75px;

      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .empty-list {
      display: flex;
      justify-content: center;
      background-color: #F4F5F8;
      width: 100%;
      min-height: 65px;
      align-items: center;

      .btn {
        margin: 0 10px;
      }
    }
  }

  .kt-portlet__head-action {
    & > * + button {
      margin-left: 15px;
    }

    & > * + input {
      margin-left: 15px;
    }

    & > * + label {
      margin-left: 15px;
    }
  }

  .mat-input-element {
    border: 1px solid rgb(226, 229, 236);
  }

  .kt-portlet__body__inner {
    .form-group {
      & > * + button {
        margin-left: 15px;
      }

      & > * + span {
        margin-left: 15px;
      }

      & > * + label {
        margin-left: 15px;
      }

      & .input-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & + button {
          margin-left: 0;
        }
      }

      & > button.btn-input-search {
        flex: 0 0 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;

        .input {
          flex: 1 1 auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  .table {
    .td {
      input {
        width: 100%;
      }

      &.checking {
        i.dip-icon-search {
          cursor: pointer;
        }

        & > a {
          padding: 4px 8px;

          & + a {
            margin-left: 8px;
          }
        }
      }
    }

    a {
      color: #0c84c8;
      text-decoration: underline;
    }

    .icon {
      height: 16px;
      width: auto;
    }

    .select {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .delete {
      flex: 0 0 40px;
      max-width: 40px;
      justify-content: center;
      text-align: center;
    }

    .checking {
      flex: 0 0 95px;
      max-width: 95px;
      justify-content: center;
      text-align: center;

      .dip-icon-search {
        &:before {
          color: #0C84C8;
        }
      }
    }

    &.table_2 {
      .ng-star-inserted {
        & + .not-found-data-wrapper {
          display: none;
        }
      }

      .index {
        flex: 0 0 50px;
        max-width: 50px;
        justify-content: center;
        text-align: center;
      }

      .request_number {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .name {
        flex: 0 0 250px;
        max-width: 250px;
        justify-content: center;
        text-align: center;
      }

      .request_date_text {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .request_item_sub_type_1_name {
        flex: 0 0 100px;
        max-width: 100px;
        justify-content: center;
        text-align: center;
      }

      .checking_receive_date_text {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .checking_receive_status_name {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .request_image {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .request_sound {
        flex: 0 0 80px;
        max-width: 80px;
        justify-content: center;
        text-align: center;
      }

      .checking_send_date_text {
        flex: 0 0 120px;
        max-width: 120px;
        justify-content: center;
        text-align: center;
      }

      .checking_remark {
        flex: 0 0 200px;
        max-width: 200px;
        justify-content: center;
        text-align: center;
      }

      .list {
        flex: 0 0 idpx;
        max-width: idpx;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .kt-portlet__footer-button-wrapper {
    display: flex;

    .kt-portlet__footer-button {
      margin-right: 10px;
    }

    .footer-button-wrapper-item {
      min-width: calc(165px + 20px + (0.65rem + 1px));
    }
  }

  .status-button-all-wrapper {
    margin-left: 25px;

    .status-button-wrapper {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .status-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-width: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        padding: 20px;
        width: 150px;
      }

      .status-all-button {
        background-color: #E6F1FF;
        color: #0C84C8;
      }

      .status-waiting-button {
        background-color: #FFF0E5;
        color: #FF7000;
      }

      .status-edit-button {
        background-color: #FEEDF0;
        color: #F4516C;
      }

      .status-success-button {
        background-color: #E9FBF5;
        color: #20C99A;
      }

      .status-title {
        font-family: 'Noto Sans Thai';
        font-size: 20px;
        font-weight: 500;
      }

      .status-number {
        font-family: 'Noto Sans';
        font-size: 30px;
        font-weight: 500;
      }
    }
  }

  .btn-toggle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;

    .dip-icon-minus {
      padding: 0;

      &:before {
        font-size: 14px;
      }
    }
  }

  .not-found-data-wrapper {
    width: 100%;
    height: 50px;
    background-color: #F4F5F8;
    display: flex;
    align-items: center;
    justify-content: center;

    .not-found-dara-text {
      font-family: 'Noto Sans Thai';
      font-size: 16px;
      color: #6D6E71;
    }
  }

  .form-row {
    justify-content: space-between;
  }

  @media (max-width: 1280px) {
    .kt-portlet {
      .col-form-label {
        margin: 0 10px;
        min-width: 145px;
      }
    }

    .kt-portlet__footer-button-wrapper {
      .footer-button-wrapper-item {
        min-width: calc(145px + 20px + (0.65rem + 1px));
      }
    }

    input.form-control,
    select.form-control {
      width: 210px;
    }
  }
}
