<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="dip-icon-edit"></i> ข้อมูลการแก้ไข
      </h3>
    </div>
  </div>
  <!-- <div class="kt-portlet__body">
    <div class="form-row">
      <div class="col-4">
        <div class="row">

        </div>
      </div>
    </div>
  </div> -->
  <div class="kt-portlet__body">
    <div class="form-row">
      <h3 class="kt-portlet__head-title">
        สรุปการแก้ไข
      </h3>
      <div class="form-row" style="margin-top: 1rem;">
        <!-- <div class="col-12"> -->
        <ngb-tabset type="pills">
          <ngb-tab title="20/08/2550">
            <ng-template ngbTabContent>
              <div class="form-group flex">
                <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
                  0
                </button>
                <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;">
                  <h3>
                    รายละเอียดคำขอ
                  </h3>
                </div>
              </div>
              <!-- <br /> -->
              <div class="col-12" style="padding: 0px;">
                <div class="card">
                  <div class="card-body">
                    <h4>
                      โปรเจกเตอร์เพลซ อัลบัมโหงวเฮ้งแทงโก้ อ่วมรามาธิบดีเจล แผดเผาสหัสวรรษ
                      อุปนายกออร์แกนิก รีทัชแป๋วคาสิโนแกสโซฮอล์ซิมโฟนี โหงวเฮ้งรีโมทสแตนเลสแป๋ว
                      โกลด์เกรย์โดมิโน อีแต๋นซัพพลายเออร์ บลูเบอร์รี่ไทม์แชเชือนฮิ บัตเตอร์ แพกเกจล็อตเรซิน
                      ฮองเฮาเปปเปอร์มินต์จูนเที่ยงวันแพกเกจ ซื่อบื้อซีเนียร์สโตร์เชฟเวิร์ก
                      ซาตานระโงกสไตรค์เวิร์ลด์ซัมเมอร์
                      ธุหร่ำ
                    </h4>
                  </div>
                </div>
              </div>

              <div class="form-group flex">
                <button type="button" class="btn btn-brand" style="margin-bottom: 10px;margin-top: 10px">
                  2
                </button>
                <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;margin-top: 10px">
                  <h3>
                    ENTITLEMENT TO FILE
                  </h3>
                </div>
              </div>
              <!-- <br /> -->
              <div class="col-12" style="padding: 0px;">
                <div class="card">
                  <div class="card-body">
                    <h4>
                      โปรเจกเตอร์เพลซ อัลบัมโหงวเฮ้งแทงโก้ อ่วมรามาธิบดีเจล แผดเผาสหัสวรรษ
                      อุปนายกออร์แกนิก รีทัชแป๋วคาสิโนแกสโซฮอล์ซิมโฟนี โหงวเฮ้งรีโมทสแตนเลสแป๋ว
                      โกลด์เกรย์โดมิโน อีแต๋นซัพพลายเออร์ บลูเบอร์รี่ไทม์แชเชือนฮิ บัตเตอร์ แพกเกจล็อตเรซิน
                      ฮองเฮาเปปเปอร์มินต์จูนเที่ยงวันแพกเกจ ซื่อบื้อซีเนียร์สโตร์เชฟเวิร์ก
                      ซาตานระโงกสไตรค์เวิร์ลด์ซัมเมอร์
                      ธุหร่ำ
                    </h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="20/08/2550">
            <ng-template ngbTabContent>
              <div class="form-group flex">
                <button type="button" class="btn btn-brand" style="margin-bottom: 10px;">
                  2
                </button>
                <div class="input-wrapper" style=" margin-top: 5px;font-size: 25px;color: #0C84C8;">
                  <h3>
                    ENTITLEMENT TO FILE
                  </h3>
                </div>
              </div>
              <!-- <br /> -->
              <div class="col-12" style="padding: 0px;">
                <div class="card">
                  <div class="card-body">
                    <h4>
                      โปรเจกเตอร์เพลซ อัลบัมโหงวเฮ้งแทงโก้ อ่วมรามาธิบดีเจล แผดเผาสหัสวรรษ
                      อุปนายกออร์แกนิก รีทัชแป๋วคาสิโนแกสโซฮอล์ซิมโฟนี โหงวเฮ้งรีโมทสแตนเลสแป๋ว
                      โกลด์เกรย์โดมิโน อีแต๋นซัพพลายเออร์ บลูเบอร์รี่ไทม์แชเชือนฮิ บัตเตอร์ แพกเกจล็อตเรซิน
                      ฮองเฮาเปปเปอร์มินต์จูนเที่ยงวันแพกเกจ ซื่อบื้อซีเนียร์สโตร์เชฟเวิร์ก
                      ซาตานระโงกสไตรค์เวิร์ลด์ซัมเมอร์
                      ธุหร่ำ
                    </h4>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="20/08/2550">
            <ng-template ngbTabContent>
              <h1>3</h1>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <!-- </div> -->
      </div>


    </div>
  </div>

  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button" class="btn btn-brand" (click)="closeModal()">
        <i class="dip-icon-close"></i>
        ปิด
      </button>
      <button type="button" class="btn btn-white" (click)="onClickPrint()">
        <i class="dip-icon-printer"></i>
        พิมพ์
      </button>
    </div>
  </div>

</div>
