<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-search"></i>การค้นหา
          </h3>
        </div>
    </div>
  
    <div class="kt-portlet__body"> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group flex">
                    <label class="col-form-label">
                        ประชุมครั้งที่
                    </label>
                    <div class="input-group mb-3">
                        <input class="form-control input" type="text" >
                    </div>
                    <label class="col-form-label5">/</label>
                    <div class="input-group mb-3">
                        <input class="form-control input" type="text" >
                    </div>
                </div>
            </div>
      
            <div class="col-md-4">
                <div class="form-group flex">
                    <label class="col-form-label2">
                        วันที่
                    </label>
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control"
                            #key_date 
                            id="date" 
                            [(ngModel)]="input[key_date.id]" 
                            [matDatepicker]="date_picker"
                            (click)="date_picker.open()" 
                            (dateChange)="clearValidate(key_date.id)"
                        />
                        <div class="input-group-append">
                            <label class="cs-input-group-text" for="date">
                            <span class="dip-icon-calendar" style="font-size: 16px;"></span>
                            </label>
                        </div>
                        <mat-datepicker #date_picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="row mt-3" style="display: flex; align-items: center; justify-content: center;">
            <button type="button" class="btn btn-brand mr-3">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-undo mr-3">
                <i class="fa fa-undo" style="color: #6D6E71;"></i>
                เริ่มใหม่
            </button>
            <button type="button" class="btn btn-meeting" >
                อ่านข้อมูลวาระการประะชุม
            </button>
        </div>
    </div>
</div>

<div class="kt-portlet save-03-process-list-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i>ตารางงาน
            </h3>
        </div>
    </div>
  
    <div class="kt-portlet__body">
        <div class="table table-striped table-responsive table-bordered" style="border: 1px;">
          <table>
            <thead>
              <tr>
                <th class="cs-theader-c1">ลำดับ</th>
                <th class="cs-theader-c2">เลขที่คำขอ</th>
                <th class="cs-theader-c3">หนังสือ</th>
                <th class="cs-theader-c4">ประเด็น</th>
                <th class="cs-theader-c5">ชื่อเจ้าของ</th>
                <th class="cs-theader-c6">รายละเอียด</th>
                <th class="cs-theader-c7">สถานะ</th>
                <th class="cs-theader-c8">คำสั่ง</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let item of dummyList | paginate: paginateItem; index as i;">
                    <td class="cs-tbody-v-align-mid">
                        {{i+1}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="cs-label-status-process">
                            {{item.request_number}}
                        </div>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{item.book}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{item.subject}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{item.owner_name}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        {{item.detail}}
                    </td>
                    <td class="cs-tbody-v-align-mid">
                        <div [ngClass]="[item.status == 'รอดำเนินการ' ? 'cs-label-status-process' : 'cs-label-status-done']">
                           {{item.status}}
                         </div>
                     </td>
                    <td class="cs-tbody-v-align-mid">
                        <div class="flex justify-content-around">
                            <button type="button" 
                                [ngClass]="[item.status == 'รอดำเนินการ' ? 'btn btn-icon btn-brand' : 'btn cs-btn-icon-grey']"
                                style='height: 30px !important; width: 30px !important;'
                            >
                                <span [ngClass]="[item.status == 'รอดำเนินการ' ? 'fa fa-play' : 'fa fa-search-plus']" style="font-size: 15px"></span>
                            </button>
                            <button type="button" class="btn cs-btn-icon-white" >
                                <span class="fa fa-file-pdf-o" style="font-size: 15px"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>   
          </table>
        </div> 
      </div> 
      
      <div class="kt-portlet__footer ">
        <div class="kt-pagination  kt-pagination--brand">
          <div class="kt-pagination__toolbar">
            <select class="form-control kt-font-brand" (change)="onChangePerPage($event.target.value, 'paginateItem')">
              <option *ngFor="let perPage of perPage" [value]="perPage">
                {{ perPage }}
              </option>
            </select>
            <span class="pagination__desc">
              Displaying {{paginateItem.itemsPerPage}} of {{paginateItem.totalItems}} records
            </span>
          </div>
        </div>
      </div>
  </div>