
<div class="filter-addnew-wrapper">
  <div class="filters">
    <div class="form-group flex">
      <label class="col-form-label"
             for="filterPerson">
        ผู้บันทึกรายการ
      </label>

      <input class="form-control input"
             type="text"
             id="user_name"
             [(ngModel)]="input.created_by_name"
             disabled />
    </div>

    <div class="form-group flex">
      <label class="col-form-label"
             for="filterDate">
        วันที่ยื่นคำขอ
      </label>

      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_request_date
                   id="request_date"
                   class="form-control input"
                   matInput
                   [matDatepicker]="picker"
                   placeholder=""
                   (click)="picker.open()"
                   [(ngModel)]="input[key_request_date.id]"
                   (dateChange)="clearValidate(key_request_date.id)" />
            <label class="kt-input-icon__icon kt-input-icon__icon--right"
                   for="request_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix
                                 [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_request_date.id]"
               class="invalid-feedback">
            {{ validate[key_request_date.id] }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-new">
    <button type="button"
            class="btn btn-outline-brand"
            (click)="reset()">
      <i class="dip-icon-add-new"></i>
      สร้างรายการใหม่
    </button>
  </div>
</div>

<div class="kt-portlet registration-request-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ระบุเพื่อบันทึกรายการคำขอ
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-portlet__body__inner registration-requester">
      <div class="form-group flex">
        <!--<label class="col-form-label"
               for="registrationRequester">
          ผู้ยื่นคำขอ
        </label>-->

        <div class="input-wrapper">
          <div class="input-wrapper-row">

            <app-autocomplete [title]="'ผู้ยื่นคำขอ'"
                              [url]="'/RequestProcess/List/RequestAgency'"
                              (updateBack)="autoCompleteUpdateBack($event, 'RequestAgency')"
                              (updateFocusout)="autoCompleteUpdateFocusout($event, 'RequestAgency')"
                              [column_list]="['name']"
                              [search_item_per_page]="5"
                              [search_orderby]="'index'">
            </app-autocomplete>

            <!--<input #key_requester_name
             id="requester_name"
             class="form-control input"
             type="text"
             [(ngModel)]="input[key_requester_name.id]"
             [ngClass]="validate[key_requester_name.id] ? 'is-invalid' : null"
             (input)="onChangeAutocomplete('input', key_requester_name.id)"
             autocomplete="off" />-->

            <button type="button"
                    class="btn btn-brand"
                    (click)="toggleModal('isModalAutoFillOpen')">
              Auto fill
            </button>
          </div>

          <!--<div class="div_autocomplete"
               *ngIf="isShowAutocomplete[key_requester_name.id]"
               (clickOutside)="onClickOutsideAutocomplete(key_requester_name.id)">
            <div *ngFor="let autocomplete of autocompleteList[key_requester_name.id]"
                 (click)="
                onSelectAutocomplete(key_requester_name.id, autocomplete)
              ">
              <div>
                {{ autocomplete.name }}
              </div>
            </div>
          </div>-->

          <div class="feedback-wrapper">

            <!--<div *ngIf="validate[key_requester_name.id]"
                 class="invalid-feedback">
              {{ validate[key_requester_name.id] }}
            </div>-->
          </div>
        </div>





        <!--<label class="col-form-label"
               for="commercial_affairs_province_code">
          พาณิชย์จังหวัด
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <select class="form-control"
                    [ngClass]="isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null"
                    [(ngModel)]="input.commercial_affairs_province_code">
              <option *ngFor="let item of master.commercialAffairsProvinceList"
                      [value]="item.code">
                {{item.name}}
              </option>
            </select>

            <div class="feedback-wrapper">
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>-->
        <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
          <input #key_is_via_post
                 type="checkbox"
                 id="is_via_post"
                 (click)="toggleBoolean('input', key_is_via_post.id)"
                 [checked]="input[key_is_via_post.id]" />
          ยื่นคำขอทางไปรษณีย์
          <span></span>
        </label>-->

      </div>

      <div class="form-group flex">
        <label class="col-form-label"
               for="registrationRequester">
          เบอร์โทร
        </label>

        <div class="input-wrapper">
          <input #key_telephone
                 class="form-control input"
                 type="text"
                 id="telephone"
                 [(ngModel)]="input[key_telephone.id]"
                 [ngClass]="validate[key_telephone.id] ? 'is-invalid' : null"
                 (input)="clearValidate(key_telephone.id)" />

          <div class="feedback-wrapper">
            <div *ngIf="validate[key_telephone.id]"
                 class="invalid-feedback">
              {{ validate[key_telephone.id] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer">
    <!--<button type="button"
            class="btn btn-secondary"
            (click)="onClickAddRequest()">
      <i class="dip-icon-save"></i>
      บันทึกรายการคำขอ
    </button>-->

    <div class="total">
      <div class="form-group flex">
        <label class="col-form-label color-primary font-med"
               for="registrationRequestTotalAmount">
          รวมทั้งสิ้น
        </label>

        <div class="input-wrapper">
          <div class="input-wrapper-row">
            <input class="form-control input"
                   *ngIf="!input.is_wave_fee"
                   disabled
                   type="text"
                   [value]="displayMoney(input.total_price)" />

            <input class="form-control input"
                   *ngIf="input.is_wave_fee"
                   disabled
                   type="text"
                   [value]="0" />

            <span class="unit color-primary font-med">
              บาท
            </span>

            <!--<label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input #key_is_wave_fee
                     type="checkbox"
                     id="is_wave_fee"
                     (click)="onClickWaveFree($event.target.checked)"
                     [checked]="input.is_wave_fee" />
              ยกเว้นค่าธรรมเนียม
              <span></span>
            </label>-->
          </div>

          <div class="feedback-wrapper">
            <!--<div [ngClass]="!false ? 'valid-feedback' : 'invalid-feedback'"
                 *ngIf="false">
              Error Message
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="kt-portlet">
  <div class="kt-portlet__head action">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>

    <div class="kt-portlet__head-action">
      <label class="col-form-label"
             for="request_number_add">
        เลขที่ eForm
      </label>

      <div class="input-wrapper">
        <input id="eform_number_add"
               class="form-control input"
               type="text"
               (keydown)="onChangeEFormNumberAdd($event)"
               (change)="onChangeEFormNumberAdd()"
               [(ngModel)]="input.eform_number_add" />
      </div>
    </div>
  </div>

  <app-table [initial_table]="tableRequest" [title]="'ตารางข้อมูลการรับคำขอ ก.01'" [master]="master" (onClickCommand)="onClickCommand($event)"></app-table>
</div>-->

<div class="kt-portlet">
  <div class="kt-portlet__head action">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>

    <div class="kt-portlet__head-action">
      <label class="col-form-label"
             for="request_number_add">
        เลขที่ eForm
      </label>

      <div class="input-wrapper">
        <input id="eform_number_add"
               class="form-control input"
               type="text"
               (keydown)="onChangeEFormNumberOtherAdd($event)"
               (change)="onChangeEFormNumberOtherAdd()"
               [(ngModel)]="input.eform_number_other_add" />
      </div>
    </div>
  </div>

  <app-table [initial_table]="tableRequestOther" [title]="'ตารางข้อมูลการรับคำขอ ก.อื่นๆ'" [master]="master" (onClickCommand)="onClickCommand($event)"></app-table>
</div>

<div class="div_popup is_row_item_edit_show" *ngIf="popup.is_row_item_edit_show">
  <div class="div_popup_background">
  </div>
  <div class="div div_popup_body">
    <app-table [initial_table]="tableRequestItem" [title]="'แก้ไขจำพวก'" (onClickCommand)="onClickCommand($event)"></app-table>

    <div class="kt-portlet__body__inner body form-group">
      <div class="form-group flex">
        <label class="col-form-label"
               for="filterPerson">
          ไฟล์เสียง
        </label>


        <div class="input-wrapper">
          <div class="kt-radio-inline select-item">
            <div *ngIf="popup.row_item_edit.sound_file_physical_path && popup.row_item_edit.sound_file_physical_path != ''"
                 class="">
              <a href="javascript://" class="btn btn-squared-default-plain btn-info btn-icon">
                <i [className]="
                        player_action
                          ? 'dip-icon-pause-circle'
                          : 'dip-icon-play-circle'
                      "
                   (click)="togglePlayer()"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group">
      <div class="form-group flex">
        <label class="col-form-label"
               for="filterPerson">
          สถานะ
        </label>


        <div class="input-wrapper">
          <div class="kt-radio-inline select-item">
            <label *ngFor="let item of master.requestSoundTypeList"
                   class="kt-radio kt-radio--bold kt-radio--brand">
              <input name="sound_type_code"
                     type="radio"
                     [checked]="item.code === popup.row_item_edit.sound_type_code"
                     disabled> {{item.name}}
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group">
      <div class="form-group flex">
        <label class="col-form-label"
               for="filterPerson">
          คำบรรยายเสียง
        </label>

        <div class="input-wrapper">
          <div class="kt-radio-inline select-item">
            <textarea class="form-control textarea"
                      name="sound_description"
                      [(ngModel)]="popup.row_item_edit.sound_description"
                      rows="3"
                      disabled></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="kt-portlet__body__inner body form-group button-list">
      <button type="button"
              class="btn btn-brand-2"
              (click)="popup.is_row_item_edit_show = false">
        <i class="dip-icon-delete-cross"></i>
        ปิด
      </button>
    </div>
  </div>
</div>

<app-modal [className]="['fade', this.modal.isModalPreviewPdfOpen ? 'show' : undefined]"
           [title]="'เอกสาร'"
           [modalSize]="'lg'"
           (onClickClose)="toggleModal('isModalPreviewPdfOpen')">
  <div body-children
       class="flex flex-wrap">
    <ng-container *ngIf="this.modal.isModalPreviewPdfOpen && url">
      <iframe id="pdf"
              frameborder="0"
              scrolling="no"
              seamless=""
              allowfullscreen="allowfullscreen"
              style="width:100%;height:700px"
              [src]="url"></iframe>
    </ng-container>
  </div>
</app-modal>
