:host {
  font-family: "Noto Sans Thai", "Noto Sans";
}

  :host .hide {
    display: none;
  }

  :host input.form-control,
  :host select.form-control {
    width: 375px;
  }

  :host .kt-portlet__head-action > * + button {
    margin-left: 15px;
  }

  :host .kt-portlet__head-action > * + input {
    margin-left: 15px;
  }

  :host .kt-portlet__head-action > * + label {
    margin-left: 15px;
  }

  :host .kt-portlet__body__inner .form-group > * + button {
    margin-left: 15px;
  }

  :host .kt-portlet__body__inner .form-group > * + span {
    margin-left: 15px;
  }

  :host .kt-portlet__body__inner .form-group > * + label {
    margin-left: 15px;
  }

  :host .kt-portlet__body__inner .form-group .input-date {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

    :host .kt-portlet__body__inner .form-group .input-date + button {
      margin-left: 0;
    }

  :host .kt-portlet__body__inner .form-group > button.btn-input-search {
    flex: 0 0 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }

    :host .kt-portlet__body__inner .form-group > button.btn-input-search .input {
      flex: 1 1 auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  :host .kt-portlet span {
    font-family: "Noto Sans Thai", "Noto Sans";
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    color: #6d6e71;
  }

  :host .table .td input {
    width: 100%;
  }

  :host .table .td.edit_delete > a {
    padding: 4px 8px;
  }

    :host .table .td.edit_delete > a + a {
      margin-left: 8px;
    }

  :host .table a {
    color: #0c84c8;
    text-decoration: underline;
  }

  :host .table .icon {
    height: 16px;
    width: auto;
  }

  :host .table .select {
    flex: 0 0 40px;
    max-width: 40px;
    justify-content: center;
    text-align: center;
  }

  :host .table .delete {
    flex: 0 0 40px;
    max-width: 40px;
    justify-content: center;
    text-align: center;
  }

    :host .table .delete i {
      width: 30px;
      height: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

      :host .table .delete i:hover.dip-icon-trash {
        color: #C31D1D;
      }

  :host .table .edit_delete {
    flex: 0 0 95px;
    max-width: 95px;
    justify-content: center;
    text-align: center;
  }

    :host .table .edit_delete i {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

      :host .table .edit_delete i:hover.dip-icon-trash {
        color: #C31D1D;
      }

      :host .table .edit_delete i:hover.dip-icon-edit {
        color: #0C84C8;
      }

  :host .table.table_2 .card_type_name {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_2 .card_number {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_2 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_2 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_2 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_3 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_3 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_3 .address {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_3 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_3 .fax {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_4 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_4 .item_sub_type_1_code {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_4 .product_list_text {
    flex: 0 0 500px;
    max-width: 500px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_5 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_5 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_5 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_5 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_5 .fax {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_6 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_6 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_6 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_6 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_6 .fax {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_8 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_8 .item_type_1 {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_8 .description {
    flex: 0 0 1500px;
    max-width: 1500px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_10 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_10 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_10 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_10 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_10 .fax {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_11 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_11 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_11 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_11 .telephone {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_11 .fax {
    flex: 0 0 100px;
    max-width: 100px;
    justify-content: center;
    text-align: center;
  }


  :host .table.table_12 .index {
    flex: 0 0 50px;
    max-width: 50px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_12 .name {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_12 .address_text {
    flex: 0 0 275px;
    max-width: 275px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_12 .save060_allow_contact_code {
    flex: 0 0 135px;
    max-width: 135px;
    justify-content: center;
    text-align: center;
  }

  :host .table.table_12 .people_01_name {
    flex: 0 0 150px;
    max-width: 150px;
    justify-content: center;
    text-align: center;
  }
