<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h4 class="kt-portlet__head-title">
                <i class="dip dip-icon-play"></i>พิจารณาความเหมือนคล้าย
            </h4>
        </div>
        <!-- <div class="kt-portlet__head-action">

        </div> -->
    </div>

    <div class="kt-portlet__body" style="padding-bottom: 0px; padding-top: 0px;  ">

        <div class="row">

            <div class="col-lg-6 col-sm-12 border border-secondary border-top-0 border-bottom-0">
                <div>
                    <div class="row btm-border">
                        <div class="col-6" style="margin-top: 10px;">
                            <h4 class="sub-head-title  ">คำขอหลัก </h4>
                        </div>

                        <!-- <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; color: rgb(79, 166, 248); border: 1px solid rgb(79, 166, 248);">
                                พิจารณาเอกสาร <i class="fa fa-arrows-v"></i></button>
                        </div>
                        <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; margin-bottom: 10px; color: white;background-color: rgb(136, 136, 136);">
                                <i class="fa fa-stack-overflow"></i> เอกสารแสกน</button>
                        </div> -->
                    </div>

                    <div class="row mt-2 justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-icon button-bule">
                                        <i class="fa fa-volume-off" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-icon button-bule">
                                        2D
                                    </button>

                                    <button class="btn btn-icon button-bule">
                                        3D
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 btm-border">
                            <div class="col-12 " style="text-align: center; margin-bottom: 10px;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="" style="min-width: 200px;max-height: 200px;">
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 10px;">
                            <h4 class="sub-head-title ">ข้อมูลคำขอ </h4>
                        </div>
                        <div class="col-12">
                            <div class="row">

                                <div class="col-md-4">
                                    คำขอเลขที่
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-4">
                                    เลขทะเบียน
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-4">
                                    เลขทะเบียน
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            เลขทะเบียน
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12">
                            ชื่อเจ้าของ
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12">
                            จำพวก
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12 ">
                            
                            สินค้า/บริการ
                           
                                <div class="input-wrapper input-with-icon datepicker" style=" margin-left: 0px;">
                                <mat-form-field style="display: block;" >
                                    <div class="kt-input-icon kt-input-icon--right">
                                      <input  class="form-control input" disabled matInput
                                             autocomplete="off">
                                      <label class="kt-input-icon__icon kt-input-icon__icon--right" >
                                        <i class="dip-icon-file-alt"></i>
                                      </label>
                                    </div>
                                  </mat-form-field>
                                </div>
                             
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    ได้รับอนุญาต ม.28
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-6">
                                    คำบรรยายเสียง
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    คำบรรยายกลิ่น
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-6">
                                    อ่าน/แปล
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 border border-secondary border-top-0 border-bottom-0">
                <div>
                    <div class="row btm-border">
                        <div class="col-6" style="margin-top: 10px;">
                            <h4 class="sub-head-title  ">คำขอเหมือนคล้าย </h4>
                        </div>

                        <!-- <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; color: rgb(79, 166, 248); border: 1px solid rgb(79, 166, 248);">
                                พิจารณาเอกสาร <i class="fa fa-arrows-v"></i></button>
                        </div>
                        <div class="col-3">
                            <button class="form-control"
                                style="margin-top: 10px; margin-bottom: 10px; color: white;background-color: rgb(136, 136, 136);">
                                <i class="fa fa-stack-overflow"></i> เอกสารแสกน</button>
                        </div> -->
                    </div>

                    <div class="row mt-2 ">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-icon button-bule">
                                        <i class="fa fa-volume-off" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-icon button-bule">
                                        2D
                                    </button>

                                    <button class="btn btn-icon button-bule">
                                        3D
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 btm-border">
                            <div class="col-12 " style="text-align: center; margin-bottom: 10px;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/1200px-Gatto_europeo4.jpg"
                                    alt="" style="min-width: 200px;max-height: 200px;">
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 10px;">
                            <h4 class="sub-head-title ">ข้อมูลคำขอ </h4>
                        </div>
                        <div class="col-12">
                            <div class="row">

                                <div class="col-md-4">
                                    คำขอเลขที่
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-4">
                                    เลขทะเบียน
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-4">
                                    เลขทะเบียน
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            เลขทะเบียน
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12">
                            ชื่อเจ้าของ
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12">
                            จำพวก
                            <input class="form-control" disabled type="text" name="" id="">
                        </div>
                        <div class="col-12">
                            สินค้า/บริการ
                            <div class="input-wrapper input-with-icon datepicker" style=" margin-left: 0px;">
                                <mat-form-field style="display: block;" >
                                    <div class="kt-input-icon kt-input-icon--right">
                                      <input  class="form-control input" disabled matInput
                                             autocomplete="off">
                                      <label class="kt-input-icon__icon kt-input-icon__icon--right" >
                                        <i class="dip-icon-file-alt"></i>
                                      </label>
                                    </div>
                                  </mat-form-field>
                                </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    ได้รับอนุญาต ม.28
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-6">
                                    คำบรรยายเสียง
                                    <input class="form-control" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    คำบรรยายกลิ่น
                                    <input class="form-control m-b-10" disabled type="text" name="" id="">
                                </div>
                                <div class="col-md-6">
                                    อ่าน/แปล
                                    <input class="form-control m-b-10" disabled type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                      </div>
                    
                    <div class="row justify-content-end mt-2 mb-2">
                        <div class="col-2 m-r-5" style="margin-right: 20px;">
                            <button type="button" class="btn btn-primary">
                                ข้อและมาตรา
                            </button>
                           
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary">
                                สอบถาม
                            </button>
                           
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>



    </div>
    <div class="kt-portlet__footer ">
        <div class="button-list">
            <button type="button" class="btn btn-white" (click)="onBackStep()">
                <!-- <i class="fa fa-arrow-left"></i> -->
                ย้อนกลับ
            </button>
            <button type="button" class="btn btn-primary" (click)="onBackStep()">
                <!-- <i class="fa fa-arrow-left"></i> -->
                ติดเหมือนคล้าย
            </button>
            <button type="button" class="btn btn-brand">
                <!-- <i class="dip-icon-paper-plane"></i> -->
                ถัดไป
            </button>
        </div>
    </div>

</div>