<div class="row">
  <div class="col-md-12">
    <div class="kt-portlet ">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-search"></i> การค้นหา
          </h3>
        </div>
      </div>

      <div class="kt-portlet__body">

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="input-group m-b-10">
              <div class="col-md-3">
                <label class="nc-col-form-label nc-text-align">วันที่ยื่นคำขอ</label>
              </div>
              <div class="col-md-9">
                <div class="input-group">
                  <div class=" input-with-icon datepicker" style="width: 45%;">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input #key_out_start_date id="out_start_date" class="form-control input" matInput
                          [matDatepicker]="picker_out_start_date" (click)="picker_out_start_date.open()"
                          autocomplete="off">
                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="out_start_date">
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="out_start_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker_out_start_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                    ถึง
                  </div>
                  <div class="input-with-icon datepicker" style="width: 45%;">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input #key_out_end_date id="out_end_date" class="form-control input" matInput
                          [matDatepicker]="picker_out_end_date" (click)="picker_out_end_date.open()" autocomplete="off">
                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="out_end_date">
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="picker_out_end_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker_out_end_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
              <div class="input-group m-b-10">
                <div class="col-md-3">
                  <label class="nc-col-form-label nc-text-align">เลขที่อ้างอิงคำขอ</label>
                </div>
                <div class="col-md-9">
                  <input class="form-control input" type="text" placeholder="คำขอเลขที่" autocomplete="off" />
                </div>
              </div>
            
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="input-group m-b-5">
              <div class="col-md-3">
                  <label class="nc-col-form-label nc-text-align">เอกสาร</label>
              </div>
              <div class="col-md-9">
                  <select class="form-control">
                      <option value="1">เลือก</option>
                      <option value="0">ไม่เลือก</option>
                  </select>
              </div>
          </div>
          <div class="input-group m-b-10">
            <div class="col-md-3">
              <label class="nc-col-form-label nc-text-align">เจ้าหน้าที่รับงาน</label>
            </div>
            <div class="col-md-9">
              <input class="form-control input" type="text" placeholder="เพิ่มข้อความ" autocomplete="off" />
            </div>
          </div>
            <div class="input-group m-b-5">
              <div class="col-md-3">
                <label class="nc-col-form-label nc-text-align">เวลาที่ครบกำหนด</label>
              </div>
              <div class="col-md-9">
                <div class="input-group">
                  <div class=" input-with-icon datepicker" style="width: 45%;">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input #key_start_date id="start_date" class="form-control input" matInput
                          [matDatepicker]="picker_start_date" (click)="picker_start_date.open()" autocomplete="off">
                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="start_date">
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="start_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker_start_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                    ถึง
                  </div>
                  <div class="input-with-icon datepicker" style="width: 45%;">
                    <mat-form-field>
                      <div class="kt-input-icon kt-input-icon--right">
                        <input #key_end_date id="end_date" class="form-control input" matInput
                          [matDatepicker]="picker_end_date" (click)="picker_end_date.open()" autocomplete="off">
                        <label class="kt-input-icon__icon kt-input-icon__icon--right" for="end_date">
                          <i class="dip-icon-calendar"></i>
                        </label>
                      </div>
                      <mat-datepicker-toggle matSuffix [for]="picker_end_date">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker_end_date></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="input-group">
              <div class="col-md-3">
                <label class="nc-col-form-label nc-text-align"> สถานะ</label>
              </div>
              <div class="col-md-9">
                <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    รอให้งาน
                    <span></span>
                  </label>
                </div>
                <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    ให้งานแล้ว
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__footer">
        <div class="button-list">
          <button type="button" class="btn btn-brand">
            <i class="dip-icon-search"></i>
            ค้นหา
          </button>
          <button type="button" class="btn btn-white">
            <i class="dip-icon-reset"></i>
            เริ่มใหม่
          </button>
        </div>
      </div>
    </div>

    <div class="kt-portlet all-task-list">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <i class="dip-icon-table"></i>ตารางแสดง
          </h3>
        </div>
      </div>

      <div class="kt-portlet__body nc-middle-label">
        <div class="table-responsive">
          <table style="width: auto;" class="table table-bordered">
            <thead>
              <tr>
                <td class="select" style="width: auto;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                      [checked]="input.is_check_all" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto; text-align: center;">ลำดับ</td>
                <td class="public_week" style="width: auto; text-align: center;">รูปภาพ</td>
                <td class="public_notification_date" style="width: auto; text-align: center; " >
                  เลขที่อ้างอิงคำขอ</td>
                <td class="public_due_date" style="width: auto; text-align: center;" colspan="2">
                  เลขที่คำขอพื้นฐาน</td>
                <td class="public_request_type" style="width: auto; text-align: center;">เอกสาร</td>
                <td class="public_mask" style="width: auto; text-align: center;">วันที่ยืนคำขอ</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  เวลาที่ครบกำหนด</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  เจ้าหน้าที่รับงาน</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  วันทีโอนงาน</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  รายละเอียดเพิ่มเติม</td>
                <td class="public_receive_date" style="width: auto; text-align: center;">
                  สถานะ</td>
                <td class="public_order" style="width: auto; text-align: center;">คำสั่ง</td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row_item of listPublicItem">
                <td class="select" style="text-align: center;">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                    <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem', row_item)"
                      [checked]="row_item.is_check" />
                    <span></span>
                  </label>
                </td>
                <td class="index" style="width: auto; text-align: center;">{{row_item.index}}</td>
                <td class="request_number" style="width: auto; text-align: center;"><img src="{{row_item.img}}"
                    style="width: 30px; height: 30px;" /></td>
                <td class="public_type_name" style="width: auto; text-align: center;">
                  <div class="button-click-table">
                    {{row_item.IrnNo}}
                  </div>
                </td>
                <td class="public_source_name" style="width: auto; text-align: center;">
                  <div class="tag brand">{{row_item.requestNo}}</div>
                </td>
                <td class="public_source_name" style="width: auto;"><i class="fa fa-bars" aria-hidden="true"
                    style="color: #0C84C8;"></i></td>
                <td class="public_remark" style="width: auto; text-align: center;">{{row_item.desc}}
                </td>
                <td class="public_request_type" style="width: auto; text-align: center;">
                  {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>

                <td class="public_request_type" style="width: auto; text-align: center;">
                  {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                <td class="public_remark" style="width: auto; text-align: center;">{{row_item.pic}}
                </td>
                <td class="public_request_type" style="width: auto; text-align: center;">
                  {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                <td class="public_remark" style="width: auto; text-align: center;">{{row_item.details}}
                </td>
                <td class="public_status_name " style="width: auto; text-align: center;">
                  <div class="tag brand" *ngIf="row_item.statusprogress === 'รอให้งาน'">

                    {{row_item.statusprogress}}
                  </div>
                  <div class="tag " *ngIf="row_item.statusprogress === 'ให้งานแล้ว'">

                    {{row_item.statusprogress}}
                  </div>
                </td>
                <td class="edit_delete " style="text-align: center;" *ngIf="row_item.statusprogress === 'ให้งานแล้ว'">
                  <button class="btn btn-icon btn-brand" style="background-color: #555555; border-color: black;">
                    <i class="dip-icon-layer"></i>
                  </button>

                </td>
                <td class="text-center" style="text-align: center;" *ngIf="row_item.statusprogress === 'รอให้งาน'">
                  <button class="btn btn-icon btn-brand">
                    <i class="dip-icon-layer"></i>
                  </button>

                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="kt-portlet__footer">
        <div class="row col-md-12">
          <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
            <select class="form-control kt-font-brand"
              (change)="onChangePerPage($event.target.value, 'paginateRequest')">
              <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}} </option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2 m-b-5">
            <label class="nc-col-form-label  p-t-10"> แสดง 1 จาก 10
              รายการ</label>
          </div>
          <div class="col-md-4">
          </div>

        </div>


      </div>
    </div>

  </div>
</div>