:host {
 
    .cs-datepicker {
      margin-top: 2px;
    }
  
    .cs-input-group-icon {
      font-size: 16px;
      color: #646c9a;
    }

    .cs-label{
      min-width: 210px !important;
    }

    .cs-label-after{
      min-width: 210px !important;
      justify-content: flex-start;
    }
  
    .cs-input-group-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #474747;
      text-align: center;
      white-space: nowrap;
      background-color: #F7F8FA;
      border: 1px solid #E2E5EC;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  
    .cs-input-group-text-tran {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.65rem 1rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #74788d;
      text-align: center;
      white-space: nowrap;
      background-color: white;
      border-bottom: 1px solid #e1e5ec;
      border-top: 1px solid #e1e5ec;
      border-left: 1px solid #e1e5ec;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  
    .cs-input-group-prepend {
      color: #74788d;
      background-color: #e1e5ec;
      border-bottom: 1px solid #e1e5ec;
      border-top: 1px solid #e1e5ec;
      border-left: 1px solid #e1e5ec;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  
    .cs-color{ 
      &-text-white{
        color: white !important;
      }
      &-text-blue{
        color: #0C84C8 !important;
      }
      &-text-grey{
        color: #82869b !important;
      }
      &-bg-blue-drop{
        background-color: #82B2CF;
      }
      &-bg-blue{
        background-color: #0C84C8;
      }
      &-bg-white{
        background-color: white;
      }
    }
  
    .cs-label-status{
      &-wait{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: lawngreen;
        border: 1px solid lawngreen;
        border-radius: 4px;
        height: 30px;
      } 
      &-process{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        background-color: #0C84C8;
        border: 1px solid #0C84C8;
        border-radius: 4px;
        height: 30px;
      }
    }

    .cs-box {
      background-color: white;
      width: auto;
      height: 100%;
      border: 1px solid #E2E5EC;
      border-radius: 4px;
    }

    .cs-show-logo {
      vertical-align: middle;
      text-align: center;
      align-items: center;
    }
  
    .cs-header-icon {
      font-size: x-large;
      margin-right: 1rem;
    }
  
    .cs-btn{
      &-save{
        &-solid{
          background-color: #149BA9;
          color: white;
          border: 1px solid #149BA9;
          min-width: 100px;
        }
      }
      &-brand{
        background-color: white;
        color: #0C84C8;
        border: 1px solid #0C84C8;
        min-width: 100px;
      }
      &-grey{
        &-outline{
          background-color: white;
          color: #474747;
          border: 1px solid #474747;
          min-width: 100px;
        }
        &-solid{
          background-color: #474747;
          color: white;
          border: 1px solid #474747;
          min-width: 100px;
        }
      }
      &-icon{
        &-blue{
          border-color: #0C84C8; 
          background-color: #0C84C8; 
          color:white;
          height: 30px !important; 
          width: 30px !important;
        }
        &-outline-save{
          background-color: white;
          color: #149BA9;
          border-color: #149BA9;
          height: 30px !important; 
          width: 30px !important;
        }
        &-white{
          background-color: white;
          color: #646C9A;
          border-color: #E2E5EC;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
        &-red{
          background-color: #c62121;
          color: white;
          border-color: #c62121;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
        &-grey{
          background-color: #EFF0F4;
          color: #0C84C8; 
          border-color: #EFF0F4;
          height: calc(1.5em + 1rem + 2px); 
          width: calc(1.5em + 1rem + 2px); 
        }
      }
      &-scan{
        background-color: #666666;
        border: 1px solid #666666;
        color: white;
      }
      &-danger{
        background-color: white;
        color: #474747;
        border: 1px solid #474747;
        min-width: 100px;
      }
    }


    button.btn
    {
      &.cs-btn-icon{
        &-red:hover{
          background-color: #8d0101;
          color: white;
          border: 1px solid #8d0101;
        }
        &-black:hover{
          background-color: #2f2f2f;
          color: white;
          border: 1px solid #2f2f2f;
        }
        &-white:hover{
          background-color: #E2E5EC;
          color: #646C9A;
          border: 1px solid #E2E5EC;
        }
        &-outline-save:hover{
          background-color: #107d89;
          color: white;
          border: 1px solid #107d89;
        }
        &-blue:hover{
          background-color: #0C84C8;
          color: white;
          border: 1px solid #0C84C8;
        }
        &-grey:hover{
          background-color: #E7EEF4;
          color: #0C84C8; 
          border: 1px solid #E7EEF4;
        }
      }
      &.cs-btn-grey-outline:hover{
        background-color: #474747;
        color: white;
        border: 1px solid #474747;
        min-width: 100px;
      }
      &.cs-btn-grey-solid:hover
      {
        background-color: #2f2f2f;
        color: white;
        border: 1px solid #2f2f2f;
        min-width: 100px;
      }
      &.cs-btn-save-solid:hover{
        background-color: #107d89;
        color: white;
        border: 1px solid #107d89;
        min-width: 100px;
      }
      &.cs-btn-danger:hover{
        background-color: #474747;
        color: white;
        border: 1px solid #474747;
        min-width: 100px;
      }
      &.cs-btn-brand:hover
      {
        background-color: #0C84C8;
        color: white;
        border: 1px solid #0C84C8;
      }
      &.cs-btn-scan:hover{
        background-color: #474747;
        color: white;
        border: 1px solid #474747;
      }
      &.btn-brand:disabled
      {
        border: 1px solid #999999;
        background-color: #999999;
        color: #ffffff;
      }
      &.cs-btn-brand:disabled,
      .btn-outline-brand:disabled
      {
        border: 1px solid #999999;
        background-color: white;
        color: #666666;
      }
    }


    div.overflow {
      white-space: nowrap; 
      width: 20.0rem; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  
    .cs-tbody-v-align-mid {
      vertical-align: middle;
      text-align: center;
      justify-content: center;
  
      .cs-width-sm {
        width: 6.5rem;
        text-align: right;
      }
  
      label.cs-checkbox {
       min-height: 0px;
       margin-left: 36.25%;
      }

      .cs-display-image{
        width: 6.0rem;
        vertical-align: middle;
        text-align: center;
        align-items: center;
      }
    }
  
  
    .table{
  
      .cs-theader-c1 {
        width: 3.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c2 {
        min-width: 6.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c3 {
        min-width: 10.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c4 {
        min-width: 12.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c5 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c6 {
        min-width: 11.5rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c7 {
        min-width: 18.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c8 {
        min-width: 10.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c9 {
        min-width: 12.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c10 {
        min-width: 10.3rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c11 {
        min-width: 15.0rem;
        vertical-align: middle;
        text-align: center; 
      }
  
      .cs-theader-c12 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
        max-lines: 1;
      }
  
      .cs-theader-c13 {
        min-width: 8.0rem;
        vertical-align: middle;
        text-align: center; 
      }

      .box-2{
        &-tab-1{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 65.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-2{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 65.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-3{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 20.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 35.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 55.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 15.5rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-5{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 65.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-6{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 25.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 65.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 20.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-7{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c11 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c12 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c13 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-8{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 20.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 30.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-9{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c11 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c12 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c13 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-10{
          .cs-theader-c1 {
            min-width: 21.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 20.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 40.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 25.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 25.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-11{
          .cs-theader-c1 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 65.5rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
      }

      .box-3{
        .cs-theader-c1 {
          min-width: 3.0rem;
          vertical-align: middle;
          text-align: center; 
        }
        .cs-theader-c2 {
          min-width: 25.0rem;
          vertical-align: middle;
          text-align: center; 
        }
        .cs-theader-c3 {
          min-width: 67.0rem;
          vertical-align: middle;
          text-align: center; 
        }
        .cs-theader-c4 {
          min-width: 10.0rem;
          vertical-align: middle;
          text-align: center; 
        }

        &-modal{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 20.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            width: 100%;
            vertical-align: middle;
            text-align: center; 
          }
        }
      }


      .box-4-k03{
        &-tab-1{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 80.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            width: 32.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-2{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 30.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-3{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 26.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 30.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-4{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 26.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            width: 14.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            width: 14.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 8.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
      }
      
      .box-4-k08{
        &-tab-1{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 4.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 43.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            width: 16.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 25.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 10.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-2{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 4.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 43.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            width: 16.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 25.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 10.0rem;;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-3{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 26.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 18.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-4{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 26.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 18.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-5{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 14.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 25.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
        &-tab-6{
          .cs-theader-c1 {
            min-width: 3.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c2 {
            min-width: 6.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c3 {
            min-width: 10.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c4 {
            min-width: 14.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c5 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c6 {
            min-width: 16.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c7 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c8 {
            min-width: 15.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c9 {
            min-width: 25.0rem;
            vertical-align: middle;
            text-align: center; 
          }
          .cs-theader-c10 {
            min-width: 12.0rem;
            vertical-align: middle;
            text-align: center; 
          }
        }
      }
    }
  


    .registration-appeal-com {
      .kt-portlet__body {
        .col-form-label {
          min-width: 165px;
        }
      }
  
      .registration-requester {
        .input {
          width: 375px;
        }
  
        .btn {
          margin-left: 15px;
        }
      }
  
      .kt-portlet__footer {
        .total {
          .form-group {
            &.flex {
              align-items: center;
  
              .input-wrapper {
                margin-bottom: 0;
                display: flex;
              }
            }
          }
        }
  
        .form-group {
          margin-bottom: 0;
  
          .input {
            width: 155px;
          }
  
          .unit {
            margin-left: 20px;
          }
  
          .kt-checkbox {
            margin-left: 70px;
          }
        }
      }
    }
  
    .main-form-wrapper {
      flex: 1 1 auto;
      padding-right: 60px;
  
      .select-personal-type {
        padding: 5px 0;
        margin-right: 203px;
  
        .kt-radio-inline {
          justify-content: flex-end;
        }
  
        .kt-radio {
          margin-left: 30px;
        }
      }
  
      .personal-form {
        display: flex;
        margin-top: 27px;
  
        .personal-form-inner {
          flex: 1 1 auto;
        }
  
        .profile-img {
          flex: 0 0 150px;
          margin-left: 53px;
  
          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
  
          .caption {
            font-family: 'Noto Sans Thai', 'Noto Sans';
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            font-weight: normal;
          }
        }
      }
  
      .col-form-label {
        flex: 0 0 170px;
        max-width: 170px;
      }
  
      .form-group {
        .input-wrapper {
          .form-control {
            width: 100%;
          }
        }
  
        &.flex {
          align-items: flex-start;
  
          .col-form-label {
            margin-top: 7px;
            justify-content: flex-end;
          }
        }
      }
    }
  
    ::ng-deep {
      .confirm-delete {
        padding: 0;
  
        .btn-group-wrapper {
          width: 100%;
          justify-content: space-between;
  
          .btn {
            margin: 0 5px;
            flex: 1 1 auto;
          }
        }
      }
    }
  }
  
  