<div class="section normal-published">
  <div class="section-title">
   ประเภทนำเข้าข้อมูล
  </div>

  <!-- <div class="dashboard-cards"> -->

  <app-dashboard-card [iconMain]="'document-tray'"
                      [iconSub]="'play'"
                      [theme]="'green'"
                      [title]="'กล่องงานรวม'"
                      [description]="'รายการเลขทะเบียนระหว่างประเทศ ที่รอการจ่ายงานโดย WIPO ดำเนินการส่งเข้ามาทุกประเภท'"
                      [quantity]="'50'">
    <app-dashboard-card-summary-block summary="100">
      รอการจ่ายงาน
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="100">
      จ่ายงานเสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card [iconMain]="'document-tray'"
                      [iconSub]="'play'"
                      [theme]="'orange'"
                      [title]="'คำขอที่มีการแก้ไขหรือเปลี่ยนแปลง'"
                      [description]="'รายการเลขทะเบียนระหว่างประเทศ ที่มีการยื่นขอแก้ไข เปลี่ยนแปลง หลังจากนายทะเบียนมีคำสั่งออกไปแล้ว'"
                      [quantity]="'11'">
    <app-dashboard-card-summary-block summary="10">
      เปลี่ยนแปลง
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="20">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>





  <!-- </div> -->
</div>

<!-- <div class="divider-line grey"></div>
<div class="divider-line white"></div> -->

<div class="section other-published">
  <div class="section-title">
    งานที่ต้องทำ
  </div>
  <app-dashboard-card
    [iconMain]="'document-tray'"
    [iconSub]="'play'"
    [theme]="'blue'"
    [title]="'คำขอร้องรับความคุ้มครอง'"
    [description]="'รายการเลขทะเบียนระหว่างประเทศ ที่รอดำเนินการพิจารณาเอกสารแปลเข้าระบบ'"
    [quantity]="'10'"
  >
    <app-dashboard-card-summary-block summary="11">
      รอการดำเนินการ
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      รอแก้ไข
    </app-dashboard-card-summary-block>

    <app-dashboard-card-summary-block summary="4">
      เสร็จสิ้น
    </app-dashboard-card-summary-block>
  </app-dashboard-card>

  <app-dashboard-card
  [iconMain]="'document-tray'"
  [iconSub]="'play'"
  [theme]="'blue'"
  [title]="'คำขอรอแปล'"
  [description]="'รายการเลขทะเบียนระหว่างประเทศ ที่รอดำเนินการพิจารณาเอกสารแปลเข้าระบบ แต่ยังไม่สมบูรณ์'"
  [quantity]="'10'"
>
<app-dashboard-card-summary-block summary="11">
  รอการดำเนินการ
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="4">
  รอแก้ไข
</app-dashboard-card-summary-block>

<app-dashboard-card-summary-block summary="4">
  เสร็จสิ้น
</app-dashboard-card-summary-block>
</app-dashboard-card>



</div>

