<div class="kt-portlet ">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-search"></i> การค้นหา
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">เลขที่คำขอ</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control input" type="text" placeholder="เลขที่คำขอ"
                            autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align">เลขทะเบียน</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control input" type="text" placeholder="เลขทะเบียน" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group m-b-5">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align" for="present_start_date">วันที่ตรวจสอบ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ">

                            <div class=" input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_present_start_date id="present_start_date"
                                            class="form-control input" matInput
                                            [matDatepicker]="picker_present_start_date"
                                            (click)="picker_present_start_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="present_start_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="present_start_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_present_start_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="nc-middle-label p-l-5 p-r-5" style="width: 10%;">
                                ถึง
                            </div>
                            <div class="input-with-icon datepicker" style="width: 45%;">
                                <mat-form-field>
                                    <div class="kt-input-icon kt-input-icon--right">
                                        <input #key_inspect_end_date id="inspect_end_date" class="form-control input"
                                            matInput [matDatepicker]="picker_inspect_end_date"
                                            (click)="picker_inspect_end_date.open()" autocomplete="off">
                                        <label class="kt-input-icon__icon kt-input-icon__icon--right"
                                            for="inspect_end_date">
                                            <i class="dip-icon-calendar"></i>
                                        </label>
                                    </div>
                                    <mat-datepicker-toggle matSuffix [for]="picker_inspect_end_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_inspect_end_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="col-md-3">
                        <label class="nc-col-form-label nc-text-align"> สถานะ</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group flex retro-manaul-checkbox" style=" margin-top: -10px;">
                            <div class="">
                                <div class="">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                        <input type="checkbox">
                                        รอดำเนินการ
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                ออกหนังสือแล้ว
                                <span></span>
                            </label>
                        </div>
                        <div class="form-group flex retro-manaul-checkbox">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input type="checkbox">
                                เสร็จสิ้น
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__footer">
        <div class="button-list">
            <button type="button" class="btn btn-brand">
                <i class="dip-icon-search"></i>
                ค้นหา
            </button>
            <button type="button" class="btn btn-white">
                <i class="dip-icon-reset"></i>
                เริ่มใหม่
            </button>
        </div>
    </div>
</div>


<div class="kt-portlet document-role02-check-list-job">
    <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="dip-icon-table"></i> ตารางแสดง
            </h3>
        </div>
        <div class="kt-portlet__head-action">

        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="select" style="width: auto;">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox" (click)="onSelectColumnInTable('listPublicItem')"
                                            [checked]="input.is_check_all" />
                                        <span></span>
                                    </label>
                                </td>
                                <td class="index" style="width: auto;">ลำดับ</td>
                                <td class="public_due_date" style="width: auto;">เลขที่คำขอ</td>
                                <td class="public_due_date" style="width: auto;">วันที่ทะเบียนสังการ</td>
                                <td class="public_due_date" style="width: auto;">ชื่อนายทะเบียน</td>
                                <td class="public_due_date" style="width: auto;">วันที่รับงาน</td>
                                <td class="public_due_date" style="width: auto;">ชื่อเจ้าหน้าที่</td>
                                <td class="public_due_date" style="width: auto;">ประเภทคำขอ</td>
                                <td class="public_due_date" style="width: auto;">วันที่ออกหนังสือสำคัญ</td>
                                <td class="public_due_date" style="width: auto;">วันที่หมดอายุ</td>
                                <td class="public_remark" style="width: auto;">รายละเอียดเพิ่มเติม</td>
                                <td class="public_status_name" style="width: auto;">สถานะ</td>
                                <td class="public_order" style="width: auto;">คำสั่ง</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row_item of listPublicItem">
                                <td class="select">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                        <input type="checkbox"
                                            (click)="onSelectColumnInTable('listPublicItem', row_item)"
                                            [checked]="row_item.is_check" />
                                        <span></span>
                                    </label>
                                </td>
                                <td class="index" style="width: auto;">{{row_item.index}}</td>
                                <td class="public_source_name" style="width: auto;">
                                    <div class="button-click-table">
                                        {{row_item.requestNo}}
                                    </div>
                                </td>
                                <td class="public_receive_date_text" style="width: auto;">
                                    {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="public_receive_date_text" style="width: auto;">{{row_item.reciever}}</td>
                                <td class="public_receive_date_text" style="width: auto;">
                                    {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="public_receive_date_text" style="width: auto;">{{row_item.reciever}}</td>
                                <td class="public_receive_date_text" style="width: auto;">{{row_item.reciever}}</td>
                                <td class="public_receive_date_text" style="width: auto;">
                                    {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="public_receive_date_text" style="width: auto;">
                                    {{row_item.createdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="instruction_send_date_text" style="width: auto;">{{row_item.desc}}</td>

                                <td class="public_status_name" style="width: auto;">
                                    <div
                                        [ngClass]="{'status-wait-save': row_item.statusprogress === 'รอบันทึกเลข' , 'status-wait': row_item.statusprogress === 'เสร็จสิ้น', 'status-mail': row_item.statusprogress === 'รอพิมพ์ปกจดหมาย'}">
                                        {{row_item.statusprogress}}
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-icon button-grey">
                                        <i class="dip-icon-printer"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>


    <div class="kt-portlet__footer ">
        <!-- <app-paging [pag]="paginatePublicItem" (onClickList)="onClickPublicRole01ItemList()"></app-paging> -->
        <div class="row col-md-12">
            <div class="col-sm-12 col-md-2 m-b-5 m-t-5">
                <select class="form-control kt-font-brand"
                    (change)="onChangePerPage($event.target.value, 'paginateRequest')">
                    <option *ngFor="let perPage of perPageRequestList" [value]="perPage"> {{perPage}}
                    </option>
                </select>
            </div>
            <div class="col-sm-12 col-md-2 m-b-5">
                <label class="nc-col-form-label  p-t-10" for="present_start_date"> แสดง 1 จาก 10
                    รายการ</label>
            </div>

            <div class="col-sm-12 col-md-5">
                <div class="btn-group pull-right">
                    <label class="nc-col-form-label nc-text-align  p-t-10 p-r-5">วันที่ออกหนังสือ</label>
                    <div class="input-with-icon datepicker m-r-5 m-t-5">
                        <mat-form-field>
                            <div class="kt-input-icon kt-input-icon--right">
                                <input #key_book_date id="book_date" class="form-control input" matInput
                                    [matDatepicker]="picker_book_date" (click)="picker_book_date.open()"
                                    autocomplete="off">
                                <label class="kt-input-icon__icon kt-input-icon__icon--right" for="book_date">
                                    <i class="dip-icon-calendar"></i>
                                </label>
                            </div>
                            <mat-datepicker-toggle matSuffix [for]="picker_book_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker_book_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="btn-group pull-right">
                    <button class="btn btn-brand m-b-5 m-t-5">
                        <i class="dip-icon-file-pdf " style="color: white;"></i>
                        ออกหนังสือสำคัญที่เลือก
                    </button>
                    <button class="btn btn-brand m-b-5 m-t-5" style="margin-left: 10px;">
                        <i class="dip-icon-file-pdf " style="color: white;"></i>
                        ออกหนังสือที่เลือก
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>