<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h4 class="kt-portlet__head-title">
        <i class="dip dip-icon-play"></i>ประกาศโฆษณา
      </h4>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body" style="padding-bottom: 0px;">
    <div class="row justify-content-center">
      <div class="col-10" style="text-align: center;">
        ต้องการประกาศอย่างเร่งด่วนหรือไม่ ? 
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 select-item" style="text-align: center;">

          <label class="kt-radio kt-radio--bold kt-radio--brand">
            <input name="publish"
                   type="radio" > ใช่
            <span></span>
          </label>
         &nbsp;
          <label class="kt-radio kt-radio--bold kt-radio--brand">
            <input name="publish"
                   type="radio" > ไม่ใช่
            <span></span>
          </label>
     
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-12 ">

          <!-- <label class="col-form-label" for="request_number">เหตุผล</label>  -->
          <div class="input-wrapper">
            <textarea class="form-control input" placeholder="เหตุผล"
                      type="text"
                      id="address_information"
                      [(ngModel)]="input.address_information"
                      rows="2">
                    </textarea>

            <div class="feedback-wrapper"></div>
          </div>
      </div>
      <div class="col-2 mt-3">
        <button type="button"
        class="btn btn-brand"
        (click)="onClickSave()">
  <!-- <i class="dip-icon-save"></i> -->
              ตกลง
          </button>
      </div>
    </div>
  </div>
</div>
