<div class="kt-portlet document-role02-item-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <button class="btn btn-input-search" type="button"
              (click)="onClickDocumentRole02ItemListAutoSplit()">
        <i class="dip-icon-forward"></i>
        แจกงาน
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner document-role02-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="post_round_document_post_start_date">วันที่โอนงาน</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_post_round_document_post_start_date id="post_round_document_post_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_post_round_document_post_start_date" (click)="picker_post_round_document_post_start_date.open()"
                         [(ngModel)]="input[key_post_round_document_post_start_date.id]" (dateChange)="clearValidate(key_post_round_document_post_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="post_round_document_post_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_post_round_document_post_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_post_round_document_post_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_document_post_start_date.id]" class="invalid-feedback">
                  {{validate[key_post_round_document_post_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_post_round_document_post_end_date id="post_round_document_post_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_post_round_document_post_end_date" (click)="picker_post_round_document_post_end_date.open()"
                         [(ngModel)]="input[key_post_round_document_post_end_date.id]" (dateChange)="clearValidate(key_post_round_document_post_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="post_round_document_post_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_post_round_document_post_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_post_round_document_post_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_document_post_end_date.id]" class="invalid-feedback">
                  {{validate[key_post_round_document_post_end_date.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-role02-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ประเภทงาน
            </label>
            <div class="input-wrapper">
              <select #key_post_round_type_code
                      class="form-control"
                      id="post_round_type_code"
                      [(ngModel)]="input[key_post_round_type_code.id]"
                      (change)="binding('input', 'post_round_type_code', $event.target.value)"
                      [value]="input.post_round_type_code">
                <option *ngFor="let item of master.postRoundTypeCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_post_round_type_code.id]"
                     class="invalid-feedback">
                  {{validate[key_post_round_type_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-role02-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              กลุ่มงานที่ส่งมา
            </label>
            <div class="input-wrapper">
              <select #key_department_group_code
                      class="form-control"
                      id="department_group_code"
                      [(ngModel)]="input[key_department_group_code.id]"
                      (change)="binding('input', 'department_group_code', $event.target.value)"
                      [value]="input.department_group_code">
                <option *ngFor="let item of master.departmentGroupCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_department_group_code.id]"
                     class="invalid-feedback">
                  {{validate[key_department_group_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner document-role02-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_document_role02_status_code
                      class="form-control"
                      id="document_role02_status_code"
                      [(ngModel)]="input[key_document_role02_status_code.id]"
                      (change)="binding('input', 'document_role02_status_code', $event.target.value)"
                      [value]="input.document_role02_status_code">
                <option *ngFor="let item of master.documentRole02StatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_document_role02_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_document_role02_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner document-role02-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickDocumentRole02ItemList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button><button type="button"
                       class="btn btn-danger"
                       (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet document-role02-item-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickDocumentRole02ItemAdd()">
        <i class="dip-icon-add-new"></i>

      </button>
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickDocumentRole02ItemDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocumentRole02Item')"
                     [checked]="input.is_check_all" /><span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td class="request_date_text">วันที่ยื่นคำขอ</td>
          <td class="request_item_sub_type_1_code_text">จำพวก</td>
          <td class="document_role02_date_text">วันที่ส่งงาน</td>
          <td class="department_group_name">กลุ่มงานที่ส่งมา</td>
          <td class="book_by_name">นายทะเบียนที่ส่งมา</td>
          <td class="document_role02_receive_date_text">วันที่โอนงาน</td>
          <td class="document_role02_receiver_by_name">ผู้รับงาน</td>
          <td class="document_role02_remark">รายละเอียดเพิ่มเติม</td>
          <td class="document_role02_status_name">สถานะ</td>
       <!--   <td class="edit_delete">แก้ไข / ลบ</td>-->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listDocumentRole02Item">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listDocument', row_item)"
                     [checked]="row_item.is_check" /><span></span>
            </label>
          </td>
          <td class="index">{{row_item.index}}</td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="request_date_text">{{row_item.request_date_text}}</td>
          <td class="request_item_sub_type_1_code_text">{{row_item.request_item_sub_type_1_code_text}}</td>
          <td class="document_role02_date_text">{{row_item.instruction_send_date_text}}</td>
          <td class="department_group_name">{{row_item.department_name}}</td>
          <td class="">{{row_item.created_by_name}}</td>
          <td class="document_role02_receive_date_text">{{row_item.document_role02_date_text}}</td>
          <td class="document_role02_receiver_by_name">{{row_item.document_role02_receiver_by_name}}</td>
          <td class="document_role02_remark">{{row_item.document_role02_remark}}</td>
          <td class="document_role02_status_name">{{row_item.document_role02_status_name}}</td>
          <!--<td class="edit_delete">
            <i class="dip-icon-edit" (click)="onClickDocumentRole02ItemEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickDocumentRole02ItemDelete(row_item)"></i>
          </td>-->
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateDocumentRole02Item"
                (onClickList)="onClickDocumentRole02ItemList()"></app-paging>
  </div>
</div>
