<div class="kt-portlet document-role02-check-list-job">
  <div class="kt-portlet__body" style="align-self: center;width: 100%;">
    <div class="form-row">
      <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="REGISTER PAGE 1" [navigationSymbol]="{ symbol: '1' }">
          <hr>
          <div class="row">
            <div class="col-12">
              <h3 class="sub-head-title">
                ค้นหา
              </h3>
            </div>
            <div class="col-12">
              <p>ค้นหาเลขทะเบียนระหว่างประเทศ</p>
            </div>
            <div class="col-lg-12 col-md-8">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="row">
                    <div class="col-lg-12 col-sm-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <br />

                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <button type="button" class="btn btn-brand  btn-align-left m-r-5">
                        <i class="dip-icon-search"></i>
                        ค้นหา
                      </button>
                    </div>
                  </div>
                  <hr>

                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="sub-head-title"> <label class="number-label">1</label> <span style="color: red;">
                          *</span>INTERNATIONAL REGISTRATION NUMBER </h4>
                    </div>
                    <div class="col-12 ">
                      <label for=""> (several international registrations may be indicated below, provided that all
                        registrations concerned are the subject of a total change in ownership, as provided for in item
                        6(a))</label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled>
                    </div>
                  </div>

                  <hr>

                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="sub-head-title"> <label class="number-label">2</label> <span style="color: red;">
                          *</span>NAME OF THE HOLDER (TRANSFEROR) </h4>
                    </div>
                    <div class="col-12">
                      <label for="">(as recorded in the International Register)</label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control">
                    </div>
                  </div>

                  <hr>
                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="sub-head-title"> <label class="number-label">3</label><span style="color: red;">
                          *</span>NEW OWNER (TRANSFEREE) </h4>
                    </div>

                    <div class="col-12">
                      <label for="">(a) Name </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-12">
                      <label for="">(b) Address</label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-12">
                      <label for=""> (c) Address for correspondence </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for="">(d) Telephone </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for=""> Fax
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for=""> <span style="color: red;">*</span> E-mail address</label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>

                    <div class="col-12 mt-3">
                      <p>By providing an e-mail address, any further correspondence from the International Bureau
                        related to
                        this/there international registration(s) will be sent only electronically and, therefore, you
                        will no
                        longer receive any paper correspondence. Likewise, any further correspondence from the
                        International
                        Bureau related to other international applications or international registrations for which the
                        same
                        e-mail address has been, or will be, provided will also be sent only electronically.
                        Please note that, for the purpose of electronic communication, there can be only one e-mail
                        address
                        recorded per each international registration.</p>
                      <p>WIPO will not share the provided email address with any third parties, except with designated
                        Contracting Parties for the express purpose of transmitting official communications regarding
                        the
                        concerned international registration.</p>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-12">
                      <h4 class="sub-head-title"> <label class="number-label">4</label> ENTITLEMENT OF THE NEW OWNER
                        (TRANSFEREE) TO BE THE HOLDER OF THE INTERNATIONAL REGISTRATION </h4>
                    </div>
                    <div class="col-12">
                      <label for="">(a) Indicate in the appropriate space(s): </label>
                    </div>
                    <div class="row" style="width: 100%;">
                      <div class="col-12" style="margin-left: 30px;">
                        <label for="">(i) the name of the Contracting State of which the new owner (transferee) is a
                          national; and/or,</label>
                      </div>
                      <div class="col-12" style="margin-left: 30px;">
                        <input type="text" class="form-control" style="width: 100%;">
                      </div>
                    </div>

                    <div class="row" style="width: 100%;">
                      <div class="col-12" style="margin-left: 30px;">
                        <label for="">(ii) the name of the State member of a Contracting Organization of which the new
                          owner (transferee) is a national; and/or,</label>
                      </div>
                      <div class="col-12" style="margin-left: 30px;">
                        <input type="text" class="form-control" style="width: 100%;">
                      </div>
                    </div>

                    <div class="row" style="width: 100%;">
                      <div class="col-12" style="margin-left: 30px;">
                        <label for="">(iii) the name of the Contracting Party in the territory of which the new owner
                          (transferee) is domiciled; and/or</label>
                      </div>
                      <div class="col-12" style="margin-left: 30px;">
                        <input type="text" class="form-control" style="width: 100%;">
                      </div>
                    </div>

                    <div class="row" style="width: 100%;">
                      <div class="col-12" style="margin-left: 30px;">
                        <label for="">(iv) the name of the Contracting Party in the territory of which the new owner
                          (transferee) has a real and effective industrial or commercial establishment:</label>
                      </div>
                      <div class="col-12" style="margin-left: 30px;">
                        <input type="text" class="form-control" style="width: 100%;">
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="">(b) Where the new owner (transferee) is not a national of a Contracting State or of
                        a State member of a Contracting Organization and the address given in item 3(b) is not in the
                        territory of any of the Contracting Parties mentioned in paragraph (a) (iii) or (iv) of the
                        present item, indicate in the space provided below: </label>
                    </div>
                    <div class="col-12" style="margin-left: 30px;">
                      <div class="row" style="width: 100%;">
                        <label for="">(i) the address of the new owner (transferee) in the territory of the Contracting
                          Party mentioned in paragraph (a)(iii) of the present item; or,</label>
                      </div>
                    </div>
                    <div class="col-12" style="margin-left: 30px;">
                      <div class="row" style="width: 100%;">
                        <label for="">(ii) the address of the new owner’s (transferee) industrial or commercial
                          establishment in the territory of the Contracting Party mentioned in paragraph (a)(iv) of the
                          present item.</label>
                      </div>
                    </div>

                    <div class="col-12" style="margin-left: 30px;">
                      <div class="row" style="width: 100%;">
                        <textarea type="text" class="form-control" style="width: 90%;"></textarea>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="sub-head-title"> <label class="number-label">5</label> APPOINTMENT OF A REPRESENTATIVE
                        BY THE NEW OWNER (TRANSFEREE)</h4>
                    </div>

                    <div class="col-12">
                      <label for="">(a) Name </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-12">
                      <label for="">(b) Address</label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for="">(d) Telephone </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for=""> Fax
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="row">
                        <div class="col-12">
                          <label for="">E-mail address</label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" style="width: 100%;">
                        </div>
                      </div>
                    </div>

                    <div class="col-12 mt-3">
                      <p>By providing an e-mail address, any further correspondence from the International Bureau
                        related to
                        this/there international registration(s) will be sent only electronically and, therefore, you
                        will no
                        longer receive any paper correspondence. Likewise, any further correspondence from the
                        International
                        Bureau related to other international applications or international registrations for which the
                        same
                        e-mail address has been, or will be, provided will also be sent only electronically.
                        Please note that, for the purpose of electronic communication, there can be only one e-mail
                        address
                        recorded per each international registration.</p>
                      <p>WIPO will not share the provided email address with any third parties, except with designated
                        Contracting Parties for the express purpose of transmitting official communications regarding
                        the
                        concerned international registration.</p>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12">
                      <label for="">SIGNATURE OF THE HOLDER APPOINTING THE ABOVE (NEW) REPRESENTATIVE </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" style="width: 100%;">
                    </div>

                    <div class="col-12">
                      <label for=""> This item should be used where the new owner (transferee) wishes to appoint a
                        representative. Note that, if the person recorded as the representative of the holder
                        (transferor) is to be recorded as the representative of the new owner (transferee),
                        such appointment should be made by completing this item. </label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <hr>

          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-light-gray  btn-align-center m-r-5">
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
              <button type="button" class="btn btn-light-black  btn-align-center m-r-5">
                <i class="dip dip-icon-save"></i>
                บันทึก</button>
              <button type="button" class="btn btn-brand   btn-align-center" awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>
        </aw-wizard-step>



        <aw-wizard-step stepTitle="REGISTER PAGE 2" [navigationSymbol]="{ symbol: '2' }">
          <hr>

          <div class="row mt-3">
            <div class="col-12" style="line-height: 1px;">
              <h4 class="sub-head-title"> <label class="number-label">6</label> SCOPE OF THE CHANGE IN OWNERSHIP</h4>
              <br />
              <label for="" style="margin-left: 35px;">(check either (a) or (b))</label>
            </div>
            <br />
            <br />
            <br />
            <div class="col-12">
              <div class="row">
                <div class="col-11" style="line-height: 10px;">
                  <input type="radio" name="3a"><label style="font-size: 16px; padding-left: 10px;"> (a) <label
                      style="text-decoration: underline;">TOTAL CHANGE IN OWNERSHIP</label></label><br />
                  <label class="" style="margin-left: 35px;"> (the cancellation is to be recorded for all goods and
                    services covered by the
                    international
                    registration(s) indicated in item 1),</label>
                </div>
                <div class="col-11" style="line-height: 10px;">
                  <input type="radio" name="3a"> <label style="font-size: 16px; padding-left: 10px;"> (b) <label
                      style="text-decoration: underline;">PARTIAL CHANGE IN OWNERSHIP</label></label><br />
                  <label class="" style="margin-left: 35px;"> (read note No. 3 on the cover page before checking this
                    box)</label>
                </div>
              </div>


              <div class="col-12">
                <div class="row" style="width: 100%; margin-left: 35px;">
                  <label for="">(i) the change in ownership is to be recorded for the designated Contracting Parties
                    indicated below (if no Contracting Party is indicated, it will be understood that the change in
                    ownership is to be recorded in respect of all the designated
                    Contracting Parties); and/or,</label>
                </div>

                <div class="row" style="width: 95%; margin-left: 35px;">
                  <textarea type="text" class="form-control"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="row" style="width: 100%; margin-left: 35px;">
                  <label for="">(ii) the change in ownership is to be recorded for the goods and services indicated
                    below (grouped in the appropriate classes); if no goods and services are indicated, it will be
                    understood that the change in ownership is to be recorded in
                    respect of all goods and services.</label>
                </div>

                <div class="row" style="width: 100%; margin-left: 35px;">
                  <label for="">Please make consistent use of a semicolon (;) to clearly specify the goods and services
                    indications in your list, e.g.:
                    09 Scientific, optical and electronic apparatus and instruments; screens for photoengraving;
                    computers.
                    35 Advertising; compilation of statistics; commercial information agencies.</label>
                </div>

                <div class="row" style="width: 100%; margin-left: 35px;">
                  <label for="">Please use font <label
                      style="font-size: larger; font-weight: 200; font-family: 'Courier New';">“Courier New”</label> or
                    <label style="font-size: larger; font-weight: 200; font-family: 'Times New Roman';">“Times New
                      Roman”</label>, size 12 pt, or above</label>
                </div>

                <div class="row" style="width: 95%; margin-left: 35px;">
                  <textarea type="text" class="form-control"></textarea>
                </div>
              </div>


            </div>
            <div class="col-12">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                <input type="checkbox">
                <label>If the space provided above is not sufficient, check the box and use a continuation
                  sheet</label>
                <span></span>
              </label>
            </div>
            <div class="col-12">
              <label style="color: black;">Where the request concerns Brazil, as designated Contracting Party, the
                transferee declares that
                the transferee, or a company controlled by the transferee, effectively and lawfully conducts business in
                connection with the goods and services
                for which the international registration has effect in Brazil.</label>
            </div>

            <hr>

            <div class="row">
              <div class="col-12">
                <h4 class="sub-head-title"> <label class="number-label">7</label> MISCELLANEOUS INDICATION</h4>
              </div>

              <div class="col-12">
                <label for="">(a) Indications concerning the new owner (transferee) (as may be required by certain
                  designated Contracting Parties; only provide indications in either item (i) or in item (ii) but not in
                  both items):</label>
              </div>

              <div class="row" style="width: 95%;">
                <div class="col-12" style="margin-left: 30px;">
                  <label for="">(i) the name of the Contracting State of which the new owner (transferee) is a
                    national; and/or,</label>
                </div>
                <div class="col-12" style="margin-left: 30px;">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>

              <div class="row" style="width: 95%;">
                <div class="col-12" style="margin-left: 30px;">
                  <label for="">(ii) if the new owner (transferee) is a legal entity (please, provide both the following
                    indications)</label>
                </div>
                <div class="col-12" style="margin-left: 30px;">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>

                <div class="col-12" style="margin-left: 40px;">
                  <label for="">- legal nature of the legal entity</label>
                </div>
                <div class="col-12" style="margin-left: 40px;">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>

                <div class="col-12" style="margin-left: 40px;">
                  <label for="">- State (country) and, where applicable, territorial unit within that State (canton,
                    province, state, etc.), under the law of which the said legal entity has been organized:</label>
                </div>
                <div class="col-12" style="margin-left: 40px;">
                  <input type="text" class="form-control" style="width: 100%;">
                </div>
              </div>

              <div class="col-12">
                <label for="">(b) The new owner (transferee) may choose a preferred language for correspondence:</label>
              </div>

              <div class="col-12">

                <div class="form-group flex retro-manaul-checkbox">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand checkboxclass" style="margin: 5px;">
                    <input type="checkbox">
                    <label for="">English</label>
                    <span></span>
                  </label>
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand checkboxclass" style="margin: 5px;">
                    <input type="checkbox">
                    <label for="">French</label>
                    <span></span>
                  </label>

                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand checkboxclass" style="margin: 5px;">
                    <input type="checkbox">
                    <label for="">Spanish</label>
                    <span></span>
                  </label>

                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">
              <h4 class="sub-head-title"> <label class="number-label">8</label> SIGNATURE BY THE HOLDER AND/OR HIS
                REPRESENTATIVE</h4>
            </div>
            <div class="col-12">
              <label for="">Holder<br />
                (as recorded in the International Register)<br />
                By signing this form, I declare that I am entitled to sign it under the applicable law: </label>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <label for="">Name</label>
                  </div>
                  <div class="row" style="width: 95%;">
                    <input type="text" class="form-control" style="width: 100%;">
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <label for="">E-mail</label>
                  </div>
                  <div class="row" style="width: 95%;">
                    <input type="text" class="form-control" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>


            <div class="col-12">
              <label for="">Holder<br />
                (as recorded in the International Register or herein appointed)
                <br />
                By signing this form, I declare that I am entitled to sign it under the applicable law: </label>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <label for="">Name</label>
                  </div>
                  <div class="row" style="width: 95%;">
                    <input type="text" class="form-control" style="width: 100%;">
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <label for="">E-mail</label>
                  </div>
                  <div class="row" style="width: 95%;">
                    <input type="text" class="form-control" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">
              <h4 class="sub-head-title" style="text-align: center;">ส่วนของเจ้าหน้าที่</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-12" style="line-height: 1px;">
              <h4 class="sub-head-title"> <label class="number-label">9</label> OFFICE OF THE CONTRACTING PARTY (OF THE
                RECORDED HOLDER (TRANSFEROR) OR THAT OF THE NEW OWNER (TRANSFEREE)) PRESENTING THE REQUEST</h4>
              <br />
              <label for="" style="margin-left: 35px;">(where the request is presented through an Office)</label>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-6">
              <div class="row">
                <label for="">Name of the Office</label>
              </div>
              <div class="row" style="width: 95%;">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <label for="">Name and signature of the official signing on behalf of the Office </label>
              </div>
              <div class="row" style="width: 95%;">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>


          <hr>

          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-brand  btn-align-center m-r-5" awPreviousStep>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                ย้อนกลับ</button>
              <button type="button" class="btn btn-light-gray btn-align-center m-r-5">
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
              <button type="button" class="btn btn-light-black btn-align-center m-r-5">
                <i class="dip dip-icon-save"></i>
                บันทึก</button>
              <button type="button" class="btn btn-brand btn-align-center" awNextStep>
                <i class="dip-icon-arrow-right"></i>
                ต่อไป</button>
            </div>
          </div>

        </aw-wizard-step>








        <aw-wizard-step stepTitle="CALCULATION" [navigationSymbol]="{ symbol: '3' }">

          <hr>


          <div class="row">
            <div class="col-12">
              <h4 class="sub-head-title" style="text-align: center;">FEE CALCULATION SHEET</h4>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">
              <h4 class="">(a) INSTRUCTIONS TO DEBIT FROM A CURRENT ACCOUNT</h4>
              <div class="row">
                <div class="col-12">
                  <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox">
                    <label>If the space provided above is not sufficient, check the box and use a continuation
                      sheet</label>
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <label for="">Holder of the account</label>
                  </div>
                  <div class="row">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <label for="">Account number</label>
                  </div>
                  <div class="row">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <label for="">Identity of the party giving the instructions</label>
                  </div>
                  <div class="row">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-12">
                  <h4 class=""> (b) AMOUNT OF FEES</h4>
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <label for="">(per international registration mentioned in item 1)</label>
                    </div>
                    <div class="col-4">
                      <label for="">GRAND TOTAL (Swiss francs)</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-1" style="text-align: center; align-self: center;">
                      X
                    </div>
                    <div class="col-3">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-1" style="text-align: center; align-self: center;">
                      =
                    </div>
                    <div class="col-3">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-12">
                  <h4 class="">(c) METHOD OF PAYMENT</h4>

                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <label for="">Identity of the party effecting the payment </label>
                      </div>
                      <div class="row">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-12">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input type="checkbox">
                        <label>Payment received and acknowledged by WIPO</label>
                        <span></span>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <label for="">WIPO receipt number</label>
                      </div>
                      <div class="row">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>

                  <br />


                  <div class="row">
                    <div class="col-12">
                      <input type="radio" name="3a">
                      <label class="" style="margin-left: 35px; font-size: 16px;">Payment made to WIPO bank account IBAN
                        No. CH51 0483
                        5048 7080 8100 0 Crédit Suisse, CH-1211 Geneva 70 Swift/BIC: CRESCHZZ80A</label>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-3">
                      <label for="">Payment identification</label>
                    </div>
                    <div class="col-3">
                      <label for="">dd/mm/yyyy</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-3">
                      <div class=" input-with-icon datepicker">
                        <mat-form-field>
                          <div class="kt-input-icon kt-input-icon--right">
                            <input #key_present_start_date id="present_start_date" class="form-control input" matInput
                              [matDatepicker]="picker_present_start_date" (click)="picker_present_start_date.open()"
                              autocomplete="off">
                            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="present_start_date">
                              <i class="dip-icon-calendar"></i>
                            </label>
                          </div>
                          <mat-datepicker-toggle matSuffix [for]="present_start_date">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker_present_start_date></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <input type="radio" name="3a">
                      <label class="" style="margin-left: 35px;  font-size: 16px;">Payment made to WIPO postal account
                        (within Europe
                        only) IBAN No. CH03 0900 0000 1200 5000 8 Swift/BIC: POFICHBE 0</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
                      <label for="">Payment identification</label>
                    </div>
                    <div class="col-3">
                      <label for="">dd/mm/yyyy</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-3">
                      <div class=" input-with-icon datepicker">
                        <mat-form-field>
                          <div class="kt-input-icon kt-input-icon--right">
                            <input #key_present_end_date id="present_end_date" class="form-control input" matInput
                              [matDatepicker]="picker_present_end_date" (click)="picker_present_start_date.open()"
                              autocomplete="off">
                            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="present_end_date">
                              <i class="dip-icon-calendar"></i>
                            </label>
                          </div>
                          <mat-datepicker-toggle matSuffix [for]="present_end_date">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker_present_end_date></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      หลักฐานการชำระค่าธรรมเนียม
                      &nbsp;<span><button class="btn-choose-file"> Choose Files..</button></span>
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-12">
                      <h4 class="sub-head-title">
                        <span style="color: red;">
                          *</span>กรุณากรอกชื่อที่ต้องการออกในใบเสร็จรับเงินของกรมทรัพย์สินทางปัญญา(ภาษาไทย)
                      </h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <label for="">ชื่อ</label>
                    </div>
                    <div class="col-4">
                      <label for="">เบอร์โทร</label>
                    </div>
                    <div class="col-4">
                      <label for="">ที่อยู่<span style="color: red;">
                          *</span></label>
                    </div>

                    <div class="col-4">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-4">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-4">
                      <input type="text" class="form-control">
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-12">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                        <input type="checkbox">
                        <label>ต้องการรับใบเสร็จทางไปรษณีย์</label>
                        <span></span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label>(ใบเสร็จของกรมทรัพย์สินทางปัญญาจะถูกจัดส่งทางไปรษณีย์)</label>
                    </div>
                  </div>

                  <hr>


                </div>
              </div>


            </div>


          </div>


          <div class="form-group row ">
            <div class=" button-list">
              <button type="button" class="btn btn-brand  btn-align-center m-r-5" awPreviousStep>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                ย้อนกลับ</button>
              <button type="button" class="btn btn-light-gray btn-align-center m-r-5">
                <i class="dip dip-icon-recycle-rectangle"></i>
                เริ่มใหม่</button>
              <button type="button" class="btn btn-light-black btn-align-center m-r-5">
                <i class="dip dip-icon-save"></i>
                บันทึก</button>
              <button type="button" class="btn btn-light-black btn-align-center m-r-5">
                <i class="dip dip-icon-printer"></i>
                พิมพ์</button>
              <button type="button" class="btn btn-brand btn-align-center">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                เสร็จสิ้น</button>
            </div>
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>