<div class="kt-portlet public-role01-doing-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <div class="kt-portlet__head-action">
        <button class="btn btn-input-search" type="button"
                (click)="onClickPublicRole01DoingPublicRoundEnd()">
          <i class="dip-icon-forward"></i>
          จบประกาศ
        </button>
      </div>

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role01-doing-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_start_start_date">วันที่ประกาศ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_start_start_date id="public_start_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_start_start_date" (click)="picker_public_start_start_date.open()"
                         [(ngModel)]="input[key_public_start_start_date.id]" (dateChange)="clearValidate(key_public_start_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_start_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_start_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_start_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_start_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_start_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_start_end_date id="public_start_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_start_end_date" (click)="picker_public_start_end_date.open()"
                         [(ngModel)]="input[key_public_start_end_date.id]" (dateChange)="clearValidate(key_public_start_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_start_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_start_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_start_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_start_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_start_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner public-role01-doing-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_end_start_date">วันที่ครบประกาศ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_start_date id="public_end_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_start_date" (click)="picker_public_end_start_date.open()"
                         [(ngModel)]="input[key_public_end_start_date.id]" (dateChange)="clearValidate(key_public_end_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_end_end_date id="public_end_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_end_end_date" (click)="picker_public_end_end_date.open()"
                         [(ngModel)]="input[key_public_end_end_date.id]" (dateChange)="clearValidate(key_public_end_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_end_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_end_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_end_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_end_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_end_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div><div class="kt-portlet__body__inner public-role01-doing-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.publicRoundStatusCodeList" class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="public_round_status_code"
                         type="radio"
                         [checked]="item.code === input.public_round_status_code"
                         (click)="binding('input', 'public_round_status_code', item.code)"> {{item.name}}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <!-- <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'" *ngIf="isSubmited">
                  Success! You've done it.
                </div> -->
              </div>
            </div>

          </div>
        </div>
      </div><div class="form-column">
        <div class="kt-portlet__body__inner public-role01-doing-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole01DoingList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role01-doing-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button type="button"
              class="btn btn-create-new btn-icon"
              (click)="onClickPublicRole01DoingAdd()">
        <i class="dip-icon-add-new"></i>

      </button><button type="button"
                       class="btn btn-danger btn-icon"
                       (click)="onClickPublicRole01DoingDelete()">
        <i class="dip-icon-trash"></i>
      </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <!--<td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Doing')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>-->
          <td class="index">#</td>
          <td class="book_index">เล่มที่</td>
          <td class="public_start_date_text">ประกาศวันที่</td>
          <td class="public_end_date">ครบประกาศวันที่</td>
          <td class="request_item_sub_type_1_count">จำนวนประกาศ</td>
          <td class="save020_count">การคัดค้าน</td>
          <td class="public_remain_day">ตัวนับเวลา (วัน)</td>
          <td class="public_doing_remark">รายละเอียดเพิ่มเติม</td>
          <td class="public_do_status_name">สถานะ</td>
          <td class="edit_delete">แก้ไข <!--/ ลบ--></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole01Doing">
          <!--<td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole01Doing', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>-->

          <td class="index">{{row_item.index}}</td>
          <td class="book_index">{{row_item.book_index}}</td>
          <td class="public_start_date_text">{{row_item.public_start_date_text}}</td>
          <td class="public_end_date">{{row_item.public_end_date_text}}</td>
          <td class="request_item_sub_type_1_count">{{row_item.request_item_sub_type_1_count}}</td>
          <td class="save020_count">{{row_item.save020_count}}</td>
          <td class="public_remain_day">{{row_item.public_remain_day}}</td>
          <td class="public_doing_remark">{{row_item.public_doing_remark}}</td>
          <td class="public_do_status_name">{{row_item.public_round_status_name}}</td>
          <td class="edit_delete">
            <i class="dip-icon-edit" (click)="onClickPublicRole01DoingEdit(row_item)">
            </i>
            <!--<i class="dip-icon-trash" (click)="onClickPublicRole01DoingDelete(row_item)"></i>-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole01Doing"
                (onClickList)="onClickPublicRole01DoingList()"></app-paging>
  </div>
</div>
