<div class="kt-portlet consider-board">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        <i class="fa fa-search"></i>
        การค้นหา
      </h3>
    </div>
  </div>
  
  <div class="kt-portlet__body">  
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 ml-5">
            <div class="form-group flex">
                <label class="col-form-label" for="request_number">
                  ประชุมครั้งที่
                </label>          
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control" 
                    autocomplete="off"
                  />
                </div>
                <span class="mr-3 ml-3" style="margin-top: 0.5rem; font-size: large;"> / </span>
                <div class="input-group mb-5">
                  <input 
                    type="text" 
                    class="form-control" 
                    autocomplete="off"
                  />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group flex">
                <label class="col-form-label" for="payment_date">
                  วันที่
                </label>          
                <div class="input-group">
                  <input 
                    type="text" 
                    class="form-control"
                    placeholder="เลือก"
                    #key_payment_date 
                    id="payment_date" 
                    [matDatepicker]="payment_picker"
                    (click)="payment_picker.open()" 
                    (dateChange)="clearValidate(key_payment_date.id)"
                  />
                  <div class="input-group-append">
                    <label class="cs-input-group-text" for="payment_date">
                      <i class="dip-icon-calendar cs-input-group-icon"></i>
                    </label>
                  </div>
                  <mat-datepicker #payment_picker></mat-datepicker>

                
                </div>
              </div>
        </div>

        <div class="col-12">
            <div class="form-group flex" style="justify-content: center;">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-brand" style="min-width: 100px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        ค้นหา
                    </button>
                    <button type="button" class="btn cs-btn-grey-outline ml-3">
                      <i class="fa fa-repeat" aria-hidden="true"></i>
                      เริ่มใหม่
                    </button>
                    <button type="button" class="btn cs-btn-grey-solid ml-3">
                      อ่านข้อมูลวาระการประชุม
                    </button>
                </div>                        
              </div>
        </div>
    </div>
  </div>
</div>

<div class="kt-portlet consider-board" [attr.hidden]="tab_search == true ? null  : ''">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="fa fa-table cs-header-icon cs-color-text-blue" aria-hidden="true"></span>
      <h3 class="kt-portlet__head-title">
        ตารางงาน
      </h3>
    </div>
    <div class="kt-portlet__head-action"></div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table-striped table-responsive table-bordered" style="border: 1px;">
      <table class="box-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">ประชุมครั้งที่</th>
            <th class="cs-theader-c4">วันที่</th>
            <th class="cs-theader-c5">เวลา</th>
            <th class="cs-theader-c6">ห้องประชุม</th>
            <th class="cs-theader-c7">คำสั่ง</th>
          </tr>
        </thead>
        <tbody>
            <!-- dummy data -->
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              01/2562
            </td>
            <td class="cs-tbody-v-align-mid">
              10/09/2562
            </td>
            <td class="cs-tbody-v-align-mid">
              10.30 น.
            </td>
            <td class="cs-tbody-v-align-mid">
              พิจารณาเอกสาร
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;" (click)="toggle_show()">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 
  </div> 

  <div class="kt-portlet__footer ">
    <!-- pagination -->
    <div class="kt-pagination  kt-pagination--brand">
      <div class="kt-pagination__toolbar">
        <select class="form-control kt-font-brand"
                (change)="onChangePerPage($event.target.value, 'paginatePeople')">
          <option *ngFor="let perPage of perPagePeople" [value]="perPage">
            {{ perPage }}
          </option>
        </select>
        <span class="pagination__desc">
          Displaying 1 of
          1 records
        </span>
      </div>
    </div>
  </div>
</div>

<appeal-white-tabs [attr.hidden]="tab_show == true ? null  : ''" [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'" 
  [title]="'บันทึกการลงมติของคณะกรรมการ'">

  <appeal-white-tab [title]="'เรื่องที่ไม่มีประเด็นต้องพิจารณา'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-1-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"/>
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>   
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ไม่มีประเด็น'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-1-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c5">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>   
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon btn-brand" style="height: 30px !important; width: 30px !important;">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>          
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
              <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  บันทึก
              </button>
              <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
                ยกเลิก
              </button>
          </div>                        
        </div>       
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
              <button type="button" class="btn cs-btn-grey-solid">
                  รอประชุมคราวหน้า
              </button>
          </div>                        
        </div>     
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นบ่งเฉพาะ'" style="position: relative; display: block;">
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-1-2">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นเหมือนคล้าย'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 1
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                <input type="checkbox" disabled/>
                <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                <input type="checkbox"/>
                <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                  <div class="input-wrapper-row">
                    <select class="form-control" [(ngModel)]="tab_input.similar">
                      <option *ngFor="let item of appealBoardSolutionList" [value]="item.code">{{item.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'อุทธรณ์ประเด็นคัดค้าน'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 2
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                    <div class="input-wrapper-row">
                      <select class="form-control" [(ngModel)]="tab_input.oppose">
                        <option *ngFor="let item of appealBoardSolutionList" [value]="item.code">{{item.name}}</option>
                      </select>
                    </div>
                </div>
            </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>          
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

  <appeal-white-tab [title]="'เพิกถอนการจดทะเบียน'" style="position: relative; display: block;">
    <div class="row mb-4" style="justify-content: center;">
      <div class="cs-label-status-wara">
        วาระที่ 3
      </div>
    </div>
    <div class="table table-responsive table-bordered" style="border: 1px;">
      <table class="box-3-tab-4-5-6">
        <thead>
          <tr>
            <th class="cs-theader-c1">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                  <input type="checkbox" disabled/>
                  <span></span>
              </label>
            </th>
            <th class="cs-theader-c2">ลำดับ</th>
            <th class="cs-theader-c3">เลขที่คำขอ</th>
            <th class="cs-theader-c4">สถานะ</th>
            <th class="cs-theader-c7">เอกสารสแกน</th>
            <th class="cs-theader-c10">ชื่อเจ้าของ</th>
            <th class="cs-theader-c6">เครื่องหมาย</th>
            <th class="cs-theader-c7">มติของคณกรรมการ</th>
            <th class="cs-theader-c8">รอผลคดี</th>
            <th class="cs-theader-c9">ขอเอกสารเพิ่มเติม</th>
          </tr>    
        </thead>
        <tbody>
          <tr >
            <td class="cs-tbody-v-align-mid">
              <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                  <input type="checkbox"/>
                  <span></span>
              </label>
            </td>
            <td class="cs-tbody-v-align-mid">
              1
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-process">
                741150971
              </div>           
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="cs-label-status-wait">
                ระหว่างอุทธรณ์
              </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-black">
                <span class="dip-icon-layer" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              ฮัลล์ โกลเฮอ เอยี
            </td>
            <td class="cs-tbody-v-align-mid">
              <img src="/assets/images/examples/example-logo-1.png" alt="brand logo" width="100px">
            </td>
            <td class="cs-tbody-v-align-mid">
              <div class="form-group flex mt-3">
                <div class="input-wrapper">
                    <div class="input-wrapper-row">
                      <select class="form-control" [(ngModel)]="tab_input.revoke">
                        <option *ngFor="let item of appealBoardSolutionList" [value]="item.code">{{item.name}}</option>
                      </select>
                    </div>
                </div>
            </div>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
            <td class="cs-tbody-v-align-mid">
              <button type="button" class="btn btn-icon cs-btn-icon-outline-save">
                  <span class="fa fa-play" style="font-size: 15px"></span>
              </button>
            </td>
          </tr>
        </tbody>   
      </table>
    </div> 

    <div class="row">
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-start;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
                บันทึก
            </button>
            <button type="button" class="btn cs-btn-grey-outline ml-3" (click)="toggle_show()">
              ยกเลิก
            </button>
          </div>                        
        </div>
      </div>
      <div class="col-6">
        <div class="form-group flex" style="justify-content: flex-end;">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn cs-btn-grey-solid">
              รอประชุมคราวหน้า
            </button>
          </div>                        
        </div>
      </div>
    </div>
  </appeal-white-tab>

</appeal-white-tabs>

<div class="row" style="justify-content: center;" [attr.hidden]="tab_show == true ? null  : ''">
  <button class="btn btn-brand">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
    ส่งพิจารณา
  </button>
</div>