<div class="kt-portlet public-role04-document-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
      </h3>
    </div>
    <div class="kt-portlet__head-action">

    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role04-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_number">คำขอเลขที่</label>
            <div class="input-wrapper">
              <input #key_request_number class="form-control input" type="text" id="request_number" placeholder="คำขอเลขที่"
                     [(ngModel)]="input[key_request_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]" class="invalid-feedback">
                  {{validate[key_request_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div><div class="kt-portlet__body__inner public-role04-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="registration_number">เลขทะเบียน</label>
            <div class="input-wrapper">
              <input #key_registration_number class="form-control input" type="text" id="registration_number" placeholder="เลขทะเบียน"
                     [(ngModel)]="input[key_registration_number.id]"
                     autocomplete="off" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_registration_number.id]" class="invalid-feedback">
                  {{validate[key_registration_number.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner public-role04-document-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะ
            </label>
            <div class="input-wrapper">
              <select #key_public_role04_status_code
                      class="form-control"
                      id="public_role04_status_code"
                      [(ngModel)]="input[key_public_role04_status_code.id]"
                      (change)="binding('input', 'public_role04_status_code', $event.target.value)"
                      [value]="input.public_role04_status_code">
                <option *ngFor="let item of master.publicRole04StatusCodeList"
                        [value]="item.code">
                  {{item.name}}
                </option>
              </select>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role04_status_code.id]"
                     class="invalid-feedback">
                  {{validate[key_public_role04_status_code.id]}}
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="kt-portlet__body__inner public-role04-document-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="public_role05_start_date">วันที่ตรวจสอบ</label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role05_start_date id="public_role05_start_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role05_start_date" (click)="picker_public_role05_start_date.open()"
                         [(ngModel)]="input[key_public_role05_start_date.id]" (dateChange)="clearValidate(key_public_role05_start_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role05_start_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role05_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role05_start_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role05_start_date.id]" class="invalid-feedback">
                  {{validate[key_public_role05_start_date.id]}}
                </div>
              </div>
            </div>

            <span>ถึง</span>

            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_public_role05_end_date id="public_role05_end_date" class="form-control input" matInput
                         [matDatepicker]="picker_public_role05_end_date" (click)="picker_public_role05_end_date.open()"
                         [(ngModel)]="input[key_public_role05_end_date.id]" (dateChange)="clearValidate(key_public_role05_end_date.id)"
                         autocomplete="off">
                  <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role05_end_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker_public_role05_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #picker_public_role05_end_date></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_public_role05_end_date.id]" class="invalid-feedback">
                  {{validate[key_public_role05_end_date.id]}}
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="kt-portlet__footer ">
    <div class="button-list">
      <button type="button"
              class="btn btn-brand"
              (click)="onClickPublicRole04DocumentList()">
        <i class="dip-icon-search"></i>
        ค้นหา
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onClickReset()">
        <i class="dip-icon-close"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>
<div class="kt-portlet public-role04-document-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางแสดง
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <label class="col-form-label" for="public_role04_document_date">วันที่ออกหนังสือ</label>
      <div class="input-wrapper input-with-icon datepicker">
        <mat-form-field>
          <div class="kt-input-icon kt-input-icon--right">
            <input #key_public_role04_document_date id="public_role04_document_date" class="form-control input" matInput
                   [matDatepicker]="picker_public_role04_document_date" (click)="picker_public_role04_document_date.open()"
                   [(ngModel)]="input[key_public_role04_document_date.id]" (dateChange)="clearValidate(key_public_role04_document_date.id)"
                   autocomplete="off">
            <label class="kt-input-icon__icon kt-input-icon__icon--right" for="public_role04_document_date">
              <i class="dip-icon-calendar"></i>
            </label>
          </div>
          <mat-datepicker-toggle matSuffix [for]="picker_public_role04_document_date">
          </mat-datepicker-toggle>
          <mat-datepicker #picker_public_role04_document_date></mat-datepicker>
        </mat-form-field>

        <div class="feedback-wrapper">
          <div *ngIf="validate[key_public_role04_document_date.id]" class="invalid-feedback">
            {{validate[key_public_role04_document_date.id]}}
          </div>
        </div>
      </div>

      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole04DocumentSend()">
        <i class="dip-icon-save"></i>
        ออกหนังสือที่เลือก
      </button>

      <button type="button"
              class="btn btn-secondary"
              (click)="onClickPublicRole04DocumentAdditionalSend()">
        <i class="dip-icon-save"></i>
        ออกใบแนบท้ายที่เลือก
      </button>

      <!--<button type="button"
          class="btn btn-create-new btn-icon"
          (click)="onClickPublicRole04DocumentAdd()">
    <i class="dip-icon-add-new"></i>

  </button><button type="button"
                   class="btn btn-danger btn-icon"
                   (click)="onClickPublicRole04DocumentDelete()">
    <i class="dip-icon-trash"></i>
  </button>-->

    </div>
  </div>

  <div class="kt-portlet__body">
    <table>
      <thead>
        <tr>
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole04Document')"
                     [checked]="input.is_check_all" />
              <span></span>
            </label>
          </td>
          <td class="index">#</td>
          <td class="request_number">เลขที่คำขอ</td>
          <td>วันที่นายทะเบียนสั่งการ</td>
          <td>ชื่อนายทะเบียน</td>
          <td>วันที่รับงาน</td>
          <td>ชื่อเจ้าหน้าที่</td>
          <td>ประเภทคำขอ</td>
          <td>วันที่ออกหนังสือสำคัญ</td>
          <td>วันที่หมดอายุ</td>
          <td>รายละเอียดเพิ่มเติม</td>
          <td class="public_role04_document_status_name">สถานะ</td>
          <td class="edit_delete">คำสั่ง</td>
          <!--<td class="book_start_date_text">วันที่ประกาศ</td>
          <td class="book_acknowledge_date_text">วันที่ตอบกลับ</td>
          <td class="public_role04_payment_date_text">วันที่ชำระเงิน</td>
          <td class="public_role05_date_text">วันที่นายทะเบียนอนุมัติ</td>
          <td class="public_role04_document_date_text">วันที่ออกหนังสือสำคัญ</td>
          <td class="registration_number">เลขทะเบียน</td>
          <td class="public_role04_document_remark">รายละเอียดเพิ่มเติม</td>
                    -->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row_item of listPublicRole04Document">
          <td class="select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listPublicRole04Document', row_item)"
                     [checked]="row_item.is_check" />
              <span></span>
            </label>
          </td>

          <td class="index">
            {{row_item.index}}
          </td>
          <td class="request_number">{{row_item.request_number}}</td>
          <td class="public_role05_date_text">{{row_item.public_role05_date_text}}</td>
          <td class="public_role05_by_name">{{row_item.public_role05_by_name}}</td>
          <td class="public_role04_date_text">{{row_item.public_role04_date_text}}</td>
          <td class="public_role04_receiver_by_name">{{row_item.public_role04_receiver_by_name}}</td>
          <td class="request_item_type_text">{{row_item.request_item_type_text}}</td>
          <td class="public_role04_document_date_text">{{row_item.public_role04_document_date_text}}</td>
          <td class="trademark_expired_date_text">{{row_item.trademark_expired_date_text}}</td>
          <td class="public_role04_document_remark">{{row_item.public_role04_document_remark}}</td>
          <td class="public_role04_docdument_status_name">{{row_item.public_role04_document_status_name}}</td>
          <!--<td class="book_start_date_text">{{row_item.book_start_date_text}}</td>
          <td class="book_acknowledge_date_text">{{row_item.book_acknowledge_date_text}}</td>
          <td class="public_role04_payment_date_text">{{row_item.public_role04_payment_date_text}}</td>
          <td class="public_role05_date_text">{{row_item.public_role05_date_text}}</td>
          <td class="public_role04_document_date_text">{{row_item.public_role04_document_date_text}}</td>
          <td class="registration_number">{{row_item.registration_number}}</td>
            -->
          <td class="edit_delete">
            <i class="dip-icon-play" (click)="onClickPublicRole04DocumentEdit(row_item)"></i>
            <!--<i class="dip-icon-play" (click)="onClickPublicRole04DocumentAdditionalEdit(row_item)"></i>-->
            <!--<i class="dip-icon-edit" (click)="onClickPublicRole04DocumentEdit(row_item)"></i>
            <i class="dip-icon-trash" (click)="onClickPublicRole04DocumentDelete(row_item)"></i>-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginatePublicRole04Document"
                (onClickList)="onClickPublicRole04DocumentList()"></app-paging>
  </div>
</div>


<div class="div_popup is_product_show" *ngIf="popup.is_product_show">
  <div class="div_popup_background" (click)="popup.is_product_show = false">
  </div>
  <div class="div_popup_body">
    <div class="kt-portlet__body">

      <div class="kt-portlet__head ">
        <div class="kt-portlet__head-label">
          <h3 class="title">
            เลขที่คำขอ ({{rowEdit.request_number}})
          </h3>
        </div>
        <div class="kt-portlet__head-action">
        </div>
      </div>


      <div class="div-pdf">
        <iframe id="pdf"
                frameborder="0"
                scrolling="no"
                seamless=""
                allowfullscreen="allowfullscreen"
                style="width:100%;height:700px"
                [src]="url"></iframe>
      </div>
    </div>


    <div class="kt-portlet__footer">
      <div class="button-list">
        <!--<button type="button"
                class="btn btn-danger"
                (click)="onClickPublicRole05DocumentSendBack()">
          <i class="dip-icon-reset"></i>
          ส่งแก้ไข
        </button>-->
        <button type="button"
                class="btn btn-brand"
                (click)="onClickPublicRole04DocumentSend(rowEdit)">
          <i class="dip-icon-printer"></i>
          พิมพ์หนังสือ
        </button>
      </div>
    </div>
  </div>
</div>
