<div class="kt-portlet request-01-item-list-job">
  <div class="kt-portlet__head hide">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"></h3>
    </div>
    <div class="kt-portlet__head-action"></div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-row">
      <div class="form-column">
        <div class="kt-portlet__body__inner request-01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              ผู้บันทึกรายการ
            </label>
            <div class="input-wrapper">
              <input #key_created_by_name
                     class="form-control input"
                     type="text"
                     id="created_by_name"
                     placeholder="ผู้บันทึกรายการ"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_created_by_name.id]" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_created_by_name.id]"
                     class="invalid-feedback">
                  {{ validate[key_created_by_name.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner request-01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label" for="request_date">
              วันที่ยื่นคำขอ
            </label>
            <div class="input-wrapper input-with-icon datepicker">
              <mat-form-field>
                <div class="kt-input-icon kt-input-icon--right">
                  <input #key_request_date
                         id="request_date"
                         class="form-control input"
                         matInput
                         [matDatepicker]="picker"
                         (click)="picker.open()"
                         [(ngModel)]="input[key_request_date.id]"
                         (dateChange)="clearValidate(key_request_date.id)" />
                  <label class="kt-input-icon__icon kt-input-icon__icon--right"
                         for="request_date">
                    <i class="dip-icon-calendar"></i>
                  </label>
                </div>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_date.id]"
                     class="invalid-feedback">
                  {{ validate[key_request_date.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner request-01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่อ้างอิงการชำระเงิน
            </label>
            <div class="input-wrapper">
              <input #key_reference_number
                     class="form-control input"
                     type="text"
                     id="reference_number"
                     placeholder="เลขที่อ้างอิงการชำระเงิน"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_reference_number.id]" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_reference_number.id]"
                     class="invalid-feedback">
                  {{ validate[key_reference_number.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column">
        <div class="kt-portlet__body__inner request-01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              เลขที่คำขอ
            </label>
            <div class="input-wrapper">
              <input #key_request_number
                     class="form-control input"
                     type="text"
                     id="request_number"
                     placeholder="เลขที่คำขอ"
                     [ngClass]="
                  isSubmited ? (isValid ? 'is-valid' : 'is-invalid') : null
                "
                     [(ngModel)]="input[key_request_number.id]" />

              <div class="feedback-wrapper">
                <div *ngIf="validate[key_request_number.id]"
                     class="invalid-feedback">
                  {{ validate[key_request_number.id] }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body__inner request-01-item-lister">
          <div class="form-group flex">
            <label class="col-form-label">
              สถานะใบเสร็จ
            </label>

            <div class="input-wrapper">
              <div class="kt-radio-inline select-item">
                <label *ngFor="let item of master.receiptStatusCodeList"
                       class="kt-radio kt-radio--bold kt-radio--brand">
                  <input name="receipt_status_code"
                         type="radio"
                         [checked]="item.code === input.receipt_status_code"
                         (click)="
                      binding('input', 'receipt_status_code', item.code)
                    " />
                  {{ item.name }}
                  <span></span>
                </label>
              </div>
              <div class="feedback-wrapper">
                <div [ngClass]="isValid ? 'valid-feedback' : 'invalid-feedback'"
                     *ngIf="isSubmited">
                  Success! You've done it.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <button type="button"
            class="btn btn-brand"
            (click)="onClickRequest01ItemList()">
      <i class="dip-icon-search"></i>
      ค้นหา
    </button>
  </div>
</div>
<div class="kt-portlet request-01-item-list-job">
  <div class="kt-portlet__head ">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        ตารางข้อมูลการรับคำขอ ก.01
      </h3>
    </div>
    <div class="kt-portlet__head-action">
      <!--<button class="btn btn-create-new btn-icon"
              type="button"
              (click)="onClickRequest01ItemRequest01ItemAdd()">
        <i class="dip-icon-add-new"></i>
      </button>-->
      <button type="button"
              class="btn btn-danger btn-icon"
              (click)="onClickRequest01ItemDelete()">
        <i class="dip-icon-trash"></i>
      </button>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="table table_2">
      <div class="table-inner">
        <div class="tr header">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listRequest01Item')"
                     [checked]="input.is_check_all" /><span></span>
            </label>
          </div>
          <div class="td request_date_text">วันที่ยื่นคำขอ</div>
          <div class="td request_number">เลขที่คำขอ</div>
          <div class="td requester_name">ผู้ยื่นคำขอ</div>
          <div class="td income_type">รหัสรายได้</div>
          <div class="td total_price">จำนวนเงิน</div>
          <div class="td item_sub_type_1_count">จำนวนจำพวก</div>
          <div class="td product_count">จำนวนสินค้า</div>
          <div class="td size_over_cm">ส่วนเกิน ชม.</div>
          <div class="td created_by_name">ผู้บันทึกรายการ</div>
          <div class="td created_date_text">วันที่บันทึกรายการ</div>
          <div class="td receipt_number">เลขที่ใบเสร็จ</div>
          <div class="td cancel_reason">เหตุผลการยกเลิก</div>
          <div class="td edit_delete">แก้ไข / ลบ</div>
        </div>
        <div class="tr body"
             *ngFor="
            let row_item of listRequest01Item
          ">
          <div class="td select">
            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
              <input type="checkbox"
                     (click)="onSelectColumnInTable('listRequest01Item', row_item)"
                     [checked]="row_item.is_check" /><span></span>
            </label>
          </div>
          <div class="td request_date_text">
            {{ row_item.request_date_text }}
          </div>
          <div class="td request_number">
            {{ row_item.request_number }}

            <div style="color:red;" *ngIf="row_item.status_code=='DELETE'">
              (ยกเลิก)
            </div>
          </div>
          <div class="td requester_name">{{ row_item.requester_name }}</div>
          <div class="td income_type">{{ row_item.income_type }}</div>
          <div class="td total_price">{{ row_item.total_price }}</div>
          <div class="td item_sub_type_1_count">
            {{ row_item.item_sub_type_1_count }}
          </div>
          <div class="td product_count">{{ row_item.product_count }}</div>
          <div class="td size_over_cm">{{ row_item.size_over_cm }}</div>
          <div class="td created_by_name">{{ row_item.created_by_name }}</div>
          <div class="td created_date_text">
            {{ row_item.created_date_text }}
          </div>
          <div class="td receipt_number">{{ row_item.receipt_number }}</div>
          <div class="td cancel_reason">{{ row_item.cancel_reason }}</div>
          <div class="td edit_delete">
            <i class="dip-icon-edit"
               (click)="onClickRequest01ItemEdit(row_item)"></i><i class="dip-icon-trash"
                                                                   (click)="onClickRequest01ItemDelete(row_item)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__footer ">
    <app-paging [paginate]="paginateRequest01Item"
                (onClickList)="onClickRequest01ItemList()"></app-paging>
  </div>
</div>
