<div class="kt-portlet document-role03-check-list-job">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <button class="btn btn-icon btn-brand" style="height: 25px; width: 25px;" >
          <i >2</i>
        </button>
        
        <h3 class="kt-portlet__head-title">
           HOLDER OF THE INTERNATIONAL REGISTRATION
        </h3>
      </div>
    </div>
    <div class="kt-portlet__head-action">

    </div>
    <ng-container ktPortletTools>
      <label>
        <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
      </label>
    </ng-container>
  </div>


  
  <div class="kt-portlet__body">
    <div class="form-group flex">
      <label class="col-form-label" style="justify-content: left; font-size: 20px; color:#0c84c8 ;">รายละเอียด</label>
    </div>
    <div class="form-group flex">
      <label class="col-form-label" style="justify-content: left;">เพิ่มข้อความ</label>
    </div>
    
    
      
        <div class="form-group flex">
          <div class="col-12">
            
            <div class="input-wrapper">
              <textarea class="form-control input"
                        type="text"
                        id="document_role04_receive_remark"
                        [(ngModel)]="popup.row_item_edit.document_role04_receive_remark"
                        rows="10"
                        autocomplete="off"></textarea>

              <div class="feedback-wrapper"><div class="invalid-feedback"></div></div>
            </div>
          </div>
        

      
    </div>
    


  </div>

  <div class="kt-portlet__footer">
    <div class="button-list">
      
      <button _ngcontent-rmy-c5="" class="btn btn-white" type="button"><i _ngcontent-rmy-c5="" class="dip-icon-cross"></i> ยกเลิก </button>

      <button _ngcontent-rmy-c5="" class="btn btn-brand nc-button-float-right"><i _ngcontent-rmy-c5="" class="dip-icon-check"></i> ยืนยัน </button>

    </div>
  </div>




  
</div>