<ng-container *ngIf="isLogin && !isEForm">
  <app-nav></app-nav>
  <app-main-layout class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper">
    <router-outlet></router-outlet>
  </app-main-layout>
</ng-container>

<ng-container *ngIf="!isLogin && isVoucherNumber">
  <app-nav></app-nav>
  <app-main-layout class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper">
    <router-outlet></router-outlet>
  </app-main-layout>
</ng-container>

<ng-container *ngIf="isEForm">
  <app-main-layout-eform>
    <router-outlet></router-outlet>
  </app-main-layout-eform>
</ng-container>

<!-- Loading -->
<ngx-spinner
  size="medium"
  color="#fff"
  type="fire"
>
  <p style="color: white"> Loading... </p>
</ngx-spinner>
