:host {
  color: #6D6E71;

  .kt-portlet {
      font-size: 16px;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-weight: 400;

      .col-form-label {
          margin: 0 10px;
      }

      .input-wrapper {
          margin: 0 10px;
      }
  }

  app-tabs.ng-star-inserted[modal_tab] {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 10000;

      .kt-portlet--background {
          width: 100%;
          height: 100%;
          background-color: #aaa;
      }

      .kt-portlet{
          width: 1330px;
          display: block;
          margin: 0 auto;
      }
  }

  .div_autocomplete {
      color: #6D6E71;
      position: absolute;
      background: #fff;
      border: 1px solid #e2e5ec;
      margin-top: 4px;
      border-radius: 4px;
      box-shadow: 10px 10px 18px 0px #e2e5ec;
      z-index: 1;

      tr {
          line-height: 60px;

          &:hover {
              background-color: #F4F5F8;
          }

          td  {
              padding: 0 12px;
          }
      }
  }

  .table-inner {
      input.form-control, select.form-control {
          width: 100%;
      }

      .dip-icon-edit {
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
              color: #C31D1D;
              cursor: pointer;
          }
      }

      .dip-icon-trash {
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
              color: #C31D1D;
              cursor: pointer;
          }
      }
  }

  .hide {
      display: none;
  }

  .flex_none {
    flex: none;
  }

  .btn-create-new {
      & + .btn-danger {
          margin-left: 10px;
      }
  }

  input.form-control, select.form-control {
      width: 375px;
  }

  .tab-pane {
      position: relative;

      .top-right-operator {
          position: absolute;
          right: 0;
          top: -75px;

          .btn {
              margin-left: 10px;

              &:first-child {
                  margin-left: 0;
              }
          }
      }

      .empty-list {
          display: flex;
          justify-content: center;
          background-color: #F4F5F8;
          width: 100%;
          min-height: 65px;
          align-items: center;

          .btn {
              margin: 0 10px;
          }
      }
  }

  .kt-portlet__head-action {
      & > * + button {
          margin-left: 15px;
      }

      & > * + input {
          margin-left: 15px;
      }

      & > * + label {
          margin-left: 15px;
      }
  }

  .mat-input-element {
      border: 1px solid rgb(226, 229, 236);
  }

.kt-portlet__body_cover {
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 45px 0 8px 25px;
  position: relative;

  &:nth-child(n+2) {
    margin-top: 50px;
  }

  .cover {
    position: absolute;
    top: -23px;
    left: 34px;
    padding: 10px 45px;
    background-color: #E5F2F9;
    border-radius: 20px;
    color: #0C84C8;
    font-size: 20px;
  }
}

  .kt-portlet__body__inner {
      .form-group {
          & > * + button {
              margin-left: 15px;
          }

          & > * + span {
              margin-left: 15px;
          }

          & > * + label {
              margin-left: 15px;
          }

          & .input-date {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;

              & + button {
                  margin-left: 0;
              }
          }

          & > button.btn-input-search {
              flex: 0 0 3rem;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              margin-left: 0;

              .input {
                  flex: 1 1 auto;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
              }
          }
      }
  }

  .kt-portlet span {
      font-family: "Noto Sans Thai", "Noto Sans";
      font-size: 16px;
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-box;
      display: flex;
      font-weight: normal;
      color: #6d6e71;
  }

  .table {
      .td {
          input {
              width: 100%;
          }

          &.edit_delete {
              & > a {
                  padding: 4px 8px;

                  & + a {
                      margin-left: 8px;
                  }
              }
          }
      }

      a {
          color: #0c84c8;
          text-decoration: underline;
      }

      .icon {
          height: 16px;
          width: auto;
      }

      .select {
          flex: 0 0 40px;
          max-width: 40px;
          justify-content: center;
          text-align: center;
      }

      .delete {
          flex: 0 0 40px;
          max-width: 40px;
          justify-content: center;
          text-align: center;
      }

      .edit_delete {
          flex: 0 0 95px;
          max-width: 95px;
          justify-content: center;
          text-align: center;
      }

            &.table_2 {
          .index { flex: 0 0 50px; max-width: 50px; justify-content: center; text-align: center; }
          .request_number { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
          .document_date_text { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
          .created_by_name { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
          .rule_count { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
          .name { flex: 0 0 120px; max-width: 120px; justify-content: center; text-align: center; }
          .house_number { flex: 0 0 80px; max-width: 80px; justify-content: center; text-align: center; }
          .is_add_address { flex: 0 0 80px; max-width: 80px; justify-content: center; text-align: center; }
          .document_role02_receive_remark { flex: 0 0 100px; max-width: 100px; justify-content: center; text-align: center; }
          .document_receive_status_name { flex: 0 0 80px; max-width: 80px; justify-content: center; text-align: center; }
    }

  }

  table {
    border-collapse: collapse;
    color: #626366;
    width: fit-content;

    thead {
      font-weight: bold;
    }

    td {
      padding: 15px 8px 10px;
      text-align: center;
    }

    tbody {
      tr {
        &:nth-child(2n-1) {
          background-color: #F4F5F8;
        }
      }

      td {
        & > * {
          display: inline-flex;
        }

        input {
          width: 50px;
        }

        &.edit_delete, &.delete {
          .dip-icon-edit, .dip-icon-trash {
            margin: 0 5px;

            &:hover {
              color: #C31D1D;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .kt-portlet__head-action {
    input {
      width: auto;
    }
  }
}

.tag {
  background-color: #bac3d0;
  border-radius: 4px;
  padding: 1px 8px;
  text-align: center;
  color: white;
  min-height: 26px;
  display: flex;
  align-items: center;

  &.brand {
      background-color: #0c84c8;
      color: white;
  }

  &.waiting-to-check {
      background-color: #385d8a;
      color: white;
  }
}

.button-click-table{
  border-radius: 8px;
  background-color: #0C84C8;
  border: none;
  color: white;
  width: -webkit-fill-available;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: block !important;

}


.status-save{
  border-radius: 8px;
  background-color: black;
  border: none;
  color: white;
  width: -webkit-fill-available;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: block !important;
}

.status-wait{
  border-radius: 8px;
  background-color: grey;
  border: none;
  color: white;
  width: -webkit-fill-available;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: block !important;
}

.edit-button{
  background-color: #0C84C8;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 1px;
}

.remove-button{
  background-color: #0C84C8;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 1px;
}

.print-button{
  background-color: #0C84C8;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 1px;
}

.search-button{
  background-color: #0C84C8;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin: 1px;
}
