 <appeal-white-tabs [navClassName]="'nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold'" >  
    <appeal-white-tab [title]="'เรื่องที่ไม่มีประเด็นต้องพิจารณา'" style="position: relative; display: block;">
        <div class="term">
            <div class="form-group flex">      
              <label class="term-label">วาระที่</label>
              <input
                class="form-control term-no"
                type="number"
                id="item_count"
              />
            </div>
        </div> 
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">
              <table>
                <thead>
                  <tr>
                    <th class="cs-theader-c1">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                          <input type="checkbox"/>
                          <span></span>
                      </label>
                    </th>
                    <th class="cs-theader-c2">ลำดับ</th>
                    <th class="cs-theader-c3">เลขที่คำขอ</th>
                    <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                    <th class="cs-theader-c5">ประเด็น</th>
                    <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                    <th class="cs-theader-c7">เอกสารสแกน</th>
                    <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                    <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- dummy data -->
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="-"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                              <span>ดูความคิดเห็น</span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                      <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="-"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                              <span>ดูความคิดเห็น</span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                </tbody>   
              </table>
            </div> 

            <div class="row">
              <div class="col-6">
                <div class="form-group flex" style="justify-content: flex-start;">
                  <div class="d-flex justify-content-center">
                      <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                          <i class="fa fa-floppy-o" aria-hidden="true"></i>
                          บันทึก
                      </button>
                      <button type="button" class="btn cs-btn-grey-outline ml-3">
                        ยกเลิก
                      </button>
                  </div>                        
                </div>
              </div>
            </div>
        </appeal-white-tab>

        <appeal-white-tab [title]="'อุทธรณ์ไม่มีประเด็น'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div> 
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">
            <table>
                <thead>
                    <tr>
                      <th class="cs-theader-c1">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                      </th>
                      <th class="cs-theader-c2">ลำดับ</th>
                      <th class="cs-theader-c3">เลขที่คำขอ</th>
                      <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                      <th class="cs-theader-c5">ประเด็น</th>
                      <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                      <th class="cs-theader-c7">เอกสารสแกน</th>
                      <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                      <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                    </tr>
                </thead>
                <tbody>
                  <!-- dummy data -->
                  <tr >
                    <td class="cs-tbody-v-align-mid">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"/>
                          <span></span>
                      </label>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      1
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control request_no" 
                      placeholder="910225"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control point" 
                      placeholder="ไม่มี"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control name" 
                      placeholder="ฮิตซามิซุ คำปะนี"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                          <span class="dip-icon-layer" style="font-size: 15px"></span>
                      </button>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                          <span>ดูความคิดเห็น</span>
                      </button>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                          <span class="dip-icon-printer" style="font-size: 15px"></span>
                      </button>
                    </td>
                  </tr>
                  <tr >
                    <td class="cs-tbody-v-align-mid">
                      <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                          <input type="checkbox"/>
                          <span></span>
                      </label>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      1
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control request_no" 
                      placeholder="910225"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control point" 
                      placeholder="ไม่มี"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <input 
                      class="form-control name" 
                      placeholder="ฮิตซามิซุ คำปะนี"
                      disabled 
                    />
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                          <span class="dip-icon-layer" style="font-size: 15px"></span>
                      </button>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                          <span>ดูความคิดเห็น</span>
                      </button>
                    </td>
                    <td class="cs-tbody-v-align-mid">
                      <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                          <span class="dip-icon-printer" style="font-size: 15px"></span>
                      </button>
                    </td>
                  </tr>
              </tbody>   
            </table>
          </div> 

          <div class="row">
            <div class="col-6">
              <div class="form-group flex" style="justify-content: flex-start;">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        บันทึก
                    </button>
                    <button type="button" class="btn cs-btn-grey-outline ml-3">
                      ยกเลิก
                    </button>
                </div>                        
              </div>
            </div>
          </div>
        </appeal-white-tab>

        <appeal-white-tab [title]="'อุทธรณ์ประเด็นบ่งเฉพาะ'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div>
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                <table>
                    <thead>
                        <tr>
                          <th class="cs-theader-c1">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                          </th>
                          <th class="cs-theader-c2">ลำดับ</th>
                          <th class="cs-theader-c3">เลขที่คำขอ</th>
                          <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                          <th class="cs-theader-c5">ประเด็น</th>
                          <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                          <th class="cs-theader-c7">เอกสารสแกน</th>
                          <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                          <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                        </tr>
                      </thead>
                  <tbody>
                      <!-- dummy data -->
                    <tr >
                      <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        1
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control request_no" 
                        placeholder="910225"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control point" 
                        placeholder="บ่งเฉพาะ"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control name" 
                        placeholder="ฮิตซามิซุ คำปะนี"
                        disabled 
                      />
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-layer" style="font-size: 15px"></span>
                        </button>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                            <span>ดูความคิดเห็น</span>
                        </button>
                      </td>
                      <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-printer" style="font-size: 15px"></span>
                        </button>
                      </td>
                    </tr>
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="บ่งเฉพาะ"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                              <span>ดูความคิดเห็น</span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                      <tr >
                        <td class="cs-tbody-v-align-mid">
                          <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                              <input type="checkbox"/>
                              <span></span>
                          </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control request_no" 
                          placeholder="910225"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control point" 
                          placeholder="บ่งเฉพาะ"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <input 
                          class="form-control name" 
                          placeholder="ฮิตซามิซุ คำปะนี"
                          disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-layer" style="font-size: 15px"></span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                              <span>ดูความคิดเห็น</span>
                          </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                          <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                              <span class="dip-icon-printer" style="font-size: 15px"></span>
                          </button>
                        </td>
                      </tr>
                  </tbody>   
                </table>
              </div> 
  
              <div class="row">
                <div class="col-6">
                  <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          ยกเลิก
                        </button>
                    </div>                        
                  </div>
                </div>
              </div>

        </appeal-white-tab>

        <appeal-white-tab [title]="'อุทธรณ์ประเด็นเหมือนคล้าย'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div> 
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                <table>
                    <thead>
                    <tr>
                        <th class="cs-theader-c1">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </th>
                        <th class="cs-theader-c2">ลำดับ</th>
                        <th class="cs-theader-c3">เลขที่คำขอ</th>
                        <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                        <th class="cs-theader-c5">ประเด็น</th>
                        <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                        <th class="cs-theader-c7">เอกสารสแกน</th>
                        <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                        <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- dummy data -->
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control request_no" 
                        placeholder="910225"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control point" 
                        placeholder="เหมือนคล้าย"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control name" 
                        placeholder="ฮิตซามิซุ คำปะนี"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-layer" style="font-size: 15px"></span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                            <span>ดูความคิดเห็น</span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-printer" style="font-size: 15px"></span>
                        </button>
                        </td>
                    </tr>
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เหมือนคล้าย"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                        <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เหมือนคล้าย"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                    </tbody>   
                </table>
                
            </div>
            <div class="row">
                <div class="col-6">
                  <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          ยกเลิก
                        </button>
                    </div>                        
                  </div>
                </div>
              </div>
        </appeal-white-tab>

        <appeal-white-tab [title]="'อุทธรณ์ประเด็นคัดค้าน'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
                </div>
            </div> 
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">
                <table>
                    <thead>
                    <tr>
                        <th class="cs-theader-c1">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </th>
                        <th class="cs-theader-c2">ลำดับ</th>
                        <th class="cs-theader-c3">เลขที่คำขอ</th>
                        <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                        <th class="cs-theader-c5">ประเด็น</th>
                        <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                        <th class="cs-theader-c7">เอกสารสแกน</th>
                        <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                        <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- dummy data -->
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control request_no" 
                        placeholder="910225"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control point" 
                        placeholder="คัดค้าน"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control name" 
                        placeholder="ฮิตซามิซุ คำปะนี"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-layer" style="font-size: 15px"></span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                            <span>ดูความคิดเห็น</span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-printer" style="font-size: 15px"></span>
                        </button>
                        </td>
                    </tr>
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="คัดค้าน"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                        <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="คัดค้าน"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                    </tbody>   
                </table>
            </div>
            <div class="row">
                <div class="col-6">
                  <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          ยกเลิก
                        </button>
                    </div>                        
                  </div>
                </div>
              </div>
        </appeal-white-tab>

        <appeal-white-tab [title]="'เพิกถอนการจดทะเบียน'" style="position: relative; display: block;">
            <div class="term">
                <div class="form-group flex">      
                  <label class="term-label">วาระที่</label>
                  <input
                    class="form-control term-no"
                    type="number"
                    id="item_count"
                  />
            </div>
            </div> 
            <div class="table table-responsive table-bordered table-01" style="border: 1px;">    
                <table>
                    <thead>
                    <tr>
                        <th class="cs-theader-c1">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label cs-checkbox">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </th>
                        <th class="cs-theader-c2">ลำดับ</th>
                        <th class="cs-theader-c3">เลขที่คำขอ</th>
                        <th class="cs-theader-c4">รูปเครื่องหมาย</th>
                        <th class="cs-theader-c5">ประเด็น</th>
                        <th class="cs-theader-c6">ชื่อเจ้าของ</th>
                        <th class="cs-theader-c7">เอกสารสแกน</th>
                        <th class="cs-theader-c8">ความคิดเห็นของคณะกรรมการ</th>
                        <th class="cs-theader-c9">ดูร่างคำวินิจฉัย</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- dummy data -->
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                            <input type="checkbox"/>
                            <span></span>
                        </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control request_no" 
                        placeholder="910225"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control point" 
                        placeholder="เพิกถอน"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <input 
                        class="form-control name" 
                        placeholder="ฮิตซามิซุ คำปะนี"
                        disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-layer" style="font-size: 15px"></span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                            <span>ดูความคิดเห็น</span>
                        </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                        <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                            <span class="dip-icon-printer" style="font-size: 15px"></span>
                        </button>
                        </td>
                    </tr>
                    <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เพิกถอน"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                        <tr >
                        <td class="cs-tbody-v-align-mid">
                            <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand no-label">
                                <input type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            1
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control request_no" 
                            placeholder="910225"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <img class="symbol-img" src="/assets/images/examples/example-logo-1.png" alt="brand logo">
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control point" 
                            placeholder="เพิกถอน"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <input 
                            class="form-control name" 
                            placeholder="ฮิตซามิซุ คำปะนี"
                            disabled 
                        />
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-grey" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-layer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-brand" style="height: 40px !important; width: 150px !important;">
                                <span>ดูความคิดเห็น</span>
                            </button>
                        </td>
                        <td class="cs-tbody-v-align-mid">
                            <button type="button" class="btn btn-icon btn-outline-brand" style="height: 30px !important; width: 30px !important;">
                                <span class="dip-icon-printer" style="font-size: 15px"></span>
                            </button>
                        </td>
                        </tr>
                    </tbody>   
                </table>
            </div>
            <div class="row">
                <div class="col-6">
                  <div class="form-group flex" style="justify-content: flex-start;">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn cs-btn-save-solid" style="min-width: 100px;">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            บันทึก
                        </button>
                        <button type="button" class="btn cs-btn-grey-outline ml-3">
                          ยกเลิก
                        </button>
                    </div>                        
                  </div>
                </div>
              </div>
        </appeal-white-tab>
    </appeal-white-tabs>
    <div class="row" style="margin-top: 3%;">
        <div class="col-12">
          <div class="form-group flex" style="justify-content: center; margin-left: 5%;">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn cs-btn-grey-solid">
                    ดูร่างคำวินิจฉัย
                </button>
                <button type="button" class="btn btn-brand ml-5">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    ออกเลขคำวินิจฉัย
                </button>
            </div>                        
          </div>
        </div>
    </div>