:host {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  display: flex;
  width: 100%;

  .kt-subheader {
    .kt-container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .kt-subheader__breadcrumbs-home {
      display: flex;

      &>i {
        color: #6D6E71;
      }
    }

    .kt-subheader__breadcrumbs-link {
      color: #6D6E71;
      font-family: 'Noto Sans Thai', 'Noto Sans';
      font-size: 16px;

      &.current {
        pointer-events: none;
      }

      &:hover {
        color: #0C84C8;
      }
    }

    .kt-subheader__separator--v {
      height: 37px;
    }

    .kt-subheader__breadcrumbs-separator {
      &:after {
        width: 8px;
        height: 1px;
        border-radius: 0;
        margin: 0 3px;
      }
    }

    .kt-subheader__btn-toolbar {
      background-color: white;
      width: 37px;
      height: 37px !important;
      border-radius: 2px;

      &:hover {
        background-color: #BCBDC0;
      }
    }
  }

  .kt-subheader__title {
    font-family: 'Noto Sans Thai', 'Noto Sans';
    font-size: 26px;
    color: #0C84C8;
  }

  a.btn {
    font-size: 16px;

    &+a.btn {
      margin-left: 10px;
    }
  }

  @media only screen and (min-width: 1921px) {
    :host {
      min-width: 1650px;
    }
  }
}
