:host {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  display: flex;
  width: 100%;
}

:host .kt-subheader .kt-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

:host .kt-subheader .kt-subheader__breadcrumbs-home {
  display: flex;
}

:host .kt-subheader .kt-subheader__breadcrumbs-home > i {
  color: #6D6E71;
}

:host .kt-subheader .kt-subheader__breadcrumbs-link {
  color: #6D6E71;
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 16px;
}

:host .kt-subheader .kt-subheader__breadcrumbs-link.current {
  pointer-events: none;
}

:host .kt-subheader .kt-subheader__breadcrumbs-link:hover {
  color: #0C84C8;
}

:host .kt-subheader .kt-subheader__separator--v {
  height: 37px;
}

:host .kt-subheader .kt-subheader__breadcrumbs-separator:after {
  width: 8px;
  height: 1px;
  border-radius: 0;
  margin: 0 3px;
}

:host .kt-subheader .kt-subheader__btn-toolbar {
  background-color: white;
  width: 37px;
  height: 37px !important;
  border-radius: 2px;
}

:host .kt-subheader .kt-subheader__btn-toolbar:hover {
  background-color: #BCBDC0;
}

:host .kt-subheader__title {
  font-family: 'Noto Sans Thai', 'Noto Sans';
  font-size: 26px;
  color: #0C84C8;
}

:host a.btn {
  font-size: 16px;
}

:host a.btn + a.btn {
  margin-left: 10px;
}

@media only screen and (min-width: 1921px) {
  :host :host {
    min-width: 1650px;
  }
}
