<script type="text/javascript">
  document.title = "{{ breadcrumb.header }}";
</script>

<div class="kt-header kt-grid kt-grid--ver  kt-header--fixed">
</div>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  <div *ngIf="!isStayDashboard()"
       class="kt-subheader kt-grid__item"
       id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
          {{breadcrumb.header}}
        </h3>

        <span class="kt-subheader__separator kt-subheader__separator--v"></span>

        <div class=" kt-subheader__breadcrumbs">

          <a [routerLink]="pathHome"
             class="kt-subheader__breadcrumbs-home">
            <i class="dip-icon-home"></i>
          </a>

          <span class="kt-subheader__breadcrumbs-separator"></span>

          <ng-container *ngFor="let item of breadcrumb.list; let last = last;">
            <a class="kt-subheader__breadcrumbs-link" routerLink="{{getLink(item.code)}}">
              {{item.name}}
            </a>
            <span class="kt-subheader__breadcrumbs-separator" *ngIf="!last"></span>
          </ng-container>

        </div>
      </div>

      <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
          <a *ngFor="let item of breadcrumb.link"
             [routerLink]="item.url"
             class="btn btn-light btn-elevate-hover">
            {{item.name}}
          </a>
          <a class="btn btn-light btn-elevate-hover" (click)="logout()">
            ออกจากระบบ
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <ng-content></ng-content>
  </div>
</div>
